[2016-05-21 18:24] #2636 closed

[2016-05-21 18:28] manishas commented on #2632
closing this issue since it is fixed.

[2016-05-21 18:28] #2632 closed

[2016-05-21 18:53] manishas commented on #2627
@tim0t we have been unable to detect why this might be happening. Please let us know if you could debug this further...

[2016-05-22 13:49] vikasr04 commented on #2639
@manishas
No I have not enabled any project on shippable. Not sure if by uploading my program files, by default the project gets created in Shippable.
Actually, I am new to Docker, and was trying to use certain features of it. In that one of it is container can communicated over a given user defined bridge network. So I wrote a Client server program (each program running as a container) using POSI

[2016-05-22 16:20] manishas commented on #2639
@vikasr04 looks like your question is solely docker related then. Support for docker is at https://github.com/docker/docker/issues so you should ask your docker questions there.

Shippable is a continuous integration and delivery platform that has excellent support for docker based workflows. If you want help setting up CI we're happy to help.
Thanks!

[2016-05-22 16:20] #2639 closed

[2016-05-23 05:55] gsvijayraajaa opened #2640 "Trigger builds - at a directory level commit / change"
Hi,

I am aware of the build trigger process in shippable, its one build for each commit/pull request to the git repository. My specific use case is that, we have the repository hosting the project, catering to multiple microservices. Each microservices is a separate build of its own. When we have individual repositories per microservices, the number of repo becomes huge, henceforth I would like t

[2016-05-23 08:03] avinci commented on #2640
@gsvijayraajaa you can do this, but not exactly the way you are expecting. There is no way to know what folder changed at a web hook level. We do this internally at Shippable by using a script that will allow us to do what you are trying to achieve. But a build will fire no matter what and its up to you do what you want with it.

to achieve this, first we create a script file called `builds.sh` wh

[2016-05-23 08:07] avinci commented on #2584
i am closing this. Please re-open if you need further info

[2016-05-23 08:07] #2584 closed

[2016-05-23 08:29] kanthchandra commented on #2640
Another thing to note before using the above script is our folder structure.

- At the root of the repository we have  node, python, go which are basically languages and each of the languages has different micro services associated with them and an _global folder.
- So in order to detect the micro services that changed we first figure out which languages changed (detect_changed_languages())
- then

[2016-05-23 09:45] BrilliantBasicsSync commented on #2626
Having this issue also, but it's on our project **and** account

https://app.shippable.com/runs/5742cfe5dd010b0c008f1964

[2016-05-23 11:23] robwilkerson opened #2641 "Builds often fail. Succeed on Rebuild. No other changes."
### Description of your issue:

I've been noticing that I get a lot of build failures recently. Certainly a few of those are legitimate, but often simply hitting the **Rebuild** button will result in the build succeeding. Sometimes I have to rebuild twice, but the point is that no changes have been made to the app, the build or the tests.

One example is https://app.shippable.com/runs/574254b3d388

[2016-05-23 12:11] vikasr04 commented on #2639
@manishas
Thanks for redirecting me to the correct forum.

[2016-05-23 13:21] bittner commented on #2464
@manishas Can you give a concrete example on how skipping deployments for PRs is configured?

I've seen how to [exclude branches for builds](http://docs.shippable.com/ci_configure/#includingexcluding-branches#using-environment-variables#includingexcluding-branches), but I want the builds to happen on PRs. Only deployment should not be triggered (unless the PR or branch is merged into `master`).

W

[2016-05-23 14:24] mbrodala opened #2642 "Long running build, error on log download"
Rarely we see builds running for a very long time and it's not apparent what could be the issue.

See for example [this build](https://app.shippable.com/runs/57430d31fbc6250c00b8fdb3). In this case we are additionally not able to download [the build log](https://app.shippable.com/download/jobConsoles?jobId=57430d311cc6c20c0014aa8f) due to the following error:

[code]

[2016-05-23 15:11] haf commented on #2584
Thank you for the well written replies.

[2016-05-23 15:33] a-murphy commented on #2626
Could you check that the Slack notification integration has type "slack" in your shippable.yml file?

[2016-05-23 17:09] a-murphy commented on #2641
Well, all of your recent failures were the first to run on a particular build node, but that is quite likely just a coincidence (and was not the case on Friday).  It does mean, however, that the failures have nothing to do with anything that might have been left running from a previous build.  And your shippable.yml doesn't show anything running outside the container that could carry over to the n

[2016-05-23 17:47] albertolacework commented on #2630
Yea this is a front end pull request. There are no file changes in our server directory where this is failing.

[2016-05-23 18:18] mattclay opened #2643 "PR build not using merged shippable.yml to generate matrix"
It appears PR builds use a build matrix without first merging with HEAD of the base branch.

For example: https://app.shippable.com/runs/5743411ba7f3850d00dfd5a7

This PR was created using a branch which doesn't have shippable.yml (only a .travis.yml). However, the branch the PR is to be merged with does have a shippable.yml. My expectation was that the PR branch would be merged with HEAD of the b

[2016-05-23 18:53] a-murphy commented on #2642
Most builds that run for a long time with logs exceeding what can be displayed are trapped in a loop somewhere.  And the error that you are seeing trying to download them is because there are too many to retrieve them all from the database.  In this case, there are two alternating error messages in your logs as it keeps trying to connect to something.

[code]
and
[code]

[2016-05-23 21:07] ralfschimmel commented on #2627
More debugging, exit moment of browser is random, seems like a true OOM case.
It is in the middle of a test, but within xfvb, thus the error thrown is xfvb running out of memory as it seems. Tabs randomly succeed and fail on rebuilds. Please investigate, this is not workable if we cannot run basic JS tests.

https://app.shippable.com/runs/57436a46a7f3850d00e8bd2c

# 1
 Testem Tests / Chrome 50.0 /

[2016-05-23 21:55] a-murphy commented on #2627
Out-of-memory errors are usually resolved by adding a node with more memory.  More information on adding your own node is available [here](http://docs.shippable.com/ci_byoh/).  Shippable nodes have 3.75GB of RAM, so you probably want to try more than that.

[2016-05-23 22:22] iamacup opened #2644 "Build Fail - shippable.yml & UI specified integration non functional"
Hi - I am really sorry if this is blindingly obvious but I have tried several different integrations, with different names, all fail the same way, and read all the documentation - i can't work out what i could be doing wrong so i am reporting it as an issue.

I have an integration specified in the shippable.yml
[shippable.yml.zip](https://github.com/Shippable/support/files/278378/shippable.yml.zip

[2016-05-23 22:44] a-murphy commented on #2644
It looks like it's just indentation.  There are some tabs in your shippable.yml, leading to it not being parsed as intended.  Try indenting it to look like this (with spaces):
[code]

And here is an online parser you can use to check it: http://yaml-online-parser.appspot.com/.  `integrationName`, `type`, and `region` should all be in one object in the the `hub` array.

[2016-05-24 07:10] iamacup commented on #2644
Thanks very much - i thought i had solved this - if you take a look here:

http://docs.shippable.com/ci_faq/#how-do-i-specify-a-region-while-setting-up-amazon-ec2-container-registry-ecr-integration

The YAML under **How do I specify a region while setting up Amazon EC2 Container Registry (ECR) Integration?** is not quite right.

Cheers

[2016-05-24 07:10] #2644 closed

[2016-05-24 07:30] mbrodala commented on #2642
@a-murphy Thanks a lot. That's indeed a known issue with one of our hosting providers and hits us from time to time.

Are there any options to actually see such errors on Shippable or in the logs for us? Always opening a ticket here cannot be the way to go. ;-)

[2016-05-24 11:00] robwilkerson commented on #2641
Would you mind taking a look at [a build that ran last night](https://app.shippable.com/runs/5743a83d96bad1110079892f)? This is one of those where I don't see any reason for the failure, but once I hit rebuild, everything was fine. When I look at the output of the failed build, I don't see anything that indicates a problem. Is it there and I'm not recognizing it for what it is?  It'd be great if I

[2016-05-24 15:48] mbrodala commented on #2642
@a-murphy Could you check [this build](https://app.shippable.com/runs/57447410a92d080c0063b046) too? It's already running for 15 minutes now and doesn't seem to stop anytime soon (already cancelled and rebuilt it a few times already.)

[2016-05-24 16:17] clounie opened #2645 "Can't build node_js"
### Description of your issue:
I copied a `shippable.yml` file that had been working in another repo before the weekend, and tried to re-use it, but it wouldn't work. I then commented out everything but a *very* simple snippet:
[code]
But keep on getting this error:
```common2|_cleanRunYml|callerId:5743f4e396bad111007dc251|projectId:5743f55d2a8192902e212954|_cleanLanguage Invalid RUN language: nod

[2016-05-24 16:27] trriplejay commented on #2645
It looks like your project is enabled as an 'infrastructure' type, but to run a traditional build, it needs to be enabled under the 'ci' tab from your subscription page.

'infra' builds are for running provisioning scripts like that of Terraform.  Those types of builds expect slightly different yml parameters.

To correct this, you should go to your project page, and click 'delete' under the setti

[2016-05-24 16:38] a-murphy commented on #2642
It looks like a more verbose version of your last error.  Here it is:
[code]

Since you're watching for these errors, increasing the interval between retries (if you can) may be enough to make the logs short enough for the download button to work.  Then you wouldn't have to wait for us to fetch partial logs.

[2016-05-24 17:00] a-murphy commented on #2641
The logs just show a test failure.  I couldn't find anything about why it failed in the logs.  It would probably be worth checking anything asynchronous in that test (or the set-up of the tests) to see if it could be two operations that ended in an unexpected order.

[2016-05-24 17:13] robwilkerson commented on #2641
Hmmm. Okay. Tests run fine locally and on my dev server so I guess I just can't figure out what it is about the CI environment that's so dramatically different. Thanks for having a look.

[2016-05-24 17:13] #2641 closed

[2016-05-24 17:19] abhijitkini commented on #2644
@iamacup Thanks for bringing this to our attention. The documentation has been updated.

[2016-05-24 17:44] clounie commented on #2645
That worked, thanks.

[2016-05-24 17:44] #2645 closed

[2016-05-24 19:42] twillms07 commented on #2634
Hi Mannish -

I¹m working with our team now to set up time would next Tuesday or Wednesday
around 9am work for you?

From:  Manisha <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c59bdf5df741fb16f9a03f76c61af2957bcdabd06292cf00000001135701749
2a169ce094a9cea@reply.github.com>
Date:  Friday, May 20, 2016 at 9:46 AM
To:  Shippable/support <support@noreply.github.com>
Cc:  Todd

[2016-05-24 21:15] manishas commented on #2634
@twillms07 Yes, we can meet next Tuesday 5/31/2016 at 9am PST. Please let me know what email I should send the meeting request to. Thanks!

[2016-05-24 22:47] prabhuinbarajan commented on #2264
sorry to chime in late on this thread. i have a similar problem like @npahucki . I am still unable to retrieve my images via pipelines from ECR.  CI seems to be setup correctly and pushing images to ECS through the same integration. But pipelines and lighthouse are not retrieving the images. I suspect it has to do something with the convention of the repo url. is AWS/ECS supported for pipelines?

[2016-05-24 22:59] clounie opened #2646 "Pulling from private git repo"
### Description of your issue:
I'm trying to pull a private Github repo as part of my build.

1. I created a Github deploy key, and tested it locally, with the exact command that the git_sync step uses (`ssh-agent bash -c 'ssh-add...`), so I know the key works.

Try 1: I first tried to use an encrypted environmental variable, encodingthe key into base64 before encryption and then decoding in the s

[2016-05-24 23:01] a-murphy commented on #2264
Did you create a user for the keys in the account integration?  It looks like it's missing permissions for `ecr:ListImages`.  Could you make sure that `ecr:ListImages` is in the policy for that user?

[2016-05-24 23:24] a-murphy commented on #2646
For the SSH integration, it doesn't look like you've added the key integration to the `integrations` section in your shippable.yml.  The SSH key integration should look like this in shippable.yml (as well as be added in the project settings):
[code]

For the encrypted environment variable, it doesn't appear to be in your shippable.yml either.  We don't store the encrypted environment variables, ju

[2016-05-24 23:59] clounie commented on #2646
Yep, I couldn't find anything in the [ssh integration docs](http://docs.shippable.com/int_keys/) or build docs telling me what the `type` or category of the integration was. Would be really helpful to have a central list of those somewhere.

Anyway, got that to work, thanks!

---

Still would like to know about encrypted vars since we'll almost certainly be using them in the future.

As far as the

[2016-05-25 00:41] a-murphy commented on #2646
The dash before "secure" is because it's part of ``env`` (and ``env`` is an array).  So keep the dash.  Then it should be available in the different build sections, including `pre_ci`.

Quotes don't matter in most cases.  If there are spaces in the value, then you should use quotes.  If it's just a string without any spaces, then you don't need to.  It's usually best to match what you would use in

[2016-05-25 01:31] clounie commented on #2646
Thanks! Both ways are working now.

I don't feel familiar enough with YAML to do a proper job on a PR for the docs here [environmental variables](http://docs.shippable.com/ci_configure/#secure-variables), but it looks like the example(s) could use an update.

[2016-05-25 02:02] abhijitkini commented on #2646
@clounie Thanks again for updating the documentation. Closing this issue as resolved.

[2016-05-25 02:02] #2646 closed

[2016-05-25 08:06] mbrodala commented on #2642
@a-murphy Thanks for the log output, this seems to be caused by a recent update of phpseclib. Unfortunately we cannot influence the SSH communication at this point.

[2016-05-25 09:09] mbrodala commented on #2642
We've reverted to an old phpseclib again (bad, I know) and [the build seems fine now](https://app.shippable.com/runs/57456a675575ee0d008d702f).

As for this issue in general: what options do we have to download such large build logs for review?

[2016-05-25 10:50] glongo88 opened #2647 "Failed to POST accountIntegration"
Hi,

similar to other issues, I'm not able to login with my bitbucket account (username glongo88).
It shows the 'Failed to POST accountIntegration' error.

Could you check my account?

Thank you

[2016-05-25 12:13] rageshkrishna commented on #2647
@glongo88 Sorry about that. Can you please try logging in now?

[2016-05-25 12:17] glongo88 commented on #2647
@rageshkrishna Now it works! Thank you for your quick reply

[2016-05-25 12:19] rageshkrishna commented on #2647
Happy to help! :)

[2016-05-25 12:19] #2647 closed

[2016-05-25 17:15] griffinkelly opened #2648 "Trying to pull in mysql, EnvironmentError: mysql_config not found"
### Description of your issue:
Build fails reading EnvironmentError: mysql_config not found
NOTE: If you are experiencing a build failure, please include:

https://app.shippable.com/runs/5745d93074e4d00d00ccc04a
in requirements/test.txt the following is run:
`coverage==4.0b2
django-nose==1.4.1
nose-exclude==0.4.1
funcsigs==0.4
mock==1.3.0
mock-django==0.6.9
nose==1.3.7
pbr==1.6.0
MySQL-python==1.2

[2016-05-25 17:32] westlakem commented on #1086
It's been over a year since the initial request that you were "working" on it.  Any updates?

[2016-05-25 17:35] prabhuinbarajan commented on #2264
@a-murphy  - Thanks for the quick response. it was missing ecr:ListImages.
After adding that I tried a quick experiment with light house , and tried adding an image.
https://app.shippable.com/lighthouse/5745e1ee6d44470b00ffd6b6

It still couldnt list all the tags for the above subscription - can you point out where the problem might be? is there a way to see debug messages behind these?

Thanks
pr

[2016-05-25 17:46] prabhuinbarajan commented on #2264
infact, the user has  "ecr:*" permissions now.

[2016-05-25 17:52] trriplejay commented on #2264
@prabhuinbarajan I'm seeing this error in the logs now:
[code]

Unfortunately we're not currently surfacing these debug logs to the users, but that's definitely a feature that we'll try to add soon.

possible problems: incorrect region? typo in repo name?

[2016-05-25 17:56] a-murphy commented on #2648
This looks related: http://stackoverflow.com/questions/5178292/pip-install-mysql-python-fails-with-environmenterror-mysql-config-not-found

Could you try installing the packages suggested there with `apt-get install` commands before your `pip install` command?

[2016-05-25 18:04] prabhuinbarajan commented on #2264
here is a screenshot from the ECS console.
![image](https://cloud.githubusercontent.com/assets/4031715/15550753/c19969e2-2267-11e6-8c20-9c0a9079f48a.png)

![image](https://cloud.githubusercontent.com/assets/4031715/15550852/2eea0a2e-2268-11e6-888a-3dbb5601033c.png)

and the corresponding lighthouse subscription:
![image](https://cloud.githubusercontent.com/assets/4031715/15550882/4b55d8e6-2268-11e

[2016-05-25 18:31] trriplejay commented on #2264
Ah, this looks like a bug on our end. I'll open up an internal issue and update this thread with status. Thanks for pointing this out!

[2016-05-25 18:33] prabhuinbarajan commented on #2264
sounds good. thanks

On Wed, May 25, 2016 at 11:33 AM, John Stockbauer <notifications@github.com>
wrote:

[2016-05-25 18:41] abhijitkini commented on #1086
@westlakem We're sorry that it has taken us so long. Since our newly released platform in March, we have been rapidly adding support from various providers. Azure/mesos support is coming up in the near future, so follow us on twitter ([@BeShippable](https://twitter.com/BeShippable)) or [subscribe to our blog updates](http://blog.shippable.com) so you don't miss the announcement.

Also, are you loo

[2016-05-25 19:45] griffinkelly commented on #2648
This leads to the following issue when actually trying to create the testdb. I run the following command:
`mysql -e 'create database testdb;'`

and am returned the following error:
/root/e473a680-21ff-4199-a9a4-0825c1327a10.sh: line 58: mysql: command not found

[2016-05-25 19:53] a-murphy commented on #2648
The default python image doesn't have `mysql` since most builds using MySQL will add "mysql" in the [`services` section of shippable.yml](http://docs.shippable.com/ci_configure/#services) to automatically start a database in the build container (and we use a different default image for those that has MySQL).  Since you appear to be starting your own database, you may want to just [specify `drydock

[2016-05-25 20:27] westlakem commented on #1086
How near future are we talking?  We're proofing solutions for our
enterprise applications in July, and it looks like you've got the closest
product to what we're looking at.

On Wed, May 25, 2016 at 2:42 PM, Abhijit Kini <notifications@github.com>
wrote:

[2016-05-25 20:28] trriplejay commented on #2264
@prabhuinbarajan hey there. The fix for this has been deployed. Let us know if you run into any other problems.

[2016-05-25 21:01] abhijitkini commented on #1086
@westlakem we can schedule a demo for you and talk about your requirements this Friday or next Tuesday PST. Send me an email with your available times and I'll set up the demo.

[2016-05-26 00:00] bittner commented on #2464
@manishas @rageshkrishna Any hint on how to configure this correctly?

[2016-05-26 00:51] westlakem commented on #1086
I don't have the time for a live demo any time in the foreseeable future.
We are a java shop with many applications. For the evaluation, we have to
use azure. The goal is to run unit tests (junit and Jasmine) and if those
pass, deploy to a test server where we can run selenium tests against the
site. When those pass, we want to be able to have a manual verification
step.  Finally,  when the approv

[2016-05-26 00:58] a-murphy commented on #2642
Sorry, the answer is to log less.  Logs can be downloaded with more lines than we can display, but at some point it becomes too many.  We have seen very few cases where the logs have gotten too big to download, and it's pretty much always because the build is retrying something repeatedly.

[2016-05-26 00:58] #2638 closed

[2016-05-26 03:29] rageshkrishna commented on #2464
@bittner I think what you need is the `IS_PULL_REQUEST` env var, which will contain `true` or `false` values all the time. `PULL_REQUEST` will contain the pull request number whenever `IS_PULL_REQUEST` is true.

[2016-05-26 05:11] mattclay opened #2649 "Feature Request: Allow display of CI runs as list instead of tabs"
Allow display of runs as a list instead of tabs. This would make it much easier to look at the big picture quickly. Columns displayed should include:

- Job Number
- Matrix Values
- Duration
- Success/Failure

An example of this kind of layout can be seen on Travis CI.

[2016-05-26 06:02] BrilliantBasicsSync commented on #2626
Indeed, that was the issue thanks a-murphy. Dare suppose you could provide a link to the docs where this is mentioned? Can't find it anywhere. The only docs I can find relate to the old-style before the revamp of Shippable.

Cheers

[2016-05-26 06:05] BrilliantBasicsSync commented on #2626
Also, it wasn't documented that 'recipients' was required, even though the channel is set in the integration configuration page?

For anyone else having this issue this is my config, that works, except the payload (raising new issue for that).

[code]

[2016-05-26 06:09] BrilliantBasicsSync opened #2650 "Slack improvements: payload support, desktop notifications"
### Slack Payload Parameter being ignored

Please forgive me if this is explained in some documentation that I cannot find, but the payload parameter of the slack integration is not working (i.e. it's as though I've not passed the payload at all).

[code]

The values being passed into Payload are actually values from another example that I came across, so was checking that it worked.

Do you have

[2016-05-26 06:13] deanmraz opened #2651 "Build Stuck in "Processing""
One of my repositories is stuck in "Processing". I've tried canceling and rebuilding, cleanup shippable script back to a successful state. Nothing seems to get it out of this "Processing" mode.

Too builds currently stuck:
https://app.shippable.com/runs/5746910977e6a50c0039777f
https://app.shippable.com/runs/574693667594ed0f0094e695

Not sure if this has to do with it, but I've enabled the subscri

[2016-05-26 06:18] deanmraz commented on #2651
Looks like it might be up and running now. We can close this ticket but just curious what caused the delay?

[2016-05-26 06:30] manishas commented on #2650
@BrilliantBasicsSync the payload section is only supported for event triggers and not for other types of notifications. It is certainly an interesting scenario and we'll look into how we can make notifications more custom.

What information are you trying to show in Slack that is not supported by the standard notification?

[2016-05-26 06:49] manishas commented on #2651
@deanmraz we had a brief interruption and your build was triggered during that time. Sorry about this and we've fixed the issue that caused the nodes to be temporarily stuck.

[2016-05-26 06:50] manishas commented on #2649
@mattclay thanks for the suggestion! We'll take a look at this experience and figure out how to make it easier to look at all jobs for a run.

[2016-05-26 06:51] deanmraz commented on #2651
@manishas thanks.

[2016-05-26 07:09] manishas commented on #2648
@griffinkelly you'll need to include the following in your yml:

[code]

[2016-05-26 07:09] manishas commented on #2643
@rageshkrishna can you look into this?

[2016-05-26 08:12] bittner commented on #2464
@rageshkrishna The problem lies somewhere else:

1. Shippable is running a build on _both_ the feature branch and the main branch, and in both cases `PULL_REQUEST` and - as you say - `IS_PULL_REQUEST` is set. -- *This is fine! A build on, say, `master` is run, but I can detect that the changes are not "really" there, this is  just a "test integration" run.*
2. However, when you **merge** a PR Ship

[2016-05-26 09:29] rageshkrishna commented on #2643
Hi @mattclay. It looks like you've run in to a scenario that our YML merge design doesn't accommodate. We currently assume that both branches will contain the same variant of the YML file (either travis.yml or shippable.yml).

We'll definitely look in to fixing this, but in the short term the only resolution is to have a shippable.yml file in the branch.

[2016-05-26 09:45] rageshkrishna commented on #2464
I see the confusion now... `PULL_REQUEST` and `IS_PULL_REQUEST` will actually have the value `false` when the merged build is run. The problem is in your bash condition. You need to explicitly check for `[ "$PULL_REQUEST" == false ]` instead of doing `[ ! "$PULL_REQUEST" ]`

[2016-05-26 14:08] mattclay opened #2652 "Feature Request: Add project setting to require shippable.yml"
It would be helpful to have a project setting in the UI which could be enabled to require a shippable.yml in a branch before triggering build jobs.

This would would be especially helpful as a short-term work-around for https://github.com/Shippable/support/issues/2643 to at least cut down on the noise and wasted build time for PRs with only a Travis configuration.

[2016-05-26 15:06] mattclay opened #2653 "Permissions required to manually trigger rebuild from Shippable UI"
What permissions are required in order for a user to trigger a rebuild from the Shippable UI?

[2016-05-26 15:21] a-murphy commented on #2626
For future reference, the documentation on adding Slack notifications to builds is here: http://docs.shippable.com/ci_configure/#slack-notifications

[2016-05-26 15:46] a-murphy commented on #2653
Both "collaborators" and "owners" can trigger builds.  On GitHub, this means that the user must have at least read access as part of a team in an organization or be added to the repository as a collaborator.

[2016-05-26 16:07] mattclay commented on #2653
For a public project, does that mean anyone can trigger a rebuild?

[2016-05-26 16:16] a-murphy commented on #2653
No.  Anyone can see the public project (with a link to it), but only users that have permissions through a GitHub organization team with access to the repository or have been added directly to the GitHub repository will be able to click "rebuild."

[2016-05-26 16:24] mattclay commented on #2653
We had a user with write access via a team which could not see the rebuild button. I ended up re-syncing our account with GH using the sync button and they refreshed their browser cache. This resolved the issue for them.

[2016-05-26 16:24] #2653 closed

[2016-05-26 17:36] RobertLippens opened #2654 "Slack Integration Filters"
This is a feature request - not an actual issue we are having with Shippable.
Yesterday I tried implementing Slack Integration for our Shippable builds and noticed that there were no options for selecting exactly what sends a notification.  It would be great to only send notifications on failed builds, for example (otherwise our Slack channels are going to get really spammy with build notification

[2016-05-26 17:41] a-murphy commented on #2654
Have you tried the `on_success` and `on_failure` settings for the Slack integration in your shippable.yml?  You should be able to set `on_success: never` to only get notifications for failures.  The documentation is available [here](http://docs.shippable.com/ci_configure/#slack-notifications).

[2016-05-26 17:43] manishas commented on #2654
@RobertLippens glad you're enjoying the fast build times :)

Regarding choosing what events send a notifications, we do have that configuration in place. Your yml section for slack notification looks like this:

[code]

In the above config, if you set `on_failure` to always and `on_success` to false, you'll only get notified on failures.

[2016-05-26 21:09] #2648 closed

[2016-05-26 21:48] abhijitkini commented on #2640
Closing issue as resolved. If you have additional questions on this issue, let us know.

[2016-05-26 21:48] #2640 closed

[2016-05-26 21:50] abhijitkini commented on #2642
Closing issue as resolved.

[2016-05-26 21:50] #2642 closed

[2016-05-27 00:12] RobertLippens commented on #2654
Awesome, I'll try this out - thanks!

[2016-05-27 00:29] deanmraz commented on #2651
@manishas looks like I keep running into issues with this. I think its due to the node shutting off or sleeping... Anyway to improve this experience? I would like the builds to happen in minutes.

[2016-05-27 02:48] mattclay commented on #2649
Other output that would be useful to include in a list of jobs:

- Test Results
- Code Coverage

[2016-05-27 04:27] manishas commented on #2651
@deanmraz we spin up machines on demand when a build is triggered for your projects. This can take up to 3 mins. After the build finishes, we keep the machine up for some time, so if a subsequent build comes in while the machine is still up, it runs very fast since a new machine doesn't have to be spun up.

There is one way to improve this - if you attach your own build nodes to your subscription.

[2016-05-27 04:55] manishas commented on #2630
@albertolacework thanks for the update! I am closing this issue but happy to take another look if you see the issue again.

[2016-05-27 04:55] #2630 closed

[2016-05-27 04:55] manishas commented on #2654
@RobertLippens I am closing this issue, but please let us know if it doesn't work for you and we'll be happy to take a look.

[2016-05-27 05:27] gsvijayraajaa commented on #2640
Thanks for the direction, I shall checkout the solution and get back. Thanks.

Cheers!!

[2016-05-27 07:32] mbrodala commented on #2642
@a-murphy Alright, we'll have an eye on that. ;-)

[2016-05-27 07:34] cabeB opened #2655 "Email integration to --lastcommitter is not working"
After I have added the integration with email I have stopped receiving build status mails.

This is my configuration:

[code]

[2016-05-27 15:45] deanmraz commented on #2651
@manishas got it makes sense. I'll definitely explore the byoh, Thanks!

[2016-05-27 15:45] #2651 closed

[2016-05-27 16:26] a-murphy commented on #2655
Sorry, we're looking for `--last_committer`, not `--lastcommitter`.  It looks like our documentation needs to be updated.

[2016-05-27 16:47] abhijitkini commented on #2654
@RobertLippens we just released a blog on this topic - http://blog.shippable.com/notifying-ci-failure/success-status-on-email-slack

Let us know if you need help.

[2016-05-27 16:47] #2654 closed

[2016-05-27 17:07] abhijitkini commented on #2655
The documentation has been updated. Let us know if you have further questions.

[2016-05-27 17:07] #2655 closed

[2016-05-27 17:31] deanmraz opened #2656 "Docker-Compose Project Volume Mounts"
I am having an issue with getting the project repos code mounted from the shippable host to my docker volume container. I am using docker-compose so here are some of the configuration and log files.

### docker-compose.yml
[code]

During the build I check to ensure the volume got mounted.
[code]

which returns an empty directory
[code]

Also, I've inspected the container and it looks identical to

[2016-05-27 17:49] bantonj opened #2657 "ECR Login"
### Description of your issue:
I'm trying to use AWS ECR to host a custom docker image for building with. I see this output
[code]
I have the ECR account integration and hub integration setup with AWS credentials that can call ecr:GetAuthorizationToken successfully.

- https://app.shippable.com/runs/5748848ea991900d00f77e13

#set your language below
language: php

#set language version. This is on

[2016-05-27 17:54] manishas commented on #2657
@bantonj you also need the integration in your yml. Replace the `integrationName` and `region` values below and add to the integrations section of your yml:

[code]

[2016-05-27 17:59] a-murphy commented on #2656
The `ci` step runs in a container with `docker.sock` mounted so that it can start containers on the host.  So, when you start a container with a mounted volume, it refers to the directory on the host, not in the container.  There is a `pre_ci` step that will run on the host (and will clone the repository to the host), which should help with your mounted volumes.  The `pre_ci` step is documented [h

[2016-05-27 18:05] manishas commented on #2657
some more things to keep in mind:  In the  `pre_ci_boot` section, you need to specify the `tag` of the image you want to pull. `pull` should be set to 'true'. In `options`, you should specify a path for the HOME environment variable. For example:

[code]

[2016-05-27 18:08] manishas commented on #2634
@twillms07 can you let me know what email address i should send the meeting invite to? Thanks!

[2016-05-27 18:37] bantonj commented on #2657
Getting closer I think. Now I get the below. If I run that command locally it works fine.

`sudo docker pull 116065022286.dkr.ecr.us-east-1.amazonaws.com/krossover-devops:latest
latest: Pulling from krossover-devops
23286f48d129: Pulling fs layer
cbee5247e891: Pulling fs layer
c00e76f9999f: Pulling fs layer
037a89f5cdfa: Pulling fs layer
c30417c333a9: Pulling fs layer
40efcfcc9e15: Pulling fs laye

[2016-05-27 18:42] manishas commented on #2657
@a-murphy can you take a look?

[2016-05-27 18:58] a-murphy commented on #2657
It's probably something about one of the layers in that image (it knows what they are, but isn't pulling them).  Is it possible that the credentials being used don't have permission to pull one of the layers?  Perhaps trying to pull the base image in the `pre_ci` step in shippable.yml might help.

The error looks like this one: https://forums.aws.amazon.com/thread.jspa?threadID=227929 and pulling

[2016-05-27 19:10] bantonj commented on #2657
That's interesting. This image is based on php:5.5. I added the below, but it's not helping, does that look like an appropriate work around?

pre_ci:
        - docker pull php:5.5

[2016-05-27 19:38] deanmraz commented on #2656
Thanks for the support! I have attempted both pre_ci and
post_ci unsuccessfully with the same failed results. Does my path look
right?

On Friday, May 27, 2016, a-murphy <notifications@github.com> wrote:

--
Dean Mraz

[2016-05-27 20:21] a-murphy commented on #2657
So I guess that's not it.  This isn't exactly a common problem, so we're still looking for other possible causes.

[2016-05-27 20:55] deanmraz commented on #2656
@a-murphy to followup on my email, I originally implemented `post_ci` [here](https://app.shippable.com/runs/574872e6ceeddf0d0006e4ac) described in this shippable doc: http://docs.shippable.com/ci_docker/#docker-compose. However, that looks incorrect since ci runs before post_ci, so switched to `pre_ci` [here](https://app.shippable.com/runs/57486e114221480d00cf24fc) and `ci` [here](https://app.ship

[2016-05-27 21:25] a-murphy commented on #2656
The file paths in build 38 look right to me, assuming that the repository was cloned to the host.  We clone the repository to $SHIPPABLE_BUILD_DIR in both the container and the host (when we clone to the host).

[2016-05-27 21:30] deanmraz commented on #2656
@a-murphy ya agreed, however I've attempted slowly adding the routes starting from /root, /root/src, all the way to /root/src/..path..to.../hotel-platform. Looks like there's no content there. Isn't that weird?

[2016-05-27 21:42] deanmraz commented on #2656
@a-murphy okay, I think I understand the issue now.. looks the git repo gets mounted to container `c.exec.hotel-platform.53.1 with image drydock/u14pyt:prod` and not the host machine. Is there an easy way to share the data from that container, since the name is dynamic to the build?

[2016-05-27 22:06] a-murphy commented on #2656
We actually clone the repository twice if there is a `pre_ci` section.  The copy in the build container isn't mounted.  If you want it to be mounted, adding `options: "-v $SHIPPABLE_BUILD_DIR:$SHIPPABLE_BUILD_DIR"` to the `pre_ci_boot` section will do that.  However, adding a `pre_ci` section (with any command in it) should clone your repository to the host machine as well.

I don't know of any go

[2016-05-27 22:23] abhijitkini commented on #2643
@mattclay closing this issue as resolved, since there is a short term resolution of having the shippable.yml file in the branch. We are looking into the feature request of adding it as a project setting in the UI.

[2016-05-27 22:23] #2643 closed

[2016-05-27 22:28] abhijitkini commented on #2627
Closing the issue as resolved as OOM issues are fixed by [bringing your own dedicated hosts](http://docs.shippable.com/ci_byoh/). Let us know, if you have further questions on this topic.

[2016-05-27 22:28] #2627 closed

[2016-05-27 22:32] abhijitkini commented on #2629
@oppianmatt following up to see if would like a live debug session to troubleshoot your issue.

[2016-05-28 02:49] deanmraz commented on #2656
@a-murphy that did it, `options: "-v $SHIPPABLE_BUILD_DIR:$SHIPPABLE_BUILD_DIR"` Thanks for the help!

![](http://i.imgur.com/dhMeAzK.gif)

[2016-05-28 02:49] #2656 closed

[2016-05-28 08:56] chrisandchris opened #2658 "Missing pdo_pgsql"
### What it is about
Question/Support

### Description
I'm trying to build a repository using php and postgres. But it appears that there's no pdo_pgsql driver installed by default in the docker image.

I tried installing the driver using `apt-get install php5-pgsql`, but it appears not to solve my problem.

[2016-05-28 11:08] chrisandchris commented on #2589
+1 for this

[2016-05-28 13:50] twillms07 commented on #2634
Hi Manisha -

Here are the emails ­ I look forward to speaking with you and team.

- twillms@piiq.co
- ceecer.lamichhane@gmail.com
- borut.dagarin@gmail.com

From:  Manisha <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c58ccb1468f9777d9f76468262920d97ab5c74475292cf0000000113604f089
2a169ce094a9cea@reply.github.com>
Date:  Friday, May 27, 2016 at 11:08 AM
To:  Shippable/suppo

[2016-05-29 22:10] bittner commented on #2464
@rageshkrishna I can confirm that this works. Thank you!

[2016-05-30 13:18] Vilsepi opened #2659 "Beginning part of BUILD_URL is undefined"
Today between 09-10AM UTC, the BUILD_URL environment variable broke. Its beginning part (protocol and hostname) is now "undefined":

    echo $BUILD_URL
    undefined/runs/574c3aa5e77e550d00fb7ec8

It should be:

    https://app.shippable.com/runs/574c3aa5e77e550d00fb7ec8

[2016-05-30 13:59] luckyraul opened #2660 "shippable can't access to repository bitbucket"
even if key is allowed
this project
https://app.shippable.com/projects/5559ac67edd7f2c052f1d952

[2016-05-30 15:26] seanxe opened #2661 "build hangs on "provisioning job node""
Can't seem to spin up any job nodes:

https://app.shippable.com/runs/574c532e2fa69b1200c562d8

I cancelled it after 31 minutes.

Tried to "rebuild" and i'm already up to 5 minutes which is the longest I've ever hard to wait?

https://app.shippable.com/runs/574c5a62f719490f005f9b18

[2016-05-30 15:39] manishas commented on #2661
looking into this...

[2016-05-30 16:19] pranaypareek commented on #2659
@Vilsepi thanks for bringing this to our notice. We have identified the problem and are fixing the issue.

[2016-05-30 16:27] phagunbaya commented on #2661
Same with us.

[2016-05-30 16:30] manishas commented on #2661
we're working on this. update in a few mins.

[2016-05-30 17:04] rocknruby commented on #2661
same same

[2016-05-30 17:35] manishas commented on #2661
we've identified the issue but the fix is taking some time..... i will keep this thread updated.

[2016-05-30 18:19] manishas commented on #2661
we're almost there.... just a few more mins and everything will be back up. Thanks for your patience!

[2016-05-30 18:35] manishas commented on #2661
This should be resolved now. Please let us know if you're still running into this.

[2016-05-30 18:37] phagunbaya commented on #2661
Works for us !

[2016-05-30 19:09] manishas commented on #2661
Thanks for confirming! We are monitoring everything closely to make sure everything stays up.

Thanks for your patience!

[2016-05-30 19:10] pranaypareek commented on #2659
We have pushed the fix and it's back to normal.

Please let us know if things are okay on your end!

[2016-05-30 19:11] rocknruby commented on #2661
Hi, it seems to work now as expected. Thanks.

[2016-05-30 19:35] seanxe commented on #2661
yup, all good for me here as well. closing the issue as the original problem is resolved.

thanks for the quick turn around @manishas !

[2016-05-30 19:35] #2661 closed

[2016-05-30 23:06] manishas commented on #2660
@luckyraul can you reset your project by going to Settings and clicking on the `Reset` button? You will need to scroll down all the way since the Reset action is just above the delete project action. Also, if you're using any encrypted variables for this project, you'll need to reencrypt since this recreates the webhook and keys.

Let me know if this doesn't work.

[2016-05-30 23:10] manishas commented on #2658
@chrisandchris can you point us to your build link?

[2016-05-30 23:14] manishas commented on #2634
I am closing this issue since a meeting request for the demo was sent out.

[2016-05-30 23:14] #2634 closed

[2016-05-30 23:32] manishas opened #2662 "build chain in the cloud"
from stack overflow (http://stackoverflow.com/questions/37521272/build-chain-in-the-cloud) asked by @magwas :

I have some open source projects depending in each other. The code resides in github, the builds happen in shippable, using docker images which in turn are built on docker hub. I have set up an artifact repo and a debian repository where shippable builds put the packages, and docker build

[2016-05-31 05:20] osumampouw opened #2663 "shippable suddenly fail to build (gulp related)"
### Description of your issue:
Here's my project:
https://app.shippable.com/projects/552c7ec75ab6cc1352c300d8

Starting from this build
https://app.shippable.com/runs/574c3733e77e550d00fadf81
Our build script always failed to build.

This is the last healthy build
https://app.shippable.com/runs/574be82c8d819e0d00ab8d97

When we revert the failing build, shippable is still failing to build the reve

[2016-05-31 05:24] chrisandchris commented on #2658
@manishas Yes, the project overview is here: https://app.shippable.com/projects/574752252a8192902e218835

Try to build the target/v1.0.0 branch, it contains a shippable.yml as the only branch.

Isn't there a way to provide a override shippable.yml for testing purposes? I now have around 20 commits in my repo just for trying out shippable...

[2016-05-31 07:13] #2660 closed

[2016-05-31 07:21] Vilsepi commented on #2659
Seems fixed now, thanks!

[2016-05-31 07:21] #2659 closed

[2016-05-31 08:28] mbrodala opened #2664 "Container cache disabled due to AWS credentials misssing [sic]"
I just noticed the following output in the `boot_container` step in [my builds](https://app.shippable.com/runs/574d4a360800fa0f00b84bf6):

Is there some issue with the container caching ATM?

[2016-05-31 08:41] avinci commented on #2664
this is a bug on our side. We are going to fix it ASAP.

[2016-05-31 08:42] avinci commented on #2664
@ric03uec your team is picking this up as CQD

[2016-05-31 08:43] rocknruby commented on #2661
Hi @manishas the problem occurs again. My build is waiting 15min from now and not starting.

[2016-05-31 08:48] mbrodala commented on #2664
@avinci Random fact: I just learned what CQD means and that Germany invented the SOS signal. ;-)

[2016-05-31 08:50] avinci commented on #2664
:-)  we use CQ, CQD and SOS

CQ (seek you) is someone picks this up the moment they finish what they are doing
CQD (seek you in distress) someone stops what they are doing and picks this up
SOS (save our souls) the entire company stops doing what they are doing until this is fixed :-)

[2016-05-31 08:53] kanthchandra commented on #2661
Hi @rocknruby, it looks like you have changed to the unstable version of the image. So your existing node died without processing the job request. Can you trigger another build and a new node with the unstable image should come up?

[2016-05-31 09:06] rocknruby commented on #2661
Hi @kanthchandra, I changed the setting back to the stable version of the image. Canceled the build and started the build process again. Cleared the cache, but the build is not starting.

[2016-05-31 09:12] kanthchandra commented on #2661
Hi @rocknruby, I see that your build is running now :)

[2016-05-31 09:18] rocknruby commented on #2661
Thanks. Any suggestions to keep the builds running?

[2016-05-31 10:52] magwas commented on #2662
This will be long, and contains numerous shippable related feature requests and questions. I mark them with numbers in parentheses
This is what I am trying now:
- build docker images both from develop and master branches, using the software from the respective branch
- in the CI run the build and tests on both images. Is there a syntax supporting it in shippable.yml? I know that with drone.io you

[2016-05-31 11:15] kanthchandra commented on #2664
Hi @mbrodala, This is fixed and deployed. Can you please see if it works for you now?

[2016-05-31 11:19] mbrodala commented on #2664
@kanthchandra [Looks good](https://app.shippable.com/runs/574d72381e6d8e0c00441546):

Thanks for the fix. :-)

[2016-05-31 11:19] #2664 closed

[2016-05-31 11:29] BrilliantBasicsSync opened #2665 "eb deploy nohang parameter"
### Support nohang parameter in eb deploy

the aws_eb_deploy task takes a while sometimes, and it's often because it's waiting for the "eb deploy" command to finish. Even if this fails, Shippable marks the build as success anyway.

Given the above fact, it makes sense to support the "nohang" parameter:

[code]

e.g.

[code]

[2016-05-31 12:40] oppianmatt commented on #2629
of course once I started putting in some some debugging lines to output the files, it has gone away (which is why I think it's a caching issue). Don't think debugging now is going to give any results.

Have now have migrated the docker building part to our own local jenkins where we know what's going and the cache is right each time. shippable just runs ci tests now.

[2016-05-31 16:14] manishas commented on #2663
@a-murphy can you take a look?

[2016-05-31 16:18] manishas commented on #983
@phagunbaya this is now available as a project setting. If you go to the Settings tab for your project and scroll to the 'Run parallel jobs' section, you'll see a button to `Disable` parallel builds. You can even set it at a branch level in cases where you only want builds from specific branches to run in sequence.

Docs are updated here - http://docs.shippable.com/ci_projects/#run-parallel-jobs

[2016-05-31 16:19] phagunbaya commented on #983
Thanks for the update.

[2016-05-31 16:19] manishas commented on #2071
@rogierslag this is now available as a project setting. If you go to the Settings tab for your project and scroll to the 'Run parallel jobs' section, you'll see a button to Disable parallel builds. Once you disable parallel builds, you'll see a dropdown that lets you select specific branch(es) for which to limit cocurrency.

Docs are updated here - http://docs.shippable.com/ci_projects/#run-parall

[2016-05-31 16:21] manishas commented on #983
👍

[2016-05-31 16:21] #983 closed

[2016-05-31 16:28] manishas commented on #2532
This is now available and here is how it works:

- Our default AMI is unchanged since it has undergone very rigorous testing. This will be updated according to our schedule.
- We have added an AMI with docker version 1.11.1. It has been tested for standard scenarios but not as rigorously as the default stable AMI. You can configure your subscription to use the new AMI by going to your subscription

[2016-05-31 16:38] manishas commented on #2657
@bantonj are you still running into issues? We haven't been able to find a root cause for the error you were seeing, but wanted to check in with you to see if you made any progress.

[2016-05-31 17:02] manishas commented on #2631
@mbrodala at this time, our plan allows us to only surface one response rate :)

If multiple folks feel strongly about this, we'll either switch from api to ui or upgrade our plan. Closing this as deferred, but will definitely reconsider if there is a lot of interest around this.

[2016-05-31 17:02] #2631 closed

[2016-05-31 17:40] bantonj commented on #2657
In order to continue testing out Shippable I switched to Docker Hub, which works fine. I would prefer to use ECR though, and don't know what else to try.

[2016-05-31 18:39] abhijitkini opened #2666 "Unable to view files within a mounted volume"
While building a Docker container, trying to mount a volume inside the Docker container. Have a folder called 'test' within the SHIPPABLE_BUILD_DIR, as part of the pre-ci stage.

Unable to view files/directories within this test folder using the command `ls -lart`.

[2016-05-31 20:51] abhijitkini commented on #2590
We have added Docker 1.11 and can be used by changing the AMI in your subscription settings. Here is how it works:

- Our default AMI is unchanged since it has undergone very rigorous testing. This will be updated according to our schedule.
- We have added an AMI with docker version 1.11.1. It has been tested for standard scenarios but not as rigorously as the default stable AMI. You can configure

[2016-06-01 00:23] a-murphy commented on #2663
It looks like this was occurring at the same time that we were having a problem caching (https://github.com/Shippable/support/issues/2664), and your builds started failing when the cache wasn't available.  The last successful build was the last one to use the cache.   It's quite likely that `npm install` installed a different version of something without the cache.

[2016-06-01 00:40] stephanielingwood commented on #2657
@bantonj We looked into this some more today, and have two more potential culprits.

The first could be that one (or more) of your layers on ECR is bad - or that ECR thinks it is. We've noticed that, very occasionally, images on one registry have problems with layers that came from another registry. This seems to happen more when going from Docker Hub to EC

[2016-06-01 04:17] deanmraz commented on #2666
@abhijitkini not sure this helps but I had to mount $SHIPPABLE_BUILD_DIR to the host and boot container so docker-compose containers could have access.

shippable.yml
[code]

docker-compose.yml
[code]

See here: https://github.com/Shippable/support/issues/2656

[2016-06-01 04:39] deanmraz opened #2667 "Pipeline ECS Container Links"
Currently, I rely on container links to connect my nginx and phpfpm container via hostname. Docker configures the ip routing in the /etc/hosts file automatically and I can use the hostname in the nginx conf to forward php requests to the phpfpm container.

https://app.shippable.com/pipelines/574e5e871e6d8e0c006ef4e8

This is configurable in AWS ECS Task Definition, but how do I apply that configur

[2016-06-01 08:15] mvmaasakkers opened #2668 "Behat testing on a GO project"
I am wondering if it is possible to do PHP based behat testing in a project build. We have an extensive behat testing environment written for our projects but done in PHP and we also use this for our GO projects so we can maintain one codebase for the tests.

I couldn't find if I can use PHP in the build process if my selected language is go but I'm hoping you could point me in the right direction

[2016-06-01 09:47] oppianmatt commented on #2513
Reopening this as it's started to happen again. All builds since last Friday at 1:19 PM have started failing due to getting killed.

Last time the builds were getting killed was due to the OOM killer being invoked due to much memory usage by the tests. I could reproduce that on my VM that had the same hard memory limits.

This time the tests run successfully on that VM.

[2016-06-01 16:29] a-murphy commented on #2668
Using multiple languages in a build is definitely possible, but you can only specify one in your shippable.yml file.  There are basically two choices: use the default image for the language you specify and install your dependencies for the other language in the build, or build your own Docker image with all the dependencies you need for both.

So, if you choose to use a Go image, you'll need to in

[2016-06-01 17:13] a-murphy commented on #2513
It's interesting that you couldn't reproduce the error, but your logs are consistent with running out memory.  Looking at a few of them, it is either killed or times out around the same test, which looks like a likely out-of-memory error to me.  Could it be that you aren't allowing for the memory used by Shippable in your tests?  It shouldn't be much, but it's impossible to run tests with absolute

[2016-06-01 18:11] manishas commented on #2658
@chrisandchris we're looking into this now and can't find the specific build where you were seeing this issue. Can you post a link to the specific build or paste the error you're seeing in the console?

[2016-06-01 18:11] manishas commented on #2667
@trriplejay can you take a look at this?

[2016-06-01 18:13] manishas commented on #2657
Closing this issue since there is no further action item for us.

@bantonj please let us know if either of the 2 suggestions above work for you.

[2016-06-01 18:56] trriplejay commented on #2667
Unfortunately we do not currently support container links. This is something we're planning to support in the near future, though.

If both of your containers are in the same manifest, then you can communicate between them via localhost if your host/container ports are defined.

[2016-06-01 23:03] abhijitkini commented on #2668
Closing the issue as resolved. Please let us know if you need further help on this topic.

[2016-06-01 23:03] #2668 closed

[2016-06-02 07:23] mbrodala commented on #2631
Alright, thanks for considering.

[2016-06-02 07:53] magwas opened #2669 "status for project is outdated"
The status overview of my project show only an old failed build of master, while the history clearly shows that the latest build is green on both master and develop branches.

the page
https://app.shippable.com/projects/5721d9eb2a8192902e1e3ae0
shows build 34 only. Clicking on history show builds up to build 37,
where 37 is green on master and 36 is green on develop.

[2016-06-02 08:01] bobbydeveaux opened #2670 "Private Git Repo - Git Sync Failing"
### Private Git Repo - Git Sync Failing

Having an issue with Git Sync failing, despite integrating and checking all these issues:
https://github.com/Shippable/support/search?q=git+sync&type=Issues

I've added SSH Key Integration in account settings, used 'Generated Keys'. I've taken the public key, and added it as the deploy key in GitHub for the repo. That didn't work, I've also generated my own

[2016-06-02 09:16] Headd2k opened #2671 "Documentation request: How to use private BitBucket repositories as dependency in ci builds"
Hi!

I'm quite confused what has to be done to to give Shippable access to private BitBucket repositories when requesting access during composer install.

Scenario: Repository A is a private BitBucket repository. Repository B uses respository A as dependency defined via composer.yml. When executing "composer install" during a ci build of repository B , Shippable can't clone repository A because of

[2016-06-02 11:39] pmezard opened #2672 ""Get latest run for a branch" API call returns more than one run per branch"
Hello,

calling "/projects/559e7fddedd7f2c05264626c/branchRunStatus" for subscription 547c792bd46935d5fbbf0b11 returns 2 runs for the project for "develop" branch:

- One successful build : 408
- One failed build : 331

Is it expected? In the absence of documentation it is hard to tell, but from "Get latest run for a branch" I would expect to get the latest run for each project branch.

[2016-06-02 11:42] mapio opened #2673 "Ability to Show and Hide projects from Dashboard"
I am trying to delete https://app.shippable.com/projects/552845f55ab6cc1352bfedc1 but when I go to the config page and hit the "Confirm" button after hitting "Delete" one, I get

[code]

I have not added such project, It appeared in my dashboard as soon as I connected with BitBucket.

[2016-06-02 11:53] rageshkrishna commented on #2670
@bobbydeveaux You shouldn't have to set up keys manually for this. Can you please head over to your project settings tab and hit the "Reset" button? This will generate a new key pair for you and update the deploy key on BitBucket.

[2016-06-02 11:59] shrivara commented on #2673
You appear to have collaborator access to the project, which gives you access to the project's builds. You need to be an owner of the project to delete it.

[2016-06-02 12:10] mapio commented on #2673
Oh I see.

This means that anyone can pollute my dashboard with projects I can't delete just by adding me as a collaborator.

Of course is reasonable that I can't delete the original project (on BitBucket, or Shippable), but I would like to be able to delete (or just hide) from my dashboard projects I'm collaborating with. Especially since being added as a collaborator is something you can't preve

[2016-06-02 12:48] bobbydeveaux commented on #2670
We're using GitHub, not BitBucket. This was all working fine when it was a Public Repo. Are you sure pressing the reset button won't affect any of my existing integrations? i.e. Slack, AWS & Docker

[2016-06-02 13:09] rageshkrishna commented on #2670
Ahh, that explains it. For public repos we do not push deploy keys at all because we don't need them to access the repo. After you convert a repository from public to private you have to reset it on Shippable to set the keys.

The reset action will do the following things:

1. Reset the webhook for Shippable
1. Generate a new deploy key and update the repository

Integrations and other settings wi

[2016-06-02 13:57] bobbydeveaux commented on #2670
OK. That didn't work - I ended up deleting the project, removing all webhooks, removing all access and logging in to Shippable from scratch. I was asked to authorise the application, it set up webhooks etc, I enabled private repos, added the project, and everything *looks* okay.

**HOWEVER** the builds are not showing in the dashboard. The webook is being delivered by GitHub, and the repsonse is '

[2016-06-02 14:01] BrilliantBasicsSync commented on #2670
Can't keep switching GitHub Accounts.. :-)

webhook url: https://api.shippable.com/projects/573b2b572a8192902e205f06/newBuild

Request Headers:

[code]

Response:

[code]

However, nothing showing in the recent builds:
https://app.shippable.com/projects/573b2b572a8192902e205f06

Any clues?

[2016-06-02 14:08] BrilliantBasicsSync commented on #2670
Shippable basically just isn't working for me at all now..

[2016-06-02 14:13] avinci commented on #2670
@ric03uec can we look into this......

[2016-06-02 14:14] #2532 closed

[2016-06-02 16:00] a-murphy commented on #2672
331 failed in such a way that it doesn't actually know which branch it should have built.  So, as far as `/projects/:id/branchRunStatus` is concerned, it's not the same branch.  The error that caused this was not expected, but it's an older build and I believe we have addressed that error since then.

[2016-06-02 16:05] chrisandchris commented on #2658
So like here: https://app.shippable.com/runs/57495dcaceeddf0d00198bd3

When it runs `composer install`, it fails due to a missing driver. But I actually have seen, that builds using PHP 7 and PHP 5.6 are right now not possible, and due to missing Bitbucket Server integration, I anyway might not be able to use shippable as supposed to.

[2016-06-02 16:11] a-murphy commented on #2670
Something happened when you deleted the project that caused some builds to not be deleted, but the build number to start counting from got reset properly.  So, the builds you triggered after re-enabling the project were trying to use build numbers that were already in use.  Since you weren't planning to delete your project when you opened this issue, I just left the remaining builds and told the p

[2016-06-02 16:15] pmezard commented on #2672
Oh right, I missed that because my client falls back to parsing the commit id when the branch is not defined, which sometimes default to the remote name. I will handle that too, thanks.

[2016-06-02 16:15] #2672 closed

[2016-06-02 16:25] bobbydeveaux commented on #2670
Thanks @a-murphy...

Build numbers are now randomly in the middle of sequence. Before I deleted and re-created, our build number was 343

Current build is ~147 (https://app.shippable.com/runs/57505d371ee1510c009a4115)

Would you be able to manually rejig it, so we're back at 344? That would help a lot.. :)

Appreciate the help folks.

[2016-06-02 16:35] a-murphy commented on #2669
By default, the project status summary will show the latest commit builds.  37 is a pull request build, so that's why it wasn't shown.  If you would like it to display pull request builds, you can set this on the project settings tab in the "Dashboard Settings" panel.

The missing develop branch is most likely because your project hasn't been synchronized since the branch was created.  This can al

[2016-06-02 16:36] a-murphy commented on #2670
Sorry about that.  The next build should be 344.

[2016-06-02 19:15] KirbyFox opened #2674 "pipeline deployment issue [LighthouseImageTags failed]"
Hello,

I am having an issue deploying a pipeline that i have deployed successfully before.

when i click the "deploy" button in the "configuration" I get this popup error "Deployment Failed: async Series check for LighthouseImageTags failed".

I tried to search online to see if anyone had this issue but i could not find any resources to resolve this issue.

Any help would be great. This is a time

[2016-06-02 19:25] a-murphy commented on #2674
The image tag that you are trying to deploy doesn't appear to exist.  Has it been deleted on Docker Hub?

To deploy, first go to the pipeline settings, click "New Version," select a new tag for your image, and click "create" to save it.  Then go to the pipeline in that environment and deploy the new manifest version.

[2016-06-02 19:40] KirbyFox commented on #2674
Hi a-murphy,

Thanks for the quick reply.

I just checked the tags following your instructions. I don't see the tag that was linked to this pipeline configuration anymore in the dropdown, it was before there before. I see another tag I have used in the past in the dropdown but that tag is pointing to our production system and we are currently working from our development branch. I then checked Doc

[2016-06-02 19:42] abhijitkini commented on #2629
@oppianmatt Do let us know if you would like to revisit or need further help on this issue. We are happy to jump in and troubleshoot.

Closing the issue.

[2016-06-02 19:42] #2629 closed

[2016-06-02 19:42] bobbydeveaux commented on #2670
Perfect. Working. Thank you :)

[2016-06-02 19:42] #2670 closed

[2016-06-02 19:49] abhijitkini commented on #2663
@osumampouw With the "problem caching" issue resolved, you should have healthy builds now. Do let us know if it is otherwise.

[2016-06-02 19:49] #2663 closed

[2016-06-02 20:14] KirbyFox commented on #2674
Hi a-murphy,

It appear after clicking the "Sync" button a few more times (~15) it pulled the tags correctly from Docker Hub. Thanks for the help :+1:

[2016-06-02 20:14] #2674 closed

[2016-06-02 22:16] mattclay commented on #2649
@manishas Do you have any idea of whether or not this feature will be implemented, and if so, on what kind of timeframe that might be?

Not having this really discourages the use of more than 11 concurrent containers since anything beyond that appears in the drop down menu on the right, and there's no way to know which tab is associated with which test matrix parameters without clicking on each on

[2016-06-03 06:43] gappleto97 opened #2675 "Repeated "Permission denied (publickey)" error"
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure

https://codeship.com/projects/121065/builds/10491710

This is a public repo, and is not the first time I've encountered this problem. The last time I hit some sort of reset setting, but I can't seem to locate it again. I would appreciate help with resolution.

[2016-06-03 06:53] manishas commented on #2649
@mattclay we are already working on improving the user experience for matrix builds and addressing your scenario. Current ETA is 6/13. I will keep you updated as we get closer to launching this.

[2016-06-03 07:00] manishas commented on #2675
@gappleto97 the link you've posted appears to be a link to a codeship project.

This is the support repo for Shippable. Are you having problems with your builds on Shippable? The Reset button for Shippable projects is in the Settings tab and you'll need to scroll all the way down to find the Reset action. Let me know if it works for you.

[2016-06-03 07:06] gappleto97 commented on #2675
I'm sorry. This just goes to show I shouldn't be filing issues at midnight.

[2016-06-03 07:06] #2675 closed

[2016-06-03 07:20] manishas commented on #2675
No worries :)

[2016-06-03 08:03] deanmraz commented on #2667
@trriplejay got it thanks!

I'm trying to remove the pipeline but looks like I'm getting an error.  Any thoughts?
https://app.shippable.com/pipelines/574e5e871e6d8e0c006ef4e8

ping @manishas

[2016-06-03 15:02] rachellawson opened #2676 "Looking to change the memory allocated in php"
### Description of your issue:
My build is failing as it runs out of memory during the install phase of the Drupal 8 website. It’s not entirely surprising as I’m firing up the php webserver thing, Drupal itself and behat.
Ideally, I’d like to be able to set the php memory allocation to 256MB or thereabouts and I did find a mention to another issue where the outcome was to blog about how to do this

[2016-06-03 15:43] a-murphy commented on #2676
Combining [this issue](https://github.com/Shippable/support/issues/543) with [this one](http://stackoverflow.com/questions/561066/fatal-error-allowed-memory-size-of-134217728-bytes-exhausted-codeigniter-xml), it looks like adding the following to the `ci` section of your `shippable.yml` should work.
[code]

[2016-06-03 16:20] a-murphy commented on #2667
For the deletion error, your deployment has a "success" status.  This prevents deletion of the pipeline because something may be running.  To change the status to "stopped," scale the pipeline to zero replicas from the status tab for the pipeline in that environment.  (Deploying zero from the configuration tab is something that we've intended to change.)

[2016-06-03 17:19] abhijitkini commented on #2669
Closing the issue. Let us know if you need further help.

[2016-06-03 17:19] #2669 closed

[2016-06-04 00:36] abhijitkini commented on #2666
@deanmraz thanks for the suggestion. It works in the pre_ci_boot stage. The scenario I was looking at is the pre_ci stage.

Mounting a volume inside the Docker container in the pre-ci stage is unsupported. Closing the issue.

[2016-06-04 00:36] #2666 closed

[2016-06-04 23:14] mattclay opened #2677 "Cancelling a build does not kill all containers"
### Description of your issue:

When using the cancel button in the UI to cancel a build, running containers can be left behind on the host. These containers may then be present for a run of another job shortly afterwards.

For example, the following build: https://app.shippable.com/runs/57535ba21e38d20c006f6f70

Job ```#340.14``` executes ```docker ps``` shortly after starting the build, which sh

[2016-06-04 23:18] mattclay commented on #2677
It seems like a simple fix for this would be to kill all running docker containers (other than those from Shippable) after each job ends (regardless of reason).

[2016-06-05 04:32] avinci commented on #2677
Yup, its pretty easy to do that. We have typically stayed away from doing anything that the user spins up or does, but since we are cancelling, it should be a safe bet to do.

We will put this in place...

[2016-06-06 16:54] abhijitkini commented on #2676
@rachellawson Please let us know if the above suggestion worked or if you need further help. Closing the issue.

[2016-06-06 16:54] #2676 closed

[2016-06-06 17:00] rachellawson commented on #2676
Yes thanks it worked well - tried it earlier today

Rachel

[2016-06-06 17:12] abhijitkini commented on #2513
@oppianmatt following up to see if you were able to reproduce the error with the above suggestions.

[2016-06-06 18:26] vivekbhupatiraju opened #2678 "Cannot add or find ECS formation"
### Description of your issue:
I'm unable to find or add formations to my repo that I want to run builds on. The formation I'm interested in using is for ECS.

Is this something not available in the free version and only part of the subscription plan?

I have set up my AWS integration already with the access key and secret. The AWS api endpoint was defaulted to https://api.aws.com

[2016-06-06 18:50] stephanielingwood commented on #2678
Hi @vivekbhupatiraju,

Would you mind telling us more about what you'd like to do? With a little more information, we can point you in the right direction.

If you want to run your ci builds on your own custom host (on ECS or elsewhere), we provide details in [our documentation](docs.shippable.com/ci_byoh/#running-builds-on-your-own-machines-byoh). This is a good option if you need build machines

[2016-06-06 19:18] mattclay opened #2679 "Project visibility/permissions and sync"
When a user from a GH project connects to Shippable for the first time using their GH account, is it normal for that user to not be able to access their projects without first having to sync the account?

I've had reports from two different users who were unable to access our account on Shippable with the full privileges they should have had until after syncing the account. The first was unable to

[2016-06-06 22:46] trriplejay commented on #2658
Things we tried:
  - altering the php.ini
  - installing pgo_pgsql with PECL and Pickle
  - installing php5dev and libpq-dev with apt-get
  - moving the version of pgsql.so installed by apt-get to the directory of that version of php in phpenv
  - various other unsucessful attempts to get the version of pgsql.so to match the version of PHP.

unfortunately none of these resulted in achieving what y

[2016-06-07 00:23] mattclay opened #2680 "Feature Request: Restart individual job from build matrix"
Sometimes just one or two builds in the build matrix fail due to transient errors such as a network timeout. In these cases it would be nice to have the option to restart individual builds from the build matrix, rather than the entire set of jobs, particularly when the matrix is large.

[2016-06-07 01:45] deanmraz commented on #2667
@a-murphy I can't find the page to change the status to "stopped". Could you provide a link?

[2016-06-07 01:52] trriplejay commented on #2667
you can just click the `scale` button on this page:
https://app.shippable.com/cellConfigs/574e5e880800fa0f00eb79bb/status

![image](https://cloud.githubusercontent.com/assets/6869398/15843465/2eab8a8e-2c17-11e6-9b03-78b67b087034.png)

The replicas are already set to 0, so just clicking the button should take care of the rest.

[2016-06-07 01:54] abhijitkini opened #2681 "Is mariadb supported on Shippable?"
Do you support popping mariadb into a build instead of mysql?

[2016-06-07 02:10] abhijitkini commented on #2681
There are two ways one can achieve this:

1. Use Shippable's default images based on the language you use & install 'mariadb' as a dependency in the `build: ci` step.
2. If you have an existing Docker image with 'mariadb' and other dependencies installed, then [you can override Shippable's default image](http://docs.shippable.com/ci_configure/#overriding-the-default-build-image) and use it for CI.

[2016-06-07 05:24] jugglerjer opened #2682 "error: no PostgreSQL user name specified in startup packet"
Hello!

I'm unable to get my postgresql database tests to pass. I've attempted to use a variety of configuration strings in combination with users I've created via the shippable.yml.

`pg://postgres@127.0.0.1/heartstrings_test`
`pg://testuser:1234@127.0.0.1:5432/heartstrings_test`

[code]

 The tests consistently fail with the following error:
`error: no PostgreSQL user name specified in startup p

[2016-06-07 09:13] BrilliantBasicsSync opened #2683 "Private Repositories Inaccessible to collaborators"
### Private Repositories Inaccessible to collaborators

We have our builds, i.e. https://app.shippable.com/runs/575688f297ae890c00126f02

The failed build link goes into our Slack channel. However, our developers cannot see the build - it says they do not have access (the big red banner across the top). Our developers are collaborators on the GitHub repository in question, and they could view the

[2016-06-07 09:50] kanthchandra commented on #2683
Hi @BrilliantBasicsSync , We have documented a few FAQ here http://docs.shippable.com/ci_faq/#why-cant-i-see-some-of-my-repositories-in-my-shippable-account . Please take a look at the suggestions there and let us know if it doesn't work for you.

[2016-06-07 13:03] avinci commented on #2680
@mattclay do you want to restart it as a new job or do you need it to run as the same job?

The former is super easy, the later is a bit of a chaos especially since all internal eventing needs to be reset since the whole set of jobs have reached a terminal state.

[2016-06-07 15:28] mattclay commented on #2680
If restarting as a new job would allow that job, upon completion, to take the place of the previous job for purposes of reporting status for the entire set of jobs (such as updating a PR), then yes.

For example, if 1 of 30 jobs fails, is restarted and then passes, the status for the set of jobs would need to reflect everything passing.

[2016-06-07 16:06] a-murphy commented on #2682
Have you tried ```postgresql://postgres@127.0.0.1:5432/heartstrings_test```?  Or the example for the node module you're using starts with ```postgres://```.

``psql postgresql://postgres@127.0.0.1:5432/test``did not return an error for me, but ``psql pg://postgres@127.0.0.1:5432/test`` did.

[2016-06-07 16:43] jugglerjer commented on #2682
Same problem with all of these:

`postgresql://postgres@127.0.0.1/heartstrings_test`
`postgres://postgres@127.0.0.1/heartstrings_test`
`postgresql://postgres@127.0.0.1:5432/heartstrings_test`
`postgres://postgres@127.0.0.1:5432/heartstrings_test`

Relevant builds:
https://app.shippable.com/runs/5756f7b597ae890c003eac69
https://app.shippable.com/runs/5756f8405cde2b0c0054c717
https://app.shippable.c

[2016-06-07 17:41] jimi-c commented on #2680
Yes, restarting in-place would be best. For example, https://app.shippable.com/runs/575705135cde2b0c00589cf3 (job 434.15) failed in a one-off way, so restarting it should delete and recreate 434.15.

[2016-06-07 19:08] deanmraz commented on #2667
@trriplejay that worked, thanks guys!

[2016-06-07 19:08] #2667 closed

[2016-06-07 20:48] a-murphy commented on #2682
Sorry, I couldn't reproduce your error.  I tried using `pg` version 4.5.6 with NodeJS version 4.4.3 in a `drydock/u14nodall:prod` image with the string `postgres://postgres@127.0.0.1:5432/app_test` (after creating an `app_test` database) and did not get any errors retrieving an object from the database.  Is there something unusual about how you have it set up?

We have a [sample repository for Nod

[2016-06-07 21:26] abhijitkini commented on #2513
Closing the issue. Please let us know if you need help on this issue.

[2016-06-07 21:26] #2513 closed

[2016-06-08 00:14] #2681 closed

[2016-06-08 03:29] jugglerjer commented on #2682
Thanks. Turns out I had updated my test code to include the postgres username but not the actual production code being tested :-/ Everything is worked fine now.

Btw, when will you be adding support for postgres 9.5?

[2016-06-08 03:53] manishas commented on #2649
@mattclay this is now available and all jobs for your build should be displayed in a Summary tab. We're still fixing a couple of fit and finish issues, but this should address your scenario.

Let me know your feedback.

ccing @gundalow @fmasa since they liked my comment  above :)

[2016-06-08 04:01] manishas commented on #2682
Thanks for the update!

We update our images every quarter so the next update is scheduled for the last week of June. We will make sure Postgres 9.5 is included in the update.

[2016-06-08 04:01] #2682 closed

[2016-06-08 04:59] mattclay commented on #2649
@manishas The new Summary tab is exactly what we needed. Thanks for the quick implementation.

A few improvements come to mind while looking at this build:

https://app.shippable.com/runs/5757653d4d84240c005ddffc

- Include an option to sort or filter on success/failure so it is easier to view just the failures. For example,  the above mentioned build has 1 of 30 jobs failed, but you have to scrol

[2016-06-08 05:54] vidyar commented on #2671
Hi @Headd2k , Could you please add the shippable Deployment Key which is available at subscription settings tab to your BitBucket account that has access to the dependency projects and then try to clone the repo using `git clone git@bitbucket.org:myorganisation/repositorya.git` ?.

[2016-06-08 07:26] rarkins opened #2684 "Caching of docker images"
This is a technical question, as a new customer setting up an account.

I'm interested to know if there's anything I can do specifically to increase the chance of docker images that I pull from Docker Hub being cached. I've noticed that for many builds, images that I've used previously are already found and reused, but in other cases the build machine needs to pull from docker hub again. The diffe

[2016-06-08 08:17] rageshkrishna commented on #2684
@rarkins The nodes that run your builds are spun up on demand. We keep them running for a while after your builds terminate and any new builds in this interval will be picked up by the same node. Because previous builds would have pulled the image on this box, your builds benefit from the local cache.

There's nothing you can do in your YML file to optimize this.

You can, however, use custom host

[2016-06-08 10:57] bobbydeveaux commented on #2683
Thanks - was my personal account that needed Private GH access, not just BB

[2016-06-08 11:02] mbrodala opened #2685 "Cannot expand environment variables in new run summary"
The new run summary (which is really nice BTW) shows an expander for environment variables similar to the one within single jobs. However, clicking it does nothing where I'd expect the environment variables to be shown.

[2016-06-08 11:03] mbrodala commented on #2685
I also see the following error on page load:

[code]

[2016-06-08 11:41] rarkins commented on #2684
@rageshkrishna I'm afraid that running my own nodes (BYOH) for the same price takes the service from good value to poor value, so it's not an option.

This wouldn't be so bad if it weren't for horribly slow pull times from Docker Hub. I will raise that as a separate issue though.

[2016-06-08 11:41] #2684 closed

[2016-06-08 11:43] rarkins opened #2686 "Slow pull times from Docker hub"
Example:

[code]

The above takes over 10 minutes - is that expected?
Copy/pasted from https://app.shippable.com/runs/5757fe055cde2b0c0082c0c0 but seems to be the same on every run

[2016-06-08 11:54] rarkins commented on #2686
Based on analysing different docker pull, I think the shippable minions are currently pulling from docker hub about 3-4x slower than when using a t2.micro on EC2.

[2016-06-08 12:59] rarkins commented on #2686
Actually the same image took over 25 minutes to pull in the next build. Admittedly it's about a 2GB image but this speed makes it unfortunately impossible. Is the shippable <-> docker hub connection normally this slow, or is something abnormal causing speeds to drop?

[2016-06-08 13:11] bobbydeveaux opened #2687 "Multiple Deploy Hooks"
### Multiple Deploy Hooks

I'd like to raise this as a bug (you guys fix bugs really quickly!), however I'm afraid it may be a feature request!

We have a use-case, where I'm trying to deploy to 2 Elastic Beanstalk environments, but this could easily be because the app needs to be deployed to AWS & DigitalOcean for Redundancy

I've tried:

[code]

I've also tried:

[code]

In both cases, only the

[2016-06-08 16:12] mnesterovych commented on #856
Have the same problem with coverage==4.1

[2016-06-08 16:30] abhijitkini commented on #2683
Closing the issue. Let us know if you need further help on this.

[2016-06-08 16:30] #2683 closed

[2016-06-08 17:21] manishas commented on #2649
@mattclay thanks for the feedback. Showing the env variables in a tooltip is part of the fit and finish items I mentioned and will be addressed today.

We'll also put adding a filter on our feature backlog. Thanks!

[2016-06-08 17:30] manishas commented on #2679
@mattclay The short answer is no. However, there are specific situations where the user will have to sync their account. If a user was added as a collaborator or their permissions changed recently, it might take up to 4 hours for the permissions to be reflected on Shippable unless the account is synced.

Please let us know if this happens again and we'll follow up on the specific scenario and see

[2016-06-08 20:07] pwarnock opened #2688 "Proper way to make deployment key available in Docker build"
My `shippable.yml` performs `docker build, tag, push...` to ECR.

What is the proper way to include *npm* dependencies from private repositories (e.g. Bitbucket)?

From the documentation, I understand the build container has a deployment key that I can add to Bitbucket, but how do I make the private key available within the container being built where `npm install` is run in the context of the pro

[2016-06-08 20:58] bantonj commented on #2657
I tried pushing to a new ECR repository, and it still fails with the same error.

`Error: image shippable-php:latest not found`

I've also noticed that it lists some fs layers that it is going to pull, that don't seem accurate. Could it be not logging in to ECR correctly?

[2016-06-08 22:06] manishas commented on #2662
@magwas we are currently in the process of building some enhancements that will address your scenario. I will reach out to you in a couple of weeks and we can show you a demo of how your scenario can be possible with Shippable.

[2016-06-08 22:11] stephanielingwood commented on #2657
Looks like you're logged in to ECR correctly. If you weren't, the errors are usually something like:
`Error pushing to registry: Server error: 403 trying head request`

Like we mentioned above, sometimes images on one registry have problems with layers that come from another registry. Did you ever get a chance to remove the base image locally, and rebuild the image? If so, is this the image you're

[2016-06-08 22:12] manishas commented on #2687
@bobbydeveaux what you're asking for isn't currently supported with our platform. If you specify 2 integrations of the same type, the second one is chosen and the first one will be ignored. That said, we're making some enhancements over the next 3-4 weeks that will address this scenario. I will keep this open as a feature request and let you know when that's available.

Thanks!

[2016-06-08 22:15] a-murphy commented on #2685
It should be working now.  Thank you for including the error message from the console; it made it really easy to fix.

[2016-06-08 22:20] manishas commented on #2685
Closing this.

[2016-06-08 22:20] #2685 closed

[2016-06-08 22:23] manishas commented on #2649
The tooltip and filter are now available, so please check it out and let us know what you think :)

[2016-06-08 22:23] #2649 closed

[2016-06-08 22:56] manishas commented on #2563
@materik we will look into code coverage improvements in a holistic fashion in a later milestone. I am closing this request as a dup of https://github.com/Shippable/support/issues/174 since that is tracking everything for code coverage.

[2016-06-08 22:56] #2563 closed

[2016-06-08 23:25] mattclay commented on #2649
Excellent. That's perfect! Thanks for the quick turn around on this.

[2016-06-08 23:59] trriplejay commented on #2688
well, your deploy key can be found at `/tmp/ssh/01_deploy` during the CI execution.

are you saying you want the key to be added to your image, or are you saying you want the docker build to be able to use the key to install a private module for the image, without the key itself becoming part of the image?

If the former, you can just `ADD` the key in your Dockerfile.  If the latter, one possibili

[2016-06-09 00:55] pwarnock commented on #2688
@trriplejay **Thanks!**

My only concern with the latter approach is installing _native_ modules. I might try a variation of your approach by using `npm pack`, passing the tarball of dependencies to the Docker build context, and installing that instead of _package.json_.

[2016-06-09 07:22] mbrodala commented on #2685
Thanks a lot for fixing. :-)

[2016-06-09 09:58] rachellawson opened #2689 "Suddenly getting error about certificates but not using SSL at all"
On https://app.shippable.com/runs/5759384097ae890c00a46ed8 I am suddenly seeing errors in my Behat script along the lines of

Given I am on the homepage # features/Example.feature:7
      cURL error 60: SSL certificate problem: unable to get local issuer certificate (see http://curl.haxx.se/libcurl/c/libcurl-errors.html) (GuzzleHttp\Exception\RequestException)

Which is strange, given I’m never ac

[2016-06-09 13:57] rachellawson commented on #2689
an update and more information…

As it happens, I *am* using SSL but only in a client context - I have a drupal module, CAS, that is trying to contact a public website with a valid SSL certificate. It appears that when that module is enabled, I get the error. Maybe for some reason that php cannot contact a site via https?

Ohh - is there a php.ini thing or a lack of openssl on server possibly caus

[2016-06-09 14:07] rageshkrishna commented on #2689
[The curl error list](https://curl.haxx.se/libcurl/c/libcurl-errors.html) tells me that error 60 is `Peer certificate cannot be authenticated with known CA certificates.`

It's possible that the CA cert for the server you're connecting to doesn't exist in the build container's certificate store, causing curl to fail the certificate validation.

Can you try running the command `update-ca-certificat

[2016-06-09 15:11] rachellawson commented on #2689
hmm - it is like the certs are updated but curl isn’t reading them?

Running on a (newly built) vm, I can see

[code]

but I just inserted the same curl command in my shippable.yml to create a result on the CI server and got the linked output…

https://app.shippable.com/runs/5759855e97ae890c00ba9ebd

[2016-06-09 15:11] rachellawson commented on #2689
(yes, I’m expecting a 404 right now, I’m okay with that)

[2016-06-09 15:43] rageshkrishna commented on #2689
Hmm, that's odd. It looks like a couple of things going wrong:

1. For some reason curl isn't looking at /etc/ssl/certs/ca-certificates.crt
1. Even if I do `curl -vvI https://www.horizonsunlimited.com/cas --cacert /etc/ssl/certs/ca-certificates.crt` _after_ running `update-ca-certificates`, it still fails validation.

I was able to get it to stop complaining with this:

[code]

I'm not really sure

[2016-06-09 16:59] benbernard opened #2690 "Billing question"
### Description of your issue:
I signed up for a plan last night for $40/month, but canceled after just an hour of playing because I realized I would need a lot more time to make sure this is the right solution for my company.  I switched back to the free plan, but I was wondering if it would be possible to get a partial refund since I only used about an hour or two of time.

[2016-06-09 17:31] manishas commented on #2690
@benbernard I'll enter a request for a refund. It will take up to 72 hours to issue it.

We would love to understand what you're looking for and help you get started. Are you available for a hangout sometime today or tomorrow? We're in the PST time zone.

Alternatively you can also send me an email at manisha@shippable.com and I can help with your scenario. Thanks!

[2016-06-09 17:40] manishas commented on #2658
Closing this issue since our investigation has reached a dead end. This will be reopened if we get any new leads or more customers run into it.

[2016-06-09 17:40] #2658 closed

[2016-06-09 18:12] abhijitkini commented on #2686
@rarkins we are investigating the issue. We will get back with a update, as soon as we find something.

[2016-06-09 18:32] benbernard commented on #2690
Thanks for putting the refund request in!

well, the main thing is that I've got my build sorta working, but as soon as I start my selenium/chrome based browser tests I get a timeout.  I couldn't find anything about being able to ssh or interactively debug that issue, which is something we do all the time with our current provider, circle, and I wasn't really interested in doing debug cycles with

[2016-06-09 18:39] abhijitkini commented on #2688
@pwarnock Let us know if you need further help on this topic. Closing the issue.

[2016-06-09 18:39] #2688 closed

[2016-06-09 18:54] manishas commented on #2690
Thanks for the explanation. One way you can ssh into your build machines to debug is to add your own build nodes to your subscription. This is explained here - http://docs.shippable.com/ci_byoh/ and the instructions are here - http://docs.shippable.com/ci_subscriptions/#ci_byoh

In a nutshell, you can 'attach' your build node to your Shippable subscription, after which all builds for your subscrip

[2016-06-09 19:00] benbernard commented on #2690
Yep makes since, but will take some time to setup, thanks for the tips!

On Thu, Jun 9, 2016 at 11:54 AM Manisha <notifications@github.com> wrote:

[2016-06-09 19:06] manishas commented on #2690
It takes less than 10 mins to have everything up and running with a node on Digital Ocean or AWS :)

Our build nodes are c3.large (2 cores, 3.75GB) so you can provision something similar. Plus, you save the 'Provisioning node' time when you kick off the build, which will save ~3mins.

Let me know if you need any help :)

[2016-06-09 19:23] abhijitkini commented on #2678
@vivekbhupatiraju Following up for more information on your scenario.

To clarify, as part of the free plan, you get one Pipeline, which allows you to set up deployment for one deployment unit of your application.

[2016-06-09 19:56] benoj opened #2691 "Deploy To Maven Manually?"
I have several libraries which should be deployed manually, Is it possible to have a pipeline to deploy to my private maven repo?

[2016-06-09 22:38] bobbydeveaux opened #2692 "aws_eb_deploy running before "push:""
I want to deploy the images that I push.

see: https://app.shippable.com/runs/5759ed355cde2b0c00ee55f6

However, the eb deploy happens before the 'push'...

Shouldn't aws_eb_deploy be after the push?

[2016-06-09 22:38] bobbydeveaux commented on #2692
# language setting
language: php

# specifying runtime
php:
   '7.0'

env:
  global:
    - secure: KWzBVQZwAOm5Iu0tyMrHT5Oghqa/pAn6LbOrNeGqrPbICzZqHgHhhKIg/cEjT2ikXlTDsMcLZU/anWvFeSdZTMv1uJX73pd7Ddd25v04j90ISIb0gO08bV5aa5s+PUPPQSIeRaWc0pJHyFRtBBksW/YKmGBL4T6N84Eg6Kfmkia8/TGJcbcqXBH8d9ycSMPZN1Y5Ze6Ott8qp0wwQE3RbBHTbNHJOag8wXQJOzgVTrPGA4h+/FlE0Ibf+0E010AuRbSPr0CtlBE035cNEu5+zJ+kMxrlrHSbCRHR64J16SO0l

[2016-06-10 00:31] a-murphy commented on #2692
You should be able to move the commands in `push:` to the end of `ci:`.  Since the image you are pushing has already been built, and docker commands run from within the build container actually run on the host, moving the `docker push` commands will push the images earlier, before the deployment step.

[2016-06-10 00:37] abhijitkini commented on #2671
@Headd2k following up to see if the above recommendation resolved your issue.

[2016-06-10 02:36] gappleto97 opened #2693 "Python build hanging forever"
* Build: https://app.shippable.com/runs/575a22694d84240c00e5c2fb
* Script: https://github.com/gappleto97/p2p-project/blob/beta/py/test.py

The relevant methods are `test_net_sans_network` and `test_net_connection`. I believe it's failing on the latter, but I have no easy way to know this since there's no output given.

Here's a link to the travis build of this which completely works: https://travi

[2016-06-10 07:43] pwarnock opened #2694 "Delete ECR integration"
I created an ECR integration, but I'm unable to delete it.

[code]

[2016-06-10 07:47] bobbydeveaux commented on #2692
I believe this has fixed this issue. However, all documentation suggests that anything in ci & post_ci will be run on the container itself, not the build machine.

I love Shippable, you guys are always great to respond so quickly, and is probably the main reason why I recommend Shippable to others, however some of these hiccups could easily be solved with better documentation. If there is anything

[2016-06-10 07:47] #2692 closed

[2016-06-10 07:53] bobbydeveaux opened #2695 "Better Hub/Deploy Integrations for Custom Images"
I find using the Hub Integrations and Deploy integrations are so easy to use, when using one of the drydock images.

However, when building against a custom image, most the integrations are null and void. I.e. I have to use Secure Env vars to login to Docker & for my AWS credentials, and I have to copy the .elasticbeanstalk config.yml file so that I can eb init - it's all very 'hacky'

See below f

[2016-06-10 09:03] rarkins commented on #2686
@abhijitkini I have created a public repository for simpler testing of docker pull times

Here's an example shippable build where `elgalu/selenium:2.53.0o` takes 10 minutes to pull: https://github.com/rarkins/docker-ci-test/tree/selenium

Here's the same pull at alternative provider CCI where it took less than 2 minutes: http://bit.ly/21bOD5F

Here's the same at alternate provider SCI where it too

[2016-06-10 10:54] mbrodala opened #2696 "Cannot enable one Bitbucket repository"
ATM we have issues enabling Shippable for one of our projects on Bitbucket. Even hitting "Sync" multiple times did not make the project appear.

Are there any issues? Please contact me directly for specific details.

[2016-06-10 11:00] mbrodala commented on #2696
Additional note: we just found the project under "Infra" instead. We deleted it there and enabled it as regular CI project again.

Maybe you should still have a look how this could happen.

[2016-06-10 11:00] #2696 closed

[2016-06-10 15:06] mattclay commented on #2679
@manishas When you say "added as a collaborator" does that count an existing collaborator on a project who logs into Shippable for the first time? I just had another collaborator whose permissions haven't changed log into Shippable for the first time. They had to manually sync their account to see the rebuild button in the UI.

I would have thought the first time a user logs into Shippable their p

[2016-06-10 15:17] mattclay commented on #2679
bcoca

[2016-06-10 15:18] manishas commented on #2679
The first time anyone signs in, we do sync permissions so we'll need to look into this. If you share the collaborator's username they used to sign in, we can see if there were errors etc during sync.

[2016-06-10 15:18] manishas commented on #2679
Ok thanks!

[2016-06-10 16:08] abhijitkini commented on #2692
@bobbydeveaux I would like to clarify that the `pre_ci`, `pre_ci_boot` and `push` run on the build machine and not the container. `ci` runs within the container. You'll see a blog on this shortly.

Thanks for your kind comments on our response time. Regarding documentation, if you see something that needs a change, feel free to submit a PR on our docsV2 repo. It will be reviewed and merged. We app

[2016-06-10 16:20] abhijitkini opened #2697 "All steps in a build appear to have been executed twice"
The console output shows every action in a build executed two times.

- Link to the build: https://app.shippable.com/runs/575ac25ab4d2260c000e58ee

Rest of the builds appear fine.

[2016-06-10 16:32] alexmarkley commented on #2697
Glancing around our history I don't see any other builds that exhibit this same behavior. You can see that the same build was definitely provisioned twice, and it secured two different job nodes. Maybe some kind of race condition in your job queuing implementation?

[2016-06-10 17:38] manishas commented on #2695
@bobbydeveaux I see you have the agent_only flag set to true in your hub integration. This is only necessary for situations where the customer wants to push to GCR or ECR and does not have the necessary CLI on their custom image. Since you are pushing to Docker Hub, you should remove `agent_only: true` from your yml so that we log in to your hub account from inside your build container.

[code]

[2016-06-10 17:43] manishas commented on #2694
@pwarnock is the ECR integration being used by any project? If so, it should show you the dependencies if you click on the ... as shown below in the gif. You will need to remove the integration from your projects and then delete it.

![show hub dependencies](https://cloud.githubusercontent.com/assets/2983749/15973422/2c667ee4-2ef8-11e6-838c-203ef4805a5e.gif)

[2016-06-10 17:53] manishas commented on #2691
@benoj our pipelines currently deploy to container services like Amazon ECS, GKE, Docker Cloud, etc.
Where do you want to deploy your repo? We're in the process of extending pipelines to handle non container workloads so would be good to know your desired workflow.

[2016-06-10 17:55] manishas commented on #2677
We have tested this in beta and this should be available in prod in the next 24 hours. We'll update you when it's deployed. Thanks!

[2016-06-10 20:21] bobbydeveaux commented on #2695
Thanks @manishas but I had already tried that in build 19

Commit:
https://github.com/bobbydeveaux/adapt-webapp/commit/4e296cc049c82cdd6b363e81f1d63c093460b62b

Build:
https://app.shippable.com/runs/575a584235afea0c00cfd57d

It just said invalid login, even though that DockerHub integration worked fine when it was a drydock image.

[2016-06-10 22:28] abhijitkini commented on #2678
Closing the issue. Do re-open and provide more information to continue troubleshooting this issue.

[2016-06-10 22:28] #2678 closed

[2016-06-10 22:31] abhijitkini commented on #2657
@bantonj following up to see if you were able to remove and rebuild the base image and give info to continue troubleshooting this issue.

[2016-06-10 22:33] abhijitkini commented on #2686
@rarkins appreciate the above information. Our devs continue to investigate. We hope to have an update soon.

[2016-06-10 22:35] abhijitkini commented on #2694
Closing as resolved. Do let us know if you need further help on this issue.

[2016-06-10 22:35] #2694 closed

[2016-06-10 22:38] abhijitkini commented on #2690
@benbernard let us know if you have further questions. We are happy to jump on a Google hangout to answer your questions in real time, as you evaluate Shippable for your company.

[2016-06-10 22:38] #2690 closed

[2016-06-10 22:40] manishas commented on #2686
@rarkins we can reproduce this issue and we'll get to the bottom of this. Thanks for the investigation!

[2016-06-11 01:00] gappleto97 commented on #2693
https://github.com/gappleto97/p2p-project/commit/583f5182b6034bc554218bee9f4705ecf8ca5189

This commit seemed to fix things. It would appear that your environment reacts poorly to `multiprocessing.pool.ThreadPool` being used. I'm not certain if this is an issue to file with you or CPython, though.

I can say for sure that this works on Travis-CI, as well as on my system. This makes me think it has

[2016-06-11 13:29] benoj commented on #2691
Sure, I have a self contained nexus repository (currently hosted in AWS, however I'm in the process of switching it over to being s3 backed) and am using the maven release plugin to manage releases. What I would ideally like to have is a pipeline which continuously builds and verifies changes to my libraries, but when I want to release I click a manual "release" button which executes the maven rel

[2016-06-11 16:47] avinci commented on #2677
This is currently available in prod. Upon cancelling builds now, all customer spun containers will be removed. The images will remain though as it helps future pull if the machine is still active.

[2016-06-11 16:51] avinci commented on #2686
There is an issue with EBS block storage. if we use SSD machines, we get 2.5 minute pulls and with EBS blocks with even dedicated IOPS we are getting 8 minute pulls.

As it was hinted in the thread above that this was due to resource contention, that is not true. Its not even network latency as we can clearly see the download occurs and the extract of images which is a local disk operation is what

[2016-06-11 17:11] ramasamymohan opened #2698 "Shippable eb deploy ERROR IOError [Errno 2] No such file or directory(zip file)"
I'm trying to deploy docker application to elastic beanstalk. eb deploy says creating application archive, but its not able to locate the archive or may be archive not created. I'm not sure whether missing something. Any ideas?

Here is my shippable.yml,

[code]

![screen shot 2016-06-11 at 11 31 33 am](https://cloud.githubusercontent.com/assets/7361904/15986354/d0c50aae-2fcb-11e6-9a0d-36c4200b029

[2016-06-12 01:25] deanmraz opened #2699 "Can't run builds on some branches"
I'm trying to run a build on branch deploy/beta. I've tried through the shippable UI as well as calling the API.
[code]
This is the run log https://app.shippable.com/runs/575cb688e15b480c00cba94d

This is the error log
[code]

Looks like shippable can't find the branch "deploy/beta"... Is this because of the "/" in the name?

[2016-06-12 03:13] manishas commented on #2001
@nif We have added a project setting so that you can configure whether your project should be built when you push a tag or create a release.

![image](https://cloud.githubusercontent.com/assets/2983749/15169977/12e71c90-16f6-11e6-855a-e109b5391dc4.png)

This setting only works for GitHub projects as of now.

[2016-06-12 03:16] manishas commented on #2699
@deanmraz you're right, this is because of the / in the branch name. The Bitbucket API doesn't support this as of now.. we opened a bug with them over a year ago and they haven't addressed it - https://bitbucket.org/site/master/issues/9969/get-commit-revision-api-does-not-accept

http://docs.shippable.com/ci_faq/#i-cannot-start-a-manual-build-for-my-bitbucket-project-why-is-it-not-working

[2016-06-12 03:17] manishas commented on #2699
I am going to close this issue since it isn't a Shippable bug, but it would be great if you chime in on the Bitbucket bug above and add a +1 :)

[2016-06-12 03:17] #2699 closed

[2016-06-12 03:20] manishas commented on #2695
@rageshkrishna can you look into this?

[2016-06-12 04:20] rarkins commented on #2686
Hi @avdrav, thanks for updating the progress here. I have some related questions below.

I understand that once a machine is created, it stays up for up to an hour. Once an hour has passed, will it shut down immediately once it has no build queue? Or even after one hour, is there some "waiting" period after last build and before it initiates shutdown?

But 100% of customers who need to pull from e

[2016-06-12 09:30] Headd2k commented on #2671
@vidyar @abhijitkini thanks for your reply and the recommendation! i was able to successfully access/clone the private repository the way you described during the ci build. thank you very much! would be cool to have a dedicated section in the documentation for this usecase.

[2016-06-12 09:30] #2671 closed

[2016-06-12 10:48] avinci commented on #2686
@rarkins
* yes, if the machines have not builds, they shutdown after an hour
* yes, 100% if the customers who pull are impacted. But this also depends on the image they are pulling. The image that you are referring to has 1 layer thanks 87% of the image and hence its impacted more as it can use only 1 thread. if the image sizes are more balanced, you don't see such a drastic impact...

[2016-06-13 03:54] rageshkrishna commented on #2695
Hi @bobbydeveaux. It looks like you're using a non-Ubuntu docker image for your builds. We're currently fully tested only on Ubuntu. Your docker login is actually failing because we use `sudo` to issue all docker commands and your image doesn't have it. Here's the last line of your build log which confirms this:

[code]

We currently rely on the following being available in the build container:

1

[2016-06-13 04:18] abhijitkini commented on #1451
Canceling a build in UI that stops all running containers for that build is now available. Upon canceling builds now, all customer spun containers will be removed. The images will remain though as it helps with future pulls if the machine is still active.

[2016-06-13 10:46] rarkins commented on #2686
@avinci FYI I still see at least 2x impact for any image I've tried (standard ones like node, nginx, postgres, etc). So yes, not as drastic, but still makes a big impact on any "cold" builds.

[2016-06-13 13:42] adityajain21 opened #2700 "Post build options"
### Description of your issue:
I want a binary file of the source code I build using shippable. It only shows ways to push it to docker hub or use it to deploy on AWS etc. I want to deploy it on my own and only want a binary file out of it. Is it possible?

[2016-06-13 18:20] a-murphy commented on #2697
The cause has been found and corrected and this has not reoccurred.  Builds are reliably queued only once now.

[2016-06-13 18:20] #2697 closed

[2016-06-13 18:58] a-murphy commented on #2698
It looks like you are attempting to deploy a Docker image to AWS Elastic Beanstalk, as documented [here](http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk) under "Docker deployment to AWS Elastic Beanstalk".  If this is the case, do you have a dockerrun.aws.json file?

[2016-06-13 19:01] ramasamymohan commented on #2698
Yes, I do have dockerrun.aws.json file.

[code]

[2016-06-13 19:31] abhijitkini opened #2701 "Provision Job Node step takes longer than usual"
Periodically, the "Provision Job Node" takes longer than usual. Given below is a build where it was for over 9 minutes.

https://app.shippable.com/runs/575ebea7e15b480c00f7bb24

Tracking this issue on Support per tweet from @alexmarkley

[2016-06-13 19:45] abhijitkini commented on #2701
@alexmarkley, Review of the logs did not show anything conclusive for this build.
We do not see a pattern of long "Job Node" provisioning times for all other builds and they are being processed in the usual time.

Do let us know if you see a pattern of long times happening frequently.

[2016-06-13 19:45] #2701 closed

[2016-06-13 20:39] a-murphy commented on #2698
Could you check that your bucket name (in the deploy integration in shippable.yml) is correct?  It should be `elasticbeanstalk-us-west-2-<account ID>`, as documented [here](http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.S3.html).  You should also be able to find it if you go to S3 in the AWS Management Console.

[2016-06-13 21:02] ramasamymohan commented on #2698
Yes, I tried that. I checked the S3 bucket as well, the archive is not created.

[2016-06-13 22:41] mattclay opened #2702 "Build job failed at boot_container"
Job 571.18 for https://app.shippable.com/runs/575f2b1057959d0e00c9a322 failed at boot_container.

What caused this failure? Can anything be done to prevent it in the future?

[2016-06-14 01:43] deanmraz opened #2703 "ECR Login Issue"
Keep seeing an issue where ECR login doesn't work, but triggering a rebuild allows it to run.

Doesn't work: https://app.shippable.com/runs/575f609e5a31ce0d00a34fb1

Works: https://app.shippable.com/runs/575f60b75198350c00f8920d

[2016-06-14 05:39] pranaypareek commented on #2702
@mattclay thanks for reaching out. We are looking into the problem and will get back to you soon.

[2016-06-14 08:08] pranaypareek commented on #2700
@adityajain21 uploading build artifacts is handled as part of the `shippable.yml` configuration.

You can push the binary to your S3 bucket if you want to use it.

The docs here will guide you with pushing to S3:
http://docs.shippable.com/ci_configure/#build-artifacts

[2016-06-14 08:20] adityajain21 commented on #2700
I dont want to push it. Can I download it from somewhere without it getting exposed anywhere?

[2016-06-14 08:38] pranaypareek commented on #2700
@adityajain21 We don't store the artifacts for builds. Hence, they cannot be downloaded.

[2016-06-14 14:11] pranaypareek commented on #2703
I wasn't able to reproduce the ECR Login failure on either Shippable nodes or Custom nodes.

(The affected builds in question are running on custom nodes)

The problem here is sporadic as it doesn't affect all builds that use ECR login. This _might_ be a config issue with the node itself.

---------------------------------------------------------

Notes from investigation:

##### From https://foru

[2016-06-14 14:37] designreact opened #2704 "Is it possible to set directory for deployment when using elastic beanstalk (eb_paas)?"
I'd like to deploy the contents of shippable/buildoutput to my elastic beanstalk application rather than everything checked out from the git repo. Is there a way to do this? I've been searching around for a while.

[2016-06-14 16:06] steelorbis opened #2705 "Customization for different branches in the yml"
Hi,

I would like to use different tags while pushing docker images for master and feature branches. Also I would lke to customize my yml file according to the branch name. Would it be possible?

Thanks.

[2016-06-14 16:28] pranaypareek commented on #2702
I looked into this early in the noon. My investigation was inconclusive as I don't have much context on this. I discussed this with @manishas and it was suggested that the issue be looked into by someone who has better familiarity with this.

Hence, I've unassigned myself and assigned this to @ric03uec. I informed him about the discussion prior to the assignment.

[2016-06-14 16:32] ramasamymohan commented on #2698
Any updates?

[2016-06-14 16:47] abhijitkini commented on #2657
Closing the issue. Do re-open to continue troubleshooting and let us know if tried the above recommendation.

[2016-06-14 16:53] abhijitkini commented on #2695
@bobbydeveaux Following up to see if the above recommendation worked for you.

[2016-06-14 16:57] a-murphy commented on #2698
I haven't been able to reproduce the error and am still looking for possible causes.

[2016-06-14 17:06] ramasamymohan commented on #2698
I'm doing exactly the same from this [sample_node_eb_docker](https://github.com/shippableSamples/sample_node_eb_docker/blob/master/shippable.yml). I'm still getting the same error. If you need further details, let me know. I got struck at this point, I'm very disappointed with this.

[2016-06-14 17:21] stephanielingwood commented on #2705
Hi @steelorbis,

Thanks for your question. Within the build, you have access to the BRANCH environment variable, which gives you the current branch being built. This would let you use your branch names in your docker tags, as well as take different actions and/or trigger different scripts based on the branch.

You can read more about our standard environment variables here: http://docs.shippable.c

[2016-06-14 17:40] a-murphy commented on #2698
Which "Environment Type" did you choose when creating the environment for your AWS Elastic Beanstalk application?  The Docker predefined configuration works for me with both of the options in the environment type dropdown and that sample project.

[2016-06-14 17:44] manishas commented on #2698
@ramasamymohan let us know if you're available to debug this over a hangout. That will speed up the resolution.

[2016-06-14 17:45] ramasamymohan commented on #2698
I created the application with "Docker" predefined configuration and "single instance" Environment Type.
<img width="1022" alt="screen shot 2016-06-14 at 12 43 55 pm" src="https://cloud.githubusercontent.com/assets/7361904/16053311/dd5706a0-322d-11e6-87b2-b97403d8adcb.png">

[2016-06-14 18:20] a-murphy commented on #2698
We've finally found something.  It looks like it's the slashes in the branch name.  We're still investigating it.

[2016-06-14 18:49] ramasamymohan commented on #2698
Yes, removing the slashes in the branch name works. But I get the following error now,
"ERROR: Application version cannot be any larger than 512MB"

![screen shot 2016-06-14 at 1 45 55 pm](https://cloud.githubusercontent.com/assets/7361904/16055391/af2bea9e-3236-11e6-8ce7-3dd1698c54fc.png)

[2016-06-14 18:56] trriplejay commented on #2698
This is an AWS hard limit set on the application upload size for beanstalk.  Since you're doing docker deploy, you likely don't need to zip the whole application, since it should just be pulling your image that you built on Shippable.

To accomplish this, I recommend adding an `.ebignore` file to your repo.  The EB CLI will see this and will avoid packaging anything that is ignored.

For example,

[2016-06-14 19:09] abhijitkini commented on #2705
To add to the above, there are multiple ways you can achieve this. Here are a few:

1) If your logic is branch dependent, then modify the `shippable.yml` file to use use env_var for that branch.

2) To keep the `shippable.yml` consistent across all branches, you can use an environment variable to set an env_name value based on the logic you want. For example:
[code]
Then in your integration, you'd

[2016-06-14 19:26] ramasamymohan commented on #2698
That was very helpful, thank you! I just got past that error. Now its creating the application version archive, updating the environment, but fails to pull the docker image and the deployment fails. Am I still missing something?

[2016-06-14 19:31] trriplejay commented on #2698
Is your image in a private docker repo? if so, you may want to take a look at this documentation:
http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker_image.html#docker-singlecontainer-dockerrun-privaterepo

[2016-06-14 19:34] ramasamymohan commented on #2698
Yes it is. Got it!
Please keep posted on branch-name-with-slashes issue.
Thank you.

[2016-06-14 19:57] trriplejay commented on #2698
@ramasamymohan the slashes issue is fixed now. Give it a try, and please let us know if you have any more issues, or if you'd still like to get on a hangout to discuss anything.

[2016-06-14 20:34] ramasamymohan commented on #2698
@trriplejay I'm good. Branch name with slashes works fine now. I'm working on pulling the image from private docker repo.

Thank you!

[2016-06-14 21:04] trriplejay commented on #2704
Unfortunately we don't currently support that scenario.  I'll mark it as a feature request.

[2016-06-14 21:15] designreact commented on #2704
Ah - I thought that might be the case. It would be nice to have.

In the meantime I'll sort out a docker image. Thanks

[2016-06-14 22:37] deanmraz commented on #2703
@pranaypareek thanks for the info, I'm using DigitalOcean.

[2016-06-14 22:40] deanmraz opened #2706 "Configure projects to run on a specific node"
Currently, we have 2 custom nodes running and I want to target projects run on separate nodes.
Nodes: https://app.shippable.com/subscriptions/5480a3ebd46935d5fbbf5bed/settings

Is there an easy way to do this?

[2016-06-15 00:19] mattclay commented on #2702
Same failure again at boot_container on job 623.10 here: https://app.shippable.com/runs/576099c66a58d80d00ad934f

[2016-06-15 00:30] manishas commented on #2702
@ric03uec can you investigate?

[2016-06-15 06:00] pranaypareek commented on #2700
@adityajain21 linking this to a feature request issue (https://github.com/Shippable/support/issues/2444) for archiving artifacts and supporting downloads.

We'll be working on this soon. I'll make sure to ping you once we have pushed this feature out. Thanks!

[2016-06-15 06:00] #2700 closed

[2016-06-15 11:15] ibratoev opened #2707 "Waiting for node more than 2 hours"
### Description of your issue:
A build is waiting for node more than 2 hours and counting. See: https://app.shippable.com/runs/57611c4f5a31ce0d00f99546

[2016-06-15 11:20] kanthchandra commented on #2707
Hi @ibratoev , in order to debug this issue can I know if you changed the machine image or something very recently in the subscription settings?

[2016-06-15 12:48] ibratoev commented on #2707
Hi @kanthchandra, I have not changed anything.

[2016-06-15 12:52] ibratoev commented on #2707
It seems now it is OK - a new build started running properly. Let me know if I can help with something to investigate the issue.

[2016-06-15 12:55] ibratoev commented on #2707
OK, still not everything works as expected. See https://app.shippable.com/runs/57611c4f5a31ce0d00f99546 for a strange error...

[2016-06-15 13:06] pranaypareek commented on #2693
@gappleto97 we looked into the problem. The only thing I could zero down on right now is that this problem only occurs with Python 2.6

I didn't see this happen with other versions of python that I tested (the ones specified in shippable.yml)

I put up logs in the functions `test_net_sans_network` & `test_net_connection` to debug where the problem might be. Turns out both these functions tend to g

[2016-06-15 13:11] designreact commented on #2707
I've been having a similar issue waiting for ruby gems to install on the node image... not sure if that's related or not... 25 minutes and counting https://app.shippable.com/runs/57614e026a58d80d00cab6df normally done within 10

[2016-06-15 13:13] ibratoev commented on #2707
It seems fixed now.

[2016-06-15 13:42] designreact commented on #2707
@kanthchandra I'm now up to 1 hour - would you like me to raise a new issue?

[2016-06-15 13:51] kanthchandra commented on #2707
Hi @designreact, I don't think your issue is related to node not being provisioned. Your build number 52 is running and I see that there is node that is actively running your build. You can see these details in the subscription settings page.

[2016-06-15 13:57] kanthchandra commented on #2707
@ibratoev I need some time to investigate what went wrong. At this point I don't have any information as to why a node was not provisioned for your sub for the first time.

1. One way to see if there is a service disruption or not is by looking if node is shown in the subscription settings page as soon as the build goes to processing state.
2.  One more thing to note is that our build system is de

[2016-06-15 18:19] abhijitkini commented on #2706
@deanmraz If you are trying to run projects simultaneously on both nodes, it can be done by splitting your tests with the help of 2 env variables so it creates a matrix. On the other hand, if you are looking to specify a node for a project to be executed, it cannot be specified.

If it is neither of the above, could you elaborate the scenario you want to accomplish?

[2016-06-15 18:44] trriplejay opened #2708 "custom host reset failure: "Problem with MergeList""
### Description of your issue:

The 'reset' action on a custom node seems to fail.  the `check_64_bit` section has a red check, but the logs on the failing command are in the first `copy_script_remote` section, in the last sudo chown output, where it says something along the lines of "Problem with MergeList".

I can work around this issue by SSHing into my node and doing `sudo apt-get update`, and

[2016-06-15 19:39] steelorbis commented on #2705
Thank you.

[2016-06-15 19:39] #2705 closed

[2016-06-15 20:47] deanmraz commented on #2706
@abhijitkini We have many projects but some need to ship quicker than the others. For example, I would like the 5+ Client Javascript apps to run on node 1 and the 2 API projects run on node 2. Client projects are stacking up the queue and causing 20 minute+ build times for the API projects.

[2016-06-15 22:15] brianjking commented on #1341
@manishas What about uploading artifacts via SCP or FTP? If so, can you point me in the right direction. Thanks!

[2016-06-16 05:35] abhijitkini commented on #2706
@deanmraz You can serialize across jobs within a project and ensure the jobs wait for their turn to be processed on one node and do not take up an available second node as a resource. You can read more about it in [our documentation](http://docs.shippable.com/ci_projects/#run-parallel-jobs).

However, it looks like you want to serialize across projects  and specify nodes for the project. This scen

[2016-06-16 05:59] kanthchandra commented on #2707
Hi @ibratoev we have opened an internal issue to track this down. We will get back to you when we have more info on this one.

[2016-06-16 08:52] ibratoev commented on #2707
Thanks @kanthchandra .
I remember that I check 1. and it was OK. I tried canceling and starting a new build once.

[2016-06-16 09:32] bobbydeveaux commented on #2695
hi @abhijitkini - afraid that didn't work. I ensured all those dependancies were installed:

https://app.shippable.com/runs/57626ee6090d7b0b0002ae30

[2016-06-16 09:54] rageshkrishna commented on #2695
@bobbydeveaux It looks like we're making progress :) The problem now is that the user running in the build container doesn't have password-less sudo privileges. This is why it's now complaining about not having a TTY (because it wants to prompt you for a password).

I'm not sure what distro your image is using, but you'll probably need to update `/etc/sudoers` to include the following line at the

[2016-06-16 10:58] mbrodala commented on #2589
@manishas Are there some updates here?

Since you are using Ubuntu you could maybe integrate the [PHP PPA of Ondřej Surý](https://launchpad.net/~ondrej/+archive/ubuntu/php) which provides packages for PHP 5.5, 5.6, 7.0 and 7.1 including PHP extensions.

[2016-06-16 15:50] abhijitkini commented on #2677
Closing this issue as resolved.

[2016-06-16 15:50] #2677 closed

[2016-06-16 16:01] bobbydeveaux commented on #2707
This is happening to me a lot today @kanthchandra .

https://app.shippable.com/runs/5762c7c382cd0b0c00f7968d

[2016-06-16 16:48] TimurAditazz opened #2709 "Couldn't enable bitbucket shared project"
(Id: 2002) Owner not found for projectId::5762d2b72a8192902e23efe2
warn: caller:5762d2b501346a0d00959a0c|projects|enableById:5762d2b72a8192902e23efe2|_getValidOwner

[2016-06-16 16:59] manishas commented on #2693
We looked into this and haven't been able to find anything conclusive. At this point we're deferring this issue until we hear more feedback about this. @gappleto97 let us know if this is a blocking issue for you.

[2016-06-16 16:59] #2693 closed

[2016-06-16 17:00] kanthchandra commented on #2707
Hi @bobbydeveaux , thanks to your comment we were able to identify the problem. We had exceeded the EBS volume storage as we were running at peak capacity. As a result the nodes were not coming up and failing silently. We have requested for an increase and this should be resolved as soon as our request is processed by AWS.

[2016-06-16 17:03] a-murphy commented on #2709
Do you have admin permissions on the Bitbucket repository?  It doesn't look like an owner of that repository has logged in to Shippable.  Admin permissions are required to add the webhook that will trigger builds for code changes.

If you don't have admin permissions, could you ask someone who does to enable it?  And if you do, your permissions on Shippable may be out of date and need to be update

[2016-06-16 17:04] TimurAditazz commented on #2709
Yep, I have write permissions onle

[2016-06-16 17:04] #2709 closed

[2016-06-16 18:41] SimonNodel-AI opened #2710 "build fails with Exception Invalid or no script tags received"
Looking through the logs I see that the application was built successfully however, build_ci is marked as failed.  Looking at the logs I see this error message:

ERROR:script_runner - script_runner:Command failed : ssh-agent bash -c 'ssh-add /tmp/ssh/00_sub;ssh-add /tmp/ssh/01_deploy;ssh-add /tmp/ssh/bbssh; cd /root && /root/4c250a03-6b88-4bd8-9881-47ee4af182f6.sh'
Exception Invalid or no script t

[2016-06-16 19:25] SimonNodel-AI commented on #2710
Update:
Just to clarify, npm install would result in postinstall script being executed and it ran build script that completed successfully but, shippable failed with above error.

adding postbuild script in package.json that echos some text fixed the issue for me.
`
"scripts": {
    "prebuild": "npm run lint",
    "build": "node node_modules/angular-cli/bin/ng build",
    "postbuild": "echo build

[2016-06-16 20:40] steelorbis opened #2711 "automatic sync"
Hi,

I would like to sync from upstream before each build and push if build is successfull. Would this be possible?

Thanks.

[2016-06-16 21:33] manishas commented on #2698
Closing this issue since there is nothing more to be done here.

@ramasamymohan Let us know if you have any other questions.... glad the deployment worked!

[2016-06-16 21:33] #2698 closed

[2016-06-16 21:36] manishas commented on #2703
@deanmraz is this still happening? We haven't been able to repro this or find a root cause and at this point, I am inclined to defer it unless it's happening consistently and/or more folks complain about it. Let me know.

[2016-06-16 21:54] manishas commented on #2707
AWS team has increased EBS volume storage, so this should no longer be a problem. I am closing this issue, but please let us know if you see this again and we will reopen.

[2016-06-16 21:54] #2707 closed

[2016-06-16 21:56] bobbydeveaux commented on #2707
Thanks guys

[2016-06-17 11:55] designreact opened #2712 "'eb_docker' use image pushed to ECR hub NOT image from shippable"
Apologies if I am approaching things incorrectly. I am new to CI/CD setups but am keen to get my team to use shippable.

Here is my process so far.

- Create node container on shippable
- Run CI (tests etc)
- install other dependancies (SASS etc)
- Run build tasks (minify code move other important files to buildoutput)
- Build new docker image using contents of buildoutput
- Tag docker image and p

[2016-06-17 16:01] a-murphy commented on #2712
How is the image specified in your dockerrun.aws.json file?  If it's running the wrong image, it might be because it doesn't know what it should be deploying.

You might also want to add an .ebignore file since it looks like AWS Elastic Beanstalk is finding the Dockerfile and rebuilding it.  This .ebignore file should work for deploying a Docker image:
[code]
It will put only Dockerrun.aws.json an

[2016-06-17 16:12] designreact commented on #2712
Thanks @a-murphy, I had started to play with .ebignore as I saw it on another post.

Are there any other options for replacement in Dockerrun.aws.json? i.e. does it support BRANCH and BUILD_NUMBER? - I'm troubleshooting a beanstalk to ECR permission error so haven't been able to check yet.

[2016-06-17 16:14] designreact commented on #2712
Thanks @a-murphy. I saw .ebignore on another post so had started to experiment.

Is <TAG> the same as $BRANCH.$BUILD_NUMBER in shippable.yml?

[2016-06-17 16:30] a-murphy commented on #2712
`<TAG>` in dockerrun.aws.json is replaced with the tag in shippable.yml, in your case `$BRANCH.$BUILD_NUMBER`, and `<IMAGE_NAME>` with the image name in shippable.yml.  We replace both of these in the `aws_eb_deploy` step before sending the dockerrun.aws.json file to AWS Elastic Beanstalk.

[2016-06-17 16:33] abhijitkini commented on #2710
thanks for the update. closing as resolved.

[2016-06-17 16:33] #2710 closed

[2016-06-17 18:35] bobbydeveaux commented on #2687
FWIW @manishas  - I've worked around this here:

https://app.shippable.com/runs/5764382e77a4b10c00d967cd

part of shippable

[code]

annoying that eb init doesn't respect the branch, as git is detached from the head so it doesn't know what branch it's on hence the above workaround!

Anyway, hope this helps someone until this feature is added natively.

[2016-06-17 18:42] abhijitkini commented on #2705
Here's [a blog on this topic](http://blog.shippable.com/customize-environments-for-different-branches-of-a-continuous-integration-build), which goes into multiple ways of customizing environments for different branches of a project.

[2016-06-17 22:07] abhijitkini commented on #2709
[FAQs in our documentation](http://docs.shippable.com/ci_faq/#enabling-a-project-fails-with-the-error) has been updated to include this issue.

[2016-06-19 15:58] BryanCrotaz opened #2713 "cache: true doesn't cache npm global modules"
installing global packages can take 1-3 minutes

*shippable.yml*
[code]

[2016-06-19 17:32] mattclay commented on #2680
This appears to be the same request as issue #794.

[2016-06-19 17:48] mattclay commented on #2600
This would be especially useful for running "heavier" builds, such as a normal build matrix with code coverage enabled (which might increase the build time by 6x or more). To do that there would need to be an environment variable set which indicated the job was a scheduled job.

[2016-06-19 18:44] mattclay opened #2714 "Feature Request: Dynamic build matrix"
It would be useful if the build matrix could be dynamic, so that the number of jobs dispatched could be dependent on the files changed in a PR or since the last build on a branch.

The use case for this is when there are significantly different numbers of jobs that need to be run depending on the files changed in a given commit or PR. A common scenario would be a documentation only change requirin

[2016-06-20 07:01] kanthchandra commented on #2713
@BryanCrotaz can you point me to the build where caching dint work?

[2016-06-20 14:59] mbrodala commented on #2714
The "Dynamically Adding Jobs" could also be used to have a single "master" job which spawns additional jobs and thus could use a different code path. This could be used to run commands after all jobs have finished (in the master job) instead of each job separately (currently with `on_success`).

[2016-06-20 17:47] byndcivilization opened #2715 "Build stuck in Queued mode for more than 2 hours"
### Description of your issue:
https://app.shippable.com/projects/57193cf42a8192902e1d7e88

[2016-06-20 18:11] abhijitkini commented on #2715
@byndcivilization we are investigating the issue. Will provide an update soon.

[2016-06-20 18:56] byndcivilization commented on #2715
The build seemsto have initialized now but its been stuck at parse coverage reports for the last 20 minutes.

[2016-06-20 19:02] byndcivilization commented on #2715
It looks like the first of three builds has passed, but the remaining two dont seem to be starting. Is there some new setting that I missed?

[2016-06-20 19:04] molerat619 commented on #2715
My builds are also in queu for more than 10 minutes

[2016-06-20 19:09] jaecSolutions commented on #2715
+1, same here!

[2016-06-20 19:52] abhijitkini commented on #2715
The issue is now resolved. Builds are now being processed successfully.
http://status.shippable.com/

Do let us know if you continue to see delays in the builds processing.

[2016-06-20 19:52] byndcivilization commented on #2715
Thanks!

[2016-06-21 00:59] molerat619 opened #2716 "Angular-Fullstack test results"
Hey there!

Currently I am using following .travis.yml file with Shippable in my angular-fullstack project.

[code]

I get no test results nor coverage reports though. What am I missing? Thank you.

Edit: I am getting coverage reports now.

[2016-06-21 03:42] jeradphelps opened #2717 "Display results from multiple runs in build status"
Github allows for the results of multiple builds to be displayed in the status area of a pull request.  Here is an example of the Travis integration:

<img width="778" alt="screen shot 2016-06-20 at 9 37 07 pm" src="https://cloud.githubusercontent.com/assets/1202792/16217318/7c63ccdc-372f-11e6-879f-d0b6a91685b5.png">

Is this possible with Shippable?  If not, is it planned?

[2016-06-21 07:35] manishas commented on #2715
Closing since this is fixed.

[2016-06-21 07:35] #2715 closed

[2016-06-21 07:45] kanthchandra commented on #2713
Hi @BryanCrotaz , We have migrated to the new build platform after our latest release and the yml that you have posted is in the old format. So here is a guide which helps you to migrate to the new build platform http://blog.shippable.com/migrating-to-the-new-build-platform

More documentation on caching can be found here http://docs.shippable.com/ci_configure/#caching .
I just gave a shot at crea

[2016-06-21 08:32] kanthchandra commented on #2716
Hi @molerat619 , The reason why you are able to see the coverage reports is because you are copying the output to shippable/codecoverage/ folder. Similarly you will need to copy the output of your test reports to /shippable/testresults folder.

We check for any files in shippable/codecoverage and /shippable/testresults directory and if we find any files, we parse them and display the results to yo

[2016-06-21 09:38] sshivaji opened #2718 "Github submodule checkout not working despite configuring deploy key in github"
I added the deployment key for the submodule checkout but it still says access rights are not present for a private github repo

https://app.shippable.com/runs/5769099c0f480e0b00678236 is the build failure.

[2016-06-21 09:55] BryanCrotaz opened #2719 "Run script on branch delete"
We deploy every branch to a new staging server. We want to shutdown that server when the branch is deleted.

The deploy happens at the end of the build script, creating the server if necessary - it would be logical for the build SaaS to delete the deployment when the branch is deleted.

To do that we need to be able to run a script (in yml delete_branch: script).

[2016-06-21 12:27] devillex opened #2720 "'Clear Cache' under Settings does not clear project cache"
I tried clearing the cache from the project settings tab, but it failed to clear my cached node modules. What broke my build was when Angular renamed their NPM packages recently. What fixed it for me was to include the suggested [reset minion] or [reset_minion] in the commit message.

- Excerpt from documentation:

- Excerpt from yml:
[code]

- Link to the build failure
https://app.shippable.com/r

[2016-06-21 13:21] devillex opened #2721 "Saving of cache fails when including [reset minion] or [reset_minion] in commit message"
I am trying to resolve an issue with a bad cache (node modules). I have tried resetting the cache through the Setting Tab on the project, but this is broken (see #2720). When I include [reset minion] or [reset_minion] in the commit message the cache is successfully cleared for the build, but then saving the cache fails as follows:

[code]

- Link to the build failure

https://app.shippable.com/run

[2016-06-21 13:39] halberom opened #2722 "support yaml dict notation in env"
### Description of your issue:

valid yaml dict notation is not supported in the env section of the shippable.yml config file.

See https://app.shippable.com/runs/57693eace89f5e0c00531efc for a job failing due to this

Works

[code]

Fails

[code]

Expected
It would be nice if the valid yaml dict notation above worked.

[2016-06-21 14:45] mbrodala opened #2723 "PHP: Wrong class name in coverage list"
The coverage tab of jobs has "Coverage Reports" which display a list of files. However, the "Class Name" always is the name of the parent directory of the "File Name".

Thus with a file `src/Foo/Bar.php` the "File Name" is `Bar.php` and the "Class Name" is `Foo` but should be `Bar` instead.

In general I think the fully qualified class name would be more useful here. This way one can catch classes

[2016-06-21 15:51] chriskinsman opened #2724 "Builds queuing and not starting"
I have 5 nodes spun up and idle.

Currently have at least one build that has been in a waiting state for 8+ minutes.

[2016-06-21 16:05] chriskinsman commented on #2724
Build finally started but now is running very slowly.  20+ minutes for a build that normally runs in ~10 minutes...

[2016-06-21 16:23] jeradphelps commented on #2724
Currently experiencing similar issues: `Minion Usage: 0 of 2`

[2016-06-21 16:42] manishas commented on #2724
@jeradphelps @chriskinsman everything should be back to normal now. Are you still seeing issues?

[2016-06-21 17:01] jeradphelps commented on #2724
Yes, they appear to be running again.  Thank you!

[2016-06-21 17:01] abhijitkini commented on #2718
@sshivaji can you clarify if you added the key from your subscription settings or your own key?

[2016-06-21 21:25] sshivaji commented on #2718
From subscription settings

On June 21, 2016, at 10:01 AM, Abhijit Kini <notifications@github.com> wrote:

@sshivaji can you clarify if you added the key from your subscription settings or your own key?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.￼

[2016-06-21 23:21] randomsync opened #2725 ""gcloud: command not found" when running a build which includes pushing images to GCR"
I'm trying out the micro-sample project for building docker images and and pushing them to registry, as documented here: http://docs.shippable.com/gs_deploy_sample/. The only change I'm making is instead of pushing to docker hub, I'm pushing the images to GCR. Here's my shippable.yml: https://github.com/randomsync/micro-sample/blob/986dd777b563b63af8fa5e348552948bf1174fa5/shippable.yml

I'm gettin

[2016-06-22 00:18] BryanCrotaz opened #2726 "Can't see how to deploy using a script"
We deploy to AWS using CloudFormation, from a node.js script. We want to use this script with parameters from env vars in various environments.

Can't see how to set up a deployment for a repo

[2016-06-22 00:25] chriskinsman opened #2727 "Any way to permanently update npm version?"
I have found the default npm 2.14 doesn't support http:// based tarball locations.  2.15.1 does.

I can install as a ci step with npm install npm@2.15.1 -g but this adds ~13s to my build. Is there anyway to save this default?

In the past I would just create my own updated docker file with a different version.  Not sure how to do this in the new world...

[2016-06-22 12:53] rlcomte opened #2728 "Build is NOT triggered"
### Description of your issue:
Our builds stay in waiting state way too long. Nothing is being built on our custom build servers (which are doing nothing...)

[2016-06-22 12:55] rlcomte commented on #2728
Same issues as #2724

[2016-06-22 12:55] kanthchandra commented on #2728
Hi @rlcomte can you please point me to the subscription for which the builds are not firing?

[2016-06-22 12:58] rlcomte commented on #2728
I just saw that after 10-12 minutes the builds are finally started.
Subscription is to-increase.

[2016-06-22 14:57] pmezard opened #2729 "API does not return all runs in waiting state"
Hello,

I am afraid this will be hard to debug but:
- When I looked at https://app.shippable.com/projects/575fa7472a8192902e2390c7 in the web UI, I saw a run in waiting state.
- When I fetched runs using my API key using "/runs" with subscriptionId=547c792bd46935d5fbbf0b11, the run was not listed.

It eventually turned in ~7mn later when it moved to processing state. Have you ever seen that?

Than

[2016-06-22 15:01] pmezard commented on #2729
In addition, the hook triggering the build took a very long time to be processed on shippable side, bitbucket reported more than 3s. It is possible the platform was overloaded at that point. What I do not explain is why the web ui and the API disagreed, are they not feeding from the same data source?

[2016-06-22 16:22] roman-gliffy opened #2730 "Web UI is sluggish"
### Description of your issue:
Web UI is sluggish, to say the least.
Have to waits 10-15 seconds for pages updates.

[2016-06-22 16:56] neilberkman commented on #2728
Builds are being queued for 20+ minutes.  Your status page doesn't indicate any current issues.

[2016-06-22 17:15] a-murphy commented on #2718
Copying the key on the subscription settings page and adding it to the repository to be added as a submodule as a deploy key worked for me.  Adding the key to my account as an SSH key works as well.  Would you mind checking that the key was copied correctly?

[2016-06-22 17:29] manishas commented on #2728
We have identified the issue and are working on a fix. I will update this thread with an ETA soon.

[2016-06-22 20:07] manishas commented on #2728
This should be resolved for most folks.... we're still looking through a couple of issues affecting a handful of customers.

[2016-06-22 20:12] steelorbis commented on #2711
Hi,
I see this an essential in a ci process. Is there a way to do this?

[2016-06-22 20:27] manishas commented on #2711
@steelorbis can you explain your scenario in greater detail?

If you are referring to pushing code from your branch/fork to the parent branch/repo if the CI passes, we support it through our pull request support. When you open a pull request with your changes on GitHub or Bitbucket, we run CI on merged code and report the results on the Github/Bitbucket pull request page. This should give you the

[2016-06-22 20:44] abhijitkini commented on #2725
@randomsync the micro-sample project does not have gcloud sdk installed. Hence you are seeing this error.

Could you modify your `shippable.yml` file to include both actions below?
- add the `agent_only: true` in the GCR hub integration
- move the docker tag and push commands to the `push` section

Here's [our documentation](http://docs.shippable.com/ci_configure/#gcrecr-and-custom-images) for you

[2016-06-23 00:00] abhijitkini commented on #2730
The sluggishness was due to the result of this issue - https://github.com/Shippable/support/issues/2728.
Closing as the issue is resolved. Let us know if you continue to see slowness in the WebUI.

[2016-06-23 00:00] #2730 closed

[2016-06-23 00:03] abhijitkini commented on #2728
The fix is in place and all users should see builds processed normally. Do let us know if you see builds being queued up.

[2016-06-23 00:03] #2728 closed

[2016-06-23 01:18] gappleto97 opened #2731 "Consistently failing to clone valid repos"
I have a few submodules as part of my package. It fails consistently to download them, starting today.

1. https://app.shippable.com/runs/576b2be6d77a600c008c7193
2. https://app.shippable.com/runs/576b318d2f8d210c0054501b
3. https://app.shippable.com/runs/576b33262f8d210c0054a53c
4. https://app.shippable.com/runs/576b35fcc05f5b0c001783ab
5. https://app.shippable.com/runs/576b3b91d77a600c008f9349 (

[2016-06-23 01:36] abhijitkini commented on #2695
@bobbydeveaux did the above recommendation resolve your issue?

[2016-06-23 01:41] abhijitkini commented on #2712
@designreact following up to see if the above recommendation resolved your issue.

[2016-06-23 01:42] abhijitkini commented on #2713
Closing the issue as resolved. Do let us know if you need further help on this issue.

[2016-06-23 01:42] #2713 closed

[2016-06-23 01:44] abhijitkini commented on #2716
Closing the issue as resolved. Do let us know if you need further help on this issue.

[2016-06-23 01:44] #2716 closed

[2016-06-23 02:10] BryanCrotaz opened #2732 "How to compare builds of the same branch?"
Can't see how to go to the previous build of the same branch in the UI when looking at a build run

[2016-06-23 02:19] abhijitkini commented on #2732
@BryanCrotaz Click on the Project, then go into the History sub-tab of the Project's Status tab.

Let me know if that answered your question, or if you are looking for something else.
![accessing details of previous builds](https://cloud.githubusercontent.com/assets/14990231/16289905/25896c5c-38ae-11e6-8705-8df6f4cb001d.gif)

[2016-06-23 03:41] #2724 closed

[2016-06-23 04:01] manishas commented on #2732
@BryanCrotaz to add to the comment above, the History tab has a filter that lets you filter by branch and see all builds for a specific branch.

[2016-06-23 04:01] manishas commented on #2731
@rageshkrishna can you take a look at this?

[2016-06-23 04:10] manishas commented on #2725
Can you try the yml below:

[code]

[2016-06-23 04:42] kanthchandra commented on #2729
Hi @pmezard , We were having a few issues with our API response time around the same time you opened the issue. So the system was a little sluggish and things were moving slowly. We have fixed the api response time issues.

The API and the UI are getting the data from the same source. It's just that the UI is sending some extra filters that gets the exact data that it needs. To be precise `https:/

[2016-06-23 04:59] manishas commented on #2727
@chriskinsman you can still use a custom Docker image with the desired npm version and specify that image in the pre_ci_boot section. This is explained here- http://docs.shippable.com/ci_configure/#overriding-the-default-build-image

Let me know if this addresses your issue...

[2016-06-23 06:46] rageshkrishna commented on #2731
At first glance, this seems to be a network issue. @gappleto97 Can we trigger builds on your project to debug this?

[2016-06-23 06:47] designreact commented on #2712
Yes. Thanks @a-murphy & @ abhijitkini

[2016-06-23 06:47] #2712 closed

[2016-06-23 07:29] pmezard commented on #2729
I was assuming the "/runs" endpoint was returning the N latest runs. Is that incorrect? If not, the run I was looking for was clearly in the range.

Thank you for your response, I will use "status" in that particular case.

[2016-06-23 07:42] gappleto97 commented on #2731
Yes.

On June 22, 2016 11:46:22 PM PDT, Ragesh Krishna <notifications@github.com> wrote:

[2016-06-23 08:42] rageshkrishna commented on #2731
@gappleto97 I triggered a build and this time all 7 builds in the matrix ran successfully. It looks like it may have been a networking glitch on a specific host at that point in time.

Unfortunately, there's not much I can do at this point to explore the issue further. Please let me know if you see this happening again and I will try to debug this issue directly on the host that's causing the issu

[2016-06-23 09:31] steelorbis commented on #2711
Hi Manisha,

We would like to keep our branches up to date even before PR. We have two specific needs:

1) We have an integration branch which is automatically deployed to test environment after each commit. We have a manuel testing process on it so we would like to synch from upstream before manuel testing begins.

2) Our feature branches can take weeks to complete. So we would prefer to sync aft

[2016-06-23 09:43] BryanCrotaz commented on #2732
That's not easy to use - can we have a history tab on a single build which shows the history of that branch please?

[2016-06-23 09:43] BryanCrotaz commented on #2732
We have 50 active branches

[2016-06-23 09:46] BryanCrotaz opened #2733 "History tab doesn't show test summary"
When viewing history on a branch that is failing, I want to know if we're getting better or worse. Showing test count and failure count, and code coverage summary in the history view would enable me to do that. Better still, a graph of all four measures over the builds.

[2016-06-23 10:56] rarkins opened #2734 "Randomly slow instances"
In this run: https://app.shippable.com/runs/576bbcdfc05f5b0c002bd2f5
`pip install awscli` took 1m 30s
An `aws s3 cp` command for a single file of ~1KB size took 1m 51s !

In this run before that: https://app.shippable.com/runs/576bbabfc6aa160c00390b96
The same commands took 1s and 0s respectively.

And here's another run from immediately before that where they took a long time again: https://app.s

[2016-06-23 11:09] rarkins opened #2735 "Completed builds disappearing from Summary tab"
Screenshot of build in progress:
![image](https://cloud.githubusercontent.com/assets/6311784/16300858/6289501a-3942-11e6-9e16-37d6c96cd083.png)

Once build 411 is complete, it disappears off the Summary tab and can only be seen on the History tab. It doesn't show even if I enable the "Show all branches" checkbox.

[2016-06-23 12:14] jcgcecilia opened #2736 "Build fails when cache is enabled"
### Description of your issue:
The build works fine while building without cache enabled or with [reset_minion] in the commit comment.
Once the cache is enabled the build fails.
Out build uses a thrift compiler to generate code automatically and it seems that the error is related to that.

- Link to the build failure
https://app.shippable.com/runs/576bcf91d77a600c00a7d87c
- Scripts called from the

[2016-06-23 14:05] chriskinsman commented on #2727
I suspect it will.  I will give it a try.

Thanks!

[2016-06-23 14:05] #2727 closed

[2016-06-23 16:04] chriskinsman opened #2737 "Docker Image Caching?"
Are you guys doing any caching of the Docker Images pulled from Docker Hub outside the node that has pulled it?

I built a new image from your DryDock/u14nodpls to add a newer version of npm and the image comes in at 2GB.  A little concerned on the impact to build startup time...

[2016-06-23 16:06] manishas commented on #2737
@chriskinsman all our official images are already on our AMI so if you start your Dockerfile with `FROM drydock/u14nodpls:prod` the image won't be pulled each time.

[2016-06-23 16:08] chriskinsman commented on #2737
So then it only has to pull my slice which may be smaller?

[2016-06-23 16:11] chriskinsman commented on #2737
Also finding after rebuilding the default u14nodpls container it is no longer selecting the right node version for me.  I added node v4.2.2 and set it to the default in my container but when a build is run using that container it is coming up at 0.10.X

[2016-06-23 16:45] roman-gliffy opened #2738 "Provision job node takes long time (>5min)"
Hi,

How long does it take to provision a node for an account with a subscription?

[code]

Takes >5 minutes or longer, I'm still waiting.

[2016-06-23 16:58] Gudahtt opened #2739 "Builds stuck at "Provisioning job node""
Both of our minions are tied up at the moment on jobs stuck at the "Provisioning job node" phase.

It has been nearly an hour since the builds started, and still no progress.

e.g. https://app.shippable.com/runs/576c07e72f8d210c0082f513

[2016-06-23 17:02] Gudahtt commented on #2739
Update: They've both just started up again.

[2016-06-23 17:02] Gudahtt commented on #2739
Was something done, or was the timing coincidental? Curious if this is a known problem and expected to happen again, or if there's something amiss in the shippable.yml or anything.

[2016-06-23 17:04] abhijitkini commented on #2738
We are working on fixing the issue. We'll have an update soon. Check http://status.shippable.com/ for the latest status.

[2016-06-23 17:21] manishas commented on #2735
@a-murphy can you look at this?

[2016-06-23 17:26] manishas commented on #2725
@randomsync please let us know if the suggestion above doesn't work for you. Closing this issue.

[2016-06-23 17:34] cgreene commented on #45
+1 for mercurial support [from previous #136] - we have both types of repos in our organization and are looking for service providers that support both

[2016-06-23 17:40] a-murphy commented on #2735
It doesn't look like `feature/shippable-aws` existed when the project was last synchronized.  It's not in the list of branches for the project, so it isn't shown on the status tab.  There's a green "sync" button on the settings tab that will update the list of branches.

[2016-06-23 17:53] rarkins commented on #2735
Do you mean we need to manually keep synchronising the project every time there's a new branch? That doesn't seem sensible at all if so. We use git flow approach and majority of tests are of a "new" branch. Please reconsider this design of its somehow deliberate.

[2016-06-23 17:54] abhijitkini opened #2740 "Merge Bitbucket and GitHub accounts"
Per the tweet received: https://twitter.com/GreeneScientist/status/746032258352582656
Trying to merge my accounts [github/bitbucket] since I have one of each. Delete account not working?

Customer has a Bitbucket and a GitHub account each linked to Shippable. Needs the Bitbucket account (https://bitbucket.org/cgreene/) deleted.

[2016-06-23 17:58] a-murphy commented on #2735
The project should be automatically synchronized daily.  To immediately show branches created since the last synchronization currently requires clicking the sync button.

[2016-06-23 18:05] abhijitkini commented on #2740
@trriplejay could you delete the Bitbucket account on our system? https://bitbucket.org/cgreene/

[2016-06-23 18:05] roman-gliffy commented on #2738
The status page says it's been resolved, but nodes are still not provisioned.
Could you clarify if things are back to normal?

[2016-06-23 18:08] abhijitkini commented on #2738
@roman-gliffy Yes, things are back to normal. Can you provide a link to your build?

[2016-06-23 18:10] roman-gliffy commented on #2738
https://app.shippable.com/runs/576c2493c6aa160c00590077

[2016-06-23 18:14] manishas commented on #2737
can you point me to the build?

[2016-06-23 18:16] manishas commented on #2732
How about if we make the branch name on the build page clickable and it goes to the history page with the branch already chosen in the filter so that you get the view you want? Will that work?

[2016-06-23 18:18] abhijitkini commented on #2738
@roman-gliffy the nodes for your build just got provisioned.

[2016-06-23 18:25] roman-gliffy commented on #2738
Yes, the build run.
But now page is not rendered :(

[2016-06-23 18:32] chriskinsman commented on #2737
I have given up on this.  Found it was just quicker to install a newer npm as a CI step compared to the overhead of pulling my docker image.  Thanks!

[2016-06-23 18:32] #2737 closed

[2016-06-23 18:32] abhijitkini commented on #2738
We know the issue is being caused by MongoDb and are working to fix it. Stay tuned.

[2016-06-23 18:36] manishas commented on #2703
Closing this. @deanmraz let us know if you still help with this.

[2016-06-23 18:36] #2703 closed

[2016-06-23 18:38] manishas commented on #2702
@mattclay did you see this happening again? We haven't been able to find an exact reason for the boot container issue but we have hardened code in this area so I'm hoping this doesn't happen now.

[2016-06-23 18:38] fedenusy commented on #2738
My nodes are still not getting provisioned 😢

https://app.shippable.com/runs/576c2bcc561e0a0c007082e0

[2016-06-23 18:39] manishas commented on #2689
@rageshkrishna where are we on this?

[2016-06-23 18:41] fedenusy commented on #2738
There we go, just took a while 👍

[2016-06-23 19:02] gappleto97 commented on #2731
Okay, thanks. I'll close this issue for now.

[2016-06-23 19:02] #2731 closed

[2016-06-23 19:23] a-murphy commented on #2711
Usually builds involving multiple branches are pull requests.  So you'll have to do this in your script in the shippable.yml file for the branch triggered.  To update the repository to resemble what it would when you open a pull request, unless it is a pull request, you should be able to add something like this to the beginning of the `ci` section (and `pre_ci` if you have it):
[code]

This exampl

[2016-06-23 20:17] trriplejay commented on #2740
Account has been deleted. The user should be able to enable bitbucket on his main account now.

[2016-06-23 20:21] abhijitkini commented on #2740
Closing issue as resolved.

[2016-06-23 20:21] #2740 closed

[2016-06-23 20:35] abhijitkini commented on #2738
The job nodes have been provisioning normally for the last 2 hours, since we have deployed the fix. Closing as resolved. Do let us know if you see any delay.

[2016-06-23 20:35] #2738 closed

[2016-06-23 20:42] a-murphy commented on #2736
It looks like you are caching the whole build directory.  If you don't actually need the whole directory cached, could you try caching only a subdirectory, as documented [here](http://docs.shippable.com/ci_configure/#caching)?  For instance, adding `$SHIPPABLE_BUILD_DIR/subdirectory` to `cache_dir_list` will just cache the files in that subdirectory of the repository.  We can't guess what you want

[2016-06-23 22:11] a-murphy commented on #2720
I haven't been able to reproduce this with manually triggered builds or commit webhooks.  Clicking "clear" then "confirm" and triggering a build ran the build without using the cache, as expected.  Am I missing something unusual about this build?

[2016-06-23 22:45] mattclay commented on #2702
The most recent boot_container failure I've seen is this one from yesterday:

https://app.shippable.com/runs/576b6a262f8d210c005b62f7

[2016-06-23 23:48] #2729 closed

[2016-06-23 23:53] stephanielingwood commented on #2734
Hi @rarkins,

Thanks for letting us know. Sounds like there may have been some transient network slowness on AWS EC2 (all our build nodes are on EC2) while those builds were running. Are you still seeing this in your builds?

Also, the awscli is already installed in the image you're using, so you can remove the `pip install awscli` command from your yml if you'd like.

[2016-06-24 00:45] stephanielingwood commented on #2726
Hi @BryanCrotaz,

Let me see if I have this right. Fundamentally, you want to execute a node.js script in a build, and be able to use specific env vars within that script. It just so happens that that script handles your deploy to CloudFormation.

If that's the case, then you would first export those env vars in your yml; we support four different kinds of [environment variables](http://docs.shipp

[2016-06-24 04:11] roman-gliffy opened #2741 "AWS keys"
Hi

I'd like to push artifacts to S3 in on_success section. Aws keys are configured in Pipelines -> environments section.

How do I access those keys in the CI?

Thank you.
R

[2016-06-24 04:24] roman-gliffy opened #2742 "Aaaand mondgodb errorz"
Was trying to enable "deploy integration" - it allows double clicks... Guess it was the reason for error below.

(Id: 666) Database error
error: caller:xxx214bf|ProjectIntegrations|post|_post
{"name":"MongoError","code":11000,"err":"insertDocument :: caused by :: 11000 E11000 duplicate key error index: shippable.projectIntegrations.$accountIntegrationId_1_projectId_1 dup key: { : \"xxx67938\", : \

[2016-06-24 04:24] roman-gliffy commented on #2742
It didn't cause any problems though, but still looks scary.

[2016-06-24 04:46] rageshkrishna commented on #2741
Hi @roman-gliffy! Integrations configured for pipelines are not currently available in CI. You'll need to set it up in the Settings tab on the project's page. There's an "Integrations" panel on that page where you can pick the integrations you want to use for CI.

[2016-06-24 05:10] roman-gliffy commented on #2741
Ok, there is account integration with aws. That has project listed.

So how do I access keys listed in that integration within CI or it's not possible?

[2016-06-24 05:40] rageshkrishna commented on #2741
If you've enabled your AWS integration on the project, we will automatically configure aws-cli in your CI container. You should just be able to do `aws s3 cp something s3://your-bucket/` and upload whatever you need.

[2016-06-24 05:45] roman-gliffy commented on #2741
Builds still can't see it. Could you take a look, please?
https://app.shippable.com/runs/576cc89c561e0a0c008a543b

[code]

[2016-06-24 06:29] mattclay opened #2743 "No email notification received for --last_committer"
Build https://app.shippable.com/runs/576ccd5345eaa40e001ef9a0 failed and I expected to receive an email regarding the failure, but did not. I did, however, receive the Slack and IRC notifications.

The commit was merged from a PR using GitHub's squash and merge feature and it shows in the build as "Builder: GitHub Web Flow". Would this have any effect on the --last_committer email notification set

[2016-06-24 06:31] rageshkrishna commented on #2741
Sorry, I forgot to tell you earlier that you also need to require the integration in your YML file. Please add this to your shippable.yml file and everything should be good to go:

[code]

[2016-06-24 06:33] rarkins commented on #2735
This still makes no sense. The builds/branches appear while they're in progress, then disappear once completed. And then they reappear again after the next sync, sometimes in the next 24 hours?

@manishas please can this be recognised as a mistake or shortcoming in design, and not "resolved"?

[2016-06-24 06:35] mattclay opened #2744 "Build started notification in Slack when on_start set to never"
Build https://app.shippable.com/runs/576cd0e723e2800e00121a55 sent a started notification to our configured Slack channel. However, we have on_start set to never.

This wasn't a problem for the previous builds for which Slack was enabled, which only reported.

Why was a started notification sent for the build when it's configured not to?

[2016-06-24 06:40] roman-gliffy commented on #2741
Thanks!

[2016-06-24 06:40] #2741 closed

[2016-06-24 06:41] ankul-shippable commented on #2742
@roman-gliffy Thanks for letting us know. We are redoing our UI, this will be fixed there.

[2016-06-24 06:49] manishas commented on #2744
@rageshkrishna can we look at this?

[2016-06-24 06:52] roman-gliffy commented on #30
That's a dealbreaker :(
CI has to be continuous.

https://docs.travis-ci.com/user/cron-jobs

[2016-06-24 07:02] manishas commented on #30
Things have changed. Scheduled builds are now on our roadmap. :)

[2016-06-24 07:10] plotti commented on #30
Oh thats great to hear! thx!

[2016-06-24 07:49] rageshkrishna commented on #2744
Hi @mattclay. I've investigated this and here's what I've found:

1. The branch that build is running on does not have any configuration for slack in the YML file
1. When there are no slack settings in the YML and we see a Slack integration configured on the project, we fallback to "legacy mode" where we send Slack notifications for all events.

I believe we're ready to retire this legacy mode now

[2016-06-24 08:05] spsiddarthan commented on #2743
@mattclay, Whenever you commit on GitHub using the web UI, this is the committer information we are getting of late from github.

[code]

We are waiting for feedback from Github on to see if this a bug from their side.

[2016-06-24 08:13] sshivaji commented on #2718
Did you try it on my project, it does not work within that project? Should
I create a new project? I tried this a few times already.

Thanks, Shiv

On Wed, Jun 22, 2016 at 10:15 AM, a-murphy <notifications@github.com> wrote:

[2016-06-24 08:19] steelorbis commented on #2711
When I push the merged code, I get the following error:

I probably need the ssh key for the building machine. Could you give an example for pushing on a successfull build?

Thanks.

[2016-06-24 09:51] rageshkrishna commented on #2689
Sorry, this completely fell off the radar. I'll look in to this and have something to share in a day or two.

[2016-06-24 10:18] rageshkrishna commented on #2702
@mattclay Do you need the CI containers to run in privileged mode? https://github.com/docker/docker/issues/22710#issuecomment-219001218 seems to indicate that these kinds of errors can happen when running in privileged mode and `/dev` is mounted from the host.

If your tests don't need run run in a privileged container you can try turning it off by adding a `pre_ci_boot` section to your shippable.

[2016-06-24 10:21] BryanCrotaz commented on #2732
Yes that would work - history tab would be better though

On 23 June 2016 at 19:16, Manisha <notifications@github.com> wrote:

--
Bryan Crotaz
Managing Director
Silver Curve

[2016-06-24 10:42] rageshkrishna commented on #2689
@rachellawson Can you try running these two commands before running your tests:

[code]

[2016-06-24 11:08] steelorbis commented on #2711
Hi,

In the usual shippable flow, git_sync is triggered only once just before build_pre_ci phase.

If I put this into pre_ci section:
- if [[ "$BRANCH" =~ SP-.* ]]; then git merge -m '[skip ci]' master; fi

then git_sync is triggered a second time before build_ci phase. So the original commit state is built instead of the merged code. How can I build the merged code in the build_ci phase?

Thanks.

[2016-06-24 13:48] bronislav opened #2745 "Postgres not start with official image"
### Description of your issue:
I'm experiencing an issue with starting postgres during ci

This is my `shippable.yml`:
[code]

Failed build: https://app.shippable.com/runs/576d34f723e2800e0025bb52

My issue is that postgres never starts. It's rebooting several times and then reported that server couldn't boot. If I try to run postgres manually (ssh to node and docker run) it reports certificate ac

[2016-06-24 13:50] bronislav commented on #2745
There is a workaround https://github.com/docker/docker/issues/783#issuecomment-56013588.

[2016-06-24 14:30] bronislav commented on #2745
I've tried to tweak official image on my node manually, but shippable pulls image on every build and my modifications were lost.

[2016-06-24 16:28] a-murphy commented on #2711
The repository is cloned separately for the `pre_ci` and `ci` steps, so changes made to the repository in `pre_ci` won't be available in `ci`.  The possible sections in shippable.yml are documented [here](http://docs.shippable.com/ci_configure/#shippableyml-structure).  Only `pre_ci` and `push` run outside the build container.  The rest (`ci`, `post_ci`, `on_success`, and `on_failure`) run in the

[2016-06-24 16:40] mattclay opened #2746 "Back navigation from build always returns to summary"
When using the browser's back button while viewing a build, the browser always navigates back to the summary, even if the previous view was history.

To reproduce this, view build history, click on a build, then navigate back and notice you're on the summary tab instead of the history tab.

This is especially annoying if you've used "fetch more" in history to navigate farther back in history, as a

[2016-06-24 16:59] molerat619 commented on #2716
Thank you. I am still struggling with this issue, but it is not a problem with shippable. I just don't know how to generate the test reports with istanbul for my mocha and karma tests. Need to research more. If you have a quick hint for me, I will appreciate it.

[2016-06-24 17:04] a-murphy commented on #2718
I can't test it on your project; I've been using my own private GitHub repository to test.

 It shouldn't have anything to do with the project, so creating a new one probably won't help.  I've only been able to get similar errors when I haven't added the key to GitHub.  Where (on GitHub) are you adding the key from the subscription settings tab?  And, is this submodule already in .gitmodules?  (Al

[2016-06-24 21:02] fedenusy opened #2747 "Can a new commit auto-cancel a running build?"
While a build is running, if I push a new commit to that build's branch, I'd like the build to auto-cancel in favor of the newer commit. Is this possible?

[2016-06-24 22:45] trriplejay commented on #2721
Thanks for pointing this out. We've found the problem, and it should be resolved now.  Can you try again and let us know if you're still seeing this issue?

[2016-06-24 22:48] abhijitkini commented on #2747
@fedenusy we have this feature request on our roadmap. Currently, I don't have an ETA and I'll notify you when we have an update.

[2016-06-24 22:48] #2747 closed

[2016-06-24 22:56] fedenusy commented on #2747
Great, thanks!

[2016-06-24 23:17] RemiLehe opened #2748 "Cannot enable project through web interface, due to `_getValidOwner` error"
I tried to add CI to the open-source project Warp (https://bitbucket.org/berkeleylab/warp), using Shippable. However, when I try to enable this project in my Shippable account (through the web interface), I get the following error:
[code]

Here is a screen shot:

![screen shot 2016-06-24 at 4 15 22 pm](https://cloud.githubusercontent.com/assets/6685781/16352831/0f418716-3a27-11e6-8aee-87a9dd5cca5b

[2016-06-24 23:22] abhijitkini commented on #2748
@RemiLehe Admin permissions on the Bitbucket (or GitHub) repo is required to enable it as a project. If you still get the error, then go into Account Settings (gear icon on the top right hand navigation bar) and click the green 'Sync' button in the 'Accounts' tab.

You can also read it about this in our [FAQ](http://docs.shippable.com/ci_faq/#enabling-a-project-fails-with-the-error)

[2016-06-24 23:31] pwarnock opened #2749 "Log Configuration in AWS Task Definition"
Is there a way to specify the log configuration for an ECS task definition?

I'd like to enable awslogs http://docs.aws.amazon.com/AmazonECS/latest/developerguide/using_awslogs.html

I was able to manually configure via AWS dashboard, but subsequent deployment via pipeline replaced the task definition.

[2016-06-24 23:57] RemiLehe commented on #2748
OK, great. Thanks for the rapid answer.

[2016-06-25 00:00] #2748 closed

[2016-06-25 00:14] trriplejay commented on #2749
Unfortunately we don't currently support that setting.  It's on our roadmap along with a few other unsupported parameters.

As you noticed, subsequent deploys will create new task definitions that will override any changes you make directly on aws.

I'll mark this as a feature request and we'll update when this support becomes available.

[2016-06-25 01:07] trriplejay commented on #2721
closing this. please reopen if the problem persists.

[2016-06-25 01:07] #2721 closed

[2016-06-25 01:28] a-murphy commented on #2716
Most of our sample projects have working test reports, and quite a few use Istanbul.  [This one](https://github.com/shippableSamples/sample_node_postgres) uses Istanbul and Mocha. and I've checked that the test reports still work.  The first line of the `post_ci`section in `shippable.yml` is responsible for generating the test report.

[2016-06-25 16:06] ivanoats opened #2750 "How to push build back to git repo"
I am trying to push my built files back to the origin repo, but I get an error:

[code]

I have an SSH key on bitbucket that has full access set up via a Shippable integration, but it doesn't seem to be using that.

https://app.shippable.com/runs/576ea993d7b8e20c00776049

[2016-06-25 23:18] cemo commented on #105
[code]

http://docs.shippable.com/gs_supported/

[2016-06-26 10:42] chssch opened #2751 "index.lock': File exists."
### Description of your issue:

I get this on every build, tried a reset:

git checkout -f develop --
fatal: Unable to create '/root/src/github.com/chssch/12k/.git/index.lock': File exists.

If no other git process is currently running, this probably means a
git process crashed in this repository earlier. Make sure no other git
process is running and remove the file manually to continue.

Link to

[2016-06-26 14:19] abhijitkini commented on #2739
@Gudahtt this was related to an issue we had https://github.com/Shippable/support/issues/2738.
Nodes are being provisioned normally since we implemented the fix. Do let us know if you see a delay.

[2016-06-26 15:42] #2739 closed

[2016-06-26 20:09] randomsync commented on #2725
@manishas I tried the yml and am getting a different error this time:

[code]
output here: https://app.shippable.com/runs/57702c3cd7b8e20c0089ce95

It could be that I have missed something minor, so let me know if I should create a separate ticket. Thanks.

[2016-06-26 20:17] abhijitkini commented on #2695
Closing the issue. Do let us know if you need further help on this issue.

[2016-06-26 20:17] #2695 closed

[2016-06-26 21:28] seanxe opened #2752 "pipeline not picking up new version"
No idea why this has started happening.

Successful CI build: https://app.shippable.com/runs/577045b6d7b8e20c008bd97f

Pipeline isn't picking up new version:
https://app.shippable.com/cellConfigs/573a1f8668530b0c008179d6/status

Last build version shows as # 25.

Been working fine - haven't updated shippable.yml for weeks.

Just had to rollback to an older version as build number 25 is broken.

[2016-06-27 06:37] jspanjers commented on #2606
Any progress on this yet?

[2016-06-27 06:40] gappleto97 opened #2753 "Is it possible to have unit tests in multiple languages?"
I have a [package](https://github.com/gappleto97/p2p-project) which groups together a javascript implementation and a python implementation. Is it possible to have unit tests on your platform in both of these languages, or do I need to have them in separate repositories for this to work?

[2016-06-27 08:21] bobbydeveaux commented on #2695
Thanks - I've not had chance to take a look since the sudoers file change - will update if I have any issues :)

Cheers

[2016-06-27 12:04] BrilliantBasicsSync commented on #2312
Thanks @pquentin ! :)

[2016-06-27 16:16] a-murphy commented on #2750
In what way did you set up the key on Bitbucket?  Is it the public key from the subscription settings page or your own key?  It looks like it's trying to use the deployment key for the project, which means that it either didn't find your key or the subscription key doesn't have permission.

If it's your own key, the documentation on [key integrations](http://docs.shippable.com/int_keys/) is availa

[2016-06-27 17:57] stephanielingwood commented on #2753
Hi @gappleto97,

Yes, you can have both your JavaScript and Python unit tests in the same repo, and run in the same build on Shippable.

The easiest way to do this would be to specify node_js as your language, since python already comes installed on our node images by default. Your yml would then look like this:

[code]
That should cover a lot of scenarios.

If you want a more tailor-made set-up,

[2016-06-27 18:09] ivanoats commented on #2750
It's a key integration. I tried adding it to shippable.yml but I still get the same error. They key has permissions on the repo.

[2016-06-27 18:16] bholzer opened #2754 "Deployment to ECS fails. /home/shippable/cexec/build.sh not found."
I have a Cell with one image being deployed to ECS. The deployment fails with an error from the ecs agent:

`Reason DockerStateError: Container command '/home/shippable/cexec/build.sh' not found or does not exist.`

My builds are using the default Shippable Node.js container.

Any help is much appreciated, thanks.

[2016-06-27 18:20] a-murphy commented on #2751
It looks like the partial clone on the cancelled build 34 caused the problem with cloning the repository on the node for your pre_ci step.  Unfortunately, there's not really a way to get out of it right now without resetting the node (or waiting for it to be replaced when it's not busy if it's a Shippable node).

[2016-06-27 19:29] bholzer opened #2755 "Documentation Request: Many blog posts refer to the old shippable.yml format."
As a new customer, I am running into some confusion when reading older blog posts referring to (what I assume is) the old `shippable.yml` format.

For example, [this post on caching build containers](http://docs.shippable.com/ci_configure/#setting-your-build-image) talks about caching items in the `before_install` section of the yml file which appears to no longer exist.

[2016-06-27 20:08] abhijitkini commented on #2755
@bholzer thanks for the feedback. You are correct that the older blog posts refer to the old `shippable.yml` format.

A built-in yml translator does translates from the old to the new format. Read more about the translation from the old to the [new format here](http://blog.shippable.com/migrating-to-the-new-build-platform)

We will update the older blogs that reflects this message.

[2016-06-27 20:16] a-murphy commented on #2750
It looks like it really wants to use the deploy key in that case for some reason, and unfortunately the deploy key is valid with read access so it stops there.  I've found one way to tell ssh-agent to use your key instead though.  Adding `- echo -e "Host bitbucket.org \n\tIdentityFile /tmp/ssh/MyKeyIntegrationName \n\tIdentitiesOnly yes" > ~/.ssh/config ` to your shippable.yml before the `git push

[2016-06-27 20:27] trriplejay commented on #2752
@seanxe are you still having trouble? it looks like you have a more recent image tag now. Was the tag sync just slow?

[2016-06-27 20:34] trriplejay commented on #2754
It looks like you're pushing the build image and attempting to deploy it.  Our build images have entry points that are set up to run a CI job.  The file that it cannot find is mounted onto the container when a build is run on Shippable, but it does not exist as part of the image itself.

I'd recommend that you docker build and push an image based on your own Dockerfile that will just include your

[2016-06-27 20:38] bholzer commented on #2754
Perfect, this is exactly what I was looking for. Thanks.

[2016-06-27 23:08] abhijitkini commented on #2755
The [blog on caching](http://blog.shippable.com/container-caching) has been updated to reflect the above message.

[2016-06-27 23:08] #2755 closed

[2016-06-28 05:53] spsiddarthan commented on #2743
@mattclay, GitHub has confirmed that they recently started setting the committer for web-based Git operations as GitHub <noreply@github.com> and this is the intended behavior from their side.

You will still be able to get the notifications for non-web based commits. We are figuring out the options for the web based github commits and will keep you posted as we make progress on this.

[2016-06-28 06:29] bakersemail opened #2756 "IE11 does not work for any site on shippable.com"
At work I am forced to use IE11 but the shippable website does not load.
It gets stuck on the first page with a spinning loading wheel.

A javascript error appears in the debug window (if open). Screenshot available at http://i.imgur.com/xdGKqXV.png

This is severely hampering us from adopting shippable at my workplace.

[2016-06-28 09:35] devillex commented on #2721
Thanks for the update @trriplejay.

I tested as requested and the following seems to work:
- Clearing the cache by including '[reset minion]' in the commit message
- Uploading of the 'new' cache during the same build

I did have an error on the next very next build (after clearing the cache) though.

I had the following error during the 'setup_ve' step of the build:
[code]

I'm not sure if this is

[2016-06-28 09:37] devillex commented on #2720
I haven't had a chance to test, but was this maybe resolved by the chance for #2721?

[2016-06-28 10:05] bobbydeveaux opened #2757 "ImportError: cannot import name Config"
I'm opening this ticket to document this problem/solution and I'll immediately close it.

Get a config error when running eb init.

[code]

The solution is to pip install --upgrade botocore so that botocore is 1.0.1

refs https://github.com/boto/botocore/issues/593

[2016-06-28 10:05] #2757 closed

[2016-06-28 10:14] FelixSchwarz opened #2758 ""Invalid RUN language: python" - unable to run CI for Python project (BitBucket)"
I have a simple Python project on BitBucket and I enabled it via the shippable web ui as usual.

The first thing I noticed is that there is only a "provision" button after enabling the project (which is strange, previously shippable used to start a build immediately and I see a "build" button only).

Then the build immediately fails with the error message "common2|_cleanRunYml|callerId:564c61348bf

[2016-06-28 10:17] rageshkrishna commented on #2758
It looks like you may have enabled your repository as an "Infra" project. Please go to the settings page for your project and hit the "Delete" button to undo this, and then head over to the "CI" tab and enable it from there.

Infra projects are meant for terraform deployments and do not allow languages to be specified in the YML.

[2016-06-28 10:24] FelixSchwarz commented on #2758
Yes, thanks a lot. I didn't notice  that it was in "infra" mode.

Btw: I find the "infra" naming a bit confusing - seems to easy to me to use the wrong mode and the error message doesn't really help. But that's a different issue.

Thank you very much for your quick reply.

[2016-06-28 10:24] #2758 closed

[2016-06-28 10:53] devillex commented on #2720
I can confirm that this now works perfectly. Thanks for the support! I believe it may have been fixed with what was done to resolve #2721.

[2016-06-28 10:53] #2720 closed

[2016-06-28 11:39] devillex commented on #2721
I also tried separately adding `npm config delete prefix` and `nvm use --delete-prefix v4.4.4` to the 'post_ci' section, but still got the same error under 'setup_ve' on subsequent build jobs:
[code]

[2016-06-28 13:10] devillex commented on #2721
Ok, I basically gave up on caching global node modules installed through 'nvm'.

Everything works now. I can confirm that this issue is indeed resolved.

[2016-06-28 15:19] knowredev opened #2759 "awsebcli fails"
Hi, the following build starts to fail recently on AWS EB integration:
https://app.shippable.com/runs/577291b95de4de0c00e3cb2c

[code]

The `awsebcli` seems to be started to have `ImportError` on `botocore.config` and I cannot think any way to fix it in user zone. The strange thing is that I don't experience this in the other project with very similar setting.

Thanks in advance,
Kurt

[2016-06-28 15:48] a-murphy commented on #2759
Someone else has reported a similar error recently and fixed it by upgrading `botocore` (#2757).  So you may want to try upgrading `botocore` at the end of your `post_ci` section to see if that helps.

It's odd that this suddenly appeared without changing anything; we'll have to look into what may have caused it.

[2016-06-28 16:50] abhijitkini commented on #2757
@bobbydeveaux Thanks for logging this error and the solution here.

[2016-06-28 16:52] abhijitkini commented on #2751
@chssch Please let us know if you need further help. Closing the issue.

[2016-06-28 16:52] #2751 closed

[2016-06-28 16:54] mattclay commented on #2176
I'd like to see this specifically for PRs. When a new commit is added to an existing PR, it would be very nice to have the option to cancel any previous build for that PR. This should be configurable for PRs independently of builds for commits.

[2016-06-28 16:54] abhijitkini commented on #2711
@steelorbis Please let us know if you need further help on this issue.

[2016-06-28 16:54] #2711 closed

[2016-06-28 16:56] abhijitkini commented on #2718
@sshivaji following up on the information requested.

[2016-06-28 16:59] abhijitkini commented on #2726
@BryanCrotaz let us know if you need further help on this issue.

[2016-06-28 16:59] #2726 closed

[2016-06-28 17:03] abhijitkini commented on #2734
@rarkins are you still seeing the random slowness for the `pip install awscli` step?

[2016-06-28 17:08] a-murphy commented on #2759
I think I've found the cause of the sudden failure.  A new version of `awsebcli` was released, and `pip` is installing the new version.  3.7.6 runs without an error, but it looks like 3.7.7 needs a newer version of `botocore`.

[2016-06-28 17:09] abhijitkini commented on #2736
@jcgcecilia let us know if you need further help.

[2016-06-28 17:09] #2736 closed

[2016-06-28 17:28] abhijitkini commented on #2753
@gappleto97 let us know if you need further help with this issue.

[2016-06-28 17:28] #2753 closed

[2016-06-28 17:29] abhijitkini commented on #2754
Closing the issue. Let us know if you need further help.

[2016-06-28 17:29] #2754 closed

[2016-06-28 18:56] ivanoats commented on #2750
That looks like a good solution, but I'm still getting an error: `no such identity: /tmp/ssh/my-actual-integration-name: No such file or directory`

[2016-06-28 18:59] manishas commented on #2745
@a-murphy  can you look at this?

[2016-06-28 19:10] a-murphy commented on #2750
It's probably the dashes.  I forgot to mention to leave out any characters that aren't letters or numbers in the integration name when specifying the SSH key file.

[2016-06-28 19:11] ivanoats commented on #2750
That was it, thank you! Looking good!

[2016-06-28 19:11] #2750 closed

[2016-06-28 19:35] manishas commented on #2725
@randomsync sorry for the delay on this.... made a small tweak in the push section:

[code]

[2016-06-28 19:46] manishas commented on #2735
@rarkins I can label this a feature request and think through this a bit. The problem is that we cannot sync too often since this slows down the overall experience and makes it feel sluggish.

However, your scenario is probably not unique so I'll chat to the team about what we can do and get back to you.

[2016-06-28 19:54] mattclay commented on #2702
@rageshkrishna I've switched all of our CI containers to unprivileged per your suggestion. We do, however, have two jobs which each need to start one additional privileged container to work around issues with AppArmor configuration on the host.

Hopefully this change will reduce the chances of jobs getting stuck at boot_container.

[2016-06-28 19:55] abhijitkini commented on #2725
@randomsync do let us know if you need further help.

[2016-06-28 19:55] #2725 closed

[2016-06-28 20:15] manishas commented on #2756
@harryi3t we need to look at this....

[2016-06-28 20:46] mattclay commented on #2743
There's no rush on fixing this. We've decided to stick to IRC and Slack notifications instead of email.

[2016-06-29 00:40] wegenern opened #2760 "ImportError: cannot import name Config"
With no changes to our branches, we are now getting the following error in the Script.  None of our branches can currently build due to this.

[code]

[2016-06-29 00:44] abhijitkini commented on #2760
@wegenern can you give a link to your build?

[2016-06-29 00:47] stephanielingwood commented on #2760
Hi @wegenern,

We've seen this error a few times today so far - looks like a new version of awsebcli was released, and is looking for a newer version of botocore. For a fix, check out https://github.com/Shippable/support/issues/2759.

Marking this a duplicate of the above issue.

[2016-06-29 00:56] randomsync commented on #2725
Thanks, I'll try it tonight.

[2016-06-29 06:44] rarkins commented on #2734
I actually haven't had a need to run builds on this repo since then, but will trigger some manually to test soon. Thanks

[2016-06-29 06:51] sheldon-sminq opened #2761 "AWS region change"
We are currently in a process of migrating our aws resources to a different region, was unable to figure out where i can set the new region for the Shippable build process for Elastic beanstalk/Docker.

[2016-06-29 07:05] rarkins commented on #2735
@manishas thanks for the info.

Can I check my understanding - the Summary tab is only intended to show current/existing branches on GitHub? So that's why any tested branch disappears from there as soon as the build is finished, if it didn't exist the last time you sync'd branches with GitHub?

If so, I can now understand better why/how this design came to be, but it's still highly undesirable. I

[2016-06-29 12:44] bronislav commented on #2745
@manishas @a-murphy Is there are a way to create pull request to the drydock image?

There are a few more issues with it (f.e. missing dev packages for postgres) and I would like to fix them.

[2016-06-29 16:18] a-murphy commented on #2745
There are repositories for all of the drydock images here: https://github.com/dry-dock/.  And the image you are using is this one: https://github.com/dry-dock/u14ruball.

[2016-06-29 16:56] stephanielingwood commented on #2761
To set the new region, you'll need to change it in your yml. Specifically, look for the AWS integration in the integrations block of your yml, and update the "region" setting to your new region. Here's an example:

[code]

For more information, check out our [docs on using Elastic Beanstalk](http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk).

[2016-06-29 17:01] sheldon-sminq commented on #2761
I currently use the following in my yml

post_ci:
       - cp -r ./target/* ./shippable/buildoutput
       - cp ./src/main/resources/build/test.sh ./shippable/buildoutput
       - cp ./test-api.yml ./shippable/buildoutput
       - sudo docker build -t test/baseimage:$BRANCH.$BUILD_NUMBER .
       - sudo docker push test/baseimage:$BRANCH.$BUILD_NUMBER
       - export EBS_IMAGE_TAG=$BRANCH.$BUILD_N

[2016-06-29 17:12] stephanielingwood commented on #2761
Based on that snippet of yml, it looks like you aren't specifying a deploy integration for AWS. Is that the case, or is it in a different section of the yml?

[2016-06-29 17:26] sheldon-sminq commented on #2761
In my shippable setup i deploy a docker application to AWS elastic
beanstalk, so i have a deploy integration along with a hub integration.

Shippable creates and image pushes it to docker hub, and then uses ebcli
commands to deploy the docker hub registry to the elasticbeanstalk
application.

But i have never set a region, so not sure where is shippable picking up
the default region.

I have attac

[2016-06-29 17:36] bronislav commented on #2745
@a-murphy I've created PR. May someone review it?

[2016-06-29 17:51] stephanielingwood commented on #2761
Would you mind sharing the section of your yml where you declare your deploy integration for AWS?

Also, FWIW, the attached build log didn't come through. If you add a link to your build, though, we can take a look at the logs (and the project) directly.

[2016-06-29 21:38] FelixSchwarz opened #2762 "build fails but no output in console after "bash --version""
Tests for a project of mine always fail but there is no output in console after "bash --version" so I'm not sure what is wrong there.

Project URL: https://app.shippable.com/projects/57743d953be4f4faa56b4308
Build URL: https://app.shippable.com/runs/57743db3d7b8e20c004d8ffd

After clearing the cache or resetting the project I see a lot of error messages from shippable like:

    (Id: 2000) No acce

[2016-06-29 22:21] a-murphy commented on #2762
We've been able to reproduce the sudden build failure; it's the function name in double quotes in your commit message.  We'll fix that.

For the empty webhook request logs, have there been any commits to the repository since it was last enabled or reset?  If the project's been reset, the webhook will have been replaced.

[2016-06-29 22:26] bobbydeveaux commented on #2695
CentOS is the distro btw.

The solution was:

[code]

[2016-06-30 00:02] #2745 closed

[2016-06-30 00:33] a-murphy commented on #2762
We've fixed the error with the double quotes in the commit message.  If you re-run your build, it should run.  Let us know if you have any more problems, or if builds aren't being created for commits.

[2016-06-30 01:57] sheldon-sminq commented on #2761
I do not declare any AWS section in my yml, currently it just works with
the hub integration.

Attached a build log which is a successful build for ap-southeast-1 region.

https://app.shippable.com/runs/576fec54561e0a0c00d9be1f

On Wed, Jun 29, 2016 at 11:21 PM, Stephanie Lingwood <
notifications@github.com> wrote:

[2016-06-30 02:07] wegenern commented on #2760
#2759 took care of it.  Thanks again!

[2016-06-30 02:07] #2760 closed

[2016-06-30 04:02] rarkins commented on #2734
Actually since removing the need for `pip` and `s3 cp` I'm unable to reproduce anymore, so closing.

[2016-06-30 04:02] #2734 closed

[2016-06-30 04:04] randomsync commented on #2725
@manishas thanks, it worked.

[2016-06-30 07:34] ashernevins opened #2763 "npm install - ECONNRESET"
Multiple consecutive builds have failed due to network connection resets during npm install.

I am unsure if this is a localised issue with shippable and npm or a more general networking problem. I can run the builds fine elsewhere.

Example: https://app.shippable.com/runs/5774ca9ad7b8e20c0061b981

[2016-06-30 07:50] FelixSchwarz commented on #2762
Thank you very much for the fast bug fix. It is working fine now .-)

[2016-06-30 07:50] #2762 closed

[2016-06-30 08:18] bobbydeveaux commented on #2761
@sheldon-sminq please can you share your full shippable.yml file?

The only integration we can see so far, is that you have is a DockerHub integration, so Shippable will not be deploying to AWS. To deploy to AWS with Shippable, you must have  an AWS Integration, of which you must specify a region, unless you have also put 'eb init', & 'eb deploy' somewhere in your shippable file?

On your local ma

[2016-06-30 08:20] bobbydeveaux commented on #2759
The solution is here:
https://github.com/Shippable/support/issues/2757

[2016-06-30 08:21] bobbydeveaux commented on #2760
@wegenern you should have searched pre-existing issues first :)

https://github.com/Shippable/support/issues/2757 <-- solution the other day.

[2016-06-30 08:56] sheldon-sminq commented on #2761
language: java
 # jdk tag
 jdk:
   - oraclejdk8
 services:
  - redis
  - mysql

 env:
  global:
     - secure:
YmnmUtDvTipSbmaHCjhdSRHX1dJgNfpfpMjN+FPEeCXFrHI/YVSlPVAH/daomspKiIR1GUszvdom6AZej/fl+Wz0nCzLxIc4Bv5GQgzHP7dfRNYQHfT7tY17wmEF1SsV43Ukoo+U6CZmPBhsbDv0/LByK7bA1+7ueINfSjlkwNVbbNnECeDq2q1ONK7jZcEcDfkt4RwwMRNWLGUQQVPvFbBmLHgX9RWu3mnC3dldG9CrYKQlxMb9+4575Gep3fSzDTufo7sTysUbj3DQ5h7lXDctZLEzo4ROW

[2016-06-30 10:48] bobbydeveaux commented on #2761
Your yaml file is not making any AWS deployment at all. What leads you to believe that your AWS environment is being updated?

[2016-06-30 10:49] sheldon-sminq commented on #2761
Well I have been running my staging apps with the same config since a while
now.

I also attached the log for a successful build.
On 30 Jun 2016 4:18 p.m., "Bobby DeVeaux" <notifications@github.com> wrote:

Your yaml file is not making any AWS deployment at all. What leads you to
believe that your AWS environment is being updated?

—
You are receiving this because you were mentioned.
Reply to this

[2016-06-30 11:26] bobbydeveaux commented on #2761
I do not have access to your build as I do not work for Shippable.

Do you have any logs that suggest it is deploying to AWS? Can you copy/paste?

Cheers

[2016-06-30 12:11] jcgcecilia opened #2764 "Build not faster when cache enabled."
Hi
I am not noticing any improvement in my build times with cache enabled. I haved added a set of directories as explained in the documentation.
_build:
  cache: true
  cache_dir_list:
    - dir1
    - dir2_

I ignore if I am doing something wrong. I have tried to find similar issues hoping to find a solution for this or at least a hint. No luck so far.

What am I doing wrong?

- https://app.shipp

[2016-06-30 16:50] a-murphy commented on #2764
I don't see anything in your build log to indicate that the cache isn't working.  Do you have some way of knowing that the contents of the directories listed aren't available in the next build?

Usually, the directories to cache would be chosen to avoid downloading something every build.  In that case, the installer used will check if it's already there before downloading the cached files, skippin

[2016-06-30 17:23] stephanielingwood commented on #2761
@bobbydeveaux thanks for chiming in. :)

@sheldon-sminq Looks like you set up your AWS integration at a time when it was configured through the UI. We've since moved to configuring deploy integrations via the yml, as it allows for version control of your deployment settings.

We did, however, maintain backwards compatibility for those users - like yourself - who had set up their EBS deployments th

[2016-06-30 17:29] abhijitkini commented on #2763
One of the ways to address network connection resets is to use the [`shippable_retry` command](http://docs.shippable.com/ci_configure/#retrying-a-command) in the `shippable.yml` file. We have a few examples in our [blog](http://blog.shippable.com/automatically-retry-scripts-to-avoid-network-hiccups-during-ci-process).

Let us know if you see an improvement by implementing this command.

[2016-06-30 17:30] #2759 closed

[2016-06-30 17:33] abhijitkini commented on #2752
@seanxe let us know if you need further help with this issue.

[2016-06-30 17:33] #2752 closed

[2016-06-30 17:36] abhijitkini commented on #2689
@rachellawson following up to see if the above recommendation worked.

[2016-06-30 17:45] sheldon-sminq commented on #2761
@stephanielingwood thanks for the detailed explanation, will update my yml files accordingly

[2016-06-30 18:08] ryancampbell opened #2765 "AWS EB Docker deploy always failing now"
Check out the build below. This has been running successfully for a month but now the pip install awsebcli command and all eb commands are failing. Possible a new version of python, pip or eb is causing the issue?

https://app.shippable.com/runs/57755d95561e0a0c00da798f

[2016-06-30 18:17] a-murphy commented on #2765
It's a new version of `awsebcli`, and it's failing because it needs a newer version of `botocore` than is installed.  Just update `botocore` in `ci` or `post_ci` and it should work.

Duplicate of #2760, #2759, and #2757.

[2016-06-30 18:20] abhijitkini commented on #2765
We have updated the [troubleshooting section of our documentation](http://docs.shippable.com/ci_troubleshoot/#importerror-cannot-import-name-config) to handle this error.

Let us know if you need further help on this issue.

[2016-06-30 18:20] #2765 closed

[2016-06-30 18:21] ryancampbell commented on #2765
Great thanks! Trying it now

[2016-06-30 19:01] DaHoopster opened #2766 "Dedicated hosts"
### Description of your issue:
I found this blog from 2014: http://blog.shippable.com/dedicated-hosts- I'd like to create dedicated hosts for our build. I can't find the __startup__ plan anymore. What do I need to do to set this up?

- Link to the build failure
- Scripts called from the yml (optional)

[2016-06-30 19:04] abhijitkini commented on #2766
@DaHoopster we support dedicated hosts. Read more about [Bringing Your Own Hosts (BYOH)](http://docs.shippable.com/ci_byoh/) in our documentation.

[2016-06-30 19:12] abhijitkini commented on #2766
Let us know if you need more help on this issue.

[2016-06-30 19:12] #2766 closed

[2016-06-30 21:02] ggleason opened #2767 "Deploy using custom deploy yaml file"
Is it possible to setup shippable to deploy to an ECS cluster based on a custom deploy script using a custom deploy yml file?

For example deploying using this script and the generated deploy yml file it points to.

/usr/local/bin/ecs-cli compose --debug --file generated-deploy.yml --project-name `perl -ne 'print $1 if /SERVICE_NAME:s*(.*)/' generated-deploy.yml` service up

[2016-06-30 23:11] mattclay commented on #2679
Was there ever any resolution to this? We've had another user (nitzmahone) encounter the same problem.

[2016-07-01 00:19] trriplejay commented on #2679
We haven't been able to find any specific errors pertaining to this user's permissions sync, and we have been unable to reproduce this problem.  Maybe you can help us out with some additional info:

1. had this user logged into Shippable before being a collaborator on the project?
2. After logging in, did the user navigate to the project page via UI dropdown or via direct project link? If the user