[2018-07-13 16:53] trriplejay commented on #4457
One option would be to utilize the [BYON feature](http://docs.shippable.com/platform/tutorial/runtime/manage-byon-nodes/) to attach machines to your subscription that are already in your private network.  This way, there would be no special permission or connection required, since it would be your own machine that is already part of your network.

What kind of resources are you trying to access? I

[2018-07-13 22:08] cristianszz commented on #4438
Hi, @manishas no, thanks for support.

[2018-07-13 22:40] manishas commented on #4438
:+1:

[2018-07-13 22:40] #4438 closed, assigned to nobody

[2018-07-13 22:41] #4455 closed, assigned to nobody

[2018-07-13 22:43] manishas commented on #4454
@cristianszz did this work for you?

[2018-07-13 22:44] manishas commented on #4423
@bram-rongen I am closing this issue since the question was answered, but please let us know if you have any follow up questions.

[2018-07-13 22:44] #4423 closed, assigned to nobody

[2018-07-13 23:12] manishas commented on #4395
The docs have been updated.... closing this issue.

[2018-07-13 23:12] #4395 closed, assigned to nobody

[2018-07-13 23:14] manishas commented on #4440
@provScottGiminiani I am closing this issue since the question was answered, but please let us know if you have any follow up questions.

[2018-07-13 23:14] #4440 closed, assigned to nobody

[2018-07-13 23:15] manishas commented on #4364
@clippermadness I am closing this issue since the question was answered, but please let us know if you have any follow up questions, or if you couldn't get the workflow you needed and have a feature request.

[2018-07-13 23:15] #4364 closed, assigned to nobody

[2018-07-13 23:17] manishas commented on #4360
@StuporHero do you still need this now that you found a way to work around this? We haven't heard this request from anyone else, so trying to assign a priority to it.

[2018-07-14 00:20] manishas commented on #4285
@BryanCrotaz We're trying to minimize these crossed paths with modern SPOG, but reordering by the user isn't on the roadmap. Closing this issue, please let me know if I misunderstood the suggestion....

[2018-07-14 00:20] #4285 closed, assigned to nobody

[2018-07-14 00:21] manishas commented on #4279
Dup of #4286

[2018-07-14 00:21] #4279 closed, assigned to nobody

[2018-07-14 00:22] manishas commented on #4204
I am closing this issue due to lack of response. @andye2004 if you are still running into this, let us know.

[2018-07-14 00:22] #4204 closed

[2018-07-14 00:24] manishas commented on #4188
Closing this issue since I'm assuming it was addressed offline.

@fk-hb can you open up a new issue if you still need help with your question? Sorry it fell through the cracks :(

[2018-07-14 00:25] manishas commented on #4154
@phagunbaya I am closing this issue since the question was answered, but please let us know if you have any follow up questions.

[2018-07-14 00:25] manishas commented on #4098
@depohmel do you still need help with this?

[2018-07-14 00:28] manishas commented on #4112
@andye2004 sorry for the late update, but this was fixed a few weeks ago. PRs for branches of public repos should now work.

[2018-07-14 00:29] manishas commented on #4136
@aurelien-reeves can you explain the use case for this? We haven't heard this from anyone else, and we want to be careful not to add too many options that might not provide a huge benefit. So I'd love to understand if there is a specific scenario that is blocked due to the current build being canceled?

[2018-07-14 00:30] manishas commented on #4137
@grouxsome do you still need help with this?

[2018-07-14 00:46] BryanCrotaz commented on #4285
I meant that the layout renderer should be allowed to reorder nodes in order to reduce line crossing. Not that the user could do it.

[2018-07-14 14:26] StuporHero commented on #4360
@manishas I suppose it isn't absolutely necessary, but it would help. I can't really do anything with it until August anyway.

[2018-07-16 08:55] mbrodala commented on #4456
Before continuing on this I should probably ask if my intention has a solution at all:

Is it possible to run a few commands in a `runSh` before `runCI` (and later possibly other `runSh`) and then preserve some state from `runSh` for the `runCI` execution?

To be specific I'd like to e.g. run `npm install` and `composer install` only once and then have a bunch of `runCI` jobs running in parallel (

[2018-07-16 09:07] rageshkrishna commented on #4456
I don't think that's going to work like you expect it to because these are two independent jobs and there's no real guarantee that they will run on the same host. The only "built-in" way to share state across jobs right now is to use job state or a `state` resource, but these are currently limited to 1MB, so it's unlikely that it will be sufficient for your use case.

You could potentially set thi

[2018-07-16 09:15] mbrodala commented on #4456
Thanks for clarification. I assume [`image`](http://docs.shippable.com/platform/workflow/resource/image/) won't help me here either since I'd really need to push the current state as image to some registry first before it could be used as base for following jobs. That by itself will impose overhead again which I'm trying to get rid of.

So I guess I'll need to stop here, but I've at least finally

[2018-07-16 09:15] #4456 closed, assigned to nobody

[2018-07-16 09:24] mbrodala opened #4458 "Use shared deploy job with parameters"
We currently have many repositories with PHP packages which trigger a Composer repository ([Satis](https://getcomposer.org/doc/articles/handling-private-packages-with-satis.md#satis)) update after a successful build.

I'm thinking about moving the deploy step to a `runSh` job and have it set up so that arbitrary package repositories can trigger that job. For the Satis credentials I will use a [`pa

[2018-07-16 12:02] vidiecan opened #4459 "Problems adding output resource to runCI job"
### Problem
failed rsync: https://app.shippable.com/bitbucket/mazoea-team/jobs/te-binaries_ubuntu14_rSync/builds/5b4c73428506c307008f325c/console
[code]

But in `Enable Project...` I see `te-binaries` with green `Enabled CI` and in `Add Assembly Line` I see te-binaries_{master,ubuntu14}.

### What do I want

I push a tag to repo1, repo1 runCI updates resource1, which is used as IN in for job1 that

[2018-07-16 12:35] mei-li commented on #4457
We already have docker registry integration. It seems after some discussion we can reduce our needs and only need an ssh tunnel to forward a couple of port to access some solr indexes. Is there a way to do this securely with the on demand machines?

[2018-07-16 14:47] mbrodala opened #4460 "Nightly CI build for multiple branches"
The [`time` resource](http://docs.shippable.com/platform/workflow/resource/time/) can be used to [set up nightly CI builds](http://blog.shippable.com/setup-nightly-builds-on-shippable).

However, I need to do this for various branches, thus not only `master` but also `foo`, `bar`, etc since all of these cover a supported release version.

Is there any way to trigger nightly CI builds for each bran

[2018-07-16 15:48] trriplejay commented on #4457
Perhaps the [ssh key integration](http://docs.shippable.com/platform/integration/sshKey/) would meet your requirements? You can generate a new sshkey, copy the public key to whatever machine you want to tunnel into, and if you include the integration in your build, the private key will automatically be available on the build machine.

[2018-07-16 15:49] a-murphy commented on #4459
It looks like your project was enabled before March 2017.  Projects created before then do not have automatically created runCI jobs, so you'll need to go to the CI project settings page (click on the project name, `te-binaries`, and then the gears in the top right) and click the "hook" button in the second to last panel.  After that, you should be able to rerun your rSync job.

[2018-07-16 17:06] a-murphy commented on #4458
As long as the `state` resource contains all the information your `runSh` job needs, there shouldn't be any problem with using a `state` resource updated by many other jobs as input.  You may want to add [`dependencyMode: immediate`](http://docs.shippable.com/platform/workflow/job/overview/#job-trigger-modes) to the `runSh` job with so many independent inputs, but that will just make sure that it'

[2018-07-16 17:07] trriplejay commented on #4460
At this time, we don't have a way to trigger a particular branch for a runCI job via time resource.  It will always trigger the default branch.  This is something we're looking to enhance in the future.

Today, the best workaround is to use an intermediate runSh job plus API calls to manage the branches.  That would look something like this:
- your time resource is an IN to a runSh job.
- you have

[2018-07-16 18:08] #4459 closed, assigned to nobody

[2018-07-16 20:22] ConfuzzledRegistrationDev opened #4461 "Account Blocked"
Trying to create a new account using Github results in "account blocked" error.

The Github username is this one, `ConfuzzledRegistrationDev`.

Can you help?

[2018-07-16 20:23] a-murphy commented on #4461
Our algorithm automatically flags potentially malicious accounts but it does give some false positives. Sorry about that... I have unflagged your account so you should be able to sign in.

[2018-07-16 20:24] ConfuzzledRegistrationDev commented on #4461
Thank you very much. :-)

[2018-07-16 20:24] #4461 closed, assigned to nobody

[2018-07-16 21:39] vinaganti opened #4462 "need help to create a pipeline with AWS ECS with autoscaling and ALB option"
### Description of your issue: i am looking for help to set up a ECS autoscaling with ALB
Please provide any use cases and sample shippable configuration for my use case, also please let me know that should i provision a autoscaling with ECS cluster prior to shippable configuration or will  shippable take care of creating autoscaling?

NOTE: If you are experiencing a build failure, please include:

[2018-07-16 22:03] trriplejay commented on #4462
There are two forms of autoscaling with ECS.  The cluster can autoscale its nodes, and a service can autoscale its tasks.  I'd recommend that you set up your cluster with node autoscaling ahead of time.  Then you can add this cluster to shippable as a resource in a deploy job.  You can then use the [replicas resource](http://docs.shippable.com/platform/workflow/resource/replicas/) to set up ECS ta

[2018-07-16 22:44] manishas commented on #4458
@mbridala I want to confirm we understand your scenario. Here is what you're hoping to implement:

![image](https://user-images.githubusercontent.com/2983749/42787291-b2d60ca2-890e-11e8-8e24-dfecc3a4716b.png)

You want the runSh job to be updated each time the intermediate resource is updated by some runCI job.

If that is correct, you should not use the `state` resource as the intermediate. `stat

[2018-07-16 22:45] manishas commented on #4454
I am closing this issue, but @cristianszz if you have any followup questions, please let us know :)

[2018-07-16 22:45] #4454 closed, assigned to nobody

[2018-07-16 22:48] manishas commented on #3007
This issue unfortunately fell through the cracks and it's been 2 years since it was opened :( Closing unless someone still runs into this with new build images.

[2018-07-16 22:48] #3007 closed

[2018-07-16 22:50] manishas commented on #3450
Closing this since it's a stale issue. If anyone is still running into this, please let us know.

[2018-07-16 22:50] #3450 closed

[2018-07-16 23:42] johnboyer opened #4463 "Unable to Stop Job in Processing Mode"
### Description of your issue:

I'm unable to stop a job that has been processing for more than 5 hours. The link to the job is below. Pausing and resetting does not work in the UI. Deploying a new build doesn't work either. Please stop the job, so that I an deploy a new build in the UI. Thank you.

Note: This has been a problem since GitHub's outage today.

Regards,
John Boyer

NOTE: If you are e

[2018-07-16 23:45] a-murphy commented on #4463
We've updated that job to "canceled."  Let us know if you have any other problems.

[2018-07-17 07:02] mei-li commented on #4457
Thank you

[2018-07-17 09:38] mbrodala commented on #4458
@a-murphy Thanks for the hint.

@manishas Good suggestion to use `params` instead. That `params` resource could then be a `IN` for the `runSh` deploy job.

Can you provide two `shippable.yml` to illustrate how this would work? I'm not sure about this since the `params` resource would be shared globally and only allows for static values AFAIK. Or do you mean that the `runCI` of the projects use `sh

[2018-07-17 14:23] vinaganti commented on #4462
Hi John,
Thanks you for quick response!
i still have few questions about ECS auto scaling, please check the below replica shippable configuration for ECS service scaling and correct me if it is wrong.

resources:
  - name: deploy-ecs-replicas
    type: replicas
    flags:
      - deploy-ecs-frontend
    versionTemplate:
      count:               2
      minReplicas:         2
      maxReplicas:

[2018-07-17 16:03] a-murphy commented on #4458
CI YML:
[code]

Assembly Line YML (may be in more than one file if that is preferred):
[code]

Resources, including `params`, can be updated in jobs using `shipctl`.  The updated keys can either be ones that were defined in the YML or completely new ones.  If the resource is updated again in the YML (with changes to that specific resource, not just the file), then the changes made in the jobs will

[2018-07-17 17:15] johnboyer commented on #4463
Thank you, this issue is resolved.

[2018-07-17 17:15] #4463 closed, assigned to nobody

[2018-07-17 17:29] trriplejay commented on #4462
1. The min/max does not translate to node/cluster instance scaling, it only applies to service scaling.  If you need node/cluster scaling, you'll have to set that up manually when you create your cluster.
2. For service autoscaling, I'd recommend putting all of the details into your replicas resource and letting Shippable create the policy and metricAlarm on your behalf.
3. ResourceId, ScalableDim

[2018-07-17 19:44] danielahedges opened #4464 "Docker Multi-Stage Builds"
### Cannot get docker multi-stage build to work

The first part of my dockerfile is this:
[code]

And in my shippable.yml file, I'm running a script that includes the build docker image command:

[code]

I'm getting an error message:

[code]

Notice that the docker version numbers for both client and server are 1.13.0.

According to this document http://blog.shippable.com/multi-stage-docker-builds

[2018-07-17 19:54] a-murphy commented on #4464
Since you're using your own nodes to run builds, you'll need to initialize them with a newer version of Docker.  If you go to the [node pool](http://docs.shippable.com/platform/management/subscription/node-pools/) page for your subscription and click on the node pool, the nodes in that pool will be displayed.  You can then delete your existing node (you might want to copy the IP address first if y

[2018-07-17 20:19] danielahedges commented on #4464
Thank you! I hadn't realized the docker instance was on our own node. We're attempting to upgrade our node now.

[2018-07-17 20:19] #4464 closed, assigned to nobody

[2018-07-18 09:07] bradskuse commented on #4388
I am facing this exact issue currently.  I can ssh to a ubuntu build node but not a CentOS 7 build node.

The debug command is as the original poster said -> ssh -p 22 ubuntu@[ip]

Please can this be looked at again?

[2018-07-18 09:20] shrivara commented on #4388
Sorry about the trouble. This should be fixed now. Could you try again?

[2018-07-18 09:24] bradskuse commented on #4388
@shrivara just tried but got -> /home/centos/.ssh/authorized_keys 0s
/tmp/mexec/tmp-script.sh: line 79: /home/centos/.ssh/authorized_keys: No such file or directory

on the add_ssh_key build step

[2018-07-18 09:32] bradskuse commented on #4388
@shrivara fantastic! It is now working.  Thank you for the help.

[2018-07-18 12:31] michael-paddle commented on #4431
@manishas this has worked.  We did _have_ to fill everything in on the GitHub account owner's account and this _does not_ make sense since the credit card we wanted to use belongs to someone else.  Please do make this less confusing because we almost ended up not subscribing because it was not at all obvious what was wrong.

Still.  Problem solved.  Thanks for your and @trriplejay's help.

[2018-07-18 12:34] #4431 closed, assigned to nobody

[2018-07-18 13:36] atwiltshire opened #4465 "PostgeSQL and PHP"
### Description of issue:

I am trying to integrate PHPUnit tests into my CI flow, however I am experiencing issues with the Postgres DB as the required php extensions are not installed by default.

I initially tried to install the extension via pickle per the [documentation](http://docs.shippable.com/ci/php-continuous-integration/), however pickle is returning an error.
[code]
Looking over the[ p

[2018-07-18 14:06] allanyung opened #4466 "Build fails when enabling caching, but everything shows success in UI"
https://app.shippable.com/github/ImmersiveLabsUkOrg/shippable-test/runs/51/1/console - succeeds
https://app.shippable.com/github/ImmersiveLabsUkOrg/shippable-test/runs/50/1/console - fails

The only difference between these 2 runs is that the failed run has `cache: true` in the build section. Enabling caching causes the build to fail 100% of the time, but every step shows success in the UI. The de

[2018-07-18 16:19] trriplejay commented on #4466
This sounds like a duplicate of https://github.com/Shippable/support/issues/4297#issuecomment-400291289

As a workaround, can you try changing your runtime version to v6.1.4? You can do this by going to your subscription dashboard, then clicking settings in the top right -> node pools -> edit -> select v6.1.4 from the runtime version drop down box -> save pool.

it seems to be some combination of

[2018-07-18 18:18] a-murphy commented on #4465
PHP can't find `pgsql.so` because the `php.ini` file is configured with `extension_dir` `/root/.phpenv/versions/7.1/lib/php/extensions/no-debug-non-zts-20160303` and that's not where the `apt` command installed it.  You can try using a full path in the `php.ini` so that it will know where to look.  Since the path for `pgsql.so` installed with this method includes the date, I would suggest using `f

[2018-07-18 18:43] trriplejay commented on #4466
actually, I just realized that runtime version v6.1.4  is not available for u16 dynamic nodes which you are currently on.

Instead, the workaround is to add a pre_ci_boot section to your yml that tells the build to use the v6.1.4 version of the build image.  It would look like this:

[code]

or you could disable caching.

[2018-07-19 11:32] atwiltshire commented on #4465
Thanks I had't thought about the different install location.

Moving past the pgsql dependency issue I am now getting the following error.

[code]

I have added the following into my .yml file however this does not seem to be the solution, do you have any ideas?

`- pickle install apcu && echo "extension=apcu.so" >> $HOME/.phpenv/versions/$(phpenv version-name)/etc/p;`

- Link to the build failure

[2018-07-19 12:58] allanyung commented on #4466
Changing the runtime to v6.1.4 stops the caching from breaking the build. Not sure if you want to keep this bug open or not; there's a workaround but the original issue still exists. Cheers.

[2018-07-19 15:11] vinaganti commented on #4462
Thank you john!

every time i configure deployment method either upgrade or default(blue/green), it fails with the following error, only replace method works, can you please help me on this.

Desired count: 2, Running count:0, Pending count:0
Desired count: 2, Running count:0, Pending count:0
Desired count: 2, Running count:0, Pending count:0
f7423d0b-ebac-4f31-a277-392e3b14b2bf - (service deploy-

[2018-07-19 16:10] a-murphy commented on #4466
Since this was confirmed to be a duplicate of #4297, I'll close this one to keep all reports linked to a single open issue.  Progress on solving the issue will be announced in #4297.

[2018-07-19 16:10] #4466 closed, assigned to nobody

[2018-07-19 16:24] a-murphy commented on #4462
It sounds like you've mapped a specific port to be exposed on the host/container instance and don't have enough container instances in your cluster to start another container.  A `blueGreen` deployment will start all of the containers for the new service before stopping the old service, so you'll need to be able to run twice as many containers as you've specified in your YML (the previously deploy

[2018-07-19 16:35] oyving opened #4467 "gitRepo resources are marked as inconsistent"
I have some `gitRepo` resources marked as inconsistent, and I can't tell why based on the `rSync` job output:

[code]

Not sure how to proceed from this error message. Sample resource definition from the `shippable.yml` file.

[code]

[2018-07-19 16:51] a-murphy commented on #4467
It looks like the account integration linked to the "github" subscription integration doesn't have access to that project.  If the integration belongs to an account that should have access, you can ask that user to click the "sync" button on the account profile page.  Or you can update the subscription integration to use a different account or add a new subscription integration.

[2018-07-19 17:15] oyving commented on #4467
Yeah, I noticed the same thing and fixed it. Thanks!

Would have been nice with a better hint from the error message.

[2018-07-19 19:30] a-murphy commented on #4465
Did you mean to add `extension=acpu.so` to `php.ini`?  If so, it looks like you lost the last part of your file path in the `echo` command at some point and fixing that is likely to help.  The most common suggestion for similar errors seems to be to reinstall `apc`.

[2018-07-20 07:54] atwiltshire commented on #4465
Sorry, copy past error into the ticket. The `apc` extension had been installed (I have tried both an install via apt and pickle, both result in the same error.

[code]
I also printed the PHP.ini to ensure the extensions had been added.

[code]
Result:

[code]

[2018-07-20 23:29] a-murphy commented on #4465
One thing I noticed is that the `php-pgsql` package you are installing is installing `pgsql` for PHP 7.2.  I would suggest trying `php7.1-pgsql` because you are using PHP 7.1.

[2018-07-21 09:09] atwiltshire commented on #4465
Thanks, I had assumed that as I was setting the php version explicitly in the .yml file this would have been the default. I altered both the pgsql and apcu installs to use php7.1 and the issue remains. https://app.shippable.com/bitbucket/cardiffuni/php-app-toolkit/runs/61/1/console

[2018-07-22 01:21] nathanaherne opened #4468 "Update Docker on build container"
### Description of your issue:
Docker build fails with the message Unknown Flag: chown, which is the result of having this line in the Dockerfile `COPY --chown=node`

If I could change the Dockerfile to separate the COPY and chown commands I would do this but the Dockerfile I am running comes from a gitub repository.

I have tried to solve this by upgrading Docker on the build image running the fo

[2018-07-23 10:21] mbrodala commented on #4089
I now went with escaping the space which apparently does the trick, thanks for the suggestions.

[2018-07-23 10:21] #4089 closed

[2018-07-23 10:26] mbrodala commented on #3696
By now I finally understand how assembly lines work and think I can get this to work once I need to tackle this again. Thanks for the explanation!

[2018-07-23 10:27] mbrodala commented on #3525
This should be doable as explained in #3696.

[2018-07-23 15:17] nmarjanovic commented on #4468
Hi,

Asked many times before, you can't. They said, they will push docker 18+ this month. But i didn't get updates by mail (ups, they don't do that neither). Check their blog for updates.

P.S. Blog is working with https, but docs.shippable.com only http (people, it's 2018, https is default today) ;)

[2018-07-23 15:33] manishas commented on #4468
@ric03uec can you please follow up on the Docker version question?

@nmarjanovic @nathanaherne we publish release notes for each release at https://github.com/Shippable/admiral/tree/master/releaseNotes We’re working on a way to let customers subscribe to them so they can get automatic updates.

[2018-07-23 21:09] a-murphy commented on #4465
I'm not a PHP expert, so I'm not sure what the problem could be at this point.  It certainly sounds like something is looking for `pcre_exec` in the wrong place, but I don't know what or where it's looking.

You could try something similar to this workaround for another PHP issue a few years ago: https://github.com/Shippable/support/issues/2807#issuecomment-234156571, if you haven't already.  Most

[2018-07-24 03:53] ric03uec commented on #4468
@nathanaherne
- the solution that you're trying wont work because the build is running inside a docker container which means installing/upgrading docker in build steps will just install it in the container and not the host
- you could run build steps on the host using a  `runSh` job (http://docs.shippable.com/platform/workflow/job/runsh/#yml-definition) and upgrade docker. But since docker daemon

[2018-07-24 05:18] manishas commented on #4468
Just to put a rough ETA on this, we expect to launch Docker 18 support in the first week of August.

[2018-07-24 05:19] manishas commented on #4467
We're improving error handling for integrations, so this is already on our radar. Closing this issue since the original problem was resolved.

[2018-07-24 05:19] #4467 closed, assigned to nobody

[2018-07-24 05:19] manishas commented on #4462
@vinaganti I am closing this issue since the question was answered, but please let us know if you have any follow up qs.

[2018-07-24 05:19] #4462 closed, assigned to nobody

[2018-07-24 05:20] manishas commented on #4460
Closing this issue. Let us know if you have any follow up questions.

[2018-07-24 05:20] #4460 closed, assigned to nobody

[2018-07-24 05:21] manishas commented on #4458
Closing since the question was answered.

[2018-07-24 05:21] #4458 closed, assigned to nobody

[2018-07-24 05:27] manishas commented on #4428
This has been fixed with a better error message.

[2018-07-24 05:27] #4428 closed, assigned to nobody

[2018-07-24 05:28] manishas commented on #4468
Duplicate of https://github.com/Shippable/support/issues/4398. Closing.

[2018-07-24 05:28] #4468 closed, assigned to nobody

[2018-07-24 05:28] manishas commented on #4398
ETA for this is first week of August.

[2018-07-24 12:35] mbrodala opened #4469 "Enable "ldap" PHP extension"
One of our PHP projects uses a package which requires the `ldap` PHP extension so we added it to the according Composer manifest. However, it seems that the `ldap` PHP extension is not installed by default in the Shippable PHP build images.

We already have a setup which catches this and automatically [installs extensions via Pickle](http://docs.shippable.com/ci/php-continuous-integration/#install

[2018-07-24 15:45] aurelien-reeves opened #4470 "Node sizes in the documentation"
Hi,

What is the exact RAM size of on demand nodes?

If I take a look in your documentation here: http://docs.shippable.com/platform/runtime/nodes/ it says:

But it seems to be the half actually!?

[2018-07-24 15:50] manishas commented on #4470
We are in the process of moving all customers to those node sizes.

Your subscription might not be migrated yet, in which case you will have a 2 core 4gb machine for the L tier.

[2018-07-24 15:56] aurelien-reeves commented on #4470
Ok, great, thank you.

[2018-07-24 15:56] #4470 closed, assigned to nobody

[2018-07-24 19:44] Borda commented on #2931
I have it just now... https://app.shippable.com/github/Borda/pyBPDL/runs/200/1/console

[2018-07-24 19:54] a-murphy commented on #2931
In your case, the errors are while fetching package lists from packagecloud.io, and they reported an incident at the same time (http://www.packagecloudstatus.io/).  It should now be resolved.

[2018-07-24 20:50] aurelien-reeves opened #4471 "Cache make build failed since subscription upgrade"
We recently upgrade our subscription from 5 on_demand L nodes under ubuntu 14.04 to 5 on_demand XL nodes under ubuntu 16.04.

We did not change anything in our shippable.yml and in our scripts, so the config of the cache did not changed.

Since the upgrade we need to reset the cache for every build to make it pass. Otherwise the build failed at the "git sync" step with the error: "fatal: not a git

[2018-07-24 21:12] trriplejay commented on #4471
This seems to be a duplicate of #4297

A workaround for now would be to update your pre_ci_boot section to specifically use the `drydock/u16ruball:v6.1.4` image while we continue to investigate this problem.

[code]

I'll close this, but you can track the other issue for a resolution. Let me know if you have any questions.

[2018-07-24 21:12] #4471 closed, assigned to nobody

[2018-07-25 07:05] aurelien-reeves commented on #4297
We have issue with the cache too.
But nothing appears to be successful. The build_ci is even not executed, the process fail at "git_sync" step with message "this is not a git repo".

[2018-07-25 08:40] manishas commented on #4297
We’re working on fixing this. @rageshkrishna @ric03uec can look into the issue reported for git sync and build_ci not being executed...

[2018-07-25 10:34] michael-paddle opened #4472 "shipctl / [: too many arguments"
### Description of your issue:
When I run shipctl I get a strange error message:

[code]

I don't understand why this is because I have an almost identical shippable.yml with an almost identical integration which is working.

My build then fails later because I do not have the appropriate integration data.

- Link to the build failure

https://app.shippable.com/github/PaddleHQ/aws-cloudflare-deplo

[2018-07-25 11:32] michael-paddle commented on #4472
Having looked inside the build machine I notice that the integrations aren't working.  (from running shipctl with bash -vx)

[code]

Looking at the job, I can see that the YAML definition has not updated and doesn't .  Could that be related to the problem?

[2018-07-25 13:57] scriptnull commented on #4472
The job is expecting an [integration resource](http://docs.shippable.com/platform/workflow/resource/integration/) named `aws_dev` to be given as `IN` on the runCI job, so that the job could access the accessKey from it.

Example: The shippable.yml should resemble something like the below

[code]

Could you confirm if your YML contains `IN: aws_dev` ( like shown above ), else you could try adding i

[2018-07-25 14:20] michael-paddle commented on #4472
@scriptnull

Yes;  my jobs section contains aws_dev - like so

[code]

and my resources also matches that, starting like so:

[code]

[2018-07-25 16:23] trriplejay commented on #4472
I see that your sync jobs are paused. it looks like `aws_dev` has not been created yet, you may need to run the sync job manually so that it picks up the latest yml changes.

[2018-07-25 18:22] michael-paddle commented on #4472
@trriplejay

I have tried running all of the sync jobs that I am aware of previously.  I've just done it again in case I missed something since changing the configuration.  Perhaps I've missed something in the interface?  Could you point out exactly where I should go?

Is there any useful log I can provide you?  Do you need something more to be able to access the account.  There isn't really anyth

[2018-07-25 18:25] michael-paddle commented on #4472
N.B. even after pressing the sync buttons that I know about, the same failure happened again.

[2018-07-25 18:38] RedLucas opened #4473 "Github integration issue"
My github integration seems to have broken and I don't know how to fix. I've checked  the permissions. I don't know what changed since yesterday but I don't have access anymore. Is there anything more that you can see on your end. From what I can tell everything is configured properly and the permissions are set appropriately as well.

https://app.shippable.com/github/advisorwebsites/d8platform/ru

[2018-07-25 18:43] trriplejay commented on #4473
it's possible that the deploy key was deleted from github.  Can you try navigating to your project settings page, and click the "reset all keys" button near the bottom?  That should create a new deploy key.

![image](https://user-images.githubusercontent.com/6869398/43220856-f70b07fe-8fff-11e8-8035-a35286cb8132.png)

[2018-07-25 18:48] trriplejay commented on #4472
actually I'm referring to the rSync jobs, not the account/project sync buttons. I see 2 rSync jobs in your subscription which are paused, and haven't been run since 6/30.  are you able to see these jobs?

![image](https://user-images.githubusercontent.com/6869398/43220343-a7718fac-8ffe-11e8-91e7-607832dfa746.png)

![image](https://user-images.githubusercontent.com/6869398/43221061-8d5f188a-9000-11

[2018-07-25 19:34] RedLucas commented on #4473
Yes, thank you! I wasn't 100% if that would fix it, didn't want to risk making matters worse and more complicated if that didn't fix it.

Thanks for your help.

[2018-07-25 19:34] #4473 closed, assigned to nobody

[2018-07-25 19:45] michael-paddle commented on #4472
@trriplejay

Sorry, now I understand.  Both of those jobs were created related to the aws-cloudflare-secgroup repo not the aws-cloudflare-deploy job.  There should be no connection to the problem.

Sorry for the naming but the second repo is created to do things with the first repo ;-)

[2018-07-25 19:49] trriplejay commented on #4472
I see.  In that case, I think you will need to add the `aws-cloudflare-deploy` repository as a sync repo following the instructions [here](http://docs.shippable.com/platform/tutorial/workflow/add-assembly-line/).  Once it is added, the resources in your list should appear in your subscription.

[2018-07-25 20:44] vinaganti opened #4474 "Cancel managed jobs"
### Description of your issue: job is running since 2 hrs, can you please kill this job as we don't have that option and causing all other jobs queued up.

Job Id: 732603

NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
- Scripts called from the yml (optional)

[2018-07-25 20:47] trriplejay commented on #4474
I've marked the stuck job as failed, and your queued jobs are being picked up now.

[2018-07-25 20:48] trriplejay commented on #4469
we're investigating this.

[2018-07-25 20:56] vinaganti commented on #4474
Thanks you John,

what options do i have to stop these kind of bad jobs in future to allow other jobs?

[2018-07-25 21:00] trriplejay commented on #4474
typically deploy jobs have their own internal timeout that should cause them to fail if they get stuck. This job had some unusual error that prevented that from happening. Unfortunately the best way to handle this kind of error today is to open a support ticket. We have cancellation support for managed jobs in our current backlog.

[2018-07-26 10:52] oyving opened #4475 "Upgrade of node pool failed"
I tried to change the SKU and increase the number of nodes in our node pool through the billing page. However, that returned an error saying our existing node pool was still in use and could not be removed.

Now I am in a state where I can't provision the new nodes of the new SKU in the node pool setup, but the billing page shows you charged us and displays the correct number of nodes of the new S

[2018-07-26 11:10] shrivara commented on #4475
Sorry about the trouble. I've updated your subscription to reflect the billing update. Also, a new default node pool has been created to make use of the new licenses. All your new builds should be directed there.

I'll open an internal ticket to handle this better.

[2018-07-26 11:13] oyving commented on #4475
Thank you for the quick response!

[2018-07-26 11:13] #4475 closed, assigned to nobody

[2018-07-26 15:19] arturmatos opened #4476 "The path /usr/bin/python3.7 (from --python=/usr/bin/python3.7) does not exist"
### Description of your issue:

I'm trying to upgrade my build to use python 3.7. I've changed shippable.yaml to use python 3.7 like this:

[code]
But the build is currently failing on the setup_ve step with:

[code]

Can you please advise?

Link to the build:
- https://app.shippable.com/github/findpace/pricingmodels/runs/45/summary/console

[2018-07-26 16:23] a-murphy commented on #4476
This usually occurs when the version of Python you selected is not available on the build image.  A list of the images with each version of Python is available [here](http://docs.shippable.com/platform/runtime/machine-image/language-versions/#python).  For 3.7, you'll need to use a v6.5.4 image.  If you have specified the image tag in the `pre_ci_boot` section of your `shippable.yml`, you can upda

[2018-07-27 11:06] arturmatos commented on #4476
OK, that works. Thanks.

[2018-07-27 11:06] #4476 closed, assigned to nobody

[2018-07-27 13:19] oyving opened #4477 "gitRepo resource getting new versions when it shouldn't"
We have a few `gitRepo` resources defined as follows:

[code]

These resources are `OUT` for some `runSh` jobs and act as `IN` for jobs further downstream. The intended effect is that our `runCI` job will build `master` branch, and on success publish a version and git state for the other jobs to use.

However, we are seeing these `gitRepo` resources being triggered even when we are not making comm

[2018-07-27 20:02] trriplejay commented on #4477
the "branch" defined in the versionTemplate governs which webhooks it pays attention to, however since your resource is only updated via `replicate` action, it will always replicate the specified resource, regardless of branch settings.

I don't think there's any way to avoid this right now. I'll open a feature request to have replicate follow branch settings.

If this is critical, i think we coul

[2018-07-28 08:43] oyving commented on #4477
It would be great if we could have such a script until this feature is in place. Right now our pipeline is pushing untested code into production.

Would it be possible to schedule a meeting with you and do a review of our setup? I feel like we might be doing something wrong - or at least using your features in unintended ways. Using Shippable in idiomatic ways might help us run into less issues th

[2018-07-29 02:19] manishas commented on #4477
We can do a meeting and go over your setup... what time zone are you in? Let me know a few times that work and we can get that set up.

[2018-07-30 06:31] oyving commented on #4477
I am in CEST. I can pretty much have a meeting at any time between 9pm and 12pm my time. The sooner the better.

[2018-07-30 15:24] ghost opened #4478 "Lost free Node after changing plan"
### Description of your issue:
Hi we lost our free node after changing our plan from ubuntu 14 to ubuntu 16
How can I bring it back?

- link to account: https://app.shippable.com/accounts/59c125465b955c0700b67895/dashboard

[2018-07-30 15:53] trriplejay commented on #4478
we're investigating.

[2018-07-30 16:34] manishas commented on #4478
@pat-nomalab You were locked into an old pricing plan which is no longer offered by Shippable. Any changes to the plan results in being switched over to the new pricing model which is described at https://www.shippable.com/pricing.html

The current pricing model offers a free node with restrictions for private repo builds. A $25 upgrade removes the restrictions on the free node, and subsequent nod

[2018-07-30 16:41] ghost commented on #4478
So you telling that know paying $25 only remove the 150 build limit for private repo and if I want 2 concurrent jobs I have to pay $50??

[2018-07-31 04:26] manishas commented on #4151
This is complete... we have added SHIPPABLE_AMI_VERSION.

[2018-07-31 04:26] #4151 closed

[2018-07-31 04:28] manishas commented on #4128
This is being worked on as we speak.... it will be launched as early as next week.

[2018-07-31 04:31] manishas commented on #4277
This isn't on the roadmap as of now, so closing as deferred.

[2018-07-31 04:31] #4277 closed

[2018-07-31 04:36] manishas commented on #3906
This is not on the roadmap as of now, so closing as deferred. If we hear a lot of +1 feedback, it will be reopened and reprioritized.

[2018-07-31 04:36] #3906 closed

[2018-07-31 04:41] manishas commented on #3435
We now support node pools, and image versions are specified per node pool.

You can create a separate node pool with the older image version and tell your CI jobs that need older images to use that node pool by adding the following to **shippable.yml**:

[code]

[2018-07-31 04:41] #3435 closed

[2018-07-31 04:42] manishas commented on #3336
Closing since this is an old issue and there was no followup.

[2018-07-31 04:42] #3336 closed

[2018-07-31 04:43] manishas commented on #3323
We have improved the durations being shown since this issue was opened. Closing.

[2018-07-31 04:43] #3323 closed

[2018-07-31 04:45] manishas commented on #2978
There are a bunch of improvements we've made in this area, so you can attach the following for email notifications:
- Console logs
- Failing commands
- Code coverage reports

Config details here:
http://docs.shippable.com/ci/email-notifications/#advanced-config

[2018-07-31 04:45] #2978 closed

[2018-07-31 04:51] manishas commented on #2896
Haskell builds can be run with a custom Docker image or by installing the necessary dependencies. Closing as deferred, but will reopen if we see a lot of +1 feedback.

[2018-07-31 04:51] #2896 closed

[2018-07-31 04:55] manishas commented on #3006
We launched support for CentOS a few months ago, so you should now be able to just buy CentOS build nodes and run your builds.

Alpine images also work on Shippable, but we don't have a standard library of images. So the recommended approach is to use an Alpine image as a custom image in `pre_ci_boot` as John suggests above. I can point anyone who's interested to some samples.

[2018-07-31 04:55] #3006 closed

[2018-07-31 04:59] manishas commented on #3454
You can SSH into the build machine to debug build failures. Does that mitigate the need for this feature?

http://docs.shippable.com/ci/ssh-access/

[2018-07-31 14:24] TomasSjosten opened #4479 "Stage not set on cap deploy"
I use Shippable togheter with Capistrano. I can run Capistrano locally and it deploys the app. When doing locally i trigger `cap demo deploy`. But I always get a mysterious error message, see image below. I set a variabel, TARGET, but when using it's like it's not set.

[code]

Failing on these scripts:

[code]

Link to build: https://app.shippable.com/github/TomasSjosten/muddest/runs/1295/1/conso

[2018-07-31 16:52] a-murphy commented on #4479
Could you check that you have `demo` defined in your Capistrano config files and that the config has been committed and pushed to GitHub?  It looks like your other branches are working correctly and Capistrano just doesn't know what `demo` is.

[2018-07-31 17:32] TomasSjosten commented on #4479
Nice! It was driving me crazy, apparently someone had added gitignore on the config files.

[2018-07-31 17:32] #4479 closed, assigned to nobody

[2018-08-01 07:43] oyving commented on #4477
Hi?

[2018-08-01 13:19] ghost commented on #4478
I would like to cancel my subscription and go back to limited private repo, but I can't disable the option the checkbox is disable.

[2018-08-01 13:22] ghost commented on #4478
ok found it at the bottom of the page

[2018-08-01 13:22] #4478 closed, assigned to nobody

[2018-08-01 17:29] tbach opened #4480 "No access to shippable runs on collaborator repo"
### Description of your issue:
I am a collaborator on a private repo which is set up with Shippable. I have auth'd to Shippable with the related GitHub account, but I still can't see those repos in Shippable and clicking on run details from GitHub PRs takes me to a 404 within Shippable.

E.g. https://app.shippable.com/github/soby/appomni/runs/390/summary/console

[2018-08-01 17:37] manishas commented on #4480
Hello, can you check if you’re enabled private repos on Shippable?

Go to ‘profile’ in the left navbar and in the Git identities panel, both public and private should be checked for GitHub. If not, check private and go through the auth flow. You should also click on Sync after this.

Let me know if you still don’t see the repo in Shippable after this.

[2018-08-01 17:40] tbach commented on #4480
Thanks @manishas that seems to solve it

[2018-08-01 17:40] #4480 closed, assigned to nobody

[2018-08-01 18:37] manishas commented on #4472
Closing this since question is answered. @michael-paddle let us know if you have any additional qs.

[2018-08-01 18:37] #4472 closed, assigned to nobody

[2018-08-01 18:37] manishas commented on #4469
@trriplejay can you post an update to this issue?

[2018-08-01 18:38] manishas commented on #4465
@atwiltshire were you able to resolve this?

[2018-08-01 18:40] manishas commented on #4340
This isn't on the roadmap as of now, so closing as deferred. However, if we hear some +1 feedback, we will definitely bring it back into scope.

[2018-08-01 18:40] #4340 closed, assigned to nobody

[2018-08-01 18:43] manishas commented on #1091
This is an old issue, not sure if still relevant. We have launched a bunch of new images and platforms since then, such as CentOS, RHEL7, Windows, MacOS, and also Arm machines.

Closing as deferred.

[2018-08-01 18:43] #1091 closed

[2018-08-01 18:46] manishas commented on #2484
This issue stayed in the backlog for a while, and Atlassian is now deprecating Hipchat. Closing.

[2018-08-01 18:46] #2484 closed

[2018-08-01 18:49] manishas commented on #2545
@bbrala we have an Insights view that will tell you how long your builds were queued in the past week. To look at this, click on the icon for insights on the Subscription dashboard:
![image](https://user-images.githubusercontent.com/2983749/43542019-b84af124-9580-11e8-9303-76fc296bbcc3.png)

This will give you a view of the last 7 days:
![image](https://user-images.githubusercontent.com/2983749/43

[2018-08-01 18:49] #2545 closed

[2018-08-01 18:53] manishas commented on #2855
@Jan0707 not sure if this is still a problem?

[2018-08-01 18:55] #3798 closed

[2018-08-01 18:57] manishas commented on #3728
At this point, we don't have plans to implement the same functionality for CI, unless we hear a lot of +1 feedback. Closing as deferred.

[2018-08-01 18:57] #3728 closed

[2018-08-01 19:00] manishas commented on #3476
Closing since the deploy job issue is addressed. We're working on a broader effort to allow cancel for managed jobs as well.

[2018-08-01 19:00] #3476 closed

[2018-08-01 19:00] #3144 closed

[2018-08-01 19:00] #4073 closed

[2018-08-01 19:06] manishas commented on #4022
shipctl is now available for custom images as well as older images. Closing this issue as resolved.

[2018-08-01 19:06] #4022 closed

[2018-08-01 19:13] manishas commented on #3968
The latest images (6.4.4+) have 0.33.9. Closing this issue.

[2018-08-01 19:13] #3968 closed

[2018-08-01 20:39] manishas commented on #2719
This isn't currently in the roadmap, so I am closing as deferred. If we hear this feature request from additional folks, we will bring it back in scope.

[2018-08-01 20:39] #2719 closed

[2018-08-01 20:42] manishas commented on #2704
The recommended approach to deploy to Elastic Beanstalk is with the [runSh job](http://docs.shippabl.com/platform/job/runsh). Closing this as deferred.

[2018-08-01 20:42] #2704 closed

[2018-08-01 20:46] manishas commented on #1818
Closing this in favor of https://github.com/Shippable/support/issues/1818 which will track all Test result improvements.

[2018-08-01 20:46] #1818 closed

[2018-08-01 20:47] manishas commented on #1818
Sorry I meant https://github.com/Shippable/support/issues/1582

[2018-08-01 20:51] manishas commented on #2485
Looks like the PHPUnit issue was fixed, so I'm assuming we don't require a change to Shippable at this point. Closing this issue.

[2018-08-01 20:51] #2485 closed

[2018-08-01 20:52] manishas commented on #1582
I'm going to leave this issue open to gather all requests for Test results improvements.

https://github.com/Shippable/support/issues/1818
#4041
#4129
#4237
#4257
#4436
#4282

[2018-08-01 20:53] manishas commented on #2574
closing in favor of https://github.com/Shippable/support/issues/2207

[2018-08-01 20:53] #2574 closed

[2018-08-01 20:53] manishas commented on #2207
I'm going to consolidate all console log improvements in this issue so that we can pick it up one time and work through it.

Related issues:

https://github.com/Shippable/support/issues/2574

[2018-08-01 20:55] manishas commented on #2665
The recommended approach to deploying to EB is now through the [runSh job](http://docs.shippable.com/platform/workflow/job/runsh/). Closing this issue.

[2018-08-01 20:55] #2665 closed

[2018-08-01 20:56] manishas commented on #2680
This was fixed in late May. Rerunning failed jobs now gives you a choice of using latest vs original SHA.

[2018-08-01 20:56] #2680 closed

[2018-08-01 20:58] manishas commented on #2717
We're planning on supporting the Github Checks API, and there are currently no plans to enhance these PR status messages.

I'm closing this as deferred, but happy to reopen if I see a lot of interest through +1 feedback or multiple reports.

[2018-08-01 20:58] #2717 closed

[2018-08-01 21:00] manishas commented on #2788
The recommended approach for deploying to EBS is now with a [runSh job](http://docs.shippable.com/platform/workflow/job/runsh/). Closing this as deferred since we're not enhancing the `deploy` section in CI part of shippable.yml.

[2018-08-01 21:00] #2788 closed

[2018-08-01 21:10] manishas commented on #2877
dup of https://github.com/Shippable/support/issues/2444

[2018-08-01 21:10] #2877 closed

[2018-08-01 21:10] manishas commented on #2444
Gathering all similar requests:

https://github.com/Shippable/support/issues/2877
https://github.com/Shippable/support/issues/3454

[2018-08-01 21:13] manishas commented on #3454
Closing in favor of https://github.com/Shippable/support/issues/2444 where all archive requests are being tracked.

[2018-08-01 21:13] #3454 closed

[2018-08-01 21:14] manishas commented on #3474
This isn't currently in the roadmap, so closing as deferred. The suggested workaround, while not perfect, should bypass this problem.

[2018-08-01 21:14] #3474 closed

[2018-08-01 21:16] manishas commented on #3475
Unfortunately, we have lost the history on this issue, so closing it. However, if anyone wants to have a conversation on how to use the release job, happy to jump on a call and make some recommendations. Shoot me an email at manisha@shippable.com

[2018-08-01 21:16] #3475 closed

[2018-08-01 22:33] trriplejay commented on #4469
I haven't found a decent workaround, I think we'll have to build it into the php base image like we did for a similar previous issue https://github.com/Shippable/support/issues/2846

I'll add this to our todo list for next drydock release.

[2018-08-01 22:47] manishas commented on #3507
I am consolidating all related requests, so closing this in favor of https://github.com/Shippable/support/issues/3017

Please track that issue for updates on on_cancel or always sections for CI.

[2018-08-01 22:47] #3507 closed

[2018-08-01 22:47] #3496 closed

[2018-08-01 22:49] manishas commented on #3512
Closing this issue to clean up this repository. We're already working on improving console logs so that the platform can handle large console output.

[2018-08-01 22:49] #3512 closed

[2018-08-01 22:54] manishas commented on #3594
This isn't currently on the roadmap, so closing as deferred. Happy to revisit if it is a critical requirement or gets a lot of +1s

[2018-08-01 22:54] #3594 closed

[2018-08-01 22:56] manishas commented on #3610
This is currently being worked on.... consolidating all Slack requests in https://github.com/Shippable/support/issues/2650

Closing as a duplicate... 2650 will be updated when this is available.

[2018-08-01 22:56] #3610 closed

[2018-08-01 23:00] manishas commented on #3736
@mbrodala this issue seems to have gone cold... is this still a problem for you?

[2018-08-01 23:03] manishas commented on #4474
Feature request to cancel managed jobs will be tracked in https://github.com/Shippable/support/issues/3816

Please follow that issue for resolution.

[2018-08-01 23:03] #4474 closed, assigned to nobody

[2018-08-01 23:03] manishas commented on #3816
Changing title to use this issue to track work required to cancel managed jobs.

[2018-08-01 23:06] manishas commented on #3823
This is about adding an on_cancel or always section to the yml which will execute regardless of the build result.

This request is being tracked in https://github.com/Shippable/support/issues/3017 so closing this issue in favor of that. Please track 3017 for a resolution.

[2018-08-01 23:06] #3823 closed

[2018-08-01 23:10] manishas commented on #4096
This has been approved and will be available in < 3 weeks.

Closing this particular issue in favor of https://github.com/Shippable/support/issues/3862. Please follow 3862 for updates.

[2018-08-01 23:10] #4096 closed

[2018-08-01 23:10] manishas commented on #3862
This is in flight and will be available soon.

[2018-08-02 02:18] manishas commented on #4037
This is basically related to supporting language awareness in runSh. Closing in favor of https://github.com/Shippable/support/issues/4036 where this will be tracked.

[2018-08-02 02:22] manishas commented on #3886
@mikkopori I am sorry this issue doesn't seem to have been looked at by the team. Are you still running into this? Let us know.

[2018-08-02 02:29] manishas commented on #3907
We're tracking requests for on_cancel and always sections in this issue: https://github.com/Shippable/support/issues/3017, so closing this issue in favor of 3017.

That issue is approved, so we'll pick this up fairly soon.

[2018-08-02 02:29] #3907 closed

[2018-08-02 02:33] manishas commented on #3935
Closing in favor of https://github.com/Shippable/support/issues/3933 which is the same issue of customers needing to Sync after source control provider outages/connectivity issues.

[2018-08-02 02:33] #3935 closed

[2018-08-02 02:35] manishas commented on #3961
We'll write tutorial for this.

[2018-08-02 02:41] manishas commented on #3963
Azure CLI with support for AKS has been on our images since version 6.1.4+ http://docs.shippable.com/platform/runtime/machine-image/cli-versions/
'
Closing this issue since the [runSh job](http://docs.shippable.com/platform/workflow/job/runsh/) can be used to deploy to AKS now.

[2018-08-02 02:41] #3963 closed

[2018-08-02 02:44] manishas commented on #3983
We'll clean up those docs and also look at other resource types to make sure it's super clear where each resource is supported.

[2018-08-02 02:59] manishas commented on #4011
@ric03uec can we get this done asap? We've been sitting on this for months now :(

[2018-08-02 03:03] manishas commented on #4026
This is currently being worked on... you should see a big improvement next week after it reaches prod.

[2018-08-02 03:06] manishas commented on #4286
Closing in favor of https://github.com/Shippable/support/issues/3933 which is the same issue. This is approved for execution so we should have something in prod in the next 3-4 weeks.

[2018-08-02 03:06] #4286 closed, assigned to nobody

[2018-08-02 03:09] manishas commented on #4041
Closing in favor of https://github.com/Shippable/support/issues/1582 which is tracking Test results improvements.

Another issue that is related is this one: https://github.com/Shippable/support/issues/2444 If we provide a way to archive some files, you can download it.

[2018-08-02 03:09] #4041 closed

[2018-08-02 03:09] manishas commented on #4052
This has been approved and will be picked up in the next couple of milestones.

[2018-08-02 03:12] manishas commented on #4093
@phagunbaya was this ever resolved?

[2018-08-02 03:13] manishas commented on #4098
Closing since this is stale a issue. Let us know if you have any additional qs.

[2018-08-02 03:13] #4098 closed

[2018-08-02 03:15] manishas commented on #4129
Closing in favor of https://github.com/Shippable/support/issues/1582 which is tracking all test result improvements. We'll pick these up as a block and have a resolution for each request soon.

[2018-08-02 03:15] #4129 closed

[2018-08-02 03:17] manishas commented on #4136
This isn't currently on the roadmap, so closing as deferred. If we hear a lot of +1 feedback, happy to reopen and prioritize.

[2018-08-02 03:18] manishas commented on #4137
Closing since this is a stale issue. Happy to take another look if this is still a problem.

[2018-08-02 03:22] manishas commented on #4146
From a quick look at Atomist docs, it looks like integration is through a webhook notification. https://docs.atomist.com/user/ci/

Shippable has a webhook notification, so that should be sufficient to address this scenario?http://docs.shippable.com/ci/webhook/

[2018-08-02 03:22] manishas commented on #4146
@andye2004 let me know if the webhook notification addresses this so I can take a decision on this issue.

[2018-08-02 03:24] manishas commented on #4156
@rageshkrishna can you post a resolution for this issue?

[2018-08-02 03:29] ric03uec commented on #4011
The latest drydock images `drydock/u16*:v6.6.4`, `drydock/u14*:v6.6.4` and `drydock/c7*:v6.6.4` use npm version 5.6.0.
Sorry about not updating this thread.
@BryanCrotaz closing this issue. the updated docs will be available in the next release by next week.

[2018-08-02 03:29] #4011 closed

[2018-08-02 03:29] manishas commented on #4184
@ric03uec we need to look into this.

[2018-08-02 03:31] manishas commented on #4237
Closing in favor of https://github.com/Shippable/support/issues/1582 which is tracking all improvements to test results.

[2018-08-02 03:31] #4237 closed

[2018-08-02 03:34] manishas commented on #4257
Closing in favor of https://github.com/Shippable/support/issues/1582 which is tracking test results and code coverage enhancements.

[2018-08-02 03:34] #4257 closed

[2018-08-02 03:35] manishas commented on #4282
Closing in favor of https://github.com/Shippable/support/issues/1582 which is tracking all test results issues.

[2018-08-02 03:35] #4282 closed, assigned to nobody

[2018-08-02 03:37] manishas commented on #4297
Ping @ric03uec

[2018-08-02 03:38] andye2004 commented on #4146
HI @manishas, it does actually look like the web-hooks will work but would require work and physical resources on our side to support it. I was under the impression that this would work without us having to supply a 'Software Delivery Machine' so I have emailed Atomist for confirmation of exactly what this would mean for us. I'll post back when I have some kind of update.

Thanks, Andy.

[2018-08-02 03:42] manishas commented on #4357
@RadekDvorak did John's suggested approach work for you? I want to make sure we're not blocking you.

[2018-08-02 03:45] manishas commented on #4360
Thanks for the clarification.

Unless you're blocked by this, I'm closing this issue as deferred. If we hear some +1 feedback or you say this is a blocker, happy to bring it back into scope.

[2018-08-02 03:45] #4360 closed, assigned to nobody

[2018-08-02 03:50] manishas commented on #4374
Modern SPOG has gone through a bunch of recent changes, so this should be cleaned up at this point. Closing, but please let us know if you are still running into issues and happy to take another look.

[2018-08-02 03:50] #4374 closed, assigned to ChaitanyaVootla

[2018-08-02 03:52] manishas commented on #4391
@mbrodala did you get any information from your node provider? Let us know if we need to investigate.

[2018-08-02 03:54] ric03uec commented on #4297
@clippermadness @Bit-Doctor this has been fixed and will be available in the next release sometime early next week.
This error is happening because of an underlying bug in rvm(https://github.com/rvm/rvm/issues/4416) that was closed recently. The bug was resetting the bash `TRAP`s in a few of the shippable scripts that are essential for their successful execution. without the `TRAP` functions, the

[2018-08-02 03:54] manishas commented on #4402
Closing in favor of https://github.com/Shippable/support/issues/3017, so please track that issue for resolution.

[2018-08-02 03:54] #4402 closed, assigned to nobody

[2018-08-02 03:56] manishas commented on #4435
Closing in favor of https://github.com/Shippable/support/issues/4373 since both are about how job names are wrapped.

[2018-08-02 03:56] #4435 closed, assigned to nobody

[2018-08-02 04:00] manishas commented on #4436
Closing in favor of https://github.com/Shippable/support/issues/1582 since we're picking up all test result enhancements in one shot.

[2018-08-02 04:00] #4436 closed, assigned to nobody

[2018-08-02 04:02] rageshkrishna commented on #4156
I just checked in with the Drydock team. All images will contain OpenJDK 10 and OracleJDK 10 in the v6.8.4 release.

[2018-08-02 04:02] manishas commented on #4439
Closing since the question was answered. Happy to reopen if it's not working.

[2018-08-02 04:02] #4439 closed, assigned to nobody

[2018-08-02 04:04] manishas commented on #4457
Closing since the question was answered.

[2018-08-02 04:04] #4457 closed, assigned to nobody

[2018-08-02 04:06] manishas commented on #4477
@oyving can you clarify the time slots that work for you again? We're in PST.

[2018-08-02 04:35] wltjr commented on #4156
FYI 11 will be released officially in [~2 months](http://www.java-countdown.xyz/), and is a [LTS major version](https://cdn-images-1.medium.com/max/1200/1*OoQAbZ28JQoy-B98nvgXqg.png) for at least 3yrs. May want to leave this open till then, unless another exists.

[2018-08-02 05:55] phagunbaya commented on #4093
This is still an issue but we have the workaround.

[2018-08-02 07:42] manishas commented on #4226
@deepikasl can you add this to UI issues list?

[2018-08-02 07:43] manishas commented on #4356
@deepikasl suggestion for node pool list page.

[2018-08-02 09:59] BryanCrotaz commented on #1582
Also useful would be a summary of:
Tests added since last build on this branch
Tests removed since last build on this branch
Tests that failed in the last build on this branch and have passed in this build (‘fixed’) and vice Versa (‘broken’)
For failing tests, broken since build xxx and broken by \<committer>

[2018-08-02 10:24] BryanCrotaz commented on #4373
Resources have same issue

[2018-08-02 10:29] BryanCrotaz commented on #4011
Unfortunately in the 8 months since I reported this, version 6 has been released with some speed improvements for ci builds. Could you please update your images to use the latest release?

[2018-08-02 10:40] BryanCrotaz opened #4481 "Trigger job from npm webhook"
When a third party npm package is published I want to update to use it and then build and test.

For extra points allow a semver filter to be applied Eg only if the published version falls within the semver filter specified in package.json. This would mean that the shippable script wouldn’t need updating as the code moves forwards.

[2018-08-02 14:34] mikkopori commented on #3886
i have not been working on it for a while, but it is still valid. I'll give a spin and let you know where I run into problems this time.

[2018-08-02 18:29] vidiecan opened #4482 "renaming .travis.yml to .shippable.yml does not trigger rSync job"
How to rename .travis.yml to .shippable.yml after I added an rSync job?
Alternatively, is there a way to delete an rSync job?

[2018-08-02 18:45] trriplejay commented on #4482
normally rSync only runs when changes are made to a shippable.yml file.  It is possible that in the case of a pure rename, github reports it as a change to `.travis.yml`, and thus we don't trigger the job.  I would say that if you make an additional commit to the shippable.yml the rsync should trigger.

Alternatively, you can delete a sync job.  If you find your syncRepo->rSync job in the SPOG, an

[2018-08-02 19:00] #4482 closed, assigned to nobody

[2018-08-02 20:29] manishas commented on #3132
There are docker containers publicly available that can be used with Shippable to run R builds. Closing this issue since we don't really need to provide this as part of the platform.

[2018-08-02 20:29] #3132 closed

[2018-08-02 20:32] manishas commented on #3398
Option 2 is under consideration.

[2018-08-02 20:44] manishas commented on #4036
If you use the [official Shippable node image](https://hub.docker.com/r/drydock/u16nodall/) as [a custom image with runSh](http://docs.shippable.com/platform/tutorial/workflow/use-custom-image/), language specific settings are taken care of (such as exporting NVM_DIR).

At this time, we do not plan to offer a separate `language` setting in runSh since that comes with it's own complexity and runCI

[2018-08-02 20:44] #4036 closed

[2018-08-02 20:59] manishas commented on #4481
@BryanCrotaz npm has hooks https://docs.npmjs.com/cli/hook, which can probably be used with a [webhook resource](http://docs.shippable.com/platform/workflow/resource/webhook/) to do what you need.

Let me know if that works. We don't have a sample for this today and I'll put a request in the backlog, but it'll be a few days before someone frees up.

[2018-08-03 01:28] andye2004 commented on #4136
I'd plus-one this if I could :)

[2018-08-03 01:41] manishas commented on #4136
Reopening. This shouldn’t be a huge change so will chat with the team.

[2018-08-03 01:43] andye2004 opened #4483 "Record name when build is cancelled"
This is a feature request to do with jobs being cancelled. Would it be possible to capture the name of the person cancelling the job and record it in the build log and also add to the cancellation email being sent out?

[2018-08-03 01:45] andye2004 commented on #4136
👍 Thanks @manishas

[2018-08-03 01:56] manishas commented on #4407
Closing in favor of
https://github.com/Shippable/support/issues/4406 which will track support for placementStrategy and placementConstraints.

[2018-08-03 01:56] #4407 closed, assigned to nobody

[2018-08-04 21:46] vinaganti opened #4484 "shippable is not creating Cloudwatch Alarm properly"
### Description of your issue: shippable is not creating Cloudwatch Alarm properly

shippable is not creating Cloudwatch Alarm properly, it is not creating/showing up ECS Clustername and Service name in the alarm so that it is not collecting metric data and always in INSUFFICIENT_DATA State

![image](https://user-images.githubusercontent.com/37805154/43680711-37e768d8-980e-11e8-9c30-a82570c7d092.p

[2018-08-06 04:30] ric03uec commented on #4011
sure. this will be available in the drydock image updates for version `v6.8.4`. thanks for the heads up

[2018-08-06 08:11] mbrodala commented on #3736
@manishas Since we're running mysql-based tests on the latest images just fine, the issue seems to be resolved.

[2018-08-06 08:11] mbrodala commented on #4391
Unfortunately not yet. I'll let you know as soon as I have anything.

[2018-08-06 08:21] manishas commented on #3736
:+1:

[2018-08-06 10:03] aurelien-reeves commented on #4136
Hi,

Sorry for late answer.

Right now when the option "Run only latest commit builds" is On, when pushing commits to branch, all queued builds are canceled, and all running build are canceled too.

The idea would be to cancel queued builds, but not running build. That way the CI would be much faster due to queued builds canceled, but more commits could be build in case of a lot of push than with

[2018-08-06 13:45] allanyung opened #4485 "Console shows invalid format error with date format"
In our builds we tag the docker image with a date string, set as an environment variable.
[code]
This works fine and does not cause a build failure, however, the console does log an error
[code]
Looks like it's barfing on the format string. Again, not a breaking issue, but might be worth looking into.
Cheers

[2018-08-06 18:05] davidcervi opened #4486 "Shippable API newBuild endpoint returning error: access denied to route: /runs"
Hi guys,

I am currently using the Shippable API as part of a project, and one of the endpoints I want use is the
/projects/{projectId}/newBuild endpoint to programmatically trigger a new build of a project.

But when I call it, I get a 401 Unauthorized error with the following message:

{
    "logType": "warn",
    "methodName": "projects|triggerNewBuildRequest|projectId:xxx|_queueRun",
    "id":

[2018-08-06 18:29] davidcervi commented on #4486
Closing as I found out that I needed to upgrade to a paid plan in order to call the /projects endpoints!

[2018-08-06 18:29] #4486 closed, assigned to nobody

[2018-08-06 23:45] trriplejay commented on #4484
Looks like we're missing the `Dimensions` piece from the `metricAlarm` objects.  You can add this to your yml definition like this:
[code]
currently you'll have to get service name from ecs once it is deployed. (or from the deploy job logs)

I'll open an internal issue to have these dimensions automatically set if not otherwise specified.  Let me know if you have any other questions.

[2018-08-06 23:56] trriplejay commented on #4485
thanks for reporting. we'll take a look.

[2018-08-07 07:28] JeremJR opened #4487 "pull_job_image failure"
My job doesn't succeed to perform a `docker pull`
[code]
- Link to the build : failure https://app.shippable.com/github/JeremJR/docker_bonita/runs/5/1/console
- shippable.yml : https://github.com/JeremJR/docker_bonita/blob/master/shippable.yml

[2018-08-07 08:37] grohan2002 opened #4488 "AWS Keys integration not working"
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:
We did follow this tutorial to setup AWS infra using terraform and shippable https://github.com/devops-recipes/prov_aws_vpc_terraform
Although the aws key integration is set it fails stating it did not find the integration

- Link to the build failure
https://app.shippable.com/github/grohan2002/jobs/prov_

[2018-08-07 09:12] Riturajcse commented on #4488
Hey @grohan2002, seems you haven't tried running the rSync job after you updated the integration. Could you please run it again?

[2018-08-07 09:24] jakub-kmiotek-synerise opened #4489 "Account Blocked"
Hey I'm not able to create account for bitbucket account, I've got error message  "account blocked".
my account id:
`jakub-kmiotek-synerise`

Can you help?

[2018-08-07 09:27] rageshkrishna commented on #4489
Hi @jakub-kmiotek-synerise. I've unblocked your account. Sorry for the trouble. You should be able to log in now.

[2018-08-07 10:06] ghost opened #4490 "Accout blocked"
Hi,
I'm unable to log into shippable because my account (https://github.com/CICDtestlumapps) seems to violate your security policy.

Indeed it is a brand new github account as I want to test various CI/CD solutions without sharing all my company code.

Would you mind unlock it ?

[2018-08-07 10:08] rageshkrishna commented on #4490
@CICDtestlumapps your account has been unblocked. You should be able to login now.

[2018-08-07 10:11] manishas commented on #4490
@CICDtestlumapps please let us know if you need any help with config. Always happy to jump on a call and answer questions as well.

[2018-08-07 10:13] grohan2002 commented on #4488
@Riturajcse Hey it worked the Access Credentials were wrong , I have a new issue
https://app.shippable.com/github/grohan2002/prov_aws_ec2_terraform/dashboard

Even though we have type: runSh jobs the Job runs as runCI , can you please check

[2018-08-07 10:23] ghost commented on #4490
I can login with success now. Thank you.

[2018-08-07 10:23] #4490 closed, assigned to nobody

[2018-08-07 10:24] Riturajcse commented on #4488
@grohan2002 I guess you have enabled `prov_aws_ec2_terraform` for CI, instead, you should be adding this as an assembly line ( using the + button in the right [here](https://app.shippable.com/subs/github/grohan2002/enable)).
You should also turn off the `enable CI` toggle for  `prov_aws_ec2_terraform`.
Here are the [docs](http://docs.shippable.com/platform/tutorial/workflow/add-assembly-line/#addi

[2018-08-07 10:27] FlashLight13 commented on #3961
@manishas Thanks a lot!

[2018-08-07 10:52] grohan2002 commented on #4488
@Riturajcse  I have Enable CI for a repo prov_aws_vpc_terraform  and it works fine and uses runSH, however if i disable CI they repo get greyed out and i am not able to check any builds for it. The rsync for the ec2 repo did run now .

[2018-08-07 11:13] Riturajcse commented on #4488
@grohan2002 Enabling Ci is not required while you are adding assembly line. I can see you have some errors in your rSync job [here](https://app.shippable.com/github/grohan2002/jobs/prov_aws_ec2_terraform_master_rSync/builds/5b696c34312b3a07004b903a/console) , so if you fix these errors you should be able to see your `runSh` job and run it.

[2018-08-07 11:27] immerrr opened #4491 "GitHub integration doesn't queue builds on new commits"
It has happened few times during the last week, and as of now it affects at least one repository in our project.

According to GitHub integration screen, the payloads are being sent and return HTTP 200 OK with
[code]
body, but nothing happens and the pull request page is blocked on the following status:
[code]

Here's some information for you to cross-reference with the logs from GH:
[code]

[2018-08-07 11:32] rageshkrishna commented on #4487
Hi @JeremJR. Sorry about that... we've identified an issue that occasionally causes image pull to fail on these nodes. The problem has been corrected and you should be able to run your builds now.

We are rolling out a more permanent fix to the problem as we speak and I'll update this issue as soon as it's deployed.

[2018-08-07 13:33] immerrr commented on #4491
Regarding your latest update on the status page,

I don't think this is true.

[2018-08-07 13:46] ghost opened #4492 "confusing doc about language version available"
Hi,

## Issue
My subscription is configured to run on a node pool of `ubuntu_16.04` version `v6.7.4`. (This parameter is not configurable as code BTW)
So according to [this doc](http://docs.shippable.com/platform/runtime/machine-image/ami-v674/#python) python is available with versions :
- 2.7.12
- 3.7.0

So I would guess that the following `shippable.yaml` should works :
[code]

But it fails :
[c

[2018-08-07 14:07] atulkumarpundhir opened #4493 "Build failing - Error 504"
### Description of your issue:

My build was running till yesterday but today I am getting following error.

{"logType":"error","methodName":"projects|triggerNewBuildRequest|projectId:5b338feb2d59e9070065a3a3|_queueRun","id":1005,"message":"postRun for :projectId 5b338feb2d59e9070065a3a3 returned error: POST /runs? returned 504"}

[2018-08-07 14:10] rageshkrishna commented on #4491
@immerrr Sorry for the delayed response. We've identified that the issue affects subscriptions with a subscription integration that is no longer linked to an account integrations. We are rolling out a fix for this at the highest priority. If it is an option for you, deleting the unusable subscription integration will immediately unblock you.

[2018-08-07 14:14] rageshkrishna commented on #4493
@atulkumarpundhir We've identified an issue that affects subscriptions with subscription integrations that are no longer linked to account integrations. We are working on deploying a fix for this right now.

[2018-08-07 14:15] immerrr commented on #4491
hi @rageshkrishna

thank you for the reply. I've deleted two subscriptions that no longer had an account integration linked and tried redelivering a github webhook payload, but still nothing happened.

[2018-08-07 15:02] rageshkrishna commented on #4491
@immerrr We have deployed a fix. Can you try once again?

[2018-08-07 16:13] immerrr commented on #4491
@rageshkrishna , yep, it works now, but only with different commits. That is, if I try to redeliver a payload that was already sent to shippable it looks like nothing happens (maybe some deduplication on your side), but if I rewrite the same commit so that it gets a different hash, it works.

[2018-08-07 16:13] #4491 closed, assigned to nobody

[2018-08-07 18:09] clippermadness commented on #4297
Fix verified using Shippable base image 6.7.4, ruby 2.4.1 and rails 5.2.0.
Build times now 6m faster without having to pull the old image.
Thanks!

[2018-08-08 07:20] ric03uec commented on #4297
this is now fixed, closing

[2018-08-08 07:20] #4297 closed, assigned to nobody

[2018-08-08 09:24] allanyung opened #4494 "Ruby caching broken on v6.7.4"
I upgraded the base image to 6.7.4 (in order to fix #4297) but in doing so suddenly the build fails when creating the cache of the gems.

https://app.shippable.com/github/ImmersiveLabsUkOrg/immersive-labs-api/runs/258/1/console
With ruby 2.4.1 the debug logs complain about ruby 2.4.2 being required, though this appears to be a red herring
[code]

https://app.shippable.com/github/ImmersiveLabsUkOrg

[2018-08-08 11:04] immerrr opened #4495 "Check out git commits by SHA, not by branch name"
I have just hit a weird corner case.

- I had a PR with a branch, for which a build was scheduled, but got stuck waiting for a free node
- the PR was minor, it passed code review, tests succeeded locally and it was blocking other activities, so I merged the PR without waiting for the build result
- I have a habit of deleting branches on GitHub once the corresponding PR is merged, so I proceeded to

[2018-08-08 11:59] ric03uec commented on #4494
@allanyung we're investigating this.
- the error about mysql and redis seems to be unrelated to caching. we did fix a few bugs in caching workflows but no changes were made in any of the recent releases that affected any of the services.

[2018-08-08 13:15] oyving commented on #4477
Alright. Let us set up a call at 8am tomorrow CEST. That should be around 11pm today your time. We can use https://appear.in/aia-shippable to discuss the matter. Please confirm.

[2018-08-08 14:14] mbrodala opened #4496 "Preload AMI images on build nodes"
Whenever a new Shippable release is made and new AMI runtime images are released I always enter all of our build nodes and manually pull the new image version. Only after this I switch the runtime version for our node pool.

This way I can avoid slowing down builds which would inevitably happen for the very first build using the new image version on each build node.

Thus I'd like to request a fea

[2018-08-08 16:47] sanster23 opened #4497 "Pem-Key Integration Failing"
I had an integration of type Pem-Key and its being used in the terraform scripts.

When I am trying to give the integration permissions of the git repo.
It fails saying that
**subscriptionIntegrations.create failed with error: Validation error**

Also even if the pem-key loads the build fails saying:
* aws_instance.openldap-master: Failed to read key "-----BEGIN RSA PRIVATE KEY----- **KEY** -----E

[2018-08-08 16:54] trriplejay commented on #4497
This validation error occurs when you try to create a subscription integration with the same name as one that already exists.  This can happen when you create both (by adding an account integration, and granting permission to a particular subscription), and then delete the account integration.  The subscription integration is left behind.  Then if you try to create a new account integration again,

[2018-08-08 21:29] TomasSjosten opened #4498 "Composer missing for PHP 7.2.7, 7.2.6"
### Issue
I receive the following error whenever I try to deploy new code and I cant seem to figure out why. Have tried other versions, but then the build fail on other parts that requires PHP 7.2+

[code]

### Link to the build failure:
https://app.shippable.com/github/TomasSjosten/muddest/runs/1384/1/console

### shippable.yml
[code]

[2018-08-09 04:32] manishas commented on #4477
@oyving I need a little more lead time to set up a call with the team. Can I get your email address so I can send over a couple of times that work for us? We can coordinate over email. My email is manisha@shippable.com

[2018-08-09 06:29] sanster23 commented on #4497
Thanks, this worked.
But i am stuck on the second issue still
This is an excerpt from my shippable.yaml

            - export PUBLIC_SSH_KEY=$(shipctl get_integration_resource_field aws_ec2_ldap_tf_ssh "key")
            - shipctl copy_file_from_resource_state aws_ec2_ldap_tf_state terraform.tfstate .

            - echo $PUBLIC_SSH_KEY
            - export PEM_KEY_PATH="/tmp/pem_key.pem"

[2018-08-09 08:48] RadekDvorak commented on #4357
I am sorry for the late reply as I was on holiday.

Actually the answer was not much relevant for us. Each new job adds some delay as it bootstraps the machine or it has to compete for a spare machine. Splitting deployment jobs would require twice the number of jobs in our case. Even then, in order to have the cluster consistent we would need to monitor deployments for errors and rollback the part

[2018-08-09 08:53] JeremJR commented on #4487
Thank you @rageshkrishna I've made a build successfully https://app.shippable.com/github/JeremJR/docker_bonita/runs/7/1/console

[2018-08-09 16:52] trriplejay commented on #4497
I'm not seeing any obvious error in what you're doing. Is there some issue with how the path is specified in the terraform script? I see your most recent jobs have succeeded, did you figure out the issue?

[2018-08-09 22:16] pwarnock opened #4499 "Newest commits are not showing up in Shippable. I've clicked the sync repos button."
### Description of your issue:
Newest commits are not showing up in Shippable. I've clicked the sync repos button.

- Link to the build failure
https://app.shippable.com/bitbucket/bncompass/compass_frontend/runs?branchName=master

[2018-08-09 22:21] a-murphy commented on #4499
It looks like someone has disabled webhooks for the project.  To re-enable webhook builds, you can click on the project name in the breadcrumb at the top of the page and then the gears in the top right for settings.  The webhook toggle is at the top of the settings page; green is enabled with builds created for webhooks received and red is disabled.

Alternatively, if you want to run the newest co

[2018-08-09 22:31] pwarnock commented on #4499
Thanks. The global sync button didn't refresh it, but the sync button on the page after I toggled that switch did.

[2018-08-09 22:31] #4499 closed, assigned to nobody

[2018-08-10 00:13] pwarnock opened #4500 "Log says container was pushed, but I don't see it in ECR"
### Description of your issue:
Log says container was pushed, but I don't see it in ECR

- Link to the build failure
https://app.shippable.com/bitbucket/bncompass/compass_frontend/runs/1186/1/console

[2018-08-10 00:17] a-murphy commented on #4500
Could you confirm that you are checking ECR in us-east-1 (N. Virginia), and that you intended to push the image to us-east-1?  You can switch regions in the AWS console in the second dropdown from the right at the top of the page, between your account name and "support."  The linked build appears to have pushed an image with tag `master.1186`.

[2018-08-10 00:20] pwarnock commented on #4500
My apologies. While the ECR interface does not show the two builds, I was able to pull from ECR via cli.

[2018-08-10 00:52] #4500 closed, assigned to nobody

[2018-08-10 04:15] sanster23 commented on #4497
The jobs succeeded because I had to upload the actual pem key file in the Git repo for shippable to pull.

Like this : ** private_key = "${file("${path.module}/files/ldap_test_punchh.pem")}" **

If i use the key file through integration it fails.

I have also checked a few other issues related to terraform version and syntax (https://github.com/hashicorp/terraform/issues/8963), I am not able to fi

[2018-08-10 07:13] rageshkrishna commented on #4497
@sanster23 I think your problem is because the PEM key's newlines might be getting mangled when you try to get the "key" and pipe it to a file.

The key file is actually already available for you to use directly. Here's what you can do instead:

[code]

I hope this helps.

[2018-08-10 07:54] sanster23 commented on #4497
I just tried this it still failed with the same error
Changes made
ec2privatekey="${AWS_EC2_LDAP_TF_SSH_KEYPATH}"

private_key  = "${var.ec2privatekey}"

Error:
* aws_instance.openldap-master: Failed to read key "/var/lib/shippable/build/IN/aws_ec2_ldap_tf_ssh/aws_ec2_ldap_tf_ssh_key.pem": no key found

[2018-08-10 08:07] rageshkrishna commented on #4497
I'm not a terraform expert and I haven't actually tried this myself, but shouldn't it be `private_key = "${file(var.ec2privatekey)}"`

[2018-08-10 08:34] sanster23 commented on #4497
@rageshkrishna silly mistake this one
apologies
and this solved the issues, Thanks a bunch man :+1:

[2018-08-10 08:34] #4497 closed, assigned to nobody

[2018-08-10 16:50] trriplejay commented on #4498
It's possible that phpenv and rvm are interfering with each other.  Could you try moving your composer install command to be at the beginning of the "before_install" section (before any ruby stuff gets executed)?

[2018-08-10 22:12] vidiecan opened #4501 "Change to billing/node(s) resets node pool limit count"
behaviour:
- we have one default node pool with 4 nodes, node limit set to 4
- updated billing information (new card added)
- found that node limit was reset to 1

the same behaviour happened when we did the following (we found out only after the last step but the culprit might be in any step)
- created new node pool with 1 node
- deleted new node pool
- added node pool to the default pool

[2018-08-10 22:12] vidiecan commented on #4501
(we are not going to reproduce so feel free to close the issue)

[2018-08-11 11:38] fieldawarepiotr opened #4502 "Easier debugging of jobs"
This is a pure feature request/idea.

When building, user has the opportunity to configure the build (in yaml file?) so when any step fails a terminal window opens in the browser with the shell dropped in the container that caused the problem.
This way, gives ability to rapidly debug issues with builds and reduces number of steps required.
No more, build with SSH, ssh, go to container.
Just get th

[2018-08-11 15:18] davidcervi opened #4503 "URGENT"

[2018-08-13 10:07] tigermax139 opened #4504 "Logout after transition from app page to doc page"
I can't read protect pages form documentation, after transition from https://app.shippable.com ( I am logged in, successfully ) to http://docs.shippable.com/deploy/amazon-ecs/ .
When i try 'sing in' on docs page i redirect to login page. After login throw github i redirect to  https://app.shippable.com and also can't read docs.
-----------------
Code of error
403 Forbidden
Code: AccessDenied
Messa

[2018-08-13 16:57] 0x63616c opened #4505 "Shippable not running build (staying queued)"
Trying to get a branch to build and run the tests but it's just staying in the 'queued jobs' queue and not running.

https://app.shippable.com/github/findpace/prix-core/runs/1017/summary/console

[2018-08-13 17:02] kjackson87 commented on #4505
Occurring for us as well 👍

[2018-08-13 17:03] ankur--bhatia opened #4506 "URGENT - Builds are not getting triggerd"
### Description of your issue:
We are noticing that our jobs are getting queued up but they are not getting picked up by our nodes.
We have 4 nodes and none of them are picking up the jobs.
1. I have tried re-initializing the nodes. Did not work
2. restart of our nodes. Did not work

All jobs getting queued up here:
<img width="971" alt="screen shot 2018-08-13 at 17 58 05" src="https://user-images

[2018-08-13 17:07] trriplejay commented on #4506
One of our queues got backed up, but it should be back to normal now.  Are your jobs starting now?

[2018-08-13 17:11] trriplejay commented on #4505
One of our queues was temporarily backed up, but everything should be back to normal now.  Sorry for the inconvenience.  Let me know if your jobs still seem to be stuck.

[2018-08-13 17:17] 0x63616c commented on #4505
@trriplejay all good now, thanks!

[2018-08-13 17:29] kjackson87 commented on #4505
@trriplejay looks good for us, is it possible in the future to have this info available on the status page?

[2018-08-13 17:47] jodastephen opened #4507 "Nightly build on a different JDK"
My goal is to create a single `shippable.yml` that does the following:

* on each commit, build on Java 8
* once each night, build on Java 10

After considerable effort, I have managed to get nightly builds working (feedback, it is a super-complex process when you don't already use assembly lines). I've also managed to get an environment variable if statement working that recognises it is a nightl

[2018-08-13 18:10] trriplejay commented on #4507
I'd recommend that you use `shipctl` to switch jdk version with a command like `shipctl jdk set oraclejdk10`.  You can see an example of this command being used in the `setup_jdk` section of the logs.

also, you might find it useful that there is an environment variable called `JOB_TRIGGERED_BY_NAME`.  When your job is triggered by your time resource, this variable will be that time resource's nam

[2018-08-13 19:30] ritch-parker opened #4508 "URGENT - pipeline sync job failed"
### Description of your issue:
a pipeline sync job has failed - and is blocking further updates

https://app.shippable.com/bitbucket/repomode/jobs/shippable-pipelines_master_rSync/builds/5b71d636f50d4207001b14c6/console

[2018-08-13 19:35] trriplejay commented on #4508
we've cancelled the stuck job and are looking into what happened. You should be able to re-run the job to pick up the latest changes.

[2018-08-13 19:46] jefffleming opened #4509 "Cancel deploy job 756839"
###  Deploy job 756839 hung and I have no way to stop it myself.

[2018-08-13 19:49] ritch-parker commented on #4508
Ok, thanks.  We had another update in the queue that seems to have competed now.

[2018-08-13 19:53] a-murphy commented on #4509
I've canceled that job and we're investigating why it may have been stuck.

[2018-08-13 20:15] trriplejay commented on #4506
note: the delay has returned. job are being processed but you may notice a delay before they start. we are continuing to investigate.

[2018-08-13 20:16] trriplejay commented on #4505
note: the delay has returned. job are being processed but you may notice a delay before they start. we are continuing to investigate. (status page should reflect this now)

[2018-08-14 06:47] pruthvireddypuresoftware opened #4510 "My account has been blocked"
I am trying to login to shippable with my github account and i am getting error as account blocked.

![shippable_error](https://user-images.githubusercontent.com/42368140/44075885-f44dce22-9fbb-11e8-8ca7-01a2770b95d2.png)

[2018-08-14 06:50] rageshkrishna commented on #4510
@pruthvireddy1991 I have unblocked your account. Please log out and try logging in once more.

[2018-08-14 06:50] pruthvireddypuresoftware commented on #4510
@rageshkrishna Thank you so much

[2018-08-14 06:50] #4510 closed, assigned to nobody

[2018-08-14 07:29] pruthvireddypuresoftware opened #4511 "Unable to view subscriptions field in shippable landing page"
Unable to view subscriptions column field in shippable landing page.

Please suggest me what need to be done to view the same.

Thanks in advance.

[2018-08-14 07:33] Bharath92 commented on #4511
Could you try clicking on the `Sync` button present in the `Account` -> `Profile` page?

[2018-08-14 07:35] pruthvireddypuresoftware commented on #4511
@Bharath92 Thank you so much. Now i can see after syncing.

[2018-08-14 07:35] #4511 closed, assigned to nobody

[2018-08-14 07:45] rageshkrishna commented on #4487
@JeremJR Great! We have also deployed a comprehensive fix for the root cause. You should not see this happening again. Closing the issue now.

[2018-08-14 07:45] #4487 closed, assigned to nobody

[2018-08-14 07:47] rageshkrishna commented on #4489
It looks like you were able to log in successfully. Closing the issue.

[2018-08-14 07:47] #4489 closed, assigned to nobody

[2018-08-14 07:48] rageshkrishna commented on #4493
@atulkumarpundhir A fix was deployed on the same day, so I'm going to close this issue now. Feel free to reopen if you are still running in to this.

[2018-08-14 07:48] #4493 closed, assigned to nobody

[2018-08-14 08:10] jodastephen commented on #4507
I added it to `pre_ci` but unfortunately this does not work:

`oraclejdk10 is not supported on this image`

`Linux 46aecd6dab58 4.4.0-1049-aws #58-Ubuntu SMP Fri Jan 12 23:17:09 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
drydock/u16reqproc:v6.7.4`

[2018-08-14 10:51] mbrodala commented on #4391
Our nodes where migrated to a different location which lets our builds run a lot faster again now. The issue might be related to the fixes for Spectre/Meltdown, we'll keep going with this.

In any case this is not something Shippable should/can fix. Thanks for looking into this.

[2018-08-14 11:34] vidiecan opened #4512 "Significant node CPU performance degradation"
We have been experiencing a significant increase in execution time across all of our heavy CPU jobs.
The best show case is our cppcheck job (that does not execute our code)

[code]

It started when the node changed from
[code]

to a slower one

[code]
Information taken from `docker info` for jobs 26 and 27.

[2018-08-14 14:11] aurelien-reeves commented on #4505
Our queue is not processed right now.
The status page does not show any incident for the moment.

![image](https://user-images.githubusercontent.com/24386780/44096908-b9e6e73e-9fdc-11e8-8dd0-fbc560ece684.png)

Are there issues today?

Edit: it is processing now. It looks like our nodes was still working on something "invisible" on the dashboard. Still not now what it was working on but I saw the n

[2018-08-14 21:50] davidcervi commented on #4503
Hi guys,

Any update on this?

Thanks!

[2018-08-14 21:53] manishas commented on #4505
This has been resolved and patched in production. Closing.

[2018-08-14 21:53] #4505 closed, assigned to nobody

[2018-08-14 21:56] manishas commented on #4512
@vidiecan Thanks for reporting this. We are looking into this. In the meantime we have reverted your account back to the old node type, so you shouldn't see these slowdowns any more.

[2018-08-14 21:56] #4508 closed, assigned to nobody

[2018-08-14 21:57] manishas commented on #4506
We have deployed a fix for this in prod, so this shouldn't happen anymore.

[2018-08-14 21:57] #4506 closed, assigned to nobody

[2018-08-15 18:30] pwarnock opened #4513 "What happens to integration ownership when an account is removed from Bitbucket?"
What happens to integration ownership when that account is removed from Bitbucket, but there are other Administrators on the project?

[2018-08-15 18:51] a-murphy commented on #4513
If an account integration is linked to a subscription integration, another account can [update the subscription integration](http://docs.shippable.com/platform/tutorial/integration/howto-crud-integration/#updating-a-subscription-integrations-underlying-account-integration) to instead reference an account integration belonging to that account.

We also now allow integrations to belong directly to t

[2018-08-15 18:55] pwarnock commented on #4513
Thanks for the link. I was reviewing that documentation, but wasn't 100% clear. Does the switch need to occur before the account is removed from Bitbucket, or does the account integration become immutable with all of the CI/CD remaining functional?

[2018-08-15 19:04] a-murphy commented on #4513
The account integration will likely continue to work until the account is next synchronized, depending on the integration type.  Another administrator will be able to update the subscription integration to use a different account integration whether or not the current one is still valid.

[2018-08-15 19:58] a-murphy commented on #4509
We've determined that this was related to slow response times observed on Monday with the slow CI job queuing.  This should be resolved now and let us know if you see anything similar again.

[2018-08-15 19:58] #4509 closed, assigned to nobody

[2018-08-15 20:19] a-murphy commented on #4504
You shouldn't need to log in to Shippable to read documentation.  The login button is meant to be a convenient way to navigate to https://app.shippable.com.

The 403 message means that that page is no longer in that location.  Could you let us know what you are looking for?  Information about setting up a deploy job in Shippable Assembly Lines, including deployments to Amazon ECS, is [here](http:/

[2018-08-15 21:00] #4504 closed, assigned to nobody

[2018-08-16 06:05] squillopas opened #4514 "Account Blocked"
I'm trying to login to Shippable using my Bitbucket account (username: squillopas) but I've been blocked

[2018-08-16 06:10] Bharath92 commented on #4514
@squillopas I have unblocked your account. Please log out and try logging in once more.

[2018-08-16 06:18] squillopas commented on #4514
@Bharath92 Thank you! It's okay now

[2018-08-16 06:20] #4514 closed, assigned to nobody

[2018-08-16 14:55] mustela opened #4515 "Adding timescaledb support"
Im trying to run some tests on a timescaledb but I cant seem to find a way to enable the extension.

[code]
## Error
[code]

Project Id: 5b5f3d39b161f70700b6af65

[2018-08-16 19:25] a-murphy commented on #4515
The [TimescaleDB documentation](https://docs.timescale.com/v0.11/getting-started/installation/linux/installation-apt-ubuntu) states that you need to edit `postgresql.conf` to add `timescaledb` to `shared_preload_libraries`.  The following line (after the `apt-get` command and before restarting Postgres) will update the `postgres.conf` file:
[code]

Could you try adding this to update the `postgres

[2018-08-16 20:14] mustela commented on #4515
@a-murphy thanks, its working. But I was just following the doc you have here http://docs.shippable.com/ci/postgresql/, under `Custom startup command` so is that no longer working?

[2018-08-16 20:14] #4515 closed, assigned to nobody

[2018-08-16 20:16] vidiecan commented on #4512
@manishas interestingly, it did not really help much

[code]

[2018-08-16 20:21] manishas commented on #4512
Hmmm ok. Let me discuss with the team and get back to you. We might need your help in trying a couple of things.

[2018-08-16 20:22] vidiecan commented on #4512
@manishas ok

[2018-08-16 20:28] a-murphy commented on #4515
That documentation is primarily intended when Shippable starts Postgres because it's listed in the `services` section of the `shippable.yml` file.  Since you have commented out the `services` section, `SHIPPABLE_POSTGRES_CMD` isn't used in your case.  And because you have added commands to update and restart Postgres, I would not recommend adding it to `services`; it may lead to errors if you try

[2018-08-16 20:59] pwarnock commented on #4513
Is there documentation that shows how I go about obtaining the token from Bitbucket Cloud? My Bitbucket has multiple projects, so I'm looking to created scoped integration.

Is it an oAuth token? Is it a refresh_token? What scopes does it need granted? Can I use a token from the Bitbucket project or does it need to be from my user?

[2018-08-16 21:29] a-murphy commented on #4513
Is this a token for an `scm` subscription or account integration?  And what are you planning to use the integration for?  Assuming you are planning to use the token in an integration, the requirements for the token will depend on the integration type and how you intend to use it.

[2018-08-16 21:37] pwarnock commented on #4513
I need to change the account integration on https://app.shippable.com/subs/bitbucket/bncompass/integrations/11241/edit

In the short-term, I can toggle to my 'bitbucket - Peter Warnock' integration, right? But then all of my projects are accessible through that integration.

[2018-08-16 22:15] a-murphy commented on #4513
Yes, you can set the subscription integration to use your own account integration and resources using the subscription integration would then have access to your projects.

The usual solution to set up Bitbucket integrations with limited access is to create a new account on Bitbucket, log into Shippable, and use that account for the integration.  It's relatively easy to update the permissions on B

[2018-08-16 22:36] pwarnock commented on #4513
Thanks! That sounds a lot easier.

[2018-08-16 22:36] #4513 closed, assigned to nobody

[2018-08-17 06:56] vidiecan commented on #4512
For the record, this particular task is running a docker image on our sources. On a several years old laptop the tasks takes 1h 7m to finish:

- Processor	Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz, 2401 Mhz, 2 Core(s), 4 Logical Processor(s)
- Installed Physical Memory (RAM)	8.00 GB

The execution time is similar to the times before the degradation.

[2018-08-17 08:25] psoders opened #4516 "Another blocked account due to security policy"
Hey,
another new Bitbucket account has been blocked when connecting to shippable, could we get it unblocked?

subscription: humanoitgroup
username: kamilbalus

thats fifth time already....

#4451
#4375
#4354
#4044

[2018-08-17 08:36] Bharath92 commented on #4516
I have unblocked the account. Please log out and try logging in once more.

[2018-08-17 08:42] psoders commented on #4516
it works tkanks

[2018-08-17 08:44] #4516 closed, assigned to nobody

[2018-08-17 10:03] pruthvireddypuresoftware opened #4517 "Requested for free shared license to run builds on 64 bit arm machines"
I have requested for free shared license to run builds on 64 bit arm machines, but didn't get any response on the same.
Could you please provide me the same team.
Thanks.

[2018-08-17 18:27] manishas commented on #4517
@pruthvireddy1991 I just responded to you... your subscription has been enabled for the shared Arm pool. Let me know how it goes.

[2018-08-17 18:27] #4517 closed, assigned to nobody

[2018-08-17 18:27] manishas commented on #4512
@rageshkrishna can we look into this asap?

[2018-08-18 01:47] rageshkrishna commented on #4512
@vidiecan Is it alright if I trigger these jobs manually? There are some internal parameters that I would like to tweak and see how it affects your job's execution time, so it would be a lot easier if I could trigger them myself. I will probably be able to get back to you by Monday with some findings.

Can you also drop me an email at ragesh@shippable.com? We might need to discuss specific details

[2018-08-18 04:01] pruthvireddypuresoftware commented on #4517
@manishas Thank you so much

[2018-08-19 11:27] sanster23 opened #4518 "Use key value integration in CI job"
Hi,

I am new to shippable and i have started writing a CI job
I am not sure how to use Key-value integration in CI jobs : The official link to this is borken http://docs.shippable.com/platform/tutorial/integration/howto-use-key-value-in-runci/

This is the config that I have been using mostly hit and trial
[code]

In the above shippable.yml the
    - commented part runs on commit triggers but the

[2018-08-19 12:23] christianmoretti7 opened #4519 "Account Blocked"
Hi there,
I'm trying use my new account on Shippable, but, I'm receiving an "error" when I try perform the login:
<img width="1096" alt="imagem_colada_19_08_2018_08_22" src="https://user-images.githubusercontent.com/42513985/44308737-0e443c00-a389-11e8-966e-9fdd04e863ad.png">

Best regards

[2018-08-19 14:56] christianmoretti7 commented on #4519
Done.

[2018-08-19 14:56] #4519 closed, assigned to nobody

[2018-08-20 11:08] vidiecan commented on #4512
Fixed by @rageshkrishna

[2018-08-20 11:08] #4512 closed, assigned to nobody

[2018-08-20 14:21] oyving opened #4520 "Unable to reach organization PyPi repo"
We are timing out reaching our own PyPi repository from Shippable. The repo is globally available (not only on an internal network), and doing `pip3 install` against this repo used to work earlier.

I have verified that we can use the repository from our own machines.

[2018-08-20 16:39] trriplejay commented on #4520
We're investigating.  I see that two of your builds from this morning were able to download the repo successfully. Is this still a problem? or was it temporary?

[2018-08-20 17:33] a-murphy commented on #4518
Is there a reason that you commented out the CI YML and added a runSh job?  The missing Gemfile error in the runCI job when the CI is commented out is because the default CI language is Ruby.  You need to set a language in your `shippable.yml` to specify another language.

`SHIPPABLE_COMMIT_RANGE` is not set in runSh jobs.  The default runSh environment variables are listed [here](http://docs.ship

[2018-08-20 18:26] oyving commented on #4520
I wrapped everything in `shippable_retry`, which seems to have solved it for now.

[2018-08-21 06:05] sanster23 commented on #4518
@a-murphy thanks for this `generic` part (i dont think it was mentioned in the docs explicitly), i had figured this out though and removed the runSh job and used only RunCI and build_ci jobs.

But I have another issue that all I want to do is run a Bash script on CI trigger for user config through terraform.
And as you mentioned that Ci uses an environment of the [ supported languages](http://docs

[2018-08-21 09:20] vidiecan opened #4521 "Accidentally deleted rSync ssh key(s)"
Project Id: 548f3ff2d46935d5fbc03c6b
repo: c-image-to-text
all three c-image-to-text_*_rSync jobs
Based on the issue tracker, seems reset ssh key feature has not been implemented yet so I ask you to send me the public keys via email. Thank you

Suggestion: use different names for ssh keys so you a slightly bigger chance to not forget that rSync jobs are not triggered every day while deleting ssh k

[2018-08-21 12:54] lag-linaro opened #4522 "Can't push to Docker Hub - denied"
Push to Docker Hub is failing.

Functionality to 'test Docker Registry credentials' is not provided on Shippable, it could either be the linking between Build and Integration or the set-up of the Integration itself.

- Link to the build failure

https://app.shippable.com/github/lag-linaro/distribution-library-image/runs/30/1/console

- Error message seen

- Copy of YAML file

[code]

[2018-08-21 16:19] a-murphy commented on #4522
Based on the error message, the integration appears to be valid but the Docker account in the integration does not have permission to push a library image by that name.  There also doesn't appear to be a library image with that name on Docker Hub.  Did you mean you use `docker build -t docker.io/laglinaro/distribution-library-image:1 2.6` and `docker push docker.io/laglinaro/distribution-library-i

[2018-08-21 18:45] trriplejay commented on #4521
I've sent an email with the keys to the technical contact address in the sub. sorry for the inconvenience! We're working on that reset feature, as well as consolidating keys for the same project, so you don't get one-per-enabled-branch for rSync.  Please reopen if you need something else.

[2018-08-21 18:45] #4521 closed, assigned to nobody

[2018-08-21 18:59] vidiecan commented on #4521
thanks

[2018-08-21 23:41] a-murphy commented on #4518
If you don't want to specify any of the supported languages, there is a `language: none` option.  It has no defaults and won't result in a Ruby build.

To only trigger the runCI job on commit webhooks, you can disable pull requests on the project settings page.  Directions are available [here](http://docs.shippable.com/ci/trigger-job/#configuring-build-triggers).  For only commit webhooks, the "pr

[2018-08-22 06:27] sanster23 commented on #4518
oh the `language: none` did it
i will make a note of these links
@a-murphy thanks for the help man

[2018-08-22 06:27] #4518 closed, assigned to nobody

[2018-08-22 07:53] lag-linaro commented on #4522
EDITED: Re-read your response which I now understand.

I came to the same conclusion just before re-reading - pushed a new shippable.yaml.

Just waiting 13 mins for the Shippable pre-amble :disappointed: Will report back.

[2018-08-22 08:42] lag-linaro commented on #4522
Still failed:

https://app.shippable.com/github/lag-linaro/distribution-library-image/runs/32/1/console

I can't help but think the default URL setup in the Interaction `https://index.docker.io/v1/` is not correct/compatible.

When I use this locally, I receive the same error as seen in Shippable:

`docker build -t index.docker.io/v1/laglinaro/distribution-library-image:1 2.6`
`docker push index.d

[2018-08-22 16:38] a-murphy commented on #4522
Could you try removing the `docker.io/` prefix in the `docker push` command?  Although it doesn't usually cause any problems, `docker.io` is the default and you don't really need to specify it.  We've confirmed that `docker push` should be working in the aarch64 node pool.

[2018-08-22 18:52] #4520 closed, assigned to nobody

[2018-08-23 08:46] mbrodala opened #4523 "Add build progress indicator"
There is a neat feature in Bamboo which shows a progress bar for builds/jobs. For this the system actually remembers the last build time (or maybe an average/median) and uses this to show the progress of the currently running build/job.

I think something similar would fit well in the Shippble UI to give watchers a hint how much longer a build/job will approximately take until finished.

[2018-08-23 19:24] SpencerTranter opened #4524 "Stalled deployment due to space"
Deployment has stalled due to error:
`Failed to dir at path:/build/IN with err: Error: ENOSPC: no space left on device, mkdir '/build/IN'`

- https://app.shippable.com/github/formhero/jobs/smarties-deploy/builds/5b7f01afdfcdc60600078178/console

[2018-08-23 19:28] a-murphy commented on #4524
I've canceled that job so that you won't have to wait for it to time out while we look into it.  You should now be able to rerun the deploy job.

[2018-08-23 19:28] neilouellette commented on #4524
We are seeing the same thing.

https://app.shippable.com/bitbucket/mxitechnologies/jobs/lpa-document-deploy-staging-ecs/builds/5b7f0344dfcdc60600078392/console

[2018-08-23 19:40] a-murphy commented on #4524
I've canceled that one as well.

[2018-08-23 19:51] neilouellette commented on #4524
Thank you a-murphy.

[2018-08-24 13:35] davidcervi commented on #4503
Hi guys,

Any update on whether this feature request has been accepted or not?

Thanks!

[2018-08-24 19:30] manishas commented on #4503
Hi David, This feature is in our backlog, and since it's not a common scenario, I'd like to get some more details on the requirements and some background on the organization.

You can reach me at manisha@shippable.com and we can continue this over email.

[2018-08-24 21:09] davidcervi commented on #4503
Hi Manishas,

Cool sounds good.

Thanks,
David.

[2018-08-25 09:12] mikkopori commented on #3886
Okay, had something else as well. But now I got it working locally (inside the docker during buid), but when I run the same docker build in shippable it for some reason tries to contact https instead of http which is used to run tests.

Perhaps a problem in the networking?

Here is the latest failed run:
https://app.shippable.com/github/mikkopori/enterlot/runs/914/1/console

Any comments or advice

[2018-08-27 12:42] BryanCrotaz opened #4525 "SPOG dashboard captions are unreadable"
![image](https://user-images.githubusercontent.com/2016523/44660246-fb6fde00-a9fe-11e8-9e51-3a0e46d8056f.png)

To read them I have to zoom all the way into an individual job which makes the pipeline view useless.

[2018-08-27 18:09] jefffleming commented on #4524
I'm seeing this also.
https://app.shippable.com/bitbucket/jeff_fleming/jobs/webupdate-manifest/builds/5b84372ff50d42070027c38c/

Is this the same issue I hit 2 weeks ago? https://github.com/Shippable/support/issues/4509

[2018-08-27 18:15] trriplejay commented on #4524
Looks like a separate problem (from 4509), this one related to a  space issue on one of our service machines. I've removed your stuck job and resolved the space issue.  If you run it again manually it will operate properly.

[2018-08-27 21:21] johnzhao9 opened #4526 "Builds stuck on "Setup - Setting up dependency""
### Description of your issue:

This afternoon (2~3 PM CT?), builds started to get stuck on the "Setup" stage. Last line in the log is "Setting up dependency:"

Would appreciate any hints

- Link to the build failure
Here is one of the build that got stuck for 1+ hour. I cancelled it:
https://app.shippable.com/github/PassageTech/shippable-ci/runs/1246/1/console

I then kicked off another one and i

[2018-08-27 21:29] trriplejay commented on #4526
we're investigating.

[2018-08-28 00:29] a-murphy commented on #4526
We've identified that the error is related to some `gitRepo` resource inputs.

A workaround, until we get the problem fixed, is to add a `gitConfig` to the `pointer` of the `gitRepo` resource you are using as an input to the failing CI job.  The `gitConfig` option should be like this:
[code]

If you would prefer to set a different value for `user.name`, that will also work.  The current default fo

[2018-08-28 06:47] Bharath92 commented on #4526
We've fixed the error. You can revert your yml back to what it was. Please let us know if that helps.

[2018-08-28 08:28] aurelien-reeves opened #4527 "Significant performance drop"
We recently noticed an important drop in execution time of our builds.

To confirm the drop I've rebuild an old build.

Original: https://app.shippable.com/github/hiptest/hiptest/runs/5972/
Now: https://app.shippable.com/github/hiptest/hiptest/runs/6022/

We can see that one the third // job was executed in 10 minutes, now 13 minutes.
More significant, the second one was first executed in 21 minut

[2018-08-28 08:43] rageshkrishna commented on #4527
@aurelien-reeves Is it alright if I try re-building the same job once again? I'd like to monitor the build to see what is slowing it down.

[2018-08-28 09:06] rageshkrishna commented on #4527
@aurelien-reeves I think I understand the problem here. The performance impact began on the 17th of August, when we updated your subscription to use a newer version of our build runner. Unfortunately, that particular release had a CPU usage issue in the build runner which made your build times shoot up to 45+ minutes.

Prior to the 17th of August, I can see that successful builds on this branch we

[2018-08-28 09:12] aurelien-reeves commented on #4527
Hi,

Thank you for your quick response.

If you need triggering re-build of jobs, please do, it is alright.

We will monitor build execution time today, and keep you informed.

Thank you,
Regards,
Aurélien

[2018-08-28 12:51] johnzhao9 commented on #4526
It's working now, thank you very much for the prompt workaround and the fix!

[2018-08-28 12:53] johnzhao9 commented on #4526
Issue resolved, thanks again

[2018-08-28 12:53] #4526 closed, assigned to nobody

[2018-08-28 13:32] aurelien-reeves commented on #4527
It is better now, but it remains significantly slower than it was before

[2018-08-29 11:33] sdlarsen opened #4528 "No cluster nodes available for new node pool"
Hi.
I've created a new node pool as we need more (and updated) builders. It seems to be stuck.

The Nodes section displays:
"No cluster nodes available for node pool dynamic__x86_64__Ubuntu_16_04__c4_xlarge."

Will it eventually be there or can I do something about it?

[2018-08-29 11:57] Riturajcse commented on #4528
Hey @sdlarsen `dynamic` nodes gets created automatically when you run a build, you should be able to see nodes added to your node pool when you will run a build.

Also  If you have not defined which node pool to choose in your Shippable ymls make sure you make your `dynamic__x86_64__Ubuntu_16_04__c4_xlarge` as default node pool.

Please refer our node pool [docs](http://docs.shippable.com/platform

[2018-08-29 12:35] sdlarsen commented on #4528
I have plenty builds queued up, that's why I'm wondering.
From tinkering, I see only builders from the default pool is used. I've reduced to one default pool and increased the size of that. It works. I wonder if that's the expected behaviour?

[2018-08-29 12:41] Bharath92 commented on #4528
For nodes to be available on the nodepool:
- enable a project using the `+` button on your subscription dashboard
- the build can be triggered manually or by pushing a commit to the enabled project
- to run the builds, on-demands nodes will be created

Please confirm if you have done the above steps.

[2018-08-29 12:43] sdlarsen commented on #4528
You beat me to it. Yes, I've done the above steps. The only way I can get it to work is by only having one pool. The non-default pool is never used it seems.

[2018-08-29 12:49] Bharath92 commented on #4528
could you please let us know the name of your subscription?

[2018-08-29 12:52] sdlarsen commented on #4528
@Bharath92 Sure, that would be uberresearch

[2018-08-29 12:59] Bharath92 commented on #4528
Say you want to create a new nodepool and use it in your build, use
[code]

By default, the nodePool which is default is used even though the runtime section is not specified in the yml.

For using a different nodepool in a CI build refer to the docs specified here
- http://docs.shippable.com/ci/yml-structure/

For using a different nodepool in a runSh build refer to the docs specified here
- http

[2018-08-29 13:04] sdlarsen commented on #4528
@Bharath92 Thanks, that explains what I see.

[2018-08-29 13:04] #4528 closed, assigned to nobody

[2018-08-29 19:20] BryanCrotaz opened #4529 "Missing dependency for: IN"
key-value-pair integration works on one repo and not on another.

'''
reqProc|runCI|_setUpDependencies, Missing dependency for: IN npm_private_auth
'''

[2018-08-29 19:31] manishas commented on #4529
Are the scopes on the integration set up to include both repos?

[2018-08-29 19:37] BryanCrotaz commented on #4529
Project Permissions: All projects

[2018-08-29 19:38] BryanCrotaz commented on #4529
and they're in the same assembly line

[2018-08-29 19:47] a-murphy commented on #4529
There doesn't appear to be a resource named `npm_private_auth` in your subscription.  There is a subscription integration by that name.  Since you are trying to use it in a runCI job, you may want to add that integration to the `integrations` section of your `shippable.yml` instead of as an `IN` resource.  Although I haven't identified which other project is using the same integration, I'm guessin

[2018-08-29 19:58] BryanCrotaz commented on #4529
It's used successfully in ember-cli-template-editor_runCI

[2018-08-29 20:00] BryanCrotaz commented on #4529
Not Working:
[code]

Working:
[code]

[2018-08-29 20:08] a-murphy commented on #4529
The last successful runs in `ember-cli-template-editor_runCI` did not have `npm_private_auth` as an `IN` resource or in `integrations`; they weren't using it at all as far as I can tell.  And the most recent runs are failing with the same error as `sc-pp-frontend_runCI`.

You can either add an integration resource (with the same name as your subscription integration or a different name, but matchi

[2018-08-29 20:14] BryanCrotaz commented on #4529
you seem to have changed how this works recently?

[2018-08-29 20:17] BryanCrotaz commented on #4529
http://docs.shippable.com/platform/tutorial/integration/subscription-integrations/
says how to set them up but not how to reference them in the yaml

[2018-08-29 20:34] trriplejay commented on #4529
CI has always supported an 'integrations' section, and key-value pair integrations were supported there when they were introduced.  We've also supported attaching integrations to resources for use in IN steps for quite awhile.

Usually the instructions on how to include the integration in yml are on the integration's page, since it can differ depending on the type of integration. So [this page](ht

[2018-08-30 08:15] andye2004 opened #4530 "git config in CI question"
We are trying to run a git commit in our CI build . via a groovy script called through maven and getting an error because the global config doesn't appear to be set. If we add a command to the shippable.yml file just prior to running the maven command it works.

Is this an issue or is it by design?

[2018-08-30 08:16] Bharath92 commented on #4530
could you please give us the subscription name?

[2018-08-30 08:17] andye2004 commented on #4530
yambay-tech

When I say if we add a command I mean a 'git config --global.....' command.

[2018-08-30 08:20] Bharath92 commented on #4530
Could you please share the build link where you are experiencing this issue?

[2018-08-30 08:21] andye2004 commented on #4530
https://app.shippable.com/github/yambay-tech/mobility-server/runs/1678/1/console

[2018-08-30 08:53] aurelien-reeves commented on #4527
Nothing new about that?

[2018-08-30 09:16] Bharath92 commented on #4530
Is the build trying to create a new git folder and trying to add a commit there?

[2018-08-30 09:23] andye2004 commented on #4530
Yes, we have generated folder with generated sources and we are doing a git init, followed by git add followed by git commit.

[2018-08-30 09:32] Bharath92 commented on #4530
Ok. Currently, in a CI build's `git_sync` step we `git config` the `user.name` and `user.email` to the CI repo, if it is not configured. But, since we do not do it using `--global`, the config is set only for the folder which the CI build runs against.

Setting `user.name` and `user.email` is essential for a git repo because it is baked into the commits as mentioned [here](https://git-scm.com/book

[2018-08-30 09:34] andye2004 commented on #4530
Thanks @Bharath92 ! Appreciated. Will give this a go now.

[2018-08-30 10:24] andye2004 commented on #4530
Thanks again @Bharath92, that has worked a treat. I love it when I learn something new and --local switch is todays lesson!

[2018-08-30 10:24] #4530 closed, assigned to nobody

[2018-08-30 12:59] rahul2393 opened #4531 "Not Able to get the AWS keys into CI"
### Not able to access the AWS access_keys and secret_keys from integration (type amazonKeys):

- Scripts called from the yml (optional)
https://github.com/rahul2393/sample_pipelines_terraform/blob/master/shippable.yml

I have tried following the docs but not able to get values.

[2018-08-30 14:49] bbrala opened #4532 "Job not triggering through time resource"
The following build is not triggering on the time resource. I'm not sure why.

https://app.shippable.com/bitbucket/swisnl/laravel-nova-updater/runs/34/summary/

https://app.shippable.com/subs/bitbucket/swisnl/resources/updateNovaEvery4Hours/versions

[2018-08-30 16:45] doc82 opened #4533 "Can no longer view our builds/jobs/repos in shippable"
### Description of your issue:
Our github repo disappeared from our dashboard! We get 404s whenever we try to view our builds/jobs. Nothing has changed.

- https://app.shippable.com/github/hyxus/hyxus-accounts/runs/258/summary/console

[2018-08-30 16:47] trriplejay commented on #4533
can you try going to the "profile" page and click the "sync" button?

[2018-08-30 16:49] doc82 commented on #4533
@trriplejay You are a scholar and a saint sir.

Panic attack mode over. We are good to go.

[2018-08-30 16:50] trriplejay commented on #4533
awesome, glad that fixed it!

[2018-08-30 16:50] #4533 closed, assigned to nobody

[2018-08-30 18:49] cpoll opened #4534 "Add AWS ECS Container Health Check support"
Amazon supports ECS container-level health checks as of March. See: https://aws.amazon.com/about-aws/whats-new/2018/03/amazon-ecs-supports-container-health-checks-and-task-health-mana/

We would like to use this feature, but we use Shippable to create our AWS ECS Task Definitions (Shippable manifests), and there doesn't seem to be a way to do this.

To see the feature in AWS, go to ECS -> Task Def

[2018-08-30 19:17] trriplejay commented on #4532
we've found the issue and will be patching it shortly

[2018-08-30 19:42] bbrala commented on #4532
Awesome, thanks

[2018-08-30 20:05] trriplejay commented on #4531
I think there are a few extra steps you'll need to take to get this working:

- add a runCI job definition to a "jobs" section of your yml. This definition should specify your `dr_aws` resource as an IN. it will look like this:
[code]

- next, you have to add this project/branch as a `syncRepo`. Instructions for that are here: http://docs.shippable.com/platform/tutorial/workflow/add-assembly-line/

[2018-08-30 20:18] trriplejay commented on #4532
This fix has been deployed now, and it looks like your 4 hour interval job was successfully triggered.  Let me know if you're still seeing any issues.

[2018-08-30 20:18] #4532 closed, assigned to nobody

[2018-08-30 20:50] trriplejay commented on #4534
while not explicitly documented, we utilize a kind of "pass through" system on the [dockerOptions](http://docs.shippable.com/platform/workflow/resource/dockeroptions/#provider-specific-options_1) resource, where anything you put in the `versionTemplate` section directly will get passed as part of the container definitions. (we also have sections for adding to the taskDefinition directly, as well a

[2018-08-30 22:55] raelgc opened #4535 "Cypress support"
### Description of your issue:

Build: https://app.shippable.com/github/arizonabay/output/runs/8582

Actually I've wrote some tests using Cypress (which is a headless npm testing framework).

I've tried to follow their CI instructions: https://docs.cypress.io/guides/guides/continuous-integration.html

But my build stops after the `npm install`.

[2018-08-30 23:28] trriplejay commented on #4535
Could you try updating to the latest runtime version?

On your subscription dashboard, go to settings -> node pools -> edit the default node pool -> select v6.7.4 from the runtime version drop-down -> save.

Then try running the build again. Let me know if you still see the same issue.

[2018-08-31 06:43] AaronLuo3296 opened #4536 "Bitbucket build status not updating if latest build succeeds"
I met the same issue with https://github.com/Shippable/support/issues/3793, but I could't reopen that one, so I create a new issue.

Bitbucket server version I used: Atlassian Bitbucket v5.4.8

For every build, I called the bitbucket build status API to update status when the build is started and finished.
[code]
The result of every build was what we expected, but the build status in Bitbucket das

[2018-08-31 07:18] bbrala commented on #4532
Awesome, thanks

[2018-08-31 11:22] rahul2393 commented on #4531
@trriplejay Here is my yaml
[code]
Nothing gets echoed, So to access the variables do I need to create Jobs first?

[2018-08-31 11:48] raelgc commented on #4535
Ok, I've made this and now mysql refuse to start. I've reverted back to 5.8.

Build: https://app.shippable.com/github/arizonabay/output/runs/8592

[2018-08-31 12:19] raelgc commented on #4535
Probably it's related to Ubuntu 14.04. But I cannot find a way to change it. In the Noode Pools page, it was a disabled field.

[2018-08-31 13:40] trriplejay commented on #4531
Yes, for the dr_aws resource to be included in the build you'll need to define the runCI job, and then add the project as a sync repo.

[2018-08-31 14:39] cpoll commented on #4534
Thanks, I'll try it soon and close this issue.

Incidentally, does this apply to any other resources? We're also looking for a way to create DAEMON services in ECS (https://aws.amazon.com/about-aws/whats-new/2018/06/amazon-ecs-adds-daemon-scheduling/). This is a bit muddier, because the `replicas` and `deploy` resources don't entirely match up with ECS Services... (Let me know if I should just ope

[2018-08-31 14:43] jodastephen commented on #4507
To get this to work I had to use `pre_ci_boot` to choose an image, Without that oraclejdk10 is not supported. Why?

This is the yml extract I used:

[code]

Interestingly, the `shipctl jdk set` does change the `java` version, but not the one seen by `mvn`.

[2018-08-31 16:06] trriplejay commented on #4507
pre_ci is executed outside of the build container, on the shippable agent, which does not have java installed, so that command would be expected to fail in pre_ci.  Are you saying it also fails in the yml you show above when you don't have a pre_ci_boot section?

[2018-08-31 16:14] trriplejay commented on #4534
actually you can set a `schedulingStrategy` also by using the dockerOptions resource.  Since that modifies the service definition (not the container definition) you'd specify it like this:
[code]

[2018-08-31 16:27] jodastephen commented on #4507
OK, I've tried it in `ci` and it switches. But it only switches Java and not Maven:

[code]

This is a work around, but its not ideal as it requires hard coding the JVM location:

[code]

[2018-08-31 17:34] manishas commented on #4527
@aurelien-reeves let me chat with the team and get back to you asap after the long weekend.

[2018-08-31 18:37] a-murphy commented on #4536
Since you're using `$BUILD_ID` for the `key` in the status, and the `$BUILD_ID` changes each run, Bitbucket will keep a status for each build.  If you want to only show the last status in Bitbucket, you'll have to use the same `key` every time you update the status.

[2018-08-31 19:08] cpoll commented on #4534
Not sure if I'm doing something wrong, the validator doesn't seem to like the `healthCheck` section:
[code]

The `dockerOptions` resource in question is being used as an IN to a `manifest` resource, in this instance.

**Edit**: `service: schedulingStrategy: "DAEMON"` behaves much the same way:
[code]

[2018-08-31 19:51] a-murphy commented on #4535
Changing the node operating systems available in your subscription can be done in [subscription billing](http://docs.shippable.com/platform/management/subscription/billing/).  However, the container you are using to run your build is 16.04 in both cases, just running on a 14.04 node.  I haven't been able to reproduce an error in `mysql_start`.  Did you change anything else at the same time?  Or ar

[2018-08-31 20:39] raelgc commented on #4535
I just reverted back to latest 5.8 to not block the team on deliverables. Anyway, I've found that if I redirect the `npm install` to `/dev/null`, it works. Appears that a long output for the `npm install` will fail the build.

Now, appears that I cannot install some packages required by `cypress` using `apt`.

Can you, please, give any advice?

Build: https://app.shippable.com/github/arizonabay/ou

[2018-08-31 20:41] raelgc commented on #4535
Nevermind, I've changed my configs to be `14.04` and run an `apt update` before install and it worked. Maybe we should use this as an example for cypress + shippable, as cypress is just the new hot UI automation framework.

[2018-08-31 20:41] #4535 closed, assigned to nobody

[2018-09-01 12:26] #4503 closed, assigned to nobody

[2018-09-03 01:24] AaronLuo3296 commented on #4536
@a-murphy Thanks for your quick answer.

Basically I want to show the last status in Bitbucket dashboard, but keep all status in Bitbucket server. That means it shows how many builds are there when I put the mouse pointer on the build status badge, and it pops up a window showing the details of every build when I click the badge it, which is the same as Jenkins integration with Bitbucket.

For exa

[2018-09-03 10:26] BotellaA opened #4537 "gitRepo does not trigger anymore"
My gitRepo georep_start [(link)](https://app.shippable.com/subs/bitbucket/ArnaudBotella/resources/georep_start/versions) does not get triggered anymore but the ciRepo still works [(link)](https://app.shippable.com/subs/bitbucket/ArnaudBotella/resources/georep_ciRepo/versions). I do not understand why. I did not change anything in the yml files.

Thanks for your help

[2018-09-03 12:03] AgrawalRahul opened #4538 "Not able to push to github"
### Description of your issue:
I am not able to push changes to github from shippable. It does not even give a log that build failed or something. Shippable shows everything is successful (shows the new commit) but I do not see any commit in https://github.com/AgrawalRahul/spin-kub-v2-demo.

- Scripts called from the yml (optional)
[code]

The deploy.sh is
[code]

[2018-09-03 12:11] Bharath92 commented on #4538
Could you please share the build link?

[2018-09-03 12:18] AgrawalRahul commented on #4538
https://app.shippable.com/github/AgrawalRahul/spin-kub-v2-demo/runs/12/summary/console

I am working on it. I think deploy.sh is run when a tag starting with `deploy` keyword is pushed. So the branch becomes tag name instead of master. Which is causing this problem. Because if I do `git status`, it shows `HEAD is detached from

[2018-09-03 12:22] AgrawalRahul commented on #4538
Yes. I need to manually checkout the branch if I am doing build based on Tag Push. That was the issue.
[code]

This works while
[code]
Does not work because if I trigger a build on tag push, the current branch is not `master`, instead it's detached.

[2018-09-03 12:22] #4538 closed, assigned to nobody

[2018-09-04 04:55] manish-in-java opened #4539 "Builds failing for no apparent reason"
Builds for our project `55d549ca6ed0590b008bba40` have started failing for no apparent reason since last Thursday. According to the logs for builds `3202` - `3204` that have failed, one of the tests (and only one) has been failing. However, this test passes on all other environments. Further, no changes have been made to the part of the code that the test works against since Wednesday, when the la

[2018-09-04 06:05] rageshkrishna commented on #4539
@manish-in-java I'm unable to locate a project with that id. Can you please email a link to the project to ragesh@shippable.com if you would rather not share it here? Thanks!

[2018-09-04 06:11] manish-in-java commented on #4539
@rageshkrishna, sent an email to you. Please check and advise.

[2018-09-04 06:12] ankul-shippable commented on #4537
@BotellaA I see that a version for ciRepo was created for pull request. For gitRepo resource(i.e. `georep_start`) no new version was created because it ignores pull request webhooks by default. To create versions for gitRepo resources on pull requests, add the `buildOnPullRequest` flag:
[code]

Please let us know if you need any help with configuring your pipelines.

[2018-09-04 07:32] BotellaA commented on #4537
My links mislead you. I just pushed another commit (without PR) on a new branch called `flann` and both gitRepo and ciRepo did not get updated.

I checked the webhook from bitbucket and the request was sent and the status is `200`.

Do you need more data to understand the situation?

[2018-09-04 07:58] ankul-shippable commented on #4537
okay, could you reset your the project and check again?
To reset a project goto projects/settings tab and click on `Reset all keys`.

![docs_link](http://docs.shippable.com/images/platform/visibility/project-settings-3.jpg)

[2018-09-04 08:28] BotellaA commented on #4537
I reset the keys but same behavior. It looks like 2 PR builds are created for the same commit and no classic build (see https://app.shippable.com/bitbucket/ArnaudBotella/georep/dashboard and job 1012 and 1013). BTW, the commit referenced in theses builds is 8a28cba847 and it is not my latest commit.

Maybe something is wrong on bitbucket side...

[2018-09-04 10:26] nikaspran commented on #4537
We also have the same issue, see https://app.shippable.com/github/hostmakerco/hostmaker-website/runs?branchName=production

Builds are not getting auto-triggered by github commits as of at least 14hrs ago.

We also did not change anything in our configuration.

Github is also reporting Shippable webhooks as successfully triggering and returning `200 OK`. Seems like an issue on Shippable's side.

*

[2018-09-04 11:45] ankul-shippable commented on #4537
@nikaspran we see that your builds are getting triggered. Are you still facing the issue?

If so, could you please send me the webhook payload at ankul@shippable.com for which the builds did not trigger on shippable?

Also, we see that you have disabled builds on `commits`. was this change done recently?
![image](https://user-images.githubusercontent.com/16793274/45030106-6c02a480-b068-11e8-982b-c

[2018-09-04 12:04] ankul-shippable commented on #4537
@BotellaA Could you please check if your project has more than one webhooks added from Shippable.

If so, could you please send me the webhook URLs at ankul@shippable.com?

[2018-09-04 13:49] bbrala opened #4540 "No projects visible"
There are no projects visibile again. Any idea why?

https://app.shippable.com/subs/bitbucket/swisnl/dashboard (bbrala)

[2018-09-04 14:35] mishalshah25 opened #4541 "Account is blocked"
Hi

My account for email address mishal.shah@hostmaker.co is blocked, please advise why.

Thanks

Mishal Shah

[2018-09-04 14:53] a-murphy commented on #4541
Our algorithm automatically flags potentially malicious accounts but it does give some false positives. Sorry about that... I have unflagged your account so you should be able to sign in.

[2018-09-04 15:57] trriplejay commented on #4534
My mistake, it looks like our service will need to be updated to accommodate these fields, as the version of the SDK we're currently using is rejecting it.  We've opened an internal ticket to make that change.

[2018-09-04 16:02] trriplejay commented on #4540
can you try clicking the "sync" button on your account profile page? How often would you say this happens to you? typically we'd only see it if there was some kind of outage from the source control provider.

[2018-09-04 16:43] jacopo-chevallard opened #4542 "git clone Error in the pull function"
Hi, I'm getting a strange error in the automatic build of this project https://app.shippable.com/github/jacopo-chevallard/BEAGLE/runs/228/1/console

[code]

although I didn't change the yml scripts since last build, and I checked that the clone command works without errors on my local machine. Any clue?

Thanks !

[2018-09-04 17:29] a-murphy commented on #4536
The [Bitbucket documentation](https://developer.atlassian.com/server/bitbucket/how-tos/updating-build-status-for-commits/) suggests overwriting a commit status by using the same key if the overall status should no longer be failed.  I don't think it's possible to have a failed status in the list of builds and "success" appearing next to the commit.

The closest you would be likely to get to keepin

[2018-09-04 17:34] trriplejay commented on #4542
has anything changed in the custom base image that you're building with? Do you know which version of git is installed on that image? Is the repo particularly large or contain large files?

Some suggestions that I've found online for that error include:
- If your base image is old, try updating openssl `sudo apt install openssl` before cloning
- if that doesn't work, try increasing the git post bu

[2018-09-04 19:11] bbrala commented on #4540
That is the first thing i tried. I've openened the app again, and it does say its syncing...

[2018-09-04 19:29] trriplejay commented on #4540
hmm, based on our logs it actually looks like you're being rate limited by bitbucket at the moment. I see you've had issues in the past with this as well.  We've taken some steps to make fewer calls when syncing bitbucket accounts, but it looks like this is still an issue for you.

Do you know if your account is listed as the builder for any of your projects? It might be beneficial to create a bit

[2018-09-04 19:33] bbrala commented on #4540
I think i might have ratelimited myself through a plugin on bitbucket itself.  :(

From what i understand shippable uses any account within the organisation automaticly to spread the load? Thats what was told a while back. We have quite a few projects enabled, looking at which i might be mensioned as the one triggering is kinda hard?

[2018-09-04 19:43] trriplejay commented on #4540
Typically the builder account selection looks like this:
- default to the person who enabled the project
- if that person doesn't have sufficient permission, find someone who does, and they become the builder.
- any time the job is triggered, validate the builder, and select a new one if necessary

The builder doesn't change as long as the currently selected one has appropriate access, so for exam

[2018-09-04 19:45] bbrala commented on #4540
Good to hear you have some ideas on getting the flow a bit better.

For now I've disabled the plugin in bitbucket, and hopefully this will help. Should i run into problems again i'll open a new ticket.

[2018-09-04 19:45] #4540 closed, assigned to nobody

[2018-09-04 21:41] ric03uec commented on #4524
we've fixed all our services that were having this issue. the jobs should run correctly now without running into out-of-space errors.
closing this

[2018-09-04 21:41] #4524 closed, assigned to nobody

[2018-09-04 23:12] AaronLuo3296 commented on #4536
Thank you @a-murphy . I think I can close the ticket.

[2018-09-04 23:12] #4536 closed, assigned to nobody

[2018-09-05 05:10] trriplejay commented on #4507
hmm, that is odd. if i manually docker run with interactive mode, and use shipctl jdk set, it does seem to set it for both mvn --version and java -version, but in the context of the build, it only changes java -version. i'll have to look into that.

[2018-09-05 08:15] LubaMiteva opened #4543 "Unable to log in using github account"
Unable to log into shippable using github login. I have enabled 2-factor identification on github and consistently getting the message:

"An error occured, please choose an action.
Your account has been blocked as it was identified to be violating our security policy.
Please contact support if you feel this is a mistake."

Going "home" just shows "account blocked".

[2018-09-05 08:22] rageshkrishna commented on #4543
@LubaMiteva Sorry about that. Our system to flag accounts for review sometimes hits false positives. I've unblocked your account. Please logout and back in. Thanks!

[2018-09-05 08:50] LubaMiteva commented on #4543
Able to log in now, thank you @rageshkrishna !

[2018-09-05 08:50] #4543 closed, assigned to nobody

[2018-09-05 09:00] rahul2393 commented on #4531
https://github.com/rahul2393/sample_pipelines_terraform/blob/master/shippable.yml
I tried changing to this, I was able to access AWS keys when build manually, but the issue is it is failing while run and I am not able to run the build_ci task with trigger push on the master branch

Can you please share correct .yml file @trriplejay

[2018-09-05 09:15] jacopo-chevallard commented on #4542
Thanks for the super quick reply, I'll follow your suggestions and report back here

[2018-09-05 09:49] jacopo-chevallard commented on #4542
Updating the base image solved the problem, thanks a lot John!

[2018-09-05 09:49] #4542 closed, assigned to nobody

[2018-09-05 09:54] rahul2393 commented on #4531
I am closing the issue, found the solution
Thanks @trriplejay

[2018-09-05 09:54] #4531 closed, assigned to nobody

[2018-09-05 14:01] bbrala opened #4544 "Rsync task is not triggering."
The following rsync task didnt trigger automaticly but only after i did it manually.

https://app.shippable.com/bitbucket/swisnl/jobs/geonovum_develop_rSync/dashboard

Any reason why this would be?

[2018-09-05 14:13] bbrala commented on #4544
I might be overlooking something...

[2018-09-05 14:13] #4544 closed, assigned to nobody

[2018-09-05 15:07] raelgc commented on #4535
Just to share my recipe: http://raelcunha.com/2018/09/05/ui_testing_with_continuous_integration/

[2018-09-05 16:22] ric03uec commented on #4527
@aurelien-reeves we're still debugging the performance issues with the new node types on which your subscription builds were running. Meanwhile, we've moved the subscription back to the previous nodes which should get the build times back to their previous numbers.
We've identified a potential root cause for this but will need more testing and analysis to confirm.
We'll post an update on this issu

[2018-09-05 17:49] trriplejay commented on #4537
@BotellaA It looks like a "branch" field of "master" is now in your gitRepo resource. This will mean that only commits to "master" trigger your repo.  I see that this repo version was added at about 7:08am 8/31 (UTC).  It looks like this version was created by you, and not by a webhook (the "triggeredBy" field has your bitbucket display name, and no webhook information in the payload).  Do you rem

[2018-09-05 21:11] BotellaA commented on #4537
I do not really know how to manually trigger a gitRepo. All the versions of this gitRepo are auto-triggered from a push.

[2018-09-05 21:36] trriplejay commented on #4537
We're still investigating the root cause, but I've updated your repo version so a commit to any branch should properly update it. You can try re-sending old webhooks via the bitbucket UI, or just make a new commit to verify.

[2018-09-06 03:07] jmreicha opened #4545 "Docker arm64 builds?"
I was wondering if it is possible to build Docker images against arm64 (and other) platforms alongside amd64 using Shippable?  Are there docs or an example somewhere for doing this?

[2018-09-06 05:58] ssps12 commented on #4545
I have requested for arm license on shippable. Still I didn't get any response. Please let me know if I need to request in any other place.Thanks

[2018-09-06 06:23] BotellaA commented on #4537
I pushed another commit and it seems to work. Thanks
Good luck for your investigation.

You can close the issue, unless you want me to try something else.

[2018-09-06 11:10] ghost opened #4546 "Unable to log in"
### Description of your issue:

Trying to log in using whitlowc@cardiff.ac.uk, receiving the following error:

[2018-09-06 11:12] rageshkrishna commented on #4546
@CharlieChalk100 I've unblocked your account. You should be able to log in now.

[2018-09-06 13:59] ghost commented on #4546
yep that's done it, great thank you!

[2018-09-06 13:59] #4546 closed, assigned to nobody

[2018-09-06 15:59] trriplejay commented on #4545
@ssps12 we've processed your request and your subscription has been given permission to use the restricted aarch64 node pool.  You can continue following the instructions here: http://docs.shippable.com/platform/tutorial/workflow/run-ci-builds-on-arm/#2-configure-your-yaml

[2018-09-06 16:05] trriplejay commented on #4545
@jmreicha typically you'd want to split this into separate jobs, and have one job assigned to an arm64 node pool while the other is assigned to the amd64 node pool. amd64 is the default architecture when you login to Shippable.  You can follow [this link](http://docs.shippable.com/platform/tutorial/workflow/run-ci-builds-on-arm) to request access to a shared Arm node pool.  In your job yml you can

[2018-09-06 16:49] jmreicha commented on #4545
@trriplejay Thanks.  So the machines in the arm64 node pool should be able to build Docker images natively then yeah?

[2018-09-06 16:58] trriplejay commented on #4545
yes, your build will run on an Arm host, inside an Arm-based docker container, which is configured to allow docker build commands.

[2018-09-06 17:01] #4545 closed, assigned to nobody

[2018-09-06 20:50] depohmel opened #4547 "Depended strict job stuck in waiting for hours"
Hello, some of our jobs have a `strict` dependencyMode. And sometimes we see that depended job stayed in `Wating` status for 3+ hours, even that parent doesn't have anything to run.

The only way to unblock child job is to cancel `waiting`  job and restart it manually.

[2018-09-06 22:00] trriplejay commented on #4547
Hi @depohmel can you link to a specific job that was seeing this?

There are conditions under which a strict mode job could end up in "waiting" until another incoming job is executed (or it is manually executed).  This can happen if you have an IN that is a job, or a resource OUT from a job, that is in progress and marked with `switch: off` when the strict job is triggered.

The strict job will se

[2018-09-06 22:07] depohmel commented on #4547
This is probably exactly what is happening, and this is exactly what  I wanted to see.  But the strict job is stuck in waiting, even when there is nothing running on IN job.  Sometimes it goes from waiting to running, but sometimes it just sits in waiting.

[2018-09-06 22:31] trriplejay commented on #4547
this can also happen if the strict job is waiting, and then one of the processing inputs fails. The strict job won't trigger until the inputs are back in a successful state.  Manual run will override this condition.  But if you think your issue is related to `switch: off` inputs, then I can open an internal ticket to discuss a better way to handle that case.

[2018-09-06 22:35] depohmel commented on #4547
my strict job has at least  2 INs from parent job: 1 parent job itself, 2 image (switch: off)

[2018-09-06 23:54] a-murphy commented on #3886
Could you confirm that you have provided all the same environment variables to the `docker build` command as you do when running it locally?  And how do you usually determine if requests should be made over HTTP or HTTPS in your tests?  Is there an environment variable or a configuration file somewhere?

[2018-09-07 00:00] sshen81 opened #4548 "Build fails - AWS integration not functioning"
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
- Scripts called from the yml (optional)

We are experiencing failing builds after updating our integration in shippable.yml
https://app.shippable.com/bitbucket/vigorsystemsinc/vigor-image/runs/521/1/console

The build fails with the following output:

aws iam get-user
Unable

[2018-09-07 00:14] a-murphy commented on #4548
AWS integrations in the `generic` section are not automatically configured for use.

There are two easy ways to connect to AWS through the CLI from your CI job.  You can add the integration to the `hub` section with `type: ecr` as documented [here](http://docs.shippable.com/ci/push-amazon-ecr/) to automatically configure the AWS credentials.  Or you can use environment variables, either [secure en

[2018-09-07 00:24] sshen81 commented on #4548
The attempt to use the ECR type was attempted in this build. https://app.shippable.com/bitbucket/vigorsystemsinc/vigor-image/runs/519/1/console

However, it failed as we are not installing the awscli until the ci section of our build. ECR was therefore not able to initialize.

[2018-09-07 00:29] a-murphy commented on #4548
If the AWS CLI is not in your build image, Shippable cannot automatically configure the AWS credentials.  In this case, environment variables would be your best option.  Using the environment variables recognized by the AWS CLI should allow you to connect to AWS without any configuration commands once the CLI is installed.

[2018-09-07 17:06] trriplejay commented on #4535
@raelgc glad it's working. nice tutorial!

[2018-09-08 04:13] mikkopori commented on #3886
That was it, thank you. The settings were not development settings, changed that and it started to work.

[2018-09-08 04:13] #3886 closed

[2018-09-09 19:20] jmreicha opened #4549 "Build against multiple nodePools?"
Is it possible to specify multiple `nodePool`s in the shippable.yml configuration file to build against different architectures?  If that's not possible is there a good way to do builds against different pools?

[2018-09-10 11:02] Vebenh opened #4550 "Error. Your account has been blocked."
All the time this error is displayed. In all browsers, even in incognito. I log in through bitbaket.

[code]

[2018-09-10 11:03] rageshkrishna commented on #4550
@Vebenh can you please tell me the BitBucket user name that you logged in with?

[2018-09-10 12:27] BotellaA commented on #1582
Do you have any estimated timeline for these features?

[2018-09-10 21:20] ric03uec commented on #4549
@jmreicha you can use multiple node pools in a couple of ways right now.

## using branches in runCI jobs
- this will require you to add different branches in the project which each branch having
the required `nodePool` value that you want. e.g.

- branch 1 shippable.yml
[code]
- branch 2 shippable.yml
[code]
- **Pros**
  - this is the fastest way to get your existing yml to work on multiple node

[2018-09-10 22:22] gstewart-onevigor opened #4551 "Failure to login to shippable"
Previously I used Bitbucket to authenticate with shippable.  My organization switch email addresses a while back and I needed to create a new Bitbucket account in order to be able to login.  Now, I am unable to login via Bitbucket to shippable.

The error message I receive is:

"An error occured, please choose an action.

Your account has been blocked as it was identified to be violating our secur

[2018-09-10 22:25] a-murphy commented on #4551
Our algorithm automatically flags potentially malicious accounts but it does give some false positives. Sorry about that... I have unflagged your accounts so you should be able to sign in.

[2018-09-10 22:42] gstewart-onevigor commented on #4551
Thanks!  Works now!

[2018-09-10 22:42] #4551 closed, assigned to nobody

[2018-09-11 09:56] Mateja94 opened #4552 "Service redis boot error, restarting..."
redis_start can not start redis service. It prints "Service redis boot error, restarting..." over and over until it timeouts.

![selection_089](https://user-images.githubusercontent.com/33351174/45352669-4ff78980-b5b9-11e8-9234-01a0849a3059.png)

[2018-09-11 11:03] vidiecan opened #4553 "Issues with gitRepo resource with specified branch"
Resource Id: 82617

yml:
[code]

Issue(s):
1. I do not see all the commits from the `a_name` branch in the versions (e.g., 8842970);
1. I see commits (commit hashes e.g., 33e2fb4d0d0e73b759706936ef344fc3436750fe ) from other branches;
1. *Observation*: The versions on shippable show the correct time (e.g., Today at 12:23 PM and match the commit time) but they pop up on the page only after runCI fi

[2018-09-11 16:07] jmreicha commented on #4549
@ric03uec Thanks, that makes sense.  Is there any way to reuse scripts/build logic across different jobs?

[2018-09-11 16:10] Riturajcse commented on #4549
Hi @jmreicha, we do support reusing of `scripts` across different jobs using `templates` you can check more about this in our docs [here](http://docs.shippable.com/platform/workflow/job/runsh/#yml-templates).

[2018-09-11 16:11] trriplejay commented on #4553
It looks something changed your branch from `a_name` to `master`, though I see that your yml is correctly defined..  For now I've corrected your resource, and we'll continue to investigate the root cause.

[2018-09-11 16:18] jmreicha commented on #4549
@Riturajcse Awesome thank you!

[2018-09-11 17:43] jmreicha commented on #4549
Sorry, one last piece of the puzzle to figure out.  Currently my job type is listed as `runCI` and I'm not sure how to change that type to `runSh` in my job settings?

![image](https://user-images.githubusercontent.com/1039098/45377418-6ac50080-b5af-11e8-952e-957d2e73a52e.png)

[2018-09-11 18:04] ric03uec commented on #4549
the project yml seems be mostly set up correctly. you need a few more things to get this working
1. **enable rSync**: since you're now defining your assembly line configuration (as opposed to just CI configuration) in the shippable.yml file, you'll need to enable a [rSync](http://docs.shippable.com/platform/workflow/job/rsync/) job for it. here's how to do it
    - navigate to the the `+` icon on

[2018-09-11 18:10] jmreicha commented on #4549
@ric03uec Ah ok I think that makes sense, I will try it out later today, thanks.

[2018-09-11 18:45] a-murphy commented on #4552
It looks like only one of the branches in your project is unable to start Redis, and the other branch starts Redis as expected.  There isn't any noticeable difference between the most successful and timed out runs other than the branch, so the failure is likely related to the branch.  Are there configuration files in the branch timing out that are not in the branch succeeding?  It's most likely th

[2018-09-11 22:16] prov-ShawnChambless opened #4554 "Account blocked while logging in"
I was attempting to grant additional scopes to Shippable on my second login, and my account was blocked. Looks like the same issue as #4243.
![screen shot 2018-09-11 at 3 15 21 pm](https://user-images.githubusercontent.com/43181270/45390835-8511d500-b5d5-11e8-81c4-978ae9ef9834.png)

[2018-09-11 22:17] a-murphy commented on #4554
Our algorithm automatically flags potentially malicious accounts but it does give some false positives. Sorry about that... I have unflagged your account so you should be able to sign in.

[2018-09-12 11:39] Vebenh commented on #4550
Hi!
m.konovalov@mygento.ru

пн, 10 сент. 2018 г. в 14:03, Ragesh Krishna <notifications@github.com>:

[2018-09-12 11:43] rageshkrishna commented on #4550
Hi @Vebenh. Your account has been unblocked. Please try logging in again.

[2018-09-12 11:46] Vebenh commented on #4550
It's work. Thank you.

ср, 12 сент. 2018 г. в 14:43, Ragesh Krishna <notifications@github.com>:

[2018-09-12 11:46] rageshkrishna commented on #4550
Good to know. Thanks!

[2018-09-12 11:46] #4550 closed, assigned to nobody

[2018-09-12 22:16] #4554 closed, assigned to nobody

[2018-09-13 05:10] #4488 closed, assigned to nobody

[2018-09-13 05:11] manishas commented on #4494
@ric03uec can you post an update for this issue and close?

[2018-09-13 05:11] manishas commented on #4507
@trriplejay can you post an update to this issue?

[2018-09-13 05:11] #4501 closed, assigned to nobody

[2018-09-13 06:59] cbliard opened #4555 "Documentation links lead to 403"
### Description of your issue:

On http://blog.shippable.com/notifying-ci-failure/success-status-on-email-slack at the end of the page there are links to HipChat and IRC integrations. They both lead to 403 Forbidden error pages. Links are:
  - IRC: http://docs.shippable.com/int_notifications/#irc-notifications
  - http://docs.shippable.com/int_notifications/#hipchat-notifications

[2018-09-13 07:03] cbliard opened #4556 "Creating Slack integration - What does "Edit permissions" means?"
Hello there,

I'm creating a slack integration. All fields make sense except for "Edit permissions". I can choose member, collaborator or admin. What do they refer to? I can't find this information in Slack.

Thanks

[2018-09-13 07:46] ankul-shippable commented on #4556
@cbliard
We allow creating integrations at two levels: Account and Subscription

Account level integrations only you can edit and view.

Subscription level integrations are shared between all the subscription members, collaborators and admins. And, You can select whether members and collaborators can edit and view the credentials for these integrations using `Edit permissions`. By default, admins

[2018-09-13 15:33] a-murphy commented on #4555
Thank you for letting us know.  The correct links are [Hipchat](http://docs.shippable.com/ci/hipchat-notifications/) and [IRC](http://docs.shippable.com/ci/irc-notifications/).

[2018-09-13 16:16] jmreicha commented on #4549
@ric03uec I think we're good to go.  Thanks again for straightening things out!

[2018-09-13 16:16] #4549 closed, assigned to nobody

[2018-09-13 16:26] trriplejay commented on #4553
closing as dup of https://github.com/Shippable/support/issues/4537

[2018-09-13 16:26] #4553 closed, assigned to nobody

[2018-09-13 16:27] trriplejay commented on #4537
We've uncovered the root cause, and this will be fixed in our next release. I'll close this issue once the fix is deployed.

[2018-09-13 17:31] cbliard commented on #4556
Thanks @ankul-shippable 👍

That was not very clear from the UI.

[2018-09-13 17:31] #4556 closed, assigned to nobody

[2018-09-13 17:41] ric03uec commented on #4492
this will be fixed in the next release (v6.8.4) that comes out in next few days

[2018-09-13 17:57] ric03uec commented on #4494
we've fixed the bugs in the caching workflow that were causing errors in `tar` command(s).

mysql and redis issues mentioned in the build seem to be unrelated since we've been able to test both these services successfully and other builds using same services are not showing any similar problems.

closing this issue, feel free to reopen if the problem still persists.

[2018-09-13 17:57] #4494 closed, assigned to nobody

[2018-09-13 18:15] trriplejay commented on #4507
@jodastephen can you try adding:
[code]
 to the beginning of your script?

It looks like maven uses $JAVA_HOME, which is not set by the shipctl command.  If this $JAVA_HOME is not defined, then maven will use the version selected by the `shipctl jdk` command.

here's some output from a test I ran:
![image](https://user-images.githubusercontent.com/6869398/45507193-418aa880-b746-11e8-9449-b2bd978ae

[2018-09-13 21:50] provPaulBrousseau commented on #4554
Not to say "me too", but... "me too".

[2018-09-13 21:54] a-murphy commented on #4554
I've just unflagged your account as well.

[2018-09-13 21:58] provPaulBrousseau commented on #4554
Thank you; problem resolved!

[2018-09-13 22:02] prov-paul-nathan commented on #4554
@a-murphy Hi there! Me too!

[2018-09-13 22:04] a-murphy commented on #4554
Your account is now unflagged, too.

[2018-09-14 03:58] #4541 closed, assigned to nobody

[2018-09-14 04:00] manishas commented on #4539
@rageshkrishna can you post an update for this issue?

[2018-09-14 04:20] rageshkrishna commented on #4539
Manish and I discussed this over email. Their project doesn't perform well on our newer, bigger nodes because these machines lack enough entropy and Manish's builds use an RNG to randomize the tests.

I moved them back to the older nodes until we figure out how to improve the situation on the new nodes.

Build perf is currently back to normal on their projects.

[2018-09-14 08:37] mikkopori opened #4557 "aws-deploy job stoppped working and does not launch even manually"
Hello,

any ideas what might have changed or be wrong?

https://app.shippable.com/github/mikkopori/jobs/deploy_aws/dashboard

yours,

Mikko

[2018-09-14 08:38] manishas commented on #4557
We're experiencing a service interruption: http://status.shippable.com/

[2018-09-14 08:39] #4548 closed, assigned to nobody

[2018-09-14 08:40] mikkopori commented on #4557
Okay, hope you get this fixed soon. Thank you for the quick reply.

[2018-09-14 08:40] #4557 closed, assigned to nobody

[2018-09-14 11:25] vidiecan commented on #4553
@trriplejay should the latest release solve this issue?

We are still having problems with our pipelines because rSync jobs have not been triggered while the ciRepo ones have and that is because the version on the gitRepo has not been correctly updated.

rSync job - Job Id: 39197
[code]

Resource Id: 39196
[code]
Last version
[code]
but all versions (cca 8) since (`Wed Sep 12 19:39:26 2018 +0200`)

[2018-09-14 17:43] ric03uec commented on #4492
this has been fixed in the latest release. The [docs](http://docs.shippable.com/platform/runtime/machine-image/ami-v684/#python) mention the exact python version being installed.

[2018-09-14 17:43] #4492 closed, assigned to nobody

[2018-09-14 17:45] trriplejay commented on #4553
hmm, that repo actually looks like it is configured correctly.  Typically syncRepos will only get a new version if the Shippable `yml` files are modified.  If you make other changes, then rSync is not expected to run.  Can you confirm that making a change to a `shippable.yml` configuration file does not trigger the rSync job?

[2018-09-14 18:00] vidiecan commented on #4553
@trriplejay re-tried and now it works, hopefully it stays this way.

for the record, I updated `.shippable.yml` three times today and only the last one (few minutes ago) triggered rSync.

[2018-09-14 19:23] trriplejay commented on #4537
This fix has been released. please let me know if you encounter this issue again.

[2018-09-14 19:23] #4537 closed, assigned to nobody

[2018-09-17 13:13] jodastephen commented on #4507
Yes the workaround worked for me. Up to you whether you view that as a bug in `shipctl`!

[2018-09-17 14:14] kqdtran opened #4558 "Build failure with "test_db is being accessed by other users""
Hello, about a week ago we started experiencing this error in the `tearDown` method in our Django `unittest` suite. We've triple checked our code to make sure that the error was not caused by new test(s) or any change that would alter tests behavior in the codebase. The test suite also seems to run fine locally.

[code]

Looking up this error, the internet suggested dropping the test db and/or kil

[2018-09-17 19:06] a-murphy commented on #4558
We haven't been able to identify any changes to Shippable within a similar time frame.  There do appear to be quite a few dependencies in your `requirements.txt` that now download newer versions.  Quite often errors that appear on Shippable and not locally are a result of a newer version of a dependency being downloaded on Shippable than is already installed locally.  Have you tried starting with

[2018-09-18 16:36] trriplejay commented on #4534
@cpoll we've released this change. Can you try again and let me know if you run into any more issues, or have any more questions?

[2018-09-18 21:51] nealeu commented on #4507
Hi,
A fix for JAVA_HOME getting set would be helpful.  I'm finding I've got Java 10 running since switching to v6.8.4 despite my JDK being specified at oraclejdk8 via shipctl.

[2018-09-18 21:58] trriplejay commented on #4507
@nealeu we are planning to release a fix for this. Are you also seeing this specifically with Maven? can you try the above workaround where you add `- export JAVA_HOME=""` in your CI script before the shipctl jdk command?

[2018-09-19 14:08] dandesousa opened #4559 "Deployment Key and PR Builds Security?"
### Description of your issue:

I'm attempting to setup a configuration where non-PR builds into master automatically triggered an update to the docs by pushing to the gh-pages branch.

However, it seems like in order to do this, I would need to add the deployment key to my project. I've verified that the same key is used during PR builds, which means that in a public repo anyone can modify the ym

[2018-09-19 14:10] dandesousa commented on #4559
The simplest possible way I can think of to represent the sort of thing I'm trying to do:

[code]

[2018-09-19 14:27] nealeu commented on #4507
@trriplejay Thanks. I'll give that a try.

[2018-09-19 17:28] trriplejay commented on #4559
I think you can accomplish this with a few extra setup steps.

- [create an "ssh-key" integration](http://docs.shippable.com/platform/tutorial/integration/subscription-integrations) in your subscription, and [add it to your yml](http://docs.shippable.com/ci/ssh-keys/#adding-your-own-ssh-key)
- add the public key to github, and give it write permissions
- modify your script to make sure the correct

[2018-09-19 23:48] aedades opened #4560 "Unable to initialize new node"
### Description of your issue:
We see the following error when initializing the node either manually or automatically (`/bin/bash /root/node/initScripts/x86_64/Ubuntu_14.04/boot.sh`):
[code]

Our build node image is: ubuntu/images/hvm-ssd/ubuntu-bionic-18.04-amd64-server-20180823 (ami-0f70471ae2a09c9df).

[2018-09-20 00:08] a-murphy commented on #4560
An Ubuntu 18.04 node cannot be part of an Ubuntu 14.04 Shippable node pool.  Since the only [node pool](http://docs.shippable.com/platform/tutorial/runtime/manage-node-pools/) currently in your subscription is an Ubuntu 14.04 node pool, you can only add Ubuntu 14,04 nodes.  Could you try with an Ubuntu 14.04 AMI?

If you would prefer to use Ubuntu 16.04 nodes, you can edit your [subscription plan]

[2018-09-20 06:41] Azuka opened #4561 "Is the Bitbucket integration currently down?"
### Description of your issue:
I noticed my builds for Bitbucket were failing and also that when I try to sign in using Bitbucket (after signing out), I get the error below:

[code]
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
- Scripts called from the yml (optional)

[2018-09-20 06:54] psoders commented on #4561
experiencing same issue

[2018-09-20 06:56] rageshkrishna commented on #4561
We're investigating this issue.

[2018-09-20 07:06] ramstm opened #4562 "Cannot login to Shippable with Bit-Bucket credentials"
Hi Team,

We are seeing the following error when trying to login Shippable with Bit-bucket credentials.

Can you please look in to the issue.

InternalOAuthError: Failed to obtain request token
    at Strategy.OAuthStrategy._createOAuthError (/home/shippable/www/node_modules/passport-oauth1/lib/strategy.js:396:17)
    at /home/shippable/www/node_modules/passport-oauth1/lib/strategy.js:244:41
    a

[2018-09-20 07:21] rageshkrishna commented on #4562
Closing as a duplicate of https://github.com/Shippable/support/issues/4561. Please follow that issue for updates. Thanks.

[2018-09-20 07:21] #4562 closed, assigned to nobody

[2018-09-20 07:21] pranipat opened #4563 "Not able to login to shippable account"
I am not able to login to my shippable account . Also the builds are not happening for my projects  . Getting the following error:
InternalOAuthError: Failed to obtain request token

[2018-09-20 07:27] rageshkrishna commented on #4563
We are currently investigating an issue with logins via BitBucket. Please follow https://github.com/Shippable/support/issues/4561 for updates.

Closing this as a duplicate.

[2018-09-20 07:27] #4563 closed, assigned to nobody

[2018-09-20 07:54] nmarjanovic commented on #4561
Same here and it's more then blocking issue for our team. Any updates?

[2018-09-20 07:56] rageshkrishna commented on #4561
We are currently seeing API calls to BitBucket being rejected with a `401` status code.

I can confirm that we have not made any changes to the Shippable service today that would have triggered this. We are continuing to investigate why our calls are being rejected by BitBucket.

[2018-09-20 08:05] rageshkrishna commented on #4561
It looks like our IP was blocked by Atlassian. We have worked around this by updating our NAT to use a new public IP address. Login with BitBucket is now working as expected.

[2018-09-20 08:11] nmarjanovic commented on #4561
Nice, but all configuration and build history can't be seen any more.

[2018-09-20 08:13] rageshkrishna commented on #4561
Please head over to your account profile page and sync your account.

[2018-09-20 08:14] nmarjanovic commented on #4561
Did that already and got "No projects found for projectId(s): ", will try to run again.

Edit: Took some time ...but looking better, will run new build and see how things will go. Thanks.

[2018-09-20 08:24] ramstm commented on #4561
I can login now...Thankyou!

[2018-09-20 08:25] Azuka commented on #4561
That solved it. Thanks for the quick resolution! Do you want me to close this?

[2018-09-20 08:27] ramstm commented on #4561
I think you can close it if others in thread are not seeing any issues.

[2018-09-20 08:28] rageshkrishna commented on #4561
@Azuka Thank you for the confirmation. Feel free to close this issue if you are not experiencing any other problems.

@nmarjanovic I hope your sync issue is resolved. If not, please open another support issue and we'll help you out. Thanks!

[2018-09-20 08:59] #4561 closed, assigned to nobody

[2018-09-20 10:00] ramstm opened #4564 "Issue with deployments"
Bitbucket login issue is fixed but when we try commit code to bitbucket, Shippable builds are failing to trigger. We tried multiple projects and still see the same problem.  Can you please have a look.

[2018-09-20 10:01] rageshkrishna commented on #4564
Can you give me a subscription name or id that I can look at?

[2018-09-20 10:02] rageshkrishna commented on #4564
BitBucket is currently experiencing an issue with webhooks. That might be the problem: https://status.bitbucket.org/incidents/318nww6zl6ts

[2018-09-20 10:05] ramstm commented on #4564
How do I get the subscription ID?
Like you mentioned it could also be Issue with web hooks. We committed code sometime back and we saw a build triggered after long time

[2018-09-20 10:06] rageshkrishna commented on #4564
The subscription ID is available in the bottom right corner of the page when you visit your subscription dashboard on Shippable.

[2018-09-20 10:13] ramstm commented on #4564
Do you have a private channel (like email) where I can share my subscription ID

[2018-09-20 10:14] rageshkrishna commented on #4564
Sure, you can email me at ragesh@shippable.com.

[2018-09-20 14:52] ci-orthopred opened #4565 "Accout blocked"
### Description of your issue:
I'm unable to log into Shippable because my account seems to violate your security policy.

I am getting the following error:

"An error occured, please choose an action.

Your account has been blocked as it was identified to be violating our security policy.
Please contact support if you feel this is a mistake."

[2018-09-20 15:55] trriplejay commented on #4565
I have unblocked your account. Sometimes our checks give false positives. Can you try again?

[2018-09-20 16:13] RadekDvorak opened #4566 "Job does not start"
Hi,

I am unable to start the job [80722](https://app.shippable.com/github/damejidlo/jobs/dj-mobile-beta-build/dashboard). I tried both API and SPOG GUI. The corresponding rSync job look OK.

Can you please fix the issue or give me advice what to do?

Thank you

[2018-09-20 16:21] trriplejay commented on #4566
@RadekDvorak it looks like your job still contains an IN for a git repo resource that no longer exists. This is likely why the job won't run.  The job should have been marked as inconsistent. we'll investigate why it wasn't, but you should be able to fix this by removing the bad gitRepo from the IN steps of this job.

[2018-09-20 16:38] RadekDvorak commented on #4566
Thank you!

[2018-09-20 17:44] aedades commented on #4560
Thank you for the quick fix @a-murphy !

[2018-09-20 17:44] #4560 closed, assigned to nobody

[2018-09-20 20:00] #4566 closed, assigned to nobody

[2018-09-20 21:47] jorgensoares opened #4567 "Remove `desiredCount` AWS ECS daemon scheduling"
Hello,
 we are trying to use shippable to deploy a service to aws ecs but we get this message:
[code]

From what I could observe we cannot schedule a service in DAEMON mode with shippable because the `desiredCount` is always being sent when it should not. According to aws docs:
[code]

- Link to the build failure
https://app.shippable.com/github/konciergeMD/jobs/ops-log-collector-deploy-test/build

[2018-09-20 21:51] trriplejay commented on #4567
unfortunately we do not currently have a way to unset the desiredCount as it always defaults to 1, regardless of strategy.  I'll open a ticket to get this fixed and let you know once it's released.

[2018-09-21 05:39] ramstm commented on #4564
Thankyou..The issue is resolved.

[2018-09-21 05:39] #4564 closed, assigned to nobody

[2018-09-21 08:18] csanyit commented on #4565
Thank you for your help, it works!

[2018-09-21 09:38] #4565 closed, assigned to nobody

[2018-09-21 14:52] mbrodala opened #4568 "Cannot re-initialize nodes"
Today I tried to re-initialize some of our nodes to v6.9.1 but after some time without output these failed:

[code]

Could it be that the IP address of Shippable has changed and needs to be unlocked in firewalls?

[2018-09-21 15:13] rageshkrishna commented on #4568
Hi @mbrodala. We were forced to change it yesterday because BitBucket blocked us. The new IP is 52.70.242.32.

[2018-09-21 17:19] depohmel opened #4569 "Job got started by object with switch: off"
Hello, I have a job, which INs looks like this:
[code]
But job is got triggered by k10_repo

![image](https://user-images.githubusercontent.com/1631779/45896029-bd5ca480-bd87-11e8-9db4-96b18576d1ce.png)

[2018-09-21 17:24] trriplejay commented on #4569
@depohmel investigating

[2018-09-21 18:10] trriplejay commented on #4569
the timeline looks something like this:
- yesterday, CI job runs, produces image, which triggers subsequent deploy job, which then triggers the job you're referring to here.
- job gets put in "waiting" since it's in strict mode, and another parallel CI job is still running (job is connected to CI via dashboardbff-img)
- parallel CI job finishes, but does *not* update the image, thus does not trigg

[2018-09-21 21:02] nealeu commented on #4507
@trriplejay That worked.  Thanks for stepping in to point out what I'd missed.

[2018-09-21 21:17] ric03uec commented on #4507
@jodastephen we've put up a blog post explaining how to extend shippable CI using assembly lines: http://blog.shippable.com/upgrade-to-a-smarter-ci-workflow. hope we've covered all the steps you found to be complex.

[2018-09-24 13:42] RadekDvorak opened #4570 "Replicas resource not working"
We run a [deployment](https://app.shippable.com/github/damejidlo/jobs/dj-prod-app-deploy/builds/5ba8dfc0f6a3220600aadb2d/console) task. Although we applied the replicas resource (Resource Id: 80683) with `count: 20` to the appropriate manifest, shippable deploys only few pods (possibly a single pod only).

[code]

[code]

Do we miss something important? Is this a bug?
This is kind of show stopper

[2018-09-24 14:27] mbrodala commented on #4568
Thanks, after unlocking this in our firewall we could re-initialize our nodes again. It would be great if something like this was shown somewhere, e.g. http://status.shippable.com/.

[2018-09-24 16:56] 345paul opened #4571 "GitHub repo renamed now no longer appears even after syncing"
I had to rename a GitHub repo that was previously set up in Shippable and working.  After the rename, the repository won't appear in the list of repositories in order to enable it for CI.  I have tried clicking the Sync button many times, but it is not appearing at all.

Thinking it might be something that was still set on the repository in the GitHub settings, I manually removed the Shippable web

[2018-09-24 17:04] a-murphy commented on #4571
Renamed projects should still be enabled after they are renamed.  Could you check if the project is listed on the subscription dashboard by clicking the name of the subscription containing your repository under "subscriptions" in the left sidebar on Shippable and looking for the new repository name in the first tab?  And, when you renamed the repository, did you also move it to a different organiz

[2018-09-24 17:09] 345paul commented on #4571
Hi, thanks for the quick response.

No, the project doesn't appear in the subscription dashboard in the Jobs tab.  The project hasn't moved organisation or account either.

[2018-09-24 18:45] RadekDvorak commented on #4570
FYI replica works well when used in manifests. Application in deployments seems broken.

[2018-09-24 22:31] provsweeney commented on #4554
@a-murphy Hi there - me too!

[2018-09-24 22:33] a-murphy commented on #4554
Your account is unflagged now.

[2018-09-24 22:52] a-murphy commented on #4571
It appears that the syncRepo part of your project had trouble updating the webhook when the name changed.  We'll let you know when it's fixed.

[2018-09-25 08:00] 345paul commented on #4571
Ok, thanks

[2018-09-25 16:28] trriplejay commented on #4570
glad you found a workaround. i'm investigating this.

[2018-09-25 16:33] 345paul commented on #4571
Just to let you know, I recreated the repo in GitHub and re-synced with Shippable to enable it so we are back up and running.

[2018-09-25 16:33] #4571 closed, assigned to nobody

[2018-09-25 18:53] cpoll commented on #4534
@trriplejay Thanks! Sorry for the late response, we'll be testing this out early next week.

[2018-09-26 14:01] slavafomin commented on #3991
Is there any news? Using Fargate would be a much more convenient option for us (so we don't have to configure the underlying EC2 infrastructure manually).

[2018-09-26 18:49] RadekDvorak opened #4572 "Deployment ordering"
Hello,

what is the order of deployments in deploy job with multiple manifests? How can I set the order manifests are deployed? I tried changing the order of IN clauses without success.

I tried to work around this with several linked deploy jobs. However previous deploy job is unfortunately added to the following job. I found no way to switch this behaviour off :-(

Could you please give me an ad

[2018-09-26 19:08] trriplejay commented on #4572
hmm... they're supposed to be done in the order that they're listed in the yml IN steps.  If that is not the case, I will open a bug for this.

Could you verify that in your deploy job logs, the IN steps are listed/processed in the proper order that you expect in the setup section of the script?

in the meantime, I think your idea of linking will work, but you'll unfortunately need to add a buffer

[2018-09-26 19:25] trriplejay commented on #4572
ok, we've confirmed that the ordering of INs is not preserved in the managed deploy script. I've opened a bug, and we can let you know when it's scheduled for release.

[2018-09-27 06:02] manish-in-java opened #4573 "Timeline for support for Java 11"
As you might be aware, Java 11 [has been released](https://www.infoq.com/news/2018/09/java11-released). We are currently on Java 10, and given Oracle's new support model for Java, Java 10 immediately became obsolete as soon as Java 11 came out.

Do you have plans of adding Java 11 to the list of supported Java versions? By when we can expect this to happen? I ask because we will have to plan our J

[2018-09-27 06:11] rageshkrishna commented on #4573
Yes, Java 11 will be available in the v6.10.4 release which is currently scheduled for the last week of October.

[2018-09-27 06:14] manish-in-java commented on #4573
Thanks @rageshkrishna.

[2018-09-27 06:14] #4573 closed, assigned to nobody

[2018-09-27 07:17] RadekDvorak commented on #4572
Great. Could you please explain the ordering in deploy job documentation? I could not find it.

[2018-09-27 08:08] cbohiptest opened #4574 "Account blocked"
I try to connect shippable.com with github (hiptest organization) login but I have an error :
_Error
An error occured, please choose an action.

Your account has been blocked as it was identified to be violating our security policy.
Please contact support if you feel this is a mistake._

I try to revoke the shippable app from github and try to connect again, but it still does not work.

[2018-09-27 08:09] Bharath92 commented on #4574
Your account is unflagged now. Could you please try again?

[2018-09-27 08:12] cbohiptest commented on #4574
It's ok.
Thanks.

[2018-09-27 08:13] aurelien-reeves commented on #4574
@Bharath92 just curious to know what happened?

[2018-09-27 11:51] 345paul opened #4575 "Unable to delete amazonKeys integration"
For some reason an amazonKeys integration we had created which had been set to 'all projects' permissions scope couldn't be accessed by a new project created in GitHub.  So, I tried to select the specific project in the permissions scope, but get this error when saving:

`getSubscriptionIntegrationById for id: 12980 returned error: subscriptionIntegration not found for :id 12980`

I then try and d

[2018-09-27 16:07] trriplejay commented on #4572
Once we've fixed this issue, we'll also update the documentation of the deploy job to explain the ordering.  At the moment I don't think there's a great explanation to offer :)

[2018-09-27 16:09] trriplejay commented on #4574
New logins to Shippable will occasionally get flagged based on some checks we do to prevent abuse of the platform, however we do get some false positives, in which case opening a ticket here is the right action to take.

[2018-09-27 17:00] a-murphy commented on #4575
That integration had been set up so that only one project was allowed to use it, and that project was then (most likely) deleted on GitHub.  Since you did not have access to the deleted project, you couldn't edit or delete the integration.  Because the integration was unusable, I have deleted it.

[2018-09-28 05:49] vijayreddy1991 commented on #4469
This issue got fixed, now php ldap is available in v6.8.4 later.

[2018-09-28 07:24] mbrodala commented on #4469
@vijayreddy1991 Thanks for the hint, we'll check our builds. It would be great if such changes also where mentioned in the Shippable changelog.

[2018-09-28 07:50] mbrodala opened #4576 "Unable to drop old reqproc images"
We are unable to drop old `drydock/u16reqproc` images because they have the same image ID as the latest one:

[code]

How is this possible?

[2018-09-28 07:58] rageshkrishna commented on #4576
Changes in these releases did not require any updates to our reqProc service. As a result, they are all actually the same image with different tags. They do not take up any extra space as the layers are all shared.

If you really want to make them go away from the list you can do `docker rmi drydock/u16reqproc:v6.8.4 drydock/u16reqproc:v6.9.1`. This will un-tag them. It won't make any difference t

[2018-09-28 08:16] 345paul commented on #4575
Ok thanks.

The project permissions scope was set to all projects, but maybe it wasn't originally.  The project that is would likely have been associated with was deleted (well, it was renamed, which caused another problem in Shippable, see issue https://github.com/Shippable/support/issues/4571) and we ended up having to delete and recreate the repo in GitHub for it to appear again in Shippable.

[2018-09-28 08:16] #4575 closed, assigned to nobody

[2018-09-28 08:19] mbrodala commented on #4576
Thanks, that makes sense. I just free some space from time to time, if these images use the same space, it won't really matter.

[2018-09-28 08:19] #4576 closed, assigned to nobody

[2018-09-28 08:51] mbrodala commented on #4469
We just tried and it seems like `ldap` is not installed after all. See build 87 of project `5af2d405d4612c0600baa5a4`:

[code]

[2018-09-28 12:30] vidiecan commented on #4553
@trriplejay we are experiencing similar issue again,

Job Id: 86347
has not been triggered by its IN resource
[code]
The last time it was triggered by te_Repo was on `09/21/2018`.

However, re_Repo has all the versions
[code]

[2018-09-28 12:53] nealeu commented on #4507
@trriplejay Did shipctl fix make it in 6.9.4?  I didn't spot it in release notes.

[2018-09-28 17:53] trriplejay commented on #4507
We did release a change. I guess it didn't make it into the notes, but i'll have those updated.  Instead of setting JAVA_HOME="", just change your shipctl commands to use `source`. This is the best way to properly set the JAVA_HOME variable.

so, instead of `shipctl jdk set oraclejdk10`, you'd use `source shipctl jdk set oraclejdk10`.

we'll also document this change, since it's not mentioned at t

[2018-09-28 18:21] a-murphy commented on #4356
A re-initialize button has been added to the node pools page, allowing custom nodes to be re-initialized on both the page for that node and on the node pool page listing all the nodes in a pool.

[2018-09-28 18:21] #4356 closed, assigned to nobody

[2018-09-28 18:24] a-murphy commented on #4373
Name wrapping has been updated since this issue was opened.  Further changes to how job names are displayed on the SPOG can be followed in #4525.

[2018-09-28 18:24] #4373 closed, assigned to nobody

[2018-09-28 19:19] trriplejay commented on #4553
hmm, since you've made this comment, it looks like it has actually run twice as a result of an update to the repo...  is it possible that the job was paused? Was any other change made after your comment that got it working again?

[2018-09-29 18:16] cpoll commented on #4534
@trriplejay Health checks is working, but we're having another issue with schedulingStrategy: DAEMON. The error is `The daemon scheduling strategy does not support a desired count for services.`
We're applying the DAEMON option to one of our manifests and a `type: replicas; version: count: 1` option to the others. We've made sure that the `replicas` object is not being applied to the manifest that

[2018-09-30 20:08] danielsuter opened #4577 "Manually install nodejs"
I use the oraclejdk8 image. Node 7.10. 0 also seems to be installed. I now require a later node version and tried to update and install it but failed. I always finds the old installation. Ways I tried so far:

Using nvm

Nvm can't be found, because it would need to restart the shell.

Install a later node version

It will still use the old version.

[2018-10-01 07:46] mbrodala commented on #4356
Yeah, I'm using it all the time now, thanks a lot!

[2018-10-01 16:04] trriplejay commented on #4534
unfortunately daemon strategy is not yet supported. we use a default value for desiredCount even if no replicas resource is used, so it's not currently possible to remove it from the request.

Support for the daemon strategy is being tracked here: https://github.com/Shippable/support/issues/4567 so I'm going to close this. Let me know if you have any other questions.

[2018-10-01 16:04] #4534 closed, assigned to nobody

[2018-10-01 16:12] trriplejay commented on #4577
Could you provide a project ID or link to one of your builds?

our default java images should have nvm and node pre-installed, but it depends on how your subscription is configured, so it would help if we could take a closer look.

[2018-10-01 16:15] mikkopori opened #4578 "How to enable experimental mode in docker?"
Hello,

I have a job running a docker build command. I would like to run it experimental mode, so how do I get this done in shippable?

Yours,

Mikko

### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
- Scripts called from the yml (optional)

[2018-10-01 16:21] danielsuter commented on #4577
nvm try: https://app.shippable.com/bitbucket/Sanix/shinseikan-crm/runs/106/1/console

Installing node 8: https://app.shippable.com/bitbucket/Sanix/shinseikan-crm/runs/104/1/console

[2018-10-01 16:43] a-murphy commented on #4577
Your subscription has been configured to use a build image from June 2017.  The easiest solution would be to update that to a newer image that already has Node 8.12.0 installed.  For example, the default Java image in v6.9.4 has Node 8.12.0.  Then you won't need to manually install NodeJS.

To update to a newer default image, you can edit the node pool in your subscription as described [here](http

[2018-10-01 16:54] trriplejay commented on #4578
Since enabling experimental mode requires restarting the daemon, it can't really be done on dynamic nodes without getting the build stuck.

I think this would be possible if you used a [custom node](http://docs.shippable.com/platform/tutorial/runtime/manage-byon-nodes/) and enabled experimental after the shippable initialization script completes, though I haven't tried this.

[2018-10-01 22:18] vkamra opened #4579 "Fan-out/Fan-in steps in pipeline"
Hi,
We have multiple stages in our pipeline and in certain stages we'd like to run jobs in parallel - triggering the next stage only when all those jobs are successful.

It wasn't clear to me how we would represent the fan-out/fan-in of multiple jobs in Shippable.

Any pointers to samples or documentation here would be great.

-Vaibhav

[2018-10-01 22:31] a-murphy commented on #4579
If the jobs triggered in parallel aren't followed by other jobs in parallel before waiting for them all to complete, you can just add `dependencyMode: strict` (documented [here](http://docs.shippable.com/platform/workflow/job/overview/#dependencymode-strict)) to the job that should wait.  It's more complicated if you need to run a series of jobs in parallel (so not all of the parallel jobs trigger

[2018-10-02 01:02] clippermadness opened #4580 "Cassandra won't start on shippable > 6.7.4"
Cassandra is failing to start in my builds when I switch to 6.8.4 or 6.9.4 from 6.7.4.

The build gets to the cassandra_start step, then just hangs there:
cassandra_start
  shippable_service cassandra start
================= Starting Cassandra ===================

Waiting for Cassandra to start...
Waiting for Cassandra to start...
Waiting for Cassandra to start...
Waiting for Cassandra to start...

[2018-10-02 15:49] junaruga opened #4581 "A YAML syntax to run as non-root easily"
### Description of your issue:

Thank you for providing this great CI service.
I want to propose to add a YAML syntax to run as non-root easily.

Right now there is a way to run as non-root user as you know [1].
But it is not convenient seeing the case [2] and example code [3]

I think that most of users of Shippable has experience for Travis CI.
The the difference of the default behavior for the

[2018-10-02 17:12] junaruga commented on #4581
Here is what I am doing to run on non-root.
Because PostgreSQL command `initdb` needs non-root user in the process `bundle exec rake test`.

https://github.com/junaruga/ruby-pg/commit/a038730
https://github.com/junaruga/ruby-pg/blob/feature/ci-64bit-shippable-demo/shippable.yml
https://app.shippable.com/github/junaruga/ruby-pg/runs/20/1/console
The build is success. But the way is a little tricky.

[2018-10-02 17:35] danielsuter commented on #4577
Thanks that works. Now I have other issues but I will open a separate issue for that.

[2018-10-02 17:35] #4577 closed, assigned to nobody

[2018-10-02 17:38] danielsuter opened #4582 "Gradle takes wrong jdk version"
I set the version of the jdk to 8. This works if I check using java -v. But gradle will find a jdk 10 installation. How can I change this?

https://app.shippable.com/bitbucket/Sanix/shinseikan-crm/runs/116/1/console

<pre>
language: java
jdk:
- oraclejdk8

env:
  global:
  - APP_NAME=name
build:
  cache: true
  cache_dir_list:
  - ~/.gradle/caches
  - $SHIPPABLE_BUILD_DIR/client/node_modules
  - $

[2018-10-02 17:42] raelgc opened #4583 "Passing/failing cypress tests are not displayed in Tests tab"
I'm using mocha (as described in cypress) to produce junit XML results, but they're never displayed in the Tests tab, even passing or failing.

- Link to the build failure: https://app.shippable.com/github/arizonabay/output/runs/9167/1/console

- Scripts called from the yml (optional):

[code]

`cypress.xml` is generated, but appears to be not used.

[2018-10-02 17:48] trriplejay commented on #4582
Hello, this is a known issue that should be fixed in a future release.

For now, you can work around this by adding one extra line to the CI section of your yml:
[code]
this should set the requested JDK for both cases.

docs here: http://docs.shippable.com/platform/tutorial/workflow/using-shipctl/#jdk-set

[2018-10-02 18:02] depohmel commented on #4579
@a-murphy we are using `dependencyMode: strict`, but it has some flows.
For example, we have a series of Job A and strict dependent B and C. Right now B and C will be triggered only when the queue for A is done and the latest A run is successful. If the last A run is failed, B and C will not be triggered.
We are trying to find how to configure dependencies, so B and C would be triggered when the q

[2018-10-02 18:34] a-murphy commented on #4583
Looking at the test reports saved for the linked job, there is a `cypress.xml` reporting four successful tests and no failures.  The total successful test count shown next to "tests" in the Shippable UI appears to be the correct sum of the reports in the `shippable/testresults` directory.

Since the failing tests appear to be missing from the report file, you may want to try writing test suites to

[2018-10-02 18:58] ric03uec commented on #4398
@StuporHero i apologize for not updating this earlier. This got delayed due to some other high priority issues but the team is now working on it. We'll launch this in release `v6.10.4` scheduled for last week of October.

[2018-10-02 19:24] StuporHero commented on #4398
@ric03uec Duly noted.

[2018-10-02 19:24] raelgc commented on #4583
Indeed, it worked! Thanks @a-murphy!

[2018-10-02 19:24] #4583 closed, assigned to nobody

[2018-10-02 20:35] trriplejay commented on #4469
@mbrodala while the package did get installed in the base image, it was not added to the php configuration... This should be corrected in the next drydock release scheduled for the end of October. Sorry for the delay!

[2018-10-02 23:49] a-murphy commented on #4579
Only [`dependencyMode: immediate`](http://docs.shippable.com/platform/workflow/job/overview/#dependencymode:-immediate) will trigger the job when one of the inputs has failed.  However, the only way to specify a version of an input that is not the latest is with [pinned versions](http://docs.shippable.com/deploy/deploying-specific-version/#-pinning-an-input-image-for-a-manifest-job-).  Could you e

[2018-10-03 00:07] depohmel commented on #4579
we have Job A which got executed against every commit and producing an image as result. And it's ok to have errors in that job. After that job we have 2 long running jobs to reduce amount of runs, they are `dependencyMode: strict`. The idea is once engs stopped committing/merging. We want long-running job test successful image and promote into further.

Right now if the last run of Job A has faile

[2018-10-03 01:25] depohmel opened #4584 "SPOG DryRun doesn't work"
I'm trying to do a SPOG dryrun and getting these in a browser console:
[code]

[2018-10-03 05:52] yasithab-zone-zz opened #4585 "Account Blocked"
When I try to login to Shippable, I get the following error.

Revoked access from github and tried again, but the same thing keeps happening.

[2018-10-03 07:02] mikkopori commented on #4578
Okay, thank you for the answer!

[2018-10-03 07:02] #4578 closed, assigned to nobody

[2018-10-03 07:09] rageshkrishna commented on #4585
@yasithab-zone I've unblocked your account. You should be able to log in without any errors now.

[2018-10-03 07:13] WLimpens opened #4586 "My colleague could not login to shippable"
My colleague can't log in into shippable. He is getting the following error:

An error occured, please choose an action.

Your account has been blocked as it was identified to be violating our security policy.
Please contact support if you feel this is a mistake.

His github account is Jurgen-Allewijn

[2018-10-03 07:21] rageshkrishna commented on #4586
@WLimpens I've unblocked the account. Please ask your colleague to try again. Thanks!

[2018-10-03 07:31] yasithab-zone-zz commented on #4585
@rageshkrishna Great, it is working! Thanks a lot :)

[2018-10-03 10:35] DeanHutchison opened #4587 "Trying to run Alpine image but getting "You are not running Ubuntu" from build.sh"
I am evaluating Shippable to become our new build pipeline but I am having issues getting our Alpine image working.

I have added all the required dependencies into my Dockerfile for my Alpine based image, but when shippable is running the container it is setting the entry point to build.sh which is causing the job to fail.

Is there an example of shippable.yml which uses an Alpine boot image ?

H

[2018-10-03 12:08] danrg opened #4588 "Syntax error in tmp-script.sh line 319"
Hello,

Any idea what this error could be about?
DebugDebug logsScriptType:setup_integrations|msg:/tmp/mexec/tmp-script.sh: line 319: syntax error near unexpected token `)'

Thanks,
Dan

[2018-10-03 12:11] sdlarsen opened #4589 "Build fails with syntax error in /tmp/mexec/tmp-script.sh"
What we see is the following, using official python images as build image (we've done this for a long time, with no issues):
In Setup:

[code]
And setup is reported to finish without errors (?)

Later on, in Debug:
[code]

And the build fails.
This happens with python:3.6.3 and python 3.7.0 (just tried the upgrade to see if it was the python version). We use both and haven't had issues before now.

[2018-10-03 12:13] danrg commented on #4588
Duplicate of https://github.com/Shippable/support/issues/4589

[2018-10-03 12:13] #4588 closed, assigned to nobody

[2018-10-03 13:02] sdlarsen commented on #4587
Maybe add the packages mentioned here: http://docs.shippable.com/ci/custom-docker-image/ for when you don't have apt-get?

[2018-10-03 13:05] DeanHutchison commented on #4587
Hi @sdlarsen, I have already added those.

[2018-10-03 14:05] Bharath92 commented on #4589
As per the debug logs, the script is failing while setting up integrations. During the `setup_integrations` step, we login to docker. Has there been any changes in the credentials recently, like adding special characters? This might be messing up the docker login command.