[2015-02-10 01:47] manishas commented on #1044
@agius you can put the shippable.yml only in the branch you want to build. In the yml, you should specify -
branches:
     only:
         - branch_name

You can look at http://docs.shippable.com/en/latest/config.html#include-exclude-branches for this config.

[2015-02-10 07:54] pmoust commented on #1030
@manishas thanks, i just RSVPed.

[2015-02-10 11:14] pwalsh commented on #1035
@manishas ?

[2015-02-10 12:47] HenrikOssipoff opened #1045 "Pushes to Bitbucket does not trigger build"
It seems that pushes to our Bitbucket repositories does not trigger any build in Shippable today. Syncing the repository in Shippable does not yield anything either.

Repository ID is 548968ddd46935d5fbbfe71b

[2015-02-10 13:15] rageshkrishna commented on #1045
Hi @HenrikOssipoff, would you mind triggering a webhook build right now? I'm monitoring the logs to figure out what's going on. Thanks!

[2015-02-10 13:17] HenrikOssipoff commented on #1045
Just triggered one that also did not start a new build.

[2015-02-10 14:38] darylrobbins opened #1046 "Builds Will Not Start"
Just trying out shippable and I can't get a build to start. When I try to start one on any project, it goes into an endless loop saying "Waiting for build information...". I'm attempting to build from a bitbucket repository.

[2015-02-10 16:41] mkramanujam opened #1047 "where are the documents for after_archive. goal to pull build artifacts automatically. Thanks"

[2015-02-10 16:46] velo commented on #1034
Seems the central download issue is now fixed. Thanks

[2015-02-10 17:23] velo commented on #174
+1

[2015-02-10 17:27] grue commented on #174
+1
On Feb 10, 2015 9:23 AM, "Marvin Froeder" <notifications@github.com> wrote:

[2015-02-10 17:42] Neku opened #1048 "How do I upgrade my account?"
I don't see where I can upgrade my account in the interface

[2015-02-10 21:15] lekhabhargavi commented on #1046
Hi @darylrobbins, this is fixed now. Can you please try building a project again and let me know if that works?

[2015-02-10 21:59] darylrobbins commented on #1046
No, still seems to be broken. I even tried deleting and re-creating the project.

This is what I see after starting a build:
![screenshot 2015-02-10 16 58 29](https://cloud.githubusercontent.com/assets/2270905/6137342/160742f4-b146-11e4-8896-0a77821cdd9c.png)

[2015-02-10 22:24] iislucas commented on #1039
@manishas : thanks! But it doesn't say much about what's actually in shippable/minv2 ... but I'll just use that for now. Thanks.

[2015-02-10 22:31] manishas commented on #1039
Absolutely understand. We'll improve documentation to make it more clear. Let me know if the image works for you.

[2015-02-10 22:43] iislucas commented on #1039
It works. Thanks!

[2015-02-10 23:40] manishas commented on #1046
@darylrobbins sorry about this. The fix was reverted due to an unrelated issue and will be redeployed soon. Thanks for your patience and we will let you know as soon as it's available again.

[2015-02-10 23:51] jeffkole opened #1049 "Deployment key rejected by Heroku"
I downloaded the deployment key from my Shippable dashboard to add to Heroku through the toolbelt.  The result was the key was rejected because it was not deemed strong enough:

[code]

That Ubuntu page references a vulnerability from 2008.

[2015-02-10 23:54] jeffkole commented on #971
I have noticed that caching does not seem to work for me either.  The environment variable `SHIPPABLE_CACHE_ENABLED=True` is set correctly, but the prior build's `SHIPPABLE_REPO_DIR` never seems to exist so the build always runs from scratch.

[2015-02-11 00:06] darylrobbins commented on #1046
Working great now. Thanks!

[2015-02-11 00:23] manishas commented on #1046
Thanks for confirming. Let us know if we can help with anything else.

[2015-02-11 00:23] #1046 closed

[2015-02-11 00:25] manishas commented on #1048
@Neku In the Shippable UI, you will need to go to the org you want to upgrade, click on 'Plans and Billing' at the top right of the org page, save a credit card, and then select the Startup plan.

Please do not delete card details after upgrading since this automatically downgrades you to the free plan.

[2015-02-11 00:42] manishas commented on #1049
we'll look into this and get back to you. thanks for reporting it!

[2015-02-11 00:43] manishas commented on #1049
@jeffkole did you look at our blog post about deploying to heroku - http://blog.shippable.com/using-the-heroku-toolbelt-in-your-shippable-minions

[2015-02-11 02:23] manishas commented on #712
@codeviking your latest builds all pass, so closing this issue. please feel free to re-open if you run into this again.

[2015-02-11 02:23] #712 closed

[2015-02-11 04:18] schmmd commented on #684
Yes, this still happens.

[2015-02-11 04:34] schmmd commented on #684
@jkinkead can you elaborate on this issue?  I have not been using Shippable as much lately and I think this might be fresher in your mind.

[2015-02-11 05:11] manishas commented on #777
@murtyk i am closing this issue but let me know when you are free to follow up about this and we can re-open it. Thanks!

[2015-02-11 05:11] #777 closed

[2015-02-11 05:16] manishas commented on #620
Closing this issue due to lack of response. @vfarcic let me know if we can help with anything.

[2015-02-11 05:16] #620 closed

[2015-02-11 05:17] manishas commented on #417
Closing this since there is nothing actionable for us to do.

[2015-02-11 05:17] #417 closed

[2015-02-11 05:18] manishas commented on #851
@jraska we do not support Jacoco coverage reports. You will need to output the results in cobertura xml format for our parser to pick it up.

[2015-02-11 05:23] manishas commented on #874
@easel thanks for your comments. I've opened up internal issues to address the documentation updates.

I am closing this as your original issue has been addressed. Please re-open if you run into this again. Thanks!!

[2015-02-11 05:23] #874 closed

[2015-02-11 05:26] manishas commented on #884
@henrjk we do not make private patched forks since we cannot commit to maintaining them over time. I am closing this issue since there is nothing actionable for us.

I will definitely keep an eye on this and if this becomes a common complaint from folks, we will revisit again. Thanks!

[2015-02-11 05:26] #884 closed

[2015-02-11 05:27] basco-johnkevin commented on #237
+1

[2015-02-11 05:29] manishas commented on #932
@aug70 I am really sorry we didn't follow up on this sooner! Are you still running into this? I see your last 2 builds were green, so let us know if you still need help. Thanks!

[2015-02-11 05:30] manishas commented on #941
@apeiniger this should be fixed now so am closing this issue. Please let me know if we can help with anything else.

[2015-02-11 05:30] #941 closed

[2015-02-11 05:33] manishas commented on #951
@moylop260 are you still running into this?

[2015-02-11 05:34] manishas commented on #954
Closing this since it was answered. Please re-open if you need help with anything else.

[2015-02-11 05:34] #954 closed

[2015-02-11 05:35] manishas commented on #958
@sveitser ping... can we get a build id so we can take a look?

[2015-02-11 05:44] manishas commented on #1007
@rageshkrishna can we do anything to address this at our end?

[2015-02-11 05:45] manishas commented on #1034
Thanks! I am closing this issue but please let me know if you need help with anything else.

[2015-02-11 05:45] #1034 closed

[2015-02-11 05:45] manishas commented on #950
Thanks! Closing.

[2015-02-11 05:45] #950 closed

[2015-02-11 05:48] manishas commented on #949
@adamyao I am closing this issue, but please do re-open if you are still running into this.

On a separate note, I see your last successful build was on Thursday, so can we help with the recent build failures? Let me know... manisha@shippable.com

[2015-02-11 05:48] #949 closed

[2015-02-11 05:49] #1048 closed

[2015-02-11 05:50] manishas commented on #802
@moylop260 we don't currently know of a way to use another user. Are you blocked by this?

[2015-02-11 05:56] manishas commented on #872
@evilmarty I realize what you're saying - you're not talking about build notifications, but about the notification that someone added a repo to shippable.

We do this because in most cases, folks who are a part of the github org want to know the build status of the repositories they have permissions to. When a repository is enabled, we send a one time notification informing everyone in the org tha

[2015-02-11 05:56] #872 closed

[2015-02-11 06:07] sveitser commented on #958
I haven't tried it out since.

Here's one of the failing builds https://app.shippable.com/builds/54b4d036b2360f0e00f13d55

[2015-02-11 08:47] HenrikOssipoff commented on #1045
Hello, anything new on this? Thanks.

[2015-02-11 10:06] rageshkrishna commented on #1045
@HenrikOssipoff I haven't been able to get to the exact cause just yet. There's something unusual happening when we're trying to parse the webhook payload for your project. I have added a few more traces to capture more details about the problem.

Can you please trigger a webhook build once again?

[2015-02-11 10:25] HenrikOssipoff commented on #1045
I just did another push that triggered a webhook, and this webhook actually caused a build to happen (54db2e391182c511006424c6).

Still a little worried that it didn't work at all yesterday though -- something at odds with Bitbucket perhaps?

[2015-02-11 10:28] rageshkrishna commented on #1045
I think you're right -- something probably went wrong at BitBucket. We were unable to reproduce the issue with any of our repos on BitBucket. In addition, we haven't changed anything to make it work today!

In any case, I have added more logging today to help debug this if it ever happens again.

[2015-02-11 10:31] HenrikOssipoff commented on #1045
Sweet, thank you for your time. I'll open a new issue in case we ever see this again. Thank you for a continued awesome service!

[2015-02-11 10:31] #1045 closed

[2015-02-11 12:00] rageshkrishna commented on #747
@dreispt Sorry for the long delay in getting around to this. I forked OCA/project-service and ran it today. It looks like build 1 fails because of a pep8 error (E402 module level import not at top of file), and this error is not currently being ignored in  `maintainer-quality-tools/travis/cfg/travis_run_flake8__init__.cfg`.

Are you running your build locally against the latest version of pep8? It

[2015-02-11 12:03] rageshkrishna commented on #747
I no longer see any unicode related errors on the 8.0 branch.

[2015-02-11 15:53] pschrammel opened #1050 "I can't see all the projects of my company others can"
this happened after some time. A guy (who configured shippable) can still see all repo's build status the rest of us can't.

https://app.shippable.com/subscriptions/54919ee3d46935d5fbc070d9

[2015-02-11 17:45] avinci commented on #1050
can you see the private repos turned on for you?
![screen shot 2015-02-11 at 9 45 05 am](https://cloud.githubusercontent.com/assets/1302035/6152525/b68883f0-b1d2-11e4-81cc-1aaef5b83891.jpg)

[2015-02-11 19:37] naveensky commented on #1044
@manishas - I have been trying to include only master branch in my shippable but build seems to trigger for all branches. I have read the doc mentioned above, any help here ?

Relevant section of shippable.yml

# include
branches:
  only:
    - master

[2015-02-11 19:45] manishas commented on #1044
@naveensky can you point me to a build that was triggered for a branch other than master?

[2015-02-11 19:54] naveensky commented on #1044
@manishas - The build url is https://app.shippable.com/builds/54dbb2e21182c511006438cc

[2015-02-11 19:56] manishas commented on #1044
can you send me your shippable.yml? Do you have a yml file in every branch?

[2015-02-11 19:59] naveensky commented on #1044
You can look at the complete file at
https://gist.github.com/naveensky/0bc6ca555925753edc99

Cheers,
Naveen Gupta
+91.989-141-0701
+91.114-576-8419

Green Apple Solutions Pvt. Ltd.
http://www.greenapplesolutions.com

Disclaimer:
The information contained in this e-mail is confidential, and is intended
for the named person's use only. It may contain proprietary or legally
privileged information. If

[2015-02-11 20:04] manishas commented on #1044
@naveensky one more question - is the only tag only specified in the master branch or does the shippable.yml in the develop branch also have this tag? I suspect you added it to master branch only.

If you have a branch you want to exclude, you will either need to delete shippable.yml from that branch, or have it there with the keywords
branches:
    only:
       - <branchname>

[2015-02-11 20:06] manishas commented on #1044
@naveensky i will definitely update documentation since this is a bit confusing.... to explain further, when a webhook for an enabled repo comes in, we check if the branch has shippable.yml and if it does, we follow the config. Now if the shippable.yml in develop branch does not include these keywords, we will build the branch regardless of what's in the shippable.yml in master branch.

[2015-02-11 20:14] naveensky commented on #1044
great, got it working. Thanks for the tip about updating shippable in every branch. Yeah, I guess you should update the documentation, its slightly confusing.

On other note, is there a better way of pushing artifacts to github than the hackish way I have done in my shippable ? Do I open a separate ticket for this query?

[2015-02-11 20:43] jkinkead commented on #684
I tried reproducing just now with a fresh browser session, and couldn't. I can't say with certainty that this has happened since the start of the year, but I'll update this issue if I see it again.

[2015-02-11 20:46] manishas commented on #684
thanks for checking. i will close this issue for now, but if you see this happen or anything funny with reauth again, please re-open and we can test out your exact scenario.

[2015-02-11 20:46] #684 closed

[2015-02-11 20:51] manishas commented on #1044
@naveensky can you open up a new issue? i will tag with 'question' and ask someone from our team to look at this.

I am closing this issue since the original qs is answered.

[2015-02-11 20:51] #1044 closed

[2015-02-11 21:02] jeffkole commented on #1049
I followed those instructions, and using the toolkit with a newly generated key works just fine.  Thank you for your help.

I would suggest removing the "deployment key" that is on the dashboard if it is not meant to be used for this purpose.  The description ("You can use the following key to enable continuous deployment to any provider that supports git-based deployments") implies that I should

[2015-02-11 21:02] #1049 closed

[2015-02-11 21:52] tristanwietsma opened #1051 "put build badges at the top"
You've got this awkward infinite scroll on the repo page. I was trying to get a build badge (located at the bottom) and kept scrolling to the bottom, only to get hammered by the build history. It was almost funny.

Result: I gave up.

You should consider moving the build badge to the top of the page, above the infinite scroll.

[2015-02-11 22:59] dreispt commented on #747
@rageshkrishna In fact, the test script [was changed](https://github.com/OCA/maintainer-quality-tools/commit/67eb46a17b202b732cebde6775a6a0aeb3c5b813) as a workaround for this issue. Some people [reported](https://github.com/OCA/maintainer-quality-tools/issues/103) finding the unicode problem when trying to use Docker.

Sorry, i don't have a currently example of the issue.

[2015-02-11 22:59] manishas commented on #1051
@tristanwietsma can you be more specific? We do have the badge at the top -
![screen shot 2015-02-11 at 2 58 22 pm](https://cloud.githubusercontent.com/assets/2983749/6158373/7ebdb1ee-b1fe-11e4-97d2-444844c0c0be.png)

Are you looking at it on a different form factor or with the window being narrow?

[2015-02-11 23:01] manishas commented on #747
@dreispt thanks for the update! I am closing this issue but we will keep an eye out for this happening again.

[2015-02-11 23:01] #747 closed

[2015-02-11 23:12] tristanwietsma commented on #1051
ah, so the issue i had was when viewing the page at less than full width that badge panel shows up below the build history. so problem solved by going full width.

i'm not a ux expert, so i'll defer.

[2015-02-11 23:18] manishas commented on #1051
We have a responsive UI so it changes according to window width/device. Thanks for reporting this and we'll re-evaluate this if more people have a problem finding the badge.

[2015-02-11 23:18] #1051 closed

[2015-02-12 00:16] bdehamer commented on #851
Having the same issue as @behemphi

[2015-02-12 03:40] naveensky opened #1052 "push artifacts to github in a different branch"
Hi,

I would like to push builds onto a specific branch in a github. For eg. master branch artifacts are pushed to deploy branch. Also if branch is uat, I would want to push artifacts onto a branch called deploy-uat.

Is there a workflow in shippable which can help me do this?

Thanksm

[2015-02-12 04:25] rageshkrishna commented on #1052
Hi @naveensky. If I've understood this correctly, you want to push code from a successful build to a different branch. I think you should be able to do this with some simple bash scripting.

So you need to push successful builds on `master` to `deploy`, and successful builds on `uat` to `deploy-uat`. You can create an `pushOnSuccess.sh` script that does this:
[code]

You should `chmod +x pushOnSuc

[2015-02-12 04:41] grue commented on #1016
+1 to this. I'd be interested as well.

[2015-02-12 05:39] #802 closed

[2015-02-12 09:06] JeffMerlet opened #1053 "AWS Elastic Beanstalk deployment via Docker Container"
On your current documentation on AWS Elastic Beanstalk deployment you only have an example on the predefined runtime environment (Java, PHP, Node, etc.).
Would it possible to add an example on how to deploy from a Docker container (http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker.html)?

[2015-02-12 09:10] pauldavidgilligan-msm commented on #772
Hi there. the latest version of shipyard is working great must have pickup an earlier version.

[2015-02-12 10:57] naveensky commented on #1052
@rageshkrishna - Yeah, this is exactly what I wanted. Let me try doing this once

[2015-02-12 11:21] rageshkrishna commented on #851
We've confirmed that the "No coverage reports found" message is a bug. We'll deploy a fix for it soon.

However, it looks like neither `gocover-cobertura` nor `gocov-xml` are populating the `line-rate` and `branch-rate` properties in the reports they generate. These are the values we surface in the Coverage tab, which explains why it's always showing 0%.

[2015-02-12 14:34] luigi7up opened #1054 "Capybara default wait. tests failing randomly"
Hi guys,

we are running a lot of integration tests using Capybara. On the local machine tests pass in 99% of the cases with __Capybara.default_wait_time__ set to __3 sec__. We've noticed that 3 sec is not enough in Shippable so we put __8 sec__ and it went better, but still failing sometimes. We identified the tests that are the problematic ones and we set manually wait to __12s__:

[code]
it's m

[2015-02-12 16:48] manishas commented on #851
@behemphi we have deployed a fix for this. Please let us know if it works.

[2015-02-12 19:24] mhaligowski opened #1055 "Email notification not sent"
https://app.shippable.com/builds/54dc3a741182c511006449c4

Part of shippable.yml file:

    notifications:
      email:
        - mhaligowski+shippable.success@memoryalbums.co

Build is successful, I don't receive any email.

[2015-02-12 19:28] manishas commented on #1055
@mhaligowski Did you specify the following in your yml -
 on_success: always
 on_failure: always

Please check out http://docs.shippable.com/en/latest/config.html#email-notification

[2015-02-12 19:29] manishas commented on #1055
shippable.yml should be file:

    notifications:
      email:
        - mhaligowski+shippable.success@memoryalbums.co
      on_success: always
      on_failure: always

Let me know if that works.

[2015-02-12 19:30] mhaligowski commented on #1055
From: http://docs.shippable.com/en/latest/config.html#email-notification

I thought that was the default settings, will check that in a moment.

[2015-02-12 19:31] manishas commented on #1055
we definitely need better documentation here :(

I will update it in a bit but let me know if the yml works for you.

[2015-02-12 19:56] aug70 commented on #932
Yes it's still not working, still same error. I thought you guys gave up on that. It would be very helpful, if you could take a look at it. I temporarily used another profile to make it pass (build #47/#48). But now original shippable profile is restored and it's still failing. See
Build #49: https://app.shippable.com/builds/54dd03761182c5110064653c
Project: https://app.shippable.com/projects/547e

[2015-02-12 20:09] manishas commented on #932
@aug70 can you elaborate on what was different between builds 48 and 49?

[2015-02-12 20:48] aug70 commented on #932
Simply invoking a different maven profile (profile named shippable) that runs the tests. Previously it was skipping those tests on build 47/48.

[2015-02-12 21:52] codeviking commented on #712
True -- but we think it's because of some refactoring on our part but there's likely still an underlying issue.

The error appears to be related to a classpath of a certain length.  We had a branch which added a few additional dependencies to an already complicated classpath, my guess is it was related to this:

http://stackoverflow.com/questions/3057841/too-long-line-in-manifest-file-while-trying

[2015-02-12 21:55] manishas commented on #712
@codeviking sure, let us know if it happens again and we'll be happy to take a look.

[2015-02-12 22:24] willscott opened #1056 "Email notifications for specific Branches"
Per http://docs.shippable.com/en/latest/config.html#notifications notifications can be configured for failure and success changes.

It would be great to have emails sent for changes only to the `master` branch, since the team may want to know about failures there, but not about the status of in-progress pull requests.

[2015-02-13 06:51] pschrammel commented on #1050
Yes, both are on. It worked for some time then suddenly stopped.

[2015-02-13 10:57] braindeaf opened #1057 "Slow bundle install but then cache: true causes error"
Hi there,

We're running into problems with our build in that our bundle install for our Rails project comes in at 6 minutes, obviously we'd like to try and speed this up. However, when we set the cache: true option in our shippable.yml we get the following error. Can you assist at all?

500 Server Error: Internal Server Error ("Cannot start container d077adc66416b7d3ef75bf5a8420142fa0894683b49e10

[2015-02-13 18:37] manishas commented on #1053
@JeffMerlet we're working on an example and blog post. Give us a couple of days and we'll put it up on our blog and also let you know here.

[2015-02-13 18:39] JeffMerlet commented on #1053
@manishas Perfect. Thanks a lot.

[2015-02-13 20:09] thesynapses opened #1058 "Got charged twice"
Hi Support,
I opened shippable.com in Chrome and went to account and changed it to a paid plan and it charged me $12. After few minutes I checked again and the account was still set at free. I selected paid plan again and got charged $12 again.

Please check for email sureel@thesynapses.com and refund the extra charge.

regards,
Sureel
(312)380-1857

[2015-02-13 20:55] naveensky commented on #1052
@rageshkrishna - I am closing this issue for now. Will need some time to test out your solution. Thanks a ton for your help :)

[2015-02-13 20:55] #1052 closed

[2015-02-13 21:44] JeffMerlet commented on #1053
I was more wondering from the Shippable side; but if you say that this is the same process then I'll simply continue to use my Dockerfile at the root of my repo. I know the AWS side of things; so this is perfect. Thanks so much for being reactive and providing such a good service.

[2015-02-14 00:29] manishas commented on #1058
@thesynapses sorry about this! We will add a warning dialog if anyone tries to delete credit card info.

Which org was this upgrade for? I will enter a request for a refund and will let you know as soon as it's processed.

[2015-02-14 01:12] dandesousa commented on #174
+1 for code coverage badge

[2015-02-14 01:43] manishas commented on #1053
Closing this issue since the question is answered. Please feel free to reopen if you need more help.

[2015-02-14 01:43] #1053 closed

[2015-02-14 02:48] thesynapses commented on #1058
Synapse LLC.

Regards,
Sureel

On Feb 13, 2015, at 7:29 PM, Manisha <notifications@github.com<mailto:notifications@github.com>> wrote:

@thesynapses<https://github.com/thesynapses> sorry about this! We will add a warning dialog if anyone tries to delete credit card info.

Which org was this upgrade for? I will enter a request for a refund and will let you know as soon as it's processed.

—
Reply t

[2015-02-15 05:41] adamwgoldberg opened #1059 "Customized docker image on EC2 box runs out of space"
It looks like Shippable is keeping failed builds on the system because I've filled up my 100GB of quota. Is there a way to delete the directories /home/shippable/{dpd,_sh_swap} automatically from the GUI rather than sshing to the machine and removing them? Thanks.

[2015-02-15 15:11] ffagerho opened #1060 "include & exclude branches documentation is unclear"
The documentation in chapter "A bit deeper", section include & exclude branches is a bit unclear. Maybe it could be written more clearly? Thanks! :-)

[2015-02-15 21:32] jonmer85 opened #1061 "Django build failures on pip install"
For some reason our build is failing during the pip install phase. This used to work just fine and I haven't updated any requirements since Feb 6th. Build link is https://app.shippable.com/builds/54e10e06c44f060e00739f4e

[2015-02-15 21:41] jonmer85 commented on #1061
It appears to be a build issue, I will investigate

[2015-02-15 21:41] #1061 closed

[2015-02-16 00:57] manishas commented on #1059
@adamwgoldberg we're looking into this.

I'll check if resetting the host will delete the directories, but this is not an ideal solution obviously.

[2015-02-16 03:03] adamwgoldberg opened #1062 "Locale not being set properly"
I'm not sure this is a Shippable-specific issue, but I get the following warning message, which appears to be related to Postgres not starting and/or hanging on every query:

<pre>
/bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
</pre>

I've tried to run:
<pre>
  sudo locale-gen en_US.UTF-8
  sudo dpkg-reconfigure locales
</pre>
 as part of the before_script, but to no av

[2015-02-16 06:54] rageshkrishna commented on #1062
@adamwgoldberg Which docker image are you using? This should be working correctly on all the shippable images. Let me know if you need any help setting it up on any custom images.

[2015-02-16 07:07] adamwgoldberg commented on #1062
It's a custom image... What should I be running?
On Sun, Feb 15, 2015 at 10:54 PM Ragesh Krishna <notifications@github.com>
wrote:

[2015-02-16 07:10] rageshkrishna commented on #1062
We do the locale setup in our Dockerfile with this:
[code]
Are you using a public docker image? If you are, I can try playing around with it a little to see what's going on. Can you also point me to a build ID where you're running in to this? I'd like to take a look at the logs. Thanks!

[2015-02-16 07:34] manishas commented on #1062
@rageshkrishna he's using dedicated hosts with his custom image.

[2015-02-16 08:00] rageshkrishna commented on #1062
@adamwgoldberg I noticed that your YML file is still sending languages as a list instead of a string. We're currently not processing this correctly, causing your build script to be generated incorrectly. Can you please try modifying your YML so the language tag looks like this:
[code]
This should fix some of the environment variable issues in your builds.

[2015-02-16 08:12] andruby opened #1063 "Can not add payment method"
I filled in my credit card details on the "Add payment method" form. I have a valid Visa card, yet the system shows a Error: "Internal Server Error" when I click on submit. I have a screenshot, but I'm uncomfortable adding it here even with blurred out CC details.

[2015-02-16 08:37] rageshkrishna commented on #1063
@andruby Can you please get in touch with me at ragesh@shippable.com? Thanks!

[2015-02-16 10:22] andruby opened #1064 "Build hangs on npm install"
Is there a maximum build size? Or maximum number of files?

Our application consists of a rails application and two embedded 2 ember-cli apps. The build just hangs when running npm install for the 2nd ember app. There is no output what-so-ever, it just hangs..

Build url: https://app.shippable.com/builds/54e1becfc44f060e0073aa1b

On a local build the npm and bower dependencies are 460MB large (not

[2015-02-16 10:56] rageshkrishna commented on #1064
I've never played around with ember much, but a quick search turned up [this twitter conversation](https://twitter.com/noelrap/status/506821510791573504) which seems to suggest that bower is running in interactive mode by default and it prompts you to share usage statistics or something like that, which led me to the [actual github issue on bower](https://github.com/bower/bower/issues/1162) that d

[2015-02-16 11:02] rageshkrishna commented on #1064
https://github.com/bower/bower/pull/1163 seems to suggest that bower will default to non-interactive mode if it finds the environment variable `CI=true`. What's strange is that we do set that in the builds, so it _should_ work. Can you try running ember in verbose mode to see if we can get more information?

[2015-02-16 11:17] adamwgoldberg commented on #1062
Docker image: adamwgoldberg/deepdive:unstable
Dockerfile: https://github.com/HazyResearch/deepdive/blob/adam-docker/Dockerfile
Example: https://app.shippable.com/builds/54e1d160c44f060e0073ac0a

[2015-02-16 11:27] pmoust commented on #1062
Had this issue in https://github.com/Shippable/support/issues/994
Bypassed it then by defining the locale prior to launching the service

[2015-02-16 11:51] rageshkrishna commented on #1062
@adamwgoldberg I was trying to run the same commands as the build using your image and a couple of things caught my attention:

1. We don't run source `.bashrc` when running a build. I'm not sure if your build depends on this happening.
2. Your build is locking up because postgres is waiting for a password:
[code]

[2015-02-16 12:35] andruby commented on #1064
It's actually this call that hangs: `cd web/venture/ && npm install && cd -` not ember or bower.
When running it locally it does not ask for anything.

I've run the build (https://app.shippable.com/builds/54e1d33dc44f060e0073ac3f) with npm install --verbose which shows more info. The last console line is `npm verb lock ember-export-application-global@1.0.2 /home/shippable/.npm/abe13c66--export-app

[2015-02-16 12:41] rageshkrishna commented on #1064
Oh, sorry about that. I think I got confused between the build script and the actual output.

We don't enforce any limits on number of files or disk space so this is indeed quite odd. Can you please share the package.json files from both projects? I'd like to try and repro this so I can debug it further. You can mail them to ragesh@shippable.com.

[2015-02-16 12:46] rageshkrishna commented on #1064
We've seen issues with npm locking up before, but it usually throws an error message instead of just freezing. Can you try a build that upgrades npm with `npm install -g npm` as the first step in `before_install`?

[2015-02-16 16:29] andruby commented on #1064
The issue was related to a dependency in our package.json to a private repository. We solved it by using a Github oauth token in the url.
`git+https://<github_token>:x-oauth-basic@github.com/<user>/<repo>.git` ( [more info here](http://rzrsharp.net/2013/07/02/private-github-repos-with-npm-and-heroku.html) )

It's a pity that we didn't see any useful output from npm pointing us in the right directi

[2015-02-16 16:29] #1064 closed

[2015-02-16 18:16] manishas commented on #1050
@pschrammel we need additional information to debug this issue -

- Are you facing an issue with all repos for this specific subscription? Or just a few?
- What is the username of the person who configured Shippable and who can see all the repos?
- Can you send some screen shots where the repo build status is missing?

Thanks!

[2015-02-16 18:55] gavinheavyside commented on #1016
+1 from me too.

[2015-02-16 19:17] zanona commented on #237
This would be great to have guys! Fork based PRs FTW :+1:

[2015-02-17 00:32] manishas commented on #1060
@ffagerho I have changed the documentation to be clearer :)

I'm closing the issue but let me know if you think it's still unclear. Also, our docs are open source so a contribution is super welcome as well :)

[2015-02-17 00:32] #1060 closed

[2015-02-17 00:32] manishas commented on #1060
http://docs.shippable.com/en/latest/config.html#include-exclude-branches

[2015-02-17 00:33] manishas commented on #1058
@thesynapses this charge has been refunded. please re-open this issue if you don't see it within the next 3-4 days. Thanks!

[2015-02-17 00:33] #1058 closed

[2015-02-17 01:01] manishas commented on #1055
updated docs and closing issue. please re-open if it doesn't work for you. thanks!

[2015-02-17 01:01] #1055 closed

[2015-02-17 02:06] BenV commented on #174
:+1:

[2015-02-17 06:35] pschrammel commented on #1050
- Just a view repos are affected. e.g. priceapi_api is our most important (private) repo and I can't see it. Some outher private repos (e.g. ek) are visible.
- https://github.com/prabeshshrestha configured all of the repos
![shippable](https://cloud.githubusercontent.com/assets/27882/6224145/6ec0d9a6-b677-11e4-8f33-6eb81f0b8f5b.png)

[2015-02-17 06:51] manishas commented on #1050
@pschrammel thanks! this is indeed very strange. we're taking a look at this and will let you know as soon as know what's up.

[2015-02-17 07:40] manishas commented on #1050
We will need to do a hangout to further debug this issue. @rageshkrishna will send you an email to set up a time. He is in the IST time zone which is 4.5hrs ahead of CET so it should be easy to find a good time. Thanks!

[2015-02-17 08:16] zanona commented on #737
I share the same feelings here, mostly every time I want to check the dashboard I need to re-authenticate to login. In my case, I am using my Bitbucket account to authenticate which as far as I know, has a static token which should grant me lifetime login :) but unfortunately that doesn't last for long on shippable.

[2015-02-17 09:41] gavinheavyside commented on #985
I've just seen this too, the biggest issue was swap creation. At one point I had 5 processes all running `dd if=/dev/zero of=/home/shippable/_sh_swap_ bs=1M count=15039`, overwriting each others outputs. initializing worked eventually, but it wasn't a smooth process and there were lots of errors in the logs along the way.

[2015-02-17 09:45] gayanhewa commented on #1063
The payment option is not available anywhere in my dashboard.

[2015-02-17 09:47] rageshkrishna commented on #1063
@gayanhewa Can you please tell me if you are an owner on the github/bitbucket organization that you are trying to upgrade? At the moment we only allow owners to change billing information on a subscription.

[2015-02-17 09:56] gayanhewa commented on #1063
I am not the one who is trying to upgrade. I am only an Admin for the repo.  But the owner tried to upgrade.

[2015-02-17 13:32] fabiocarneiro commented on #1063
I had a similar problem some days ago, and i resolved it using a different card. Although my previous card was perfectly valid and had limit, it wont let me add it, neither upgrade the plan. I talked to @manishas and shippable support were not able to discover why that was happening.

[2015-02-17 13:44] lkiesow commented on #53
Any update on this? It would be really great if this would be possible.

[2015-02-17 18:11] velo commented on #1034
The problem happened again
https://app.shippable.com/builds/54e37274d551ba0f0082fea1

And the artifact is on central...
http://repo1.maven.org/maven2/org/apache/geronimo/specs/geronimo-stax-api_1.0_spec/1.0/

[2015-02-17 20:05] adamwgoldberg commented on #1062
It doesn't wait for the password when I run it "locally" on docker, so intuition says it is Shippable specific. I can run the full flow in the docker container directly. Is there something obvious I'm missing? And the .bashrc file isn't needed, but I copied the global env vars just in case.

https://github.com/HazyResearch/deepdive/blob/shippable-branch/shippable.yml

[2015-02-17 21:22] #1062 closed

[2015-02-18 19:15] velo commented on #985
Saw the same!

[2015-02-18 19:20] velo opened #1065 "Limit builds when using dedicated hosts"
My build is really greedy.  And I wanna limit how many builds I run per machine.

If I don't linux will start killing processes.

How can I do so?

[2015-02-19 01:07] naveensky opened #1066 "Minify & Combine JS on shippable app"
Hi,

I am using shippable in India for last 2-3 weeks. I find shippable app to load really slow (15+ secs) on my 16Mbps connection. I guess thats because shippable prod app is not combining js/css,

- total of 115 unminified scripts, amount to 2.2 MB which can reduce by 75% and we could definitely use CDN for angular, socket and other third party libs
- total of 12 css which could be combine
- We

[2015-02-19 01:44] adamwgoldberg commented on #1059
Even when I use a non-custom image my builds still randomly freeze up until I manually remove everything, stop and reset the dedicated host and restart the build. Any update on your end? It's making my builds randomly hang.

e.g.: https://app.shippable.com/builds/54e53f85b0802f100019ca1d

[2015-02-19 13:33] jagmal opened #1067 "Unable to see bitbucket private repositories"
I have linked my github account to shippable but am not able to see the repositories in the list of repositories on the right side. I only see two organizations there.

Can you help?

[2015-02-19 13:36] rageshkrishna commented on #1067
On the dashboard you'll see a few icons on the right side of the screen. If it says Private Repos Off, please click on the icon so we can get the necessary Github permissions to work with your private projects:

![repos](https://cloud.githubusercontent.com/assets/1134972/6267475/6bace382-b86a-11e4-8da2-bac859017aa7.png)

[2015-02-19 13:38] jagmal commented on #1067
Sorry, my bad. I am using bitbucket account for this purpose.

[2015-02-19 13:39] rageshkrishna commented on #1067
OK, the "All Repos Off" button you see there is for bitbucket repos. Clicking on that will let you link your bitbucket identity to the same Shippable account.

[2015-02-19 13:44] jagmal commented on #1067
I have already linked the bitbucket identity (in fact I used the same to login).  Please see attached. And I can see two organizations on the left side but not the repositories that I own.

![screenshot from 2015-02-19 19 13 23](https://cloud.githubusercontent.com/assets/6551179/6267602/6a882d08-b86b-11e4-916d-0f3c45b128a9.png)

[2015-02-19 13:53] jagmal commented on #1067
In case you need it, my email id is jagmal [at] gmail [.] com

[2015-02-19 14:22] rageshkrishna commented on #1067
Can you try the "Sync Account" button? It should refresh all your account permissions.

[2015-02-19 14:27] jagmal commented on #1067
Yes, I did.

Is it so that you don't support mercurial repositories? Because I can see a few git repositories I have access to (via others) but not my mercurial repositories.

[2015-02-19 14:33] rageshkrishna commented on #1067
Ahh yes, that would be it. We don't support mercurial yet. You can only use git repositories.

[2015-02-19 14:35] jagmal commented on #1067
Thanks for the support, Ragesh.

Will surely use shippable for git repository in future.

[2015-02-19 16:51] manishas commented on #1067
Closing this issue.

[2015-02-19 16:51] #1067 closed

[2015-02-19 18:41] velo commented on #1066
it would help me as well

[2015-02-19 20:37] adambyrtek opened #1068 "GitHub pull request builds triggered twice"
Every new push to a GitHub branch corresponding to an open pull request results in two builds being triggered with the following labels:
- Changeset: b456592 (PR#234), Branch: master
- Changeset: b456592, Branch: foo-bar

In other words, every commit is being built twice. How to avoid that?

[2015-02-19 23:02] ahmadia opened #1069 "Illegal tag name (30 character limit?)"
This is related to https://github.com/docker/docker/issues/8445

I think restricting my Git branch names to less than 30 characters is silly.  I'm not sure what a good workaround would be, aside from resorting to just cropping the branch name when shipping to Docker.

[code]

[2015-02-20 00:05] manishas commented on #1068
@adambyrtek this is by design. If the commit is a part of the pull request then we trigger a build on the branch where it was committed and another one to test the merged changes.

We also show build status on your PR page on GitHub. If the status there is green, it means that CI for the master branch will pass after the merge, so the user is comfortable merging the PR.

[2015-02-20 03:51] pcullin-ratio opened #1070 "Question: How to install ruby_worker_ng gem on default minion image"
I'm trying to install Iron.io's iron_worker_ng Ruby gem in order to automate deployment of IronWorker packages from Shippable. This depends on Ruby version 1.9.2 or above, but it appears the default Ruby version on the minion is 1.8.1 and I have not been able to successfully update it and set the default version to use anything above 1.8.1.

[2015-02-20 05:40] rageshkrishna commented on #1070
@pcullin-ratio Your YML specifies `node_js` as the language. We don't initialize `rvm` automatically in this case. You should be able to get it to work by sourcing rvm before using it like so:
[code]
I hope this helps!

[2015-02-20 12:51] denya opened #1071 "When push multiple branches sometimes build only one"
Hi!

My bitbucket id: denya
Project: 542447b980088cee586cd665

When i push two branches (develop and master) at the one git pull command to btibucket, usually shippable builds only one branch.
I don't know, is it 'cause bitbucket doesn't make proper webhooks (for both branches) or it's bug in shippable?

Example build id 54e6eff965be240e00672409 (triggered only for develop branch, not for master)

[2015-02-20 15:29] chriskinsman commented on #1024
Need this also and just waiting...

[2015-02-20 16:45] avinci commented on #1024
this is coming in a few days @chriskinsman. we are prepping docs etc for this. stay tuned.

[2015-02-20 17:12] manishas commented on #1071
@denya this is a bitbucket bug. I see an error in the Notifications tab for your project saying that 'A build was skipped due to missing branch in webhook', which means we did not get the branch name in the webhook from bitbucket. This is because Bitbucket webhooks have a known issue when fast-forwarded merges are pushed.

Please see https://github.com/Shippable/support/issues/897 for more details

[2015-02-20 17:13] denya commented on #1071
@manishas Thanks a lot!

[2015-02-20 17:24] manishas commented on #1071
Closing since this is a BitBucket issue and there is a workaround. Let us know if you run into any other issues.

Thanks!

[2015-02-20 17:24] #1071 closed

[2015-02-20 18:19] pcullin-ratio commented on #1070
That does help, thanks! I was using sudo in my gem install command, so once I added these before_install commands and removed sudo it worked.

[2015-02-20 18:20] #1070 closed

[2015-02-21 00:18] adambyrtek commented on #1068
Thanks for the explanation, this makes perfect sense now.

[2015-02-21 00:21] manishas commented on #1068
Thanks! Closing.

[2015-02-21 00:21] #1068 closed

[2015-02-21 00:31] manishas commented on #1069
@ahmadia are your builds failing? If yes, can you point me to a failed build?

[2015-02-21 00:32] manishas commented on #1063
@andruby I see your org is upgraded now. Do you need any additional help with this?

We use a third party payment processing provider and the declines are coming from them. We'll follow up with them for more clarity. Thanks!

[2015-02-21 00:34] manishas commented on #1050
@pschrammel @rageshkrishna were you able to connect? I'm checking in to see if we've made any progress in identifying the issue.

[2015-02-21 01:21] andruby commented on #1063
Hi @manishas. I borrowed a friends credit card to upgrade our account. Could the fact that my credit card is due to expire in two months have been an issue for your third party provider?

My problem was solved so I'm ok if you close this issue

[2015-02-21 11:47] Delors opened #1072 "Pull always fails"
When I create a new project everything works fine. However, as soon as I update the repository and shippable tries to rebuild the project it fails:

The message ist always similar:
 git reset --hard 663ee6d3691c3afb79e44a5569b1d9218feca645
 fatal: Could not parse object '663ee6d3691c3afb79e44a5569b1d9218feca645'.

(As said: after deleting the project and reactivating the project (bitbucket/delors/

[2015-02-21 17:11] pschrammel commented on #1050
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA1

No, didn't get any mail.

-----BEGIN PGP SIGNATURE-----
Version: GnuPG v1

iQIcBAEBAgAGBQJU6LwpAAoJEHBsXR3UqtsxFGcQAIW+f33vmJ9w3aHCEukdaGeP
h6t6qY0vTIstO8IEhj2ENRxxjU4IE3VAzroq2KakCZN+OBoOZKUZdSm6AUQkWKe8
73pXM++Qj2YF0MNdZJtBiueSSFnLr1+DMfJ5xPHFyBix+BAF26wEBJdpoCCKluea
ZITrLDfsBHiSsvVA8HR2dGf1hbZ9C+QuU33OIg5WUsAObTO71ndXwdBJxBYAWuo5
0poUC3K++t3nH3Ff6i

[2015-02-21 17:25] ahmadia commented on #1069
Hi @manishas - here is an example: https://app.shippable.com/builds/54e8b30af084cf0e00e5faba

[2015-02-21 17:26] ahmadia commented on #1069
(I know the build is failing for another reason, don't worry about that, the Docker push step is also failing).

[2015-02-21 17:27] rageshkrishna commented on #1050
@pschrammel I'm not sure why my email didn't reach you. Can you please mail me at ragesh@shippable.com so we can schedule something for next week? Thanks!

[2015-02-21 18:53] nabla-c0d3 commented on #927
Hi,
The same thing happened with my account. I don't mind putting the card back but will I be charged again?
Thanks

[2015-02-21 19:47] caarlos0 commented on #975
Hi, just happened to me. :cry:

[2015-02-21 20:34] avinci commented on #975
@caarlos0 I checked all our machines. We have ample space. Can you check again? Also are you running custom hosts?

[2015-02-21 21:46] caarlos0 commented on #975
@avinci oh, sure, forgot what I said..

[2015-02-21 21:53] caarlos0 commented on #174
:+1:

[2015-02-23 01:36] crania commented on #1059
Having the same issue.

[2015-02-23 02:13] crania opened #1073 "Dedicated host initialization stuck in "queued" state"
I've tried to get 2 dedicated hosts going but they have both been stuck in queued state for perhaps 40 minutes.  Is this common or is something stuck somewhere?  Trying to work around the space on the host filling up.

Thanks.

[2015-02-23 08:25] manishas commented on #927
@nabla-c0d3 yes if you add the card and upgrade to startup plan again, you will be charged again.

However this is necessary to get back to the startup plan. Please let me know which org you upgraded and we can issue a refund if the same org was upgraded twice.
Thanks!

[2015-02-23 11:46] pastawoua opened #1074 "Build hanging at various random steps"
For the last 6 hours, all our builds have been hanging at various random steps in the build process. They usually take 2/5 minutes.

[2015-02-23 12:48] velo opened #1075 "Dedicated host using 51GB for logs!!"
Hi,

My build start running out of space, so I took a look at our hosts and noticed 51GB used for logs.
https://app.shippable.com/builds/54eb1797f774120e0020e812

I removed everything so I could continue to work.

[code]

[2015-02-23 12:58] velo commented on #1075
FWIW, this happened on all 5 dedicated hosts we have!

[2015-02-23 13:11] velo opened #1076 "[Errno 13] Permission denied"
Hi, I'm seeing the same error reported here:
https://github.com/Shippable/support/issues/879

On this and several other attempts to build this project
https://app.shippable.com/builds/54eb2692f774120e0020e98c
[code]

Any idea what is going on?

[2015-02-23 13:52] velo opened #1077 "Build with custom image just hangs..."
I made a pull request with
````build_image: shippableimages/ubuntu1404_java````

But build just hangs:
https://app.shippable.com/builds/54eb309ff774120e0020eb1c

Any idea?

[2015-02-23 14:23] rageshkrishna commented on #1077
@velo Docker is experiencing an outage at the moment which might be causing the `docker pull` to hang: https://status.docker.com/

[2015-02-23 14:32] velo commented on #1077
I'm experiencing this for the past 4 days, since I open my pull request.

[2015-02-23 14:55] caarlos0 commented on #1075
It would be nice to have a configuration for "auto-cleanup" or something like that...

[2015-02-23 14:57] avinci commented on #1075
We are working on this feature and will be released very shortly. Hope that works.

[2015-02-23 15:07] rageshkrishna commented on #1077
@velo Is this happening on the foundation project? You should be seeing messages about YML merge failures in the notifications tab for this project.

We now attempt to merge the YML file from the PR's head and base branches before attempting the build. In this case, the `patch` utility is unable to complete the merge. I can tell from the logs on our server that it's reporting 2 failed hunks. This

[2015-02-23 16:46] velo commented on #1075
is it safe to just delete them all like I did?

Or should we do something else?

[2015-02-23 16:50] velo commented on #1077
Nice, that was it.  Would be nice a visual clue on what happened though.

Thank you Ragesh!

[2015-02-23 16:54] velo opened #1078 "Dedicated hosts server"
Would be nice to have a visual clue showing witch dedicated hosts is being used for a given build.

My build stuck for some reason and I had to connect to all servers and reboot to get things back to normal

[2015-02-23 16:55] velo opened #1079 "Failed build step time"
Would be nice to have the time the step took to fail.

![image](https://cloud.githubusercontent.com/assets/136590/6332369/974c42de-bb63-11e4-8c6e-ed398321bdb6.png)

[2015-02-23 16:55] avinci commented on #1075
`rm /home/shippable/dpd/logs/*.log.*` is good

[2015-02-23 22:41] rogierslag opened #1080 "Builds not processed"
Hi guys!

Love your system, but for some reason my builds for `inventid/neo` do not seem to get processed anymore. Neither when I push, nor when I run them from app.shippable.com

I have enabled the Dedicated Hosts feature, since I wanted to play around with it a bit more. However, I cannot find whether that is impacting anything (the builds simply never show up).

[2015-02-24 00:25] manishas commented on #1073
We're taking a look at this... will update you when we know what's going on.

[2015-02-24 00:29] manishas commented on #1074
@pastawoua Can you paste a link to a hanging build? Thanks!

[2015-02-24 00:30] manishas commented on #1078
thanks! we're improving the dedicated hosts feature and I'll put this as an enhancement.

[2015-02-24 00:36] manishas commented on #1080
@rogierslag you need the build_image key in your yml in order to use dedicated hosts.

See the blog at http://blog.shippable.com/dedicated-hosts-

our default image for multi-tenant service is shippable/minv2. You can specify this in your yml if you just want to continue using it with your dedicated hosts -

build_image: shippable/minv2

[2015-02-24 00:37] manishas commented on #1080
the error is surfaced in your Notifications tab for the inventid/Neo on Shippable -
![screen shot 2015-02-23 at 4 36 42 pm](https://cloud.githubusercontent.com/assets/2983749/6340980/34aff4b0-bb7a-11e4-9b74-db512712b3ef.png)

We're going to make a couple of changes to make sure the notifications tab is more prominent when there are unread notifications.

[2015-02-24 01:17] pnpritchard opened #1081 "Dedicated host "manage_host_queue.log" fills rapidly"
I am using a dedicated host, and twice in the past week, the log file `/home/shippable/dpd/logs/manage_host_queue.log` has filled up my server disk (almost 200GB) very rapidly. In the file, it looks like the process gets trapped in some connection error, and this gets logged multiple times every millisecond:

[code]

Everything seems to return to normal after deleting the file and restarting the d

[2015-02-24 01:18] pastawoua commented on #1074
@manishas https://app.shippable.com/builds/54ebcfe59b80f20d00c394d4

[2015-02-24 03:35] chriskinsman opened #1082 "Builds are hanging indefinitely"
Docker appears to be up but kicking off a build manually from the shippable site never gets past the "Waiting for build information..." state.

[2015-02-24 03:59] vincentpaca commented on #1082
Experiencing the same thing. No issues on docker status pages aside from the post on the issues page readme here.

[2015-02-24 04:35] abhi1010 commented on #1082
I am also having the same thing - My only project from bitbucket is not building anymore. I have tried deleting and adding the project on shippable - no joy.

[2015-02-24 04:44] rageshkrishna commented on #1082
We've had an issue with one of our message processors for the past hour. This has been corrected now and builds have started running. Please give it a few minutes. As the queue drains out you should see your builds starting to run.

[2015-02-24 04:46] vincentpaca commented on #1082
Yup. Just saw a few of my builds just now. Thanks @rageshkrishna

[2015-02-24 04:56] abhi1010 commented on #1082
Nope, mine is still saying "Waiting for build information..."

[2015-02-24 04:57] rageshkrishna commented on #1082
@abhi1010 Can you give me your project id? Thanks.

[2015-02-24 04:58] abhi1010 commented on #1082
It is working now, the page wasn't refreshing for some reason. When I went back and started from the home page of the project, it worked. Thanks

[2015-02-24 04:59] chriskinsman commented on #1082
Running here now...

[2015-02-24 04:59] #1082 closed

[2015-02-24 05:51] rageshkrishna commented on #1073
@crania It looks like your container starts running but I see some errors around virtualenv initialization. It seems to me like your container might be missing some dependencies that we need to launch the build. Can you share your Dockerfile with me at ragesh@shippable.com? This will help me to debug the issue further. Thanks.

[2015-02-24 06:36] rogierslag commented on #1080
:+1: ill fixup a custom Docker container for use with the dedicated hosts anyway!

[2015-02-24 07:17] crania commented on #1073
Just sent it over - thanks.  I'm using an AWS micro ubuntu 14.04 as the dedicated host.

[2015-02-24 07:43] manishas commented on #1077
Closing.

[2015-02-24 07:43] #1077 closed

[2015-02-24 10:26] vincentpaca opened #1083 "Can't get parallelization to work."
I'm trying to configure my rails app to build in parallel tests and my `shippable.yml` currently looks like this.

[code]

Rakefile:
[code]

I can't make it play nice with parallel tests. I got the code coverage reports to work, but the test splitting doesn't.

Any insight would be really helpful.

[2015-02-24 13:01] #1080 closed

[2015-02-24 13:43] rogierslag commented on #929
Same here!

[2015-02-24 17:22] pcsforeducation opened #1084 "Don't use a virtualenv for boot.sh on dedicated"
My base container has all the requirements already installed, so tests take like 30 seconds when I also install the requirements.txt in /home/shippable/wrk/requirements.txt and throw a "deactivate" into boot.sh. Otherwise they take quite a bit longer, and I see little benefit over using Travis. It would be much simpler to ship the requirements preinstalled (there's only like 3 of them) in the dire

[2015-02-24 17:43] manishas commented on #1083
@vincentpaca we will take a look and get back to you. Quick question - is the problem that the tests do not get split across the minions at all, or is it more that the report isn't being shown correctly?

[2015-02-24 22:36] bassamtabbara opened #1085 "payment information fails"
I've tried entering two valid credit cards and they both fail asking me to try again. Is you payment gateway working?

[2015-02-24 23:41] vincentpaca commented on #1083
Hey @manishas , it definitely runs 9 different minions but it runs all the specs on each minion. `SimpleCov` is working properly and I can get it to show. The `test` tab on the other hand doesn't work.

[2015-02-24 23:52] manishas commented on #1083
Have you taken a look at our sample - https://github.com/shippableSamples/sample-rubyonrails-parallel-matrix-rspec for this scenario? That runs a subset of tests on each minion and outputs results to the test tab. Please make sure you follow the instructions there.

Also tagging @CADBOT to help further.

[2015-02-24 23:58] vincentpaca commented on #1083
That is where I actually based my configuration too. I'll give it another go now to make sure that I just didn't miss a config or something. Thanks @manishas.

[2015-02-25 04:27] munjalpatel opened #1086 "Is there a way to deploy containers to Azure?"
Hello,

Is there a way to deploy containers to Azure CoreOS machine?

[2015-02-25 05:10] bassamtabbara opened #1087 "mounting volumes on dedicated host"
I see that I can set --privileged and --net on the docker instance running on a dedicated host through the shippable.yml file. What about other docker options like mounting volumes with -v and setting more LXC privileges through cap-add and cap-drop?

One idea would be to support DOCKER_OPTS environment variable that you pass directly to docker run.

[2015-02-25 05:41] bassamtabbara commented on #1085
works now. not sure what changed.

[2015-02-25 05:41] #1085 closed

[2015-02-25 05:56] rageshkrishna commented on #1087
@bassamtabbara We have some updates coming up that will allow you to configure more Docker options for the build. I can confirm that mount points will be configurable once this update is released. We'll announce these new features very soon, so please stay tuned!

[2015-02-25 06:15] vincentpaca commented on #1083
Hey @CADBOT , thanks for clearing that up. That helped a lot, and I've got the parallel specs running now. The issue was just `suite.rb` not getting the correct path for the spec files. This ticket can now be closed.

[2015-02-25 08:16] vincentpaca commented on #1083
Thanks @CADBOT . Sent you an email too.

[2015-02-25 09:14] vincentpaca opened #1088 "Parallel tests have little effect on build time"
Running multiple minions to run parallel tests are really really slow for me and we're only running our rspec tests.

We have around 1000 spec files, around 7000 tests in total, divided over 50 minions. A build takes around 20 minutes to complete. My benchmark for this is our current CI with a concurrency of 24 instances.

Would the slowness be solved by having our own dedicated hosts? If it would

[2015-02-25 10:42] jasonriddell opened #1089 "When clicking build get "Waiting for build information..." never completes"
When clicking build of a repository the build gets stuck on "Waiting for build information...", this was working last night and we haven't commited any changes to bitbucket (and bitbucket appears to be operating correctly/fully functional). Also when trying to cancel the build that is stuck in "Waiting for build information..." I get an error in the bottom right hand corner saying "The requested r

[2015-02-25 10:48] bldoron opened #1090 "<Urgent> Project is not responding to any request"
Our project:  "startappdev / portal" is not responding.
Trying to stop the current stuck build or to restart or to delete it, does nothing.

Trying to push a new build also doesn't trigger any webhook.

Please advise quickly.

[2015-02-25 11:39] jasonriddell commented on #1089
This appears to have been addressed, looks like a service outage.

[2015-02-25 11:39] #1089 closed

[2015-02-25 11:44] rageshkrishna commented on #1090
@bldoron Builds should be running normally now. Can you please check and confirm? One of our message processors has been having issues over the past few days. This is causing build processing to be delayed for a while, but you should see all the queued builds running to completion now.

[2015-02-25 11:52] bldoron commented on #1090
This is indeed what happened.
The problem was that during that time, we got no response from the servers.
The buttons didn't respond, and pushing new content created no visible builds waiting to be executed.

We felt like there was nothing we could have done.
I hope this doesn't happen again.

[2015-02-25 11:52] #1090 closed

[2015-02-25 17:33] bassamtabbara commented on #1087
@rageshkrishna thanks. is there a workaround I can use now? I'm unable to build one of our libraries without volume support.

[2015-02-25 20:40] nabla-c0d3 commented on #927
I just re-enabled my plan and got charged again. Can I get a refund for the following organization: datatheorem ?
Thanks!

[2015-02-25 21:23] manishas commented on #927
@nabla-c0d3 I'll let you know as soon as the refund is issued.

[2015-02-25 23:27] DanLipsitt opened #1091 "Debian minion image"
Issue #72 requested Debian 7 (wheezy) minions, as well as Ubuntu. The issue was closed when the Ubuntu image was completed, but there is still no Wheezy image.

[2015-02-26 02:02] manishas commented on #1088
@vincentpaca let's discuss this over email. I believe you've reached out to @CADBOT and we'll get back to you shortly.

[2015-02-26 05:47] pastawoua commented on #1074
@manishas any update please?

[2015-02-26 06:05] manishas commented on #1086
@munjalpatel we're working on enabling this as we speak. Give us a few days and I'll give you an update.

[2015-02-26 06:07] manishas commented on #1081
We have fixed this in an update that was deployed today. I'll give it a couple of days and check back in with you to see if you're still running into this. Thanks!

[2015-02-26 06:59] thecaddy opened #1092 "postgres 9.4"
Would appreciate if you'd add an the updated postgres.

[2015-02-26 07:08] thecaddy opened #1093 "nodejs 0.12.0 is building from source ~ 20min build time"
Is there any way to install from the nvm binary and/or a shippable container with the latest version of stable node?

[2015-02-26 14:56] pniederw commented on #1089
Still having the same problem (since yesterday).

[2015-02-26 15:43] pledgemusic commented on #1057
Hi Manisha,

We're aching to switch over to a paid account, but builds are still much slower than our existing CI: (about 36mins vs 18mins) so can't make the switch yet:

Fixing the caching above (8mins on 'install' step) is part of that, but it also looks like the tests run slower in general. Could you confirm whether the CPU allocation is larger on paid accounts?

Zach

[2015-02-26 18:07] pnpritchard commented on #1081
Ok thanks! I will restart the dedicated hosts and let you know if it happens again.

[2015-02-26 19:15] phptek opened #1094 "Clearer "Success" iconography"
On the https://app.shippable.com/ domain - I have a hard time seeing at-a-glance if my build passed or not. The reason: I'm colourblind - so reds, browns and greens don't have as much contrast for me ans they do for those who aren't colourblind.

My suggestion: Use the standard "isshippable", "notshippable" icon instead of the Green / Red build number to the left of each build.

Other than that, a

[2015-02-26 19:39] resurge opened #1095 "Timeout when trying to push/deploy to CloudControl using cloudcontrol tools"
Related build: https://app.shippable.com/builds/54ea59f7f774120e0020dc48

When trying to push or deploy to CloudControl I get a timeout.
(`cctrlapp <appname>/<branchname> push` & `cctrlapp <appname>/<branchname> deploy`)
More info about the tools can be found here: https://www.cloudcontrol.com/dev-center/Platform%20Documentation

(I could circumvent the push command by using git straightaway to pu

[2015-02-27 01:57] pniederw commented on #1089
Still not working.

[2015-02-27 08:35] pmoust opened #1096 "aufs diff layers keep stacking up on dedicated hosts"
`/data/aufs/diff/` is getting filled rapidly.

[code]

[2015-02-27 09:08] pmoust opened #1097 "unable to remove dedicated hosts"
Due to #1096 I decided it was quicker to bring up a new fleet of shippable dedicated hosts over rectifying the issue manually.

New hosts have been added in Shippable UI and are initializing, but I cannot remove the aforementioned dead Shippable hosts.

![screenshot 2015-02-27 11 07 04](https://cloud.githubusercontent.com/assets/2493339/6409796/b7f43d4c-be70-11e4-8740-5a9d1dd34e61.png)

[2015-02-27 09:32] pmoust opened #1098 "failed to docker login/docker pull on dedicated node worker"
Follow-up on #1096 and #1097

New hosts have been init and deployed successfully (or so it reports on panel).

Subscription: `5480429dd46935d5fbbf5213`

Builds report
[code]

PS: Don't know if its related or not but on our first dedicated host, deployment was failing at some point. I entered in and checked docker logs of dpd container that was being auto-restarted and it had issues getting a queue

[2015-02-27 09:33] pmoust commented on #1098
Perhaps this post-scriptum is a separate case.

Excuse the issue spam, but I am currently being blocked and have builds going to get pushed without CI, which is something we really dread.

[2015-02-27 10:08] apeiniger opened #1099 "Dedicated host running out of disk space"
We have a problem with our dedicated host running out of disk space. I checked the folders and most of it is used by /data and /home/shippable. Do you know why this is happening and how this can be resolved? Thought about deleting something but wasn't sure if I would destroy the setup.

If you want to check, here is a build id that fails because of this: 54f0327e6e35fd0e00f1fd67

[2015-02-27 14:33] sibex commented on #1086
:+1: :smiley_cat: I'm looking forward to this upcoming feature.

[2015-02-27 14:59] issue-reporter opened #1100 "Can't reach most recent build from badge"
Markdown link for project looks like:

[code]

When you click on the badge, it goes to the link `https://app.shippable.com/projects/2398523895project29352/builds/latest`,
which tells you that the "The build you're looking for wasn't found." even when correctly logged in.

[2015-02-27 15:33] adamyao commented on #1097
hey, I have exactly the same problem and plus extra. I have one dedicate node which has the red "failed" sign, but I can not reset it or delete it (but I find it is still working though). I can not add a second node either. My error message is: you do not have the access right to exercise the request.

[2015-02-27 15:43] manishas commented on #1097
We'll look at both these issues asap.

[2015-02-27 17:34] aug70 commented on #932
Are you guys going to look into this?

[2015-02-27 18:55] thedracle opened #1101 "Can't access after conversion to organization."
I changed my github account serviewcare to an organization, and now I can't access it from the organizations panel via my personal account.

I also had my shippable account/payment set up on that account.

Any help would be greatly appreciated.

[2015-02-27 19:09] manishas commented on #1097
this will be fixed in a few hours... we're testing a fix internally. sorry for the disruption!

[2015-02-27 19:37] rorito opened #1102 "Angular.js errors in your Dashboard"
The Dashboard seems to be broken for me, is anyone else seeing this?

![screenshot 2015-02-27 14 36 49](https://cloud.githubusercontent.com/assets/930780/6419780/33460094-be8e-11e4-956d-4e4d3cf69ac6.png)

[2015-02-27 19:42] manishas commented on #1102
we're on it...

[2015-02-27 19:45] adamyao commented on #1099
I just have the same problem on my dedicate host: disk is full and build aborts. I checked diskspace 100% full out of 24G, but /home/shippable uses up only 4.8G.

[2015-02-27 19:50] adamyao commented on #1024
Hi avinci, any update on this one?  Thanks.

[2015-02-27 19:54] manishas commented on #1024
being tested as we speak...

[2015-02-27 20:12] adamyao commented on #1024
Thanks!

[2015-02-27 20:18] caarlos0 opened #1103 "How to tell if the current branch is master?"
I know, we have the `$BRANCH` environment variable, but, when building a PR to, let's say, `master`, the variable shows `master`.

In my point of view, this is wrong. I am not building the master branch, but a bunch of changes that I want to apply to it.

Is there a way to get the actual current branch being built?

[2015-02-27 20:19] lkiesow opened #1104 "Build failed with “Cannot destroy container”"
opencast-community / Matterhorn / Build: 167 failed with some internal error. This might be a problem on shippable:

 Container

[code]

[2015-02-27 20:25] velo commented on #1103
Use ````HEAD_BRANCH```` instead

[2015-02-27 20:47] caarlos0 commented on #1103
indeed.

thanks

[2015-02-27 20:47] #1103 closed

[2015-02-27 20:59] manishas commented on #1097
This is available in production. Let me know if you can delete hosts now

[2015-02-27 21:05] manishas commented on #1102
is this a 100% reprofor you?

[2015-02-27 21:05] manishas commented on #1101
@thedracle can you click on the 'sync accounts' button on your dashboard and see if the org shows up? Thanks.

[2015-02-27 21:07] manishas commented on #1098
@pmoust we're working to fix this and hopefully you'll be unblocked in a few hours.

[2015-02-27 21:10] adamyao commented on #1097
I can not add new dedicate host, still get the error message: you don't have sufficient permissions to perform this operation

[2015-02-27 21:10] thedracle commented on #1101
I managed to solve this by going to Applications in my github account, and selecting to give permissions to my organization to Shippable, all works now.

Thanks :)

[2015-02-27 21:10] #1101 closed

[2015-02-27 21:11] adamyao commented on #1097
I can not remove the old dedicate node either, same error message.

[2015-02-27 21:19] rorito commented on #1102
Do you mean reproducible?

I just tested on Chrome, Firefox Nightly and my iPhone (iOS 8) and I'm
getting the dashboard errors on all of them.

On Fri, Feb 27, 2015 at 4:05 PM, Manisha <notifications@github.com> wrote:

[2015-02-27 21:22] manishas commented on #1093
we're investigating this..

[2015-02-27 21:23] manishas commented on #1095
@resurge this is certainly possible. We've run into this with other scenarios. We'll investigate on our end, but if there something you can do so your command doesn't prompt for user input?

[2015-02-27 21:31] pmoust commented on #1097
@manishas thanks, this one is fixed.

[2015-02-27 21:31] #1097 closed

[2015-02-27 22:05] adamyao opened #1105 "Failed to reset/delete a dedicate node, failed to add a new dedicate host"
I posted this inside  the issue#1097. #1097 has been closed, so I have to issue a new.
When I try to reset/delete an existing dedicate node, or try to add a new dedicate node, I got the following error message:

![screen shot 2015-02-27 at 1 59 39 pm](https://cloud.githubusercontent.com/assets/10078683/6422121/ad061842-be89-11e4-9904-4d0767fd0b4a.png)

[2015-02-27 22:25] manishas commented on #1105
@adamyao only subscription owners can add dedicated hosts. You're seeing these errors because you are a collaborator.

[2015-02-27 22:38] adamyao commented on #1105
I added the existing dedicate node back a month ago.
.

[2015-02-27 22:48] DanLipsitt opened #1106 "An owner must login before you can enable this repo"
I'm unable to get both github and bitbucket connections working at the same time. I've tried various combinations of deleting shippable logins and deleting and re-authorizing OAuth connections. I'm currently getting the following error for my bitbucket account:

[code]

[2015-02-27 23:39] manishas commented on #1106
@DanLipsitt are you seeing this error when you try to connect your BitBucket account?

[2015-02-27 23:41] manishas commented on #1105
@adamyao we recently added some checks to make our permissions model align more closely with GitHub's. Is it possible to have an owner of the subscription add the host?

[2015-02-27 23:47] DanLipsitt commented on #1106
The icons say "repos on" for both github and bitbucket, but I got the error when I tried to enable a repo. The error persisted when I deleted and re-created my accounts. It's working now. Did you change something or did it fix itself?

[2015-02-27 23:56] manishas commented on #1106
We did a rather major update last night and deployed a couple of fixes today so that might be it.

Is everything working as expected now?

[2015-02-27 23:59] DanLipsitt commented on #1106
So far so good. Thanks.

[2015-02-27 23:59] #1106 closed

[2015-02-28 00:38] vkuusk commented on #1096
We have the same problem. is there a manual way to clean up this directory.

Something like delete everything in /data directory and "reset" the dedicated host?

We do not need to preserve any test results or anything like that. we just need to continue to run tests.

Thanks.

[2015-02-28 00:40] DanLipsitt opened #1107 "dedicated node init failure"
[code]

[2015-02-28 01:35] naveensky opened #1108 "Option to remove old builds"
Is there an option to remove old builds for a project? One of my projects has over 100 build as of now and I would like to keep last 20 of them only

[2015-02-28 01:56] manishas commented on #1108
You can delete each build by clicking the X action. There's no bulk delete as of now.

[2015-02-28 01:59] naveensky commented on #1108
@manishas - I do that. Would love if we have a bulk delete option, probably via shippable.yml, as well. I will close this ticket, but if you make any update on this, please ping me

[2015-02-28 01:59] #1108 closed

[2015-02-28 01:59] avinci commented on #1107
Can you give me the link on your subscriptions page?

[2015-02-28 02:00] avinci commented on #1108
@naveensky we are implementing that feature. So that its rolling builds...

[2015-02-28 02:03] DanLipsitt commented on #1107
https://app.shippable.com/subscriptions/54a9faafd46935d5fbc1713d

[2015-02-28 02:23] vkuusk opened #1109 "How to replace the dedicated host? (stuck in strange state)"
1. We had one dedicated host - everything worked fine. - OK
2. Disk was filled in 100% in /data/aufs - testruns started to fail - BAD
3. I removed the dedicated host from shippable UI - but testruns were still started on the dedicated host and failed - BAD
4. I stopped the dedicated host (already unregistered from shippable) - testruns went into Shippable infrastructure - and finishing - OK
5. I r

[2015-02-28 02:54] manishas commented on #1109
@vkuusk I just checked and I still see a host attached to your subscription...you will see it if you click on 'dedicated hosts' in the UI. You can delete the host by clicking on the trash can icon.

You can then add a new host. Let me know if you need help and I can get someone to help over a hangout.

[2015-02-28 03:36] avinci commented on #1109
@vkuusk there is a race condition of deletes. We are going to fix it on Monday.

For now, as a work around, ssh into the server you want to remove and run `docker rm -f $(docker ps -a)`. this should remove our agents and you can then delete it from the UI.

[2015-02-28 03:42] avinci commented on #1109
@vkuusk there is another issue of disk space. there is a bug in docker which is not releasing space. We are figuring out how to run maintenance on these hosts. One option is `sudo docker restart` which should release the space its holding. I personally don't like this solution and we realized this today that docker is having this issue. I will update more on what the solution is...

[2015-02-28 04:34] ragsden commented on #1107
This usually happens if the DOCKER_OPTS is not set right in /etc/default/docker
Please make sure the value is
DOCKER_OPTS="-H tcp://0.0.0.0:4243 -H unix:///var/run/docker.sock -g=/data"

[2015-02-28 17:47] pniederw opened #1110 "Unparsable shippable.yaml causes manually triggered builds to hang forever"
UI hangs forever at "Waiting for build information...". No feedback about the parse error.

[2015-02-28 17:48] pniederw commented on #1089
Found the cause for my problems (see #1110).

[2015-02-28 23:47] manishas commented on #1110
@pniederw you will see a notification in the notifications tab for the project. We're improving the experience around notifications soon so it will be more prominent.

[2015-02-28 23:50] pniederw commented on #1110
If I'm not mistaken, there is no such notification in case of a manually triggered build. Anyway, feedback needs to be improved, and having the UI hang at " "Waiting for build information..." is a clear bug.

[2015-03-01 00:18] manishas commented on #1110
We'll fix the notifications. And yes, he build should not hang. I'll file an internal bug to track this.

[2015-03-01 00:34] pniederw opened #1111 "Wrong "Started at" information for a build"
"Started at" says "in 2 minutes" or "in a few seconds", but build is already running and in the "script" phase. I observe this on every build (i.e. information is always off).

[2015-03-01 01:24] pniederw opened #1112 "How to exclude specific build from matrix"
Let's say I have

[code]

How do I exclude the build with openjdk7 and FOO=bar2? The docs only have an exclude with a single value (e.g. `matrix: exclude: - jdk: openjdk7`), but I don't understand what that gives over not including that value in the first place (in the `jdk:` section). I've tried:

[code]

That's analogous to the `matrix: include:` syntax given in the docs, but it doesn't seem to

[2015-03-01 01:43] pniederw opened #1113 "Service completely down?"
Neither triggered nor manual builds are starting anymore, no matter what I try, even with simplest shippable.yml. No new notifications.

[2015-03-01 01:53] pniederw commented on #1112
Actually this might be a consequence of #1113.

[2015-03-01 02:03] pkaminski commented on #1113
Same here, starting around 5pm PST.

[2015-03-01 12:19] zedtux opened #1114 "sudo apt-get install libmagic-dev fail"
Since the 7th of February I have the following issue at the before_install step:

    Reading package lists...
    Building dependency tree...
    Reading state information...
    The following packages were automatically installed and are no longer required:
    libnet-daemon-perl libdbi-perl libterm-readkey-perl libhtml-template-perl
    mysql-client-core-5.5 libdbd-mysql-perl libplrpc-perl mysq

[2015-03-01 12:21] zedtux commented on #1114
Here is the extract from my `shippable.yml` file:

    before_install:
      - shippable_retry sudo apt-get install libmagic-dev

[2015-03-01 13:02] pelegb opened #1115 "script fails after shippable_retry succeeds"
Hi,
I'm using the following shippable.yml in order to build an android project:

language: java

jdk:
    - openjdk7

install:
    - shippable_retry sudo apt-get update -y
    - "sudo apt-get install -y lib32stdc++6 lib32z1"

script:
    - "shippable_retry ./TrivialDrive/gradlew -p ./TrivialDrive/ --stacktrace clean build"

The script line fails though second run outputs Build Successful (I need t

[2015-03-01 13:08] rageshkrishna commented on #1114
Please try adding a `sudo apt-get update` before the apt-get install command. This can happen when the apt repositories are updated with newer packages and the cached package lists get out dated.

[2015-03-01 16:52] zedtux commented on #1114
This solved my issue.

[2015-03-01 16:52] #1114 closed

[2015-03-01 16:54] swoertz opened #1116 "Error parsing test reports"
I am using a c++ and the boost::unit_test_framework to generate the shippable/testresults/*.xml files.

The build process suceeds and the generated files are found, but I get the following error when shippable is parsing the xml.

Is there a way to get more information from the parser? So I could fix the xml files...

[2015-03-01 18:38] manishas commented on #1113
Service should be running as usual... please let me know if you run into any more issues.

[2015-03-01 18:38] #1113 closed

[2015-03-01 18:42] manishas commented on #1107
@DanLipsitt did the suggestion above help?

[2015-03-01 18:43] manishas commented on #1116
@swoertz we parse junit format for test reports, so you will need to convert the output to junit format. Hope this helps.

[2015-03-01 18:44] #1105 closed

[2015-03-02 05:55] ragsden commented on #1107
@DanLipsitt On further investigation we found that our init scripts were not adding the docker opts and we fixed thee script. Your host is successfully initialized.
Let me know if you have any questions.

[2015-03-02 08:15] spyrospph commented on #1098
Hi,

We have this issue since Friday causing all our deployments to fail. This is 3 days of work without a CI and no deployments.

Any news on fixing this?

[2015-03-02 08:38] rageshkrishna commented on #1098
@pmoust @spyrospph Can you check whether `docker -H=tcp://127.0.0.1:4243 ps` gets you a response?

If this doesn't work, please tell me what you've got for DOCKER_OPTS in `/etc/default/docker`. It should read:
[code]
If you have something different here, please reinitialize and redeploy the host. We pushed a fix for this issue a couple of hours ago. Thanks.

[2015-03-02 08:46] pmoust commented on #1098
@rageshkrishna It runs through unix socket
[code]

@rageshkrishna This is consistent across 2 dedicated nodes that we 've init'ed and deployed yesterday (to check if a fix was sent upstream).

I 'll just go ahead and force it listening to ::4243 and mount in `/data` to unblock us.

[2015-03-02 08:51] pmoust commented on #1098
@rageshkrishna did so, listens fine on sock and ::4243, the diff on datadir forces an empty `docker ps -aq` as expected. Hitting 'deploy' on our nodes from shippable ui just hangs. I 'll go ahead and destroy/recreate our nodes. This is just FYI

[2015-03-02 08:53] rageshkrishna commented on #1098
Thanks for the details. It should work if you initialize the node again from the UI. Deploy only attempts to refresh the containers we run. Initialize will set up the docker config.

Please let me know if this still doesn't work for you (on either the new nodes you setup, or the current ones if you can reinitialize them).

[2015-03-02 09:05] pmoust commented on #1098
@rageshkrishna You 've got me just before I was about to hit enter on destroy/recreate the nodes. I will get back to you regarding re-init

[2015-03-02 09:27] pmoust commented on #1098
@rageshkrishna thanks, had some errors on RabbitMQ calls on docker log of one NDQ container on one of the two nodes. Clearing the container/images and re-init did it. On the other a just one re-init sufficed.

I am leaving this open so that you can track your progress in providing a sane DOCKER_OPTS conf.

Due to as having an automated way to launch our infrastructure, is it ok for us (for now) to

[2015-03-02 09:35] pmoust commented on #1098
Follow up issue. Still an error with rabbitMQ on just one node.
[code]

[code]

[2015-03-02 09:39] apeiniger commented on #1099
Is there any news on this? We now have three days without testing, which is really bad.

[2015-03-02 10:52] rageshkrishna commented on #1098
Yes, those DOCKER_OPTS should work for the foreseeable future.

[2015-03-02 11:07] pmoust opened #1117 "API support to add, initialize, deploy and remove dedicated nodes"
We want to move our Shippable dedicated nodes to an AWS autoscaling group that will also benefit from spot/price launch configuration for EC2 instances.

Currently there is not way for us to programmatically call an Initialize + Deploy sequence.

The flow would be as follows

1. On instance boot + after our custom provision from cloud-init, allow instance to call your API and register itself as a

[2015-03-02 14:09] geshan opened #1118 "Test scripts take a lot longer to complete on success"
The phpunit tests I run finishes in ~19 seconds but the script takes ~190 to finish. Is is because of the code coverage reports or whats the reason?

Actually those same tests run in a like 2 seconds in my machine.

Please have a look:

![Slow passing script](http://s8.postimg.org/pu0olxnx1/Selection_003.png)

[2015-03-02 14:37] manishas commented on #1098
@pmoust is everything working for you or are you still blocked?

[2015-03-02 14:39] pmoust commented on #1098
@manishas thanks, we are not blocked any more.
I kept this open for your own reference.
Feel free to close this at will.

[2015-03-02 14:42] jordandukart commented on #53
+1

[2015-03-02 14:58] nigelgbanks commented on #53
+1

[2015-03-02 15:01] manishas commented on #1117
This is a great scenario and we're working on some things that will address this. Will update very soon once we announce.

[2015-03-02 15:40] DanielLevin opened #1119 "High amount (almost 50%) of builds are getting stuck on "Waiting for mongodb to start...""
organization: startappdev
project: portal

Hi,
We are hitting build timeouts in almost 50% of builds.
Builds are getting stuck on  "Waiting for mongodb to start..."
The workaround is to use [reset_minion] which works in most of the cases, but it leads to a terrible waste of time.
Is there anything that can be done to improve the situation?

Thanks,

Daniel

[2015-03-02 16:57] lienvdsteen commented on #1068
@manishas Is there a way to disable the build for master?

[2015-03-02 16:59] pmoust opened #1120 "Do not attempt a build if the PR if base<->head have merge conflicts"
PR contains conflicts with base branch that cannot be automatically resolved.

Expected behavior: no build triggered
Actual behavior: build starts and fails on git merge.

Not that important, but nice to not have a spam to the team members if a PR fails for such reason.

[2015-03-02 17:03] pmoust commented on #1068
@lienvdsteen what I did for repos that I did not need this feature was to disable the github payload to be sent on push event and just keep the PR event, go to `settings/hooks` in your Github project to find the shippable webhook.
![screenshot 2015-03-02 19 01 47](https://cloud.githubusercontent.com/assets/2493339/6445731/af8a7db0-c10e-11e4-8045-7f6f40cf2328.png)

[2015-03-02 18:17] lienvdsteen commented on #1068
Thanks for the tip @pmoust !

[2015-03-03 04:33] pcullin-ratio opened #1121 "Istanbul: No such file or directory"
I'm attempting to implement unit test running and code coverage visualization into my Node.js project using the Node sample projects and documentation provided. However, I'm not using Grunt as a task runner - just straight NPM. And being new to all this, I've had some difficulty.

I was able to get my Mocha tests to run and save xunit output to shippable/testresults/result.xml. That enabled Shippa

[2015-03-03 14:06] stasyanx opened #1122 "Error Decrypting Secure Variables"
Im trying to integrate with Slack for notifications and getting error `Error Decrypting Secure Variables ` while trying to run my test.
I encrypted my `slack_token` on shippble like SLACK_TOKEN=my_slack_token
my chunk of shippable.yml
`env:
  global:
    -APP_NAME=xxx
    -SLACK_ORG=11 PROJECT=22
    -CI_REPORTS = shippable/testresults COVERAGE_REPORTS=shippable/codecoverage
    -secure: my_encryp

[2015-03-03 20:06] DanLipsitt commented on #1107
Yes, it connects now. You might want to know, though, that the settings that you add are incompatible with the ones created by [docker-machine](https://docs.docker.com/machine/) (that's how I created this EC2 server):

[code]

This isn't a big deal, but `docker-machine` is shaping up to be an extremely convenient way to provision docker hosts in the cloud, and I bet your customers will want to use

[2015-03-04 05:13] geshan commented on #99
any plans on doing a full native support for gitlab with things like builds on pull request as well?

[2015-03-04 05:25] geshan commented on #1118
any updates??

[2015-03-04 08:28] manishas commented on #1063
Thanks! Closing.

[2015-03-04 08:28] #1063 closed

[2015-03-04 08:28] manishas commented on #1107
@DanLipsitt thanks for the insight. We'll definitely take a second look at our settings.

[2015-03-04 08:28] #1107 closed

[2015-03-04 08:29] manishas commented on #1039
Closing.

[2015-03-04 08:29] #1039 closed

[2015-03-04 08:29] manishas commented on #851
Closing this since it was fixed. please let us know if you run into any problems.

[2015-03-04 08:29] #851 closed

[2015-03-04 08:30] manishas commented on #1122
we'll take a look at this... thanks!

[2015-03-04 08:32] manishas commented on #1120
Thanks for the suggestion! We'll consider this enhancement when we make improvements to the PR experience.

[2015-03-04 08:33] manishas commented on #1119
@DanielLevin we'll take a look at this, thanks for reporting!

[2015-03-04 08:33] manishas commented on #1116
Closing. Please let me know if converting to junit format didn't work.

[2015-03-04 08:33] #1116 closed

[2015-03-04 08:34] manishas commented on #1118
@geshan sorry we haven't looked at this yet. We'll investigate this and let you know.

[2015-03-04 11:55] luigi7up commented on #1054
Hi! Any update on this one? Thanks

[2015-03-04 12:03] sheershoff opened #1123 "mariadb 10 with tokudb engine"
Please add MariaDB 10 with TokuDB engine support. MariaDB 5 with TokuDB could be also a good add-on.

[2015-03-04 12:32] djindjic opened #1124 "no build after merge to master (bitbucket)"
I have just tried to utilize:
[code]
and make an new branch, push it to my bitbucket account and everything works fine (no build for no master branch). When I merge it locally to my master and push that merged master, there is no build started.

[2015-03-04 12:50] rageshkrishna commented on #1124
@djindjic When you did the merge to master, did git do a fast-forward merge or did it create a merge commit? There is a known bug with BitBucket webhooks for fast-forward commits due to which we cannot trigger builds. Please let me know if this is the case. Thanks!

[2015-03-04 12:55] djindjic commented on #1124
no it doesn't create merge commit, just merge commits from feature branch. It seems to be that known bitbucket issue. If you have seen this issue documented in their issues tracking tool, could you please give me a link? I want to subscribe on it.
thanks!

[2015-03-04 12:55] #1124 closed

[2015-03-04 13:22] rageshkrishna commented on #1124
Here's the BitBucket issue for this problem: https://bitbucket.org/site/master/issue/7775/post-service-does-not-provide-useful

[2015-03-04 16:14] adambyrtek commented on #1068
:+1:

[2015-03-04 17:09] clockwork-coder commented on #237
+1

[2015-03-04 17:38] jeffkole opened #1125 "`cache:true` seems to have no effect"
We have cache set to true in our shippable.yml file, but each build always starts by installing all dependencies.  Recently that step alone has started taking ~10 minutes.  That puts quite the damper on an otherwise fast process.

What do I need to change to get caching to work correctly?

[2015-03-04 18:28] aug70 opened #1126 "How to install JCE unlimited strength jars? (on shippable)"
Has anybody done this before? How do you change the

* local_policy.jar
* US_export_policy.jar

and install JCE unlimited strength jars?

Duplicate of https://github.com/Shippable/support/issues/892

[2015-03-04 18:29] aug70 commented on #892
+1

[2015-03-04 19:20] DanLipsitt commented on #1107
No problem. I also noticed the lack of TLS settings. I haven't had time to think through the security implications, but it seems like they would be significant.

[2015-03-04 20:16] velo commented on #1117
++

[2015-03-04 22:13] cep21 commented on #956
Ping.  Can I get an update on this as well?  Being able to create and push docker images after a build is a requirement for CI, and I like all the other features of Shippable.  I tried doing this through shell.  My config looked like

    install:
      - curl -sSL https://get.docker.com/ | sudo sh

    after_success:
      - docker info

And I get the error:

time="2015-03-04T22:01:32Z" level="fa

[2015-03-04 22:41] girlprogrammer opened #1127 "I don't see any Bitbucket repositories"
With Bitbucket username 'girlprogrammer', the Shippable application can't see any repositories, not of my own and not of any organizations I'm in.  They are private repositories, not public.

I was seeing this problem, so then I tried to delete my Shippable account and start over, which may have made it worse.  How can I try this out with a Bitbucket repository?

![image](https://cloud.githubuserc

[2015-03-04 23:15] manishas commented on #1127
@girlprogrammer our logs show you have mercurial repositories in your account.

We currently support git based repositories, which is why you don't see your repos in Shippable.

Hope this helps. Thanks!

[2015-03-05 00:39] manishas commented on #1111
thanks for the catch! we'll fix this soon.

[2015-03-05 04:53] geshan commented on #1118
The main issue is this :https://github.com/Shippable/support/issues/349

After I remove the code coverage it still takes longer but does not timeout. It as 33 simple unit tests with PHP Unit it should not be an issue even to get the code coverage but it a timeout if I add code coverage.

[2015-03-05 04:57] manishas commented on #1118
@geshan sorry we were consumed with the new features that came out today We'll take a look at this tomorrow and try to figure out why it's taking so long to generate code coverage.

[2015-03-05 04:58] manishas commented on #1125
@jeffkole are you builds faster today? We've made some changes and also added capacity so you should see some improvement.

Our caching is per host, so sometimes it takes a few builds to see the benefits.

[2015-03-05 05:01] manishas commented on #772
Thanks, I'll close this issue now.

We launched docker build support today, so check it out when you get a chance - http://blog.shippable.com/making-deployments-even-easier-with-docker-build

[2015-03-05 05:01] #772 closed

[2015-03-05 05:02] manishas commented on #314
This is now available! Check out our blog post explaining how to set it up - http://blog.shippable.com/making-deployments-even-easier-with-docker-build

[2015-03-05 05:03] manishas commented on #1073
@rageshkrishna what is the update on this issue? I see builds timing out, so can we please follow up and see what's going on?

[2015-03-05 05:06] manishas commented on #848
We launched Docker build support today, along with webhook support through our REST APIs. Will this combination address your scenarios? More on today's feature release here - http://blog.shippable.com/exciting-new-features-at-shippable

[2015-03-05 05:27] wamatt commented on #314
way to go @manishas  + team docker!

[2015-03-05 08:17] surjikal commented on #800
I would like to see this as well.

[2015-03-05 11:22] neoziro opened #1128 "Where can I find the public SSH key associated to my account?"
All in the title.

[2015-03-05 16:00] jeffkole commented on #1125
We have had the cache flag set to true since we started using Shippable a few weeks ago.  The build times vary widely from 2 minutes up to the timeout at 2 hours.  If I pulled down the log of builds, I could give you some better stats on the times, but the variation is alarming, when the build is roughly the same and dominated by the `npm install` that occurs for each.

I did notice this morning t

[2015-03-05 17:56] cep21 opened #1129 "How do I create docker images from base image scratch?"
My build creates a build artifact that I would like to add to a scratch docker image and upload somewhere.  It doesn't appear you support adding build artifacts to scratch docker images that look like the following:

    FROM scratch
    COPY ./myappbinary /myappbinary
    CMD ["/myappbinary"]

Is this true?

[2015-03-05 22:16] cep21 commented on #1129
My initial attempt was something like the following:

    curl -sSL https://get.docker.com/ | sudo sh
    golang build .
    docker build .

[2015-03-05 22:23] ajagnanan commented on #1128
Yea, i'm not seeing it also for some reason.

[2015-03-05 22:39] manishas commented on #1128
From your dashboard, go to your organization page. The orgs are listed below the repos on the right side of the dashboard.

On the org page, you will see 'Deployment key' on the right and your ssh key is available there when you click on it.

Let me know if this helped.

[2015-03-05 22:40] manishas commented on #1127
@girlprogrammer i am closing this issue since a feature request for Mercurial support is already on our plate. We will let you know when we add it.

[2015-03-05 22:40] #1127 closed

[2015-03-05 22:43] manishas commented on #1125
Sorry that is confusing. The project settings were added for the Docker build support, so the text there is trying to differentiate between starting with a Dockerfile vs with a prebuilt image from Docker Hub. It is not relevant to your scenario... we will improve the wording and make it clear that it's for docker users.

We will take a look at why your builds times are so different. It is somewhat

[2015-03-05 22:45] manishas commented on #1125
good news is your build seem much faster since yesterday, which is when we added the hosts :)

[2015-03-05 22:46] manishas commented on #1122
@CADBOT can you please help with this issue?

[2015-03-05 22:47] manishas commented on #1122
@stasyanx can you point us to a failed build?

[2015-03-05 23:36] jeffkole commented on #1125
Is it correct then that minion caching only works if I use my own Docker
image?  Will caching work if I specify an image from Shippable, like
`build_image: shippable/minv2`?

On Thu, Mar 5, 2015 at 2:45 PM, Manisha <notifications@github.com> wrote:

[2015-03-06 01:28] manishas commented on #1125
No, minion caching works in all cases except if you're starting with a Dockerfile and using docker build with shippable.

[2015-03-06 02:04] jeffkole commented on #1125
So it does appear that the container is cached, but none of the
dependencies for my project are cached so my `npm install` command
downloads all modules every time.  Is there a way I can prevent that so
that the modules that haven't changed are not downloaded again?

On Thu, Mar 5, 2015 at 5:28 PM, Manisha <notifications@github.com> wrote:

[2015-03-06 02:08] manishas commented on #1125
I'll open up an internal issue to track this and we will take a look to figure out why the cached dependencies are not preventing re-download.

[2015-03-06 08:59] neoziro commented on #1128
@manishas I finally find it thanks

[2015-03-06 08:59] #1128 closed

[2015-03-06 15:56] jeffkole commented on #1125
Thank you.  Feel free to contact me directly (ie, not through Github
issues) for more details of my configuration or process.

On Thu, Mar 5, 2015 at 6:08 PM, Manisha <notifications@github.com> wrote:

[2015-03-06 17:05] chriskinsman opened #1130 "Builds hanging again and not starting...."
Perhaps yet another message processor issue?

[2015-03-06 17:11] manishas commented on #1130
Looking into it...

[2015-03-06 17:13] avinci commented on #1130
hey @chriskinsman i am seeing that everything is fine on our end. Any particular project or subscription you are having issues with?

[2015-03-06 17:15] avinci commented on #1130
i think this project, ps-common we are seeing that its YML format cannot be parsed. it was around the same time you opened the issue. Is this the right project

[2015-03-06 17:21] manishas commented on #1104
@lkiesow Here is the response from our engineering... suggestion is to restart the host -

This is a very old bug in Docker. I've seen this happening locally while manually invoking docker rm. Restarting Docker did not seem to help when I ran in to this. I had to restart the box to be able to remove the container.

It looks like people are still running in to it with Docker 1.5. See docker/docker#

[2015-03-06 17:22] manishas commented on #1102
@rorito is this still happening for you?

[2015-03-06 17:23] manishas commented on #1100
@issue-reporter this should work now. can you please confirm?

[2015-03-06 17:25] chriskinsman commented on #1130
Yep. Testing out triggered builds. Will look at yml

Sent from my iPhone

[2015-03-06 17:28] manishas commented on #1098
Thanks for confirming! Closing.

[2015-03-06 17:28] #1098 closed

[2015-03-06 17:34] manishas commented on #1099
@apeiniger sorry about this. some of the space issues are docker related, and we're finding ways to work around them. For example, see #1096 .

I'm documenting the reasons why this can happen and workarounds and we will have this soon.

[2015-03-06 17:37] manishas commented on #1119
@DanielLevin are you still running into this?

[2015-03-06 17:38] manishas commented on #1093
@CADBOT do you have an update on this issue?

[2015-03-06 17:42] chriskinsman commented on #1130
That was it.  I figured the build would kick off and fail.  My bad.  It won't even kick off and you get a notification.  Would be nice if the notification had more details about the issue.

[2015-03-06 17:43] velo opened #1131 "A build was attempted but failed for PR #55 of "ContaAzul/Puppet" because the YML file could not be merged."
[code]

I'm getting this error message over and over.  But the PR is mergeable and I did merged with target branch.

https://app.shippable.com/builds/54f9e7bbaf46330e001209af
https://github.com/ContaAzul/Puppet/pull/55

[2015-03-06 18:19] avinci commented on #1130
I am working on that exact bad UX right now. I have run into the same issue multiple times. Hope everything else is working out better..

[2015-03-07 02:57] rorito commented on #1102
Nope, looks good, thanks for the help.

On Fri, Mar 6, 2015 at 12:22 PM, Manisha <notifications@github.com> wrote:

[2015-03-07 03:14] manishas commented on #1102
Thanks! Closing this issue.

[2015-03-07 03:14] #1102 closed

[2015-03-07 04:05] rageshkrishna commented on #1073
@crania I apologize for the delay. It looks like the problem is that we need python2.7 in the image to run the build, but phusion/baseimage doesn't have this. Please install python in your Dockerfile with `apt-get install -y python2.7`. This should get your builds running to completion.

[2015-03-07 07:20] aproxs opened #1132 "A build is not scheduled after a merge operation on the branch"
Very simple repro:

git repository with 2 branches: dev and master, and dev is ahead of master.

o - abcdef123 <- dev
|
o
|
o - 9876540 <- master --- origin/master --- origin/dev
...

As I expected, a build is scheduled in shippable when I do:
git checkout dev
git push

and then I'm in the following state:
o - abcdef123 <- dev --- origin/dev
|
o
|
o - 9876540 <- master --- origin/master
...

Howev

[2015-03-07 09:49] apeiniger commented on #1099
Ok, thanks. For now we just deleted the old instance and created a new one, but of course thats a bad workaround. Are you also planning on supporting custom docker images without the dedicated hosts?

[2015-03-07 12:04] rageshkrishna commented on #1132
@aproxs I can't seem to find a Shippable account with your Github username, so can you please tell me if you're using BitBucket?

BitBucket has a bug where their webhook payload for fast-forward merges does not include the name of the branch that was updated. We're unable to trigger a build because of this. You can look at https://bitbucket.org/site/master/issue/7775/post-service-does-not-provide-

[2015-03-07 17:05] aproxs commented on #1132
Yes, sorry for not posting the info.

My account is luis@latonaventures.com and yes. I'm using bitbucket.

I'll take a look at the workaround. Thanks!!

Luis

[2015-03-07 18:03] stasyanx commented on #1122
@manishas My build cant start cuz im getting `Error Decrypting Secure Variables`

[2015-03-08 01:48] murtyk opened #1133 "Can not delete a project"
Getting an Internal Server Error when tried to delete (clicking trash can) a project.

[2015-03-08 01:52] avinci commented on #1133
are you the owner of the repo on GH? Can you give me your repoID so that I can check it?

[2015-03-08 09:25] DanielLevin commented on #1119
Yes, all the time.

[2015-03-08 12:26] arunask1992 opened #1134 "Builds timing out"

[2015-03-08 13:44] murtyk commented on #1133
It is wtracker on bitbucket

Sent from my iPhone

On Mar 7, 2015, at 8:52 PM, Avi Cavale <notifications@github.com> wrote:

[2015-03-08 13:45] murtyk commented on #1133
https://bitbucket.org/murtykorada/wtracker.git

Sent from my iPhone

On Mar 7, 2015, at 8:52 PM, Avi Cavale <notifications@github.com> wrote:

[2015-03-08 15:07] kornelc opened #1135 "minion doesn't build archive even though files are in ./shippable"
My goal:
I'm trying to set up CI for a Play Framework app which is to be deployed on AWS. In addition I would like to be able to download my artifacts for this app from shippable.com UI, for manual deploy. I got as far as building the artifacts and copying them into ./shippable, in my project root.

The problem:
The doc says I should do the copy into ./shippable from before_archive. But before_arc

[2015-03-08 16:36] rageshkrishna commented on #1135
@kornelc You'll need to turn on archiving in your `shippable.yml` file by adding the following line:
[code]
This will prevent `before_archive` from being ignored and your artifacts will be uploaded.

[2015-03-09 01:31] mikefeldmangh commented on #1130
I'm new to Shippable but I think I might be having the same problem so I didn't want to create a new issue. When I run my build I just see "Waiting for build information..." for a really long time. If I try to cancel the build or rerun it I get a generic error. One time I got the build to kick off by logging out and back in. That's not working for me now. Is this the same problem? If it is a probl

[2015-03-09 01:32] manishas commented on #1130
@mikefeldmangh are you signing in using github or bitbucket? i can't seem to find your github username in our system.

[2015-03-09 01:33] manishas commented on #1135
@kornelc i am closing this issue. please re-open if the suggestion above doesn't help.

[2015-03-09 01:33] #1135 closed

[2015-03-09 01:36] manishas commented on #1134
@arunask1992 can you please paste your shippable.yml in a comment?

[2015-03-09 01:38] manishas commented on #1132
@aproxs i am closing this issue since there isn't much we can do at our end :(

please open a new issue if you need assistance.

[2015-03-09 01:38] #1132 closed

[2015-03-09 01:39] manishas commented on #1131
@velo was it mergeable automatically? or did you do a manual merge?

[2015-03-09 01:40] manishas commented on #1129
@cep21 I am closing this issue since the blog should help you get started with building a docker image from scratch. Please re-open if you need additional help.

[2015-03-09 01:40] #1129 closed

[2015-03-09 01:41] manishas commented on #1100
@issue-reporter is this still happening?

[2015-03-09 01:45] manishas commented on #1122
@stasyanx can you send us a link to a failed build? Also, your shippable.yml will be super helpful in detecting what's going on..

[2015-03-09 03:34] mikefeldmangh commented on #1130
Sorry. bitbucket. My username there is mikefeldman.

[2015-03-09 04:32] hshira opened #1136 "Build hangs at processing stage"
I have a maven project which I dockerized by following the instructions here --  http://blog.shippable.com/making-deployments-even-easier-with-docker-build

The build hangs at processing stage forever. Not sure what's going on ... the last step it shows is "boot successful"

[2015-03-09 06:02] arunask1992 commented on #1134
language: java

jdk:
  - oraclejdk8
env:
  # - NODE_ENV=production

git:
  submodules: false

branches:
  only:
    - dev
    - master

before_install:
  - npm install yo
  - npm install bower
  - npm install grunt-cli

install:
  - bower install
  - npm install

before_script:
  - mkdir -p shippable/test-results
  - mkdir -p shippable/code-coverage
  - psql -c 'create role billingone with LOGIN P

[2015-03-09 07:16] rageshkrishna commented on #1134
@arunask1992 Thanks for the update. I'm going to try and trigger some builds manually to figure out what's going on. I'll update this issue as soon as I know more.

[2015-03-09 08:50] rageshkrishna commented on #1134
@arunask1992 It looks like we have a bug in our YML parser when you use stylized quotes. Please change the following line:
[code]
Notice the quotes around `password`? That needs to be changed to use regular single-quotes like so:
[code]
Please update your YML and try running a build. It should start running this time.

I have already created an internal issue to fix our handling of this scenario.

[2015-03-09 10:20] ringods opened #1137 "Docker HUB organization account: which credentials?"
Both on Bitbucket and Docker Hub, I have a personal account and an organization account. I login in Shippable with my personal BitBucket account and it detects the BitBucket organization just fine.

On Docker Hub, an organization doesn't have credentials. Which credentials should I enter for Docker Hub support in my organization on BitBucket/Shippable?

[2015-03-09 11:40] j1z0 commented on #1119
We are also hitting it. Seems to have started around Thursday or Friday of last week.

[2015-03-09 14:12] pmoust opened #1138 "New Docker build fails with erroneous --pull param set"
I am testing out your new Docker build support with a vanilla container, the build fails with the following output;

[code]

[2015-03-09 14:12] pmoust commented on #1138
Ref build: 54fdaa3da75bad0b009946d1

[2015-03-09 14:24] ragsden commented on #1138
@pmoust, We have upgraded docker to 1.5 for better stability and new features. Can you please reinitialize and redeploy your host and this issue should go away.
Sorry about the issue.

[2015-03-09 15:32] pmoust commented on #1030
Needs some expanding with the newly released feature.

[2015-03-09 15:35] pmoust commented on #1138
DId so, however another issue comes up
![screenshot 2015-03-09 17 32 16](https://cloud.githubusercontent.com/assets/2493339/6558066/617b2e20-c682-11e4-9e5c-0a0054a9efc7.png)

Will start with fresh nodes to see how it copes. (said image is mentioned in `commit_container:` part of shippable.yaml, *and* declared in the new build settings).

[2015-03-09 18:19] manishas commented on #1137
@ringods you will need to use the docker hub credentials that will let us pull the image from your org account on docker hub.

[2015-03-09 18:20] pcullin-ratio opened #1139 "Blocking Issue: Missing organization(s) for Github user"
One of the users on my team was able to create his Shippable account using Github credentials, but only one of the Github organizations to which he is a member shows up in the Shippable dashboard. I'm a member of the same organization he is that is not showing up in his account, but it does display for me. We are both "owners" of the organization in Github. In his Shippable dashboard, both public

[2015-03-09 18:22] manishas commented on #1136
@hshira can you please try reinitializing and redeploying your dedicated host and try again?

[2015-03-09 18:23] manishas commented on #1139
@pcullin-ratio can you give us the github username for this user and also the org that doesn't show up on his dashboard? Thanks!

[2015-03-09 18:25] pcullin-ratio commented on #1139
His account is github/bbronske and the organization is called LabyrinthLLC.

I just resynched my account, and now the LabyrinthLLC organization is gone for me too. This is our main build target organization, so obviously not a good thing ☺

Paul Cullin //  Lead Software Engineer
RATIO | 71 Columbia St. Suite 200, Seattle WA 98104
WeAreRatio.com<http://weareratio.com/> | o 206.281.8240 | c 425.922.

[2015-03-09 18:26] manishas commented on #1119
@DanielLevin @j1z0 we have a fix for this and we'll push it out soon. I'll update you when it's deployed. Thanks!

[2015-03-09 18:28] manishas commented on #1139
@pcullin-ratio I see you as a collaborator in 2 orgs, but not the one you mention. Are you sure someone didn't remove permissions on GitHub by mistake?

[2015-03-09 18:32] pcullin-ratio commented on #1139
Yes, I’m sure – looking at the organization right now in Github. Both bbronske and pcullin-ratio are in the Owners group, which provides full access to all repositories in the organization, along with administrative access to the organization itself.

Is it possible Shippable is having issues communicating with Github fully?

Thanks for your quick response ☺

From: Manisha [mailto:notifications@gi

[2015-03-09 18:33] manishas commented on #1139
we'll take a look. i don't think we've had issues with github, but will investigate.

[2015-03-09 18:44] pcullin-ratio commented on #1139
Just found the issue, but not sure how this happened. In Github, I went to the Organization Applications settings for the LabyrinthLLC organization, and saw that prod-shippable was indeed there in the list of Authorized Applications. When I clicked on the “View” button for prod-shippable, it showed a list of “Organization access” and somehow LabyrinthLLC was not authorized. So all I had to do was

[2015-03-09 18:55] manishas commented on #1139
Thanks for the update. Let us know if you need help with anything else.

[2015-03-09 18:55] #1139 closed

[2015-03-09 20:28] txchen opened #1140 "Cannot add dedicated host"
Follow the UI and failed to init:
[code]

How should I debug?
BTW, is there another channel for support other than github issues?

[2015-03-09 20:43] manishas commented on #1140
@txchen before you clicked on 'save' while adding the host, did you run the command that starts with sudo useradd -d on your host? The error you're seeing happens when the command isn't run on the host, so we don't have permission to write to it. Let me know if you need more clarification.

[2015-03-09 20:48] manishas commented on #1138
@pmoust can you send us your Dockerfile to manisha@shippable.com? Thanks!

[2015-03-09 21:03] txchen commented on #1140
@manishas yes, of course, I have added shippable user. How do I debug this? As I don't have the private ssh key to test if ssh can actually work.

[2015-03-09 21:06] manishas commented on #1104
@lkiesow Please let me know if the suggestion above helps.

I am closing this issue. Please re-open if it doesn't work for you.

[2015-03-09 21:06] #1104 closed

[2015-03-09 21:08] manishas commented on #1121
@pcullin-ratio are you still running into this? We'll take a look if this is still happening...

[2015-03-09 21:10] manishas commented on #393
I am going to close this issue since this scenario was successful. We will update our docs with instructions on how users can use grails. Thanks for the help!

[2015-03-09 21:10] #393 closed

[2015-03-09 21:15] ragsden commented on #1140
@txchen : I'm getting permission denied error when I'm trying to ssh into your machine. Can you please verify again and let me know? Thanks.

[2015-03-09 21:21] lkiesow commented on #1104
The host is your server so I can't do much about this. I've seen other builds run through since then. I just wanted to let you know.

[2015-03-09 21:32] txchen commented on #1140
@ragsden Actually my question is how should I verify it?
As I said, I don't have the private key so I could not verify the ssh. What should I check?

[code]

[2015-03-09 21:36] pcullin-ratio commented on #1121
Yes, but I don’t think it’s an issue with your service. I can’t get Istanbul to work properly locally, so I’ll work to resolve those issues myself.

However, I could use some more detailed direction on getting both unit test results and code coverage set up properly for a Node.js application using NPM. The only examples I’ve been able to find seem to use Grunt, which I’m not using and have no plan

[2015-03-09 21:55] ragsden commented on #1140
my email is raghu@shippable.com
Please send me your email and I can give you the private key

[2015-03-09 22:02] manishas commented on #1104
sorry, we thought you were using dedicated hosts. please let me know if this happens again..

[2015-03-09 22:05] manishas commented on #1002
Closing this due to lack of response. @GusTrap please re-open if you run into this still.

[2015-03-09 22:05] #1002 closed

[2015-03-09 22:08] manishas commented on #920
this is fixed now. closing this issue... please feel free to re-open if it doesn't work.

[2015-03-09 22:08] #920 closed

[2015-03-09 22:33] manishas commented on #1083
@vincentpaca since you're working with @CADBOT and the parallelization works, so I'm closing this issue.

[2015-03-09 22:33] #1083 closed

[2015-03-09 22:35] manishas commented on #1075
this has been fixed, so closing. please let us know if logs are still filling up your host.

[2015-03-09 22:35] #1075 closed

[2015-03-09 22:40] manishas commented on #1007
Closing this issue since there is no action item on our plate. @godfat please re-open if you want more assistance.

[2015-03-09 22:40] #1007 closed

[2015-03-09 22:47] winglian opened #1141 "`exit 0` should not fail a build"
I simply have `exit 0` in the `script` block, but that seems to trigger a failure, which is incorrect.
![screenshot 2015-03-09 18 31 30](https://cloud.githubusercontent.com/assets/381258/6566137/a7597b2c-c68c-11e4-9478-54580a9b960c.png)

[2015-03-09 22:55] manishas commented on #951
Closing this issue. @moylop260 please re-open if this is still happening for you.

[2015-03-09 22:55] #951 closed

[2015-03-09 23:06] manishas commented on #979
@phagunbaya this should be fixed now. Can you please confirm?

[2015-03-09 23:12] manishas commented on #988
this has been fixed. please re-open this issue if it doesn't work for you.

[2015-03-09 23:12] #988 closed

[2015-03-09 23:13] manishas commented on #1008
@codeviking I am closing this issue for now. If it happens when you re-introduce the code, let us know and we'll take a look. Thanks!

[2015-03-09 23:13] #1008 closed

[2015-03-10 00:53] manishas commented on #985
This has been fixed. Please re-open if it doesn't work for you.

[2015-03-10 00:53] #985 closed

[2015-03-10 04:54] phagunbaya commented on #979
@manishas This seems to be resolved. Thanks !

[2015-03-10 04:54] #979 closed

[2015-03-10 06:11] godfat commented on #1007
I think you can fix your parser... but anyway, not support this might be fine. FYI, Traivs works perfectly fine for this.

[2015-03-10 07:40] ringods commented on #1137
That'll be my personal credentials then. :-/

[2015-03-10 11:20] tstangenberg commented on #237
+1

[2015-03-10 14:00] velo commented on #1131
Initially it was not.

But I did a manual merge to get all mergeable again.

[2015-03-10 14:34] caarlos0 commented on #1131
Just have the same issue.

The PR was automatically mergeable: no conflicts with master

I merged master into it but it did not fix the problem. Had to merge the PR without build...

[2015-03-10 14:43] rageshkrishna commented on #1131
@caarlos0 Was it the same project? If not, can you please give me the project name or id and PR number? Thanks.

[2015-03-10 14:45] caarlos0 commented on #1131
@rageshkrishna nope: https://github.com/ContaAzul/invoice-admin/pull/61

It's a private project, though

[2015-03-10 14:50] velo commented on #1131
FWIW, it is also happening on another project!
https://app.shippable.com/builds/54ff04ed9b4cf40c00002644
https://github.com/ContaAzul/heimdall/pull/4

This one I just forked master and no one touch master since I did that!

[2015-03-10 14:52] rageshkrishna commented on #1131
Thanks! I'm looking in to heimdall right now to see what's going on.

[2015-03-10 15:05] rageshkrishna commented on #1131
@velo This was very helpful. I can see now why it's failing. The YML file in master has no new line at the end of the file, but when you changed it in your PR a new line got introduced. The bug at our end was that we were not telling `patch` to ignore whitespace changes while merging the YML file.

We'll have a fix for this deployed very soon.

[2015-03-10 15:07] velo commented on #1131
thanks!

lemme know when I can retry!

[2015-03-10 17:55] caarlos0 commented on #1131
@rageshkrishna nice! Thank you very much!

[2015-03-10 17:58] ragsden commented on #1140
@txchen Thank your for your patience. The issue is now fixed and I'm closing this issue

[2015-03-10 17:58] #1140 closed

[2015-03-10 20:44] egermano opened #1142 "Grunt + Compass + PNG Error"
I've got some issues with grunt, compass and png (when generate sprites).

This already worked in past, but now, don't.

[That's my build](https://app.shippable.com/builds/54ff539c50bbf40d00dd6822)

That's the error I've got:

    Warning: ChunkyPNG::SignatureMismatch on line 102 of /var/lib/gems/1.8/gems/chunky_png-1.3.4/lib/chunky_png/datastream.rb: PNG signature not found, found "\211PNG\n\032\

[2015-03-11 00:23] rageshkrishna commented on #1131
@velo @caarlos0 We've pushed some fixes to the YML merge that should address this particular error. Please give it a shot and let me know how it goes!

[2015-03-11 02:57] angelathewebdev commented on #1042
+1 for the support, build takes an extremely long time for me as well

[2015-03-11 03:12] angelathewebdev opened #1143 "Not sure if test actually ran"
The build status looks successful, but I couldn't find any test output in the *Test* or *Coverage* tab. But the result is available in the .log file that I can download from the build. How can I make the results visible in the *Test* tab so I don't have to hunt for it in the console

Here is the content of the .log file

http://paste.ubuntu.com/10578053/

[2015-03-11 03:40] manishas commented on #1143
@angelathewebdev did you follow instructions at http://docs.shippable.com/en/latest/config.html#test-and-code-coverage-visualization

[2015-03-11 03:48] velo commented on #1131
Ok, thanks!

[2015-03-11 03:49] velo commented on #1131
worked for me!
https://app.shippable.com/builds/54ffbbc340ac2e0c00333250

Thanks!

[2015-03-11 05:22] manishas commented on #1131
Closing.

[2015-03-11 05:22] #1131 closed

[2015-03-11 07:00] pschrammel commented on #1050
Hi, I still can's see my projects. Did you fix the github syncing issue?

[2015-03-11 07:28] angelathewebdev commented on #366
+1 on the issue, very important for me to have regular build in addition to build on commit

[2015-03-11 07:30] angelathewebdev commented on #582
REST hook would be an interesting alternative

[2015-03-11 08:54] mbrodala opened #1144 "Build fails with "syntax error: unexpected end of file""
Given the following valid `script` in our `shippable.yml`:

[code]

All builds fail with an error like this:

[code]

Not even something like `[[ "$UNIT_TESTS" == "yes" ]] && ./bin/phpunit ...` works since that seems to trigger parsing errors. (*Error parsing shippable.yml in `<project>`*)

Any idea what's wrong? The same setup works fine on Travis.

[2015-03-11 10:44] manishas commented on #582
This is already available and we're working on documenting our newly released APIs :) I'll update this issue as soon as the docs are available.

[2015-03-11 10:49] angelathewebdev commented on #582
@manishas awesome, thanks

[2015-03-11 11:15] velo opened #1145 "Use Dockerfile to build custom build image?"
Is it possible to do that?

I wanna change my shippable.yml from something like:
[code]

To something like:
[code]

I wanna this Dockerfile just to build my application, won't publish this build container anywhere.

[2015-03-11 11:37] manishas commented on #1145
You can build from a dockerfile if you have dedicated hosts - http://blog.shippable.com/making-deployments-even-easier-with-docker-build

[2015-03-11 11:39] velo commented on #1145
even if I don't wanna deploy this container?

[2015-03-11 11:46] manishas commented on #1145
Yes. For security reasons, we do not let custom containers run on our multi-tenant hosts.

[2015-03-11 14:46] pledgemusic commented on #1057
Caching issue seems to have resolved itself.

[2015-03-11 14:47] pledgemusic opened #1146 "How do we give you money?"
Hi Manisha,

For the life of me, I can't find a link to upgrade to parallel builds plan.

('pledgemusic' account)

Thanks,

Zach

[2015-03-11 15:00] velo commented on #1145
nice!

[2015-03-11 20:30] kastork commented on #1146
Or indeed to make changes of any kind to account settings.  There is mention of a need to upgrade the account for various reasons (tokens, dedicated builds, etc), but no way to do it.  If you go out and try to "sign up" from the pricing page, it just logs you back in.

[2015-03-11 20:44] manishas commented on #1146
@pledgemusic @kastork our upgrades are per org and you can do this by clicking on 'Plans and Billing' on org page on Shippable. Let me know if you need help with this.

[2015-03-11 22:21] DanLipsitt opened #1147 "dpd holds onto deleted file inodes, filling disk on dedicated node"
My build fails with a disk-full error:

[code]

SSHing into the dedicated node on AWS confirms that the disk is full:

[code]

However, `du` disagrees, showing only about 5GiB usage on that device:

[code]

I don't use this host for anything else, so it appears to be Shippable that's filling the disk.

This is an Ubuntu 14.04.2 LTS host.

[2015-03-11 22:22] DanLipsitt commented on #1147
Reboot doesn't free any space.

[2015-03-11 22:37] DanLipsitt commented on #1147
I take it back, reboot did free up space (about 10GiB). It looks like the `dpd` process holds onto lots of deleted files:

[code]

[code]

[2015-03-12 05:30] hshira commented on #1136
I did. Didn't work.
 BTW do you have a private channel where I can create a ticket?

[2015-03-12 10:28] angelathewebdev opened #1148 "Test failed on Shippable, but is successful everywhere else"
It's a very strange situation for which I can not fathom.

My tests have passed on both my local machine (node v0.12.0) and on another machine (node v.0.10.33) with flying colours, but when I pushed it to Shippable. It failed. I don't understand why or what could cause such behaviour.

And it's difficult for me to pinpoint the source of the issue as each try requires another code push to the repos

[2015-03-12 10:41] angelathewebdev commented on #1148
I noticed that the test didn't ran its full course. The timeout I've set in the script is 10 minutes. But the execution terminated much earlier than that. The script made quite a few HTTP requests, which can cause it to run quite slowly. Perhaps there is also a limit on how long the script can run?

[2015-03-12 12:10] jtseatwave opened #1149 "Test environment using multiple docker containers"
I have a go app that connects to a database running on couchbase server.

I want to run tests in a similar environment to production and I do this by running two containers.  One holds the couchbase server, the other holds the go app built from a git repository and the test files.  I currently do this in jenkins by running a script that starts the couchbase server, gets the IP address of that cont

[2015-03-12 14:18] rvrignaud opened #1150 "Test and build docker image workflow"
Hello,

I was trying to use the new Docker build feature. What I need to achieve is :
* run tests in a generic image like shippable/minv2
* if tests succeed build the docker image of the project
* push the image to docker hub

If I understand correctly the actual workflow,  right now
* you first build the docker image of the application
* then use that image to run tests

This workflow doesn't wor

[2015-03-12 15:45] kastork opened #1151 "Configure EC2 Instance as Minion"
Hi,

I'm having trouble getting an Ubuntu 14.04LTS instance in AWS initialized.

Here's what I've done:

- Built the box up, installing ansible dependencies and docker.io
- Provided the instance with a fixed public IP address
- Configured the security group to allow port 22 access from anywhere
- Ran the command you provide in the minion setup.
- Verified the shippable user was created and that th

[2015-03-12 17:45] kastork commented on #1151
Follow up

To test the user, I added a new keypair.  I can ssh in to the box as the shippable user with this key pair.

I kicked off another shippable minion initialization in the shippable ui, and watched the logs at `/var/log/auth.log`  That log shows no sign that the shippable service is even attempting to connect.

[2015-03-12 18:09] pledgemusic commented on #1146
@manishas that's giving me an "Internal Server Error" for AMEX. Thanks.

[2015-03-12 19:08] lekhab commented on #1074
![screen shot 2015-03-12 at 12 07 32 pm](https://cloud.githubusercontent.com/assets/9526532/6625916/6ab7dbfc-c8b0-11e4-8f0e-15bbbdc5cc04.png)

[2015-03-12 19:09] resurge commented on #1095
If everything runs fine no prompt should be shown.
So the reason I would need to know what the prompt is showing is for debugging purposes.

I suspect I'm being asked to enter my password, which shouldn't happen since authentication should work by using my shippable deploy key. (is this only sent when doing git push maybe?)

[2015-03-12 19:34] Manc commented on #1106
I'm getting the same error message. First I connected with Bitbucket, then added GitHub. The GitHub repositories are listed, but when I try to enable one of them, I get "An owner must login before you can enable this repo".

[2015-03-12 22:11] akribopo opened #1152 "Shared local maven repository between projects"
Hi,

I have 5 different java projects. During the build of No.1 project, mvn install is executed in order to install the artifacts of the build to the local maven repository. Cache is also enabled.

However, when the build for project No.2 (which has a dependency in project No.1)  is executed, it fails because there aren't any artifacts of No.1 project in the local repository.

Is there any soluti

[2015-03-12 22:37] vkuusk commented on #1109
Sorry for the delay with testing on my side. I was out of town.

Today I added a new dedicated host today. It initialized OK, then it asked "Deploy Builder" this operation was stuck. and I used "Reset" option.

"Reset" completed and host went into state "Ready" "node is ready for builds"

But when I triggered the new build it hanged in "processing" state without producing anything else.

I left th

[2015-03-12 22:48] vkuusk opened #1153 "Build is stuck in "processing" phase without starting testing on Dedicated Host"
Hello, @manishas  and @avinci

this is related to ticket #1109 ( I added comment there today too)
I replaced the dedicated host and now can not run any tests.

I just left the dedicated host in this broken state for you to take a look on your side.

Let me know if I need to delete the host and recreate the instance (currently it's Ubuntu 14.04 m3.large instance in AWS)

Thanks.

[2015-03-12 22:58] vkuusk commented on #1153
Actually it took a very long time and then failed with the following message:

Downloading, [===============================>                   ] 448.3 MB/710.8 MB 47s
Downloading, [===============================>                   ] 448.9 MB/710.8 MB 47s
Downloading, [===============================>                   ] 449.4 MB/710.8 MB 47s
Downloading, [===============================>

[2015-03-13 06:41] manishas commented on #1149
We cannot comment on details, but your scenario will be addressed very soon. Look for an announcement in a few days.

[2015-03-13 06:41] manishas commented on #1151
We'll take a look at this and get back to you.

[2015-03-13 06:42] manishas commented on #1141
This will be fixed soon. I'll let you know when its deployed.

[2015-03-13 06:46] manishas commented on #1150
Your understanding of our current feature is correct. But we've heard feedback from multiple users who want to achieve your exact workflow and we're working on adding it soon. Watch for an announcement in the next few days and I'll update this issue when it's available.

[2015-03-13 06:47] manishas commented on #1153
@vkuusk we'll take a look asap

[2015-03-13 14:40] sguimont commented on #1042
+1, got the same issue. The build takes too long.  Please fix the issue.
I use the cache option without any effect.

[2015-03-13 16:02] manishas commented on #1153
@vkuusk we took a look at this. Your dedicated host is running out of space because you are using our default image minv2. minv2 is a very large image (~15GB) since it contains all languages, tools, services and was designed for Travis compatibility. You should use your own custom image that is built to address your scenario.

We can help build your custom image, so please let me know if you need

[2015-03-13 16:11] manishas commented on #932
@aug70 we looked at this and found an error in the logs that also showed up on stack overflow here:

http://stackoverflow.com/questions/26348877/can-not-apply-daoauthenticationconfigurer-to-already-built-object

Does this help solve their issue?

[2015-03-13 16:15] manishas commented on #1115
@pelegb are you still running into this? If yes, can you paste a link to a build which failed with the issue above?

[2015-03-13 16:48] manishas commented on #1118
@geshan  here is our response from engineering. Can you try the suggestion below and let us know if it works for you? -

I think this is because of the test directory not being mentioned in the command. Customer has just given phpunit --log-junit shippable/testresults/junit.xml --coverage-xml shippable/codecoverage

The format of phpUnit is phpunit --log-junit <file> --coverage-xml <dir> <director

[2015-03-13 19:09] vkuusk commented on #1153
@manishas Thanks!
I'll try a different image.

[2015-03-13 19:31] thephred opened #1154 "Docker build workflow"
I looked at the current docker build workflow and there is a scenario I can't accomplish with it currently.

I have another repo that is built and tested by shippable and when a build succeeds I want to trigger a build of a separate docker image repo that needs to pull in the build artifacts/binaries from the first build.
Up until the recent release of the api and docker build functionality this w

[2015-03-13 19:58] bassamtabbara commented on #1087
hi was volume support added in the release you just shipped? If not when do you anticipate this support being added?

[2015-03-13 20:40] manishas commented on #1154
@thephred thanks for the suggestion. We're working on some improvements to the workflow since we have similar feedback from other customers. I will let you know when it's available.

[2015-03-13 21:02] nbucic opened #1155 "save_reports fails when no code for coverage analysis"
Right now our code is not well tested but we want to implement code coverage analysis for further bundles that we will create. When I put current Symfony bundles in phpunit.xml <whitelist><exclude> and make phpunit test localy, empty code coverage analysis is generated.
However, when I deploy to github and Shippable automatically runs build, script finally fails with error:

[code]

This is what I

[2015-03-13 22:10] jiasilu opened #1156 "File name too long"
I got the "File name too long" error when running some of the tests. Those tests are calling geocoder for IP address and I'm using VCR for those rspec tests.
![screen shot 2015-03-12 at 2 18 12 pm](https://cloud.githubusercontent.com/assets/1372178/6648102/0257aca2-c993-11e4-8139-59cf03b460f8.png)

[2015-03-14 08:17] topikachu opened #1157 "Can't merge client+server coverage report together"
I have a node project which uses mocha for server tests and karma+jasmine for client tests. Both create coverage report, with different file name, under shippable\codecoverage. It's OK if there's only a single coverage report. But if I create two reports together, shippable only displays the server one.

[2015-03-14 08:33] geshan commented on #1118
thanks for the reply @manishas and the references, I tried running

[code]

Still it times out though the tests ran in 1.8 minutes which without coverage takes 4.64 seconds on shippable itself. I am quite confused on this issue. For now I am doing the tests without code coverage.  There should be an easier way to do this as locally it has no problems at all.

[2015-03-14 14:03] naveensky opened #1158 "Facing issue installing saas via gems"
Hi,

for the last few days, I am getting random errors when trying to install sass via gems. My command is

sudo su -c "gem install sass"

and I get following error

bash: gem: command not found
Build completed
Uploading artifacts
Archiving build outputs
Archive created
Uploading artifacts
Artifacts uploaded
Artifacts upload succeeded

[2015-03-14 15:57] fommil opened #1159 "ignoring travis apt_packages"
With your docker support, I'm certain you have a much better way of doing this, but for the awesome "10 seconds to migrate from travis" claim, you might want to fix this.

My project uses the Travis-CI `sudo: false` with the `apt_packages` addon.

https://github.com/ensime/ensime-server/blob/master/.travis.yml

it would appear that you do not support this, otherwise this would have worked

https:/

[2015-03-14 16:31] fommil commented on #1146
:+1: I was interested in getting custom docker images to my account (for FOSS projects, actually... it's not always about being gratis) but couldn't find the link. Had to come here to find out how.

[2015-03-14 16:33] fommil commented on #1146
OMG OMG OMG, $12/year.... ![shut up and take my money](http://i3.kym-cdn.com/photos/images/newsfeed/000/264/241/9e9.gif)

[2015-03-14 16:37] fommil commented on #1146
seriously though, I really can't find how to sign up. The www host makes me go to the app host, and there is no link there to sign up.

[2015-03-14 16:41] manishas commented on #1146
@fommil from the dashboard, you can click on the org you want to upgrade. Click on 'plans and billing' on the top right of the org page. Add your card and then choose Startup plan to upgrade.

[2015-03-14 16:43] fommil commented on #1146
@manishas you got here before I deleted my comment after finding it :smile: Awesome strategy! Myself and several others have been trying to get Travis to do this for about a year and they are total oil tankers on pricing. Also, custom docker images, wow. I'm telling everybody about this, it is a game changer.

[2015-03-14 17:23] fommil opened #1160 "RFE: travis-style tail log"
Can you please implement the ability to follow the tail of the log, the way travis does?

[2015-03-14 17:51] pelegb commented on #1115
I made a work-around so I don't know if this still occurs.

[2015-03-14 17:51] #1115 closed

[2015-03-14 20:39] djindjic opened #1161 "An owner must login before you can enable this repo"
I have tried to add an private github repo into my shippable projects and get this error.

I have also tried it with owner's github account of this private repo by singing up as new shippable user and have same issue.
This is same project migrated from bitbucket with same conditions (private not mine repo) and all was fine before it.

Thanks

[2015-03-14 20:43] djindjic commented on #1106
Sorry for posting new issue for this theme, but I also still have same error reported here: https://github.com/Shippable/support/issues/1161

[2015-03-14 20:56] ttrahan opened #1162 "connection error"
Error described by @fommill at https://github.com/ensime/ensime-server/issues/889

I'm trying to use  debian:jessie  but seeing this:

HTTPConnectionPool(host='127.0.0.1', port=4243): Max retries exceeded with url: /v1.15/images/create?tag=jessie&fromImage=debian (Caused by <class 'socket.error'>: [Errno 111] Connection refused): Traceback (most recent call last):
  File "/home/shippable/dpd/step_

[2015-03-14 21:17] fommil commented on #1162
btw, my dedicated nodes seem to be working if I use the default docker image (although it is rather large and took a long time to download).

[2015-03-14 21:25] fommil commented on #1162
ok, I figured it out! To download **anything** from docker.io you are requiring the credentials to be entered. Is that really necessary? I thought it was only needed for private docker images.

[2015-03-14 21:27] fommil commented on #1162
is there any way to see **which** node a job is running on?

[2015-03-14 21:29] fommil commented on #1162
hmm, it seemed to get only so far and then

[code]

and it looks like you killed it... given how many packages were being installed I'm not surprised it was taking a while.

[2015-03-14 21:39] #1145 closed

[2015-03-14 21:40] manishas commented on #1144
@mbrodala we'll take a look at this. thanks!

[2015-03-14 21:47] manishas commented on #1162
@fommil i'm asking someone to take a look at this.

In the meantime, I see a notification for your project -
![screen shot 2015-03-14 at 2 46 01 pm](https://cloud.githubusercontent.com/assets/2983749/6653689/e85c046c-ca58-11e4-901f-1425aceb8753.png)

Can you send me your shippable.yml? You can email it to me at manisha@shippable.com if you're not comfortable pasting it in a comment.

[2015-03-14 21:50] manishas commented on #1162
also, i see you're having different issues with the builds... probably depending on which host the build ran on.

[2015-03-14 21:50] fommil commented on #1162
@manishas thanks. Ignore the encrypted variables bit... that's the sonatype key/password. That's expected. Although, being able to mark all as read would be nice :wink:

I think there are two issues here:

1. transient network problem (original report)
2. killing the start too soon. For a stock Debian Jessie image, you seem to have a lot to install.

I'm fine building on top of your stock image fo

[2015-03-14 22:18] fommil opened #1163 "Commit Message incorrect when Pull Requests updated"
if additional commits are added to a pull request, the `Commit Message` of subsequent builds is not updated to reflect the latest commit comment.

[2015-03-14 22:31] fommil opened #1164 "Build navigation is clunky and difficult"
Having moved over from Travis, I think you have the advantage because of the ability to run custom images and make use of dedicated machines.

However, the navigation/UI is behind Travis. When I am trying to find a rerun of a build, or to jump between branch/PR builds, I get horribly lost. Some thoughts in the hope that you can make it even better:

* I'm never sure when a link is going to take me

[2015-03-14 22:40] manishas commented on #1162
@fommil minv2 is a big image and can cause out of space issues if the build hosts you added aren't big enough. You can also try starting with our language specific images - http://docs.shippable.com/en/latest/custom_images.html but these are barebones with just the OS and language versions and you'll need to install everything else through the yml. Dockerfiles for the language specific images are

[2015-03-14 22:43] manishas commented on #1162
I noticed you're in London. Can you do 5pm on Monday or 4pm on Tuesday London time?

[2015-03-14 22:46] fommil commented on #1162
@manishas I've not built a custom image yet, it's just the stock Debian Jessie one. I need to build a custom one locally before I can progress that. The only problem I can see here is that your timeout is kicking in and killing the job. I think I can probably work around that by creating a custom image with everything you expect to see on it.

Even the `minv2` image is failing on occasion on my de

[2015-03-14 23:02] fommil opened #1165 "result is not published to github when `script` stage finishes"
I have some big `after_success` jobs that are slow and trigger downstream behaviours (e.g. coverage reports from coveralls.io) but Shippable seems to be waiting for **everything** to finish before reporting success, especially back to github (e.g. updating a PR status or badge).

The correct behaviour should be that when the `script` stage finishes, the triggers to update github and badges should

[2015-03-14 23:04] fommil opened #1166 "`cache` not supported"
In Travis, I am able to have this section in my YML:

[code]

but it is ignored by Shippable.

Having the ability to cache dependencies is absolutely essential for the stability of Java and Scala projects, because the time to populate these directories from Maven central is quite high and it is prone to errors.

Travis waits until the entire build has finished before checking if the cache needs to

[2015-03-14 23:12] fommil opened #1167 "Scala docker images using bad version of sbt"
The sbt `.deb` files on bintray are absolute rubbish and no Scala devs actually use them, unfortunately they are what you're using in your scala images: http://docs.shippable.com/en/latest/custom_images.html#scala

All Scala developers that I know use this script instead of a `.deb` https://github.com/paulp/sbt-extras/blob/master/sbt You'll have a whole world of pain if you don't use this script.

[2015-03-14 23:21] fommil opened #1168 "deactivate dedicated node"
I have a node that is not working out, and I'd like to disable it until we can fix the problem. However, there is no option to do this... so I've had to delete it and when I want to try and get it working again I'll have to add all the details, delete the other nodes (because I'd like to isolate this node) and then add everything again.

[2015-03-14 23:44] fommil commented on #1166
btw, this is a different cache than the container cache http://blog.shippable.com/faster-builds-with-cached-containers

However, if I can get custom docker images working I should be able to create an image that captures everything of relevance for the cache.

[2015-03-14 23:55] fommil opened #1169 "jdk flag is ignored"
I changed our builds to use the Ubuntu 14.04 (instead of 12.02) docker images, but now it's clear that the config entry

[code]

is being ignored because our tests always fail on these two unit tests if the java sources are not installed, and I only installed `openjdk-6-source` https://app.shippable.com/builds/5504c2e29b228b0d005bde28

I can only presume that `JAVA_HOME`, `JDK_HOME` and all the va

[2015-03-14 23:57] fommil commented on #1169
Note the documentation here http://docs.shippable.com/en/latest/custom_images.html#java is wrong wrong wrong! This only updates the `java` binary, not the tooling (including the java compiler!) that is part of the specified JDK. (It's also not compatible with how Travis Java projects work)

[2015-03-15 00:00] fommil opened #1170 "build_image ignored"
I added

[code]

to our `shippable.yml`, but it was ignored.

I managed to get it working, but only by changing the docker image in the project's "Settings" page.

I suspect the same is also true for the other settings in here.

[2015-03-15 00:19] fommil commented on #1167
Indeed, my tests fail because this version of `sbt` is so non-standard https://app.shippable.com/builds/5504cdac9b228b0d005bdeb5

Workaround is to bundle my own version of `sbt` with the repo until I can build a custom docker image.

[2015-03-15 02:54] fommil opened #1171 "after_script is out of order"
The travis ordering is

[code]

but I'm seeing `after_script` being run immediately after the `script` phase and before the `after_success`, `after_failure` phases.

[2015-03-15 03:00] fommil opened #1172 "failure in after_success should not influence the results"
related somewhat to #1165 I just had a build fail because of a failure in `after_success` https://app.shippable.com/builds/5504edc19b228b0d005bdfbe

This shouldn't happen: the build has succeeded at this point and failures in `after_success` should be ignored (perhaps a notification?)

[2015-03-15 03:02] fommil commented on #1172
FYI http://docs.travis-ci.com/user/build-lifecycle/#Breaking-the-Build

[code]

[2015-03-15 03:03] manishas commented on #1172
@fommil thanks for all the issues you opened today! I'm going to take them all to the team and we'll fix them one by one. I'll keep you updated on where we are as we go through them.

[2015-03-15 03:04] fommil commented on #1172
@manishas thanks! I still prefer it to Travis :smile: at least all these problems have workarounds, and most of these niggles will have easy fixes.

[2015-03-15 03:30] fommil opened #1173 "RFE: exit build with message to appear on github, etc"
It would be really great if scripts could be written with some extra information that would appear in PRs if they fail, e.g. instead of the current

[code]

imagine if we could write

[code]

it would be even better if the PR comment included a link to the relevant part of the log.

Under Travis rules, if a line fails the others will still be evaluated. I'd like a way of just exiting immediately w

[2015-03-15 06:00] naveensky commented on #1158
Hi,

I resolved the following by installing ruby explicitly on the machine. Not sure why was this working earlier.

Closing this issue.

Naveen

[2015-03-15 06:00] #1158 closed

[2015-03-15 06:01] naveensky opened #1174 "Shippable Image for Typesafe Activator pre-insatalled"
Hi,

Do we have any shippable image which has scala + typesafe activator pre-installed? I currently have a build that uses it and build spends about 8 mins just to get required dependencies.

This is not a road blocker, but if we have an image handy, I would like to reduce my build time.

Thanks,
Naveen

[2015-03-15 14:41] fommil opened #1175 "YML parser error"
Your YML parser doesn't like comments very much.

e.g. this file is considered invalid https://github.com/ensime/ensime-emacs/blob/4612c7fc228a318a71f7ba42d2097c03041a8f4f/.travis.yml

[2015-03-15 18:09] kastork commented on #1151
This was due to a ACL configuration error on my EC2 VPC.  Sorry for the false report.

[2015-03-15 18:09] #1151 closed

[2015-03-15 19:00] manishas commented on #1172
From travis docs -
Currently, neither the after_success nor after_failure have any influence on the build result. We have plans to change this behaviour.

We will revisit our design, but don't want to introduce too many 'statuses' but I do see that differentiating between build failure and failure in after_success is great to have.

Will keep you posted.

[2015-03-15 23:23] kastork opened #1176 "Create two tags for each build"
There doesn't seem to be an option to specify your own tag for a docker container that is going to get pushed to docker hub.  The system always adds the tag with git_branch.build_number

Like this

[code]

But what if I want it to be something like

[code]
 or something?

I can't find any  documentation for the `build_image` yml label that would clear this up.  Am I missing something obvious, or i

[2015-03-15 23:41] aug70 commented on #932
Thanks for bringing it to my attention, honestly security config was always difficult and posed a problem from day one. I'm not 100% sure that *it's the culprit* but I will test and let you know. I'm building this project on machos, linux and windows without any problems.

[2015-03-16 03:09] angelathewebdev commented on #1148
Hi, I'm wondering if there's any update on this issue?

[2015-03-16 04:34] manishas commented on #1176
Thanks for the suggestion. You are correct, we currently add a standard tag to the container. I will add this to our list as a feature request.

[2015-03-16 04:39] manishas commented on #1174
@naveensky not at the moment. However, we're going to refresh all our language specific images in the next couple of weeks and I'll make sure this gets in if it's a popular platform.

[2015-03-16 04:42] manishas commented on #1161
@djindjic which repo did you try to enable? We only allow owners to enable projects, this change was made to the permissions model to align it more closely to GitHub's permissions.

[2015-03-16 04:44] manishas commented on #1155
We parse test results if they're in junit format and code coverage if it's in cobertura format. More here -http://docs.shippable.com/en/latest/config.html#test-and-code-coverage-visualization
Did you follow all instructions there?

[2015-03-16 04:47] manishas commented on #1137
yes. please re-open this issue if it doesn't work for you.

[2015-03-16 04:47] #1137 closed

[2015-03-16 04:48] manishas commented on #1138
I am assuming this is fixed. Please re-open if this issue is still happening.

[2015-03-16 04:48] #1138 closed

[2015-03-16 04:51] manishas commented on #1146
@pledgemusic can you please try another card? We use a third party payment processing gateway and hence we do not control this. I am closing this issue, but if you run into further problems upgrading, please send me an email at manisha@shippable.com

[2015-03-16 04:51] #1146 closed

[2015-03-16 04:52] manishas commented on #925
@phagunbaya we have revamped our permissions and this should not be happening any more. please re-open if you are still running into this.

[2015-03-16 04:52] #925 closed

[2015-03-16 04:57] #1088 closed

[2015-03-16 05:01] manishas commented on #1136
@hshira this is our main support site. If you want to send some information that you don't want to include here, feel free to send an email to manisha@shippable.com

Are you still running into this? If yes, can you include a link to a hanging build?

[2015-03-16 05:02] manishas commented on #963
@kimpellikaan we recently introduced Docker build support and have documented how to use this feature - http://blog.shippable.com/making-deployments-even-easier-with-docker-build

Please re-open this issue if it doesn't address your scenario.

[2015-03-16 05:02] #963 closed

[2015-03-16 06:38] rageshkrishna commented on #1148
Hi @angelathewebdev. It looks like your unit tests are indeed failing, but it's impossible for me to say exactly why as your project is private and I can't see the code. You'll need to give me access if you'd like me to debug this further. My bitbucket id is `ragesh`. Thanks!

[2015-03-16 07:10] angelathewebdev commented on #1148
I've added you to the repo

On Mon, Mar 16, 2015 at 2:38 PM, Ragesh Krishna <notifications@github.com>
wrote:

[2015-03-16 07:45] nbucic commented on #1155
@manishas thanks for reply.

I'm using code sample just like it's written here - http://docs.shippable.com/en/latest/samples/php.html.
Here is the exact line from shippable.yml file: phpunit -c app/ --log-junit shippable/testresults/junit.xml --coverage-xml shippable/codecoverage

As I already mentioned, currently all code is excluded from code coverage analysis and I suppose that your parser look

[2015-03-16 08:25] kimpellikaan commented on #963
@manishas anishas, my issue is about beanstalk docker builds. That is something completely different then what your feature is about.

Kim

[2015-03-16 12:18] djindjic commented on #1161
It's not my repo, I just have contributor privileges on this private repository of other github user. This was possible with bitbucket projects few days before we migrate to github.  btw, I have tried to enable it as owner's github authenticated user on shippable, and have same error shown.

[2015-03-16 12:36] djindjic commented on #1161
if it could help, I'm getting this errors logged in my console:

bad request error 400

and internal server error 500

there is same issues no matter am I authenticate as me or repo owners's credentials.

[2015-03-16 17:59] velo opened #1177 "PUBLIC API's"
Hi,

I wanna use public api to connect/disconnect.

I can create nodes just fine, but seems the initialize api is changing from time to time.
It was
POST https://api.shippable.com/nodes/$NODE_ID/initialize
Now it is
POST https://api.shippable.com/workflow/initializeNode

Is there any documentation on public api?

[2015-03-16 17:59] velo commented on #1177
@luizm

[2015-03-16 18:05] manishas commented on #1177
we're building the docs as we speak. goal is to get everything done by EOW.

[2015-03-17 02:36] aug70 commented on #932
@manishas thank you!!! Spring Security OAuth2 config was breaking the build, although I couldn't fix that config yet, I know for fact shippable works fine. Closing ticket.

[2015-03-17 02:36] #932 closed

[2015-03-17 03:29] rageshkrishna commented on #1148
I'm unable to get the tests to pass locally because the ` 虾米 bot for user home page` test is returning an empty array for data. Here's the output when I try to run your crawler from the command line:
[code]
Unfortunately, I cannot guess why this is happening. Perhaps the API you're hitting is filtering by IP or geographic location.

[2015-03-17 03:36] angelathewebdev commented on #1148
I see, that makes total sense to me now :)

On Tue, Mar 17, 2015 at 11:29 AM, Ragesh Krishna <notifications@github.com>
wrote:

[2015-03-17 03:38] angelathewebdev commented on #1148
Is it possible to have Shipping configure a local environment variable so I
can run tests differently on Shippable vs. locally?

On Tue, Mar 17, 2015 at 11:35 AM, Angela Wang <idu.angela@gmail.com> wrote:

[2015-03-17 03:59] rageshkrishna commented on #1148
Absolutely. We `export SHIPPABLE=true;` on every build. A full list of the environment variables we set is available at http://docs.shippable.com/en/latest/config.html#common-environment-variables

[2015-03-17 17:16] adamyao opened #1178 ""The requested resource was not found" message in Cascading building"
Hi Charlie,
  I was following your post <<Cascading Builds with our New Public API>> to enable my project trigger-able. I used your command line in the example (replacing with my own apiToken and project name, of course). The first step, I got the projectID (which means my apiToken and project name are all ok).  But the second step to enable, I got the message: "The requested resource was not foun

[2015-03-17 17:24] thephred opened #1179 "Setting user for custom image"
I am trying to run a custom docker build image via a dedicated host.  It has a user setup in it for the build and I would like shippable to launch the build with that user similar to how minv2 runs as shippable.  However, it only runs as root.  There was a reference in another ticker to the fact that you could set the user in the shippable.yml but I couldn't find how to do this in the docs and gue

[2015-03-17 19:29] affmobapp opened #1180 "Not able to update Bitbucket commit with tag"
After successful build not able to update Bitbucket commit with tag.
Not able to use git push. Not able to add SSH.

[2015-03-17 19:31] affmobapp opened #1181 "How to copy build output to cloud storage"
How to copy build output to cloud storage like DropBox or google drive

[2015-03-17 19:52] vkuusk opened #1182 "Builds hang at "Waiting for build information..." for one branch in a github repo while working for other branches"
we have a project for a repo in github and shippable was triggered by commits to any branch.
Starting today commits to one particular branch stopped triggering test runs.
(Let me know if you need the names of project and branch in it.)

I can rerun previous builds for this branch many times,
but manual scheduling of a new build (sync project then build) hangs in "Waiting for build information..."

[2015-03-17 19:52] adamyao commented on #1178
Here is my exact command (my apiTiken is not shown):

54cbd21e5ab6cc13528a56e6

The requested resource was not found

Then I try to put the project id string into it:

The requested resource was not found

[2015-03-17 19:59] adamyao commented on #1178
OK, I used apibeta.shippable.com (as in the blog) and it failed, but your string uses api.shippable.com, and I tried, the curl went through. Thank and please update your blog.

[2015-03-17 20:10] henrjk opened #1183 "internal server error when attempting to enable project"
I am on page [https://app.shippable.com/projects/5508860d5ab6cc1352a33dde](https://app.shippable.com/projects/5508860d5ab6cc1352a33dde) and tried to enable the project for shippable. The related github project is https://github.com/henrjk/sample_ubuntu1204_python.

The reason I am doing this is that in my main project there is now a python part and I am trying to see in a python build logs what is

[2015-03-17 20:14] henrjk commented on #1183
Just for the fun of it I tried logging in with my bitbucket credentials and with that I can enable the github repo.  So I don't need a fix for now, but I am happy to try out stuff or provide more data if that helps.

[2015-03-17 21:54] codeviking opened #1184 "Occasional Error"
Our build fails frequently with the following error:

[code]

Re-running the build usually resolves the issue.

[2015-03-17 22:24] vkuusk commented on #1182
Resolved: based on #1110
---- It was a syntax error in  shippable.yml file

And I agree that it would be nice to have (an error message) or (just fail the build) or (redirecting from the page with "waiting for the build information"). otherwise it's somewhat confusing.

Thanks

[2015-03-18 01:55] moylop260 commented on #856
:+1:

[2015-03-18 01:55] #856 closed

[2015-03-18 08:04] manishas commented on #1184
We'll take a look at what's going on. I'll update the issue when I have more information.

[2015-03-18 08:06] manishas commented on #1178
Thanks! Closing this issue.

[2015-03-18 08:06] #1178 closed

[2015-03-18 08:08] manishas commented on #1182
We're improving UX for this scenario.

Closing this issue since this isn't a bug.

[2015-03-18 08:08] #1182 closed

[2015-03-18 09:21] HenrikOssipoff opened #1185 "Installing from pip is seemingly broken"
Hi,

Our builds have started to fail on our install step which is essentially:

[code]

We haven't changed anything, it's always been like this. Now we're getting "You must give at least one requirement to install (see "pip help install")" as the output from pip, and our next steps are (obviously) failing due to our libraries not having been installed.

Has anything been changed on the default bui

[2015-03-18 09:22] HenrikOssipoff commented on #1185
Nevermind, this was a mistake on our end -- sorry for the inconvenience.

[2015-03-18 09:22] #1185 closed

[2015-03-18 10:39] philp opened #1186 "Ability to deploy after a push to Docker Hub"
We've been trying out Shippable as the main component in a continuous delivery workflow, but have run into a little bit of an issue when it comes to deploying Docker images to AWS.

What we'd like to be able to do is this:

1. Commit code to Gt.
2. Have Shippable build and test the Docker container.
3. If successful, push the Docker container to Docker Hub, THEN:
4. Call `eb deploy` to trigger a d

[2015-03-18 17:04] manishas commented on #1074
@pastawoua can we do a hangout? We cannot reproduce this at our end.

[2015-03-19 08:13] Repox opened #1187 "Cannot start Elasticsearch?"
I'm trying to add some mappings and Groovy scripts to Elasticsearch. When this is done, trying to start Elasticssearch results in the following:

    sudo mkdir /etc/elasticsearch/scripts
    sudo mkdir /etc/elasticsearch/templates
    sudo cp ansible/elasticsearch/files/*.groovy /etc/elasticsearch/scripts/
    sudo cp ansible/elasticsearch/files/mappings.json /etc/elasticsearch/templates/mappings

[2015-03-19 17:44] stekycz opened #1188 "Problem with installation of Percona Server"
Hi,

I uses my GitHub username stekycz on Shippable. I have tried to run tests for my project using Percona Server database. However the build freezed on purging mysql configuration.

**Script:**
[code]

**Output:**
[code]

Thank you for some advise

[2015-03-19 19:05] bbrala opened #1189 "Builds not starting"
Builds have stopped starting, they stay at waiting even though there is nothing running.

Account swisnl

[2015-03-19 20:59] #1189 closed

[2015-03-19 22:31] voanhduy1512 commented on #1170
I have the same issue too. `build_image: shippableimages/ubuntu1404_base` and it still use `minv2`

[2015-03-19 22:36] manishas commented on #1187
@Repox I looked up this error and it seems to me that to start elasticsearch the way you want to, you'll need to have a docker container running in privileged mode.

http://stackoverflow.com/questions/28936090/in-docker-container-im-seeing-read-only-filesystem-error
https://github.com/docker/docker/issues/5703

Our multi-tenant build containers do not run in privileged mode. However, you can use d

[2015-03-19 22:44] manishas commented on #1186
@philp i believe you are correct... we deploy the container to AWS and we also push to DockerHub.

I'm following up to see if anyone has figured out a way to achieve your scenario...

[2015-03-19 22:50] fommil commented on #1165
I'm not so sure this is a feature request, it's definitely a regression against Travis CI.

BTW, out of all the tickets I have raised, this is the highest priority for me, as it results in CI times jumping from 20 minutes to 1 hour.

[2015-03-19 22:57] manishas commented on #1165
@fommil understood. it is tagged as a FR since we intentionally designed the platform to work this way. We had the previous design earlier, but customers complained that they got a build success notification but some steps still failed.

I'll follow up on this and escalate as a higher priority item.

[2015-03-19 23:03] fommil commented on #1165
ok thanks. There needs to be a way of successing/failing early. The complainers may actually have been incorrect, and should simply have added additional lines to their `script` stage.

[2015-03-20 03:00] diegotdai opened #1190 "cannot get xdebug to work"
![image](https://cloud.githubusercontent.com/assets/1164234/6739541/143bfe50-cede-11e4-83d9-318a8f679b7b.png)

[2015-03-20 05:38] manishas commented on #1188
@stekycz can you send me a link to the frozen build? I cannot seem to find it in our system.

[2015-03-20 05:44] manishas commented on #1181
@affmobapp sorry for the delay... we recently announced a public API and we're in the middle of documenting it. Once the relevant portions are documented, I'll update you on how to do this.

[2015-03-20 05:48] manishas commented on #1184
@codeviking can you point me to a build that has failed with this error? Thanks!

[2015-03-20 06:39] Repox commented on #1187
Well, I tried running it as priviliged on a dedicated host, but no luck. I scripted my way out of it instead.

[2015-03-20 06:39] #1187 closed

[2015-03-20 07:49] diegotdai commented on #1190
shippable.yml
[code]

[2015-03-20 08:47] philp commented on #1186
Thanks for getting back to me. And thanks for the references. The method you describe (doing a build from Dockerfile on EB) is the one we're currently using to work around this. But we'd love to be able to close the loop on our continuous delivery pipeline, so that the deployment uses the ready-built container form Docker Hub. There are all sorts of reasons for that, the main one being that we hav

[2015-03-20 12:24] pilec commented on #1188
@manishas  Here it is: https://app.shippable.com/builds/550b051eb28fe00d0038fccc

[2015-03-20 12:51] diegotdai commented on #1190
Ignore it, the documentation says to echo zend_extension = xdebug.so to php.ini, but after debugging it I found out that xdebug is already loaded via xdebug.ini... UPDATE THE DOCUMENTATION please...

[2015-03-20 12:51] #1190 closed

[2015-03-20 13:55] velo commented on #1177
Nice, any news for me?

[2015-03-20 15:38] codeviking commented on #1184
Here's an example:

https://app.shippable.com/builds/5508a25fe1d1e30d000b3504

Isn't this something you guys could query so that the customer doesn't have to dig it up?

[2015-03-20 16:25] manishas commented on #1184
Thanks! I could just find one example of this error in the last few days and was wondering if we were missing something since the issue said frequent failures. Other builds seem to fail with other errors.

We're taking a look into this... will update you as soon as we figure it out.

[2015-03-20 20:53] velo opened #1191 "Bump maven version"
Currently shippable is using  maven 3.2.1.

This version has some bugs to run parallel builds [MNG-5750](http://jira.codehaus.org/browse/MNG-5750) and to download artifacts [MNG-5723](http://jira.codehaus.org/browse/MNG-5723)

I will build a custom image for my project, but would be way better keep using shippable default image!

Thanks!

[2015-03-20 23:46] jiasilu commented on #1156
@manishas Any feedback on this bug? We can't upgrade to the paid plan until it works for us. Hope you fix it asap. Thanks a lot.

[2015-03-21 03:16] chriskinsman opened #1192 "Builds Failing with Certificate Expired"
Get https://index.docker.io/v1/repositories/shippableimages/ubuntu1204_nodejs/images: x509: certificate has expired or is not yet valid: Traceback (most recent call last):
  File "/home/shippable/dpd/step_listener.py", line 99, in handle_message_callback
    self.execute_step(build_plan, current_step, False)
  File "/home/shippable/dpd/step_listener.py", line 165, in execute_step
    raise e
Excep

[2015-03-21 03:20] chriskinsman commented on #1192
Looks like the certificate on https://index.docker.io expired...

[2015-03-21 03:22] manishas commented on #1192
Yes we're escalating this with them.

[2015-03-21 03:23] manishas commented on #1192
It affects everyone so should be fixed quickly, hopefully.

[2015-03-21 04:01] naveensky commented on #1166
@fommil - were you able to use existing cache to cache your sbt dependencies. I am facing similar issue in my sbt project and though I have cache flag in my shippable, it doenst seem to work

[2015-03-21 04:24] chriskinsman commented on #1192
Not so much I guess...

[2015-03-21 04:54] chriskinsman commented on #1192
Back up

[2015-03-21 08:08] manishas commented on #1192
thanks!

time to explore all avenues :-|

[2015-03-21 08:08] #1192 closed

[2015-03-21 09:46] affmobapp opened #1193 "Build failing due to - No docker credentials provided"
My build failed due to folllowing error
No docker credentials provided: Traceback (most recent call last):
  File "/home/shippable/dpd/step_listener.py", line 99, in handle_message_callback
    self.execute_step(build_plan, current_step, False)
  File "/home/shippable/dpd/step_listener.py", line 165, in execute_step
    raise e
Exception: No docker credentials provided

Build URL - https://app.shi

[2015-03-21 11:14] fommil commented on #1166
I've decided not to use their caches at all. Since I can build custom docker images, I am going to build a "clean" image and a "cached" image with all deps automatically using docker hub.

[2015-03-21 11:20] fommil opened #1194 "no shippable.yml/.travil.yml creates error"
If I don't have a YML file in a branch, then I don't want it to be built, so I'd rather not receive notifications about missing YML files.

[2015-03-21 11:50] fommil commented on #1162
Any ideas when you can help out with this? You should be able to manually ssh into the box to debug, or you can give me another public key to use in ssh.

The shippable debugging logs are not telling me enough about what is going wrong for me to debug. I can't even see which script is failing. I'm assuming it's failing before you even start the docker image. Is there some extra requirement for the

[2015-03-21 11:53] fommil opened #1195 "share dedicated host across accounts"
I have two paid accounts with you: `fommil` and `ensime`. I would like to use the same dedicated host for both, but it is not clear if this is supported. If you took `username` as a parameter to the dedicated host, then we could set up multiple shippable node accounts on some of the beefier machines that I have in mind (alternatively, recognise when a node is up across accounts, so there is no nee

[2015-03-21 12:21] fommil opened #1196 "connection error on dedicated node"
I have two dedicated nodes: both successfully deployed, but one is working and the other is not. Both are hosted by the same provider, but are running different flavours of Linux: the succeeding one is running Ubuntu, the failing one is running Debian.

This is an example of a failure https://app.shippable.com/builds/550d5d8f21d6a90b00366cf4 which is using the normal shippable docker image. It als

[2015-03-21 12:22] fommil commented on #1162
Please close this ticket as I'm starting a new one, as there was a lot of noise before I worked out what the core problem was #1196

[2015-03-21 12:28] fommil opened #1197 "TypeError: on_connection_closed() takes exactly 2 arguments (4 given)"
While debugging another issue, I found a lot of these errors in the shippable logs:

[code]

You might want to look at http://stackoverflow.com/questions/19255014 to help with this.

[2015-03-21 12:45] naveensky commented on #1166
@fommil - I couldnt find a way to use custom docker images unless using dedicated host? Isn't that correct, else I will go ahead and build my own docker image as well.

[2015-03-21 13:06] fommil commented on #1166
I'm using dedicated hosts.

[2015-03-21 13:08] fommil commented on #1196
w00t! Got it. You are assuming that the host is running the docker API on port 4243. This is definitely not a universal assumption. The workaround is to enable the service on localhost, e.g. in debian this means adding to `/etc/default/docker` the following

[code]

However, I would **strongly** recommend that you only use the unix socks mechanism (docker default), because a) it is a lot more secu

[2015-03-21 13:09] fommil commented on #1196
reopening to get your opinion on the above comment.

[2015-03-21 20:07] fommil opened #1198 "support coveralls.io in pull requests"
to get coveralls.io support in pull requests, I need to put my `COVERALLS_REPO_TOKEN` in the `shippable.yml` file. I think it is correct that the encrypted vars should not be visible in pull requests, but it would also be good if some transient thing were made available to work with coveralls.io. Travis is able to do this by using their `TRAVIS_JOB_ID` but I think they have buy-in from `coveralls.

[2015-03-22 01:29] shawn9273 commented on #237
+1

[2015-03-22 08:10] davidsoderberg commented on #933
Ok i will give Shippable one more try, how can I deploy to a DO machine without capistrano?
the only thing I whant to do on my DO machine is git pull. How can I do that?

[2015-03-22 18:52] fommil opened #1199 "cancelling a job does not stop it on the node"
On my dedicated nodes, if I start up a bunch of jobs and then cancel them, I can still see them running to completion on the nodes, eating up CPU cycles and precious resources.

[2015-03-22 18:53] fommil opened #1200 "limit concurrent jobs on a dedicated node"
The number of jobs running on a dedicated host appears to be unbounded, this can take the box down. It would be good to limit this on a per-host basis.

[2015-03-22 19:10] mavarazy commented on #1176
+1

[2015-03-22 20:34] Martynas-P opened #1201 "Email notification displays NaN as duration for cancelled builds"
the email notification sent after a build is cancelled shows NaN as the duration for each build.

![nan](https://cloud.githubusercontent.com/assets/2590908/6771264/9bd1322c-d0d2-11e4-98ba-323f4444c11f.png)

[2015-03-22 23:03] shawn9273 commented on #1042
+1, same issue.

[2015-03-23 04:18] apobbati commented on #917
are there any plans to add support for building mobile apps (osx and android)?

[2015-03-23 04:40] mavarazy opened #1202 "Docker container size is much larger compared to locally build image"
I've created very simple project, to test Google Container Engine with Spring Boot application
https://github.com/clemble/badge

For some reason docker image size exceeds 13 G, and I can't start it (running out of space)
When I build same project locally it's size is 438M

Why is the difference?

[2015-03-23 05:06] rageshkrishna commented on #1202
@mavarazy It looks like you haven't enabled the Docker Build feature on your project. By default, the build runs on our shippable/minv2 image which contains dependencies for all the build platforms we support.

You can take a look at this blog post which walks you through setting up Docker Builds for your project: http://blog.shippable.com/making-deployments-even-easier-with-docker-build

[2015-03-23 08:07] mavarazy commented on #1202
What is commit_container for, and what is the difference between custom image & commit_container?
Did I understand right, that now I need to have separate Docker image with all construction tools & services (like Maven, RabbitMQ, MongoDB ...) and shippable.yml in this case does not play any role?
Shippable becomes just a trigger to run my jobs.

For me it was intuitive that after I added Dockerfil

[2015-03-23 08:36] pschrammel commented on #1050
Could you please give me some feedback about the state? I can't see our main project which is quite annoying.

[2015-03-23 10:41] stekycz commented on #1188
@manishas Once more https://app.shippable.com/builds/550feddc21d6a90b00367ccc

[2015-03-23 11:23] rageshkrishna commented on #1202
So we've got three different things going on:

1. `build_image` in your YML file allows you to use an existing image from Docker Registry to run your build.
2. `commit_container` in your YML file lets you push the container that ran the build back to the Docker Registry.
3. Docker Build, which is a new feature that we announced recently, will build an image from a Dockerfile in your repository and

[2015-03-23 16:49] Ben-Speakman opened #1203 "No coverage reports parsed - Codeception"
I have the following output in the results page of my build:
[code]

But then at the end:

[code]

I am using the [CodeCoverage](http://codeception.com/docs/11-Codecoverage) output from codeception. Am I doing anything wrong?
The build is failing but shouldn't it show the coverage anyway?

[2015-03-23 20:34] pmacosta opened #1204 "Getting/displaying PNG image files from build"
Hi! I am testing a piece of Python code in my repository that creates some PNG image files (as in X-Y plots with Matplotlib) and the tests are failing. I can tell that the generated images in the container are slightly different in size as my reference images. The reference images are in the repository, the generated images are created in a sub-directory.

One example of a failing build is: https:

[2015-03-23 20:54] manishas commented on #1125
@jeffkole I tracked this down and this might be due to a limitation of our caching implementation. Let me try to explain...

We cache the container the first time a build with cache=true comes in, and all subsequent builds simply use this cache without adding stuff each time. If you make changes to your install section or add something to package.json, you will need to do a commit with [reset_mini

[2015-03-23 20:57] manishas commented on #1174
@naveensky can you use caching to reduce time? I know you said caching isn;t working for you, but you might be running into the same problem as https://github.com/Shippable/support/issues/1125#issuecomment-77493561

You should do a commit with [reset_minion] so that the existing cache is cleared and then start again.

[2015-03-23 20:59] manishas commented on #1057
@braindeaf do you still run into this error? We deployed several fixes over the last couple of weeks and you shouldn't see this any more.

[2015-03-23 21:36] bbradbury opened #1205 "Triggered build on bitbucket branch never starts"
I manually triggered a build for a private bitbucket project by pressing the "play" button on the shippable ui and selecting a branch, but the build never starts. I instead get a "Waiting for build information" spinner. The last try I made was for https://app.shippable.com/builds/551087b621d6a90b00368a0c (a private build, so not sure how useful that is).

[2015-03-23 21:39] bbradbury commented on #1205
The button works for the main branch, just not for the development branch I had selected.

[2015-03-23 21:46] manishas commented on #1205
@bbradbury whats your bitbucket username? Can you check if the Notifications tab on your repo page on Shippable shows any errors? This usually happens if the yml is missing or has a problem.

[2015-03-23 21:47] manishas commented on #1193
@affmobapp I see all your builds after that passed.... docker hub had some issues over the weekend and  I suspect your build was being processed at that time.

I am closing this issue but please re-open if you run into this again.

[2015-03-23 21:47] #1193 closed

[2015-03-23 21:48] bbradbury commented on #1205
I'm bbradbury on bitbucket: https://bitbucket.org/bbradbury

The branch name had a slash in it (e.g. feature/new_feature_name) maybe that causes a problem on the UI only? Works fine when committing.

[2015-03-23 21:48] thephred commented on #1179
Any update on this question?

[2015-03-23 21:49] bbradbury commented on #1205
Also no notifications about it.

[2015-03-23 22:06] manishas commented on #1194
This is a design decision we made and it's really a matter of what works for folks. When we failed silently, we got a lot of customer complaints about us not showing a notification or sending them an email notifying them. We chose to show non intrusive notifications to solve this problem.

We will certainly revisit if we get this feedback more frequently, but for now, I will close this. Thanks!!

[2015-03-23 22:06] manishas commented on #1195
Great feature suggestion... we're thinking along the same lines :)

[2015-03-23 22:09] manishas commented on #1198
you're right... until we have an official integration with coveralls, i don't know if we can do what Travis does.

[2015-03-23 22:09] manishas commented on #1200
on the roadmap and coming up soon.

[2015-03-23 22:11] manishas commented on #1203
@Ben-Speakman we need the output to be in cobertura formar for us to parse it.

[2015-03-23 22:13] manishas commented on #1205
@bbradbury I do see notifications about a missing yml... https://app.shippable.com/projects/550a25835ab6cc1352a49184 and click on 'Unread notifications'

Do you have a yml in the branch?

[2015-03-23 22:14] manishas commented on #1205
but if it worked fine while committing then that's not it... can you confirm that the project above is the one for which you're running into this?

[2015-03-23 22:17] bbradbury commented on #1205
No, different project: https://app.shippable.com/projects/54bf12795ab6cc1352893cab When trying to manually trigger a job on the same branch as job 181.

[2015-03-23 23:26] naveensky commented on #1174
@manishas - Thanks for the tip, let me try once with [reset_minion] command to check if that reduces build time

[2015-03-24 00:01] fommil opened #1206 "project summary shouldn't show PRs"
We have some PRs with builds that time out (this may change when you look at it)

  https://app.shippable.com/subscriptions/5504572d5ab6cc13529ad105

and, although our master builds are all green, our summary page is showing up red.

IMHO, it would be more intuitive if the project summary page had the status for each of the branches on the main repos, not including PRs.

[2015-03-24 00:24] fommil opened #1207 "allow user parameters to the `docker run` command (not just privileged/unprivileged)"
You already give the option to run in privileged mode, but that's a massive security hole. I'd like to run one of my custom images with support for `virtualbox`, and this requires providing just one device mapping, e.g.

[code]

do you think you could allow us to pass parameters to the `docker run` command? (obviously, only for dedicated nodes)

[2015-03-24 06:33] mavarazy commented on #1202
Thanks I'll close it since #1150 fits my idea

[2015-03-24 06:33] #1202 closed

[2015-03-24 06:33] mavarazy commented on #1150
+1

[2015-03-24 09:55] pschrammel commented on #1050
Okay guys this is open since 11. Feb we'll wait until 30. Mar then we'll switch somwhere else ...

[2015-03-24 10:58] bittner commented on #182
[shields.io](http://shields.io/) wants me to tell you you should use them.  :smile:

Travis-CI uses them. The badge image URL looks like this: (shields.io URL vs. Travis-CI URL)

    https://img.shields.io/travis/bittner/django-organice.svg?style=flat
    https://travis-ci.org/bittner/django-organice.svg?branch=develop

 The badge syntax looks like this: (Markdown vs. reST)

    [![Travis](https:/

[2015-03-24 12:47] rageshkrishna commented on #1050
@pschrammel I'm very sorry about the delay on this. We've identified exactly what the problem is.

The issue is that we hide forks of private repositories, unless the fork is in your account.

I'm not sure if you're comfortable with me sharing actual github names here so I'm anonymizing them. The problem is that the repository you're unable to view (let's call it `abc/priceapi_api`) is a fork of t

[2015-03-24 14:21] stekycz commented on #1188
@manishas I have moved somewhere else! However it is still freezed on configuration changes during installation https://app.shippable.com/builds/5511727d5b59870c00c0cd0c . Previous builds have tried to purge configuration after removing. Is it possible there is some problem with changing of configuration files?

[2015-03-24 14:33] sigvef opened #1208 "Rebuild all open pull requests on push to destination branch"
Hi,

Is it possible to rebuild all open pull requests on push to the destination branch? By this I mean that when a  branch (say, `master`) is updated, all open pull requests into that branch are rebuilt.

Thanks!

[2015-03-24 15:59] naveensky commented on #1174
@manishas - this doesnt work for me. Somehow my SBT dependencies are not getting cached or my image is not getting cached.

Can you check if I am doing cache clean correctly ?

[2015-03-24 16:10] manishas commented on #1188
@stekycz here is the response from our engineers -

Adding DEBIAN_FRONTEND=noninteractive to the command, so it is sudo DEBIAN_FRONTEND=noninteractive apt-get remove --purge mysql-common mysql-server-5.5 mysql-server-core-5.5 mysql-client-5.5 mysql-client-core-5.5, will allow the script to continue (tested by putting it in an otherwise empty script file and using that file in the script section of

[2015-03-24 16:31] djindjic opened #1209 "Exception: HTTP code: 502"
is shippabe in operational status?
 I'm getting this error:

HTTP code: 502: Traceback (most recent call last):
  File "/home/shippable/dpd/step_listener.py", line 99, in handle_message_callback
    self.execute_step(build_plan, current_step, False)
  File "/home/shippable/dpd/step_listener.py", line 165, in execute_step
    raise e
Exception: HTTP code: 502

[2015-03-24 16:32] djindjic commented on #1209
sorry, I have just see you tweet 3h ago

[2015-03-24 16:32] #1209 closed

[2015-03-24 17:18] chriskinsman opened #1210 "i/o Timeouts on index.docker.io"
Get https://index.docker.io/v1/repositories/shippableimages/ubuntu1404_nodejs/images: read tcp 162.242.195.84:443: i/o timeout: Traceback (most recent call last):
  File "/home/shippable/dpd/step_listener.py", line 99, in handle_message_callback
    self.execute_step(build_plan, current_step, False)
  File "/home/shippable/dpd/step_listener.py", line 165, in execute_step
    raise e
Exception: Get

[2015-03-24 18:22] stekycz commented on #1188
@manishas Yes, it helped! Thank you :-)

[2015-03-24 18:22] #1188 closed

[2015-03-24 19:00] chriskinsman commented on #1210
Looks like it resolved itself

[2015-03-24 19:00] #1210 closed

[2015-03-24 21:54] ivanoats opened #1211 "npm ERR EEXIST"
I'm not sure why I'm getting this npm error below:

[code]

It seems to happen randomly. Is there a work-around to get a more consistent npm install process?

https://app.shippable.com/builds/5511db565b59870c00c0d6fc

Thanks :smile:

[2015-03-24 23:31] naveensky commented on #1174
@manishas - I just checked and it looks caching is working good now :+1:

I am closing this, thanks for the useful tip.

I would still persist for play framework native image :)

[2015-03-24 23:31] #1174 closed

[2015-03-25 00:34] damianbatson opened #1212 "laravel 5 behat 3 Maximum function nesting level of '100' reached, aborting!"
hi shippable team

is it possible to increase the xdebug nesting level to 500?
to fix this locally i can add xdebug.max_nesting_level = 500 to my php.ini script in wamp.

can i add something like this to a script in testing?

thanks

[2015-03-25 00:53] smaiyaki opened #1213 "Send notifications to last committer as well as custom emails"
In the current configurations, shippable sends notifications by default to the last committer and we can override this configuration by adding some recipients email in the notification tag. It will be nice if we can keep this default behavior and at same time add some custom recipients.

The common use case is that as a build engineer, I want to get notified of build failures so that we can check

[2015-03-25 01:42] smaiyaki opened #1214 "intermittent build failures due to submodule"
my configuration is as thus:

* In the repository, I have added a submodule. I have however not staged the submodule to avoid my repo from being unnecessary big
* In shippable, in the before_script tag, I added these 2 steps:
  * git submodule init
  * git sumodule update
* At this stage, the submodule should be checkout during the build
* I will then cd in to the submodule and run a script that s

[2015-03-25 06:03] manishas commented on #1184
here's the response from our engineering -

It appears to happen because NPM is trying to rename a file but it can't find the file, but because it happens infrequently and can't be duplicated its not possible to find a solution at this time. The only possible problems that could cause this that I can think of is the minion messed up or was preoccupied. The only suggestion I have that might make a

[2015-03-25 06:13] manishas commented on #1196
@fommil We'll look into this... tagging feature request.

[2015-03-25 06:14] manishas commented on #1199
yes, we're aware of this bug. I'll keep you updated when we make some progress.

[2015-03-25 08:44] Ben-Speakman commented on #1203
It seems Codeception uses the Clover format. Can I request you guys look into supporting this format?

[2015-03-25 13:57] Vilsepi commented on #1093
+1 need proper node 0.12 support

[2015-03-25 14:26] brankastanic opened #1215 "Access problem"
I have a problem. I can't access to project https://app.shippable.com/projects/540e7b1d3479c5ea8f9ebcdc, althought I have access to repo on github. My github username is branka.stanic@boutsourcing.com.

[2015-03-25 15:34] codeviking commented on #1184
So, I'm not sure what the solution involves.   Do we need to add steps to our `shippable.yml` which uninstall `nvm`, install `nvm` and then install `node 0.10.33` and `npm update -g`?  This seems like it'd slow down our builds which is not ideal.

Also, I'll add that we *never* see this behavior on our local machines or dedicated servers -- we *only* see it in the shippable environment, leading me

[2015-03-25 16:05] per-nilsson commented on #237
@avinci Thanks for the hard work! My Shippable experience has been really great so far. If you could provide a recipe for integrating with Bitbucket pull requests, that would be really helpful!

[2015-03-25 16:30] snowballhg opened #1216 "Permission denied when running psql"
When trying to run `sudo -u postgres psql -U postgres CMD` we are getting the following error:
`could not change directory to "/root/workspace/src/bitbucket.com/snowballhg/projectname": Permission denied`.

We're using the ubuntu1404_python image.  These same commands work perfectly on a AWS Ubuntu 14.04 AMI or a vanilla ubuntu 14.04 installation.

As a last resort I tried modifying the working di

[2015-03-25 16:59] smvv commented on #1015
I'm interested in this feature as well.  Any updates for support on the roadmap?

[2015-03-25 21:12] fabioberger opened #1217 "Cannot find forked repo in repo list"
Hi,

I recently forked a repo and wanted to deploy it through shippable but it is not showing up in the repo list. I have tried pressing "sync repo" multiple times to no avail.

I see other forked repo's in the list so I am assuming forks are also being displayed.

Any ideas?

Thanks!

[2015-03-25 21:40] fommil opened #1218 "dedicated node init needs blowfish-cbc"
Just a comment, your init script for dedicated nodes is using a non-standard sshd protocol (`blowfish-cbc`) which is no longer used by default on Debian Jessie.

To workaround, I needed to enable it by adding the following to my `/etc/ssh/sshd_config`

[code]

[2015-03-25 22:26] fommil opened #1219 "Launcher does not succeed on Debian Jessie"
I upgraded by debian wheezy dedicated host from Debian Wheezy to Jessie as I need access to a recent version of `virtualbox` from my docker images.

However, after doing a fresh initialisation/launch of the shippable scripts, my node is no longer usable, failing with the following errors:

[code]

I can't even find these script files in my /tmp so I assume are part of some docker image that you're

[2015-03-25 22:27] manishas commented on #1219
we'll look into this as a high priority issue. thanks!

[2015-03-25 22:27] fommil commented on #1219
:smile:

[2015-03-25 23:00] fommil commented on #1219
I've noticed that you only officially support ubuntu, not debian. If you can't get this fixed in the next 24 hours or so, I'll look into swapping my OS (which will be a bit of a pain to be honest, so I'd rather get it working on Debian Jessie).

[2015-03-25 23:14] manishas commented on #1219
yes we officially support ubuntu as of now, but we'll try to take a look at this as soon as one of our engineers has a min and see if there's anything obvious we can do.

[2015-03-26 01:48] baihuqian opened #1220 "Recent builds stuck on "waiting""
I'm using shippable for a Node project and it was always fine. However, most recent push gets stuck on "waiting", so I stopped the build and restart it manually, but it is no help. Could you have a look? Below is the link to the repo.
https://app.shippable.com/projects/54dceed25ab6cc13528bbf80

I recently refactored the testing code, but it runs fine locally, so not sure why it is stuck.

[2015-03-26 02:03] manishas commented on #1220
each org gets one build minion, so you can only run only build at a time. Right now, this build https://app.shippable.com/builds/55134f3f9461c40b00437ad9 is running, so others are waiting to start as previous builds finish.

Our startup plan comes with 5 minions for just $12/yr, so you can run upto 5 parallel builds.

[2015-03-26 02:04] manishas commented on #1220
maybe the build is stuck because of the tests being restructured?

[2015-03-26 02:45] baihuqian commented on #1220
There's no output to the console in waiting builds. I don't think it's because the tests are restructured. I tried running a successful build, and it stuck on start as the others. So now I cannot run any tests.

I think a build never finishes somewhere, which prevents me to run any other builds since I'm on the free tier.

[2015-03-26 05:00] brocas-dev commented on #1042
+1

[2015-03-26 06:12] moylop260 opened #1221 "[WISHLIST] docker push of build named with sha and don't use number of build"
1) Matter:
I have a unique and global private project in docker hub named: dkrhub-user/dkrhub-project
I want to add all builds of all projects in dkrhub-user/dkrhub-project
I don't want to add a private project of docker hub for each github private project, because is hardest of administration and more cost of plan.

I change my travis.yml file to add
[code]
in github-team/github-project1

I chang

[2015-03-26 08:58] pmarti commented on #1092
:+1: 9.4 is 4 months old, please add it

[2015-03-26 09:12] pschrammel commented on #1050
For now we'll detach the forked repos from the upstream then our problems should be solved but as you have different requirements from different users a user's global or per repo decision would be a possible solution.

[2015-03-26 12:53] manishas commented on #1054
Can you send us your yml? Sorry it took some time to take a look at this. We couldn't repro this so looking at the yml would be helpful. Thanks!

[2015-03-26 12:56] yanivby opened #1222 "Is it possible to perform multiple builds per project?"
We have a project in which there are multiple languages:
1. Scala for the server-side (we use sbt for building JAR files)
2. Node.js in the client-side (we use grunt to build an AngularJS application. The grunt tasks basically does the script minification, CSS compilation from LESS, run client-side unit tests, etc.)
So the question is - what's the best practice with Shippable? How would the shippa

[2015-03-26 14:10] marcogario opened #1223 "Global secure variable not repeated in matrix"
In our project we want to define some global secure variable that should be used by all configurations in the matrix. However, we also need to change some other information in the environment for some specific builds.
[1] Is an example of our shippable.yml file. In line 55-56 we tried to repeat the secure variables, however this also does not work.

What would be the proper way of defining these v

[2015-03-26 15:11] pmacosta commented on #1204
Figured out how to do this:
1. Create directory ./shippable/data (shippable is the same directory where test and coverage results directories go).
2. Put any data in ./shippable/data
2. In the shippable.yml file, add this line: ``archive: true``
3. Once the build has run, in the "Build details" panel, there will be a download button by the "Artifacts" entry, which is a tar ball of the shippable di

[2015-03-26 15:11] #1204 closed

[2015-03-26 17:27] fommil opened #1224 "failure in before_script reported as Boot failure"
I had a (genuine) failure in `before_script` in https://app.shippable.com/builds/5514419f86c05f0c006904e7 but it is showing up as a failure in Boot.

[2015-03-26 18:12] chrisbrantley commented on #1186
+1 for this.  I'm trying to do the exact same thing and was surprised that it's not well supported on the CI tool landscape.  Shippable gets us 99.9% there except we can't trigger the EB deployment AFTER a successful push to docker hub.

[2015-03-26 19:33] manishas commented on #1184
Follow up from our engineer... let me know if it makes sense. -
------
1. The problem here is with npm. As mentioned here https://github.com/npm/npm/issues/7562#issue-60153428 . An `npm update -g` which was supposed to install a newer version of npm will actually uninstall npm on our system if something went wrong while updating.
2. To overcome this, instead of using `npm update -g`, it would be b

[2015-03-26 20:02] moylop260 opened #1225 "Exception: Connection to 54.172.43.70:5671 failed: _ssl.c:495: The handshake operation timed out"
I have next error:

docker pull
Docker login
Docker pull vauxoo/odoo-80-image-shippable-auto:latest
Pulling image (latest) from vauxoo/odoo-80-image-shippable-auto,
Pulling image (latest) from vauxoo/odoo-80-image-shippable-auto, endpoint: https://registry-1.docker.io/v1/,
Pulling dependent layers,
Download complete,
Download complete,
Download complete,
Download complete,
Download complete,
Downl

[2015-03-26 21:13] muizsyed opened #1226 "Git sync from bitbucket.org - wrong directory"
As part of the git_sync process, when its cloning its cloning into wrong directory, looking at the output in git_synce it does this

git clone ssh://git@bitbucket.org/username/project.git /root/workspace/src/bitbucket.com/username/project'

You can see its changed from bitbucket.org to bitbucket.com

I dont know if its related to this
https://github.com/Shippable/support/issues/476

[2015-03-26 21:20] #1226 closed

[2015-03-26 23:13] codeviking commented on #1184
The reason for the error still doesn't make sense to me, as we run `npm update -g` on machines without issue.

That said, the core reason for my confusion is that it was your team that had us add the `npm cache clean` and `npm update -g` calls to our `shippable.yml` file:
[code]

I never understood the reasons for these steps originally -- so should we replace them with the command you mentioned o

[2015-03-27 08:15] mspanc opened #1227 "Unable to connect to github via HTTPS"
Hi,

recently I've started getting such error messages

[code]

so it seems that github rejects connections from shippable.

It works for me on my computer.

Build: https://app.shippable.com/builds/55150daf86c05f0c00691247

[2015-03-27 09:50] mspanc commented on #1227
Ok, it seems that github is DDoSed: https://status.github.com/

[2015-03-27 09:50] #1227 closed

[2015-03-27 12:02] geshan opened #1228 "Build failing as composer install cannot clone github repos"
I have the following problem of connection timing out on shippable since hours:

[code]

The same build was passing yesterday, today since hours it is not passing. I tried `--prefer-dist` too it does not work as well.

[2015-03-27 12:15] rageshkrishna commented on #1228
GitHub is having intermittent issues today due to a DDOS attack.

[2015-03-27 12:27] geshan commented on #1228
oh thanks it looks like its better now.

[2015-03-27 12:27] #1228 closed

[2015-03-27 15:09] #1220 closed