[2016-03-15 20:00] a-murphy commented on #2383
Verified that a default JDK (```openjdk7```) is being set for Java builds in Beta.

[2016-03-15 20:19] LukasSommerTu commented on #2383
After setting the JDK in the .yml-file with
[code]

the build is now working again and the build badge now also displays the correct status in my README.
Thank you for your support!

[2016-03-15 20:20] clifg commented on #2330
Worked for me as well, thanks!

[2016-03-15 20:20] #2330 closed

[2016-03-15 20:27] manishas commented on #2383
:+1:

[2016-03-15 20:27] #2383 closed

[2016-03-15 20:39] stephanielingwood commented on #2381
@jgregors There are a few things going on here:

When you tried to view the cell in a given environment, and got the ` "GET https://api.shippable.com/passthrough/services/56e0ca9c516d220c007cb014/tasks 500 (Internal Server Error)"` error, you indeed ran into a bug. A fix for that was pushed a few hours ago - can you refresh and see if that problem still persists?

Ditto for the "getting started" v

[2016-03-15 20:46] jgregors commented on #2381
@stephanielingwood all good! Thanks for your help.

[2016-03-15 20:51] manishas commented on #2380
@jeffkole are you still running into builds hanging?

[2016-03-15 20:58] manishas commented on #2357
@tcurdt as ragesh mentioned, your subscription is on the old build system. You should have received an email from us indicating that all projects using Docker options in Project settings to customize their docker workflows need to migrate to the new build platform before 3/22.

Please follow instructions in the email to migrate your subscriptions. Let me know if we can help with anything.

[2016-03-15 20:59] manishas commented on #2357
Closing this issue since there is nothing actionable for us to do here. If this problems recurs on the new build system, please let us know.

Thanks!!

[2016-03-15 20:59] #2357 closed

[2016-03-15 21:00] jeffkole commented on #2380
They are moving much faster with caching turned off now.

[2016-03-15 21:03] manishas commented on #2380
Thanks. I am going to change the title to 'turning on cache is causing builds to hang'. When our new caching implementation is complete, we will update this issue with a link to how to set it up.

[2016-03-15 21:05] jgregors commented on #2381
@stephanielingwood apologies, the project problems are fixed but I can't stop the "demo-app" pipeline and hence cannot delete the environment it is in. Getting console error: api.shippable.com/passthrough/services/56e0ca9c516d220c007cb014/tasks:1 GET https://api.shippable.com/passthrough/services/56e0ca9c516d220c007cb014/tasks 500 (Internal Server Error)

I am trying to delete this "aws-catalogue

[2016-03-15 21:31] stephanielingwood commented on #2381
@jgregors Aha. It looks like you deleted your cluster before stopping the pipeline - which means we have no way to issue a "stop" command to aws. We're working on a fix right now that will keep this situation from occurring in the future. In the meantime, there are a couple options:

1.) In the environment, you can re-enter your deploy integration, and re-select your cluster. Then, you will be abl

[2016-03-15 21:40] jgregors commented on #2381
@stephanielingwood please change the status to stopped - I have deleted the cluster and it was only for learning purposes anyway. Thanks!

[2016-03-15 21:47] stephanielingwood commented on #2381
@jgregors Done! You should now be able to delete your pipeline and environment. If we can help you with anything else, just let us know.

[2016-03-15 22:08] magwas commented on #2385
Thank you, adding language to shippable.yml solved the immediate problem.
Working shippable.yml: https://github.com/magwas/PDOauth/blob/8a4a620b7291d6f5a1151acb66b1ef59ff84d78a/shippable.yml
Build:
https://app.shippable.com/runs/56e88356c8cfb20d00a5debc

What if you would add support for
language: none
to signal that there should be no modification to image or build process?

[2016-03-15 22:11] manishas commented on #2385
Thanks for letting us know. I will retag this as feature request.

[2016-03-15 23:37] manishas commented on #2304
I am closing this issue since this should work now. Please let us know if you need anything else.

[2016-03-15 23:37] #2304 closed

[2016-03-15 23:55] jgregors commented on #2381
It's done. Thanks. Will now close.

[2016-03-15 23:55] #2381 closed

[2016-03-16 02:26] cjerdonek opened #2386 "git_sync phase leaving out "git clone" command"
After migrating a private repo to the new YAML format, the project started erroring out at the "git_sync" phase as follows:

    ssh-agent bash -c 'ssh-add /tmp/ssh/01_deploy; cd /root/src/[path removed] && git clean -f && git fetch'
    Identity added: /tmp/ssh/01_deploy (/tmp/ssh/01_deploy)
    fatal: Not a git repository (or any of the parent directories): .git

As you can see, for some reason

[2016-03-16 04:07] rageshkrishna commented on #2386
@cjerdonek I'm looking in to this now. I'll have some updates for you soon.

[2016-03-16 05:15] cjerdonek commented on #2386
Thanks!

[2016-03-16 07:01] osumampouw opened #2387 "Trying to migrate to the new yml configuration but now all my builds are broken"
Hi,

So I followed your instructions to upgrade the build plan to _continuous delivery plan_. After that all my builds started to fail. And I have been trying to fix the .yml file.

So:
1.) This is the first failure after I upgraded to continuous delivery plan. https://app.shippable.com/runs/56e8c447c8cfb20d00aa8de8
2.) A bit about our project config:
I use the docker configuration for my project

[2016-03-16 07:54] pukapukan commented on #2373
Thanks @trriplejay!  That was helpful!

[2016-03-16 07:54] #2373 closed

[2016-03-16 08:07] shrivara commented on #1240
@fommil The mentioned artifacts should not appear anymore. You might still see new lines due to an unsupported escape sequence returned by `sbt`. To fix this, you can start `sbt` with the flag `-Dsbt.log.format=false`.

[2016-03-16 08:07] #1240 closed

[2016-03-16 08:42] jlsupport commented on #2317
Hi @ttrahan
thanks a lot, now i migrated my shippable.xml but it looks like the deploy is running from inside my docker image? on the old setup it did run from outside?

[2016-03-16 08:47] mbrodala commented on #2207
@shrivara Works wonderful. And it's awesome that this also fixes all existing build logs. Great work.

[2016-03-16 09:37] fommil commented on #1240
I've not used shippable in about a year, I'm happy for you to close all my tickets unless you see them as having wider applicability.

[2016-03-16 10:01] shrivara commented on #774
This is supported. [Here](https://app.shippable.com/runs/56e92d27fbb4d40d0034fab9) is an example run with `rspec` running in documentation mode. [This](https://github.com/shrivara/fat_free_crm) is the project being built.

[2016-03-16 10:01] #774 closed

[2016-03-16 10:42] aftabaslam opened #2388 "Shippable failed to build a release"
Hi,
My builds are getting  failed from yesterday
Following are the errors in the build log

W: GPG error: http://ppa.launchpad.net precise Release: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY B70731143DD9F856
W: A error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error:

[2016-03-16 11:09] naveensky opened #2389 "Issue with Git Sync command"
Hi,

I am getting continuous and errors on my multiple projects. Git Clone command is failing with

`
ssh-agent bash -c 'ssh-add /tmp/ssh/01_deploy; git clone ssh://git@bitbucket.org/medharbour/web.git //src/bitbucket.org/medharbour/web'
Identity added: /tmp/ssh/01_deploy (/tmp/ssh/01_deploy)
Cloning into '//src/bitbucket.org/medharbour/web'...
Host key verification failed.
fatal: Could not read f

[2016-03-16 11:39] rageshkrishna commented on #2389
Hi @naveensky. It looks like you've been migrated to our new build platform. The issue you're running in to is that we no longer specify a user for the docker containers when we launch them. Unfortunately, the shippableImages containers do not specify USER or HOME variables on their own, either. As a result, SSH is unable to find an appropriate config file (because it's going to look in $HOME/.ssh

[2016-03-16 11:59] rageshkrishna commented on #2386
@cjerdonek The fix for this is being tested in beta right now. This will be available in production very soon.

[2016-03-16 12:52] f3l1x commented on #2386
@rageshkrishna @cjerdonek Same error with me.

[2016-03-16 13:11] gtnx opened #2390 "Control version of the elasticsearch service"
I'm using the elasticsearch service in one my continuous integration script and printed the Elasticsearch version:

    Version: 1.1.1, Build: f1585f0/2014-04-16T14:27:12Z, JVM: 1.8.0_25

- The version is very old. Is it possible to upgrade it?
- The best would be to control the version. Is it possible?

[2016-03-16 13:22] f3l1x commented on #2389
@rageshkrishna @cjerdonek Same error with me.

-----

Current:

[code]

Previsous build:

[code]

I see difference between `/tmp/ssh/01_deploy` and `/home/shippable/.ssh/project_rsa`. Can you help me?

[2016-03-16 13:33] iivvoo opened #2391 "git clone failing"
We're using old-style yaml files and suddently our projects no longer build. Earlier build that succeeded are also failing. The builds are currently breaking on cloning the git repo:
[code]
See, for example, https://app.shippable.com/runs/56e9577dfbb4d40d003b9ade

Explicitly setting HOME and USER to (resp) /root and root has no effect.

[2016-03-16 14:04] mspanc commented on #2385
I dream about `language: none`, too. I am using shippable mostly because it allowed to easily run totally custom images & builds with previous syntax.

[2016-03-16 14:35] mspanc opened #2392 "Shippable skips some lines from the YML script"
Look at my script source:

[code]

and the outcome

![zrzut ekranu 2016-03-16 o 15 32 37](https://cloud.githubusercontent.com/assets/389651/13815850/7c5edc3e-eb8c-11e5-9faf-fdb352f3c3a8.png)

Second

[code]

is silently skipped.

See https://app.shippable.com/runs/56e96bf8ac6b5d0d0011490e

[2016-03-16 14:37] mspanc commented on #2392
I don't know if it's connected but I've changed second `git commit` call to be different from the first one and now it is executed.

[2016-03-16 14:45] rageshkrishna commented on #2391
@iivvoo Can you try changing your build image from `shippableimages/ubuntu1404_nodejs:latest` to `drydock/u14nod:prod`?

[2016-03-16 14:46] naveensky commented on #2389
@rageshkrishna - I am still getting the error even after adding env variable. My current build is https://app.shippable.com/runs/56e9690906121a0c0073497a

[2016-03-16 14:53] rageshkrishna commented on #2389
@naveensky I just took a deeper look at the issue. It looks like there is an issue with using shippableImages. The ideal way to fix this would be to migrate to the new YML format which will allow you to use docker options as I listed in my previous comment.

Please let me know if you need help with this. If you can share your current YML file with me at ragesh@shippable.com I can show you how to u

[2016-03-16 15:30] iivvoo commented on #2391
That seems to solve the issue. Is this a workaround or can it be considered a permanent fix?

Also I noticed another issue now that tests work again, I will create a new issue for this.

[2016-03-16 15:34] iivvoo opened #2393 "shippable handles "env:" differently"
We used to have

[code]
in our (old-style) shippable.yaml. This worked for us

[code]

However, since recent changes shippable handles this differently. It will run a test for each individual character in env. In our case: 'C', 'I', '=', 't', 'r', 'u', 'e'

The fix for us is simple: fix the yaml:

[code]

However, you might want to check how you want to handle this on your end - spawning many (use

[2016-03-16 15:34] rageshkrishna commented on #2391
The fix is permanent. Moving forward, the `drydock` images are what we will continue to update and support.

I'm going to close this issue now as it has been resolved.

[2016-03-16 15:34] #2391 closed

[2016-03-16 15:35] rageshkrishna commented on #2393
Thanks for reporting this. This is definitely a bug at our end and we'll look in to it.

[2016-03-16 15:41] naveensky commented on #2389
@rageshkrishna I have email the file to you. Also I updated the docker file to drydock/u14scaall:prod but I am still getting same error

[2016-03-16 16:22] naveensky commented on #2389
@rageshkrishna Its not working with updated shippable file. The build url is https://app.shippable.com/runs/56e986f6ae35a90c007e2034

[2016-03-16 16:46] rageshkrishna commented on #2386
@cjerdonek The fix for your issue has been deployed to production. Please let me know how your next few builds look. Thanks!

[2016-03-16 16:55] rageshkrishna commented on #2389
It looks like your build is moving past the `Host key verification failed.` issue now. The latest builds are failing because authentication is being rejected by BitBucket. I'll figure out what's going on with this and get back to you soon.

[2016-03-16 17:08] mbrodala commented on #2378
@manishas I'd like to object here. Please leave this ticket open for others to find it. I just stumbled upon this myself enabling builds against PHP 7.0 and my `intl` extension.

[2016-03-16 17:16] manishas commented on #2378
@mbrodala searching support issues for php intl should surface this ticket.... it's better that it's closed since it signals that the issue was solved :)

We're trying to keep support issues at a manageable number so we can be more responsive when new issues are reported. In the past, issues have lived for years without any followup and we have made a commitment never to let that happen again.

[2016-03-16 17:17] tdutrion commented on #2378
Any chance to update the doc then? (with a big red warning?)

[2016-03-16 17:20] manishas commented on #2378
I can certainly add an FAQ and also something in the php section of languages. Tagging this with content label and reopening. I'll close when docs are updated :)

[2016-03-16 17:24] manishas commented on #2379
This is fixed, so closing. @volcan01010 let us know if you run into any issues.

[2016-03-16 17:24] #2379 closed

[2016-03-16 17:26] mbrodala commented on #2378
@manishas I can see where you're coming from. So I should open a new ticket once I know how to fix Pickle extension installations with PHP 7.x?

[2016-03-16 17:27] manishas commented on #2387
@osumampouw are you still having issues? Your latest builds are green, so checking before we investigate this.

[2016-03-16 17:29] manishas commented on #2378
Either open a new one or comment on this one and ask to reopen. Thanks for understanding!

[2016-03-16 17:35] manishas commented on #2392
We have identified the issue here and we'll work on a fix.

[2016-03-16 17:41] manishas commented on #2390
@gtnx your build is using the legacy image shippable/minv2 which is an outdated image that we plan to deprecate soon.

Our new official images are in the [drydock repository on docker hub](https://hub.docker.com/u/drydock/). Naming convention is explained [in our documentation](http://docs.shippable.com/ci_configure/#setting-your-build-image). The pls and all versions of images have elasticsearch

[2016-03-16 17:42] manishas commented on #2390
Also, if you want a specific version, you can always skip specifying elasticsearch in the `services` tag and install a specific version in the yml. you'll need to handle starting/stopping the service in your yml as well if you choose to go this route.

[2016-03-16 18:14] chriskinsman opened #2394 "Shippable not kicking off builds from github checkins"
We have found our builds are very slow to trigger right now...

[2016-03-16 18:20] manishas commented on #2394
@trriplejay  can you look into this?

[2016-03-16 18:27] manishas commented on #2394
@chriskinsman we're figuring out if GitHub is sending webhooks with a delay or if we're doing something funny. Will have an update soon.

[2016-03-16 18:37] manishas commented on #2384
@vastbinderj looks like you started over again with your project are are running to 'Host verification key failed' issue.

I see that your project is using our old image shippableimages/ubuntu1404_nodejs. Can you please remove the custom `buildimage` tag and try the build? This will ensure that the latest official images get picked for your build and should move past the error you're seeing.

[2016-03-16 18:42] manishas commented on #2394
@chriskinsman this seems to have resolved itself since we're not seeing it for our projects any more. At this point, not sure if this was a GitHub issue or ours, but we'll keep a watch.

Let me know if your projects are still triggered slowly.

[2016-03-16 18:55] jamesmk opened #2395 "Can't find SSH key"
Hello,

After upgrading our plan today, our deploys are failing. We've been accessing the container's key to enable agent forwarding in our Capistrano deploy. This is the command we use:

[code]

This now returns `/home/shippable/.ssh/id_rsa: No such file or directory`. Did this file move in the migration?

Here is an example build: https://app.shippable.com/runs/56e9944a132d570c00d8bf4d

cc @cpit

[2016-03-16 19:07] antonbabenko opened #2396 "Permission denied during "pip install --upgrade awscli""
Suddenly, today I get this error when trying to install awscli:
[code]

Failed build for investigation - https://app.shippable.com/runs/56e9a9a1132d570c00dc1b6a

[2016-03-16 19:08] cjerdonek commented on #2386
@rageshkrishna It's working now. Thanks for your prompt response and for addressing this so quickly!

[2016-03-16 19:23] #2386 closed

[2016-03-16 19:24] #2250 closed

[2016-03-16 19:24] #2199 closed

[2016-03-16 20:12] a-murphy commented on #2395
Yes, the keys were moved to ```/tmp/ssh``` and renamed ```00_sub``` and ```01_deploy```.  It looks like you are using the subscription SSH key, ```00_sub```.

[2016-03-16 20:18] cjerdonek opened #2397 "Pass "--user root" to "docker run" in boot_container phase"
I noticed that setting `USER` to a non-root user in one's Dockerfile causes the "boot_container" phase to fail with the new YAML format.

This is because Shippable's invocation of `docker run` in the boot_container phase doesn't pass `--user` and so defaults to using the Dockerfile's `USER`. I believe Shippable expects this command to be run as root (which is what is causing the phase to fail in t

[2016-03-16 20:40] manishas commented on #2397
@cjerdonek we're already working on this and a fix should be available soon.

[2016-03-16 20:42] ric03uec commented on #2397
@cjerdonek
- this is a known issue and we're working on it. the fix will be deployed within next day.
- your assessment was correct and we are not passing `--user` argument to docker run. This is resulting in the `ci` step using the Dockerfile's `USER`. Now this dependency will be removed and the Dockerfile can have any value of `USER` set without it affecting the shippable ci scripts. Also, the d

[2016-03-16 20:57] ttrahan commented on #2317
@jlsupport: you're correct that the EB deployment steps are happening from inside your build container at the conclusion of all build steps that occur within the container (ci, post_ci, after_success, after_failure).  Previously, these steps occurred in a sidecar container that Shippable ran alongside your build container.  Keep in mind that your build container does not necessarily match your Doc

[2016-03-16 21:22] cjerdonek commented on #2397
Great, @manishas and @ric03uec. Thanks for the update and for working on addressing this so quickly!

[2016-03-16 21:44] jamesmk commented on #2395
That did the trick, thanks!

[2016-03-16 21:44] #2395 closed

[2016-03-16 21:48] ric03uec commented on #2397
@cjerdonek this is now deployed. can you please verify if its working as expected for you.

[2016-03-16 21:59] manishas commented on #190
This is not on our near term roadmap, so closing it out as deferred.

[2016-03-16 21:59] #190 closed

[2016-03-16 22:05] manishas commented on #771
This is not on our near term roadmap, so deferring.

[2016-03-16 22:05] #771 closed

[2016-03-16 22:07] manishas commented on #905
We need to add a project setting making this configurable.

[2016-03-16 22:09] manishas commented on #983
This is now possible with the new build platform, so marking implement.

This should be a project setting for 'run builds sequentially' that is false by default.

[2016-03-16 22:10] manishas commented on #1003
This is not on our roadmap, and has a workaround. Closing.

[2016-03-16 22:10] #1003 closed

[2016-03-16 22:11] manishas commented on #1173
This isn't on the near term roadmap, so closing as deferred.

[2016-03-16 22:11] #1173 closed

[2016-03-16 22:15] manishas commented on #1208
This is a great requirement and is now possible with new build platform. Marking implement.

This should be implemented as a setting in the yml.

[2016-03-16 22:16] manishas commented on #1268
We should redesign the email template, so marking implement.

[2016-03-16 22:18] cjerdonek commented on #2397
@ric03uec No, it's still failing at the same point in the boot_container / wait_for_exit phases. Shippable is still not passing `--user root` in its call to `docker run` in the boot_container phase like I suggested that it do above:

    $ sudo docker run -d --privileged=true --net=bridge -v ...

[2016-03-16 22:18] manishas commented on #1371
We should add a project setting to be able to specify custom timeouts, up to a maximum of what we support .

[2016-03-16 22:19] manishas commented on #1380
This is not on our near term roadmap, so closing as deferred.

[2016-03-16 22:19] #1380 closed

[2016-03-16 22:21] manishas commented on #1481
Closing this since there is nothing actionable to do here.

[2016-03-16 22:21] #1481 closed

[2016-03-16 22:25] manishas commented on #1592
This is not currently possible, since we cannot support any action that would require artifacts from a matrix build since builds run on distributed infrastructure. Without artifacts, the usefulness of this would be very limited.

Closing.

[2016-03-16 22:25] #1592 closed

[2016-03-16 22:27] manishas commented on #1799
what kind of integration would you want with JIRA? Some scenarios would be helpful to see if we can do this.

[2016-03-16 22:41] stephanielingwood commented on #2392
Hi, @mspanc. Thanks for letting us know about this issue - we just tested out a fix and it should be deployed soon. We'll let you know when it's live.

[2016-03-16 22:41] manishas commented on #2365
This will be too complicated to implement especially in cases where the branch has a lot of commits for the PR. Closing as deferred.

[2016-03-16 22:41] #2365 closed

[2016-03-16 22:44] manishas commented on #2346
Closing this, but please let us know if you still need help with this.

[2016-03-16 22:44] #2346 closed

[2016-03-16 22:45] manishas commented on #2382
Adding this to the consolidated code coverage feature request.#174

[2016-03-16 22:45] #2382 closed

[2016-03-16 22:58] ric03uec commented on #2397
@cjerdonek the following changes were made in the latest update
- [bug] setting `USER` in dockerfile does not cause the builds to fail now
- [bug] setting `-e USER=foo` in docker run options does not cause the build to fail now
- you are free to provide any value of `USER` in the docker run options.

So, not setting `--user root` by default is intentional. If you want you can add a section in the

[2016-03-16 23:06] a-murphy commented on #2393
It's being parsed as one variable now.

[2016-03-16 23:52] stephanielingwood commented on #2392
@mspanc We just deployed the fix, so you shouldn't be seeing this error anymore. Let us know if you're still running into this, or if you have any other questions.

[2016-03-17 00:10] trriplejay commented on #2396
Previously, the container was running as root, however we recently updated our build platform such that this is no longer the case.  There are a few ways that this can be fixed.

1. in your Shippable.yml, specify one of our new drydock images as your build image like this:
`build_image: drydock/u14phpall:prod`.  A guide to our images can be found here: http://docs.shippable.com/ci_configure/#setti

[2016-03-17 00:12] vastbinderj commented on #2384
@manishas - that got us past the issue with the host verification key.

Now the `build_on_success` step seems to take forever to finish when exporting the docker container.  Which, at this time, we don't need or care about...  Is there a setting to skip this part of `build_on_success`?

[2016-03-17 00:25] trriplejay commented on #2388
Hello,

Shippable recently moved to a new build system, and I suspect that some of the difference in the new platform are causing this issue with your build.  There are a few ways in which you could fix this.

1. I see that your build is relying on our old default image: shippable/minv2.  Instead, you could try specifying an image in your yml like this: `build_image: drydock/u14phpall:prod`.  A gu

[2016-03-17 00:28] osumampouw commented on #2387
Hi manishas, the reason why its green is because i reverted the yml and disable the container option just to unblock this problem. Because we have to deploy. But ideally we still would like to have the old option back.

So yeah, can you help see the configuration yml?

[2016-03-17 00:29] manishas commented on #2384
This is a known issue and happens when you have cache turned on. We are working on a new caching implementation that will enable folder level caching and this should be available later this week or early next week.

Until then can you turn cache off and try a build? I'll leave this open and update you when the new caching is in place.

[2016-03-17 00:57] ric03uec opened #2398 "postgresql service not starting on minv2"
![image](https://cloud.githubusercontent.com/assets/1110988/13833160/52e8fc5e-eba0-11e5-9901-55e03f4365d1.png)

- specifying `postgresql` as a service results in the warning and the service is not started when the `ci` container boots

[2016-03-17 00:57] a-murphy commented on #2387
I'm not sure which yml you are trying to use, but here's what I noticed:

If you're using ```new_shippable.yml```, ```pre_ci_boot``` should be in the ```build``` section like ```ci``` and ```on_success```.

The SSH keys have been moved to ```/tmp/ssh``` and renamed, so that will need to be updated for either yml.  It looks like you are trying to use the subscription SSH key, so you might be able t

[2016-03-17 01:51] naveensky commented on #2389
@rageshkrishna Any luck with identifying the issue ?

[2016-03-17 03:31] rageshkrishna commented on #2389
@naveensky For some reason, BitBucket is not accepting the project's SSH key. Can you please try hitting the "Reset" button from the project's settings page? This should generate new keys and push them to BitBucket. If you are using any secure env variables in this project you will need to encrypt them once again after the reset.

[2016-03-17 03:49] vastbinderj commented on #2384
TY @manishas

We now have passing builds again.

[2016-03-17 03:49] #2384 closed

[2016-03-17 04:03] osumampouw commented on #2387
oh ok thanks for the hints. I will give it a try.
I have a question about the image_name. So I'm using drydock. What's the difference between all the images there? For example u14 vs u12 ?

[2016-03-17 04:14] kanthchandra commented on #2387
Hi @osumampouw, Here is the guide which gives an idea about the naming conventions used for the images http://docs.shippable.com/ci_configure/#setting-your-build-image

[2016-03-17 04:35] manishas commented on #2393
Closing this since this in production.

[2016-03-17 04:35] #2393 closed

[2016-03-17 04:36] manishas commented on #2392
Closing since this is now in production. Please let us know if it doesn't work for you. .

[2016-03-17 04:36] #2392 closed

[2016-03-17 04:37] manishas commented on #2390
I am closing this issue since the question was answered. Please let me know if you have any more questions or run into any issues. Thanks!

[2016-03-17 04:37] #2390 closed

[2016-03-17 04:39] manishas commented on #2377
Closing this issue since there is nothing actionable for us to do here. Let us know if the variable is still not being carried over.

[2016-03-17 04:39] #2377 closed

[2016-03-17 04:40] manishas commented on #2349
@Gudahtt is this still happening? If not, can we close this issue?

[2016-03-17 04:42] manishas commented on #2394
Closing this since I don't think this is happening any more. Let us know if this is still a problem for you and we'll reopen and investigate.

[2016-03-17 04:42] #2394 closed

[2016-03-17 04:47] pquentin commented on #2315
It's a documentation issue. We want to make sure we're using each step correctly and we want to know exactly what's going to happen when a given step fails.

[2016-03-17 04:47] manishas commented on #2257
Closing since chrome should work now. @9dev let us know if you run into issues and we'll reopen and investigate.

[2016-03-17 04:50] manishas commented on #2350
The custom timeout request is a dup of #1371.

Please track resolution of this feature request in that issue

[2016-03-17 04:50] #2350 closed

[2016-03-17 04:56] pbkhrv opened #2399 "pre_ci_boot not finding image built in pre_ci"
I have the following in my shippable.yml:

[code]

when the build runs, the pre_ci_boot step doesn't seem to pick up the `image_name` and `image_tag` vars:
[code]

[2016-03-17 04:58] manishas commented on #2399
Can you try removing the - in front of image_name?

[2016-03-17 05:01] cjerdonek commented on #2397
Okay, I see now. I added `--user=root` to the "pre_ci_boot" options, and it is working now. Thanks a lot for your help, @ric03uec.

Personally, I think `--user=root` should be included in your default options (along with `--privileged=true` and `--net=bridge`) since root permissions are needed for Shippable's boot to succeed, but I can add it myself manually. Thanks.

[2016-03-17 05:40] manishas commented on #1752
this should work now. closing.

[2016-03-17 05:40] #1752 closed

[2016-03-17 07:09] ankul-shippable commented on #1079
We have added this feature. It will be available soon.

[2016-03-17 07:29] magwas commented on #2349
This is maybe related. Build hangs in "Provision job node" phase:
https://app.shippable.com/runs/56ea51729b8e4e0c009e1542
This is at least the second one I see in a day.

[2016-03-17 07:40] magwas opened #2400 "bring in coverage report in custom image?"
I am running build in a custom docker image. Coverage report fails with

    /root/src/github.com/magwas/PDOauth/shippable/codecoverage
        /root/bf0be5d6-7863-4d6f-8df6-16e5774877b1.sh: line 58: reports: command not found

Please document what should I install to the image to enable coverage/test/etc reports?
(Low priority, as I have worked it around by creating and exporting my own report.)

[2016-03-17 08:41] antonbabenko commented on #2396
Adding `sudo` was the fastest solution which helped. Thank you!

[2016-03-17 08:41] #2396 closed

[2016-03-17 08:58] henrjk commented on #2400
I am interested into this as well.

[2016-03-17 08:59] shrivara commented on #1371
We have added this feature and should be available soon. I'll update here with details once its live.

[2016-03-17 09:22] naveensky commented on #2389
@rageshkrishna I did a reset with subscription and tried again. Getting the error https://app.shippable.com/runs/56ea68d0c594df0d009a0fe6

[2016-03-17 09:33] rageshkrishna commented on #2389
It's not the subscription you need to reset. There's a reset button in the project's settings tab. This is the one that will update your project's keys on BitBucket. Please try that instead.

I also see that this build is still using shippableImage/ubuntu1404_scala. Can you please switch it back to `drydock/u14scaall:prod` after the reset and try a build with that?

[2016-03-17 09:34] f3l1x commented on #2389
Reset button occurred error.

[code]

[2016-03-17 09:40] rageshkrishna commented on #2389
@f3l1x We currently only allow project owners to perform the reset operation because it involves changing keys on the source provider. Can you please ask one of the owners to try it?

[2016-03-17 09:44] f3l1x commented on #2389
@rageshkrishna I'm only owner. Or you mean BitBucket project owner? It owns a company and I have i read/write permission.

[2016-03-17 09:51] rageshkrishna commented on #2389
@f3l1x Yes, it needs to be a BitBucket project owner.

[2016-03-17 10:03] mbrodala commented on #2378
@himanshu0503 What do you use to set up the PHP 7 environment currently? Since we are using [this PPA](https://launchpad.net/~ondrej/+archive/ubuntu/php?field.series_filter=trusty) locally for a fixed switch to PHP 7 I don't know either if there are `-dev` packages somewhere or if everything is already part of the `php7.0` package.

[2016-03-17 10:37] osumampouw commented on #2387
so for this https://hub.docker.com/r/drydock/u14nodpls/tags/
there are 3 tags. My build has an error because I specify the tag as 'latest'
Now I change it to 'prod'.
What's the difference between 'prod', 'marker' and 'tip'?

[2016-03-17 10:56] rageshkrishna commented on #2398
This works in beta now.

[2016-03-17 10:57] rageshkrishna commented on #2389
@naveensky It looks like your builds are running successfully now. Please let me know if you have any more problems.

[2016-03-17 11:17] gtnx commented on #2390
Thanks @manishas . do you have any example of handling a specific elasticsearch version in the yml with all the starting/stopping stuff?

[2016-03-17 11:41] naveensky commented on #2389
@rageshkrishna Though builds are working fine, my executable file deploy.sh is not executing. It contains my logic to deploy artifacts to beta/prod servers.

https://app.shippable.com/runs/56ea953d9b8e4e0c00a82d4c

The file with deploy.sh is just not doing anything if you see the output of it. Either it should run or produce an error.

[2016-03-17 12:33] naveensky commented on #2389
@rageshkrishna Things looking better. The cache container command is taking huge time to cache, unlike previous times. Not sure if its a bug or it really needs 20+ mins to cache container.

[2016-03-17 12:36] naveensky commented on #2389
@rageshkrishna The build url https://app.shippable.com/runs/56ea9d0317639a0d0094c697

[2016-03-17 12:38] manishas commented on #2389
The cache issue is a known issue and we are addressing it with a new implementation for caching that is folder based. This will be available in the next couple of days.

[2016-03-17 12:42] hzkochhar commented on #99
+++++
look at all the repos not getting the shippable love.
oh why so silent shippable team?

[2016-03-17 13:37] pbkhrv commented on #2399
that works, thanks!

[2016-03-17 13:37] #2399 closed

[2016-03-17 13:47] Gudahtt commented on #2349
I haven't seen this happen so far this week - I'll close this for now. I'll comment here again if it happens again.

@magwas I've never seen that happen to my builds - it was always stuck at 'Job node info'. But yeah, could be related. Not sure.

[2016-03-17 13:47] #2349 closed

[2016-03-17 13:47] ankul-shippable commented on #1079
This is feature is live now. Feel free to reopen this if there is any problem around this. Closing this.

[2016-03-17 13:47] #1079 closed

[2016-03-17 15:04] HelainSchoonjans opened #2401 "Triggering builds on branch with the API fails with 500: Unable to find the specified branch."
Dear Shippable supports,

I have frequently used the API to trigger builds on specific branches of projects but after having enabled builds with a new branch I recently had 500 errors while trying to trigger builds of the branch.

Output from my script: (Using _Post_ on /projects/ + project_id + /newBuild with branchName = "shippable_migration" )

The branch exists and some builds even already hav

[2016-03-17 15:23] kanthchandra commented on #2401
Hi,  As the message states this branch might have been pushed recently and the project has not yet been on synced on shippable. So can you please go to project settings page and force sync the project. After the sync the branch should be present and we will be able to trigger the build

[2016-03-17 15:34] HelainSchoonjans commented on #2401
Thanks! It works!

[2016-03-17 15:35] #2401 closed

[2016-03-17 15:52] algarpe opened #2402 "Using rvm in a node_js yml"
Hi,

Before the migration, my builds worked perfectly. But after it, I cannot install ruby as I used to.
My builds worked with:
`- source ~/.rvm/scripts/rvm
- rvm install ruby-2.0.0-p598
- source ~/.bashrc && ~/.rvm/scripts/rvm && rvm  use 2.0.0
- gem install compass`

But now, I'm stuck.

Any suggestion?

Thanks...

[2016-03-17 15:56] jamesmk commented on #2362
@manishas I'm having a similar issue where builds are running smoothly, but it's hanging on the `build_on_success` stage. Has there been any progress with this? If I turn off caching, I'm looking at 15 minute builds.

https://app.shippable.com/runs/56eac96572dbf80c00bbfabe

thanks

[2016-03-17 16:03] mbrodala commented on #2207
@shrivara Is it possible to fix the initial issue and have `stdout` exposed as regular TTY so that ANSI color output works in every CLI tool out of the box?

[2016-03-17 16:11] manishas commented on #2362
@jamesmk we will definitely have the new implementation of caching available tomorrow. It's being tested as we speak.

Can you please turn off caching today and I will update this issue as soon as the new caching is deployed to prod.

[2016-03-17 16:36] a-murphy commented on #2402
Your builds are now running on the new default NodeJS image, which is smaller and faster, but doesn't have ```rvm``` installed, or other things for languages that aren't JavaScript.  The easiest solution is probably to install ```rvm```.

This is how we are installing ```rvm``` in the new Ruby default image (full install script used in the Dockerfile [here](https://github.com/dry-dock/u14rub/blob/

[2016-03-17 17:01] algarpe commented on #2402
Installing ruby with curl, works fine. But next line (echo with brackets) breaks yml format. How should it be?

[2016-03-17 17:23] a-murphy commented on #2402
Single quotes around the line ```'[[ -s /etc/profile.d/rvm.sh ]] && source /etc/profile.d/rvm.sh'``` seems to make the YML parse and not cause an error in the build if it's directly in shippable.yml.

[2016-03-17 17:27] algarpe commented on #2402
I've solved it like this:

`- source /etc/profile.d/rvm.sh && rvm install ruby-2.0.0-p598`

Thanks

[2016-03-17 17:27] ric03uec opened #2403 "redis server not starting on minv2"
- if the service name `redis-server` is provided, it does not start redis server
![image](https://cloud.githubusercontent.com/assets/1110988/13854850/bef1b4ec-ec2a-11e5-9ce0-47c15d970744.png)

- the service name should support bot `redis` and `redis-server`

[2016-03-17 17:29] manishas commented on #2403
@a-murphy can you work on this?

[2016-03-17 17:50] ric03uec opened #2404 "bundle command missing for official ruby image"
- for the official ruby image `drydock/u14rubpls:prod` the following error is thrown in `ci` step
![image](https://cloud.githubusercontent.com/assets/1110988/13855519/19c22110-ec2e-11e5-8683-aa81bbd62a1a.png)

- build id: https://app.shippable.com/runs/56eaec0785ed8e0b0086085e

[2016-03-17 18:18] a-murphy commented on #2403
Beta-verified.  The ```redis_start``` step appears now.

[2016-03-17 18:40] f3l1x commented on #2378
I have a same problem with **pgsql**.

[2016-03-17 18:48] manishas commented on #2402
closing this issue.

[2016-03-17 18:48] #2402 closed

[2016-03-17 19:44] mmindenhall opened #2405 "Builds fail after upgrading to new yml format"
I just completed the process of upgrading our build to the new yml format.  Everything is succeeding in the build, but the `build_on_success` phase shows the red 'X' indicating that something failed.  When I drill down into the commands executed during that phase, everything looks to be completing successfully.

These are the exact same commands that were executing (and succeeding) in the `after_s

[2016-03-17 21:18] vastbinderj opened #2406 "bzr not found in $PATH in golang docker image"
When I am attempting to load a golang package from Launchpad, I see the following error:

![image](https://cloud.githubusercontent.com/assets/713960/13861425/8ba1ef2e-ec4a-11e5-8348-7bcc13a28ff1.png)

I have even tried installing `bzr` in the `pre_ci:` step and I still see this error.  Am I missing something?  Is there a reason it is not already pre-installed in the docker image?

I install `bzr`

[2016-03-17 21:21] svo opened #2407 "git_sync issue"
Hi,

I have been going through the process of updating my shippable.yml as per email regarding changes and am trying to run builds to test the change.

Unfortunately I'm encountering an issue with the `git_sync` stage of the build process as per below:

[code]

I've tried:

* reseting deployment keys
* adding subscription deployment key to github ssh keys (have since removed as it didn't seem to h

[2016-03-17 21:31] manishas commented on #2407
@svo are you using a build image from shippableimages? Those are our older images and are experiencing issues on the new platform. If you are already using new format, skipping the pre_ci_boot section will choose one of our new official images and this should get you past this problem.

Let me know if that works.

[2016-03-17 21:34] manishas commented on #2406
@vastbinderj the pre_ci section runs outside the build container. Please include the installation command in your ci: section and it should work as expected.

[2016-03-17 22:21] manishas commented on #2407
Actually i just checked and you're using a custom image. In that case, check out our blog that calls out this error and how to fix it - http://blog.shippable.com/5-tips-for-a-successful-migration

Tip #5: Fix git_sync error: Host verification key failed

A couple of customers started seeing a "Host verification key failed" errors in their console logs after migration. This might happen if you are

[2016-03-17 22:39] manishas commented on #2404
i don't think bundle is missing.. tried it out with sample and it works fine -

https://app.shippable.com/runs/56eb31622894c90c00818f54

[code]

[2016-03-17 23:01] cramblda opened #2408 "Unable to add "My Own" onsite-node"
I have been attempting to add my own onsite node to our shippable account. I have tried both initialization options: 1) via ssh and 2) via create initialization scripts.

The ssh method adds the node, but then never attempts to connect via ssh to initialize the node. I can see an error occurs in the web browser console, complaining about the body of the message, specifically in regards to the "sta

[2016-03-17 23:10] manishas commented on #2408
@cramblda we will look into this and get back to you with an update.

[2016-03-17 23:33] naveensky commented on #2389
@manishas @rageshkrishna I have got my builds running again. Thanks for your support during this entire thing :+1:

I am just worried about image cache. Is there a quick work around for those. My builds which were previously taking 5 mins have gone to 20 mins. Is there any temporary fix which I can work with for now till the time you guys complete your cache feature ?

[2016-03-17 23:38] manishas commented on #2389
The new cache implementation will be available tomorrow. We'll update this issue with instructions on how to use it.

[2016-03-17 23:53] vastbinderj commented on #2406
ahh - TY @manishas - will report back.

[2016-03-18 00:04] manishas commented on #2408
@cramblda does your node satisfy the following minimum requirements [specified in our docs](http://docs.shippable.com/ci_byoh/#minimum-requirements) -
1.8GB RAM
30GB SSD
Ubuntu 14.04 OS
64-bit architecture

If not, it will fail to initialize. We're working on adding better messaging for this scenario.

[2016-03-18 00:11] vastbinderj commented on #2406
ok - so that gets me past my first issue.  The next one is that I'm not really building in the container at this time.  Here is my shippable.yml.  Notice in the after_success section that I run a deploy.sh bash script that does the real build and running of my tests on several staging servers in my server farm.  The status shows that section is running successfully, but I know these scripts are no

[2016-03-18 00:13] vastbinderj commented on #2406
Hold up a bit, I see now that there is a ssh failure, give me a bit to fix that.

[2016-03-18 00:16] abhijitkini opened #2409 "How to parse SBT test reports on Shippable?"
This question was posted on Stack Overflow:
http://stackoverflow.com/questions/36072527/how-to-parse-sbt-test-reports-on-shippable

[2016-03-18 00:19] manishas commented on #2406
First of all, a mix of yml syntax is not supported. You either need to do old format or new format....[migration guide is in our blog.](http://blog.shippable.com/migrating-to-the-new-build-platform)

Here is how your yml will look:

[code]

[2016-03-18 00:25] manishas commented on #2408
@cramblda can you try again? We discovered an issue and it is now resolved.

[2016-03-18 00:27] abhijitkini commented on #2409
Details of the question by the customer:
I have a simple Scala project, build with `sbt`, tested with JUnit. The project is plugged into Shippable CI and in the CI interface, I can see `Tests` tab when running a build. Seeing `"No test reports exist, skipping test report processing"` message and reading Shippable documentation led to adding following into the `shippable.yml` file:

`before_script:

[2016-03-18 00:31] vastbinderj commented on #2406
TY - I'm not the normal guy on devops stuff - I only come poke around when folks are really frustrated...  I'll read thru the blog post.

To be fair, I never received notification of pending changes to the YML format.  We've run with the older yml format for many months without a hiccup until this past week.  I wish i had been notified of a breaking change like this through email and not a blog po

[2016-03-18 00:39] manishas commented on #2406
We do have a translator in place for folks who are using the old format. That should work for your case, except once you start using the new format you have to migrate completely.

Great point about readthedocs. We'll have that addressed very soon!

[2016-03-18 01:42] abhijitkini commented on #2333
The [documentation on deploying to Elastic Beanstalk](http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk) has been updated.

[2016-03-18 01:44] abhijitkini commented on #2368
The [documentation on deploying to Elastic Beanstalk](http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk) has been updated.

[2016-03-18 01:46] abhijitkini commented on #2317
The [documentation on deploying to Elastic Beanstalk](http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk) has been updated.

[2016-03-18 01:48] abhijitkini commented on #2267
The [documentation on deploying to Elastic Beanstalk](http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk) has been updated. It includes Docker deployment.

[2016-03-18 02:57] vastbinderj commented on #2406
TY Manisha!  I appreciate the quick responses and I'll look into the translator.  We'll definitely move our yml files to the new format.  I also signed us for a more reasonable subscription even though our current usage is minimal.

[2016-03-18 03:09] manishas commented on #2406
You don't need to do anything to use the translator :) As long as your project was enabled before our launch day (2/29) and is using the old format it should run as expected. If you run into any issues we'll help out asap.

Also happy to jump on a hangout and help debug. Just let us know how we can help!

[2016-03-18 03:55] manishas commented on #2403
this is now in production. closing.

[2016-03-18 03:55] #2403 closed

[2016-03-18 03:55] manishas commented on #2397
Closing this issue.

[2016-03-18 03:55] #2397 closed

[2016-03-18 03:56] manishas commented on #2398
Closing this issue.

[2016-03-18 03:56] #2398 closed

[2016-03-18 03:56] manishas commented on #2388
Closing this issue since this was answered. Please let us know if you run into any issues and we'll reopen. thanks!

[2016-03-18 03:56] #2388 closed

[2016-03-18 05:13] manishas commented on #256
Our official images in the  [drydock repo on docker hub](https://hub.docker.com/u/drydock/) now have git 2.7.1 which supports subtree.

This is resolved, closing.

[2016-03-18 05:13] #256 closed

[2016-03-18 05:20] manishas commented on #182
This should be addressed with the new API - http://docs.shippable.com/api/

GET /runs/:id will give you all information for a run, including status. Closing.

[2016-03-18 05:20] #182 closed

[2016-03-18 05:48] manishas commented on #2368
@zebehringer the updated docs should provide details on how to set up beanstalk deployment with the new platform. Let us know how it goes :)

[2016-03-18 05:50] manishas commented on #2275
this env variable has now been added to the docs - http://docs.shippable.com/ci_configure/#standard-variables

[2016-03-18 05:50] #2275 closed

[2016-03-18 06:08] chetantarale commented on #2378
@mbrodala  We use php-build for building versions of PHP side by side with each other and phpenv for managing them.

Thanks for the suggestion on the ppa for PHP 7.We will try that out get back to you.

[2016-03-18 06:24] shrivara commented on #2207
@mbrodala We're taking a look at this and will get back to you.

[2016-03-18 07:52] svo commented on #2407
Hi @manishas,

My CI image was based on one of the older shippableimages images.

I have built it anew using the dry-dock equivalent and now, after some fiddling, have a green build.

Thanks very much for your time... it has been greatly appreciated.

[2016-03-18 07:55] manishas commented on #2407
:+1:

[2016-03-18 07:55] #2407 closed

[2016-03-18 08:38] Lughino commented on #2333
@abhijitkini @manishas @ttrahan thanks for the support!

[2016-03-18 10:10] ankul-shippable commented on #2409
Could not reproduce this. I have commented on stackOverflow question about yml structure and have given a link for successful build. I have asked the user to provide more information about YAML file.
http://stackoverflow.com/questions/36072527/how-to-parse-sbt-test-reports-on-shippable

[2016-03-18 11:12] chetantarale commented on #2387
@osumampouw  Every newly build image is first tagged as `tip`.
We then test tip to work with sample projects and test cases and then tag it as `prod` if everything is working fine on that image.
`marker` is something we use internally when patching images.

[2016-03-18 16:41] david-anyvan opened #2410 "Custom docker image not found"
I am trying to get our builds working with our own private docker image - it was pulling the image earlier, but now after updating the docker image it keeps coming up as not found.

[2016-03-18 17:14] manishas commented on #2410
@david-anyvan did you upgrade to the new yml format? Can you share your shippable.yml so we can take a look?

[2016-03-18 17:23] cramblda commented on #2408
Yes its working. Thanks.

[2016-03-18 17:23] #2408 closed

[2016-03-18 17:26] ttrahan commented on #2317
@jlsupport : we've completed the updates to our EB deployment integration and updated the documentation.  please re-open this issue if you continue to have issues deploying to EB.

[2016-03-18 17:26] #2317 closed

[2016-03-18 17:28] ttrahan commented on #2267
@jlsupport: we've completed the updates to our EB deployment integration and updated the documentation.  please re-open this issue if you continue to have issues deploying to EB.

[2016-03-18 17:28] #2267 closed

[2016-03-18 17:28] #2333 closed

[2016-03-18 17:29] ttrahan commented on #2368
@zebehringer : we've completed the updates to our EB deployment integration and updated the documentation.  I'll close this issue, but please re-open if you continue to have issues deploying to EB.

[2016-03-18 17:29] #2368 closed

[2016-03-18 18:25] trriplejay commented on #2405
Hello,

It looks like this this is caused by a change we made to one of our environment variables.  A fix should be available later today.  I'll update again once it's been deployed.

[2016-03-18 19:15] 9len opened #2411 "golang code coverage problems"
I am trying to get code coverage to work for our golang project. we have a bunch of packages we build, so I make coverage reports for each.

Here's a sample build:
https://app.shippable.com/runs/56ec4faa977f060d00f3b32a

I've tried with two different golang coverage converters, `gocover-cobertura` and `gocov`. In this build I've used both, putting results in `./shippable/codecoverage/$PACKAGE/a/co

[2016-03-18 20:26] moslemezzati opened #2412 "How can I use xvfb to run firefox?"
First of all thanks for your great service, I have issue about running Firefox due to test, here is my yml file
[code]

and my console:
![shippable](https://cloud.githubusercontent.com/assets/4618195/13890978/a3aa0af6-ed63-11e5-8f98-eb3c394a131b.png)

my build link is:
https://app.shippable.com/runs/56ec17506b2b030d0077a2b8
How can I fix it?

[2016-03-18 21:25] natcl commented on #2379
Does think also fix installing from git ?
My organisation has capital letters in it's name and it fails:
npm install MyOrg/myrepo gets converted to myorg/myrepo

[2016-03-18 21:32] manishas commented on #2379
@a-murphy can you look into this?

[2016-03-18 22:34] a-murphy commented on #2379
Sorry, I can't seem to find the problem.  Would you mind letting me know if this is GitHub or Bitbucket?  And, is it in the ```git_sync``` step, another command automatically added to the script, or part of your shippable.yml?

[2016-03-19 09:38] osumampouw commented on #2387
oh ok, cool thanks. Mine's working now after I made some changes. I'll use prod for stability then. Thanks

[2016-03-19 09:38] #2387 closed

[2016-03-19 12:09] adisos commented on #2404
@ric03uec
You may using other ruby version. In that case you should install bundler with `gem install bundler` before `bundle install`

[2016-03-19 17:48] trriplejay commented on #2405
This fix is deployed now. Let me know if you have any other issues.

[2016-03-19 17:48] #2405 closed

[2016-03-19 21:30] manishas commented on #2356
@chriskinsman we have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in additio

[2016-03-19 21:38] manishas commented on #2380
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]

[2016-03-19 21:39] manishas commented on #2362
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]
The

[2016-03-19 21:40] manishas commented on #2351
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]
The

[2016-03-19 21:40] manishas commented on #2343
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]
The

[2016-03-19 21:41] manishas commented on #2300
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]
The

[2016-03-19 21:41] manishas commented on #2235
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]
The

[2016-03-19 21:41] manishas commented on #2249
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]
The

[2016-03-19 21:41] manishas commented on #2389
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a ```cache: true``` in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the `cache_dir_list` tag in addition.

[code]
The

[2016-03-19 22:34] lloydcotten commented on #2351
Thanks for the update.  I'll give that a go this week.

[2016-03-20 08:37] jeppefrandsen opened #2413 "Builds hangs at provision job node"
I still have builds that hangs at provision job node. Especially when doing rebuilds. I have disabled caching but did not help.

[2016-03-20 12:26] jeppefrandsen opened #2414 "Less performance on new build setup"
With the old setup our builds took around one and a half our to complete. Now all builds timeout. It seems as there are less performance with the new setup. Have you changes something regarding this? Thanks.

[2016-03-20 22:53] manishas commented on #2414
@jeppefrandsen we are looking into your builds and trying to figure out why they are timing out.

One problem has been addressed - timeouts for paid plans should be 120 mins but this was set to 90 mins. We have changed this back to 120 mins.I am hoping that this will stop your builds from timing out.

Second - the new build platform no longer runs multiple build containers on a single machine. We

[2016-03-20 22:54] manishas commented on #2414
Also, do we have your permission to trigger a couple of builds for your project to help debug?

[2016-03-20 22:55] manishas commented on #2413
We deployed a couple of fixes on Friday to address this intermittent issue. Can you please try again and let me know if this is still happening?

[2016-03-20 23:19] svo opened #2415 "Clojure compilation issue only happening within shippable environment"
Hi,

I'm using a custom build image on a new clojure [project](https://app.shippable.com/projects/56ef2a899d043da07beed777) and I am having a weird compilation issue that only seems to occur within the shippable ecosystem:
[code]

Using the same image locally the tests run as expected.

Any assistance as always would be greatly appreciated.

Many thanks.

[2016-03-21 03:44] vastbinderj commented on #2406
TY Manisha.  I'll have this sorted by EOD tomorrow.  I had to put on my
fundraising hat for the weekend which needed my attention more.

- james

c: 206.953.0593 | e: james.vastbinder@gmail.com

On Thu, Mar 17, 2016 at 8:09 PM, Manisha <notifications@github.com> wrote:

[2016-03-21 04:55] rageshkrishna commented on #2412
Hi @moslemezzati. Here's a sample YML you can use: https://github.com/shippableSamples/sample_node_selenium/blob/master/shippable.yml

The key difference is that we no longer allow starting xvfb as a service. Instead, you need to run your test command with `xvfb-run`. I hope this helps.

[2016-03-21 05:38] jeppefrandsen commented on #2414
@manishas yes, sure. Just go ahead.

[2016-03-21 06:13] jeppefrandsen commented on #2413
@manishas it seems still to be a problem. You are welcome to trigger some builds on my behalf.

[2016-03-21 06:34] manishas commented on #2413
@rageshkrishna can you please follow up on this asap?

[2016-03-21 07:00] rageshkrishna commented on #2414
@jeppefrandsen I'm looking in to this issue now. I'll have some updates for you a little later today.

[2016-03-21 07:01] rageshkrishna commented on #2413
I'm looking in to this now.

[2016-03-21 07:05] jeppefrandsen commented on #2413
@rageshkrishna It seems the build now continued after ~15 minutes. Will provision job node always take this long? Thanks

[2016-03-21 07:07] jeppefrandsen commented on #2413
@rageshkrishna Build 115 still hangs in provision job node after enabling cache again.

[2016-03-21 07:32] chetantarale commented on #2404
@ric03uec Another reason for this is that there's

[2016-03-21 07:32] #2404 closed

[2016-03-21 07:33] chetantarale commented on #2404
@ric03uec Another reason for this is that there's

[2016-03-21 07:35] rageshkrishna commented on #2413
Provision node definitely shouldn't take that long. This is one of the things I'm looking in to. Would you mind if I cancel your currently running builds? There are a couple of things I'd like to do to debug this, but I need to first get to a clean slate with no running builds.

[2016-03-21 07:42] jeppefrandsen commented on #2413
Yes, sure. Just go ahead.

[2016-03-21 07:52] yobottehg opened #2416 "Env parameters not available on PHP cli after update"
i just updated the shippable yml to the new version and i recognized that the environment parameters are not available on the cli with the new setup:

[code]

`./app/console doctrine:schema:update --force` fails with connecting to database. With the old setup this worked:

[code]

Any help would be good.
Thank you

[2016-03-21 08:27] rageshkrishna commented on #2413
@jeppefrandsen It looks like the builds for one of the projects is pretty CPU intensive. I was just wondering what kind of build times you see locally, and the type of hardware you typically run them on (how much RAM, and how many cores?) . I'm trying to rule out any environment issues that could be causing builds to slow down in the new build system.

[2016-03-21 08:48] jeppefrandsen commented on #2413
@rageshkrishna I normally build it on a i5-4300 (dual core, 4 threads) with 3 threads and 6 GB RAM assigned to the VM running Linux. The build time is a bit less than 1 hour. Will just do a local build to verify.

[2016-03-21 10:01] AndreCimander commented on #2413
We are also having 100% stalling builds while provisioning a job node.

[2016-03-21 10:05] rageshkrishna commented on #2413
@AndreCimander Can you give me the github or bitbucket username you use to sign in to Shippable? Thanks.

[2016-03-21 10:07] cratz commented on #2315
@rageshkrishna
@pquentin is right after reading the documentation I thought `on_success` is triggered after the `ci` step so I tried to use this section for generating build artifacts and other stuff which should happen after the tests passed. Than I recognized that this event is only triggered when no error happen in the whole `build` section. I just moved all steps from `on_success` to `ci` and

[2016-03-21 10:09] #2315 closed

[2016-03-21 10:12] cratz commented on #2304
@rageshkrishna @manishas
Thanks and sorry for my late answer. I will change our setup accordingly!

[2016-03-21 10:13] cratz commented on #2313
@chetantarale
Thanks I will try it asap.

[2016-03-21 10:25] david-anyvan commented on #2410
Yes, I have changed to the new format - file attached
[shippable.yml.zip](https://github.com/Shippable/support/files/181982/shippable.yml.zip)

[2016-03-21 10:35] rageshkrishna commented on #2410
@david-anyvan, the `integrations` part of the YML needs to be at the same level as `build`, not nested within in. Please take a look at http://docs.shippable.com/ci_configure/ for some examples of this. Moving this should allow your docker hub integration to work correctly and get your image pulled.

[2016-03-21 10:43] AndreCimander commented on #2413
@rageshkrishna sent the information via mail :mailbox: Feel free to trigger builds.

[2016-03-21 10:50] chetantarale commented on #2416
@yobottehg We notice there you have specified `SYMFONY__DATABASE__USER=shippable` . Can you try using `SYMFONY__DATABASE__USER=root` . Please let us know if it doesn't work for you, or if you have any other questions.

[2016-03-21 10:53] yobottehg commented on #2416
This will not change anything because the user symfony wants to use is empty and not "shippable"

[2016-03-21 10:54] david-anyvan commented on #2410
Thanks - odd that it worked the first time around, and only failed after I updated the image - must have been cached before somehow

[2016-03-21 11:06] mspanc opened #2417 "git_sync step fails"
git_sync step fails in case of this build: https://app.shippable.com/runs/56efd567d7fd180d00e3df5f

The command was

`ssh-agent bash -c 'ssh-add /tmp/ssh/01_deploy; git clone ssh://.....'`

[2016-03-21 11:11] mspanc opened #2418 "nvm install step fails"
It is impossible to install nodejs 4.2.3.

The `nvm install 4.2.3` crashes on compilation.

Build URL: https://app.shippable.com/runs/56efd5d061cf9e100096eaeb

[2016-03-21 11:12] yobottehg commented on #2416
here's a screenshot of the actual fail, as you will see the Environment parameters are not loaded in php cli:

![php cli failure](https://cloud.githubusercontent.com/assets/12897717/13916960/237f6c98-ef5e-11e5-955b-10a6d1f6cb75.png)

[2016-03-21 11:15] yobottehg commented on #2416
Here the symfony configuration:
![synfony conf](https://cloud.githubusercontent.com/assets/12897717/13917016/68455612-ef5e-11e5-9b1d-c1297a4f5c07.png)

Symfony extracts SYMFONY__DATABASE__USER into database.user and this should be available in cli

[2016-03-21 11:20] rageshkrishna commented on #2417
@mspanc There is a known issue with using shippableImages on the new build system. The problem is that those images were not built to set $HOME or $USER. The new build system does not initialize these variables any more. There are two ways to fix this:

1. Use the `drydock` images for your build instead of shippableImages. Please see http://docs.shippable.com/ci_languages/#nodejs for a list of sup

[2016-03-21 11:22] yobottehg commented on #2416
The strange this is that the SYMFONY__DATABASE__NAME parameter is available, but not the other 3. Perhaps because i used it before for creating the database?

[2016-03-21 11:27] jeppefrandsen commented on #2413
@rageshkrishna build time is around 50 minutes on my laptop.

[2016-03-21 11:35] pquentin opened #2419 "Can't cancel one stuck build"
I can't cancel https://app.shippable.com/runs/56ef56d1c42fb20c00915a2a. It looks like no request is sent when I click on Cancel/Yes. The run info looks ok, but the job info don't display correctly and the JS console outputs the following:

[code]

[2016-03-21 11:36] rageshkrishna commented on #2413
@jeppefrandsen Thanks. I've rounded down the problem to the fact that we now provide only only two cores on the build machines. I could see the CPU load on these machines go over 12, and after that everything locks up.

I think you may need to attach custom nodes to your subscription to get around this. The alternative is to use fewer threads for your compiles, but this would make the builds run s

[2016-03-21 11:37] rageshkrishna commented on #2413
@AndreCimander I'm looking in to your issue now

[2016-03-21 11:48] jeppefrandsen commented on #2413
@rageshkrishna okay. Thank you very much. Will look into using a custom build node instead.

[2016-03-21 11:57] rageshkrishna commented on #2413
@jeppefrandsen FWIW, I tested with a custom node from DigitalOcean (4 cores, 8GB) and a build ran in 36 minutes.

[2016-03-21 12:02] rageshkrishna commented on #2413
@AndreCimander Your issue should be resolved now. Please let me know if you still have trouble triggering builds. Thanks!

[2016-03-21 12:03] rageshkrishna commented on #2414
I'm going to close this now because the performance issues have been discussed as part of the investigations on https://github.com/Shippable/support/issues/2413#issuecomment-199235646

[2016-03-21 12:03] #2414 closed

[2016-03-21 12:30] #2235 closed

[2016-03-21 12:30] #2249 closed

[2016-03-21 12:30] #2300 closed

[2016-03-21 12:31] #2343 closed

[2016-03-21 12:31] #2389 closed

[2016-03-21 12:32] #2380 closed

[2016-03-21 12:32] #2362 closed

[2016-03-21 12:32] #2351 closed

[2016-03-21 12:32] #2356 closed

[2016-03-21 12:33] #2412 closed

[2016-03-21 14:06] cratz commented on #2313
@chetantarale
I'm still not able to use default ruby image for our build because of missing libraries but I'm not able to reopen this issue.

Build:  https://app.shippable.com/runs/56efd8c3ca1aa60d00fda642
[code]

If this image is intended to work similar to the old `shippable/minv2` image you should not be that restrictive with pre-installed libraries.
Of course I can install all needed packages

[2016-03-21 14:15] cratz commented on #2304
@manishas @rageshkrishna
I fixed the typo in the shippable.yml and it looks like it is working but I can't check it finally since the latest latest drydock image is not working at all for us. For more details on this see #2313.

[2016-03-21 16:29] cratz opened #2420 "Add user options to define display rules for build status on sub/home page"
on homepage and on subscription home page in status section (see: #2219)
It still looks like shippable is only checking `master` branch (two working jobs) and it is not working for other branches.
Is it intended to work like this or should it show the latest build?

![statusstuck](https://cloud.githubusercontent.com/assets/351588/13925752/d5f58a9e-ef89-11e5-996b-898bcc824474.png)

[2016-03-21 16:31] mspanc commented on #2417
I've changed the image to

[code]

but now I run into this: https://github.com/Shippable/support/issues/2418

[2016-03-21 16:40] a-murphy commented on #2416
Since you switched to the new shippable.yml format, the default image likely changed to the new default PHP image instead of ```shippable/minv2```.  This image, ``` drydock/u14phpall:prod```, doesn't have a ```shippable``` user in the MySQL database.  It appears to be trying to access the database without a user name because ```shippable``` is not in the database.  Creating a ```shippable``` user

[2016-03-21 16:42] manishas commented on #2418
@mspanc the build you have linked to is still using shippable/minv2. Look at the boot container section and you will see it there.

Can you share your yml? I just tried with drydock/u14nod:prod and did not run into an error with 4.2.3. My yml was:

[code]

[2016-03-21 16:45] manishas commented on #2420
@cratz this is the logic:
- Show status of latest build for default branch of project
- If no default branch, show status of latest build of master branch
- If no default and no master branch, show status of latest build (across branches)

Let me know if this is not working according to the logic above.

[2016-03-21 16:48] manishas commented on #2385
This has been bumped up in priority since it will enable users to run custom images with any language. Update soon :)

[2016-03-21 16:56] cratz commented on #2420
@manishas,
thanks for the explanation!
It is not working according to the logic you described.

works for us

works for us

not working always shows 0.
Our default branch is 'master' and has no builds yet but we have ~420 builds in this project on multiple branches.

As @mspanc mentioned in the original issue this is not critical and it's nothing that prevents us from using shippable.

[2016-03-21 17:04] manishas commented on #2420
If your default branch is master and has no builds, that's why it shows 0. The first condition (Show status of latest build for default branch of project) is being called  so its showing latest build for master.

Am I missing something?

[2016-03-21 17:25] mspanc commented on #2418
I've forgotten about `build` key

[2016-03-21 17:25] #2418 closed

[2016-03-21 17:33] manishas commented on #2417
This is resolved, so closing.

[2016-03-21 17:33] #2417 closed

[2016-03-21 17:33] manishas commented on #2410
closing since this is resolved.

[2016-03-21 17:33] #2410 closed

[2016-03-21 17:36] manishas commented on #2241
Closing this. Please let us know if this is still not working and we can take a look.

[2016-03-21 17:36] #2241 closed

[2016-03-21 17:39] manishas commented on #2413
@jeppefrandsen let me know if you need any help with setting up custom nodes. Couple of links that might help:

[Overview of running builds on your own machines](http://docs.shippable.com/ci_byoh/)
[Instructions showing how to attach build nodes to your subscription](http://docs.shippable.com/ci_subscriptions/#adding-your-own-build-infrastructure-byoh)

[2016-03-21 17:52] manishas commented on #2378
I have added an [FAQ explaining this to the docs](http://docs.shippable.com/ci_faq/#i-am-using-php-70-and-am-unable-to-install-extensions-as-part-of-my-yml-config).

[2016-03-21 17:59] manishas commented on #2409
I am going to close this since there was no response from the customer in either place.

[2016-03-21 17:59] #2409 closed

[2016-03-21 18:00] manishas commented on #1899
I am closing this issue, but please let us know if you want us to enable a specific scenario and we'll be happy to reopen and investigate. Thanks!

[2016-03-21 18:00] #1899 closed

[2016-03-21 18:01] manishas commented on #2400
This has not been fixed, so closing. Please let us know if you still don't see test and coverage reports.

[2016-03-21 18:01] #2400 closed

[2016-03-21 18:04] manishas commented on #2198
The build system has been revamped since this issue was opened, so am closing this out. Please re-open if you still run into this.

[2016-03-21 18:04] #2198 closed

[2016-03-21 18:16] scottclowe commented on #2198
Okay, I'll rerun the build and see if it now works

On 21 March 2016 at 18:04, Manisha <notifications@github.com> wrote:

[2016-03-21 18:19] jeppefrandsen commented on #2413
@manishas thank you very much - and thank you for an outstanding support! Currently looking into using Linode servers.

[2016-03-21 18:19] #2413 closed

[2016-03-21 18:51] yobottehg commented on #2416
okay thanks that worked. i'll close this issue

[2016-03-21 18:51] #2416 closed

[2016-03-21 19:18] kevinvandervlist commented on #2241
We switched to the new plan this morning, it indeed looks like the error is gone.

[2016-03-21 19:20] manishas commented on #2241
:+1:

[2016-03-21 21:22] robertfausk commented on #2416
I had the same issue yesterday within my first hours with shippable. Btw. I like it.

Would be nice if the docs are updated too.

[2016-03-21 23:00] trriplejay commented on #2419
Looks like your run got into a strange state somehow.  It should be cleaned up now. Can you try again and let us know if it still has issues?

[2016-03-21 23:05] jgregors opened #2421 "Cannot Edit Pipeline Image"
I am trying to change the allocated memory of an existing image in a pipeline. From the pipeline settings page, I click on the "new version" button and then click the "edit" button of the existing image. At this point, I get an error in the browser console:

TypeError: Cannot read property 'images' of undefined
    at app.min.js:9
    at Function.s.some.s.any (lib.min.js:5)
    at m.a.validatePort

[2016-03-21 23:15] trriplejay commented on #2421
Looks like a bug.  We're working on the fix.  We'll update you as soon as this is deployed.

[2016-03-21 23:35] OneLittleRobot opened #2422 "Autodeploy to EBS - Private Docker"
I'd originally set up a process using this document. https://github.com/Shippable/docsv2/blob/ec407a60817f663619ac630341ce1c66c6e993eb/sources/ht_autodeploy-to-ebs.md

In the recent changes it seems that the functionality to authenticate to a private docker image has changed.

The current documentation references authentication but skips the details on how to accomplish this
http://docs.shippable.

[2016-03-22 00:06] abhijitkini commented on #2422
@OneLittleRobot we will update the documentation shortly to reflect it

[2016-03-22 00:15] ttrahan commented on #2422
@OneLittleRobot: with the updated approach, we want to clearly delineate what Shippable is doing automatically behind the scenes and what occurs outside of that context.  Shippable authenticates with AWS, updates your deployment config, uploads it to S3, and issues the update command to EB, but authenticating and pulling private third party registries images occurs after that and is an EB activity

[2016-03-22 02:19] chriskinsman opened #2423 "Duration doesn't match sum of build step times"
Love that you added back durations to the build steps.  I am frequently however seeing total durations that do not add to the sum of the build steps.

Frequently this happens when a node is provisioned but have seen other scenarios...

[2016-03-22 02:20] chriskinsman opened #2424 "build_ci needs a duration for each step"
Each step in build_ci needs a duration so we can see where the time is being taken without having to add our own timing...

[2016-03-22 05:05] pquentin commented on #2419
Thank you @trriplejay.

[2016-03-22 05:05] #2419 closed

[2016-03-22 05:11] pquentin opened #2425 "Thanks"
A few weeks ago, more than 10% of Shippable support issues were still open, but it's now down to 2%. Thanks for your dedication towards fixing this! This statistic makes a real difference to us.

And while I'm at it, even if the UI is still slow, the builds run much faster and that's really, really appreciated.

Thank you Shippable!

[2016-03-22 05:11] #2425 closed

[2016-03-22 07:27] manishas commented on #2425
@pquentin thank you for the words of appreciation. It really means a lot to the entire team!

[2016-03-22 07:50] rageshkrishna commented on #2411
@9len Can you please share one of these report files with us? It looks like our parser is unable to identify the format of your reports. You can upload it here or email it to me at ragesh@shippable.com. Thanks!

[2016-03-22 07:52] chetantarale commented on #2378
The ppa approach is not working for images with multiple php versions, but that we're tagging this as a feature request since we will explore creating a php7 specific image.

[2016-03-22 09:09] cratz commented on #2420
I think our case should match 3th condition:

No builds on master (and / or default) branch should show latest build and branch should not matter.

[2016-03-22 10:25] chetantarale commented on #2313
@cratz we have identified all the missing packages in our images and here is the list.

[code]
Can you please help us here and let us know what packages you need so we can incorporate them in our images.

[2016-03-22 10:57] drublic commented on #2235
Thank you for the update!
Sadly we've moved on from Shippable with my current project. It's great to see the progress now though :)

[2016-03-22 12:34] avinci commented on #2423
The way the system is designed is that it has two core types of objects that get created. The RUN and the JOB/s. Run duration is the total length during which it was in a non terminal state. Job length is the total duration it took the YML to process. Adding this and making them tie up is not the right thing as one is a super set of the other. Hence this is by design.

Hope this helps.

[2016-03-22 12:36] balavignesh-s commented on #2421
@jgregors This issue has been resolved and deployed. Please feel free to reopen the issue if you still face any issues.

[2016-03-22 12:36] #2421 closed

[2016-03-22 12:46] avinci commented on #2424
We already have this data and should be relatively simple to add. Just need to find someone to do it :-)

[2016-03-22 13:08] avinci commented on #2425
Thank you very much for noticing and as @manishas said, it means a lot to the team as they were relentless for the last 2 months to make this happen.

In the middle of last December, we had a 'sit-down`internally and tried to come up with a plan to resolve this problem of ever increasing support issues. We wanted to resolve every support issue BUT the problem was that our core platform did not all

[2016-03-22 13:21] chriskinsman commented on #2423
What I am trying to reconcile is I look in my job history and see a job that took 7 minutes. That is longer than I want my builds to take so time to optimize.  Why did it take 7 minutes?

So I drill into the history and see the build_ci: step took the longest at 2m 31s.  I look at all the other steps and see they took 1-2s.   I can't figure out why the build took 7 minutes when the stuff I see run

[2016-03-22 13:34] avinci commented on #2136
We have deployed the new caching implementation to production. Docs have also been updated - http://docs.shippable.com/ci_configure/#caching-your-container

As mentioned in the docs, simply having a cache: true in the build section of the yml will result in $SHIPPABLE_BUILD_DIR being cached. You can also choose to cache specific folders using the cache_dir_list tag in addition.

'''
build:
  cache

[2016-03-22 14:30] brianpmaher commented on #2309
I'm seeing this issue as of today.

Issue happens on one PR only and rebuilds throw the same error. Other PRs are building fine.

[2016-03-22 15:11] allenwei opened #2426 "No shippable user for mysql"
according the the document

  Create a DB as part of the ci section before you use it

http://docs.shippable.com/ci_configure/

but there is no shippable user at all

[code]

The default ruby image is
[code]

[2016-03-22 15:34] manishas commented on #2426
Sorry about this, we will update the docs asap.

The new images, including ``` drydock/u14ruball:prod```, do not have a ```shippable``` user in the MySQL database.  Creating a ```shippable``` user when creating the database will solve this problem, as would using the default ```root``` database user.   To create a user with the same privileges as the previous ```shippable``` user add ```mysql -e "

[2016-03-22 15:37] allenwei commented on #2426
Thanks for quick response, I'm using `root` user right now.

[2016-03-22 15:53] manishas commented on #2426
@allenwei thanks for the update!

Docs have been updated - http://docs.shippable.com/ci_configure/#mysql

Closing this issue.

[2016-03-22 15:53] #2426 closed

[2016-03-22 15:53] manishas commented on #2406
@vastbinderj i am closing this issue, but if you run into any issues please let us know and we will reopen.

[2016-03-22 15:53] #2406 closed

[2016-03-22 16:57] cratz commented on #2313
@chetantarale
Of course I can help you but I can't tell you when I will have time for this.
I will try to get back to you until the end of this week.

[2016-03-22 17:30] vastbinderj commented on #2406
TY for your help @manishas, I was able to figure everything out yesterday.

[2016-03-22 17:36] #2136 closed

[2016-03-22 22:43] manishas commented on #2423
@chriskinsman the extra overhead also includes the time it takes to provision a node. You can control this if you move to dedicated nodes, i.e. using your own nodes which will always stay up and not need to be provisioned each time. Of course, you'll end up paying for the nodes so that's the tradeoff.

We will investigate ways of speeding up this step for Shippable nodes in the future. Our build n

[2016-03-22 22:43] #2423 closed

[2016-03-22 22:45] manishas commented on #2420
So you're suggesting that if a branch has 0 builds, treat it as if the branch doesn't exist.... we'll need to think through the scenarios before making this change. I'll mark this feature request.

[2016-03-22 22:46] manishas commented on #2411
We are working on a fix for this.... it is being tested in beta so will be deployed soon.

[2016-03-22 22:47] bittner commented on #2206
I'm really having a hard time accepting that I can't add the hook URL value to the configuration file. This breaks my "infrastructure as code" understanding.

[2016-03-22 22:58] manishas commented on #2206
@bittner we want to standardize how integrations with third party services are handled, and that is the main reason behind needing an account integration for everything.

@mbrodala we do have defaults for the triggers:

[code]

We will retest this to make sure it works as expected.

[2016-03-23 00:15] 9len commented on #2411
Awesome. Thanks for the quick responses and turnarounds.

[2016-03-23 00:32] manishas commented on #2411
@9len we will need the report files to make sure we address this specific issue. Can you please send them to ragesh@shippable.com?

[2016-03-23 00:45] 9len commented on #2411
Sent them this morning.

[2016-03-23 07:57] cratz commented on #2420
Yes something like this or may be even simpler by just showing the latest build of the project without any logic of checking branches. Users will be still able to check status of all branches on the project page.
The problem I see with applying any logic at this place is that no matter how sophisticated your algorithm is it will never fit to all of your customers.

[2016-03-23 08:02] luckyraul opened #2427 "Integration name match problem"
https://app.shippable.com/runs/56f24d388ded2a0e004182f3

[code]

both the same as in account

[2016-03-23 09:41] rageshkrishna commented on #2427
@luckyraul Thanks for reporting this. I'll see if there's a good way to surface this error message.

[2016-03-23 10:26] pquentin opened #2428 "API: How can I get started builds or complete builds but not cancelled builds?"
I'm using `/subscriptions/:id/runStatus?status=complete,incomplete` as advised in #2339 to get started and finished builds but this also returns cancelled builds. Is there some way to avoid the cancelled builds?

More generally, is it possible to document the actual statuses?

Thanks

[2016-03-23 10:44] rageshkrishna commented on #2428
@pquentin Here are all the states:

[code]

I hope this helps. We'll get this added to our documentation soon.

[2016-03-23 13:06] mnexo opened #2429 "Increased build times and timeouts after conversion to new .yml format"
Hello,

Since switching to the new Shippable format (or possibly due to the changes performed by Shippable on 3/18), we've been observing significantly slower build times and many timeouts due to the build not starting at all. We don't believe any changes in our code base could have caused this.

Project ID: 560837cd1895ca4474186b2a

_This is a sample of builds just before the switch 3/18. The top

[2016-03-23 13:08] mnexo opened #2430 "Increased build times and timeouts after conversion to new .yml format"
Hello,

Since switching to the new Shippable format (or possibly due to the changes performed by Shippable on 3/18), we've been observing significantly slower build times and many timeouts due to the build not starting at all. We don't believe any changes in our code base could have caused this.

Project ID: 560837cd1895ca4474186b2a

_This is a sample of builds just before the switch 3/18. Build n

[2016-03-23 13:09] #2429 closed

[2016-03-23 15:18] adamalesandro opened #2431 "Question about SSH deployment"
Hi shippable,

I am trying to hook up an automated deployment using ssh and I am running into a strange issue.  According to [this post](http://blog.shippable.com/demystifying-shippables-deployment-keys), my deployment keys should be located in the `~/.ssh` directory with a name of id_rsa.

I added a `ls` command in the `after_success` so I could see whats in the folder:
[code]

and when it gets t

[2016-03-23 15:39] a-murphy commented on #2431
That post is a little outdated.  The SSH keys have been moved to ```/tmp/ssh``` and renamed ```00_sub``` (subscription) and ```01_deploy``` (project).  However, you might not need to use the SSH key file directly in your shippable.yml file now.  It should already be set up to use the subscription SSH key (see https://github.com/Shippable/support/issues/2375#issuecomment-196117852 for an explanatio

[2016-03-23 15:40] adamalesandro commented on #2431
@a-murphy thanks!

[2016-03-23 15:40] #2431 closed

[2016-03-23 16:29] manishas commented on #2430
@mnexo one of your team members already reported this and here is the issue and discussion - https://github.com/Shippable/support/issues/2413

To summarize, our new build platform runs one build per machine. Each machine is 2 cores, 3.75GB. This is a change from the old platform which ran multiple builds per machine in a multi-tenant fashion and so the machines were much bigger and each build cont

[2016-03-23 16:59] manishas commented on #2206
@vidyar can you test this and make sure the slack notifications work as expected?

[2016-03-23 19:01] chriskinsman opened #2432 "Ability to keep a node alive between certain hours"
We currently pay for 8 minions/nodes.

First folks in the morning pay the wait time for nodes spinning up.  Then if we have a long meeting or lunch we have to wait for things to spin up again.

Sure would be nice if say between the hours of 7 and 4 it wouldn't shut all nodes down but would leave at least one spun up.

Alternatively if you had a pool of nodes that was pre-spun up and used to satisf

[2016-03-23 19:07] Nightw0rk opened #2433 "Error on get cache from aws"
after enable `cache:true` on shippable.yml get error on boot_container step:

on previous build on cache step get message

[2016-03-23 19:11] chriskinsman opened #2434 "Commit as Part of Build Preventing Endless loop of builds"
I am building a nodejs package.

As part of the build I want to increment the version in package.json, commit the change and push it to the repository.

By doing this I however trigger another build, which then increments the version, etc.

Is there any way to prevent the commit during the build from triggering another build?

An alternative would be to version it based on the build number environ

[2016-03-23 19:24] a-murphy commented on #2434
If ```[skip ci]``` or ```[ci skip]```is in the commit message, a build will not be triggered for the commit webhook.  However, for pull request webhooks we check the pull request title instead (it's what we get from GitHub), so it is possible that builds will still be triggered for any pull requests updated by the commit.

[2016-03-23 19:25] manishas commented on #2432
We will find ways to improve provisioning time over the next few weeks. This is always going to WIP which balances between impact to build times vs cost of operations vs pricing per node and might result in additional plan tiers.

You can use dedicated hosts if you want your hosts to stay up all the time. However we currently do not support a hybrid of dedicated hosts and shippable hosts, so you'd

[2016-03-23 19:25] #2432 closed

[2016-03-23 19:43] chriskinsman commented on #2434
Seems dangerous.  I think I am going the route of not doing a commit during build...

[2016-03-23 19:43] #2434 closed

[2016-03-23 19:45] chriskinsman commented on #2432
Yep.  Thats tough. Hybrid would be nice.  To be able to run one build node of my own all the time and then use your auto creating nodes to scale up...

[2016-03-23 20:49] ttrahan commented on #2336
@GEverding : just checking in on 2) above. If you'd like to connect offline, please email me at tom@shippable.com and we'll arrange a Hangout.

[2016-03-23 23:36] maxfi commented on #2262
@manishas Thanks for the information about the support for json in encrypted variables. I'll check it out and update the project.

Yes, please feel free to include the repo in as a sample project. Hopefully it's useful for others! :-)

[2016-03-24 04:56] kanthchandra commented on #2433
Hi @Nightw0rk , we noticed that your builds 1-12 failed for various reasons, no cache was pushed for those builds. Build 13 did not find anything in the cache and hence you see that message. It is an expected message when no cache exists. Cache was successfully pushed at end of build 13 and so build 14 onwards should be able to use the cache. Can you please try running the build again and let us k

[2016-03-24 06:06] pquentin commented on #2428
Thanks! Please mention the meaning of those statuses in the documentation: I don't know what skipped and unstable mean.

[2016-03-24 06:09] pquentin opened #2435 "Documentation search only works from http://docs.shippable.com/"
When searching for "Shippable" from the /api page, I get redirected to http://docs.shippable.com/api/search.html?q=Shippable but I don't get any results.

[2016-03-24 07:45] manishas commented on #2435
@xdothackerx we need to fix this asap

[2016-03-24 08:07] czardoz opened #2436 "[Question] Does migration to the new format reset deployment keys?"
Do the keys that shippable generates for our projects change?

[2016-03-24 08:18] rageshkrishna commented on #2436
@czardoz No, they should not have changed. However, we do store them at a different location in the build container now. Please let me know exactly what you're running in to and I might be able to help you sort it out. Thanks!

[2016-03-24 08:22] czardoz commented on #2436
Oh, we have not actually migrated yet. Here's the relevant part of my shippable config,

[code]

[2016-03-24 08:31] rageshkrishna commented on #2428
@pquentin "Unstable" is for when a job ends successfully (meaning it returned an exit code of 0), but there are one or more failed tests.

If any job in a matrix run fails, the run will be marked as failed.

If at least one job in a matrix is unstable and all the other jobs are successful, the run will be marked as unstable.

I hope this clarifies things. Let me know if you have any more questions

[2016-03-24 08:51] kepkin opened #2437 "My builds started to fail today"
My project https://app.shippable.com/projects/56411a971895ca4474230e43 started to fail.

It seems you have changed post docker build to pre-ci build. But I can't change it back in settings.

[2016-03-24 09:00] rageshkrishna commented on #2437
Hi @kepkin. Your subscription has been migrated to the new build system. I'm looking in to why your docker build is happening at the wrong step.

[2016-03-24 09:12] rageshkrishna commented on #2437
@kepkin Can you please try triggering a new build on your project now?

[2016-03-24 09:21] pquentin commented on #2428
Great, thank you. Leaving open for the documentation update.

[2016-03-24 09:40] rageshkrishna commented on #2436
@czardoz Your YML does not seem to have been pasted correctly. Please try it again, or you can email me at ragesh@shippable.com if you need help with something. Thanks.

[2016-03-24 09:41] czardoz commented on #2436
No worries, things working just fine. Thanks!

[2016-03-24 09:41] #2436 closed

[2016-03-24 09:45] kepkin commented on #2437
@rageshkrishna still fails but with a different error now. Looks like some python package are missing now.

[2016-03-24 09:45] kepkin commented on #2437
Where can I read about new build system? What have changed?

[2016-03-24 10:05] rageshkrishna commented on #2437
Our documentation has been updated to describe the new system. Please take a look at https://docs.shippable.com for the details. I'll get back to you soon on the error you're seeing.

[2016-03-24 10:12] rageshkrishna commented on #2437
@kepkin I've located the bug that's causing this issue. The virtualenv directory is being set incorrectly for builds running on shippable/minv2, which is why it's complaining about missing packages. I'll have a fix deployed for this soon.

[2016-03-24 10:25] rageshkrishna commented on #2437
The fix for this issue is being tested in beta right now and will make it to production in the next deployment.

[2016-03-24 10:32] rageshkrishna commented on #1908
This is now possible with the new build system. You can get your build container to run as any user with the `pre_ci_boot` section of the YML:

[code]

[2016-03-24 13:36] kanthchandra commented on #2385
Hi everyone,  This is now available in production. You can use the tag `language: none` in your shippable.yml and we wont be executing any default scripts for the build.

[2016-03-24 13:38] mspanc commented on #2385
Wonderful!

[2016-03-24 13:39] avinci commented on #2427
this is in production and should be throwing a console error.

[2016-03-24 13:40] kanthchandra commented on #2437
Hi @kepkin, this has been fixed and deployed to production. Can you please let us know if this works for you. thanks.

[2016-03-24 13:41] #1908 closed

[2016-03-24 13:43] luckyraul commented on #2427
ok, how to place my CA into ```/etc/docker/certs.d/```?

[code]

[2016-03-24 13:51] avinci commented on #2100
We also added `language : none ` today which removes the lying part. Since C really has no setup required from our side like rvm, nvm, etc. is there anything i am missing?

[2016-03-24 14:00] avinci commented on #2420
I think the fundamental question is this. Whats the status of the repo that has multiple branches. We went with the approach that we always show the default branch and if not set, show master status. This is the best we can do as showing the last commit status of any branch as the status will mislead a whole bunch of other folks who use default branch value.

As @cratz mentioned, there is no way t

[2016-03-24 16:01] kepkin commented on #2437
Now it fails on building docker image cause can't find file `buildoutput/requirements.txt`

Do you have some kind of changelog? I don't want to go through all https://docs.shippable.com again to understand what have changed. Also, https://docs.shippable.com is not working at all

[2016-03-24 16:33] a-murphy commented on #2437
The ```post_ci``` step is run in the build container, so a Dockerfile used to build an image there can use any of the files in the container at that time.  We are not requiring the files that you want to use to be moved into a ```buildoutput``` folder in the new build system, and it sounds like there is no ```buildoutput/requirements.txt``` in your container.  It's quite likely that the file you a

[2016-03-24 16:53] chriskinsman opened #2438 "Paused project unpause on next webhook"
It doesn't appear it is possible to pause a project.

As soon as the next webhook comes in it unpauses itself...

[2016-03-24 17:35] ryan-kimber commented on #905
It would be particularly useful if this was combined with [#693](https://github.com/Shippable/support/issues/693)

Configuring this in the project settings would be great, so shippable doesn't have to pull my branch/tag only to find out we don't want it built.

[2016-03-24 18:48] a-murphy commented on #2438
So, the project appears to have been unpaused as a result of a bug in account synchronization, which is done automatically to keep the list of projects that the account has access to up-to-date (but shouldn't be setting if the projects are paused or not).  This has been corrected in Beta and we'll let you know when it is deployed to production.

[2016-03-24 18:52] catskul commented on #1092
@manishas can you link to the yml conversion doc? I tried a few obvious links and didn't find any clear indication of what changed and how old yml should be adjusted.

[2016-03-24 18:59] manishas commented on #1092
@catskul here are a few links that will help:

New yml config: http://docs.shippable.com/ci_configure/
Migration guide: http://blog.shippable.com/migrating-to-the-new-build-platform
5 migration tips: http://blog.shippable.com/5-tips-for-a-successful-migration

Also, our new official images are in the [drydock repo on Docker Hub](https://hub.docker.com/u/drydock/) and naming convention for images i

[2016-03-24 19:46] ryan-kimber opened #2439 "Documentation should make clear all supported ENV variables"
There are a number of very useful variables set in the ENV, but the documentation only discusses a few. This makes me reluctant to rely on the others.

Please update the documentation to describe each variable that is 'supported', and specify that other variables may be added or removed without warning.  Perhaps prefixing the unsupported variables would help:

Current list:
==================
NVM_

[2016-03-24 20:54] a-murphy commented on #2438
It's been deployed to production, so projects shouldn't unpause themselves now.

[2016-03-24 21:35] #2438 closed

[2016-03-24 21:36] manishas commented on #2433
Closing this issue. Please let us know if you have any questions.

[2016-03-24 21:36] #2433 closed

[2016-03-24 23:14] manishas commented on #2422
@abhijitkini have we updated docs for this?

[2016-03-24 23:17] manishas commented on #2430
@mnexo Let me know if you have any more questions or want to discuss further.

Closing this since there is nothing actionable for us to do here.

[2016-03-24 23:17] #2430 closed

[2016-03-24 23:32] abhijitkini commented on #2422
The docs are updated. http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk

[2016-03-24 23:32] #2422 closed

[2016-03-24 23:33] manishas commented on #2385
closing since this is now in prod.

[2016-03-24 23:33] #2385 closed

[2016-03-24 23:36] manishas commented on #2411
@ric03uec can you confirm when everything is in prod and close this issue?

[2016-03-25 01:07] xdothackerx commented on #2435
Hello @pquentin! Sorry for the issue you're having. Do you mind giving me a hand reproducing the problem so I can find out what's wrong? I'd like to know what browser and OS you're viewing http://docs.shippable.com/api/ from, if you don't mind.

[2016-03-25 01:12] xdothackerx commented on #2435
@pquentin I have an idea of what you might be talking about - by any chance, do results appear while you are typing in the search bar, but disappear when you press enter?

[2016-03-25 01:51] manishas commented on #2411
This is confirmed to be in prod so closing the issue.

@9len let us know if you run into any issues.

[2016-03-25 01:51] #2411 closed

[2016-03-25 03:19] manishas commented on #2428
@abhijitkini this is another docs issue we need to address.

[2016-03-25 03:21] manishas commented on #2439
@abhijitkinican you take care of this?

[2016-03-25 03:21] manishas commented on #2100
Closing this issue. @larsbrinkhoff let us know if you have any questions.

[2016-03-25 03:21] #2100 closed

[2016-03-25 03:24] 9len commented on #2411
Coverage no longer produces an error, but it produces reports with all zeros.

https://app.shippable.com/runs/56f4ae5e2eca350d006e090a

(the logs of the running tests indicate non-zero coverage.)

[2016-03-25 03:33] pquentin commented on #2435
@xdothackerx exactly! I'm using Firefox on OS X.

[2016-03-25 11:36] JohnnyNiu opened #2440 "Keep get alert and abort: shippable Integration with docker registry"
I am new to shippable, When I follow the instruction to deploy my image to my docker registry, I keep getting alert as follow:

![](http://i.stack.imgur.com/mnd71.png)

Build Result in console

![](http://i.stack.imgur.com/VOA6f.png)

But I checked it all over and it's all matched:

Configuration in my account

This is my shippable.yml:

integrations:
  hub:
    - integrationName: ship-docker

[2016-03-25 11:48] kanthchandra commented on #2440
Hi @JohnnyNiu ,

Have you added the "ship-docker" hub integration to your project settings page? If not please go to the project settings page and add in the hub integrations drop down please select "ship-docker" and see if it solves the problem.

If it doesn't solve the problem, Can you please post the id of the project that is showing this alert?

You can get more information about configuring y

[2016-03-25 11:55] JohnnyNiu commented on #2440
thank you very much @kanthchandra, After add the setting, it is working now.

[2016-03-25 11:55] #2440 closed

[2016-03-25 14:24] #2437 closed

[2016-03-25 14:32] avinci commented on #2336
@ttrahan did you guys connect? I am closing this as there is no action for us. Please re-open if there is any....

[2016-03-25 14:32] #2336 closed

[2016-03-25 20:09] xdothackerx commented on #2435
Bug should now be fixed!

[2016-03-26 05:09] pquentin commented on #2435
Thank you.

[2016-03-26 05:09] #2435 closed

[2016-03-26 12:33] mikaelh opened #2441 "[pipeline] Error while adding a new image (Cell Manifest) using GCR integration"
When adding a new image using GCR integration, it always seem to give this error: "The image sync failed, most likely due to invalid account integration, invalid image name, or connection issues"

The GCR integration works fine in the CI-environment and is configured with a service account in Google Cloud.

Link: https://app.shippable.com/subscriptions/56b4962d1895ca4474736e3a/newPipeline

Tried w

[2016-03-26 13:35] mikaelh opened #2442 "[gcloud] Install kubectl with gcloud sdk"
It wouuld be great if kubectl would also be installed with the default gcloud sdk packages.

[2016-03-26 16:55] menny opened #2443 "secret environment usage is not clear"
I'm trying to use environment variable with a CI using a custom docker image in my [open source project](https://github.com/AnySoftKeyboard/AnySoftKeyboard/).
This is my `shippable.yml` file: https://github.com/AnySoftKeyboard/AnySoftKeyboard/blob/master/shippable.yml

It seems that no matter what I do, the scripts inside the Docker image do not get the environment variable values.

For example, (

[2016-03-26 17:11] manishas commented on #2443
@menny you need to tweak your yml a bit. The `env` tag should be at the same level as the `build` tag as shown below:

[code]

[2016-03-26 23:07] menny commented on #2443
Thanks!
that worked.

[2016-03-27 00:16] manishas commented on #2443
:+1:

[2016-03-27 00:16] #2443 closed

[2016-03-27 03:39] menny opened #2444 "Archive is not created"
I'm trying to enable the `archive` option in my `shippable.yml` file on a CI using a custom docker image in my [open source project](https://github.com/AnySoftKeyboard/AnySoftKeyboard/).
But it seems to have no effect.

At the top of my shippable file I've added `archive: true`, and then added `cp` calls in the `ci:` section:
[code]

https://github.com/AnySoftKeyboard/AnySoftKeyboard/blob/master/s

[2016-03-27 04:24] manishas commented on #2444
@menny in the new build platform, archiving is not available as a built in feature.

You will need to upload the artifacts to your S3 bucket by following the instructions in the link below:
http://docs.shippable.com/ci_configure/#build-artifacts

[2016-03-27 14:50] knowredev opened #2445 "Hub login fails"
I'm trying to move the github repositories to new organizations so Shippable account is also moved. However, it cannot login to Docker hub when trying to build on Shippable. The error messages are below:

I checked the password many times and the error message is different when I type dockerhub password wrong on purpose. Any idea?

[code]

[2016-03-27 14:53] avinci commented on #2445
A couple of things to check. Is your project integration on settings page accurate? Does the name of the project integration match your YML? If you could share your projectId, I can try and debug it...

[2016-03-27 14:56] knowredev commented on #2445
I'm not sure what you mean projectId, but these are the URLs of the project and build attempt.
https://app.shippable.com/projects/567bb5fe1895ca447466e46a
https://app.shippable.com/runs/56f7f3c09ae7e90c004537a3

And this is the content of shippable.yml below:
[code]

[2016-03-27 14:57] avinci commented on #2445
You are using project settings for Docker. We retired that functionality, can you delete all your docker settings and move to the new YML structure? You will need to add a docker hub integration and use the `pre_ci_build` & `pre_ci_boot` tags to accomplish what you are trying to do.

here is a blog that should talk more about this.
http://blog.shippable.com/migrating-to-the-new-build-platform

[2016-03-28 05:47] chetantarale commented on #2313
@cratz Thank you very much. We will wait for you to get back.

[2016-03-28 06:11] ric03uec commented on #2411
@9len looking at the coverage reports, all the statements for `class` in the xml show the following data

[code]
We're using this to parse the coverage stats. for some reason all the files have the `line-rate` and `branch-rate` set to 0 because of which you're seeing reports with all zeros.
you can fix it by tweaking the reports generator to add this data.

[2016-03-28 11:10] diwu1989 commented on #1092
@manishas the documentation for postgres doesn't work
![image](https://cloud.githubusercontent.com/assets/380950/14076911/eafcf556-f49a-11e5-84d3-21db3c1cf5e8.png)

[code]
please fix the documentation

[2016-03-28 14:13] KnowRe commented on #2445
I removed docker settings and tried several configuration but the hub login is still an issue. Here's my new `shippable.yml` file:

[code]

[2016-03-28 14:30] aftabaslam opened #2446 "Shippable failed to build a release"
Hi,
I am facing issue in shippable builds. We have exit 0 script section of my ymal file that should execute the on_success section of the file, however, the builds goes to failure.
![fireshot screen capture 003 - 1eq_one_account i develop_308 - shippable - app_shippable_com_runs_56f93d4e52c78c0d00bf8f9c](https://cloud.githubusercontent.com/assets/4181429/14080006/887d552a-f51b-11e5-812c-6b538ed6a

[2016-03-28 16:29] manishas commented on #2446
Assigning to Ragesh since he is already communicating about this issue over email.

@aftabaslam can you try @rageshkrishna 's suggestion of using `return 0` instead of `exit 0`?

[2016-03-28 18:25] a-murphy commented on #2441
```eu.gcr.io/<Google project ID>/<image name>``` would be the correct format, but apparently we're only expecting ```gcr.io``` right now.  Thank you for letting us know.  There should be any reason we can't sync ```eu.gcr.io``` as well and we'll let you know when it's fixed.

[2016-03-28 18:31] manishas commented on #2445
Assigning to @stephanielingwood .

@knowredev we've identified the issue and are currently working on a fix.

[2016-03-28 18:44] abhijitkini commented on #2428
The documentation has been updated to indicate the build status details.
http://docs.shippable.com/ci_builds/#build-status

[2016-03-28 18:44] #2428 closed

[2016-03-28 20:40] menny commented on #2444
That's unfortunate, it's a big benefit to have archives per build, making it very clear where I can find the specific build output

[2016-03-28 23:19] stephanielingwood commented on #2445
@knowredev Thanks for letting us know that docker login still wasn't working for you. Just made a fix for this bug, and will let you know when it's in production.

[2016-03-29 00:06] manishas commented on #2444
@menny i am going to tag this as a feature request. We so plan to add support for archiving again, so leaving this open..

[2016-03-29 00:13] menny commented on #2444
Thank you

[2016-03-29 06:34] aftabaslam commented on #2446
Thank you. it works.

On Mon, Mar 28, 2016 at 9:29 PM, Manisha <notifications@github.com> wrote:

--
Regards,

Aftab Aslam | Sr. Associate Software Engineer | Zigron Inc.
E-mail: aftab.aslam@zigron.com
Website: www.zigron.com

[2016-03-29 06:41] rageshkrishna commented on #2446
@aftabaslam Thanks for the update!

[2016-03-29 06:41] #2446 closed

[2016-03-29 06:43] rageshkrishna commented on #2445
@knowredev This should be working now. Please try it out and let us know how it goes. Thanks!

[2016-03-29 06:55] rageshkrishna commented on #2441
@mikaelh This should be working now. Please give it a shot and let us know how it goes. Thanks!

[2016-03-29 07:44] pquentin opened #2447 "API: /projects returns [] and status code 200 with empty apiToken"
We recently had a failure in the way we store our Shippable API Token in Kubernetes: it became empty. I would expect this to return a 4xx error and a message (just as it's done with other errors). But I received an empty list instead. Is it possible to change this behavior?

[code]

Thank your for Shippable

[2016-03-29 08:00] madshostrup opened #2448 "(Id: 4006) postRun failed for projectId 404"
We are not able to rebuild our project and we havn't changed any settings. Any ideas why this is not working?

https://app.shippable.com/builds/56e2decaf802950b0033edc2

[2016-03-29 08:08] rageshkrishna commented on #2448
@madshostrup Your subscription was upgraded to the new build platform sometime in the past couple of weeks. Unfortunately, the new build system cannot rebuild anything that was originally run on the old build system. I hope this helps.

Please let us know if you are seeing this issue for anything that was run after the 16th of March.

[2016-03-29 09:45] mbrodala commented on #2300
@manishas Thanks a lot for adding this, I'll test it ASAP. Am I seeing correct that the `cache_dir_list` is a list of absolute paths? Could this be amended to also support paths relative to `$SHIPPABLE_BUILD_DIR`? Thus if there is no leading slash, automatically prepend it.

This makes a bit more sense from my POV since people should not bother with absolute paths (figuring them out, keeping them

[2016-03-29 09:50] rageshkrishna commented on #2300
@mbrodala You can also use $SHIPPABLE_BUILD_DIR as part of the path, if it helps:

[code]

[2016-03-29 09:51] mbrodala commented on #2300
@rageshkrishna Sure that helps (actually missed that part), but maybe make this the default prefix as suggested? What happens with a path like `foo` (without leading slash) ATM?

[2016-03-29 09:58] rageshkrishna commented on #2300
I haven't really tried it out to be honest :) As of now, specifying $SHIPPABLE_BUILD_DIR is the safest bet.

I think your suggestion makes sense. I'll get back to you on this soon.

[2016-03-29 09:59] mbrodala commented on #2300
@rageshkrishna Thanks for considering. :-)

[2016-03-29 10:04] madshostrup commented on #2448
Just tested with a new branch and PR and it is building. But we don't see the indicator beside the commits in Github?

[2016-03-29 10:05] mbrodala commented on #2086
@himanshu0503 In light of #2300: are there directories which could be cached between builds to speed up extension installations by Pickle?

[2016-03-29 10:42] kanthchandra commented on #2448
@madshostrup I just tested out the following scenario on a github PR.

1. Enabled the project shippable/test on github
2. Forked shippable/test into my account (kanthchandra/test)
3. Opened a PR from kanthchandra/test to shippable/test
4. The PR triggered a Build on Shippable and the commit status on the github PR page got updated to processing.
5. After the build got completed, the commit status

[2016-03-29 10:43] Paviel opened #2449 "Problems with aws_eb_docker_deploy"
We've been having problems with the CI process since March 25. Some of them were resolved by modifying configuration in shippable.xml. Currently the issue is upload_artifacts fails if the application name contains a whitespace. Do we need to escape those (how?) or can't they be used altogether?

[2016-03-29 11:05] madshostrup commented on #2448
Our (not expected) scenario on project with id 5506810c5ab6cc13529b84bd

1. Had a working repo working with Shippable running RSpec and Rubocop
2. Commits are suddenly not being build without any changes from our side
3. Contacted support and found out we've been moved to the new build platform
4. Made a new branch and PR and now it's building but we don't see commit status

[2016-03-29 11:07] kanthchandra commented on #2448
Thanks for letting us know about this. I'll investigate this and get back to you once I have more data on this project.

[2016-03-29 11:50] kanthchandra commented on #2448
@madshostrup can you please try this now and let us know if it works?

[2016-03-29 12:06] madshostrup commented on #2448
Works again

[2016-03-29 12:06] #2448 closed

[2016-03-29 12:22] avinci commented on #2449
Have you tried putting the application name inside `""` double quotes?

[2016-03-29 12:25] Paviel commented on #2449
Do you mean the name string itself needs to contain " characters?

[2016-03-29 12:41] KnowRe commented on #2445
First of all, thanks for the hard effort. Unfortunately, there comes another error message:

Log: https://app.shippable.com/runs/56fa2ec1a22ed30d00b711a2
[code]

[2016-03-29 13:14] luckyraul commented on #2427
any updates?

[2016-03-29 13:16] avinci commented on #2449
yes

[2016-03-29 13:28] avinci commented on #2427
@luckyraul this is a feature request as we don't have a way to do this right now. I am going to get this prioritized internally and get back to you....

[2016-03-29 13:30] avinci commented on #2427
@manishas the problem is that we don't have a way to run a script while we do `pre_ci_build`.

@luckyraul, can you share your YML to avi@shippable.com if you don't want to put it in here so that we can come up with a design

[2016-03-29 13:38] Paviel commented on #2449
No, the error is only a little different. The path to s3://elasticbeanstalk-... is constructed in a wrong way. When the app name contains whitespaces they break the url as if there's several consequent parameters. Now only the part of the url before the first whitespace is used and create_application_version fails with "A client error (InvalidParameterValue) occurred when calling the CreateApplica

[2016-03-29 13:44] avinci commented on #2449
Ok, let me get someone internally to test this out end to end. I think we are not encoding s3 url. Will get back to you in a couple of days with a fix.

[2016-03-29 13:44] avinci commented on #2449
@manishas can we get someone to pick this up. I think we need to do proper encoding of string, especially urls.

[2016-03-29 13:47] avinci commented on #2447
Which route is this? If its a generic search route, then it will always give you an empty [] since its a collection. If you are calling a `route/:id` it should return a 404.

If the token itself is invalid and the route is public i.e. incase of runs and jobs as public projects also need to be addressed, we default the invalid token as a public call.

[2016-03-29 13:52] avinci commented on #2445
this is a docker hub permission issue. Does the account you are using have push access? Can you try and push using that account to the hub?

From our past experience, we had to make every account an owner on docker hub to be able to push.

[2016-03-29 13:57] pquentin commented on #2447
I don't think the route matters much here. If `apiToken` is not empty I do get a 401 as expected:

[code]

[2016-03-29 14:18] mdespriee opened #2450 "set timeout to a build"
One of my build is stuck since 40mn+ (analysis on going...).
It's blocking the build queue.

I would like to customize the timeout (in the yaml) to make sure it won't block that much if it happens again. Possible ?

[2016-03-29 14:43] avinci commented on #2450
@mdespriee this is already being worked upon where we can set this at a project level. Should be there by early next week. For now, you can cancel the build and the rest will get picked up...

[2016-03-29 14:43] luckyraul commented on #2427
[code]

[2016-03-29 14:44] avinci commented on #2447
yeah this is by design. Projects is a public route and hence the behavior. Closing it as its by design.

[2016-03-29 14:44] #2447 closed

[2016-03-29 14:50] volcan01010 opened #2451 "Using git checkout instead of git clone leaves repository dirty in cached containers"
Hi,

My builds started failing yesterday, even though all the tests had passed.  The log for the `build_ci` section contained the following at the end of the coverage report:

[code]

This branch has no `Roadnet/ramp/__init__.py` file.  As far as I can tell, the problem was a `Roadnet/ramp/__init__.pyc` file, which was left behind tests being run in the same container on a different branch.  It wa

[2016-03-29 14:52] volcan01010 commented on #2451
Perhaps the Shippable code could call `git clean` after doing the checkout?
http://stackoverflow.com/questions/61212/how-do-i-remove-local-untracked-files-from-my-current-git-branch

[2016-03-29 15:05] avinci commented on #2427
ok this can be done without any changes. add `pre_ci` section and you can run the cp command. You can either put the cert into your repo or download it there through curl etc. and the move it to the folder where its supposed to be. Since `pre_ci` runs before `pre_ci_boot` you should be good to go.

Let me know if this works.

[2016-03-29 15:08] avinci commented on #2427
if you require the certs in the `ci` section, you can just call the cp of certs there before you use it.

[2016-03-29 16:28] luckyraul commented on #2427
https://app.shippable.com/runs/56faac890c19020d007ac1fc
Hub login executed before pre_ci
[code]

[2016-03-29 16:38] manishas commented on #2449
The fix should be available now. @Paviel can you try again and confirm that it works as expected?

[2016-03-29 16:39] manishas commented on #2441
Closing since this is in prod.

[2016-03-29 16:39] #2441 closed

[2016-03-29 17:10] pquentin commented on #2447
(Just to be clear, I was just saying the sending an empty token should not have the same behavior as not sending one at all. I do understand that /projects is a public route.)

[2016-03-29 17:52] natcl commented on #2379
@a-murphy This is with Github.  for example, say I have a package located here:
MyOrgName/mypackage

if I do `npm install MyOrgName/mypackage` npm will lower case my organization name and won't be able to clone the repo:

[code]

[2016-03-29 17:53] natcl commented on #2379
Sorry, not sure what happened but I meant to comment about this on the npm repo, not here, sorry about that please ignore.

[2016-03-29 20:21] abhijitkini commented on #2439
Documentation has been updated at http://docs.shippable.com/ci_configure/#standard-variables.
Closing issue as resolved.

[2016-03-29 20:21] #2439 closed

[2016-03-29 22:41] ryan-kimber commented on #2439
Great job! Thank you for this.

On Tuesday, March 29, 2016, Abhijit Kini <notifications@github.com> wrote:

[2016-03-29 23:14] diwu1989 opened #2452 "Postgres instructions don't work"
the instructions here
http://docs.shippable.com/ci_configure/
don't seem to work, i get this error
![image](https://cloud.githubusercontent.com/assets/380950/14126939/3b2f0468-f5c9-11e5-978f-4a21d529b8c8.png)

can you update the docs?

[2016-03-29 23:16] a-murphy commented on #2452
The command should have been ```psql -c 'create role shippable with superuser;' -U postgres```.

[2016-03-29 23:45] diwu1989 commented on #2452
great, i hope they update the official docs

[2016-03-29 23:51] manishas commented on #2452
This has been updated in docs -

http://docs.shippable.com/ci_configure/#postgres

[2016-03-29 23:51] #2452 closed

[2016-03-30 00:12] diwu1989 commented on #2451
^^^ please implement clean for safety

[2016-03-30 00:20] avinci commented on #2451
We should implement clean. @manishas add this ASAP.

[2016-03-30 00:53] ryan-kimber commented on #2439
This is awesome to see and wasn't clear to me before (if I missed it somewhere else, fair enough);

[2016-03-30 02:11] manishas commented on #2439
:+1:

[2016-03-30 02:15] manishas commented on #2442
@mikaelh you can install anything you need in your CI container using shippable.yml and then use caching to avoid re-installing each time. At this time, our supported use cases include pushing an image to GCR, which is why we included the gcloud sdk package in official images.

We will consider adding kubectl in the future if there are multiple requests around this.

[2016-03-30 02:15] #2442 closed

[2016-03-30 03:36] menny opened #2453 "Security flaw?"
Consider the following case:

Given:
1. My shippable script also does deploy and signing using secret (secure) environment variables
2. My shippable script only deploy and sign if the build is in the _master_ branch.

PRs:
1. When a PR is submitted to my repo (but before merging), shippable will build the PR.
2. Of course, since the script also checks for the branch, it will not deploy or sign the

[2016-03-30 03:47] rageshkrishna commented on #2453
@menny We do not decrypt any secure env variables for PR builds on public projects. They are made available for commit builds, which can only be done by collaborators on the project and not by any random github or bitbucket user.

For private projects, we decrypt secure env variables for both PR and commit builds. The reasoning behind this is that only collaborators can actually send PRs on privat

[2016-03-30 04:26] dlamp opened #2454 "Support for BitBucket Server"
Does Shippable support BitBucket Server via SSH key authentication?

[2016-03-30 04:40] manishas commented on #2454
We're working on this and this should be available in the next couple of weeks :)

[2016-03-30 04:41] manishas commented on #2453
Closing this since there is nothing actionable to be done here.

[2016-03-30 04:41] #2453 closed

[2016-03-30 04:58] manishas commented on #2285
We should verify that --last committer and --last author are collaborators on the project and only send emails if they are collaborators.

[2016-03-30 05:06] manishas commented on #1954
@chetantarale can you take a look at this please?

[2016-03-30 05:11] manishas commented on #1152
Our builds platform runs builds in a distributed fashion, so this is not currently possible with this architecture.

You can solve this by pushing your repository to S3 and pulling it when needed.

[2016-03-30 05:11] #1152 closed

[2016-03-30 06:20] chetantarale commented on #1954
This should be working on our new build system with new dry-dock images.
@Sebastien-Meiffren Can you please give it a try and let us know if you are still running into this.

[2016-03-30 07:38] shrivara commented on #2146
@bbrala This is now available. Please take a look at the [docs](http://docs.shippable.com/ci_configure/#pull-requests) for more details. Let us know if you have any questions.

[2016-03-30 08:23] simock85 opened #2455 "Build stuck in node provisioning phase"
We're having build timeouts for all builds in `kuldat` account, subscription-id `555eec00edd7f2c052f86e01`, since April 25. The builds are stuck in node provisioning phase and nothing happens until the build timeout is triggered.
<img width="993" alt="screen shot 2016-03-30 at 10 21 42" src="https://cloud.githubusercontent.com/assets/785899/14136092/53c16c44-f661-11e5-84a0-ff82c05f64a7.png">

[2016-03-30 09:26] kanthchandra commented on #2455
- @simock85 This is happening because of CPU saturation. A few minutes in to the build maybe because of the nosetests that are consuming a lot of resources, CPU load hits the saturation limit and the machine completely locks up.

Recommendation:  You may need to use custom hosts for your subscription which will have higher resources. We use AWS (c3.large, 2 cores, 3.75gb) machines for all the buil

[2016-03-30 09:31] kanthchandra commented on #2455
@simock85 Here are the links for setting up your custom hosts.
- [Overview of running builds on your own machines](http://docs.shippable.com/ci_byoh/)
- [Instructions showing how to attach build nodes to your subscription](http://docs.shippable.com/ci_subscriptions/#adding-your-own-build-infrastructure-byoh)

[2016-03-30 14:14] kaspernj opened #2456 "Cancel subscription"
I wish to cancel my subscription, but I cannot find a way to do it under my account?

[2016-03-30 14:16] kaspernj commented on #2456
I found it :-)

[2016-03-30 14:16] #2456 closed

[2016-03-30 14:24] tomsterritt opened #2457 "Use both node & ruby"
Hi,

Trying to migrate to new format & run scripts which rely on having both node and ruby.

Based on docs & a [previous reply](https://github.com/Shippable/support/issues/1896#issuecomment-157073751) this should now be available, so I'm trying `u14nod` as I'm assuming it has ruby from `u14`, however:

[code]

How do I do this please?

Thanks

[2016-03-30 14:42] phagunbaya opened #2458 "Cannot see build details"
This is what I'm seeing on UI

<img width="905" alt="screen shot 2016-03-30 at 8 12 03 pm" src="https://cloud.githubusercontent.com/assets/1146297/14146020/c30aa12c-f6b3-11e5-9cb4-7628bec72b6a.png">

[2016-03-30 14:44] phagunbaya commented on #2458
Now it's redirecting me to login page and after login I'm seeing below screen.
<img width="1079" alt="screen shot 2016-03-30 at 8 14 12 pm" src="https://cloud.githubusercontent.com/assets/1146297/14146087/097c0d80-f6b4-11e5-94be-611163ad70a1.png">

[2016-03-30 14:49] legendik commented on #2458
We have exactly same problem.

[2016-03-30 14:51] manishas commented on #2458
Looking into this

[2016-03-30 14:53] Paviel commented on #2449
@manishas thanks, that issue is no more, although I have noticed that S3Key and VersionLabel values are constructed now differently than before. We're still having deployment problems because of that.

[2016-03-30 14:57] chriskinsman opened #2459 "Web Site loading only partially and erroring out"
Builds are not starting via webhook either...

[2016-03-30 15:11] manishas commented on #2459
we're working on resolving this...

[2016-03-30 15:16] manishas commented on #2458
This should now be resolved. Please let us know if it works.

[2016-03-30 15:16] manishas commented on #2459
This should be resolved. Please let us know if you're still running into issues.

[2016-03-30 15:17] #2146 closed

[2016-03-30 15:17] #2458 closed

[2016-03-30 15:18] #2459 closed

[2016-03-30 15:21] legendik commented on #2458
It works, thank you!

[2016-03-30 15:34] chriskinsman opened #2460 "Github changes not showing up with git checkout -f master --"
This may be a github issue.  We see the changes showing up when we do a git pull but they don't show up in github web pages right now and they also are not showing up in builds...

[2016-03-30 15:45] manishas commented on #2457
We'll look into this. We do install default version of Ruby in our node images, so not sure what's going on as of yet.

[2016-03-30 15:55] mbrodala opened #2461 "Custom label / branch in build badge"
It would be nice if one could influence the label of the [Shippable build status badge](http://docs.shippable.com/ci_projects/#build-status-badges).

Right now it always shows `run | shippable`, it would be useful to include e.g. the specific branch to have `master | shippable`, `staging | shippable` and `production | shippable`.

[2016-03-30 16:11] menny commented on #2453
Thanks!

Two questions:
1) Can you point me to the documents that describes this behavior?
2) When creating a PR, two jobs are created:
<img width="791" alt="screen shot 2016-03-30 at 12 10 53 pm" src="https://cloud.githubusercontent.com/assets/481272/14149088/7a4ee5da-f670-11e5-9100-d9fa9e0150ee.png">
Why is that?

[2016-03-30 16:18] a-murphy commented on #2453
1)  There is a note [here](http://docs.shippable.com/ci_configure/#multiple-variables-per-build) in the documentation.
2)  One of the builds is for the commit, and the other for the pull request.  In your screenshot, 376 is for the commit on pre-post-merge.  Then, 377 is for the pull request opened, which is the master branch with the changes in the pull request added.  It's possible to get differ

[2016-03-30 16:41] ankul-shippable commented on #2285
@lukesandberg We have fixed this bug. Please sync your account once. Let us know if you are still getting those emails. Thanks.

[2016-03-30 16:46] manishas commented on #2285
Closing this issue. Emails should not be sent to last committer or author if they are not collaborators on the current repo.

[2016-03-30 16:46] #2285 closed

[2016-03-30 16:46] manishas commented on #2449
Can you open a new issue for that and we'll take a look asap.

[2016-03-30 16:46] #2449 closed

[2016-03-30 17:07] twillms07 opened #2462 "Having a git sync issue on some branches and not others."
Hey, I'm having an issue with git sync. There are some branches which do no have this issue whereas others do.

Failed build on git_sync looks like this
[code]

Why would this happen for one branch and not another? Also how do I fix it?

[2016-03-30 17:20] manishas commented on #2462
@twillms07 your subscription was recently moved to the new build platform. This problem happens if you're using an image from the shippable images repo or your own custom image that doesn't have the $HOME env variable defined.

Please check out our FAQ http://docs.shippable.com/ci_faq/#my-builds-are-failing-at-git_sync-with-error-host-key-verification-failed-why which explains how to fix this issu

[2016-03-30 17:41] chriskinsman commented on #2460
Github issue

[2016-03-30 17:41] #2460 closed

[2016-03-30 18:19] bbrala commented on #2146
That is awesome :) Thanks a lot!

[2016-03-30 18:33] stephanielingwood commented on #2457
Hi, @tomsterritt. Thanks for the question.

I looked at our images, and rvm is installed in our u14 image (and therefore the u14nod images) by default. However, it's installed in /usr/local - which means it's not in PATH.

To use ruby or rvm, then, you'll need to add
`source /usr/local/rvm/scripts/rvm`
to your yml. It'll look something like this:
[code]

FWIW, I just tested this in a build, so you

[2016-03-30 19:02] manishas commented on #2457
@stephanielingwood can you add an FAQ item about this to our docs?

[2016-03-30 19:19] manishas commented on #2451
@volcan01010 @diwu1989 we discussed this internally and decided not to make this change. The main reason behind this is that if we do a `git clean` after doing the checkout, this will affect all customers who have caching turned on and do not have the necessary files in their `.gitignore`. The `git clean` will go delete their cached files/directories and they will perceive cache as not working.

W

[2016-03-30 19:32] erykwarren commented on #2455
Since this morning, all our builds have been timing out after a few hours, and it is still happening. Here's a link to the latest one:
https://app.shippable.com/runs/56fbf77f1368e80c00c437b7
Please advise.

[2016-03-30 19:45] trriplejay commented on #2455
@erykwarren looks like it was related to our outage this morning.  Your builds should be running now.

[2016-03-30 19:51] n0mer opened #2463 "docker image is not pulled from docker hub"
please investigate, here is the build id:

https://app.shippable.com/runs/56fc2d751368e80c00cd3b3f

[2016-03-30 20:18] a-murphy commented on #2463
It looks like you were migrated to our new build system today.  If you have not already migrated to the new YML, you will have to do so to use a custom Docker image.  We have a guide to migration available in our [blog](http://blog.shippable.com/migrating-to-the-new-build-platform).  If you already updated your shippable.yml, then you may want to check that you included the ```integrations``` sect

[2016-03-30 20:20] stephanielingwood commented on #2457
@tomsterritt Added this section to our docs, in case you need it for future reference: http://docs.shippable.com/ci_faq/#how-do-i-use-ruby-in-a-build-with-another-language
Enjoy!

[2016-03-30 20:32] manishas commented on #2457
Closing this issue.

[2016-03-30 20:32] #2457 closed

[2016-03-30 20:33] manishas commented on #2463
@n0mer In addition to a [migration guide](http://blog.shippable.com/migrating-to-the-new-build-platform), we also have [some tips](http://blog.shippable.com/5-tips-for-a-successful-migration) to help solve common migration issues.

[2016-03-30 20:38] manishas commented on #2415
We have investigated this but have not been able to repro this or find out what is happening with your builds. Also, it looks like your last build did not run into this specific issue (but did have some other failure). Can you share what you did to fix it?

At this point, I am closing this issue since your last build did not experience this problem. Please open a new issue if you need help and we'

[2016-03-30 20:38] #2415 closed

[2016-03-30 20:59] twillms07 commented on #2462
I attempted to update my `shippable.yml` file which now included

[code]

In addition I added the `ENV HOME /root` to my `Dockerfile` just in case but I'm still experiencing the git_sync error. Am I missing something?

[2016-03-30 21:30] npahucki opened #2464 "Pull request builds trigger deployment"
So, I noticed a feature today that was both cool and not so cool at the same time. I made a PR against our develop branch. Shippable did a build where the PR is merged in to develop and shows the status in the PR, letting us know that all the tests passed, etc. This is really cool.

The not so cool part: it merged the pull into develop and proceeded to create another build with the tag develop.225

[2016-03-30 21:50] trriplejay commented on #2464
There are two environment variables you can reference from your yml to help you decide whether or not to push (or how to tag your image):
IS_PULL_REQUEST, and PULL_REQUEST

IS_PULL_REQUEST is a simple true/false, while PULL_REQUEST will contain the actual pull request number (or it will be falsy if not a PR).

For a more comprehensive list of our environment variables, check out our docs here:
htt

[2016-03-30 22:14] manishas commented on #2462
@twillms07 can you try the following - Go to your Project's Settings tab and Reset your project. This will reset the webhook and deploy keys. Trigger a new build and you should not hit the issue again.

[2016-03-31 00:56] chriskinsman opened #2465 "All Builds Down due to AWS us-east-1 auto scale / ec2 runinstance issues"
I show 4 nodes but none show green in the settings screen.

4 builds are stuck with the longest stuck for > 41 minutes

@manishas @avinci  any ideas?

[2016-03-31 01:03] trriplejay commented on #2465
This appears to be related to an AWS issue with launching new instances:
![image](https://cloud.githubusercontent.com/assets/6869398/14162559/b8becde0-f6a1-11e5-97ae-a5b1c8e88b32.png)

[2016-03-31 01:07] chriskinsman commented on #2465
Been dead since 5:06 or so for me.  Some of the instances have now shut down and builds are just stuck

Should I kill them or will they restart once nodes become available?

Might want to update your status if this is what you believe the issue to be...

[2016-03-31 01:33] trriplejay commented on #2465
The builds should get picked up once these issues are resolved. Here's the latest AWS status:
![image](https://cloud.githubusercontent.com/assets/6869398/14162992/d614b702-f6a5-11e5-8e47-2d6768daab61.png)

[2016-03-31 01:33] chriskinsman commented on #2465
Thanks for the update.

[2016-03-31 01:43] twillms07 commented on #2462
Fixed

[2016-03-31 03:39] chriskinsman commented on #2465
Well I learned builds will timeout after two hours.  Have 8 nodes spun up all red for now...

[2016-03-31 03:50] mhzajac commented on #2455
[This build](https://app.shippable.com/runs/56fc9bd547bb010c00a198f2) has been continually timing out for the past 8-12 hours. It gets stuck at the "Provisioning job node" phase, and might make it a few steps further than that, but it never actually reaches running tests or even compiling code.

[2016-03-31 05:09] chriskinsman commented on #2465
7 stuck minions that have been up for ~ 5 hours now 3.5-4 hours now with no builds.

Pushed a new build and had an 8th spin up and start building.

No idea how to clear the other 7 stuck ones...

[2016-03-31 05:10] manishas commented on #2465
@rageshkrishna can you clean up the stuck minions?

[2016-03-31 05:11] chriskinsman commented on #2465
Even with the stuck minions I am getting new ones spinning up.  Going to leave open till morning but builds are starting to slowly move through...

[2016-03-31 05:40] trriplejay commented on #2465
looks like AWS is back to normal.  We just need to clean up a few minions that were left in a bad state.

[2016-03-31 05:42] trriplejay commented on #2455
@mhzajac we've been having some issues with AWS provisioning today.  It should be back to normal now.  Please let us know if you continue to experience this and we can take a closer look.

[2016-03-31 05:51] manishas commented on #2462
Thanks for confirming! Closing this issue.

[2016-03-31 05:51] #2462 closed

[2016-03-31 05:52] manishas commented on #2464
@npahucki I am closing this issue since your question was answered and this should help you avoid pushes to Docker registry for pull request builds and hence avoid your environment from being automatically updated.

I am closing this issue, but please do let us know if you have any questions.

[2016-03-31 06:00] pquentin opened #2466 "Support Command+click and Ctrl+click in the UI"
To open a Shippable link in a new tab, I need to right click + "Open Link in New Tab" in my browser. The usual Command+click and Ctrl+click don't work. (It's not a recent regression: this was never supported.)

[2016-03-31 07:04] rageshkrishna commented on #2465
All the stale nodes should be gone now. I'm going to close this issue. Please re-open if the problem persists.

[2016-03-31 07:04] #2465 closed

[2016-03-31 07:14] adhuysamen opened #2467 "GKE Kubernetes deployment fails to create service"
Everything in our pipeline seems to be working perfectly, up until the point where Shippable deploys our Docker image (from GCE) into Kubernetes (GKE).  The deployment happens successfully, and the pod can be seen running, but no service is created.

We have set up the routing in the configuration, and specified that it should be accessible externally, however no service is created and therefore t

[2016-03-31 07:20] svo commented on #2415
Hi @manishas,

Thanks for getting back to me.

Unfortunately the issue persisted, it was merely hidden by an early exit in the final builds.

We have since stopped developing this specific project, but I will let you know if I encounter similar issues in the future.

Many thanks for your time.

[2016-03-31 10:03] npahucki commented on #2464
Ok, this is a good start, however I don't see mentioned in the docs what I could actually do with this env var. The shippable.yml is declarative and not a scripting language, so I am not putting together how to conditionally skip pushing the build to the repo. Please point me to some docs that would indicate how to conditionally executes things based on an env var in a shippable.yml.

[2016-03-31 10:13] rageshkrishna commented on #2464
@npahucki You are free to use valid bash syntax in your YML file. Something like this:

[code]

[2016-03-31 12:05] shadowfax-chc opened #2468 "New build webhook returning 500"
New builds are not starting when pushing commits to Github. Github is reporting that the shippable webhook is returning a `500` with

[code]

The first failure was at `Wed, 30 Mar 2016 20:46:13 GMT`.

[2016-03-31 12:23] devillex commented on #2468
I got the the same message a few moments ago (~2:20PM SAST).

<img width="988" alt="screen shot 2016-03-31 at 2 20 13 pm" src="https://cloud.githubusercontent.com/assets/11049609/14175570/193f0914-f74c-11e5-9e38-053f0dae32e0.png">

[2016-03-31 13:31] tomsterritt opened #2469 "Build stuck after Browserstack tests"
Hi,

We're running some tests via browserstack and where it would previously continue after the tests completed it's now stuck just showing the results, not continuing to the next step in our script.

e.g. 56fd237fd1f1f60c002f5735

How can we get it to continue?

Thanks

[2016-03-31 13:38] lazebny commented on #2360
@manishas, see such error today. Cant build any of repositories:
(Id: 4006) postRun failed for projectId: 56eef6dc9d043da07bee68cf
verbose: projects|triggerNewBuildRequest:56eef6dc9d043da07bee68cf|_queueRun
500

[2016-03-31 13:43] jeppefrandsen commented on #2360
+1

[2016-03-31 13:44] jeppefrandsen commented on #2468
+1

[2016-03-31 13:47] npahucki commented on #2464
Thanks, that would let me run one command, how would I skip the entire post_ci section which consists of multiple lines (each starting with a dash). Surely I can not wrap all the lines or the entire post_ci section in an 'if' as that would not be valid YML.

[2016-03-31 13:57] chriskinsman commented on #2468
Seeing this also

[2016-03-31 13:58] chriskinsman opened #2470 "Can't manually start a build"
(Id: 4006) postRun failed for projectId: 54a32697d46935d5fbc13581
verbose: projects|triggerNewBuildRequest:54a32697d46935d5fbc13581|_queueRun
500

WebHooks are also broken so at this point we are down and can't deploy fixes for our product.

@manishas @avinci

[2016-03-31 14:00] HenrikPihl commented on #2468
We also have this issue

[2016-03-31 14:02] chriskinsman commented on #2468
Unfortunately we have found the manual build start is also broken...

[2016-03-31 14:08] mattgerstman commented on #2470
+1

[2016-03-31 14:08] mattgerstman commented on #2468
+1

[2016-03-31 14:09] rageshkrishna commented on #2468
We're looking in to this. The issue has been identified and a fix will be deployed very soon.

[2016-03-31 14:10] gg-dh commented on #2360
Same thing. When I use caching in the `shippable.yml`:

[code]

then the build is not triggered on git push, and when I click "Build" I get this error:

[code]

Without caching everything is ok.

[2016-03-31 14:10] rageshkrishna commented on #2470
The underlying issue will be addressed as part of https://github.com/Shippable/support/issues/2468. Closing this in favour of that issue.

[2016-03-31 14:10] #2470 closed

[2016-03-31 14:14] avinci commented on #2445
I am seeing that your builds are running. hence closing this as resolved

[2016-03-31 14:14] #2445 closed

[2016-03-31 14:19] KnowRe commented on #2445
I've just confirmed that it's working now. Thanks for the support!

[2016-03-31 14:26] vastbinderj commented on #2360
I moved all my yml files to the new format to get around these issues.  I would suggest you do the same.  I began by following this blog post and @manishas pointed me to a translator, but I cannot find it in my history:

http://blog.shippable.com/migrating-to-the-new-build-platform

[2016-03-31 14:26] vastbinderj commented on #2360
BTW - @manishas did a fantastic job helping with migrating my ymls to the new format.

[2016-03-31 14:30] chriskinsman commented on #2468
Was able to get a build to start just now...

[2016-03-31 14:33] rageshkrishna commented on #2468
@chriskinsman Thanks for the confirmation.

We're running in to an AWS limit that's affecting caching. Existing projects should be unaffected but anything new that you turn on caching for will not have any effect at the moment.

[2016-03-31 14:35] kanthchandra commented on #2360
@lazebny @gg-dh @jeppefrandsen We had a small glitch in one of our runs api and we have fixed it. Can you please try now and see? If the problem still persists please feel free open a new issue and we will look into it.

[2016-03-31 14:35] chriskinsman commented on #2468
Hit the bucket limit?  Looks like you are creating a bucket per project...

[2016-03-31 14:35] rageshkrishna commented on #2468
We do one bucket for each subscription.

[2016-03-31 14:36] chriskinsman commented on #2468
Thanks for getting it working again...

[2016-03-31 14:53] ankul-shippable commented on #2424
@chriskinsman We have added this feature. You should be able to see the duration for each step for old as well as new builds. Thanks.

[2016-03-31 14:54] chriskinsman commented on #2424
Thanks Guys!

[2016-03-31 14:54] #2424 closed

[2016-03-31 14:55] rageshkrishna commented on #2468
The bucket limit has been increased, so everything should be back to normal now.

[2016-03-31 14:55] #2468 closed

[2016-03-31 15:00] gg-dh commented on #2360
@kanthchandra No more troubles with caching, everything's ok atm. Thank you!

[2016-03-31 15:08] #2455 closed

[2016-03-31 15:10] avinci commented on #1799
We have not heard any feedback about this feature. closing this due to lack of interest. If anyone would like to reopen with some scenarios, we can definitely do it.

[2016-03-31 15:10] #1799 closed

[2016-03-31 15:11] avinci commented on #1405
At this time, we are keeping our system out of deploying directly to VMs without the use of some external tools like Chef and Puppet. Hence closing this.

[2016-03-31 15:11] #1405 closed

[2016-03-31 15:15] avinci commented on #707
both these have been implemented. hence closing this as complete.

[2016-03-31 15:15] #707 closed

[2016-03-31 15:33] lazebny commented on #2360
@kanthchandra, thanks resolved.

[2016-03-31 15:51] bwaite-jaroop commented on #2309
One of our private repositories is breaking with the same error after updating to the new shippable yml spec. Rebasing the branch to be up-to-date with master does nothing, neither does closing the PR and making a new one, or amending commits to force a new hash.

[2016-03-31 16:41] trriplejay commented on #693
This feature is now available.  A `*` within branches only/exclude will be treated like a wildcard.  Please let us know if you run into any problems or have any questions about this feature.

[2016-03-31 16:42] trriplejay commented on #693
I'm going to leave this open until we get our documentation updated to reflect this functionality.

[2016-03-31 16:54] manishas commented on #2309
@bwaite-jaroop can you open up a new issue and include the your yml?

[2016-03-31 17:55] trriplejay commented on #2467
One common problem is that by default, k8s restricts the nodePort on a service to be in the range of 30000-32767, so you'll want to make sure that the 'hostPort' you choose for your routing is in that range (unless you've manually configured your cluster to accept a wider range).

we're working on making some improvements to this flow, but in the meantime, here is a workaround:

1. uncheck the box

[2016-03-31 20:23] manishas commented on #2463
@n0mer please let us know if you need any more help with this. Happy to jump on a hangout and help with the migration to new yml if necessary.

[2016-03-31 20:23] #2463 closed

[2016-03-31 20:25] #1954 closed

[2016-03-31 20:26] manishas commented on #1315
We are now working on this so watch for an update in the next couple of days.

[2016-03-31 22:33] abhijitkini commented on #693
Info on wildcard entries has been updated in the documentation. http://docs.shippable.com/ci_configure/#includingexcluding-branches.

Closing as resolved.

[2016-03-31 22:33] #693 closed

[2016-04-01 05:04] adhuysamen commented on #2467
Yeah perfect, seems it was the port range issue.  Thanks!

[2016-04-01 05:04] #2467 closed

[2016-04-01 05:20] manishas commented on #2467
@abhijitkini we should add this as an FAQ for pipelines.

[2016-04-01 07:36] naveensky opened #2471 "Cache not working, flag set to true"
Hi,

Though I  have cache flag set to true in my shippable files, I suspect cache is not happening correctly. All my builds are taking same time as uncached build.

For eg https://app.shippable.com/runs/56fe10e31f6f0d0c00bebd74 took about 31 minute just to download all binaries and compile. All binaries ideally should be cached for each next run.

[2016-04-01 07:54] Paviel opened #2472 "Issues with create_application_version"
We're having problems with deploying our application to AWS EB Docker. The reason is starting this week some values have been constructed differently.

One of them is ApplicationVersion.S3Key; before is was like `shippable.<company>.<appname lowercase w/o whitespace>.<branch>.<build no>.sourcebundle.zip`, now it's `<full appname>/<name of environment_name>/Dockerrun.aws.json.shippable.<full appnam

[2016-04-01 07:55] rageshkrishna commented on #2471
Hi @naveensky. I don't know _anything_ about scala so you'll need to help me understand this a little bit...

1. Where are all of these dependencies downloaded and stored in the filesystem? Are they kept somewhere relative to the current directory, or do they go somewhere else?
1. I see the command `activator clean dist`. Is it possible that the `clean` is deleting something that it shouldn't?

By

[2016-04-01 08:28] naveensky commented on #2471
@rageshkrishna the default cache directory for scala projects is <home directory of user>/.ivy2

Do I need to include this directory separately in shippable file? If yes, what is path to home directory

[2016-04-01 08:40] rageshkrishna commented on #2469
@tomsterritt Sorry about the delay in getting back to you. Do you mind if I trigger builds on your project to debug this? Thanks!

[2016-04-01 08:43] tomsterritt commented on #2469
@rageshkrishna of course not, go ahead :smile:

[2016-04-01 09:03] rageshkrishna commented on #2469
It looks like BrowserStackLocal isn't terminating for some reason, but I'm not really sure why. I'm going to try and reproduce this with one of my own projects so I can debug further.

I'll keep this issue updated as I make progress.

[2016-04-01 09:18] rageshkrishna commented on #2471
You should add `$HOME/.ivy2` to your `cache_dir_list` in the YML file.

[2016-04-01 09:21] rageshkrishna commented on #2469
@tomsterritt Can you tell me a little bit about how your tests are structured and how you use BrowserStack? I'm new to BrowserStack and there are a bunch of different ways I can start using it. I want to make sure I set things up so they match your configuration.

You can email me at ragesh@shippable.com if you'd rather not discuss the details here. Thanks!

[2016-04-01 11:02] luckyraul commented on #2427
@avinci  Any news?

[2016-04-01 11:05] rageshkrishna commented on #2469
@tomsterritt Thanks once again for your email. I was able to reproduce the scenario on my dev box. This definitely appears to be a problem with [theintern](https://github.com/theintern) or one of its components. I did nothing special to repro the problem -- I simply followed the [official tutorial](https://github.com/theintern/intern-tutorial) to the letter and the runner just sits there after it

[2016-04-01 11:59] tomsterritt commented on #2469
@rageshkrishna thanks for investigating this. I've just run another build using a version of intern I know to work on my Mac but it's still stuck, so I'm thinking it could be down to a specific platform? Is there anything obviously similar between your dev box and the Shippable build environment? If you wouldn't mind giving me some details about those I will go over and create an issue with them.

[2016-04-01 12:02] avinci commented on #2472
@harryi3t can you comment?

[2016-04-01 12:31] chriskinsman opened #2473 "NodeJS pre-installed"
Our builds reference NodeJS 4.2.2 this morning I noticed almost 40s of our build time is related to setup_ve doing an nvm install 4.2.2

Any chance of having nodejs version pre-installed in images?  Can I already do this post recent changes?  I don't see a way anymore to specify a base container that I would create from your base container so I wasn't sure.

[2016-04-01 12:37] rageshkrishna commented on #2469
The only obvious peculiarity is that they are both headless machines (yes, I do all my development in vim on a remote machine). Having said that, I don't know if that in itself is a contributing factor because, if I'm not mistaken, your tests were running successfully on Shippable earlier.

Besides that, they're pretty standard Ubuntu 14.04 machines. I can't really think of anything else that's un

[2016-04-01 12:41] harryi3t commented on #2472
@Paviel can you share some more details if your project is open source.
I would like to see your yml file.

If you can't share it here, feel free to [mail me][harry]

Also for reference your can look our [official sample application for EB Docker Deployment][1]

Also the shippable run for this is passing [here][2]

[harry]: mailto:harendra@shippable.com
[1]:https://github.com/shippablesamples/samp

[2016-04-01 13:22] rvdwijngaard opened #2474 "cannot start the app"
hi,

I cannot start the web app; it keeps hanging while loading the app. Please advice.

Regards,
Ron

[2016-04-01 13:31] rageshkrishna commented on #2474
We had a small hiccup with the database. Should be back to normal now.

[2016-04-01 13:54] avinci commented on #2474
everything should be back to normal.

[2016-04-01 13:54] #2474 closed

[2016-04-01 13:59] avinci commented on #2473
Our policy on images we update the `prod` version on the last month of the quarter. We keep updating the `tip` version with all the latest versions. If you really need to be on edge, `tip` is the right way to go, but then other things that will also get updated might break your build.

The best way to do this is take `prod` version and build a custom image and push it to docker hub. You can use th

[2016-04-01 14:20] pranaypareek commented on #1315
@vkuusk this feature is live now.

While calling the `newBuild` api end point (`POST /projects/:projectId/newBuild`), you can now inject global environment variables into the new build by specifying key-value pairs in the request body of the POST. These key-value pairs have to be set in the `globalEnv` property.

[code]
http://docs.shippable.com/api/#trigger-a-new-run

Do check this out and let us

[2016-04-01 14:20] #1315 closed

[2016-04-01 14:38] rvdwijngaard commented on #2474
yep, it works fine

[2016-04-01 14:43] #2473 closed

[2016-04-01 14:44] #2471 closed

[2016-04-01 15:45] tomsterritt commented on #2469
Thanks for your help - going to close this and take it to Intern/Browserstack.

[2016-04-01 15:45] #2469 closed

[2016-04-01 16:23] abhijitkini commented on #2467
Tracked here: https://github.com/Shippable/docsv2/issues/254

[2016-04-01 20:05] manishas commented on #2427
@luckyraul we discussed this internally and this is a new feature request since this scenario was never supported. `hub_login` happens before `pre_ci`, so copying the cert there will not work. Also, we cannot switch the order since many customers do a docker build in pre_ci and pull images from private registries.

This feature request has now been added to our backlog and we expect to pick it up

[2016-04-01 20:56] copyhawk opened #2475 "Trying to migrate, do not know if I completed changes to my YML right"
https://app.shippable.com/runs/56fede7ecb505d0b00b8ae9f

[2016-04-01 20:59] manishas commented on #2475
Can you share your yml so we can take a look?

[2016-04-01 21:22] npahucki commented on #2464
Hello? Anyone going to address the above comment?

[2016-04-01 21:39] manishas commented on #2464
@npahucki sorry for the delay. I have reopened this issue so that it is on the radar.

I was thinking through your case, and you can do (2) use a different tag for the PR triggered builds (not the name of the branch being merged into) which would avoid an unintentional deployment.

In your yml, you can use the IS_PULL_REQUEST variable to tag the image differently if its a pull request, so that it

[2016-04-01 22:11] npahucki commented on #2464
This is what I have essentially done, but it is very very nasty and I had to hack around the fact that an 'export' is added in front of all the env vars combined with the fact that bash has no real ternary operator.

Here is the nastiness for your amusement:

env:
  global:
    # DUMMY just gets exported - a NOOP essentially
    - DUMMY && test $IS_PULL_REQUEST == true  && NEW_DOCKER_TAG="${BRANCH

[2016-04-01 23:19] copyhawk commented on #2475
# Language setting - TODO: UPDATE YML
language: node_js

# Version number
node_js:
  - 4.2.1 # EB supported version

# Cache environment
cache: true

# Mongo binds to 127.0.0.1 by default
# memcached runs on port 11211
services:

env:
  global:
    - XUNIT_FILE=shippable/testresults/xunit.xml MongoConnectionStringTests=mongodb://127.0.0.1:27017/test MemcachedLocationTest=localhost:11211 LogLevel=e

[2016-04-01 23:22] copyhawk commented on #2475
YML is attached, markdown made it look formatted, I'll simply attach it here.

[shippable.yml.txt](https://github.com/Shippable/support/files/200557/shippable.yml.txt)

[2016-04-01 23:55] abhijitkini commented on #2467
Documentation updated at http://docs.shippable.com/pipelines_faq/#why-is-my-application-not-accessible-externally-even-though-my-pipeline-is-working-perfectly

[2016-04-02 06:39] Sebastien-Meiffren commented on #1954
I will try and let you know but I need to reconfigure my project because I no longer use shippable ...

[2016-04-02 07:08] VaclavSir opened #2476 "flag provided but not defined: --tmpfs"
Since docker 1.10.0, there is this flag `--tmpfs`, that mounts given directory in the container as a tmpfs. I tried to add this option to the shippable.yml and the boot_container failed:

[code]

Isn't it possible, that you run some older version of Docker?

It's not a big deal, I can work this around (using `--privileged` option and then mounting the directory manually), yet still it would be coo

[2016-04-03 00:36] manishas commented on #2476
@VaclavSir Yes, we're using an older version of Docker. We do upgrade Docker versions periodically based on business need, so we'll probably upgrade in the next few months.

Let me know if you have any more questions or need help with the yml config.

[2016-04-03 00:36] #2476 closed

[2016-04-03 00:38] manishas commented on #2475
@copyhawk is there a reason you're not using the pre-installed mongodb and memcached?

[2016-04-03 01:30] copyhawk commented on #2475
Yes, they were not working for me before and on a previous case I was
recommended to use this.

On Sat, Apr 2, 2016 at 8:38 PM, Manisha <notifications@github.com> wrote:

[2016-04-03 04:35] n0mer commented on #2463
@manishas yes i'd definitely need your assistance with migration.

my shippable.yml is quite small and not tricky at all

[2016-04-03 04:37] n0mer commented on #2463
actually - here it is

[code]

[2016-04-03 07:05] luckyraul commented on #2427
Yep, I just want to use our enterprise docker registry with the enterprise CA. The only way to do it is to add the CA cert to the folder suggested by the docker.

[2016-04-03 10:37] aouyang1 opened #2477 "Build stuck in provision job node after setting up own AWS EC2 node"
Current node on AWS is showing green in shippable. I can't figure out a good way to diagnose where I'm having the problem.

[2016-04-03 19:13] mgeisler commented on #2461
Yes, I would like to see this feature too: I don't think anybody know what "run | shippable" means, but "build | passed" is understood universally.

[2016-04-04 03:14] manishas commented on #2464
I am closing this issue since there is a way to configure the yml to skip deployments for PR builds. I'll look into this some more tomorrow to see if there is a cleaner way to do this.

[2016-04-04 03:14] #2464 closed

[2016-04-04 03:15] manishas commented on #2461
Good suggestions. I've put this on our backlog and will let you know when there's an update.

[2016-04-04 03:20] manishas commented on #2477
@rageshkrishna can we look into this asap?

[2016-04-04 03:20] manishas commented on #2475
The yml looks right.

@kanthchandra can you look into why this build is failing?

[2016-04-04 03:22] manishas commented on #2313
@cratz can you let us know which packages you're looking for?

[2016-04-04 06:59] kanthchandra commented on #2475
@copyhawk I dont know how you are installing memcached and mongodb, since you are running it from a script. If you can post that here I'll try to help you.

But as an alternative I would suggest you to use drydock/u14nodall:prod image which has memecached and mongodb installed. You can invoke memcached and mongodb by using the services tag.

Here is a sample_node project https://github.com/kanthch

[2016-04-04 09:57] rageshkrishna commented on #2477
@aouyang1 The most common cause for builds not being picked up from custom hosts is usually a connectivity issue between the build runner and our message queue. I have confirmed from our queues that we have no consumers on your build queue.

The build components need to be able to make outgoing connections to `msg.shippable.com` (port 5671) and `api.shippable.com` (port 443).

On your host you sho

[2016-04-04 11:18] devillex opened #2478 "Coverage Badge also reads "Run Status" in generated Mark Down"
The mark down generated for the Coverage Badge under settings incorrectly refers to '`Run Status`'. This generated mark down should rather relate to coverage.

![screen shot 2016-04-04 at 1 04 08 pm](https://cloud.githubusercontent.com/assets/11049609/14246457/85c0dcde-fa67-11e5-92a9-6f7d63f3a5de.png)

[2016-04-04 11:29] gg-dh opened #2479 "Failed to setup deployment to Google Container Engine"
I've just created deployment pipeline to GKE. Then I went to **Routing**, specified **Host Port**, checked **External?** and filled in the load balancer parameters:
- **External Port**: TCP 80
- **Health Check**: HTTP /_health

Then went to **Configuration**, clicked **Deploy**, and got this error:

[code]

My Kubernetes dashboard of the cluster that I used as a target shows that no service (load

[2016-04-04 11:59] harryi3t commented on #2478
Nice catch @devillex
This is fixed now.

[2016-04-04 11:59] #2478 closed

[2016-04-04 15:25] aouyang1 commented on #2477
@rageshkrishna This did it! had to change the security groups to allow the outbound traffic on 5671 and 443. I'm not sure if I missed this in the documentation or not, but I think it'd be good to also add this is one of the prereqs when others are using their own hosts.

On a side note, I noticed that if we wanted to run more builds in parallel, it requires that we have a separate host for each pa

[2016-04-04 15:27] #2477 closed

[2016-04-04 16:10] copyhawk commented on #2475
Tried that image and it still fails.

On Mon, Apr 4, 2016 at 2:59 AM, Chandrakanth <notifications@github.com>
wrote:

[2016-04-04 16:33] kanthchandra commented on #2475
@copyhawk you have used that image, but you havent started, mongodb and memcached. You need to add the services tag in order to start them. More information on configuring your build can be found here http://ship-docsv2.s3-website-us-west-2.amazonaws.com/ci_configure/

Can you please replace your yml file with this and see if it works and let us know?

[code]

[2016-04-04 18:17] copyhawk commented on #2475
Seems to be running now. Thanks for the help

On Mon, Apr 4, 2016 at 12:33 PM, Chandrakanth <notifications@github.com>
wrote:

[2016-04-04 18:23] lucasmpb commented on #1013
Hello guys, Not sure if I should open a new issue, but I'm having the same problem trying to setup the `SHIPPABLE_POSTGRES_CMD` env variable.

[code]
I'm using the postgresql 9.3 addon
[code]
But it's still using the default cmd
[code]

Same thing if I echo the env var
[code]

I'm using my own host to build (BYOH feature)

[2016-04-04 19:21] mgeisler opened #2480 "Commit status not updated on GitHub"
Hi, thanks for the service! This is excellent for small open source projects :-)

I have pull requests where the commit status isn't updated on GitHub after the build finishes successfully. See this run and the corresponding pull request:

* https://app.shippable.com/runs/5702b7b777ac7a0c000fa4a9
* https://github.com/mgeisler/cram/pull/3

The commit status was updated correctly on the first pull r

[2016-04-04 19:51] lucasmpb opened #2481 "Unable to start PostgreSQL with custom configuration."
Hello guys, I'm having the same problem reported here (#1013), trying to setup the `SHIPPABLE_POSTGRES_CMD` env variable.

[code]
I'm using the postgresql 9.3 addon
[code]
But it's still using the default cmd
[code]
Same thing if I echo the env var
[code]
I'm using my own host to build (BYOH feature)

[2016-04-04 21:11] abhijitkini commented on #2479
@gg-dh when you configured the host port, you need to specify a range. Could you confirm if you have used a range of ip address?
Here's more info: http://docs.shippable.com/pipelines_faq/#why-is-my-application-not-accessible-externally-even-though-my-pipeline-is-working-perfectly

[2016-04-04 23:50] abhijitkini commented on #2475
Thanks for the confirmation. Closing the issue as resolved.

[2016-04-04 23:50] #2475 closed

[2016-04-05 00:14] n0mer opened #2482 "check_hdd_space fails"
error while creating custom build node

![image](https://cloud.githubusercontent.com/assets/1862997/14267815/22114fe4-fad4-11e5-91fc-f3504cc643b2.png)

can you please elaborate what amount of free space is sufficient?

[2016-04-05 00:22] manishas commented on #2482
Minimum requirements are documented here - http://docs.shippable.com/ci_byoh/#minimum-requirements

[2016-04-05 00:22] #2482 closed

[2016-04-05 01:06] n0mer opened #2483 "build failed for syslog driver"
https://app.shippable.com/runs/57030d9277ac7a0c001baffc
[code]

Every step except 'wait_for_exit` is green, but overall build failed.

Docker installation on my host is configured to use syslog driver.

[2016-04-05 01:11] trriplejay commented on #2479
@gg-dh do you get this error consistently or was in under a particular condition?

one potential workaround you can try is:
1. uncheck the 'external?' box and deploy from the configuration tab. wait for 'success' message.
2. check the 'external?' box again, choose your settings, deploy from config tab again.

[2016-04-05 01:18] manishas commented on #2481
@lucasmpb Our latest official images do not have multiple versions of Postgres installed, they only have 9.4. If you want to use an older version, you should specify the build image to be shippable/minv2 or your custom image with the specific version you need.

The following snippet in your yml will pull shippable/minv2 for your build:

[code]

[2016-04-05 01:18] manishas commented on #2480
@rageshkrishna can you ask someone to look into this asap?

[2016-04-05 01:20] manishas commented on #2472
@harryi3t are you following up on this offline?

[2016-04-05 03:25] drautb opened #2484 "Colorize HipChat Notifications"
HipChat supports messages with colored backgrounds. We'd love to be able to customize the color of the HipChat notifications that Shippable sends. (Such as making success messages green, and failure messages red.)

[2016-04-05 03:45] rageshkrishna commented on #2480
I'm not sure why yet, but we're seeing GitHub return a 422 status code when we try to update the commit status on your project. We'll take a deeper look at this today and see what's really going on.

[2016-04-05 05:18] harryi3t commented on #2472
@manishas I have not received any mail from @Paviel yet.
It's true that we have updated the naming convention of the files we store on `s3` but that we are handling in our code. So there should be no problem in that.
I need more information to understand what is going wrong.

[2016-04-05 05:54] chetantarale commented on #2378
@tdutrion PHP7 image is available now. Would you please try it out and let us know if this works for you?
The docs [here](http://docs.shippable.com/ci_languages/#php) should be helpful.
Thanks!

[2016-04-05 05:55] #2378 closed

[2016-04-05 06:32] Paviel commented on #2472
We have resolved the issue in out shippable.yml

[2016-04-05 06:32] #2472 closed

[2016-04-05 06:58] mgeisler commented on #2480
Thanks for looking into it!

[2016-04-05 08:25] TomK opened #2485 "Sequence Coverage not entirely accurate"
Hi, i'm using PHPUnit 4.8 to output coverage in xml.
The sequence coverage (which i have read is line coverage), is coming out too low.

Example build: https://app.shippable.com/runs/570370741644e20b002a8854

Many files here are listed as 0% where in fact there are no executable lines in those files, so they are actually 100%.  In many instances this is correct, these are interfaces.
I assume this

[2016-04-05 09:05] mspanc opened #2486 "bundle: command not found while running ruby build"
I am getting `bundle: command not found` while running ruby build

https://app.shippable.com/runs/56fd2325d1f1f60c002f4ac5

shippable.yml:

[code]

[2016-04-05 09:18] TomK commented on #2485
I have opened an issue on PHPUnit suggesting a change to coverage to 100%.
However, it would be nice if shippable could interpret this situation as covered since this exists in historical versions of phpunit.  Specifically where we can see `executable="0"`

[2016-04-05 09:21] gg-dh commented on #2479
@abhijitkini

If by range you mean something like `30500 - 31500`, then no, this doesn't work.
I use 31000 for my current setup.

@trriplejay I was getting this error all the time.
Your workaround actually helped.
- First I unchecked "external?" box, specified 31000 host port and deployed the app. This created some internal and external endpoints in my cluster (as I've seen in the Kubernetes dashb

[2016-04-05 09:27] gg-dh commented on #2479
Btw, is the ip of the load balancer immutable? I mean, what I have to do next is create a "static ip" in the google cloud console and create a DNS record. Can I be confident that the external ip won't change in the future? Or, maybe a better question is: when does the ip change, under what conditions?

[2016-04-05 09:59] chetantarale commented on #2486
@mspanc You are using ruby 2.2.3 which is not preinstalled in our official images and when you using any ruby version other than the supported ones you will need to install your own packages.

For now you can install bundle by using `gem install bundler` command in your yml's `before_script` section or in `ci` section when using `new yml` format.

Also if you are using postgres you may also need t

[2016-04-05 11:48] lucasmpb commented on #2481
Hi @manisha. According to the build log, it looks like we are already using `shippable/minv2:latest`

[code]

This is the build ID if you want to take a look at the logs `5701448915baad0c002c0b2b`

[2016-04-05 12:17] spsiddarthan commented on #2480
@mgeisler, We have deployed a fix for this. Could you please try again and let us know the if the problem still exists?

[2016-04-05 13:08] iivvoo opened #2487 "drydock/u14nod:prod - Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty-updates/main/binary-amd64/Packages Hash Sum mismatch"
When using the drydock/u14nod:prod image an apt-get update/upgrade results in

[code]

This happens structurally, rebuilding has no effect. Clearing cache makes no difference either.

[2016-04-05 13:26] iivvoo commented on #2487
sample (failing) build: https://app.shippable.com/runs/5703b5f9018a420c00174153

[2016-04-05 13:27] mbrodala commented on #2086
Apparently it's `$HOME/.phpenv/versions/$(phpenv version-name)/lib/php/extensions/no-debug-non-zts-20131226/` which cannot be added to `cache_dir_list` this way. Caching/restoring `$HOME/.phpenv/versions/$(phpenv version-name)` [takes ages](https://app.shippable.com/runs/5703bb963f96470d00b64bbb) thus is not an option.

And Pickle [doesn't check](https://app.shippable.com/runs/5703bca13f96470d00b6

[2016-04-05 13:44] TomK opened #2488 "Segfault on first build in matrix"
Please see https://app.shippable.com/runs/5703bef51c51560c004f746f
The tests all pass but phpunit segfaults when creating the coverage xml.

[code]

[2016-04-05 14:13] #2486 closed

[2016-04-05 15:19] chetantarale commented on #2487
@iivvoo You will need to rebuild cache.Running the following commands before  `apt-get update`  should resolve it.
[code]

[2016-04-05 16:13] a-murphy commented on #2488
It looks like some segmentation faults were fixed in [Xdebug 2.4.0](https://xdebug.org/updates.php), so that might be worth trying.

[2016-04-05 16:15] TomK commented on #2488
thanks @a-murphy, any idea how i should get shippable to upgrade xdebug?

[2016-04-05 16:46] #2480 closed

[2016-04-05 16:48] manishas commented on #2313
@cratz i am closing this issue, but please let us know which packages you need and we can reopen.

[2016-04-05 16:48] #2313 closed

[2016-04-05 17:54] trriplejay commented on #2479
Google seems to be pretty good about making that IP stick.  If you uncheck that 'external?' box again and deploy, I'd say that gives you the highest chance of losing the IP, but even in some of those cases it will reassign the same IP if you request a load balancer again.

Deployments that don't change the routing section won't affect the IP for sure.

[2016-04-05 20:49] taylortdixon opened #2489 "NPM Error On Build"
Build Link: https://app.shippable.com/runs/570421f3c4ea6d0c00c76023

NPM seems to fail on all our builds. This does not happen on our teams local machines. I believe this is a shippable error.

[2016-04-05 21:30] abhijitkini opened #2490 "GitHub issues impacting builds in Shippable"
Pushing a change from a local repository is not being reflected in the GitHub repo. Hence Shippable builds are not triggering upon commits/pull requests.

[2016-04-05 22:34] abhijitkini commented on #2490
GitHub service status back to normal (https://status.github.com/). Shippable builds are being triggered successfully.

[2016-04-05 22:34] #2490 closed

[2016-04-06 01:11] a-murphy commented on #2488
I've found a way to install the new version of Xdebug in the build script, and hopefully someone else can find a better way.  It should at least work well enough to figure out if it's related to your problem.

Adding the following to the ```ci``` section in ```shippable.yml``` results in PHPUnit using Xdebug 2.4.0:
[code]

It's downloading Xdebug 2.4.0, compiling it, and copying it into the locati

[2016-04-06 05:37] manishas commented on #2483
@n0mer We install docker on the build machines and custom docker configs on the build host is currently unsupported. Our code uses docker logs command and according to [docker docs](https://docs.docker.com/engine/admin/logging/overview/): The docker logs command is available only for the json-file and journald logging drivers.

If we hear frequent feedback around this, we will figure out a way to

[2016-04-06 05:37] #2483 closed

[2016-04-06 05:44] somenathghosh opened #2491 "heroku deployment failing"
I am doing some POC on Shippable to deploy simple node web app to heroku via Shippable. I have tried many options, but could not make it successful. My git repo with shippable.yml at https://github.com/somenathghosh/shippable-node.git.

The build is failing at heroku login.

[code]

also getting this error:

`echo 'An error occurred while trying to export an environment variable: <heroku-api-key>

[2016-04-06 05:44] rageshkrishna commented on #2489
@taylortdixon I noticed your build is running on shippable/minv2 image. This image is no longer supported or maintained. As the first step towards debugging this, can you please try using `drydock/u14nodall:prod` as your build image?

[2016-04-06 06:17] manishas commented on #2491
@somenathghosh we have made some changes to where the ssh keys are stored. Please look at the FAQ here - http://docs.shippable.com/ci_faq/#i-am-pushing-to-heroku-as-part-of-my-build-why-is-this-suddenly-failing

Try the following change in the yml:

[code]

[2016-04-06 06:45] somenathghosh commented on #2491
@manishas The issue  got resolved. BTW, do you have any document to CI/CD docker image to Heroku ?

[2016-04-06 08:41] gg-dh commented on #2479
It would be great if we could specify that load balancer ip manually (or Shippable would remember it and reuse when load balancer is recreated).

That's how I can do it via the Kubernetes resources configs.

First, I create the service without specifying the ip:

[code]

This actually allocates some external ip. Then I go to the cloud console -> Networking -> External IP addresses, search for this

[2016-04-06 08:54] TomK commented on #2488
upgraded to xdebug 2.4.0 and still getting a segfault:
[code]

[2016-04-06 10:06] eric-naguras opened #2492 "Sample application doesn't push to my docker hub"
I'm trying to follow the Deploy A Sample Application tutorial.
All seems to go well except at the end there is an error:
Error response from daemon: could not find image: no such id: ericnaguras/micro-www:latest

Do you need to make the repositories upfront in docker yourself?

Any help would be appreciated.

eric-naguras/micro-sample/master.4

[5704da6e018a420c0038b0fb.log.zip](https://github.com

[2016-04-06 10:36] rageshkrishna commented on #2492
Hi @eric-naguras. The problem is that your docker build is doing this:

[code]

but you are trying to tag something else:

[code]

I think this line should be:

[code]

[2016-04-06 10:46] eric-naguras commented on #2492
Thanks for your info.
I’ll give it a try.

I guess someone needs to update the tutorial then.

From:  Ragesh Krishna <notifications@github.com>
Reply-To:  Shippable/support <reply@reply.github.com>
Date:  Wednesday, 6 April 2016 at 5:36 PM
To:  Shippable/support <support@noreply.github.com>
Cc:  Eric Dela Cruz <eric@naguras.com>
Subject:  Re: [Shippable/support] Sample application doesn't push to

[2016-04-06 10:56] eric-naguras commented on #2492
Now I get an other error: Integration name specified in yml does not match integrations present in project settings: my_docker

I deleted the integration I made earlier and created a new one named my_docker.

 on_success:
       - cd ..
       - cd micro-www && docker build -t naguras-docker/micro-www .
       - docker tag -f my_docker/micro-www:latest ericnaguras/micro-www:$BRANCH.$BUILD_NUMBER

[2016-04-06 11:03] rageshkrishna commented on #2492
It's not enough to create the account integration. You also need to go to the project settings page and enable the integration on the project by selecting it from the "Integrations" panel.

[2016-04-06 11:05] eric-naguras commented on #2492
I did that too.

From:  Ragesh Krishna <notifications@github.com>
Reply-To:  Shippable/support <reply@reply.github.com>
Date:  Wednesday, 6 April 2016 at 6:03 PM
To:  Shippable/support <support@noreply.github.com>
Cc:  Eric Dela Cruz <eric@naguras.com>
Subject:  Re: [Shippable/support] Sample application doesn't push to my docker hub (#2492)

need to go to the project settings page an

[2016-04-06 11:11] rageshkrishna commented on #2492
OK, I think I see the problem here. You have created an integration for "Private Docker Registry". This is intended to work with custom deployments of the registry. If you are using Docker Hub, please choose "Docker" as the type of integration when you create the account integration.

[2016-04-06 11:49] iivvoo commented on #2487
Correct, this fixes it though I don't really understand how I can start my build with a broken image. Also, for future reference if anyone else runs into this make sure you restore your CWD

[code]

[2016-04-06 11:49] #2487 closed

[2016-04-06 12:38] cratz commented on #2313
Hi,
OK thx, I will.
Sorry for not getting back to you but I have no time currently and since the old image is working this issue is not critical for us.

[2016-04-06 12:58] eric-naguras commented on #2492
Hi Ragesh,

I managed to finish the build, thanks for your help.
I made a mistake somewhere else in the shippable.yml file.

Can I ask you for some guidance?

I want to have a production and a beta server.

How would I do this with Shippable?

When I add some new features to my service that I first want in the beta service do I make a branch in git first?
If so, how would I organise the builds?

C

[2016-04-06 13:56] SDETools opened #2493 "Unable to Add Node"
After changing our Billing info, our custom nodes disappeared from "Build Infrastructure" and I am unable to use the "Add Node" button. https://app.shippable.com/subscriptions/55f97b061895ca447415cb44

Tried switching from "My Node" to "Shippable Node" and back, no change.

Please help resolve this.

/Torben

[2016-04-06 14:48] kanthchandra commented on #2493
@SDETools This fix for this should be available in the next couple of minutes. This was because of a bug in our frontend code which we have fixed and deployed.

[2016-04-06 14:48] kanthchandra commented on #2493
@SDETools Can you please try it now and let us know if it works? Also please hard refresh the page before trying it out.

[2016-04-06 14:57] avinci commented on #2492
@eric-naguras I think the best way would be to setup a demo. I am happy to walk through it and also show you what we do internally at shippable as we use our product to build our product :-)

my email is avi@shippable.com if you would like to the conversation offline.

[2016-04-06 14:58] avinci commented on #2466
this was implemented just today and pushed to production. Please try it out...

[2016-04-06 15:13] SDETools commented on #2493
@kanthchandra It works now, thank you.

[2016-04-06 15:13] #2493 closed

[2016-04-06 17:55] himanshu0503 opened #2494 "Update BUILD TIMEOUT section in ci_configure doc"

[2016-04-06 18:16] a-murphy commented on #2488
Since the segmentation fault is probably related to PHP in some way, and you're only seeing it for 5.6, you could try a more recent version of PHP 5.6.  The currently-installed version for 5.6 is 5.6.7.

This will install 5.6.18, tell phpenv to use it, and install Composer for 5.6.18:
[code]

[2016-04-06 20:17] dcramble opened #2495 "On-Premises build node stopped processing"
We setup an on-premises build node a few weeks ago, and it has been working great. However, today it seems Shippable has lost communication with our build node, or some other issue. Although, the Shippable web interface shows a green status for our node, CI builds are just sitting at the _provision job node_ stage of the build process.

We checked to make sure our node is still available from outs

[2016-04-06 20:23] manishas commented on #2495
@dcramble we're looking into this.

@trriplejay

[2016-04-06 20:29] manishas commented on #2494
closing. this is actually a bug that has been filed in the internal repo.

[2016-04-06 20:29] #2494 closed

[2016-04-06 20:30] manishas commented on #2492
I am closing this issue since it is resolved. @eric-naguras as Avi mentioned, please reach out to him to discuss the best way to set up your deployments.

[2016-04-06 20:30] #2492 closed

[2016-04-06 20:32] manishas commented on #2491
@somenathghosh support for heroku's container service will be available through our pipelines in a few weeks.

I am not familiar with docker deployments to heroku, but there must be a way to push a container through your shippable.yml. We will look into this a bit and let you know what we find.

[2016-04-06 20:32] #2491 closed

[2016-04-06 20:40] trriplejay commented on #2495
@dcramble Shippable runs a container on your machine that listens for builds.  Could you issue a `docker ps -a` and show us the output? there should be a running container named something like `shippable-mexec-...`

[2016-04-06 20:42] dcramble commented on #2495
[code]

[2016-04-06 20:55] ttrahan commented on #992
@bbradbury: This is now available. Please take a look at the [docs](http://docs.shippable.com/ci_configure/#pull-requests) for more details. Let us know if you have any questions.

[2016-04-06 20:56] ttrahan commented on #237
This is now available. Please take a look at the [docs](http://docs.shippable.com/ci_configure/#pull-requests) for more details. Let us know if you have any questions.

[2016-04-06 20:57] trriplejay commented on #2495
@dcramble did anyone use the 'reset' button from the subscription settings tab recently?

[2016-04-06 20:59] boxheed opened #2496 "disable default gradle assemble for a gradle project"
I have a gradle project for which I use the gradle wrapper and the default container, however the `build_ci` target runs `gradle assemble` which I don't want it to do. Is there any way to stop shippable doing this?

[2016-04-06 21:02] dcramble commented on #2495
There is only three of us testing the interface right now and we didn't intentionally push it, so I think "No", but can't say 100%.

[2016-04-06 21:02] bbradbury commented on #992
Awesome thanks @ttrahan ! We'll put it to use immediately.

[2016-04-06 21:17] trriplejay commented on #2495
hmm, ok.  Could you do a `docker logs --tail=500 2c5974576d72` and email me the output? john@shippable.com I'll see if I can figure out why our agent can't connect.

In the meantime, the fastest way to get your builds running is probably:
1. delete your node
2. re-add your node and run the scripts again.

Sorry for the inconvenience.  We'll try and get to the bottom of this.

[2016-04-06 21:22] manishas commented on #2496
@boxheed if you want Shippable to skip default processing for the `ci` section, just put some command in that section.... even something like `pwd` or `ls`. As long as there is some command in the `ci` section, default processing will be skipped.

[2016-04-06 21:40] dcramble commented on #2495
No problem, your support has been outstanding considering we're working with the free tier at this time.

It's kind of hassle to remove and add nodes for us, because of the security restrictions we have - based on our GitHub team configuration. We'll wait it out for a couple of days and then see if we do need to delete the node and re-add it.

[2016-04-06 21:47] trriplejay commented on #2495
Ok, we'll update here once we have more info.

[2016-04-06 22:02] boxheed commented on #2496
thank you

[2016-04-06 23:06] CobySeo opened #2497 "I can not sign in through Github"
The message that is shown up on the page is:

status: 401 data: {"message":"Requires authentication","documentation_url":"https://developer.github.com/v3"

How can I solve this error?

[2016-04-06 23:14] trriplejay commented on #2495
@dcramble your node should be fixed now. Let us know if you have more trouble.

[2016-04-06 23:17] dcramble commented on #2495
Thanks - it's building now.

[2016-04-06 23:17] #2495 closed

[2016-04-07 04:06] manishas commented on #2496
Closing

[2016-04-07 04:06] #2496 closed

[2016-04-07 04:07] manishas commented on #2488
@TomK please let us know if Aidan's suggestion above works for you.

[2016-04-07 04:28] rageshkrishna commented on #2481
@lucasmpb I took a deeper look at this today and it appears that we have regressed on the ability to pass options to services when they start up in the new build system. We're working on enabling this again and should have an update for you a little later today.

[2016-04-07 05:34] pquentin commented on #2466
Perfect, thank you!

[2016-04-07 05:34] #2466 closed

[2016-04-07 06:18] KnowRe opened #2498 ".ebextensions is ignored again"
Looks like it's fixed once but it started to ignore .ebextensions folder again.
https://github.com/Shippable/support/issues/2156

The log is below:
https://app.shippable.com/runs/5705f76ff028a50b0080873f

[2016-04-07 07:39] mbrodala opened #2499 "Coverage includes skipped files"
The coverage status of Shippable currently includes files which have been marked to be ignored from code coverage. E.g. in PHPUnit via `@codeCoverageIgnore`. This distorts the coverage percentage and distracts from parts which really have no coverage.

Is it possible to have Shippable exclude these from the coverage status/display/listing?

Here's an [example build](https://app.shippable.com/runs/

[2016-04-07 08:39] TomK commented on #2488
Hi, unfortunately i get the same result on `PHP 5.6.18 with Xdebug 2.3.3`:
[code]

[2016-04-07 10:48] robwilkerson opened #2500 "Knex database connection fails"
I'm working on my Shippable app - a Nodejs API. I'm at a point where I have a test database in place and I need to run my migrations against it, but I get an error that makes no sense to me

The build step being executed is this:

    (cd www && NODE_ENV=test knex --knexfile ./config/knexplus.js migrate:latest)

The error output is this:

    Working directory changed to ~/src/github.com/org/api/w

[2016-04-07 11:27] lucasmpb commented on #2481
Thanks Ragesh, i appreciate it.

[2016-04-07 11:37] TomK commented on #2488
I've added php55 to the matrix just to see.
php55 is segfaulting as well as php56

[2016-04-07 13:08] ric03uec commented on #2499
@mbrodala you're right, the ignored files should be excluded from distorting the coverage numbers. we'll look into this

[2016-04-07 14:34] manishas commented on #2481
@lucasmpb this is now fixed. Please let us know if it works. Thanks!

[2016-04-07 14:34] #2481 closed

[2016-04-07 14:38] manishas commented on #2498
@trriplejay can you take a look at this?

[2016-04-07 14:39] manishas commented on #2497
Is this still happening? We haven't seen this reported by anyone else so wondering if it was a transient thing.

[2016-04-07 14:41] harsh157 commented on #2481
You will need to define the env. variables that you use in postgres start command in yml.

Sample yml:
[code]

[2016-04-07 14:59] CobySeo commented on #2497
Oh I was confused that it was cloud9's page.
I mean I cannot sign in to cloud9 via github

[2016-04-07 14:59] CobySeo commented on #2497
And it is still unavailable to sign in with same message on it.

[2016-04-07 15:05] manishas commented on #2497
You mean you still can't sign in to cloud9? That's not our site.

Do you need any help with Shippable?

[2016-04-07 15:06] manishas commented on #2497
Closing this issue since it's not a Shippable related problem.

[2016-04-07 15:06] #2497 closed

[2016-04-07 15:07] CobySeo commented on #2497
Oh I see. I thought it may be somehow related to github cause i was trying
to sign in to cloud9 with my github account.

On Fri, Apr 8, 2016 at 12:05 AM Manisha <notifications@github.com> wrote:

[2016-04-07 15:14] manishas commented on #2497
This is not a support forum for github or cloud9.

It's for reporting problems with Shippable - https:://app.shippable.com - a continuous delivery platform.

[2016-04-07 15:15] CobySeo commented on #2497
Oh i got it.
Sorry

On Fri, Apr 8, 2016 at 12:14 AM Manisha <notifications@github.com> wrote:

[2016-04-07 15:35] a-murphy commented on #2500
The databases in the new default images don't have a "shippable" user, so MySQL notices that someone is trying to connect as a user that doesn't exist and tries to see if you can connect without a username.  You can either create a shippable user by adding ```mysql -e "GRANT ALL ON *.* TO shippable@localhost IDENTIFIED BY ''; FLUSH PRIVILEGES;"``` to your shippable.yml in the ```ci``` section befo

[2016-04-07 16:53] robwilkerson commented on #2500
Ah, thank you. One of the most difficult aspects to getting up and running was finding the right documentation. I feel like I've seen two or three different versions in different places. I appreciate the help.

[2016-04-07 16:53] #2500 closed

[2016-04-07 17:19] 9len commented on #2411
ok found a [patch to gocov-xml](github.com/marinbek/gocov-xml) that at least calculates line-rate, so I'm seeing reports. However, within a package, each line is missing the relevant class name.

https://app.shippable.com/runs/57068ccd4abda90c00d19cdd

I've played around with truncating the package names to make them smaller, and changing the "-" value for static methods to something like "__packa

[2016-04-07 18:29] lucasmpb commented on #2481
@manishas @harsh157 it's working now. Thank you guys!

[2016-04-07 18:30] rhherrera opened #2501 "Push to quay.io with all branches, tests only on master."
Hi,
sorry if this is repeated on other thread but I couldn't find it.
This is the situation, I actually use shippable with 5 CI build container, 4 containers that run unit tests of different apps and one container that run e2e.
Also I push my images to quay.io (actually I'm doing this with strider) I want to stop using strider and start do it with shippable also but here is the deal.
On my shippab

[2016-04-07 22:13] 9len commented on #2411
I have tried a variety of different package and class name variants, including making them look exactly like java package/class names. In all cases, the package name appears to be used instead of the class name. should I file a new issue?

[2016-04-07 23:40] trriplejay commented on #2498
looks like a bug on our end. We should have something deployed in the next day or two. I'll update when the fix is available.

[2016-04-08 01:26] rahuladeptus opened #2502 "Do gradle builds works with gradle wrapper?"
Does it work with gradlew honouring the gradleVersion specified by the project?

If not whats the current default gradle version used?

[2016-04-08 02:59] jdextraze commented on #1557
I'm still not seeing the tests results. Example build: https://app.shippable.com/runs/57071d133fa7e60d005fe887

[2016-04-08 03:12] manishas commented on #1557
@ric03uec we need to look at this asap.

[2016-04-08 03:13] sboesen opened #2504 "after moving github projects, building project breaks."
I moved a github project to a different account;as building fails because the git_sync step tries to clone from original repo, which doesn't exist.

When I try to delete my original account I get the following error message:

[code]

Thanks for a good product otherwise!

[2016-04-08 10:26] AndriyPt opened #2505 "Changed annual plan from 5 minions to 1 again"
We have already had the same issue some time ago
https://github.com/Shippable/support/issues/1780

In the current case we have received email from Manisha Sahasrabudhe about our plan deprecation and I have tried steps from **Migrate your Subscription to the new plan** but after I have changed amount of containers to 5 (the same amount of minions which we have and paid for) I get hint to provide cr

[2016-04-08 12:45] oppianmatt opened #2506 "services binding inconsistent, postgres doesn't bind to * address"
Trying to connect to postgres from a docker container but postgres is only listening on localhost. This is inconsistent with services like redis which listen on *.

For example:

[code]

redis is bound to *:6379 and so can be used in docker containers but postgres is bound to 127.0.0.1 so can't be used.

shippable.yml:

[code]

Note tried a work around of setting the environment cmd that starts po

[2016-04-08 14:29] manishas opened #2507 "customer qs on twitter - Is there any chance @BeShippable will update gcc any time soon?"
Is there any chance @BeShippable will update gcc any time soon? At least 4.9? Our builds are failing because of it.

[2016-04-08 14:33] manishas commented on #2507
We now officially support C/C++. If you use the language: c tag in your yml as shown below, the official C image will be pulled for your build by default. The gcc version on this image is v5.3.0

[code]

More on this here - http://docs.shippable.com/ci_languages/#c

[2016-04-08 15:24] manishas commented on #2501
@rhherrera your scenario is possible with Shippable.

You can use the $BRANCH environment variable and run your test command only if it is set to master. For example-
[code]

Docker cache will be used if the same machine is used for your builds. This happens in one of 2 ways:
- We keep build machines up for 50 mins after they are spun up. If another build starts during that time, it is run on the

[2016-04-08 15:27] manishas commented on #2505
@AndriyPt We shut down the $12 Startup plan on 2/28. This was communicated through my email, and you will be issued a refund for the $12 paid. We had actually sent out communication in July 2015 about shutting down the plan but it took a few months to be implemented.

You'll need to upgrade your plan at the current price of $10/minion. Let me know if you have any questions.

Also, please let me kn

[2016-04-08 15:28] manishas commented on #2502
@a-murphy can you answer this? Thanks!

[2016-04-08 17:57] a-murphy commented on #2502
Yes, tasks run with ```./gradlew```, such as ```./gradlew test```,  as documented [here](https://docs.gradle.org/current/userguide/gradle_wrapper.html) will use the version of Gradle specified in the wrapper.

If you have only specified  ```gradleVersion``` in a wrapper task in ```build.gradle``` and haven't created a ```./gradlew``` file (or the version in that file doesn't match), you may need t

[2016-04-08 18:06] trriplejay commented on #2506
for your SHIPPABLE_POSTGRES_CMD, you can avoid that error by putting everything in quotes:
[code]

Typically we just start our services with default settings and let the user override if necessary.  Let us know if that works for you.

[2016-04-08 18:13] manishas commented on #2505
I have issued a refund for the $12 cost of Startup plan. You should see it on your card in the next couple of days.

[2016-04-08 18:13] #2505 closed

[2016-04-08 18:16] manishas commented on #2502
@rahuladeptus i'm closing this issue but please let us know if you have additional questions.