[2016-03-02 08:21] himanshu0503 commented on #2086
@mbrodala : Can you try using the command `echo "extension=intl.so" >> $HOME/.phpenv/versions/$(phpenv version-name)/etc/php.ini` to load `intl` extension.

We've been trying building php projects using `intl` on our end. Here is the [yml](https://github.com/chetantarale/php-intl/commit/10cf8ead7d609ddc30e84bdd2861086d354a9364) for your reference.

[2016-03-02 08:29] pbosko opened #2310 "chown: invalid user: ‘shippable.shippable’"
Hello,

On March 1st 16:26 (GMT+1) a commit passed all tests in build: https://app.shippable.com/runs/56d5b4a601e5670d00aae83d

When I merged that commit on March 2nd 08:01 (GMT+1) build for merge commit https://app.shippable.com/runs/56d68fc06c92f40c002b0aa2 failed with message "chown: invalid user: ‘shippable.shippable’"

Any workarounds you might suggest? Will this be a permanent change?

Thank

[2016-03-02 08:30] ric03uec commented on #2289
@luckyraul
- we're working on a fix for the docker login issue. this will be deployed by end of day. i'll update you as soon as its done
- fixing the console escaping is a known issue and we'll be picking it up shortly after we get past more critical bugs

[2016-03-02 08:32] cratz commented on #2304
@manishas
e.g. https://app.shippable.com/runs/56d59ea4797c670c00f6fe71
With my workaround (starting pg server by "hand") it works with the new default image.
I just created this issue to help other users who have the same problem.

Thank you anyway!

[2016-03-02 08:41] mbrodala commented on #2275
@rageshkrishna How are official images detected? And why are `drydock/*` images not official? We are using `drydock/u14php` and have to export `SHIPPABLE_IS_OFFICIAL_IMAGE` in all of our projects, [otherwise `setup_php` fails](https://app.shippable.com/runs/56d6a58fac215a0c00bbccb3).

[2016-03-02 08:43] rageshkrishna commented on #2310
Hi @pbosko. Builds only run as `shippable` user on shippable/minv2. Moving forward, every build will run as `root`.

[2016-03-02 08:46] rageshkrishna commented on #2275
Hmm, that should not be happening to drydock images.. I'll check right now and get this fixed.

[2016-03-02 08:52] cratz commented on #2287
@manishas
The solution for my problem is simple I just have to prefix all docker commands with `sudo`. I found this after checking old build logs. My be you should update [the documentation](http://docs.shippable.com/ci_configure/?utm_campaign=Shippable+4+Release#pushing-an-image-to-a-registry)

Unfortunately the used "shippable default image" changed magically during the night
from `sudo docker p

[2016-03-02 08:57] manishas commented on #2287
@rageshkrishna can we check why we're pulling u14rub by default? They are on the CD plan but their project was enabled in 11/2015.

[2016-03-02 09:07] cratz commented on #2287
@manishas @rageshkrishna
Same magic change happened in 2 other (node.js) projects.
From `shippable/minv2:latest` to `drydock/u14nod:prod`
Looks like you try to determine correct image for project language.

Btw. our node projects are working fine with new the image.

[2016-03-02 09:16] pquentin commented on #2275
@rageshkrishna Your [suggestion](https://github.com/Shippable/support/issues/2275#issuecomment-191072563) does work, but it's `source $HOME/sample_ve/bin/activate` (you forgot `source`). But in other words, setting python to something else than "2.7" continues to be useless by itself: we need to do the work ourselves in the yml file.

[2016-03-02 09:22] #2297 closed

[2016-03-02 09:25] pquentin opened #2311 "When pulling image from gcr, we need to prepend gcr.io"
When using gcr.io, we need to prepend gcr.io to the image name. The [yml docs](http://docs.shippable.com/ci_configure/#pulling-your-ci-image-from-a-docker-registry) say that image_name value is in the format (docker registry username)/(docker registry image repo), but that's not the case: if I remove gcr.io, the pull fails. Here's the relevant part of my yml file for reference:

[code]

[2016-03-02 09:29] mbrodala commented on #2086
@himanshu0503 Sometimes it can be that simple. I was able to enable "intl" this way, thanks a lot! Asking once again: will Pickle be promoted to a regular system command in the near future or will it stay in `/tmp` for the time being?

And I guess I'll go with the suggested route to manually remove the `xdebug.ini`.

[2016-03-02 09:34] rageshkrishna commented on #2275
Thanks, @pquentin! I've updated the snippet above.

I see what you're saying about doing the work in the YML file, but I'm not sure what the safe alternative could be when we're running the build on a custom image. For minv2 and all drydock images, this will be handled by us without any effort from your end.

If it makes it easier, this is basically what we do internally on official images:

[code

[2016-03-02 09:38] pquentin opened #2312 "Push image to GCR after ci"
I'm trying to use the new way to build yaml files to reproduce the setup that was working perfectly fine until now. I retrieve an image from GCR, add things to it, test the result, and want to send it back to GCR. The `pre_ci_boot` and `ci` steps work, but `post_ci` does not. As you can see in https://app.shippable.com/runs/56d6b68e6b86640c0040f716, I get:

What's going on?

[code]

[2016-03-02 09:38] kanthchandra commented on #2117
A few things came up today morning and I'm starting to look at this now. BTW @mgladdish and @chriskinsman both the builds ran on the old system so you would have got the notification from old engine. I'll see what's wrong and get back to you as soon as I have more info.

[2016-03-02 09:40] rageshkrishna commented on #2275
@mbrodala I'm unable to repro the problem you're seeing with `drydock/u14php`. I just tried a new build and it is indeed setting `SHIPPABLE_IS_OFFICIAL_IMAGE`. Can you please link me to a build where you've seen this happening.

I can confirm that `shippableImages/*` is not part of the official list.

[2016-03-02 09:51] rageshkrishna commented on #2287
@cratz You're correct -- if you're using the new YML format and you do not specify the image we try to pick the most appropriate drydock image for your project. You can always force the build to use any image you want with the following YML:

[code]

[2016-03-02 09:54] rageshkrishna commented on #2275
I will get rid of the problem where setup_php is failing for other images. I can see we made a mistake with the last line where it tries to print the language version.

[2016-03-02 09:59] himanshu0503 commented on #2086
@mbrodala : Sure, we've opened an internal issue to fix the pickle path. Will update you once the changes are made.

[2016-03-02 09:59] cratz commented on #2287
@rageshkrishna
Thanks for the information, I will specify the image.
You should check your `u14rub` image. Looks like there are missing packages to run `bundle install` successfully.

"build_ci" section in this build:
https://app.shippable.com/runs/56d6a965ac215a0c00bddf8e

[2016-03-02 09:59] pquentin commented on #2312
Fixed, I had to use the full name in docker build: `docker build -t gcr.io/clustree-cloud/$REPO_NAME:$COMMIT .` instead of `docker build -t $REPO_NAME .`.

[2016-03-02 09:59] #2312 closed

[2016-03-02 10:08] rageshkrishna commented on #2287
@cratz Can you please open another issue for the u14rub issue? I'm already looking in to it, but it'll help to keep the discussion separate.

[2016-03-02 10:13] cratz opened #2313 "drydock/u14rub:prod missing packages"
Looks like there are missing packages in `drydock/u14rub:prod` image to run `bundle install` successfully.

[code]

"build_ci" section in this build:
https://app.shippable.com/runs/56d6a965ac215a0c00bddf8e

[2016-03-02 10:13] cratz commented on #2287
#2313

[2016-03-02 10:17] pquentin opened #2314 "A commit on one project led to four builds"
Here are the four builds in question:

- 60: https://app.shippable.com/runs/56d6baa787a3710b0041a362
- 61: https://app.shippable.com/runs/56d6baa76b86640c0041ef6d
- 62: https://app.shippable.com/runs/56d6baa7300cbc0d0096cc71
- 63: https://app.shippable.com/runs/56d6baa787a3710b0041a385

We canceled manually the builds 61, 62 and 63.

[2016-03-02 10:21] rvrignaud commented on #2306
@manishas could you please document an exhaustive list of all tools needed in a custom image ?

[2016-03-02 10:24] cratz opened #2315 "build: post_ci failure should not affect on_success being called"
`on_success` section is not called after tests passed:

https://app.shippable.com/runs/56d6abcbac215a0c00be8dc2

[2016-03-02 10:27] ducky427 commented on #2270
@manishas, I tried the `runs` api you suggested and it always returns `[]` no matter whatt the parameters are even when I tried the ones you've mentioned.

Has it been deployed?

[2016-03-02 10:39] rageshkrishna commented on #2314
@pquentin The only reason I can think of for this to happen is that we received multiple webhooks from BitBucket. Would you mind checking your project's webhook settings page on BitBucket to confirm this? This should be at https://bitbucket.org/{yourOrg}/{yourRepo}/admin/addon/admin/bitbucket-webhooks/bb-webhooks-repo-admin

[2016-03-02 10:45] pmezard commented on #2299
Here is another example, this time using the new-fangled yml format:

  https://app.shippable.com/runs/56d6bfe2d6078c0c005da3e8

[2016-03-02 10:54] mbrodala commented on #2290
@rageshkrishna Did you fix this already? At least I cannot see the issue anymore.

[2016-03-02 10:55] mbrodala commented on #2293
Looking forward to this since this is the last issue which lets our [builds fail](https://app.shippable.com/runs/56d6c527d6078c0c005f6c5c) AFAIS.

[2016-03-02 10:57] mbrodala commented on #2275
@rageshkrishna Thanks, you are right that this workaround is only necessary for the older images, it [works just fine](https://app.shippable.com/runs/56d6c6436b86640c004639a8) for the `drydock/*` images.

[2016-03-02 10:59] rageshkrishna commented on #2299
@pmezard Can you please try running a build with the command `ssh -vT git@bitbucket.org`? This should tell us exactly why the SSH authentication is failing.

[2016-03-02 11:00] rageshkrishna commented on #2290
Yes, this was deployed around an hour ago. Please reopen this issue if you still run in to it.

[2016-03-02 11:00] #2290 closed

[2016-03-02 11:04] rageshkrishna commented on #2293
Very close to getting this fixed. Just waiting for the AMI snapshot to finish.

[2016-03-02 11:06] mbrodala commented on #2290
Thanks for fixing, works fine so far. :-)

[2016-03-02 11:11] pmezard commented on #2299
Here it is:
[code]

[2016-03-02 11:13] pmezard commented on #2299
I suspect what happening is your deployment SSH keys are now by repository instead of organization-wide. Here we try to clone another repository from the repository being built. Did anything changed in this area during your release?

[2016-03-02 11:17] pquentin commented on #2314
@rageshkrishna There are four `Shippable_Webhooks` in this project: I'll remove the last three.

[2016-03-02 11:21] pbosko opened #2316 "Can't connect to [local] MySQL"
Hello,

In latest builds a new error started to show up.

In this build https://app.shippable.com/runs/56d6c7306b86640c00466432 we got:

ERROR 2002 (HY000): Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock' (2)

I tried to switch MySQL to connect over TCP in build https://app.shippable.com/runs/56d6c9b6d6078c0c006048c4 but got error:

ERROR 2003 (HY000): Can't connec

[2016-03-02 11:22] rageshkrishna commented on #2316
In the new build system, we no longer start mysql or postgres by default. Please update your YML file to include this:

[code]

[2016-03-02 11:23] rageshkrishna commented on #2293
@mbrodala This should be in now. Please kick off a couple of builds and let me know how it goes.

[2016-03-02 11:23] jlsupport opened #2317 "New project enabled - but auto deploy to AWS EB is not triggered?"
Hi, I just enabled a new project today, and setup deployment to AWS EB, but when i run a build its not deploying to EB?

[2016-03-02 11:28] kanthchandra commented on #2270
@ducky427 https://api.shippable.com/runs?status=success&projectIds=[projectId]&branch=[branch]&limit=1&isPullRequest=false
Note: status should be success, projectIds should be an array with one element and branch should be an array with one element

This query will get the latest successful run for a project.

Can you try this and let me know if it works?

Also please let me know what is the exact

[2016-03-02 11:33] ducky427 commented on #2270
Hi @kanthchandra, I am getting the following error when I try:

`https://api.shippable.com/runs?status=success&projectIds=[projectId]&branch=[branch]&limit=1&isPullRequest=false`

[code]

[2016-03-02 11:34] kanthchandra commented on #2270
I think the mistake with the query that @manishas is that we are sending the projectIds as an array. If you want the runs for more than one projects, it should be comma separated variables like `projectIds=projectId1,projectId2`.

[2016-03-02 11:36] bryanvaz commented on #2267
@jlsupport You should be able to adjust the "after_success" commands to match what you do locally to deploy to a EB Docker app. Specifically at which point is your setup failing?

The above commands were also working for our Dockerized EB apps, however we ended up just moving them to ECS/Weave to get a higher density/DR capability.

[2016-03-02 11:37] ducky427 commented on #2270
@kanthchandra, as I looking to query only one project, I've tried both

1) `projectIds=projectId1`
2) `projectIds=[projectId1]`

Both don't work. The first returns `[]` and the second returns a response which looks like an error.

[2016-03-02 11:39] kanthchandra commented on #2270
hmm, let me investigate and come back to you.

[2016-03-02 11:45] pbosko commented on #2310
OK. Thanks. That helped me pass that step.

[2016-03-02 11:46] pbosko commented on #2316
OK. Thanks. That helped me pass that step.

[2016-03-02 11:46] kanthchandra commented on #2270
@ducky427 can you please tell me if the project that you are trying to access is on which plan? If you go the subscriptions billing page you will know the plan. If its not on Continuous Delivery plan then you should replace the `/runs` by `/builds` . Please make sure that you are making the call with a valid apiToken in the headers.

[2016-03-02 11:47] #2310 closed

[2016-03-02 11:47] #2316 closed

[2016-03-02 11:49] ducky427 commented on #2270
huzzah! `builds` works for me. thanks!

[2016-03-02 11:55] mbrodala commented on #2293
@rageshkrishna That seems to have fixed the issue ([one](https://app.shippable.com/runs/56d6d0e987a3710b0047a561), [two](https://app.shippable.com/runs/56d6d19c87a3710b0047c549), [three](https://app.shippable.com/runs/56d6d2c06b86640c0048419e)). If it occurs again, I'll let you know. Thanks a lot!

And one more congratulations to the now blazingly fast builds. :-)

[2016-03-02 11:55] #2293 closed

[2016-03-02 11:56] pbosko opened #2318 "mysql_tzinfo_to_sql dissapeared"
Hello,

We're getting error:

/root/8bedc192-1393-4e33-a617-282c8e1d4ced.sh: line 58: mysql_tzinfo_to_sql: command not found

in build https://app.shippable.com/runs/56d6d142afeb620c0071e298

It used to be available as it was in build https://app.shippable.com/runs/56d5b4a601e5670d00aae83d

Any suggestions how to install it now? It seems that listing mysql in services isn't enough.

[2016-03-02 11:59] cratz commented on #2316
@rageshkrishna
sorry but adding `- postgres` to services will not start the postgres server [check this build](https://app.shippable.com/runs/56d6d2c4afeb620c007241ab)
A working solution how to start postgres is described here #2304

[2016-03-02 12:02] kanthchandra commented on #2270
@manishas this is working as expected. Can I close this out?

[2016-03-02 12:02] rageshkrishna commented on #2299
You're right -- keys are now loaded in to ssh-agent and are offered for authentication in the order in which they get added. Unfortunately, it looks like we got the order wrong and the deploy key that is specific to your project is offered before the subscription level key. This is why authentication is failing for the repo that you are trying to clone.

I will fix this very soon.

[2016-03-02 12:32] rageshkrishna commented on #2304
I think I see the problem here... specifying postgres as an addon alone does not work, but if you configure and addon and _also_ list it under services, it will start the version you asked for. This should definitely work without having to add both tags to the YML.

We'll fix this soon.

[2016-03-02 13:30] cratz commented on #2304
@rageshkrishna
Thanks, but I tried it after I read your comment in #2316
And adding postgres to services will not start the pg  server ;(
Here is the build:
https://app.shippable.com/runs/56d6ce8487a3710b00471568

I did everything described in the [documentation](http://docs.shippable.com/ci_configure/?utm_campaign=Shippable+4+Release#postgresql)
But the only way to have a running pg-server was th

[2016-03-02 13:32] rageshkrishna commented on #2299
The fix for this is being tested right now and it's looking good so far. I expect this to be deployed later tonight.

[2016-03-02 13:34] rageshkrishna commented on #2304
OK, we'll take a deeper look at this and get back to you soon.

[2016-03-02 13:41] ducky427 commented on #2270
@kanthchandra, I think the only thing outstanding is triggering a build for a specific branch for a project.

[2016-03-02 14:58] #2079 closed

[2016-03-02 14:59] #2028 closed

[2016-03-02 16:24] manishas commented on #2311
we will fix docs for this. thanks for pointing it out!

[2016-03-02 16:25] manishas commented on #2314
closing this issue.

[2016-03-02 16:25] #2314 closed

[2016-03-02 16:29] manishas commented on #2318
@pbosko we will take a look at why you're running into this with the new images. Can you share your yml so we can try to reproduce thus problem?

In the meantime, to be unblocked, you can explicitly pull the old build image by addign the following in your yml:

[code]

Let me know if that works.

[2016-03-02 16:30] manishas commented on #2303
this should be fixed, so closing.

[2016-03-02 16:30] #2303 closed

[2016-03-02 16:33] mbrodala commented on #2186
We have disabled caching after the Shippable infrastructure switch recently thus this is not an issue anymore.

[2016-03-02 16:33] #2186 closed

[2016-03-02 16:57] taynaud opened #2319 "Shippable prefers travis"
Hello,

When there are both a .travis.yml and .shippable.yml, shippable use the travis one.

I do not think it is very intuitive to use another service configuration first.

[2016-03-02 17:27] kanthchandra commented on #2270
@ducky you can trigger a build by doing a POST https://api.shippable.com/projects/projectId/newBuild?branch=master or which branch, Please note that the project has to be enabled before you can build it and you can also send the branch as a json body { "branch": "master" } from postman or curl or whichever tool.

Please make sure that you are making the call with a valid apiToken in the headers.

[2016-03-02 17:32] ducky427 commented on #2270
@kanthchandra, great. that works! i'm gonna close this issue now.

[2016-03-02 17:32] #2270 closed

[2016-03-02 17:50] manishas commented on #2319
you're right. We did not do this earlier, so must be a recent bug. we'll take a look.

[2016-03-02 17:52] manishas commented on #2277
@rvrignaud is this still an issue? we pushed a couple of fixes yesterday so wanted to check in and see if this was fixed.

Please delete your project settings and recreate them as suggested by ragesh above.

We're also happy to jump on a hangout and help debug... just let us know.

[2016-03-02 17:56] manishas commented on #953
@taqtiqa-mark shippable no longer requires SSH access to dedicated hosts. You can set up the hosts by downloading our scripts and running them yourself.

Details here - http://docs.shippable.com/ci_subscriptions/#adding-your-own-build-infrastructure-byoh

[2016-03-02 17:56] #953 closed

[2016-03-02 17:58] manishas commented on #1249
closing since this is done.

[2016-03-02 17:58] #1249 closed

[2016-03-02 18:00] manishas commented on #1235
this works with the branches tags:
http://docs.shippable.com/ci_configure/#includingexcluding-branches

You still need a shippable.yml in the branch you want to exclude.

[2016-03-02 18:00] #1235 closed

[2016-03-02 18:00] manishas commented on #1214
this is an old issue and we've revamped our build system since then.

[2016-03-02 18:00] #1214 closed

[2016-03-02 18:01] manishas commented on #1196
this has been redone for the new release. closing this issue.

[2016-03-02 18:01] #1196 closed

[2016-03-02 18:09] manishas commented on #1179
This is not a recommended approach and even we have moved away from it in our new build images.

Closing this issue but if you still need this, would be happy to look at your scenario and suggest alternatives.

[2016-03-02 18:09] #1179 closed

[2016-03-02 18:10] manishas commented on #1482
our build system has been revamped for the new release. if this still happens, happy to take a look.

[2016-03-02 18:10] #1482 closed

[2016-03-02 18:25] pmezard commented on #2277
The original issue is fixed but at the same time we rewrote the .shippable.yml and switch the CI image, so it is hard to tell what happens in the original conditions.

I will let you or @JasonSwindle close the issue.

[2016-03-02 18:35] manishas commented on #1486
http://docs.shippable.com/ht_opsworks/

[2016-03-02 18:35] #1486 closed

[2016-03-02 18:36] manishas commented on #1485
closing since this is an old issue and this should not happen with our revamped build platform.

[2016-03-02 18:36] #1485 closed

[2016-03-02 18:37] manishas commented on #1434
this has been completely redone and you now have complete control over tags. more on this here - http://docs.shippable.com/ci_configure/#pushing-an-image-to-a-registry

[2016-03-02 18:37] #1434 closed

[2016-03-02 18:38] manishas commented on #1348
this has been completely redone with the new build platform. please let us know if this is still happening.

[2016-03-02 18:38] #1348 closed

[2016-03-02 18:40] manishas commented on #1338
this has been completely overridden and the docker config is now completely driven through the yml.

http://docs.shippable.com/ci_configure/#pushing-an-image-to-a-registry
http://docs.shippable.com/ci_configure/#setting-your-build-image

[2016-03-02 18:40] #1338 closed

[2016-03-02 18:43] manishas commented on #1321
we have updated composer version on php images. the images are available in the [drydock repo](https://hub.docker.com/u/drydock/)

If you update to our new yml format, the correct php image will be pulled automatically.

[2016-03-02 18:43] #1321 closed

[2016-03-02 18:44] manishas commented on #1543
This is now available.

All new build images are in our [drydock repo](https://hub.docker.com/u/drydock/).

[2016-03-02 18:44] #1543 closed

[2016-03-02 18:44] hranicka commented on #1543
Awesome! Thank you!

[2016-03-02 18:45] manishas commented on #1681
this is an old issue and we have completely revamped the build system since then.You can now run docker build yourself in the yml - http://docs.shippable.com/ci_configure/#setting-your-build-image

[2016-03-02 18:45] #1681 closed

[2016-03-02 18:53] manishas commented on #2317
we're looking into this...

[2016-03-02 18:53] manishas commented on #2317
@jlsupport can you point us to the new project?

[2016-03-02 18:55] manishas commented on #1972
we have revamped the build system and this should not happen any more. closing this issue.

[2016-03-02 18:55] #1972 closed

[2016-03-02 18:55] manishas commented on #1983
this has been fixed on the new platform. closing.

[2016-03-02 18:55] #1983 closed

[2016-03-02 18:56] manishas commented on #2098
we have now implemented true caching where containers are cached after every build, so this should not happen again. closing.

[2016-03-02 18:56] #2098 closed

[2016-03-02 18:57] manishas commented on #2043
we are moving away from cache container setting in project settings. the new way of caching is documented here - http://docs.shippable.com/ci_configure/#caching-your-container

closing this issue.

[2016-03-02 18:57] #2043 closed

[2016-03-02 18:58] manishas commented on #1527
we have completely revamped caching and this will not happen with the new design.

closing this but please let us know if you run into this.

[2016-03-02 18:58] #1527 closed

[2016-03-02 18:59] manishas commented on #1695
we support the following versions for go:

1.1
1.2
1.3
1.4
1.5

[2016-03-02 18:59] #1695 closed

[2016-03-02 19:01] manishas commented on #1191
We now have v3.2.5 in our build containers. closing.

[2016-03-02 19:01] #1191 closed

[2016-03-02 19:11] calasyr commented on #2307
Awesome, thanks Ragesh.

[2016-03-02 19:19] manishas commented on #2307
this should be fixed. closing.

[2016-03-02 19:43] ttrahan opened #2320 "Incorrect values in Elastic Beanstalk config dropdown"
When configuring a deployment integration in the Project Settings page for Elastic Beanstalk, user is prompted to select a AWS account integration to use.  The list includes account integrations that are not type = AWS.

![image](https://cloud.githubusercontent.com/assets/4467650/13472883/acb6c594-e06b-11e5-8f9a-83938df8e1f8.png)

[2016-03-02 19:56] DavidGDragon commented on #2320
beta verified www 5371

[2016-03-02 20:22] calasyr commented on #2307
Still getting the same behavior

[2016-03-02 20:56] manishas commented on #2319
tagging @rageshkrishna so this gets picked up today.

[2016-03-02 21:51] #2320 closed

[2016-03-02 23:52] alvaroc1 commented on #2305
Hmm... I am now running into this:

    sudo docker logs -f c.exec.rovi.2710.1
    Looking for sudo...
    which: no sudo in (/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin)
    Could not find sudo. Installing...
    /home/shippable/cexec/build.sh: line 8: apt-get: command not found

Again, it looks like it's trying to use `docker` and `sudo` for something.

[2016-03-03 00:01] manishas commented on #2305
@rageshkrishna can you take a look?

[2016-03-03 00:02] manishas commented on #1660
This is an old issue and the entire build system has been revamped since then to avoid running into such scenarios. Closing this since this should not happen on the new platform.

[2016-03-03 00:02] #1660 closed

[2016-03-03 00:03] manishas commented on #1661
we have revamped the entire build platform and this should not happen any more. Closing.

[2016-03-03 00:03] #1661 closed

[2016-03-03 00:03] manishas commented on #1640
This is an old issue and should not be seen with our revamped build platform. CLosing.

[2016-03-03 00:03] #1640 closed

[2016-03-03 00:05] manishas commented on #1620
This has been fixed with the revamped build platform. closing.

[2016-03-03 00:05] #1620 closed

[2016-03-03 00:06] manishas commented on #1566
we have revamped the build platform and now show only the overall build time. Closing this.

[2016-03-03 00:06] #1566 closed

[2016-03-03 00:06] manishas commented on #1557
This should be fixed with our recent build platform upgrade. Please let us know if you still run into this after your account is upgraded.

[2016-03-03 00:11] manishas commented on #1563
We have Python 3.5 in our new build images in the [drydock repo on docker hub](https://hub.docker.com/u/drydock/)

This has all the tool chain required in the minion. Closing.

[2016-03-03 00:11] #1563 closed

[2016-03-03 00:12] manishas commented on #1542
We have upgraded the build platform and this should not happen after your account is upgraded.

Closing this issue.

[2016-03-03 00:12] #1542 closed

[2016-03-03 00:13] manishas commented on #1562
This has been completely revamped with the new upgrade. Closing.

[2016-03-03 00:13] #1562 closed

[2016-03-03 00:14] manishas commented on #1629
this should be fixed after our build system upgrade. CLosing.

[2016-03-03 00:14] #1629 closed

[2016-03-03 00:15] manishas commented on #1536
closing since this is a duplicate. i will leave the other one open.

[2016-03-03 00:15] #1536 closed

[2016-03-03 00:21] manishas commented on #1862
Formations functionality has now been rolled into pipelines, so deleting a formation is no longer a valid scenario.

[2016-03-03 00:21] #1862 closed

[2016-03-03 00:22] manishas commented on #1499
This is an old issue and we have upgraded our build platform since then. Please reopen if this is still a problem.

[2016-03-03 00:22] #1499 closed

[2016-03-03 00:23] manishas commented on #1837
go 1.5 is available in our official images in the [drydock repo on Docker Hub](https://hub.docker.com/u/drydock/)

[2016-03-03 00:23] #1837 closed

[2016-03-03 00:24] manishas commented on #1808
This should be fixed with the build system upgrade. Closing.

[2016-03-03 00:24] #1808 closed

[2016-03-03 00:25] manishas commented on #1740
This is not on our roadmap for now, so closing this. If there is enough customer feedback around this, we'll reopen and address it.

[2016-03-03 00:25] #1740 closed

[2016-03-03 00:26] manishas commented on #1723
This should not happen any more. Please reopen if this is still a problem.

[2016-03-03 00:26] #1723 closed

[2016-03-03 00:27] manishas commented on #1712
Node 0.12 is available in our official build images available in our [drydock repo on docker hub](https://hub.docker.com/u/drydock/) Please use those images so that node 0.12 is not installed each time.

[2016-03-03 00:27] #1712 closed

[2016-03-03 00:29] manishas commented on #1745
@DavidGDragon we should look into improving this experience. Can you pick this up?

[2016-03-03 00:31] manishas commented on #1839
We have moved all docker workflows to the yml with the build system upgrade. You can try the new yml format explained at http://docs.shippable.com/ci_configure/ after your account is upgraded (ETA < 48 hrs).

You'll know you are upgraded when your subscription plan on billing page shows Continuous Delivery.

[2016-03-03 00:31] #1839 closed

[2016-03-03 00:32] manishas commented on #1618
Closing this issue since we couldn't repro it.

Also we have upgraded our build system recently and the yml format has changed.

[2016-03-03 00:32] #1618 closed

[2016-03-03 00:35] manishas commented on #2318
@rageshkrishna we need to look into this asap.

[2016-03-03 00:35] manishas commented on #1169
This should not happen after our build system upgrade. closing.

[2016-03-03 00:35] #1169 closed

[2016-03-03 00:38] manishas commented on #803
This is fixed with our build system upgrade since you can now customize the yml to handle this scenario. New yml documented at http://docs.shippable.com/ci_configure/

[2016-03-03 00:38] #803 closed

[2016-03-03 00:39] manishas commented on #1583
Formations have been deprecated and replaced by integrated pipelines. The API for these will be documented next week.

The build system upgrade has complete new APIs.

[2016-03-03 00:40] manishas commented on #1584
Our new set of official images are in our [drydock repo on Docker Hub](https://hub.docker.com/u/drydock/)

The `pls` and `all` versions of images have rabbitmq installed on them.

[2016-03-03 00:40] #1584 closed

[2016-03-03 00:42] manishas commented on #1524
This is not on our near term roadmap. If we decide to move ahead in this direction, I will reopen this issue.

[2016-03-03 00:42] #1524 closed

[2016-03-03 00:43] manishas commented on #1530
This is an old issue and we have upgraded our build system since then. I am closing this but please reopen if this happens again.

[2016-03-03 00:43] #1530 closed

[2016-03-03 00:44] manishas commented on #1652
this should be fixed after the build system upgrade. closing.

[2016-03-03 00:44] #1652 closed

[2016-03-03 00:45] manishas commented on #2114
all our build container run in privileged mode with the build system upgrade. Your account should be migrated to the new system in the next ~72 hours.

[2016-03-03 00:46] manishas commented on #2069
is this still a problem?

[2016-03-03 00:48] manishas commented on #2044
our new build images are in the [drydock repo on Docker Hub](https://hub.docker.com/u/drydock/)

The python images have python 3.5 on them.

[2016-03-03 00:48] #2044 closed

[2016-03-03 00:54] manishas commented on #601
We have added a field in account settings for default email. This is initially populated with what we get from your source control provider, but you can override it to anything you want.

This should address the problems described here.

[2016-03-03 00:54] #601 closed

[2016-03-03 00:55] manishas commented on #1505
We have completely upgraded dedicated hosts and this should not happen after the upgrade. closing.

[2016-03-03 00:55] #1505 closed

[2016-03-03 00:57] manishas commented on #1515
With our latest upgrade, you will be able to use different build images depending on branch if you configure the yml to handle this case.

New yml is documented at http://docs.shippable.com/ci_configure/. All accounts will be migrated to the new system in the next 72 hours.

[2016-03-03 00:58] manishas commented on #2135
this should not happen any more since we have upgraded the build system. closing this issue.

[2016-03-03 00:58] #2135 closed

[2016-03-03 00:59] manishas commented on #2113
We have upgraded the build system and this should not happen any more because of the new architecture. Closing.

[2016-03-03 00:59] #2113 closed

[2016-03-03 01:02] ric03uec commented on #2299
https://github.com/Shippable/support/issues/2299

[2016-03-03 01:22] jgregors commented on #2317
I am having this problem as well... my project is osden/platform (from a bitbucket project).

[2016-03-03 02:42] himanshu0503 commented on #2319
@taynaud : We've identified the problem, a fix will be available very shortly.

[2016-03-03 03:10] rageshkrishna commented on #2074
@ashernevins Sorry for the long delay on this, but we have addressed this with the recent overhaul of our build system. The first improvement is that we no longer require virtualenv to run builds so this particular issue should no longer be a problem. The second is that _all_ errors that might happen when we boot the build container will now be visible in the console logs.

Please let us know if y

[2016-03-03 03:14] rageshkrishna commented on #2277
We now check for missing dependencies and install them when the container is started. Currently, this takes care of ensuring the following tools are available for the build:

1. sudo
1. git
1. ssh-agent
1. python

I'm closing this issue as @JasonSwindle has another one open for his specific scenario.

[2016-03-03 03:14] #2277 closed

[2016-03-03 03:15] rageshkrishna commented on #2306
@JasonSwindle This should now be working. Please try a build and let me know how it goes.

[2016-03-03 03:17] rageshkrishna commented on #2306
@rvrignaud We now check for and install the following dependencies in the build container when it is started:

1. sudo
1. git
1. ssh-agent
1. python

[2016-03-03 03:44] JasonSwindle commented on #2306
So how does one use Shippable to build a Dockerfile that cannot have sudo, git, ssh-agent, or python installed? I simply want Shippable to do a docker build -t "..." . without trying to inject extra un-needed items.

[2016-03-03 03:49] rageshkrishna commented on #2305
@alvaroc1 Sorry about the back and forth on this. This will be fixed conclusively today.

[2016-03-03 03:54] manishas commented on #2018
@pquentin we have redone our console with a buffering logic of 10 lines or 30 seconds, whichever happens first. Hope that works for you. Thanks!

[2016-03-03 03:54] #2018 closed

[2016-03-03 03:56] rageshkrishna commented on #2306
The CI container itself requires these tools. However, you're free to push whatever image you want at the end of it. For example, here's a YML that lets you build your image, run tests inside it, and then push the original image (without any of the stuff we installed) to your registry:

[code]

[2016-03-03 04:32] rageshkrishna commented on #2313
@chetantarale Let's get this sorted out today.

[2016-03-03 04:33] jlsupport commented on #2317
@manishas the project name is restudyaps/automatic-platform-restudy

[2016-03-03 04:34] rageshkrishna commented on #2265
Closing because this appears to be resolved.

[2016-03-03 04:34] #2265 closed

[2016-03-03 05:33] rageshkrishna commented on #2294
@mbrodala Quick update on this... we are seeing some problems in the order in which SSH keys are offered by ssh-agent, so we've pushed a small change that will probably affect your builds.

The key you need is now located at `/tmp/ssh/00_sub`. (we added `00_` to the name)

[2016-03-03 06:46] ric03uec commented on #2318
@pbosko
- can you add following line in the `ci` section
[code]
we missed out adding this by default and will fix the issue shortly. in the meantime, this patch should work

@rageshkrishna  we need to add `/usr/local/mysql/bin/` to the path for all images that have `mysql` on them

[2016-03-03 07:06] manishas commented on #2318
assigning to chetan.

[2016-03-03 07:08] manishas commented on #2315
@cratz i looked at the build link you posted and there was an error in your build_ci step, so on_failure was called.

Can you point me to a build where build_ci succeeded and on_success was not called?

[2016-03-03 07:15] manishas commented on #2311
this is now fixed in docs.

[2016-03-03 07:15] #2311 closed

[2016-03-03 07:57] mbrodala commented on #2043
Notice that this issue was not about cache settings but cache actions. With `[reset minion]` this can be done with a commit though.

[2016-03-03 07:59] mbrodala commented on #2294
@rageshkrishna Thankfully I've started to migrate our deployment configuration to [use the SSH agent if available](https://github.com/rocketeers/rocketeer/pull/226#issuecomment-191202081). I am using the private key for signing a `.phar` in another repository so I'll have to update that one, thanks for the heads up!

[2016-03-03 08:11] pmezard commented on #2299
I cannot tell if this is fixed or not anymore, we worked around the issue by overriding shippable keys in the CI image. Feel free to close the issue if it is fixed for you.

[2016-03-03 08:12] pmezard commented on #2275
The SHIPPABLE_PYTHON_VERSION trick is good enough, but the variable is not documented anywhere. At least not in http://docs.shippable.com/ci_configure/#specifying-language-and-runtime or in the "Languages" page.

[2016-03-03 08:15] rvrignaud commented on #2280
Hi @manishas, I didn't get any answer on this one and this is preventing us to move completely all our shippable yaml files.
What is the difference between WebUI integration settings and yaml integration settings ?
Are both needed ?
How is scoped the integration name ? Is ' by rvrignaud' needed ?

[2016-03-03 08:43] rageshkrishna commented on #2305
@alvaroc1 The fix for this is being tested in beta right now. I will have this deployed to production within an hour or two.

[2016-03-03 09:29] cratz commented on #2315
@manishas
Thanks for checking.
The error happened in the `build_post_ci` section and not in the `build_ci` section. After checking the documentation ("Depending on the whether your ci section is successful or not, the on_success or on_failure sections will be executed.") I thought `on_success` is triggered after `build_ci` (`ci` in the yaml file) so it would be possible to create or move build art

[2016-03-03 11:58] himanshu0503 commented on #2319
@taynaud : This is now in production. Can you please verify?

[2016-03-03 12:05] rageshkrishna commented on #2299
This has just been deployed. Feel free to reopen if you still see this happening.

[2016-03-03 12:05] #2299 closed

[2016-03-03 12:16] rageshkrishna commented on #2305
@alvaroc1 This has been fixed. Please kick off a build and let me know how it goes.

[2016-03-03 12:32] rageshkrishna commented on #2304
@cratz I think our documentation needs to be fixed. Here's a minimal YML that works for me:

[code]

If it still doesn't work, please share your complete YML file. You can email me at ragesh@shippable.com if you'd rather not paste it here. Thanks!

[2016-03-03 12:33] pquentin opened #2321 "`/subscriptions/:id/runStatus` API shows deleted but redirected BitBucket projects"
`/subscriptions/:id/runStatus` shows deleted BitBucket projects that were redirected to another BitBucket project. Interestingly, it does not appear to happen with `/accounts/:id/runStatus`.

[2016-03-03 13:00] rageshkrishna commented on #2318
@pbosko This should be fixed now. Please try a build and let me know how it goes.

[2016-03-03 13:00] pbosko commented on #2318
I've added MySQL bin dir to $PATH, but it seems that builds are working since you switched us back to shippable/minv2. I get that's the case since user executing build is again shippable, and not root as I have been suggested to update shippable.yml to in #2310.

[2016-03-03 13:04] rageshkrishna commented on #2307
@calasyr This should be gone now (for real!). Please try it again and let me know if you're still seeing this. Thanks! :)

[2016-03-03 13:09] pbosko commented on #2318
OK. It again works without path specified. But user executing build is shippable and not root. So I guess I didn't test it on your next image.

[2016-03-03 14:19] mbrodala opened #2322 "Matrix include drops global env"
It seems like matrix includes in the `shippable.yml` drop the global `env`. Example:

[code]

In this case the [build for the last environment fails](https://app.shippable.com/runs/56d84547636e050c001d2b20) because the global environment variables are not set.

---

Regular:

[code]

---

Failing matrix include:

[code]

A Composer error message exposes the issue:

[code]

[2016-03-03 14:24] pranaypareek commented on #2282
@phagunbaya this feature is live now. Would you please check it out and let us know?

The docs here `http://docs.shippable.com/ci_configure/#pushing-to-multiple-registries` should be helpful.

Thanks!

[2016-03-03 15:00] taynaud commented on #2319
Seems good, thanks

[2016-03-03 15:00] #2319 closed

[2016-03-03 15:50] mbrodala opened #2323 "PHP code coverage parse error"
I am seeing the following [error](https://app.shippable.com/runs/56d85bd503f4c90c00fc232d) in the `parse coverage reports` step:

[code]

Thus no coverage reports are available. The coverage was generated by `phpunit/php-code-coverage` version 2.2.4 and `phpunit/phpunit` version 4.8.23.

[2016-03-03 15:50] cratz commented on #2304
@rageshkrishna
Thanks.
I tried it but still not working [here is the build](https://app.shippable.com/runs/56d85890f4bf7e0c0004416e) `could not connect to server: Connection refused`

The important parts of my shippable.yml
[code]
I can't see any database operation in you example may be you should add something like
`- psql -c 'create database myapp_test;' -U postgres` to the `ci` section because

[2016-03-03 16:35] JasonSwindle commented on #2306
Howdy,

Thank you so much for the help! :)  Getting really close:

https://app.shippable.com/runs/56d86698f4bf7e0c00098f5f

Still getting a failure on waiting_for_exit, and I'm not really sure how to handle this with Shippable.

[2016-03-03 17:45] ric03uec commented on #2289
@luckyraul your builds should work correctly now after removing the `agent_only:true` line.
can you please try this again.

[2016-03-03 17:59] manishas commented on #2318
Closing this issue. @pbosko please let us know if this happens again.

[2016-03-03 17:59] #2318 closed

[2016-03-03 18:05] manishas commented on #2322
@mbrodala we will look into this, but in the meantime, there is a workaround. You can specify the global values in each include like this:

[code]

Let me know if this works for you.

[2016-03-03 18:11] manishas commented on #2315
makes sense. thanks for clarifying.... we'll work on a fix.

[2016-03-03 18:13] daniel-sc opened #2324 "Permissions for apache2 user (`www-data`) on `/root`"
Hi,

for some unclear reason the apache2 user (`www-data`) has no read/browse access to `/root`, even though the permissions were correctly set via `sudo chmod a+rx /root`.

The setup is a ubuntu14 image (based on https://github.com/shippableImages/ubuntu1404_base ).
When listing the directory in shippable.yml (as root) everything looks fine:

but when executing this as `www-data` using the comman

[2016-03-03 18:15] luckyraul commented on #2289
same thing https://app.shippable.com/runs/56d87e795356400c00f98734

[2016-03-03 18:21] manishas commented on #2309
@pbosko is this still an issue?

[2016-03-03 18:22] manishas commented on #2313
@chetantarale we need daily status on issues in progress. Can you please update status on this ASAP?

[2016-03-03 18:45] chetantarale commented on #2313
I have built u14rub, u14pls and u14all imges, but the builds are failing for u12 images because i=of missing dependencies. This was happening because in our pls and all images we are installing chrome.and google is no longer supporting chrome32-bit. we have a fix for it and are implementing it.

[2016-03-03 18:45] ric03uec commented on #2289
i see the issue with this build now.
- the image you're using is not one one we officially support (ubuntu 12.04 and ubuntu 14.04), because of which the `sudo` part fails, more specifically(`sudo docker login ...`). We are handling the missing `sudo` for supported images correctly right now.
- I agree that we should not care about what is installed on the image when we only have to push it to a re

[2016-03-03 18:49] npahucki opened #2325 "Builds just stopped working - AWS cli tools not found!?"
I'm using shippableimages/ubuntu1404_nodejs for the build.

![screenshot 2016-03-03 15 48 49](https://cloud.githubusercontent.com/assets/823555/13505316/72836b56-e157-11e5-939d-dd3817fbe809.png)

[2016-03-03 18:50] manishas commented on #2325
can you change the image to drydock/u14nod:prod and try again?

[2016-03-03 19:11] npahucki commented on #2325
Did that, fails with another problem now:
![screenshot 2016-03-03 16 10 32](https://cloud.githubusercontent.com/assets/823555/13505993/8e5cdddc-e15a-11e5-82d8-1276fea97b0a.png)

[2016-03-03 19:17] manishas commented on #2325
@ric03uec can we look into this?

[2016-03-03 19:27] calasyr commented on #2307
Now we get this error

Errorscommon2|bitbucket|normalizeBranchSha|callerId:55c67500edd7f2c0529a1061|projectId:55c67495edd7f2c0529a0d64|_getCommit Empty repositoryErrors

https://s3.amazonaws.com/uploads.hipchat.com/184416/1325607/cz4uHBypMsDnfve/upload.png

[2016-03-03 19:29] cratz commented on #2315
@manishas
Thanks again.
Don't get me wrong I thought that because of the documentation. May be it is intended to work like this and other users using it in a different way.
An event like `on_ci_success` or similar would allow to group the build section logically and keep existing events supported.

Best

[2016-03-03 19:30] manishas commented on #2315
makes sense :)

I plan to check in with the team and make sure we're handling this correctly.

[2016-03-03 19:32] ric03uec commented on #2325
@npahucki can you tell me the build id

[2016-03-03 19:34] manishas commented on #2325
@ric03uec 56d88b835356400c00fc6988

[2016-03-03 19:42] ttrahan commented on #2317
@jlsupport we're resolving the issue on the backend.  In the meantime, if urgent, I can help you set up a workaround to get deployments into EB working.  Please let me know if you'd be interested in this.

[2016-03-03 20:16] DavidGDragon commented on #2307
@calasyr we have a fix on the way. However you may be able to fix this in the meantime. It could be your bitbucket project doesn't have a default branch. You can assign a default branch on bitbucket in the settings and try syncing, you should be able to build then.

[2016-03-03 20:30] manishas commented on #2324
@daniel-sc can you share a build link please?

[2016-03-03 20:31] calasyr commented on #2307
Which section of the settings page will I find that?

I don't see a way to set a default  branch, other than in shippable.yml.  And its always been set to the same thing.

branches:
  only:
    - development

There is a way to specify a branch for the badge, but that just provides the code for the badge and there's no way to save it.

[2016-03-03 20:33] DavidGDragon commented on #2307
@calasyr you set the default branch on your provider, so bitbucket.org in the repository's settings page, 'main branch' option. Then sync the project on shippable

[2016-03-03 20:36] calasyr commented on #2307
That's set to master

[2016-03-03 20:40] calasyr commented on #2307
To answer your other question, I invoked from the build button for the development branch
![shippablehowinvoked](https://cloud.githubusercontent.com/assets/2043511/13508699/ec4c888e-e13c-11e5-8fb2-5db1340ad5df.png)

There is also an automatic web hook, but that hasn't worked since Sunday.

[2016-03-03 21:18] daniel-sc commented on #2324
@manishas sure: e.g. https://app.shippable.com/builds/56d86ab05356400c00f55404

[2016-03-03 21:46] DavidGDragon commented on #2307
@calasyr does this error happen every time you try to build?

[2016-03-03 22:36] calasyr commented on #2307
I was asked me how I started the build.  The image is showing you the page from which I kicked it off.

458 is the one presented on the project status page from last Sunday.  Pressing the build button SHOULD be creating a new build and thus a newer build number.

[2016-03-03 22:42] calasyr commented on #2307
Does this fail every time we build? Yes, I just retried and got this:

common2|bitbucket|normalizeBranchSha|callerId:55c67500edd7f2c0529a1061|projectId:55c67495edd7f2c0529a0d64|_getCommit Empty repository

[2016-03-03 23:11] manishas commented on #2307
We've identified the problem. We are not handling spaces in project names correctly. We'll have a fix for this today.

[2016-03-03 23:15] calasyr commented on #2307
Thanks, Manisha.

[2016-03-03 23:44] manishas commented on #2325
@npahucki we have tracked down the problem and are working on a solution.

[2016-03-04 00:01] tanin47 commented on #1618
Cool, thanks!

[2016-03-04 02:09] a-murphy commented on #2324
I haven't been able to list the files in ```/root``` in a shippableImages/ubuntu1404_base image (before or after changing the file permissions) without ```sudo``` either.  It might be because ```/root``` is the root user's home directory since this does not occur when listing files in another user's home directory.

[2016-03-04 05:11] rageshkrishna commented on #2306
An update we pushed yesterday is why this is failing again.

We now try to determine if the CI container is running Ubuntu by running `lsb-release -a`. It appears the `nginx` container does not have this binary. Because this fails, we assume that we are not in an Ubuntu environment and we do not attempt to install any of the build-time dependencies. This is why we're back to the point of `ssh-agen

[2016-03-04 06:04] manishas commented on #2280
@rvrignaud yes you need the integration both in project settings and in the yml. The web UI integration settings are where you actually enter your credentials, etc and then you include these in your yml as well.

the 'by rvrignaud' is not required in the yml. you just enter the integration name and that's it.

[2016-03-04 06:05] manishas commented on #2305
closing this issue since it is fixed.

[2016-03-04 06:05] #2305 closed

[2016-03-04 06:48] manishas commented on #407
This is not on our roadmap for now, so closing this issue.

[2016-03-04 06:48] #407 closed

[2016-03-04 06:48] manishas commented on #400
closing.

[2016-03-04 06:48] #400 closed

[2016-03-04 06:48] manishas commented on #1746
closing since this is completely redone and we have greatly improved perf.

[2016-03-04 06:48] #1746 closed

[2016-03-04 06:49] manishas commented on #1698
This is not possible today and not on our near term roadmap. Closing this issue.

[2016-03-04 06:49] #1698 closed

[2016-03-04 06:51] manishas commented on #1713
We have new build images with latest versions of services in our [drydock repo on docker hub](https://hub.docker.com/u/drydock/). Explanation of nomenclature [is here](http://docs.shippable.com/ci_configure/#setting-your-build-image)

[2016-03-04 06:51] #1713 closed

[2016-03-04 06:52] manishas commented on #1600
we have completely redone our build platform and this will not happen any more. Closing.

[2016-03-04 06:52] #1600 closed

[2016-03-04 06:54] manishas commented on #1525
This is an old issue and we have upgraded our build platform this week.

Closing.

[2016-03-04 06:54] #1525 closed

[2016-03-04 06:55] manishas commented on #1649
This is an old issue and looks like it had a resolution. closing.

[2016-03-04 06:55] #1649 closed

[2016-03-04 06:57] manishas commented on #1670
This is an old issue which fell off the radar :(

We do have latest versions of languages with our new build images and platform, so I am closing this issue.

[2016-03-04 06:57] #1670 closed

[2016-03-04 06:58] manishas commented on #1673
Our new badges are images, so don't need any fonts installed. closing.

[2016-03-04 06:58] #1673 closed

[2016-03-04 07:00] manishas commented on #1927
we have revamped notifications and now it is possible to [specify the committer dynamically](http://docs.shippable.com/ci_configure/#email-notifications). I don't think we plan to support different rules for different roles in the near future unless we hear recurring feedback around this.

Closing this issue.

[2016-03-04 07:00] #1927 closed

[2016-03-04 07:01] manishas commented on #1915
we have completely redone our test and coverage reports handling, so closing this issue. please let us know if you run into this again.

[2016-03-04 07:01] #1915 closed

[2016-03-04 07:03] manishas commented on #1876
Our new official images have node 0.12 preinstalled on them and you can find them in our [drydock repo on docker hub](https://hub.docker.com/u/drydock/). The pls and all versions of images have services preinstalled on them as well.

Please use these images to avoid building node each time.

[2016-03-04 07:03] #1876 closed

[2016-03-04 07:04] manishas commented on #1929
We have completely redone our test and coverage reports handling and PHP reports should be working for both. Closing this issue but please let us know if you run into problems.

[2016-03-04 07:04] #1929 closed

[2016-03-04 07:05] manishas commented on #1587
We have redone our test and coverage reports handling and this is now fixed. closing.

[2016-03-04 07:05] #1587 closed

[2016-03-04 07:52] chetantarale commented on #2313
Goal for today is to build all ruby images with the missing packages and push to dockerhub.

[2016-03-04 08:32] pbosko commented on #2309
@manishas New commits are not experiencing this error. Rebuild of given build is still reproducing it, but we can live without it.

[2016-03-04 08:58] mbrodala commented on #2322
@manishas Yes, this works for now, thanks for the suggestion. Looking forward to the fix. :-)

[2016-03-04 11:20] npahucki commented on #2325
I have some additional information here.

A can see a few things going wrong in the build with the drydock/u14nod:prod image and my scripts.

1) Because Shippable assumes that the source code to build is right in the root of the repo  that it checks out and ours is NOT, I had to hack the YML file a bit and use an ENV var that I had found by looking at the script tab in the build console so that I

[2016-03-04 12:30] daniel-sc commented on #2324
Additional note: When running this image locally (Boot2Docker on VirtualBox) this issue does _not_ occur!

[2016-03-04 14:31] npahucki commented on #2325
Ok, so i decided to try the new format. As I expected it's anything but smooth, and now I am stuck. It refuses to find my integrations names. I even created new ones with no spaces in the name and I still get an error saying that the integrations are not found.

from my YML :
[code]

My integrations page clearly showing integrations using those names:
![screenshot 2016-03-04 11 27 58](https://clou

[2016-03-04 14:33] npahucki opened #2326 "Error messages EVEN more useless than before!"
Someone forgot to stringify the JSON error message:

![screenshot 2016-03-04 11 28 25](https://cloud.githubusercontent.com/assets/823555/13529809/d81e7ac8-e1fc-11e5-8b47-8aac45236a5e.png)

[2016-03-04 14:56] mgladdish opened #2327 "JDK version ignored - sometime since March 2nd"
My project uses Java 8. It was building happily as recently as March 2nd.
The next build, on March 4th, failed due to using Java 7.

My shippable.yml (which hasn't changed):
[code]

Output in your console:
[code]

And
[code]

How can I get shippable to use Java 8 to build my project again?

[2016-03-04 14:59] manishas commented on #2325
@npahucki can we jump on a hangout again today? Let me know what time works.

Regarding the error you are seeing - do you have the integrations in your project settings as well?

You'll need to go to project settings and select the hub integration from the dropdown and same for notifications.  -

[2016-03-04 15:02] manishas commented on #2325
![image](https://cloud.githubusercontent.com/assets/2983749/13530594/006779b0-e1d7-11e5-99b2-1486b35b9745.png)

[2016-03-04 15:05] manishas commented on #2326
@DavidGDragon we have to fix this.

[2016-03-04 15:17] mbrodala commented on #2206
@manishas Could it be that this was implemented with the infra change recently? I was just able to add more than one Slack notification to the integrations of one project.

On that regard: is it necessary to configure `notifications` in the YML after adding them this way? At least the 1st integration works just fine on every project I've added it.

[2016-03-04 15:17] manishas commented on #2327
@mgladdish we moved your account to the new build system to fix the notifications issue but looks like you're running into this new problem now.

I will move you back to the old system until we can repro your scenario and take a look at why this isn't working. Give me a couple of hours and I will let you know when you're back on the old system.

[2016-03-04 15:21] mgladdish commented on #2327
And, ironically, I still got email notifications for these broken builds.

I'm rapidly running out of confidence in Shippable. The bugs just keep coming, and really disrupting my development. The open issues list is really grim reading for any system, never mind one whose entire purpose is to support continuous integration and automated testing.

[2016-03-04 15:22] mbrodala commented on #2206
Correction: the 2nd integration was put first after adding it and only this one did send a notification, the other one did not. Removing the 2nd integration again triggers notifications for the 1st one again.

Is this intended?

[2016-03-04 15:29] manishas commented on #2327
Build notifications for broken builds are always turned on by default. You need to turn them off if you don't want to get them.

In the old system that was by specifying:

[code]

On the new system it is:

[code]
Docs for the new config are at http://docs.shippable.com/ci_configure/#email-notifications

When you are transitioned back to the old system, you will run into the notifications issue aga

[2016-03-04 16:25] npahucki commented on #2325
Ok, I had them added already, but they were named with spaces and it would not find them. I recreated with no spaces in the names, but then thought that having them in the account integrations was enough. i added the new ones to the project settings and I am now past this issue, trying to figure the next one.

[2016-03-04 16:37] mbrodala opened #2328 "COMPOSER_AUTH as secure environment variable"
I am currently trying to figure out how to provide [`COMPOSER_AUTH`](https://getcomposer.org/doc/03-cli.md#composer-auth) as secure environment variable within builds.

This environment variable is supposed to contain a JSON-encoded string like this:

`{"http-basic": {"example.org": {"username": "username", "password": "password"}}}`

None of these work however:

* `COMPOSER_AUTH={"http-basic": {"

[2016-03-04 18:22] manishas commented on #1233
we have completely revamped dedicated hosts and we don't even need SSH access to your nodes at this point. Closing.

[2016-03-04 18:22] #1233 closed

[2016-03-04 18:28] manishas commented on #1197
This has been redone with the new build platform. closing this issue since it is no longer relevant.

[2016-03-04 18:28] #1197 closed

[2016-03-04 20:22] DavidGDragon commented on #2326
beta verified www 5417

[2016-03-04 21:31] peterhav commented on #1465
Hello, functionality to configure the build number is also a requirement for me. Use case: possible migration from another CI solution and using build numbers within the version of my releases. Since I'm on build 1006, when migration to Shippable, I would have to launch 1005 builds for nothing, or change my approach of version numbering (which is something that works really well for me).

[2016-03-04 21:50] ric03uec commented on #2323
@mbrodala the coverage reports should parse correctly now. can you please check and verify if its working for you

[2016-03-04 21:54] manishas commented on #2326
this is deployed to prod. closing.

[2016-03-04 21:54] #2326 closed

[2016-03-04 21:54] manishas commented on #2321
@pquentin this is fixed and deployed. please let us know if it doesn't work for you.

[2016-03-04 21:54] #2321 closed

[2016-03-04 22:00] ttrahan opened #2329 "valid yml is not parsing correctly"
Integrations in the new yml format fail if the integrationName contains spaces.  The following yml appears to be formatted correctly, but causes an error when parsed in Shippable:

This throws an error in Shippable:
[code]

Validated at http://yaml-online-parser.appspot.com/:
![image](https://cloud.githubusercontent.com/assets/4467650/13541415/e8722ef6-e210-11e5-9147-150a789da5e8.png)

Putting dou

[2016-03-04 23:38] manishas commented on #2215
this is complete. closing.

[2016-03-04 23:38] #2215 closed

[2016-03-04 23:38] manishas commented on #2323
this is complete. closing.

[2016-03-04 23:38] #2323 closed

[2016-03-04 23:38] manishas commented on #1515
this is complete. closing.

[2016-03-04 23:38] #1515 closed

[2016-03-04 23:42] manishas commented on #2074
This should not happen with the build system upgrade. closing.

[2016-03-04 23:42] #2074 closed

[2016-03-04 23:43] manishas commented on #2260
closing this since this shouldn't happen after the build system upgrade.

[2016-03-04 23:43] #2260 closed

[2016-03-04 23:45] manishas commented on #2134
I realized this completely fell off the radar. Are you still seeing this?

[2016-03-04 23:52] ttrahan commented on #2267
hi @jlsupport:  Assuming I'm understanding your scenario correctly, you should be able to accomplish both of these items in shippable.yml.  To do so, you'll need to maintain two slightly different shippable.yml files in your two branches in order to handle the different deployment instructions.

Below is a sample yml I use to perform a Docker build, execute CI, push the image to Amazon ECR, update

[2016-03-05 00:07] stephanielingwood commented on #2324
Hey, @daniel-sc. I pulled your two latest images (tags ending in v2 and v3) and ran those images using the docker cli. In both of those images, trying to execute
`sudo -u www-data -s /bin/bash -c "ls -la /root"`
fails with
`ls: cannot open directory /root: Permission denied`. It's worth noting that in those images, the permissions on /root are rwx------.

However, I then executed
`chmod a+rx /root

[2016-03-05 01:28] kelebra commented on #2327
I face the very same issue. Any suggestion on fix?

[2016-03-05 01:57] clifg opened #2330 "Badge isn't showing correct status"
My project badge just shows "run | none", even though my latest build succeeded. Doesn't matter which branch I use. Here's my current badge url:
https://api.shippable.com/projects/56b6dbab1895ca4474738165/badge?branch=master

[2016-03-05 03:06] manishas commented on #2330
Build badges will be available as soon as your subscriptions are migrated to our new build system in the next few days. I'll update you when the migration is done.

[2016-03-05 03:08] manishas commented on #2329
@ttrahan I'll update docs to make sure we cover this in docs and faqs

At this point, we are going to keep current behavior.

[2016-03-05 03:09] manishas commented on #2328
We'll take a look and get back to you...

[2016-03-05 03:10] #2329 closed

[2016-03-05 06:26] ric03uec commented on #2327
@mgladdish @kelebra this should now be working correctly for you. Can you guys test your builds and confirm.

[2016-03-05 07:18] mgladdish commented on #2327
@ric03uec Nope.

Build usually takes between 6-12 minutes. It's been running for 25 mins and counting, having only written this to the console:

[code]

[2016-03-05 08:12] mgladdish commented on #2327
@ric03uec Tried again.

This time it's been running for an hour(!) with this as the last entry in the `build_on_success` section:
[code]

[2016-03-05 08:32] avinci commented on #2327
A few questions...and maybe I can help.
do you have cache turned on? Can you try it without cache? What image are you building on? If this is minv2 and if you have cache, we are caching a massive image. I would try and switch to our smaller images that might give you better perf and they have all the latest updates.

You can set it in `pre_c_boot` section. Here is more help if you would like and i

[2016-03-05 08:50] mgladdish commented on #2327
@avinci  Now this build has apparently moved back to the 'old' system, does the new .yml format work on the old system?

I've not changed the cache or image settings since it used to work semi-reliably.

But yes, cache is turned on (in an attempt to keep build times acceptably short - hint: even the usual 23 mins for a compile and test run is nuts when it takes ~ 2 minutes on my own machine).
Yes,

[2016-03-05 08:58] manishas commented on #2327
@mgladdish you are still on the new build system. We figured out what was happening with your build, so did not need to move you back to the old one.

[2016-03-05 08:59] mgladdish commented on #2327
@avinci So it looks like just re-running the build was enough to get it to work again :(

I added this to my shippable.yml:
[code]

But then saw this in the console:
[code]

So I evidently either got the syntax wrong for the image or the syntax isn't accepted by your 'old' system,

[2016-03-05 09:05] manishas commented on #2327
maybe you missed my earlier message - you are on the new build system.

you need the following information in the pre_ci_boot section:

[code]

[2016-03-05 09:08] mgladdish commented on #2327
Yeah, I think our messages crossed over the wires somewhere.

I'll try that out.

Although by now this is just to tide me over until I get all my builds on to my own build infra and off Shippable. This has been one critical bug too many for me.

[2016-03-05 09:13] manishas commented on #2327
Your builds are working now and the original problem has been addressed. Closing this issue.

Good luck.

[2016-03-05 09:13] #2327 closed

[2016-03-05 09:26] manishas commented on #2106
this is an older issue and we have upgraded our build system this week. Closing.

[2016-03-05 09:26] #2106 closed

[2016-03-05 11:21] peterhav opened #2331 "Archive:true option does not give expected result"
Hello, I have setup a `shippable.yml` file for my Android project, unfortunately, the **archive: true** does not seem to work as expected; I'm not able to download any archives from the console of a sucesfully finished job (only a job logfile). How can I get this to work?

[code]

[2016-03-05 23:07] manishas commented on #2206
@mbrodala we enabled multiple hub integrations recently and hence removed the 1 integration restriction. We haven't thoroughly tested it for multiple slacks. The tested portions are -

- multiple notification providers, i.e. send notifications to email,slack, irc at the same time
- multiple recipients, i.e. slack channels, email addresses, irc rooms.

We'll take a look into this and get back to yo

[2016-03-05 23:11] manishas commented on #2191
Closing this issue because there is nothing actionable to do here.

[2016-03-05 23:11] #2191 closed

[2016-03-06 06:31] Nightw0rk commented on #2249
Hi @j1fig, @manishas, i have similar problem. I think main error, in line "Error: failed to remove one or more containers". Project id in shippable is 5694d6a11895ca4474680ee0

[2016-03-06 16:17] manishas commented on #679
This is an old issue and we haven't heard additional customer requests for this. At this time, this is not on our near term roadmap, so closing as won't fix.

[2016-03-06 16:17] #679 closed

[2016-03-06 16:21] manishas commented on #820
We no longer start mysql and postgres by default except for the legacy build image minv2.

As for starting services only for specific builds in a matrix, we haven;t heard additional customer feedback in this area. This is not on our near term roadmap, so closing.

[2016-03-06 16:21] #820 closed

[2016-03-06 22:21] jgregors opened #2332 "Docker Hub Login Fails / Cannot Delete Hub Integration"
My builds starting failing a couple of days ago due to the docker hub: hub_login -> "Docker login failed for username <my_username> and email <my_email>". All projects are failing, look at osden-io/catalogue or osden/platform for details.

I saw [this issue](https://github.com/Shippable/support/issues/2289) but I think my case is different as I am not including any custom commands in my [shippable

[2016-03-07 04:58] bryanvaz commented on #2287
@manishas I actually ended up just encoding docker hub logins as variables and manually logging in. Though I did notice I declared the "integrations" hash in yml twice (once at the top for emails, and at the bottom for docker hub). This was probably causing the problems.

Thanks!

[2016-03-07 04:59] #2287 closed

[2016-03-07 06:14] pquentin commented on #2321
Thanks, it works perfectly.

[2016-03-07 08:53] mbrodala commented on #2323
@manishas Sorry, I'm [still seeing](https://app.shippable.com/runs/56dd3f4e0877220e002b5bb0) exactly the same error. Can you have a look at this once more?

[2016-03-07 10:20] Lughino opened #2333 "Provide an updated guide for deployment in beanstalk"
I read all the possible guides to configure a CD in my beanstalk with your service.

I can not in any way to configure properly as all guides are completely outdated and can not I deploy!

The guides that I have followed are these:
[http://blog.shippable.com/deploying-containers-to-elastic-beanstalk-the-shippable-way](deploying-containers-to-elastic-beanstalk-the-shippable-way)
[http://blog.shippa

[2016-03-07 10:31] pquentin commented on #2315
Any progress on this?

[2016-03-07 10:56] daniel-sc commented on #2324
Hi @stephanielingwood thanks for looking into this!

Before the chmod was a little hidden - I made it more explicit in https://app.shippable.com/builds/56dd5ba6941ca60c00b6ec0f (see the "before script" section).

As I tried to indicate above the same thing does only happen when running the build on shippable.com - I cannot reproduce this via docker cli as well!

Please let me know if you need more

[2016-03-07 11:40] mbrodala opened #2334 "Smoke tests"
Just curious: in the API documentation e.g. for [getting a job](http://docs.shippable.com/api/#get-a-job) I can see the following:

[code]

What are these `smoke_test` entries for? Is Shippable able to perform smoke tests or is this a section in the YML one could/should use to add them?

(And what about the whole `deploy` section altogether? Is this also something which could go into the YML?)

[2016-03-07 13:19] jlsupport commented on #2317
@ttrahan what is the timeframe? if its not to long it can wait

[2016-03-07 15:55] chriskinsman opened #2335 "Newly Enabled Project no Options to Pull Image"
Our subscription doesn't appear to have been moved to the new infrastructure yet.

I enabled a new project on our account however and it looks like perhaps it came up on the new system as the settings UI is different for the new project from our old projects.

Specifically I am missing the docker options section so that I can indicate the base image to pull for the build.

Is that the case? I need

[2016-03-07 16:05] chriskinsman commented on #2335
Just tried to use the new yml format and it is ignored so I am going to guess we are still on old platform but for some reason the UX I need isn't showing up...

[2016-03-07 16:10] chriskinsman commented on #2335
@manishas Any ideas on this?  We are blocked spinning up this new project until we can figure out how to point it at our base build image...

[2016-03-07 16:22] GEverding opened #2336 "Kubernetes and GKE"
Hi,

I'm currently evaluating Shippable for my company. We currently have a manual deploy process running on GKE/Kubernetes and I have a couple questions.

1. How am I supposed to integrate with Kubernetes/GKE services/ingress if I can't set labels in a deployment pipeline? This wasn't covered in your documentation.
2. How can I set env variables during the CI phase of my build? Common use case is

[2016-03-07 17:26] manishas commented on #2335
@chriskinsman I am looking into how we can handle this. We are shutting down Docker options in a couple of weeks and require everyone using them to move to the new yml format. Since it's being deprecated, docker options are currently disabled for any project not already using them.

We have a couple of options-
- move your subscription to the new plan. since your projects are using docker, you mig

[2016-03-07 17:30] manishas commented on #2334
@mbrodala you're finding features that have not yet been announced :)

These are in the schema for future compatibility and lot of it is still WIP and will be announced in the next few weeks.

[2016-03-07 17:31] manishas commented on #2334
If you have specific follow up questions please send me an email at manisha@shippable.com

[2016-03-07 17:31] #2334 closed

[2016-03-07 18:14] ttrahan commented on #2317
@jlsupport : it should be resolved within next 1-2 days.

[2016-03-07 18:23] chriskinsman commented on #2335
Prefer the latter if possible for now.  Don't want to rush the subscription move until you are ready...

Would like to get this project building today though...

[2016-03-07 18:46] manishas commented on #2335
@chriskinsman can you check now? Docker options should be visible for your new project.

[2016-03-07 19:51] chriskinsman commented on #2335
Working

[2016-03-07 19:51] #2335 closed

[2016-03-07 19:55] manishas commented on #2333
@Lughino we will update the guide in the next 1-2 days.

[2016-03-07 22:51] ric03uec commented on #2307
@calasyr the fix for this is now deployed. Can you please verify if your builds are working correctly now?
thanks

[2016-03-07 22:58] DavidGDragon commented on #1745
Added a helpful panel that shows up when you have not enabled a project or created a pipeline.
![screenshot from 2016-03-07 14 57 03](https://cloud.githubusercontent.com/assets/6647936/13586290/e6966654-e474-11e5-84d4-ab98303a30b4.png)
---
beta verified www 5430

[2016-03-07 23:28] grosser commented on #1745
:heart:

[2016-03-07 23:28] #1745 closed

[2016-03-07 23:42] manishas commented on #1865
This is now available in our official images in the [drydock repo on Docker Hub](https://hub.docker.com/u/drydock/)

Naming convention:

Our standard build images are named as follows:

- The first 3 letters of image name indicate the platform. u14 denotes ubuntu 14.04, u12 denotes ubuntu 12.04
- The next 3 letters indicate the language. nod for node.js, sca for scala, pyt for python, gol for gola

[2016-03-07 23:43] manishas commented on #1865
closing.

[2016-03-07 23:43] #1865 closed

[2016-03-07 23:45] manishas commented on #1978
We'll change behavior if we hear more feedback around this. Closing as won't fix.

[2016-03-07 23:45] #1978 closed

[2016-03-07 23:46] manishas commented on #1971
This is not a Shippable bug. I have tagged it with 'docs' so we can update our FAQs and then close this.

[2016-03-07 23:48] manishas commented on #2069
I am closing this issue. if this is still a problem, please reopen.

[2016-03-07 23:48] #2069 closed

[2016-03-07 23:48] manishas commented on #2134
closing.

[2016-03-07 23:48] #2134 closed

[2016-03-07 23:49] manishas commented on #1510
this has been completely redone in the new build system. closing.

[2016-03-07 23:49] #1510 closed

[2016-03-08 01:00] 0xvkrmkpr opened #2337 "Golang github repository clone is in incorrect location"
Our code is getting checked out at "/root/src/github.com/**reponame**". It needs to be at "/root/src/github.com/**company_name**/**reponame**".

Because of missing company name, build fails since golang needs paths to match

----------------
ssh-agent bash -c 'ssh-add /tmp/ssh/01_deploy; git clone git@github.com:**company_name/reponame**.git
/root/src/github.com/**reponame**'
Identity added: /tmp/

[2016-03-08 01:28] manishas commented on #2337
thanks :)

ETA for a fix is tomorrow.

[2016-03-08 02:22] stephanielingwood commented on #2324
Hi @daniel-sc,

Thanks for the clarification. I played around with your images some more today, and here's what I found:

If I run your images in a build just like yours, and with the chmod in the before_script step, they indeed fail on that  `sudo -u www-data -s /bin/bash -c "ls -la /root"`. Boo.

However, we just upgraded our build system. In that new system, we are bringing up the docker contai

[2016-03-08 06:35] pquentin commented on #2292
Well, the fundamental issue is that you broke nearly all your routes so we needed to rewrite all our scripts that used the API. It's nice to "send updates", but that still requires a lot of work on our end. Could you at least start versioning the APIs so that things don't break overnight?

We'll create issues about specifics API routes.

[2016-03-08 06:37] pquentin opened #2338 "API: Document that projectIds and subscriptionIds should be separated by commas"
Unless, I'm mistaken, it's not mentioned anywhere in the docs, only on this GitHub tracker.

[2016-03-08 06:44] pquentin opened #2339 "API: `/subscriptions/:id/runStatus` is not always up-to-date"
We use a script to ensure all our projects are built every day. We use `/subscriptions/:id/runStatus` every five minutes for this (as recommended in #2295). A few times already, we built the same project twice because the API took more than five minutes to report the first build. A few examples that happened today:

- https://app.shippable.com/runs/56de70d39227720c004aa818 and https://app.shippabl

[2016-03-08 06:53] pquentin opened #2340 "API: How can we replace `projects/:id/searchBuilds?limit=n`?"
We're tracking coverage for all our projects by storing coverage data in InfluxDB and displaying it in Grafana. Or at least we were doing it before the API changed completely overnight. The way we were doing this until now was using a script every hour on each project which:

1. looked at the latest build number (now called run number) both in Shippable and in InfluxDB
2. used `projects/:id/search

[2016-03-08 07:29] manishas commented on #2292
@pquentin we will definitely version APIs now that we have a clean place to start from.

I apologize for the changes and agree that they should have been communicated far in advance.

[2016-03-08 08:08] rvrignaud commented on #2292
Closing this one. We will open specific issues if needed.

[2016-03-08 08:08] #2292 closed

[2016-03-08 08:10] daniel-sc commented on #2324
@stephanielingwood thanks for the investigation! Yes please switch this project over to the new build system - I'll change the shippable.yml accordingly.

[2016-03-08 08:41] mbrodala commented on #2334
Thanks for clarifying. :-)

[2016-03-08 08:46] Lughino commented on #2333
@manishas thanks.

[2016-03-08 10:38] luckyraul commented on #2289
any updates?

[2016-03-08 10:43] pquentin commented on #2147
Appears to be fixed with the new version indeed even if not fully specified. Closing in favor of #2315.

[2016-03-08 10:43] #2147 closed

[2016-03-08 11:19] igayoso commented on #2234
Ok, thanks for explanation!

[2016-03-08 11:19] #2234 closed

[2016-03-08 14:51] Gudahtt opened #2341 "COMPARE_URL not set"
The environment variable COMPARE_URL isn't set in any of our new builds. This has been happening since yesterday evening. It's always set to an empty string.

[2016-03-08 14:54] Gudahtt commented on #2341
Also, in the new [documentation](http://docs.shippable.com/ci_configure/), this environment variable is listed as 'COMPARE_UR'. I assume that's a typo?

[2016-03-08 15:35] aug70 opened #2342 "Decryption failed for var"
This has been working until now, nothing is changed in the variable or configuration. Unless decryption algorithm changed, this must not fail!

Last good build https://app.shippable.com/builds/5626bfbf3f695d0c004b4ec5
Failed build https://app.shippable.com/runs/56def0232732f60d00bc6edc

Please advise, thank you!

[2016-03-08 16:36] Gudahtt opened #2343 "Errors during boot_container step"
We haven't updated our YML file since the updates - I wasn't aware there was a change being made. So our shippable.yml file doesn't have any "build" section - so I'm not quite sure what's going on in this boot_container step, or what config entry or setting might correspond with each command executed. Presumably there is still some level of support for the old config schema, as the builds are stil

[2016-03-08 16:41] Gudahtt opened #2344 "Service start failure console entries"
We don't have services enabled for our build, yet entries continue to appear in the build console about postgres and mysql starting. Also, during the 'setup_ve' step, it complains about nvm configuration.

Here is an example: https://app.shippable.com/runs/56dee3f62732f60d00b7e3be

[code]

[code]

[code]

Is this expected? I'm confused as to why these entries have appeared. Thanks.

[2016-03-08 17:34] a-murphy commented on #2339
By default, ```GET /subscriptions/:id/runStatus``` will only return builds that have completed.  So, if a build was in progress, it would not have been returned.  You may want to use the optional ```status``` query parameter to include those builds.  Assuming that you want all builds, ```GET /subscriptions/:id/runStatus?status=incomplete,complete``` should work.  Other combinations of statuses may

[2016-03-08 17:35] pquentin commented on #2339
Great, thank you!

[2016-03-08 17:35] #2339 closed

[2016-03-08 17:36] manishas commented on #2342
@aug70 we will test this at our end but looks like your problem was resolved by re-encrypting the env variable. Did someone reset the project? The keys get reset if that happens and you need to re-encrypt -
http://docs.shippable.com/ci_projects/#resetting-the-project

[2016-03-08 18:08] manishas commented on #2344
@Gudahtt this is expected. Your subscription was moved to the new build system and these entries are meant to clarify that behavior that is standard with official images or legacy images (shippable/minv2) will not happen with custom images - i.e. no services are started by default if you're using custom images.

[2016-03-08 18:15] Gudahtt commented on #2344
Ok, thanks.

[2016-03-08 18:18] manishas commented on #2341
@a-murphy can you take a look at this?

[2016-03-08 18:23] #2344 closed

[2016-03-08 18:46] manishas commented on #2325
this is resolved. closing.

[2016-03-08 18:46] #2325 closed

[2016-03-08 19:10] ric03uec commented on #2289
@luckyraul
- the `push` section is now available in the yml. you can now put the `docker push ...` command in that. here's the syntax

[code]
- this section of the yml runs **outside** the ci container so there is no dependency on the image you're using. HTH

[2016-03-08 19:25] luckyraul commented on #2289
1) https://github.com/mygento/docker-puppet/blob/9e55707d070da4d2327252bbff0e53e0554943d0/.shippable.yml - same problem - https://app.shippable.com/runs/56df24b436784b0c009d5697
2) https://github.com/mygento/docker-puppet/blob/master/.shippable.yml - same problem - https://app.shippable.com/runs/56df25e99227720c0079941d

[2016-03-08 19:29] ric03uec commented on #2289
- you need to keep the `agent_only: true` flag in the yml. sorry forgot to mention that earlier

[2016-03-08 19:31] Gudahtt commented on #2341
It looks like the 'BUILD_URL' environment variable is missing as well.

BUILD_URL isn't even set to an empty string like COMPARE_URL is - it's completely absent.

[2016-03-08 19:35] luckyraul commented on #2289
It worked well https://app.shippable.com/runs/56df28409227720c0079f385

Update docs please

[2016-03-08 19:37] luckyraul commented on #2289
@ric03uec except second build failed

[2016-03-08 19:42] pnpritchard opened #2345 "API to get build artifacts"
I was using the `/builds/:buildId/:buildNumber/artifacts` api to get a s3 url for build artifacts.

However, now when I call that api, I get an error response like:
[code]

I am still able to download artifacts from the UI, so I know they exist. The url is `https://app.shippable.com/download/buildArtifacts?buildId=56df1d069227720c00785071&buildNumber=1`. However, this seems to be using some sessio

[2016-03-08 20:04] ric03uec commented on #2289
- the error is happening because the ci container does not have `GLIBC_2.14` (see logs in `wait_for_exit`-> `sudo docker logs ...` section)
- the shippable ci runner module expects certain dependencies that are installed by default on the official images. so you can either install the dependency(in the dockerfile for `wheezy`) or use one of our official images
- we will be supporting additional im

[2016-03-08 21:06] manishas commented on #2143
@vidyar please reopen if this is still happening on new build system.

[2016-03-08 21:06] #2143 closed

[2016-03-08 21:09] manishas commented on #2013
we have upgraded selenium version on our [new official images](https://hub.docker.com/u/drydock/) and the build system has also been upgraded since this issue was reported.

Please try with the new images and let us know if this is still happening.

[2016-03-08 21:09] #2013 closed

[2016-03-08 21:33] pnpritchard commented on #2345
This is my mistake, I was mixing up "build" and "run" ids.

[2016-03-08 21:33] #2345 closed

[2016-03-08 21:45] ric03uec commented on #2337
@0xvkrmkpr the fix for this is deployed now. can you please verify if this now working correctly for you.

[2016-03-08 21:50] DavidGDragon commented on #1078
Active nodes will now show a link to the run/job that is being processed on it.
![screenshot from 2016-03-08 13 48 50](https://cloud.githubusercontent.com/assets/6647936/13617640/9eb273d0-e534-11e5-9c59-98e709fbbc2e.png)
---

beta verified www 5436

[2016-03-08 22:02] stephanielingwood commented on #2324
@daniel-sc Great. We just changed you over to the new plan and build system. Once you get the new yml in place, you shouldn't see that permissions error anymore.

We'll keep this issue open until you let us know the results of your new builds. In the meantime, if you need help migrating to the new yml, you might find this blog post helpful: http://blog.shippable.com/migrating-to-the-new-build-plat

[2016-03-08 22:02] DavidGDragon commented on #2340
`/runs?limit=n` is the new way. Note that n has a maximum of 100. If you need more than 100 you will need to use pagination and add the parameter `skip=z`

[2016-03-08 22:33] calasyr commented on #2307
Yes, the tests are now starting.  Not really finishing, but that's most likely our problem.

Thanks for fixing this.

[2016-03-08 22:33] #2307 closed

[2016-03-08 22:54] manishas commented on #1095
We have redone our console with a buffering logic of 10 lines or 30 seconds, whichever happens first. This should ensure that you see the prompt in the console .

closing.

[2016-03-08 22:54] #1095 closed

[2016-03-08 22:55] manishas commented on #1417
We have upgraded our build system since this issue was opened and this shouldn't happen any more. closing.

[2016-03-08 22:55] #1417 closed

[2016-03-08 22:55] manishas commented on #1444
The build system upgrade should have fixed this issue. Please let us know if this doesn't work.

[2016-03-08 22:55] #1444 closed

[2016-03-08 22:56] manishas commented on #1450
We have redone our coverage reports handling with the build system upgrade. This should be fixed now. Please let us know if this doesn't work.

[2016-03-08 22:56] #1450 closed

[2016-03-08 22:59] manishas commented on #1538
@jamesjwarren sorry this completely fell through the cracks. We have upgraded our build system recently and this should not happen any more. Please let us know if you run into this again.

[2016-03-08 22:59] #1538 closed

[2016-03-08 23:01] manishas commented on #1697
This is an old issue opened before our build system upgrade and build image refresh. Closing since it is connected to old build platform.

[2016-03-08 23:01] #1697 closed

[2016-03-08 23:03] manishas commented on #1881
we now have new build images in our [drydock repository on docker hub](https://hub.docker.com/u/drydock/).

Naming convention for images:

The first 3 letters of image name indicate the platform. u14 denotes ubuntu 14.04, u12 denotes ubuntu 12.04
The next 3 letters indicate the language. nod for node.js, sca for scala, pyt for python, gol for golang, rub for ruby, clo for clojure, jav for java, an

[2016-03-08 23:03] manishas commented on #1881
closing since this is addressed.

[2016-03-08 23:03] #1881 closed

[2016-03-08 23:03] manishas commented on #1889
This is completely redone with our build system upgrade. closing.

[2016-03-08 23:03] #1889 closed

[2016-03-08 23:04] manishas commented on #1909
Our build system was upgraded recently and you should not see this any more. Closing.

[2016-03-08 23:04] #1909 closed

[2016-03-08 23:06] manishas commented on #1996
The resolution to 1995 should have helped with this. In any case, we have upgraded our build system recently and this should not happen any more. Closing.

[2016-03-08 23:06] #1996 closed

[2016-03-08 23:07] manishas commented on #2033
Closing this issue since it's an old issue opened prior to the build system upgrade.

[2016-03-08 23:07] #2033 closed

[2016-03-08 23:09] manishas commented on #2155
This issue was opened prior to the build system upgrade. Please let us know if this is still happening.

[2016-03-08 23:09] #2155 closed

[2016-03-08 23:11] manishas commented on #1453
This issue was opened prior to the build system upgrade. Please let us know if this is still happening.

[2016-03-08 23:11] #1453 closed

[2016-03-08 23:11] manishas commented on #2185
This shouldn't happen any more. Closing.

[2016-03-08 23:11] #2185 closed

[2016-03-08 23:15] manishas commented on #2220
@himanshu0503 is this still happening?

[2016-03-08 23:15] #2220 closed

[2016-03-08 23:17] manishas commented on #2229
@mspanc can you provide us with a build link so we can take a look?

[2016-03-08 23:17] manishas commented on #2230
This has been completely redone in the new build system. Closing this.

[2016-03-08 23:17] #2230 closed

[2016-03-08 23:22] 0xvkrmkpr commented on #2337
It is working great and build passed for us. Really appreciate the quick turnaround.

[2016-03-08 23:22] #2337 closed

[2016-03-08 23:28] manishas commented on #1325
we should add an faq around this.

[2016-03-08 23:29] manishas commented on #1341
The Shippable API is only available to paid accounts, so to use the API to download artifacts, you would need a paid account.

However, you can upload your artifacts to S3 as part of your build workflow in the free plan.

[2016-03-08 23:29] #1341 closed

[2016-03-08 23:54] manishas commented on #2340
Closing since the question is answered.

[2016-03-08 23:54] #2340 closed

[2016-03-08 23:55] manishas commented on #2338
this is updated in docs - http://docs.shippable.com/api/#get-all-runs

[2016-03-08 23:55] #2338 closed

[2016-03-08 23:59] a-murphy commented on #2341
```COMPARE_URL``` has been verified in Beta (it's not in production just yet).

[2016-03-09 00:04] manishas commented on #2309
I am closing this issue but it becomes a problem for multiple customers we will revisit it.

[2016-03-09 00:04] #2309 closed

[2016-03-09 01:21] emilcara opened #2346 "Deleting Account Integrations"
I'm having a hard time deleting integrations within my account and deleting my account. I keep getting a dependency error when I try. I also no longer see the formations tab in my account.

[2016-03-09 01:36] a-murphy commented on #2341
```BUILD_URL``` is now being set as well in Beta.

[2016-03-09 05:05] pranaypareek commented on #2282
This is complete.

[2016-03-09 05:05] #2282 closed

[2016-03-09 05:54] manishas commented on #2342
closing this since builds are now working.

[2016-03-09 05:54] #2342 closed

[2016-03-09 06:15] chetantarale commented on #2313
we have opened an internal issue for patching the images.Currently working on the design and will post the updates on the progress.

[2016-03-09 06:29] pquentin commented on #2340
Thanks @DavidGDragon, that's exactly what I needed.

[2016-03-09 07:03] sheldon-sminq commented on #2332
+1 cannot delete or edit a hub integration, have to add a new one every time. And the old one still appear after delete.

[2016-03-09 07:05] sheldon-sminq opened #2347 "CI process and environment variables"
my environment variable set in the pre boot process, but these variable are not accessible in CI section.

My maven build depends on these environment variables, hence the build is failing everytime.

https://app.shippable.com/runs/56dfc2c4069dbc0d009d72bf

[2016-03-09 07:17] avinci commented on #2347
This is by design as we wanted to separate integration keys etc. from the actual container. There are a few ways you could work around this. Could you help me understand your scenario and I could probably help you achieve what you are doing.

The main question I have is, what are you doing in the pre_ci section? It was basically done to allow for Dockerbuild. Are you using that?

[2016-03-09 07:18] manishas commented on #2332
@rageshkrishna can you look into what's happening here?

[2016-03-09 07:23] luckyraul commented on #2289
Can you lower dependency for libc6 for supporting wheezy?
Is it hard dependency for features or you just took the ubuntu ones?

[2016-03-09 07:32] sheldon-sminq commented on #2347
No i am not using the pre_ci, i am using a drydoc shippable container directly to run my build. I have attached my shippable.yml file for your reference

[shippable-sample.txt](https://github.com/Shippable/support/files/164677/shippable-sample.txt)

[2016-03-09 07:34] sheldon-sminq commented on #2347
So i basically pull the drydock/u12javpls container, then set up a DB with my schema and test data in the ci step.
once i run mvn install in the ci step the build fails as the ENV variables are not present.

[2016-03-09 07:38] avinci commented on #2347
Apologize for our docs being inaccurate. We will update it as we don't support `env` tag in your boot. You can use `-e` flag in the `options` tag to add all your environment variables and it should work.

@manishas we need to update docs ASAP.

[2016-03-09 07:47] sheldon-sminq commented on #2347
Thanks for the quick update.

[2016-03-09 08:30] manishas commented on #2347
docs are updated.

[2016-03-09 08:33] sheldon-sminq commented on #2347
is it -e or --env? or both are valid?

On Wed, Mar 9, 2016 at 2:00 PM, Manisha <notifications@github.com> wrote:

[2016-03-09 09:05] manishas commented on #2347
@sheldon-sminq options are whatever docker run accepts. so -e and --env should both work.
https://docs.docker.com/engine/reference/commandline/run/

[2016-03-09 09:16] sheldon-sminq commented on #2347
@manishas what is the default user for mysql if enabled in services?

[2016-03-09 09:29] sheldon-sminq commented on #2347
No success with a single build since morning, i have attached the builds here

https://app.shippable.com/runs/56dfdf953da7e30c00a82be8
https://app.shippable.com/runs/56dfe74f3ef3a50c002a9831
[shippable-sample.txt](https://github.com/Shippable/support/files/164828/shippable-sample.txt)

https://app.shippable.com/runs/56dfc2c4069dbc0d009d72bf
https://app.shippable.com/runs/56dfc885069dbc0d009ef8c5
h

[2016-03-09 11:06] rageshkrishna commented on #2306
@JasonSwindle Sorry about the delay on this. I was out of office for a few days. The fix for this is going to go in to testing soon and should be available in production within a few hours.

[2016-03-09 11:09] sheldon-sminq commented on #2347
There was an issue with my trigger imports in Mysql, now the build progresses forward.

[2016-03-09 11:19] sheldon-sminq commented on #2347
My DB triggers don't seem to run on the docker image, as a result test cases fail.

[2016-03-09 12:23] sheldon-sminq commented on #2347
Have disabled tests for now as my build fails because of DB triggers
[shippable-sample.txt](https://github.com/Shippable/support/files/165093/shippable-sample.txt)

Also on deployment to AWS EBS get errors build attached
https://app.shippable.com/runs/56e011f8b285810c005906f5

[2016-03-09 12:27] sheldon-sminq commented on #2347
https://app.shippable.com/runs/56e014c1b285810c005993fe failed EBS build

[2016-03-09 13:49] sheldon-sminq opened #2348 "Help with migration"
I am stuck here so needed some help with the following

1. Running build with tests
2. Pushing docker image to AWS EBS

My shippable.yml and Dockefile is attached
[shippable-sample.txt](https://github.com/Shippable/support/files/165210/shippable-sample.txt)
[Dockerfile.txt](https://github.com/Shippable/support/files/165211/Dockerfile.txt)

Current issues I am using the deafult java image from ship

[2016-03-09 14:25] Gudahtt opened #2349 "Build gets stuck Intermittently at step 'Job node info'"
I've noticed that our builds have been getting stuck fairly often during the 'Job node info'.

e.g. https://app.shippable.com/runs/56e02bcb64dd900c00477297 - this build is still running as of this moment, but it's been stuck on this step for >20 minutes. For reference, the build typically takes between 5-10 minutes to run.

Specifically, it seems to get stuck on the command `free -m`. It displays

[2016-03-09 14:27] Gudahtt commented on #2341
This appears to be fixed. The environment variables are set correctly in our builds now.

Thanks for your help!

[2016-03-09 14:36] Gudahtt commented on #2349
I'd also like to note that it still hasn't timed out yet either.

It's been 30 minutes now with no log output, so it should have timed out 20 minutes ago.

[2016-03-09 14:39] sheldon-sminq commented on #2347
You can close this one i have created  another help request

[2016-03-09 15:12] Gudahtt commented on #2349
The build has now been running for well over an hour (4500 seconds). I've had to cancel it. So it looks like the 1-hour timeout didn't work properly either.

[2016-03-09 15:41] rogierslag opened #2350 "Make timeout duration configurable"
Example build is https://app.shippable.com/runs/56e0406a5088740d0052bd33

You might need to scroll upwards a bit, since we test in parallel and only one of them fails

[2016-03-09 16:12] mbrodala commented on #2283
I'm looking forward to the status page. Just to be sure: please make sure that a feed (Atom/RSS) is available on that page for subscriptions.

[2016-03-09 16:53] joostverdoorn commented on #2071
:+1: would help me greatly!

[2016-03-09 16:55] joostverdoorn commented on #905
:+1: would be nice to only build unique git hashes.

[2016-03-09 17:45] manishas commented on #2341
closing since this is fixed.

[2016-03-09 17:45] #2341 closed

[2016-03-09 17:49] manishas commented on #2219
@harryi3t we need to look into this as well.

[2016-03-09 17:50] manishas commented on #2211
Formations is now deprecated as part of our latest release. Please look into using pipelines instead - http://docs.shippable.com/pipelines_overview/

We're always happy to jump on a hangout and help if needed.

[2016-03-09 17:50] #2211 closed

[2016-03-09 18:43] lloydcotten opened #2351 "`shippable_cache_container` causes failure in ci step"
My builds are failing if I try to use `shippable_cache_container` command in the `ci` stage.  But then apparently works in the `on_failure` stage.  It means I can't cache where I want to and advertised in the docs: http://docs.shippable.com/ci_configure/#caching-your-container

Is it a bug or is my yaml wrong?

[code]

Relevant shippable.yaml

[code]

[2016-03-09 19:13] manishas commented on #2256
closing this issue since we have upgraded the build system since this was opened. please let us know if this is still happening.

[2016-03-09 19:13] #2256 closed

[2016-03-09 19:25] manishas commented on #2253
Sorry for the delay on getting to this. I looked up your subscription but did not find any builds or enabled projects.

We recently upgraded our build system and if this is still happening, happy to take a look. Let us know.

[2016-03-09 19:25] #2253 closed

[2016-03-09 19:30] manishas commented on #2252
Sorry for the delay in getting to this. We released an upgraded build system last week and that will resolve the issues you're seeing. Every build now runs in a CI container on a separate machine and we have also switched hosting providers, so connectivity should no longer be an issue.

I am closing this issue but let us know if we can help get you back on track.

[2016-03-09 19:30] #2252 closed

[2016-03-09 19:33] manishas commented on #2248
@markhofmann sorry it took so much time for us to respond. We recently released an upgraded build system which gives you complete control over docker workflows, including running docker commands in your yml. Let me know if we can help get you started. Docs are here - http://docs.shippable.com/ci_configure/#setting-your-build-image

[2016-03-09 19:33] #2248 closed

[2016-03-09 19:40] Gudahtt commented on #2343
It looks like the pull from cache is consistently failing.

I've tried migrating to the new config format and clearing the cache. Still the same result.

[2016-03-09 19:54] manishas commented on #2243
Formations has now been deprecated and you can use pipelines instead - http://docs.shippable.com/pipelines_overview/

We have fixed this issue and you can now specify host port and container port both. Try it out :)

[2016-03-09 19:54] #2243 closed

[2016-03-09 20:28] lizrush commented on #2330
@manishas any news on this one?

[2016-03-09 21:05] manishas commented on #2330
@lizrush your subscription hasn't been updated yet. We are migrating most subs this week so it should be soon. If you want to get a jump start, you can switch to the continuous delivery plan in the Billing tab of your Subscription page and from the next build onwards, your badge should start working as expected.

[2016-03-09 21:07] manishas commented on #2346
@emilcara do you want to delete your account or just the integrations?

Formations was recently deprecated and replaced with pipelines - http://docs.shippable.com/pipelines_overview/

[2016-03-09 21:16] manishas commented on #2242
@epicserve you'll need your own custom image with python and node and to handle setting python version manually.

We do have new build images for python with python 3.5 and they have basic versions of node and other languages installed - https://hub.docker.com/u/drydock/

The base docker image for all language is this - https://github.com/dry-dock/u14 which installs the following - https://github.

[2016-03-09 21:16] #2242 closed

[2016-03-09 21:17] manishas commented on #2240
sorry for the delay on this. I see that you could successfully enable the project, so i am closing this issue. Let me know if you need help with the build failures.

[2016-03-09 21:17] #2240 closed

[2016-03-09 21:20] manishas commented on #2226
I am closing this issue since it was opened before the build system upgrade. If you're still seeing timeouts, please open a new issue and provide a build link. Thanks!!

[2016-03-09 21:20] #2226 closed

[2016-03-09 21:26] manishas commented on #2210
This should now be possible with our updated build system. Your subscription needs to be on the Continuous Delivery plan in order to work with the new yml format. If not already migrated, you can update your plan by going to the billing tab of your subscription and choosing the CD plan.

With the [new yml format](http://docs.shippable.com/ci_configure/), you can do something like setting environme

[2016-03-09 21:45] sblaz opened #2352 ""Host key verification failed" during git_sync step"
This started suddenly yesterday

[2016-03-09 21:49] rhherrera opened #2353 "Can't mount volume on docker run."
Hi, I really need help with this, I'm trying to run a postgres image, and mount a volume so I can run a lot of commands inside it (this works perfect for me local, but seems that doesn't work in shippable).

here is my shippable.yml
[code]

The error is the following:
Error response from daemon: Cannot start container c1461a3eb5a6d6767bb57c2e1fb29d151edd1915b7867b527b655c8aa2e62824: [8] System err

[2016-03-09 22:06] #2210 closed

[2016-03-09 22:08] manishas commented on #1955
This is now available with our updated build system!

Your subscription needs to be on the Continuous Delivery plan in order to work with the new yml format which supports this use case. If not already migrated, you can update your plan by going to the billing tab of your subscription and choosing the CD plan.

With the [new yml format](http://docs.shippable.com/ci_configure/), you can do somethin

[2016-03-09 22:08] manishas commented on #1955
Closing this issue since this is addressed. Let us know if you have any questions.

[2016-03-09 22:08] #1955 closed

[2016-03-09 22:09] manishas commented on #2352
@a-murphy can you take a look at this?

[2016-03-09 22:11] ric03uec commented on #2306
@JasonSwindle this should not be working for you. can you please verify.

[2016-03-09 22:13] manishas commented on #2187
Our new official build images have node 4.2.3 installed. They're in our [drydock repo on docker hub](https://hub.docker.com/u/drydock/)

Check out the  [Naming convention](http://docs.shippable.com/ci_configure/#setting-your-build-image) and [supported node versions](http://docs.shippable.com/ci_languages/#nodejs)

Closing this since the issue with node 0.12 should be addressed with official node

[2016-03-09 22:13] #2187 closed

[2016-03-09 22:15] manishas commented on #2179
We have deprecated Formations on 2/29 and replaced it with a better implementation called Pipelines - http://docs.shippable.com/pipelines_overview/

I am closing this issue since it's related to Formations. Please try using pipelines and open up a new issue if you run into problems.Thanks!!

[2016-03-09 22:15] #2179 closed

[2016-03-09 22:17] manishas commented on #2175
You can use dedicated hosts with Shippable, i.e. attach your own build machines and you then have SSH access to build minions.
http://docs.shippable.com/ci_byoh/

[2016-03-09 22:17] #2175 closed

[2016-03-09 22:18] manishas commented on #2164
Closing this since this was pre build system upgrade. please let us know if you still run into this.

[2016-03-09 22:18] #2164 closed

[2016-03-09 22:19] manishas commented on #2156
CLosing this since it was fixed.

[2016-03-09 22:19] #2156 closed

[2016-03-09 22:20] manishas commented on #2162
We have deprecated Formations and replaced it with Pipelines - http://docs.shippable.com/pipelines_overview/

Please give it a shot and let us know if you run into issues. You get one pipeline free with every subscription, so it's free to try.

[2016-03-09 22:20] #2162 closed

[2016-03-09 22:23] manishas commented on #2352
@sblaz can you point us to a failed build?

[2016-03-09 22:23] DavidGDragon commented on #1078
@velo could please verify that this feature is working for you?

[2016-03-09 22:25] manishas commented on #1078
This is done, so closing the issue.

[2016-03-09 22:25] #1078 closed

[2016-03-09 22:27] manishas commented on #2120
@marinsicavirdol sorry this fell off the radar. We have completely revamped our build system and you can now run docker commands like `docker build` and `docker push` from your yml. yml configuration is explained at http://docs.shippable.com/ci_configure/

I am closing this issue since it is from before the upgrade. let us know if you need help with this.

[2016-03-09 22:27] #2120 closed

[2016-03-09 22:30] manishas commented on #2022
your yml looks good. Closing this issue.

[2016-03-09 22:30] #2022 closed

[2016-03-09 22:31] manishas commented on #1899
@sheldon-sminq can you explain your scenario in a little more detail?

[2016-03-09 22:33] a-murphy commented on #2352
It looks like your project was public and then was made private on GitHub after it was enabled.  We use SSH keys to clone private projects, but not public ones because we need additional permissions to add the keys.  There's a "Reset" button on the project settings tab that will create a new deploy key for your project and add it to the GitHub repository now that it's private so that it can be clo

[2016-03-09 23:32] manishas commented on #2266
Closing this since this functionality has now migrated to pipelines

[2016-03-09 23:32] #2266 closed

[2016-03-09 23:35] manishas commented on #1901
Postgres 9.4 is available in our new build images - https://hub.docker.com/u/drydock/

Naming convention for the images is -

The first 3 letters of image name indicate the platform. u14 denotes ubuntu 14.04, u12 denotes ubuntu 12.04
The next 3 letters indicate the language. nod for node.js, sca for scala, pyt for python, gol for golang, rub for ruby, clo for clojure, jav for java, and php for php

[2016-03-09 23:35] #1901 closed

[2016-03-09 23:57] manishas commented on #1709
We have deprecated archiving as a standard feature and will instead provide a how-to guide explaining how you can set up archiving for your artifacts. closing this issue.

[2016-03-09 23:57] #1709 closed

[2016-03-09 23:58] manishas commented on #2157
This isn't a standard feature offered by Shippable, so you will need to figure out if you can configure your CI workflow to do this.

Closing since there is nothing actionable for us to do here.

[2016-03-09 23:58] #2157 closed

[2016-03-10 00:12] manishas commented on #2347
Closing this issue.

[2016-03-10 00:12] #2347 closed

[2016-03-10 00:16] sblaz commented on #2352
I think our project was private to begin with and was cloning successfully up until yesterday.  All the private projects for our organization are failing at the git_sync step actually.  Tried the "Reset" button, was notified about a new public key added to github, still seeing same behavior.

[2016-03-10 00:30] manishas commented on #2331
@peterhav we have deprecated the `archive: true` option with our latest release and we do not store customer build archives.

You can set up your build to upload artifacts to your S3 bucket with the documentation snippets here - http://docs.shippable.com/ci_configure/#build-artifacts

[2016-03-10 00:30] #2331 closed

[2016-03-10 00:35] manishas commented on #2117
Closing this since it should not happen with the new build system. Please let us know if you still run into this after migration.

[2016-03-10 00:35] #2117 closed

[2016-03-10 00:38] manishas commented on #2114
This should be available now. Just make sure your organization is on the Continuous Delivery plan by going to the billing tab and looking at the plan name.

[2016-03-10 00:38] #2114 closed

[2016-03-10 00:39] manishas commented on #2116
This should be resolved with the new build system. I do not see timeouts in your recent build history. Please let us know if this is still happening and we will reopen.

[2016-03-10 00:39] #2116 closed

[2016-03-10 00:43] manishas commented on #1966
Support for pushing to multiple docker hub repositories is now available. Check out docs at http://docs.shippable.com/ci_configure/#pushing-an-image-to-a-registry

This workflow and yml syntax is only available with our new build platform. To find out if you're on the new build platform, you can go to the Billing tab for your organization and ensure that plan name is 'Continuous Delivery'. If it i

[2016-03-10 00:43] #1966 closed

[2016-03-10 00:45] ttrahan commented on #2348
@sheldon-sminq :

The issue you're seeing about a zip error indicates that Shippable is treating it as a source code deployment instead of a Docker deployment.  Remove the .ebextensions file as part of this deployment and that should eliminate the zip error.

Secondly, for your EBS deployment, there are a few different variations that can affect it.  First thing to double-check is that the Docker

[2016-03-10 00:50] manishas commented on #1922
Slack config now supports control over which messages are sent, as well as sending to multiple rooms, etc. More details in docs at http://docs.shippable.com/ci_configure/#slack-notifications

Please note that you'll need to move your subscription to the new plan (Continuous delivery) if it has not already been migrated to that. Also you'll need to use the new yml format.

[2016-03-10 00:50] #1922 closed

[2016-03-10 00:53] manishas commented on #1880
We have redone the build badge implementation completely for the new build system, so closing this issue.

Badges are described at http://docs.shippable.com/ci_projects/#build-status-badges

Your subscription needs to be on the new build system, i.e. plan name in the Billing tab should be 'Continuous Delivery'. If it is not, you can update the plan and badges should start working from subsequent b

[2016-03-10 00:53] #1880 closed

[2016-03-10 00:54] manishas commented on #1817
Code coverage has been redone for the new build platform and this should be addressed now. closing.

[2016-03-10 00:54] #1817 closed

[2016-03-10 00:58] manishas commented on #1667
This is now addressed with the new yml format where you can run docker commands as part of your ci workflow through the yml.

You can spin up containers, run docker compose, etc to run functional tests if needed.

Documentation for the new format is at http://docs.shippable.com/ci_configure/

Let us know if you need help with configuring this.

[2016-03-10 00:58] #1667 closed

[2016-03-10 01:05] manishas commented on #2041
Do you want to pick the same one each time? You can do it using environment variables and our new yml format which gives you complete control over your workflow.

Your yml would look something like this:

``
env:
   - FOO = 1
   - FOO = 2

build:
   post_ci:
      -  'if [ "$FOO" == "2" ]; then docker push repo/image:tag ; fi'
[code]

[2016-03-10 01:05] #2041 closed

[2016-03-10 01:10] manishas commented on #2083
This is now possible with our new yml format, where you can include docker commands. yml configuration is explained here - http://docs.shippable.com/ci_configure/

You will need to be on the new build system to use the new format. You can check by going to the Billing tab of your subscription and making sure plan name is Continuous Delivery. If it is not, you can update the plan.

Your yml will ha

[2016-03-10 01:11] manishas commented on #2083
I am closing this issue but please let us know if you need help getting set up.

[2016-03-10 01:11] #2083 closed

[2016-03-10 01:11] npahucki opened #2354 "Can not create more than one Environment"
I went to setup a pipelilne for a production deploy, and found that I can not add another Environment for some reason - the button is greyed out with no explanation. I can not reuse the old Environment since it points to the development cluster.

Can you tell me why this is disabled?
![screenshot 2016-03-09 22 08 03](https://cloud.githubusercontent.com/assets/823555/13656226/ea14ccfa-e643-11e5-8a6

[2016-03-10 01:12] manishas commented on #1665
This should be fixed with our new release which also addressed perf. please let us know if you think pages still load slowly...

[2016-03-10 01:12] #1665 closed

[2016-03-10 01:16] gegere commented on #2083
Awesome!

[2016-03-10 01:17] manishas commented on #1354
php code coverage has been rebuilt from ground up, so this should not be happening any more. please let us know if this works now.

[2016-03-10 01:17] #1354 closed

[2016-03-10 01:24] cjerdonek commented on #2083
Thanks, @avinci and @manishas. Looking forward to trying it out!

[2016-03-10 01:26] manishas commented on #2354
@npahucki in this release, there is a limit of one environment per subscription. we do plan to add support for multiple environments in the future along with workflows around how code moves through these environments to production. This will light up in the next few weeks.

To get multiple environments for now, you can create an organization in GitHub and that will give you an additional subscript

[2016-03-10 01:28] manishas commented on #1513
We have upgraded our build system since this issue was reported, so closing this.

[2016-03-10 01:28] #1513 closed

[2016-03-10 02:15] sheldon-sminq commented on #2348
I am still confused as to how to go about this,

check this build https://app.shippable.com/runs/56e0d5a99c434f0d00996f29

Also attached the Dockerfile and shippable.yml file

When does my dockerfile get read? I am using the default image from
shippable for Java.

On Thu, Mar 10, 2016 at 6:15 AM, ttrahan <notifications@github.com> wrote:

[2016-03-10 02:20] stephanielingwood commented on #2353
Hi @rhherrera,

Thanks for your question. On Shippable, when you run a container (like your postgres container) from inside your build container, they end up running side-by-side in the host machine - not one-inside-the-other. In other words, the build container does not act as the host machine for the postgres container.

This means that you need to create a separate data volume container to shar

[2016-03-10 02:47] ttrahan commented on #2348
@sheldon-sminq : can you jump on a Hangout at 9:00p PST to discuss?  I think it would help to walk through your scenario.  if so, please email me at tom@shippable.com and I'll send the invite.

[2016-03-10 02:54] sheldon-sminq commented on #2348
is that 11:30 AM IST?

On Thu, Mar 10, 2016 at 8:17 AM, ttrahan <notifications@github.com> wrote:

[2016-03-10 03:06] ttrahan commented on #2348
Actually, I believe that would be 10:30a IST

[2016-03-10 03:30] chriskinsman opened #2355 "$PULL_REQUEST no longer set to false for non-pull request"
We use an on_success step like this:

    - 'if [ "$BRANCH" == "master" -a "$PULL_REQUEST" == "false" ]; then curl -X POST -H "Authorization: apiToken $API_TOKEN" -H "Content-Type: application/json" https://api.shippable.com/projects/$psjobscriptsid/newBuild; fi'

To trigger a new build.  After switching to the new platform we have found $PULL_REQUEST is no longer set to false.  This means our bui

[2016-03-10 03:36] chriskinsman opened #2356 "cache: true results in long build times"
If I add this to my shippable.yml builds that typically complete in 3-4 minutes are taking 15-20+ minutes.  Not sure they ever finish.  I finally canceled them.

[2016-03-10 03:37] chriskinsman commented on #2355
Working around this with:

- 'if [ "$BRANCH" == "master" -a -z "$PULL_REQUEST" ]; then curl -X POST -H "Authorization: apiToken $API_TOKEN" -H "Content-Type: application/json" https://api.shippable.com/projects/$psjobscriptsid/newBuild; fi'

[2016-03-10 03:58] sheldon-sminq commented on #2348
I finally managed to get it to work with the EBS UI setup. Just need to
check on why the mysql DB does not load triggers during the CI test process.

On Thu, Mar 10, 2016 at 8:36 AM, ttrahan <notifications@github.com> wrote:

[2016-03-10 04:10] ttrahan commented on #2317
@jlsupport: we had hoped to have this resolved by today, but ran into some additional issues.  work is underway, but will take a bit more time.  i'll post an update shortly with a revised estimate.

[2016-03-10 05:04] tcurdt opened #2357 "ignoring changes to shippable.yml"
We have a PR from a branch off master. New commits will trigger a new build - but according to the logs changes to the `shippable.yml` are being ignored.

https://github.com/VIORAMA/chronos/blob/80af6d76b00ee2cd1507ab778f0b130d3a2723a1/shippable.yml

vs

https://app.shippable.com/builds/56e0fc399c434f0d009c87c3

[2016-03-10 05:11] pranaypareek commented on #2355
@chriskinsman thanks for reaching out. We are looking into this and will keep you posted!

[2016-03-10 05:16] manishas commented on #2356
@chriskinsman we realized that our strategy of flattening the image and pushing is leading to very slow cache process which defeats the purpose. We have decided to redo caching and implement a folder based approach.

At this point you should do one of the following -
- turn off cache for your builds until the new implementation is available in a few days
- ask to be reverted back to the old build

[2016-03-10 07:50] sreyaj opened #2358 "[testcase_BB_61] Unable to reset BB project when deploy keys are deleted from BB repo"

[2016-03-10 07:52] #2358 closed

[2016-03-10 07:59] pranaypareek commented on #2355
Chris, this has been pushed to beta and verified. I'll update you as soon as this is pushed to production, in the next few hours.

[2016-03-10 09:41] gervaisb commented on #2253
Manisha, In fact I have delete evrything and requested an account deletion
(but not received any response)

On Wed, 9 Mar 2016 at 20:25 Manisha <notifications@github.com> wrote:

[2016-03-10 09:49] rageshkrishna commented on #2352
@sblaz I think I know what's going on here... in the new build system, we no longer automatically inject the `$HOME` environment variable. We try to update the current user's `~/.ssh/config` file to insert `StrictHostKeyChecking no`. In the new build system, $HOME is not set when we start the build, and it appears your custom image doesn't define it either. This causes ssh config to end up in the

[2016-03-10 09:50] rogierslag commented on #2355
We had the same problem, the variable in the new setup is called `$IS_PULL_REQUEST` (which to be honest is an improvement since the name is clearer)

[2016-03-10 09:53] rogierslag opened #2359 "Pulling private docker container sometimes fails"
<img width="614" alt="screenshot 2016-03-10 10 49 26" src="https://cloud.githubusercontent.com/assets/2778689/13665716/19f84306-e6ae-11e5-9f5b-a5cc529526a5.png">

As an example: The first build succeeds, a number of hours later the exact same git sha fails since it seems unable to fetch the docker container (even though the registration to Docker etc is all correct). On the new architecture this h

[2016-03-10 10:13] pranaypareek commented on #2355
@rogierslag you're right. Our docs were missing the description for the new variable `$IS_PULL_REQUEST`. (We're updating them)

The older variable `PULL_REQUEST` can still be used though as **it will be set to false for a non-PR build** and **with the build number for a PR build**.

Thanks!

[2016-03-10 10:38] rogierslag commented on #2355
_P.S. (not strictly related, but would be very useful) to see the environment which is used. Currently we just add `env` as the first step in the `ci` block. However that does print everything everytime (not sure about encrypted vars). It would be awesome if you could check the used `env` directly from the web ui or something!_

[2016-03-10 11:55] cratz commented on #2219
@manishas
Looks like this is fixed now at least for us.

[2016-03-10 11:56] pranaypareek commented on #2355
Rogier, as far as I understood your request, we do show the env vars on the UI! (Please correct me if I'm wrong)

This can be done without needing to use the `env` step in the `ci` block.

* You can navigate to the `Script` tab .

![selection_189](https://cloud.githubusercontent.com/assets/6316230/13668681/518272fc-e6e4-11e5-914d-843757aa58ba.jpg)

* Here, you should expand the `boot` step.
![sele

[2016-03-10 12:40] pranaypareek commented on #2355
@chriskinsman the fixes are now live. Please let us know if this works for you. Thanks!

[2016-03-10 13:28] rogierslag commented on #2355
Aha the part under the script section is exactly what I was looking for! Awesome :)

[2016-03-10 13:31] babelian opened #2360 "500 error on build"
Am receiving this error on clicking build for deploy/production branch

https://app.shippable.com/projects/5413806af82ab7ebd69c942c

(Id: 4006) postRun failed for projectId: 5413806af82ab7ebd69c942c
verbose: projects|triggerNewBuildRequest:5413806af82ab7ebd69c942c|_queueRun
500

Thanks.

[2016-03-10 14:37] flakron opened #2361 "Postgres and mysql not starting by default on minv2"
Up until an hour ago everything was ok, now I'm getting the below message:

[code]

[2016-03-10 14:41] avinci commented on #2361
@flakron could you give me your projectId or a link to the build. We are upgrading the back end infra and it should be transparent for users, but might be affecting you. I want to see if thats the case

[2016-03-10 14:43] flakron commented on #2361
Sure
project id: 56d45cd19d043da07b0fcabb
latest build: https://app.shippable.com/runs/56e1862800d3410c00b61da6

[2016-03-10 14:50] avinci commented on #2361
@flakron There is an issue with image picker. The new build system should pulled the old image `minv2` instead of the latest image. I am opening a ticket to get this fixed ASAP. If we need to fire a test build on your project would that be ok, i.e. once we fix the issue

[2016-03-10 14:51] #2355 closed

[2016-03-10 14:51] avinci commented on #2361
@ric03uec can we get this fixed ASAP. The image picker should have defaulted to minv2 if the project was enabled before 2/29 and this seems to be not working as expected. Lets fix this as a CQD so that this project get unblocked.

[2016-03-10 14:52] flakron commented on #2361
Thanks for the fast response.
Sure fire the build whenever you need.

:+1:

[2016-03-10 14:57] avinci commented on #1900
@kepkin we have updated all our images etc. and also upgraded the build system completely from ground up.

If you use any custom image, if its ubuntu, we install sudo & git. So if you want to do this on non ubuntu image, you will need some way to get git installed and also make sure your YML commands have root escalation like sudo, when you run docker commands.

We do not officially support other

[2016-03-10 14:57] #1900 closed

[2016-03-10 15:00] avinci commented on #2148
We have complete redone our UI. Please let us know if this is still happening.

[2016-03-10 15:02] avinci commented on #2151
@jamesjwarren we have completely revamped our build system. of course docs have been updated too.

Basically, all the stuff thats in the section below is run inside the container.
[code]

`pre_ci` sections runs outside the container as part of the prep process.

[2016-03-10 15:02] #2151 closed

[2016-03-10 15:06] avinci commented on #2163
@kaspernj I am super sorry about no one getting back to you on this. We have completely revamped our build system from ground up to address these issues. We also have updated all our images to make sure they are 100% current.

If you are running cache, one thing you could do is do a reset cache either from the UI or through the commit message and it should nuke your cache.

On the new system, we a

[2016-03-10 15:08] avinci commented on #2163
Also, we have not upgraded on the customers to new plan as we are stabilizing the system before we move everyone over. Migrations should be completed by end of this month.

[2016-03-10 15:09] #1583 closed

[2016-03-10 16:34] manishas commented on #2361
@flakron I looked into this and here is what is happening-

- your subscription was upgraded to the new plan a few hours ago.
- Since our recent release was on 2/29, all projects on the new plan and enabled on or after 2/29 do not pull shippable/minv2 as build image by default. Your project now meets this criteria, hence it started pulling u14php by default.

Can you share your shippable.yml? We c

[2016-03-10 17:42] manishas commented on #2343
This should be resolved now. Please let us know if this happens again and we will reopen.

[2016-03-10 17:53] manishas commented on #2304
@cratz is this still a  problem?

[2016-03-10 17:54] ttrahan commented on #2336
@GEverding : for #1 above, we currently do not support adding labels.  we've marked that as a feature request and will get it into our backlog process.

For #2 above, if I understand your question properly, there are several ways you can accomplish this that vary depending upon how/when in the CI process you generate your docker image.  You can set env variables from within your Dockerfile or with

[2016-03-10 18:02] manishas commented on #2306
This is fixed, so closing. Please let us know if you run into any issues.

[2016-03-10 18:02] #2306 closed

[2016-03-10 18:06] manishas commented on #2324
Closing this issue since the problem has been addressed. @daniel-sc please let us know if it doesn't work and we'll reopen.

[2016-03-10 18:06] #2324 closed

[2016-03-10 18:12] manishas commented on #2280
CLosing this since there is nothing to be fixed or changed here.

[2016-03-10 18:12] #2280 closed

[2016-03-10 18:15] rhherrera commented on #2353
Hi @stephanielingwood , thanks for the answer.
If I'm getting right, that way the entrypoint.sh will be mounted on /dataDir inside the postgres container.
so as is not in  "/" to exec the entrypoint I need to add ``` --entrypoint /dataDir/docker-entrypoint.sh.sh ``` .
Doing that,  get the following error ( I assume that is because volume is not mounted yet when entrypoint run).

Error response fro

[2016-03-10 18:19] manishas commented on #2262
@maxfi thanks for this sample project! We recently added support for json for encrypted variables, so you should give that a shot.

Can we include this project as part of our sample code so all Shippable users can benefit from it?

Thanks again.

[2016-03-10 18:35] stephanielingwood commented on #2328
Hi @mbrodala,

Sorry to take so long to get back to you. This was indeed a bug on our part - however, the good news is that the fix for this is now in production. Either of the latter two methods (the ones that would work in a regular shell) will give you access to your JSON-encoded string as a secure environment variable.

Hope this helps! Let us know if you have any further problems with this.

[2016-03-10 18:37] lizrush commented on #2330
@manishas That's okay, I'll let it resolve by itself. Just hadn't seen any user messaging from within Shippable to know this was happening. Next time would appreciate a note or info about the status from within the app instead of having to search support, but I'm ok waiting for this migration to happen! Thanks.

[2016-03-10 18:43] manishas commented on #2235
We are redoing our caching implementation and adding support for folder level caching. This should be available next week.

[2016-03-10 18:44] ric03uec commented on #2289
we can try to compile our build runner with a lower version of `GLIBC`. but for now this is not a critical fix for us. Im updating the tags on this and will let you know once we pick this up.
@abhijitkini i'm marking this as deferred. This will help us increase the number of images we support.

[2016-03-10 18:57] ttrahan commented on #2333
@Lughino we discovered an issue with how EB deployments are working and are working on the fix now.  As soon as that is complete, we will post the updated documentation and notify you here.  In the meantime, if urgent, you can configure EB deployments within the shippable.yml to accomplish your scenario. Let me know if you'd like to do this.

[2016-03-10 19:07] manishas commented on #2257
@9dev we have migrated your subscription to the new build platform. Can you try rerunning your build and if you run into issues, we can take a look.

Thanks!

[2016-03-10 19:10] manishas commented on #2237
@OddEssay can you point me to a build where this happened?

[2016-03-10 19:16] manishas commented on #2219
This should be fixed now on the new build system. Please let us know if it happens again after your subscription is migrated to the new system (i.e. plan name in Billing tab is 'Continuous Delivery').

[2016-03-10 19:16] #2219 closed

[2016-03-10 19:23] bbradbury opened #2362 "Cache hangs forever, blocking builds"
https://app.shippable.com/runs/56e1c4a9bb39610c0090fda7 ...been stuck for an hourish

[2016-03-10 19:34] manishas commented on #2057
@pnpritchard this is now available with the new build system!
cc @phagunbaya as FYI.

After you migrate to the new yml format, there is a `post_ci` section where you can include your `docker build` and `docker push` commands and then your script. This will execute sequentially, so the script will run after the image is pushed.

Please note that if you're using a custom image for your CI and are pu

[2016-03-10 19:47] manishas commented on #2362
@bbradbury There are some issues with caching on the new build system, mainly that we're flattening images before pushing them and this is taking too much time. This is especially bad since you're using minv2 which is a 15gb+ image.

We are working on addressing this with folder level caching which will be available next week.

At this point, we have the following options:
- Turn off caching for y

[2016-03-10 19:50] bbradbury commented on #2362
Thanks Manisha. We'll turn off caching for the moment.

[2016-03-10 19:58] Gudahtt commented on #2343
I'm still seeing these three errors on every single one of our builds.

e.g. https://app.shippable.com/runs/56e1cd7abb39610c009219fc

[2016-03-10 19:59] phagunbaya commented on #2057
@manishas : Thanks. We will be initiating the migration next week.

[2016-03-10 20:24] DavidGDragon commented on #2322
Global vars should be added to the env of includes with the next update.

---
beta verified api 10575

[2016-03-10 20:27] Gudahtt commented on #2343
I tried with a branch using the new config format as well, just to be sure that wasn't the issue. Same result. Still can't pull from cache, still getting those same three errors.

https://app.shippable.com/runs/56e1cfa400d3410c00c49f9c

[2016-03-10 20:30] DavidGDragon commented on #2142
We've put in a fix that should resolve the issue, please verify that the issue no longer occurs when you have the chance.

---
beta verified www 5482

[2016-03-10 20:47] ric03uec commented on #2343
@Gudahtt there is an issue with caching and we're fixing it right now. i've disable cache for now on all projects and your builds seem to be running correctly.

@manishas re-opening this and updating the tags. this will be tracked with the bug that is in progress for fixing cache

[2016-03-10 21:06] Gudahtt commented on #2343
Sure, will do. Thanks.

[2016-03-10 21:06] stephanielingwood commented on #2353
Hi @rhherrera,

I'm guessing something isn't correct in the contents of your docker-entrypoint file. I ran your yml on some builds of my own (my entrypoint file has only a few commands in it), and `docker ps -a` showed me that my postgres container did come up, but it finished executing the entrypoint file quickly and exited after 1 second.

You can change your `docker ps` to `docker ps -a` to see

[2016-03-10 21:59] DavidGDragon commented on #2124
To create a Docker integration via the API, you can send a POST request to `https://api.shippable.com/accountIntegrations` with the below json body.
The only fields that you need to change are:
`"name": "IntegrationName"` to be the name of the integration
Inside `formJSONValues` change these values to your values
`"value": "dockerUserName"`
`"value": "password123"`
`"value": "myemail@company.com"`

[2016-03-10 22:07] DavidGDragon commented on #2006
In the new build system, build artifacts are now set up by the user. See more information about build artifacts here http://docs.shippable.com/ci_configure/#build-artifacts

[2016-03-10 22:08] a-murphy commented on #2360
This might have had something to do with recent changes to caching, and if so should no longer be a problem.  Could you try triggering the build again?

[2016-03-10 22:20] DavidGDragon commented on #1879
We've released a new build system where users set up their own artifacts, you can find more information here http://docs.shippable.com/ci_configure/#build-artifacts
Try the new system and see if you continue to have issues.

[2016-03-10 22:26] DavidGDragon commented on #1692
We've released a new build system, you can review the revised YML format here http://docs.shippable.com/ci_configure/

[2016-03-10 22:45] ric03uec commented on #2351
@lloydcotten this is a bug at our end. we're re-implementing caching from ground up that will resolve this and give users a lot more flexibility in how they can use cache.
For now, we've disabled cache and the builds should run normally. You should remove the `cache:true` statement if builds are still failing for you

[2016-03-10 22:54] DavidGDragon commented on #1529
The new build system should alert you if there is this sort of problem. You should be able to circumvent this issue by putting quotes around the branch name.

[2016-03-10 23:16] manishas commented on #2124
closing since this is now available with the recent service update.

[2016-03-10 23:16] #2124 closed

[2016-03-10 23:19] manishas commented on #2006
I am closing this issue since artifact handling has changed in the new build system.

[2016-03-10 23:19] #2006 closed

[2016-03-10 23:19] manishas commented on #1840
Closing this since we have a new set of official images. If you have very specific requirements for what is installed on an image, you should use custom images for your build.

[2016-03-10 23:19] #1840 closed

[2016-03-10 23:22] manishas commented on #2322
This should be deployed to prod. closing.

[2016-03-10 23:22] #2322 closed

[2016-03-10 23:23] manishas commented on #2328
This is deployed to prod, so closing. Please let us know if you run into any problems.

[2016-03-10 23:23] #2328 closed

[2016-03-10 23:25] manishas commented on #2300
We are addressing this with a new implementation of caching that is folder based. This will be available next week. Marking this in progress.

[2016-03-10 23:27] manishas commented on #2357
@tcurdt we cannot see the yml since this is a private project.

Does your branch contain shippable.yml? Also, does master have a shippable.yml at the root of the repo?

[2016-03-10 23:32] manishas commented on #2057
cool. let us know if you need help.

closing this issue since this has been addressed.

[2016-03-10 23:32] #2057 closed

[2016-03-10 23:34] manishas commented on #1879
Closing this since this has been addressed with the new build system.

[2016-03-10 23:34] #1879 closed

[2016-03-10 23:36] manishas commented on #1668
We have completely redone our yml format and it is now possible to pass options to the docker build or run command since docker workflows and commands can be included in the yml. closing.

[2016-03-10 23:36] #1668 closed

[2016-03-10 23:38] manishas commented on #1601
Closing.

[2016-03-10 23:38] #1601 closed

[2016-03-10 23:39] manishas commented on #1601
To add on to that, we also show you memory and resource usage if you attach your own build machines. This is available in subscription settings.

[2016-03-10 23:40] manishas commented on #1503
Sorry this fell off the radar!

We have completely redone our build system recently, so this should no happen any more.

[2016-03-10 23:40] #1503 closed

[2016-03-10 23:45] manishas commented on #1239
Docker workflows have changed in the new build system, so closing out this old issue.

[2016-03-10 23:45] #1239 closed

[2016-03-10 23:48] manishas commented on #237
This will be tracked in #2146

[2016-03-10 23:48] #237 closed

[2016-03-10 23:50] sblaz commented on #2352
Thanks @rageshkrishna! We changed our Dockerfile to based on drydock/u14nod:prod instead of shippableimages/ubuntu1404_nodejs and that seems to have cleared up the $HOME=/root issue: git_sync step now successfully clones our repo. Thanks for the help.

[2016-03-10 23:51] manishas commented on #2352
:+1:

Closing.

[2016-03-10 23:51] #2352 closed

[2016-03-11 00:11] manishas commented on #2360
@babelian can you point us to the latest build for your project?

[2016-03-11 00:13] manishas commented on #2136
Sorry for the long delay on this.

Wrt to running different tests on shippable, you would need to include the commands sequentially in the `ci` section of the yml.

We are adding folder level caching and this will be announced next week.

[2016-03-11 00:14] manishas commented on #1692
Closing this since it has been answered.

[2016-03-11 00:14] #1692 closed

[2016-03-11 00:17] manishas commented on #2251
I cannot get to this build, probably because the project was disabled. Sorry for the delay.

We have revamped our build system and this has resolved a lot of issues. Please let us know if this is still happening and I will reopen this issue.

[2016-03-11 00:17] #2251 closed

[2016-03-11 00:17] #2259 closed

[2016-03-11 00:18] manishas commented on #2142
closing.

[2016-03-11 00:18] #2142 closed

[2016-03-11 00:20] manishas commented on #1506
This has been completely redone in our newly released build system and this should not happen any more. Sorry on the long long delay on this.

Closing.

[2016-03-11 00:20] #1506 closed

[2016-03-11 00:21] manishas commented on #2148
Closing this issue. Please let us know if this is still happening and we will reopen.

[2016-03-11 00:21] #2148 closed

[2016-03-11 00:24] manishas commented on #2229
Closing this issue. Please let us know if this is still happening and we will reopen and take a look.

Thanks!

[2016-03-11 00:24] #2229 closed

[2016-03-11 00:26] trriplejay commented on #2332
@jgregors We've cleaned up some of the stale data on our end. Can you try again to delete your unused integrations? Let me know if it still doesn't work.

@sheldon-sminq Can you post the specific error you're seeing? When you say you can't edit, do you mean the 'save' action fails or the edit button itself?

[2016-03-11 00:45] sheldon-sminq commented on #2332
No i mean if I add an integration, cannot edit it the only option is to
delete it. Once deleted, the options still appears in the integrations list.
but havent checked the same after as i was busy with the migration.

On Fri, Mar 11, 2016 at 5:56 AM, John Stockbauer <notifications@github.com>
wrote:

[2016-03-11 00:49] tcurdt commented on #2357
@manishas "yes" is the answer to both questions.

It seems like PR builds are ignoring changes to the `shippable.yml` while the reqular builds are OK.

[2016-03-11 00:50] lloydcotten commented on #2351
Thanks for the response.

[2016-03-11 00:57] trriplejay commented on #2332
@sheldon-sminq ahh, I think I understand.  What you're actually adding/deleting is the association between your accountIntegration and your project.  If you want to remove the accountIntegration entirely, you can do so on the [accountSettings](https://app.shippable.com/accountSettings) page, under the 'integrations' tab. (make sure you first delete it from your project, so it's not being used)

Yo

[2016-03-11 01:42] guycreate opened #2363 "$REPO_NAME no longer includes username/repo"
When cloning from a github repository, building and then pushing, I find the new build YML format no longer sets $REPO_NAME to the full github slug (username/repo) instead is just the name.

Before new build system:
$REPO_NAME = Shippable/support

Now
$REPO_NAME = support

I've had to hard-code the username in my [shippable.yml](https://github.com/iopa-io/iopa-static/blob/master/shippable.yml) but

[2016-03-11 02:31] zebehringer opened #2364 "git submodule update started failing after I changed to the Continuous Delivery plan"
I was following the steps for migrating to the new YML format: http://blog.shippable.com/migrating-to-the-new-build-platform. The first step is to update your billing plan, so I did that. Between doing that and actually committing an adapted shippable.yml to any of our code repos, we had to build some other changes. So far they are all failing when trying to resolve submodules.
I then tried resett

[2016-03-11 03:54] manishas commented on #2364
@rageshkrishna can we look at this?

[2016-03-11 04:01] manishas commented on #2363
@pranaypareek  we need to make sure we're setting this correctly.

[2016-03-11 04:57] pranaypareek commented on #2363
@manishas sure, I'm looking into this.

@guycreate we'll keep you posted. Thanks for reaching out!

[2016-03-11 05:16] rageshkrishna commented on #2364
Hi @zebehringer. I've started looking in to this issue. I'll get back to you in a bit with my findings.

[2016-03-11 07:11] manishas commented on #2359
@rogierslag we suspect you're missing the integrations section in your yml. You need this in your yml in addition to having the integration in project settings (which you already do)

http://docs.shippable.com/ci_configure/#pulling-your-ci-image-from-a-docker-registry

[code]

[2016-03-11 07:59] flakron commented on #2361
Sorry could not reply earlier, here is the project shippable file
[code]

[2016-03-11 07:59] rogierslag commented on #2359
Somehow I missed that. Works like a charm :)

[2016-03-11 07:59] #2359 closed

[2016-03-11 08:05] mbrodala commented on #2322
Thanks, [works like a charm](https://app.shippable.com/runs/56e27b1d56582c0c0057f23e). :-)

[2016-03-11 08:11] mbrodala commented on #2328
Thanks for fixing, [works as expected now](https://app.shippable.com/runs/56e27d891852dc0c00984b19).

[2016-03-11 08:28] rogierslag opened #2365 "Status reporting to github"
Currently shippable saves one status to Github when checking a pull request. However two checks are done. 1 for the tip of the branch and one for the proposed merge. However just a single one is shown in Github.

Would it be possible to use two different names for the status checks, such that they both show up (e.g. `Shippable/merge` and `Shippable/branch`)? That way it is easier for developers wh

[2016-03-11 09:12] rageshkrishna commented on #2364
I have figured out why this is happening. One of our components is presenting keys in the wrong order. We have a fix ready for this and it will be deployed in the next hour.

[2016-03-11 10:00] mbrodala commented on #2207
@manishas Are there any updates here? I know it's not a dealbreaker but all of my colleagues have asked me already where all the pretty colors have gone. ;-)

(Please compare [this old build](https://app.shippable.com/builds/56975facecdf4f0d008bcd3f) before the architecture switch with [this current build](https://app.shippable.com/runs/56e295c456582c0c005abe2c).)

[2016-03-11 10:22] rogierslag commented on #2350
Could be, I dont know enough about the ruby internals to assess that.

It does yield a feature request though: currently such a build will be left around for 2 hours before being considered failed. Could we specify the max time in the `shippable.yml` file in some way?

[2016-03-11 10:34] rageshkrishna commented on #2364
@zebehringer This should be working now. Please give it a shot and let me know how it goes. Thanks!

[2016-03-11 10:42] rageshkrishna commented on #2361
Hi @flakron. Here's what the new YML format would look like for your project:

[code]

[2016-03-11 10:43] mbrodala commented on #2086
@himanshu0503 Let me know if there are some updates.

I'll close this ticket since there is now a good way to install the extension at build time. If it was already part of the Shippable Docker image, that'd be neat though. ;-)

[2016-03-11 10:50] pranaypareek commented on #2363
@guycreate we also have another env var (called `ORG_NAME`) which will give you the name of the organization/user that owns the repo. This will save you from hard-coding the name.

In the example of `Shippable/support`:
`$ORG_NAME` is set to `Shippable`
(We'll update the docs with a description for this env var)

To make things easier, we have decided to include another env var called `REPO_FULL_N

[2016-03-11 10:56] flakron commented on #2361
psql is running except it's complaining about connectivity
[code]

[2016-03-11 11:24] hunt3ri opened #2366 "BUG - BRANCH environment variable incorrectly reporting Target Branch on Pull Requests"
When I create a Pull Request on Github, Shippable is incorrectly setting the BRANCH environment variable to the same value as the BASE_BRANCH, as can be seen from this debug statement

echo Target Branch is $BASE_BRANCH
echo Running MapStore API Deploy, current branch is $BRANCH

results in

Target Branch is **develop**
Running MapStore API Deploy, current branch is **develop**

It shoud read

Tar

[2016-03-11 14:02] guycreate commented on #2363
Thanks for the very speedy resolution.   $ORG_NAME/$REPO_NAME is a fine solution and I will use that.

[2016-03-11 14:39] Lughino commented on #2333
@ttrahan thanks for the reply.
I'm taking care to configure the shipping.yml and I'm encountering two problems, one of which perhaps does not depend on your platform but from my inexperience:

- Shippable properly performs tasks and launches the deployment without giving errors
- The beanstalk will not start properly and reported a generic error "Update environment operation is complete, but with

[2016-03-11 14:47] ondrejfuhrer opened #2367 "Build constantly failing (cannot install several gems) for Rails application"
Hello,

I tried several things that I saw in different issues, but nothing seems to be working for me right now and the build is constantly failing.

My shippable.yml:
[code]

Result from console:
[code]

Can you please help me investigate, what is the problem?

Thank you.

[2016-03-11 15:11] ondrejfuhrer commented on #2367
Fixed by adding this line to `before_install` section:
[code]

[2016-03-11 15:11] #2367 closed

[2016-03-11 15:51] manishas commented on #2361
@ric03uec we need to look into this. shippable/minv2 is being selected now, but we are not starting postgres and mysql by default as we're supposed to if the image is minv2.

[2016-03-11 16:08] manishas commented on #2361
@flakron we're going to look into our bug but you should be unblocked for your builds by adding the following in your yml:

[code]

Let me know if that works for you. I am going to leave this issue open since we still have to track down why postgres did not start automatically for you.

[2016-03-11 16:09] gegere commented on #2347
Happy to see the docs updated. Nice job!

[2016-03-11 16:31] zebehringer commented on #2364
Yeah, looks like the builds are now getting past the submodule update line. It is now failing on ecr login, but that is because I haven't adapted the Dockerfile to install the awscli.

[2016-03-11 16:31] #2364 closed

[2016-03-11 16:46] manishas commented on #2361
@ric03uec here is what is happening:

- If minv2 is selected as the image by default, mysql/postgres start by default as expected
- if minv2 is explicitly selected through the pre_ci_boot section, mysql/postgres do not start even if SHIPPABLE_IS_LEGACY_IMAGE is true.

[2016-03-11 17:11] manishas commented on #2360
@babelian is this still happening?

[2016-03-11 17:25] ttrahan commented on #2333
@Lughino: on first glance, your yml looks correct.  Do you still have a Deployment Integration added to your project in Project Settings in the Shippable UI?  If so, remove that from your project and retry.  It looks like the Dockerrun file has been provided the Shippable env variables for $IMAGE_NAME and $IMAGE_TAG caused by that integration being set.

If that's not the case, please provide the

[2016-03-11 18:38] trriplejay commented on #2348
@sheldon-sminq are you still having issues with the mysql triggers?

[2016-03-11 18:44] Lughino commented on #2333
@ttrahan thanks.
It was a permissions problem, I hadn't associated permissions to the beanstalk, but Amazon did not provide a clear error message!

In case I want to push the image on the ECR repository and execute the deploy only on the master branch, how can I configure the shipping.yml?

[2016-03-11 19:28] manishas commented on #2361
This is actually behaving per design. Once users move to the new yml syntax, we will not start any services by default. You can always use the services tag to start whatever you want.

Labeling this as resolved. @flakron let us know if adding the services tag to the yml as explained above doesn't work.

[2016-03-11 19:36] stephanielingwood commented on #2206
@mbrodala Multiple slack integrations should be working now. Once you've added both slack integrations to your project, your yml will look something like this:

[code]

If you run into problems with this, please let us know.

[2016-03-11 19:47] DavidGDragon commented on #1393
We've redone the UI, see if you continue to have issues. Additionally, you can use this URL to get to your subscription page settings: `https://app.shippable.com/subscriptions/{{SUBSCRIPTION_ID}}/subscriptionsSettings`

[2016-03-11 20:15] a-murphy commented on #2366
There is a $HEAD_BRANCH environment variable set for pull requests that contains the name of the branch from which the pull request was opened (my-pull-request-branch in your example).  Additionally, $IS_PULL_REQUEST can be used to determine if the build is for a pull request or a commit if you need to know if $HEAD_BRANCH will be available or not.

[2016-03-11 20:34] rhherrera commented on #2353
@stephanielingwood thanks a lot, as you said was a problem on my entrypoint now.

[2016-03-11 20:34] #2353 closed

[2016-03-11 20:36] stephanielingwood commented on #2353
@rhherrera no problem. good luck with the entrypoint.

[2016-03-11 21:58] zebehringer opened #2368 "ebs_check_deploy_run_json not found in source code"
building an app that deploys to Elastic Beanstalk, using the new YML format and the Continuous Delivery plan, is failing. As far as I can tell, it is on a step called "ebs_check_deploy_run_json". CI and pushing to ECR works.

https://app.shippable.com/runs/56e33d93718a8f0c0003f923

bitbucket username: zbehringer@revealmobile.com

[2016-03-11 22:08] epicserve commented on #2242
@manishas Is there any way to test images locally, without having to commit changes to your git repository and then watch to see if the build's tests pass on Shippable?

[2016-03-11 23:48] ttrahan commented on #2333
@Lughino:

I'd put the Elastic Beanstalk update code that you don't want to execute into a script that checks that branch name = master before executing those commands, and call it from shippable.yml.  All environment variables (ones you've set or ones Shippable creates) are available in the

For instance, you can do it via a bash script as follows.  In this example, all commands related to EB hav

[2016-03-11 23:52] ttrahan commented on #2368
@zebehringer: we apologize, this is a known issue that we're fixing.

in the meantime, if you'd like to set up the EB deployment steps directly yourself in your shippable.yml, here are two examples for doing so:
* [For source code deployment](https://github.com/ttrahan/node-express-eb/blob/master/shippable.yml)
* [For Docker deployment](https://github.com/ttrahan/micro-api/tree/amazon-eb-cli-beta)

[2016-03-11 23:56] trriplejay commented on #2241
@kevinvandervlist To take advantage of the new Shippable build system, you'll have to switch your plan on your subscription's billing tab to the one called "Continuous Delivery".  Once you've switched you can try your build again.  The error you were experiencing should be fixed on the new plan.

[2016-03-12 00:58] sheldon-sminq commented on #2348
I haven't yet checked will try today
On 12 Mar 2016 00:08, "John Stockbauer" <notifications@github.com> wrote:

[2016-03-12 04:31] pkaminski opened #2369 "gcloud version update policy"
Thanks for adding gcloud to the new standard images!  However, I notice that the version of the tool you have installed there is v95, whereas the latest is v100.  What's your policy regarding updating to new versions of gcloud in the drydock images?  What's the best way to update it in our script if we need a more recent one?  I've adapted the Ubuntu script from the gcloud docs but it's probably o

[2016-03-12 06:42] manishas commented on #2369
@pkaminski we will update our official images every quarter with the latest tools, services, and language versions. Next update will be June 2016.

Your scripts look right, we're actually doing exactly that to install gcloud sdk on our images. You can create a Docker image with a FROM using our standard image and then just install the latest version of the sdk on it which you can then use as a cus

[2016-03-12 06:45] pkaminski commented on #2369
OK, thanks.  I think I'll keep things as-is -- the additional install isn't slowing things down very much, and I like having the runtime dealt with automatically.  Once `gcloud preview app` settles down perhaps I'll fall back to your quarterly version.  Cheers.

[2016-03-12 06:45] #2369 closed

[2016-03-12 06:45] manishas commented on #1041
This has open for a long time and we haven't received any +1s for it, so at this point, we don't think this is going to be implemented in the near future. Closing as deferred.

[2016-03-12 06:45] #1041 closed

[2016-03-12 12:25] sheldon-sminq commented on #2348
Still facing the issue my mysql triggers dont fire when my tests runs as a
result there are failures.

On Sat, Mar 12, 2016 at 12:08 AM, John Stockbauer <notifications@github.com>
wrote:

[2016-03-12 13:41] pukapukan opened #2370 "Is there a away to add multiple environments?"
I have multiple repos in a github account and want each of them to be deployed their respective ECS cluster.

However it seems like Shippable allows a single environment at the moment.  Is there a way to add multiple environments?

[2016-03-12 14:08] pukapukan commented on #2370
Found #2354 - closing this.

[2016-03-12 14:08] #2370 closed

[2016-03-12 14:29] pukapukan commented on #2354
Hope to see this getting implemented soon :)

[2016-03-12 15:16] Lughino commented on #2333
@ttrahan many thanks for the great support!

[2016-03-12 17:16] manishas commented on #2207
@mbrodala we'll look into this... thanks for the build links :)

[2016-03-12 17:16] manishas commented on #2363
this is  complete, so closing. Thank for confirming it works for you :)

[2016-03-12 17:16] #2363 closed

[2016-03-12 17:17] manishas commented on #2361
! am going to close this issue since there is nothing actionable for us to do here.

@flakron please include the services tag in your yml and specify postgres as shown in my comment above.

[2016-03-12 17:17] #2361 closed

[2016-03-12 17:18] manishas commented on #2206
Closing this, but please let us know if you run into issues and i'll reopen the issue.

[2016-03-12 17:18] #2206 closed

[2016-03-13 05:32] jamescgibson opened #2371 ""Could not find rake-11.1.0 in any of the sources""
[code]

When this is run, the build gets to line 19 and then says:

[code]

Rubygems is in my Gemfile sources, and rake-11.1.0 was released on [March 11](https://rubygems.org/gems/rake/versions/11.1.0) ?

Any advice? All in all I have yet to get the newly migrated version working.

[2016-03-13 11:28] tdutrion commented on #2086
Could you explain how to install the extension at build time? I need intl on PHP7 and can't get it to work :(

[2016-03-13 11:40] sbalko opened #2372 "Delete my account"
Guys,

I told you to cancel my account some time ago after it refused to do so in your Web interface. Now I find an invoice over $10 in my inbox.

Guys, cancel my subscription IMMEDIATELY. I can neither remove the credit card from my account, nor can I cancel the account altogether.

Regards,
Soeren Balko, PhD
CTO clipchamp.com

[2016-03-13 12:20] pukapukan opened #2373 "Deploy with load balance enabled - Could not find required IAM role."
Hi, when a Docker image is deployed to AWS ECS without load balancer enabled, everything works fine.

But when I try to deploy the same image with a load balancer, the deployment completes with following message: "Could not find required IAM role."

Since the registered ECS service gets removed after the deployment - I bet it has got to do with creating a service with load balancer enabled - but i

[2016-03-13 12:44] hgrubst opened #2374 "Cannot login to shippable, receiving Failed to POST accountIntegration"
Hi,

Since yesterday I cannot login to my shippable account anymore.
I keep getting a screen saying :
'Failed to POST accountIntegration'
I normally login through my bitbucket account.

[2016-03-13 14:47] luckyraul opened #2375 "SSH-agent error"
1) new conf - via custom image - https://app.shippable.com/runs/56e57c6a7e1e620b005c00b7
2) old conf - your image https://app.shippable.com/runs/56e575c7a1af5d0c00cc691a

last success build https://app.shippable.com/builds/56e34cc0faa2a30c00981470 - same as 2nd

[2016-03-13 14:51] aug70 commented on #2330
@manishas seems to be working fine now...

[2016-03-13 14:53] aug70 commented on #2342
Thanks for looking into it! Nobody changed or reset the project, I'm the only person working on this. It's weird it stopped working.

[2016-03-13 16:22] manishas commented on #2372
@sbalko sorry about this oversight. We'll delete your account and also issue a refund within 24 hours.

While deleting accounts was not available through the site in the past, you should have been able to switch your subscription to the free plan.

[2016-03-13 16:32] manishas commented on #2372
Refund has been issued and will show up on your card in a couple of days. I will leave this open until your account is deleted.

[2016-03-13 16:43] manishas commented on #2375
@rageshkrishna can you look into this?

[2016-03-13 17:21] manishas commented on #2371
@jamescgibson is this still happening? I see many green builds following the error you've mentioned above.

[2016-03-13 18:09] manishas commented on #2372
Account has been deleted. Closing.

[2016-03-13 18:09] #2372 closed

[2016-03-13 23:57] manishas commented on #656
Dup of #431

[2016-03-13 23:57] #656 closed

[2016-03-14 03:02] rageshkrishna commented on #2375
@luckyraul With the new build system, you no longer need to invoke `ssh-agent` or `ssh-add` -- your build commands are already running within an ssh-agent session that contains your subscription keys already loaded.

The reason your build is failing is because ssh-add is unable to find any keys in ~/.ssh. We no longer store any keys there. They are placed at /tmp/ssh and we inject them in to ssh-a

[2016-03-14 03:05] rageshkrishna commented on #2374
@hgrubst Can you please give me the bitbucket username with which you are trying to log in? Thanks!

[2016-03-14 03:22] hgrubst commented on #2374
Same as my email : aclement2@gmail.com

Thanks

On Mon, 14 Mar 2016, 14:05 Ragesh Krishna, <notifications@github.com> wrote:

[2016-03-14 03:32] rageshkrishna commented on #2304
@cratz Sorry for not getting back to you sooner. I think the problem is that you need to call the tag `services` and not `service`, like this:

[code]

To answer your second question, we have removed the ability to specify an older postgres version in the YML file. Our latest drydock image contains v9.4. If you really need older versions, you will need to continue to use shippable/minv2 as your im

[2016-03-14 04:12] rageshkrishna commented on #2374
@hgrubst Can you please try logging in once again? There was an inconsistency in our database that has been corrected. Things should be back to normal now.

[2016-03-14 04:39] emilcara commented on #2346
just the integration.

[2016-03-14 05:26] himanshu0503 commented on #2349
@Gudahtt : We're very sorry for the inconvenience caused, can you please let us know if it is still an issue?

[2016-03-14 05:56] sheldon-sminq commented on #2348
When i shifted to the older shippqble container minv2 my tests started running successfully.

But in the post_ci process i get the following error

docker build -t sminq/baseimage:$BRANCH.$BUILD_NUMBER .
WARNING: Error loading config file:stat /home/shippable/.docker/config.json: permission denied
Cannot connect to the Docker daemon. Is the docker daemon running on this host?

[2016-03-14 05:58] rageshkrishna commented on #2348
@sheldon-sminq Please try running the docker commands with `sudo`.

[2016-03-14 06:10] sheldon-sminq commented on #2348
Works @rageshkrishna thanks for the quick update

[2016-03-14 06:27] himanshu0503 commented on #2178
@kaspernj : We've upgraded our platform and our `ruby` image has the following ruby versions.
[code]
To use new features you can change your subscription plan to CD (Continuous Delivery) and convert your yml to the new format ([link](http://docs.shippable.com/ci_configure/)).
Alternatively, you can add the `build_image: drydock/u12rub:prod` in your yml to use the latest ruby image.

[2016-03-14 06:50] jamescgibson commented on #2371
@manishas Fixed now, forgot to close the issue - my mistake. In general, though, I'd say the migration guide is pretty incomplete; it took me ~ 4 hours to get our builds working again.

[2016-03-14 06:50] #2371 closed

[2016-03-14 06:58] luckyraul commented on #2375
thanks

[2016-03-14 06:58] #2375 closed

[2016-03-14 06:59] luckyraul opened #2376 "Projects links"
How can I trigger other project in subscription, or create project build dependency?

[2016-03-14 07:23] chetantarale commented on #2313
@cratz We have added missing packages to all the ruby images, can you please try and let us know if you run into the same issue again.

[2016-03-14 07:52] rvdwijngaard commented on #2241
@trriplejay we have migrated our subscription to "Continuous Delivery" but the problem remains. Please take a look at https://app.shippable.com/builds/56e66cee97449d0c00d440d5.

[2016-03-14 07:55] rageshkrishna commented on #2241
@rvdwijngaard It looks like your subscription is still on the "Single Tenant CI" plan. Can you please confirm whether the change in plan was successful? Did you get any errors while trying to change the plan?

[2016-03-14 08:33] pranaypareek commented on #2257
@9dev we have a sample project for selenium here https://github.com/shippableSamples/sample_node_selenium

It is currently setup to work with Firefox. I am looking into it to add support for Chrome.

We should reach out to you soon, thanks!

[2016-03-14 08:41] himanshu0503 commented on #2086
@mbrodala : We've created the symbolic link for `pickle`, now you can install extensions by `pickle install $ext`.

[2016-03-14 08:41] flakron commented on #2361
Sorry couldn't reply earlier, I just updated the ```shippable.ym``` file. Everything works fine, now it's even a bit faster (must be related to the on-demand services).

Thanks for the help.
:-)

[2016-03-14 08:49] mbrodala commented on #2086
@tdutrion Simply add the following line in your `ci` (or old `script`) section:

[code]

@himanshu0503 Thanks, I'l give it a try. :-)

[2016-03-14 08:53] mbrodala commented on #2086
@himanshu0503 That didn't work out:

[code]

Am I missing something?

[2016-03-14 08:54] himanshu0503 commented on #2086
@mbrodala : Do you have a `pre_ci_boot` section in your yml?

[2016-03-14 08:57] mbrodala commented on #2206
@stephanielingwood Just to make sure that I get it right: do I *have to* add the `integrations` section to my YML to get this working or can I just add both integrations to the project and be done?

(BTW I'd love to skip the "add integration to project in Shippable UI" step but that's a different issue. ;-) )

[2016-03-14 08:58] mbrodala commented on #2086
@himanshu0503 Yes, it's the same for all of our projects:

[code]

[2016-03-14 09:02] mbrodala commented on #2206
I'm still seeing the same behavior [as mentioned above](https://github.com/Shippable/support/issues/2206#issuecomment-192319426)

[2016-03-14 09:18] himanshu0503 commented on #2086
@mbrodala : Got the problem, we've only updated the `prod` tag with the changes so your yml will look like
[code]
If you don't specify the `pull: true` flag, we will use the image present on the system, and this can lead to your builds running on a stale image.

Alternatively, ill suggest you to remove the `pre_ci_boot` section for `drydock` images as by default we use the `drydock/u14$lang:prod`

[2016-03-14 09:24] tdutrion commented on #2086
Can't get it to work either... I have no `pre_ci_boot` section, and trying to install intl, redis and gettext.

Here is a sample of my config
[code]

For now I mainly have a compilation error for intl and another error for redis...
[code]

[2016-03-14 09:25] mbrodala commented on #2086
@tdutrion That sounds like an issue with PHP 7; I'm using 5.6 here.

[2016-03-14 09:26] mbrodala commented on #2086
@himanshu0503 Will that slow down builds? It sounds like this will cause more image pulls. And so far I thought that `tip` is always the latest version.

[2016-03-14 09:31] tdutrion commented on #1799
+1

[2016-03-14 09:32] himanshu0503 commented on #2086
@mbrodala : tip is the latest version of the images, once the testing is done we update the tip tag to `prod`. In this case we had to patch the prod tag with the changes.

Regarding builds slowdown: We'll update our AMI's with the latest images in the coming week, so image pulls wont be happening there after.

[2016-03-14 09:40] mbrodala commented on #2086
@himanshu0503 Thanks, [works for me](https://app.shippable.com/runs/56e6859773719a0c0076219f).

[2016-03-14 09:40] #2086 closed

[2016-03-14 09:41] mbrodala commented on #2086
@tdutrion Can you open a separate ticket for the issue you see?

[2016-03-14 09:47] bryanvaz opened #2377 "Cannot actually run a test on shippable"
I've been using shippable for 5 months now to as a CD pipeline for RoR to AWS EB, but I would actually like to use it to do CI as well. However I can't seem to find any documentation on how to actually run a test. The best I could find was http://carlosbecker.com/posts/integrating-minitest-with-shippable. However one problem, Shippable is saying that there is no 'bundler' on the image. @manishas i

[2016-03-14 09:47] himanshu0503 commented on #2086
@tdutrion : This is a `php 7.0` specific issue. We've faced the same issues while installing packages on php 7.0 using pickle and due to this we've not pre-installed `redis` on our `php` images for php 7.0.
Versions `5.4, 5.5 and 5.6` have `redis` by default.

[2016-03-14 09:49] tdutrion opened #2378 "Create a PHP7 image"
Hi,

I am currently trying to get a PHP7.0 project to work with intl, gettext and redis. I tried the working solution discussed on #2086, but that only works for PHP 5.

I have no `pre_ci_boot` section, so I assume that I am working with `drydock/u14php:prod`.

Here is a sample of my config
[code]

For now I mainly have a compilation error for intl and another error for redis...
[code]

[2016-03-14 10:42] hunt3ri commented on #2366
Thanks for the reply that really helped.

Having looked at the build a bit closer it appears shippable starts two builds for a Pull Request, it builds the PR branch, eg BRANCH, and the Target Branch, eg BASE_BRANCH.

Is this expected behaviour, as I don't see it documented anywhere?

Thanks
Iain

[2016-03-14 11:13] chetantarale commented on #2377
@bryanvaz We tried to reproduce this with our sample projects by using relevant sections from your yml but we are not running into this issue.

Link for the build that passed:
https://app.shippable.com/runs/56e69ae473719a0c00791d9f

Is there anything specific in your `gemfile`?

[2016-03-14 11:14] bryanvaz commented on #2377
Resolved: Included a couple of fixes (better if documented)

1) bundler is not installed in the new ruby CI images by default, so you need a '**gem install bundle**' line

2) The drydock images don't have any build dependencies installed so you they have to be installed before installing gems. For postgres notably the '**libpq-dev**' package, and the nokogiri '*libxml2-dev libxslt1-dev*'. Put thes

[2016-03-14 11:24] himanshu0503 commented on #2378
@tdutrion : We've faced the same issues while installing packages on php 7.0 using pickle and due to this we've not pre-installed `redis` on our `php` images for php 7.0.
Versions `5.4, 5.5 and 5.6` have `redis` by default.

We're constantly looking out for updates on support of pickle extensions on `php7.0`, but we cannot guarantee you on the time for the fix.

[2016-03-14 11:41] himanshu0503 commented on #2378
@tdutrion : Pickle requires` php$ver-dev` environment (which has development modules) to compile extensions, at the time of building images there was no official `php7-dev` environment, pickle is unable to find dependent modules and hence it doesn't compile these extensions.

We will update our images once we find php7-dev environment.
In the meantime, if you find some workaround we will try and i

[2016-03-14 12:02] chetantarale commented on #2377
@bryanvaz Here is a list of pre installed ruby versions
[code]
We have installed bundler in all the ruby images, and in all the  pre installed versions we're doing a `gem install bundler` [link.](https://github.com/dry-dock/u14rub/blob/master/version/2_2_1.sh#L9)
If you are using any other ruby version you will need to explicitly install bundler.

@ric03uec can you please provide insights on why a

[2016-03-14 12:14] luckyraul commented on #2289
@ric03uec
I also got noticed that your build runner change custom image locale variables (for ex from ru_RU.UTF-8 to en_US.UTF-8)  and it can case problems if such locale is not generated.

[2016-03-14 12:16] bryanvaz commented on #2377
That makes sense since we're on 2.2.4. The explicit 'gem install bundle' is then probably required for everything (better to be safe than sorry) since most of the mainstream PaaS providers are forcing upgrades to 2.2.4 (AWS/Engineyard for us)

On Mar 14, 2016, at 8:02 PM, chetantarale <notifications@github.com> wrote:

@bryanvaz Here is a list of pre installed ruby versions

  jruby-1.7.19
  jruby

[2016-03-14 12:21] Gudahtt commented on #2349
@himanshu0503 Sure, I'll let you know if it happens again.

I'll give it a couple days - it was happening between 2-4 times a day last week, but we'll likely have fewer builds for the next couple days.

[2016-03-14 13:35] #2374 closed

[2016-03-14 13:36] #2163 closed

[2016-03-14 13:36] #1393 closed

[2016-03-14 13:38] avinci commented on #2250
we have completely revamped our build system. This issue should no longer occur. Please let us know if so...

[2016-03-14 13:40] avinci commented on #2298
we don't support direct access to app through http. Its a redirect from www.shippable.com. I would recommend that you don't directly use that URL as we might want to change it due to routing etc. during upgrades. www.shippable.com is the right bet...

[2016-03-14 13:40] #2298 closed

[2016-03-14 13:41] avinci commented on #2301
this has been added and will be deployed today.

[2016-03-14 13:41] #2301 closed

[2016-03-14 13:43] hgrubst commented on #2374
Thanks for the support, back to normal now:)

Arthur
On 14 Mar 2016 3:12 p.m., "Ragesh Krishna" <notifications@github.com> wrote:

[2016-03-14 13:49] mbrodala commented on #2301
@avinci Thanks, looking forward to this.

[2016-03-14 13:50] mbrodala commented on #2301
@avinci Thanks, looking forward to this.

[2016-03-14 13:56] avinci commented on #2301
deployed. You might want to hard refresh shippable page to get latest controller code.

[2016-03-14 14:01] mbrodala commented on #2301
@avinci I'm not seeing it ATM even after flushing caches and triggering fresh builds but I'll check again tomorrow. How should it look like?

[2016-03-14 14:04] ankul-shippable commented on #2301
@mbrodala It should look like this.

![beta_verified_step_duration](https://cloud.githubusercontent.com/assets/16793274/13746910/a5070728-ea1b-11e5-9b6b-8f53d1cfbccf.png)

[2016-03-14 14:07] mbrodala commented on #2301
Now it did show up (even for existing builds), thanks a lot!

Everything besides `build_ci` is close to 0s which reflects the speed we are seeing in our builds. :-)

[2016-03-14 15:03] clifg commented on #2330
Not sure why this issue has been closed. My badge is _still_ not working. Just click the link in the original post to see.

[2016-03-14 16:06] a-murphy commented on #2366
One of those builds should be the pull request, where it is building ```BASE_BRANCH``` with the changes in the pull request included (so that the result should be what it would be if the pull request is merged).  And if the pull request is between two branches in the same repository, there is often a second build for the commit made to the other branch.

The easiest way to tell which builds are pu

[2016-03-14 16:30] hunt3ri commented on #2366
Thanks @a-murphy really helpful, please consider this ticket closed :+1:

[2016-03-14 16:30] #2366 closed

[2016-03-14 16:58] manishas commented on #2376
@luckyraul you will need to do it via API calls in your shippable.yml.

We had written a [blog about this last year](http://blog.shippable.com/daisychaining-builds-with-our-new-public-api), however it needs to be updated to follow new yml syntax and latest APIs.

I have tagged this issue as a content issue and we will publish a new blog on this in the upcoming week.

[2016-03-14 16:59] manishas commented on #2373
@trriplejay can you help with this?

[2016-03-14 17:03] stephanielingwood commented on #2206
@mbrodala You'll need to add your Slack notifications in both places - the project and the yml. In the UI, you are adding the Slack integrations to your project as a whole. Then, in your yml, you specify the Slack integration(s), in the format above, that you want for that build.

If you do that, are you still seeing the problem?

And, thanks for the feedback on the UI step - while we don't have p

[2016-03-14 17:12] manishas commented on #2378
Closing this since there is nothing actionable to be done here.

[2016-03-14 17:17] volcan01010 opened #2379 "Repository name converted to lower case during git clone operation."
Since migration to the updated build system, my tests have started failing because the repository name is changed to lower case in the git clone command that is run by Shippable at the git sync stage. e.g.

    git clone git@github.com:someUser/SomeProject.git /root/src/github.com/someUser/someproject'

This means that Python commands similar to the one below fail during testing:

   from SomeProj

[2016-03-14 17:19] manishas commented on #1325
we have added a lot of logging in the new build system, so this should be addressed.

Please let us know if it doesn't work for you and we will reopen this issue.

[2016-03-14 17:19] #1325 closed

[2016-03-14 17:29] DavidGDragon commented on #2376
Here is a sample YML to trigger another project from inside your build:
[code]
Important note: `secure SHIP_TOKEN` is your Shippable api token encrypted to be a secure var from the project settings page. To encrypt your token, go to `https://beta.shippable.com/projects/:projectId/settings` and in the 'Encrypt' section input `SHIP_TOKEN='apiToken 12345'` (where 12345 is your shippable token). Then

[2016-03-14 17:36] manishas commented on #926
We print the amount of time it took for each step in the console. You should be able to find any abnormalities with this.

Timestamps would make the console too busy, so we're not going to do this in the near future unless there are several +1s for it.

[2016-03-14 17:36] #926 closed

[2016-03-14 17:38] manishas commented on #1120
While this is a nice to have, it's not on our current roadmap. Closing this out... will reopen if there are several +1s for this.

[2016-03-14 17:38] #1120 closed

[2016-03-14 17:40] manishas commented on #1033
This is not on our near term roadmap, especially with all the build system upgrades that were recently announced. Downloads are super fast and we're also adding folder level caching.

Closing as deferred.

[2016-03-14 17:40] #1033 closed

[2016-03-14 17:56] manishas commented on #2249
Caching is being completely redone in the new build platform and will be available this week. Please watch for an announcement on our [twitter feed](https://twitter.com/BeShippable) later this week.

[2016-03-14 17:57] manishas commented on #1971
This has been added to the FAQ - http://docs.shippable.com/ci_faq/#i-cannot-start-a-manual-build-for-my-bitbucket-project-why-is-it-not-working

[2016-03-14 17:57] #1971 closed

[2016-03-14 17:58] manishas commented on #1861
The entire docker workflow can now be driven through shippable.yml so this older issue is out of date.

Please let us know if you are still experiencing issues and we will reopen this.

[2016-03-14 17:58] #1861 closed

[2016-03-14 18:00] manishas commented on #1654
you can now run docker compose in shippable.yml, so your workflow should now be configurable. Check out http://docs.shippable.com/ci_docker/#docker-compose

I am closing this issue since it has been addressed.

[2016-03-14 18:00] #1654 closed

[2016-03-14 18:15] manishas commented on #1608
This should be addressed with our latest release which lets you configure docker workflows any way you want in your shippable.yml. More on this here - http://docs.shippable.com/ci_configure/#setting-your-build-image

My response to issue #1955 should also be helpful... you can set the image name in the pre_ci section.

Closing this, but do let us know if you need help setting things up.

[2016-03-14 18:15] #1608 closed

[2016-03-14 18:16] manishas commented on #1523
Sorry for the delay here. We have redone our test reports handling, so not sure if this is still an issue.

I am closing this since it's an old issue but if anyone runs into this, please let us know and we will reopen.

[2016-03-14 18:16] #1523 closed

[2016-03-14 18:18] manishas commented on #1521
Sorry this seemed to have completely fallen off the radar.

We released an upgraded build system last week and since this issue was for the old one, I am going to close this. Let us know if this still fails on the new platform and we will look into it asap.

[2016-03-14 18:18] #1521 closed

[2016-03-14 18:18] manishas commented on #1488
consolidating all coverage related requests in #174

[2016-03-14 18:18] #1488 closed

[2016-03-14 18:25] manishas commented on #1478
Closing this issue since this should be fixed with the latest release.

[2016-03-14 18:25] #1478 closed

[2016-03-14 18:28] manishas commented on #1463
Old issue opened before release of the upgraded build platform. Closing.

[2016-03-14 18:28] #1463 closed

[2016-03-14 18:35] lizrush commented on #2330
Still not working for me either: [![Run Status](https://api.shippable.com/projects/56a12f721895ca447472408e/badge?branch=master)](https://app.shippable.com/projects/56a12f721895ca447472408e)

[2016-03-14 18:36] manishas commented on #2330
I am going to reopen this and leave it open until both accounts are migrated and the badges are available.

[2016-03-14 18:39] manishas commented on #2289
Closing as deferred for the original request. Pls open another issue for the locale.

[2016-03-14 18:39] #2289 closed

[2016-03-14 18:40] clifg commented on #2330
Thanks for your help, Manisha!

[2016-03-14 18:43] manishas commented on #1683
consolidating all coverage feature requests in #174

[2016-03-14 18:43] #1683 closed

[2016-03-14 18:47] manishas commented on #1180
Dup of #905, though that request is for GitHub.

[2016-03-14 18:47] #1180 closed

[2016-03-14 18:48] manishas commented on #905
This is also a request for Bitbucket - #1180

[2016-03-14 18:52] manishas commented on #1181
Instructions for copying build artifacts are here - http://docs.shippable.com/ci_configure/#build-artifacts

You can adapt this to push to another cloud storage.

[2016-03-14 18:52] #1181 closed

[2016-03-14 18:56] manishas commented on #2199
@sheldon-sminq do you still need help with this?

Our new API is published here - http://docs.shippable.com/api/ There are still some routes that are undocumented, so let us know if you need help figuring out how to configure your scenario.

[2016-03-14 18:58] manishas commented on #2178
Closing since this is addressed. Please let us know if it doesn't work for you and i will reopen this issue.

[2016-03-14 18:58] #2178 closed

[2016-03-14 19:06] manishas commented on #2001
consolidating all requests for tags in #1362

[2016-03-14 19:06] #2001 closed

[2016-03-14 19:08] manishas commented on #1362
consolidating all tags requests in #905

[2016-03-14 19:08] #1362 closed

[2016-03-14 19:16] manishas commented on #146
We have moved away from artifacts handling on behalf of the user in our latest release. You will need to push artifacts in your shippable.yml, which is documented here - http://docs.shippable.com/ci_configure/#build-artifacts

Closing as deferred. We will get back to this at a future time if there is enough demand in this area.

[2016-03-14 19:16] #146 closed

[2016-03-14 19:17] manishas commented on #2348
Closing since this was resolved.

[2016-03-14 19:17] #2348 closed

[2016-03-14 19:18] manishas commented on #2346
@emilcara can you let us know the integration name you want to delete?

[2016-03-14 19:23] #1290 closed

[2016-03-14 19:55] manishas commented on #2237
Closing this. Please point us to a build link so we can investigate this.

[2016-03-14 19:55] #2237 closed

[2016-03-14 19:57] manishas commented on #2223
This issue was opened before the upgraded build system was released last week.

Please let us know if you still run into this and we will reopen and investigate further. Thanks!

[2016-03-14 19:57] #2223 closed

[2016-03-14 20:05] manishas commented on #1507
Consolidating all coverage related requests in #174.

[2016-03-14 20:05] #1507 closed

[2016-03-14 20:08] manishas commented on #1248
This is not on our near term roadmap so closing as deferred. If there are several +1 requests, it will pop back up on the roadmap.

[2016-03-14 20:08] #1248 closed

[2016-03-14 20:10] manishas commented on #1198
all coverage requests consolidated in https://github.com/Shippable/support/issues/174

Closing.

[2016-03-14 20:10] #1198 closed

[2016-03-14 20:13] manishas commented on #1504
This should be addressed with our latest release. We now allow docker commands in the yml, so you should be able to spin up containers using docker compose in your yml. More on this here -
[Configuring your build](http://docs.shippable.com/ci_configure/)
[Docker support](http://docs.shippable.com/ci_docker/)

[2016-03-14 20:17] #1504 closed

[2016-03-14 20:18] manishas commented on #1540
Consolidating all code coverage requests in #174

[2016-03-14 20:18] #1540 closed

[2016-03-14 20:20] manishas commented on #1420
This is not on our near term radar, so closing as deferred.

[2016-03-14 20:20] #1420 closed

[2016-03-14 20:21] manishas commented on #1157
consolidating all code coverage requests in #174

[2016-03-14 20:21] #1157 closed

[2016-03-14 20:47] manishas commented on #2377
I tried a yml with an env variable set in `ci` section and used in `post_ci` section and it worked as expected.

Can you point us to a build where this did not happen?

[2016-03-14 20:48] manishas commented on #2262
closing this, but please let us know if we can include your repo as a sample project.

[2016-03-14 20:48] #2262 closed

[2016-03-14 21:59] jeffkole opened #2380 "Turning on cache is causing builds to hang"
Looks like a success, but the build has just been hanging and won't finish.  The logs don't even look like anything else should be going on:

https://app.shippable.com/runs/56e72c8a90c2830c0046bb49

[2016-03-14 22:42] manishas commented on #2380
@jeffkole we are experiencing issues with our caching implementation so we're working on a new implementation that is folder based rather than caching the whole minion.

Can you reset cache, turn off caching and try again?

[2016-03-14 22:42] manishas commented on #2380
The new caching implementation will be available this week.

[2016-03-14 23:37] jeffkole commented on #2380
Given your documentation states it, I was under the impression caching was disabled:

From: http://docs.shippable.com/ci_configure/#caching-your-container

I'll manually disable it to see if that helps.

[2016-03-15 00:43] trriplejay commented on #2373
When creating a service with a load balancer, ECS requires that you provide it with a role that will allow the ECS agent to access everything it needs.

Currently, Shippable is using your provided credentials to find an existing role that suits this purpose.  Our current criteria for the role is that it contains the following trust relationships:

[code]

basically, the role needs access to both E

[2016-03-15 00:53] a-murphy commented on #2379
This should be corrected soon.  The folder for the cloned repository has been updated to match the GitHub repository name in Beta.  It might require synchronizing the project once it has been deployed production to take effect.

[2016-03-15 01:37] jgregors commented on #2332
@trriplejay the integration was able to be deleted - thx.

[2016-03-15 03:28] manishas commented on #2376
Closing this since it is addressed. @luckyraul please let us know if it doesn't work and we can reopen this. Thanks!

[2016-03-15 03:28] #2376 closed

[2016-03-15 05:22] jgregors opened #2381 "Pipeline not deleted after project was deleted"
I deleted a project (micro-sample) but its pipeline still exists. I now want to delete the pipeline but when I try to view the "status" tab in order to stop it, I'm getting a browser console error: "GET https://api.shippable.com/passthrough/services/56e0ca9c516d220c007cb014/tasks 500 (Internal Server Error)" and the status tab hangs.

I assumed the delete would cascade. The problem is occurring in

[2016-03-15 05:30] jgregors commented on #2381
Actually, when trying to view any project I am getting the http 500 response as above.  When I tried to go to the home view I was taken to a "Getting Started" view (attached)
![image](https://cloud.githubusercontent.com/assets/1077918/13768515/2ce19f0a-eacb-11e5-99f3-46a989a8ae2b.png)

You can also see another error in the console in the attached image.

[2016-03-15 05:54] manishas commented on #2381
@rageshkrishna can we look into this?

[2016-03-15 05:57] pranaypareek commented on #2257
Continuing to work on this today. Hope to get the sample running for chrome soon.

[2016-03-15 06:19] jgregors commented on #2381
I've since refreshed the page and I can see all my projects again. The problem with not being able to view the status of the cell / pipeline still exists.

[2016-03-15 06:25] jgregors commented on #2332
As for the Docker push not working: it was due to having the formatting of the .yml file being incorrect. I had accidentally added an extra tab space to the "integrations" block. When I removed this, the built image was pushed.

[2016-03-15 06:32] manishas commented on #2332
@jgregors I am closing this issue since there is nothing to be fixed here. Please let us know if you need help with anything else.

[2016-03-15 06:32] #2332 closed

[2016-03-15 07:52] rageshkrishna commented on #2357
@tcurdt It looks like your subscription is running on the old build system. This problem should go away once your subscription gets migrated to the newer version, which should happen some time in the coming week.

[2016-03-15 07:56] rageshkrishna commented on #2315
@cratz @pquentin Can you please shed some light on the kind of workflow that you are trying to get to? I'd like to first nderstand exactly what you're trying to accomplish so I can figure out what needs to change. Thanks!

[2016-03-15 08:02] rageshkrishna commented on #1380
I'm not sure I understand how to implement this securely for public projects. Even if the secure vars were injected server-side and not from the YML as secure envs, a malicious user can simply send a pull request that runs `env` and view all the secrets.

For private projects on the latest version of Shippable, this should already be working because we do not filter anything anymore. The assumptio

[2016-03-15 08:23] jlsupport commented on #2317
Hi @ttrahan any update on this? :)

[2016-03-15 08:25] mbrodala commented on #2206
@stephanielingwood It doesn't really work, maybe I'm doing something wrong. I just added the following snippet to my YML:

[code]

(Yes there are spaces in the integration names since I've created them before the Shippable infra switch.)

I've skipped every other option (and would argue that `type` can be skipped too) since everything else is set in the integration itself already or the assumed de

[2016-03-15 08:37] himanshu0503 commented on #2206
@mbrodala : Can you please try adding recipients? Your yml should look like
[code]

[2016-03-15 08:53] mbrodala commented on #2206
@himanshu0503 Did that, still no good. I'm not getting any notifications at all ATM. This is how it looks like currently:

[code]

[2016-03-15 09:03] himanshu0503 commented on #2206
@mbrodala : My bad, I forgot to tell about the flags, you need to add the `on_start, on_success, on_failure` flags to tell us for what all scenario's you want to receive notifications. These take in `always and never` values.

[code]

[2016-03-15 09:15] mbrodala commented on #2206
@himanshu0503 Now it works. But since this is rather verbose is it possible that Shippable can assume some useful defaults here?

[2016-03-15 10:17] pranaypareek commented on #2257
@9dev the sample here https://github.com/pranaypareek/sample_node_selenium/tree/chrome_support should be helpful.

This is a selenium project that uses the `drydock/u14nodpls` image for the build which has selenium and the chrome binaries installed on it.

In order to test selenium with a browser, the following commands are required:

[code]

The `xvfb-run` command is needed as we do not bring up

[2016-03-15 11:41] shrivara commented on #2207
@mbrodala We've added support for ansi colors. I'll update here once its live.

[2016-03-15 12:59] OddEssay commented on #2237
@manishas Sorry about the delay, the build was: https://app.shippable.com/builds/56b49531a674840d0092a022

[2016-03-15 13:30] pledgemusic commented on #2360
no, there's a build error but i'll follow up with that separately if i can't work it out. Thanks.

[2016-03-15 14:21] alexkiro opened #2382 "Line by line code coverage"
I'm wondering if it is possible to get line by line code coverage with shippable? Right I can see that only the per file report is available, or I cannot find how to correctly configure it.

[2016-03-15 16:45] LukasSommerTu opened #2383 "Problem with build badge"
I have a problem with the build badge of my Shippable project
(https://app.shippable.com/projects/55610dc2edd7f2c052f9deb7).

I copied the Markdown badge for branch master from the 'Settings'-tab
and integrated it in my Readme
(https://bitbucket.org/LukasSommerTU/joptimframework).
Unfortunately, the badge is only displaying "run: none" (see second screenshot), though there
have been successful run

[2016-03-15 16:51] manishas commented on #2383
@LukasSommerTu this is because your Subscription wasn't migrated to the new plan. I just migrated it , so the badge should light up from the next build. Let me know if this works.

[2016-03-15 16:52] ttrahan commented on #2317
Hi @jlsupport : we're halfway through the 2nd of 3 engineering tasks defined for resolving this.  I expect we'll see this finished within the next several days, though I'm not able to say the exact day.

In the meantime, take a look at these two examples that show how to configure EB deployments directly within your yml.  A similar approach may work for you while we're finishing the changes.

EB s

[2016-03-15 17:05] manishas commented on #2360
Closing this issue. Please open another one if you need help with the build error.

[2016-03-15 17:05] #2360 closed

[2016-03-15 17:05] LukasSommerTu commented on #2383
Unfortunately, the migration of the plan seems to break my CI, because I cannot run any builds now, error message is " All jobs have been excluded by YML configuration ". Do I need to reconfigure my travis.yml to match the new plan?

[travis.txt](https://github.com/Shippable/support/files/174407/travis.txt)

[2016-03-15 17:32] shrivara commented on #2207
@mbrodala This is live now. Feel free to reopen if you find any problems with it.

[2016-03-15 17:37] a-murphy commented on #2379
It's in production now.  If your project is still cloning into a lowercase folder name, either synchronizing the project on the project settings tab or waiting for the next automatic sync will update it.

[2016-03-15 17:40] vastbinderj commented on #2360
@manishas we are seeing this issue today.  The only previous build error was on the post-success deploy step.

[2016-03-15 17:46] vastbinderj opened #2384 "id:4006 postRun failed for projectId"
We are not able to rebuild our projects. We are testing a modification in our deploy step, but are hitting this error in Shippable.

See this project and try to rebuild it, a repro step:

Try rebuilding https://app.shippable.com/builds/56e70bf390c2830c00435a55

[2016-03-15 17:53] manishas commented on #2383
@LukasSommerTu I was able to repro your scenario. We will rollback your subscription to the old system until we investigate and fix the issue you're running into.

[2016-03-15 17:58] manishas commented on #2383
@LukasSommerTu actually, we found the problem - can you specify a jdk version in your yml? Something like this:
[code]

It should work as expected after that.

[2016-03-15 18:00] manishas commented on #2384
@vastbinderj your subscription was migrated to the new platform recently, so rebuilding for older builds won't work.

Can you try triggering a build from your project page - https://app.shippable.com/projects/56bba0731895ca447473c526

[2016-03-15 18:06] manishas commented on #2330
@clifg @lizrush both your subscriptions have been migrated to the new plan. Please let me know if you run into any problems.

[2016-03-15 18:08] clifg commented on #2330
The badge in my project settings still isn't working:
[![Run Status](https://api.shippable.com/projects/56b6dbab1895ca4474738165/badge?branch=master)](https://app.shippable.com/projects/56b6dbab1895ca4474738165)

Is there anything else I need to do or should the badge uri be different? I copied this directly from the project settings page.

[2016-03-15 18:09] manishas commented on #2330
Did you run a new build? The badge will light up after you run a build on the new platform.

[2016-03-15 18:12] ric03uec commented on #2383
- we should set the default jdk to `openjdk7` if its not specified in the yml
- each of the following formats should be supported
[code]
and
[code]

[2016-03-15 18:17] lizrush commented on #2330
@manishas I triggered a re-build and mine's working now. Thanks again!

[2016-03-15 18:20] clifg commented on #2330
Thanks, I'll give it a shot. Just tried a rebuild and now the setup_ve task is failing when it tries to nvm over to node 4.2.6. This used to fail before as well, but I worked around it by installing that version myself in a later script. I'll have to spend some time trying to get this to work again, but from Liz's comment it sounds like the badge should be working for me once that's done. Thanks f

[2016-03-15 18:20] magwas opened #2385 "language: none should avoid any language specific default processing for custom images"
This is a failed build:
https://app.shippable.com/runs/56e84c43c54c770c00f7540d
Here is the matching shippable.yml:
https://github.com/edemo/PDOauth/blob/6d4970c5a280855b608a038a88877c063b555e2c/shippable.yml

Apparently a recent update for some reason thinks that
- it is a ruby project
- I need some bundles to be installed. (why???????????)

As there is no "bundle" command in the docker image I a

[2016-03-15 18:26] manishas commented on #2385
@ric03uec can we look into this?

[2016-03-15 18:34] manishas commented on #2385
@magwas our build system defaults to ruby if no language tag is specified in the yml. We will investigate this more to find out what changed for your specific yml parsing between old and new build systems.

To unblock your builds, can you please add a language and runtime tags?

For example -

[code]

[2016-03-15 18:53] ttrahan commented on #2317
@jlsupport : good news - the EB source code deployment is now live in production.  Updated docs are still to come, but you can use this now with the following instructions:

1.  On your Project Settings page, add a Deploy Integration to your project.  This will enable authentication into AWS.  Here's a screen shot of my Project Settings page with me adding the Deploy Integration 'AWS - ttrahan' to