[2015-12-18 13:40] tudvari commented on #2147
@avinci : Thanks for the good news. :-) In my case the only what I need is a simple webhook or callback request to a specific url. It is possible to configure the notification system to make a custom HTTP request ?

[2015-12-18 13:42] avinci commented on #2147
web hook notification is already being tested. we are using it internally for deploys. we are making it generic and exposing it to users. there is major update coming early Jan and you should see all these in that release.

[2015-12-18 14:04] tudvari commented on #2147
@avinci : Thanks for the news. I waiting for Jan. ;-)

[2015-12-18 14:28] mbrodala commented on #2140
@rageshkrishna Works for me, thanks for the hint.

[2015-12-18 14:28] #2140 closed

[2015-12-18 14:38] avinci commented on #1922
This was just pushed to beta today. Can you let me know what events would you like to have control over?

[2015-12-18 18:21] trriplejay commented on #2145
I think this has resolved itself now.  Feel free to re-open if it's still happening to you.

[2015-12-18 18:21] #2145 closed

[2015-12-18 18:23] catskul commented on #2145
Works. Thanks for the update.

[2015-12-18 20:37] abhijitkini commented on #2137
Can you replace ```service mongod start``` with ```mongod &``` in your before_build.sh?

Also could you please provide a link to the build if it fails?

[2015-12-18 21:17] trriplejay commented on #2139
will be available on next production UI deployment.

[2015-12-18 21:17] #2139 closed

[2015-12-19 07:10] johannbarbie opened #2148 "page stays blank in firefox"
![screenshot from 2015-12-19 08 08 59](https://cloud.githubusercontent.com/assets/659301/11911940/ee8ebac2-a627-11e5-88cd-b8ef25b9f6fa.png)

[2015-12-20 21:20] jamesjwarren opened #2149 "Node v4.2"
Using node v4 in shippable fails at the `setup_ve` stage.
[code]
Errors:
[code]

[2015-12-21 02:00] asans opened #2150 "Allow a way to skip building based on newest updated commit"
Sometimes, only readme or non-code related files are updated, which doesn't really require a build to be triggered for release.

Is there a way to skip to CI if that's the case?

Usually from what I've seen, CIs such as Travis will detect a particular phrase in your commit message, like "[skip ci]" to indicate to the CI system not to trigger a build.

Can you guys do something like this rather tha

[2015-12-21 03:19] manishas commented on #2150
Please check out our FAQ at http://docs.shippable.com/faq/

You can use 'skip ci' or 'ci skip' in your commit message to skip a build.  For PR builds the skip ci string has to be in the title of the PR title. For PR Builds with multiple commits the string should be in the PR title of the first commit.

[2015-12-21 04:38] pquentin commented on #1922
@avinci We would be happy to receive notifications for failures only.

[2015-12-21 05:02] manishas commented on #2141
closing this issue.

[2015-12-21 05:02] #2141 closed

[2015-12-22 14:52] mbrodala commented on #2150
@manishas Since the FAQ states the same: is the string looked for really `ci skip` and `skip ci`? In Travis this must be exactly `[ci skip]` which is safer from my POV. Otherwise a commit message like `Also skip circles since we only like squares` would skip a build. ;-)

[2015-12-22 14:57] mbrodala commented on #2142
I see the same issue with Bitbucket and there where already reports on this AFAIR.

[2015-12-22 18:51] iolufemi commented on #1799
+1

[2015-12-23 05:06] alain-a commented on #2136
nobody able to answer this after a fuill week?

[2015-12-23 13:06] jamesjwarren opened #2151 "Docker run test script"
With the docker build pre-CI workflow, how can one run the test command inside the docker container? Just setting the command in the shippable.yml file seems to hang the build.
[code]
There is nothing in the documentation about this: http://docs.shippable.com/docker_build/

[2015-12-24 18:10] tudvari commented on #2124
Hi Guys!

Do you have any update about this topic?

Thanks in advance.

[2015-12-26 20:28] cohenn95 opened #2152 "ECS cluster in eu-central not recognized."
shippable won't recognize my ECS cluster in region eu-central.  It recognizes ones I added in eu-west, just not eu-central.
<img width="1164" alt="screen shot 2015-12-26 at 3 27 23 pm" src="https://cloud.githubusercontent.com/assets/10636514/12007839/33443bfc-abe5-11e5-9b19-8b820226174c.png">
My account is cohenn95.

<img width="1573" alt="screen shot 2015-12-26 at 3 24 07 pm" src="https://cloud.g

[2015-12-27 05:47] jokr commented on #2149
Yes, same issue with higher versions as well.

[2015-12-27 14:49] carlitux opened #2153 "Custom Docker image"
Hi I created a custom docker but I can't connect to arangodb

https://hub.docker.com/r/lcruzc/ubuntu1404_nodejs/

how is running the docker?

[2015-12-27 14:55] carlitux commented on #2149
Best way could be create custom container

I did one but adding other services:

https://hub.docker.com/r/lcruzc/ubuntu1404_nodejs/~/dockerfile/

[2015-12-27 15:10] carlitux commented on #2153
Getting this when running tests.

Error: connect ECONNREFUSED 127.0.0.1:8529
    at Object.exports._errnoException (util.js:870:11)
    at exports._exceptionWithHostPort (util.js:893:20)
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1063:14)

[2015-12-27 16:40] carlitux commented on #2149
If you can try I have one with just node 4 and ansible

https://hub.docker.com/r/lcruzc/ubuntu1404_node4_ansible

[2015-12-28 08:31] Avoran opened #2154 "old passed php7.0 builds fails now where cgRelocCold seems full"
Past Thursday (24/12/2015) my builds where passing in php5.6 and php7.0. Right now, when I rebuild my builds the php5.6 version is doing fine while the php7.0 fails (always) on `Sensio\Bundle\DistributionBundle\Composer\ScriptHandler::buildBootstrap` with the following message:

[code]

[2015-12-28 12:26] kaspernj opened #2155 "Timeout for build while trying to implement Shippable support for our project"
I continue to get timeouts for this build:
https://app.shippable.com/builds/56812666493a190d007a5e14

I am trying to make our project build on Shippable, but I don't know why it times out?

[2015-12-28 19:59] zebehringer opened #2156 "AWS Elastic Beanstalk deployment ignores .ebextensions folder"
I was trying to get our Elastic Beanstalk environments pulling images from our private AWS ECR repository using these instructions: https://medium.com/learnings-in-and-around-sharetribe/using-aws-ec2-container-registry-to-host-docker-images-for-deployment-with-elastic-beanstalk-b5f21c3c8e21#.b3qzsth78

I added a file named ecr.config to the .ebextensions folder at the root of my git repo and pushe

[2015-12-28 20:01] zebehringer commented on #2156
my bitbucket account used by Shippable is "zbehringer", and the project I just tried this on is named "Reveal_Bumpy"

[2015-12-28 21:03] manishas commented on #2149
@jamesjwarren we are in the process of refreshing our build images. You can try our node image at https://hub.docker.com/r/drydock/u14nodall/. The Dockerfile for the image is at https://github.com/dry-dock/u14nodall

To use node 4.2.3, you'll need the following in your yml -
before_install:
  - . /root/.nvm/nvm.sh && nvm use 4.2.3

Sample project is here - https://github.com/manishas/sample_node

[2015-12-28 21:31] manishas commented on #2150
@mbrodala you're right. we're changing this soon to require the square brackets....

[2015-12-28 21:31] #2150 closed

[2015-12-28 21:34] manishas commented on #2155
can you share your shippable.yml.... especially what changed between builds 46 and 47?

[2015-12-28 21:39] manishas commented on #2153
@carlitux did this start working for you? Your latest builds are green so want to confirm.

Thanks!

[2015-12-28 21:43] carlitux commented on #2153
@manishas yeah... I had to start service on shippable.yml

[2015-12-28 21:51] manishas commented on #2153
Yes you do need to do that if its not a standard service pre installed on our image.

Glad it worked and sorry for the delay. It's a bit slow due to the holidays but do let us know if you need anything else.

[2015-12-28 21:51] #2153 closed

[2015-12-29 11:16] beinnova opened #2157 "Send email from shippable images"
Hi,
I need to send email from my Node Js test, but actually I can't send. There is any special configuration to send mail from my application?

Thanks.

[2015-12-29 12:09] kaspernj commented on #2155
@manishas The change was that I added Redis to the services. Otherwise all tests failed. Here is the output from Github:

[code]

Here is the "shippable.yml" file:
[code]

[2015-12-29 14:54] megawubs commented on #1543
+1

[2015-12-29 15:27] #2154 closed

[2015-12-29 15:34] hranicka commented on #1543
PHP 7.0 RC1 was released a few months ago (21 Aug 2015),
PHP 7.0 stable a few weeks ago (3 Dec 2015).

Official `shippable/minv2` Docker image (default) does not support PHP 7 even today and I cannot find any information about date when it will be supported.

So [I've made custom Docker image](https://github.com/phpdocker/phpdocker) with PHP 5.6 or PHP 7.0, composer, MariaDB, ...
and [run Shippabl

[2015-12-29 16:19] claar commented on #1543
I don't understand why Shippable doesn't update their base image. I've been requesting npm, php, and various other updates to the image for ages.

Their answer is always to use a custom docker image, which makes no sense to me. Why should hundreds (thousands?) of customers spend hours (days?) building custom docker images, rather than Shippable updating the default image? I can't imagine how many

[2015-12-29 16:35] hranicka commented on #1543
Yes, their answers don't sounds good, eg. [old composer version from Nov 2014](https://github.com/Shippable/support/issues/1321). Answer: Do composer self-update and cache container.

Sad.

Shippable, but what about core apps like php, npm etc.?

Do you have any roadmap and should we expect updates? When?

Shippable is awesome service (we use BitBucket and private repositories). But an old Docker

[2015-12-29 18:02] kaspernj commented on #2155
If it helps, then we are currently using CircleCI, and it works fine there. Before that we used TravisCI, where it also worked.

[2015-12-29 21:21] manishas commented on #1543
@claar @hranicka let me try to provide some insights into why we did not update our base image and what we're doing to address it.

When Shippable started out, we decided to provide an easy way for Travis users to onboard on our platform by accepting a .travis.yml file as-is, and creating a base image (minv2) with all versions of supported languages, services, and tools. At first, this worked grea

[2015-12-29 21:31] manishas commented on #2155
I'll ask someone to take a look into this. Do we have permission to trigger a manual build on this branch on your behalf?

[2015-12-29 21:39] manishas commented on #2152
Thanks for reporting. This seems like a bug... i'll ask someone to take a look and get back to you.

[2015-12-29 21:41] claar commented on #1543
@manishas Thank you so much for the information and transparency. That is very helpful.

Hopefully https://github.com/dry-dock/u14phppls will contain php7 and an updated composer; that should be a satisfactory answer to this issue, and January 15th is right around the corner.

Is there any way for the Shippable community to help with this effort? For example, I'm sure PHP users would be glad to su

[2015-12-30 04:19] Khalian opened #2158 "Gradle sample"
Where can I find a sample shippable.yml which has a working gradle build with a non-trivial number of dependencies to process.

[2015-12-30 04:31] #2158 closed

[2015-12-30 09:59] kaspernj commented on #2155
Yes. You are more than welcome to trigger some builds.

[2015-12-30 11:16] sheldon-sminq opened #2159 "CI builds stuck"
Facing this issue today none of our github commits are getting built. We are stuck and cant do anything at the moment.

If i run a manual build, its not visible anywhere.

[2015-12-30 12:16] rageshkrishna commented on #2159
@sheldon-sminq Are you seeing this on a specific branch or is this happening for everything? Please share the project ID and branch and the latest YML file from this branch. This will help me debug further. Thanks.

[2015-12-30 12:20] sheldon-sminq commented on #2159
yes for to of my projects

Api 1.5.8
https://app.shippable.com/projects/555b31abedd7f2c052f3fcac

Backend 1.3.3
https://app.shippable.com/projects/555b31abedd7f2c052f3fcad

Even a manual build shows the build is queued but i dont see anything in
the progress view.

On Wed, Dec 30, 2015 at 5:46 PM, Ragesh Krishna <notifications@github.com>
wrote:

[2015-12-30 13:15] rageshkrishna commented on #2159
OK, I think I found the problem -- did you delete the AWS account integration that was linked to your project's EBS deployment? Looks like the validation we do to make sure the integration is not in use is broken and allowed this delete to go ahead.

Please create a new AWS integration if you haven't done it already, then head over to your project settings, delete the configured EBS deployment and

[2015-12-30 13:47] sheldon-sminq commented on #2159
my bad i guess i deleted it by mistake when i was exploring the AWS ECS
option, the build has started now. Thanks.

On Wed, Dec 30, 2015 at 6:45 PM, Ragesh Krishna <notifications@github.com>
wrote:

[2015-12-30 14:17] rageshkrishna commented on #2159
Glad to help. Have a happy new year! :)

[2015-12-30 15:54] chriskinsman commented on #2113
I am interested @manishas

[2015-12-30 16:09] chriskinsman opened #2160 "Cache Directory"
@manishas I am trying to figure out how to cache our node_modules directory across builds to hopefully speed up our builds.

I essentially want to do:
(tar xf ../nm_cache.tar && npm prune && npm install && tar cf ../nm_cache.tar node_modules)

But I want to know the best place to put the nm_cache.tar file to ensure it does actually get cached across builds.

What is the best location to ensure you

[2015-12-30 16:43] chriskinsman opened #2161 "What causes shippable to commit an image to cache?"
I am finding that if a minion is booted from cache it will not commit the additional changes back to cache.  It appears it is only committed to cache when it is first created not from cache.

Is this correct?

[2015-12-30 16:46] oratthumzap commented on #2117
hi,
this is also happening to us.
we've been getting BUILD SUCCEEDED emails even though we set our .yml file to send emails on state change.
the relevant section on the .yml file is as follows:

notifications:
    email:
        recipients:
            - test@example.com
        on_success: change
        on_failure: always

[2015-12-30 16:56] manish-sangani opened #2162 "Formation - Do not see and option to add an Environment under Service setting"
Hi
I purchased a Formation - Multi-tenant subscription and created a formation.
Under the settings page for Service, I don't see an option to add an environment.

According to your documentation, I should get an Environment section under Service settings page.

Is this changed or am I missing anything here?

Please help me resolve the issue.

Thanks
Manish

[2015-12-30 18:40] kaspernj opened #2163 "Incorrect MySQL client library version"
Please see this build:
https://app.shippable.com/builds/5684216bb7aa190d00aa2227

Maybe the virtual machines have gotten their MySQL client updated to a new version, but the pre-cached gems hasn't?

[code]

[2015-12-30 18:44] chriskinsman commented on #2160
Never mind.  In a cached scenario you don't clear the build directory so node_modules is already there and ready to go.  No point in this...

[2015-12-30 18:44] #2160 closed

[2015-12-30 18:51] manish-sangani commented on #2162
i want to create different dev environment under formation.
Please help me progress further.

Thanks

[2015-12-30 20:07] chriskinsman opened #2164 "Single Tenant CI creation script fails"
with:

Running git clone https://github.com/Shippable/cds.git /home/shippable/cds
fatal: could not create work tree dir '/home/shippable/cds'.: Permission denied
__SH__SCRIPT_END_FAILURE__

This is on Ubuntu 14.04 LTS using the aws ami: ami-5189a661

[2015-12-30 20:10] chriskinsman opened #2165 "Duplicate Billings"
@avinci
Each time I switch between multi-tenant and single-tenant I am being billed again for my monthly single tenant fee.  Been hit twice now...

Thanks

[2015-12-31 01:46] chriskinsman opened #2166 "Status Screen only shows most recent successful build"
This means that to see a broken build I have to drill into each project.

The main reason to look at the status screen is to show the status of the latest build and see if any have broken.  Please revert to old behavior...

[2016-01-02 20:49] kepkin opened #2167 "app.shippable.com doesn't load. It keeps spinning indefinitely"
subj

[2016-01-02 20:52] manishas commented on #2167
looking into it. thanks for letting us know!

[2016-01-02 21:48] manishas commented on #2167
@kepkin everything should be back up now. let us know if everything works for you.

[2016-01-03 01:08] leovin opened #2168 "Project settings throw error"
Navigation to project settings (https://app.shippable.com/projects/XXXXXXXXXXXX/settings) gives
{"id":3000,"message":"route permission does not match systemRoles: /projects/:projectId/settings","methodName":"validateCaller|_setSystemRoles"}.

[2016-01-03 01:21] evra commented on #2168
I'm having the same issue.

[2016-01-03 01:37] manishas commented on #2168
we're looking into this....

@evra i do not see any projects enabled in your account. can you share a link to the project page where you're seeing this?

[2016-01-03 01:44] leovin commented on #2168
I guess it's account, not project specific - error appears on all of my 3 projects, even on newly created one.

[2016-01-03 01:53] evra commented on #2168
@manishas I'm using bitbucket. Please, check the shippable account linked with ery bitbucket account.

[2016-01-03 01:59] leovin commented on #2168
https://github.com/leovin/shiptest

3 projects are on Bitbucket and the above one is on git (for test) ...

[2016-01-03 02:54] avinci commented on #2168
I have found the problem and deploying a fix. We are overhauling security system and this route was missed. I have updated it and should fix the problem. I will let you know once its in prod. should be in the next 15 minutes.

[2016-01-03 02:57] leovin commented on #2168
Good to know, thank you!

[2016-01-03 03:03] avinci commented on #2168
I have deployed it to production. Can you verify?

[2016-01-03 03:04] leovin commented on #2168
It's working, thank you!!!

[2016-01-03 03:05] #2168 closed

[2016-01-03 09:59] tudvari commented on #2124
Hi!

Can you please give me any update about this?

Thank is advance.

[2016-01-03 21:50] #2167 closed

[2016-01-03 22:32] iolufemi opened #2169 "I am unable to generate encrypted environment variables in shippable"
On clicking the encrypt button, i get no response. So i checked the console and dug this out.

See console log

[code]

[2016-01-03 23:40] avinci commented on #2169
@iolufemi I am looking into it. I have identified a bug in our latest deployment where we made some route changes. I am pushing a fix and will update in 10 minutes.

[2016-01-03 23:46] avinci commented on #2169
fix is in. Can you please check and let me know if it works.

[2016-01-04 05:18] avinci commented on #2169
verified it working and hence closing

[2016-01-04 05:18] #2169 closed

[2016-01-04 06:32] leovin opened #2170 "Extend shippable.yml with "Enable Project" and docker settings"
Looking at the issues, I've noticed "moving away from UI settings" trend and that is great!
Ability to drive build and packaging from configuration is a dream that's almost true with shippable :)

Do you have a plan to pimp shippable.yml with most popular UI settings?

1) "Enable Project" setting

2) Docker settings (found only "build_image" tag, looks like other settings from UI are missing in ym

[2016-01-04 06:35] manishas commented on #2170
You're right... we're moving away from UI settings and making everything configurable from the yml.

What do you mean by 'Enable project' setting? We only look at the yml for enabled projects so not sure what you mean by that setting.... can you elaborate the scenario?

Yes to (2)... we're in the process of making our yml very powerful for docker users. You'll be able to everything you can do toda

[2016-01-04 06:55] leovin commented on #2170
Good to know #2 is on track!

Regarding 'Enable project' setting scenario:
Imagine you fork a repo with shippable.yml, would it be nice to get a project automatically? (without going to UI in search of 'Enable Project' button)

[2016-01-04 09:27] phagunbaya commented on #2137
Thanks. It worked !

[2016-01-04 09:27] #2137 closed

[2016-01-04 11:54] mbrodala opened #2171 "Slack build notifications not triggered"
We have set up a [Slack integration for build notifications](http://docs.shippable.com/slack_notifications/) which was working well at least until December 30th, 2015. But today we are not seeing any notifications.

The builds are triggered just fine and complete successfully.

Please let me know what additional info safe to post in public you need.

[2016-01-04 12:00] kanthchandra commented on #2171
Hi @mbrodala , we have just identified an issue with our slack notification service. We're working on a fix as we speak. This should be fixed and deployed in the next couple of hours. I'll keep you posted on this. thanks!

[2016-01-04 12:11] kanthchandra commented on #2171
@mbrodala This should be fixed now and all the backed up messages must have been delivered. Thanks!

[2016-01-04 13:13] pquentin opened #2172 "/workflow/triggerBuild returns a 404"
Using HTTPie to show the request:

[code]

Thanks for Shippable!

[2016-01-04 13:26] mbrodala commented on #2171
@kanthchandra Looks good, thanks for fixing. :-)

[2016-01-04 13:26] #2171 closed

[2016-01-04 18:03] kepkin commented on #1900
Is there a documentation on how I can use ```build_image``` tag? I tried: build_image: python:3.4.4 but build doesn't work :-(

[2016-01-04 18:10] trriplejay commented on #2152
this should be available now.

[2016-01-04 18:23] chriskinsman commented on #2166
@manishas Any thoughts on this?

[2016-01-04 19:10] mtimm commented on #1900
@kepkin there is some info here: http://docs.shippable.com/project_settings/

[2016-01-04 19:33] iolufemi commented on #2169
Works now thanks.

[2016-01-04 20:37] manishas commented on #1900
@kepkin the build_image tag is officially unsupported. The right way to set a build image is to follow the instructions at http://docs.shippable.com/project_settings/#build-image.

If your build image is private, you'll need to add an account integration with your docker registry credentials as explained in http://docs.shippable.com/docker_registries/

[2016-01-04 20:43] manishas commented on #1900
@mtimm btw, pypy was added to our python image -
docker hub - https://hub.docker.com/r/drydock/u14pyt/
github - https://hub.docker.com/r/drydock/u14pyt/ (you'll see pypy in the version folder)

Additionally, we also have images with python plus some services -
docker hub - https://hub.docker.com/r/drydock/u14pytpls/
github - https://github.com/dry-dock/u14pytpls

(the docker hub description doesnt

[2016-01-04 20:44] manishas commented on #2172
@ric03uec @a-murphy  can you take a look at this?

[2016-01-04 20:47] kepkin commented on #1900
Thanks @mtimm and @manishas. But what I'm looking for is a little bit different. If I use ```shippableimages/ubuntu1404_python``` as a build image, it will work. But if I use any other image from docker hub like ```python:3.4```, build will just timeout. What I should install in image in order to make it work on shippable?

[2016-01-04 21:00] manishas commented on #2172
tagging @avinci

[2016-01-04 21:04] DavidGDragon commented on #2172
Try using this route `POST /projects/:projectId/newBuild`
Example: `http --verbose POST https://api.shippable.com/projects/557e91f3edd7f2c052165e54/newBuild 'Authorization:apiToken $API_TOKEN'`

[2016-01-04 21:26] DavidGDragon commented on #2162
You can no longer make additional environments, instead you create a new formation (free or paid).

[2016-01-04 21:32] DavidGDragon commented on #2161
Caches are based on what host it was built on. If you haven't built on a host before, it will not have a cached version until it finishes the first build. Your build is assigned to whatever host is available at the time.

[2016-01-04 21:34] chriskinsman commented on #2161
That wasn't my question.

When is a cache committed/updated?

Only if a build runs on a host with no cached copy?  (This appears to be the case...)
Every time a build is run the cache on that host is updated? (This does not appear to be the case...)

[2016-01-04 21:38] DavidGDragon commented on #2161
Yes it is only the first build on that machine that is cahced. If you want to update your cache you would need to go the project settings page and clear the cache and run a new build.

[2016-01-04 21:39] chriskinsman commented on #2161
In my case I want it updated after each build.  I want to cache the results of the previous build because it has to pull down the latest packages, etc.

I don't want to have to weekly go in and do  cache reset, etc

[2016-01-04 21:42] manishas commented on #2161
@chriskinsman a little more about caching here - http://blog.shippable.com/container-caching

In short - you're right. We only cache the first time. If you add something and want to cache again reset cache and cache will be built up again. Caching is something we're taking a second look at in the next few weeks as we evolve the platform.

[2016-01-05 01:06] gohanman opened #2173 "Delete Project Broken"
I'm trying to delete a project via the Delete button at the bottom of its settings tab. I repeatedly get this error message and it fails to delete the project:

[code]

[2016-01-05 08:42] pquentin commented on #2172
That fixes it, thanks.

[2016-01-05 08:42] #2172 closed

[2016-01-05 12:06] kothar opened #2174 "SHIPPABLE_MONGODB_PORT env variable set incorrectly by scripts"
The Script tab shows that the environment variable `SHIPPABLE_MONGODB_PORT` is set as `28017`.

This is in fact not the case, and connections to port `27017` succeed, while `28017` fail.

I'm not sure if the variable is actually used anywhere, but it should either be removed or reflect the configuration that is actually present.

[2016-01-05 15:20] manish-sangani commented on #2162
Ok, I was going through the online documentation on shippable which mentioned to add an environment.
It seems the documentation is not updated.

Anyways, I have another issue where I cannot Deploy the service.

Is formation same as a web server that my image will be deployed to?

If not, what is it that Formation used for?

Thank you,
Manish Sangani | Technical Lead
P: 212.235.5324
manish.sangani@

[2016-01-05 16:02] mmindenhall commented on #1507
+1.  The `go cover` tool is also capable of producing an html report.  I've tried converting the coverage reports to cobertura xml format using two available tools, but in both cases I still get 0% coverage reported for my packages by Shippable.

@eventbase-web, any chance you can change the issue title to "Support html coverage reports" (or similar)?

[2016-01-05 19:25] malffred commented on #1799
+1

[2016-01-05 19:27] tbashor commented on #1799
+1

[2016-01-05 20:49] #2174 closed

[2016-01-06 10:29] KnowRe commented on #2156
+1 for this issue. We're trying to add extra configuration in .ebextensions directory, but only the information in Dockerrun.aws.json is applied.

[2016-01-06 14:42] baleyko opened #2175 "How to handle sporadic issues?"
Hi guys.

I'm running built-in php server with this command in the "install" section:
`php -S 127.0.0.1:8888 -t web > /dev/null 2>&1 & echo $!`

and in the "script" section when I'm trying to make http request to 127.0.0.1:8888 with curl, I'm getting "couldn't connect to host", it's happening not all the time, but it's a most part of trying.

I've tried to add sleep after running of built-in php s

[2016-01-06 15:22] mbrodala commented on #2170
@leovin I understand what you mean but I'd imagine this to be impossible to solve. Shippable would have to iterate over all of your VCS repositories which wheren't enabled on Shippable yet, download the `shippable.yaml` from each of them and check for the flag to enable builds.

At least I am not aware of a webhook or similar fired by VCS hosters like Github or Bitbucket whenever a repository is c

[2016-01-06 15:24] mbrodala commented on #2166
@chriskinsman I cannot confirm this. I always see the latest build for each project on https://app.shippable.com/, no matter if it was successful or has failed. Do you mean something else with "status screen"?

[2016-01-06 15:38] manishas commented on #2166
@chriskinsman can you send me a screenshot of the status screen where you're seeing a problem? As @mbrodala says above, we do not hide broken builds if that is latest status.

We have the following pages that show status
- Landing page - https://app.shippable.com
This shows status of the latest build for the default branch for each enabled project. If there is no default branch, it will show the s

[2016-01-06 15:43] manish-sangani commented on #1777
Is Cloud Foundry builds available?

[2016-01-06 16:00] chriskinsman commented on #2161
It should really update the cache with the results of the build so they are available for the next build.

In our case we want to persist the npm cache across builds to speed up npm install.

I will close now.

Thanks!

[2016-01-06 16:00] #2161 closed

[2016-01-06 16:05] chriskinsman commented on #2166
It was on the subscriptions page but I am no longer seeing the behavior.  Thanks!

[2016-01-06 16:05] #2166 closed

[2016-01-06 16:09] chriskinsman opened #2176 "Option for new build to cancel any running/pending builds"
We have a situation where a common library triggers builds of a number of dependent libraries.

Since the common library can have quite a few checkins we will occasionally see the number of queued builds for the dependent libraries pile up.  Frequently we will end up going in and canceling those with lower buildGroupNumbers so that we can get the final build version done more quickly.

Would be ni

[2016-01-06 16:26] chriskinsman opened #2177 "/workflow api returning 404"
I am trying to use the workflow api as documented here:

http://docs.shippable.com/api/

Even using the curl sample for enableRepoBuild with my own api token and project id is failing.

Have the endpoints changed?

Seeing this for /workflow/enableRepoBuild and /workflow/disableBuild

[2016-01-06 16:55] a-murphy commented on #2177
All of the "workflow" routes were recently moved.

```POST /workflow/enableRepoBuild``` has been replaced by ```POST /projects/:projectId/enable```, where ```:projectId``` signifies the ID formerly sent in the body for the workflow route.  Nothing needs to be sent in the body for the new route.

```POST /workflow/disableBuild``` has been replaced by ```POST /projects/:projectId/disable```, where `

[2016-01-06 17:27] kaspernj opened #2178 "jruby-head has not been installing for some time"
https://app.shippable.com/builds/568d456129e78a1000f41f72

[2016-01-06 17:53] a-murphy commented on #2177
That project is not enabled, so it doesn't have a ```deployKey``` and can't run builds.  You should be able to enable it by clicking "Enable Project" on the subscription page, finding the project in the list, and clicking "Enable" or with ```POST /projects/:projectId/enable```.

[2016-01-06 18:33] chriskinsman commented on #2177
Figured out the issue.  I was filtering by name instead of full name and getting a fork that wasn't enabled.

Would be nice when calling projects to have a search option and to specify only enabled projects.  Right now a call to /projects returns 100s of items for me due to number of github repos I am connected to...

[2016-01-06 19:26] luhn commented on #2173
Experiencing the same issue here.

    {"id":1005,"message":"Internal API error : removeBuilds for projectId:540e77433479c5ea8f9e8849","methodName":"caller:540e773e399939140041db94|projects|disableById:540e77433479c5ea8f9e8849|_removeBuilds","link":500}

[2016-01-06 19:40] 9len commented on #1955
Just wanted to add a +1 to @chriskinsman's use-case. We have a monorepo with multiple projects, each of which has a separate Dockerfile. I'd like to be able to compile and test the whole tree, and then build each Dockerfile. Ideally I'd just specify the location of each Dockerfile in shippable.yml:

[code]

[2016-01-06 21:34] jdextraze commented on #2177
Are you guys planning on updating docs soon... http://docs.shippable.com/api/ is still showing /workflow route.

[2016-01-06 21:38] manish-sangani opened #2179 "Formation: Not able to set deploy settings for AWS"
Hi,

I am trying to set up a service to deploy docker build using AWS integration but not able to set a cluster name.

In a Cluster field, the list is not displaying.
Can you assist me so that I can proceed further?

Thanks
Manish

[2016-01-06 21:39] #2177 closed

[2016-01-06 21:47] cavis opened #2180 "Formation: ECS service deploy fails"
Deployment to ECS fails whenever I have the "Load Balanced" checkbox checked in the Routing section.  Error message is simply "Deployment has failed."

Looking through AWS after failure - the ELB seems to be setup correctly.  But no Services are created within the ECS cluster.

It deploys the service just fine if I uncheck "Load Balanced", or remove the load balancer entirely.

Any ideas?  I'm at

[2016-01-06 22:12] leovin commented on #2170
@mbrodala thank you taking time to evaluate
agree, this is not viable for now

only Github and only for organizations has such hook https://developer.github.com/v3/activity/events/types/#repositoryevent.

Asking Github and Bitbucket to extend webhooks would be to much.

Closing, and thank you once again for consideration!

[2016-01-06 22:12] #2170 closed

[2016-01-06 22:44] trriplejay commented on #2180
It looks like shippable can't find a proper role to use when creating your service.

Currently to deploy a service with a load balancer Amazon requires that a role be specified that allows the container agent to talk to that load balancer.

To allow this, we're searching for a role that contains both "ecs" and "ec2" principals in the trust relationship.

If you have an existing role, you can edit

[2016-01-06 23:23] cavis commented on #2180
Added to our `ecsServiceRole`, and all seems to be working now.  Thanks.

[2016-01-07 01:23] manishas commented on #2173
@ric03uec @rageshkrishna can we take a look at this asap?

[2016-01-07 07:55] pschrammel opened #2181 "invoicing"
Hi,

is there a way to download our invoice?

[2016-01-07 08:27] kanthchandra commented on #2181
Hi @pschrammel , You can view the invoices in the billing tab of the subscriptions page..
![selection_062](https://cloud.githubusercontent.com/assets/1583444/12165736/7c5ee75a-b546-11e5-9685-2ffadd0ba9d7.png)

[2016-01-07 08:51] larsjoergensen commented on #2031
The feature for "the ability to add multiple deployments (one for each branch)"

is there a timeframe for this?

[2016-01-07 09:39] rmossuk opened #2182 "site down!!"
goto shippable and i see this error.

failed to obtain access token (status: 400 data: Could not verify OAuth request.)
   at /home/shippable/www/node_modules/passport-bitbucket/node_modules/passport-oauth/lib/passport-oauth/strategies/oauth.js:134:36
   at /home/shippable/www/node_modules/passport-bitbucket/node_modules/passport-oauth/node_modules/oauth/lib/oauth.js:465:22
   at passBackControl (

[2016-01-07 09:48] rmossuk commented on #2182
We can now see the UI but we have no projects!

[2016-01-07 09:56] kanthchandra commented on #2182
![selection_063](https://cloud.githubusercontent.com/assets/1583444/12167512/8c37eb84-b552-11e5-9aef-bf7882b1b851.png)

It looks like bitbucket's response time for api requests is really high and as a result our connections might be timing out. We are keeping a close watch on this.

All your projects are safe and we will be able to display them once we are able to sync permissions from Bitbucket.

[2016-01-07 10:26] pquentin commented on #2182
This has already happened in the past: https://github.com/Shippable/support/issues/1967#issuecomment-150544370

Even though @avinci said it was not Shippable bug, I think there should be something more robust to avoid being locked out every time BitBucket takes time to answer.

[2016-01-07 11:22] sachit-singh opened #2183 "something's wrong"
![shippable](https://cloud.githubusercontent.com/assets/8382151/12169510/060f8f4e-b561-11e5-8cfe-b16127803ce2.png)

[2016-01-07 11:39] kanthchandra commented on #2183
Closing this since it's a duplicate of https://github.com/Shippable/support/issues/2182. You can follow the proceedings there.

The reason for this is that Bitbucket API is taking too long to respond and our connections are timing out. We are keeping a watch on this.

[2016-01-07 11:39] #2183 closed

[2016-01-07 13:06] godfrzero commented on #2182
Same thing is happening for me. Tried the force Sync etc. mentioned in #1967, nothing helps.

[2016-01-07 13:47] manishas commented on #2182
Bitbucket has an outage - http://status.bitbucket.org/

Our issue will be resolved when their API is operational again. We will look at making this more robust but since we do not store anything other than some build information, I am not sure how useful it will be when the bitbucket api is down.

[2016-01-07 13:49] manishas commented on #2181
@pschrammel i am closing this issue. please let me know if you don't see your invoice in the billings tab of your subscription.

[2016-01-07 13:49] #2181 closed

[2016-01-07 13:49] manishas commented on #2180
closing.

[2016-01-07 13:49] #2180 closed

[2016-01-07 16:31] godfrzero commented on #2182
Everything seems to be stable now.

@manishas I'd probably prefer a page mentioning that the BitBucket API is misbehaving (at least) :D I was seeing 401s in some places, which got me thinking maybe I was doing something wrong as far as permissions/credentials go.

[2016-01-07 16:52] cratz opened #2184 "Formations ECS deploy: Load Balancer configuration"
I have an working cluster in ECS now I wanna use Shippable Formations to handle my 2 running services but it looks like it is not possible to configure the Load Balancer in a proper way!

Currently Shippable sets the port where the Load Balancer is listening to the same as the container port but there is no relation between this and there is no way to configure these settings.

Is it possible to c

[2016-01-07 17:17] trriplejay commented on #2184
At this time we automatically configure the load balancer to listen on the same port as the container port.

We are planning to allow the load balancer port to be customizable in the near future, but that feature is not available yet.

[2016-01-07 17:35] cratz commented on #2184
Thank you for the information!
Can you give me a hint what do you mean with "near future" because without this Shippable Formations is useless for us, unfortunately, and I have to investigate other solutions.

[2016-01-07 18:35] trriplejay commented on #2184
I'd say by early next week.  Most of the functionality is there, but not yet exposed.  I will update this issue when the functionality is available.

[2016-01-07 18:43] chrisrhoden commented on #2001
:+1: would love to see this supported

[2016-01-07 18:55] cavis commented on #2001
To support something like a Github flow, it would also be nice to also build the `master` branch in addition to any tags/releases.  That would allow continuously acceptance testing the bleeding-edge `master` in a test Formation, plus deploying tags/releases to a production Formation in less frequent intervals.

[2016-01-07 22:29] ttrahan opened #2185 "Deleted single-tenant CI node still appears in UI"
On the CI subscriptions setting page where dedicated, single-tenant nodes are managed, I deleted a node, received a horn message indicating success, but the node still appears in the list of available nodes.

See this page for the example:
https://app.shippable.com/subscriptions/563805181895ca4474226578/subscriptionsSettings

[2016-01-08 03:16] trriplejay commented on #2184
This feature should be available now.  In the routing section of the settings page, there is a new field called 'Exposed Port'.  This becomes the 'Load Balancer Port' on your Amazon load balancer when you deploy.

Let me know if you have any more questions or concerns!

[2016-01-08 05:59] manishas commented on #2182
closing since this was due to a bitbucket api issue.

[2016-01-08 05:59] #2182 closed

[2016-01-08 06:00] manishas commented on #2152
closing.

[2016-01-08 06:00] #2152 closed

[2016-01-08 06:00] #2149 closed

[2016-01-08 06:02] manishas commented on #2148
is this still happening? we haven;t been able to repro this.

[2016-01-08 06:14] manishas commented on #2098
Can you clear cache and try again? Here is an explanation of how caching works on shippable - http://blog.shippable.com/container-caching

[2016-01-08 07:56] mbrodala opened #2186 "PHP xdebug.ini randomly missing"
A few of our latest builds fail because the `xdebug.ini` is missing while it shouldn't. ([Example](https://app.shippable.com/builds/568f690a340dc90c005d2abc)):

[code]

Our `shippable.yml` does something along these lines to boost Composer performance:

[code]

Rebuilding sometimes succeeds though, we haven't tried clearing the cache yet.

[2016-01-08 11:48] cratz commented on #2184
Awesome it works like charm :D
Thank you very much for the fast shipment of this feature!

Last issue for us in this topic is SSL configuration for the Load Balancer. Is this already on your roadmap?

[2016-01-08 13:17] 4ndywilliamson opened #2187 "Shippable Node Language 0.12+ Support"
When using this in the shippable.yml file:

language: node_js

node_js:
        - "0.12"

It has to compile a new version of node which takes forever to build before running the rest of the build script.

I understand that the documentation allows node_js: - "0.11" as a default but some packages that we run require "0.12" and above.

Please could you add this version or allow a quicker way of buil

[2016-01-08 13:26] manishas commented on #2187
Our default image minv2 does not have node 0.12 installed. Can you try using the image at https://hub.docker.com/r/drydock/u14nodpls/ and let me know if that works better?

You'll need to set this image in your docker options in project settings. Let me know if you need help with that.

[2016-01-08 13:45] mbrodala commented on #2186
Even after clearing the cache the error occurs again. ([Example](https://app.shippable.com/builds/568fbce24676f20f00413dec))

[2016-01-08 13:54] manishas commented on #2186
@ric03uec can we look into this today?

[2016-01-08 14:19] 4ndywilliamson commented on #2187
So, adding this into our project failed the build as any node commands would return as command not found?

Is there any ETA when node 0.12 could be added to minv2?

Would be really useful!

[2016-01-08 15:19] HelainSchoonjans opened #2188 "404 Cannot POST error when trying to trigger a build from the API"
I have some projects whose builds were triggered from a script using using the Shippable API. This script worked flawlessly for months but I recently noticed that the builds were no longer triggered, and the POST on resulted in:
`Failed to trigger build for projectId '55cdadxxxxxxxxxxxxxxxxxx'.
Status code: 404
Response message: Cannot POST /workflow/triggerBuild`

I tried to call the API with cur

[2016-01-08 15:30] manishas commented on #2188
Can you try the solution in https://github.com/Shippable/support/issues/2172

Sorry we're improving our API and docs are not always up to date right now. Working on fixing this.

[2016-01-08 15:45] HelainSchoonjans commented on #2188
That fixes it, thanks.

[2016-01-08 15:50] manishas commented on #2188
Thanks for confirming it worked! Closing.

[2016-01-08 15:50] #2188 closed

[2016-01-08 17:09] mbrodala opened #2189 "MySQL client not found"
The `mysql` CLI client seems missing in the Shippable build image (at least `shippableimages/ubuntu1404_php`):

([Example build](https://app.shippable.com/builds/568fe9514676f20f004eff63))

[The docs](http://docsv2.readthedocs.org/en/latest/config.html#mysql) suggest that the command should be there to e.g. create databases during builds:

[code]

[2016-01-08 17:18] manishas commented on #2189
@mbrodala our language images are pretty barebones and do not have any services pre-installed.

We're working on refreshing our images and php is actually the last language image we're still working on. These new images will come with services preinstalled.

ETA is early next week.

[2016-01-08 17:42] trriplejay commented on #2184
Yes, it's on our roadmap, but I'd estimate more along the lines of 3-4 weeks.  In the meantime, you can get around it by setting up SSL on AWS manually after your initial Shippable deploy (with load balancer configuration).

For example, on Shippable you can pick port 443 as your 'exposed port', and select TCP as the protocol, and click deploy.  Once your deploy is successful, you can go to AWS, s

[2016-01-08 20:40] ttrahan opened #2190 "Single-tenant node on Azure fails to initialize"
The install section fails to complete when initializing a node on Azure.  Does apt-get, but fails to do install git and docker.  The cloneDNS section then fails, since git isn't installed.

![image](https://cloud.githubusercontent.com/assets/4467650/12208820/0a1d89f8-b604-11e5-8420-def402a70147.png)

[2016-01-08 22:02] rsteckler commented on #1016
I think this is important.  I need to keep port 22 (SSH) open so Shippable can talk to my production servers.  I'd really like to limit the IP range that can access my production box.

Many other companies list their IP ranges so network folks can lock things down.  Here are two examples:

Stripe:  https://stripe.com/docs/ips
MongoDB Cloud Manager:  https://docs.cloud.mongodb.com/reference/firewal

[2016-01-08 23:26] andredantasrocha commented on #2120
Same problem happens with my project. I'm using POST Docker build.

The `script` step runs successfully and creates the `dist` directory (it seems at least).
The `build image` step fails:
[code]

[2016-01-09 02:54] chriskinsman commented on #2187
Have to add a line like:
- . /root/.nvm/nvm.sh && nvm alias default 4.2.2

To your before_install.  Pick your node_version...

[2016-01-09 07:21] marinsicavirdol commented on #2120
I'm doing a post npm install

[2016-01-09 23:17] akamalov opened #2191 "Example Tutorial"
Hello,

I am using an example tutorial - https://github.com/shippabledemo/radar-www2 provided by Shippable. So far, I have created my integration point with AWS EB, and Shippable build completes successfully. However, I do not see any evidence that a container has been pushed out to EB or even build image pushed. What is it am I doing wrong ?

Thanks,

Alex

[2016-01-10 17:18] brampey opened #2192 "Can't login or enable using my Bitbucket account."
I'm not sure what triggered this issue.  I've been using my login for Bitbucket for quite some time.  However, sometime in the last couple days I'm seeing an error while logging in using my Bitbucket account.   I've attached two screen shots.   One is when I choose login from the Shippable home page.   It's the error "Failed to POST accountintegration".   The other one is the error I see when I lo

[2016-01-11 06:24] manishas commented on #2159
closing,

[2016-01-11 06:24] #2159 closed

[2016-01-11 06:25] manishas commented on #2189
closing.

[2016-01-11 06:25] #2189 closed

[2016-01-11 06:27] manishas commented on #2131
@pranaypareek @abhinavashippable can someone pick this up?

[2016-01-11 06:27] #2122 closed

[2016-01-11 06:28] manishas commented on #2115
@paulgrimes1 i am closing this issue, but please feel free to comment if you need more help and we'll reopen it.

[2016-01-11 06:28] #2115 closed

[2016-01-11 06:29] manishas commented on #2086
assigning to @himanshu0503 who is working on updating all images.

[2016-01-11 08:16] mbrodala commented on #2189
@manishas Thanks for the pointers, looking forward to it. :-)

[2016-01-11 09:46] himanshu0503 commented on #2086
@mbrodala : We've recently updated our `drydock/u14php:tip` image. This image has support for php 5.6 and '7.0', and uses pickle for installing extensions.
To install `intl` package you will need to make these changes to your yml -
[code]
Can you kindly use this approach, and let me know if you face any difficulty?

[2016-01-11 09:57] cratz commented on #2184
Thank you very much I will try it out.

[2016-01-11 09:57] #2184 closed

[2016-01-11 10:18] mbrodala commented on #2086
@himanshu0503 I don't get to this point since the [build fails](https://app.shippable.com/builds/56937f58a1c74d0c001b5adf) earlier:

    phpenv global $SHIPPABLE_PHP_VERSION
    rbenv: version `5.5' not installed

I went with `pushd /tmp/pickle && printf '\n' | bin/pickle install intl && popd` BTW.

What's the reason for the switch to `/tmp/pickle`? Is `pickle` not yet installed globally on the im

[2016-01-11 11:24] manishas commented on #2086
@mbrodala we installed only php 5.6 and 7 because earlier versions are deprecated across several other tools.

For example, the latest version of phpunit - 5.1 -  only supports php 5.6 and 7.  We also had some issues with php-build removing support for pear and pickle not supporting php 5.3.

We'll create a set of images with php 5.3-5.6 and push it to docker hub. these will be tagged with 2015q4,

[2016-01-11 13:11] rageshkrishna commented on #2173
We've made some improvements to how this is handled. @gohanman @luhn Please give this another shot and let me know if you're still seeing the issue. Thanks, and sorry for the long turnaround time on this.

[2016-01-11 13:45] rvdwijngaard opened #2193 "How to obtain an api key ?"
Hi,

I want to use the shippable api to improve my processes. In the documentation I read that you can generate an api key from the profile page. In my case Api Tokens are grayed out because I am not part of an paid account. That's not completely true because we have an paid account for our company but my personal account isn't paid. How does this work?

Kind Regards,
Ron

[2016-01-11 13:59] vidyar opened #2194 "Getting image modified emails after running PR builds"
To repro:
- Configure the project with preci-docker build options and turn on lighthouse notifications from project settings
![image](https://cloud.githubusercontent.com/assets/4965752/12235388/7c939ab2-b899-11e5-8b9a-c9b3cf31b64d.png)

-  Watch the same image from Lighthouse page and turn on notifications
-  Run a PR build. You will get an image modified email notification immediately.

[2016-01-11 14:31] manishas commented on #2193
@ric03uec  can you look into this?

[2016-01-11 15:16] mbrodala commented on #2186
We have set `cache: false` in our `shippable.yml` for now to (hopefully) avoid this error.

[2016-01-11 15:51] gohanman commented on #2173
On Delete, I get a spinning circle for approx. 90-120 seconds, then the page redirects to a /subscriptions/{hex} URL that still lists my project. The subscriptions page links back to a /projects/{hex} URL has the same settings tab and Delete option that I started with.

For me at least this is not terribly pressing. If it's tough to fix I can just set up a mail filter so I don't see the failed-bui

[2016-01-11 16:38] luhn commented on #2173
I was able to successfully delete.

— Theron

On Mon, Jan 11, 2016 at 7:51 AM, Andy Theuninck <notifications@github.com>
wrote:

[2016-01-11 17:07] ric03uec commented on #2192
@brampey can you please try to login again. There was some issue with the bitbucket integration for your account. the login should work now.

[2016-01-11 17:10] ric03uec commented on #2193
@rvdwijngaard your account seems to be linked with two subscriptions, one of which is an organization. But the organization is still on the free plan because of which the api token is not available.
Can you please verify if the org subscription is a paid one or not.
thanks

[2016-01-11 18:02] brampey commented on #2192
Thank you!  Appears to be working now.

On Mon, Jan 11, 2016 at 12:07 PM, Devashish notifications@github.com
wrote:

[2016-01-11 18:18] #2192 closed

[2016-01-11 18:19] manishas commented on #2194
@pranaypareek can you look into this?

[2016-01-11 18:23] manishas commented on #2187
@4ndywilliamson did the suggestion above work for you?

[2016-01-12 00:00] DavidGDragon commented on #1872
This issue should be resolved with new UI

[2016-01-12 00:00] #1872 closed

[2016-01-12 00:01] DavidGDragon commented on #2028
This issue should be resolved with the next deployment. https://github.com/Shippable/pm/issues/4929

[2016-01-12 00:17] paulgrimes1 commented on #2115
@manishas Well my last question was "Is there an equivalent file in shippable" that stores the env vars in a file that a script may access when running PHP-CLI processes? If you could let me know on that one that would be great. Cheers.

[2016-01-12 02:51] bryanvaz commented on #2028
Cheers @DavidGDragon !

[2016-01-12 05:18] pukapukan opened #2195 "Docker image tag does not get synced"
Hi, I noticed my Shippable app doesn't update tags for a Docker image since morning.

It's clearly not an authentication issue with the Dockerhub because the CI pipeline successfully pushes the image after running tests and new tags are available in the Dockerhub.    Kitematic seems to have no problem fetching the labels.

When I click on 'Sync' button in Lighthouse or Formation>Services>Images, i

[2016-01-12 05:49] manishas commented on #2190
@abhinavashippable can you take a look at this?

[2016-01-12 08:04] phagunbaya opened #2196 "Builds not trigger automatically for non-master branches"
My shippable.yaml looks like this
[code]

But for `stable` and `release` branches builds are not getting triggered automatically. Is there any change in configuration, I have to sync up with ?

[2016-01-12 08:04] phagunbaya commented on #2196
Though the builds for pull requests are working fine but not for push commits.

[2016-01-12 08:18] manishas commented on #2196
do the `stable` and `release` branches have shippable.yml with the same branch config?

[2016-01-12 08:34] phagunbaya commented on #2196
@manishas Yes

[2016-01-12 09:37] abhinavashippable commented on #2190
I used Virtual Machine (Classic) from Azure and I am able to successfully initialize the node.
![builds_beta_running](https://cloud.githubusercontent.com/assets/11938017/12259741/bb6c0f90-b93d-11e5-9174-77281ca4f273.png)

[2016-01-12 10:44] maxfi opened #2197 "How to build a docker image and push to registry?"
I would like to simply build a docker image from the `Dockerfile` in the root of my project and on successful build push it to Docker Hub or ideally to the [Tutum](http://www.tutum.co) registry. At the moment I don't require running any tests.

At present I have the following:

shippable.yml
[code]

and project settings
![screen](https://cloud.githubusercontent.com/assets/2127381/12261317/3c7dddd0

[2016-01-12 11:13] cratz commented on #2197
I use exactly this way to build the image and push it to docker hub. Works like charm.

[2016-01-12 11:15] maxfi commented on #2197
Thanks @cratz. Thought there might be someway to speed it up? Perhaps cacheing the intermediate containers?

[2016-01-12 13:52] scottclowe opened #2198 "Error with shippable_retry for a command containing a string in double quotes"
When trying to run the following command in my .travis.yml file
[code]

I experience the following error:
[code]

The error is seemingly because the double quotes in the command have vanished.

I am the commiter on Shippable, with username scottclowe.

The project ID is [565d50661895ca44742504ec](https://app.shippable.com/projects/565d50661895ca44742504ec).

This build ID is [569501dc81c0cc0d006f7

[2016-01-12 14:00] cratz commented on #2197
The build speed depends heavily on your Dockerfile.
And shippable has a very good reason to not cache all intermediate containers check out this:
http://blog.shippable.com/container-caching

[2016-01-12 14:12] sheldon-sminq opened #2199 "Automate production builds"
I have integrated shippable with my development pipeline to deploy docker updates to our staging environment after every commit, this works well with the team members and new features are always ready to test.

I was wondering how to automate the deployment of a production build, since my production Docker files are different i currently do a manual docker build and push. And in AWS elastic beanst

[2016-01-12 16:02] mbrodala commented on #774
I just saw that Shippable apparently **does** support color output ([Example build](https://app.shippable.com/builds/569521999188220d001c2da1)):

![image](https://cloud.githubusercontent.com/assets/5037116/12268711/2e7215a6-b94e-11e5-9ec8-e0aadcd41e5a.png)

@manishas Is this WIP?

[2016-01-12 16:25] maxfi commented on #2197
Thanks for the link @cratz. It appears to me that the article relates more to the pre-ci build order though? If all I'm doing is building from a Dockerfile (one designed for caching itermediate containers) does this also apply?

[2016-01-12 16:44] cratz commented on #2197
As far as I understand there is no difference between post/pre-ci build in terms of caching.

If you don't care for script results and you wanna only build after a push to e.g. github you could use docker-hub's own functionality (" Create Automated Build"). I use this as well and in docker hub all itermediate containers are cached.

[2016-01-12 17:11] maxfi commented on #2197
I've been having issues with Docker Hub's Automated Builds and will likely use Shippable's extra scripting capabilities down the track. I'll try out the cache option on Shippable and see if it works for my needs. Thanks again for your assistance @cratz!

[2016-01-12 17:11] #2197 closed

[2016-01-12 21:12] ttrahan commented on #2190
Looks like it was a point-in-time issue.  I was able to re-initialize the node successfully today, which didn't work on Friday.

[2016-01-12 21:12] #2190 closed

[2016-01-13 03:08] pukapukan commented on #2195
I couldn't wait any longer as it was a blocker for the the deployment.

Tried removing the service, entire formation, docker integration, etc. but none of them worked.

I resolved the problem by renaming the image.

[2016-01-13 03:08] #2195 closed

[2016-01-13 05:20] manishas opened #2200 "move hub integration our of docker options in project settings"
We need to move hub integration out of docker options in the project settings and move it back to Integrations section.

[2016-01-13 05:22] manishas commented on #2200
Main reason for this is that with our new yml based approach coming up in a few weeks, we need a way for the user to specify docker integration without needing to fiddle with docker options in UI.

[2016-01-13 05:59] vidyar opened #2201 "No options are displayed under create new aws integration dropdown in project settings"
![image](https://cloud.githubusercontent.com/assets/4965752/12286234/57d2e3f4-b9e8-11e5-9a46-d213d1e06e12.png)

- Go to deployments in project settings tab
- Select Add deployment and then select Aws elastic beanstalk
- Click on Create new integration and then you will not see any options to select AWS integration

[2016-01-13 07:26] Varsha-Arun commented on #2131
Closing this issue as it is working in prod

[2016-01-13 07:26] #2131 closed

[2016-01-13 08:15] pukapukan commented on #2187
personally - coming out from my own experience, I find using official node image is the easiest way to get around all the issues related to the the node versions

throw this into shippable.yml should work like charm

build_image: node:latest

[2016-01-13 12:32] mbrodala commented on #774
As it seems the basic 16 colors are indeed working:

![image](https://cloud.githubusercontent.com/assets/5037116/12294351/fa044c4c-b9f9-11e5-9d6b-a2d72824fb5e.png)

I've created an [example repository](https://bitbucket.org/mbrodala/colorful-shippable) which executes two shell scripts on build to test 16/256 color output.

[2016-01-13 14:17] iivvoo opened #2202 "job never seems to continue/terminate"
My emberjs tests seem to be stalled - one has been building just fine but after starting the tests (script section) nothing happens after some harmless translation warnings.

Job 56964cd481c0cc0d009ed794

Feel free to restart if necessary. I've tried restarting/cancelling.

[2016-01-13 15:18] mbrodala opened #2203 "phpenv: command not found"
A [recent build](https://app.shippable.com/builds/569669cd9188220d004b4c7c) failed in `before_install` with a odd error:

[code]

How is this possible?

[2016-01-13 15:20] vidyar commented on #2200
Closing this issue as it works in prod.

[2016-01-13 15:20] #2200 closed

[2016-01-13 19:33] ttrahan opened #2204 "Deploy fails after deploying new LB with same name in ECS cluster"
When an ELB in AWS is changed (either directly in AWS or via Terraform via the Destroy button in Deploy Settings), you can't deploy a service in Shippable that uses that load balancer without performing the workaround below.  The reason appears to be that the new ELB does not have Host Port set up in a Listener rule.

Scenario:
* I have an ELB in AWS named 'demoWWWlb" being used by an ECS cluster

[2016-01-13 20:29] trriplejay commented on #2204
Failure occurs because we don't verify that the loadbalancer has the listeners that it needs before trying to deploy.  ECS complains that the loadbalancer doesn't have a listener that it expects.  We don't check in this case because we see that the load balancer name hasn't changed, so we assume the listeners haven't changed.

Ideally, we should check in every deployment that the required listener

[2016-01-14 02:19] rsteckler opened #2205 "Build failing without error message"
My builds are failing when I try to deploy to beanstalk.  I'm sure it's an error somewhere on my configuration, but the build console doesn't show any errors.  The overall build fails, but each step shows a green checkmark without any indication of what's wrong.  I tried downloading the build log, but it didn't have any additional information.

When I remove the Deployment config in the shippable

[2016-01-14 02:54] rsteckler commented on #2205
Some more details.

Here is my top-level log, so you can see which tasks are happening:
[code]

Here is my Dockerrun.aws.json file:
[code]

My shippable.yml
[code]

[2016-01-14 06:02] pranaypareek commented on #2194
Made the fix and tried this out in `beta`. This doesn't seem to be happening anymore.

[2016-01-14 06:35] pranaypareek commented on #2196
@phagunbaya we are investigating this issue right now. We'll keep you posted!

[2016-01-14 08:12] mbrodala opened #2206 "Support multiple notification integrations"
Currently only one notification integration (e.g. Slack) can be set per project.

It should be possible to add an arbitrary amount of integrations instead, e.g. to have notifications sent to multiple Slacks.

[2016-01-14 09:02] mbrodala opened #2207 "Console log improvements"
Within the Shippable build environment apparently `stdout` doesn't seem to be a proper TTY.

Due to this code checking for this to e.g. [determine whether color output is supported](https://github.com/symfony/symfony/issues/17360), fails.

Is it possible for Shippable to expose `stdout` as proper TTY?

[2016-01-14 09:04] manishas commented on #2207
@kanthchandra can we do this while working on our new console?

[2016-01-14 09:10] mbrodala commented on #2186
In another project we have commented out the lines mentioned above. We'll see which is more reliable.

[2016-01-14 09:28] kanthchandra commented on #2207
@manishas I dont think this is a frontend issue. I think it is related to the way we spin up the docker containers which execute the build scripts. So we will need to take a look at this deeper and see if it is actually feasible to do this.

[2016-01-14 09:36] cratz commented on #2204
@trriplejay plz don't implement this check until you implemented SSL support otherwise this workaround ( https://github.com/Shippable/support/issues/2184#issuecomment-170070164 ) will no longer work ;)

[2016-01-14 10:31] abhinavashippable commented on #2198
@scottclowe
Use this format
    travis_retry  'octave -q --eval "pkg install -forge $PN" '
instead of
    travis_retry octave -q --eval "pkg install -forge $PN" .

[2016-01-14 11:24] manishas commented on #2165
@chriskinsman I have refunded your first transaction that you canceled after a few minutes.

You will be charged each time you sign up for multi-tenant right now. In our next release coming up in a few weeks this will no longer be a problem since we're consolidating all CI plans into one.

[2016-01-14 11:24] #2165 closed

[2016-01-14 11:42] pranaypareek commented on #2196
@phagunbaya I wasn't able to reproduce the issue you're facing. I tried this out with one of our sample projects (https://github.com/pranaypareek/sample_node_mongo/blob/master/shippable.yml).

* Created 2 more branches (you can find them at the link above) called `b1_for_auto_build` and `b2_for_auto_build`.

* Updated the `shippable.yml` (on the `master` branch) with
[code]

* Updated the `shippab

[2016-01-14 14:12] scottclowe commented on #2198
Well that works on Shippable, though I am at a loss of to why, since the string with single quotes shouldn't be capturing and injecting the value of the variable $PN.

However the same code fails on Travis, with the error I was expecting to see - `$PN` has not been replaced with `image`.
[code]

I had hoped it would work for both Travis and Shippable with one of these
[code]

But of course it does

[2016-01-14 14:50] iivvoo commented on #2202
Even a job (5697a5d19188220d00735434) that previously succeeded (last month) now hangs in the same way. The test framework might open sockets for http connection locally, could there have been a change there perhaps?

[2016-01-14 15:12] iivvoo commented on #2202
I can reproduce this locally. Some updated dependency is causing this. Most likely not a shippable issue.

[2016-01-14 15:12] #2202 closed

[2016-01-14 17:14] trriplejay commented on #2204
@cratz It won't break that scenario.  Basically, during deployment, we will check if the load balancer has a listener with an 'instance port' that matches the 'host port' of your exposed container.  If it does not, then we will add that listener based on your settings.

This is OK, because if the load balancer did not contain a listener with that instance port, ECS would have failed the deployment

[2016-01-14 17:20] manish-sangani opened #2208 "build started failing: ssh-agent command not found"
Hi,

all of sudden my builds started failing.
It throws an error below when trying git_sync

/root/3a76c3c6-f700-4285-b453-ad300c1ceacb.sh: line 84: ssh-agent: command not found

Please help as we are stuck.

Thanks

[2016-01-14 17:31] ric03uec commented on #2208
@manish-sangani can you provide us with the build id(or project id) for which this is happening

[2016-01-14 17:33] manishas commented on #2208
@ric03uec project id is 565cb94c1895ca447424fe77

[2016-01-14 18:06] manish-sangani commented on #2208
where do i find build id?

[2016-01-14 18:33] manish-sangani commented on #2208
I found it...
Here is the project id 565cb94b1895ca447424fe75

[2016-01-14 18:34] manish-sangani commented on #2208
Build id given by manishas is correct.

[2016-01-14 18:40] manish-sangani commented on #2208
@manishas , @ric03uec
Latest build failed - 5697eae19188220d00817c5c

[2016-01-14 18:44] ric03uecS commented on #2208
@manish-sangani can you verify if the image you're running the builds on has `ssh-agent` installed. I didn't find any ssh agent installation logs in docker build.
 Shippable images have it installed by default so the commands work as expected.

[2016-01-14 18:51] manish-sangani commented on #2208
@ric03uec
I ran so many builds without adding ssh-agent.
Is there anything changed in shippable?

I do see the Docker configuration section is changed.

[2016-01-14 19:20] ric03uec commented on #2208
my observations from the build history for the project `565cb94c1895ca447424fe77`
- up till build number 67, the project was using `shippable/minv2` which has ssh-agent installed
- build 69 did a pre-ci docker build which passed. For pre-ci builds, we clone the repo outside the container, use the `Dockerfile` in the repo to build the image and then run the build by mounting the code inside the ima

[2016-01-14 21:57] manish-sangani commented on #2208
ok, I used shippable image as a base image and it worked.

Thanks

[2016-01-14 21:57] #2208 closed

[2016-01-14 21:59] manish-sangani opened #2209 "Formation - does not pickup the latest image from dockerhub"
Hi
I have configured Formation service to pull a docker image from docker hub but when creating a new image, I don't see the latest image available from Dockerhub.

What could have I done wrong?

Fromation service id - 568fe12c4676f20f004c9057

Please let me know.

Thanks

[2016-01-14 22:04] trriplejay commented on #2209
Do you build the image from Shippable CI? if so, make sure your "Lighthouse Notifications" section is set to "on".  If not, then you'll need to click the "sync" button in order to fetch the latest tags for that image.

[2016-01-14 22:05] manish-sangani commented on #2209
@trriplejay - Yes I build the image from shippable CI and Lighthouse Notifications is on.
When I do sync, it still brings up the list of image which is 22 days old and some of them do not even exist.

Thanks

[2016-01-14 22:35] manish-sangani commented on #2209
Is there anything I am missing here?
Can you assist me to resolve the issue?

Thanks

[2016-01-14 22:40] trriplejay commented on #2209
It looks like a bug on our end.  We've got an issue opened to resolve it.  In the meantime, I should be able to fix your particular case shortly.  I'll update again when I've resolved your particular case.

[2016-01-14 22:51] trriplejay commented on #2209
@manish-sangani Your service should be fixed now.

[2016-01-14 22:52] trriplejay commented on #2209
This bug can still happen if you delete tags from docker hub, but I'll update this issue again when our fix for that bug is released.

[2016-01-15 00:14] manish-sangani commented on #2209
Thanks, I will check and let you know by tomorrow.

Manish
On Jan 14, 2016, at 5:52 PM, John Stockbauer <notifications@github.com<mailto:notifications@github.com>> wrote:

This bug can still happen if you delete tags from docker hub, but I'll update this issue again when our fix for that bug is released.

—
Reply to this email directly or view it on GitHub<https://github.com/Shippable/support/issu

[2016-01-15 00:57] rsteckler commented on #2205
Ok.  I'm much further along now.  There's a bunch of things I had to change in the Dockerfile, Dockerrun.aws.json, and the project settings.

I'm getting a new error now in the build console:
[code]

...but at least I'm getting an error so I can go take a look.  For the Shippable team, I'd recommend two things:
1)  The documentation doesn't match the UI anymore with regards to Docker builds.  Ther

[2016-01-15 01:33] rsteckler commented on #2205
K.  The SignatureDoesNotMatch error was due to something in the AWS key I setup with Shippable.  Simply creating a new key worked.  According to some issues at the aws-cli, + signs can be urlencoded incorrectly in requests, causing this error.  I just created some new keys until I got one that didn't have any pluses, slashes, etc.  Now the build is succeeding.

...but the AWS EBS event log has an

[2016-01-15 02:35] trriplejay commented on #2209
The issue should now be resolved.

[2016-01-15 04:09] rsteckler commented on #2205
Woo!  Finally got it.  Closing this, but hopefully the journey helps someone else in the future.

[2016-01-15 04:09] #2205 closed

[2016-01-15 09:12] cratz commented on #2204
@trriplejay
Thanks for clarification!!!
I thought you would check the whole LB configuration including Protocol, etc.

[2016-01-15 13:31] mspanc opened #2210 "Is it possible to run build matrix using different images?"
Hello,

I develop an app that is a native C app for linux.

I need to ensure that it compiles and works on several supported ubuntu & debian releases.

Is there any option or hack that allows me to trigger build of the same commit using different build images? All of them are all located at docker hub.

[2016-01-15 13:33] mspanc commented on #2157
I guess you have to use external service, such as Mandrill.

[2016-01-15 18:51] abhijitkini commented on #2173
@gohanman Can you confirm if you were able to delete the project?

[2016-01-15 19:04] gohanman commented on #2173
@abhijitkini It does appear to have deleted now; just took the web UI a little while to catch up.

[2016-01-15 19:10] abhijitkini commented on #2175
Do you have shippable_retry included in the yml?
If the issue continues, please respond with your BuildID.

[2016-01-15 19:17] manish-sangani commented on #2209
Thanks

[2016-01-15 19:17] #2209 closed

[2016-01-15 19:19] manish-sangani opened #2211 "Formation - Service is running using AWS - EC2"
Hi,

I have created a service in Formation using AWS.  I successfully deployed docker image to a a cluster but when I hit the url it times out.

What could be the issue?

Service id - 568fe12c4676f20f004c9057

[2016-01-15 19:32] abhijitkini commented on #2179
Were you able to set the previous step - Deploy integration to AWS successfully?
Can you also include a screenshot?

Here are step-wise instructions for your reference: http://blog.shippable.com/shippable-continuous-delivery-to-amazon-ec2-container-services-0

[2016-01-15 19:39] manish-sangani commented on #2179
Yes, I followed that artcle.
Here is the screenshot where the service is running.

But when I click on the external link it timesout.

[cid:image001.png@01D14FA2.767B8DC0]

Thank you,
Manish Sangani | Technical Lead
P: 212.235.5324
manish.sangani@prideglobal.com<mailto:manish.sangani@prideglobal.com>
[p_logo]
420 Lexington Avenue, Suite 2220
New York, NY 10170

From: abhijitkini [mailto:notificati

[2016-01-15 19:39] abhijitkini commented on #2173
Great. Thanks for the update.

[2016-01-15 19:52] trriplejay commented on #2179
I see in your service that although you've selected a load balancer, you have not checked the "load balanced" box next to the port that you'd like to expose.  Try checking that box, followed by a "deploy", and then your link should correctly route to your service.

[2016-01-15 19:55] #2173 closed

[2016-01-15 20:00] manish-sangani commented on #2179
As soon as I select the box, I get deployment failed error message.
I was wondering where can I see the logs so that I can determine why it failed.

Thank you,
Manish Sangani | Technical Lead
P: 212.235.5324
manish.sangani@prideglobal.com<mailto:manish.sangani@prideglobal.com>
[p_logo]
420 Lexington Avenue, Suite 2220
New York, NY 10170

From: John Stockbauer [mailto:notifications@github.com]
Sent

[2016-01-15 20:09] trriplejay commented on #2179
Ah, ok I believe the problem is related to your AWS roles.

In order to deploy an ECS service with a loadbalancer, AWS requires the specification of a "role" that it can use to access both ECS and EC2.  Shippable uses the AWS api to search for a role that meets these requirements.

To meet the requirements, you need to have a role which has a 'trust relationships' tab that looks like this:
![image

[2016-01-15 20:18] manish-sangani commented on #2179
I followed the outline steps but still the deployment failed.

[cid:image001.png@01D14FA7.E9EDBEE0]

Thank you,
Manish Sangani | Technical Lead
P: 212.235.5324
manish.sangani@prideglobal.com<mailto:manish.sangani@prideglobal.com>
[p_logo]
420 Lexington Avenue, Suite 2220
New York, NY 10170

From: John Stockbauer [mailto:notifications@github.com]
Sent: Friday, January 15, 2016 3:10 PM
To: Shippable

[2016-01-15 20:27] trriplejay commented on #2179
hmm, The error is slightly different now, but it still seems to be related to your AWS permissions:

Here's the actual response from AWS:
[code]

Is your role attached to a policy that allows ec2, ecs, and elasticloadbalancing?
When I look at my role, I have an 'attached policy'.  And if I look at this policy, it has a policy document that contains the following settings:
[code]
I'm not an expert

[2016-01-15 20:55] manish-sangani commented on #2179
I was able to deploy service by adding a policy.
However, my website displays blank page.

Can you send the error logs or whatever from your end so that I can troubleshoot?

Thank you,
Manish Sangani | Technical Lead
P: 212.235.5324
manish.sangani@prideglobal.com<mailto:manish.sangani@prideglobal.com>
[p_logo]
420 Lexington Avenue, Suite 2220
New York, NY 10170

From: John Stockbauer [mailto:notif

[2016-01-15 22:12] abhijitkini commented on #2191
Please use the latest step-wise instructions for the end to end workflow.
http://blog.shippable.com/shippable-continuous-delivery-to-amazon-ec2-container-services-0

[2016-01-15 22:17] akamalov commented on #2191
Thank you! I will give it a shot!

Alex

On Fri, Jan 15, 2016 at 5:12 PM, abhijitkini <notifications@github.com>
wrote:

[2016-01-15 22:29] abhijitkini commented on #2191
@akamalov here is an even more relevant one, directly related to deploying containers to Elastic Beanstalk
http://blog.shippable.com/deploying-containers-to-elastic-beanstalk-the-shippable-way.

Let us know if you continue to see an issue.

[2016-01-15 22:31] akamalov commented on #2191
Thanks a ton!!!

Alex

On Fri, Jan 15, 2016 at 5:29 PM, abhijitkini <notifications@github.com>
wrote:

[2016-01-15 22:42] akamalov commented on #2191
I think I did follow this guide to deploy sample "radar-www2" app when I
encountered the error. It just wouldn't deploy. Builds it find but when it
comes to deploying, nothing gets pushed out.

On Fri, Jan 15, 2016 at 5:29 PM, abhijitkini <notifications@github.com>
wrote:

[2016-01-16 00:47] trriplejay commented on #2179
Well, at this point, the deploy was successful which means that Amazon ECS fully accepted the task definition and service update.  If you can't access your service, my guess is that there is something misconfigured in AWS.

On your services status page, try checking the "events" tab.  This is a list of events that we pull directly from amazon ECS, and it might give you some clue as to what the pro

[2016-01-16 01:12] abhijitkini commented on #2191
@akamalov Could you double check the Docker Options settings & compare it to the settings shown in http://blog.shippable.com/deploying-containers-to-elastic-beanstalk-the-shippable-way.

You will also need to complete Step 3: Create Dockerrun.aws.json

[2016-01-16 17:11] rsteckler commented on #2156
Same here.  The fix would be to zip up the Dockerrun.aws.json file along with the .ebextensions folder and use that to deploy the beanstalk application.
Does anyone know another way to configure the Docker host (apart from a custom AMI)?

[2016-01-16 17:43] realAkhmed opened #2212 "Pre-CI Dockerbuild builds an image but still a timeout"
Trying out Shippable and it looks like I am missing something.

I am using a Pre-CI Dockerbuild and building a custom Docker image just for testing purposes. The image is not to be deployed anywhere.

https://app.shippable.com/builds/5699f0d49188220d00ba394b

The Docker image is built correctly, however, Shippable does not detect that the docker build is complete. It waits for couple hours until i

[2016-01-16 19:05] manishas commented on #2156
We're working on a fix for this. I'll update as soon as it is available.

[2016-01-16 21:26] rtatavarty opened #2213 "Play 2.4.x/Scala 2.11.7 Build fails to locate views package"
The build https://app.shippable.com/builds/569ab12f5262290f00c72d13 failed with compiler error on Shippable where as it works without issues elsewhere (heroku/local). Did not include any tests/scripts yet.

Not sure if I need to include anything else **shippable.yml**:
[code]

Errors:
[code]
Thanks!

[2016-01-17 07:24] pwalsh opened #2214 "Private Python-based repository consistently fails on pip install"
I have a private GitHub repository that always fails on install with:

[code]

The file exists. The shippable.yaml is:

[code]

I use the exact same setup on another [public repo](https://github.com/okfn/goodtables/blob/master/shippable.yaml) and it works fine.

For shippable support: the project number is: `54b9035d5ab6cc135288d36f `

[2016-01-17 22:26] rtatavarty commented on #2213
Looks like a template naming issue between sbt/activator. `login.html.scala` generates `views.html/login.template.scala` in activator but `views.html/logIn.template.scala` with `sbt compile`.

Thanks!

[2016-01-17 22:26] #2213 closed

[2016-01-18 06:40] vidyar commented on #2194
Not getting  image modified emails after running PR builds in prod now. Hence closing this issue.

[2016-01-18 06:40] #2194 closed

[2016-01-18 06:42] vidyar commented on #2067
Closing this issue as it doesn't seem to be happening in prod now.

[2016-01-18 06:42] #2067 closed

[2016-01-18 08:34] abhinavashippable commented on #2198
Use travis_retry octave -q --eval "\" pkg install -forge $PN \" ";
It works in both Shippable and Travis.

[2016-01-18 11:03] mbrodala commented on #2086
Small update: by droping the last line we can at least get rid of [the PHP warning](https://github.com/Shippable/support/issues/2086#issuecomment-163922443). Apparently the extension loading is already part of the default PHP configuration.

[2016-01-18 11:30] manishas opened #2215 "Billing page bugs"
Once I buy a plan, if i go back to the billing page, i only see the following -
![screen shot 2016-01-18 at 3 15 39 am](https://cloud.githubusercontent.com/assets/2983749/12390119/270db2f0-bd92-11e5-8300-05be760ea8a5.png)

-  There is no way to change the card associated with a CI subscription without changing the number of minions.
- There is no way to update billing email without changing number

[2016-01-18 13:49] mbrodala opened #2216 "SNI not working with Composer"
Currently [some](https://app.shippable.com/builds/569cea6011bbb80c00493a5e) of our builds fail with the following error:

[code]

It seems like the [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication) is not working in the Shippable build environment. Can you please check what is necessary here?

[2016-01-18 14:55] scottclowe commented on #174
+1

[2016-01-18 15:14] sdwarak commented on #1799
+1

[2016-01-18 18:19] trriplejay commented on #2211
Hello,

Based on your event list (the 'events' tab, next to 'history' on the formationService status page) it looks to me like your EC2 instances are not correctly configured to be associated with your ECS cluster.

I recommend having a look at this page:
[http://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_container_instance.html] (http://docs.aws.amazon.com/AmazonECS/latest/develop

[2016-01-18 18:32] abhijitkini commented on #2214
By default, we will only ask for access to public repos. If you want to use Shippable to build your private repos, you will need to authorize us for private repositories. Could you check the account settings for private repos?

Here is a document for your reference: http://docs.shippable.com/account_settings/

[2016-01-18 18:36] manishas commented on #2214
@pwalsh i think @abhijitkini misunderstood. You do have private repos turned on.

We'll look into this problem and get back to you.

[2016-01-18 18:37] pwalsh commented on #2214
@manishas yes, please.

[2016-01-18 18:53] manishas commented on #2214
@pwalsh you're using a custom image for the private repo build. can you send me a screenshot of your project settings for docker options to manisha@shippable.com?

[2016-01-18 19:09] manishas commented on #2214
@pwalsh also your Dockerfile for the image you're building will be helpful to debug further.

 We expect that your Dockerfile will copy your source repository into the new image and the ```Source location``` field in Project settings->Docker options should be the directory to which it was copied.

[2016-01-18 19:14] manishas commented on #2210
currently, a single image has to be used for all builds in a matrix. We're in the process of making the yml much more powerful and this is something we will address in an upcoming update soon.

[2016-01-18 19:19] pwalsh commented on #2214
Ah, so the last point is it: I have no configured a source location via the shippable UI.

[2016-01-18 19:24] #2214 closed

[2016-01-18 19:55] realAkhmed commented on #2212
Tried the solution based on the procedure described in #2040 with switching back and forth between "Multi-Tenant" and "Single Tenant" subscription plan.

**No luck**

[2016-01-18 22:44] scottclowe commented on #2198
The command `travis_retry octave -q --eval "\" pkg install -forge $PN \" ";` passes on [Shippable](https://app.shippable.com/builds/569d370ddbbd510d009e9d92), but fails on [Travis](https://travis-ci.org/scottclowe/matlab-continuous-integration/builds/103177917).

On Travis, instead of having `octave` actually run the command, it just spits out the text which constitutes the command:
[code]
which I

[2016-01-19 12:23] mbrodala commented on #2207
Small update: we can enforce color output for Symfony console apps via `--ansi` and for PHPUnit with `--colors=always` (or `<colors>always</colors>` in `phpunit.xml`).

[2016-01-19 17:31] lmvalenzuela opened #2217 "Can't see any option at CI's menu"
I've tried using 3 different browsers (Chrome, Firefox and Safari) and can't pick any option from de CI menu.
![captura de pantalla 2016-01-19 a las 11 29 54](https://cloud.githubusercontent.com/assets/15267361/12426615/2e3b1c0c-bea0-11e5-9ed1-efd4418276e4.png)

[2016-01-19 17:37] trriplejay commented on #2217
Try going to the 'account settings' page and clicking the 'sync' button under 'account information'
https://app.shippable.com/accountSettings

[2016-01-19 17:38] trriplejay commented on #2217
also, we only sync public repos by default for Github.  If you want to see private repos, you'll have to click 'enable' button for private access on that same account settings page. in the 'Git identities' section.

[2016-01-19 17:41] lmvalenzuela commented on #2217
Already done it and still don’t see anything. Even I granted access to my organization repos at github.
Regards.

Luis Miguel Valenzuela Arteaga
IT & Infraestructure

T 5250.8088 ext. 812 / M 044.55.6612.5008
Shakespeare #30 Piso 8, Col. Anzures, México D.F.
ktcagency.com <http://www.ktcagency.com/?utm_source=Firma_ktc&utm_medium=Email&utm_campaign=ktcagency>    -    thoughts.ktcagency.com <http:/

[2016-01-19 17:48] trriplejay commented on #2217
Your projects should be available now.  I think your account needed to be sync'ed again after you enabled the private scope.  We should probably be doing this automatically, but it looks like we aren't at this time.

[2016-01-19 17:51] lmvalenzuela commented on #2217
Corrected !
Thanks

Luis Miguel Valenzuela Arteaga
IT & Infraestructure

T 5250.8088 ext. 812 / M 044.55.6612.5008
Shakespeare #30 Piso 8, Col. Anzures, México D.F.
ktcagency.com <http://www.ktcagency.com/?utm_source=Firma_ktc&utm_medium=Email&utm_campaign=ktcagency>    -    thoughts.ktcagency.com <http://thoughts.ktcagency.com/?utm_source=Firma_ktc&utm_medium=Email&utm_campaign=thoughts>

Ya está

[2016-01-20 07:42] vidyar commented on #2201
Closing this issue as it is working in prod now.

[2016-01-20 07:42] #2201 closed

[2016-01-20 14:01] koryonik commented on #2022
:+1: thanks

[2016-01-20 18:36] robby-phd opened #2218 "Builds failing due to IO issues"
Somehow my builds that use a custom Docker image started failing today due to IO issues.
The first failing build is: https://app.shippable.com/builds/569fb0a0bcc57e0d008185f6
It was working fine the day before: https://app.shippable.com/builds/569e659cdbbd510d00c377ec
I tried clearing the container cache and created a new Docker image but to no avail.

[2016-01-20 19:53] robby-phd commented on #2218
I disabled caching and it seems to be working again: https://app.shippable.com/builds/569fe1ba316dcf0c00212eb6
Not sure it's works now because of that.

[2016-01-21 02:39] olegsinyavskiy commented on #2217
The same issue. Every new sync in account settings added something. But I had to synchronize 4 times before I saw the project I wanted.

[2016-01-21 05:58] pranaypareek commented on #2196
@phagunbaya please re-open if you're still facing the problem. Thanks for reaching out!

[2016-01-21 05:58] #2196 closed

[2016-01-21 09:18] mspanc opened #2219 "Build ID 0 stuck in my status page"
It's nothing that prevents shippable from using but build with ID 0 (added initially after syncing empty repo) is stuck in my status page.

Subscription ID: 569a6b151895ca44746ffea2

![zrzut ekranu 2016-01-21 o 10 15 59](https://cloud.githubusercontent.com/assets/389651/12476250/4ef26688-c028-11e5-9c0c-01912ccca90a.png)

[2016-01-21 09:47] cratz commented on #2219
I have the same issue with one of my projects when I visit the CI-page of the organization and the project is not visible at all on the home page within the `Continuous Integration` section.

Subscription ID `56406c941895ca4474230170`

[2016-01-21 11:50] himanshu0503 opened #2220 "Unable to initialize a single tenant node because git is not installed"
![selection_036](https://cloud.githubusercontent.com/assets/2168263/12479733/34211aa8-c063-11e5-8dfc-55818f1cc6d8.png)

[2016-01-21 14:29] rageshkrishna commented on #2220
Looks like the install didn't complete, similar to what @ttrahan saw a few days ago.

[2016-01-21 15:31] copyhawk opened #2221 "Builds timing out"
Most of my builds lately seem to be timing out. Is there any setting I'm forgetting or getting wrong?

Last Build: https://app.shippable.com/builds/569fa6646110700c009af44e

[2016-01-21 20:00] realAkhmed commented on #2221
If this is a Dockerbuild then I am experiencing a similar issue #2212

[2016-01-21 20:17] trriplejay commented on #2221
@copyhawk based on your logs for the build you linked, it looks like some error in your test is causing your script to wait.  If you look at the timestamps, the script retries something every 5 minutes or so.  Eventually you hit shippable's timeout limit and we stop the build.

[2016-01-21 20:18] trriplejay commented on #2212
It looks like the build step isn't finishing.  How long does it usually take your image to build? could one of the steps be getting stuck? The last step I see in the logs is Step 28, is that the final step?

[2016-01-21 21:27] realAkhmed commented on #2212
@trriplejay Yes, step 28 is the last step. This is the last line of the Dockerfile. Based on the logs step 28 succeeds and finishes correctly.

Some extra information: if there is any errors during Dockerbuild: those seem to be detected correctly: https://app.shippable.com/builds/569eb345ad224e0c000dcb1c

It is the success that is not detected.

[2016-01-22 02:48] robby-phd commented on #2218
Reopening this issue because caching is not the issue as my builds are failing again (e.g., https://app.shippable.com/builds/56a10ca56110700c00d43e85 and https://app.shippable.com/builds/56a18dba6110700c00edd6ad).

[2016-01-22 03:04] rageshkrishna commented on #2218
I'm not an sbt expert by any stretch of the imagination, but this might be a problem in sbt itself: https://github.com/sbt/sbt/issues/2156

[2016-01-22 03:27] robby-phd commented on #2218
Thanks for the response and the pointer. It does look like a problem in Sbt (or a Sbt plugin that the build uses). It's interesting that it never happens in my local build. At any rate, I'm closing this again since this does not seem to be shippable's issue (sorry for the noise).

[2016-01-22 03:27] #2218 closed

[2016-01-22 06:05] manishas commented on #2217
@rageshkrishna can we get this fixed asap? Looks like this is affecting new accounts and customers cannot see their subscriptions until they force sync the account.

[2016-01-22 06:17] rageshkrishna commented on #2217
We're on it. I think we'll have a fix deployed very soon.

[2016-01-22 07:36] eyecatchup commented on #2216
@mbrodala Are you sure it is related to the Shippable build environment? We experience the exact same issue for all our project builds since yesterday evening. And we are _not_ in a Shippable build environment. Don't you think this issue is rather related to TYPO3?

[2016-01-22 08:14] mbrodala commented on #2216
@eyecatchup Your suggestion seems correct, I just found [this issue in Composer](https://github.com/composer/composer/issues/4782) which talks about this. They have worked around the problem for `github.com` but it still affects other hosts. (See the [current implementation](https://github.com/composer/composer/blob/546730dcf3da4d2689664116c0639655aa428b6b/src/Composer/Util/RemoteFilesystem.php#L5

[2016-01-22 08:14] #2216 closed

[2016-01-22 09:12] eyecatchup commented on #2216
@mbrodala FYI: We "solved" this for now by rolling back to composer version `2015-03-25_14-32-49-8cfd48c`.

[2016-01-22 09:44] mbrodala commented on #2216
@eyecatchup Thanks for the info. I don't see a related change in that or its directly following commits. Did you find the commit which broke this?

[2016-01-22 09:56] eyecatchup commented on #2216
@mbrodala Sorry, we didn't checked the commits. We just rolled back to this specific version since it was the version that was running on our Jenkins before we self-updated yesterday.

[2016-01-22 11:57] amalfra opened #2222 "UI bugs in CI and Formationservice pages"
* When I click on summary tab for CI subscription with no projects enabled.
![selection_002](https://cloud.githubusercontent.com/assets/4033256/12510029/d4e36792-c12c-11e5-98b7-4a2e0b5906c3.png)

* Formationservice status page shows pagination button even when no history is available.
![selection_001](https://cloud.githubusercontent.com/assets/4033256/12510053/f847d7ea-c12c-11e5-99e9-f5dab36a1c95.

[2016-01-22 12:35] BenjaminBeck commented on #2216
Same here. To execute "php ./composer.phar create-project typo3/cms-base-distribution CmsBaseDistribution62 6.2.x-dev" i used a older composer.phar. The error message with the current release was:
[code]

[2016-01-22 19:50] copyhawk commented on #2221
@trriplejay thanks for the help. Just notices a bug was introduced that was causing this long wait.

[2016-01-22 19:50] #2221 closed

[2016-01-23 18:13] jbowman1107 opened #2223 "ImportError: cannot import name PolymorphicModel"
With no changes to our branches, we are now getting the following error in the Script. None of our branches can currently build due to this.

/home/shippable/build_ve/python/2.7/local/lib/python2.7/site-packages/dotenv.py:53: UserWarning: Not reading .env - it doesn't exist.
  warnings.warn("Not reading {0} - it doesn't exist.".format(dotenv))
DEBUG 2016-01-23 11:55:16,970 base 20043 1405491046991

[2016-01-23 20:26] hip911 opened #2224 "Not able to set exposed port on container"
Hi

I am playing around with the 'Formation' feature. When I select an image within my service, I'm unable to set the 'host port'.
The format expected is strictly a single 'int', not an 'int:int' combination.

When entering a number,it sets the container port,but the host port will be random. How can I set the exposed port to fixed?

[2016-01-24 01:18] avinci commented on #2224
We currently pick a random port on the host so that when you run multiple containers on the host, there is no conflict. This is displayed in the routing information as to which host we picked. Does that help?

[2016-01-24 01:19] avinci commented on #2217
@spsiddarthan i think this is fixed. Please post a comment when you change labels..so that everyone is updated.

[2016-01-25 05:11] spsiddarthan commented on #2217
@avinci, Will do. This is fixed and will be available in the next deployment.

[2016-01-25 08:02] russel commented on #2217
I am not sure if this is the same issue as this one or whether another issue needs to be raised.

I just set up an account and connected to BitBucket, but only my private repository shows when trying to set up CI. The CI I want is on a public repository. Have I just missed a setting?

[2016-01-25 10:52] battuashwik opened #2225 "Environment Variables not getting picked for using with code deploy"
Uploaded a screenshot of the build and my yaml file. the ********************* are my access Id and keys

<img width="989" alt="screen shot 2016-01-25 at 2 47 10 am" src="https://cloud.githubusercontent.com/assets/944924/12548889/4ecd5832-c30e-11e5-8b9e-f130e53660a0.png">
<img width="949" alt="screen shot 2016-01-25 at 2 50 51 am" src="https://cloud.githubusercontent.com/assets/944924/12548931/918

[2016-01-25 18:15] trriplejay commented on #2212
It looks to me like your build is actually timing out before the docker-build finishes.  It looks like it finishes because in the event of a timeout the active command in the script will still finish, but anything that comes after it will not execute.

If the speed of the internet connection is the main limiting factor in your build, then I'd say that's likely the limiting factor on Shippable as w

[2016-01-25 23:52] realAkhmed commented on #2212
@trriplejay Unfortunately, I am pretty confident that docker build finishes first and the successful build is just not being detected for one reason or another.

It definitely looks like a bug the more I learn about it

- I monitored the Dockerbuild multiple times in real time -- it is finished within 30 minutes and is just literally hanging there for 1 hour 30 minutes more until it time outs.

[2016-01-26 01:23] trriplejay commented on #2224
@hip911 if you want to set your own custom port for accessing your service, one solution is to create a load balancer on AWS and link it to your service in Shippable.  Once you have selected the load balancer in Shippable, you can customize the port number that the load balancer exposes.

[2016-01-26 02:28] battuashwik commented on #2225
Can u guys help me with this issue. Last integration for me to go ahead with the subscription

[2016-01-26 02:59] rageshkrishna commented on #2225
Hi @battuashwik! The problem is the way your env's are defined in the YML file. The way you have defined it results in a matrix build, with each build having just one line of the env's in your YML file. To get what you need, please change your YML file to use the `global` setting, like this:

[code]

[2016-01-26 04:45] battuashwik commented on #2225
Thanks a lot. It works.

[2016-01-26 04:57] rageshkrishna commented on #2225
Good to know. I'll close this issue now.

[2016-01-26 04:57] #2225 closed

[2016-01-26 18:09] DavidGDragon commented on #2215
I noticed that you can't see you invoices unless you click 'update plan' and thought that was confusing. Was this intended?

[2016-01-26 18:39] manishas commented on #2215
no, not intended. if a user has invoices they should always see them.

[2016-01-27 04:19] amalfra commented on #2215
Okay. Would fix it now.

[2016-01-27 04:55] amalfra commented on #2215
Bug has been fixed. Now invoices and delete subscription in formation billing are always shown.

[2016-01-27 06:56] manishas commented on #2204
@trriplejay should this be closed?

[2016-01-27 06:57] manishas commented on #2193
closing.

[2016-01-27 06:57] #2193 closed

[2016-01-27 15:37] himanshu0503test commented on #2164
@chriskinsman : Can you please try running the command as root user?

[2016-01-27 16:31] spsiddarthan commented on #2217
@russel, Could you please try syncing your account from the account settings page and see if all the repositories you want to see show up?

[2016-01-27 16:41] cratz commented on #2219
@manishas any news on this topic?
Thanks!

btw. Have you ever been thinking about using [Gitter](https://gitter.im/) as a support channel?

[2016-01-27 18:30] trriplejay commented on #2204
yes, this functionality is in production now. closing.

[2016-01-27 18:30] #2204 closed

[2016-01-29 07:34] sheldon-sminq opened #2226 "Large number of build timeouts since yesterday"
https://app.shippable.com/builds/56ab08a829231c0c0057da51
https://app.shippable.com/builds/56ab08a8616ce50c00f223c0
https://app.shippable.com/builds/56aacd30b209670d00185e09
https://app.shippable.com/builds/56aacd2fe2dce70c0088b177
https://app.shippable.com/builds/56aa55c2e2dce70c005e9e17
https://app.shippable.com/builds/56aa2508616ce50c00a1b783
https://app.shippable.com/builds/56aa2508b209670d00d

[2016-01-29 07:37] sheldon-sminq commented on #2226
Unable to download any of the logs to debug further too

[2016-01-29 07:59] BeoTCN opened #2227 "Not able to billing tab to change the plan and change number of containers."
Tried to follow the steps below after adding a credit card to my subscription, but I don't see any Billing tab.
-----------------
To purchase additional containers for Shippable CI:
•Click on CI on the Shippable Landing page
•Click on your CI Subscription in the dropdown
•Go to the Billing tab
•Make sure your plan is set to Multi-Tenant CI
•Use the slider to select the number of containers you wan

[2016-01-29 08:44] sheldon-sminq commented on #2226
After disabling the test suite and resetting minion the build succeeded.

[2016-01-29 09:14] rageshkrishna commented on #2227
@BeoTCN Yes, only team owners can access the billing tab.

[2016-01-29 12:07] sheldon-sminq commented on #2226
So the issue seems to be with automated unit/integration tests. Can you please get this sorted ASAP!

[2016-01-31 06:01] KnowRe commented on #2156
Is there any schedule for this? This is quite critical and we'll have to consider different deployment structure if this is not working.

[2016-02-01 06:33] sheldon-sminq commented on #2226
Any update on this?

[2016-02-01 06:40] manishas commented on #2226
I'll ask someone to look into this. Sorry for the delay.

[2016-02-01 07:09] #2227 closed

[2016-02-01 08:25] jeppefrandsen opened #2228 "Access to testresults and codecoverage folder from Docker container"
Is it possible to access the shippable/testresults and shippable/codecoverage from within a Docker container? I would like to build and run the unit tests within the docker container and copy the output to the respective folders. Thanks

[2016-02-01 16:09] mspanc opened #2229 "Random Could not parse object errors"
Recently I started to get the following errors in the git_sync phase. They happen randomly on multiple repositories. Usually next commit works fine.

[code]

[2016-02-01 16:12] cratz opened #2230 "Occasionally "cancel build" is not working"
After clicking "cancel" on a specific build the throbber appears and nothing happens.
I got this JS error:

[code]

[2016-02-01 16:26] cratz commented on #2228
@jeppefrandsen yes this is possible. Check out this http://docs.shippable.com/languages/

I use it like this:
in shippable.yml
[code]
Codecoverage folder config is somewhere else

And in my Dockerfile:
[code]

[2016-02-01 16:46] jeppefrandsen commented on #2228
@cratz Thanks. This is for copying the buildoutput content to the Docker image right? Is it also possible to copy from within the Docker container to the shippable/buildoutput folder?

[2016-02-01 17:03] cratz commented on #2228
@jeppefrandsen yes this is to copy buildoutput (build-artifacts) in to the Docker image.
Sorry I don't get your point :(

My current setup is this:
- I use shippable's default image to build the job and run tests (can't use my custom image because of reasons ;) )
- this generates testresults, codecoverage and buildoutput (build-artifacts)
- and copies this stuff to the "shippable/" folder
- Than I

[2016-02-01 17:56] trriplejay commented on #2156
This feature should now be available.  If your source contains a .ebextensions directory, the directory should be appropriately packaged and uploaded to s3, rather than just the Dockerrun by itself.

[2016-02-01 18:09] trriplejay commented on #2229
One possibility is that the commit was amended before the build started.

When a webhook is triggered, we use the commit sha from the hook body.  When a commit is amended, a new sha is created for it, replacing the old one.  If your webhook build was waiting in a queue for any length of time, it is possible that the sha changed before the build ran, so that when the build eventually tried to pull

[2016-02-01 18:52] mspanc commented on #2229
I do not amend commits. It can't be this reason.

[2016-02-01 19:14] jeppefrandsen commented on #2228
@cratz Thank you very much for the info. I have changed to use pre CI flow and do the commands in the shippable.yml file instead and now it works.

[2016-02-01 19:14] #2228 closed

[2016-02-02 06:57] martijnpolder opened #2231 "PHP: vendor directory missing from deployed zip [question]"
I would like to build the project on Shippable and then deploy it to AWS EB, without having composer rebuild the dependencies after deployment. I can see in the Shippable build logs that the dependencies are retrieved successfully, but I notice that the ZIP files placed on S3 by Shippable do not contain the vendor directory.
Are my assumptions about the process incorrect, or did I misconfigure som

[2016-02-02 12:26] mbrodala commented on #2231
Did you copy all necessary files to `shippable/buildoutput`? See [docs](http://docs.shippable.com/docker_build/#copying-artifacts-to-prod-image) (the directory is created automatically contrary to what the docs imply.)

[2016-02-02 12:58] martijnpolder commented on #2231
Thanks for your feedback!
No, I'm not using Docker for our Laravel apps, currently just the CI + deployment through AWS EB. I don't copy anything myself. It appears that this is not needed, as Shippable does create a ZIP file containing the source code of my application, which is placed on S3, According to the eb-activity.log, the ZIP is succesfully retrieved and extracted on the EC2 instance of t

[2016-02-02 21:23] ahueniken opened #2232 "Failed to POST accountIntegration"
Similar to: https://github.com/Shippable/support/issues/2099

I revoked shippable's oauth token from bitbucket & deleted the ssh key because we were having errors trying to connect / enable a 2nd repository, and I thought starting from scratch may work.

Now after granting access to bitbucket and trying to login we get this error:

![screen shot 2016-02-02 at 4 20 30 pm](https://cloud.githubuserco

[2016-02-02 21:40] trriplejay commented on #2232
Can you try once more?  The problem should be corrected now.

[2016-02-02 22:45] jessestuart commented on #2230
Getting the same thing here, as well as an Angular infinite digest error (`Error: [$rootScope:infdig]`). We're currently unable to cancel any builds as far as I can tell.

[2016-02-02 23:14] micahherstand opened #2233 "Excessive build times (40 minutes or over an hour) have become the norm"
Any idea how we could speed up our build times? Right now, 40 minutes is average (e.g. https://app.shippable.com/builds/56b0fa8b512b1f0d00a88232), and 2 hours is not uncommon (e.g. https://app.shippable.com/builds/56b0f826512b1f0d00a7e6b4).

![image](https://cloud.githubusercontent.com/assets/950515/12767666/88302b06-c9d8-11e5-9f3f-8bb6c625af4c.png)
![image](https://cloud.githubusercontent.com/ass

[2016-02-02 23:40] ahueniken commented on #2232
Yep it's working now :)

[2016-02-02 23:43] #2232 closed

[2016-02-02 23:43] #2224 closed

[2016-02-02 23:48] micahherstand commented on #2233
Solved over email. Gonna hook up our boxes.

[2016-02-02 23:48] #2233 closed

[2016-02-03 11:36] igayoso opened #2234 "Why try to start elasticsearch 3 times?"
Hi,

I'm debugging your way to provision machine before start the test and I saw that you try to start 3 times elasticsearch with an echo after start telling that was problem during starting but you don't check if the start was correct or not:

[code]

I re-check in your docker image (shippable/minv2:latest) and have same results. Is this ok? Is just a workaround?

Thanks!

[2016-02-04 05:35] sushantbajra commented on #2163
@kaspernj , found any solutions? I am stuck on that too ..
`Incorrect MySQL client library version! This gem was compiled for 5.6.15 but the client library is 5.5.40.`

Here is my shippable.yml file

[code]

[2016-02-04 07:14] kaspernj commented on #2163
@sushantbajra Nope. I have tried many things like deleting the project from Shippable and creating it again without any luck. I actually ended up switching this project to Travis, even though I am a paying customer of Shippable :-/

[2016-02-04 12:33] naxmefy commented on #2187
hi - got same problem with ``` image shippable/minv2:latest (id: 63655319ed5c) ```

tried this:

[code]

Results:

* 0.12 could install
* 4.2.2 ``` nvm: install v4.2.2 failed! ```
* 4.2 (-> 4.2.6) ``` nvm: install v4.2.6 failed! ```
* 5.5 (-> 5.5.0) ``` nvm: install v5.5.0 failed! ```

[2016-02-04 15:20] drublic opened #2235 "Cache node_modules with shippable build"
Is it possible to cache `node_modules` (or any other folder) with a Shippable default image?
Currently reinstalling all our modules takes around 5 minutes which is a lot.

It might be interesting to know that we install node in a new version which works without any problem. This seems to be cached. Running `npm install` doesn't seem to add the node modules to some cache.

I would be happy about an

[2016-02-04 17:22] cratz commented on #2235
@drublic We have the same problem and setting `cache: true` in shippable.yml doesn't change anything.
As a workaround you can override default `npm install` [to speed up](https://twitter.com/gavinjoyce/status/691773956144119808) the process at least a bit. We save ~2-3min per build.
[code]

Btw how was it possible for you to install new node version? I tried to set node version in shippable.yml bu

[2016-02-04 19:57] rogierslag opened #2236 "node EXDEV error"
There is an error when installing and deduplicating nodejs package on `npm install`.

The error thrown is `npm ERR! EXDEV: cross-device link not permitted, rename '/root/workspace/src/github.com/inventid/morpheus/node_modules/react-addons-pure-render-mixin' -> '/root/workspace/src/github.com/inventid/morpheus/node_modules/material-ui/node_modules/react-addons-pure-render-mixin'`. According to http

[2016-02-04 21:20] drublic commented on #2235
@cratz

Thanks for the hint regarding npm's progress. Just implemented this and it currently did not improve the build time.

We've a `before_install` hook which does:

[code]

I think the thing that did the trick here was adding the `~/.nvm/versions` folder. We had a problem with this before.

[2016-02-04 21:32] rogierslag commented on #2236
might be related to https://github.com/npm/npm/issues/9863

[2016-02-05 08:37] rvrignaud commented on #1723
Hello @ragsden,
Did you make any progress on this one. This is really annoying for us.

Thanks !

[2016-02-05 09:07] cratz commented on #2235
@drublic
Thanks for the hint regarding how to install a newer node version I will try it out.

Regarding npm I forgot to mention that we had to install the latest version of npm because of another issue.
[code]
But this will be useless in your case since the time you save by disabling progress will be spend by installing latest version of npm except you install node >= 5.x which is shipped with np

[2016-02-05 10:44] rogierslag commented on #2236
Seems like this was related to a cached container which contained an older version of an npm package. This package could not be properly unlinked through Docker using AUFS. The issue above references this. Can be worked around by adding `[reset minion]` to a commit message

[2016-02-05 10:44] #2236 closed

[2016-02-05 11:13] tdaff commented on #45
Just wanted to register that there is still demand for mercurial support (with BitBucket).

[2016-02-05 14:10] cratz commented on #2235
@drublic
I just found this and it looks promising to solve the super slow npm install (not only on CI)
https://medium.com/@bestander_nz/my-node-modules-are-in-git-again-4fb18f5671a

[2016-02-05 14:15] OddEssay opened #2237 "Ruby project has Java code coverage result on one build"
Normally my builds Ruby code coverage comes from SimpleCov, and I only get Sequence Coverage as expected.

On the last build of a branch, I got Branch Coverage: 22.73% and Sequence Coverage: 15.27% which stood out, upon investigation the coverage relates to a bunch of Java:

[code]
No shippable configuration has change, the only new code between this and the many working branches is some changed e

[2016-02-05 15:01] mbrodala commented on #2086
@manishas Do you have some news here, especially wrt the new images?

[2016-02-06 17:04] manishas commented on #2086
@mbrodala the images have been updated with php 5.5 now. can you try again and let me know if it works?

[2016-02-06 23:04] ric03uec commented on #2234
@igayoso we verify whether elasticsearch is running correctly by
  - checking whether a PID file is successfully created or not, and
  - whether easticsearch is successfully listening for connections on its port
If any of these conditions are not satisfied, we try to restart it, which results in the logs you mentioned.
I wouldn't call it a workaround. Its an added safety mechanism to make sure the

[2016-02-07 08:24] clifg commented on #174
+1 on the badge

[2016-02-07 08:31] pwalsh commented on #174
@manishas this issue is around 1 year and 9 months old. That is fine, as obviously there are many priorities. I'd just like to ask: is this something you are actually planning to add? If not, it might be better to state that, and then close this issue.

[2016-02-08 11:50] mbrodala commented on #2086
@manishas The `before_install` step now took 61.66 seconds compared to 36.83 seconds with our current routine. Also an error occurred at the `install` step:

[code]

([Example build](https://app.shippable.com/builds/56b87f59e72c740d00405aef))

[2016-02-08 15:29] manish-sangani opened #2238 "cannot upgrade CI/Cd plan"
Hi
I am trying to upgrade plan to 3 containers on CI/CD but after adding the Credit card details, it keeps displaying Loading icon.

https://app.shippable.com/subscriptions/565cb94b1895ca447424fe75

Thanks

[2016-02-08 17:26] avinci commented on #2022
this feature has been implemented and verified in pre-prod. Will be shipping on Feb 29

[2016-02-09 04:34] davidthewatson commented on #1092
@jamescgibson Thanks for your solution. I copied it verbatim into my shippable.yml but when this line runs:

    - psql -c 'create database blah;' -U postgres

I get:

    Specified cluster does not exist locally and does not specify a remote cluster

I'm not sure why this is happening on my container and not yours.

It makes me sad that shippable doesn't support a modern postgresql since my app d

[2016-02-09 04:56] jamescgibson commented on #1092
@davidthewatson Can you share where that line is in your .shippable.yml? We actually create the database in `before_script`, not in `before_install`, and use rake (rails), so I'm not sure how much help I can be. Try moving `- psql -c 'create...` to `before_script`?

[2016-02-09 05:14] davidthewatson commented on #1092
@jamescgibson Yep, mine's in before_script too. Thanks for the tip. I've been running on shippable for a couple years now so pretty familiar. Only other diff I can think of would be python 3.5, but I can't imagine why that would be a factor here, though I have seen shippable.yml's execution revert to python 2.7 for no apparent reason while the script was executing (from the stacktraces).

[2016-02-09 05:18] jamescgibson commented on #1092
@davidthewatson Any odd log input from the `before_install` we've been using? `Specified cluster does not exist` sounds to me like the installation failed.

We're caching our containers, so I'd bet my left shoe we're going to run into this issue as soon as our cache expires, haha.

[2016-02-09 05:29] davidthewatson commented on #1092
@jamescgibson Oh man, that's scary.

I looked and all the postgresql 9.4 install stuff in before_install completes successfully with a green arrow and no errors. That's why I'm baffled.

[2016-02-09 08:29] sheldon-sminq commented on #2226
Its been over 10 days now i am still facing issue with my tests activated
https://app.shippable.com/builds/56b9984ee72c740d006be42e

Need to debug this issue, i cannot run builds with my tests de-activated. I am unable to download the logs files too to check for issues.

[2016-02-09 11:46] pbosko commented on #2116
We're still experiencing a high level of timeouts for builds that otherwise take 30 minutes to complete. Is there anything we can do to help you diagnose the problem?

[2016-02-09 13:09] davidthewatson commented on #1092
It's dying here:

https://github.com/jbq/postgresql-common/blob/master/pg_wrapper#L65

[2016-02-09 14:13] avinci commented on #1092
@davidthewatson we have completely revamped our images from ground up. This is going to launch on Feb 29. We have revamped our build system too and hence testing it end to end. Hope that helps.

Reason for our not updating is we thought folks will use their own images using Docker and we realized late November that it was not the case. We decided to revisit our decision and update all the versions

[2016-02-09 14:18] davidthewatson commented on #1092
@avinci Thanks for your response. This is very frustrating given that the other vendors in my toolchain all support postgresql 9.5. Unfortunately, I can't wait that long.

Can I just use:

https://github.com/docker-library/postgres/blob/916a840510b481e7d3f0f74fa04fde3edfdfbd04/9.5/Dockerfile

If so, can you point me to a piece of documentation showing how to include this?

[2016-02-09 14:27] hunt3ri opened #2239 "Unable to enable Bitbucket Project"
Currently seeing the following error when enabling new BitBucket project.  Any suggestions about how to clear this error.

{"logType":"verbose","methodName":"|common|bitbucket|postDeployKey|thinkwhere/map-store-app|_processKeys","id":4005,"message":"postDeployKey FAILED :owner/repothinkwhere/map-store-app","link":{"statusCode":500,"data":"{\"error\": {\"message\": \"{u'matthew.walsh@thinkwhere.com

[2016-02-09 14:34] kanthchandra commented on #2239
@hunt3ri I think this error is on the bitbucket side as we can see in the link that bitbucket returned a 500 for the request that we made to setup a deployment key.

[2016-02-09 14:36] hunt3ri commented on #2239
Thanks for the quick reply, I agree it's most likely Bitbucket, was just hoping you would know how it might be reset :)

[2016-02-09 14:49] hunt3ri commented on #2239
@kanthchandra it looks like a sendmail problem, presumably at Bitbucket's end.  As I can see the deploykey being successfully created on the repo.  Is there any way you guys can ignore the 500 or are we stuck with it :-(

[2016-02-09 14:59] hunt3ri commented on #2239
@kanthchandra I fixed this issue by disabling email forwarding for this group.  Seems to have worked.

[2016-02-09 14:59] #2239 closed

[2016-02-09 16:51] davidthewatson commented on #1092
@avinci Alternatively, could I use heroku postgres and just point a secure environment variable to the DB URL there?

[2016-02-09 19:32] zebehringer commented on #2156
I tried it out. It did zip up all the contents of my source, including the .ebextensions folder, and deployed that to EB.
However, I was expecting the Dockerrun.aws.json file to be modified by the build script to use the Docker image built by the job, but it left that line untouched (the committed copy of that file points to the ":latest" tag of the docker image, which we store in AWS ECR). I coul

[2016-02-10 03:01] avinci commented on #1092
Sorry, In a different timezone. Yes, that should technically work. Let me play with this and get back to you .

[2016-02-10 04:32] timadamson opened #2240 "Can't enable repository on github, 404 error"
I'm getting this error when trying to enable a project on GitHub:

{"logType":"verbose","methodName":"|common|github|postDeployKey|timadamson/ldap_task|_getDeployKeys","id":4005,"message":"getDeployKeys failed for timadamson/ldap_task","link":404}

It's a private repository and I'm using a brand new Shippable account which I only opened today.

[2016-02-10 07:25] kevinvandervlist opened #2241 "Build fails while generating meta-data: Database error"
While trying to run shippable on a new repo we experience the following error:

![image](https://cloud.githubusercontent.com/assets/833325/12941129/ad7893ec-cfcf-11e5-9003-bdfa83061730.png)

Or in text:
* Validating commit data
* Error while generating build for branch master
* Error occurred while generating build meta-data: Database error

This happens with a simple Go project. The shippable bui

[2016-02-10 09:28] frank-dspeed commented on #2236
Final workaround code is here:
[code]

we did a npm version that dont has EXDEV Problems inside docker

[2016-02-10 18:31] trriplejay commented on #2156
currently we're looking for some placeholders in your dockerrun file, like:
[code]

as well as `<DOCKER_CONFIG>` if the image is private.

Shippable then replaces those with info from the image created in your build, so if your file had the actual image name with a tag, we wouldn't have modified it.

I'll take a closer look at the .ebignore issue.

[2016-02-10 21:35] zebehringer commented on #2156
Ah, ok. I remember that now. I'll fix my Dockerrun file. Thanks!
FYI, my .ebignore file is below. It essentially results in just the Dockerrun.aws.json and the .ebextensions folder:
`*`
`!Dockerrun.aws.json`
`!.ebextensions/*`

[2016-02-11 20:16] epicserve opened #2242 "Python 3 and Node not working"
I've been using the following shippable config on our project for awhile. Which works fine most of the time. It uses `language: node_js` instead of Python because we wanted to use `gulp-jshint` for linting our Javascript files as well as running our python test suite. So My question is how do we change your shippable config so it works with Python 3, because we've just now converted our project to

[2016-02-11 20:17] yehudasabag commented on #582
The API is nice but it is far from being alternative to the ability to configure nightly builds or deployment. The meaning of having this API is that I will need to call it from somewhere that will schedule it on night, only if I had commits to some relevant places, etc.
This practically means I need some kind of CI server that will trigger shippable. So I will move to this CI server.
To make it s

[2016-02-11 21:53] paololim opened #2243 "Formation service container port entry not working"
I am trying to set a "container port : host port" string of "6041:9000", but the UI wouldn't let me.

Here are the settings for my image: https://app.shippable.com/formationServices/56bcfd8d99c4010d00cc940f/settings

Note that the container image somehow defaulted to the port mapping: `6041:29258`. I click on "edit" and try to update it to `6041:9000`, but the UI wouldn't allow me.

[2016-02-11 21:59] jeradphelps opened #2244 "RubyGems Timeout"
https://app.shippable.com/builds/56bcf02d99c4010d00ca4522

Our Ruby builds are failing due to timeouts from Ruby Gems.  It appears they have had an issue reported that is similar to what we're seeing, but I'm unable to reproduce anywhere but on shippable.

http://help.rubygems.org/discussions/problems/21678-transient-problems-with-downloading-rubygems

[code]

[2016-02-11 22:07] trriplejay commented on #2243
Actually the UI is a bit misleading here. It's really just the container port that we want.  Currently we're assigning a randomly generated port as the hostPort.

If you plan to expose your service through a load balancer, you can specify a different external port in the routing section, once you select a load balancer to use.

[2016-02-11 22:34] paololim commented on #2243
Thanks for clarifying that. Any chance that users could specify both container and host ports any time soon?

[2016-02-12 12:28] martijnpolder commented on #2231
I found a way by requesting the Elastic Beanstalk to deploy the entire Laravel application directory instead, by changing the eb commands to

`eb init && eb deploy --staged`

However, this made my ZIPs jump from 100KB to 150MB, because the .git directories of the dependencies were included. Though acceptable, it certainly won't speed up the process...
To exlude these I added these lines to .ebigno

[2016-02-12 12:28] #2231 closed

[2016-02-12 14:49] epicserve commented on #2242
FTW, I switched back to just using the `language: python` so I could get my tests to work, but I would still like to get node working as well so I could run my linter. The following is my current config.

[code]

[2016-02-12 19:52] #2244 closed

[2016-02-13 03:10] cjerdonek commented on #2083
I would rename the title of this issue to something like, "Allow path to Dockerfile to be customized."

[2016-02-13 05:38] avinci commented on #2083
@cjerdonek this has been fixed in our next version. This is launching on Feb 29th and you will get full control of docker daemon on the host. This should solve most of the docker build issues and we have made a deliberate design decision to get out of your docker command and the docker daemon. This was a design choice we made 2 years ago before docker became ubiquitous and we have changed that now

[2016-02-13 17:20] tcurdt opened #2245 "no access to build details"
I should have access to build details https://app.shippable.com/builds/56bf54f0fb50fb0c005c272b
but I am getting

    {
      "logType":"warn",
      "methodName":"common|validateCaller|/builds/:id|_checkAuthCallersProjectAccess",
      "id":2000,
      "message":"object not found or unauthorized for route: /builds/:id"
    }

instead.

[2016-02-13 17:57] trriplejay commented on #2245
If the project is private, you may need to go to your account settings page and enable private repos.

[2016-02-13 18:50] tcurdt commented on #2245
@trriplejay private repos are enabled.

[2016-02-13 18:51] tcurdt commented on #2245
I am added to that private repo - but I am not the owner.

[2016-02-13 18:55] trriplejay commented on #2245
can you try again now? I think your account just needed to re-sync your repos after the private scopes were enabled.

[2016-02-13 19:00] tcurdt commented on #2245
Now it works, thanks!

When do I need to re-sync? manually?

[2016-02-13 19:06] trriplejay commented on #2245
normally you shouldn't have to. Shippable will do it automatically, but we basically have a bug where enabling private scope doesn't force the sync, so in this case the user has to do it manually (or wait for the next interval)... Hopefully we'll change that soon.

[2016-02-13 19:06] tcurdt commented on #2245
Thanks for the quick help, @trriplejay

[2016-02-13 19:06] #2245 closed

[2016-02-15 04:42] sushantbajra opened #2246 "what does sequence coverage mean?"
after integrating simplecov and running the build I have got sequence coverage in my coverage tab. what is that ?

[2016-02-15 04:49] sushantbajra opened #2247 "Shippable Branch Coverage always 0.00%"
Here is my gemfile
[code]

Here is my shippable.yml

[code]
here is a link to my env.rb file [http://pastebin.com/jD67SdNi](url)
After successfully running the build, the code coverage shows 0.00% any idea how ?

[2016-02-15 08:01] markhofmann opened #2248 "Docker build order"
I'm currently evaluating shippable for my projects using the free account.

Somehow I'm unable build my project with a custom Dockerfile - probably because shippable tries to Dockerize my app before actually building it.

How do I get to the Docker build order switch as described here?
http://docs.shippable.com/docker_build/

All I get are the settings as described on this page:
http://docs.shippa

[2016-02-15 08:45] sushantbajra commented on #2246
I posted the question in stackoverflow and I have got a very good answer.
[http://stackoverflow.com/questions/35362313/what-is-sequence-coverage](url)

[2016-02-15 08:45] #2246 closed

[2016-02-15 08:50] sushantbajra commented on #2247
Fortunately I found the answer why..
to understand what is branch coverage or sequence coverage is follow this link [http://stackoverflow.com/questions/35362313/what-is-sequence-coverage](url)

here is how I got it working
my gemfile

[code]
I have commented the capyabra-webkit gem as I am using selenium-webdriver

here is  my shippbale file

[code]

the reason I removed capybara-webkit from my ge

[2016-02-15 08:50] #2247 closed

[2016-02-15 18:31] j1fig opened #2249 "Sudden cache error triggers non-verbose build failure"
Hi,

After minimal changes in my shippable.yml, builds suddenly and unexplicably fail.

Clearing the cache and resetting the project does not work.

Deleting and enabling the project does not work.

Here the log:

[code]

[2016-02-15 23:27] fiznool commented on #237
This is the one thing standing in the way of me using shippable. Can anyone suggest a competitor that can offer this functionality?

[2016-02-16 05:03] coopy commented on #237
@fiznool CodeShip may offer the features you need. https://blog.codeship.com/codeship-bitbucket-tutorial/

[2016-02-16 05:07] avinci commented on #237
@coopy this is not a Shippable limitation. Its bitbucket. Bitbucket today cannot link forks to a parent. Hence the keys don't match and as a result PR builds don't work. We have an open ticket with bitbucket for last 15 months and they don't seem to want to fix it. Hence its infeasible to do PRs just like github on bitbucket.

If you have ideas, happy to implement it.

[2016-02-16 05:15] avinci commented on #237
This is the request on bitbucket that we opened...

https://bitbucket.org/site/master/issues/5814/reify-pull-requests-by-making-them-a-ref

[2016-02-16 05:27] coopy commented on #237
@avinci Ah, thank you for the explanation. That is frustrating.

[2016-02-16 06:41] fiznool commented on #237
@avinci that issue only affects pull requests coming from a private fork, correct?

In that case, would it be feasible to implement this for pull requests originating from a different branch, in the same repo? This is my use case.

[2016-02-16 12:49] madebysid commented on #2114
Any updates on this? We also need a way to run docker in privileged mode somehow

[2016-02-16 13:50] madebysid opened #2250 "Support for higher /dev/shm size"
I have loads of UI tests using Chromedriver, running on Shippable. They all run fine on my local machine, but when I run the same on the CI Platform , the tests fail because Chrome crashes with this error:
``` RuntimeError: unknown error: session deleted because of page crash from tab crashed ```

Research suggests this happens because of a low shared memory size. Is there a way increase the /dev/

[2016-02-16 21:16] Grahamcraker opened #2251 "Angular 2 Gulp Build - Undefined Function"
I'm attempting to run some simple gulp tasks on an Angular 2(TypeScript) application. The error occurs when attempting to run the following line
[code]
When I run gulp on my local machine, there are no issues. I've tried modifying my configuration with no success. The associate gulp files and app files can be found here:
https://gist.github.com/Grahamcraker/daeb7a4a7d5ad879afb6
I have a failed bui

[2016-02-16 22:12] javiercr commented on #2147
Hey @avinci any updates on this? We're in the same scenario described here. Thanks!

[2016-02-17 07:02] kevinvandervlist commented on #2241
Any updates on this?

To add some more info: [here](https://bitbucket.org/to-increase/go-config/src/8951d56a587a9806f89cc04a0435800111ba8edc/shippable.yml?fileviewer=file-view-default) is the shippable yaml, but the failure occurs before any build steps are executed.

Mentioning @rlcomte to stay in the loop.

[2016-02-17 18:33] mikevm opened #2252 "build fails due to DNS lookup error"
tl;dr: DNS lookups succeed several times, and then they fail, all for the same hostname, within a single rspec in a single build

Over the last several months I have frequently seen builds fail due to DNS lookup problems.  This is always happening during my `rspec` run (which is really the only thing that my build does).

`rspec` will run several tests where the DNS lookup succeeds, and then anoth

[2016-02-18 09:19] realAkhmed commented on #2212
Closing. Unfortunately, it still won't work on Shippable.
Moved to another CI platform - the same Dockerfile worked fine there.

[2016-02-18 09:19] #2212 closed

[2016-02-18 11:55] j1fig commented on #2249
Any updates on this?

I tried clearing all the deployment keys from the repo and re-creating the project from shippable (re-adds the shippable key to deployment keys) and still did not work.

[2016-02-19 11:24] rvdwijngaard commented on #2241
I am getting the same issue on one of [my builds](https://app.shippable.com/builds/56c6faf79785a20c009c69f7)

[2016-02-19 15:31] gervaisb opened #2253 "Sbt, fork in test never end."
I'm using `shippable\ubuntu1404_scala` image to build a multi module sbt project.
My build is configured with `fork in Test := true` and run fine localy. However on Shippable it seems to wait indefinitely.
If I remove the fork instruction it finish successfully.

[2016-02-19 21:27] mikevm commented on #2252
I've now had 16 builds in a row fail due to DNS lookup failures in my builds, never in the same place twice.  Curious if any other folks experience similar issues.

[2016-02-20 01:00] smclaughry opened #2254 "Login is broken when connecting with BitBucket account"
From https://app.shippable.com/ I click the "bitbucket" button and am immediately redirected to https://app.shippable.com/error with the following message:
"An error occured, please choose an action. Failed to POST accountIntegration"

My bitbucket profile is here: https://bitbucket.org/smclaughry/

Login with my github account works fine.

[2016-02-20 01:26] trriplejay commented on #2254
can you try again? it should be fixed now.

[2016-02-20 01:30] smclaughry commented on #2254
Thanks!

[2016-02-20 01:30] #2254 closed

[2016-02-20 09:06] kepkin opened #2255 "Can't open shippable. Loads infinitely"

[2016-02-20 09:16] rageshkrishna commented on #2255
Thanks for reporting. We're looking in to it right now. I'll keep this issue updated as I get more details.

[2016-02-20 09:53] bryanvaz commented on #2255
Same. On login we just get redirected to https://app.shippable.com/error and get the following error:

[code]

[2016-02-20 10:01] rageshkrishna commented on #2255
We had an issue with some of our API containers. Things should be back to normal now. Please let me know if everything looks good at your end. Thanks!

[2016-02-20 10:36] kepkin commented on #2255
UI is working now.. but my builds are hanged... and I can't cancel them
5645fd5d1895ca4474237436

[2016-02-20 10:37] kepkin commented on #2255
Oh... it's totally down again.

[2016-02-20 15:15] asheibani opened #2256 "Build issue using gradle"
Hi,

My builds are failing due to a docker step that adds some files that are generated during the gradle build but for some reason are missing.

Here is snippet of the logs:
...
Sending build context to Docker daemon
Step 0 : FROM java:7-jre
7-jre: Pulling from java
1e58eecba27a: Already exists
a0e9fe2f8803: Already exists
9b0523a037ca: Already exists
383137f3df30: Already exists
c597615ac784: Al

[2016-02-20 15:51] bryanvaz commented on #2255
Also we are no longer getting emails on builds (we have blanket success and failure emails). We assume that it is probably connected to the primary API container problems.

[2016-02-20 16:25] manishas commented on #2255
@bryanvaz emails should be working... are you still running into this?

[2016-02-20 16:35] bryanvaz commented on #2255
Yes. We just did a test build and no email was recieved, even though it was a successful build. Our shippable.yml hasn't changed.

excerpt from *shippable.yml*:

[code]

[2016-02-23 12:03] mbrodala commented on #2086
@manishas After switching from PHP 5.5 to PHP 5.6 we now encounter a different issue with our current setup:

[code]

Any idea how to fix this?

[2016-02-23 15:34] 9dev opened #2257 "Google Chrome support"
I'd like to use Google Chrome with my Selenium tests. I used code from [#285](https://github.com/Shippable/support/issues/285):

[code]

but I keep getting the following error:

[code]

Is there any working solution for testing with Chrome?

[2016-02-24 09:47] ashernevins opened #2258 "Builds are not starting"
This issue has been happening on and off all day.

A build will be next in the queue to start (or the only build) and it will just not start. The build will show up in the 'In Progress' tab, and the duration will start counting up and be equal to the queued time. For example, the latest build this is happening on for me is https://app.shippable.com/builds/56cd7b50d527f60c00b6fe2b and it is current

[2016-02-24 10:20] kjones1876 commented on #2258
Same issue happening here. It just sits there, does nothing, times out after like 2 hours.

[2016-02-24 10:20] pkaminski commented on #2258
I'm seeing this too, e.g. in https://app.shippable.com/builds/56cd8386d527f60c00b76a0c.

[2016-02-24 11:05] pkaminski commented on #2258
My builds eventually went through.

[2016-02-24 11:06] kjones1876 commented on #2258
Same here, just finished. However, i did have ones yesterday that straight up timed out and failed

[2016-02-24 11:12] rageshkrishna commented on #2258
Hi everyone. I'm very sorry about the delayed update on this. Our build agent decided to die on all of the machines in quick succession and this caused a complete outage. We have initialized completely new hosts and all builds should be running correctly now.

Please let me know if you continue to see any issues.

[2016-02-24 11:15] ashernevins commented on #2258
Closing as this appears to be resolved.

[2016-02-24 11:15] #2258 closed

[2016-02-24 15:40] martijnpolder opened #2259 "Shippable perf"
Hi support,

We've run a trial of Shippable for a while now, as we're considering moving away from our current deployment provider. However, the difference in speed of the two solutions are quite large.
Though Shippable sometimes seems to get stuck in starting (unneeded) mysql-services, which is a nuisance, the major delay is in de step "composer install --prefer-source --no-interaction", which ta

[2016-02-25 13:08] mbrodala commented on #2259
@martijnpolder As for Composer you might want to execute `phpenv config-rm xdebug.ini` before. This will vastly speed up all Composer invocations. Notice that you should copy that file somewhere else if you want to re-add it later for coverage reports. See #2186

[2016-02-25 15:19] mbrodala commented on #2226
We have started seeing timeouts frequently this week which never occurred for us before. Anything wrong ATM?

[2016-02-25 22:37] pnpritchard opened #2260 "Was there a recent change to minion resources?"
Starting yesterday, a lot of my builds have experienced timeouts. The logs show the build is hanging at various steps of compilation. There isn't any indication in the logs, but my feeling is that it is getting killed for going out of memory.

I saw this comment (https://github.com/Shippable/support/issues/1429#issuecomment-104020337) from a year ago saying that the minion has 2gb memory . Is this

[2016-02-26 02:37] ritave opened #2261 "I can't delete my company project"
I have one project enabled on my bitbucket account, which I can't delete from shippable with the following error:
[code]

[2016-02-26 09:35] maxfi opened #2262 "Deploy to Meteor Galaxy"
I had a few issues when trying to setup deployments to Meteor Galaxy so I put together [a small repo](https://github.com/maxfi/shippable-meteor-galaxy) that might be of help to others. Feedback and contributions are welcome.

[2016-02-26 16:50] adamalesandro opened #2263 "Setting the build version/number format?"
I was just setting up my first CI project and I see that the build number increments by 1 each time I commit- all good.  But can I specify a particular version in the YML or elsewhere i.e. Major and Minor, something like this:
[code]
so that I will see `0.1.165` as the build instead of (currently) `165`

[2016-02-26 20:31] npahucki opened #2264 "Can't add image to Formation"
I am trying to set up a Formation for ECS. I did one yesterday and it worked fine. Today, while the image on my ECR repo shows up...no tags show up at all. I even gave the user Admin permissions to eliminate a permissions problem. The repository exists and there is an image available. See screen shots.

![screenshot 2016-02-26 17 29 51](https://cloud.githubusercontent.com/assets/823555/13364647/bf

[2016-02-26 22:04] alvaroc1 opened #2265 "Builds timeout before any of the code executes"
Builds are timing out for us after these steps:

    Generating builds 0.00 seconds
    hub login 0.46 seconds
    pulling image from hub 2.36 seconds

All of which appear to complete successfully. But nothing else happens after that. What's going on?
 This is happening to all of our builds.

[2016-02-27 19:55] npahucki opened #2266 "Formation AutoDeploy to ECS just stopped working"
I had setup a formation to deploy to ECS a few days ago. It worked a [couple of times](https://cloud.githubusercontent.com/assets/823555/13374972/98835624-dd72-11e5-8707-b4dad18f1aa3.png), but now constantly fails (and I can't find any error messages anywhere). This is the formation: https://app.shippable.com/formationServices/56cf0a0d22366a0c005a5da2

<img width="1040" alt="screenshot 2016-02-27

[2016-02-27 19:58] npahucki commented on #1862
How the heck to DELETE Formations!? There is no delete button even though the formation has no services in it.

[2016-02-27 20:18] trriplejay commented on #2266
one error I'm seeing in our logs is:
`not authorized to perform: elasticloadbalancing:DeleteLoadBalancerListeners`

If you had a load balancer set up, then removed it, we would attempt to delete any listeners that we may have added in the previous deployment.

We are planning on surfacing these kinds of errors to the user in the near future.

[2016-02-27 20:29] trriplejay commented on #1862
The delete button should be on the billing tab.  If you can't see it let me know the ID and I'll take a look.

[2016-02-27 20:34] trriplejay commented on #2243
I think it's something we would allow in the future, but I'm not exactly sure when.  The best workaround for now is to use a load balancer, which will allow you to specify any 'external port' that you want, and it will automatically connect it to the generated host port.

[2016-02-27 21:48] manishas commented on #1862
@npahucki Please let us know if you need help with deleting your Formation.

On another note, Formations as a standalone offering will be deprecated tomorrow and the functionality will be rolled into one subscription which will offer CI and deployment pipelines. Please let me know if you would like a demo of what we're launching on 2/29 (Monday).

[2016-02-27 23:54] npahucki commented on #1862
First, thanks for the info, I had expected the option to delete in settings like the CI stuff. @manishas I'd love to see what you're unveiling. Is there a webcast?

[2016-02-28 00:05] manishas commented on #1862
@npahucki we can set up a google hangout anytime after 4/2. Let me know a couple of times that work for you. We're in PST time zone.

[2016-02-28 00:09] npahucki commented on #2243
+1 on this feature. Not having this prevents me from doing ELB terminated SSL, because only the HTTP port is mapped. For ELB SSL termination, I need to manually create an ELB listener with the certs configured. To get this to work, I need the host port to always be the same as to which the ELB listener is forwarding. I realize that this means that only one instance of the task can be run at a time

[2016-02-28 07:09] jlsupport opened #2267 "Add multiple deployments for AWS EB (one for each branch)"
What is the timeframe for getting more than one Deployment added?

We want both the development and master branch deployment to AWS EB.

it will also be nice if we can select on the master that it should upload and create the application version on EB, but not update

[2016-02-29 08:58] rvrignaud opened #2268 "Can't change number of minion in billing form"
Hello,

I'm trying to increase the number of minion (we were in the annual 12$ plan). I got the following error :
[code]

Is there anything I can do ?

[2016-02-29 09:02] manishas commented on #2268
@rvrignaud we're in the middle of an upgrade, I'll let you know when everything is up so you can try again.

[2016-02-29 09:27] cratz opened #2269 "Formations gone?"
After we received the email (see below) I answered twice to make sure our formations become migrated
We never got a reply and now our formations are gone!!!
May be open an issue here will help, let's see...

[2016-02-29 09:28] manishas commented on #2269
@cratz your formation will be migrated today. I will send you an email in a few minutes.

[2016-02-29 09:32] cratz commented on #2269
Thx!

[2016-02-29 09:52] manishas commented on #2268
@rvrignaud you can choose the plan for 'Continuous Delivery' on your billing page to buy more minions.

This is the new plan everyone will be moved to in the next day or two.

[2016-02-29 10:06] manishas commented on #2261
We have deleted the project for you. Let me know if you need any help.

[2016-02-29 10:06] #2261 closed

[2016-02-29 10:08] manishas commented on #2263
@adamalesandro at this time, we do not support custom build numbers. If we hear more feedback on this, we will definitely revisit this. Thanks!

[2016-02-29 10:08] #2263 closed

[2016-02-29 10:09] #2255 closed

[2016-02-29 11:10] rvrignaud commented on #2268
Thx that worked.

[2016-02-29 11:10] #2268 closed

[2016-02-29 11:23] ducky427 opened #2270 "newBuild API needs to be able to trigger a build for project->branch"
Till very recently (as recent as last week), we were using the `searchBuilds` for a project to get the previous results by some paramters. But it seems that that bit of the API doesn't work anymore and furthermore, it seems to have disappeared from the documentation.

It quite disturbing that some parts of the API have gone missing without any warning to the user.

[2016-02-29 12:23] kepkin opened #2271 "Can't login with bitbucket."
And it seems our projects are not builded on pushes anymor.

[2016-02-29 12:25] kepkin commented on #2271
Oh.. you have just rollbacked to older version!

[2016-02-29 12:30] manishas commented on #2271
Webhooks should be triggering for bitbucket now. Can you please check and let us know?

[2016-02-29 12:34] manishas commented on #2270
@ducky427 I am really sorry about this! We communicated several changes to affected customers over the last couple of weeks but this was a miss. We'll make sure the everything is backwards compatible and versioned if it changes again.

Can you send me a list of APIs you were using at manisha@shippable.com and I can get back to you with suggested updates in a few hours. Let me know if that helps.

[2016-02-29 12:45] pmezard opened #2272 "gcr_login fails, gcloud command not found"
Hello,

The "gcr_login" step of our build pulling a test image from gcr.io fails with:
[code]

[2016-02-29 13:07] avinci commented on #2272
@pmezard With the new build system, we are natively running on your custom image if you do a custom docker build. Can you install GCR tools and try it...there is more info here http://docs.shippable.com/ci_configure/#pushing-to-gcrecr-with-custom-images.

[2016-02-29 13:35] pmezard commented on #2272
I am not sure I understand you. To clarify, our build uses a custom CI image from GCR, and eventually builds a Docker image which base image is a stock ubuntu from Docker registry. At no point does our build process calls "gcloud".

What I suspect is Shippable now runs "gcloud" for us, maybe to allow us to pull custom base images from GCR, which could be nice.

My only problem is all our builds wh

[2016-02-29 13:40] avinci commented on #2272
Ahh I got it. We missed this in the feature planning. We already have this in our pipe to fix.

The problem is our system doesnt know what you are doing in the YML. Since you have a `gcr integration`, its trying to auto log you in, into the CI boot container. Since your boot container does not contain `glcoud` is failing. We are going to be adding a flag to the integration `pull only` which means

[2016-02-29 13:41] avinci commented on #2272
if the image you are pulling is a public image, and you don't mind sending me your YML `avi@shippable.com`, we could do it without our patch coming intomorrow.

[2016-02-29 13:43] pmezard commented on #2272
Thank you for the quick response, I am glad we agree on what is going on. I will give a try at fixing the CI image. We have more than 40 builds to fix, sending you all the .yml does not seem practical. I will come back to you when I am done.

[2016-02-29 13:54] luckyraul commented on #2022
@avinci  Any updates?

[2016-02-29 14:02] avinci commented on #2022
This was just launched a minute ago. We have completely revamped the product and you should be able to do everything and anything in the YML.

http://docs.shippable.com/ci_docker/#docker-commands-in-yml

We are going to start migrating users to the new plan `Continuous Delivery` but you can go to the subscription and do it yourself too if you don't want to wait for us to move you in the background

[2016-02-29 14:04] manishas commented on #2022
Also docs.shippable.com/ci_configure

[2016-02-29 14:06] luckyraul commented on #2022
Can I use matrix for multiple builds with multiple tags?

[2016-02-29 14:08] avinci commented on #2022
yes. you can do whatever you want :-)

[2016-02-29 14:10] luckyraul commented on #2022
An example, please, with matrix for image:tags

[2016-02-29 14:11] manishas commented on #2022
Can you explain your scenario and I'll send you the yml config.

[2016-02-29 14:14] luckyraul commented on #2022
docker build --build-arg VAR='xxx'

[2016-02-29 14:30] npahucki opened #2273 "My Formations are gone, and Add Pipeline is disabled"
![screenshot 2016-02-29 11 29 27](https://cloud.githubusercontent.com/assets/823555/13397217/c2bf141c-ded7-11e5-884f-e3cb84ddb886.png)

[2016-02-29 14:44] boffe opened #2274 "Unable to pay for subscription plan"
Hi,

Trying to create a subscription with 5 minions, but when I move the slider up the amount doesnt change. When I click "Save changes" I get the following error "Total cost sent 0 does not match calculated cost 40".
![shippable](https://cloud.githubusercontent.com/assets/7431023/13397697/5a3af112-defb-11e5-9af8-d6c1fc389791.PNG)

Thanks

[2016-02-29 15:05] shadowfax-chc commented on #2270
I was also using the `searchBuilds` endpoint. Is there a new endpoint that provides similar information?

[2016-02-29 15:13] pmezard commented on #2272
Installing GCR tools in our CI images fixes this issue. But I may have other problems to report.

I will let you close the ticket when you decide you are done with this.

[2016-02-29 15:19] spsiddarthan commented on #2274
@boffe, We're in the middle of an upgrade which is why you saw this error - we are fixing it.

However, you can right away go and choose the plan for 'Continuous Delivery' on your billing page to buy more minions. Everyone will be moved to this new plan in a couple of days.

[2016-02-29 15:19] pmezard opened #2275 "$SHIPPABLE_PYTHON has disappeared"
Hello,

Our build scripts were doing something like:
[code]

It seems $SHIPPABLE_PYTHON no longer exists and http://docs.shippable.com/ci_configure/#using-environment-variables seems to agree.

I see there is a $SHIPPABLE_VE_DIR, can you confirm I should now be doing:
[code]
directly?

Will it stay that way or do you plan to reintroduce $SHIPPABLE_PYTHON? I am asking because I have dozens of build

[2016-02-29 15:45] pmezard commented on #2275
I worked around it by setting SHIPPABLE_IS_OFFICIAL_IMAGE=true in "env" section. Since it used to work, it still works. Would be nice to do it automatically to "old" configurations.

[2016-02-29 15:49] pmezard opened #2276 "Old default Shippable Image does not have GCR tools"
Hello,

Some of our configurations were using default Shippable CI images while pushing the built docker image to GCR. The problem is the default Shippable CI image does not have GCR tools and thus fails in "gcr_login" step. I think it should have them for compatibility reasons.

Related to https://github.com/Shippable/support/issues/2272

Our build script is:
[code]
So according to your documenta

[2016-02-29 15:53] rvrignaud opened #2277 "ssh-agent: not found using standard image"
Hello,

Our build https://app.shippable.com/runs/56d45d855009560c004877f6 is broken.
We are using standard shippable image.
However it fails to build due to ```/bin/sh: 1: ssh-agent: not found```  during wait_for_exit phase.

Any clue ?

[2016-02-29 15:54] manishas commented on #2273
we're looking into this...

[2016-02-29 15:55] manishas commented on #2273
ah I know why. a free pipeline is offered with the Continuous Delivery plan. Everyone will be migrated to this plan in the next 24-48 hours, but you can do so before that by going to your Billing page and updating the plan to `Continuous Delivery`.

Your Add pipelines button should show up at that point.

[2016-02-29 15:57] chriskinsman opened #2278 "Doc Bug: Shippable Api"
Under Get all jobs the url in the example is /runs not /jobs

[2016-02-29 15:58] manishas commented on #2277
@ric03uec can we take a look at this asap?

[2016-02-29 16:00] mbrodala opened #2279 "New shippable.yml format not evaluated"
I'm currently testing the new format of the `shipppable.yml` in one of our projects but it seems like it is not picked up at all, [all builds fail](https://app.shippable.com/builds/56d469911954630c00231aec).

Here are a few hints which clearly indicate that my `shippable.yml` configuration is ignored:

[code]

This should be `dry-dock/u14php` (`tip`) instead as configured in `build.pre_ci_boot.ima

[2016-02-29 16:04] manishas commented on #2278
this was just pushed and should be updated in the next 5-10mins

[2016-02-29 16:04] #2278 closed

[2016-02-29 16:04] manishas commented on #2278
Thanks for the bug!

[2016-02-29 16:06] manishas commented on #2279
@mbrodala all users have not been migrated to the new plan which supports the format. We wanted to make sure everything in prod was perfect before migrating users :)

If you want to use the new format, please switch to the 'Continuous Delivery' plan on the Billing tab of your subscription. This plan supports both ymls - old and new.

[2016-02-29 16:16] manishas commented on #2270
we'll look into this and get back to you.

[2016-02-29 16:25] manishas commented on #2270
@shadowfax-chc you're seeing this because you have not been migrated to the new plan yet. We wanted to migrate customers in chunks to ensure a smooth migration.

GET /builds should work pretty much like GET /runs for retrieving builds from the existing old build system.

[2016-02-29 16:40] kepkin commented on #2271
Yes it works now.

[2016-02-29 16:41] #2271 closed

[2016-02-29 17:32] rvrignaud opened #2280 "How is scoped the new integration name on yaml"
Hello,

With the new yaml format, how is scoped (by user/org) the authorizationName ?
In my settings, for my user I have the following integration set-up:
[code]

I have in my yaml the following:
[code]

I get the following error:
[code]

Am-I doing something wrong ?

[2016-02-29 17:32] chriskinsman opened #2281 "Shippable Api doc typo"
This route returns account dependencies, including aubacriptions, enabled projects, credit cards, and account integrations. These must be deleted before you delete the account.

--> I think that should be subscriptions

[2016-02-29 17:39] alvaroc1 commented on #2226
Same thing for me, all my builds are timing out. What is going on?

[2016-02-29 17:44] phagunbaya opened #2282 "Push to multiple repository"
The new set of features look awesome. Great job ! I have one question - If I create multiple hub integrations, will the docker image with multiple tags be pushed to all configured docker repositories ?

[2016-02-29 18:29] shadowfax-chc commented on #2270
@manishas `/builds` is doing the trick, thanks. Will `/builds` stop returning new results once the migration happens?

[2016-02-29 19:05] manishas commented on #2282
@phagunbaya thanks :)

You should be able to push your docker image with multiple tags to all docker repositories as long as you have the right config in the yml.

However, we are fixing a bug that limits you to one Docker registry since project settings does not let you add more than one hub integration. ETA for fix is EOD tomorrow.

[2016-02-29 19:08] manishas commented on #2281
this is fixed and will be deployed in a few minutes.

[2016-02-29 19:08] #2281 closed

[2016-02-29 19:16] manishas commented on #2280
@rvrignaud can you share a link to your build?

[2016-02-29 19:17] manishas commented on #2280
@ric03uec is taking a look into this.

[2016-02-29 19:20] BenRomberg opened #2283 "Proper status page/updates"
Hi guys,

we really appreciate your great platform and use it every day.

However, it annoys us that status updates about service outages are only available by following your Twitter account. We streamline all relevant status messages (from all cloud services we're using) into our team's Slack channel, and it regularly gets flooded with status updates from your Twitter account. Most of these aren'

[2016-02-29 19:21] manishas commented on #2269
This Formation has been migrated, so closing this issue. Please let us know if you run into any issues.

Thanks!

[2016-02-29 19:21] #2269 closed

[2016-02-29 19:21] rvrignaud commented on #2280
https://app.shippable.com/runs/56d47f75439a8a0b00bc3e0f

[2016-02-29 19:22] manishas commented on #2283
This will be addressed in an upcoming update. We plan to have a Status page just like Bitbucket or GitHub.

[2016-02-29 19:30] manishas commented on #2280
couple of quick questions -
- I see you're using a custom image. Does it have gcloud sdk installed on it?
- Does this Stack overflow answer help - http://stackoverflow.com/questions/34881697/cloud-docker-push-403-forbidden

[2016-02-29 19:34] manishas commented on #2276
@pmezard can you share a build link where this is failing?

[2016-02-29 19:54] rvrignaud commented on #2276
We are on the same team.
Here is a link : https://app.shippable.com/runs/56d44ff0348ba60c00a4dfa3

[2016-02-29 20:21] kevinvandervlist commented on #2241
The changes related to today's 'Meet the New Shippable' did not resolve or fix this.

@manishas: can you help us?

[2016-02-29 20:34] manishas commented on #2241
@a-murphy @trriplejay  can you take a look?

[2016-02-29 21:02] ithinkmusic opened #2284 "I coonot delete my account or stop my subscriotion I donnit want to be charged for another monthe please delete my account"

[2016-02-29 21:30] bryanvaz commented on #2267
Hey @jlsupport we've been using the AWS EB config to accomplish this. It's much more resilient since it is directly supported by AWS and is independent of your CI tool.

(This of course assumes you have more than one EB environment, and they all roll up to the same AWS EB "Application", if not, your config file will need to be slightly more detailed)

## Step 1: Initialize your EB config locally
I

[2016-02-29 21:32] martijnpolder commented on #2259
Seems like a great tip, I'll try it - though if the bandwidth really would be the bottleneck it won't be the magic bullet, I'll keep you posted

[2016-02-29 21:54] manishas commented on #2284
@rageshkrishna can we delete this account?

[2016-02-29 22:33] lukesandberg opened #2285 "No obvious way to disable/unsubscribe from emails"
Shippable has started emailing me about github projects i don't contribute to.  They appear to have forked a project i do contribute to...

How do i make it stop?  Should i just start marking these emails as spam?

[2016-02-29 22:51] manishas commented on #2276
We looked into this and here is what is happening -
since you are using Docker Options in project settings and old yml format, we're pulling shippable/minv2 image by default which does not have gcloud installed.

Here's the cleanest fix-
- Delete Docker Options from Project Settings
- Convert yml to new format. This means that we will start pulling a base image from drydock for the build. For your

[2016-02-29 23:02] manishas commented on #2285
@lukesandberg if a project is enabled for CI on Shippable, the owners of the original project do get a one time notification.  This is because we follow GitHub's permissions, so just like GitHub notifies you when someone forks a project you contribute to, you also get notified when someone enables it for CI.

We will investigate whether we have tighter control over this. In the meantime, marking i

[2016-02-29 23:09] lukesandberg commented on #2285
That isn't what happened.  I got 4 emails for a build breakage in a project i have never heard of

The project is: https://github.com/mooneygr/guava.git

[2016-02-29 23:10] lukesandberg commented on #2285
but ok.  will mark as spam

[2016-02-29 23:12] manishas commented on #2285
I think it's because you're shown as last committer for the project. I am going to reopen this and see if we can fix this somehow.

[2016-02-29 23:52] ric03uec commented on #2277
@rvrignaud can you confirm if the custom image you're using has `ssh-agent` installed on it

[2016-03-01 00:33] manishas commented on #2274
@boffe I am closing this since our upgrade is complete. You can choose the Continuous Delivery plan on your Billing page and then upgrade your minions. Pls let us know if it doesn't work.

[2016-03-01 00:33] #2274 closed

[2016-03-01 00:33] manishas commented on #2273
closing.

[2016-03-01 00:33] #2273 closed

[2016-03-01 00:35] manishas commented on #2270
@shadowfax-chc /builds will still work after migration for builds that were triggered before migration. For builds triggered after migration, you'll need to call the /runs routes.

[2016-03-01 00:36] ric03uec commented on #2277
@rageshkrishna since we were installing the dependencies for custom images earlier, we should port the same functionality for the new build system. want to double check with you whether this would conflict with our strategy for handling custom images.

[2016-03-01 00:41] manishas commented on #2270
@ducky427 you can do the following to get the latest successful build per project and branch-

GET /runs?status=30&projectIds=[projectId]&branch=[branch]&limit=1&isPullRequest=false

You can also use GET /builds for builds triggered before migration.

We have a new API to trigger a build - POST /projects/:projectId/newBuild - but this triggers a build for the default branch. We're adding a paramet

[2016-03-01 00:43] manishas commented on #2259
@martijnpolder sorry for the delayed response! We've been focused on getting our latest release out the door and this should address your problem.

It will be good to disable and enable your project, convert to the new yml format explained in the docs, and try a build. We've made massive perf improvements and we're happy to help you tweak your yml.

[2016-03-01 00:47] manishas commented on #2260
@pnpritchard we've upgraded our platform today and you should not see these timeouts any more.

Please let us know if you run into this again.

[2016-03-01 00:51] manishas commented on #2264
I am closing this issue since we should pick this up with pipelines. I have set up a demo for 3/2 at 10am PST.

[2016-03-01 00:51] #2264 closed

[2016-03-01 00:54] manishas commented on #2249
@j1fig are you signing in with this github account? Please let us know what account you're using to sign in or share a link to the subscription/project so we can take a look.

Thanks!

[2016-03-01 01:00] manishas commented on #901
this is now fixed and documented at http://docs.shippable.com/ci_configure/#email-notifications

Please note that you have to convert your projects to the new yml format detailed at http://docs.shippable.com/ci_configure in order to use this enhancement.

relevant docs -
recipients specifies the email addresses you want to send build status notifications to. This overrides the default setting of '

[2016-03-01 01:00] #901 closed

[2016-03-01 01:02] manishas commented on #834
This is now possible since you can now use docker commands directly in your yml.

Relevant docs -
http://docs.shippable.com/ci_configure/#pushing-an-image-to-a-registry
http://docs.shippable.com/ci_docker/

[2016-03-01 01:02] #834 closed

[2016-03-01 01:06] manishas commented on #1159
closing this since this is a stale issue. we do not claim 100% Travis compatibility.

[2016-03-01 01:06] #1159 closed

[2016-03-01 01:07] manishas commented on #1065
this is now available. Dedicated hosts are available as part of your subscription and are priced according to number of parallel builds. More at http://docs.shippable.com/ci_byoh/

[2016-03-01 01:07] #1065 closed

[2016-03-01 01:11] manishas commented on #400
If you are scrolled to the bottom of the console logs, tailing should work. let us know if this is still a problem.

[2016-03-01 01:12] manishas commented on #1160
if you are scrolled to the bottom of the console log, it should follow the tail as expected.

[2016-03-01 01:12] #1160 closed

[2016-03-01 01:13] manishas commented on #1122
closing since this is an old issue and needs more info.

[2016-03-01 01:13] #1122 closed

[2016-03-01 01:16] manishas commented on #1092
This is available now. The `pls` and `all` versions of our standard images in the [drydock repo](https://hub.docker.com/u/drydock/) have Postgres 9.4 installed.

please note that we have a new yml format, so now would be a good time to convert to new yml as well :)

let us know if you need help with this.

[2016-03-01 01:17] manishas commented on #1093
We have new default minions in our [drydock repo](https://hub.docker.com/u/drydock/) which have node 0.12 installed.

You will need to upgrade to the new yml format in order to have a drydock image pulled by default.

[2016-03-01 01:19] manishas commented on #1249
Our standard images have been updated with latest version of services.
Images are at [drydock repo](https://hub.docker.com/u/drydock/)

MongoDB 3.0 should be installed on all `pls` and `all` images.

[2016-03-01 01:21] manishas commented on #1313
closing this since it's an old issue. please let us know if you still need help with this.

[2016-03-01 01:21] #1313 closed

[2016-03-01 01:22] philcraven opened #2286 "Error received on all builds after changing subscription type"
Under Alerts:Errors
common2|_cleanRunYml|callerId:546d5db67aac73c60083a409|projectId:546d5ddcd46935d5fbbe1382|_checkInputParams Missing parameter: projectEnabledDate

[2016-03-01 01:22] manishas commented on #1199
This is fixed with our new release that was deployed today. Everyone will be migrated in the next 24-48  hours so you shouldn't see this after that.

[2016-03-01 01:22] #1199 closed

[2016-03-01 01:24] manishas commented on #2286
@trriplejay we need to take a look at this asap.

[2016-03-01 01:26] manishas commented on #2286
@himanshu0503 this might have something to do with the migrations script for enabledDate

[2016-03-01 01:27] ric03uec commented on #2265
@alvaroc1 we've migrated the subscription to the new build system. can you please try your builds again and let me know if it works.
also, i would recommend moving to the new yml format(http://docs.shippable.com/ci_configure/) which has added support for handling custom images

[2016-03-01 01:39] trriplejay commented on #2286
@philcraven Your project should be updated now.  Let us know if you're still seeing this issue.

[2016-03-01 04:11] manishas commented on #2280
@rvrignaud also for integrations, can you add the hub tag as shown below -

[code]

[2016-03-01 04:17] manishas commented on #2286
@rageshkrishna can we ensure that other customers who upgrade do not run into this?

[2016-03-01 04:23] manishas commented on #2277
We should fix this.

[2016-03-01 04:32] manishas commented on #2282
@rageshkrishna we need to pick this up today.

[2016-03-01 04:41] rageshkrishna commented on #2286
This should be fixed now.

[2016-03-01 04:59] rageshkrishna commented on #2284
@ithinkmusic I've cleared up the problems with your subscription. You will not charged any more.

[2016-03-01 05:08] manishas commented on #2284
Closing

[2016-03-01 05:08] #2284 closed

[2016-03-01 05:29] bryanvaz opened #2287 "Docker daemon not running on standard image"
The standard minv2 image that shippable is now pulling from the Shippable ECR repo doesn't seem to be running docker (thus we cannot build new images, post ci). Can you confirm if this is a bug or if we should be using a different image?

Error Details:
![image](https://cloud.githubusercontent.com/assets/9157498/13418561/8127b02e-dfb1-11e5-9dab-a15109b08b43.png)

shippable.yml:
[code]

[2016-03-01 06:21] spsiddarthan commented on #2238
@manish-sangani, This should be fixed now. Please go to the billings tab, click on update plan and select the Continuous Delivery plan dropdown. Please let us know if you still have a problem.

[2016-03-01 06:21] #2238 closed

[2016-03-01 06:23] manishas commented on #2287
@bryanvaz if you are not using any preinstalled services, you should add the following to your yml:

[code]

This is our standard Ruby image and has what you need preinstalled on it. Let me know if this works.

[2016-03-01 06:25] manishas commented on #2276
updated yml above.

[2016-03-01 06:30] #2222 closed

[2016-03-01 07:26] phagunbaya opened #2288 "Error gcr login : gcloud command not found"
Build failing because of following reason :
[code]
<img width="735" alt="screen shot 2016-02-29 at 11 23 37 pm" src="https://cloud.githubusercontent.com/assets/1146297/13420521/cde1e180-df3b-11e5-9c4e-247de0b0d6fc.png">

[2016-03-01 07:28] rvrignaud commented on #2277
@ric03uec we are using 'Use default Shippable Image' setting

[2016-03-01 07:33] rvrignaud commented on #2280
Hi @manishas,
When I try your proposed configuration, I get:
[code]

You can see it on build https://app.shippable.com/runs/56d545a1ae73ea0c001e9f55

[2016-03-01 07:42] luckyraul opened #2289 "Docker hub login fail"
https://app.shippable.com/runs/56d5474bdf0cf40c00a83df2

Even after re-entering password

[2016-03-01 07:44] manishas commented on #2280
You also need to add the master integration to your project settings -> Hub.

[2016-03-01 07:49] rvrignaud commented on #2280
@manishas not sure to understand that. you ask me to setup the integration in the web form of the project right ?
if that so, why should we need to add it in the yaml file ?

[2016-03-01 08:07] pmezard commented on #2276
Thank you for the sample .yml, we worked around the issue by using one of our images including GCR tools as a CI image.

The point of this issue was more that:
- It should not have happened in the first place, for example by installing GCR tools in the "default Shippable CI image" before the update.
- If it was not possible, offer the ability to reference one of your drydock images as a custom CI

[2016-03-01 08:10] rageshkrishna commented on #2277
I'm looking in to this now. Looks like we have a couple of bugs that need to be addressed around this. I'll share more updates as we make progress here.

[2016-03-01 08:24] pmezard commented on #2288
Duplicate of https://github.com/Shippable/support/issues/2272 , related to https://github.com/Shippable/support/issues/2276 .

[2016-03-01 08:35] mbrodala commented on #2279
@manishas Thanks for reopening since there still seem to be some issues here. The build still fails but now with a different error:

[code]

Although I cannot see an error message, the build just stops at this point and the error indicator shows up at the right.

On that note: a different project still using the old format also fails on a different point:

[code]

This (as all our projects) is usi

[2016-03-01 08:45] bryanvaz commented on #2287
Thanks @manishas! Because we run AWS commands during the process I had to adjust the build script to allow the awscli to update (see below). But we just noticed a more serious bug (see after yaml).
[code]

### New issue: Docker does not login to DockerHub integration
The last step that we have "docker push advisory/webapp:min-latest" breaks. I assume that the container is not logging into our priv

[2016-03-01 08:53] rageshkrishna commented on #2279
@mbrodala The reason for the failure is hidden in the output of the last command in the boot_container step. It looks like you've specified `dry-dock/u14php:tip` as the image name. This should be `drydock/u14php:tip`.

[2016-03-01 08:59] mbrodala commented on #2279
@rageshkrishna Thanks, I didn't expand that message which indeed gives me a clear error message:

[code]

It now indeed fetches the image and runs all build steps. There is an error in the `ci` step but I'll open a different issue for that.

Thanks!

[2016-03-01 08:59] #2279 closed

[2016-03-01 09:02] mbrodala opened #2290 "Composer permission issues with new YML format"
With the new `shippable.yml` format and the Continuous Delivery plan I am seeing permission errors [on build](https://app.shippable.com/runs/56d55940df0cf40c00ad36f6):

[code]

This is the relevant part of our `shippable.yml` currently:

[code]

Aside from the permission error: can this be trimmed down a bit with the new environment/image?

[2016-03-01 09:03] mbrodala commented on #2279
(Issue #2290 added)

[2016-03-01 09:04] rageshkrishna commented on #2287
Hi @bryanvaz. Can you please link me to your latest run? Thanks.

[2016-03-01 09:11] mbrodala commented on #2275
@pmezard Thanks a lot, this also [fixes an issue](https://github.com/Shippable/support/issues/2279#issuecomment-190611794) we are seeing currently.

We'll add this workaround for now to keep it working.

[2016-03-01 09:16] mbrodala opened #2291 "Cannot load app"
Currently I am unable to load the Shippable app. I can see the following errors in the browser console:

[code]

[2016-03-01 09:41] rvrignaud opened #2292 "API broken"
Hello,

It seems that the new release come with a brand new API. Is the old one still accessible ?

[2016-03-01 10:00] mbrodala commented on #2207
Notice that this does not work anymore after the infrastructure changes yesterday. We are now seeing raw color escape sequences in our [build logs](https://app.shippable.com/runs/56d567673e79a20c00a74cc7).

Are there plans to bring back the color output?

[2016-03-01 10:09] mbrodala opened #2293 "HTTPS/SNI error for api.shippable.com at "wait_for_exit""
All of our current builds [fail on the `wait_for_exit` step](https://app.shippable.com/runs/56d56a5235921e0c0055afc5):

[code]

[2016-03-01 10:12] mbrodala commented on #2291
Seems to be a temporary issue and is gone now.

[2016-03-01 10:12] #2291 closed

[2016-03-01 10:18] mbrodala commented on #2203
We have not seen this error for a while and with the new infrastructure this is executed already in the `setup_php` step, so we'll remove it from our `build_ci` anyways.

[2016-03-01 10:18] #2203 closed

[2016-03-01 10:20] mbrodala opened #2294 "Missing /root/.ssh/id_rsa"
The file `/root/.ssh/id_rsa` seems to be gone after the infrastructure change.

Where can we find the private key file associated with the public **Deployment Key** of Shippable? (As seen in the subscription settings.)

[2016-03-01 10:28] avinci commented on #2294
We are automatically adding all the keys to the ssh-agent. so you should be able to run any ssh command. In case you still need it its in /tmp/ssh on the build container.

[2016-03-01 10:30] mbrodala commented on #2294
The ssh agent solution is great but we still need the key file since our current deployment tool (Rocketeer) needs a key file.

I'll try copying the file from `/tmp/ssh/id_rsa` (?) to `~/.ssh/id_rsa` since we'd have to change our deployment configuration otherwise which must continue to work in every environment.

[2016-03-01 10:33] avinci commented on #2294
you need `cp /tmp/ssh/sub to ~/.ssh/id_rsa`

[2016-03-01 10:44] pquentin opened #2295 "Get last run for each project"
We currently have 96 projects in Shippable, and want to build 78 of them daily. Is there any way to get the latest run for each project? With the old API, I could use `https://api.shippable.com/subscriptions/$SUBSCRIPTION_ID/searchBuilds?limit=500` and check that I had all projects. It was ugly, but it worked.

You removed that API call without a single warning at around 4AM UTC yesterday, and I d

[2016-03-01 10:56] mbrodala opened #2296 "Syntax error in YML env section"
The builds of one of our projects currently fail after the Shippable infrastructure switch:

[code]

This did work perfectly fine before.

[2016-03-01 11:05] mbrodala commented on #2294
Thanks, works fine. :-)

[2016-03-01 11:05] #2294 closed

[2016-03-01 11:05] mbrodala commented on #2290
Seems to have been a temporary issue since we are not seeing it anymore now.

[2016-03-01 11:08] mbrodala commented on #2290
Strike that, it still affects [builds with the new YML format](https://app.shippable.com/runs/56d577e1a2dd5e0c000ea4b3).

[2016-03-01 11:24] himanshu0503 commented on #2295
@pquentin : We have added two new API's
API - Search builds/runs (Gives you all the builds/runs for the given list of subscriptionIds/projectIds.)
For MT-CI plan
`https://api.shippable.com/builds?subscriptionIds=$SUBSCRIPTION_ID_1, $SUBSCRIPTION_ID_2&projectIds=$PROJECT_ID_1, $PROJECT_ID_1`.
For Continuous Delivery plan
`https://api.shippable.com/runs?subscriptionIds=$SUBSCRIPTION_ID_1, $SUBSCRIPT

[2016-03-01 11:49] mbrodala commented on #2086
@manishas I'm also seeing the phpenv/rbenv error in my current test branch for the new YML format. ([last run](https://app.shippable.com/runs/56d580a57e20270c00cca957)) Just to check a few things, I've also added `phpenv --version` and `phpenv help`:

[code]

This looks rather odd from my POV.

[2016-03-01 11:49] pbosko opened #2297 ""Could not open input file" after Shippable upgrade"
Hello,

We are experiencing "Could not open input file" with latest builds in build_ci step. So, I dug out a build that passed on 29.3. 15:53 and rerun it, and it too failed with this error.

Could not open input file: /var/www/wt/webwiz/tools/build/class_cache.php

Commit that successfully passed build: https://app.shippable.com/builds/56d45b555009560c004797ce
The same commit fails in another bui

[2016-03-01 11:55] pquentin opened #2298 "http://app.shippable.com/ (HTTP, not HTTPS) is down"
http://shippable.com/ redirects to https://app.shippable.com/, but http://app.shipable.com/ (HTTP, no HTTPS) does not redirect to https://app.shippable.com/.

This is not a theoretical issue, I was really wondering what was going on.

[2016-03-01 12:02] pquentin commented on #2295
Thank you, the undocumented route `/subscriptions/$SUBSCRIPTION_ID/runStatus` in your edit is exactly what I needed!

[2016-03-01 12:02] #2295 closed

[2016-03-01 12:09] pbosko commented on #2297
First problematic build with this error was today at 12:05 (https://app.shippable.com/runs/56d5778135921e0c005bf314). Previous one happened today at 10:41 and it was successful (https://app.shippable.com/builds/56d563cdf696ab0d00da11bb).

After today at 12:05 all failed with the same error.

[2016-03-01 12:26] pquentin commented on #2293
We are affected too.

[2016-03-01 12:42] rageshkrishna commented on #2293
We've identified the issue. This will be fixed soon.

[2016-03-01 12:53] rageshkrishna commented on #2296
@mbrodala It seems like you have some environment variables that are not quoted. Can you please confirm whether this is the case? We no longer inject any quotes ourselves so this may be what you're running in to.

[2016-03-01 13:36] rageshkrishna commented on #2297
@pbosko We've identified the issue. A fix will be in very soon.

[2016-03-01 13:37] rageshkrishna commented on #2290
@mbrodala We've figured out what's going wrong here. A fix will be available very soon.

[2016-03-01 13:47] mbrodala commented on #2296
@rageshkrishna Thanks, that was the issue. One of the environment variables was a line for the `known_hosts` file with spaces and without quotes.

I've now moved this line to a file instead and add the file content to the system file during build.

[2016-03-01 13:47] #2296 closed

[2016-03-01 13:53] pmezard opened #2299 "Cannot git clone from build image any longer, SSH issue"
Hello,

The build https://app.shippable.com/runs/56d59a862fd3ea0c00e3cc65 clones a bitbucket repository from its build_ci action. It now fails with:
[code]

I added an `ssh-add -l` call right before which displays:
[code]

And I confirm the first one is registered as a Deployment Key in the bitbucket repository.

What changed? Is it expected? Is there any workaround?

[2016-03-01 13:54] rageshkrishna commented on #2277
There was one issue with our component that would error out if ssh agent is not found. This fix will be deployed shortly.

In the mean time, can you please delete your project settings and create them once again. We seem to have gone into an unusual state on your project settings which is causing your build to be executed with the pre-ci docker build workflow instead of the post-ci that you have c

[2016-03-01 14:13] mbrodala opened #2300 "Very slow docker tag & push"
While builds are in general really fast (congratulations on this one ;-) ) the Docker commands invoked in the `build_on_success` step are extremely slow.

[This build](https://app.shippable.com/runs/56d59e4f797c670c00f6cb01) for example took 10 minutes in total to complete where the actual build was completed in < 1 minute and the remaining time was taken by the Docker commands.

Is there some iss

[2016-03-01 14:15] mbrodala opened #2301 "Add time to build output/log"
There should be an output for every build step to denote how much time (in seconds) the step took. This will help a lot with identifying issues in the build/infrastructure setup.

As an example have a look at the [current Travis CI output](https://travis-ci.org/Brainsware/puppet-composer/jobs/102302116).

[2016-03-01 14:21] avinci commented on #2301
we will add this.

[2016-03-01 14:22] avinci commented on #2300
We use docker for caching. They have a layer limit due to AUFS and hence we have to commit the container and then do it. Else, if you cache the who machine, its even more slower.

That being said, there is feature we are working on where only folders are cached and that doesnt required any docker commands. that will be coming soon.

[2016-03-01 14:29] mbrodala commented on #2300
@avinci Thanks for the info, looking forward to that. :-)

[2016-03-01 14:30] philcraven commented on #2286
Works great!

On Mon, Feb 29, 2016, 8:41 PM Ragesh Krishna <notifications@github.com>
wrote:

[2016-03-01 14:30] mbrodala commented on #2301
:thumbsup:

[2016-03-01 14:32] mbrodala commented on #2300
@avinci Can I speed up the current state with a manual `shippable_cache_container` call during the build?

[2016-03-01 14:33] himanshu0503 commented on #2297
@pbosko : Investigated your issue and found out that you're probably using the path `/home/shippable/workspace/src/github.com/projectName/` in your yml, the path of the `project` is exported in  `$SHIPPABLE_BUILD_DIR` variable.
Can you try using the `$SHIPPABLE_BUILD_DIR` variable and let us know if you run into the same issue?

[2016-03-01 14:48] himanshu0503 commented on #2086
@mbrodala : We've looked into `phpenv config-rm xdebug.ini` issue.
Our earlier images were using `rbenv 0.4.0` which had support for `config-add, config-rm` commands, these commands have been removed in `rbenv 1.0.0-16-gd6ab394`.
Here all all the commands which `rbenv 1.0.0-16-gd6ab394` supports.
[code]

[2016-03-01 14:55] avinci commented on #2300
not really. It does the same thing, and it allows folks to be able to get to cache at a particular stage as opposed to the last step.

[2016-03-01 14:57] himanshu0503 commented on #2292
@rvrignaud : We apologize for the inconvenience, this comes as a major revamp where in we cleared up some of our API's to give you better results.
Can you please tell us any specific API that you were trying to access?

[2016-03-01 15:03] mbrodala commented on #2086
@himanshu0503 That explains the issue at hand, thanks. Is there a proper way to fix this? I can execute the `rm` / `cp` manually of course but I think there is a cleaner solution.

[2016-03-01 15:44] mbrodala commented on #2300
@avinci OK, is there anything else I can do right now?

The delay is not really an issue for the builds itself since all of our commands are ran before the Docker tag/push but all of these long running builds take up minions thus we won't be able to run builds at busy times.

[2016-03-01 15:46] avinci commented on #2300
How much of time caching is saving you? Since we are doing a lot of optimizations on the machine itself, if you are using our generic images, you might be better off turning off caching.

I need some info wrt to where caching might and might not help you. So if you could send me email if you want to take it offline, happy to do that too. avi@shippable.com

[2016-03-01 15:51] mbrodala commented on #2086
Are there some updates how to install PHP extensions with the new infrastructure/images? (Pickle, ...). The approach with APT doesn't work with PHP 5.6 [as mentioned above](https://github.com/Shippable/support/issues/2086#issuecomment-187673014).

[2016-03-01 15:56] mbrodala commented on #2300
The caching avoids re-installation of the PHP "intl" extension on every build (see #2086) and the installation of Composer dependencies. But compared to a 10 minute waiting time this is nothing, so we've disabled the cache for now. The build completes after 2 minutes now (and always fails due to #2293) but it looks good. I'll try this in various projects and builds.

[2016-03-01 15:57] manishas commented on #2286
closing.

[2016-03-01 15:57] #2286 closed

[2016-03-01 16:00] himanshu0503 commented on #2086
@mbrodala : Looked through the implementation of `config-rm` and it was removing xdebug.ini file using `rm` [Link](https://github.com/CHH/phpenv/blob/master/extensions/rbenv-config-rm``).

To install extensions using pickle you can add the command `/tmp/pickle/bin/pickle install EXTENSION_NAME`.

[2016-03-01 16:15] mbrodala commented on #2086
@himanshu0503 This [doesn't work that well](https://app.shippable.com/runs/56d5bfae760b770c00c10272):

[code]

(I'd also expect `pickle` to be installed in e.g. `/usr/bin` to have it in the `PATH`,)

[2016-03-01 16:23] rogierslag opened #2302 "Cannot open subscription page"
When I access our organizations subscription page (https://app.shippable.com/subscriptions/540e780d3479c5ea8f9e95ac), it does not load. Angular throws an error on
<img width="586" alt="screenshot 2016-03-01 17 22 53" src="https://cloud.githubusercontent.com/assets/2778689/13433460/3d497efc-dfd2-11e5-8416-f8cda926f8e7.png">

Ironically I'd like up upgrade our plan but that is not possible for now (

[2016-03-01 16:24] rogierslag commented on #2302
Probably related btw, but all builds for this organization are also hanging

[2016-03-01 16:30] chriskinsman commented on #2117
We are also seeing this.  Our config is:

notifications:
     email:
         recipients:
             - xxxx@pushspring.com
         on_success: change
         on_failure: always

We are now getting emails on every build success instead of just on state change.

[2016-03-01 16:33] j1fig commented on #2249
Hi @manishas , no I'm signing in with my bitbucket account (same e-mail).

Let me know if you need more info.

[2016-03-01 16:34] mbrodala commented on #2086
OK, I tried this on the `shippableimages/ubuntu1404_php` image. It looks better on the `drydock/u14php` image:

[code]

Now I only need to figure out how to load this installed extension (read: add to `php.ini`).

[2016-03-01 16:36] mgladdish commented on #2117
And it's still happening for me.

It's pretty tedious getting spammed by your own builds :(

[2016-03-01 16:47] mbrodala commented on #2086
@himanshu0503 Do you have a hint for the last point?

[2016-03-01 16:54] chriskinsman opened #2303 "Getting errors in console on Subscriptions screen"
{"logType":"verbose","methodName":"subscriptions|getStateById|callerId:5490c3ac60108e0e00ef1836|subscriptionId:5490c3add46935d5fbc061a8_getSubscriptionById","id":4005,"message":"getSubscriptionById for id: 5490c3add46935d5fbc061a8","link":500}

[2016-03-01 16:55] cratz opened #2304 "Postgresql in shippable default image"
Postgresql server is not running in the new shippable default image even I specified it as an addon.
Add the following line to your shippable.yml before you try to access (create) the database:
(start only a specific version. I wanna have 9.3)

[code]

[2016-03-01 16:57] mbrodala commented on #2086
I am also having a hard time getting verbose output or the build log from Pickle to find out e.g. where the `intl.so` has been stored.

[2016-03-01 16:57] kanthchandra commented on #2117
Hi Everyone,

We apologize for the inconvenience caused. The new yml structure is designed to give you finer control over when you want to get notified. But if that is not working as expected I will definitely take a look at this the first thing tomorrow morning.

I will need more info in order to debug this. Can you please provide the link to the build for which you got notified (although you had

[2016-03-01 17:02] mgladdish commented on #2117
But the _old_ yml structure wasn't working as expected.
Neither is the new one.

https://app.shippable.com/builds/56d5bc65f42d580c007eea7d

[2016-03-01 17:48] manishas commented on #2304
Can you please share a build link?

We will look into why the addons isn't working. In the meantime, if you want to continue using the old default image, you can do the following in your yml:

[code]
This will pull the old default image minv2 for your builds.

[2016-03-01 18:13] alvaroc1 opened #2305 "Keep getting "Hub login failed" on builds"
Builds used to work before migration. Where do I need to configure the docker hub login? It's already setup correctly on the project settings (on shippable website > project settings).

[2016-03-01 18:27] manishas commented on #2305
@alvaroc1 From my understand, you're pulling a custom image from Docker Hub and using it for CI. You do not want to push this image after CI or run any docker commands in your `ci` or `post_ci` sections.

The problem you're seeing is because your custom image does not have docker installed, and if you have an integration configured in the yml, we try to login to the registry. However, if you are n

[2016-03-01 18:31] manishas commented on #2287
@bryanvaz can you add a hub tag to your integration settings in yml and try again -

[code]

[2016-03-01 18:33] manishas commented on #2287
@cratz which preinstalled services are you using? I can recommend the right image to pull based on that.

[2016-03-01 18:43] spsiddarthan commented on #2217
This should be fixed now, please let us know if you still see a problem.

[2016-03-01 18:43] #2217 closed

[2016-03-01 19:10] JasonSwindle commented on #2277
I too am impacted by this as my example does not have ssh-agent at all, nor needs it (nginx:latest)

projects: 56d1f64f1895ca44747c9577

[2016-03-01 19:25] luckyraul commented on #2289
Still the same https://app.shippable.com/runs/56d5ebca2277580c0013afb4

[2016-03-01 19:29] luckyraul commented on #2289
@manishas whole day this problem

[2016-03-01 19:35] manishas commented on #2289
looking into this...

[2016-03-01 19:36] manishas commented on #2289
@luckyraul what is your scenario? Can you share your shippable.yml?

[2016-03-01 19:37] manishas commented on #2305
this is now deployed. Can you please add the `agent_only` tag to your yml as shown above and try again?

[2016-03-01 19:39] manishas commented on #2292
@rvrignaud please let us know what APIs you were using and we can send you the updates.

[2016-03-01 19:44] manishas commented on #2299
@a-murphy can you look into this?

[2016-03-01 19:44] luckyraul commented on #2289
@manishas I asked you here https://github.com/Shippable/support/issues/2022but finaly come up with

[2016-03-01 19:59] manishas commented on #2305
taking another look at this....

[2016-03-01 20:14] manishas commented on #2276
@pmezard I agree this should not have happened in the first place. We will communicate better in the future and make sure everyone understands what will break.

It's probably too late since you've converted to using a custom image, but you can pull one of our drydock images by including the following in the yml (new format):

[code]

[2016-03-01 20:14] #2276 closed

[2016-03-01 21:42] JasonSwindle opened #2306 "/bin/sh: 1: ssh-agent: not found | Using my own Dockerfile"
Using this ( https://github.com/JasonSwindle/shippable-example/blob/master/Dockerfile ) I am unable to build as I keep getting the error:

[code]

How do I make Shippable not try to ssh into my container which will never have ssh installed into it.

[2016-03-01 23:30] kpmeen commented on #2226
Seing the same...builds have been constantly timing for about 5 days.

[2016-03-01 23:37] alvaroc1 commented on #2265
Ok, I migrated the shippable.yml to the new version... my builds seem to be working now. Thanks.

[2016-03-02 00:44] calasyr opened #2307 "Project page never loads"
Every time we load the project page for particular project (https://app.shippable.com/projects/55c67495edd7f2c0529a0d64), we just get the spinner and a message with this JSON.

{"logType":"verbose","methodName":"runs|getBranchRunStatusByProjectId|callerId:55c67500edd7f2c0529a1061|projectId:55c67495edd7f2c0529a0d64|_getBuilds","id":4005,"message":"getBuilds for query: projectIds=55c67495edd7f2c0529

[2016-03-02 01:24] manishas commented on #2307
we'll look into what's causing the error. The problem with your subscription is that you switched to the single tenant plan and have not added a build node. So your builds have no place to run.

You can switch to the Continuous Delivery plan and your builds should start running. Let me know if it works.

[2016-03-02 01:41] calasyr commented on #2307
We have the Continuous Delivery plan.

[2016-03-02 02:25] manishas commented on #2307
Yes you're now on the continuous delivery plan. Did you try to trigger a build? Are you still seeing the json errors?

[2016-03-02 02:56] manishas commented on #2289
@luckyraul this is a bug at our end. We'll work on a fix today.

[2016-03-02 04:13] ric03uec commented on #2289
@luckyraul this is happening because the custom image you're using does not have `sudo` installed in it. and the command `sudo docker login ....` is failing.
can you try to add the line
[code]
in the dockerfile and try again.
if the problem still persists, we can get on a  call and debug this. Let me know what works for you

[2016-03-02 04:16] calasyr commented on #2307
We've been trying to trigger a build.  Yes, we still see the JSON.

[2016-03-02 04:31] ric03uec commented on #2303
@chriskinsman we've deployed a fix for this error. Let me know if you're still seeing this.

[2016-03-02 04:42] manishas commented on #2305
closing this. @alvaroc1 please let me know if you're still running into issues with this.

[2016-03-02 04:45] manishas commented on #2307
@rageshkrishna can we take a look at this?

[2016-03-02 04:47] manishas commented on #2302
this should be resolved. closing.

[2016-03-02 04:47] #2302 closed

[2016-03-02 04:50] manishas commented on #2306
@JasonSwindle we are pushing a fix for this soon.

However, please note that we do need certain tools in the custom image, like git and python for example. We install these in the custom image as part of the build process.

[2016-03-02 05:16] manishas commented on #2288
this has been resolved. closing.

[2016-03-02 05:16] #2288 closed

[2016-03-02 05:17] manishas commented on #2130
closing this issue. please let us know if you need further help with this.

[2016-03-02 05:17] #2130 closed

[2016-03-02 05:27] manishas commented on #1123
We have not received this request again, so this will not be added as a standard option to avoid bloated images. Please install it as part of your shippable.yml config.

[2016-03-02 05:27] #1123 closed

[2016-03-02 05:27] manishas commented on #1165
this is an old request and we have changed yml format since then. closing.

[2016-03-02 05:27] #1165 closed

[2016-03-02 05:28] manishas commented on #1093
closing this one since it is resolved.

[2016-03-02 05:28] #1093 closed

[2016-03-02 05:28] manishas commented on #1092
closing since postgres 9.4 is now available.

[2016-03-02 05:28] #1092 closed

[2016-03-02 05:29] manishas commented on #1142
This is an old issue and we've revamped our build system since. Closing.

[2016-03-02 05:29] #1142 closed

[2016-03-02 05:30] manishas commented on #1084
This is an old issue and we've revamped our build system since. Closing.

[2016-03-02 05:30] #1084 closed

[2016-03-02 05:31] manishas commented on #1036
This is an old issue and we've revamped our build system since. Closing.

[2016-03-02 05:31] #1036 closed

[2016-03-02 05:33] manishas commented on #1168
this is not on the roadmap for now. we'll reconsider if there is more feedback around this.

[2016-03-02 05:33] #1168 closed

[2016-03-02 05:34] manishas commented on #1172
this is an old issue and our build system was revamped after this. closing.

[2016-03-02 05:34] #1172 closed

[2016-03-02 05:36] manishas commented on #1497
our build system has been rewritten and this will not happen any more. closing.

[2016-03-02 05:36] #1497 closed

[2016-03-02 05:39] manishas commented on #1364
we have revamped our build system. we're no longer showing times for individual steps, but we'll add it in soon and make sure the times make sense.

[2016-03-02 05:39] #1364 closed

[2016-03-02 05:40] manishas commented on #1399
Yes, there is a button to reset cache. Also, we have revamped caching in the new release and the container is now centrally cached after every build.

[2016-03-02 05:40] #1399 closed

[2016-03-02 05:41] rageshkrishna commented on #2275
`SHIPPABLE_PYTHON` will be available only on builds running official images. The reason for this is that the path to the python binary you need to use can change with the image you're using.

We do export a SHIPPABLE_PYTHON_VERSION variable, so if your python binaries are named conventionally (python2.7, python3, etc.), you should be able to do this:

[code]

Would this work for you?

Setting SHIP

[2016-03-02 05:43] manishas commented on #1480
Closing this since it's an old issue and we've revamped the build system recently.

[2016-03-02 05:43] #1480 closed

[2016-03-02 06:09] luckyraul commented on #2289
Firstly I don't want to docker push from my image. I just want to build and push, as it was before
Secondly I can't see my image run output in ci section
Thirdly fix please escaping of console output

[2016-03-02 06:23] jlsupport commented on #2267
Hi @bryanvaz , Thanks for the great explanation, but this does not work work with EB Docker as far as i can see...

[2016-03-02 06:59] Varsha-Arun opened #2308 "[UI_74] All build steps are running even after cancelling a processing build in new build system"

[2016-03-02 07:00] pbosko commented on #2297
Yes, that's it! Thanks.

[2016-03-02 07:05] #2308 closed

[2016-03-02 07:17] luckyraul commented on #2289
after adding ```agent_only: true```
https://app.shippable.com/runs/56d69166ebf58d0b00800bcd

Much better - hovewer docker push did not have success

[2016-03-02 07:25] rageshkrishna commented on #2307
@calasyr We've identified the root cause behind this issue. A bug in our subscription sync routine is what's triggering this error. We will have this fixed in a few hours.

[2016-03-02 08:21] pbosko opened #2309 "Yml merge for PR failed"
Hello,

Yesterday (Mar 1st 16:26) a commit passed all tests in this build: https://app.shippable.com/runs/56d5b4a601e5670d00aae83d

Now (Mar 2nd 9:13) the same commit fails in another build with message "Yml merge for PR failed", in Alerts section. Build link: https://app.shippable.com/runs/56d6a09fe494ba0c0089ab2d

Since this is first step in build process, I guess there is not much we can do abo