[2015-11-06 02:17] avinci commented on #1995
I understand. We are running 1000s of builds and if its an internet problem, then every build fail. I am trying to nail down what that is. Did you get a chance to do `shippable_retry`?

[2015-11-06 02:17] avinci commented on #1995
Also, can I get your projectID?

[2015-11-06 04:00] manish-in-java commented on #1995
My project ID is 55d549851895ca44740e54d9.   Take a look at builds 78-82.  Build 78 passed and then 79 failed.  Manually retried builds 80-81 did not work.  Then, retried build 82 worked.  You will notice that builds 79-82 are against the same commit in the source repository so nothing in the source code has changed between them to warrant a difference in behaviour.

I have added `shippable_retry`

[2015-11-06 07:26] manish-in-java commented on #1946
This should be straightforward.  I build my app using the following `shippable.yml`:

[code]

This is a mix Java-Scala-Groovy project that uses the Maven Scala plugin (`org.scala-tools:maven-scala-plugin:2.15.2`) for compiling the Scala code.

I have created a sample as a reference.  The Shippable Dashboard for this sample is available [here](https://app.shippable.com/projects/563c52d71895ca447422

[2015-11-06 08:33] naveensky commented on #2003
@avinci - Any update on this ? Is there a temporary workaround which I can use for now?

[2015-11-06 10:38] kanthchandra commented on #1980
Hi @rmrbest this has been fixed, can you please try it out and let us know? thanks!

[2015-11-06 10:40] rageshkrishna commented on #1997
Hi @mbrodala, just wondering if you're still seeing this on that project (or any others). Thanks.

[2015-11-06 11:11] mbrodala commented on #1997
There was a single timeout 2 hours ago but so far not as many timeouts as last time.

[2015-11-06 12:11] rageshkrishna commented on #2003
@naveensky This is how we set the workspace folder today:

[code]

You _might_ be able to temporarily get around this issue by adding an env to your YML file to override it with something like this:

[code]

I hope this helps.

[2015-11-06 12:12] rageshkrishna commented on #2003
(edited a couple of typos in the previous comment)

[2015-11-06 17:55] manishas commented on #1995
@manish-in-java while digging deeper into this, we did discover a bug in our retry script which we have fixed. This should work more predictably for you now... let us know.

We're focusing on improving stability over the last few and next few weeks, so you will see issues like this disappear soon. Thanks!

[2015-11-06 18:28] woglinde opened #2005 "Login problems with a private docker registry"
Hello,

we have the login problem with a self setup private docker registry.
The registry runs at version 2.2 and pushes from my local computers with the credentials
are working.

The output fromm the push step on shippable is (I had to censor some details with xx):

The push refers to a repository [xx/xxxxxxx] (len: 1)
d06aa47a8d6e: Buffering to Disk
d06aa47a8d6e: Image push failed

Please login

[2015-11-06 19:17] philcraven commented on #1865
the simple answer is for setup_ve to call
- curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.27.1/install.sh | bash
before it tried to install node, which would allow you to not need the specific build image

[2015-11-06 19:18] avinci commented on #2005
@woglinde, is the registry publicly accessible to push to? When you are trying to do this from your laptop, is it on some intranet or are you able to do this from internet too?

[2015-11-06 19:28] avinci commented on #2001
Just want to make sure I understand the tag you are referring to. Are you referring to release tags?

@nlf, let answer the bonus point q first. today we push the commitSHA as a tag. I think we can push tags too. It should super simple.

Now coming the main Q. I want to make sure I understand your workflow. Do you run CI first and upon it passing, you push a tag again to the same commit? I am not s

[2015-11-06 19:30] avinci commented on #1996
did the resolution of 1995 help this?

[2015-11-06 19:30] #1994 closed

[2015-11-06 19:30] nlf commented on #2001
correct. we test a release, then tag it in git and push the tag and we want the docker push to *only* happen for a git tag

[2015-11-06 19:34] avinci commented on #1979
sorry for the delay. I would basically create a small db backup and restore it. Its probably faster that way if you have quite a bit of data. if its simple metadata then it should be relatively easy to write inset scripts to prime the DB. you could use some sort of migration package to achieve this too. Not sure if PHP has built in migrations like db:migrations in ruby

[2015-11-06 19:34] #1979 closed

[2015-11-06 20:20] naveensky commented on #2003
@rageshkrishna - Do we have encrypted file system on build images ? Is there a way to make them unencrypted. It seems that can resolve the issue,  More info at https://github.com/scala/pickling/issues/10

[2015-11-06 21:11] RonXS commented on #1972
Can you elaborate why this bug is now marked as resolved + closed

I' m not the opener of this specific bug and to truely close this bug, the actual issue "not disclosing the actual" error needs to be resolved. Is this fixed or was my workaround solution the reason that the bug is marked as done?

It would be nice (or maybe even vital) to see errors that occur by your own provisioning including in

[2015-11-06 21:57] n0mer opened #2006 ""last successful build" API alias"
Hi,

is there any way to get fixed URL to download artifacts from last successful build?

It is sort of a hassle to pass build_id here and there, so - what is the "official" way to download artefacts from last successful build of a given project?

This feature exists in Jenkins, by the way: https://wiki.jenkins-ci.org/display/JENKINS/Remote+access+API

Thanks.

[2015-11-06 22:37] n0mer commented on #1797
also please include more user-friendly message when user on a free plan tries to create an API token.

Currently it looks like this, on the top of the screen:

![image](https://cloud.githubusercontent.com/assets/1862997/11010466/51f8773e-84df-11e5-8b13-916ead0ec4f0.png)

[2015-11-06 22:38] n0mer commented on #1797
ping @norbe )

[2015-11-07 00:26] n0mer commented on #1140
@ragsden can you please follow-up on what was the problem and how did you fix it?

i'm having the same

[2015-11-07 00:40] manishas commented on #1140
@n0mer can you please open a new issue and describe the problem you're running into?

[2015-11-07 02:10] n0mer commented on #1140
@manishas in the spirit of http://www.catb.org/esr/faqs/smart-questions.html i'm sharing my feedback.

i built custom docker image, that includes /root/.ssh/id_rsa

shippable seems to overwrite /root folder with /root/workspace (i suppose this is docker volume container), so my id_rsa key was overwritten

i fixed the problem my putting id_rsa to /opt/ssh folder and then using rsync -e 'ssh -i /opt

[2015-11-07 13:06] n0mer commented on #1170
@manishas is this 'soon' already arrived? :)

[2015-11-07 13:31] n0mer commented on #1461
@manishas , so how to manually clear already fetched image?

"Force Synchronize Project" and "Clear Cache" in project settings does not help, still having 'skipping pull' message

[2015-11-08 01:22] pmacosta commented on #1940
No need to investigate this issue any further (if you still are), moving on to Travis.

[2015-11-08 02:10] manishas commented on #2005
@woglinde can you try using the following syntax for the 'push image to' setting -
[REGISTRY_HOSTNAME:REGISTRY_PORT]/image_name

The docker login is happening correctly since you've set up an account integration with a path to the registry and supplied creds. However, your 'push image to' setting specifies xx/xxxx without specifying a port for the private registry, so we're trying to push the imag

[2015-11-08 02:18] manishas commented on #1995
@manish-in-java i am going to close this issue since the fix for shippable_retry should have fixed the problem. If you see this again, please let us know and we'll follow up.

[2015-11-08 02:18] #1995 closed

[2015-11-08 10:20] woglinde commented on #2005
Hi,

I got it working now. It was my fault to assume when setting the docker registry in the hub option that the image get tagged right and I failed to look up in docker build logs how the image get tagged.

Thanks for the hints.

[2015-11-08 10:20] #2005 closed

[2015-11-08 16:47] manishas commented on #1983
Thanks for reporting this.. we are aware of this issue and we'll work on fixing it soon.

[2015-11-08 17:09] manishas commented on #1986
I think you're missing some path setting that exists on your local machine but is not being set in the yml... we can dig in deeper if this doesn't help.

[2015-11-08 18:04] norbe commented on #1797
I'm pretty sure that I can't help you as I'm only user, not developer of shippable ;)

[2015-11-08 18:14] n0mer commented on #1797
then ping @lekhab :)

[2015-11-08 18:30] avinci commented on #1797
@n0mer , currently we allow API tokens only on paid accounts. Can you confirm that you are trying it with an account that has access to one of the paid subs?

[2015-11-08 18:40] n0mer commented on #1797
@avinci , i'll repeat my comment: "please include more user-friendly message when user on a free plan tries to create an API token"

[2015-11-08 18:41] avinci commented on #1797
Yup, will add that ASAP.

[2015-11-08 18:41] avinci commented on #1797
Thanks for the feedback

[2015-11-09 00:49] pkaminski opened #2007 "Unable to find precise build start time"
I want to correlate my deployments with some production issues and can't seem to find the exact time that a build was started.  It just says "10 days ago" or "10/28/2015" in the UI even though the data is clearly there (looking directly at the Angular scope).  Could you please display the day and time that a build started and make the time zone clear?  Thanks.

[2015-11-09 05:03] manishas commented on #1925
@diwu1989 are you still running into this?  If yes, can you force sync your account and let us know... if it happens again we'll take a deeper look.

[2015-11-09 05:05] manishas commented on #1913
@jim-bo i am closing this issue since i am assuming the suggestion above worked. Please let us know if you have any questions.

[2015-11-09 05:05] #1913 closed

[2015-11-09 05:08] manishas commented on #1896
@tomsterritt sorry for the delay on this. We are in the process of creating standard images, and the base image for node is ready... you can specify pull from drydock/u14nod:prod or drydock/u12nod:prod in your project settings.

Please note that these only have language versions and do not have any services installed, so you'll need to install those yourself.

[2015-11-09 06:06] pquentin opened #2008 ""Pull Image from" container image does not get updated"
We're using a custom container image for consistency between Shippable and production. Since about two days, we get:

    echo "image gcr.io/[snip]/shippable-ubuntu-1504:latest exists, skipping pull"

Resetting the minion does not help. This was already happening at the end of last week, as reported by [n0mer](https://github.com/Shippable/support/issues/1461#issuecomment-154704304). This is really

[2015-11-09 06:15] manishas commented on #2008
@pquentin thanks for pointing this out. We'll look into this... completely agree that custom images should be pulled every time.

[2015-11-09 06:20] manishas commented on #2008
I've raised a high priority issue on this internally and we'll provide an update soon.

[2015-11-09 06:40] gzsombor opened #2009 "Unable to download build result"
Hi,

 I've tried to setup a simple maven build, but I couldn't find a way to configure what will be the result artifacts of the build, which at the end, I can download. When I specified only the bare minimal:

    language: java

    jdk:
        - oraclejdk8

    script:
        - mvn -DskipTests package

Nothing showed up in the UI. From the generated script, I've noticed, that the system treats

[2015-11-09 06:42] rageshkrishna commented on #2009
Hi @gzsombor. You just need to add this to your YML to get downloadable archives:

[code]

Quoting from http://docs.shippable.com/build_case2/

I hope this helps.

[2015-11-09 06:54] gzsombor commented on #2009
thanks, I will try it!

[2015-11-09 07:24] rageshkrishna commented on #1951
The value in the plan was wrong. I have updated it in prod.

[2015-11-09 07:24] #1951 closed

[2015-11-09 07:30] rageshkrishna commented on #1951
@camullen Sorry, my previous comment should have been clearer. The underlying issue has been corrected and you should be seeing the right value show up in your subscription now.

[2015-11-09 08:42] rageshkrishna commented on #2008
@pquentin This has been fixed. Please give it another shot and let me know how it goes.

[2015-11-09 08:55] pquentin commented on #2008
Yes, it works. Thank you for the quick fix!

[2015-11-09 08:55] #2008 closed

[2015-11-09 09:25] rageshkrishna commented on #1461
@n0mer We had a regression on this in the last couple of days, but it has been fixed now. Please open up another issue if you still see this happening. Thanks!

[2015-11-09 09:27] rageshkrishna commented on #1990
@netroby We've figured out what the problem is. A fix will be available in the next hour or so. Sorry about taking so long on this.

[2015-11-09 09:28] rageshkrishna commented on #1783
@sebest Sorry we lost track of this for so long. A fix for this will be available in the next hour or so.

[2015-11-09 09:38] n0mer opened #2010 "please display actual image ID being pulled from Docker Hub"
to help troubleshoot issues like #1461 , please display actual image ID being pulled (or used, if it has been already pulled)

[2015-11-09 09:39] n0mer commented on #1461
@rageshkrishna , thanks for follow-up.

i created #2010, that aimed to help us troubleshoot issues like this.

currently it is impossible to tell what image is actually used.

[2015-11-09 10:06] netroby commented on #1990
Oh， glad to hear that. i am not willing using shippable anymore. thanks for let me know.

[2015-11-09 10:13] rageshkrishna commented on #1783
@sebest This has now been fixed.

[2015-11-09 10:13] rageshkrishna commented on #1990
@netroby This has now been fixed. I hope you do give it a shot again some time soon. Thanks!

[2015-11-09 10:22] LuisMuniz opened #2011 "Builds unstable"
Hi,

I am struggling to get a stable build running on your servers.
The nature of some of my tests is asynchronous, so I need to build in some pauses to wait for the backend to perform its work. This works fine on a reasonably powerful server. I have built in generous pauses (20s, 30s) to give the server time to catch up, and sometimes the tests pass, but sometimes they don't. Now it is getting wo

[2015-11-09 10:33] manishas commented on #2011
@LuisMuniz we'll look into this and follow up with some options very soon.

[2015-11-09 11:04] rageshkrishna commented on #1986
Hi @pawanrawal. We haven't been able to repro this issue in our tests. I see that your build is running on a custom image. Would it be possible for you to share your Dockerfile? You can send it to me at ragesh@shippable.com if you'd rather not share it here. Thanks!

[2015-11-09 11:40] rageshkrishna commented on #2011
@LuisMuniz Can you give me the ID of the project where you're seeing these issues? Thanks.

[2015-11-09 11:47] rageshkrishna commented on #2003
@naveensky No, our Scala images are built straight from ubuntu:[12|14].04 and we don't configure any encryption. Did setting `SHIPPABLE_REPO_DIR` to a shorter path not help?

[2015-11-09 11:50] naveensky commented on #2003
@rageshkrishna, adding the SHIPPABLE_REPO_DIR variable had no effect on folder structure. I solved the issue by adding following clause to my build.sbt

`scalacOptions ++= Seq("-Xmax-classfile-name", "100")`

This resolved the issue with filename path. I am closing this task for now, unless I face any further issue

[2015-11-09 11:50] #2003 closed

[2015-11-09 11:55] LuisMuniz commented on #2011
Hi Ragesh,

55cdad20edd7f2c052a81e96

Regards,

Luis

Luis Muñiz
IT Director – Research and Development, Architecture | B2Boost
Chaussée de Waterloo, 1453, 1180 Brussels , Belgium
T : +32 (0)2.629.60.00 | M : +34 647 79 34 76
luis.muniz@b2boost.com<mailto:luis.muniz@b2boost.com> | www.b2boost.com<http://www.b2boost.com/>

Please consider the environment before printing.

From: Ragesh Krishna
Reply

[2015-11-09 12:10] rageshkrishna commented on #2011
Thanks, @LuisMuniz. I'm looking in to this.

I haven't confirmed what the problem is yet, but it looks like your YML file requests the elasticsearch service (you can see it starting up in the "start services" section of the build output), but your before_script also tries to launch an instance of elasticsearch. I'm not sure right now if that's an issue but thought I'd just put it out here as it se

[2015-11-09 12:14] LuisMuniz commented on #2011
I think that I have read in the documentation the elasticsearch is not started automatically, even if you declafre it in the services. I can't find the place I have read that now, though.

[2015-11-09 12:39] LuisMuniz commented on #2011
OK, I got confused by this article. Starting it up manually only is necessary when you need your own config file.

http://blog.shippable.com/custom-elasticsearch-configs-and-shippable

However I doubt this is the core issue.

[2015-11-09 13:42] LuisMuniz commented on #2011
I have removed the command to launch elasticsearch, and the sporadic failures still occur of course.

[2015-11-09 15:48] czardoz commented on #1881
@lekhab @manishas any updates on this? It's been more than a month :(

[2015-11-09 16:18] pezra opened #2012 "My GHE enterprise projects are missing"
I added a GHE integration (apparently successfully) but none of the projects on that github show up on my subscriptions dashboard. My GHE username is also missing from the "CI" drop down on the landing page. Did i miss a step in setting up my integration?

[2015-11-09 16:29] manishas commented on #2012
@pezra can you go to account settings and Force Sync your account? You should see the subs in your CI drop down after that.

However you will need a couple of more steps to get completely set up. We're in the process of documenting this. In the meantime if you send me an email at manisha@shippable.com I can share some instructions and also we can set up a quick on boarding meeting.

[2015-11-09 17:45] avinci commented on #1972
my mistake.

[2015-11-09 17:46] lukemadera opened #2013 "Chrome selenium Protractor e2e tests driver version issue"
I've been through the following threads and have things working with Firefox (though tests do not seem to pass - sporadic results, as has been my experience with Firefox, even locally, so we need to use Chrome, which is the only one that reliably passes for me).

https://github.com/Shippable/support/issues/609
https://github.com/Shippable/support/issues/258
https://github.com/Shippable/support/iss

[2015-11-09 19:22] manishas commented on #2009
closing this issue. please let us know if this didn't work.

[2015-11-09 19:22] #2009 closed

[2015-11-09 19:23] manishas commented on #2002
@drankinn can you try this out again and let us know if it works?

[2015-11-09 19:26] manishas commented on #1998
Looks like the build timed out... is this happening frequently or was this a one time thing?

[2015-11-09 19:28] manishas commented on #1946
@hhimanshu did the suggestion above help? Please let us know if it didn't work and we'll dig into this a bit deeper and reopen the issue.

[2015-11-09 19:28] #1946 closed

[2015-11-09 19:55] copyhawk opened #2014 "Cannot connect to mongodb"
I have been stuck on this issue for a while and I do not know what I'm doing wrong. Also, I have not found any related issues. I'm trying a nodejs build and using one of your pre-build images, but mongodb does not seem to startup correctly no matter what I try. Could you please give me any pointers?

build_image: shippableimages/ubuntu1204_nodejs

before_install:
  - source ~/.nvm/nvm.sh && nvm in

[2015-11-09 20:21] pezra commented on #2012
The api seems to work ok from the public internet.
[code]

[2015-11-09 20:22] n0mer opened #2015 "why image is pulled from the hub, if there were no recent uploads to the hub"
/builds/564100150f3caf0c00fa0b03

without #2010 it is impossible to troubleshoot what's actually going on

[2015-11-09 20:28] drankinn commented on #2002
I have tried it since the change, and it works as expected.

[2015-11-09 20:28] #2002 closed

[2015-11-09 20:30] manishas commented on #2015
Please see resolution for https://github.com/Shippable/support/issues/2008

We pull custom images every time since we do not want to store customers' images on our build hosts. You can cache your container in case you do want to store your image on our hosts. An overview of how caching works is here - http://blog.shippable.com/container-caching

[2015-11-09 22:33] manishas commented on #2015
closing this since the question was answered. please let me know if you have any more questions.

[2015-11-09 22:33] #2015 closed

[2015-11-09 22:55] n0mer commented on #2015
this is not the case -pull happens on all consecutive builds

[2015-11-09 23:13] manishas commented on #2015
pull should happen on all builds...is this not happening?

[2015-11-09 23:28] n0mer commented on #2015
it happends, but i'm wondering how to use advertized feature of incremental build.

you're doing 'git reset --hard' to HEAD - this is just to cleanup workspace.

but this 'npm install' / 'bower install' takes a lot of time, downloading the same packages every time build is happening. This is both waste of your bandwidth and my time :)

[2015-11-09 23:39] manishas commented on #1990
closing this issue. please  let us know if this is not working for you.

[2015-11-09 23:39] #1990 closed

[2015-11-09 23:53] manishas commented on #1199
this has been fixed in our Single Tenant CI plan which has replaced dedicated hosts.

[2015-11-09 23:54] manishas commented on #1199
Actually, no. We're working on this in our next phase of build fixes.

[2015-11-10 00:21] DavidGDragon opened #2016 "Allow users to Create From Source while fetching clusters"
Right now users have to wait for clusters to be fetched from the provider even if they don't have any. We should allow users to create from source even if it has not fetched existing clusters.

[2015-11-10 00:23] manishas commented on #1404
@andrewmichaelsmith sorry we dropped the ball on this one with no follow up.... did your build work?

I see green builds for one project, so am closing this. If something is still not working as expected, please reopen and we'll take a look.

[2015-11-10 00:23] #1404 closed

[2015-11-10 00:24] manishas commented on #1489
Closing this since we fixed the API in question...

[2015-11-10 00:24] #1489 closed

[2015-11-10 00:26] manishas commented on #1535
@jchamberlain i am going to close this issue, but please let me know if this is not fixed yet. If you want to run your builds on your own servers, we have a new plan that you can switch to, let me know if you're interested.

[2015-11-10 00:26] #1535 closed

[2015-11-10 00:28] manishas commented on #1541
@joshuabremer sorry for the super late followup.

Has this happened recently? I see green builds for your projects now, so closing this issue. Please let me know if you're still having problems with Shippable and I'll be happy to reopen and investigate. Thanks!

[2015-11-10 00:28] #1541 closed

[2015-11-10 01:30] avinci commented on #2014
@copyhawk the problem with mongo install is that it does not by default expose the port on which its running. So what you need to do is run this command

`sudo sed -i 's/#port = 27017/port = 27017/' /etc/mongod.conf` and this should allow you to connect.  let me know if this works

[2015-11-10 02:25] copyhawk commented on #2014
Thanks but I actually got it to connect by doing the following (before starting mongo):

- mkdir -p /data/db/

Now I'm having other issues, and will post as they evolve and I need help.

[2015-11-10 02:53] copyhawk commented on #2014
I keep getting:

npm ERR! Linux 3.13.0-57-generic
npm ERR! argv "node" "/root/.nvm/versions/v0.12.7/bin/npm" "install" "-g" "npm@next" "--loglevel" "error"
npm ERR! node v0.12.7
npm ERR! npm  v3.4.0
npm ERR! path /root/.nvm/versions/v0.12.7/lib/node_modules/npm
npm ERR! code EXDEV
npm ERR! errno -18

npm ERR! EXDEV, rename '/root/.nvm/versions/v0.12.7/lib/node_modules/npm'
npm ERR!
npm ERR! If you

[2015-11-10 03:08] avinci commented on #2014
can you try `build_image: drydock/u14nod` This is the latest version of node image and we will be launching it soon. It should solve your problem, if not let me know

[2015-11-10 03:12] avinci commented on #2014
sorry try `build_image: drydock/u14nod:prod`

[2015-11-10 03:14] copyhawk commented on #2014
Will try that. should all other steps remain the same?

[2015-11-10 03:14] avinci commented on #2014
yup, its the same.

[2015-11-10 03:15] copyhawk commented on #2014
will try it and let you know of the outcome

[2015-11-10 04:02] copyhawk commented on #2014
have been unable to run any builds. the process seems frozen, even after cancelling and restarting multiple times

[2015-11-10 04:11] manishas commented on #1651
Closing due to lack of follow up.

@hcarver if you're still running into this, please let us know and we will reopen.

[2015-11-10 04:11] #1651 closed

[2015-11-10 04:14] manishas commented on #1648
@luckyraul There is currently no yml in the branch, so closing this issue.

We're sorry our support was spotty over the last few months. We're totally revamping our support process and making it much more responsive and transparent. We hope you give us another chance soon.

[2015-11-10 04:14] #1648 closed

[2015-11-10 04:15] manishas commented on #1595
We're now surfacing yml errors in the build logs. Closing this issue, but please let us know if you have any questions.

[2015-11-10 04:15] #1595 closed

[2015-11-10 04:54] copyhawk commented on #2014
using the new image I'm back to not being able to connect to mongo

[2015-11-10 05:03] avinci commented on #2014
can you share your projectId and your yml?

[2015-11-10 05:06] copyhawk commented on #2014
id: 56417a3a2ce77e0c00085429

# Language setting
language: node_js

# Version number
node_js:
  - 0.12.7

# Cache environment
cache: true

env:
  global:
    - XUNIT_FILE=shippable/testresults/xunit.xml MongoConnectionStringTests=mongodb://127.0.0.1:27017/test MemcachedLocationTest=localhost:11211 LogLevel=error
    - secure: GVfbYWQ6H65vvkehkZLnfwKrFpmFBumlseB1/ZeiCbUjTk2oWrxrw81ZFF0c2G6D0WShLvyK

[2015-11-10 05:18] copyhawk commented on #2014
I got build 92 to work, but shippable still shows it as failed. There are no failures in any of the steps.

[2015-11-10 05:29] copyhawk commented on #2014
build 93 failed and build 94 worked. I never seem to get consistent results

[2015-11-10 06:18] avinci commented on #2014
here is my script to install as well as a green build. The main problem is amount of storage the container has which causes mongo not to start. I used --smallfiles option and it seems to work consistently. I will check on how to increase the base container storage so that mongo is going to be fine tomorrow morning as its late and my team is not around.

In the meantime here is where I got to...Let

[2015-11-10 07:49] rageshkrishna commented on #2012
@pezra This should be working now.

The underlying issue turned out to be quite simple. At one point in our repository sync code, we were looking for "github.com" in the URL to figure out if we're talking to GitHub or a GitHub Enterprise server. Of course, this triggered a false negative for your server because it also happens to have the term "github.com" in it, but just at the wrong place :)

We

[2015-11-10 07:58] RonXS opened #2017 "Cannot find project directory"
I cannot find the project directory, i've tried many things, but in my docker instance it just does not seem to be there.

$SHIPPABLE_REPO_DIR seems to point to /

Should'nt it have been mounted in there?

I would like to prevent having to git clone again inside the docker instance, when i already should have everything available

(User: InsightYou, build: 56419fd08369bd0d00dbd2b2)

[2015-11-10 09:20] RonXS commented on #2017
I was able to find that $SHIPPABLE_REPO_DIR is actually set in the configuration of shippable settings of the project, but will it automatically mount there?

Can't find anything about that.

[2015-11-10 09:35] pquentin opened #2018 "Stop buffering in the console"
The build console in the UI buffers the script output. This is one of the major issues that prevent us to be more effective with Shippable: when something is not printed, we cannot assume it did not happen, we also have to assume that the UI just did not print it. (It was even worse when we weren't aware of the issue.)

I've created a [sample repo](https://github.com/pquentin/shippable-bugs) and t

[2015-11-10 10:01] RonXS commented on #2017
Another thing, can you create the $SHIPPABLE_REPO_DIR if it not exists?

I set it to /webroot/platform-api and now it complains the directory does not exist. I am now working on getting it created in the Dockerfile, however i think auto creating it makes sense right?

[2015-11-10 11:04] pkaminski commented on #1774
@DavidGDragon What can I do if I need to pass an encrypted JSON value with spaces?  Specifically, it looks something like this:

[code]

I already removed all the spaces I could, escaped all the double quotes, and wrapped the whole thing in single quotes, but it still doesn't make it trough (the JSON fails to parse).  The spaces in `BEGIN PRIVATE KEY` and `END PRIVATE KEY` need to stay for the key

[2015-11-10 15:11] pezra commented on #2012
I am able to see my GHE subscriptions now. Thanks.

[2015-11-10 15:11] #2012 closed

[2015-11-10 15:46] aaronwest commented on #1774
@pkaminski - I think you're looking for something like this.

'{\"private_key_id\":\"1e272...\",\"private_key\":\"-----BEGINPRIVATEKEY-----\nMIIE...qr+k\u003d\n-----ENDPRIVATEKEY-----\n\",\"client_email\":\"18995...@developer.gserviceaccount.com\",\"client_id\":\"18995....apps.googleusercontent.com\",\"type\":\"service_account\"}'

* all newlines removed
* all spaces removed
* all double quotes re

[2015-11-10 17:20] DavidGDragon commented on #2016
https://github.com/Shippable/www/issues/2405 beta verified 2937

[2015-11-10 17:42] hshira commented on #824
The multiple tags on docker build is a high priority issue for us.
We need the tag each docker image with --
(1) build number and
(2) latest
Please let us know when you will be able to do this?

[2015-11-10 18:35] manishas commented on #2018
@DavidGDragon can you look into this?

[2015-11-10 18:40] avinci commented on #2017
There is a path called source in the docker settings. You will need to provide the path where you push the code in your Dockerfile as you are doing a PreCI build. Can you verify you have the right path there?

[2015-11-10 18:41] avinci commented on #2017
I mean in project settings

[2015-11-10 19:05] pkaminski commented on #1774
@aaronwest Unfortunately, the spaces in `BEGIN PRIVATE KEY` and `END PRIVATE KEY` are _required_.  Removing them invalidates the key.  Is there really no way to escape spaces in environment values in Shippable?  I can probably kludge around it by using another unique character then replacing with spaces at time of use, but it feels wrong to have to hack around this.

[2015-11-10 19:45] leroyjware opened #2019 "Deploying on Github Tag"
When we used TravisCI, we were able to use "on: tags: true" to deploy Github tagged commits to prod. The builds were triggered automatically when we tagged the commits on Github. Is this something we can do with Shippable?

[2015-11-10 20:58] aaronwest commented on #1774
@pkaminski - Given spaces are required I don't think you'll be able to store the content as an encrypted variable. Perhaps there's another way.

[2015-11-10 21:02] pkaminski commented on #1774
:disappointed: I'll work around it.  Thanks.

[2015-11-10 21:45] RonXS commented on #2017
Well, i've set it to /webroot/platform-api, but since you already have a checkout step of the code, i would assume you already mount it somewhere in the docker image, or make it available somehow. Otherwise that step would make no sense there right? Maybe i'm just seeing this all wrong though.

[2015-11-10 22:14] copyhawk commented on #2014
Tried it and seems to be working fine. I will let you know how consistent it is.

[2015-11-10 22:51] manishas opened #2020 "Do not build docker container for Post CI workflow for PR builds"
Shippable currently does not push to Docker Hub for pull request builds.

In this scenario, if post-CI Docker build is configured, we shouldn't build the Docker container at all since we're not going to push it.

Post CI Dockerbuild should only happen for commit builds.

[2015-11-11 02:53] copyhawk commented on #2014
Again, facing an issue of consistency. Builds work around 60% of the time, the rest mongo fails to start up. Is there any way to use your mongo service on a docker image?

[2015-11-11 03:34] avinci commented on #2014
Yup, we will be making our image public in next 2 weeks. Its not been fully tested and hence I am worried about launching it.

if its failing during npm install, one thing you can do is this. add `shippable_retry` in front of the command. This reduces the flakiness if downloading things from the internet.

Does it fail at the exact same place or its random?

[2015-11-11 03:36] copyhawk commented on #2014
I'll be adding shippable_retry, but it fails in random places, mostly around mongo install or start. Also, I have now added test coverage, but it's parsing the report to 100% coverage even though when I run it offline it is not close to 100%

[2015-11-11 03:36] agarcian opened #2021 "npm error install Couldn't read dependencies"
I am new to Shippable and I am trying to configure a repo that I created following a tutorial.  however, I am getting this error.   Can you please help?

[code]

[2015-11-11 04:13] copyhawk commented on #2014
now I'm getting a "failed" result, even though the tests were successful. Coverage is still not working as expected.

[2015-11-11 04:54] manishas commented on #1716
We seem to have completely dropped the ball on this one. Sorry about this and we're working on revamping our entire support process.

I will close this issue since we want to start with a cleaner slate and address any issues promptly moving forward. Please let us know if you would like us to take a look at this and we'll be happy to.

[2015-11-11 04:54] #1716 closed

[2015-11-11 04:59] manishas commented on #1718
Closing since there is nothing actionable for us to do here.

[2015-11-11 04:59] #1718 closed

[2015-11-11 04:59] ric03uec commented on #2021
@agarcian can you specify the build id that's failing. it seems like one of the packages in `package.json` might be failing but we'll get a better idea from the build console.

[2015-11-11 06:03] agarcian commented on #2021
All bbuilds are failing.  The latest one was 5642b68053e5e00e0093b20d  build 11.

[2015-11-11 15:19] avinci commented on #2017
We are not cloning the repo as we ask where you have the git repo cloned. This is true for Dockerbuild and `git checkout` is done to make sure the right change-set is being tested. Its not cloning or fetching before checkout, just `cd source_code_folder`.

[2015-11-11 15:20] #2016 closed

[2015-11-11 15:39] tomsterritt commented on #1998
@manishas I think it happened a couple of times, but it doesn't seem to have happened since

[2015-11-11 15:46] #1997 closed

[2015-11-11 15:46] #1980 closed

[2015-11-11 15:49] avinci commented on #1870
@matthewpflueger this should be fixed. Can you let me know if this is working for you?

[2015-11-11 15:53] avinci commented on #1872
@DavidGDragon can we look into this while we clean up our UI

[2015-11-11 16:02] mbrodala commented on #1997
@avinci Did you fix the issue?

[2015-11-11 16:20] avinci commented on #1997
Yes. We have tons of retires added and our timeouts have dropped by a factor of 10x. We are still watching it internally.

[2015-11-11 16:27] mbrodala commented on #1997
Alright, thanks for the info. :-)

[2015-11-11 16:35] avinci commented on #30
We have APIs that can do this for you. Please let us know if you would need help to achieve this. We are not planning to implement this as a feature on Shippable other than the API route.

Hope that works.

[2015-11-11 16:35] #30 closed

[2015-11-11 16:37] avinci commented on #105
I think most of these have been added and also we allow sudo to install anything else in `install` section. We are going to be releasing updates images in the next 2 weeks. But for now our list of languages supported is what we are going with.

[2015-11-11 16:37] #105 closed

[2015-11-11 16:39] avinci commented on #570
We have done a whole bunch of things around this. Please let us know if you need more information. At this point I am marking this closed

[2015-11-11 16:39] #570 closed

[2015-11-11 16:40] avinci commented on #457
We are dropping support for Windows at this point. We will wait until windows containers become mainstream and at that point we will pick this up

[2015-11-11 16:40] #457 closed

[2015-11-11 16:41] avinci commented on #593
This has been fixed. cleaning up our support queue with things that should have been updated

[2015-11-11 16:41] #593 closed

[2015-11-11 16:48] avinci opened #2022 "Support multiple tags for Docker Push"
We should have the ability to push multiple tags. Currently we only support 1 or the other of the following
* branch + build number
* commitSHA
* custom

Users need to be able to specify any combinations or the above along with an array of custom tags too. We also need to have a way to push tags from git also as an option

[2015-11-11 16:48] avinci commented on #2022
linking https://github.com/Shippable/support/issues/824

[2015-11-11 16:48] avinci commented on #824
I am going to open a new issue on this feature and closing this.

[2015-11-11 16:48] #824 closed

[2015-11-11 16:49] #1490 closed

[2015-11-11 16:49] avinci commented on #1490
this has been completed

[2015-11-11 16:50] ric03uec commented on #2021
the issue is in the `name` field of `package.json` file. although the official documentation for this field (https://docs.npmjs.com/files/package.json#name) does not mention any restriction on whether the name should start with `@` character, it seems that the `npm install` command is failing because of it.
i changed the `name` to `number-formatter` and the install step passed.
can you try this an

[2015-11-11 16:52] avinci commented on #1016
closing this. please let us know if you still need this

[2015-11-11 16:54] avinci commented on #1267
this has been completely revamped. Let us know if you still see issues

[2015-11-11 16:54] #1267 closed

[2015-11-11 16:56] avinci commented on #1370
Here is sample code that works. There are a couple of settings in mongod.conf that need some tweaking to make this work.

My repo
https://github.com/avinci/sample_node

[2015-11-11 16:56] #1370 closed

[2015-11-11 16:58] avinci commented on #1380
this is by design. But I think we should give an option to use a global encryption and local encryption. Thanks for pointing this out and we will implement this soon...

[2015-11-11 16:59] avinci commented on #1283
We should implement this ASAP

[2015-11-11 17:18] avinci commented on #1940
@pmacosta we are cleaning up quite a bit of complexity that was in this part of the code. It should get much much cleaner. I understand your decision and thanks for pushing us to make this change which was a tough one for us. but its the right thing to do to reduce the flakiness

I will close this and please re-open if you still need it.

[2015-11-11 17:18] #1940 closed

[2015-11-11 17:33] avinci commented on #1917
We are going to be moving to these images. Its fully updated an we are productionalizing it. In the meantime you could use it
`build_image : drydock/u14` or `build_image : drydock/u12` please note that this image has no services yet and does not start anything.

The versions pre-installed are
- 0.1
- 0.12
- 4.0.0

Docker files for this are here
https://github.com/dry-dock/u14nod
https://github.com

[2015-11-11 17:33] #1917 closed

[2015-11-11 17:35] avinci commented on #2007
@DavidGDragon while we implement the new build page, we should add this option

[2015-11-11 17:36] avinci commented on #2020
@ric03uec we should absolutely do this...this is a miss on our side.

[2015-11-11 17:46] avinci commented on #2010
@ric03uec refactoring CDM change

[2015-11-11 17:50] avinci commented on #1977
We have handed quite a few pieces of our code in the last 3 weeks. We have seen timeouts drop by a factor of 10x and I am hoping your issue is resolved too. Please let us know otherwise.

[2015-11-11 17:51] avinci commented on #1998
@tomsterritt we have the entire org working on hardening this part of the code and make it more resilient. We have seen timeouts drop by a factor of 10x. I hope your issue is resolved and if now please let us know.

[2015-11-11 17:51] #1998 closed

[2015-11-11 17:52] avinci commented on #2001
We will pick this feature up the moment we finish this sprint.

[2015-11-11 17:53] ric03uec commented on #2013
@lukemadera this might be because of incompatible `selenium` and `chromedriver` versions on shippable.
we're using selenium: 2.35.0. can you tell me which version of selenium are you using to test locally?

[2015-11-11 17:54] avinci commented on #1925
closing this. please let us know if its still happening..

[2015-11-11 17:54] #1925 closed

[2015-11-11 17:58] avinci commented on #1900
@mtimm, we have fully updated images with python. We will be launching this soon, but in the meantime you can use them with the following tags in your YML

`build_image : drydock/u14pyt:prod` or  `build_image : drydock/u12pyt:prod`

These are the versions installed.
- 2.6
- 2.7
- 3.2
- 3.3
- 3.4

The docker files are here
https://github.com/dry-dock/u12pyt
https://github.com/dry-dock/u14pyt

[2015-11-11 18:14] n0mer commented on #2010
@avinci how to understand your last comment? and what does CDM stands for?

[2015-11-11 18:16] avinci commented on #2010
Thats an internal micro-service that we use to run a build. To handle our support better, we have started to work on these issues publicly so that folks know the status. This component was not well designed and there is a focused effort on making sure that its rock solid.

Our goal is to become more transparent. Hope that helps

[2015-11-11 18:41] n0mer commented on #2010
okay, thanks for explanation.

How to find out whether this feature is deployed or not yet?

[2015-11-11 18:42] avinci commented on #2010
we will update the issue as we make progress

[2015-11-11 18:43] manishas commented on #2010
@n0mer we're planning to wrap this up today or latest by tomorrow. We're making our support more transparent, so we will mark the issue in progress as soon as we pick it up and provide EOD updates.

[2015-11-11 19:01] mtimm commented on #1900
Thank you @avinci, I noticed you did not mention pypy in the versions listed.  Was pypy added?

[2015-11-11 19:08] larsbrinkhoff commented on #105
Which languages are included in that list?

Is the documentation at http://docs.shippable.com/supported_services/ up to date?

[2015-11-11 19:10] hshira commented on #2022
Avi, thanks for creating a new issue. Do you know when you are you planning to implement this feature?

[2015-11-11 21:02] copyhawk commented on #2014
Have you been able to see my builds? I'm still getting successful test runs, but ultimately the build status shows as failure.

[2015-11-11 21:04] avinci commented on #2014
yes. We found the problem. We will be fixing by EOD. Please stay tuned and thanks for helping us find this problem

[2015-11-11 21:17] ric03uec commented on #2010
@n0mer you should now be able to see the ID of the image being pulled from hub

[2015-11-11 21:58] lukemadera commented on #2013
@ric03uec Ahh. As mentioned we use Angular Protractor, which installs both Selenium and Chromedriver (which are versions 2.19 for chrome and 2.47.1 for selenium). That's how I run locally and how I tried originally doing on shippable but that didn't seem to work so via the threads I tried installing selenium and chromedriver the "shippable way"?

Any reason shippable's selenium is so far behind? A

[2015-11-11 22:04] n0mer commented on #2010
@ric03uec wow, that was fast - thank you!

[2015-11-11 23:13] lukemadera commented on #2013
No luck - I tried with selenium 2.45 and Chromedriver 2.15 and same error. Seems it's not finding / able to run chrome. Is there a "chrome" addon similar to Firefox that could be used? Since the tests are at least running with the Firefox addon.

[2015-11-12 03:51] copyhawk commented on #2014
Any feedback on this?

[2015-11-12 06:34] n0mer commented on #2010
okay, now i see 'echo "image <image> (id: <id>) pulled successfully."'

[2015-11-12 06:34] #2010 closed

[2015-11-12 06:40] n0mer commented on #2010
linking https://github.com/docker/hub-feedback/issues/458

[2015-11-12 11:18] mbrodala commented on #684
I see this all the time with Bitbucket. We have set up notifications in a Slack channel and the first build link I follow per day always redirects me to the start page (apparently due to performing authentication in this very moment). Clicking the same link a 2nd time then opens the build as expected.

[2015-11-12 14:06] RonXS commented on #2017
Aha i understand what you're saying, i wanted to prevent doing a double clone as taht seemed unnescesary for me. Wouldnt it be logical to mount the $SHIPPABLE_REPO_DIR inside docker?
It would certainly save me a lot of troubles with having to work with a new public/private keypair inside the docker instance.

I can just copy data from the mount to a permanent folder if i want to then.

Just a thou

[2015-11-12 14:13] avinci commented on #2017
actually, there are 2 things happening here.
- 1, Docker build
- 2, run that newly built image and then test it.

To do the Dockerbuild, we automatically clone your repo without you having to do any key management etc. as we need to get the Dockerfile. So you have whole source code in the sidecar container which is building your docker file. Now what we don't know is what you are doing in your Doc

[2015-11-12 14:13] #2017 closed

[2015-11-12 14:13] #1977 closed

[2015-11-12 14:14] #1986 closed

[2015-11-12 14:14] avinci commented on #1900
I did not add pypy. I will add it and let you know.

[2015-11-12 14:18] RonXS commented on #2017
Awesome, i understand what you mean there. I'll work that out and hope that fixes my issues.

Thanks!

[2015-11-12 22:09] manishas commented on #1640
@caarlos0 @randalmaia can someone from ContaAzul please contact us at manisha@shippable.com? We sent some communication about dedicated hosts but haven't been successful in reaching anyone yet.

[2015-11-12 23:14] manishas opened #2023 "docker build is happening several times during pre CI workflow"
https://app.shippable.com/builds/564467ec7d9a840d00a9cb2d

Something is going into an infinite loop and the docker container is being built again and again....

[2015-11-12 23:42] manishas commented on #2023
assigning to @ric03uec

[2015-11-12 23:44] ttrahan opened #2024 "Existing credit card not recognized as used in any subscriptions"
Existing credit card not recognized as used in any subscriptions, however, it is used in several CI subscriptions (see https://app.shippable.com/subscriptions/54934d03d46935d5fbc099ed)

![image](https://cloud.githubusercontent.com/assets/4467650/11133644/d373ed46-894b-11e5-8873-d37187df86e6.png)

![image](https://cloud.githubusercontent.com/assets/4467650/11133653/f1ac0fc8-894b-11e5-9026-5a20edbda

[2015-11-12 23:45] manishas commented on #2024
@DavidGDragon @xdothackerx can you guys look into it?

[2015-11-12 23:56] ttrahan commented on #2024
note that this subscription is for a single-tenant beta plan at $0, which may be why the card isn't shown as associated with the subscription.

[2015-11-13 00:07] manishas commented on #2024
I am running into the same thing. sub id is 540efdd13479c5ea8f9f2a5b which is mt-ci and has 5 minions.

Account settings show my amex not linked to anything.

[2015-11-13 00:13] manishas commented on #2024
Closing this issue since it's not really a problem.

[2015-11-13 00:13] #2024 closed

[2015-11-13 00:17] manishas opened #2025 "The right credit card is not being selected on billing page of a sub"
I have multiple credit cards in my account and am using my Visa in one of my subs (id 540efdd13479c5ea8f9f2a5b).

When I go to my sub billing page, I see my AmEx selected by default in the credit card dropdown. It should show my Visa as selected there.

[2015-11-13 00:17] manishas commented on #2025
Assigning to @DavidGDragon

[2015-11-13 00:52] manishas commented on #2018
@pquentin Thanks for the feedback! You're right, we do buffer in the console to some degree.

Our plan is to change this in the next couple of weeks since we're making some changes to the platform that will help us address this problem. I'll update you when we make the change.

[2015-11-13 00:54] manishas commented on #2021
Closing this issue. @agarcian please let us know if the suggestion above does not fix your issue.

[2015-11-13 00:54] #2021 closed

[2015-11-13 02:59] ric03uec commented on #2014
@copyhawk can you try running the builds again and let me know if it works this time.
thanks

[2015-11-13 03:21] copyhawk commented on #2014
Will do
On Nov 12, 2015 9:59 PM, "Devashish" <notifications@github.com> wrote:

[2015-11-13 03:49] copyhawk commented on #2014
ran and got the exact same results. All tests pass, coverage shows an erroneous 100% and the end result is a failure

[2015-11-13 03:52] pquentin commented on #2018
@manishas Thank you - I'm glad to see that there are plans to improve this.

[2015-11-13 04:53] caarlos0 commented on #1640
@manishas we are aware, I'm traveling right now, probably @luizm will take a look into this. Can you help him?

[2015-11-13 05:32] asans opened #2026 "How does one produce a Java War file and have it included in a docker container?"
In Java Webapps, the process of creating the war is normally different from the docker container that is created to run.  For example, a job is used to create a war file.  This war file is then added into a runtime Tomcat docker container that contains the war file.  In the tomcat runtime container, there is no need to have a development environment used to create the war file.

In a case like thi

[2015-11-13 06:17] manishas commented on #1640
yes, that should be ok. I'll follow up with him.... thanks!!

[2015-11-13 11:13] osumampouw opened #2027 "possible bug: getaddrinfo to localhost failed"
This is the error that I got from trying to connect to mongo in localhost:

Error: getaddrinfo ENOTFOUND
    at errnoException (dns.js:37:11)
    at Object.onanswer [as oncomplete] (dns.js:124:16)

This problem recently started happening since 10 hours ago.

Prior to this, all of our builds succeeded. We didn't modify our code that is associated to mongo. Even when we commit a dummy change, the bu

[2015-11-13 14:43] matthewpflueger commented on #1870
Sorry Avi but we canceled our account due to needing to move past this.
Perhaps we will explore Shippable in the future. Thanks.

On Wed, Nov 11, 2015, 10:50 Avi Cavale <notifications@github.com> wrote:

[2015-11-13 16:37] copyhawk commented on #2014
@ric03uec any updates on this bug?

[2015-11-13 17:34] ric03uec commented on #2023
i'm investigating this but haven't been able to get to the exact cause. there are few probable causes which i'll look into today. will update once i have more info

[2015-11-13 17:36] caarlos0 commented on #1640
@manishas thanks!

[2015-11-13 17:41] ric03uec commented on #2014
@copyhawk sorry for delayed response. there was a bug in the scripts that cache the container which was probably causing this issue. we've just deployed the patch to production. can you please try the build again and let me know if it works.
Also, can we trigger a build on your project if further debugging is required?

[2015-11-13 17:49] copyhawk commented on #2014
I'll try it again now, and yes you can trigger a build to troubleshoot if required.

[2015-11-13 17:59] avinci commented on #1640
We have significantly hardened our web hook processing listener. Are you still seeing issues with web hooks being ignored?

[2015-11-13 18:28] manishas commented on #2027
@osumampouw we will take a look at this today.

[2015-11-13 18:43] manishas commented on #2026
@asans can you follow the instructions in this issue comment - https://github.com/Shippable/support/issues/1299#issuecomment-93084101

Let me know if that helps...

[2015-11-13 19:42] LuisMuniz commented on #2011
Any progress?

[2015-11-13 21:10] caarlos0 commented on #1640
@Xmio @hcarine @randalmaia ?

[2015-11-13 23:49] ric03uec commented on #2023
@fabiocarneiro can you please trigger the build on the project and try again. i'm not able to re-run a build on the `sha` that was causing this issue on your repo. it was probably rebased or removed.
thanks

[2015-11-13 23:56] ric03uec opened #2028 "not able to remove pull image from project settings"
- once `Pull image from` field has been set in project settings, its not possible to remove it
- trying to remove the contents from the field and saving it, shows following error

![image](https://cloud.githubusercontent.com/assets/1110988/11160446/f440bb3e-8a1e-11e5-93bb-4da36032ed71.png)

- the only way to then remove it is re-enabling the project

[2015-11-13 23:57] manishas commented on #2028
@ric03uec what if you click on the trash icon to throw away settings and do it again?

[2015-11-14 00:00] ric03uec commented on #2028
ah. it wasn't too evident.
still, i think it should be clear from the error message what action a user needs to take. if a field is empy, the pull image should be reset to using the default value

[2015-11-14 03:46] copyhawk commented on #2014
I ran it multiple times, got one failure instantiating mongodb, other than that it seems to be working now in terms to reporting successful builds.
One problem that remains is the coverage report, which still displays 100% coverage without displaying any other details.

[2015-11-14 11:10] osumampouw commented on #2027
Hi @manishas actually we found the problem. It's on our code. Some of the mongodb connection that we made point to a mongo server outside of localhost. And somehow the database was down yesterday so that's the reason why all the builds started failing. Sorry for the inconvenience. I'll close this bug.

[2015-11-14 11:10] #2027 closed

[2015-11-14 17:16] avinci commented on #2014
We are hardening report parsing piece in the next couple of weeks. I will look into this, but since this is being re-worked, we might not fix the old code. I hope that works.

Thanks once again for helping us find these issues and I am very happy that our refactored code is working better for you.

[2015-11-14 17:18] avinci commented on #2028
UI is being re-designed and we should look into this when we get to that page. @DavidGDragon

[2015-11-14 17:19] avinci commented on #2025
Did we fix this?

[2015-11-14 20:01] cur3n4 commented on #1713
+1 to upgrade RethinkDB

[2015-11-15 17:41] avinci opened #2029 "Cannot create slack Integration"
![screen shot 2015-11-15 at 9 40 13 am](https://cloud.githubusercontent.com/assets/1302035/11170024/00034aea-8b7d-11e5-8a6d-4af61a90b2d6.jpg)

@manishas can we fix this ASAP

[2015-11-15 17:51] manishas commented on #2029
@rageshkrishna can you look into this?

[2015-11-16 05:07] manishas commented on #2025
We will address this when we redesign the CI Billing page this week.

[2015-11-16 05:10] manishas commented on #1293
stale issue.. closing. @z2z please describe your scenario in greater detail and we will reopen and address this.

[2015-11-16 05:10] #1293 closed

[2015-11-16 06:32] rageshkrishna commented on #2029
This works now.

[2015-11-16 06:32] #2029 closed

[2015-11-16 07:53] abhi1010 commented on #45
+1 for a generic HTTP webhook

I am using Shippable since a long time now but ever since I moved to my source code to Gitlab, the unavailability of this feature is hurting me the most.

Is there any timeline on this feature yet? I see we are talking about it for more than a year now.

[2015-11-16 10:17] fabiocarneiro commented on #2023
Well, I triggered another one and it seems to work now. https://app.shippable.com/builds/5648cfac15227c0d004b16ca
Did you change something?

[2015-11-16 11:01] RonXS opened #2030 "Cached version of the code"
I'm running into weird caching-like-issues.

If you check my build 5649b49e3a1ff80d00ad0db7 (account InsightYou)

You will see that it's failing on this step:

TASK: [database | Make sure that MySQL is running] ****************************
failed: [127.0.0.1] => {"failed": true}
msg: /bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)

However, i removed this whole step some

[2015-11-16 12:26] RonXS commented on #2030
I've also merged everything back into master, built that one on Shippable and it still runs that step even though its a whole new branch without that database step in place.

[2015-11-16 12:38] RonXS commented on #2030
I seem to book progress with the [reset_minion] tag, running into new problems, but this might be related to the complete reset, since the container might have been cached for a loooong time.

However, this still is an issue even after i got this resolved, when i submit a new version of the code, it should NEVER run a old build ofcourse, otherwise Shippable would not be very reliable. It will chec

[2015-11-16 12:41] fabiocarneiro opened #2031 "Multiple Environments on AWS Elastic Beanstalk"
I'm using "Deploy via Docker containers" http://docs.shippable.com/autodeploy-to-ebs/, and I created one deployment. The problem is that it only allows to create one, and what makes it even worse is that it deploys every single branch to this environment. I can't even select to deploy master only. So if I have one feature branch and it passes the tests it will be automatically deployed to my produ

[2015-11-16 12:46] RonXS commented on #2030
Yes the minion cache was the problem here, so we need to find a way to prevent the minion cache to cause integrity issues by not actually updating the code where it should have.

[2015-11-16 15:13] avinci commented on #45
@abhi1010 are you saying you need to call an external web hook from shippable? Also for folks who are on the thread, we just released Github Enterprise into beta and we are working on bitbucket server and Gitlab to be released shortly..

[2015-11-16 15:22] #1870 closed

[2015-11-16 15:23] #1896 closed

[2015-11-16 15:38] tomsterritt commented on #1896
@manishas @avinci this still appears to be building node from scratch on the regular image? 5649f7d73a1ff80d00b92899

[2015-11-16 15:39] avinci commented on #2030
@RonXS cache is triggered only once in the workflow. It was built predominantly for folks who wanted certain dependency packages not to be installed over and over again.

Unfortunately there are more scenarios that folks need and we need to enhance this feature from ground up. We are currently working on stabilizing other parts and we will get to this the moment those are done. Should be early Jan

[2015-11-16 15:44] avinci commented on #1896
yes, the regular image has not been updated. The problem with the regular image is it has everything under the sun under one image. this is taking 12-14 hrs to build and its not sustainable as folks want regular updates which we have not been doing for the same reason.

We are moving into language based images which will be broken into the following
* base - this has only the languages but no serv

[2015-11-16 15:51] tomsterritt commented on #1896
@avinci do you have an image I can use now that has a newer node version along with other languages (in particular ruby)?

[2015-11-16 16:14] abhi1010 commented on #45
@avinci I think my line was confusing there. I actually meant that there should be a way to add build support for any git clone URL. For example, if `Shippable` can allow me to support build for any project just by me providing the public URL, then that's the best perhaps. Here could be one example.

    git@gitlab.com:abhipandey/abhiscripts.git

[2015-11-16 16:46] kanthchandra commented on #1928
Hi @jakemmarsh  It looks the you are doing a interactive eb init and the awscli is waiting for a command line input. So can you please send me the config.yml and shippable.yml to chandrakanth@shippable.com so that I can take a deeper look at this?

[2015-11-16 18:00] manishas opened #2032 "account settings -> integrations shows the wrong info for who is using the integration"
![screen shot 2015-11-16 at 9 59 57 am](https://cloud.githubusercontent.com/assets/2983749/11190114/cca3ddbe-8c48-11e5-888f-b532fa95738f.png)

[2015-11-16 18:00] manishas commented on #2032
assigning to @DavidGDragon

[2015-11-16 18:17] manishas commented on #2032
Error in console when i go to the integrations page -

Failed to load resource: the server responded with a status of 404 (OK)
17https://api.shippable.com/projects/540e77a63479c5ea8f9e9017/permission Failed to load resource: the server responded with a status of 404 (Not Found)
https://api.shippable.com/subscriptions/540e77943479c5ea8f9e8e89/permission Failed to load resource: the server responded

[2015-11-16 21:36] shamasis commented on #1881
Is shippable going under? There are so many pending issues and this is one of them? It would be honest to have a heads up on whether we should migrate away.

[2015-11-16 22:30] James1x0 commented on #1881
+1 Convention over configuration, I really don't want my repo clouded with service setup. I want an image that works with node 4/5.0.0, w/o all the bloat on my end.

[2015-11-17 01:29] avinci commented on #1881
@shamasis First of all, you should not be worried about that. We are very much in business and doing more to address this problem. I am the CEO and you can be assured of this.

Second, we have not done a very good job about making sure we are on top of these issues. Hence, we have our entire engineering org focused on reducing these issues so that we can get back to normality.

The plan is 3 fold

[2015-11-17 01:33] avinci commented on #1881
Now to answer the question about node,

We are going to be moving to these images in 2 weeks. Its fully updated an we are productionalizing it. In the meantime you could use it by adding the following tag to your YML

`build_image : drydock/u14:prod or build_image : drydock/u12:prod`
please note that this image has no services yet and does not start anything.

The versions pre-installed are

* 0.1

[2015-11-17 01:38] avinci commented on #1881
@James1x0 coming in 2 weeks. We have not fully tested it yet and getting there. The moment Node is test, I will update the issue so that you can start to use it. It should sometime end of this week

This repo has all the images https://github.com/dry-dock and would be happy to add stuff to it, if folks want to help out.

We are moving into language based images which will be broken into the follow

[2015-11-17 05:29] schroedad opened #2033 "composer self-update doesn't take and sudo composer self-update breaks phpenv"
If I run "composer self-update" in the before_install section, then the composer install command tells me that composer is over 30 days out of date and throws the error: "[UnexpectedValueException]          Could not parse version constraint ^1.0: Invalid version string "^1.0"".

If I change to "sudo composer self-update", I no longer get this error but then I'm told phpenv doesn't exist, which I

[2015-11-17 07:21] RonXS commented on #2030
Yes i understand what it's ment for, but the code that you checkout, which i add in the docker file, is not updated to the latest version either. It's the whole reason of using Shippable is it not? To unit test the latest version of your code.

So, my container fires up, references to the right commit message, however it doesnt actually get that version of the code, it's running an older version u

[2015-11-17 07:23] avinci commented on #2030
Not sure I understand. If you do DockerBuild we don't cache at all. Can you send me your projectId and YML to avi@shippable.com and I will take a look at it.

[2015-11-17 07:24] RonXS commented on #2030
Will do!

[2015-11-17 07:27] avinci commented on #2030
I found your project from the build above. You are doing Pre CI docker build. Hence we don't cache anything. If you have cache turned on and its caching then its a problem.

We should be getting your code and building it. Are you sure its not getting the latest code?

[2015-11-17 07:29] RonXS commented on #2030
Yes i am 100% sure if i remove the [reset_minion] tag, inconsistency starts happening.

I had a irrelevant step in my code that was causing errors, i removed it. This was it:

TASK: [database | Make sure that MySQL is running] ****************************
failed: [127.0.0.1] => {"failed": true}

So, i removed that step. It kept running this step, until i added [reset_minion] to the commit message

[2015-11-17 11:18] rageshkrishna commented on #2011
@LuisMuniz Sorry about the delay on this. It appears that this is indeed a case of needing a fast processor or more RAM. We are making some improvements to resource utilization on our multi-tenant hosts that should make this a little better, but we are also running a beta for single-tenant CI where you can get dedicated processing and RAM just for your subscriptions. Is this something you'd be int

[2015-11-17 13:14] LuisMuniz commented on #2011
Hi Ragesh,

I would indeed be interested in trying out your beta program.

Is there an additional cost involved?

Thanks.

Luis

Luis Muñiz
IT Director – Research and Development, Architecture | B2Boost
Chaussée de Waterloo, 1453, 1180 Brussels , Belgium
T : +32 (0)2.629.60.00 | M : +34 647 79 34 76
luis.muniz@b2boost.com<mailto:luis.muniz@b2boost.com> | www.b2boost.com<http://www.b2boost.com/>

P

[2015-11-17 13:53] avinci commented on #2030
I see that your issue has been resolved. Thanks for persisting with it. I am going to be making updates to how we should be structuring our docs. Let me know if you hit any more bumps..

[2015-11-17 13:53] #2030 closed

[2015-11-17 14:05] avinci commented on #2031
Hi @fabiocarneiro, we have a host of env vars that is set automatically in the build. One of it $BRANCH and that should allow you to pivot on that.

But I get your point. This was half baked and has not been thought through. As you might see, we are taking an overall look at everything and reworking it so that it meets real scenarios and not as a prototype.

To give more flexibility, we are moving

[2015-11-17 14:11] fabiocarneiro commented on #2031
@avinci This is true for the "predefined environments" aproach, since you manually add eb init & eb deploy to "after_success" section.

However, I'm using the "Deployments" on the project settings. It allows you to setup only one deployment, which is weird, but acceptable. The main problem is, ***it deploys every single branch to the same environment***.

[2015-11-17 14:13] avinci commented on #2033
Can you try using this tag in your YML.

`build_image: drydock/u14php:prod` We are updating all our images to be language specific. This is not yet launched and we are testing it internally. But you should be able to use it. The one caveat is that we don't automatically start PHP. So here is some script that you might want to add so that it starts up into your before_install and it should work.

[

[2015-11-17 14:17] avinci commented on #2033
also, 1 thing. You are setting node as the language and using php versions. that might be a problem. You need to set php. Also in the new images a default version of node is available and hence `npm install` will also work

[2015-11-17 14:18] avinci commented on #2031
I can get that fix in. But we are totally moving away from project settings as we have heard that folks don't want to do on UI. Let me check on the branch setting in the deploy. Should be simple.

[2015-11-17 14:20] fabiocarneiro commented on #2031
@avinci Yes, at least while you don't have this available. I also suppose that you'll keep this ui thing working at least for a while so you don't break the running projects, right? So maybe its still worth to do it.

[2015-11-17 14:22] avinci commented on #2031
Yup. Also, we are planning to do the same thing with pre-defined deploys. Multiple of them in YML. Not putting the onus on you. I think we will have this working in beta soon. I will circle back with you on that to check whether it meets your needs....

On the UI, I will try and get that added ASAP.

[2015-11-17 15:29] schroedad commented on #2033
Thanks for the quick response. I made all the suggested additions/changes to the shippable.yaml. The if fi syntax seems ok but I'm now getting this error:

[code]

I changed the language back to php but the reason I had set it to node_js is that otherwise npm install -g gulp wouldn't work.

[2015-11-17 15:55] avinci commented on #2033
can you try making your version 5.5.23, this seems like a PHP error saying it doesnt find 5.5 for some reason.

[2015-11-17 16:17] schroedad commented on #2033
The 5.5.23 verison worked but now our npm command fails:
[code]
Also, we use some PHP 5.6 features so not sure this solution will work for us anyway. Is there a build image that has 5.6 installed and would work?

[2015-11-17 16:38] fabiocarneiro commented on #2031
@avinci Just to clarify. how long you imagine this ASAP will take? Because I'm depending on that to finish my stuff and I need to decide If I can wait or find another solution.

[2015-11-17 16:39] avinci commented on #2031
I will get back to you by EOD.

[2015-11-17 17:57] schroedad commented on #2033
I got our build working again using the below (after much trial-and-error). In order to get npm install working, I had to set the language to node_js. Unfortunately the phpenv command only works if the language is set to php. While the following works, we won't be able to use phpenv to do things like update the php.ini file. For the moment that works.  Would be nice for both node/npm and php comma

[2015-11-17 17:59] avinci commented on #2033
did you add `build_image: drydock/u14php:prod`
This will allow you to do both. node is installed by default on php images.

[2015-11-17 18:01] avinci commented on #2033
our image that we use by default is really old. This will get updated and all the automatic env configs will work.

Is this a public project? I can try and help you with the yml.

[2015-11-17 18:02] schroedad commented on #2033
I did try the ```build_image: drydock/u14php:prod``` but was running into other problems (see above).

Unfortunately it's a private repo on bitbucket.

[2015-11-17 18:07] schroedad commented on #2033
Yeah when I plug that build_image back in I get:
[code]
I think I'll stick with our solution for now. Sounds like our best long-term option would be to build our own docker container. I really appreciate your help.

[2015-11-17 18:18] avinci commented on #2033
let me play with this and get back. I will write a sample for you later tonight.

[2015-11-17 18:48] AlfredAria opened #2034 "Coverage report cannot be generated"
Hi ever since I started building our repository on shippable,  we cannot generate coverage report (newest successful one : FSE-F15-SA1-SSNoC al-feature.206 )  , under the Coverage Tag we can only see the coverage of Gruntfile.js. However we can generate coverage report locally with $ grunt coverage, so I wonder if it could be an issue on shippable. We used the same setup in here: http://docs.shipp

[2015-11-17 23:35] EHLOVader commented on #1507
Second this.. I might even suggest that supporting arbitrary HTML reports might help most of the report problems in here.
In particular #174 which has requests for lots of formats, and if HTML were allowed then it could show anything.

[2015-11-18 01:15] manishas opened #2035 "extra breadcrumb when we navigate back to the subscription page from node details page"
repro steps -

- For a subscription on Single tenant beta (st-ci-beta), add a build node
- As the node initializes (or even after it initializes) go to the node details page
- Click on the subscription breadcrumb

The breadcrumb is wrong at this point  with 2 entries for subscription -
![screen shot 2015-11-17 at 5 14 32 pm](https://cloud.githubusercontent.com/assets/2983749/11229869/bd35676a-8d4e

[2015-11-18 01:15] manishas commented on #2035
assigning to @DavidGDragon

[2015-11-18 01:26] manishas opened #2036 "single tenant beta - clicking on node name on details page goes to a blank page"
- Go to settings and click on a node to view details.
- on the details page, click on node name
it goes to a blank page.

node name on details page should either not be clickable or go back to settings page.

[2015-11-18 01:26] manishas commented on #2036
assigning to @DavidGDragon

[2015-11-18 01:48] DavidGDragon opened #2037 "Use RESTful URLs for Account Integrations and Cluster Nodes"
Account integrations and cluster nodes do not use restful URLs, they should be migrated to
accountIntegrations/:accountIntegrationId
clusterNode/:clusterNodeId

[2015-11-18 05:02] vidyar opened #2038 "Build duration always shows 0.0 seconds in email notification"
![image](https://cloud.githubusercontent.com/assets/4965752/11233054/8f4a8506-8ddf-11e5-9417-7ff66a296c10.png)
The build duration is not getting updated properly in email notification. It shows 0.0 seconds for every build.

[2015-11-18 05:04] vidyar opened #2039 "Handle git clone failures and merge conflicts for pre-ci docker build"
![image](https://cloud.githubusercontent.com/assets/4965752/11208498/87f4b6e4-8d41-11e5-996d-6e8608fbf45e.png)
![image](https://cloud.githubusercontent.com/assets/4965752/11208533/bee490de-8d41-11e5-9f59-adcf11e92f0e.png)

It works correctly for normal builds and post-ci docker builds. But it is not working for pre-ci builds . Build steps are still executing even after `syncing git repo` step fail

[2015-11-18 05:20] satyasrikantmantha opened #2040 "Builds are stuck and remain in processing state."
Hello,

My builds are stuck since morning and were working yesterday. The project id is 55ed2ff81895ca447413527c

Please take a look and respond asap as I am on a critical path here.

Kind regards,
Satya

[2015-11-18 05:44] rageshkrishna commented on #2040
Hi @satyasrikantmantha. I'm looking in to this. Would it be alright if I try to trigger a few builds on your project to diagnose this?

[2015-11-18 06:02] satyasrikantmantha commented on #2040
Hello Krishna,

Yes it is fine by me.

regards,
Satya

[2015-11-18 06:43] manishas commented on #2032
this is now working. closing this issue.

[2015-11-18 06:43] #2032 closed

[2015-11-18 06:57] manishas commented on #2040
@satyasrikantmantha it looks like you're on our old dedicated hosts which we recently replaced with a beta of our new Single Tenant plan.

An email was sent to your email last week informing about this and requesting everyone on dedicated hosts to migrate to the new plan. It will take less than 5 minutes to migrate and the new plan has a lot of bug fixes and improvements we've made to the single t

[2015-11-18 07:10] manishas commented on #2040
@satyasrikantmantha i have sent the email to your live.in email address in your github profile as well. Please let me know if you have questions... happy to jump on a call and clarify any questions as well.

[2015-11-18 07:59] avinci commented on #2031
This should be do-able. We will get this out early next week after our sprint this week is complete. Hope that works

[2015-11-18 08:35] kepkin commented on #2040
I have absolutely the same issue. Could you please check my account too?
I use bitbucket with login kepkin and team itkaboom

[2015-11-18 08:41] satyasrikantmantha commented on #2040
We followed instructions from support above and followed steps to migrate the Dedicated Hosts to Single Tenant CI as mentioned below in circulars sent earlier by shippable. Hope this helps.

"As you know, we introduced the Dedicated Hosts BETA last year to let customers like yourself run builds on their own dedicated hardware over which they have complete control.
We have received excellent feedba

[2015-11-18 08:41] #2040 closed

[2015-11-18 09:31] kepkin commented on #2040
I have moved to Single Tenant plan. But it requires me to add *node* before I can run builds. But I don't have node for this, I want to keep running my builds on shippable infrastructure. But now I can't choose shippable node:
![Scrrenshot](http://i.imgur.com/a19N0aul.jpg)

[2015-11-18 09:36] rageshkrishna commented on #2040
@kepkin Sorry about the confusion on this. If you weren't using dedicated hosts before, you do not need to move to the single tenant plan. To continue running builds on our multi-tenant infrastructure, please move back to the mt-ci plan.

We had an issue from today's service upgrade that caused some subscriptions to run in to this issue of builds staying queued. The issue is being fixed now and yo

[2015-11-18 09:55] kepkin commented on #2040
@rageshkrishna
It works now. Thanks!

[2015-11-18 11:10] ferrix opened #2041 "I want to choose which job of a matrix to push to docker registry"
I am testing several matrix versions but only one is worthy of production.

Currently all of them get pushed to registry. I would however want to pick one.

[2015-11-18 12:40] fayazkhan opened #2042 "Build stuck on waiting"
My build is stuck on waiting. It says "Minion usage: 1 of 1" but the organization does not have any other builds running.

[2015-11-18 12:48] mbrodala opened #2043 "Move "Clear Cache" to "Cache Container""
Within the project settings one can clear the cache of containers in *Clear Cache*. However, this is hard to notice that far away from the actual *Cache Container* setting, so it should be moved upwards to have both of these together.

[2015-11-18 14:58] brendan-rius opened #2044 "Add support for Python 3.5"
Could you please add support for Python 3.5?

[2015-11-18 15:17] Achse opened #2045 "Builds are stucked and cannot be cancelled."
Hi,

for example: https://app.shippable.com/builds/564c8b002ed34f0c00e5de83 is stucked and when I press cancel, nothing happend.

Thanks for help.

Petr

[2015-11-18 15:21] Achse commented on #2045
This build too: https://app.shippable.com/builds/564c7d61fd15880d0019eae9

[2015-11-18 15:24] Achse commented on #2045
Also, today is problem with starting a builds. For example this pull: https://github.com/damejidlo/valkfleet-adapter/pull/17 (commit 38e568b466cad0b1b609881fe86053f85f330c9c) hasn't started a build.

[2015-11-18 15:30] manishas commented on #2045
@Achse We are currently experiencing a service outage. We're looking into it and will have an update soon.

[2015-11-18 15:32] manishas opened #2046 "SERVICE OUTAGE"
Shippable is currently experiencing a service outage.

The reason behind this is that our internal queue server is down and we're trying to recover by creating a new one and bringing it up.

We will post updates in this issue until the outage is resolved.

[2015-11-18 15:53] phagunbaya commented on #2046
Any ETA ?

[2015-11-18 15:55] manishas commented on #2046
We're still investigating it and will provide an ETA in 30 mins.

[2015-11-18 16:38] hillbilly90 commented on #2045
This build as well: https://app.shippable.com/projects/5524db225ab6cc1352bbd5e7

[2015-11-18 16:44] ivancamilov commented on #2046
sorry to be a nag, but it's been an hour... any ETA?

[2015-11-18 17:30] manishas commented on #2046
We should be able to get things back to normal in another 60 minutes. We'll post an update soon.

[2015-11-18 17:51] manishas commented on #2046
Service is back up and builds should be running normally. Please let us know if you run into any issues.

Thanks for your patience!

[2015-11-18 17:54] phagunbaya commented on #2046
Thanks !

[2015-11-18 18:42] DavidGDragon opened #2047 "Display Icons for Integrations"
Instead of bolded text for the integration type, display an icon for it.

[2015-11-18 18:50] #2047 closed

[2015-11-18 20:45] chriskinsman opened #2048 "Builds all stuck at waiting"
@manishas Is the service down?  Didn't see anything on the status page...

[2015-11-18 20:49] chriskinsman commented on #2048
Actually one just kicked off.  But only one of many are running and we should have more than one minion configured.

[2015-11-18 20:51] #2048 closed

[2015-11-18 21:22] mbrodala opened #2049 "Keep support for build_image in shippable.yml"
In [this blog post](http://blog.shippable.com/shippable-3.0-breaking-changes#BuildImage) various tags within `shippable.yml` where deprecated, among others also `build_image`.

I would like to request to not deprecate this tag anymore and keep supporting it. Reason is this: within the `shippable.yml` i configure the build environment, e.g. what language to use and what version as well as manually

[2015-11-18 21:29] chriskinsman opened #2050 "Builds stuck for > 30 minutes now in runnng state"

[2015-11-18 22:00] manishas commented on #1643
@mbrodala thanks for updating this.... yes, we fixed this over 3 weeks ago. We're now using the new push webhooks.

Apologies for not updating this issue at our end.... our old support process duplicated these issues in an internal repository and we sometimes missed following up and updating the issues in support repo. To fix this process, our developers have started working directly off support i

[2015-11-18 22:00] #1643 closed

[2015-11-18 22:00] mbrodala commented on #1399
There is a button to clear the container cache in the project settings.

[2015-11-18 22:03] manishas commented on #2046
Everything should be back up now. Thanks!

[2015-11-18 22:03] mbrodala commented on #1235
@fommil what about the `branches` (exclude, include) option?

[2015-11-18 22:04] manishas commented on #2046
@jessestuart great haiku... I hope devs didn't leave yet :)

[2015-11-18 22:08] mbrodala commented on #1536
I'd say this is a duplicate of #693

[2015-11-18 22:12] jessestuart commented on #2046
@manishas Haha, nope 😄 Thanks for your hard work guys/gals!

[2015-11-18 22:29] fommil commented on #1235
don't use shippable anymore.

[2015-11-18 22:29] jeffkole opened #2051 "Service timeout from github hook"
The Shippable webhooks that github is invoking are responding with "Service Timeout" messages, so no automated builds are being registered for me.  Is this related to the queue backup and outage earlier today?

[2015-11-18 22:39] avinci commented on #2051
yes. All web hooks go into a queue and if queue goes down, we cannot do anything. This was the first time msg went down in the last 14 months and we will update a post mortem on this once we are done with the fix... Right now all hands are on deck to fix this issue

[2015-11-18 22:44] jeffkole commented on #2051
I see.  #2046 gives the impression that the issue had been resolved.

[2015-11-18 22:47] chriskinsman commented on #2046
We still have a ton of hung builds and no new ones are kicking off...

[2015-11-18 22:49] jessestuart commented on #2046
@manishas @chriskinsman Yeah, no progress on our end either—hung builds, no new builds being triggered.

[2015-11-18 23:05] nicdex opened #2052 "Build not triggered on commit and manual building branch doesn't work"
My build did not trigger from my bitbucket push. Also I can't trigger it manually.

When inspecting the web app I see that call to https://api.shippable.com/projects/55c4f515edd7f2c05299123d/newBuild returns a 504.

[2015-11-18 23:14] jamesmk opened #2053 "builds frozen"
Hello,

Our builds are currently frozen. They've been processing for hours and I can't cancel them. This is blocking all other build in queue.

https://app.shippable.com/subscriptions/540f392a586ac5d7e36513c3

thanks

[2015-11-18 23:44] vladdancer opened #2054 "Bitbucket integration build status api?"
Hi, bitbucket was released recently a [build status api] (http://blog.bitbucket.org/2015/11/18/introducing-the-build-status-api-for-bitbucket-cloud/). Docs are here https://confluence.atlassian.com/bitbucket/buildstatus-resource-779295267.html Do you plan to support this feature?

[2015-11-18 23:54] pastawoua commented on #2046
Keep getting this message now:
Error
An error occured, please choose an action.
Missing response

[2015-11-19 00:17] ricardoon opened #2055 "Builds still frozen"
You have announced that the problem was solved, but my builds are still frozen.. I have one from 3 hours ago still waiting and I can't even cancel it.. And its not creating new ones..
Can you help me with that? =)

[2015-11-19 00:34] avinci commented on #2055
We are aware...sorry, we are looking into it. We are having message bus issues and causing us issues.

[2015-11-19 00:35] avinci commented on #2046
We are looking into it. Sorry did not update the issue. I will not close it until we get to steady state

[2015-11-19 00:46] manishas commented on #2046
The core issue has been resolved and we are now stabilizing the system. Builds have started to run but might be backed up due to the load. We are closely monitoring the situation to make sure everything keeps running.

We will keep this issue open until we are completely sure that everything will stay up and running as expected.

[2015-11-19 01:24] DavidGDragon opened #2056 "Stop fetching formation service updates"
The formationService settings page keeps getting updates even after you leave when you try to deploy.

[2015-11-19 01:56] manishas commented on #2026
@asans let us know if the link above helped. I am closing this issue, but please re-open if you need more information.

[2015-11-19 01:56] #2026 closed

[2015-11-19 02:22] asans commented on #2026
This helped.  Thanks.  A bit of a hack since it forces the dockerfile to be dependent on shippable semantics and configuration, but works.

[2015-11-19 02:31] manishas commented on #2055
closing since this is a dup of https://github.com/Shippable/support/issues/2046

Please comment here if your builds are still frozen and we'll take a look. Thanks for your patience!

[2015-11-19 02:31] #2055 closed

[2015-11-19 02:32] manishas commented on #2053
@jamesmk closing this as a dup of https://github.com/Shippable/support/issues/2046 since this was related to our outage today.

Please let us know if you still are running into issues and we'll take a look.

[2015-11-19 02:32] #2053 closed

[2015-11-19 02:33] manishas commented on #2052
@nicdex I am closing this issue as a dup of https://github.com/Shippable/support/issues/2046 since this was related to our outage today.

Please let us know if you are still running into issues. Thanks for your patience!

[2015-11-19 02:33] #2052 closed

[2015-11-19 02:34] manishas commented on #2051
@jeffkole i am closing this since it was related to our outage today. That is being tracked in https://github.com/Shippable/support/issues/2046.

Please let us know if you are still running into this and we will take a look. Thanks for your patience!

[2015-11-19 02:34] #2051 closed

[2015-11-19 02:35] manishas commented on #2050
Closing this since it was related to our outage today. Please let us know if you still are running into issues.

Thanks!

[2015-11-19 02:35] #2050 closed

[2015-11-19 02:37] manishas commented on #2045
I am closing this as a dup of https://github.com/Shippable/support/issues/2046 since this was related to the outage we had today.

Please let us know if you are still running into issues and we will take a look. Thanks for your patience!

[2015-11-19 02:37] #2045 closed

[2015-11-19 02:41] manishas commented on #2042
@fayazkhan we had an outage today which affected a lot of builds. It is being tracked in https://github.com/Shippable/support/issues/2046.

We believe the issue has been resolved and we're actively monitoring the system. I am closing this issue, but let us know if you're still running into this and we'll take a look.

[2015-11-19 02:41] #2042 closed

[2015-11-19 03:39] pnpritchard opened #2057 "Hook to execute script after image pushed"
We are using the "Post-CI Build" workflow (http://blog.shippable.com/post-ci-dockerbuild). To complete our CI/CD workflow, we would like to run a script after the docker image is built and pushed, so that it can be deployed. Please let me know if this is possible currently, or if it could be added to your new feature roadmap. Thanks!

[2015-11-19 04:46] ashernevins commented on #2023
@ric03uec

I am now experiencing this bug. Cancelled the first build and started another with the same issue. Current build is https://app.shippable.com/builds/564d40139f59620d00190378

Unlike fabiocarneiro this is not a pull request build.

Has anyone found a workaround for this until the bug is fixed?

[2015-11-19 05:40] manishas commented on #2039
This will be closed today.

[2015-11-19 06:03] pranaypareek opened #2058 "Fix typo on serviceImage page"
This is on `/formationServices/:id/serviceImage`.

![selection_471](https://cloud.githubusercontent.com/assets/6316230/11263471/f1b72ace-8eb0-11e5-8a45-ca2fef253f99.png)

The note should say `Select an image tag` instead of `a image tag`.

[2015-11-19 07:14] pschrammel commented on #1092
After more than two months of waiting I'll start to switch to one of your competitors. We're using AWS and work with Postgresql 9.4 on RDS. 9.4 has cool features (jsonb) I need and I base my work on. I think I was patient long enough. Bye and thanks for the fish.

[2015-11-19 07:42] kepkin commented on #237
Bitbucket had released new API at last!
https://bitbucket.org/site/master/issues/8548/better-ci-integration-add-a-build-status

[2015-11-19 07:44] hranicka commented on #2054
+1

[2015-11-19 07:51] rageshkrishna commented on #2023
@fabiocarneiro @ashernevins Did you happen to notice whether there is a long delay between the end of the docker build completing and the next part of your build starting to run? I think I may have identified where the problem is happening but need your input to confirm whether this is really what you are running in to.

[2015-11-19 08:28] rageshkrishna opened #2059 "Failures in pre-CI docker build are not handled correctly"
When a pre-CI docker build fails to complete, the build should fail immediately. What is happening today is that the build continues without any complaints _if_ a previous docker build on the same project succeeded at any point in the past.

[2015-11-19 08:46] mbrodala commented on #1235
What did you go with and what are the advantages? :-)

[2015-11-19 08:48] fayazkhan opened #2060 "Can't connect to MySQL"
I seem to be having trouble connecting to MySQL.

```E       OperationalError: (_mysql_exceptions.OperationalError) (2003, "Can't connect to MySQL server on '127.0.0.1' (111)")```

Any ideas?

[2015-11-19 09:00] vidyar commented on #2038
This is working correctly now.

[2015-11-19 09:00] #2038 closed

[2015-11-19 09:30] mbrodala opened #2061 "Add support for Bitbucket build status API"
Bitbucket recently announced its [build status API](http://blog.bitbucket.org/2015/11/18/introducing-the-build-status-api-for-bitbucket-cloud/) which allows CI tools to post their build status to Bitbucket and thus conveniently show them within Bitbucket. Shippable should probably support this.

[2015-11-19 09:30] fommil commented on #1235
drone. it actually works, and is free software.

[2015-11-19 09:42] kanthchandra commented on #2039
A fix for this is ready and should make it to production in the next deployment.

[2015-11-19 09:59] mbrodala commented on #1235
Ah OK, considered this one while looking for a CI service but decided for Shippable. Thanks.

[2015-11-19 10:24] rageshkrishna commented on #2060
Hi @fayazkhan. It looks like you're running builds on our shippableimages/ubuntu1404_python image. This image only contains python, so if you need mysql you will need to install it yourself with `sudo apt-get install -y mysql-server` in the `install` section of your YML file and then launch mysql manually with something like `/usr/bin/mysqld_safe &`.

Note that mysql may take a few seconds to star

[2015-11-19 10:36] jamescgibson commented on #1092
@flemse @pschrammel FWIW (not associated with Shippable), this has worked for us in our .shippable.yml:

[code]

[2015-11-19 11:34] fayazkhan commented on #2060
So, is there a python image which has mysql installed?

[2015-11-19 12:12] manishas commented on #2061
Dup of https://github.com/Shippable/support/issues/2054

[2015-11-19 12:12] #2061 closed

[2015-11-19 12:19] kanthchandra commented on #2059
This fix for this issue is ready and should be available when the next prod deployment takes place.

[2015-11-19 13:55] gervaisb commented on #616
:+1: +1

[2015-11-19 14:16] mbrodala commented on #2061
Whoops, you're right. ;-)

[2015-11-19 15:17] chriskinsman opened #2062 "Slow Builds"
@manishas Not sure if a hang over from yesterday but builds are very slow still today.  Builds that normally take 5-8 minutes are taking about 21-23 minutes...

[2015-11-19 16:10] adrien-candiotti opened #2063 "Build stale on authentication required"
Hi!

I built a base image hosted on my tutum registry to share my SSH keys.
The build on shippable reach the FROM, tries to pull the image but the authentication kicks in and makes the build go stale.

Is there any way I could hack this? By login into the tutum registry before the build maybe?

Here is the link to the build:
https://app.shippable.com/builds/564df0a9722fc10d00541e06

Thanks!

[2015-11-19 16:15] leroyjware commented on #2019
We're moving back to Travis for now. The Docker support (for deploying to EC2 Container service) as well as the front-end support for deploying on tag are both there with Travis, and we don't have much more time to experiment.

I appreciate everything.

[2015-11-19 16:15] #2019 closed

[2015-11-19 16:31] chriskinsman commented on #2062
Weird thing is some are executing quickly.  Others end up taking 20-25 minutes...

[2015-11-19 17:20] manishas commented on #2060
@fayazkhan our default image minv2 has python and mysql preinstalled. Can you try your build with minv2? We will also add new images with python and several services preinstalled in the next couple of weeks.

[2015-11-19 17:22] ttrahan commented on #2011
@LuisMuniz :

Hi Luis,

I'm jumping in here, as I'm running the beta program for our single-tenant CI option. There's no additional Shippable charge for the single tenant option while we're in beta, though you will cover the cost of the single tenant machines, which you can size to any specification you need. I will send you an email detailing this further and schedule a quick call to discuss the

[2015-11-19 17:22] #2011 closed

[2015-11-19 17:22] manishas commented on #2063
@adrien-candiotti can you try the instructions at
http://docs.shippable.com/integrations/#private-registry
http://docs.shippable.com/docker_registries/#pull-images-from-a-private-registry

Let me know if that works.

[2015-11-19 17:59] manishas commented on #2049
@mbrodala you are right, we intended removing support for build_image from the yml and move it to the project settings UI, so we wrote a blog about it.

However, based on feedback, we have decided to continue supporting the build_image tag. In fact, we're also going to move the other docker settings to the yml and if a customer configures UI and yml, yml will win. This is coming up in the next few

[2015-11-19 17:59] #2049 closed

[2015-11-19 18:12] manishas commented on #2037
This should be wrapped up today.

[2015-11-19 18:13] manishas commented on #2035
This should be wrapped up today.

[2015-11-19 21:53] xdothackerx commented on #2036
Beta verified 3087.

[2015-11-20 03:56] ashernevins commented on #2023
@ric03uec There is some delay yes, approximately 1-2 minutes.

[2015-11-20 04:38] JADurham909 opened #2064 "Builds repeating steps until timeout"
I am seeing this behavior on all projects using dockerhub to push containers.  The build steps repeat over and over until finally it times out

Generating Builds
Updating RSA keys
Syncing Git
Login to hub
Build image
Rinse and repeat

This is currently happening on at least 3 builds today.  Its also happening on builds with elastic beanstalk deployments which never trigger.

[2015-11-20 04:39] JADurham909 commented on #2064
Docker + Elastic Deployment steps

![image](https://cloud.githubusercontent.com/assets/574966/11292080/c9056454-8f16-11e5-8c81-c343e9468d90.png)

[2015-11-20 04:40] JADurham909 commented on #2064
Docker without Elastic Deployments

![image](https://cloud.githubusercontent.com/assets/574966/11292087/e6deb1b0-8f16-11e5-8628-b477c749c616.png)

[2015-11-20 04:40] JADurham909 commented on #2064
This started happening this morning, its been fine for weeks.

[2015-11-20 04:48] JADurham909 commented on #2023
I just posted another bug about this very issue before reading this.

https://github.com/Shippable/support/issues/2064

[2015-11-20 05:03] manishas commented on #2023
I am raising priority on this issue. @rageshkrishna we have to take a look at this asap

[2015-11-20 05:30] manishas commented on #2064
dup of #2023

[2015-11-20 05:30] #2064 closed

[2015-11-20 05:31] manishas commented on #2046
closing this since outage is resolved.

[2015-11-20 05:31] #2046 closed

[2015-11-20 06:18] manishas commented on #2062
we're monitoring this... no root cause yet.

[2015-11-20 06:52] hammadalinaqvi opened #2065 "Builds not completing and getting "Timeout" eventually."
@manishas, @vidyar : None of the builds that are initiated are getting completed for the last 2 days. Attached are the screenshots. Would really appreciate if this can be resolved soon.

The latest builds are:
1. https://app.shippable.com/builds/564db5a4722fc10d003d56fe (1eq)
2. https://app.shippable.com/builds/564dd928ac794d0c0085bfcd (one_account)

[2015-11-20 07:00] rageshkrishna commented on #2065
@hammadalinaqvi It looks like you're using custom nodes. Support for this has been deprecated and we have started a new beta for single-tenant CI. You would have received an email from @manishas communicating the changes and how you can move your dedicated host to the new single-tenant plans. Transitioning should only take 5 minutes of your time.

Please let me know if you need any help with this.

[2015-11-20 07:07] manishas commented on #2065
@hammadalinaqvi in case you missed the email, instructions were reposted in https://github.com/Shippable/support/issues/2040

Can you follow the instructions there and let us know if everything works?

[2015-11-20 07:38] hammadalinaqvi commented on #2065
@rageshkrishna Yup we are. Let me try the switching process.

@manishas Can you please send me that email too. I didn't get it.
Email: hammad.ali08@gmail.com

[2015-11-20 07:59] pquentin commented on #2054
This would be great because it would allow us to bypass completely the /subscriptions page (the slowest part of Shippable for us, see #1665) to get directly to the build page. From Reunion island, our /subscriptions page takes 24s to load completely while a build page is "only" 13 seconds.

[2015-11-20 08:12] czardoz opened #2066 "[Question] Docker version used on shippable"
What version of Docker Client do Shippable builds use?

[2015-11-20 08:16] elssar commented on #2054
+1

[2015-11-20 08:44] mbrodala commented on #2049
@manishas That's great to hear, thanks a lot! I already saw that you guys hinted at coming changes within the next weeks so I'm really looking forward to that. :-)

[2015-11-20 09:04] rageshkrishna commented on #2023
I've identified the underlying problem. We were having some issues with RabbitMQ and upgraded to a newer version a couple of days ago. Unfortunately, we did not notice that the default connection timeout was dropped from 580s to 60s in this release. As a result, messages are timing out and being redelivered when they really shouldn't be. This, coupled with what I think is a bug in the AMQP client

[2015-11-20 10:08] adrien-candiotti commented on #2063
Mmh, the thing is that I do want to build an image but based on a private image.
Your solution only propose to build an image or pull it from a private registry.
Not to build an image based on an image in a private registry.

That's ok, i'll just hack around.

[2015-11-20 10:17] kanthchandra commented on #2059
This has been deployed and verified.Closing.

[2015-11-20 10:17] #2059 closed

[2015-11-20 10:19] kanthchandra commented on #2039
This has been deployed and verified. Closing.

[2015-11-20 10:19] #2039 closed

[2015-11-20 10:28] rageshkrishna commented on #2063
@adrien-candiotti If you set up your Tutum Registry credentials as a Private Docker Registry integration in our system, we will do the `docker login` for you with those credentials. Just use the Tutum registry URL and everything should work. Once we do the `docker login`, your docker build will be able to pull your private image and continue with the build.

We call it a "Private Docker Registry"

[2015-11-20 10:47] vidyar opened #2067 "Email notification shows negative build duration for some builds"
![image](https://cloud.githubusercontent.com/assets/4965752/11297854/21936ae6-8fa1-11e5-9f3f-b2c4e0adec38.png)

![image](https://cloud.githubusercontent.com/assets/4965752/11297909/7b9db33e-8fa1-11e5-8267-337e5ed48f14.png)

[2015-11-20 12:12] rvdwijngaard opened #2068 "buildoutput: no such file or directory"
Hi,

Since two hours ago our builds are all failing at the **build image** step with error message
buildoutput: no such file or directory

Please help us out since this is blocking our delivery process.

https://app.shippable.com/builds/564ef4c742492c0d00e0d41f

Ron

[2015-11-20 12:51] rageshkrishna commented on #2068
@rvdwijngaard Can you please try it out now? Things should be back to normal.

[2015-11-20 13:04] deosjr commented on #2068
Seems to have been fixed, thanks a lot!

[2015-11-20 13:11] #2068 closed

[2015-11-20 13:12] rageshkrishna commented on #1283
This feature will go live with the next deployment. I'll update this issue as soon as it's available.

[2015-11-20 13:45] sheldon-sminq opened #2069 "Build failures"
I keep getting these errors? unable to deploy any builds.

error creating aufs mount to /data/aufs/mnt/23c714bb8f09303bfda08e4342f4550aa11d5ea4ff50b8e31d5032a9833548d6-init: invalid argument

[2015-11-20 14:58] James1x0 commented on #1881
@avinci Looking forward to it. Got the container working on the ubuntu 14 image w/ node 4. Used your mongo install script. Build times are really slow w/o a preinstall, but it might just be worth the wait because 1 container is free for private repos, plus your coverage/test reports are first class for sure.

[2015-11-20 17:00] cschlegelmilch opened #2070 "Multiple Transient CI Containers"
Hello,

I've looked at a number of previous support tickets and still can't quite figure out the answer:  is there a way to create transient containers that hold test data as part of the CI build cycle?  Currently, we have JUnit managing container lifecycle to support a number of different tests in our build.  These containers are specific to each testing context and are spun up and destroyed mult

[2015-11-20 17:26] manishas commented on #2069
@sheldon-sminq can you please share a link for a failed build with this message?

[2015-11-20 17:30] manishas commented on #2065
@hammadalinaqvi I just sent it to you. Let me know if you need help with switching over to the single tenant CI plan.

[2015-11-20 19:11] rageshkrishna commented on #1283
This is now available.

[2015-11-20 19:11] #1283 closed

[2015-11-20 19:47] rageshkrishna commented on #2023
We've deployed a fix for this.

@fabiocarneiro @ashernevins @JADurham909 Please let me know if you still run in to this.

[2015-11-20 20:01] DavidGDragon commented on #2035
beta verified www 3085

[2015-11-20 20:43] mfilotto commented on #99
+1 for Gitlab support

[2015-11-20 21:56] manishas commented on #2066
We're using 1.7.1.

[2015-11-20 21:57] #2066 closed

[2015-11-20 22:00] manishas commented on #2065
i am closing this issue since your latest builds seem to have been successful. Let me know if we can help with anything else.

Our Single Tenant CI Beta is the new reincarnation of dedicated hosts and has many bug fixes and enhancements. Over the next few weeks, we plan to harden it and also get feedback from users like yourself so we can add the right things to it before launch. @ttrahan will rea

[2015-11-20 22:03] manishas commented on #2062
@chriskinsman do you still see this? we deployed a couple of fixes over the last day that should help with this...

[2015-11-20 22:04] manishas commented on #2058
i verified this is now corrected in prod. closing.

[2015-11-20 22:04] #2058 closed

[2015-11-20 22:05] JADurham909 commented on #2023
Testing it now

[2015-11-20 22:05] manishas commented on #2057
This is already on our feature roadmap. We'll mark this in progress when we pick it up and post regular updates.

[2015-11-20 22:47] JADurham909 commented on #2023
Not sure this is related... but I cannot push to docker now.

  sudo docker push adexchangegrp/aeg-affiliate-portal-app:master.174 2>/tmp/push-error.txt
The push refers to a repository [adexchangegrp/aeg-affiliate-portal-app] (len: 1)
22ee36e0c564: Buffering to Disk
22ee36e0c564: Image push failed
  echo -e 'Error pushing to registry: Server error: unexpected 500 response status trying to initiate

[2015-11-20 22:48] JADurham909 commented on #2023
I see the build numbers are not aligning with the docker tags now.  I will cancel a few builds and try again.

[2015-11-20 22:55] JADurham909 commented on #2023
I think docker hub is having problems at the moment.  Nothing will push.

[2015-11-21 01:21] DavidGDragon commented on #2037
EOD: PR needs review for clusterNode route.

[2015-11-21 02:12] bbradbury commented on #1584
This is still busted, and is a good candidate for the straw that sends us off of Shippable. Any further thoughts?

Example broken build: https://app.shippable.com/builds/564fca1e0b0f290e00c51833

[2015-11-21 03:26] manishas commented on #1584
We'll take a look and get back to you.

[2015-11-21 04:24] rageshkrishna commented on #1584
@bbradbury Our language specific images do not contain any services. The `services` section of the YML file is processed only if you're running builds on our `shippable/minv2` image. If you want to build with shippableimages/ubuntu1404_python and need to use RabbitMQ, you have two options:

1. Update your YML file to include the following:

[code]

  Of course, this will impact your build times be

[2015-11-21 04:48] sheldon-sminq commented on #2069
https://app.shippable.com/builds/564f4f1e3fd5ae0d0087b2e6

[2015-11-21 05:20] sheldon-sminq commented on #2069
Not sure but after i did a clear cache things worked.

[2015-11-21 05:21] sheldon-sminq commented on #2069
And another failure

https://app.shippable.com/builds/564ffd6c4dc05e0b008c32a9

[2015-11-22 13:32] rogierslag commented on #1200
I think this can be closed since dedicated hosts are not available anymore?

[2015-11-22 13:35] rogierslag opened #2071 "Limit concurrent branch builds"
For some scenarios, we'd like to do a master build, only for the commit (so not PR), once merged. This then creates an artifact which is ready for deploy. However in order to prevent race conditions, we'd want to limit these builds to just one concurrent build (to prevent a slow build to release an artifact later on, while the later faster build should be the correct one).

Is there any plan to su

[2015-11-22 14:21] manishas commented on #1200
@rogierslag we are actually running a preview of a new reincarnation of dedicated hosts called single tenant CI. Anyone can sign up simply by selecting Single Tenant CI Beta from the Plan dropdown on the billing page.

The feature in this issue is addressed and customers can select number of parallel builds.

Let me know if you want more information. I will close this issue since this has been imp

[2015-11-22 14:21] #1200 closed

[2015-11-23 02:33] ashernevins commented on #2023
Working for me. Thanks.

[2015-11-23 03:06] avinci commented on #2023
closing as this is resolved.

[2015-11-23 03:06] #2023 closed

[2015-11-23 03:06] #2036 closed

[2015-11-23 03:07] #2035 closed

[2015-11-23 03:07] #2063 closed

[2015-11-23 08:27] adrien-candiotti opened #2072 "Rake command not found on a node.js image"
Hi!

The image is now built with my private image without any trouble as far as I know.

The problem is that after the build there is a "script" step, where the test stop saying:

rake:
/root/cb5d5dbb-25ea-47b8-a546-e93e4c6b966b.sh: line 88: rake: command not found

I guess you're injecting a script somewhere (or it's the container that execute the test that fails?) as the script seems named after

[2015-11-23 09:20] rageshkrishna commented on #2072
If your YML file doesn't specify a `language` setting, we default to Ruby. For Ruby projects, if you don't specify a `script` setting in the YML, we default to `rake`.

You should update your YML file to specify a language, platform version and script commands, like this:

[code]

[2015-11-23 10:36] adrien-candiotti commented on #2072
I'm building my own image for the test, I guess the mecanism you describe is used to test in one of your images?
What do I need to avoid this "language specific" step?

[2015-11-23 11:08] rageshkrishna commented on #2072
Even if you're using your own images, we need to know what commands to run during the build. If you don't specify anything in your YML file, we assume it's Ruby and run `rake`. This choice was made for legacy compatibility.

If you want to customize this, you must change your shippable.yml file.

[2015-11-23 11:43] adrien-candiotti commented on #2072
Ok i'll try :)

Thank you!

[2015-11-23 11:43] #2072 closed

[2015-11-23 13:06] hammadalinaqvi commented on #2065
@manishas & @rageshkrishna: Thank you for your support, I was able to switch o st-ci (beta) seamlessly.

However for the past 2 hours the builds are getting initiated but not finishing completely.
https://app.shippable.com/builds/5652f52c0b0f290e00f3f5de started 2 hours ago and is still in progress!!

[2015-11-23 13:29] daniel-sc commented on #1354
+1

[2015-11-23 14:58] hammadalinaqvi commented on #2065
@manishas https://app.shippable.com/builds/56531a2a4dc05e0b00bfedf7 is in "processing" state for the last 1 hour.

[2015-11-23 15:04] antonienko commented on #1354
When I include a whitelist for code coverage, it works perfectly. Maybe that's the issue for you too guys.

[2015-11-23 18:48] DavidGDragon commented on #2037
Today: Goal is to close

[2015-11-23 18:49] DavidGDragon commented on #2037
Today: Finish clusterNodes, start accountIntegrations

[2015-11-23 19:12] xdothackerx commented on #2025
Beta verified 3120.

[2015-11-23 19:12] hammadalinaqvi commented on #2065
@manishas @rageshkrishna @vidyar
Guys would you like me to create a new ticket for this (please see above comments after the ticket was closed) or can we open this ticket again and see whats wrong!!

[2015-11-23 19:30] manishas opened #2073 "node initialization is broken for st-ci-beta plan"
https://app.shippable.com/subscriptions/540e75583479c5ea8f9e71e1/nodeDetails?node=563d4f50aba5ac0c00d36a5b

[code]

[2015-11-23 19:30] manishas commented on #2073
assigning to avinci...

[2015-11-23 19:42] avinci commented on #2073
this is fixed. There was a missing setting in the initialization micro-service. I have updated it and its fixed

[2015-11-23 19:42] #2073 closed

[2015-11-23 19:43] manishas commented on #2065
@hammadalinaqvi can you kick off a build for the staging branch? we'll take a look at what's going on...

[2015-11-23 19:55] avinci commented on #2069
@sheldon-sminq I see that you are doing a post docker build. I wanted to know if you are extracting artifacts from your preCI container as part of our docker build? Can you send me your YML and DockerFile so that I can debug this further...

my email is avi@shippable.com

[2015-11-23 19:57] hammadalinaqvi commented on #2065
@manishas Should I re-deploy one of the cancelled ones, or would you like me to kick off a new build?

[2015-11-23 20:16] manishas commented on #2065
Either will be fine. Thanks!

[2015-11-23 20:17] hammadalinaqvi commented on #2065
staging.1031:
https://app.shippable.com/builds/565374737480340c002f82a6

[2015-11-23 20:29] manishas commented on #2065
can you do the following -
on your build host, run command -  ```docker ps | grep 552ed126edd7f2c052c3f4bf```

this will give you a container id. then tail the logs with - ```docker logs -f [containerID]`` and let us know what the last few lines of the logs are.

[2015-11-23 20:50] manishas commented on #2065
@hammadalinaqvi have you added any packages to the build since the last successful run? Our best guess right now is that some package is waiting for user input and this is timing out. Steps in the comment above will help us figure out what happened.

[2015-11-23 20:53] hammadalinaqvi commented on #2065
@manishas package.json was last updated 5 months ago.

Trying to see the logs for you...

[2015-11-23 21:29] hammadalinaqvi commented on #2065
@manishas Don't have any containers by the NAME
However `CDM.build.565374737480340c002f82a6.1` exists. Attached is the log for this container
[474d62b65d20.txt](https://github.com/Shippable/support/files/42075/474d62b65d20.txt)

[2015-11-23 22:05] hammadalinaqvi commented on #2065
Fixed it. Apparently it was some dependency issue!!

@manishas @rageshkrishna Thanks for the support! Much appreciated.

[2015-11-23 22:05] #2065 closed

[2015-11-23 23:24] manishas commented on #2065
:+1:

[2015-11-23 23:59] DavidGDragon commented on #2037
https://github.com/Shippable/www/issues/2532 clusterNodes page beta verified www 3121

[2015-11-24 01:18] DavidGDragon commented on #2037
EOD: accountIntegrations page on hold until I have time to address it.

[2015-11-24 03:51] ashernevins opened #2074 "Docker build sometimes halts after "build image""
Two examples: https://app.shippable.com/builds/5652cd420b0f290e00edae61 and https://app.shippable.com/builds/5653d80fe412bb0c0061cdcd

These builds are Docker builds that then push to a repo. In both of these cases the build has stopped after the "build image" step, which shows as completed successfully. Pushing again to the same repo can work sometimes (there were 3 successful builds between the

[2015-11-24 05:14] rageshkrishna commented on #2074
@ashernevins Thanks for reporting this. Our build containers try to install virtualenv when they boot with these commands:

[code]

For some reason, the `virtualenv` installation with pip is occasionally failing on your containers with the following error:

[code]

I am not sure yet why this is happening. Would it be possible for you to share your Dockerfile with me at ragesh@shippable.com? This m

[2015-11-24 05:20] ashernevins commented on #2074
@rageshkrishna the Dockerfile is simply "FROM asher/nodejs-runtime" which can be found here https://hub.docker.com/r/asher/nodejs-runtime/~/dockerfile/

[2015-11-24 05:27] rageshkrishna commented on #2074
Thanks. I don't see any reason why this wouldn't work, but I'll play around with it a bit.

[2015-11-24 14:39] tinisi opened #2075 "Updating project build image throws validateDockerImageName error with valid image"
Our project is currently set up with this in the project "Pull image from" field:
shippableimages/ubuntu1204_nodejs

Trying to switch it to this:
`shippableimages/ubuntu1404_nodejs`

is showing this error in the client:
[code]

These paths are copied directly from DockerHub, so should be correct.

I also tried this one, just in case there is some issue with the node image, and getting same error.

[2015-11-24 20:19] tinisi commented on #2075
Looks like the Shippable Elves fixed this one. We saw this error consistently for over two days, and now it is gone, so closing this issue. Thanks!

[2015-11-24 20:19] #2075 closed

[2015-11-25 06:36] Varsha-Arun opened #2079 "Builds are failing without executing all steps"
I have encrypted secure env variable with an incorrect format
``-variable=aaa``

and then triggered a build. The build failed without showing any errors on console log

Build: https://app.shippable.com/builds/56554d090945c00c00141d3b

![image](https://cloud.githubusercontent.com/assets/15084465/11389722/50b856bc-9369-11e5-9d35-8c8ac2dd9bec.png)

[2015-11-25 07:56] bradcypert opened #2080 "How to create/set postgres user and password?"
Is there a correct way to create a user for testing and how do I set that for the shippable job?

[2015-11-25 09:28] rageshkrishna commented on #2080
@bradcypert If you're running builds on our default image (shippable/minv2), postgres is already set up and configured to accept connections from user `postgres` with no password so you can just do this in your shippable.yml to start using it:

[code]

If you really do need to create a new user, this should work for you:

[code]

[2015-11-25 13:52] fabiocarneiro commented on #2031
@avinci Is it supposed to be available already? I tried to delete my deployment and create again and I still can't select the branch.

[2015-11-25 15:11] JADurham909 opened #2081 "Github PR Builds with Docker and EB Deployments"
Is there a way to only push to dockerhub and deploy to elastic beanstalk on the master branch builds and not on each PR?  I want PR's to see build status but I do not want them getting deployed.

Thanks.

[2015-11-25 15:17] rchristensen opened #2082 "Scala build hangs during compilation phase on shippable, but not locally using the same container"
Hey Shippable!

This [build](https://app.shippable.com/builds/565520aaaf914c0d006ff3fd) hangs during the compilation step of our Scala/Play-Framework app, with no errors. The same container compiles and runs tests fine locally.  Is there anymore information you can provide us to help debug this issue?

[This](https://app.shippable.com/builds/5655d00d4561b70d008be7a3) is another example that I'm re

[2015-11-26 01:38] gegere opened #2083 "Cannot locate Dockerfile"
Hello,

Kinda confused... I know I need to tell Shippable where the Dockerfile is but not quite sure how? Is it a must that the Dockerfile be in the root directory?

Within [this repo](https://github.com/htmlgraphic/Mail-Server) I am looking to `cd` into the `Dovecot` directory and execute the Dockerfile to build and test the system build. As I create more tests I will do the same for the other di

[2015-11-26 02:28] manishas commented on #2083
@gegere currently, the dockerfile has to be at the root of your repository and we only support one dockerfile per repo.

However, we're moving all docker options to the yml where you will be able to do the above.

[2015-11-26 05:07] cschlegelmilch commented on #2070
@manishas Can I assume from the feature request label that this is currently not supported?

Thanks,

Craig

[2015-11-26 05:47] manishas commented on #2070
@cschlegelmilch sorry i tagged it as a feature request without really explaining.

You're correct... at the moment, we do not have a way to run transient containers during the CI workflow. This is mainly because we run all builds in docker containers and for security reasons on a multi-tenant platform , we do not want to allow docker in docker scenarios.

However, we've recently introduced a singl

[2015-11-26 05:50] manishas commented on #2082
@rchristensen i see your latest builds are green.... do you still have this issue or did you fix it?

Let me know if we need to look into this. thanks!

[2015-11-26 05:51] manishas commented on #2056
@DavidGDragon is this complete. if so, can we close?

[2015-11-26 05:51] #2056 closed

[2015-11-26 05:52] rchristensen commented on #2082
@manishas yes, sorry! we figured out that node wasn't installed for some reason and our JS tests were somewhat silently failing.  I'll close this out.

[2015-11-26 05:52] #2082 closed

[2015-11-26 05:54] manishas commented on #2069
@avinci @sheldon-sminq is there any progress on this? I took a look and didn't see any failures in that branch for the last couple of days, so not sure where we are with this issue.

[2015-11-26 05:57] manishas opened #2084 "project settings do not show hub integration added by someone else or let me change it"
This is a regression - if someone else adds a hub integration, we are not displaying it and also not letting the user change it.

![screen shot 2015-11-25 at 9 55 54 pm](https://cloud.githubusercontent.com/assets/2983749/11416122/8e7be1ca-93bf-11e5-96e2-a68b3923d110.png)

[2015-11-26 05:58] manishas commented on #2084
@pranaypareek we need to fix this ASAP.

[2015-11-26 06:01] Enalmada opened #2085 ""No defaultPlanId found" during AWS integration setup"
I am trying to follow these direction to attach aws integration to my account.
   http://blog.shippable.com/deploying-containers-to-elastic-beanstalk-the-shippable-way

I choose Integrations > AWS, set name to "AWS Integration", add a key/secret with access to beanstalk and this error comes up:

[code]

[2015-11-26 06:01] sheldon-sminq commented on #2069
No failures yet i did experience it a couple of times but doing a rebuild
worked.

On Thu, Nov 26, 2015 at 11:24 AM, Manisha <notifications@github.com> wrote:

[2015-11-26 06:02] manishas commented on #2085
this is a bug and looks like we introduced this recently. we'll take a look asap.

[2015-11-26 06:02] manishas commented on #2085
@himanshu0503 we need to fix this asap!

[2015-11-26 06:02] himanshu0503 commented on #2085
I am looking into it.

[2015-11-26 06:04] manishas commented on #2085
@Enalmada sorry about this. we're fixing this and ETA is ~ 1 hour. We will update this when we deploy the fix.

[2015-11-26 06:18] cschlegelmilch commented on #2070
You mention you support single tenant CI.  You have any pricing details published?  Can't seem to find anything on your website.

[2015-11-26 06:49] manishas commented on #2070
We just launched it and it's in preview, so it's free to use while in preview.

Details will be published on our website soon... but if you choose st-ci-beta on your billing page, it will give you an estimated price at launch. Pricing is for parallel builds, and we'll offer a freemium plan with the first parallel build free.

For more information, shoot me an email at manisha@shippable.com and I w

[2015-11-26 07:17] himanshu0503 commented on #2085
@Enalmada : A fix has been deployed for this. Can you please verify?

[2015-11-26 07:23] Enalmada commented on #2085
Yes, I can confirm that it did save my integration.  Thank you for the quick response!

[2015-11-26 07:26] #2085 closed

[2015-11-26 08:27] pranaypareek commented on #2084
This has been fixed and verified in beta.

Integrations for the project added by other team members are now visible.

Dropdown for choosing another integration is also visible.

![selection_491](https://cloud.githubusercontent.com/assets/6316230/11418400/718e2434-9445-11e5-949e-e7b5477b38d3.png)

[2015-11-26 09:17] sandermarechal commented on #45
@avinci The other way around. Some external service does a HTTP POST to shippable to trigger the build. Like @abhi1010 suggest, all Shippable would need is provide a public SSH key, and a way for us to enter a (public) URL to a git repository. Example workflow:

1. On my Shippable account page there should be a public SSH key that Shippable uses to connect to external git servers.
2. I copy that k

[2015-11-26 14:59] windmaomao commented on #2054
Does this mean that github works out of box on this ?

[2015-11-26 15:00] mbrodala commented on #1954
You could try installing `php5-pear` before.

[2015-11-26 15:14] mbrodala opened #2086 "Trouble installing PHP "intl" extension"
I am trying to install the PHP `intl` extension as required by our code. Inspired by #206, and after a lot of trial and error (push for every change) I now have this:

[code]

However, this considerably slows down our builds since we need to 1) update the APT package index and 2) compile a PHP extension.

Is this really the only option to install PHP extensions like `intl` in the Shippable build e

[2015-11-26 15:15] mbrodala commented on #1954
Also see #2086 where I had a similar issue with the `intl` extension.

[2015-11-26 17:56] JADurham909 commented on #2081
I actually found that this works as is.  The PR builds are not executing docker push and and EB deployments as expected.

[2015-11-26 17:56] #2081 closed

[2015-11-27 05:42] pquentin commented on #2044
+1

Any ETA on this?

[2015-11-27 06:29] manishas commented on #2044
We're actively working on being able to add language specific images which will be updated with latest language versions and services. We can prioritize Python and the ETA is 12/4 at the very latest. I will try to shoot for 12/2 though.

[2015-11-27 06:31] manishas commented on #2044
@quentinpradet @brendan-rius can you share some information about what you need in the image so I can make sure we address that?

I.e. Python 3.5 and any services or tools?

[2015-11-27 06:47] pranaypareek commented on #2084
The fix is now in prod.

[2015-11-27 06:47] #2084 closed

[2015-11-27 07:41] pquentin commented on #2044
@manishas I got a bit confused and it turns out our team does not need Python 3.5 support from Shippable.

To ensure all our environments (dev, test, staging, prod) are as close as possible, we use a custom image based on Ubuntu 15.04 where the services we use (Elasticsearch and RabbitMQ) are pre-installed. If I understand correctly, Shippable applies a bash script on top of this custom image. Thi

[2015-11-27 10:27] brendan-rius commented on #2044
I currently do not use my own image, but the default [Ubuntu 14.04 + Python image](https://github.com/shippableImages/ubuntu1404_python) (assuming this is what you use internally when there's no specific image in the `shippable.yml` and when the language is set to Python) like:

[code]

The solution would then be to install Python 3.5 in [the default image](https://github.com/shippableImages/ubunt

[2015-11-27 16:18] mbrodala commented on #2086
I have now switched to the following, a lot faster more more hacky solution:

[code]

This works around the problem that the `intl.so` cannot be found in the current PHP environment if it was installed system-wide by putting the absolute path into the `php.ini`.

I'd still like to see a cleaner solution. ;-)

[2015-11-28 15:35] Sebastien-Meiffren commented on #1954
For futur reference, thanks to @mbrodala, this is what I put in my before_script section
[code]

But the fact that the documentation is not up to date (or working) remains ...

[2015-11-28 17:29] manishas commented on #1954
Thanks @mbrodala!

We're rewriting documentation and this will be available in next couple of weeks. We're adding an FAQ section where these tips and tricks will be aggregated so folks can find them easily.

With regards to this specific issue, I'll get someone to follow up on Monday and explain what's going on.

[2015-11-28 20:43] mschneider opened #2087 "language go does not support mysql service"
[code]

results in
[code]

complete shippable.yml
[code]

[2015-11-29 00:52] wandergeek opened #2088 "Unable to setup links between containers in service definition"
I need to be able to access services from other containers in the formation, but I can't seem to figure out where the configuration needs to sit.

[2015-11-29 00:53] wandergeek opened #2089 "Unable to set CPU and memory parameters for containers deployed to AWS ECS"
I am unable to determine how to set both CPU and memory parameters for the containers in my formation. Is this feature available?

[2015-12-01 05:37] pquentin commented on #2074
@rageshkrishna Any reason why you're using such an old virtualenv version?

[2015-12-01 11:31] ashernevins opened #2090 "Build fails during npm install most of the time"
I recently created a new project that uses an identical Dockerfile to another project of mine.
This new project almost always (but not always) fails while running npm install with the following error:

npm ERR! System Linux 3.13.0-57-generic
npm ERR! command "/nodejs/bin/node" "/nodejs/bin/npm" "install"
npm ERR! cwd /app
npm ERR! node -v v0.10.32
npm ERR! npm -v 1.4.28
npm ERR! path /root/.npm/a5

[2015-12-01 16:53] lafraia commented on #2054
+1

[2015-12-01 17:04] Sebastien-Meiffren commented on #1954
OK I'll wait for the update cause Mongo + mySQL doesn't seems to be working properly as well despite the fact that it seems to have started (can't connect even with the right port / user / pass)

[2015-12-01 18:42] JADurham909 opened #2091 "YAML config to specify which branches deploy to EB"
Is there a way to do the following workflow?

1) Run build scripts
2) Deploy / push docker image on all branches for formations
3) Deploy to AMAZON EB ONLY on master and no other branches.

[2015-12-01 18:51] JADurham909 commented on #2031
I second this, I am trying to stand up a CI formation and I cant because everything is going to elastic automatically.  Its kind of a big roadblock.

[2015-12-01 20:01] JADurham909 commented on #2091
It there a hook I can use to manually push my container up and then conditionally deploy?  I tried after_success and after_script, but both say command docker is not found.  I assume these are running in the container itself, and thats why.

[2015-12-01 21:11] JADurham909 opened #2092 "Formation service will not start, no error logs"
I am not sure what do with this one, I see a red circle on my formation by no way to see the logs to see why it stopped.

[2015-12-02 03:51] rageshkrishna commented on #2090
Can you try with a newer version of npm? Older versions have been known to have race conditions that cause these intermittent issues.

[2015-12-02 04:40] rageshkrishna commented on #2074
@pquentin This script was written long ago and it's just been a case of "if it ain't broke, don't fix it". Of course, now that we _are_ seeing occasional failures with this I will look into upgrading to a newer virtualenv.

@ashernevins Unfortunately, I haven't been able to repro this issue yet so I still don't have a root cause for the occasional failure. Perhaps upgrading virtualenv will make th

[2015-12-02 05:43] ashernevins commented on #2090
I can't easily upgrade to the latest right now because many of the packages I use haven't been updated to deal with the new dependency handling.

Do you have a link to the bug that causes these race conditions?

[2015-12-02 06:08] ashernevins opened #2093 "Notifications (via Slack integration) has stopped working"
I have two projects that have notifications via Slack. One of them can be found here: https://app.shippable.com/projects/562f31c81895ca4474213d24

Some time between builds 19 and 20 on that project (between 2 hours ago and 40 mins ago) the slack notifications stopped working. They also stopped working for another project.

I have tested the slack integration API path directly and have confirmed th

[2015-12-02 06:08] manishas commented on #2093
@kanthchandra can we take a look at this?

[2015-12-02 06:09] kanthchandra commented on #2093
@manishas looking into it.

[2015-12-02 06:53] kanthchandra commented on #2093
We have identified the issue and we will deploy a fix very soon. I'll update this as we make progress.

[2015-12-02 08:06] kanthchandra commented on #2093
@ashernevins this is fixed and you should have got all the backed up messages.

[2015-12-02 08:09] ashernevins commented on #2093
Thanks for the fast response

[2015-12-02 08:09] #2093 closed

[2015-12-02 09:12] fayazkhan opened #2094 "Error getting file list from provider"
Building a specific tag seems to be failing at this point:

     Error while generating build for branch v2.15.15
         Error getting file list from provider

[2015-12-02 09:32] martijnpolder opened #2095 "Where can I find my Deployment Key?"
We're considering migrating from Codeship to Shippable, but I appear to be running into so issues.
Our composer.json is setup to retrieve some private repositories from bitbucket, using the snippet

[code]

But the build fails with

[code]

I assume the Shippable public key has to be added to the Bitbucket repositories, but using the information in http://blog.shippable.com/demystifying-shippables

[2015-12-02 10:05] rageshkrishna commented on #2095
We've moved things around a little since that blog post. You can now find your deployment key in the "Settings" tab on your subscription's page. This is the page you see when you click on your subscription from the "CI" dropdown on the dashboard. I hope this helps.

[2015-12-02 10:31] avinci commented on #2031
Sorry for the delay. With long weekend and everything, we had very few resources available.

I ended up digging through this code and the more I dig, doing a deployment in a CI workflow with Docker build is going to be super complicated. Just selecting branch does not solve the real problem, The immediate next thing that folks would need is different environment settings for different environments

[2015-12-02 11:58] fabiocarneiro commented on #2031
@avinci What do you exactly mean with "shippable deploy"? Is it a new feature or service? Can I already have access to it?

And I think you're looking into the big picture there. We have more than one container here but we are running a ci project for each of these containers since they're different projects and different languages and for these container we only need the image to be pushed to hub

[2015-12-02 13:10] czardoz opened #2096 "Builds not being triggered"
Hi,

New commits for project https://app.shippable.com/projects/55882f2cedd7f2c0522e51b1 are not being detected. What could be the issue?

-- Aniket

[2015-12-02 13:14] JADurham909 commented on #2031
For us, the main thing is also just the ability to "include" a specific branch.  At least in the short-term.  That way I can use Formations off the master without having the images get deployed on the builds.

[2015-12-02 13:32] JADurham909 commented on #2031
I can jump on a hangout if you want.

[2015-12-02 14:11] fabiocarneiro commented on #2031
@JADurham909 By default, they're all included in the same server. So basically you need my 1 and 2 requests.

[2015-12-02 14:13] fabiocarneiro opened #2097 "Remove builds from POST-CI when you are not going to push it."
builds of images that will not be pushed are completely useless in post-ci builds. You build it just for immediate deletion. Can you please skip the build?

[2015-12-02 14:30] claar commented on #1543
PHP 7 is now released https://news.ycombinator.com/item?id=10661997

[2015-12-02 15:03] gaumire opened #2098 "Cache container not working."
Hi, I have enabled **cache: true** in my shippable.yml file and have enabled **Cache Container** on the project settings page, but still I see the `before_install` step being run on every consecutive builds increasing my build time. Could there be anything else that I can do to get container caching working for me again?

[2015-12-02 15:05] JADurham909 commented on #2031
@fabiocarneiro I use formations for CI, so I only need a one branch deploy.

[2015-12-02 16:11] bonesmccoy opened #2099 "Failed to POST accountIntegration"
Hello,

I've signed up few weeks ago for the free plan with my bitbucket account bonesmccoy and I used shippable for few days.

Suddenly It stopped working.  Now everytime I try to sign in I reached the page https://app.shippable.com/error that displays the following message:
[code]
Two buttons:  `Logout` and `Back to App` are also displayed and both brings me to the website home.

I've revoked my

[2015-12-03 00:41] manishas commented on #2099
@bonesmccoy i will look into this and get back to you.

[2015-12-03 03:43] rageshkrishna commented on #2090
Here are a few support issues we've seen in the past with similar problems (EEXIST errors):

https://github.com/Shippable/support/issues/691
https://github.com/Shippable/support/issues/712
https://github.com/Shippable/support/issues/713

[2015-12-03 06:42] ashernevins commented on #2090
Thanks for those references. I'm going to close this since it seems to be solvable by upgrading npm.

[2015-12-03 06:42] #2090 closed

[2015-12-03 09:40] larsbrinkhoff opened #2100 "Language: C"
Hello,

I'm building my project in Travis CI.  The .travis.yml file includes

    language: c

I also want to build my project in Shippable, using .travis.yml.  However that line makes Shippable fail.

[2015-12-03 11:08] czardoz commented on #1881
@avinci any updates on this?

[2015-12-03 11:30] antonienko commented on #1157
+1, but in my case it's phpunit for server-side tests, and karma for client side.

[2015-12-03 15:05] phagunbaya opened #2101 "Builds taking too long to finish and often times they hang"

[2015-12-03 15:07] phagunbaya commented on #2101
Issue seems to be resolved. Probably due to some load.

[2015-12-03 15:07] #2101 closed

[2015-12-03 15:31] chriskinsman opened #2102 "Need to be able to run after_success by branch"
I have a common project that as part of it's after_success it fires off seven curl calls to trigger builds that depend on it.

The problem is when using git-flow checking in a branch or sending a pull request triggers these downstream builds but they build master for each of those projects which is useless.

I want to be able to indicate the after_success action should only be triggererd when buil

[2015-12-03 19:58] manishas opened #2103 "st-ci initialization scripts do not work on DO droplet"
Repro -

- create new droplet on Digital Ocean
- For a subscription on st-ci plan, go to settings and add a node.
- Choose 'I will run initialization scripts myself', check swap, and generate scripts
- copy script to DO machine and run

I ran into multiple issues -
- first issue was that the script failed with /home/shippable not found
- i created that directory, then it failed with docker: unreco

[2015-12-03 19:58] manishas commented on #2103
Assigning to @rageshkrishna

[2015-12-03 20:02] manishas commented on #2102
@chriskinsman can you use the $BRANCH env variable to do this.... a few solutions are mentioned in https://github.com/Shippable/support/issues/456

Specifically if you don't want to trigger the downstream builds for pull requests as well, look at the last comment -

if [ "$BRANCH" == "master" -a "$PULL_REQUEST" == "false" ] ; then (trigger downstream builds)

[2015-12-03 20:13] manishas commented on #2100
@larsbrinkhoff we do not support C on Shippable today.

However, some folks have still run builds successfully by 'lying' about the language and saying ```language: python``` More on that [here](https://github.com/Shippable/support/issues/312), though looks like you participated in that thread.

Can you add a shippable.yml and just add the language tag and see if it works? If we find shippable.yml

[2015-12-03 20:35] manishas commented on #2096
Couple of questions...

- when was the last webhook build triggered for that project? i.e. when was the last commit detected correctly and a build triggered?
- are webhook builds working for your other projects/branches?

You can try force syncing the project or even your account and see if that helps.

[2015-12-03 22:23] chriskinsman commented on #2102
Thanks!

[2015-12-03 22:53] manishas commented on #2097
DUP of https://github.com/Shippable/support/issues/2020

[2015-12-03 22:53] #2097 closed

[2015-12-03 23:24] manishas commented on #2094
@fayazkhan we do not support building tags at this time. We're definitely considering adding this since we've had a couple of requests around this feature.

[2015-12-03 23:25] manishas commented on #2094
in the meantime, you can try running a manual build and that should work fine.

[2015-12-03 23:25] manishas commented on #2094
DUP of https://github.com/Shippable/support/issues/1362

[2015-12-03 23:25] #2094 closed

[2015-12-04 01:32] chriskinsman commented on #2102
Tried this:

- if [ "$BRANCH" == "master" -a "$PULL_REQUEST" == "false" ]; then curl -H "Authorization: apiToken $API_TOKEN" -H "Content-Type: application/json" -d "{\"projectId\":\"$psjobscriptsid\"}" https://api.shippable.com/workflow/triggerBuild; fi

and getting invalid yaml:

JS-YAML: bad indentation of a sequence entry at line 37, column 131:
     ... ken $API_TOKEN" -H "Content-Type: applic

[2015-12-04 01:41] trriplejay commented on #2102
try wrapping your entire first example in single quotes like this:
[code]

[2015-12-04 01:46] chriskinsman commented on #2102
That did it.  Thanks!

[2015-12-04 01:46] #2102 closed

[2015-12-04 04:48] avinci commented on #2031
I have added branch filtering to EBS deployment. As of now, default will be all branched will be deployed. In the deployment settings, you can pick a branch and once you pick, deployment will fire only for that branch. Let me know if this working for you folks.

[2015-12-04 04:49] avinci commented on #2089
yup, this going to be added very soon. We are cleaning up this setting and will make this available in the next couple of weeks.

[2015-12-04 04:51] avinci commented on #2088
This depends on how your networking in setup. If all your container instances can talk to each other, then by looking at host port and host IP information you can setup routes in the apps. If you run multiple replicas, then you will need a load balancer to accomplish this. If you don't want it public, you can use an internal load balancer to do it.

If you would like, I can jump on a hangout and t

[2015-12-04 04:52] #2080 closed

[2015-12-04 04:52] #2095 closed

[2015-12-04 04:53] #2060 closed

[2015-12-04 04:53] #2025 closed

[2015-12-04 05:54] larsbrinkhoff commented on #2100
@manishas Please consider supporting C.  Your images already have everything installed for compiling and running C programs.

If you just were to ignore `language: c`, it would work just fine.

[2015-12-04 06:05] pranaypareek opened #2104 "Show a success message when manually initialized nodes are deleted"
* Since delete logs won't be shown for manually initialized nodes, deleting it from the list of nodes shouldn't redirect to the page of the node.

* Instead, after delete confirmation, show a success message if the node is deleted successfully.

[2015-12-04 09:07] iivvoo commented on #2054
+1

[2015-12-04 11:28] rvdwijngaard opened #2105 "cannot queue in any build"
Hi,

I am not able to queue in any new builds since a few minutes. The build has status "triggered" but nothing happens.

For example: https://app.shippable.com/builds/566178dc6303cf0d00da4ceb

My last build is from 15 minutes ago.

Please help since this is blocking for me.

Kind Regards,
Ron

[2015-12-04 11:32] rageshkrishna commented on #2105
@rvdwijngaard I'm looking in to this right now. I will have a more detailed update in a few minutes.

[2015-12-04 11:33] rvdwijngaard commented on #2105
right, it seems that the build is running now; the build has been in the queue for quite a long time.

[2015-12-04 11:33] rvdwijngaard commented on #2105
current build is https://app.shippable.com/builds/566178dc6303cf0d00da4ceb but it seems to be very slow

[2015-12-04 11:46] lucidprogrammer opened #2106 "Build processing more than 2 hours!! Then timeout"
All other parts of the yml file succeeds. However, while running the script (velocity test-packages), it all stays there at the following step for more than 1 hour. (5661661c6303cf0d00d3e891 - project id)

velocity test-packages
[[[[[ Tests ]]]]]

=> Started proxy.
=> Started MongoDB.
lucidprogrammer:watson: updating npm dependencies -- watson-developer-cloud...

----------------------------------

[2015-12-04 11:58] bbrala commented on #237
@manishas Here we are again, 6 months after bitbucket implemented the webhooks for pull request. And still nothing. Can we get any news? Is this even considered? I'm really confused as to why there is so little communication and i guess progress on this issue.

[2015-12-04 12:25] JADurham909 commented on #2092
Getting this error today:

{"id":1004,"message":"No cluster found for :consumerId 565dd07de75ca00d009f04b8","methodName":"caller:56551cd85069e30f0090a740|passthrough|tasks|getSByServiceId:565dd0dd82697a0c00f8cbd6|_getSubscriptionCluster"}

[2015-12-04 13:04] rageshkrishna commented on #2103
This has been fixed and deployed.

[2015-12-04 13:04] #2103 closed

[2015-12-04 13:07] rageshkrishna commented on #2105
@rvdwijngaard Things are back to stable now. Please let me know if you're still seeing this.

[2015-12-04 14:05] avinci commented on #2091
this is a duplicate of this issue https://github.com/Shippable/support/issues/2031.

The other issue has been resolved and your workflow should be possible now. Let me know if you need any additional information.

[2015-12-04 14:05] #2091 closed

[2015-12-04 14:24] hranicka commented on #1543
Shippable, is any progress or plans for PHP 7 support? Thank you!

[2015-12-04 14:27] chriskinsman opened #2107 "What is the process for getting a nodejs 4.2.2 build running?"
Should I be using the https://github.com/dry-dock/u14nodpls image?

This looks to only have 4.0.0? If I want 4.2.2 should I be submitting a pull request?

Thanks!

[2015-12-04 14:53] JADurham909 commented on #2031
This is not working.  I just had a dev branch deploy to EB after configuring it for master.

[2015-12-04 14:54] avinci commented on #2031
let me look into it and get back to you.

[2015-12-04 14:55] JADurham909 commented on #2031
branches:
  only:
    - master
    - dev

And in the UI I selected master

[2015-12-04 15:40] fabiocarneiro opened #2108 "EBS fails to deploy to EU"
Upload files to S3

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/1375034/11593658/bc5825a8-9aa5-11e5-93ba-6ff5a34b1152.png)

This is managed by shippable "deployment", not by `after_success`

https://app.shippable.com/builds/5661b19755968e0d0039a85b

[2015-12-04 15:46] bonesmccoy commented on #2099
@manishas many thanks!

[2015-12-04 15:59] fabiocarneiro commented on #2031
https://github.com/Shippable/support/issues/2108

[2015-12-07 17:58] manishas commented on #2107
@chriskinsman we're in the process of refreshing all build images and I'll make sure we include node 4.2.2. I expect this to be available later this week or early next week.

If you need this right away, you can include a Dockerfile at the root of your repo with a FROM statement pulling from drydock/u14nodpls:prod and add install for node 4.2.2 in the Dockerfile. Set up your project to do a pre-CI

[2015-12-08 01:17] DavidGDragon commented on #2037
beta verified www 3384

[2015-12-08 03:51] avinci commented on #2031
@JADurham909 there was a bug and I have deployed the fix. This is working as expected. Let me know if you have any issues

[2015-12-08 03:52] avinci commented on #2108
@fabiocarneiro I am not sure why this happening to your build. Can you try again with the new fix we did for #2031

[2015-12-08 06:02] manishas commented on #2096
@czardoz i am closing this issue but if you are still running into this please let us know and we'll take a look.

[2015-12-08 06:02] #2096 closed

[2015-12-08 06:05] manishas commented on #2087
@mschneider sorry for the delay in follow up. are you still running into this?

[2015-12-08 06:40] pranaypareek commented on #2104
This was done as part of https://github.com/Shippable/www/pull/2726.

[2015-12-08 06:40] #2104 closed

[2015-12-08 08:46] vidyar opened #2109 "Edit button is not working in account integrations page"
`Edit` button is not responding after clicking on any existing integrations in account integrations page

[2015-12-08 09:07] andrehofman opened #2110 "Remove project from shippable"
Hello,

I can't seem to find how to remove a project from the shippable configuration.
I removed the webhooks from the bitbucket configuration because I wanted it to stop building the project and couldn't find the remove button.

Please help as I have a useless project in the interface now ;-(

Regards, Andre

[2015-12-08 09:11] kanthchandra commented on #2110
Hi @andrehofman, please navigate to that particular project's page and click on the settings tab (top right corner) and you should find the delete at the end of the settings page.

[2015-12-08 09:13] andrehofman commented on #2110
Awesome, overlooked that settings page entirely!

Thanks a lot kanthchandra!

[2015-12-08 09:13] #2110 closed

[2015-12-08 10:08] mschneider commented on #2087
Yes, we worked around it by manually installing and launching mysql-server.

[2015-12-08 10:14] fabiocarneiro commented on #2108
https://app.shippable.com/builds/5666a9f5c7f9be0c0030eaea

@avinci I don't think it is related. I moved the deployment amazon account and also region. It was working on the previous region and maybe you're not supporting eu-central-1.

[2015-12-08 11:06] tomsterritt opened #2111 "Builds not doing anything"
Builds for one of our projects seem to have just stopped running anything?

It does the "pulling image from hub" stage and then skips straight to "save reports" and "purging build container" and fails - e.g. 5666b927c7f9be0c00358e3b

[2015-12-08 11:38] pranaypareek commented on #2099
@bonesmccoy we tried to reproduce this behaviour but haven't observed this happening with other BitBucket accounts. So we think this might be a stand-alone case related to your account. At the moment, it isn't be possible for us to investigate this issue independently.

Would you be able join a Hangout call this week so that we can investigate what's going wrong with your login flow?

[2015-12-08 11:39] rageshkrishna commented on #2111
@tomsterritt I'm starting to look in to this now.

[2015-12-08 11:57] rageshkrishna commented on #2111
@tomsterritt Our internal logs seem to indicate some sort of bash syntax error in the build script. Did you make any changes to your environment variables or any of the commands in your YML file that might have triggered this?

[2015-12-08 12:00] #2105 closed

[2015-12-08 12:39] tomsterritt commented on #2111
Ah I put $ on all my secure vars, oops. Thanks.

[2015-12-08 12:39] #2111 closed

[2015-12-08 12:42] ashernevins commented on #2074
This issue is happening again for some of my images. It's a real problem to not have reliability with a service like this. Are we any closer to a diagnosis or fix?

[2015-12-08 16:17] avinci commented on #2111
@rageshkrishna why is this going into console? We should push all user related errors into console. Can we get this in as a fix

[2015-12-08 16:36] manishas commented on #2111
@avinci we have an open issue https://github.com/Shippable/support/issues/2079 and pranay investigated yesterday. Will forward his notes to you.

[2015-12-08 17:48] DavidGDragon commented on #2037
production verified www 3387

[2015-12-08 17:48] #2037 closed

[2015-12-08 19:18] avinci commented on #2108
updating issue title. I will write the sample to push to EU and see how it works

[2015-12-08 19:50] melwas commented on #2054
+1

[2015-12-08 21:40] chriskinsman commented on #2107
@manishas  Tried that.

Build: https://app.shippable.com/builds/5667470593c4370d0004916f

As it sits now it finishes my build and then just hangs there.  I never see the image pushed to hub.docker.com nor is there any status in console...

[2015-12-08 23:03] chriskinsman opened #2112 "Unable to change image to pull from in project settings"
Get this message:

{"id":1004,"message":"Invalid namespace name","methodName":"|common|validateDockerImageName"}

I am attempting to set it to an image on hub.docker.com

Tried:

pushspring/u14nodpls:prod

and

https://hub.docker.com/pushspring/u14nodpls:prod

[2015-12-08 23:05] #2062 closed

[2015-12-08 23:06] #887 closed

[2015-12-09 09:26] fabiocarneiro opened #2113 "Inconsistent build times"
I've noticed that the build times are very inconsistent. Yesterday I had 11 PR builds, with absolutely no changes in configuration and they ranged from 4 to 19 minutes.

I would like to know why this happens. My guess is that you are using instances of different types to run those builds or not reserving resources to a specific build, and then when the instance load differs you have different perf

[2015-12-09 10:14] Achse opened #2114 "Docker & --privileged --cap-add SYS_ADMIN (because of mount tmpfs)"
Hi,

I would like to ask you how do you run docker image. I am trying to run tests with MySQL in `tmpfs` and because of it I probabbly need to run it with `--privileged --cap-add SYS_ADMIN`. Is it somehow possible?

Thanks for info,

Have a nice day,
Petr

[2015-12-09 15:04] gielwijgergangs commented on #1543
+1

[2015-12-09 15:54] chriskinsman commented on #2112
@manishas Any ideas?

[2015-12-09 18:09] chriskinsman commented on #2113
I have noticed this also.  My guess is that as the day progresses their kubernetes cluster is running more minions per host thereby decreasing performance.

[2015-12-09 20:36] manishas commented on #2112
Looking into this...

[2015-12-09 21:09] manishas commented on #2112
do you get this while entering the above in project settings and clicking on save?

[2015-12-09 21:10] chriskinsman commented on #2112
Yes

[2015-12-09 21:12] manishas commented on #2112
weird. i tried it on a different project and it worked. Can you let me know what project you're seeing this for?

[2015-12-09 21:13] chriskinsman commented on #2112
https://app.shippable.com/projects/54a34a85d46935d5fbc137b2

[2015-12-09 21:14] manishas commented on #2112
can i try changing it for your project?

[2015-12-09 21:14] manishas commented on #2112
one thing i noticed- your image seems to be private in which case you'd need to add a hub integration

[2015-12-09 21:15] chriskinsman commented on #2112
Please.  We are going to be changing all of our projects to this one.

[2015-12-09 21:15] chriskinsman commented on #2112
I have a hub integration listed on that settings page.

[2015-12-09 21:16] manishas commented on #2112
yeah i get the same error. ok, following up....

[2015-12-09 21:17] chriskinsman commented on #2112
Also the hub.docker.com image is public...

On Wed, Dec 9, 2015 at 1:16 PM, Manisha <notifications@github.com> wrote:

[2015-12-09 21:19] manishas commented on #2112
i get a page not found even for pushspring...https://hub.docker.com/pushspring/

[2015-12-09 21:25] fabiocarneiro commented on #2113
@chriskinsman Yes, this is what I meant.

[2015-12-09 21:28] manishas commented on #2112
ok we found the issue. you had earlier turned on push build and that image name had invalid characters. When you turned push build off, we didn't clear this image name and this was actually calling the failure while saving. It should work now.

For any other projects with this problem, you can -
- turn push build on
- clear the image name
- turn push build off again
- specify other settings
- save

[2015-12-09 21:29] manishas commented on #2113
looking into this... we didn't find any hosts running near capacity, but will dig in deeper and add more if needed.

[2015-12-09 21:35] manishas commented on #2113
@fabiocarneiro one solution if you do not want to depend on multi-tenant minions is to switch to our single tenant ci plan. you should see it as an option on your billing page plan dropdown.

With this, you can attach any DIgital Ocean or EC2 machine to your subscription and only your builds will run on that machine(s). We still limit number of parallel builds so a huge advantage of this approach

[2015-12-09 21:38] manishas commented on #2114
As of now, docker containers do not run in privileged mode on our platform.

However, your request is on our roadmap for the Single Tenant CI plan and we should have this done fairly soon.

[2015-12-09 21:40] manishas commented on #2112
@DavidGDragon we should fix this.

When someone has push build turned on and later they turn it off without clearing image name, we should clear the image name while saving settings.

[2015-12-09 21:53] bryanvaz commented on #2028
We just encountered this issue. A few suggestions for the next release:

1. Have an option to just pull the default image down from shippable (shippable/minv2) if the build is not based on a docker image. I had to go dig this out of the first build I accidentally ran without configuring anything.
2. Confine the Trash button functionality (icon after the cache container section) to only delete the

[2015-12-09 21:57] manishas commented on #2028
@bryanvaz thanks for the great suggestions!

By default, we do pull minv2 if nothing is specified in the settings. Not sure why this didn't work for you... it'll be great if you delete the settings and try running another build and let us know if it doesn't work.

Second one looks like a bug. We'll test this out and fix.

Third one is already an open issue while we're reworking the UI and will be

[2015-12-09 22:48] bryanvaz commented on #2028
@manishas With reference to 1. the "bug"/"feature" is that if you turn on image caching you HAVE to specify an image name, even if you've specified to not pull an image. What we essentially wanted was fast builds, but we don't want to have to maintain a docker image. In an ideal world, I would select "default shippable" for the image since I am not pulling a custom docker image, then select cachin

[2015-12-10 00:06] DavidGDragon commented on #2109
beta verified www 3456

[2015-12-10 06:24] paulgrimes1 opened #2115 "PHP 5.6: getenv() not working"
I understand this has been opened perhaps a couple of times before; env variables are not being passed to the PHP application that's being loaded into the environment. It's a laravel 5.1 app. I've tried with laravel's env() function (which is just getenv() with a default) and PHP getenv(). Neither work; the application always reverts to defaults.

The attached anonymized YML (as txt) references an

[2015-12-10 06:35] rageshkrishna commented on #2115
@paulgrimes1 Can you send me a project or build id that I can look at? Thanks.

[2015-12-10 06:47] pbosko commented on #1340
We have fixed this one. It was a bug on our side. Sorry for bothering.

[2015-12-10 07:04] pbosko opened #2116 "Big number of random timeouts - again"
Hello,

We are experiencing the same thing we had in issue #1977. In last couple of days we had a lot of builds that timeout, although our builds usually take around 30 minutes.

Here is a list of our builds that had timeout in last few days:
https://app.shippable.com/builds/5666cd1793c4370d00e35217
https://app.shippable.com/builds/5666d939c77cdd0d00929a02
https://app.shippable.com/builds/5666d95a

[2015-12-10 11:14] fabiocarneiro commented on #2113
@manishas why do you limit the number of parallel builds on single tenant CI? Just because you have no other way to charge? Its kinda strange to pay for minions and also pay amazon for the ec2.

Btw, the problem is not the memory limit, but the build times being inconsistent.

[2015-12-10 14:43] #2112 closed

[2015-12-10 14:45] chriskinsman commented on #2107
Got this working but have found with my image the node_js tag in shippable.yml is being ignored.

I did an nvm alias default 4.2.2 and specified it as part of the node_js: 4.2.2 element.  A node --version still shows 0.10.37 as the default.  Thoughts?

[2015-12-10 15:52] mgladdish opened #2117 "Receiving email build alerts for no good reason"
A few days back I started receiving build notifications via email for all my projects on Shippable. This is new - I didn't get these alerts previously.

None of my `shippable.yml`s have email notifications turned on, and none of the build UIs do either. (I prefer to get notifications into a dedicated slack channel instead).

1) Why did I suddenly start getting these emails
2) How can I turn them o

[2015-12-10 15:55] mgladdish opened #2118 "Bitbucket triggers broken?"
Yet again over the past few days Shippable has been missing pushes to bitbucket. Some projects will trigger, others will sit for days without noticing that anything's changed (all the while there are several changes per day to the repo).

Still there's no clue as to whether the integration hooks are working or whether there's a problem, regardless of at whose end the problem lies. It's guesswork a

[2015-12-10 16:31] fabiocarneiro commented on #2108
@avinci 2 days already. Please.

[2015-12-10 18:49] chriskinsman opened #2119 "Caching after switching to custom docker image"
We switched to a custom docker image with node 4.2.2.

We turned off caching and set our docker image.

Several builds completed.

We went back in and turned caching back on.

It is now grabbing the cached standard image instead of our standard one.

Do we have to do the checking with [cache reset] trick?

[2015-12-10 19:32] marinsicavirdol opened #2120 "Docker build failed"
This is my [build](https://app.shippable.com/builds/5669c97434eda80d0018ea8b)

And this is my shippable.yml:
[code]

My postinstall script is defined in package.json:
[code]
This script compiles my coffee and sass files and puts the new files into a /build folder. In my Dockerfile I have a command: COPY build/ /app/public . The problem is that the build folder is not found.

What can be the proble

[2015-12-10 20:06] kepkin commented on #2118
Same here. Our project 5645fd5d1895ca4474237436 misses last build.

[2015-12-10 20:14] manishas commented on #2118
@a-murphy can we take a look at this asap?

[2015-12-10 20:19] wmhilton commented on #2099
I'm seeing this too now. :-( Logging in with BitBucket fails - worked yesterday but not today.

![screenshot_7](https://cloud.githubusercontent.com/assets/587740/11727361/673c8414-9f51-11e5-92c3-2c866f3a73a1.png)

[2015-12-10 21:03] DavidGDragon commented on #2109
prod verified 3387

[2015-12-10 21:03] #2109 closed

[2015-12-10 21:46] paulgrimes1 commented on #2115
@rageshkrishna Hi - project ID 55d666c41895ca44740ea949, the latest build attempts each try various env var output debugging.

The portion of the console output to look at is for the script item `vendor/bin/behat features/API_html.feature` - there's debug output there that says `{"error":{"code":900,"http_code":401,"message":"Auth param missing. Cannot Authenticate. HMAC is enforced::  - App env:

[2015-12-11 04:00] kanthchandra commented on #2117
Hi @mgladdish recently we upgraded our notification system and I think this may be a side effect of this. in order to debug this further can you please provide us the following details.

1. The shippable.yml notification config (if there is any)
2. Can you also please forward email which you received?

You can send the details to chandrakanth@shippable.com

[2015-12-11 07:17] kanthchandra commented on #2118
Hi @mgladdish , Can you please send the projectId which is not picking up webhooks? We are not able to reproduce this behaviour on our end.

@mgladdish @kepkin It would also help if you could take a screenshot of the webhooks requests for that project and post it here. You can find the page by clicking on the settings option on bitbucket ui and then clicking on webhooks and then selecting the requ

[2015-12-11 07:28] rageshkrishna commented on #2099
@wmhilton @bonesmccoy We found a bug with the way integrations were being managed that was causing an issue during the login flow. This has been resolved now. Please try logging in once again and let us know if you see any issues. Thanks!

[2015-12-11 10:05] mgladdish commented on #2117
Hi,

Here’s a shippable.yml

branches:
  only:
    - master

language: scala

scala:
    - 2.11.7

jdk:
   - oraclejdk8

services:
	- mysql

before_install:
  - shippable_retry sbt update

before_script:
   - mysql -u root -e "create database if not exists deployertest; grant all privileges on deployertest.* to 'deployertest'@'localhost' identified by 'deployertest'; flush privileges;"

script:

[2015-12-11 10:43] kanthchandra commented on #2117
Hi @mgladdish ,

I'm able to see you shippable.yml but for some reason I'm not able to see any emails from you.

[2015-12-11 11:23] kepkin commented on #2118
@kanthchandra It looks like bitbucket missed one push. I couldn't find a corresponding push for missed build.

[2015-12-11 11:35] kanthchandra commented on #2118
@kepkin We tried to reproduce this on our end and we kept an eye on the commits and the Shippable Webhook logs on Bitbucket UI and also the builds triggered on Shippable. We found that for some commits (like 1 in 10 or so) bitbucket dint push a webhook to us and there was no corresponding entry for that commit in the Shippable webhook request logs on their UI.

So we suspect that the problem might

[2015-12-11 11:59] bonesmccoy commented on #2099
@rageshkrishna thanks a lot, now it works!
@pranaypareek  sorry I didn't see your message about the hangouts.

thanks to everyone!

[2015-12-11 12:00] mbrodala commented on #2086
Could it be that the "intl" module is now available by default? We are seeing a flood of the following messages on current builds:

[2015-12-11 12:02] rageshkrishna commented on #2099
@bonesmccoy Happy to help!

@wmhilton This should be resolved now for you, too, so I'm going to go ahead and close the issue. Feel free to open another one if you're still seeing this. Thanks!

[2015-12-11 12:02] #2099 closed

[2015-12-11 12:07] mbrodala commented on #2086
Nope, the extension is still missing (just tried a build without the three lines mentioned above and it failed.).

[2015-12-11 13:38] Achse commented on #2114
Thanks for information. Really looking forward to it, because our build is really slow and with database in `tmpfs` it runs 7.5x faster on my machine.

[2015-12-11 17:40] jamesmk opened #2121 "Multiple platforms on one account"
We are paying for 5 containers linked to our Bitbucket account (https://app.shippable.com/subscriptions/540f392a586ac5d7e36513c3), but we also have a couple projects on a GitHub account (https://app.shippable.com/subscriptions/546a8c11d46935d5fbbddbed). Is there a way to combine those subscriptions?

thanks

[2015-12-11 18:51] #1705 closed

[2015-12-11 19:08] abhijitkini commented on #2121
@jamesmk Want to make sure we got your question right. You want to combine bitbucket/wearefine & github/wearefine subscriptions?

[2015-12-11 19:20] sleverbor opened #2122 "matrix values with pre-ci docker build"
I am trying to use the docker build pre-ci flow.  I have a simple Dockerfile file that creates an image with the os I want.  I have a shippable.yml like this:

language: ruby
rvm:
      - 2.2.2
      - 2.2.3

before_script:
  - bundle install
  - bundle exec rake db:create db:schema:load

script:
  - xvfb-run -a -s "-screen 0 1920x1080x24" bundle exec rake

after_success:
  - bin/slack notify buil

[2015-12-11 19:21] abhijitkini commented on #2121
Pricing plans are per subscriptions. The minions you have in the BitBucket subscription can be used for building repositories in that subscription only.

[2015-12-11 19:33] jamesmk commented on #2121
@abhijitkini ok, thank you

[2015-12-11 19:33] #2121 closed

[2015-12-11 22:31] chriskinsman commented on #2107
@manishas

[2015-12-11 22:35] jamesmk opened #2123 "no active subscription"
I tried to up https://app.shippable.com/subscriptions/546a8c11d46935d5fbbddbed to 2 containers and saw an error message after adding a saved credit card. Now the billing page won't load at all and if I try to build a project I get:

[code]

[2015-12-11 22:59] trriplejay commented on #2123
Hello,

Sorry about that.  It looks like there was an issue processing the card that you tried to use.  Can you double check that it is valid? I'm also opening an internal issue for this since we don't seem to be handling this situation very well.

For now, I've restored the free plan to your subscription.

[2015-12-11 23:42] jamesmk commented on #2123
Thanks for restoring the account.

[2015-12-11 23:42] #2123 closed

[2015-12-13 13:20] tudvari opened #2124 "Integration API access?"
Hi guys,

I would like to ask, have you a API for the Integration configuration? It would be nice, when I can set up my Docker registry settings remotely.

Thanks in advance.

Regards,
Tibor

[2015-12-14 03:53] wmhilton commented on #2099
Awesome, works again!

[2015-12-14 21:55] goosetav commented on #1901
this is working for me:
[code]

[2015-12-14 22:16] chriskinsman commented on #2119
Anyone?

[2015-12-14 22:17] chriskinsman commented on #2107
Anyone?

[2015-12-14 22:26] manishas commented on #2107
sorry for the delay! i'll ask someone to take a look at this asap.

[2015-12-14 22:30] manishas commented on #2107
can you share your yml file? Did you include this in your yml -

[code]

[2015-12-14 22:34] chriskinsman opened #2125 "Layer already being pulled by another client"
We frequently see our builds blocked on this message:

prod: Pulling from pushspring/u14nodpls
28502fae2b3c: Pulling fs layer
e463550e184d: Pulling fs layer
d9161c543ba5: Pulling fs layer
ed81929a20cb: Pulling fs layer
0273d588f6b9: Pulling fs layer
0273d588f6b9: Pulling fs layer
0273d588f6b9: Layer already being pulled by another client. Waiting.
e463550e184d: Verifying Checksum
e463550e184d: Dow

[2015-12-14 22:37] manishas commented on #2119
yes, you should reset your cache one time by going to project settings and clicking on 'Clear cache'. [reset minion] in a commit message will work as well.

Then try again. As always, it will take a few builds for the cached image to propagate to all build hosts.

[2015-12-15 01:04] calasyr opened #2126 "Can't login in with Bitbucket. And when I was logged in, could not see my company's projects, just my own."
Bitbucket has been displaying this message: "We're changing our IP addresses on 15 December 2015 at 00:00 UTC. Please make sure your firewalls are up to date."

The time mentioned was only an hour ago.

[2015-12-15 01:06] manishas commented on #2126
thanks for reporting. i also get an error while signing in.... @trriplejay we need to look into this asap.

failed to fetch user profile
   at /home/shippable/www/node_modules/passport-bitbucket/lib/passport-bitbucket/strategy.js:74:28
   at passBackControl (/home/shippable/www/node_modules/passport-bitbucket/node_modules/passport-oauth/node_modules/oauth/lib/oauth.js:397:13)
   at IncomingMessage

[2015-12-15 01:20] calasyr commented on #2126
Thanks!

[2015-12-15 01:28] calasyr commented on #2126
maybe reloading or restarting the DNS server you're using might help.  Maybe run nslookup on bitbucket.org

[2015-12-15 01:57] xun91 opened #2127 "Failed to fetch user profile"
Receive an error saying. Then I tried to delete the integration from shippable and add the new integration again. but I'm still getting this error.

[code]

[2015-12-15 02:09] archeons opened #2128 "Bitbucket integration error, unable to login or push"
Hi, I am experiencing this error below:

failed to fetch user profile
   at /home/shippable/www/node_modules/passport-bitbucket/lib/passport-bitbucket/strategy.js:74:28
   at passBackControl (/home/shippable/www/node_modules/passport-bitbucket/node_modules/passport-oauth/node_modules/oauth/lib/oauth.js:397:13)
   at IncomingMessage.<anonymous> (/home/shippable/www/node_modules/passport-bitbucket/n

[2015-12-15 02:50] manishas commented on #2126
Something has definitely changed on bitbucket's end and several APi calls are failing for us. We're investigating this and in the meantime, we'll deploy a fix soon that should unblock builds.

Please stay tuned for more updates as we get more information.

[2015-12-15 02:55] manishas commented on #2127
please follow the issue https://github.com/Shippable/support/issues/2126 for updates. we're actively looking into this since something seems to have changed on the bitbucket end and some calls to their API is failing unexpectedly.

[2015-12-15 02:55] #2127 closed

[2015-12-15 02:56] manishas commented on #2128
We're actively looking into this since something seems to have changed on the bitbucket end and some calls to their API is failing unexpectedly. Shippable is not down but our integration with bitbucket is experiencing issues at the moment.

please follow the issue #2126 for updates.

[2015-12-15 02:56] #2128 closed

[2015-12-15 03:18] trriplejay commented on #2126
We've opened a support ticket with bitbucket.  It seems likely that it's related to the IP address change, however it doesn't seem to be simply a matter of updating our own DNS lookup.

Basically, there is a specific bitbucket API route that our passport module is using to fetch a user profile, and that particular call is failing when done via oauth. (I can manually make the exact call to the exac

[2015-12-15 03:42] chriskinsman commented on #2107
Initially now.  I thought:

[code]

Would work

[2015-12-15 04:02] calasyr commented on #2126
Thanks.  Hopefully it will be resolved soon.

[2015-12-15 04:03] trriplejay commented on #2126
Actually it does look like the problem is resolved now.  Let me know if you're still having trouble.

[2015-12-15 04:07] calasyr commented on #2126
Yeah, looks like I can only see my own builds still and not my company's.

[2015-12-15 04:09] trriplejay commented on #2126
try doing a 'sync' from the account settings page.

[2015-12-15 04:12] calasyr commented on #2126
That did it, thanks.  Can see them all now.

I imagine bitbucket users will need to be informed of the need to do that.

[2015-12-15 04:18] calasyr commented on #2126
The plus icon for adding a new project is missing.

[2015-12-15 04:30] manishas commented on #2126
Please look for an 'Enable project' button. We are revamping the UI with a new style.

[2015-12-15 04:38] pquentin commented on #2126
The relevant URL is https://app.shippable.com/accountSettings. Click "Sync" on this page.

@manishas, @trriplejay: thanks for the quick fix, but this sould be done automatically!

[2015-12-15 04:38] calasyr commented on #2126
Yes, I found it, thanks.

[2015-12-15 04:40] calasyr commented on #2126
Yes, pquentin.  That makes sense.  Better that most users aren't bothered.

And, most likely, that is Shippable's plan.  They just wanted us to get our issue resolved more quickly.

[2015-12-15 06:39] manishas commented on #2124
@rageshkrishna can you answer this?

[2015-12-15 08:15] rageshkrishna commented on #2115
I don't know much about PHP, and pretty much nothing about Laravel but here's what I've figured out from some research:

It looks like Laravel's `env` helper gets values from `$_ENV`. http://stackoverflow.com/a/27077452 tells me that `$_ENV` will not be populated unless php.ini allows it. I checked against the defaults and it looks like it will not get anything from the environment. Here's what's

[2015-12-15 09:39] fabiocarneiro commented on #2108
@manishas @avinci. 1 week without deployment. Please investigate it.

[2015-12-15 12:01] lucmig opened #2129 "Bitbucket pushes not triggering builds"
Hi,

Last night 15th Dec, could not log into shippable using bitbucket, this morning I can again but it does not pick up any pushes to the repo. I have tried resetting the webhook.

[2015-12-15 12:17] kanthchandra commented on #2129
Hi @lucmig, It looks like we are not receiving any Bitbucket webhook payloads.

You can take a look at all the webhooks that were delivered to us on the Bitbucket UI by clicking on Settings -> Webhooks -> and then click on View Requests for webhooks with the title `Shippable_Webhooks`.

[2015-12-15 15:18] fabiocarneiro commented on #2020
Please, high priority on this. I have PR builds taking 30 minutes+ just because of container builds that are
useless. This is impacting productivity.

[2015-12-15 18:43] kkarski opened #2130 "Env entry kills script processing"
Please look at builds

https://app.shippable.com/builds/56705dd3f5d42b0d00727eeb

vs

https://app.shippable.com/builds/56705e259664d10e00bd5994

The only difference between the two is the presence of an env section in the yml file. However, in the first case, proper script processing is broken while in the second everything works fine when the env section is removed.

[2015-12-15 19:01] trriplejay commented on #2130
looks like your environment variable names are not valid bash variable names.  The `.` is likely causing the build script to exit before it has a chance to take any actions.

We should be handling this situation better, but in the meantime, I'd suggest trying again with different variable names, perhaps using `_` instead of `.`

[2015-12-15 19:29] #2126 closed

[2015-12-16 01:14] avinci commented on #2122
the problem is when you use a preCI docker build, we are not setting any `rvm` settings. if you add this to your before script. it should work.

`$SHIPPABLE_RUBY` will contain your version when the script runs.

you add this to before script
[code]

[2015-12-16 03:19] avinci commented on #2108
I have fixed this and tested it. I am going to be deploying this to prod in the next 20 mins and you should be able to test this.

[2015-12-16 03:30] avinci commented on #2108
production has been updated and you should be able to push to EU now

[2015-12-16 03:37] avinci commented on #2120
are you doing a POST Docker Build?

[2015-12-16 03:37] #2119 closed

[2015-12-16 03:38] avinci commented on #2118
resolving as there is no action on our side as its the source thats being flaky. Please reopen if otherwise.

[2015-12-16 03:38] #2118 closed

[2015-12-16 03:39] avinci commented on #2116
@ric03uec can you take a look at this.

[2015-12-16 03:41] avinci commented on #2125
this is docker doing it. Docker is single threaded in a lot of cases and this is its normal behavior. There is nothing that can be done at this time.

One thing we do is reduce the layers by flattening if, if your don't need it. This will reduce it but not avoid it

[2015-12-16 03:41] #2125 closed

[2015-12-16 03:41] #2129 closed

[2015-12-16 03:42] avinci commented on #2106
@ric03uec can you take a look at this

[2015-12-16 03:43] avinci commented on #2092
@JADurham909 we are completely reworking this piece. I will get back to you once its up and running.

[2015-12-16 03:44] #2088 closed

[2015-12-16 03:44] #2107 closed

[2015-12-16 04:13] avinci commented on #2089
We have deployed this into production. We are not going to be supporting CPU in the short term as there is no deterministic way to do this. But memory has been implement. I am happy to discuss more around CPU if you would like to.

[2015-12-16 04:13] #2089 closed

[2015-12-16 04:14] #2031 closed

[2015-12-16 04:15] avinci commented on #2020
@fabiocarneiro i just coded, tested and deployed this to production. We will not be doing POST Dockerbuild for a PR build anymore. Please let me know if you face any issues

[2015-12-16 04:15] #2020 closed

[2015-12-16 04:16] #1928 closed

[2015-12-16 04:16] avinci commented on #2014
the original issue has been resolved. hence closing this.

[2015-12-16 04:16] #2014 closed

[2015-12-16 04:17] avinci commented on #2007
this has been implemented and pushed to prod

[2015-12-16 04:17] #2007 closed

[2015-12-16 04:19] avinci commented on #1953
We just implemented this allowing a single branch deploy. We cannot make this dynamic at this point as it required tons of metadata to be transferred as EBS deploy of a container has to be done outside the build container.

The right way to do it is use our deploy functionality that we launched recently. Let me know if that works.

[2015-12-16 04:20] avinci commented on #1911
I don't think this should be happening anymore. Please let us know if it is still happening. closing it as we have not seen this on our side anymore

[2015-12-16 04:20] #1911 closed

[2015-12-16 04:24] avinci commented on #1966
you cannot change EBS environment in the YML as the EBS push is occurring outside the build container. We are going to be making a few changes very soon and you should be able to do this. But for now its not possible.

We have a new product called Deploy with which you can do these sorts of things very easily and its meant to manage Docker containers. Let me know if you want more info around that

[2015-12-16 04:28] avinci commented on #2071
Sorry for the delayed response. I want to understand the scenario a bit more. I understand most it except the last part which was in parenthesis. Can you elaborate that a bit more?

[2015-12-16 04:28] #2070 closed

[2015-12-16 04:29] avinci commented on #2067
@kanthchandra this should be part of nf refactor

[2015-12-16 04:30] #2087 closed

[2015-12-16 04:31] avinci commented on #2074
@ric03uec we should look into upgrading all the stuff on our build runners. can we do this soon?

[2015-12-16 04:46] #1155 closed

[2015-12-16 04:46] #1277 closed

[2015-12-16 04:47] avinci commented on #1746
we have improved quite a bit on this. Can you let us know if this is still happening?

[2015-12-16 04:48] avinci commented on #1743
can you let us know this is still happening....

[2015-12-16 04:49] #1720 closed

[2015-12-16 04:50] avinci commented on #1720
we have moved away from managing our own formations. We are piggy backing on all the container services out there. let us know if this is of interest to you

[2015-12-16 04:50] avinci commented on #1691
We just are going to be announcing this early next year. Let us know if you would like preview access.

[2015-12-16 04:51] #1691 closed

[2015-12-16 04:52] avinci commented on #1667
I am not sue why PRE CI Dockerbuild not work for this scenario? This seems awfully similar to what like PRECI build does today

[2015-12-16 04:54] avinci commented on #2071
I think i got it after spending sometime thinking about it. So what you need to don't finish until the prior one is finished...correct?

[2015-12-16 04:55] avinci commented on #1652
@DavidGDragon can you look into this...

[2015-12-16 04:56] avinci commented on #1653
can your try `shippable_retry` command so that youdont get affected by network glitches?

[2015-12-16 04:56] #1653 closed

[2015-12-16 04:57] #1743 closed

[2015-12-16 04:57] paulgrimes1 commented on #2115
Hi @rageshkrishna,

Thanks for looking into this - great advice there on the `GPCS` setting - I was unaware of it to date. No joy unfortunately just yet. After a bit more digging I'm finding that env vars are actually being loaded OK in a different part of the application, which is strange.

I'm thinking this might something to do with the environment variables not being loaded when the PHAR (http

[2015-12-16 04:57] #2108 closed

[2015-12-16 04:58] #1953 closed

[2015-12-16 04:58] #1783 closed

[2015-12-16 04:59] avinci commented on #1825
is this still happening? just want to make sure as I remember folks fixing this. If its happening please reopen.

[2015-12-16 04:59] #1825 closed

[2015-12-16 05:00] avinci commented on #1823
we are doing this now. Please let us know if not so.. also invalid creds are also shown in the console now.

[2015-12-16 05:00] #1823 closed

[2015-12-16 05:01] #1828 closed

[2015-12-16 05:02] #1564 closed

[2015-12-16 05:03] avinci commented on #1590
i think this should be fixed. It happens during Sync and we have cleaned that code up.

[2015-12-16 05:03] #1590 closed

[2015-12-16 05:04] avinci commented on #1534
we have reduced the calls massively to github. is this still occurring?

[2015-12-16 05:04] #1534 closed

[2015-12-16 05:05] avinci commented on #1508
we have changed our processing quite a bit. Please let us know if you still seeing issues. closing this to make sure we are addressing the valid ones.

[2015-12-16 05:05] #1508 closed

[2015-12-16 05:06] goosetav commented on #2113
hi @manishas also seeing this problem right now on one of our builds. Looks almost like a bandwidth issue... we're running a matrix build with 2 combos. installing ruby 2.1.6 is taking wildly different times for the 2 legs of the matrix:

matrix 1: https://gist.github.com/goosetav/3f28407bb29089a54313 -- download is still running (over 15 minutes)
matrix 2: https://gist.github.com/goosetav/383e9cf

[2015-12-16 08:02] Varsha-Arun opened #2131 "Force sync button is not displayed when there are no projects in enable project page"
Steps to reproduce:
- Enable all projects under a subscription
- Fork new project from bitbucket/github
- Click on enable projects. It will display ``No projects are available to be enabled``. Search and Force sync buttons are missing.
![selection_037](https://cloud.githubusercontent.com/assets/15084465/11833005/71dc7d88-a3e4-11e5-9b48-0979b4404cc0.png)

[2015-12-16 08:47] LuisMuniz commented on #1825
Yes, this still happpened last sunday

https://app.shippable.com/builds/566d926fe9a7dc0c00c7f254

[2015-12-16 08:48] LuisMuniz commented on #1825
I don't know how to reopen the issue. there is no obvious button in the interface to do that.

[2015-12-16 08:55] rageshkrishna opened #2132 "Pre-CI docker builds in PRs are failing"
Builds are failing either trying to pull an wrong image, or complaining about incorrect source location from project settings. Neither of these steps should be happening in a pre-CI docker build scenario.

[2015-12-16 09:32] pquentin commented on #1590
@avinci Yes, it got fixed at some point. Thanks for cleaning things up!

[2015-12-16 09:35] fabiocarneiro commented on #2113
@goosetav Yes, I got the same conclusion. It really seems to be bandwith issue.

[2015-12-16 11:11] hranicka commented on #2054
Shippable, any progress on the issue?

Until Shippable will support BitBucket Build API, I will use simple proxy service: https://bitbucket.org/hranicka/build-status/overview

[2015-12-16 11:19] werdlerk opened #2133 "Restore Bitbucket webhook in repository"
Hello,

I've accidently removed the Bitbucket webhook in the Bitbucket repository and would like to have it restored. I don't know how to do this.

I've already tried removing the project from Shippable to recreate the webhook but I get the following error when I try to delete the project:
[code]

Can you inform me how to restore the Bitbucket integration and get Shippable running again?

Thanks!

[2015-12-16 11:38] rageshkrishna commented on #2133
Hi @werdlerk. The permission error should go away if you head over to your [account settings page](https://app.shippable.com/accountSettings) and click on the "Sync" button.

Once that is done you should be able to fix the webhook issue by going to the Settings tab on your project page and clicking on the "Reset" button near the bottom of the page. This will recreate the webhook and generate new d

[2015-12-16 11:46] shamasis commented on #2054
+1

[2015-12-16 12:24] rogierslag commented on #2071
Right. For eg a master branch, which will publish a release: it should queue those builds to perform them in sequence instead of parallel. That way the produced releases are at least deterministic and not influenced by build server loads

[2015-12-16 12:37] werdlerk commented on #2133
Hello @rageshkrishna,

Thank you for your answer.
I've synced my account and then tried to reset the project. Unfortunately the following error was shown after clicking the Reset + Confirm button:
[code]

Do you know what's wrong?

Thanks!

[2015-12-16 12:48] rageshkrishna commented on #2132
This now works as expected.

[2015-12-16 12:48] #2132 closed

[2015-12-16 13:05] dkenzox opened #2134 "Builds fail - karma throws missing .js files errors -"
Hi guys,
Since Monday one of our projects keep failing in every build and the errors change everytime we rerun the build...the past Friday our builds ran successfully, so maybe something happened on the weekend?
It looks like karma is the problem here, maybe the info below could be of help.
There are 2 errors that seems to persists almost everytime...this one:
`Pattern "...//libs/bower/angular-ui-

[2015-12-16 13:11] rageshkrishna commented on #2133
Hmm, I'll look in to this a little deeper and get back to you.

[2015-12-16 13:22] rageshkrishna commented on #2133
I have a couple of questions:

1. Can you give me the bitbucket username you use to log in to Shippable?
1. Are you an owner of the project on Bitbucket?

Thanks!

[2015-12-16 13:44] werdlerk commented on #2133
Hello @rageshkrishna,

In answer to your questions:

1. Bitbucket username I use is 'werdlerk'
2. The private repository in Bitbucket is owned by the team 'morgenwerk' where I'm an Administrator of.

[2015-12-16 14:05] fabiocarneiro opened #2135 "Duplicated docker hub login"
Post-CI build
![image](https://cloud.githubusercontent.com/assets/1375034/11842798/558dbef4-a406-11e5-84ef-7a98685b8c58.png)

[2015-12-16 14:07] pbosko commented on #2116
Here is a list for last three days:
https://app.shippable.com/builds/566ec6b6738e2e0c007e88b3
https://app.shippable.com/builds/56700c1df5d42b0d005a97e6
https://app.shippable.com/builds/56701046f5d42b0d005b3c4a
https://app.shippable.com/builds/56711ee9308acd0c00c133ea
https://app.shippable.com/builds/567156563be21f0b00c08a86

That's 13% of all builds in given period.

[2015-12-16 14:12] ric03uec commented on #2116
@pbosko i'm looking at the timed out builds now. all the timeouts seem to be happening on the `phpunit ....` command in `script` section. we're trying to figure out if the step is really 'stuck' or the actual processing is taking longer than expected for some reason. i'll post an update once i have more info

[2015-12-16 14:52] alain-a opened #2136 "Basic questions: multiple jobs per repo, caching Maven dependencies"
Apologies if this set of basic questions has been answered before: unfortunately I did not manage to find the answers. Feel free to tell me to split the questions into several issues, if this is the way to go.

My questions;

1) I would like to be able to run multiple build jobs, just like in Jenkins where you can define
- a build job that gets triggered upon pushing to the repo
- a code static an

[2015-12-16 15:42] trentmswanson commented on #1667
It's actually quite different than your PRE CI approach, but no longer matters to me as I have moved on and have it working they way it should.

[2015-12-16 15:59] phagunbaya opened #2137 "Need help with starting mongodb"
I have shippable.yaml as follows :

[code]

In before_build.sh
[code]

curl response is - `connection refused`. What am I missing ?

[2015-12-16 16:48] avinci commented on #1667
Thanks for getting back. I would love to understand what is different if you don't mind. Maybe it's something we would want to support for other.

[2015-12-16 17:04] brettdh commented on #2054
Hmm, maybe +1s do make a difference. :-)

I too would love to hear an estimate on when Shippable might roll this out. In the meantime, thanks @hranicka for the workaround!

[2015-12-16 17:24] kanthchandra commented on #2054
@everyone This feature will be available when the next prod deployment happens. Thanks everyone for your patience.

[2015-12-16 17:54] DavidGDragon opened #2138 "Can't make Formation plans"
Posts for formation subscription hangs and the 'enable free' looks like it does nothing when clicked.

[2015-12-16 18:38] trriplejay opened #2139 "'enable free plan' or 'buy' on formation page"
Clicking this button should really cause it to be immediately disabled while processing so that there are no accidental double-clicks, and so the user has some feedback to show that their click did something.

[2015-12-16 18:43] trriplejay commented on #2138
verified working in production

[2015-12-16 18:43] #2138 closed

[2015-12-16 20:06] abhijitkini commented on #2137
Here is a sample node that includes a installMongo.sh for your reference. https://github.com/avinci/sample_node

Let us know if this helped starting MongoDb

[2015-12-16 23:11] rraheja commented on #1667
PreCI is not the same. We use Post CI since our build and test have a lot of different pre-requisites tools that I don't want to ship in the final delivered container. However I still want to test the image using functional tests before publishing it to the repo. A PreCI build that pushes a postCI Dockerfile could have worked but I guess that would be a different workflow altogether PrePostCI?

[2015-12-17 04:52] kanthchandra commented on #2054
@brettdh This has been deployed to prod. Marking this as resolved and closing the issue.

[2015-12-17 04:52] #2054 closed

[2015-12-17 05:11] rageshkrishna commented on #2133
Hi @werdlerk, did you happen to delete any of your account integrations (from the integrations tab on the account settings page)? I can't seem to find a bitbucket integration on your account, which might be why the account sync isn't correctly repopulating your permissions. All you would need to do to fix this is to logout of Shippable and log back in with your BitBucket account. The integration w

[2015-12-17 06:21] shamasis commented on #2054
Cheers.

[2015-12-17 06:46] pquentin commented on #2054
Thank you @kanthchandra!

[2015-12-17 06:56] werdlerk commented on #2133
Hello @rageshkrishna,
I might have done that. I've logged out and logged in again and I was able to sync the account and reset the project. Everything seems to be working again.

Thanks for your help!

[2015-12-17 06:56] #2133 closed

[2015-12-17 08:40] mbrodala commented on #1543
Now that PHP 7 was released, this should be added to the Shippable build environment as soon as possible.

[2015-12-17 08:50] mbrodala opened #2140 "Get "phpenv config-add" working"
To speed up our PHP builds I tried the following:

[code]

The goal is to disable Xdebug for Composer invocation (see [Xdebug impact on Composer](https://getcomposer.org/xdebug)) and re-enable it for PHPUnit invocation. However, this fails with the following error:

Is there a reliable way to determine the absolute path of the `xdebug.ini` to satisfy `phpenv config-add`?

[2015-12-17 09:53] elssar commented on #2054
:+1:

[2015-12-17 12:22] rogierslag opened #2141 "Invalid docker pull command"
Some images, such as `node` do not use a specific user identifier. The image name is just `node:5.2.0`.

However Shippable places a `/` in front, causing errors when pulling

The message is

[code]

I've just tested this locally, and indeed it fails this way, but it works fine without the `/`. This bug stops all of our js builds though

[2015-12-17 12:23] rogierslag commented on #2141
And example build is https://app.shippable.com/builds/5672a7fbd89a0f0c0062c7bf

[2015-12-17 12:29] pranaypareek commented on #2141
@rogierslag we are fixing this and will keep you posted as we make progress. Thanks for bringing it up!

[2015-12-17 12:31] rogierslag commented on #2141
A quick workaround seems to be to prefix the docker registry itself, so it becomes `registry.hub.docker.com/node:5.2.0`

[2015-12-17 14:11] mhzajac opened #2142 "No redirect to requested URI after github oauth2 login"
Currently, if I follow a link from github pull request to a specific failing build and my session on shippable.com has expired, the browser will follow the OAuth2 login flow (through github), but once I have a session I am not redirected to the URI that was originally requested. Instead, I'm dropped in the home page with a list of all projects, so I have to go back and follow the link from github

[2015-12-17 15:31] vidyar opened #2143 "Branch names with semicolon are not handling properly"
https://app.shippable.com/builds/5672d441d89a0f0c006bb104

Build failed without executing all steps and the build scripts shows the following for branch
![image](https://cloud.githubusercontent.com/assets/4965752/11873544/14aa4960-a501-11e5-9f68-32d51c25652c.png)

[2015-12-17 18:13] phagunbaya commented on #2137
I followed the above instructions but no success.
curl -v http://localhost:27017 shows connection refused

[code]

[2015-12-17 19:45] #2092 closed

[2015-12-17 20:45] trentmswanson commented on #1667
Like @rraheja we need to be able to run, test, and validate the docker images that are built before they can be pushed to docker hub.

This is the primary reason we moved off shippable.

[2015-12-17 22:15] dragon00 opened #2144 "Bitbucket adapter failed POST webhook"
Hello,

today I created a new Bitbucket repository and when I would like to "Enable" it on CI interface I got an error message:
[code]
What's the problem?

[2015-12-17 22:23] manishas commented on #2144
what is your bitbucket username?

[2015-12-17 22:30] dragon00 commented on #2144
gaborglazer
This repo is a private repository.

[2015-12-17 22:40] manishas commented on #2144
Thanks. We're looking into this. We've recently faced some issues with bitbucket integration as their team works through some changes.

We're following up with them and will keep you posted.

[2015-12-17 22:44] dragon00 commented on #2144
Thank you, I'm waiting for your answer!

[2015-12-17 23:17] manishas commented on #2140
@rageshkrishna can you answer this?

[2015-12-18 00:02] trriplejay commented on #2144
@dragon00 this should be fixed now. Let me know if you still see any errors.

[2015-12-18 01:09] catskul opened #2145 "Cannot login with bitbucket"
Fails with the following message:

[code]

[2015-12-18 01:43] trriplejay commented on #2145
I suspect something's going on with bitbucket, but we're investigating.

[2015-12-18 06:41] pranaypareek commented on #2141
@rogierslag we have deployed a fix for this. The image `node:5.2.0` does get pulled the correct way now.

Do check it out and let us know if everything is fine on your end!

[2015-12-18 07:01] dragon00 commented on #2144
It works, thanks!

[2015-12-18 07:01] #2144 closed

[2015-12-18 08:14] bbrala opened #2146 "BitBucket Pull Request Support"
Hi,

Is there any idea on when Bitbucket pull-request might be implemented? They have webhooks which should giv eyou all the information you need to listnen for them.

https://blog.bitbucket.org/2015/06/24/the-new-bitbucket-webhooks/

Documentation: https://confluence.atlassian.com/bitbucket/manage-webhooks-735643732.html
API resource: https://confluence.atlassian.com/bitbucket/webhooks-resource-7

[2015-12-18 09:04] rageshkrishna commented on #2140
The file is located at `$HOME/.phpenv/versions/$(phpenv global)/etc/conf.d`, but I don't think you're going to be able to get it back once you do `config-rm`, because that is going to delete it. You will probably need to keep a temporary copy and restore it like this:

[code]

[2015-12-18 09:39] mbrodala commented on #2140
@rageshkrishna Thanks for the idea, I'll give it a try.

[2015-12-18 09:46] pquentin opened #2147 "Support command like `after_success` after hub push"
Hello,

We build our Docker images in Shippable which pushes them to GCR once they're built. However, we have to manually deploy each image to Kubernetes once Shippable has succesfully pushed it. If we had a command such as `after_push` (or anything else, really) we could:

 1. set up Slack integration to be notified of the successful push
 2. automatically deploy our images in our integration env

[2015-12-18 09:54] pquentin commented on #1922
@avinci Any progress on this?

[2015-12-18 12:18] tudvari commented on #2147
I can agree with you pquentin. We also need this feature. It would be a very nic xmas gift for us. :-)

[2015-12-18 13:31] avinci commented on #2147
@pquentin @tudvari

this is exactly what we are working on. We have this working for ECS already by mid jan we will be doing this for GKE.

The idea behind deploy is that, doing after_push means you would need to maintain all the state management information somewhere else. name
* what branch deploys where.
* what env configs do you want to use
* what load balancers should be routing your service

[2015-12-18 13:32] avinci commented on #2147
of course, after_push is coming soon too if you don't care about all the config management etc and just want to push

[2015-12-18 13:38] davidkalosi commented on #1543
ping ... :)