[2015-06-20 17:55] #1555 closed

[2015-06-20 17:56] manishas commented on #1552
@gamename did the suggestion above work? Please re-open this issue if your build still fails.

[2015-06-20 17:56] #1552 closed

[2015-06-20 18:43] mikedanese commented on #1581
Thanks!

[2015-06-20 23:42] koszti opened #1582 "Adding system out and err to the task result page"
The test results page displays only the stats and the failure tags from the junit xmls.

Would it be possible to add the system-out and system-err tags too into the report? It would be very helpful to debug some failed tests.

![screen shot 2015-06-21 at 00 32 58](https://cloud.githubusercontent.com/assets/643687/8269728/3c7c0488-17ad-11e5-9f49-b638319ea485.png)

[2015-06-21 11:59] topiaruss commented on #956
12 Jan:   "some key announcements soon :)"

Today: Nada!

It makes no sense for me to use Shippable CI/CD without private registry push.

[2015-06-21 17:13] pmoust opened #1583 "API support to create and destroy Formations"
Great release guys, I believe we will be moving to Formations soon.

Your API needs some (or a lot) love first though.

[2015-06-22 02:03] mcbridejc opened #1584 "Rabbitmq connection refused on port 5672"
I've enabled rabbitmq service, but it doesn't seem to be listening on the expected port. This used to work, but is now failing on multiple projects.

In my shippable.yml:

[code]

I'm using pika to connect to rabbitMQ service, with the following connection parameters:

[code]

But, it throws this exception: `AMQPConnectionError: Connection to 127.0.0.1:5672 failed: [Errno 111] Connection refused`.

[2015-06-22 09:48] bittner commented on #182
Great, Shippable is now available from http://shields.io/

Thank you, guys, for listening!

[2015-06-22 10:22] geshan commented on #53
has this been implemented? Is there a way to make builds/build history public  for open source projects?

[2015-06-22 11:18] surek commented on #1572
Well, no interest in resolving this, so we'll go back to Jenkins. Thanks.

[2015-06-22 11:18] #1572 closed

[2015-06-22 11:47] #1258 closed

[2015-06-22 15:25] epicserve commented on #1573
@manishas Any updates?

[2015-06-22 15:26] epicserve commented on #1531
@manishas Any updates?

[2015-06-22 15:42] mgladdish opened #1585 "Bitbucket triggers broken?"
I pushed several changes to my private bitbucket repo on Friday last week and today, none of which triggered a build in Shippable.
Re-running the build only took the code from the previous build's commit.

I lost patience and deleted the Shippable project in order to re-create it and start again, only this hasn't worked properly. The repo shows up as an available project, I enable it, so it appear

[2015-06-22 16:09] markTward commented on #1575
The sorted list for the branch now appears in descending build order.  Thanks for the quick fix.

[2015-06-22 16:09] #1575 closed

[2015-06-22 18:13] cymeng opened #1586 "Failure on fetching apahe packages on ubuntu"
similar to #1272 we started experiencing following failures today:

[code]

[2015-06-22 18:23] darylng commented on #1586
I'm seeing the same problems too

[2015-06-22 18:39] cymeng commented on #1586
@darylng just in case you missed it, comments in ticket #1272 mentioned a workaround, which could be used temporarily :)

[code]

[2015-06-22 18:49] darylng commented on #1586
@cymeng thanks!

[2015-06-22 19:26] rvrignaud commented on #1176
Hello,
I have exactly same feature request as @marcospedreiro. I moved from Docker Hub to shippable to build my docker to get the build number / git commit as docker tag but now I miss the always available latest tag for a dev environment to auto upgrade. Is there any workarround ?

[2015-06-22 19:39] rvdwijngaard commented on #1585
Hi,

I am having the same issue right now; it worked earlier today but I just committed some changes to my repo and no build is triggered; i get similar error message as mentioned above.

please help, this is blocking my deployment.

[2015-06-22 20:02] rvdwijngaard opened #1587 "enable code coverage for golang"
I have a build configured for go. My configuration is pretty much the same as the sample in your docs. After completing a build successfully, however, there is no code coverage. I added some logging statements to my shippable.yml and at the after-script hook there is a file named ./shippable/codecoverage/coverage.xml.

The code coverage info of my build does not reflect the results from this file.

[2015-06-22 20:11] phagunbaya commented on #1585
Same happening with github integration. Also not able to reset a dedicated host. Blocker for our deployment too.

[2015-06-22 20:15] phagunbaya opened #1588 "Subscription error on settings page and error while starting a build"
Getting below error on the setting page

[code]

Builds are not triggered automatically and while manual trigger getting below error

[code]

[2015-06-22 20:17] jonmer85 commented on #1585
+1 for Broken GitHub integration. This is blocking my release!

[2015-06-22 20:20] travisn commented on #1588
+1 on the errors mentioned above. I see build status, but can't trigger builds or update settings.

[2015-06-22 20:25] erwindev opened #1589 "Build Not Found"
I am getting this error when I try to invoke a build.

{"id":3000,"message":"No access or object not found for :id 55886ec947a1ce0b00f01b67","methodName":"chkPermForId|_getBuildById"}

My builds were working up until a few hours ago.

[2015-06-22 20:26] blakeblackshear commented on #1588
+1 this is preventing builds for us as well

[2015-06-22 20:28] phagunbaya commented on #1589
#1588

[2015-06-22 20:35] ericallard commented on #1588
+1 same here!!!

[2015-06-22 20:39] jonmer85 commented on #1588
+1 same here!

[2015-06-22 20:41] caarlos0 commented on #1588
+1 same here!

[2015-06-22 20:43] negherbon commented on #1588
+1 same here!

[2015-06-22 20:52] erwindev commented on #1588
+1

[2015-06-22 20:57] manishas commented on #1588
Working to resolve this. Update soon.

[2015-06-22 21:14] timstclair opened #1590 "Internal API error : getPermissionByProjectId"
I'm unable to view details for a failed shippable run on https://github.com/GoogleCloudPlatform/kubernetes/pull/10077
(https://app.shippable.com/builds/558376f415e8400d00004fe6)

I get the error:
[code]

This looks like a permissions error (because I'm not a collaborator on the project?), but we would like the results to be public for anyone submitting PRs to the project.

@davidopp
@ixdy

[2015-06-22 21:30] Archana2015 commented on #1588
The issue is resolved. Thanks for your patience!

[2015-06-22 21:48] Archana2015 commented on #1588
Some more detail on the issue: This was caused by a temporary grey out in our status processing. Builds were running fine, but status messages were not being processed and were getting queued up. It’s now resolved and everything’s back to normal.

[2015-06-22 21:49] DanLipsitt commented on #1588
I still get this error. It happens when I try to run the first branch build for a newly configured project. Are you sure the fix is deployed everywhere?

[code]

[2015-06-22 21:53] lekhab commented on #1588
@DanLipsitt, The fix is deployed across the board. Can you please send your shippable.yml, so we can confirm if it is related to your specific project?

[2015-06-22 21:57] ericallard opened #1591 "Minion usage counter does not free-up"
Hi!

My minion usage is stuck to: 1 of 1. Even if no build are running/processing.
-Eric

[2015-06-22 22:07] DanLipsitt commented on #1588
@lekhab, It turns out my shippable.yml was in the wrong place. I moved shippable.yml to the project root and now it's working. So the problem is that the error message doesn't tell you what's wrong. Should I open a separate bug for that?

[2015-06-22 22:27] ericallard commented on #1591
Seems to be fixed

[2015-06-22 22:27] #1591 closed

[2015-06-22 22:48] pmoust commented on #1567
Same issue with @rvdwijngaard . Shippable dedicated hosts were used with AWS IAM Roles that allowed certain actions.

[2015-06-22 22:55] caesarxuchao commented on #1561
Thank you @manishas. It's working now.

I have another question about the log download. I tried to download the logs throught wget, what credentials shall I supply if I linked my GH account with Shippable? The authentication failed when I supplied my GH user name and password. Thanks.

[2015-06-22 23:19] lekhab commented on #1588
@DanLipsitt: yes, please open a separate bug for the error message. We are aware that the message isn't very helpful and this is on our backlog to fix.

[2015-06-23 10:01] rvrignaud opened #1592 "Trigger action only if all matrix builds succeeded"
Hello,

I would like to be able to trigger an action only if all build from a matrix succeed. Is there a way to do that ?

Thanks,

[2015-06-23 10:16] rvrignaud opened #1593 "Configure project only with shippable.yml file"
Hello,

Being able to configure CI in a file (shippable.yml) is a great feature and is one of reason why we choose shippable.
However Docker integration seems to be configurable only with WebUI. Is there any plan to support docker integration configuration directly in shippable.yml ?

Thanks,

[2015-06-23 13:19] AaronBedward commented on #1585
Same smell the trigger works for my develop branch but not for master

[2015-06-23 13:24] rvdwijngaard opened #1594 "after_push trigger after pushing a docker image"
Is there already an after_push trigger which is fired after pushing an image to the docker repo?  this would make the integration with our CI / CD pipeline so much better.

[2015-06-23 14:55] alan-unravel commented on #1585
+1

[2015-06-23 14:59] chechoacosta opened #1595 "Build not found."
Since yesterday I'm trying to manually run a build for a branch of my projects and Shippable return me this error message

`{"id":3000,"message":"No access or object not found for :id 558972cdbd5b2a0c00e0cc08","methodName":"chkPermForId|_getBuildById"}`
Build not found.

[2015-06-23 15:00] blakeblackshear commented on #1588
I am seeing this error again when trying to start a build:
`{"id":3000,"message":"No access or object not found for :id 55897477ce9ab80b00d097f5","methodName":"chkPermForId|_getBuildById"}`

I dont get the error on the settings page though.

[2015-06-23 15:08] alan-unravel opened #1596 "Using issue queue as support platform is not acceptable"
As a revenue generating product having an issue queue for a support mechanism is not tolerable and should be replaced with a more sustainable and usable tool such as Intercom.

[2015-06-23 15:37] manishas commented on #1596
@alan-unravel we are looking into alternate forms of support and also hiring in this area. Thanks for your feedback!

[2015-06-23 15:37] #1596 closed

[2015-06-23 15:37] manishas commented on #1596
also, we'll soon set up an irc channel as well where customers will get more immediate help.

[2015-06-23 15:40] manishas commented on #1595
@chechoacosta can you point me to the project and branch?

Can you check that your branch has a shippable.yml and make sure it is valid? We're seeing some issues where either a branch did not have a yml in there or the yml had some issues and we're not handling this case elegantly.

[2015-06-23 15:44] manishas commented on #1594
as of today, no. we have this feedback from multiple people, so this is definitely coming up soon.

[2015-06-23 15:57] manishas commented on #1593
@rvrignaud thanks for the feedback.

Our strategy right now is to put all the build config like package installs, etc in the yml and everything else in the UI. We will look into this experience again if we get more feedback along the same lines.

[2015-06-23 15:57] #1593 closed

[2015-06-23 16:20] manishas commented on #1590
@timstclair I've escalated this within the team. We'll address this soon.

[2015-06-23 16:59] manishas commented on #1580
@KFCSpike yes, we will update the docs asap. Thanks for your feedback!

[2015-06-23 17:54] HeyZiko commented on #1579
@manishas any word on this?
Thx!

[2015-06-23 18:54] manishas commented on #1579
Yes we've tracked down the issue and it will be fixed soon. I'll update you when it's deployed.

[2015-06-23 19:34] KFCSpike commented on #1580
Thanks @manishas  I raised it as an issue in the docs repo.

[2015-06-23 20:03] JefAlive opened #1597 "Build not found"
I can't open my shippable build (https://app.shippable.com/builds/5589b3e6bd5b2a0c00e0ee3e), I received this message:

*{"id":1005,"message":"Internal API error : getPermissionByProjectId","methodName":"chkPermForId|_getSByProjectId"}*
**Build not found**

I'm receiving this message oftenly.

[2015-06-23 22:55] manishas commented on #1597
Looking into it...

[2015-06-23 22:59] manishas commented on #1597
@JefAlive quick question - how did you get the build link? Can you see the project on your org page in Shippable? Do you see build history for the project?

[2015-06-23 23:00] manishas commented on #1589
We'll look into it

[2015-06-23 23:04] JefAlive commented on #1597
!(http://i.imgur.com/aUcIgie.png)[]

I got this link at GitHub.

[2015-06-23 23:30] manishas commented on #1597
Please make sure you have permissions to the repo on GitHub.

[2015-06-23 23:31] manishas commented on #1597
@JefAlive one more possibility - did you enable private repos on Shippable? By default we only ask for access to public repos... so if you want t see private repos, you'll need to enable access.

Please check your account settings and make sure github private scopes are turned on.

[2015-06-23 23:53] manishas commented on #1595
@chechoacosta can you check if your yml is valid? http://www.yamllint.com/

[2015-06-24 04:05] mulupuru commented on #1577
This issue is now addressed for me, thanks for the quick turnaround. You may leave this in resolved state (or close it altogether).

As fyi, when cloning from an existing repo (as I did by cloning the Shippable's Java sample repo), the Play or the Run Build icons don't show up. I am working around this by touching README.md, as you suggested. You may want to consider fixing this. Please find scree

[2015-06-24 04:09] bbradbury commented on #1584
+1

[2015-06-24 05:10] dennissugar opened #1598 "Route permissions not found error"
I am getting the following error on our project settings page.

https://app.shippable.com/subscriptions/545ebd74c6f0803064f3d9fb/subscriptionsSettings

[code]

[2015-06-24 15:46] cgutierrez opened #1599 "Error installing ruby 2.1.3"
Hello,

I'm getting an error with my builds during the Ruby installation process. Here's the declaration in the shippable.yml file.

[code]

Here's a screenshot of the error I'm getting. Please let me know if there is anything else I can provide.

![screen shot 2015-06-24 at 11 42 48 am](https://cloud.githubusercontent.com/assets/133389/8334483/2e4b82ec-1a66-11e5-857d-dd07f775a802.png)

[2015-06-24 17:13] manishas commented on #1598
I've logged an internal bug. thanks for reporting this.

[2015-06-24 18:44] mikehancock commented on #1186
+1 for this, we use Digital Ocean, this feature would simplify our deployment pipeline

[2015-06-24 18:47] hranicka commented on #237
BitBucket has created new webhooks: https://bitbucket.org/site/master/issue/6545/pull-request-web-hooks-bb-7736#comment-19264939

Please, is it sufficient for Shippable pull request hooks for BitBucket like on GitHub?

[2015-06-24 18:49] cgutierrez commented on #1599
closing this out. it was an issue with our environment variables.

[2015-06-24 18:49] #1599 closed

[2015-06-24 18:52] david-anyvan opened #1600 "Cancelled build = success"
At the moment if a build is started and then cancelled it is treated as a success and triggers after_success. It should be treated as an error or neither

[2015-06-24 19:56] bprashanth opened #1601 "Guage resource usage on shippable"
There are times when I've observed what looks like high n/w latencies in my test logs (but could also be eg: cpu starvation of a goroutine pulling stuff off of the network). We run tests in parallel and sometimes things might get loaded. How does one figure out where the resource boundry is?

I don't mean how many cores I'm supposed to get, I mean how much cpu etc my tests are *actually* using. If

[2015-06-24 19:59] kkarski commented on #1598
Same here:
{"id":9999,"message":"Route permissions not found","methodName":"getRoutePermission|_getRoutePermissions"}

[2015-06-24 20:00] kkarski commented on #1564
Any resolution on this?

[2015-06-24 20:48] chechoacosta commented on #1595
@manishas we have been using the same yml for months and I double check and it is valid.

Later after I reported the issue, the builds worked normally, but then later it happened again, so is an intermittent issue on Shippable

[2015-06-25 00:36] aug70 opened #1602 "Shippable integration broken"
Somehow my bitbucket-shippable integration broke after many successful builds. No matter what I do I can't get it working on the project.
I can see a POST link on my bitbucket and I tried to tie back from shippable. I don't see commits kicking off builds on shippable and can't start builds from shippable UI.
I'm getting this error message.

[code]

Update: Possibly duplicate of https://github.com/

[2015-06-25 01:24] aug70 commented on #1570
Same problem https://github.com/Shippable/support/issues/1602

[2015-06-25 01:28] #1602 closed

[2015-06-25 01:29] aug70 commented on #1602
yml problem! But the error message is not helpful

[2015-06-25 02:14] manishas commented on #237
we're looking into this, will send an update once we know more.

[2015-06-25 03:09] dennissugar opened #1603 "getPermissionByProjectId error"
My colleague is unable to access build results, either when linking from github or navigating from the main Shippable page.  He is getting the following error when accessing https://app.shippable.com/builds/558b5ec790e8910c00a12c57:

[code]
We have the same project permissions in github and I am able to view the build results fine. I verified that I have both private and public repos enabled, thou

[2015-06-25 08:12] stafot opened #1604 "Problem with refs after introducing new UI"
When i amend  in an existing commit and forcedly pushing it in my remote branch, shippable does not updates the refs. So I am unsure when re-running my build if it runs with the latest refs or not. This strange behavior starting after your UI updates.

Thanks in advance for any answer.

[2015-06-25 09:07] stafot commented on #1604
It doesn't only happens on force push but also on new commit push. the PR build remains to the previous refs and does not get the latest.

[2015-06-25 09:39] stafot commented on #1604
I can ensure that is only UI problem. It takes the proper refs, but it does not updates the UI with the correct reference. So plz fix it cause it is confusing for your users.

Thanks, again.

[2015-06-25 09:48] rarkins commented on #1234
Ping @manishas! How can docker be installed/used?

[2015-06-25 13:02] manishas commented on #1564
Yes we've tracked down the issue and will fix it in the next 1-2 days. I will update when done. Sorry about this!

[2015-06-25 14:03] epicserve commented on #1573
@manishas Any sort of any ETA on this issue?

[2015-06-25 14:04] epicserve commented on #1531
@manishas Any sort of any ETA on this issue?

[2015-06-25 14:50] manishas commented on #1573
@epicserve I'll follow up on both your recent issues and get you an update today.

[2015-06-25 14:54] epicserve commented on #1531
I fixed this myself. I changed the script section in the shippable.yml to:

[code]

[2015-06-25 14:54] #1531 closed

[2015-06-25 16:57] marcospedreiro commented on #1317
+1 We would like this feature as well. Any updates about this feature would be great.

[2015-06-25 18:21] phagunbaya commented on #1588
Still getting below error but build started successfully.
[code]

[2015-06-25 22:20] zheiran opened #1605 "timeout builds"
when some of my builds are started they keep in `Waiting for logs..` up to 20 minutes until i cancelled.

other 2 builds just keep a long time in `. /home/shippable/.nvm/nvm.sh && nvm install 0.10.31`, around 800.36 seconds, when it finished, the build appear as "timeout" and the changes are not visible, after Re-run the build it happens again, some hours later, the changes are visible but the las

[2015-06-25 22:29] manishas commented on #1605
@zheiran we're looking into this. We recently had a sudden increase in number of builds and we're adding more build resources to handle this.

[2015-06-26 03:28] tekram opened #1606 "New Repo Not Building"
If I try a new build on a branch from a repo that has other functioning branch it gives me the below error.

{"id":3000,"message":"No access or object not found for :id 558cc62dba27100b00ebc303","methodName":"chkPermForId|_getBuildById"}

Reliability of Shippable service is making it challenging to try to actual use it.

[2015-06-26 03:58] manishas commented on #1606
@tekram are you using bitbucket? can you give me your username? Sorry about the issues you're seeing, we upgraded the service to a new release and there are still some issues we're ironing out.

[2015-06-26 04:52] phagunbaya opened #1607 "Cannot access projects/builds on shippable UI"
[code]

[2015-06-26 04:55] phagunbaya commented on #1598
+1 #1607

[2015-06-26 07:35] xherriot opened #1608 "Dynamically change/cancel docker image to build"
Hello,

I would like to do:
• Commit with tag *-alpha, build my/app:alpha
• Commit with tag *-beta, build my/app:beta
• Commit with tag *, build my/app:latest
• Commit without tag, CI without build a docker image.

To this, I have a bash script executed "after script":
[code]

Content of this file:
[code]

Then, the build is processed with my Dockerfile:
[code]

Each build tagged add its own direc

[2015-06-26 14:55] stekycz opened #1609 "Not recognized new organization for GitHub account"
Hi,

I have been added to new GitHub organization and I would like to run test using Shippable. However I did not found new organization in CI list.

Well, ok, It maybe needs force syncing in settings. However it did not help.

Then I have had to revoke all access token for Shippable on GitHub and authorize myself again. There was the organization a have new in my profile however I still do not se

[2015-06-26 15:47] mseshachalam opened #1610 "composer install fails on hhvm"
composer self-update
Updating to version 943107cfe717a74aa791f57b87fa514c88582b0d.
Downloading: connection... Downloading: 100% 
Use composer self-update --rollback to return to version ffffab37a294f3383c812d0329623f0a4ba45387

composer install --prefer-dist --no-interaction
Warning: This development build of composer is over 30 days old. It is recommended to

[2015-06-26 16:25] mseshachalam commented on #1610
I am updating the composer. The before step to install is ```composer self-update```

[2015-06-26 17:10] tekram commented on #1606
Yes, it is a bitbucket account. User name is tashfeen.

Thanks.

[2015-06-26 17:14] manishas commented on #1606
thanks. can you also point me to the project and branch you're trying to build?

[2015-06-26 17:15] manishas commented on #1610
can you try ```sudo composer self-update``` in the before_install section?

[2015-06-26 17:16] tekram commented on #1606
Here is the link to the project: https://app.shippable.com/projects/558c950aedd7f2c0523cb609

There are three branches and I am unable to build any of them.

[2015-06-26 17:17] manishas commented on #1609
@stekycz what organization were you added to?

Do you see builds from repos in that org in your recent builds list on the dashboard?

[2015-06-26 17:18] manishas commented on #1607
@phagunbaya is this still happening? We deployed a few fixes and that should have fixed the problem, so let us know.

[2015-06-26 17:19] phagunbaya commented on #1607
@manishas Seems to be resolved now. Thanks !

[2015-06-26 17:19] #1607 closed

[2015-06-26 17:19] manishas commented on #1603
@dennissugar what is your colleague's github username? Does he have private permissions turned on in Shippable?

He can check that by going to account settings and checking to see that the github private repos icon is green.

[2015-06-26 17:26] manishas commented on #1606
@tekram this could be due to an error in your yml. Can you please validate it here - http://yaml-online-parser.appspot.com/

Let me know if the yml is valid and we'll take a deeper look.

[2015-06-26 17:27] manishas commented on #1583
@pmoust let's set up a time in a few days to discuss further. We're improving the API and I'd love to understand exactly what you're trying to achieve with it.

Will send you a meeting request soon. Thanks!!

[2015-06-26 17:35] mseshachalam commented on #1610
Still fails with ```sudo composer self-update``` in before_install

  before_install
  sudo composer self-update
Updating to version 943107cfe717a74aa791f57b87fa514c88582b0d.
Downloading: connection... Downloading: 100% 
Use composer self-update --rollback to return to version ffffab37a294f3383c812d0329623f0a4ba45387
  install
  cp app/config/parameters.yml.d

[2015-06-26 17:37] tekram commented on #1606
Thanks for that. That seems like the issue. So, if I ever get that similar type of error, yml file is that place to look?

[2015-06-26 18:07] lgfausak commented on #1579
I just ran in to the same issue.

[2015-06-26 18:16] brymaven commented on #1603
Hi @manishas, I was the one having problems with shippable. My private repo icon is green.
![screen shot 2015-06-26 at 11 16 13 am](https://cloud.githubusercontent.com/assets/3811764/8384272/ca25aac8-1bf4-11e5-89d3-9ccef7fe190d.png)

[2015-06-26 18:16] lgfausak opened #1611 "Build failing with no errors"
All builds for this project are failing, but, the log shows everything worked.

https://app.shippable.com/builds/558d90ded7eacb0c00061098

I am new at this, maybe I have something set up wrong?

[2015-06-26 18:22] manishas commented on #1611
we're looking into this...

[2015-06-26 18:30] manishas commented on #1603
@brymaven can you try clicking on 'sync' in the account settings and see if that fixes the issue?

[2015-06-26 20:38] manishas commented on #1606
yes, for now. we're improving the experience around this error so in a few days you should see a more obvious error.

[2015-06-26 20:38] #1606 closed

[2015-06-26 22:33] brymaven commented on #1603
It works now. Thanks @manishas.

[2015-06-26 22:37] shyela opened #1612 "How can I diagnose this build timeout?"
Hi there,

This build (https://app.shippable.com/builds/558dc1536339ec0d0021ff2e) resulted in a timeout, but I can't figure out exactly why. The console log doesn't give a specific indication: there's no error at the end of the file and searching for "timeout" or "time out" shows nothing. Is it just the elapsed time (about an hour) or is there some other reason?

Are there any files or other detai

[2015-06-26 22:49] gegere commented on #1612
+1

[2015-06-27 01:27] manishas commented on #1612
@shyela yes, builds time out after an hour.

[2015-06-27 01:29] manishas commented on #1603
Closing. Thanks!

[2015-06-27 01:29] #1603 closed

[2015-06-27 01:41] manishas commented on #1035
Closing. Please re-open if you're running into this still.

[2015-06-27 01:41] #1035 closed

[2015-06-27 01:47] manishas commented on #1600
@david-anyvan this could be a side effect of slow console log updates where you saw the updates late but the build was already successful. We're working on improving performance of console logs and we'll try to repro this at our end.

[2015-06-27 01:49] manishas commented on #1598
This should now be resolved, so closing. Please do re-open if you run into this again. Thanks for your patience!

[2015-06-27 01:49] #1598 closed

[2015-06-27 01:50] manishas commented on #1588
This should be resolved, so closing. Please re-open if you run into this still. Thanks for your patience!

[2015-06-27 01:50] #1588 closed

[2015-06-27 01:55] lgfausak commented on #1611
it looks like i didn't do the 'hub integration'.  I turned that on, and the build started to work.  I can reproduce this error if you want me to.

[2015-06-27 01:55] #1611 closed

[2015-06-27 02:01] manishas commented on #1573
You have forked a repository from bitbucket/bkroeze and you're on his list of watchers for the repo, so when we call the bitbucket API it returns this as well. You can delete your fork, sync your account, and see if that resolves this -

![screen shot 2015-06-26 at 6 59 13 pm](https://cloud.githubusercontent.com/assets/2983749/8390006/78c10498-1c35-11e5-8ab0-8c40a0eeab42.png)

![screen shot 2015-0

[2015-06-27 02:02] manishas commented on #1589
@erwindev this should be resolved now. Can you please confirm?

[2015-06-27 02:03] manishas commented on #1587
@rvdwijngaard can you point me to a build link and also share your shippable.yml? Thanks!

[2015-06-27 02:05] manishas commented on #1586
debian mirrors were down last time this happened, so it should be resolved now. Please confirm that everything works for you now. Thanks!

[2015-06-27 02:06] manishas commented on #1585
These issues should be resolved now, so closing this issue. If you're still running into a specific problem, can you please open up a new support issue? Thanks!

[2015-06-27 02:06] #1585 closed

[2015-06-27 02:08] manishas commented on #1584
Is this still an issue? Most of the upgrade related problems should be resolved by now, so let me know if we need to look into this.

[2015-06-27 02:11] manishas commented on #1567
@rvdwijngaard @pmoust @pcsforeducation can you send me an email at manisha@shippable.com with a broader explanation of your scenario and why dedicated hosts were necessary for those scenarios?

This will help a great deal while we decide on our roadmap with dedicated hosts.

[2015-06-27 02:14] manishas commented on #1611
@lgfausak ah, i didn't look at your project settings.

Can you describe the scenario you were trying to achieve so we can repro it?

[2015-06-27 02:22] pcsforeducation commented on #1567
Sorry, I already jumped ship (heh, get it?) to a Jenkins server. Couple
hours of set up and my builds/deploys are faster than ever.

On Fri, Jun 26, 2015 at 7:11 PM Manisha <notifications@github.com> wrote:

[2015-06-27 02:25] mcbridejc commented on #1584
Just checked back, and even did a `[reset minion]`, but still seeing the same error.

[2015-06-27 02:25] tanin47 opened #1613 "Cannot find phantomjs binary"
I've got this error:

[code]
(https://app.shippable.com/builds/558e02077468b70e000d6b4d)

I wonder where the phantomjs binary path is.

Thanks

[2015-06-27 02:29] lgfausak commented on #1611
i will follow up over the werkend, best, -g

Sent from my iPhone

[2015-06-27 04:41] rarkins opened #1614 "Do any minions support docker now?"
Are there any minions that either come with docker pre-installed within, or support the docker install process?

[2015-06-27 05:01] manishas commented on #1614
@rarkins can you tell us a little about the scenario you're trying to enable with Shippable? You can not pull your custom image from docker hub or google container registry and use that container for your CI. also, we can build your container from a Dockerfile and use that for CI as well. We can push docker images to image registries as well.

[2015-06-27 05:08] rageshkrishna commented on #1610
@mseshachalam I took a deeper look at this and found a bug in how we're initializing our hhvm environment. The problem is that all PHP builds are run using phpenv to switch versions, but hhvm doesn't initialize phpenv. As a result, on hhvm builds composer is installed as a system package and needs to be updated with `sudo`, but on all other PHP versions, you need to avoid using `sudo`.

We will ad

[2015-06-27 06:46] mseshachalam commented on #1610
@rageshkrishna i removed all other composer self-update lines from yml and used the given in before_install. It fails in hhvm.

[2015-06-27 08:16] rarkins commented on #1614
@manishas I'm talking about "docker in docker" and using docker compose to provide backing services like Postgres and nginx etc

[2015-06-27 08:18] rarkins commented on #1614
I'm a little shocked if a company like yours built on docker doesn't see the need for customers to run containers too. Please tell me I've misunderstood!

[2015-06-27 08:48] rageshkrishna commented on #1610
@mseshachalam I'm very sorry. The command I specified above has a syntax error and wasn't upgrading composer correctly. Because of the error, the command was running without sudo. Your build output has the following syntax error from bash:
[code]

Please use the following instead:
[code]

The only difference is that I fixed the equality check from `===` to `==`. Working in javascript has trained m

[2015-06-27 09:41] mseshachalam commented on #1610
Thank you @rageshkrishna It works now.

[2015-06-27 10:31] mseshachalam commented on #1610
https://github.com/symfony/symfony/issues/15124#issuecomment-116001349

[2015-06-27 11:07] textbook opened #1615 "SyntaxError when activating Python 3.4 virtualenv"
[This build](https://app.shippable.com/builds/558e80ca0db5cc0c00c44c7a) failed because the virtual environment couldn't be activated:

[code]

It's not even getting far enough that I can imagine there's a problem in the [`shippable.yml` settings](https://bitbucket.org/jonrsharpe/dj_cv/src/2578c7a3469d9afdda3a8c326cc25ae6faa0c69b/shippable.yml?at=master), Python 3.4 is [listed as supported](http://

[2015-06-27 12:08] tanin47 commented on #1613
Never mind. I've found it by inserting `which phantomjs` into shippable.yml and seeing that it outputs `/usr/bin/phantomjs`

[2015-06-27 12:08] #1613 closed

[2015-06-27 14:33] rageshkrishna commented on #1610
@mseshachalam I'm not a PHP expert so I'm not sure how to repro that error, but we do have a default ini file at `/etc/hhvm/php.ini`. You can add the line you need with the following command in your YML file:
[code]

[2015-06-27 15:28] mseshachalam commented on #1610
Thank you @rageshkrishna

[2015-06-27 15:28] #1610 closed

[2015-06-27 15:28] manishas commented on #1614
@rarkins I corrected a typo in my previous comment. I wanted to say - 'you can now pull' - but the now was converted to not for some reason.

As for running a multi- container application on Shippable, please check out Formations. That is our story for running your application in a real environment with backing services. I'd love to set up a call and show you a demo, I'll reach out over email.

[2015-06-27 18:24] gegere opened #1616 "Issues with pushing build to public docker repo"
Hello I am getting the following message while trying to push a successful build.

When changing **Push Image Tag:** the value changes but it seems that Shippable does not like the output, created by the system.

**Push Image Tag:**
*You can use this to tag the image. Build numbers will be be used as tags by default*

![Screenshot:](https://dl.dropboxusercontent.com/u/12445484/Screen%20Shot%202015

[2015-06-27 18:25] gegere commented on #1616
The solution to this is using **lowercase** for the build name which will push.

[2015-06-27 18:25] #1616 closed

[2015-06-27 18:25] coleca opened #1617 "Container Caching"
The container caching switch on the project settings page seems to have disappeared.  I had set it to "On" but after reading this article: http://docs.shippable.com/docker_registries/ I want to turn it "Off" since I'm using Google Container Registry, but the setting is now gone.  Adding a [reset_minion] into every commit message isn't a good solution to this.

[2015-06-27 19:15] lgfausak commented on #1611
the scenario i was trying to accomplish:

i stumbled upon shippable, i think google uses it for kubernetes, so i
thought i would take a look.  I have a little project which creates a
google component in an image called tacodata/hyperkube.  I thought I would
use shippable to create that image for me.

It isn't obvious what to do.

Eventually I settled upon a post-ci build, and i tailored my shippab

[2015-06-27 21:24] manishas commented on #1615
I've logged a bug in our system, will provide status as soon as we know more.

[2015-06-27 21:27] manishas commented on #1614
You can also sign up for our webinar on Formations at https://attendee.gotowebinar.com/rt/8882154363785691649

[2015-06-27 21:28] #1612 closed

[2015-06-27 21:30] manishas commented on #1573
@epicserve I am closing this issue but if you need more help, please don't hesitate to reach out.

[2015-06-27 21:30] #1573 closed

[2015-06-27 23:09] tanin47 opened #1618 "Any failure in script will not run after_script if the working directory is changed"
Please see: https://app.shippable.com/builds/558f4c03e3b3480d00d90d3f

I have this part:

[code]

It produces an error `/home/shippable/cab1dd50-c254-4655-99c5-3ef22e6408d5.sh: line 90: errgergerherhhr: command not found`

The `after_script` is never run.

Is this an expected behaviour?

---------

Ok, I have run a small test on this. It is because I change the working directory to somewhere else.

[2015-06-28 02:55] amcintosh commented on #1615
Same issue. Exact same error, running with python 3.4

[2015-06-28 03:06] tekram opened #1619 "Inconsistent Starting of MongodDB?"
There seems to be some inconsistency between builds of the same commit. After I re run it, it will sometimes pass and others fail. It seems to be around starting/connecting to the mongodb service.

Here is one example:
This one succeeded https://app.shippable.com/builds/558f5d76b0a2d60c00e55150
This one failed https://app.shippable.com/builds/558f5cc726d2a30b00f52c08

Here is another commit the fi

[2015-06-28 03:44] rarkins commented on #1614
Thanks @manishas. We already have a cloud+container development environment so Formations is not for us. However we still need a way to test that and were expecting shippable to support customers who use docker for orchestration (not just single container testing).

When you say:

Do you mean we can build our own "custom minion" with docker included and test inside that instead? If so, can you poi

[2015-06-28 03:47] rarkins commented on #261
@kofalt @avdrav I have the same need as this. I was really under the impression this would be supported "soon" but it's been a year and still seems no minion supports running docker inside it, unless I'm misunderstood. @kofalt did you succeed with this or give up hope?

[2015-06-28 04:01] rarkins commented on #929
+1 to hearing if this is really supported too. Some of the announcements make it *sound* like it's supported but I haven't found any documentation or examples to confirm it.

[2015-06-28 04:05] rarkins commented on #1477
@jerbia @bassamtabbara wondering if you two gave up on "docker in docker" with shippable or if you found a way? I was expecting it to be supported on hosted minions as part of the latest announcement, but now in this issue it sounds like it wasn't even supported on dedicated either?

[2015-06-28 04:08] rarkins commented on #1500
@alexanderlamb @mbrevoort wondering if you gave up on this, or found a way to still make it work? "Docker in docker" is supported by other CI/CD services so really surprised that a "built on docker" company like shippable isn't supporting it.

[2015-06-28 04:28] manishas commented on #1614
Formations give you orchestrated multi-container environments you can test against. Please let me know if you're interested in a call to discuss further.

If you're super attached to running docker in docker with docker compose, we do not support that today. As you know, other CI platforms support running docker on their VMs so I can point you to a couple of those.

[2015-06-28 04:31] manishas commented on #929
Yes, custom images for CI are supported with or dedicated hosts now. Documented at http://docs.shippable.com/docker_registries/

[2015-06-28 04:39] manishas commented on #1614
Just to add to the above, I want to stress that Formations exactly addresses your scenario of testing a multi-container application. I am not sure why you're saying 'it's not for us'. What is the difference between you using docker compose to spin up multiple docker containers in a docker container vs using formations to spin up multi container environments?

[2015-06-28 06:33] jerbia commented on #1477
I no longer need the "docker in docker" support.

On Sun, Jun 28, 2015 at 7:05 AM, Rhys Arkins <notifications@github.com>
wrote:

[2015-06-28 14:14] stekycz commented on #1609
It is already there however I did not see anything because the organization was created recently before I wanted to add repos to Shippable.

[2015-06-28 15:17] rarkins commented on #1614
Hi @manishas

These are the main reasons why Formations isn't for us:

1. We can define the orchestration rules once and use docker-compose to set up containers in all environments - dev, test (an alternate CI/CD provider obviously), staging and production. Formations can't give us that "write once, use anywhere" approach so it's not something I'd want to use even if it didn't cost us anything mor

[2015-06-28 15:17] #1614 closed

[2015-06-28 17:36] jazmit opened #1620 "Push tag to docker hub fails"
Using the build number or commit sha as a tag causes the build to fail with 'Tag does not exist':
[code]
Reference to a failed build: https://app.shippable.com/builds/55901014cf4aed0c003f8bfe

The push works fine when I specify an existing tag such as 'latest'.

[2015-06-29 00:06] manishas commented on #1615
This should be fixed now. Please let me know if it works.

[2015-06-29 00:07] amcintosh commented on #1615
Looks good! Thanks!

On Sun, Jun 28, 2015 at 8:06 PM, Manisha <notifications@github.com> wrote:

[2015-06-29 00:07] manishas commented on #1617
@coleca container caching is not available if you're using Dockerbuild functionality, which is why you do not see that option. Your container is being built each time.

[2015-06-29 00:08] manishas commented on #1615
Thanks! Closing.

[2015-06-29 00:08] #1615 closed

[2015-06-29 00:13] manishas commented on #1619
i've logged an internal bug, we'll take a look and let you know what's going on..

[2015-06-29 00:15] manishas commented on #1605
@zheiran I see all your latest builds haven't timed out. Please let me know if it happens again.

[2015-06-29 00:15] #1605 closed

[2015-06-29 00:15] manishas commented on #1589
Closing. Please re-open if it happens again.

[2015-06-29 00:15] #1589 closed

[2015-06-29 00:17] manishas commented on #1586
Closing this issue, please feel free to re-open if you run into this again and debian mirrors are not down.

http://mirror.debian.org/status.html

[2015-06-29 00:17] #1586 closed

[2015-06-29 00:19] manishas commented on #1565
Closing this issue. Please let me know if you have any other questions.

[2015-06-29 00:19] #1565 closed

[2015-06-29 00:21] manishas commented on #1578
This should be fixed now. Closing this issue. but please feel free to re-open if you run into this problem again.

[2015-06-29 00:21] #1578 closed

[2015-06-29 00:25] caesarxuchao commented on #1578
Yes. Thank you.

[2015-06-29 01:09] tekram commented on #1619
Thanks for the fast response.

On Sun, Jun 28, 2015 at 5:13 PM, Manisha <notifications@github.com> wrote:

[2015-06-29 06:05] xherriot opened #1621 "Add a new project with startup plan"
Hello,

We are with the old plan (12$ / year).
We currently have 3 projects and we would like to add a new one but on the projects page the "+" doesn't appear.

It seems me the startup plan does not limit the number of projects, am I wrong ?

Thanks.

[2015-06-29 06:14] manishas commented on #1621
No there's no limit to number of projects in any plan. The button was removed by mistake a few hours ago and we'll add it back in very soon. Sorry about this!

[2015-06-29 06:47] xherriot commented on #1621
Ok, thanks !

[2015-06-29 06:47] #1621 closed

[2015-06-29 09:09] lucmig opened #1622 "Bower install failing"
Hi,
My yml that was working before now fails with "EACCES EACCES, permission denied '/home/shippable/.cache/bower'" when trying to do "bower install".

I have tried "bower --allow-root install", have tried installing "npm install -g bower" with and without sudo, and so far nothing worked.

Need some guidance, please.

[2015-06-29 09:22] stekycz opened #1623 "SSH key and not reachable repository"
Hi,

I have had to revoke access to my account on GitHub recently a reconnect it again. However since that time all build in our organization are failing. For example https://app.shippable.com/builds/559106d45e65d40c00015c32

I have tried to use the SSH key in organization settings (on Shippable) for my GitHub account however the GitHub shows me the message that the key is already in use.

I have

[2015-06-29 09:30] textbook commented on #1615
All working from here, too; thank you for the prompt response!

[2015-06-29 13:53] epicserve commented on #1573
Seems like a weird behavior of Shippable to add users to your shippable of repositories you have forked or are watching. It would be nice if Shippable would do that. :) Anyway, I stopped watching the repository and deleted my fork and then re-synced and the user is gone from my shippable CI list.

[2015-06-29 15:50] gamename opened #1624 "How To Auto-Set Branch Name In YML File?"
Hi,

Per the [docs](http://docs.shippable.com/yml_reference/#includeexclude-branches), I tried taking out the "branches" keyword in my shippable.yml so all branches will build.  Now all my builds are failing.

What needs to be defined in shippable.yml so that all branches build?

TIA,
-Tennis

[2015-06-29 15:56] manishas commented on #1622
@lucmig can you point me to a failed build link?

[2015-06-29 16:08] avinci commented on #1619
@tekram, I see that you are installing redis and mongo. In our internal images, these services could take up to 20 seconds to start.

Are you checking to see if these services have come up before running the tests? Second, you could just blindly sleep for 20 seconds before executing the test scripts also.

Can you try that and let me know if that solves your problem..

[2015-06-29 17:44] lucmig commented on #1622
hi manishas,

i unfortunately deleted all the failed builds after downloading the logs, been waiting for one to complete but they seem to have gotten stuck! maybe you would advise me about that too? what info do you need me to provide on a build for you to be able to investigate?

[2015-06-29 17:53] #1580 closed

[2015-06-29 19:04] kofalt commented on #261
Really this is a feature of the runtime provider, not the CI provider - there's no great way to recursively Docker, and so CI providers using a Docker-like runtime won't have many options for doing so.

In our case, we ended up sticking with a runtime that could allow us to launch containers - a full VM via Travis. In my conversation with @avdrav et al, we agreed this was something of an edge case

[2015-06-29 19:08] pilec commented on #1623
As a hotfix, please can you regenerate Deployment key for that project? We love to use shippable CI more, but this is really flustrating.

[2015-06-29 19:59] jeffkole opened #1625 "Builds are suddenly breaking due to `dropdb` error"
Builds that have been working just fine are all of a sudden breaking because the version of `dropdb` does not recognize an argument that is supported.  Did the postgres version that is on the defaul image change?

![shippable___hosted_continuous_integration_service](https://cloud.githubusercontent.com/assets/286588/8417035/a894fe9c-1e5e-11e5-98be-863577dea0ea.png)

Build: https://app.shippable.com

[2015-06-29 20:08] aschwabe opened #1626 "Maven builds all fail; was working 11 days ago...; seems like timeout issue ?"
I have the startup paid account.  Minimal project code changes since last successful build (11 days ago), but builds now fail every time.  I've tried making several changes to shippable.yml in hopes of resolving the issue.  No success.

When a failed build happened before (11+ days ago), I used to see a red x in the log and could see where the build failed and the appropriate console messages.  No

[2015-06-29 20:22] manishas commented on #1626
@aschwabe can you share your shippable.yml?

[2015-06-29 20:22] soby opened #1627 "Builds stuck on "Waiting for logs.....""
I've tried to get a build working by canceling, restarting, closing/opening the PR, etc. Nothing seems to work and it's get's stuck in the "waiting" status with this message.

https://app.shippable.com/builds/5591a81b27d2aa0c008a48ca

[2015-06-29 20:26] aschwabe commented on #1626
Just emailed it to you, didn't want to publish it online, and wanted you to see it 100% as is

[2015-06-29 20:29] soby commented on #1627
I also get a lot of these messages when interacting with builds, restarting, and trying to get them to run:

{"id":3000,"message":"No access or object not found for :id 5591aa8c2d7d470b008fa1c7","methodName":"chkPermForId|_getBuildById"}

[2015-06-29 20:31] aschwabe commented on #1626
btw, the maven install line is commented out, obviously that will cause a problem.  just another "thing i tried" in case mvn was already configured (its not!).

all previous build fails used variations of apt-get install maven before trying to mvn test and mvn package.

It usually gets past the apt-get install, and usually fails on mvn test or mvn package

[2015-06-29 20:33] kkarski commented on #1564
Still happening

134a5dcb8ebe: Pulling fs layer
134a5dcb8ebe: Error downloading dependent layers
63655319ed5c: Error pulling image (latest) from shippable/minv2, endpoint: https://registry-1.docker.io/v1/, ApplyLayer exit status 1 write /home/shippable/.gvm/gos/go1.2/src/pkg/go/token/position_test.go: no space left on device
63655319ed5c: Error pulling image (latest) from shippable/minv2, ApplyLay

[2015-06-29 20:34] #1539 closed

[2015-06-29 20:57] davidthewatson commented on #1627
I'm having the same problem with this build:

https://app.shippable.com/builds/5591aaad55c27a0d00ef6b7d

Started happening a few hours ago. I've since re-run the build and it gets stuck at "waiting" status still.

[2015-06-29 21:05] caarlos0 commented on #1627
Same problem here...

[2015-06-29 21:07] manishas commented on #1627
We're working to resolve this... will post an update with an explanation soon.

![screen shot 2015-06-29 at 2 06 25 pm](https://cloud.githubusercontent.com/assets/2983749/8418442/0f452b36-1e68-11e5-9b29-e73f3f0cd05b.png)

[2015-06-29 22:15] caarlos0 commented on #1627
@manishas it would be nice to have a http://status.shippable.com/ like http://status.github.com/ , for example...

[2015-06-30 00:21] tekram commented on #1619
I was not checking to see if the services start.

I have switched the install order by installing MongoDB first and then Redis. Perhaps, that gives enough time for MongoDB to come up?

So, far it seems to be doing fine. Do you have any internal images that have these services already installed?

Thanks for your help.

[2015-06-30 03:50] rarkins commented on #261
@kofalt I don't myself need "docker in docker". I just need container launching support inside minions, like it sounds like you did.

I think this issue should be closed seeing as there is apparently not any plan by shippable to allow customers to arbitrarily launch their own docker containers inside minions.

[2015-06-30 03:53] manishas commented on #261
@rarkins our minions are docker containers. so if you want to launch a container inside a minion, you're asking for docker-in-docker.

That being said, your feedback on Formations was very helpful. We'll soon make it easy for customers to customize their container sizes which will help make it compelling for someone with your scenario.

[2015-06-30 03:57] manishas commented on #1627
Builds should be back to normal now.

We moved to a new orchestration layer that held up as we moved some users to it every day but hit scale issues today and we had to revert everyone back to the old system.

Let me know if you're still seeing delays. Sorry for the service interruption today.

[2015-06-30 03:57] #1627 closed

[2015-06-30 05:18] Gateway85 opened #1628 "Timeout and very long build time"
We are seeing really long build times (1 hour and above) and timeout in shippable for project that build within 15 min a couple of days ago.

![screen shot 2015-06-30 at 13 14 38](https://cloud.githubusercontent.com/assets/9881114/8424248/305851be-1f2a-11e5-83fc-0ec0f032f179.png)

![screen shot 2015-06-30 at 13 13 49](https://cloud.githubusercontent.com/assets/9881114/8424252/38cea974-1f2a-11e5-97

[2015-06-30 05:20] thockin opened #1629 "Clicking github link for failed build logs me into shippable but not the build in question"
Clicking the link a second time works better.

[2015-06-30 12:53] dunicaboy opened #1630 "Deployment works but always shows as Timeout"
I have a GAE Maven deployment which seems to deploy correctly.
However, the console always shows it as 'Timeout'

The logs finish with the following;

  Update for module default completed successfully.

    Success.

    Cleaning up temporary files for module default...

    [INFO] ------------------------------------------------------------------------

    [INFO] BUILD SUCCESS

    [INFO] -----

[2015-06-30 12:55] naveensky opened #1631 "Timeout Issues and Build Failing"
Hi,

I am facing timeout issues with my builds which were working pretty good recently. Such builds fail after certain time period.

The url to build is https://app.shippable.com/builds/5592674827d2aa0c00939c8b

Thanks,

[2015-06-30 13:08] mavarazy commented on #923
The file is no longer there, and no clear explanation available, of where to find it.

[2015-06-30 13:23] Gateway85 commented on #1628
it's getting worse to a point where my developers are totally blocked.
![screen shot 2015-06-30 at 21 22 31](https://cloud.githubusercontent.com/assets/9881114/8431766/3d77645e-1f6e-11e5-840a-e8e7847a8ee8.png)

[2015-06-30 13:43] avinci commented on #1628
Looking into it....with get back in a bit. Just saw you fired another build. Let me see if this persists..

[2015-06-30 13:50] avinci commented on #1628
I have upgraded your account for a month, so that it doesn't get locked up. I am monitoring this in the meantime. I apologize very much for your inconvenience and will keep you posted when we find the root cause...

[2015-06-30 16:20] manishas commented on #1630
@dunicaboy this should be fixed now. Sorry about that... we were moving to a new orchestration layer and unearthed many issues at scale so fought with that all day yesterday. We've now reverted back to the original platform and we'll make sure all issues with the new layer are resolved.

[2015-06-30 16:21] manishas commented on #1631
@naveensky can you please try triggering a new build? This should be fixed now.

[2015-06-30 16:26] #1624 closed

[2015-06-30 16:27] gamename commented on #1624
Found the issue.  My bad.

[2015-06-30 17:07] dunicaboy commented on #1630
Thanks that's a great help

Sent from my iPad

[2015-06-30 19:43] xherriot commented on #1631
I think there still is a issue, more than a hour to build & send to docker my image:
https://app.shippable.com/builds/5592b0c0ae8dc80c009d4975

A re-build is currently running (same commit than before), it blocks a long time at the step "upload artifacts":
https://app.shippable.com/builds/5592e8c627c8c80b00b1031d

[2015-06-30 20:42] pilec commented on #1623
Guys? 35 hours without any action? Its blocker issue for us.

[2015-06-30 20:46] manishas commented on #1623
Sorry we had production service issues yesterday and that took up all our bandwidth. I'm following up on this now.

[2015-06-30 20:48] marcospedreiro opened #1632 "Different tags per branch"
Is it possible to have shippable push an image with a different tag based on the branch, or push an image with two tags, the default and a custom tag?

For example, I want to have my master branch push with the tag ```devlatest``` and another branch test push with the tag ```testlatest```.

[2015-06-30 20:51] phagunbaya commented on #1176
+1

[2015-06-30 21:02] manishas commented on #1623
we are adding a way to reset your project and that should address this issue. ETA for a fix is less than 24 hours.

[2015-06-30 21:05] manishas commented on #1632
This is a good scenario and it's on our radar. I've tagged it as a feature request and will let you know when we have an update.

[2015-06-30 21:08] manishas commented on #1630
Closing.

[2015-06-30 21:08] #1630 closed

[2015-06-30 21:09] phagunbaya commented on #1632
Any estimate for the release date ?

[2015-06-30 21:59] manishas commented on #99
Closing as dup of https://github.com/Shippable/support/issues/45. All requests for integration with source control providers will be tracked there.

[2015-06-30 21:59] #99 closed

[2015-06-30 22:00] manishas commented on #136
Closing as dup of https://github.com/Shippable/support/issues/45 since all requests for additional source control integrations will be tracked there.

[2015-06-30 22:00] #136 closed

[2015-06-30 22:20] aschwabe commented on #1626
It appears that this was all caused by yesterday's performance issue with the new container orchestration layer.  Everything seems to be running along fine now.

[2015-06-30 22:20] #1626 closed

[2015-06-30 22:24] pilec commented on #1623
Thank you @manishas !

[2015-07-01 01:53] naveensky commented on #1631
@manishas - They are looking good now. Thanks for the help

[2015-07-01 01:53] #1631 closed

[2015-07-01 04:42] rvdwijngaard commented on #1632
I really need this too

[2015-07-01 05:01] phagunbaya commented on #1632
@manishas : Is there any page/docs where we can see the upcoming features in timely manner ? It will be helpful for everyone of your customers/users to plan their dev and expectations.

[2015-07-01 08:53] Gateway85 commented on #1628
Thanks for the fast reaction. It is working for now. We will come back, should we encounter issues again. Would be great to get to know the root cause, though.

[2015-07-01 12:01] JordanAdams opened #1633 "Unable To Add Private Organisation Repos"
I'm not sure why but I don't seem able to add my organisations private repos. I'm the owner of the organisation so permissions shouldn't be a problem.

I've also gone ahead and checked that Shippable is approved in third-party access.

[2015-07-01 13:01] osumampouw opened #1634 "Build failing but where is the logs?"
Hello,

We're new to shippable. We've been using travis for a while and thinking of switching. When I read that shippable.yml is a superset of travis, I'm interested to try.

So I added shippable.yml to my project and changed some travis env variables like $TRAVIS_BRANCH to $BRANCH. I push the changes to my repo and shippable started building. But then it failed.
https://app.shippable.com/builds/5

[2015-07-01 13:11] TheEadie commented on #1536
Any thoughts on this guys?

[2015-07-01 13:13] avinci commented on #1634
@osumampouw we switched to a new way of handling console output to get fine grain control and we might be losing some logs or late arriving. There is an open issue internally we are tracking as we might have one 1 faulty console processor micro-service. We are trying to pin that down.

Shippable basically looks at the execution return code and decides whether a build step failed or not. So there a

[2015-07-01 13:20] pmoust commented on #1594
Would love to see this implemented.

[2015-07-01 13:34] avinci commented on #1594
I have a question for the folks on this thread.
Internally we are using web hooks to trigger workflows and we are planning to expose that as external triggers. Would that work for you guys?  The reason for web hooks instead of tags is that i believe tags in YML are very primitive and do not give us a lot of execution control, especially from a central vantage point.
for e.g
The issue is with matri

[2015-07-01 13:46] osumampouw commented on #1634
@avinci oh ok, so in my case, it's possible that this step is the culprit because 'after failure' is executed right after this step:
test "$BRANCH" != "master" && gulp ciBumpRequireJS

So test "$BRANCH" should be a valid syntax right? That means the culprit maybe ciBumpRequireJS task from gulp. So as long as gulp ciBumpRequireJS return 0, it should assume that there is no failure?

[2015-07-01 13:57] pmoust commented on #1594
@avinci webhooks would cover our case, essentially this is what we would use the `after_push:` tag for, to ping a deployment service that it can chew the newly pushed docker container. We could've used a Webhook on Dockerhub, but the issue is that Dockehub payload contains no info on tags, so we have no clue "what" triggered the webhook. Our solution is to grab the Dockerhub payload that contains

[2015-07-01 14:11] rageshkrishna commented on #1634
@osumampouw Your build is running on master, so `test "$BRANCH" != "master"` is returning an exit code of 1. This is why the build is failing. Try changing that to:
[code]
This should allow your build to continue.

I don't think there is any console output missing in this case as `test` doesn't print anything. That being said, we should probably write a line right there stating that the build is b

[2015-07-01 14:27] osumampouw commented on #1634
AH, yea I used the "test" as a workaround for if. Lemme try that. Thanks @rageshkrishna

[2015-07-01 14:52] JordanAdams commented on #1633
This appears to have resolved itself over time. I'm not sure how though.

[2015-07-01 14:52] #1633 closed

[2015-07-01 15:02] osumampouw commented on #1634
Cool, it works now. Thanks. Yea it'd be useful to know the reason why the build is failing. But thanks for your prompt reply. Much appreciated.

[2015-07-01 15:02] osumampouw commented on #1634
reopening, if you guys want to add extra info so ppl can know why the build failed.

[2015-07-01 17:26] avinci commented on #1628
root cause of the issue is that we upgraded our orchestration engine and it doesn't seem to handle the load. as a result our main build watcher is dying and hence we were losing handle of the builds.

We have reverted aback to old system and stressing the new orchestration before we upgrade again...

Hope this helps...

[2015-07-01 17:26] #1628 closed

[2015-07-01 17:27] #1617 closed

[2015-07-01 17:32] #1567 closed

[2015-07-01 17:38] manishas commented on #1623
This is now available in project settings tab -

![screen shot 2015-07-01 at 10 36 24 am](https://cloud.githubusercontent.com/assets/2983749/8460888/3812ce76-1fdd-11e5-95d8-8e2dfb153eda.png)

[2015-07-01 17:38] manishas commented on #1623
Please let me know if this works for you.

[2015-07-01 17:42] manishas commented on #1625
@jeffkole is this still happening? I see your recent builds seem fine, but the specific branch for this build was deleted.

[2015-07-01 17:54] jeffkole commented on #1625
Builds are back to normal.  Any idea what may have caused this?

[2015-07-01 19:11] lekhab commented on #1622
@lucmig: can you please send me your yml?

[2015-07-01 19:23] manishas commented on #360
Closing as dup of https://github.com/Shippable/support/issues/105/ which consolidates requests for all languages.

[2015-07-01 19:23] #360 closed

[2015-07-01 19:23] manishas commented on #312
Closing as dup of #105 which consolidates requests for all languages.

[2015-07-01 19:23] #312 closed

[2015-07-01 19:24] manishas commented on #105
Consolidating all asks for additional languages here.

C/C++ - #312 (workaround is to provide custom docker container and lie about the language as python

Perl - #360

[2015-07-01 19:26] manishas commented on #147
This is not on our plate for now. I am marking this postponed and we will revisit when we plan our next milestones.

[2015-07-01 19:26] #147 closed

[2015-07-01 19:30] manishas commented on #194
You can install psi on your minion through your yml and use it for your builds. Please let us know if this doesn't work.

[2015-07-01 19:30] #194 closed

[2015-07-01 19:34] manishas commented on #208
Our Dockerfiles are all in the shippableImages org on github.
We also provide the build script that was run for your build in the script tab on your build page -

![screen shot 2015-07-01 at 12 32 42 pm](https://cloud.githubusercontent.com/assets/2983749/8463186/633618a0-1fed-11e5-9455-448104d2b4f4.png)

Additionally, you can push your container to docker hub or another docker registry and downloa

[2015-07-01 19:34] #208 closed

[2015-07-01 19:34] manishas commented on #255
We are working to improve documentation and videos around using the product. Closing this issue since this doesn't directly impact product.

[2015-07-01 19:34] #255 closed

[2015-07-01 19:36] manishas commented on #261
Closing this issue. We do not support docker in docker as of today. However, customer wanting to spin up topologies for their docker apps can use Shippable Formations.

[2015-07-01 19:36] #261 closed

[2015-07-01 19:37] manishas commented on #271
Closing as dup of #45 which is tracking all scm provider requests.

[2015-07-01 19:37] #271 closed

[2015-07-01 19:38] manishas commented on #182
Closing this issue. Getting build status through api is documented at - http://docs.shippable.com/build_dashboard/#build-badges

Or you can use shields.io

[2015-07-01 19:39] manishas commented on #283
Closing this due to lack of +1 interest. This isn't on our roadmap at the moment but if we hear feedback around this, we will reconsider.

[2015-07-01 19:39] #283 closed

[2015-07-01 19:40] manishas commented on #366
Dup of #30

[2015-07-01 19:40] #366 closed

[2015-07-01 19:41] manishas commented on #314
This is now complete. You can build dockerfiles or use your custom image on our CI platform without dedicated hosts.

Please let us know if this works and any feedback is welcome!!

[2015-07-01 19:41] #314 closed

[2015-07-01 19:43] RX14 commented on #182
This is not fixed!
![](http://i.imgur.com/3lLr2xI.png)

[2015-07-01 19:44] manishas commented on #534
Closing as dup of #105 which is tracking support requests for additional languages.

[2015-07-01 19:44] #534 closed

[2015-07-01 19:45] manishas commented on #582
Closing this since it is available through our API.

[2015-07-01 19:45] #582 closed

[2015-07-01 19:45] avinci commented on #182
You can use our API to get this information. We are adding more API docs, but technically if you create an account level token on Shippable, you can make any calls to our API on behalf of the user whose account was used to create the token.

Does that work?

[2015-07-01 19:47] manishas commented on #182
Re-opened issue. my bad for closing it.

[2015-07-01 20:12] manuel-rubio commented on #105
I don't believe it! did you give support for Rust and not for Erlang?

[2015-07-01 20:14] manishas commented on #105
Neither is supported officially at the moment. I am just consolidating all requests for additional languages.

That said, many customers are using custom docker images with their language tools installed and lying in the language  tag by saying language: python   This isn't a supported feature but many folks were successfully able to run builds.

[2015-07-01 20:18] manishas commented on #775
yml files can be validated at http://yaml-online-parser.appspot.com/ or http://www.yamllint.com/

I have created a docs issue to add this to our docs.

[2015-07-01 20:18] #775 closed

[2015-07-01 20:20] manishas commented on #813
Dup of #794

[2015-07-01 20:20] #813 closed

[2015-07-01 20:24] manishas commented on #826
We have no current plans to allow everyone to cancel or delete builds. Closing this issue.

[2015-07-01 20:24] #826 closed

[2015-07-01 20:24] manishas commented on #844
This UI has completely changed. Please let us know if you're having issues with the new UI.

[2015-07-01 20:24] #844 closed

[2015-07-01 20:26] manuel-rubio commented on #105
I was reviewing... and finally makes no sense :-D ... if I have a docker image, my docker image, I can install inside whatever, makes no sense tell the people: support C/C++; if my docker image has a `gcc` compiler obviously is supported.

[2015-07-01 20:28] lekhab commented on #1400
@jeffkole - I see the builds on your project seem to be doing okay now. Closing this issue. Please re-open if this is still an issue.

[2015-07-01 20:28] #1400 closed

[2015-07-01 20:33] manishas commented on #315
Closing as dup of #190 where i'm consolidating requests for additional tools and services.

[2015-07-01 20:33] #315 closed

[2015-07-01 20:33] manishas commented on #190
Requests so far -
Solr
Sphinx #315

[2015-07-01 20:39] manishas commented on #601
@arielschiavoni @marshall007 are you still running into this?

[2015-07-01 20:42] manishas commented on #532
We now have API access for Shippable paid accounts. Details at http://docs.shippable.com/api and http://docs.shippable.com/api/#builds will show you how to get build artifacts.

Please let us know if this doesn't work.

[2015-07-01 20:42] #532 closed

[2015-07-01 20:44] marshall007 commented on #601
@manishas yea as of yesterday at least, this was still an issue for me with Bitbucket.

[2015-07-01 20:44] manishas commented on #677
Closing this.

API access is now available - http://docs.shippable.com/api so you can use it to download artifacts.

please let us know if you need help with this.

[2015-07-01 20:44] #677 closed

[2015-07-01 20:50] manishas commented on #701
@AndreaCensi i see your latest builds for your project take about 4 mins, so am closing this issue. if you still need help, please re-open or post a comment and we'll take a look.

[2015-07-01 20:50] #701 closed

[2015-07-01 20:58] pilec commented on #1623
It works! Thanks a lot.

[2015-07-01 20:59] manishas commented on #105
You're right, but we have a mandatory language tag in the yml that will not recognize unsupported languages. Hence the need for lying in the tag.

[2015-07-01 21:00] manishas commented on #1623
Glad it worked! Closing this issue :)

[2015-07-01 21:00] #1623 closed

[2015-07-01 21:03] manishas commented on #759
Closing as dup of #105 since all additional language requests are consolidated there.

In general, customers are using officially unsupported languages by supplying their own docker image or dockerfile and installing all their tools in the image. Then they lie on the language tag in the yml by saying ```language: python``` and they can successfully run builds.

We'll explore making this easier and

[2015-07-01 21:03] #759 closed

[2015-07-01 21:06] manishas commented on #768
API is available for all paid customers - http://docs.shippable.com/api/

[2015-07-01 21:06] #768 closed

[2015-07-01 21:08] manishas commented on #1024
Sorry for the delay in updating these issues. Now available - http://blog.shippable.com/daisychaining-builds-with-our-new-public-api

[2015-07-01 21:08] #1024 closed

[2015-07-01 21:09] manishas commented on #737
This should not happen anymore, can you please re-open if you run into this again?

[2015-07-01 21:09] #737 closed

[2015-07-01 21:11] manishas commented on #733
We now have a brand new UI :)

Breadcrumb-like Title With Double-Function - fixed.
Dangerous Delete Buttons - fixed

Additional UI feedback is very welcome since everything;s changed recently. Please let us know :)

[2015-07-01 21:11] #733 closed

[2015-07-01 21:26] manishas commented on #855
This totally fell off the radar. Apologies for that!

I don't see recent builds for your project, so am closing this issue. Let us know if you want us to take a look and we'll prioritize this.

[2015-07-01 21:26] #855 closed

[2015-07-01 21:41] manishas commented on #972
This should work now. closing.

[2015-07-01 21:41] #972 closed

[2015-07-01 21:43] manishas commented on #964
Caching is explained here - http://docs.shippable.com/project_settings/#cache-container

[2015-07-01 21:43] #964 closed

[2015-07-01 21:50] #929 closed

[2015-07-01 21:50] manishas commented on #916
closing.

[2015-07-01 21:50] #916 closed

[2015-07-01 21:54] manishas commented on #927
@nabla-c0d3 This should have been refunded.

We've changed the experience around removing cards, so closing this issue.

[2015-07-01 21:54] #927 closed

[2015-07-01 21:56] manishas commented on #923
new link is - http://docs.shippable.com/project_settings/#git-submodules

At this point, we support this manually. I am closing this issue but if we get enough requests for automation in this area we'll take another look at it.
 Thanks!

[2015-07-01 21:56] #923 closed

[2015-07-01 22:21] lekhab commented on #1408
@SamuelBolduc - it looks like this was resolved. Please re-open if you are still facing an issue.

[2015-07-01 22:21] #1408 closed

[2015-07-01 23:16] lekhab commented on #1412
Apologies for the delay in getting back on this. I do have some info on this from our engineering team -

This uses multiple languages within a container which is not something we support currently.

Since this is a scala build on minv2, we don't initialize nvm.  This means the wrong npm is being called (the one that's in /usr/bin/npm). This can only work if either (1) npm is invoked with sudo, or

[2015-07-01 23:16] #1412 closed

[2015-07-01 23:44] lekhab commented on #1584
@mcbridejc: We were in the process of migrating some users over to a new orchestration layer, which could have potentially caused this. We have reverted back while we iron the issues. Can you please check if you are still facing the same issue?

Apologies for the trouble here..

[2015-07-01 23:49] lekhab commented on #1405
@naveensky: We do have a guide and a sample for how to deploy a Ruby on Rails app to Digital Ocean in our docs here - http://docs.shippable.com/digitalocean/. We are working on adding one for Java - will keep you posted.

[2015-07-01 23:51] lekhab commented on #1414
@fkumro: closing this out. please feel free to re-open if this is still an issue.

[2015-07-01 23:51] #1414 closed

[2015-07-01 23:53] lekhab commented on #1416
@murtyk - hoping this was resolved by the earlier solution. please re-open if you are still facing issues.

[2015-07-01 23:53] #1416 closed

[2015-07-02 00:28] lekhab commented on #1625
@jeffkole: We are in the process of migrating over to a new orchestration layer. This error occurred while you were on the new system. We have since reverted back to our old system, while we iron out these  issues. Hope that explains the hiccup and the return back to normalcy.

[2015-07-02 01:06] lekhab commented on #1609
@stekycz: what is the name of the organization, pls? Are you still facing issues with this?

[2015-07-02 01:14] lekhab commented on #1597
@JefAlive: Please let me know if the previous suggestion worked. I will close this for now. Please re-ope if you are still facing any issues.

[2015-07-02 01:14] #1597 closed

[2015-07-02 05:15] larsbrinkhoff commented on #105
Note that adding support for C should be particularly easy.  The support is already there in the image.

[2015-07-02 05:20] rvdwijngaard commented on #1608
Nice, +1

[2015-07-02 05:46] Gateway85 commented on #1628
thanks for the info
good luck with the next try :)

[2015-07-02 08:12] stekycz commented on #1609
@lekhab Hi, it is working already, there was probably some delay for synchronization. However it would be nice that I could manually force the update of my organizations and repositories.

[2015-07-02 08:55] rvdwijngaard commented on #1587
@manishas build https://app.shippable.com/builds/559149d0d3efa70c00ac48b9 for example;

my shippable.yml file looks like this:
[code]

I think this problem is caused because of the GOPATH value. I made a fork of cobertura which was logging exceptions. Whan I run a build with that package it shows me the following exception:
[code]

[2015-07-02 09:03] rvdwijngaard commented on #1594
@avinci clear explanation, I understand the complexity. We are not using matrix builds until now. I want to deploy an image once has been published to docker repo. I agree with @pmoust  about the dockerhub payload. Since we are on aws we create an sns topic which initiates the deployment for a project. We are using EC2 Container Services to deploy containers on aws. We are now sending the deploy m

[2015-07-02 09:16] bittner commented on #733
First of all: Thanks for fixing the issues I reported!  :+1:

As for the new UI unfortunately I have bad news:

* Navigating the UI and **finding the information** you need has become much worse. My colleagues complain regularly. It's obviously not just a matter of "getting used to it". There are more hierarchies to climb it seems like (or at least feels like).
* The look and feel is **more Travis

[2015-07-02 09:35] osumampouw opened #1635 "Is it possible to get the committer in git as env variable?"
Basically I want to do something like this:

if ($BRANCH != master && $COMMITTER != some-user), stop the whole thing. Don't build/test this commit.

Our use case is as follows:
- we have a post commit hook that bumps our app's version. The post commit hook will then commit and push again to our branch.
- So we want to prevent the build if the the committer is not from our post commit hook otherwis

[2015-07-02 09:35] rvdwijngaard commented on #1480
Hi, any news? I temporarily had to make my repo public just because of the build failures. that is not acceptable. Please advice.

[2015-07-02 09:50] pmoust commented on #1594
Since @rvdwijngaard brought it up, @avinci please reconsider your descision to kill support for dedicated hosts. IAM roles greatly simplify the security implications of a CI/CD in AWS.

[2015-07-02 10:40] HenrikOssipoff opened #1636 "Builds failing without any error"
Example build 559514c90b4aec0c001237a7

It failed the first time due to not being able to fetch a package from PyPI during installation, however, when I re-run the build, it goes into processing mode and almost instantly just errors out. The console is blank.

[2015-07-02 11:15] rageshkrishna commented on #1636
We're seeing some issues with docker pull failing intermittently with an error from the registry. I'll update this as soon as I have more details.

[2015-07-02 11:26] rageshkrishna commented on #1635
We will skip builds that have `[skip ci]` anywhere in the commit message. I'd recommend using this instead of allowing a build to start running just to short-circuit it.

Would this work for you?

To answer your original question, the committer is not exposed as an env variable, but you should be able get that directly with `git --no-pager show -s --format="%an" $COMMIT`. We expose the SHA of the

[2015-07-02 12:58] rageshkrishna commented on #1636
@HenrikOssipoff We are no longer seeing issues with docker pull. It seems to have been a glitch at the Docker Registry. Can you please try a build and let me know if you're still seeing any problems? Thanks.

[2015-07-02 13:09] HenrikOssipoff commented on #1636
@rageshkrishna Everything seems to work now - thanks!

[2015-07-02 13:09] #1636 closed

[2015-07-02 14:49] JefAlive commented on #1597
At [Account Settings → GitHub Identity → Private] I set Private to On and Forced Sync. After a re-login everything got ok.

[2015-07-02 15:12] pelegb opened #1637 "lighthouse periodic update checks don't work"
The following lighthouse definition wasn't updated periodically. I had to press the sync button to receive an update.
https://app.shippable.com/lighthouse/5586c07b5f728b0b000a4bed

Please advise.

[2015-07-02 16:36] manishas commented on #733
@bittner Thanks for the feedback :) We will definitely keep this in mind as we move forward.

Can you provide a bit more detail on what your colleagues are trying to find that is difficult with the new UI? This will help us see if we can address it with small tweaks while keeping the scenario in mind as we evolve the UI.

[2015-07-02 16:48] manishas commented on #1081
Closing. Please re-open if you still have problems with this.

[2015-07-02 16:48] #1081 closed

[2015-07-02 16:49] manishas commented on #1076
@velo I am assuming you're not running into this anymore. Please re-open this issue if you have any more questions.

[2015-07-02 16:49] #1076 closed

[2015-07-02 16:51] manishas commented on #1072
Closing this issue. We believe this is a bitbucket issue.

[2015-07-02 16:51] #1072 closed

[2015-07-02 16:51] manishas commented on #1059
Closing. Please re-open if you still run into this.

[2015-07-02 16:51] #1059 closed

[2015-07-02 16:53] manishas commented on #1043
Closing this issue. Please re-open if you need help with this.

[2015-07-02 16:53] #1043 closed

[2015-07-02 16:54] manishas commented on #1042
We've added node 0.12 to our node specific images. You can use these images by adding the following to your yml -

build_image: shippableimages/ubuntu1204_nodejs

Check out http://docs.shippable.com/languages/#nodejs

Please note that these images do not come preinstalled with tools and services so you'll need to install those in before_install section of the yml. If you also turn on caching, thes

[2015-07-02 16:54] manishas commented on #1042
Closing.

[2015-07-02 16:54] #1042 closed

[2015-07-02 16:57] manishas commented on #1036
@venkateshamurthy apologies for dropping the ball on this. Do you still need help with this?

[2015-07-02 17:01] manishas commented on #956
@topiaruss you're right, we should have included private registry access in our latest release and it was simply due to lack of time that we decided to ship without it.

This is on our roadmap as an important feature request since we also heard this requirement from a lot of folks at Dockercon.

As for an ETA, we're shooting for 7/20. I'll make sure we announce it in this thread as soon as it's av

[2015-07-02 17:06] manishas commented on #1015
This is available now. Please check out http://docs.shippable.com/docker_registries/

We also have a demo video at https://www.youtube.com/watch?v=VKedeesHirE
The video was captured before the GCR UI redesign but should still help with setting everything up.

Please let me know if you have any questions. Thanks!

[2015-07-02 17:06] #1015 closed

[2015-07-02 17:10] manishas commented on #1126
closing as dup of #892. I've entered this into our system and will update when i know more.

[2015-07-02 17:10] #1126 closed

[2015-07-02 17:30] topiaruss commented on #956
Thanks for coming back, @manishas. Sometime this month would be great. I'll be looking out for it!
--r

[2015-07-02 17:48] kkarski opened #1638 "No access or object not found for :id"
Just added a new project to build from BitBucket and tried building a branch for the first time and got this error:

{"id":3000,"message":"No access or object not found for :id 559578f5c5db3c0c00e68156","methodName":"chkPermForId|_getBuildById"}

[2015-07-02 18:17] salazarguille opened #1639 "404 Not Found Fetching deb file in ubuntu Image."
Hello,

When my project run I get this error:

Get:108 http://archive.ubuntu.com/ubuntu/ trusty/main libsaxon-java all 1:6.5.5-10 [1,075 kB]
Get:109 http://archive.ubuntu.com/ubuntu/ trusty/universe libwagon2-java all 2.5-1 [1,278 kB]
Get:110 http://archive.ubuntu.com/ubuntu/ trusty/main libxom-java all 1.2.10-1 [170 kB]
Get:111 http://archive.ubuntu.com/ubuntu/ trusty/universe maven all 3.0.5-1 [

[2015-07-02 18:18] salazarguille commented on #1639
The image used is shipimg/ubuntu1404_java and shipimg/ubuntu1204_java

[2015-07-02 19:29] lekhab commented on #1301
Assuming this is no longer an issue. Closing - please feel free to re-open if you are still facing this.

[2015-07-02 19:29] #1301 closed

[2015-07-02 19:53] caarlos0 opened #1640 "Some PR Commits are being ignored"
Examples:

- https://github.com/ContaAzul/ContaAzul/pull/8063
- https://github.com/ContaAzul/ContaAzul/pull/8066

The last commit of each of them is not being built and they don't appear in the "Pull Requests" view...

[2015-07-02 19:54] lekhab commented on #1391
@superfell: please re-open if the blank console problem still persists. closing out this issue for now.

[2015-07-02 19:54] #1391 closed

[2015-07-02 19:57] lekhab commented on #1471
Our new version went live mid-June. Please check our FAQ here - http://docs.shippable.com/faq/#how-can-i-update-my-shippable-plan  that explains how to upgrade plans in the new version.

Closing the issue.

[2015-07-02 19:57] #1471 closed

[2015-07-02 21:18] lekhab commented on #1485
@sdlarsen: is this still an issue? If it is, can you share details about the email that is still getting invites?

[2015-07-02 21:19] lekhab commented on #1494
@assisrafael: please let me know if this is still an open question. Closing the issue for now.

[2015-07-02 21:19] #1494 closed

[2015-07-02 21:22] lekhab commented on #1537
Closing the issue - since the specific question was addressed.

[2015-07-02 21:22] #1537 closed

[2015-07-02 21:26] lekhab commented on #1549
Yes, using our API does require a paid account, I am afraid.

[2015-07-02 21:33] lekhab commented on #1560
The UI updates over the last few days included adding back the re-run option to the build pages and a few other enhancments based on feedback. Please take a look and let us know what you think.

[2015-07-02 22:06] manishas commented on #1639
@salazarguille can you share your yml file?

Did you try the suggested fixes like running apt-get update before the install command or trying the install command with --fix--missing?

[2015-07-02 22:07] manishas commented on #1638
@kkarski what is the username you sign into shippable with?

[2015-07-02 22:08] manishas commented on #1638
also can you point me to the org/project name you tried to enable?

[2015-07-02 22:09] manishas commented on #1637
@pelegb this should work now. can you please try and let us know?

Also, you can set up email integration and then be notified when we detect a change in your image.

[2015-07-02 22:11] manishas commented on #1619
I am closing this issue, please re-open if you run into this again.

[2015-07-02 22:11] #1619 closed

[2015-07-02 22:12] salazarguille commented on #1639
Yes, I can share my yml.

It is

language: java

jdk:
  - oraclejdk7

runtime:
  - maven

before_install:
  - apt-get install -y maven

script:
  - cd odra-mms
  - mvn clean compile

after_success:
   - mvn clean cobertura:cobertura -P test
   - mvn test -P test

I have:
before_install:
  - apt-get install -y maven

I think it is ok (because it always worked fine).

[2015-07-02 22:25] manishas commented on #359
Closing as DUP of #105 where I'm tracking requests for additional languages and versions

[2015-07-02 22:25] #359 closed

[2015-07-02 22:25] limikael commented on #1549
I realized however that your cheapest plan was only $1 per month, which is very resonable!

[2015-07-02 22:27] manishas commented on #878
Closing as dup of #707 where I'm tracking requests for integration with notification providers.

[2015-07-02 22:27] #878 closed

[2015-07-02 22:28] manishas commented on #707
Tracking all requests for integration with notification providers here,

Slack
Hipchat #878

[2015-07-02 22:29] manishas commented on #1294
I am assuming this doesn't happen any more. Please re-open if you're still running into this.

[2015-07-02 22:29] #1294 closed

[2015-07-02 22:31] manishas commented on #1342
Closing this issue. Please re-open or comment if you're still looking for an answer here.

[2015-07-02 22:31] #1342 closed

[2015-07-02 22:32] manishas commented on #1381
Our minions were not designed to support docker in docker scenarios, so closing this out for now.

[2015-07-02 22:32] #1381 closed

[2015-07-02 22:34] lekhab commented on #1549
@limikael: We launched our new version and updated our pricing plans only a couple of weeks ago :-) Still very reasonable though - it is $10/month/container for a paid plan.

You can read more about our pricing plans here:
https://app.shippable.com/pricing.html

Please let me know if you have any further questions.

[2015-07-02 22:39] manishas commented on #1352
Closing this issue, please re-open or comment if you need more help with your scenario.

[2015-07-02 22:39] #1352 closed

[2015-07-02 22:42] manishas commented on #848
CLosing as DUP of #824 where i'm consolidating all requests for pushing to docker registries and tagging of images.

[2015-07-02 22:42] #848 closed

[2015-07-02 22:46] lekhab commented on #1561
@caesarxuchao: To use our API to download console logs, you need an API token to authenticate. (http://docs.shippable.com/api/#authentication). You can generate an API token by going to your Account Settings page and scroll down to API tokens.

The syntax below worked for me. Please give it a shot and let me know if you have any questions.

wget -qO- -- header "x-api-key:<API_TOKEN>" https://api.s

[2015-07-02 22:47] manishas commented on #864
Please check out Shippable Formations - http://blog.shippable.com/introducing-shippable-formations-devops20-for-dockerized-apps

This allows you to run multi container environments pretty easily. We can best explain with a demo, so feel free to schedule one at https://shippable.youcanbook.me/

Main strengths -
- Define your application as a set of services
- Each service can have one or more conta

[2015-07-02 22:50] manishas commented on #891
@daniel-garcia we introduced post CI dockerbuild a couple of months ago, sorry for the late update here.

Please check out -
http://docs.shippable.com/docker_build/#post-ci-dockerbuild
http://docs.shippable.com/docker_registries/

This should address your scenario completely. Please let me know.

[2015-07-02 22:53] lekhab commented on #1499
@sengenbe: Apologies for the delay in getting back to you.

If this is still an issue, can you please share your yml (minus the unencrypted vars, of course :-) )? Also, can you confirm you generated the secure variables using the encrypt vars functionality in the UI?

[2015-07-02 22:55] manishas commented on #1176
I realized I never updated this thread with the new tagging features we introduced!

Please out our new tagging options -
![screen shot 2015-07-02 at 3 54 02 pm](https://cloud.githubusercontent.com/assets/2983749/8489641/a280b278-20d2-11e5-954b-dfe428bfc8f7.png)

If you want to tag with latest, you can choose custom and enter the tag name there. Does this work?

[2015-07-02 22:56] manishas commented on #1221
@moylop you can now do this with our new tagging options -

![screen shot 2015-07-02 at 3 54 02 pm](https://cloud.githubusercontent.com/assets/2983749/8489648/d211d904-20d2-11e5-82c8-79d3bfd13754.png)

Just choose commitsha and you'll have your images tagged with it.

[2015-07-02 22:56] #1221 closed

[2015-07-02 22:57] manishas commented on #1186
Closing as DUP of #824 where we're tracking all requests related to pushing to docker registries, tagging, etc.

This is near the top of our priority list now so expect an update soon!

[2015-07-02 22:57] #1186 closed

[2015-07-02 23:00] sengenbe commented on #1499
Hi, I did use the UI for the encryption following the examples in the
docs.  I will upload shortly.a
On Jul 2, 2015 5:53 PM, "Lekha Bhargavi" <notifications@github.com> wrote:

[2015-07-02 23:03] manishas commented on #1176
There is one more request here that we haven't addressed, the one where you can push with 2 tags. Closing this issue as a DUP of #824 where I'm tracking all docker registry related issues.

[2015-07-02 23:03] #1176 closed

[2015-07-02 23:04] manishas commented on #1317
Closing as DUP of #824 where i'm tracking all requests for docker registry pushes and after push operations.

[2015-07-02 23:04] #1317 closed

[2015-07-02 23:24] kkarski commented on #1638
Appcrossings.

Just try building any of the empty projects

On Thu, Jul 2, 2015, 15:08 Manisha <notifications@github.com> wrote:

[2015-07-02 23:42] moylop260 commented on #1221
I love you!
Thanks!

[2015-07-02 23:47] manishas commented on #1490
@howarddierking this is on our roadmap and will be available in the next 1-2 weeks. I believe Tom is following up with you over email.

[2015-07-02 23:52] manishas commented on #1594
@pmoust we're already reconsidering :)

Closing the original request as a dup of #824 since i'm consolidating all requests around docker pushes, tags, etc in that issue.

[2015-07-02 23:52] #1594 closed

[2015-07-03 00:01] AaronBedward opened #1641 "Please move Processing and Queued Builds to top of web page"
It would be nice to see which builds are processing or queued near the top of the page

[2015-07-03 00:19] lekhab commented on #1480
@Nalum, @rvdwijngaard: Can you please point me to a failed build?

[2015-07-03 01:03] JADurham909 opened #1642 "Cannot trigger any manual builds from the web"
I cannot seem to trigger builds for any projects.  I just get a server 500 error back on:

https://api.shippable.com/workflow/triggerBuild

This was working fine for most of the day.

<img width="1440" alt="screen shot 2015-07-02 at 9 01 12 pm" src="https://cloud.githubusercontent.com/assets/574966/8490832/8b9d0504-20fd-11e5-8464-a15038a945fa.png">

[2015-07-03 01:03] JADurham909 commented on #1642
I am using BitBucket.

[2015-07-03 02:00] Enalmada commented on #1642
+1.   Shippable with BitBucket appears to be down.

[2015-07-03 02:10] EHLOVader commented on #1642
+1 down for me too. Not just manual builds but also the webhook requests. :-1:

[2015-07-03 02:13] manishas commented on #1642
Thanks for reporting this. I'm escalating this issue...

[2015-07-03 02:29] EHLOVader opened #1643 "New BitBucket Web Hooks"
While looking for causes to #1642 on Bitbuckets end I noticed they recently updated the webhooks.

I know the webhook is added through the API  (at least that is how I remember it happening) but is there anything in the new webhooks which would benefit the process?

Anyway I thought I would notify in case it helped.

__Documentation for new webhooks__
https://confluence.atlassian.com/display/BITBU

[2015-07-03 02:32] manishas commented on #1642
Should be fixed now. Let us know.

[2015-07-03 02:36] EHLOVader commented on #1642
Confirmed it is seeing pushes from BitBucket for me. :+1:

[2015-07-03 04:00] manishas commented on #824
Current set of requests -

- Push PR build images to Docker registry
- Create multiple tags for each build
- Supply an after_push trigger where customers can specify where to deploy the pushed container

[2015-07-03 04:02] manishas commented on #1329
@justjico GCR is now supported -
http://docs.shippable.com/docker_registries/
https://www.youtube.com/watch?v=VKedeesHirE

I am tracking additional registry requests in #800 so if you're looking for quay.io or private registry support, please follow that issue. That is on our roadmap soon as well.

[2015-07-03 04:02] #1329 closed

[2015-07-03 04:03] manishas commented on #956
We're trying to consolidate support issues, so I'm tracking the issue of adding support for quay.io and private docker registries in issue #800

Please follow that issue for updates (as promised, we'll have updates in the next 2-3 weeks).

[2015-07-03 04:03] #956 closed

[2015-07-03 04:06] manishas commented on #1545
@guysyml I wanted to bring your attention to our announcement regarding Shippable formations. You can run your application environments on Formations, we support microservices as well.

You can sign up for a demo here - https://shippable.youcanbook.me/

For more information, check out -
http://blog.shippable.com/introducing-shippable-formations-devops20-for-dockerized-apps
https://app.shippable.co

[2015-07-03 04:08] manishas commented on #1109
@vkuusk I am closing this issue since it's pretty old and your latest builds seem to be fine. Please let us know if you have any other questions. Thanks!!

[2015-07-03 04:08] #1109 closed

[2015-07-03 04:10] manishas commented on #800
We current support Docker Hub and GCR - http://docs.shippable.com/docker_registries/

Requests for additional registry support -
Quay
Private registries

[2015-07-03 04:10] manishas commented on #1000
This should be fixed now. Please comment or re-open if you're still running into this problem.

[2015-07-03 04:10] #1000 closed

[2015-07-03 04:13] manishas commented on #987
We've addressed this through Shippable Formations - http://blog.shippable.com/introducing-shippable-formations-devops20-for-dockerized-apps

Please sign up for a demo to see how it works - https://shippable.youcanbook.me/

@jchamberlain if you believe Formations does not work for you, please send me an email at manisha@shippable.com and we can set up a call to discuss further.

[2015-07-03 04:13] #987 closed

[2015-07-03 04:15] manishas commented on #1234
We've addressed this through Shippable Formations - http://blog.shippable.com/introducing-shippable-formations-devops20-for-dockerized-apps

Please sign up for a demo to see how it works - https://shippable.youcanbook.me/

If you believe Formations does not work for you, please send me an email at manisha@shippable.com and we can set up a call to discuss further.

[2015-07-03 04:15] #1234 closed

[2015-07-03 04:15] manishas commented on #1234
@rarkins we're looking into your scenario and will address it in upcoming weeks.

[2015-07-03 04:19] manishas commented on #764
This was a one time feature request and nobody else has asked for it since we allow canceling builds. Closing, but will keep in mind if we hear this feedback again.

[2015-07-03 04:19] #764 closed

[2015-07-03 04:21] manishas commented on #485
We haven't heard this request again, so I'm closing it out for now. We'll revisit this if we hear this feedback again.

[2015-07-03 04:21] #485 closed

[2015-07-03 04:22] manishas commented on #970
Closing as duplicate of #105

[2015-07-03 04:22] #970 closed

[2015-07-03 04:28] manishas commented on #917
Tracking all additonal platform requests in #457. Closing this issue as a duplicate.

Currently, our immediate roadmap does not include iOS. However, customers do successfully run android builds by installing the SDK on the minions. For example https://github.com/eyedol/kasahorow-Keyboard-For-Android/blob/master/shippable.yml

```    - sudo apt-get install -u lib32stdc++6 lib32z1```

[2015-07-03 04:28] #917 closed

[2015-07-03 04:31] manishas commented on #980
@phagunbaya I think this keeps falling off the radar for some reason. Really sorry about that!

Can you set up a call with us from https://shippable.youcanbook.me/ ?

If you're working from india, please select a time that works for you IST and I will ask someone from our team in India to help debug over a call.

[2015-07-03 04:32] manishas commented on #1094
@phptek did you take a look at our new UI? Do you still have the same problem with it?

Feedback greatly appreciated!

[2015-07-03 04:33] manishas commented on #1056
@willscott The shippable.yml file is per branch so you can configure it differently for each branch.

[2015-07-03 04:33] #1056 closed

[2015-07-03 05:06] jzelinskie commented on #800
I'm an engineer who works on Quay.io, if you have any questions for working to integrate with us, just ping me.

[2015-07-03 05:12] manishas commented on #800
@jzelinskie I'll probably get in touch early next week. What's the best way to reach you?

Thanks for your message!

[2015-07-03 05:30] phagunbaya commented on #980
@Thanks !

[2015-07-03 06:36] jzelinskie commented on #800
@manishas It may seem impersonal, but an email to support@quay.io is probably the best means of contact. This way we can basically tie things into our issue tracker. We don't have a support team, so this is currently a line straight to our engineers.

[2015-07-03 07:23] Nalum commented on #1480
@lekhab: Here is one of mine: https://app.shippable.com/builds/55809d2ce352db0d0056730f

I have removed the submodule yesterday, do you have a recommended way to `go get` private repos?

[2015-07-03 07:30] assisrafael commented on #1494
Yes, I still don't know how to do that. What I need to write into shippable.yml ? The following will work (iojs@2.3.1)?

[code]

[2015-07-03 10:42] JADurham909 commented on #1642
Awesome, it is fine now. :+1:

[2015-07-03 12:58] salazarguille commented on #1639
Hi I fixed it.

I added a apt-get update command in before_install sentence:

before_install:
  - apt-get update
  - apt-get install -y maven

And it worked fine!

I didn't understand why I had to add this sentenc, if it was working fine.

Thank you very much
Regards
Guillermo

[2015-07-03 16:32] stekycz opened #1644 "Updated docker image not pulled"
Hi,

I have updated our docker image however it was not updated during following build (https://app.shippable.com/builds/5596b7d5ddb2810c00bf6941). What should I do to make it updated?

Thank you!

[2015-07-03 19:54] #1642 closed

[2015-07-03 19:56] #891 closed

[2015-07-03 19:56] #882 closed

[2015-07-03 20:15] phptek commented on #1094
A quick look on my iPhone appears to yield a mobile friendly view, good work! I'll need to bust out my lappy to see it in all it's glory :-)

[2015-07-03 20:30] ryanhendry commented on #774
+1

[2015-07-03 21:16] moylop260 commented on #824
Oh my god! :+1:
Really?

[2015-07-03 21:23] manishas commented on #824
@moylop260 I think you misunderstood :) I am consolidating all related feature requests so that we can tackle them together when we start working on this area :)

[2015-07-03 21:33] moylop260 commented on #824
Oh I got it, sorry.
The first point is right!
The second point
The third point I don't told that but is a good point.

- [ ] Push PR build images to Docker registry. Yes, this is my point is this issue.
- [x] Create multiple tags for each build. I saw that this is fixed [here](https://github.com/Shippable/support/issues/1221)
- [ ] Supply an after_push trigger where customers can specify where to

[2015-07-04 00:04] mcbridejc commented on #1584
Re-built the project, and still see same error. Is `shippableimages/ubuntu1404_python` an unusual or perhaps not well-tested image?

[2015-07-04 04:29] venkateshamurthy commented on #1036
thanks for reaching out on this.
Well, the build history is wiped out and am not able to recollect which project it was.
So in general if there are third party repositories that i need to add say as part of settings.xml(usually such dependencies are not to be added in maven pom.xml and hence my question) . does shippable allow that? if so what is the way.
If there is clear example on this it might

[2015-07-04 07:51] osumampouw opened #1645 "deploy and before_deploy hooks"
Hi,

I'm am trying to upload my build artifact to s3. When I used travis I have the following tasks:
- before deploy
- deploy

[code]

My question:
Does shippable has "deploy" and "before_deploy" hooks? I thought since shippable is compatible with travis, it should have one?

Also I noticed after my build was successful, the "after_success" hook was followed by

[code]

Why is it skipping that?
fo

[2015-07-05 17:58] salazarguille opened #1646 "Internal Server Error in Build (new project) / Rerun Build"
Hello,

I am try to build a old project (it was working ok), and creating a new project and I get an internal server error message.

![shippable_errorjpg](https://cloud.githubusercontent.com/assets/5948309/8512712/22dc92c0-2326-11e5-851c-5a23cd71d1e0.JPG)

[2015-07-05 18:00] salazarguille commented on #1639
I resolved this issue adding

before_install:
apt-get update
apt-get install -y maven

[2015-07-05 18:00] #1639 closed

[2015-07-05 19:37] claar commented on #1646
I'm having the same problem with my existing project -- can't rebuild.

[2015-07-05 19:40] esenti commented on #1646
Same issue here, the request to `https://api.shippable.com/workflow/triggerBuild` returns `500` with `Internal Server Error` in the request body.

[2015-07-05 19:44] manishas commented on #1646
Can you please try again? It should work now.

[2015-07-05 19:46] salazarguille commented on #1646
I tried it again two minutes ago, and I got the same error. (I logout/login).

[2015-07-05 19:46] manishas commented on #1646
Actually, hold on. We're looking into it.

[2015-07-05 20:39] manishas commented on #1646
It should work now. Can you please let me know?

Thanks for your patience!!

[2015-07-05 20:41] salazarguille commented on #1646
Yes, Manishas. It worked for me! Thank you very much!.
do I close this issue?

[2015-07-05 20:42] manishas commented on #1646
Yes, please close it :)

[2015-07-05 20:43] salazarguille commented on #1646
It worked for me. I could build/rebuild projects.

[2015-07-05 20:43] #1646 closed

[2015-07-06 02:49] gaumire opened #1647 "unable to locating deployment keys in dashboard"
Hi,

The interface seems to be changing so often that I now do not see the 'deployment keys'  panel in settings, also the subscription panel is not readily accessible. I remember creating one and using a project key for a repo in github. But while trying to get the other key for heroku integration I am not being able to locate it again. Followed @rageshkrishna's blog on deployment keys [here](http

[2015-07-06 07:25] davidopp commented on #1560
I see the re-run link -- thanks!

[2015-07-06 08:53] armicron commented on #1647
hi, maybe it will help #1555
http://blog.shippable.com/continuous-nodejs-deployment-to-digitalocean

[2015-07-06 09:03] gaumire commented on #1647
@armicron thanks, that seems to be it.

[2015-07-06 09:03] #1647 closed

[2015-07-06 11:17] luckyraul opened #1648 "docker build success, but no push"
build id 559a582cce828c0b00372182

[2015-07-06 14:13] caarlos0 commented on #1640
One more:

- https://github.com/ContaAzul/ContaAzul/pull/8086 (commit https://github.com/randalmaia/ContaAzul/commit/10c4043ef138ce242108bf81a5793a568b071b05)

[2015-07-06 14:17] caarlos0 commented on #1640
We see this bug very often here, at least one PR/day...

[2015-07-06 15:03] stevenschwenke opened #1649 "Building JavaFX applications = cannot find symbol -> wrong Java 8 version?"
My Maven project located at https://github.com/stevenschwenke/Java8Workshop fails to build because
<code>
[ERROR] COMPILATION ERROR : [INFO] ------------------------------------------------------------- [ERROR] /home/shippable/workspace/src/github.com/stevenschwenke/Java8Workshop/src/test/java/de/stevenschwenke/java/java8workshop/C_09_JavaFX.java:[193,13] cannot find symbol symbol: class Alert loc

[2015-07-06 16:09] soby commented on #1515
+1, need to revert this to a blank field so the setting in my shippable.yml files will be honored

[2015-07-06 16:11] RobertHerhold opened #1650 "MongoDB configuration?"
Hi,

Typically when you run a MongoDB database from the shell, you can specify a configuration file by using [`mongod --config <config file>`](http://docs.mongodb.org/manual/reference/configuration-options/). Is there any way to achieve this in the `shippable.yml` file where you specify mongodb as a service?

[2015-07-06 16:20] caesarxuchao commented on #1560
Thank you, @lekhab.

[2015-07-06 18:04] manishas commented on #1641
@AaronBedward our current design shows the latest status of all branches for a project at the top, followed by the processing builds. If we hear this feedback from multiple customers, we'll be happy to revisit!

[2015-07-06 18:04] #1641 closed

[2015-07-06 18:44] manishas commented on #1645
@osumampouw as of now, our guide for deploying to S3 is here - http://docs.shippable.com/codedeploy/

It does require the awscli. We will explore additional ways to enable this scenario in upcoming releases.

[2015-07-06 18:44] #1645 closed

[2015-07-06 21:28] manishas commented on #1648
We're looking into this...

[2015-07-06 21:46] hcarver opened #1651 "Non-deterministic error messages in tests"
I'm getting random error messages in my tests about end-of-files and broken pipes. When the error occurs, there'll be a whole bunch of subsequent tests that fail (maybe 20% of the total). They often seem to start with integration tests that use Capybara, though they also seem to then affect database access from functional tests that don't use Capybara.

They almost always take the form of
`EOFErro

[2015-07-06 22:42] manishas commented on #1644
I've entered this as an issue in our internal system. Update as soon as we know more...

[2015-07-07 06:07] cemo opened #1652 "UI enhancements"
1. After permitting to private repositories I had to click refresh button in UI. This is horrible because I lost a couple minutes to figure out why my private repos could not be displayed.

2. The red error message is displayed on main menu. This is pretty bad because I thought that there was a system error. I could not find add project button anywhere in UI.

[2015-07-07 07:53] xherriot opened #1653 "Network issue ?"
Hello,

• Since we use Shippable, we have some errors and when we re-launch these builds, it works:
<img width="1150" alt="screen shot 2015-07-07 at 09 34 53" src="https://cloud.githubusercontent.com/assets/5094797/8541063/85283784-248b-11e5-9a90-f569e8be0486.png">
<img width="683" alt="screen shot 2015-07-07 at 09 25 49" src="https://cloud.githubusercontent.com/assets/5094797/8541068/8914f6fc-248

[2015-07-07 08:28] mozinrat opened #1654 "docker-compose support from shippable with elastic beanstalk"
Sir, I would like to suggest support for deployment on ELB from a docker-compose.yml

[2015-07-07 14:26] rogierslag opened #1655 "Build keep hanging after docker pull"
inventid/neo build are hanging after docker pull until they timeout, numbers are 4288, 4299, 4290.

Not sure why, the logs show no extra information at all

[2015-07-07 15:25] tekram opened #1656 "Upgrade to Bitbucket Webhooks"
https://blog.bitbucket.org/2015/06/24/the-new-bitbucket-webhooks/

Is there anything that needs to be done on our ends for this upgrade?

[2015-07-07 15:56] tekram commented on #1656
https://github.com/Shippable/support/issues/1643

[2015-07-07 15:56] #1656 closed

[2015-07-07 17:59] satyasrikantmantha opened #1657 "Build stuck in waiting state"
Hi,

I queued a build and it is stuck in waiting state for more than 10 minutes.

Normally, the builds are in waiting state if the minions are not available. However, the build I am running is the only one in the queue now and it is stuck in waiting state.

I also tried cancelling the build and running a new one, which is still causing the same issue.

Any help in this direction would be appreciat

[2015-07-07 18:26] jawaid commented on #1657
Please check again. This has been fixed.

[2015-07-07 20:17] tekram opened #1658 "Log not loading"
It seems like this build failed but I am unable to load the log.

https://app.shippable.com/builds/559c2ac3f923de0f0056f3ab

[2015-07-07 21:04] manishas commented on #1644
this is a bug on our side. we'll fix it soon and let you know.

[2015-07-07 21:07] manishas commented on #1644
Until this bug is fixed, we can remove your old image from our hosts so that builds pull your new image. Do you want us to do that? We will need your image name.

[2015-07-07 21:11] manishas commented on #1655
Should be fixed now. Please let us know if it happens again.

[2015-07-07 21:14] manishas commented on #1654
@mozinrat have you checked out Formations - https://app.shippable.com/mktg/#formations

Let me know if this is something that would address your requirements. Formations lets you run multi-container environments very easily without the need to manage infrastructure, provisioning, networking, etc.

[2015-07-07 21:21] manishas commented on #1653
@xherriot can you give me the username you sign in with? I cannot find any builds for the account you're using to post here.

[2015-07-07 21:36] jeffkole commented on #1658
+1.  Having the same issue with https://app.shippable.com/builds/559c43c2c8ded311002a1f2d

[2015-07-07 21:39] jeffkole opened #1659 "All jasmine tests timing out"
https://app.shippable.com/builds/559c3fd9c8ded311002a1208

All of these work just fine locally.  Nothing is different in this build from yesterday's successful build of master other than a `[reset_minion]` tag used to debug other builds that are broken for no clear reason.

https://app.shippable.com/builds/559b03f58469020c00c6999e is a successful build from yesterday with the exact same code.

[2015-07-07 22:06] ric03uec commented on #1650
@RobertHerhold can you try doing the following:
- do not put mongodb in the service section
- start mongodb in `before_install` section like `mongod --config <custom_config> &`

The config file can be generated dynamically (echo "some config" >> mongo.config) before booting mongo server or it can be a part of your repo.

hope this helps

[2015-07-07 23:49] RobertHerhold commented on #1659
Mine are also timing out:
https://app.shippable.com/builds/559adea8ee07b90e00e3b9fd

And the other ones are currently not running at all ("waiting"), will most likely be timed out in about 2 hrs:

https://app.shippable.com/builds/559c598ec8ded311002a936d

[2015-07-07 23:52] jeffkole commented on #1659
Looks like it has been resolved for now.

[2015-07-08 00:00] StephenGrider opened #1660 "100% Test passing, 0 Failures, but Build Fails"
I'm having an issue with this merge build: https://app.shippable.com/builds/559c634ac8ded311002ab0e5
There are no errors being reported by the UI or the console, yet the build is still being marked as failing.

In addition, the commit version of the build is getting a `fail to start chrome` error: https://app.shippable.com/builds/559c634bc8ded311002ab0e8

If any other info is required for troubles

[2015-07-08 00:12] RobertHerhold commented on #1659
Mine is still waiting...
https://app.shippable.com/builds/559c6adf5f95d00b002cc7c5

[2015-07-08 05:55] stekycz commented on #1644
It is possible however what about another change after that? We always find some new reason why our tests fails.

[2015-07-08 06:27] manishas commented on #1644
We're fixing the bug so if you change your image again it will be pulled.

I wanted to unblock you for now by deleting the image from our hosts manually. Let me know if you want us to do that and if so, the image name.

[2015-07-08 07:49] xherriot commented on #1653
Yes, this is another acccount: TechnicalBot

[2015-07-08 07:52] rogierslag commented on #1655
Seems to be happening again to 4293 and 4294.

[2015-07-08 08:15] stekycz commented on #1644
Thank you, the image name is `stekycz/shippable`

[2015-07-08 09:18] antonbass opened #1661 "Build fails despite 100% test pass and console showing no errors"
This has happened a few times now

user: max_power (via bitbucket)

<img width="1282" alt="screen shot 2015-07-08 at 11 17 03" src="https://cloud.githubusercontent.com/assets/5188810/8567105/ec10a508-2562-11e5-9a86-7c1b832be046.png">

<img width="1264" alt="screen shot 2015-07-08 at 11 18 34" src="https://cloud.githubusercontent.com/assets/5188810/8567118/09538964-2563-11e5-877c-489ff01f7481.png">

[2015-07-08 09:19] antonbass commented on #1661
<img width="1264" alt="screen shot 2015-07-08 at 11 18 34" src="https://cloud.githubusercontent.com/assets/5188810/8567141/2d511606-2563-11e5-99e8-ae8e5d5d6daa.png">
<img width="1282" alt="screen shot 2015-07-08 at 11 17 03" src="https://cloud.githubusercontent.com/assets/5188810/8567142/2d6c2ca2-2563-11e5-8124-da894030bb9f.png">

[2015-07-08 09:28] rogierslag commented on #1655
And now it seems to be OK again :)

[2015-07-08 09:46] rogierslag commented on #1655
And now it isnt again. The variableness seems to indicate it is host dependent

[2015-07-08 12:11] pschrammel commented on #1660
Hi,
we're having a similar issue with a ruby environment. Everything passes (all tests, all steps) but we get a build fail.

https://app.shippable.com/builds/559d0ebac6edff0b008ec7d4

[2015-07-08 12:12] pschrammel commented on #1661
duplicate of #1660

[2015-07-08 16:46] manishas commented on #1660
we're looking into this now, thanks!

[2015-07-08 16:46] manishas commented on #1661
we're looking into this now, thanks!

[2015-07-08 17:05] osumampouw opened #1662 "Can't save setting if there's no entry in "Pull image from""
Hi,
I have 3 questions about project settings:
1.) I want to enable save between state in each CI build, does that require a docker container? Because in the project setting, when I enable "Cache Container", it says I have to write something on "Pull image from" field?
2.) If yes, right now I don't have time to setup docker container yet, so I disabled "Cache Container" option, but I still can't r

[2015-07-08 17:10] manishas commented on #892
you can actually do this yourself by add the policy files you want to use in the root of your repo, and the following lines in the yml:

[code]

[2015-07-08 17:10] manishas commented on #1126
you can actually do this yourself by add the policy files you want to use in the root of your repo, and the following lines in the yml:

[code]

[2015-07-08 17:15] StephenGrider commented on #1660
@manishas Thanks for looking into this.  Just to be clear, we are having two separate issues: the build failing with 0 spec failures, and the commit version is failing due to a failure to start chrome.

[2015-07-08 17:15] hcarver commented on #1651
I've done a few trials to get more reliable numbers, and it's actually happening in over 50% of builds. If I want anything to be reliably tested, I have to queue up 5 builds of it to be fairly certain that one will succeed.

I'd really appreciate some action on this, Shippable just isn't a viable CD tool for us as it stands.

[2015-07-08 17:21] manishas commented on #1651
this issue is now in our internal system. one of our devs will soon take a look and we'll update you as soon as we know more.

in the meantime, can you share a specific build link where this error happens and also your shippable.yml?
You can send your yml to manisha@shippable.com if you dont want to paste it here.

Thanks!

[2015-07-08 18:15] hcarver commented on #1651
Great, thanks @manishas

Here are a couple of build links showing the error:
https://app.shippable.com/builds/559d5a534dd79a0b0043aadf
https://app.shippable.com/builds/559bf26c381dfb10005a327d

And our shippable.yml with some bits redacted that ought to be irrelevant:

language: ruby
rvm: 2.2.0
env:
  global:
    - PROJECT=redacted
    - secure: redacted==
    - secure: redacted==
    - secure: re

[2015-07-08 19:06] chriskinsman opened #1663 "Frequent failures from install step running npm install"
We are seeing frequent build failures that causes our builds to stop at the install step while running npm install.

Looking at the console logs it looks like the minion is unable to connect to npmjs.org.

Typically just rerunning the same build several times will cause it to succeed.  It sometimes takes three or four re-runs before it completes successfully.

[2015-07-08 19:13] chriskinsman commented on #1663
The odd part is that is gets part way through.  Check out pushspring/ps-jobscripts Build 1016 for a recent example.

[2015-07-08 20:39] chriskinsman commented on #1663
Just tried adding shippable_retry before it to see if that helps.

[2015-07-08 20:56] ragsden commented on #1663
@chriskinsman We are looking into this and will get back to you soon. Thanks.

[2015-07-08 20:58] Xmio commented on #1640
One more:
https://github.com/Xmio/ContaAzul/commit/cec033df9ce553a9ee4228c52acc41a0d158e2e7

[2015-07-08 21:01] caarlos0 commented on #1640
@manishas can you take a look at this one?

[2015-07-08 21:07] RobertHerhold commented on #1650
Thanks!

[2015-07-08 21:07] #1650 closed

[2015-07-08 21:21] lekhab commented on #1662
@osumampouw:
1. You don't need to do a docker build to enable caching (please let me know if I misunderstood your query here). In the  "Pull Image from" field, enter what was previously specified under `build_image` in your shippable yml. If you are not using a custom build_image and are going with the default, please enter shippable/minv2 in that field. Further details are documented here: http:/

[2015-07-08 21:26] kkarski commented on #1638
Still facing this issue:

{"id":3000,"message":"No access or object not found for :id 559d9568c6edff0b008f20d7","methodName":"chkPermForId|_getBuildById"}

[2015-07-08 21:28] lekhab commented on #1638
@kkarski: can you please share you yml? you can mail me at lekha@shippable.com

[2015-07-08 21:48] ragsden commented on #1663
@chriskinsman : NPM install has errors when trying to build postgres related libraries. This is happening for both 1016 and 1017 builds.
For some reason npm install is ignoring the errors and moving forward in case of build 1017. Ideally 1017 should have failed too. We will have to do some more debugging to understand npm install's behavior.

In the mean time to will have to install postgres to ma

[2015-07-08 22:09] lekhab commented on #1638
build issue resolved via email.

@kkarski: Please let me know if there is anything further I can help you with.

[2015-07-08 22:23] chriskinsman commented on #1663
@ragsden We are actually fine with those native builds failing.  You don't have a build_image with postgres pre-installed and we don't want to take the build perf hit installing it.

When those fail things usually proceed without any issues.  It is just recently that things have started failing right after those steps...

[2015-07-08 22:48] lekhab opened #1664 "Internationalized messages not loading properly on shippable.com"
Opening an issue on behalf of @kkarski:

When my shippable.com initially loads, and the wheel is spinning with the UI loading, the internationalized messages are not loading properly, instead I always see {{...some message key..}} for all the UI elements.

@kkarski: Please paste a screenshot here when you see this happening again.

[2015-07-08 23:20] lekhab commented on #1622
@lucmig: is this still an issue?

I tried doing this in a sample (https://github.com/shippableSamples/sample-bower/) and I was able to install bower successfully.  Please let me know if this is still an open issue for you.

[2015-07-09 01:26] manishas commented on #1490
Just a quick update - I just saw this working in or beta environment! ETA for availability in prod including docs update is Friday 7/10. Thanks!

[2015-07-09 07:33] rvdwijngaard commented on #1480
hi, this is my build which fails: https://app.shippable.com/builds/559e1f204dd79a0b00449452

[2015-07-09 07:59] pquentin opened #1665 "/subscriptions/... page consistently takes more than 10 seconds to load"
Shippable has always been slow since we started using it in December 2014. We had hoped speed would have become a priority, but it does not look like it. Our network is not fast, but Shippable still is the exception. The slowest page on shippable for us it the subscriptions page, that list the status of our 39 shippable projects.

 * On load, Firefox reports 151 requests and 2MB page size, for a p

[2015-07-09 08:02] pquentin commented on #1590
We get hit by this issue nearly every day too.

[2015-07-09 08:04] pquentin opened #1666 "recentBuilds API no longer reports in-progress builds"
Before last month's announcement, Shippable would report in-progress builds, but that is no longer the case. We now only get finished builds.

I'd be happy to elaborate if needed.

[2015-07-09 08:08] pquentin commented on #1664
We sometimes get hit by this too.

Occasionally, it can be a FOUC:

![screen shot 2015-07-09 at 10 05 09](https://cloud.githubusercontent.com/assets/42327/8590593/448273d2-2622-11e5-8f14-9c7cf4571af1.png)

But usually it's just:

![loading_message](https://cloud.githubusercontent.com/assets/42327/8590598/5034ee62-2622-11e5-93d7-6edf91143225.png)

[2015-07-09 08:22] rogierslag commented on #1655
I've updated according to the email that was sent out (about deprecated settings) and we now specify the integrations and the docker images in the new fashion since build _4353_. So far that does not seem to make a difference.

@joostverdoorn this is the reason builds are timing out. If they are still at `docker pull` after three minutes, cancel that build and refire it

[2015-07-09 09:01] osumampouw commented on #1662
oh you're right. Thanks that answers my question :)

[2015-07-09 09:01] #1662 closed

[2015-07-09 11:24] rageshkrishna commented on #1655
@rogierslag I'm looking in to this and I think I know why this is happening. Did you make any recent changes to your image? Would it be possible for you to share your latest Dockerfile with me (ragesh@shippable.com). I think there is something about how your image is set up that our build system isn't expecting. The Dockerfile would help me round this down quickly. Thanks!

[2015-07-09 12:44] rogierslag commented on #1655
Cool thanks for looking into this! I've sent you an email with our docker build instructions. In case you need any more information, please let me know! :heart:

[2015-07-09 17:36] manishas commented on #1640
We'll look into this and get back to you..

[2015-07-09 17:40] manishas commented on #1479
@Andrewwojownik I am closing this issue since your latest builds seem to have passed. Please re-open if you run into this again.

[2015-07-09 17:40] #1479 closed

[2015-07-09 17:40] caarlos0 commented on #1640
Thanks @manishas... It happens almost every day... let me know if I can help with anything...

[2015-07-09 17:41] manishas commented on #1477
Closing this issue. We currently do not support docker in docker scenarios.

[2015-07-09 17:41] #1477 closed

[2015-07-09 17:41] manishas commented on #1464
Closing.

[2015-07-09 17:41] #1464 closed

[2015-07-09 17:44] lekhab commented on #1625
@jeffkole: can you please send me your yml  to help us debug this issue further? you can either paste it here or send it to me at lekha@shippable.com.

[2015-07-09 17:46] manishas commented on #1442
We have completely redone the UI around this and this should show an error notification on the same page. Closing this issue.

[2015-07-09 17:46] #1442 closed

[2015-07-09 17:52] manishas commented on #1435
@Kukunin @jamesmk You can now use custom docker images for your builds. If you include everything you need for your builds in the image, you can get around the periodic slowness in bundle installs.

For more information on how to use custom images, please look at http://docs.shippable.com/docker_registries/

[2015-07-09 17:52] #1435 closed

[2015-07-09 17:54] manishas commented on #1427
I don't think we can address this cleanly as of now.

Comments from our devs on this -
GitHub uses the status of the head branch/commit to determine the pull request status: https://developer.github.com/v3/pulls/#link-relations

The only other way I can think of to put a status on a pull request would be to add a comment to the pull request, which wouldn't change the color of the merge button and

[2015-07-09 17:54] #1427 closed

[2015-07-09 17:56] manishas commented on #1389
Closing this issue. Please feel free to comment or re-open if you are running into this problem.

[2015-07-09 17:56] #1389 closed

[2015-07-09 17:58] manishas commented on #1436
Dup of #45

I am tracking all requests for additional source control providers in that issue.

[2015-07-09 17:58] #1436 closed

[2015-07-09 17:59] manishas commented on #1447
Closing this issue. Please comment or re-open if you're still running into this.

[2015-07-09 17:59] #1447 closed

[2015-07-09 18:01] manishas commented on #1474
@rockerhieu you can now use custom docker images for your builds. So if you have an image with Android SDK installed, you can pull it to use for your builds. More info at http://docs.shippable.com/docker_registries/

Closing this issue. If the suggestion above does not help, please comment and i will re-open. Thanks!

[2015-07-09 18:01] #1474 closed

[2015-07-09 18:02] manishas commented on #1269
The UI has been completely redesigned last month and we've tried to stay away from animations. Thanks for your feedback!

Closing this issue.

[2015-07-09 18:02] #1269 closed

[2015-07-09 18:04] manishas commented on #1259
@adamyao i am closing this issue since it's more than 3 months old. Please re-open or comment if you want us to debug further.

[2015-07-09 18:04] #1259 closed

[2015-07-09 18:06] manishas commented on #1246
Closing this issue since I don't think you're running into this any more.

If you're still experiencing this, please comment or re-open and we'll take another look.

[2015-07-09 18:06] #1246 closed

[2015-07-09 18:08] #1194 closed

[2015-07-09 18:09] manishas commented on #1206
Thanks for this feedback!

UI has been redesigned and this is addressed with the new design. Closing.

[2015-07-09 18:09] #1206 closed

[2015-07-09 18:10] manishas commented on #1224
CLosing this issue since it shouldn't be happening any more.

[2015-07-09 18:10] #1224 closed

[2015-07-09 18:11] manishas commented on #1166
We do not support caching in the same way that Travis does. Our suggestion is to use custom docker images for builds.

You can now use custom images without dedicated hosts :)

[2015-07-09 18:11] #1166 closed

[2015-07-09 18:12] catskul commented on #1269
Thanks : )

On Thu, Jul 9, 2015 at 2:02 PM, Manisha <notifications@github.com> wrote:

[2015-07-09 18:13] lekhab commented on #1604
@stafot: We believe this was happening due to queues getting backed up when we were upgrading to our new system. Please let me know if you are still seeing this and I will re-open.

[2015-07-09 18:13] #1604 closed

[2015-07-09 18:15] manishas commented on #1164
Some issues have been addressed with the new UI -

I'm never sure when a link is going to take me to github or stay in Shippable. There is no need to link back to github because I already know how to find it.
-Addressed. Clicking on a project name or org name will never take you back to github.

The Build History doesn't say the name of the PR, actually claiming it is the master branch... I'm afra

[2015-07-09 18:15] #1164 closed

[2015-07-09 18:18] mathieumg commented on #45
+1 for Stash as well. :+1:

[2015-07-09 18:21] lekhab commented on #1638
@kkarski - you should now be able to build the correct branch from the subscriptions page. closing this issue.

[2015-07-09 18:21] #1638 closed

[2015-07-09 20:04] manishas commented on #901
Dup of #901

[2015-07-09 20:05] manishas commented on #980
This has been addressed, so closing.

Shippable only sends notifications to email addresses configured for the account in GitHub. If you specify an email address in the yml that is not a part of your GitHub config, we do not send emails to that address.

[2015-07-09 20:05] #980 closed

[2015-07-09 20:06] HenrikOssipoff commented on #901
@manishas closed because being a duplicate of itself...?

[2015-07-09 20:06] manishas commented on #1361
Dup of #829

[2015-07-09 20:06] #1361 closed

[2015-07-09 20:09] manishas commented on #601
@rageshkrishna can you take a look at this?

[2015-07-09 20:10] manishas commented on #901
sigh... the follies of trying to get through old support issues and consolidate :(

@HenrikOssipoff meant to leave this open and close https://github.com/Shippable/support/issues/1213 instead. Thanks for pointing out the error!

Reopening.

[2015-07-09 20:10] manishas commented on #1213
Dup of #901.

[2015-07-09 20:10] #1213 closed

[2015-07-09 20:15] manishas commented on #1087
We do not support privileged mode on dedicated hosts, so docker in docker scenarios are unsupported.

If you want to run multi container environments, you should take a look at Formations https://app.shippable.com/mktg/#formations

Let me know if you have any questions. Thanks!

[2015-07-09 20:15] #1087 closed

[2015-07-09 20:34] manishas commented on #1047
We have exposed our API, so please take a look at that to pull build artifacts.

http://docs.shippable.com/api/#builds
The /builds/:buildId/:buildItemNumber/artifacts route should help.

[2015-07-09 20:34] #1047 closed

[2015-07-09 20:36] manishas commented on #938
Dup of #829. This is on our radar now.

[2015-07-09 20:36] #938 closed

[2015-07-09 20:37] manishas commented on #1148
Closing this. @angelathewebdev let us know if you need further assistance with anything.

[2015-07-09 20:37] #1148 closed

[2015-07-09 20:39] manishas commented on #1136
@hshira you can now run dockerbuild without dedicated hosts.

Closing this issue but please leave a comment if you have any questions.

[2015-07-09 20:39] #1136 closed

[2015-07-09 20:45] manishas commented on #1143
Closing since there has been no activity on this for some time now. Please comment or reopen if you have additional questions.

[2015-07-09 20:45] #1143 closed

[2015-07-09 20:49] manishas commented on #1130
We've redesigned the UI and the yml error should be more obvious now.

@mikefeldmangh please let me know if you need help with your build. Sorry it missed our radar :(

[2015-07-09 20:49] #1130 closed

[2015-07-09 20:54] manishas commented on #1121
@pcullin-ratio I'm tagging this so that we can get a build sample for this in the next few days. Closing the issue since the original Istanbul problem has no action item for us.

[2015-07-09 20:54] #1121 closed

[2015-07-09 21:00] manishas commented on #1149
@jtseatwave @leonfs this scenario is addressed with Shippable Formations - https://app.shippable.com/mktg/#formations

Your scenario is a perfect fit for this... please set up a demo with us at https://shippable.youcanbook.me/ to check out how it works.

[2015-07-09 21:01] manishas commented on #1094
Closing. @phptek please let us know any feedback and we'll follow up :)

[2015-07-09 21:01] #1094 closed

[2015-07-09 21:04] manishas commented on #1241
Closing.

[2015-07-09 21:04] #1241 closed

[2015-07-09 21:05] manishas commented on #1230
closing this issue...

[2015-07-09 21:05] #1230 closed

[2015-07-09 21:07] manishas commented on #1207
@fommil are you looking for a follow up?

we do not provide a way to customize the docker run comment today.

[2015-07-09 21:10] manishas commented on #1161
Closing this issue. Please leave a comment if you're still blocked on this and we'll take a deeper look.

[2015-07-09 21:10] #1161 closed

[2015-07-09 21:10] manishas commented on #1353
Closing since the question is answered...

[2015-07-09 21:10] #1353 closed

[2015-07-09 21:32] fommil commented on #1207
@manishas no need, I've moved on to drone thanks.

[2015-07-09 22:56] trentmswanson opened #1667 "docker image tests after build image / before push container"
I would like to run tests on the image output that was built before it's pushed to docker hub.

Is there something like "after_buildimage" or "before_pushcontainer" events where I can execute some scripts to run and test?

How are folks doing  this today?  Am I missing something?

[2015-07-09 23:29] lekhab commented on #1564
Adding updates to the issue from the email thread with @kkarski:

- The OS on the machine is an unsupported one, so unable to upgrade docker. We only support these platforms: http://docs.shippable.com/supported_services/#platforms.  Are you able to use one of the supported platforms?
- Also, shippable/minv2 is a huge image that can potentially cause space issues. We recommend using an image more s

[2015-07-10 01:06] imarichardson commented on #1530
Guess not :(

[2015-07-10 01:08] manishas commented on #1530
We'll take a look at this in the next 24 hours. Sorry for the delay!

[2015-07-10 01:10] imarichardson commented on #1530
Thanks very much. 

I appreciate the response. 

—
Sent from Mailbox

On Thu, Jul 9, 2015 at 8:08 PM, Manisha <notifications@github.com> wrote:

[2015-07-10 07:08] rageshkrishna commented on #601
Hi @marshall007! I'm looking in to this issue now. Can you please forward one of the build notifications that you received on the wrong email address to ragesh@shippable.com? I'd also like to know which address you expect to receive it on.

[2015-07-10 08:37] rogierslag commented on #1655
Fixed with a supporter, our image was partly to blame

[2015-07-10 08:37] #1655 closed

[2015-07-10 08:41] luckyraul opened #1668 "ERROR: Database server does not support the InnoDB storage engine."
build 559ee5bc72c8990c0031cc12

[2015-07-10 09:04] osumampouw opened #1669 "pushing commit from shippable to github just failed silently?"
Hello,

I have a use case that should pretty similar to a lot of other people.

Once my build is successful, I will bump the version of package.json and then I will commit and push back to github.
---
Turns out this is not possible. So I followed the tutorial here: http://avoidingneighbours.blogspot.com/2015/03/pushing-changes-from-shippable-to-github.html
http://blog.shippable.com/demystifying-sh

[2015-07-10 12:18] rageshkrishna commented on #1669
Hi @osumampouw! I don't use gulp a lot so I can't really say exactly why gulp is not reporting an error in this case, but I do have a project that does exactly what you're trying to do (bump package.json, push to GitHub and publish to npm): https://github.com/rageshkrishna/shippable.js/

If you look at [my YML file[](https://github.com/rageshkrishna/shippable.js/blob/master/.shippable.yml) you'll

[2015-07-10 12:52] rageshkrishna commented on #1668
@luckyraul Is it possible you are running in to this Magento issue: http://stackoverflow.com/questions/17284498/innodb-working-still-showing-database-server-does-not-support-innodb-storage-e

I did a `show engines` on mysql inside our container and it definitely lists InnoDB as installed and default:
[code]

[2015-07-10 14:19] luckyraul commented on #1668
I don't think it is a software problem, because on TRAVIS
https://travis-ci.org/mygento/cdn/jobs/69450507
it is working normally with the same ENV parameters

[2015-07-10 14:55] RobertHerhold commented on #1657
This has been happening to me for ~2-3 days... Any news concerning this issue?

[2015-07-10 15:26] rageshkrishna commented on #1668
It works on Travis because they are running MySQL 5.5 whereas our image is running 5.6. I think this confirms the issue I linked to earlier, because the variable that magento is looking for to determine InnoDB availability was removed in MySQL 5.6.

There is currently no way to change MySQL versions short of doing a manual installation in your YML file. It would be easier to just create a custom D

[2015-07-10 15:52] luckyraul commented on #1668
Ok, thanks. Docker is that's I am doing today  and I have the problem  with using docker( already issued). Anyway can you tell me how I can pass ENV variables from matrix for docker building? I know  I can not use them in build command. Maybe you have some events on yml configuration for prebuild scripting?

[2015-07-10 16:16] anowell commented on #53
+1

[2015-07-10 16:58] manishas commented on #1667
@trentmswanson I want to understand your scenario a little bit better before I recommend how to achieve this.

We support 2 workflows with Dockerbuild -

build image from Dockerfile -> pull code from github and put it in the container -> run your unit tests in the container -> if tests pass, push container to docker registry
OR
pull image from docker registry -> pull code from github and put it in

[2015-07-10 17:01] manishas commented on #1668
The docker issue is at https://github.com/Shippable/support/issues/1648

[2015-07-10 17:28] marshall007 commented on #601
@rageshkrishna just emailed you, thanks for taking a look! Let me know if you need anything else from me.

[2015-07-10 17:49] manishas commented on #1490
@howarddierking this is now available. We added support for Quay.io and private registries.

Docs at http://docs.shippable.com/docker_registries/#quayio

Please let me know if it works for you.

[2015-07-10 17:54] howarddierking commented on #1490
trying it now...

[2015-07-10 17:55] manishas commented on #1490
@howarddierking if you run into issues we can do a quick hangout and figure it out. thanks!

[2015-07-10 18:09] trentmswanson commented on #1667
Thanks @manishas, I am using the second workflow you had listed right now.

pull image from docker registry (build image includes grunt packages) -> pull code from github and put it in the container -> run unit tests in the container -> if unit tests pass, build image from Dockerfile (app runtime image) -> push image to docker registry

Is what I would like to do is just test/validate the image be

[2015-07-10 18:17] manishas commented on #1490
@howarddierking one quick tip - you will need to go to account settings, set up your quay integration, and then choose that integration in project settings.

Setting up quay.io integration http://docs.shippable.com/integrations/#quayio -
![screen shot 2015-07-10 at 11 13 26 am](https://cloud.githubusercontent.com/assets/2983749/8625648/ff2123c8-26f4-11e5-88f3-36aeb8da43a4.png)

And then select the

[2015-07-10 19:24] manishas commented on #446
I am closing this issue since the build problems have been addressed. While we have not implemented a status page yet, we post status updates on twitter through our account. Follow us at https://twitter.com/BeShippable

[2015-07-10 19:24] #446 closed

[2015-07-10 19:24] manishas commented on #1469
Closing this issue. @coreybutler let me know if you have any other questions.

[2015-07-10 19:24] #1469 closed

[2015-07-10 19:26] manishas commented on #1459
Closing this issue. @Manc you can now build or pull custom images even without dedicated hosts.

Let me know if you need help getting started.

[2015-07-10 19:26] #1459 closed

[2015-07-10 19:27] manishas commented on #1456
We haven't been able to repro this, so closing this issue.

Please let us know if you're still running into this. Thanks!

[2015-07-10 19:27] #1456 closed

[2015-07-10 19:29] manishas commented on #1426
@henrjk looks like this fell off the radar. Sorry!

I checked your build history and looks like builds are working now. Can I close this issue? If you're still facing problems, please let me know and we'll follow up.

[2015-07-10 19:34] manishas commented on #1472
We haven't looked at this in detail, but @zpchavez seems to have found a solution -
https://github.com/synapsestudios/frontend-template/pull/119
https://github.com/karma-runner/karma/issues/1144

Can you try the solution mentioned in a comment in the karma repo issue and see if that works?

[2015-07-10 19:36] manishas commented on #1343
Closing this issue since this is no longer happening. Push succeeded for the last several builds.

[2015-07-10 19:36] #1343 closed

[2015-07-10 19:38] manishas commented on #1339
I am closing this issue, but please feel free to comment/reopen if you're still running into this problem.

@DanLipsitt you can now use custom images without dedicated hosts, so it will be great if you can try your build on our multi-tenant platform if possible. Thanks!

[2015-07-10 19:38] #1339 closed

[2015-07-10 19:41] manishas commented on #1324
@hranicka are you still seeing this? Sorry this fell off the radar.

We'll be happy to look into it if you can share the repo name you're running into issues with.

[2015-07-10 19:44] manishas commented on #1320
@kkarski are you still having problems with space on custom hosts. I am closing this issue, but please leave a comment if you are still facing this and i'll reopen.

[2015-07-10 19:44] #1320 closed

[2015-07-10 19:46] manishas commented on #1296
UI has been redesigned and this should no longer happen. Let us know if you have any other UI suggestions :)

[2015-07-10 19:46] #1296 closed

[2015-07-10 19:55] hranicka commented on #1324
@manishas everything looks fine.

Maybe, it was a temporary problem and Iˇve forgot tell it here when I've succesfully enabled given repository. Sorry for that.

[2015-07-10 20:40] #1324 closed

[2015-07-10 21:09] manishas commented on #1634
Closing this issue since there is no more work from our side. We'll document this as an FAQ.

[2015-07-10 21:09] #1634 closed

[2015-07-10 21:10] manishas commented on #864
Closing.

[2015-07-10 21:10] #864 closed

[2015-07-10 21:10] manishas commented on #892
Closing this issue since there is nothing else actionable from our side.

[2015-07-10 21:10] #892 closed

[2015-07-10 21:11] manishas commented on #1149
Closing this this scenario is addressed with Formations. Please set up a demo or shoot me an email at manisha@shippable.com if you have questions.

[2015-07-10 21:11] #1149 closed

[2015-07-10 21:11] #1560 closed

[2015-07-10 21:12] #1549 closed

[2015-07-10 21:12] #1561 closed

[2015-07-10 21:12] #1637 closed

[2015-07-10 21:23] caesarxuchao commented on #1561
Hi @lekhab, thank you for the information. I tried the command you provided but still got an authentication error, but I didn't try hard enough anyway. I'll let you know if I need further help. Thanks again.

[2015-07-10 22:36] manishas commented on #1550
@magwas are you still looking for a response to this? I see your latest builds are not timing out.

[2015-07-10 22:38] manishas commented on #1551
DUP of #829. This is on our radar now and will be available in the next few days.

[2015-07-10 22:38] #1551 closed

[2015-07-10 23:00] manishas commented on #1556
@mookjp please let us know if you'd like help debugging this. Sorry it took such a long time for following up!

[2015-07-10 23:04] manishas commented on #1546
@ThaDafinser wouldn't sudo apt-get install php5-ldap work for installing this? That's what I get when I google this issue..

[2015-07-10 23:27] howarddierking commented on #1490
Thanks! I was able to set everything up, but I'm still having a problem when building the container image. I'm not sure what's going on at the moment, but it looks like the docker context directory is different than my project root, because the error I'm getting is that my `node_modules` directory is not found (which isn't right as it should be created when npm install is run).

More generally tho

[2015-07-10 23:34] manishas commented on #1490
@howarddierking thanks for your feedback.

I will go through the 4 points you've listed and respond to each... but to unblock you right now, is it possible for you to share your Dockerfile? We can take a look at why it is failing.

You can send it to manisha@shippable.com if you don't feel comfortable pasting it in here.

[2015-07-10 23:42] howarddierking commented on #1490
emailed - thanks!

[2015-07-11 01:47] osumampouw commented on #1669
ah ok, i think there's something wrong with gulp-git push() method. I can do commit() without problem but when I do push it just failed silently. My solution for now is I did commit() using gulp but I use git push outside gulp.
[code]

[2015-07-11 01:48] #1669 closed

[2015-07-11 03:16] patricioe opened #1670 "java.lang.IllegalStateException: endPosTable already set during a Process Annotation stage in JVM"
Hi support team, I notice this error when running my build. I seems to be a JVM reported issue which does not fail locally.

This is the link to my build: https://app.shippable.com/builds/559f1cac90252e0c006801ce

This is my dev version of the JVM:

[code]

[code]

[2015-07-11 17:33] henrjk commented on #1426
This all of a sudden started working again. So I guess there is no point in trying to see what was happening now. Thank you!

[2015-07-11 17:33] #1426 closed

[2015-07-11 18:06] manishas commented on #1635
Closing this issue since the question was answered. Thanks!

[2015-07-11 18:06] #1635 closed

[2015-07-11 18:07] manishas commented on #1629
I cannot seem to repro this. Can you point me to a specific link i.e. Was this a link in a build status email or the 'details' link on pull request page, etc.

[2015-07-11 18:08] manishas commented on #1625
I am going to close this issue since builds are back to normal. Thanks!

[2015-07-11 18:08] #1625 closed

[2015-07-11 19:58] thockin commented on #1629
Any time I have been away from shippable "too long", this happens.

Offer a PR, shippable runs, fails, and status is red.  Clicking that link
on the PR page takes me to a build-specific URL, which gets rewritten to
lose the build number.  Zgoing bsck and clicking that link again takes me
to the right place.  I assume it has something to do with an auth timeout.

On Sat, Jul 11, 2015 at 11:07 AM, M

[2015-07-12 00:44] patricioe commented on #1670
jdk1.8.0_45.jdk seems to fix the problem. Is it something you guys could upgrade the environment to?

[2015-07-12 02:31] manishas commented on #1648
@luckyraul your latest build pushed to docker hub. Did you change anything? Do you still need help?

[2015-07-12 10:06] luckyraul commented on #1648
i'll check

[2015-07-12 10:07] luckyraul commented on #1648
Anyway can you tell me how I can pass ENV variables from matrix for docker building?

[2015-07-12 12:45] mookjp commented on #1556
I have decided not to use Shippable for the moment. I may start to use this again then hope to get your support. Thanks!

[2015-07-12 12:45] #1556 closed

[2015-07-12 18:35] manishas commented on #1490
Latest update on this issue -
Docker build now succeeds.
Push to Quay did not happen because we only push to registry for commit builds and not PR builds.

There are a few improvements on our plate that are being tracked as a part of #824, including
- Push PR build images to Docker registry
- Create multiple tags for each build
- Supply an after_push trigger where customers can specify where to de

[2015-07-12 18:37] manishas commented on #1632
All docker tag requests are being tracked in #824 since that will give us a consolidated view of what customers want to see in this area.

Closing this issue as a DUP.

[2015-07-12 18:37] #1632 closed

[2015-07-12 19:40] pilec commented on #1644
Can you give me an update pls? This is completely blocker for one of our repo.

[2015-07-12 19:40] pilec commented on #1644
Can you give me an update pls? This is completely blocker for one of our repo.

[2015-07-12 19:40] pilec commented on #1644
Can you give me an update pls? This is completely blocker for one of our repo.

[2015-07-12 19:51] manishas commented on #1644
We've prioritized this super high and we're aiming to get this done in the next 2-3 days.

In the meantime, we can manually remove your old image from our hosts so the next build can pick up the new images. That should unblock you. Can you send me your repo and image name and we'll remove it manually. You can send me an email at manisha@shippable.com with your image name if you don't feel comforta

[2015-07-12 23:35] lcannon commented on #1495
It's now been nearly one and a half months since we opened this issue that is still affecting our development, and we don't even have a single reply or update on the status of this issue?

[2015-07-12 23:53] manishas commented on #1495
@lcannon Sorry it has taken this long! We'll look at it in a few hours and get back to you.

[2015-07-13 00:11] imothee commented on #824
Just like to add my support to an after_push event. We currently have to do
CI -> tests -> artifact build -> Docker build (we use scratch and only put the binary in the Docker image) -> push to docker hub.

We really want this to call ECS/Google Container Engine after the image has been pushed to the registry. We can't build on anywhere else because of the custom dockerbuild requiring the artifact

[2015-07-13 08:38] stevenschwenke commented on #1649
TravisCI is getting the same error on this repository.

[2015-07-13 10:13] pilec commented on #1644
Hi there, image is already in this comment: https://github.com/Shippable/support/issues/1644#issuecomment-119488077 feel free to delete it.

[2015-07-13 11:11] luckyraul commented on #1648
new build same problem

55a39270bd047d0c00e31572

[2015-07-13 11:39] rageshkrishna commented on #1648
@luckyraul Thanks for the latest update. I was able to capture a snapshot of the problem and I think this will help us debug this problem faster. I will let you know as soon as I know more about the issue.

[2015-07-13 12:59] molinto opened #1671 "Error response from daemon: Wrong login/password, please try again"
Keep getting fails, due to this error:
time="2015-07-13T12:58:43Z" level=fatal msg="Error response from daemon: Wrong login/password, please try again"

Wrong login/password for what?

[2015-07-13 13:07] molinto commented on #1671
Linked Docker integration to project & now getting this:
docker: "login" requires a maximum of 1 argument. See 'docker login --help'.

[2015-07-13 15:55] manishas commented on #1671
@molinto can you describe your scenario in a bit more detail? Are you using a custom docker image or just our default one?

Can you share your shippable.yml?

[2015-07-13 16:03] manishas commented on #800
This is now available! You can push and pull images from Quay.io as well as private docker registries.

Check out our docs at http://docs.shippable.com/docker_registries/

Let me know if you have any questions.... feedback much appreciated :)

[2015-07-13 16:04] manishas commented on #1329
This is now available! You can push and pull images from Quay.io as well as private docker registries.

Check out our docs at http://docs.shippable.com/docker_registries/

Let me know if you have any questions.... feedback much appreciated :)

[2015-07-13 16:04] manishas commented on #956
This is now available! You can push and pull images from Quay.io as well as private docker registries.

Check out our docs at http://docs.shippable.com/docker_registries/

Let me know if you have any questions.... feedback much appreciated :)

[2015-07-13 16:11] manishas commented on #1195
Closing this issue. We'll reopen if we get more +1s from customers.

[2015-07-13 16:11] #1195 closed

[2015-07-13 16:14] buley opened #1672 "Worker won't resolve Docker Hub registry"
I'm trying to get up and running for the first time with a Docker image build. Similar to https://github.com/Shippable/support/issues/1386 and https://github.com/Shippable/support/issues/1390 I'm seeing my [builds](https://app.shippable.com/builds/55a3e2bb51e4f50b0006a7e7) error out with an "unable to resolve host" message.

Based on what I've read on the problem, I believe this may be a Shippable

[2015-07-13 16:15] manishas commented on #1500
Docker-in-Docker isn't supported on Shippable today. Closing this issue.
Thanks!

[2015-07-13 16:15] #1500 closed

[2015-07-13 16:16] manishas commented on #1295
Closing since there is no action item for us.. @fakewaffle let me know if you need anything else.

[2015-07-13 16:16] #1295 closed

[2015-07-13 16:24] manishas commented on #1672
@buley You need to configure the following -

- Since you're pulling from docker hub, you will need to set up an account integration by clicking on the gear icon on the top menu. This will take you to account settings, click on 'Integrations' and add one for Docker Hub by entering your credentials. This is documented here - http://docs.shippable.com/integrations/#docker-hub

- In your project sett

[2015-07-13 16:26] buley commented on #1672
I had added the integrations and wired the deploy but I was indeed missing the HUB step. Thank you for the support.

[2015-07-13 16:26] #1672 closed

[2015-07-13 16:29] manishas commented on #1672
@buley if you're trying to pull or push to gcr, you need to specify images names like this -
gcr.io/gcr_project_id/image_name

[2015-07-13 16:33] buley commented on #1672
Thanks @manishas - I seem to be OK w/Docker Hub but haven't gotten GCR to resolve yet

![screen shot 2015-07-13 at 9 33 16 am](https://cloud.githubusercontent.com/assets/86985/8654891/43c78d56-2942-11e5-89fe-4686fdc3ea28.png)

[2015-07-13 16:48] lekhab commented on #1622
please let me know if you would like us to look into this further. closing the issue.

[2015-07-13 16:48] #1622 closed

[2015-07-13 16:52] lekhab commented on #1664
@pquentin/@kkarski: this was fixed in the deployment last week. Please let me know if you still see this in any part of your workflow.

[2015-07-13 16:52] #1664 closed

[2015-07-13 17:35] lekhab commented on #1609
@stekycz: closing since the issue is resolved. The "Force Sync" option under Account settings does force the update of a new organization - I was able to test this works.  (http://docs.shippable.com/account_settings/#account-information).

[2015-07-13 17:35] #1609 closed

[2015-07-13 18:36] curtiszimmerman commented on #800
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

Awesome! <3

[2015-07-13 19:00] StephenGrider commented on #1660
Hi @manishas, I was curious if there was any progress on this issue.

[2015-07-13 19:04] calclavia commented on #174
+1 on this.

[2015-07-13 19:26] manishas commented on #1660
we're looking into the build failing with 0 errors problem and but we haven't been able to find the root cause yet. We might need to add more logging to identify the problem.

I'll follow up on the other issue and let you know what we find.

[2015-07-13 21:54] chriskinsman commented on #1663
@ragsden @manishas Still seeing this quite frequently even after putting in shippable_retry.  We can't see what in the build has failed in the log but it is marked as failed during the npm install phase...

[2015-07-13 23:57] PJnes opened #1673 "Status badges require a none standard font be installed."
The build status badges look terrible unless the user has DejaVuSans installed, as they'll fallback to the browser default.

![screenshot](https://cloud.githubusercontent.com/assets/5631/8663463/141f6d18-29c3-11e5-84d4-5aae0c9c9b38.png)

Any chance of adding some fallbacks alongside DejaVuSans?

[2015-07-14 05:50] manishas commented on #1495
@lcannon your builds are no longer timing out, but looks like 3 of your tests are failing.

[2015-07-14 06:44] lcannon commented on #1495
Thanks!

[2015-07-14 07:17] molinto commented on #1671
Yep, its:
[code]

[2015-07-14 08:28] rvrignaud commented on #824
Hello @moylop260 and @manishas,
I don't see how "Create multiple tags for each build" is fixed by [this issue] (https://github.com/Shippable/support/issues/1221) : this is a change of tag name strategy.
If I am not wrong, multiple tags for each build is a feature ask by @marcospedreiro and myself [here] (https://github.com/Shippable/support/issues/1176#issuecomment-113296512) : support of build nu

[2015-07-14 08:35] pelegb opened #1674 "Unexpected end of file error"
Hi,
I'm receiving unexpected end of file error for the following configuration:
after_success:
    - if [ "${BRANCH}" == "master-production" ]; then
        "./gradlew --stacktrace publishApkRelease -Dorg.gradle.project.track=beta"
      fi

This happend in build:
https://app.shippable.com/builds/55a4b044d5241d0c0031e838

Please assist.
Thanks.

[2015-07-14 08:47] pelegb commented on #1674
missing ';'
sorry

[2015-07-14 08:47] #1674 closed

[2015-07-14 12:54] topiaruss commented on #956
Thanks for the notification.
—r

Russ Ferriday -- Software Product Architect, Developer, Mentor
CEO Topia Systems Ltd.
russf@topia.com  --  +44 7429 518822

[2015-07-14 13:16] celinoaraujo commented on #1640
@manishas Can you take a look? Commits ignored...

https://github.com/ContaAzul/ContaAzul/pull/8236
https://github.com/ContaAzul/ContaAzul/pull/8237

[2015-07-14 15:08] devmach opened #1675 "Internal API error"
When i try to check what's failing with the build, 4 of 5 times I'm getting following error.

[code]

![image](https://cloud.githubusercontent.com/assets/538277/8676625/a017282e-2a18-11e5-8425-4dee7641e672.png)

[2015-07-14 15:13] devmach opened #1676 "Allowing users to report bugs privately"
While reporting bugs through GitHub issues is developer friendly, it's definitely not a business friendly way. There should be a way to report issues privately which won't cause developers headache with their employers.

[2015-07-14 15:42] marcospedreiro commented on #824
+1 @rvrignaud . The feature we are requesting should allow someone to build an image and push two (or more) tags to a repo. As an example I would like to be able to push an image with it's build number, and a tag 'devlatest.'

I would also like to request a feature to allow unique tags per branch. So in the shippable.yml file for example I could specify:

[code]

So whenever someone merges to mast

[2015-07-14 15:44] manishas commented on #824
@rvrignaud multiple tags issue is not fixed. I am tracking all feature requests related to pushing docker images to a registry in this issue so that we can tackle it as a feature area rather than tracking as several separate issues.

So I changed the name of this issue to a consolidated feature request. None of the 3 issues (multiple tags, push to registry for PR builds, after_push trigger) are do

[2015-07-14 18:17] manishas commented on #1676
@devmach another way to report issues privately is to send an email to support@shippable.com

We prefer GitHub issues for a couple of reasons -
- users can help each other out in some cases, so it's a more scalable, community driven way of helping out. This is especially useful when it's a matter of yml configuration for a specific scenario, which can take us some time to figure out but can someti

[2015-07-14 18:17] #1676 closed

[2015-07-14 18:19] manishas commented on #1675
I don't see any projects enabled for your account....what are you clicking on to get to this page?

[2015-07-14 18:23] manishas commented on #1495
Closing this issue since the build is now green. Sorry about the delay on this!

[2015-07-14 18:23] #1495 closed

[2015-07-14 18:29] devmach commented on #1675
@manishas I'm clicking on "Details" link in a pull request (, which redirects me to https://app.shippable.com/builds/55a53b5d322c9a0b00dc0255 ). It's a private repository but shippable should have an access.

![image](https://cloud.githubusercontent.com/assets/538277/8681215/387e8286-2a34-11e5-8018-3828e70021c3.png)

[2015-07-14 18:36] manishas commented on #1675
@devmach have you enabled private repos for your Shippable account?

Here is how you can check -
- Go to account settings by clicking on the gear icon in the top menu (second from right)
- Make sure that for your github identity, both private and public repos are set to ON -
![screen shot 2015-07-14 at 11 33 58 am](https://cloud.githubusercontent.com/assets/2983749/8681462/58ea040e-2a1c-11e5-849e-

[2015-07-14 18:39] manishas commented on #1640
@caarlos0 @celinoaraujo we're tracking this issue at our end and figuring out the best way to fix this. I'll update you soon.

[2015-07-14 18:44] devmach commented on #1675
@manishas : It worked, thanks.

[2015-07-14 18:44] #1675 closed

[2015-07-14 20:12] manishas commented on #800
Closing this issue since Quay and private registries are now supported. Thanks!

[2015-07-14 20:12] #800 closed

[2015-07-14 20:15] manishas commented on #1458
Closing this issue. I see cache being picked up for the latest builds. Please comment or reopen if you're still seeing issues.

[2015-07-14 20:15] #1458 closed

[2015-07-14 20:15] manishas commented on #1472
Closing. @byndcivilization please reopen if the solution in the comment above doesnt work.

[2015-07-14 20:15] #1472 closed

[2015-07-14 20:16] manishas commented on #1483
Closing.

[2015-07-14 20:16] #1483 closed

[2015-07-14 20:23] manishas commented on #1546
closing, please comment or reopen if it foesnt work for you.

[2015-07-14 20:23] #1546 closed

[2015-07-14 20:25] manishas commented on #1657
@RobertHerhold can you share your yml file?

[2015-07-14 20:26] manishas commented on #1545
closing this isue. @guysyml let me know if you have any other questions.

[2015-07-14 20:26] #1545 closed

[2015-07-14 20:32] jamesmk commented on #1458
I'm still seeing this issue in other projects. Here's a project who's latest 6 builds (95-100) have done a full bundle install each time:
https://app.shippable.com/projects/5547b231edd7f2c052df6639

In general about 50% of our builds across multiple projects take 10-20mins due to full bundle installs each build. This isn't acceptable at the rate in which we deploy.

[2015-07-14 20:53] manishas commented on #1515
@jchamberlain @soby clicking on the track icon just below project settings should reset them. please let me know if this is not happening.

i tagged this as a feature request since you're asking for a per branch build image setting. We're going to deprecate the build_image tag in the yml so we'll find a way to address this requirement.

[2015-07-14 20:57] manishas commented on #1514
You'll need to go this through your yml, please look at http://phantomjs.org/build.html

Better, you can supply your own Dockerfile with whatever you need and use that for your builds.

[2015-07-14 20:57] #1514 closed

[2015-07-14 20:59] manishas commented on #1512
@richhl sorry for the late response. you can only delete builds if you're an owner for the project on github or bitbucket.

[2015-07-14 20:59] #1512 closed

[2015-07-14 21:01] manishas commented on #1516
We haven't published the dockerfile for minv2. Our goal is to deprecate it as soon as we introduce an easier way to create custom Dockerfiles.

[2015-07-14 21:01] #1516 closed

[2015-07-14 21:41] heyharvs opened #1677 "service timeout from api.shippable.com"
app.shippable.com appears to be down as well

[2015-07-14 22:20] heyharvs commented on #1677
appears to be working again.. thanks

[2015-07-14 22:20] #1677 closed

[2015-07-14 22:51] manishas commented on #1517
duplicate of #1096. This is due to a Docker limitation and we'll work on giving customers easy ways to clean up periodically.

[2015-07-14 22:51] #1517 closed

[2015-07-14 22:53] manishas commented on #1518
@yellowcap i am really sorry this wasn't answered sooner. Are you still running into this issue?

[2015-07-14 22:54] manishas commented on #1519
@jakirkham are you still running into an error? Please re-open this issue or leave a comment if so. thanks!

[2015-07-14 22:54] #1519 closed

[2015-07-14 23:30] shamasis opened #1678 "Urgent: All builds failing at "Boot" stage saying "A system error occurred""
Build log shows the following:

[code]

We are using docker image: postman/shippable_ubuntu1404

[2015-07-14 23:43] jchamberlain commented on #1678
Getting the same error here.

[2015-07-14 23:43] manishas commented on #1678
we're looking into it.

[2015-07-15 00:44] manishas commented on #1678
This should be resolved now. Can you please try another build?

[2015-07-15 00:45] shamasis commented on #1678
Thanks for prompt response... checking.

[2015-07-15 01:01] shamasis commented on #1678
Fixed! :shipit:

[2015-07-15 01:01] #1678 closed

[2015-07-15 05:01] cloudkite commented on #237
+1

[2015-07-15 07:10] xherriot commented on #1653
It's happening again & again :(

<img width="1231" alt="screen shot 2015-07-15 at 09 04 19" src="https://cloud.githubusercontent.com/assets/5094797/8692701/0dd70100-2ad1-11e5-97f1-6922316fa627.png">

[2015-07-15 10:02] pilec commented on #1644
Hello, here is still this issue without manually removing, can you please fix this or manually remove dock as soon as possible? Thank you!

[2015-07-15 13:55] RazvanPetruescu opened #1679 "shippable uses default java version - 6 - although java 8 is required"

[2015-07-15 13:59] RazvanPetruescu commented on #1679
The content of the shippable.yml file follows ::

`
language: scala

scala:
  - 2.11.7

jdk:
  - oraclejdk8

env:
  global:
  - AWSAccessKeyId=AKIAJJL2U6T3F3Y5JIGA
  - secure: hQEMA6Ze3BI464ifAQf7BPp/ptG8FDL7qU6vuAgjKrr22lFsL7nN8vxjyuEhru8nPM6+D1CE0+q5iwpyPYh4TpUlVBvofksnO4nn/ZNykWt09SEQ7vXjbw3CPdGuRPfPw76EKGyTqGdIZBZOIa4lNoLPQVAVxMAZrBLuIufcCHo/nd22EAA5WGqM5bDl9glNiBBMGc2N1sPQDVn2Lcymt/WzHvv7flZe

[2015-07-15 14:16] epicserve opened #1680 "I can't install gulp"
I can't seem to install gulp. In the Shippable console I'm getting, "``npm ERR! Error: EACCES, mkdir '/usr/lib/node_modules/gulp'``". This is primarily a python project but I wanted to install gulp so that I could run a javascript linter. Here is my ``shippable.yml`` file.

[code]

Here is the console output:
![kpics-django shippable-fix 737 - shippable 2015-07-15 09-09-32](https://cloud.githubuse

[2015-07-15 14:27] epicserve commented on #1680
If I install gulp without using ``-g`` it installs but when it tries to run gulp you get, ``gulp: Command not found``.

[2015-07-15 14:29] manishas commented on #1644
The image has been manually removed. Please let me know if it works. Thanks!

[2015-07-15 15:11] epicserve commented on #1680
I just tried ``sudo npm install -g gulp``, which installs gulp globally, however now when it tries to install the npm packages with ``npm install`` it fails with:

[code]

[2015-07-15 15:14] epicserve commented on #1680
@manishas Any ideas?

[2015-07-15 17:14] pilec commented on #1644
unfortunately it doesn`t work: more information - https://app.shippable.com/builds/55a6848bc85dde0c0069c6d0

[2015-07-15 18:03] manishas commented on #1680
@epicserve we do not support 2 language tags in the yml. If I remove python and just use node.js it gets past the npm install step even with your original yml (i.e. without sudo). Can you give that a shot?

[2015-07-15 18:43] epicserve commented on #1680
@manishas, thank you for your help!

It seems to work ... not very intuitive though. You would think, since I'm running python tests, I would still need the Python language in the language setting. I wonder if you could add some notes in your docs to cover this, it might save someone needing to submit a support issue.

Here is the ``shippable.yml`` file that worked (just in case it helps someone e

[2015-07-15 18:43] #1680 closed

[2015-07-15 19:27] lekhab commented on #1679
taking a look

[2015-07-15 19:57] ragsden commented on #1644
@pilec : I looked at the build and I found that you are using caching turned on and hence builds are not pulling the latest image. For you to pull the latest image, you will have to reset your cache and this can be done by adding [reset minion] tag in the commit message. This will invalidate the cache, pull the latest image. You can find more info here http://shippable-docs-20.readthedocs.org/en/l

[2015-07-15 20:53] manishas commented on #800
@jzelinskie we announced quay integration and posted a blog about it today - http://blog.shippable.com/integrate-with-quay.io-and-private-docker-registry

If possible, would love a retweet from quay so your customers know about this integration - https://twitter.com/BeShippable/status/621386282556616704

Thanks!

[2015-07-15 21:03] manishas commented on #800
@jzelinskie Thanks! I just saw a retweet :)

[2015-07-15 21:24] jzelinskie commented on #800
np @manishas thanks for the integration :+1:

[2015-07-15 21:28] pauljohncleary commented on #1530
I have the same issue... any update?

[2015-07-15 21:29] jchamberlain commented on #1515
Yes, that appears to work. The per branch setting would be nice.

[2015-07-15 21:33] jchamberlain commented on #1665
I second this. The long page loads get pretty tiresome. I have only two projects, but it still takes upwards of 8 seconds before I can see them (Chrome).

[2015-07-15 21:46] lekhab commented on #1679
@RazvanPetruescu: We don't support multiple languages in the YML.

I see you are using a Scala custom image. Since you are already installing scala in ```before_install```, can you try the following and let me know if that works?

* Set the language to Java
* Use the Java custom image (shippableimages/ubuntu1204_java) in project_settings

* When you use the Java custom image, you will need to expl

[2015-07-16 01:01] lekhab commented on #1666
@pquentin: Apologies for the lack of communication here.

We are working on adding better API routes and updated some of the API routes since they were misnomers. Instead of using recentBuilds, you can use ```searchBuilds``` and this will give you all the builds for a project across all states (waiting, queued, processing and completed).

GET  /projects/:projectId/searchBuilds

You can also search

[2015-07-16 04:31] buley opened #1681 "Shippable won't build Centos 7 containers"
I've found the following at the top of a `Dockerfile` will cause my builds to fail on Shippable:

	FROM    centos:latest
	RUN yum -y install epel-release \
	  && yum -y update \
	  && yum -y upgrade
    ...

I've tried a number of different pulled images to build from, but it seems related to (apparently) some usage of AUFS somewhere.  https://github.com/docker/docker/issues/6980 Using the current

[2015-07-16 06:00] buley commented on #1607
This was happening to me today for a few hours. It just now cleared up "on it's own."

[2015-07-16 09:46] dunicaboy commented on #1630
Hi Manisha,

I'm getting the same timeout problem with my GAE project deployment on
shippable.
You fixed it via reversion last time.

Thanks
Denis

On Tue, Jun 30, 2015 at 5:20 PM, Manisha <notifications@github.com> wrote:

[2015-07-16 10:17] pquentin commented on #1666
Thank you @lekhab, this helps a lot!

I've modified my code to use the searchBuilds API, and this is much better since I only need 2 API calls to know our build status instead of n+1 before. And this also solves the in-progress build issue.

:clap:

[2015-07-16 10:17] #1666 closed

[2015-07-16 15:08] rvdwijngaard opened #1682 "System is very slow"
Hi,

I am experiencing performance issues with the console and the build processes. Are you aware of this?

Regards,
Ron

[2015-07-16 15:26] antonienko opened #1683 "Coverage decrease alert"
Would it be possible to implement an alert when the code coverage decreases significantly?

I want to be able to know if some developer pushed code without proper test coverage.

[2015-07-16 16:00] rvdwijngaard commented on #1682
any updates on this: I am not able to run any build at the moment.

[2015-07-16 16:18] manishas commented on #1682
looking into it...

[2015-07-16 16:47] ragsden commented on #1681
@buley : Unfortunately our CI system does not support centos. Currently we support Ubuntu 12.04 and 14.04. Please let m know if you have any questions.
Raghu

[2015-07-16 17:19] ragsden commented on #1681
@buley  My bad, I just realized that you are trying to build an image. Ignore my previous comment.

[2015-07-16 19:11] maazghani opened #1684 "HTTPS error"
It says it is loading scripts from unsecure resources. Please close if it is just related to general slowness issues today.

![img](http://i.imgur.com/5ki2IgB.png)

[2015-07-17 00:05] lekhab commented on #1671
@molinto: I noticed you are still using our old format of integrating with Docker Hub. Can you please delete your Docker Hub credentials from your subscriptions -> settings? And then try running the build again. Since the image you are using is a public image, this should work without adding a project integration.

The only way I can reproduce the error you see is when I my docker login credential

[2015-07-17 00:05] lekhab commented on #1671
Also, did you receive our  email  on the changes you need to make to add Docker Hub Integration in the new version? Also on our blog here: http://blog.shippable.com/shippable-3.0-breaking-changes.

[2015-07-17 00:27] lekhab commented on #1651
@hcarver: Apologies for the delay in getting back to you.

Our devs did some research on this. Looks like ```xvfb``` not booting up before the actual tests start running appears to be causing this issue. Since the project uses Capybara, the probability of selenium or xvfb causing this issue is even more.

Can you add a sleep of 5 seconds after starting xvfb and selenium and see if that alleviates

[2015-07-17 05:06] stevenschwenke commented on #1649
There's a configuration in travis where you can set a new JDK, see https://github.com/travis-ci/travis-ci/issues/4042#issuecomment-109756980

Worked for me.

[2015-07-17 07:48] dunicaboy opened #1685 "Deployment works but always shows as Timeout"
I have a GAE Maven deployment which seems to deploy correctly.
However, the console always shows it as 'Timeout'
This was happening before and was fixed Issue https://github.com/Shippable/support/issues/1630

The logs finish with the following;

Update for module default completed successfully.

Success.

Cleaning up temporary files for module default...

[INFO] -----------------------------------

[2015-07-17 11:02] RobertHerhold opened #1686 "All builds timing out"
Hi,

I've seen a few other issues around like this, but they seem to have been resolved. Additionally, the [Shippable Twitter feed](https://twitter.com/BeShippable/status/621718140498522112) seems to indicate that everything is back up, but my builds still will not run.

https://app.shippable.com/builds/55a88011b891e30b00c3d0cc

[2015-07-17 11:12] mustela opened #1687 "The package karma does not satisfy its siblings' peerDependencies requirements!"
I'm keep having

[code]

[2015-07-17 14:00] mustela commented on #1687
I'm having like a lot of issues today, not mater what I've tried.

No it seems I need to run `npm` with `sudo`?

[code]

You can check the build here https://app.shippable.com/builds/55a9091c4800480c00a539a4

[2015-07-17 14:22] mustela commented on #1687
Now I'm getting

[code]

https://app.shippable.com/builds/55a90e0a47659f1000b37ff3

[2015-07-17 14:27] mustela commented on #1687
Same result without `sudo`

[code]
https://app.shippable.com/builds/55a90f6d03cf740c0099e5eb

[2015-07-17 14:29] mustela commented on #1687
Removing sudo from all the steps

[code]

https://app.shippable.com/builds/55a9106d4800480c00a57861

[2015-07-17 14:45] mustela commented on #1687
It seems that the issue is

[code]

Thats the only difference with the previous builds that didn't work

[code]

Run manually - success: https://app.shippable.com/builds/55a912dbca4deb0c008dc47f

Now I'm running all the builds manually and seems to be passing, whats the problem here?

[2015-07-17 15:56] mustela opened #1688 "Build process is totally hang"
A built has been triggered an hour ago and I only have:

`Waiting for logs...`

https://app.shippable.com/builds/55a9184d2434f00c00d16ab1

[2015-07-17 16:28] rageshkrishna commented on #1687
Hello @mustela! I believe some of the issues are because your YML sets language to php and you're trying to use nodejs. In this scenario, we do not automatically initialize the nvm based CI environment for nodejs. Try this in your `before_install`:

[code]

Once you do this, you'll be able to avoid all the `sudo` madness while doing `npm install -g`. Please try this out with and let me know how it

[2015-07-17 16:31] mustela commented on #1687
I don't think so, since it was perfectly running yesterday (and way before), AND is working now again.. so I suppose there is something wrong in your end.

[2015-07-17 16:33] manishas commented on #1688
@mustela I don't see any builds waiting.... one build is in processing state. I see you canceled a few an hour ago, so we'll take a look and see if we find why those builds didn't start.

[2015-07-17 16:36] mustela commented on #1688
@manishas yes I had to cancel them all and trigger the builds again which btw is taking a lot https://app.shippable.com/builds/55a92ab7ca4deb0c008ea4f6

[2015-07-17 16:39] rageshkrishna commented on #1687
Interesting... In that case I have a couple of questions:

1. Did anything change in your package.json recently?
1. Did the builds start running after you cleared the cached images?

I see your latest builds are not using `npm install -g`, so sudo isn't really necessary in this case.

[2015-07-17 16:45] mustela commented on #1687
1 - No at the beginning when we started with all the issues. It was later that I changed it
[code]

2 - Yes

[2015-07-17 16:56] rageshkrishna commented on #1687
Thanks for the details. The closest thing I could find around this was https://github.com/karma-runner/karma/issues/873. I know that's a _really_ old issue, but it seems to suggest that the original error you ran in to can show up if you somehow end up with cached versions of grunt-karma and karma that are incompatible with each other.

This, coupled with the fact that a new grunt-karma version wa

[2015-07-17 18:38] patricioe commented on #1670
Hi. Any news on this? I just noticed Oracle released a _51 version.

[2015-07-17 19:06] mustela commented on #1687
Yes I'm sure it was something related to the cache of the images plus the version of karma...

Thanks anyways!

[2015-07-17 19:15] lekhab commented on #1679
closing this. please let me know if you are need any further help and I will re-open.

[2015-07-17 19:15] #1679 closed

[2015-07-17 19:20] lekhab commented on #1659
Closing this, since the original issue is resolved and another issue is open for @RobertHerhold's specific build (#1686)

[2015-07-17 19:20] #1659 closed

[2015-07-17 19:37] lekhab commented on #1685
following up

[2015-07-17 22:00] moylop260 opened #1689 "Error: Invalid version specified with $PGCLUSTER"
I have a custom image with postgres installed.
I create a new local container and start postgresql.
Work fine!

Now, I added to my .shippable.yml file my custom-image with postgres and same command to start postgresql.

Shippable create a new build and now I have next error:
`Error: Invalid version specified with $PGCLUSTER`
![error shippable](https://cloud.githubusercontent.com/assets/6644187/875

[2015-07-17 22:13] lekhab commented on #1684
@maazghani: this was related to the performance issues yday. you shouldn't be seeing this now. We are actively addressing the root cause related to the slowness - thanks for your patience!

[2015-07-17 22:13] #1684 closed

[2015-07-17 23:22] lekhab commented on #1682
@rvdwijngaard: There were performance issues yesterday that has since been resolved. We are actively working on addressing the root cause related to the slowness. Thanks for your patience!

[2015-07-17 23:22] #1682 closed

[2015-07-18 00:10] lekhab commented on #1649
@stevenschwenke: glad you were able to work it out using the travis setting :-)

FYI - The shippable custom image for java: shippableimages/ubuntu1204_java is also now updated to 1.8.0_45 and I could run a fork of your project successfully with that image.

Under project settings, set your build image to ```shippableimages/ubuntu1204_java```

Since it is a custom image and does not add any service

[2015-07-18 00:28] lekhab commented on #1657
@RobertHerhold - following up on your issue in #1686.

Closing this one. @satyasrikantmantha: please let me know if you are still seeing issues with your builds.

[2015-07-18 00:28] #1657 closed

[2015-07-18 00:29] lekhab commented on #1686
@RobertHerhold: can you please share your YML? This seems specific to your project and I am unable to reproduce it with our sample mongo projects. The YML would help us look into this further.

Have you tried running this on a multi-tenant?

[2015-07-18 01:21] RobertHerhold commented on #1686
@lekhab

My YML file is:

[code]

The `config.yml` file referenced in the `before_install` section:
[code]

The `logQueries.sh` file in the `before_script` section:
[code]

[2015-07-18 10:56] ils-rachna opened #1690 "Is there any way to check the output data expected from database when the test case is executed?"
My issue is, when ever we run test cases by putting some static data in it; the test gets executed and gives out result but it doesn't connects to the database. Then how we will come to know that weather the service is fetching correct data or not.

Thanks

[2015-07-18 20:15] manishas commented on #53
This is now available :) Anyone with a link can view public project results!

@anowell @geshan @qadan @bobeagan @certik @ArturT @lkiesow  @pkaminski @nigelgbanks @jordandukart @RX14 would be great to get some feedback! Thanks for your patience!

[2015-07-18 20:15] #53 closed

[2015-07-18 20:17] manishas commented on #1553
This is now available.... you can view build results of public projects without signing into shippable.

[2015-07-18 20:17] #1553 closed

[2015-07-18 20:19] manishas commented on #1502
Shippable build results are now public and do not require signing into Shippable. Thanks!

[2015-07-18 20:19] #1502 closed

[2015-07-18 20:20] manishas commented on #1029
This is now available... you can view your build results through an anonymous browser :)

[2015-07-18 20:20] #1029 closed

[2015-07-18 20:26] certik commented on #53
Awesome, thanks @manishas!

[2015-07-18 21:50] calebwherry opened #1691 "Automatically bring up new EC2 instance before running tests?"
Instead of paying Amazon to keep an EC2 instance running 24/7, is there a way to have shippable spin one up automatically when tests are triggered?

Thanks!

[2015-07-19 05:14] garthk opened #1692 "Extract file from container; publish as binary asset to GitHub release"
I need to run a task in a Docker container and extract the result, e.g.:

[code]

How do I do this with a pre- or post-CI Docker build? The documentation doesn't make it clear whether Shippable can conclude a build by extracting build artifacts and [post it to a GitHub release](https://github.com/quantum/shippable-utils/blob/master/github-release.sh).

[2015-07-19 10:29] mavarazy commented on #1370
+1

[2015-07-19 13:14] mavarazy commented on #1370
It started working for me
I've added

    before_install:
         - sudo mongod &

&

    after_script:
        - sudo mongod --shutdown

My working docker image is https://github.com/mavarazy/shippable

I would expect Shippable to keep logic for starting services, so that I could install mongodb, redis e t.c. in my build container and start it in shippable with

    services:
        - mongodb

[2015-07-19 15:16] RobertHerhold commented on #1686
I just tried another repo, and the build still hangs:

https://app.shippable.com/projects/55abbe36edd7f2c05278150d

YML:
[code]

 I believe its an issue with my account.

[2015-07-20 03:52] trollixx commented on #53
Unfortunately, [`/latest` link](https://app.shippable.com/projects/54ac2ce4d46935d5fbc19b84/builds/latest) doesn't work and returns the following error:

[code]

[2015-07-20 08:15] lukefrake commented on #1673
:+1:

[2015-07-20 09:05] phagunbaya opened #1693 "Cannot access shippable UI"
API : `https://api.shippable.com/accounts` returns 503

![screen shot 2015-07-20 at 2 34 46 pm](https://cloud.githubusercontent.com/assets/1146297/8772779/9b0e2e58-2eec-11e5-942d-88989a0a54ae.png)

[2015-07-20 09:14] rageshkrishna commented on #1693
We're looking in to this. I'll update here once I have more information to share.

[2015-07-20 09:16] Nalum opened #1694 "API Rate limit"
I am trying to log into shippable and I am getting the following error:

[code]

[2015-07-20 09:33] rageshkrishna commented on #1693
We had some trouble with our API containers. Things should be back to normal now.

@phagunbaya Please let me know if it looks good at your end. Thanks!

[2015-07-20 09:35] phagunbaya commented on #1693
Seems back to normal. Thanks !

[2015-07-20 09:35] #1693 closed

[2015-07-20 09:37] Nalum commented on #1694
Actually this looks like it's a limit of Github, though why I'm hitting it I don't know.

[2015-07-20 09:37] #1694 closed

[2015-07-20 09:59] pmoust commented on #1427
The PR list when two branches (let A, B) from another branch (let C) contains only C-to-A or B-to-A.
I think this is related.

[2015-07-20 10:01] pmoust commented on #1117
Closing since dedicated nodes are deprecated.

[2015-07-20 10:01] #1117 closed

[2015-07-20 10:01] Nalum opened #1695 "GO Versions"
I'm trying to run tests on a go project and have added the following versions:
[code]

The problem I'm encountering is the following for both `release` and `tip`:

![shippable-error-01](https://cloud.githubusercontent.com/assets/384180/8773753/99119d10-2ece-11e5-814e-9fd0c2d82a5b.png)

[2015-07-20 10:01] pmoust commented on #973
Closing since dedicated nodes are deprecated.

[2015-07-20 10:01] #973 closed

[2015-07-20 10:28] Nalum commented on #1480
Is there any update on this? I'm also getting this for packages that are just sub-packages in the same repo.

[2015-07-20 13:55] xherriot opened #1696 "Download console logs not allowed"
Hello,

I can not download the console logs:
[code]

It seems to be the same for all my builds.
It worked fine few days ago.

Thanks.

[2015-07-20 14:23] dunicaboy commented on #1685
Any success with this. My deployments still timeout

[2015-07-20 16:54] mustela commented on #1687
@rageshkrishna hi there, the issue is getting really annoying, would you mind to take a look ? https://app.shippable.com/builds/55ad263b1b835d0c004b9928

[2015-07-20 17:25] mustela commented on #1687
@rageshkrishna 31 minutes already... its just stuck in ... :(

` Waiting for logs...`

https://app.shippable.com/builds/55ad274c1b835d0c004c6418

[2015-07-20 17:31] lekhab commented on #1685
@dunicaboy: your builds should work now - I just ran a test build for you and it went through successfully. We are following up on the root cause of why your build is timing out on the new orchestration layer. In the meantime, we have moved you back to the previous version.

[2015-07-20 18:13] dunicaboy commented on #1685
Thanks for ur help

Sent from my iPhone

[2015-07-20 19:22] lekhab commented on #1696
@xherriot: can you please point me to a build link with the problem?

[2015-07-20 20:17] dennissugar commented on #1696
I am having the same problem:

https://app.shippable.com/builds/55ad42d516bc8f0c00664aa0

[2015-07-20 20:23] lekhab commented on #1696
following up

[2015-07-20 20:25] lekhab commented on #1686
@RobertHerhold: do you mind if I remove your dedicated host while I test this out? Or could you see if you are facing the same issue when you don't use a dedicated host?

[2015-07-20 20:52] rudism opened #1697 "Long-running mono process segfaults"
I am having an issue with a shippable build that installs mono, compiles a project, and then runs some integration tests.

Here is an example of a failed build:
https://app.shippable.com/builds/55ad582a696c7f0b00588662

The step that fails is using mono to run the xunit console runner against our integration tests DLL. The integration tests are probably the most resource intensive step of our buil

[2015-07-20 22:02] tekram commented on #1661
1+ on this. https://app.shippable.com/builds/55ad569f696c7f0b0056ef92

[2015-07-21 02:11] RobertHerhold commented on #1686
Feel free to remove it. I actually un-provisioned the VM a few weeks ago.

[2015-07-21 04:13] rageshkrishna commented on #1687
@mustela Can you make a couple of changes to your YML:

1. Initialize nvm as part of your before_install YML like I described in https://github.com/Shippable/support/issues/1687#issuecomment-122333360
1. Add `-g` to your npm install: `npm install -g grunt grunt-cli karma karma-cli bower`

I suspect by not using `-g`, you're running in to some strange conflict between that grunt-karma wants to inst

[2015-07-21 04:14] rageshkrishna commented on #1687
Also, don't forget to `[reset_minion]` once again so we can start from a clean slate and see if this recurs.

[2015-07-21 05:35] xherriot commented on #1696
https://app.shippable.com/builds/55ad2a22b925f20b00601a41

[2015-07-21 08:09] mustela commented on #1687
@rageshkrishna that doesn't work, take a look https://app.shippable.com/builds/55adf7e6bb6b0b0c005e73fb

[2015-07-21 08:16] AbdealiJK opened #1698 "MultiOS Tests"
HI,

I was trying to setup tests for windows, OSX and Linux on shippable - and I wasn't able to find any yaml configuration for making a build matrix with all three.

Is multi OS tests possible ?

Is there any example yml file to test all 3 OSes with python I could refer to ?

[2015-07-21 08:33] rageshkrishna commented on #1687
@mustela I think we're getting close... Looks like we need a couple of more changes to your before_install.

[code]

[2015-07-21 09:05] mustela commented on #1687
Thanks @rageshkrishna ! Its working now!

[2015-07-21 09:05] #1687 closed

[2015-07-21 10:21] shamasis opened #1699 "What could be the reasons why we are not triggering a build for Pull Requests on Bitbucket?"
Our shippable integration with Bitbucket is working just fine, except that no build is triggered when Pull requests are sent or updated. What would be a way to debug this? Could it be any issue that we caused during configuring shippable from our end?

[2015-07-21 10:26] kellyodonovan opened #1700 "Builds taking too long and not working sometimes"
This is happening far too often recently.

Builds can take up to an hour or sometimes longer.

Please see recent builds:
![screen shot 2015-07-21 at 11 18 01 am](https://cloud.githubusercontent.com/assets/9378953/8798574/2ab20f94-2f9b-11e5-9dd4-bc7099c4153e.png)

We pay for your service and of late it's not been acceptable.

Could somebody please look into our case?

[2015-07-21 12:41] rageshkrishna commented on #1700
@kellyodonovan We're looking in to this. I'll update this issue as soon as I have more details.

[2015-07-21 13:24] geekazoid commented on #1689
I'm experiencing this issue as well, but in different situation:

part of my `shippable.yml`:

[code]

the output:

[code]

[2015-07-21 13:32] amondnet commented on #237
+1

[2015-07-21 14:23] pelegb commented on #1700
We're having the same issue. Our build is stuck on "Waiting for mysql to start ..."

[2015-07-21 14:35] sigvef opened #1701 "Builds hang on "Waiting for mysql to start...""
All builds seem to hang on "Waiting for mysql to start..." during `start_services`. Mysql is not specified as a service in `shippable.yml`, and since [".. services are turned off by default .."](http://docs.shippable.com/yml_reference/#services) it should not try to start in the first place, as far as I can tell.

Here is an example of a build failing: https://app.shippable.com/builds/55ae4dbcbb6b

[2015-07-21 14:36] naveensky commented on #1700
My builds are getting failed/stuck.

https://app.shippable.com/builds/55ae563bdd1c9a0b00f273a8

[2015-07-21 14:37] sigvef commented on #1701
https://github.com/Shippable/support/issues/564 contains previous discussion about mysql starting without being specified in `shippable.yml`, for reference.

[2015-07-21 14:48] rageshkrishna commented on #1700
We're seeing some performance issues on some of our minion hosts. This is manifesting as mysql start errors on builds running on those hosts. We're now taking these hosts out of service. I'll update this issue as we make progress on this.

[2015-07-21 15:17] rjferguson21 commented on #1701
We are also experiencing this issue.

[2015-07-21 15:58] simensen commented on #1701
This is quite problematic for us. If it was just the 10 seconds lost to running MySQL and PostgreSQL that would be one thing, but we are seeing this  "Waiting for mysql to start..." problem several times a day and we're not even using the system super heavily yet. Is there something wrong w/ one of the minion default images that causes this?

[2015-07-21 16:09] phagunbaya commented on #1700
+1 on builds taking more time than before.

[2015-07-21 17:01] juanpabloaj commented on #1701
I have the same problem

[2015-07-21 17:02] mspanc commented on #1689
+1

[2015-07-21 17:59] lekhab commented on #1700
this has been resolved now. please let us know if you still facing issues on these builds.

[2015-07-21 18:00] lekhab commented on #1701
this is now resolved. please let us know if you are still seeing the mysql errors in your builds.

[2015-07-21 18:09] rjferguson21 commented on #1701
Is there any recommendation about ensuring the services are off by default?  There seems to be some confusion around why mysql was being run in the first place.

[2015-07-21 18:14] manishas commented on #1701
We only start some services automatically if you use our default image.

If you use your custom docker image or provide a Dockerfile that is built each time, we will not start anything automatically. You can also use our of our barebones language specific images - check out the build image section of the language you're using at http://docs.shippable.com/languages/

[2015-07-21 19:43] lekhab commented on #1699
@shamasis: PR webhook builds on Bitbucket are not supported currently. There is an open feature request for this here - https://github.com/Shippable/support/issues/237. Please follow updates on that issue.

Linking this to the feature request and closing.

[2015-07-21 19:43] #1699 closed

[2015-07-21 20:10] manishas commented on #1699
To add some context, bitbucket did not support webhooks for pull requests builds until very recently.
They recently made some changes to their API and now looks like they've added support. This is high on our priority list and we will address this as soon as we have the bandwidth to work on it.

[2015-07-21 20:43] lekhab commented on #1686
@RobertHerhold: I removed the dedicated nodes and your builds are no longer timing out.

Can you try and re-run the build after uncommenting the mongodb lines?

https://app.shippable.com/builds/55aea7ed0740160b00e2bc21

[2015-07-21 20:55] RobertHerhold commented on #1686
@lekhab It works great, thanks for the help!

[2015-07-21 20:55] #1686 closed

[2015-07-21 20:59] RobertHerhold opened #1702 "Newer MongoDB version?"
Hi,

I was wondering if it was possible to get a newer version of MongoDB. On the existing MongoDB version of 2.4.12, it seems that you cannot use the `systemLog` property in a configuration file, such as the following:

[code]

On the Shippable build, I get this error:

[code]
When I try the same command (`mongod --config config.yml`) on my local machine, which is running MongoDB 3.0.4, it works

[2015-07-21 21:01] phagunbaya commented on #1700
Looks better now. Thanks !

[2015-07-21 21:33] michaelcho opened #1703 "Unable to disable docker images after initialing enabling"
We tried to enable cache container and docker images using Project Settings. This did not work out too well for us, so I then tried to "undo" this by disabling cache container and docker images.

However it displayed an error message - http://www.piktorious.com/shots/e444a3

And our tests are also unable to run, since it now keeps trying to pull from docker - http://www.piktorious.com/shots/ccdf93

[2015-07-21 21:43] manishas commented on #1703
To clear all docker related project settings, you can click on the trash icon just under cache container in the project settings section. Let me know if that works for you. Thanks!

[2015-07-21 22:05] #1701 closed

[2015-07-21 22:05] #1700 closed

[2015-07-21 22:24] sigvef commented on #1701
Thanks! The mysql errors are gone.

[2015-07-22 01:59] ddelnano opened #1704 "Build gets queued but gets stuck"
Just tried to setup my project with your service.  My build is stuck in the queued stage for over an hour.  Here is a link to the repository with my [shippable.yml file](https://github.com/ddelnano/dredd-hooks-php)

[2015-07-22 02:28] sleverbor opened #1705 "bundle install --local ignored"
seems to install from rubygems anyway

[2015-07-22 07:42] pmoust opened #1706 "Builds are stuck in queue and minions appear full even if no build is actually running"
https://app.shippable.com/subscriptions/5480429dd46935d5fbbf5213

Minions usage is reported at 4/4. Builds are starting to pile up in queue.
No build is running.

[2015-07-22 08:02] rageshkrishna commented on #1706
We're looking in to this. I'll update this issue as soon as I have more details.

[2015-07-22 09:16] Nalum opened #1707 "Selenium Browsers"
Is Firefox the only browser you support or can we also use Chrome/Opera?

[2015-07-22 09:50] donmasakayan opened #1708 "Pushing to GCR causes 403 "Access Denied""
In the final step of the build process when we're about to push the container to GCR, I'm getting either this error ([Build] (https://app.shippable.com/builds/55af5ca285656f0b006cf3ca)):
[code]

OR this error ([Build] (https://app.shippable.com/builds/55af64ec85656f0b007cbece)):
[code]

In GCR's documentation, [they do mention something about this here](https://cloud.google.com/tools/container-reg

[2015-07-22 10:37] xherriot opened #1709 "CPU leak during archiving step"
Hello,

During the build, the console works fine but when arrived to the archiving step, my CPU goes to 100% (and ram x2), (Firefox does not respond) until the end of the step.

Before & after archiving:
<img width="547" alt="screen shot 2015-07-22 at 12 35 00" src="https://cloud.githubusercontent.com/assets/5094797/8823568/2ca0b476-306e-11e5-8db2-151f14325ac3.png">

During archiving:
<img width="

[2015-07-22 14:55] pigfoot commented on #1696
the same here
https://app.shippable.com/builds/55af7b3885656f0b00925360/1/console/download

[2015-07-22 18:01] nicdex opened #1710 "unauthorized access to build route"
I keep getting build not found when trying to see the result of a build that failed.

{"id":3000,"message":"Unauthorized access to build route","methodName":"validateCaller|_checkPublicRoute"}

last build id is 55afd9f658c0a30b0086f2a4

[2015-07-22 18:02] chriskinsman opened #1711 "Console Hung"
Navigate to our subscription:

https://app.shippable.com/subscriptions/5490c3add46935d5fbc061a8

Just sits with spinning circle.

Looking at javascript console see errors:

Mixed Content: The page at 'https://app.shippable.com/subscriptions/5490c3add46935d5fbc061a8' was loaded over HTTPS, but requested an insecure stylesheet 'http://fonts.googleapis.com/css?family=Open+Sans'. This request has been