[2015-09-08 09:53] #1853 closed

[2015-09-08 10:09] pbosko opened #1859 "Build timeouts if boot step appears"
Lately we have experienced a lot of build timeouts. Although most of our builds last for around 30 minutes some timeout after 3-4 hours regardless of tests outcome.

I have also noticed that our builds that finish in 30 mins don't have "boot" step in console, while those that timeout have it right after "pulling image from hub".

Those builds that time out display message like:

    WARNING: Your

[2015-09-08 15:22] jawaid commented on #1859
WE are looking into it.

[2015-09-08 18:43] caarlos0 opened #1860 "Buid is finished but still at processes"
Happening to a lot of builds right now:

![image](https://cloud.githubusercontent.com/assets/245435/9744124/546bfb30-5640-11e5-8451-868464d915fa.png)

https://app.shippable.com/builds/55ef11e900ed490b003d224f

[2015-09-08 19:11] jawaid commented on #1860
Looking into it.

[2015-09-08 21:04] teo721 opened #1861 "node sass"
sh: 1: node: not found

    npm WARN This failure might be due to the use of legacy binary "node"

    npm WARN For further explanations, please read

    /usr/share/doc/nodejs/README.Debian

    npm ERR! node-sass@3.3.2 install: `node scripts/install.js`

    npm ERR! Exit status 127

    npm ERR!

    npm ERR! Failed at the node-sass@3.3.2 install script.

    npm ERR! This is most likely a prob

[2015-09-08 21:07] teo721 commented on #1861
And my shippable.yml is
# Language setting
language: node_js

# Version number
node_js:
  "- 0.12.0"

before_install:
 - npm install -g gulp
 - npm install -g bower

install:
  - npm install

[2015-09-09 00:55] bellhop-admin opened #1862 "Unable to remove Formation"
All of my services are stopped, but I cannot remove the service configuration due to a "dependency" error of which I cannot determine, which is preventing me from removing the Formation altogether.

My Formation ID is: 55e0c324b20b210c00f5f0c8

[2015-09-09 01:47] trriplejay commented on #1862
Hi,
You should be able to delete your service now.  Let us know if you have other questions!

[2015-09-09 08:04] eviweb opened #1863 "github signup fails"
Hi,
I've just tried to signup using my github account and it fails with the error message:
_getUserEmails returned error or empty body:null_
Any idea how to solve this ?

thanks

Eric

[2015-09-09 08:32] rageshkrishna commented on #1863
@eviweb Thanks for reporting this. I'm looking in to it.

[2015-09-09 09:14] rageshkrishna commented on #1863
@eviweb This should be working now. Can you please try again? Thanks!

[2015-09-09 09:43] eviweb commented on #1863
@rageshkrishna,
yes it works like a charm,
thanks for your reactivity
Eric

[2015-09-09 09:43] #1863 closed

[2015-09-09 09:54] sheldon-sminq commented on #1778
How can i use ebextension with the continuous deployment process? according
to aws documentation i have to package the Dockerrun json file with the
ebextension folder.

Does @Shippable support this?

On Sat, Aug 15, 2015 at 8:53 AM, Manisha <notifications@github.com> wrote:

[2015-09-09 12:44] caarlos0 commented on #1860
@jawaid It still happening. 18 hours later...

https://app.shippable.com/builds/55f0210aca57e10c001ca7db

[2015-09-09 15:57] lekhab commented on #1858
@deploymc: This is now fixed. Can you please try again and let me know if you are facing any issues?

[2015-09-09 15:58] mspanc opened #1864 "Build is crashing immediately"
Build is crashing immediately after fetching image

[code]

URL:
https://app.shippable.com/builds/55f0567ed830d20b0031c9fa

[2015-09-09 16:53] lekhab commented on #1861
@teo721: I just tried running the shippable yml as you have pasted above and was able to run it successfully..

Also this might be relevant, since you have a line in your log that indicates Debian. We only support Ubuntu and not Debian currently. Are you able to run your builds on Ubuntu?

[2015-09-09 17:05] RealNobody commented on #1813
This is becoming a critical issue for us.

Latest build:  https://app.shippable.com/builds/55f04bd7d830d20b0022b478

We have been using a script to isolate the run errors and to try to work around the problem of the artifacts not uploading and for the most part it had been working fairly well.

It had been working fairly well that is up till now, but this script failed and there are no artifacts t

[2015-09-09 17:45] rogierslag commented on #1371
Would love this as well!

[2015-09-09 17:48] rogierslag commented on #1371
For now we just added `timeout 30m` before the build command

[2015-09-09 18:44] RealNobody commented on #1828
This happened again today:

https://app.shippable.com/builds/55f0685fc9a9450b00003777

This build does NOT have anything in the `testresults` folder.

So, we turned off the Tests tab for you, and it is still happening.

I noticed today that I'm not the only one having this problem it seems:  https://github.com/Shippable/support/issues/1860

The odd thing here is that it looks like it uploaded the

[2015-09-09 19:32] jawaid commented on #1860
@caarlos0  Our apology. We are actively working to resolve your issue.

[2015-09-09 19:56] mspanc commented on #1864
It seems that it was our fault with improper PATH env var.

[2015-09-09 19:56] #1864 closed

[2015-09-09 20:30] trriplejay commented on #1813
Hi @RealNobody,

Thanks for all the detailed information! We just deployed a fix that should correct some of the artifact upload issues you were experiencing.  Let us know if you see a difference.

We're still investigating the timeouts and hope to have more information on that soon.

[2015-09-09 20:37] LuisMuniz commented on #1857
any progress on this?

[2015-09-09 20:42] RealNobody commented on #1813
No problem.  I'm just trying to send in whatever I think might help and hope it does.

Unfortunately, the issue is intermittent.  I have had it happen, then re-run the build and had the same results in terms of errors and not have it happen.

As such, the fact that it works for us for a while doesn't mean it absolutely is fixed - maybe we're getting lucky?

That said, you will definitely hear if I

[2015-09-09 20:51] RealNobody commented on #1813
Since you mentioned this, I'll comment on it too.

I may have uploaded this information already, but it's been a long day and I'm tired, and I don't remember, so just in case...

* I have noticed other tickets in the issues list that indicates that others are seeing similar results.  A successful run and then it times out before the last step shows in the console.  That indicates to me it probably

[2015-09-10 00:26] teo721 commented on #1861
how should transform my .yml to run on Ubuntu not in Debian ?

[2015-09-10 00:34] lekhab commented on #1857
@LuisMuniz: can you provide more details on how you are doing this? Both the API routes are working as described. The following works for me..

GET /builds:
```curl -H "Authorization: apiToken [token]" https://api.shippable.com/builds/[build_id]```

POST /workflow/triggerBuild:
```curl -H "Authorization: apiToken [token] application/json" -d '{"projectId":"your_project_id"}' https://api.shippable.

[2015-09-10 00:41] lekhab commented on #1813
@RealNobody - Thanks again for working with us through this. We have resolved the issue with the large messages, so you can turn your test reports back on. Thanks a lot for turning it off while we resolved that.
Please do let us know if the fixes we have already put in place have made a difference. We are making more changes to address the timeouts as well.

[2015-09-10 00:42] lekhab commented on #1854
Adding this to our backlog of feature requests. It is not possible to do this currently, I am afraid.

[2015-09-10 00:45] lekhab commented on #1824
Closing this, since the issue is now resolved and email has been sent.

[2015-09-10 00:45] #1824 closed

[2015-09-10 00:49] lekhab commented on #790
@bittner: please let me know if you are still facing any issues here.

[2015-09-10 02:42] RobertHerhold opened #1865 "Node v4.0.0"
Feature request for [Node.js v4.0.0](https://nodejs.org/en/blog/release/v4.0.0/)

[2015-09-10 05:43] rvdwijngaard opened #1866 "node builds are failing because nvm error"
Hi,

SInce this morning my nodejs builds are failing because of an nvm error:
before_install
  mkdir -p shippable/testresults
  mkdir -p shippable/codecoverage
  npm install -g vows
/usr/bin/vows -> /usr/lib/node_modules/vows/bin/vows
vows@0.8.1 /usr/lib/node_modules/vows
├── diff@1.0.8
├── eyes@0.1.8
└── glob@4.0.6 (inherits@2.0.1, graceful-fs@3.0.8, once@1.3.2, minimatch@1.0.0)
  source ~/.nvm/n

[2015-09-10 05:49] bittner commented on #790
No, sorry that I didn't respond.

[2015-09-10 05:49] #790 closed

[2015-09-10 07:04] LuisMuniz commented on #1857
@lekhab
`GET /builds/55ef5a53cf2baa0b00e6ea07` works but I would like to get the currently running builds, independently of the project. Is that possible?

[2015-09-10 07:32] rvdwijngaard commented on #1866
hi is there any update on this since it is really blocking my ci pipeline for a bunch of services

[2015-09-10 08:14] rageshkrishna commented on #1866
@rvdwijngaard We're seeing some issues across the board with node builds today, include errors with nvm as well as strange issues with npm installs. Can you please share your project or build id so I can dig deeper into this?

[2015-09-10 08:17] rvdwijngaard commented on #1866
@rageshkrishna My project is https://app.shippable.com/projects/552cbd655ab6cc1352c32b68. You will see all builds of today are failing.

[2015-09-10 08:49] pkaminski commented on #1866
Failing here too, same error: https://app.shippable.com/builds/55f14371d68e150c004e9e15

This is completely blocking my pipeline as well.

[2015-09-10 09:42] rageshkrishna commented on #1866
I'm not quite sure what caused this to start happening today, but please upgrade nvm to the latest release (0.26.1) with the following command. This should be the first step in your before_install, before you call `source /root/.nvm/nvm.sh`.

[code]

[2015-09-10 11:23] taz77 commented on #707
@manishas One request with the slack integration. Support private groups in addition to channels, and direct messages.

[2015-09-10 11:32] rageshkrishna commented on #707
Hi @taz77! Private groups and DMs should be working. Does `#privateroom` and `@username` not work for you?

[2015-09-10 15:09] matthewpflueger commented on #1648
Has there been any movement on this?  I ask because my Post CI Docker build successfully completes but does not push the image:  https://app.shippable.com/builds/55f190178534f70c001ccf99

Any help would be greatly appreciated!

[2015-09-10 15:17] jawaid commented on #1866
Please let us know if you are still seeing errors.

[2015-09-10 15:28] taz77 commented on #707
Hello @rageshkrishna I can get it to work for channels, I have not tried the direct message, but private rooms don't work. I had it running on a private room and through the notifications were broken till I decided to try a public channel - voila success. So I assumed you guys didn't support private room messaging in the emplementation of the notification to Slack.

[2015-09-10 15:31] RealNobody commented on #1813
It is hard to say yet, but this script failed then timed out (meaning the timeout is still there) - but we did get the artifacts which was awesome as it allowed me to diagnose the error.

[2015-09-10 15:38] RealNobody commented on #1828
Another incident:

https://app.shippable.com/builds/55f0cfc7f7cb7d0b0052432b

* I did not start this run, so I do not know how long it might have sat in a waiting state.  I doubt it did though.
* According to the build details - test started at: 2015/09/09 - 5:33 PM (UTC - 7)
* Our code started at: Thu Sep 10 00:35:08 UTC 2015 - 2 minutes later which is reasonable
* Our code ended at: Thu Sep 10 0

[2015-09-10 15:58] RealNobody commented on #1854
OK, thanks.  I couldn't find anything that even mentioned that the merge was being done in the documentation, so I didn't think it was possible, but I figured I could ask.

Thanks.

[2015-09-10 15:58] #1854 closed

[2015-09-10 16:06] RealNobody commented on #1828
Just saw this one too:

https://app.shippable.com/builds/55f0a6230b2b130c00382b7f

* Run time of our code about 50 minutes
* Artifacts did upload
* Tests tab disabled
* Script was successful - only error was the timeout.

I don't know if you care about all of these.  I update you with information on each run so you have more examples to look at for diagnostic purposes.  If you don't want me to kee

[2015-09-10 16:34] lekhab commented on #1857
@LuisMuniz: We added some API routes recently that should help you:

1. You can use the new searchBuilds API and this will give you all the builds for an account, subscription or project across all states (waiting, queued, processing and completed).

GET /projects/:projectId/searchBuilds
/subscriptions/:subscriptionId/searchBuilds
/accounts/:id/searchBuilds

You can use the limit string to limit t

[2015-09-10 16:36] LuisMuniz commented on #1857
Yes, thanks this helps!

[2015-09-10 16:47] #1857 closed

[2015-09-10 17:16] lekhab commented on #1861
@teo721: Your app needs to run on Ubuntu. Are your tests working locally on a Ubuntu platform?

[2015-09-10 17:23] lekhab commented on #1855
@blueplanet: can you add more context, please? Do you have specific failed builds? I see your recent builds are green - is this still an open issue?

[2015-09-10 17:28] lekhab commented on #1840
@taz77: Custom images are currently the way to go. Making it easier for images to be customized for our users is already on our roadmap. You should hear more as we make progress on this later this year.

Will change this to a feature request, so it can be tracked.

[2015-09-10 17:40] lekhab commented on #1821
@bittner: Apologies for the delay in getting back to you.  This is definitely not intended behavior.  This was probably related to a lag in syncing the account with the updated permissions. Are you still seeing this?

[2015-09-10 17:41] taz77 commented on #1840
Thanks! I did some work arounds and got what I needed with 12.x

[2015-09-10 17:41] lekhab commented on #1688
will close this out as an old issue. If there are any recent builds facing any issues, will open a new issue.

[2015-09-10 17:41] #1688 closed

[2015-09-10 17:42] lekhab commented on #1550
closing. please let me know if there are any recent builds facing issues.

[2015-09-10 17:42] #1550 closed

[2015-09-10 18:02] lekhab commented on #1842
@coddie001: This is a normal console error when a font cannot be downloaded, but it should not block the whole site and should not be an issue at all..do you have any special settings/plugins that causes such an error to block downloading the site itself?

[2015-09-10 18:34] lekhab commented on #1842
also opened an internal issue to resolve this console error on our end.

[2015-09-10 20:05] JADurham909 opened #1867 "Can't login with Bitbucket - getUserEmails returned error or empty body:null"
getUserEmails returned error or empty body:null

[2015-09-10 20:13] grue opened #1868 "Can't login with github"
When attempting to log in with github I receive this error:

`Failed to sync payment provider for account id: <accountid>`

[2015-09-10 20:49] RealNobody commented on #1828
This one hasn't timed out yet, but it will eventually at this point:

https://app.shippable.com/builds/55f1d35670bb320b008dfb92

[2015-09-10 22:26] ragsden commented on #1828
@RealNobody : we have rolled out a fix which should fix the timeout issues you are seeing. We will keep an eye on your builds. Sorry about the inconvenience.

[2015-09-10 22:30] ragsden commented on #1860
@caarlos0 : We rolled out a fix today and you should not see this issue happening. Sorry about the inconvenience.

[2015-09-10 22:48] #1860 closed

[2015-09-10 23:03] pkaminski commented on #1866
This fix worked for me -- thanks.  I'm not sure where I got the `source ~/.nvm/nvm.sh && nvm install $SHIPPABLE_NODE_VERSION` line from, but it was likely from Shippable docs somewhere, in which case it would be good to update the instructions with the extra download command.

[2015-09-11 00:16] RealNobody commented on #1838
I am closing this issue at this time.

I think it was most likely related to https://github.com/Shippable/support/issues/1813 which supposedly has a fix.  I have not seen a similar issue in a while so it may be fixed.  If I have problems again, I'll open a new incident.

[2015-09-11 00:16] #1838 closed

[2015-09-11 00:17] RealNobody commented on #1813
We have not had a problem with artifacts all day.  It seems reasonable that could be fixed.

I am therefore closing this.  If I have future issues, I'll open a new ticket.

Thanks.

[2015-09-11 00:17] #1813 closed

[2015-09-11 00:18] RealNobody commented on #1828
Thanks.
I haven't seen a timeout in a bit today.

Unfortunately, the timeouts weren't reliably reproducible.  I'll leave this open for a day or so.  If I don't see any timeouts, I'll close it.

[2015-09-11 00:53] joelash commented on #1867
No idea what your issue is, however just as an FYI I logged in (first time login) with bitbucket just an hour or so after you created this issue and it was fine.

[2015-09-11 01:01] JADurham909 commented on #1867
The issue was there was no email on the bitbucket account.  I am not sure how that is possible, but after adding a confirmed email it was ok.

[2015-09-11 01:10] joelash opened #1869 "Clojure tests tab shows "No tests for this build""
I have two build that have tests, which pass, when I run with `lein test` locally. I have my `shippable.yml` setup almost identical to the Clojure samples, however I still see "No tests for this build" whenever I run my build. Is there a bug or am I setup incorrectly?

[2015-09-11 01:11] joelash commented on #1867
:+1: Good to know

[2015-09-11 01:28] joelash commented on #1869
Managed to get this working by install [`lein test2junit`](https://github.com/ruedigergad/test2junit) plugin and setting `{:test2junit-output-dir "shippable/testrsults"}` in my `project.clj` file. If this is *the way* to make tests show up in the shippable UI then it should at least say so in the documentation and samples.

[2015-09-11 07:01] rvdwijngaard commented on #1866
yes that solves the problem but its not a very nice solution; it slows down the build quite drastically; do you have any plans to update nvm on your nodejs base images?

[2015-09-11 07:45] coddie001 commented on #1842
hello lekha,

i dont use any plugins that could have caused this, the font is a google
http link which would not be allowed on an https website therefore causing
an internal server error

On Thu, Sep 10, 2015 at 7:34 PM, Lekha Bhargavi <notifications@github.com>
wrote:

[2015-09-11 07:50] taz77 commented on #1842
@coddie001 Being I run an eCommerce site, I have a lot of experience with SSL and I use Chrome exclusively. Something has been changed in your installation of Chrome. By default Chrome will allow mixed mode SSL on a website. Have you attempted to use an Incognito window that has all plugins disabled?

[2015-09-11 08:00] coddie001 commented on #1842
i have used incognito window so many times, still same error. Can send the
snapshot in

On Fri, Sep 11, 2015 at 8:50 AM, Brady <notifications@github.com> wrote:

[2015-09-11 08:40] jawaid commented on #1867
Thanks

[2015-09-11 08:40] #1867 closed

[2015-09-11 09:15] taz77 commented on #1842
@coddie001 Have you confirmed that the extensions are off in incognito mode? If you go to your extensions in settings there are check boxes on each one that can make the available in incognito. Like I said, the default installtion of Chrome allows for mixed mode. So something is amist with your browser, it isn't a standard installation of Chrome.

[2015-09-11 11:38] rvdwijngaard commented on #1480
@lekhab is there any update on this?

[2015-09-11 12:30] matthewpflueger opened #1870 "Post CI Docker image is not being pushed"
I believe this is related to issue: https://github.com/Shippable/support/issues/1648

Unfortunately, that issue was opened on July 6th and it looks like no movement has been made.  This issue is a huge blocker for me as I would like to setup a continuous deployment in another environment but need the built image to be pushed.

Here is one of many builds that result in no pushed image:  https://app

[2015-09-11 14:04] lekhab commented on #1480
@rvdwijngaard: sorry, I thought this was resolved with the last update. Were you able to try the workaround suggested by Nalum above?

[2015-09-11 17:26] lekhab commented on #1859
@pbosko: We deployed a fix yesterday that should resolve the timeout issues. I see all your builds since the fix was deployed have been running to completion. Please let me know if you notice any recurrence.

[2015-09-11 20:33] georgwaechter commented on #1868
the same for me with bitbucket

[2015-09-11 21:57] RealNobody commented on #1828
We had another incident today:

https://app.shippable.com/builds/55f322ae2663230b002e5928

* Our code ended after about 1hour 30 minutes (approximately)
* start - Fri Sep 11 18:54:32 UTC 2015
* end - Fri Sep 11 20:22:19 UTC 2015
* The console output for the post steps seems to be bad/wrong - Something new.
* The artifacts DID work (a different bug I had been having persistent problems with.  Just

[2015-09-12 05:52] javadev opened #1871 "How to disable e-mail notification in settings?"

[2015-09-12 10:56] teo721 commented on #1861
@lekhab My os is ubuntu 14.04 and the app is working locally. I'm trying to build a nginx docker and i use http://gulpjs.com/ to build my statics.The problem comes when my build attempt's to run npm install because gulp-sass want's to install node-sass but does not find node ( sh: 1: node: not found).

This is my package.json :
{
  "name": "web",
  "version": "0.0.0",
  "description": "",
  "main"

[2015-09-12 15:08] aaronjudd commented on #1868
same thing here, preventing me from considering Shippable once again.

[2015-09-12 18:41] coreybutler opened #1872 "CI list doesn't scroll"
I may be in the extreme minority, but I am a member of bunch of teams/orgs between my Github and BitBucket accounts. When I try to select a CI integration source, the list will not scroll, so I cannot add my repos:

You'll also notice at least one duplicate (some of the dupes are due to similarly named repos on both Github and BitBucket)

![Unscrollable](https://s3.amazonaws.com/uploads.hipchat.co

[2015-09-12 18:43] coreybutler commented on #1872
Forgot to mention this is Chrome 45.0.2454.85 (64-bit) on OSX.

[2015-09-12 18:51] coreybutler commented on #1872
When I click on "more" to show the history of prior runs, I am able to see more of the list.... doing this enough times eventually shows the whole list. Looks like a `z-index` problem with absolute positioning.

![image](https://cloud.githubusercontent.com/assets/770982/9833231/40bad742-5955-11e5-983f-05c8d3f7fa9c.png)

[2015-09-12 18:53] coreybutler commented on #1872
And while you're updating the menu, it would be really nice to show a small Github/BitBucket icon to indicate whether the repo/group is sourced from one or the other. I'm guessing other users use the same organization name the way we do... we release our open source stuff on Github and use BitBucket for private repos.... yet both systems have orgs with the same name.

[2015-09-12 23:10] jawaid commented on #1871
Please see

http://docs.shippable.com/yml_reference/

http://docs.shippable.com/integrations/

Let us know if resolves your issue or not.

[2015-09-13 06:55] javadev commented on #1871
Good, I found email notification section. Thanks.

[2015-09-13 06:55] #1871 closed

[2015-09-13 11:23] javadev opened #1873 "How to add link icon (svg or png) for successful build to the readme.md file?"
.

[2015-09-13 16:18] #1826 closed

[2015-09-13 19:51] stuartfenton commented on #1862
I have the same issues as well.

[2015-09-14 00:33] jawaid commented on #1873
Please look into documention:

http://docs.shippable.com/build_badge/

[2015-09-14 02:11] hshira opened #1874 "Builds running very slow - stuck for 30 minutes"
My builds are running way slower than usual.
I cancelled this build after it failed to finish after 27 minutes https://app.shippable.com/builds/55f6226cd472a90b009a4445 This usually takes atmost 10 minutes

Another build https://app.shippable.com/builds/55f62886d472a90b009c9a76 is stuck for 17 minutes. Usually this doesn't take more than 5 minutes.

[2015-09-14 02:28] 164c opened #1875 "How to add custom configs to MySQL"
I'm trying to run rails spec with mysql. And I need to add some extra configurations to my.cnf to run my spec so I wrote it in shippable.yml as below.
[code]

config/ci/.my.cnf
[code]

The before_script looks done with no trouble but it doesn't take effect.
I searched the docs and web but not able to find information about this.

Any clues?

[2015-09-14 02:41] hshira commented on #1874
Now this has been going on for an hour https://app.shippable.com/projects/54336bc97a7fb11eaa6496a6

[2015-09-14 03:24] hshira commented on #1874
Now this has been going on for 2 hours. Support team ... you need to do something. The whole idea of CICD goes down the drain with this kind of performance.

[2015-09-14 03:47] rageshkrishna commented on #1874
@hshira I'm very sorry about the time it took to resolve this. One of our API instances was having an issue with queue connectivity, which caused a delay in updating the build status for some of the builds. We've resolved this issue and things are back to normal now. Can you please let me know if you still see this happening?

[2015-09-14 04:20] hshira commented on #1874
Seems to be working fine now. Thank you for resolving this.

[2015-09-14 04:22] #1874 closed

[2015-09-14 06:36] deploymc commented on #1858
It now say {"id":3300,"message":"Owner not found for projectId::55ed503d1895ca4474135af6","methodName":"caller:55ed4f27688f320c0040d7dd|projects|enableById:55ed503d1895ca4474135af6|_getValidOwner"}

[2015-09-14 06:56] kanthchandra commented on #1858
@deploymc : Enabling the project involves setting up of webhooks and deploy keys on github/bitbucket so that we will be able to automatically trigger a build when you push to the repository.

In order to set up webhooks and deploy keys we will require the owner of the project to login into shippable. Can you please ask the owner of the project/organization to login and try? If that doesn't work we

[2015-09-14 08:17] blueplanet commented on #1855
@lekhab Since already not reproduce, close. :bow:

[2015-09-14 08:17] #1855 closed

[2015-09-14 08:41] javadev commented on #1873
Good. Thanks.

[2015-09-14 08:41] #1873 closed

[2015-09-14 10:16] siutsin opened #1876 "Nodejs build time is around 20 minutes"
Hi,

I am evaluating Shippable and noticed that the [build time](https://app.shippable.com/builds/55f693e087a25c0b004bed48) for node is ~ 20 mins.
The setup for the [sample project](https://bitbucket.org/simonli/test-ci/src/6c0d57f3c347f2d6ac288476df2aa7a46abb0dd0?at=develop) is one test case with gulp and jasmine.

From the build log, setup_ve took 1126.37 seconds:
[code]

shippable.yml
[code]

I

[2015-09-14 11:38] HenrikOssipoff commented on #1092
@manishas within the next few days you say?

[2015-09-14 12:50] matthewpflueger commented on #1870
Any movement on this?  Anything I can do to help?

[2015-09-14 14:47] bittner commented on #1821
Alright, looks okay. What is the sync delay, usually?

[2015-09-14 14:47] #1821 closed

[2015-09-14 15:45] tomsterritt opened #1877 "Build not triggered for branch?"
Just pushed to 2 branches on same project in short amount of time. First push has triggered a build however second is nowhere to be seen.

I recall there used to be a button to manually trigger a build for a branch, but I can't find that anywhere on this new UI...

How can I trigger this build please? If it helps it's for project 540e6d733479c5ea8f9e43b2

[2015-09-14 15:48] #1877 closed

[2015-09-14 16:12] lekhab commented on #1842
the console error has been fixed on our end. are you able to load the website now?

[2015-09-14 17:35] trriplejay commented on #1862
Hi @stuartfenton, is there a specific formation you're having trouble with?  Are you attempting to delete a service or deactivate the formation?

[2015-09-14 20:11] teo721 commented on #1861
@lekhab i modified something and now it's working but i have another problem.If i use https://hub.docker.com/_/nginx/ i need to COPY www/ /usr/share/nginx/html but I don't know where i can find the www.

[2015-09-14 22:37] makiolo commented on #1627
Same here "Waiting for logs...":
https://app.shippable.com/builds/55f749025907ab0b00f8fc93

Thanks.

[2015-09-15 01:10] lekhab commented on #1870
@matthewpflueger: This is very much on our radar. We are working on upgrading the underlying build workflow that should help with this issue. will follow up internally and get back to you with an update later this week.

[2015-09-15 08:23] coddie001 commented on #1842
Thanks Brady, My error is resolved

On Mon, Sep 14, 2015 at 5:12 PM, Lekha Bhargavi <notifications@github.com>
wrote:

[2015-09-15 08:51] bigardone commented on #1092
+1

[2015-09-15 09:01] javiercr commented on #1092
+1

[2015-09-15 09:03] bbay commented on #1092
+1

[2015-09-15 10:11] achru commented on #1092
:+1:

[2015-09-15 10:22] taz77 commented on #1842
Great!

[2015-09-15 13:04] #1842 closed

[2015-09-15 14:16] frenkel opened #1878 "Cannot find new bitbucket project, even after force sync"
Maybe because we now have 546 repositories in our bitbucket team.

[2015-09-15 14:45] crania commented on #1868
I'm having the same issue

[2015-09-15 14:47] matthewpflueger commented on #1870
Awesome.  Thanks for the update.  Please keep me posted!

On Mon, Sep 14, 2015 at 9:10 PM Lekha Bhargavi <notifications@github.com>
wrote:

[2015-09-15 15:12] lekhab commented on #1868
A fix for this issue is in progress and will be deployed to prod over the next couple of days.

[2015-09-15 20:05] menome commented on #1868
getting same error - any insight as to when a fix might be specifically available, or if there is a work around? I will need this working before tomorrow...

[2015-09-15 21:25] RealNobody commented on #1828
This timed out:

https://app.shippable.com/builds/55f86e446910ec0b0083331c

NOTE:  We've had some other tests recently failing on the `npm_install` - not sure why.

I don't know if this is related or not as the post steps didn't run and there aren't any timestamps to know what happened when.

It seems unlikely that whatever happened was us, but I can't rule it out on this one.

[2015-09-15 21:30] RealNobody commented on #1828
Another unknown timeout:

https://app.shippable.com/builds/55f859ac5821fa0b004c7bcb

[2015-09-15 22:24] RealNobody commented on #1828
Another timeout:

https://app.shippable.com/builds/55f88373e20ad80d0065fcb7

It took 1:20 to get to the start of the RSpec tests which seems a bit long.  The Rspecs shouldn't have taken long enough to timeout based on past experiences.

Also, this one didn't run the post scripts OR upload the artifacts which were issues that were supposed to have been fixed.

[2015-09-15 22:33] RealNobody opened #1879 "Artifacts are not being uploaded on timeout"
I had the following issue:  https://github.com/Shippable/support/issues/1813

It had looked like it was fixed until I got this run:

https://app.shippable.com/builds/55f88373e20ad80d0065fcb7

I don't know why it timed out.  A typical successful run only takes a little less than 1 hour.  I will be looking into that.

What bothers me is that it didn't run the post-script and it didn't upload the art

[2015-09-15 22:51] RealNobody commented on #1879
This build had the same issues:

https://app.shippable.com/builds/55f8858ba62c630d00bd012b

NOTE:  I can verify our code running for about 1:30 minutes till the RSpecs start.

It doesn't look like the RSpecs run at all almost from the console output so this one almost certainly shouldn't have timed out based on what I'm seeing in the console.

But the artifacts didn't upload and it didn't run the

[2015-09-15 22:51] RealNobody commented on #1828
This build had the same issues:

https://app.shippable.com/builds/55f8858ba62c630d00bd012b

NOTE:  I can verify our code running for about 1:30 minutes till the RSpecs start.

It doesn't look like the RSpecs run at all almost from the console output so this one almost certainly shouldn't have timed out based on what I'm seeing in the console.

But the artifacts didn't upload and it didn't run the

[2015-09-15 23:38] rraheja commented on #1667
+1 for the support to test the post-CI build container-would be useful to validate the container before final push.

[2015-09-15 23:48] rept commented on #1737
Getting this error too.  Also I've made 2 commits to Bitbucket that just don't pop up in Shippable.  It seems to be stuck on a certain commit?

[2015-09-16 08:04] kanthchandra commented on #1868
A fix has been deployed to production today. Please let us know if this works for you guys.

[2015-09-16 09:49] rept commented on #1595
Got the same issue.  I'm trying out shippable but there is no way to start a build (private bitbucket repo) of a branch at this time.  I always get error message.

[2015-09-16 11:32] rageshkrishna commented on #1595
@rept Which branch are you trying to build? Also, do you mind if I try triggering a build on the same branch to debug this? Thanks!

[2015-09-16 11:38] rept commented on #1595
@rageshkrishna on the shippable branch, but it's the same result on every branch...
https://app.shippable.com/builds/55f9548819687b0c0066e3b0

What do you mean with: trigger a build on the same branch?  I only have one branch that contains the shippable.yml and that's the one I need to get working in order to merge it :-)

[2015-09-16 11:56] rept commented on #1595
@rageshkrishna ah sorry I misread, no you can try triggering all you want :-)

[2015-09-16 12:03] vladdancer commented on #1643
I agree with Paikan. This is a critical issue for us to get successful ci flow!
Any news on this?

[2015-09-16 14:42] crania commented on #1868
Works for me - thank you.

[2015-09-16 15:12] menome commented on #1868
works for me now as well! Many thanks!

[2015-09-16 18:26] henrjk opened #1880 "Click on build badge does not bring up results."
I looked at issue #1401

Clicking on the build badge on page https://github.com/henrjk/connect/tree/shippable opens the images for me not the build results. Am I doing something wrong? Is this no longer working?

[2015-09-16 19:54] claar commented on #1543
Less than 2 months left for PHP 7 to be released, planned for November 12th.

https://wiki.php.net/todo/php70#timetable

[2015-09-16 20:19] trriplejay commented on #1595
Hi @rept, it looks like there was an error parsing your yaml.

[code]

[2015-09-16 20:27] jekram commented on #1880
@henrjk  Can you please include a screenshot.

[2015-09-16 20:37] jawaid commented on #1878
@frenkel We are looking it and get back to you.

[2015-09-16 21:37] rept commented on #1595
@trriplejay great this works!  Thanks.  Anywhere I could have found this out myself?

[2015-09-16 22:11] grue commented on #1868
awesome, thanks!

[2015-09-16 22:28] RealNobody commented on #1828
Again: https://app.shippable.com/builds/55f9cf574eb90d0c009eacfb

This one didn't do anything at all, so there wasn't anything to timeout.

[2015-09-17 02:00] 164c commented on #1875
@lekhab
Is there any way to do this?
We have no time to decide if we can use Shippable for our new project.

[2015-09-17 05:52] frenkel commented on #1878
I only see about 30 projects and it seems the search functionality looks only in the projects that are visible on the page, instead of all projects.

[2015-09-17 05:59] ric03uec commented on #1875
@164c we're not using upstart for managing the services, so `service start/stop/restart mysql` won't work. So you'll have to stop the running instance of mysql and then start another one with your custom config.
- can you try the following and let me know if it works.
[code]

[2015-09-17 07:28] jawaid commented on #1879
We are looking into it.

[2015-09-17 07:30] jawaid commented on #1876
We are looking into it and will get back to you.

[2015-09-17 08:38] henrjk commented on #1880
Here is relevant part or the build page https://github.com/henrjk/connect/tree/shippable.

![screen shot 2015-09-17 at 10 34 01](https://cloud.githubusercontent.com/assets/7439282/9928653/ebee8a5c-5d27-11e5-8262-7306a231aac2.png)

When I click on either of the *build* badges I see simply the graphic displayed instead of getting to the build results.

![screen shot 2015-09-17 at 10 34 53](https://c

[2015-09-17 12:17] czardoz opened #1881 "Shippable always compiles node"
Looking at the logs,

[code]
My Shippable config is here:

[code]

[2015-09-17 12:23] czardoz commented on #1881
Looks like this is the same issue as #1352

[2015-09-17 13:36] czardoz commented on #1876
Possible duplicate: #1881

[2015-09-17 14:16] 164c commented on #1875
@ric03uec  Thanks! The script didn't work because parameters of mysql is insufficient.
I think we are almost there with the .my.cnf below.

[code]

But I could not try the config because before_script stopped to proceed after some trial.
Since then I've not succeeded to run the script. It always stops at on the way of before_script.

I have no idea what is happend.

Could you take a look at?

[2015-09-17 16:41] ric03uec commented on #1875
@164c
- can you post the output of `before_script` section. i tried running the one of shippable sample builds using the `my.cnf` you pasted in the previous comment and mysql does come up correctly with it.
- This is the project I used for testing : https://github.com/ric03uecS/sample_python_mysql/blob/killmysql/shippable.yml
- also, can you add `ps -eaf `statement at the end of `before_script` se

[2015-09-17 17:19] trriplejay commented on #1595
@rept Well, investigating your issue did lead us to discovering a bug where the notification was not getting created properly for certain yml errors.  Since that was fixed, if you were to encounter this error again, you would see something like this:

![image](https://cloud.githubusercontent.com/assets/6869398/9940565/7a1f3cc0-5d25-11e5-9ec7-87ed1ce69b47.png)

So if it happen again, you should hav

[2015-09-17 18:22] jawaid commented on #1880
@henrjk  We are looking into and get back to you

[2015-09-17 19:07] paislee opened #1882 "Error pushing to Google Container Registry: "invalid character 'I' looking for beginning of value""
I've configured a Docker build to push to Google Container Registry. Service account set up correctly. The screenshot below shows how the registry is recognized and the built image starts to be pushed.

<img width="1102" alt="screen shot 2015-09-17 at 12 02 43 pm" src="https://cloud.githubusercontent.com/assets/831742/9943103/3ca986a2-5d34-11e5-8605-74ff9f648fb3.png">

Eventually it fails with the

[2015-09-17 21:15] jawaid commented on #1882
@paislee  Please validate your project-Id

https://cloud.google.com/container-registry/

[2015-09-17 21:27] paislee commented on #1882
Thanks @jawaid. I have double checked that the project ID is correct in the registry endpoint. As noted, I'm successfully pushing this image to the registry outside of Shippable. Furthermore, from the Shippable logs, you can see that the entire image is actually pushed, and the failure occurs while uploading metadata (canceling the push, I'm suspecting). Shippable still sends me a success notifica

[2015-09-17 22:59] jawaid commented on #1880
Comment from our Eng Staff @a-murphy

"This user has not specified what the image should link to the in markdown, so GitHub thinks that it should be a link to the image. The route that used to be used in the build badges to get the latest build appears to no longer exist (and is not in the documentation). But, the project page might be a reasonable substitution. This will go to the user's project

[2015-09-17 23:12] jawaid commented on #1882
@paislee  We will look into this and get back to you.

[2015-09-17 23:25] paislee commented on #1882
@jawaid thanks! standing by to help

[2015-09-17 23:42] jawaid commented on #1878
looking up 'frenkel' all i see is one bitbucket account, which has 0 projects and 0 subscriptions. account was most likely just created as an offline account... what subscription are you refering to (subscription name, or ID)

[2015-09-18 00:30] ttrahan commented on #1882
@paislee Your issue appears similar to ones discussed here:
https://github.com/docker/docker-registry/issues/941

It looks like others have experienced a similar issue when one of two situations occur:
* A previous image push was interrupted (manual deletion of suspect image in the repository is needed)
* The repo is out of space

Let us know if either of these resolve this for you.

[2015-09-18 02:19] 164c commented on #1875
@ric03uec

I put a screen shot below which shows what I described as "before_script stopped to proceed" in my previous comment. You'll see it timed out on the way of processing the before_script.

<img width="1092" alt="screen shot 2015-09-18 at 10 40 24 am" src="https://cloud.githubusercontent.com/assets/1281528/9950483/f6717736-5df5-11e5-9878-ccdd92ee13ae.png">

I can add ```ps -eaf ``` but ,as

[2015-09-18 02:26] ric03uec commented on #1875
@164c i see that that you're running  mysql in the foreground which is causing the build flow to hang.
- you need to run the following command to spin up mysql so that mysql runs in the background
[code]
- can you give this a shot and try again

[2015-09-18 03:30] 164c commented on #1875
@ric03uec
Thanks!

I made it after I added ```sleep 2``` after ```sudo su -c "/usr/bin/mysqld_safe > /dev/null 2>&1 &"``` to wait the mysql starting.
(sleep 1 does not woke sometime..)

I wonder if there is smarter way to wait mysql starting instead of sleep.
Please tell me if you know the way.

[2015-09-18 04:49] ric03uec commented on #1875
@164c glad it worked :)
- i'm afraid adding a `sleep` is the easiest way to do this. I would recommend at least 5 seconds
- when you start services by default, shippable build script makes sure they run by using a retry loop. you can add that logic to the build yml(the code is in the `start_services_internal` function of build script)
  - or a different(better) way to do it will be to write a help

[2015-09-18 05:11] 164c commented on #1875
@ric03uec  thanks for your quick reply.

I understand it.
I have no more questions.

Please close this issue if you like.

Thanks!

[2015-09-18 05:13] #1875 closed

[2015-09-18 06:12] frenkel commented on #1878
My `frenkel` account parcitipates in a team called `ivaldi`. That team has only private repo's.

[2015-09-18 07:34] frenkel commented on #1878
Apparently it works again today. Thanks.

[2015-09-18 07:34] #1878 closed

[2015-09-18 07:47] jawaid commented on #1878
@frenkel  I am glad it is working for you.

Regards

[2015-09-18 08:16] Darune commented on #1723
Any news on this?,
It would considerately fasten my build time to have a private base GCR image.

[2015-09-18 08:38] henrjk commented on #1880
Summarizing: with this markdown  the badge shows the status of the most recent build and I can link to the (public) project page:

[code]

I understand that there is no longer a way to link to the build which status the badge reflects. I think restoring the ability to link to the associated build would be very desirable.

More problematic is that badge shows 'pending' while a build runs. It seems

[2015-09-18 10:09] 164c opened #1883 "Shippable shows us "failed" with no errors."
Shippable sometimes shows us that a test has failed but it looks no errors have been happened.

<img width="1158" alt="screen shot 2015-09-18 at 7 04 19 pm" src="https://cloud.githubusercontent.com/assets/1281528/9957050/1eada674-5e38-11e5-9fa5-9b5138779241.png">

<img width="1103" alt="screen shot 2015-09-18 at 6 58 23 pm" src="https://cloud.githubusercontent.com/assets/1281528/9956998/cd4c178e-5

[2015-09-18 10:21] mbrodala opened #1884 "No log output"
Currently no log output is shown on builds. The following error appears in the debug console:

[code]

[2015-09-18 10:44] manishas commented on #1884
@mbrodala you should see the logs now sorry about this.

[2015-09-18 10:59] mbrodala commented on #1884
I can see the output on existing builds again now. I'll wait for the next build and close this one if everything's alright. Thanks.

[2015-09-18 12:41] pbosko commented on #1859
Great. I didn't see the same error happen again.

Now almost all are builds run to completion. Still there is one that didn't: https://app.shippable.com/builds/55fad01ce5b1f60c00a13bd9 but that is probably an unrelated issue. I'll keep looking if this happends again.

[2015-09-18 13:30] tudvari opened #1885 "Docker build pushing into private repository with different port"
Hi guys,

I would like to use your service with the followed setup. I have my own domain name. I have a VPS, which has a Nginx web server on the port 80 and 443. On this machine, I have a docker registry, which has SSL support also, registry runs on port 5000. How can I set up my integration on shippable to use my registry?

I try on this way:

![image](https://cloud.githubusercontent.com/assets/1

[2015-09-18 13:49] mbrodala commented on #1884
Output is back as normal.

[2015-09-18 13:49] #1884 closed

[2015-09-18 18:03] leroyjware opened #1886 "Build failing mysteriously -- URGENT"
Our builds on one of our repos started failing yesterday:

https://app.shippable.com/builds/55fc519ae600ce0c00774999

Can you please help us. We are exhibiting at TechCrunch on Tuesday of next week and it is critical that our deployments are working.

[2015-09-18 18:36] trriplejay commented on #1886
@leroyjware It looks like all of the failed builds were run on the same PR.  Was something changed in that PR that could have caused this? The output of before_install looks quite different. Maybe a package.json change?

[2015-09-18 19:27] leroyjware commented on #1886
It was a simple PR that shouldn't have run any different. No changes to package.json.

[2015-09-18 20:39] paislee commented on #1882
HI @ttrahan. My issue is definitely not your second bullet, because I can continue to push to the same registry from outside of Shippable.

I'm beginning to think my problem is your first point, because Shippable was able to successfully push when I changed to an EU gcr endpoint. I'm guessing there are some intermediate layers stuck in a bad state from a previous error. Unfortunately, the intermed

[2015-09-18 20:51] manishas commented on #1886
Can you please send your Dockerfile and shippable.yml to devashish@shippable.com? We're trying to get to the bottom of this.

[2015-09-18 21:05] ttrahan commented on #1882
Hi @paislee : let's try to address the first bullet above. First, confirm that when you re-run the build in Shippable, that it consistently fails at the same image layer, which looks to be 'a772f5b8cd2a'.

If so, in the Google developers console, you can view/access the individual container layers via the storage browser, which may help for this.  In the left-nav, drill down to Storage->Cloud Stor

[2015-09-18 21:22] paislee commented on #1728
+1 using the trashcan is not intuitive

[2015-09-18 22:12] paislee opened #1887 "How to run script after successful docker push?"
Once my Post-CI image is successfully pushed to Google Container Registry, I want to run a script that authenticates to gcloud and performs a rolling update on GKE. For non-Docker builds, `after_success` is used for deployment purposes, but this appears to run _before_ the image is pushed, at least for Post-CI workflow.

Is it possible to do this for a Docker build?

[2015-09-18 22:40] paislee commented on #1882
Thanks @ttrahan. Thanks for pointing me to the Storage Browser. For simplicity's sake, I simply deleted the entire bucket. When I re-built in Shippable, there were no errors noted and the image appeared to push successfully; the build was marked successful!

However, __the image never appeared in the Google Container Registry browser__, and the tag Shippable said it pushed cannot be found. The sub

[2015-09-19 01:55] paislee commented on #1882
Actually @ttrahan, it appears that the build is not pushed correctly. Shippable notifies me of success before the image is done uploading. I tried it again after deleting all the image layers in GCR. Shippable notifies me of success, but the build log continues to grow as layers are pushed. The push step ends up failing with the same error reported earlier. This explains the "Image push is already

[2015-09-19 02:38] JADurham909 opened #1888 "ElasticBeanstalk private dockerhub repo auth has the wrong file format"
Amazon expects:

{
		"https://index.docker.io/v1/": {
			"auth": "X",
			"email": "X"
		}
}

But is getting:

{
	"auths": {
		"https://index.docker.io/v1/": {
			"auth": "X",
			"email": "X"
		}
	}
}

This causes the elastic beanstalk deploy to fail.

[2015-09-19 02:39] JADurham909 commented on #1888
Closed by accident.

[2015-09-19 02:41] JADurham909 commented on #1888
It appears that Shippable is using a newer docker version and Amazon is still expecting an older auth file format.

http://stackoverflow.com/questions/31395904/deploy-image-to-aws-elastic-beanstalk-from-private-docker-repo

[2015-09-19 10:38] manishas commented on #1887
We currently only allow a small number of targeted actions after the container is pushed to google container registry, and adding support for your specific scenario is on our roadmap.  I will let you know when it's available. Thanks!

[2015-09-19 11:24] manishas commented on #1887
@paislee actually, one way to achieve your scenario with existing functionality is this -

- Create a Shippable Formation and deploy your container there
- We provide a way to trigger a workflow every time the container in a Formation is updated. This can be your GKE deploy script.

We can show you a demo of how this is possible... Can you set up a time slot at https://shippable.youcanbook.me ?

[2015-09-20 02:06] Arcnor opened #1889 "Build times are wrong"
I'm using a webhook to inform one of my services when a build starts & ends. However, although the time for "BUILD STARTED" is correct, the time for "BUILD SUCCEEDED" is between 10 to 20 seconds later (although the build takes ~5-10 minutes, and I get the message at that time, with the wrong time on it)

[2015-09-20 04:51] jawaid commented on #1889
@Arcnor  We will look at it and get back to you.

[2015-09-20 09:05] bittner opened #1890 "Build with Python doesn't install latest packages from PyPI (reusing image?)"
I have an Open Source project that builds [successfully on Travis-CI](https://travis-ci.org/Organice/django-organice/builds/81201759), but [fails on Shippable](https://app.shippable.com/builds/55fdd43ad7f42d0b003db088).

The reason for the failure is that one or more outdated package are installed that should be pulled afresh on a clean install. The build log suggests that the (intentionally lax)

[2015-09-20 12:16] jawaid commented on #1890
@bittner  We will look into this and get back to you.

[2015-09-20 22:30] Arcnor commented on #1889
Thanks @jawaid. In case it's useful, our last build went backwards in time (i.e. its finish time was before its starting time :D)

[2015-09-21 02:51] crimsonronin commented on #237
Bump!

[2015-09-21 04:36] manishas commented on #1890
@bittner can you share a link to the project so we can test it out at our end? Thanks!

[2015-09-21 05:49] pquentin opened #1891 "Using /root/ve as a custom virtualenv causes surprising errors"
When using a custom build image, the [Languages docs](http://docs.shippable.com/languages/#build-image_5) recommend using a custom virtual environment with `$SHIPPABLE_PYTHON` as an interpreter. It's already a source of confusion, because it's not clear why Shippable cannot do this for us.

Anyway, in your example you're using `/root/bldve`. It's not clear what bld means, so we naturally used `/ro

[2015-09-21 07:34] jawaid commented on #1891
@pquentin  We would look into it and we will get back to you

[2015-09-21 08:34] lekhab commented on #1886
@leroyjware: Marking this resolved based on the email thread/PR builds are now succeeding. Please let us know if you need any further help.

[2015-09-21 08:43] lekhab commented on #1885
@tudvari:

* Under Project settings, can you specify the full URL against the push image to section? ```tudvari.com:5000/tudvari/authservice```

* The account integration looks correct. Please let me know if you face any issue after you try the approach above.

This [blog](http://blog.shippable.com/integrate-with-quay.io-and-private-docker-registry) also walks you through the setup for private doc

[2015-09-21 09:19] lekhab commented on #1883
@164c: opened an issue to figure out why those specific builds seemed to have a problem. I see all your recent builds seem to be doing fine. Have you seen this recur since the time you reported this?

[2015-09-21 09:19] #1868 closed

[2015-09-21 09:20] #1859 closed

[2015-09-21 09:43] tudvari commented on #1885
Hi,

I tried your suggestion, unfortunatelly it does not work. Maybe we found an issue in the build image phase in the workflow, the docker daemon tags the new image, and this image tag name doesn't match with the image name, what we would like to push into our registry.

Docker build command is:

  sudo docker build --rm=true --pull=true --force-rm=true --no-cache=true --tag="tudvari.com:b0304397

[2015-09-21 10:22] bittner commented on #1890
https://bitbucket.org/organice/django-organice (triggers Travis-CI)
https://github.org/Organice/django-organice (triggers Shippable)

Source code is identical in boths repositories.

[2015-09-21 10:27] lekhab commented on #1885
will follow up on this.

[2015-09-21 10:37] lekhab commented on #1881
@czardoz -- can you please try the suggestion from 1352 as a workaround? This worked for similar cases.  (You could also use our custom nodejs images, but it is barebones and you will have to install any other service you need on top of that)

Remove the `node_js:` version key from  `shippable.yml` and install node 0.12.7 manually in `before_install`

*shippable.yml*
[code]

[2015-09-21 10:44] czardoz commented on #1881
@lekhab Yes, that workaround works, but I actually wanted to be able to test against multiple Node versions. I know I can set different environment variables, but I also have 4 existing variables. If I go that way, I'll end up having 8 lines in my ``env`` block. Functionally not very different, but I'd rather avoid it if possible.

Is there an ETA for this issue being fixed? I'm seeing multiple pe

[2015-09-21 11:07] 164c commented on #1883
@lekhab No. I've not seen it since I reported this issue. And I don't have any farther information about this issue.

 If you have any ideas about this issue and you think it would not occur again, feel free to close this issue. I'll re-open this issue if it occurred again.

[2015-09-21 11:12] pastawoua opened #1892 "Caching npm modules"
I've enabled caching on my project but the npm packages when running npm install aren't cached between builds. Do I need to do anything differently?

https://app.shippable.com/builds/55ffa83a58124d0d00ef8f1a

[code]

Thanks,
Brice

[2015-09-21 12:12] Achse opened #1893 "Pull request does not trigger build"
Hello,

I have my pull request (here: https://github.com/damejidlo/damejidlo/pull/8078) and no build has been triggered after push. Hook for other CI (Scrutinizer) works well.

I have tried to change commit mesaage (to change commit hash) and force-push. It does not help.

Thank you for help.
Petr

[2015-09-21 12:19] rageshkrishna commented on #1893
Hi @Achse. We had a small hiccup in our build trigger system. Your build should have started running. Please take a look and let me know. Thanks!

[2015-09-21 12:32] Achse commented on #1893
`Shippable — Builds in progress on Shippable`

Thanks. :)

[2015-09-21 12:33] #1893 closed

[2015-09-21 12:44] jawaid commented on #1883
@164c WE will close it for now and please reopen it if it happens again.

[2015-09-21 12:44] #1883 closed

[2015-09-21 13:10] JADurham909 commented on #1888
This one is causing me some pain.  I have 11 or so builds I have to manually update the auth file in S3 on each push to master.  Is there another workaround for this?  Maybe a script I can trigger to update the file format as part of a post build?

[2015-09-21 13:32] tomsterritt opened #1894 "How to trigger build?"
Hi,

I've pushed to our project (55d486cd1895ca44740e2a80) however it hasn't triggered a build - is there any option to manually trigger a build for a branch anymore? I've tried using Force Sync but the commit still hasn't come through.

Thanks

[2015-09-21 13:39] rageshkrishna commented on #1894
Hi @tomsterritt. Which branch are you trying to build?

When you visit your project page on Shippable, we list the latest build on each branch at the top of the page. By default we hide the branches that haven't run anything so far but there is a checkbox to "Show empty branches". Does that help, or are you not seeing the branch at all?

[2015-09-21 13:42] tomsterritt commented on #1894
The branch is there ('dev') - we've had builds running from it for a while. This commit just seems to have got lost, and I can't trigger it myself anymore it would seem?

[2015-09-21 13:43] rageshkrishna commented on #1894
There is a "play" button against each branch that should trigger a build. Is that not doing anything for you?

[2015-09-21 13:44] rageshkrishna commented on #1894
When you trigger a manual build we run with the tip of the branch.

[2015-09-21 13:45] tomsterritt commented on #1894
It gave me this error:
[code]

[2015-09-21 13:48] tomsterritt commented on #1894
There also seems to be a lot of these errors, but marked as 'Low':
[code]

They've not caused it to fail before though, it seems...

[2015-09-21 13:49] rageshkrishna commented on #1894
Hmm... did you make any changes recently to your YML file? Can you share it here or send it to me at ragesh@shippable.com so I can take a look?

[2015-09-21 14:02] matthewpflueger commented on #1870
Any updates for this issue?

On Tue, Sep 15, 2015 at 10:47 AM Matthew Pflueger <
matthew.pflueger@gmail.com> wrote:

[2015-09-21 15:37] rageshkrishna commented on #1894
Closing as this turned out to be an indentation error in the YML file.

[2015-09-21 15:37] #1894 closed

[2015-09-21 16:29] jawaid commented on #1870
@matthewpflueger  We are actively working on this issue. Will keep you updated.

[2015-09-21 17:12] ttrahan commented on #1882
@paislee : one of our engineers will be looking into this today.  updates to come.

[2015-09-21 17:18] jessestuart opened #1895 "Non-deterministic build failures installing npm dependencies"
We're experiencing intermittent build failures due to an error occurring while installing npm dependencies. The specific command is `sudo npm install -g karma karma-cli bower` (the project itself is JVM based, not node based, so the recommendation in #235 did not work). Here's an excerpt from the stacktrace:

[code]

What's odd is that this occurs on branches that have not changed, and for which b

[2015-09-21 17:24] jawaid commented on #1895
@jessestuart  We will look into it and get back to you.

[2015-09-21 17:33] jessestuart commented on #1895
@jawaid Update: I'm not sure what to make of this, but it seems that part of the problem may be that we're trying to always pull the latest version of `npm` before installing dependencies, i.e., by including `sudo npm install -g npm@latest` in our `before_install` block.

By setting this to a fixed version (e.g., `2.11.0`) we're able to get builds to go through, at least for the moment. However, I

[2015-09-21 17:40] trriplejay commented on #1895
Hi @jessestuart, I was just going to recommend exactly what you did.

I noticed that you're using npm@latest in your before_install section.  It seems that last week, latest npm was changed from 2.14.3 to 3.3.3, and if you compare your last successful build to your first failed build, you'll see that the installed npm version in that step has changed.

We had at least one other customer experience

[2015-09-21 18:01] jessestuart commented on #1895
Thanks for the clarification @trriplejay—I'll go ahead and do that. Appreciate the prompt response from you guys! :+1:

[2015-09-21 18:01] #1895 closed

[2015-09-21 23:24] ragsden commented on #1888
@JADurham909 : I have deployed a fix which pushes the older format to S3. Can you please let me know if the issue is now resolved? Thanks!

[2015-09-21 23:42] jawaid commented on #1858
@deploymc  Is this fixed for you?

[2015-09-21 23:49] JADurham909 commented on #1888
Just tested and it works as expected.  Thank you for doing this so quickly.  That is going to save me a ton of time ;P

[2015-09-21 23:51] jawaid commented on #1888
Thanks @JADurham909  & @ragsden

[2015-09-22 04:42] manishas commented on #1890
@bittner you have the following in your yml -

[code]
This is causing the cached image to be used for your builds. If you want to run a clean build every time, please remove those statements from your yml.

Let me know if this solves your issue.

[2015-09-22 07:45] #1888 closed

[2015-09-22 10:14] tomsterritt opened #1896 "Use nodejs version 0.12?"
We've started getting the following error during our script when using version 0.11, causing builds to fail:

[code]

A quick search suggests it may have been fixed in a later node version (0.12.2)

When I change the node version to 0.12 in our shippable.yml it attempts to use the binary, however fails and starts compiling from source instead (I won't leave that running as it'll take too long)

[c

[2015-09-22 10:21] bittner commented on #1890
Okay, thanks for the hint. This instruction is obviously specific to Shippable (and ignored by Travis-CI).

[2015-09-22 12:38] bittner commented on #1890
Still failing, but differently! Looks like the actual build is now passing. Now Travis-CI passes in the `after_success` section due to `coveralls` (probably) exiting non-zero.

Now, this has been reduced to an issue of the coveralls client. Travis-CI is obviously ignoring the exit code on purpose: Either they circumvent the coveralls issue, or they don't react on non-zero exits after successful co

[2015-09-22 12:43] bittner commented on #1890
Oh, as for coveralls, in fact my fault: My coveralls.io account still points at the old repository location. Sorry! :weary:

[2015-09-22 13:03] jawaid commented on #1896
@tomsterritt  We will look inti it and get back to you

[2015-09-22 13:11] jawaid commented on #1890
@bittner Thanks closing the issue.

[2015-09-22 14:57] lekhab commented on #1892
@pastawoua: One common reason why caching doesn't always kick in automatically is that it takes a few builds to propagate the cache across all our build hosts. Caching is local to the build host, hence the need for multiple builds (~10 builds). Have you run a number of builds since you turned on caching?

I am also testing your specific scenario to see if there could be any other issues.

[2015-09-22 15:11] jawaid commented on #1869
@joelash Just to update you. We are working on this and would update you soon.

[2015-09-22 15:17] lekhab commented on #1885
an internal issue has been opened to take a look at this issue.

[2015-09-22 15:18] jamescgibson commented on #1092
:+1:

[2015-09-22 19:06] chaserelock opened #1897 "Build fails with no explanation"
Hi guys,
We're running into some black box failure here. Our CI steps get all the way to building our dockerfile successfully, after which the build fails quickly.

I'd love some insight or a way to debug this.

Here is what the UI looks like:
![screen shot 2015-09-22 at 12 05 00 pm](https://cloud.githubusercontent.com/assets/5704766/10028624/55c63aee-6122-11e5-851b-56c17c811d79.png)

[2015-09-22 21:35] pastawoua commented on #1892
@lekhab yea it took a while for it to cache but now builds seem to cache. Thanks!

[2015-09-22 21:35] #1892 closed

[2015-09-22 22:26] paislee commented on #1882
@ttrahan thanks!

[2015-09-22 22:55] RealNobody commented on #1879
Again!

No timeout, it just doesn't upload artifacts.

NOTE:  We thought the artifact thing had been fixed, so we switched back to just running the commands rather than using a script like we had been doing to work around this issue.

https://app.shippable.com/builds/5601cd3f767f8812006033f0

[2015-09-22 23:55] ttrahan commented on #1882
@paislee : we think that the issue is related to pushing large images.  I believe you're using minv2, which we don't recommend if you're pushing images.  Try changing from using minv2 to one of the smaller base images we have (see https://hub.docker.com/u/shippableimages/) as your 'FROM' image in your Dockerfile.

[2015-09-23 09:49] alex88 opened #1898 "Services in EU?"
Will it be possible to have services run in europe's aws datacenters?

[2015-09-23 13:53] lekhab commented on #1897
@chaserelock: have there any other similar failures since this build? I see your recent builds are running okay..

following up on this case.

[2015-09-23 19:47] paislee commented on #1882
@ttrahan I was able to complete a successful push after realizing (due to your last comment) that Shippable was using minv2 as a base image. The docs are a bit confusing as to what happens if you specify a "push to" location without enabling the "Docker build" toggle. I incorrectly thought my project Dockerfile was being used. Once I enabled a POST-CI Docker build, my own image was built and pushe

[2015-09-23 19:53] ttrahan commented on #1882
@paislee Glad to hear you can push successfully now.  Sorry about the confusion.  I'll open an issue to update the docs to be clearer.

[2015-09-23 19:53] #1882 closed

[2015-09-23 21:41] robertcsakany commented on #1092
+1

[2015-09-23 23:59] chaserelock commented on #1897
Looks good now - you guys should mention that the user needs to be root in the pre-build CI flow

[2015-09-23 23:59] #1897 closed

[2015-09-24 04:13] moylop260 commented on #1477
Hello @manishas
Now, with new releases... Is supported docker-in-docker scenarios?

[2015-09-24 08:30] sheldon-sminq opened #1899 "Support for autodeploy from GCR to Cloud compute"
You have added support for GCR now, but would love to have an option to autodeploy to cloud compute.

We currently use autodeploy to elastic beanstalk, but gcr does not work well with EBS

[2015-09-24 14:20] czardoz commented on #1881
Hi, @lekhab , any updates on this? I can see a number of duplicates:

https://github.com/Shippable/support/issues/1896
https://github.com/Shippable/support/issues/1876
https://github.com/Shippable/support/issues/1866
https://github.com/Shippable/support/issues/1352

This issue has been present since at least 13th May. As a paying customer, is there a different channel where I can get in touch with

[2015-09-24 19:35] mtimm opened #1900 "Can the pypy version be updated in the base minions?"
We have started to see the following in our pypy builds:

    pip install pyOpenSSL
    Downloading/unpacking pyOpenSSL
    Downloading/unpacking six>=1.5.2 (from pyOpenSSL)
      Downloading six-1.9.0-py2.py3-none-any.whl
    Downloading/unpacking cryptography>=0.7 (from pyOpenSSL)
      Running setup.py (path:/home/shippable/build_ve/python/pypy/build/cryptography/setup.py) egg_info for package

[2015-09-25 15:55] TimHolahan opened #1901 "Installing PostgreSQL 9.4 in shippable.yml"
Hi.

Like those of [many of your would-be clients](https://github.com/Shippable/support/issues/1092), our stack requires PostgreSQL 9.4.

Per your instructions in response to [this issue](https://github.com/Shippable/support/issues/1446), I've installed it in shippable.yml. Here's the YML block:

[code]
(I should mention that we're using the **shippable/minv2** image, not a barebones language-only

[2015-09-27 08:15] megha-n-bodke commented on #1881
+1

[2015-09-27 09:17] megha-n-bodke opened #1902 "Make build debugging easy"
Currently build debugging is very hard and time consuming.
As there is no direct access to build environment, it has to be done through echo statements and log analysis.
Direct access will reduce this time drastically.

[2015-09-28 13:52] caarlos0 opened #1903 "/recentBuilds endpoint removed?"
I was using the `/projects/PROJECT_ID/recentBuilds` endpoint to measure the AVG build time here... seems like it was removed?

Why?

How can I get something like that now?

Thanks

[2015-09-28 16:07] lekhab commented on #1903
@caarlos0: Sorry about that. We made some recent changes to our APIs (for the better!). You should be able to use  ```/projects/:projectId/searchBuilds``` to get the info you previously got from recentbuilds.

The API documentation on the route is updated here:

http://docs.shippable.com/api/#projects

Hope this helps. Please let me know if you have any further questions.

[2015-09-28 17:19] caarlos0 commented on #1903
@lekhab

What should I pass to get the latest builds?

[2015-09-28 17:21] caarlos0 commented on #1903
@lekhab got it, I was passing 100 as limit, apparently that is too much. 50 worked.

Thanks!

[2015-09-28 17:21] #1903 closed

[2015-09-28 22:41] winglian opened #1904 "Build "hangs" for about an hour between "after success" and "save reports""
The actual timings seem to be about 10minutes total, but takes over an hour to complete, with no output about what is happening. https://app.shippable.com/builds/5609999da4c15d0d007ec9f7

[2015-09-28 23:55] aschwabe opened #1905 "Ability to zip files in shippable.yml"
I have scoured documentation and can't seem to find an answer.

Problem:  Using elastic beanstalk, want to do a custom build of an app and incorporate shippable's build id info.  This requires me to create a local zip file, and then have elastic beanstalk configured to look for that archive to deploy instead of the default git archive.

in my shippable.yml, i've tried the normal apt-get zip variat

[2015-09-29 09:02] pquentin commented on #1905
Did you try [unzip](http://packages.ubuntu.com/precise/unzip)?

[2015-09-29 09:25] roll commented on #1865
:+1:

[2015-09-29 11:56] richhl opened #1906 "cannot delete a project"
To reproduce:

login with my account
go to project settings https://app.shippable.com/projects/560a75471895ca447418c7c0/settings
click trash can
got  {"id":3000,"message":"Not Authorized to perform this action","methodName":"caller:540f589205bbf06a0205b786|projects|chkPermForId:560a75471895ca447418c7c0|_chkPermForId"}

thx in advance

[2015-09-29 16:37] philcraven commented on #1865
:+1:

[2015-09-29 17:58] DavidGDragon commented on #1906
Only owners of a project can delete a project, collaborators cannot.

[2015-09-29 18:05] DavidGDragon commented on #1905
You should be able to zip a file with the `zip` command
`zip myArchive.zip file1 file2 fileN`

[2015-09-29 18:43] pwalsh commented on #1881
+1. We are hitting this issue too.

[2015-09-29 21:18] garthbrydon commented on #693
@manishas any progress on this feature request?

[2015-09-29 21:31] garthbrydon commented on #1837
we've got the same problem

[2015-09-29 22:13] winglian commented on #1865
try something like (works for me):

[code]

[2015-09-30 07:34] czardoz commented on #1881
Looping in @jawaid who has replied on some of the duplicates.
Just to reiterate, we are paying customers, and I'm not sure if this repository is only for free support. Please let me know if I can get in touch anywhere else, @lekhab.

[2015-09-30 08:44] shamasis commented on #1881
+1

[2015-09-30 08:47] pwalsh commented on #1881
I just want to add there is an additional issue related to the neglect of node.js as a runtime on shippable - that of different node versions. We need 4.0.x support and as far as I see shippable is the only major CI service that doesn't have it.

[2015-09-30 09:13] RazvanPetruescu opened #1907 "trying to deactivate formation gives error"
Pressing deactivate formation - I want to remove credit card details.

Error message :

{"id":1003,"message":"Missing body data :unitType","methodName":"caller:55a37aa351e4f50b00051639|subscriptionPlans|post|_checkInputParams"}

[2015-09-30 10:59] rageshkrishna commented on #1907
Hi @RazvanPetruescu. We're looking in to this and will have an update soon.

[2015-09-30 11:12] antonbass opened #1908 "Run tests as non root user"
Hi,

Some of my unit tests spawn a temporary postgres instance. These don't work on your build system as postgres refuses to run as root.

Is there a way to run the 'script' section as a non-root user?

I know you have a postgres addon, but this is not an easy option for us to use.

[2015-09-30 13:27] rageshkrishna commented on #1907
@RazvanPetruescu We've deployed a fix. Please try this out again and let me know how it goes. Thanks!

[2015-09-30 13:29] RazvanPetruescu commented on #1907
@rageshkrishna seems to be working, thanks!

[2015-09-30 16:01] manishas commented on #1881
We are revamping our node image and we'll make sure it is available very soon. Sorry for the delay! I should have an update on this before EOW.

[2015-09-30 16:09] czardoz commented on #1881
@manishas, the issue is in the generic image, not sure if the node images are affected too.

[2015-09-30 16:12] manishas commented on #1881
@czardoz is there a reason you cannot use our node specific image or your own custom image?

Our default minv2 image is severely bloated at this time due to the addition of various languages, services, tools, etc. We're moving away from having to bloat it up even more and want to figure out how to address this without adding everything to minv2.

[2015-09-30 16:19] czardoz commented on #1881
I need to use the databases (see my first comment for the config).

I don't think this issue involves adding anything to the default image. The (probable) fix is mentioned in my third comment. This issue makes the default image completely unusable for node builds.

[2015-09-30 16:23] pwalsh commented on #1881
@manishas I've been using Shippable for 1+ years, mostly with Python projects. It is only now in the last weeks with running Node.js projects that I stumbled onto the many threads related to this one, and, indeed, that I started looking again at the alternative CI solutions.

What I want to say I - I didn't even know that there are different images - why a node-specific image, and not, say, a pyth

[2015-09-30 16:36] manishas commented on #1881
@pwalsh completely understand your frustration.... i will make sure we sort out the images in the next few days.

To answer your question -
- We do have language specific images for all languages, including python - http://docs.shippable.com/languages Look at the build image section for each language.
- Customers can use any build image they want with our free service. This is to help people who w

[2015-09-30 16:41] jdextraze commented on #1837
Go 1.5 is now written in go. So to fix this you need to install go 1.4 and then compile go 1.5. See more info here: https://github.com/moovweb/gvm/issues/155

[2015-09-30 16:45] manishas commented on #1881
@czardoz I will speak to one of our engineers and get back to you....

To unblock yourself in the short term - you can use any custom image you want with our platform. So if you were to take the [Dockerfile](https://github.com/shippableImages/ubuntu1404_nodejs/blob/master/Dockerfile) of our node specific image and add whatever you need to it, you can push it to a free account on Docker Hub and jus

[2015-09-30 16:55] pwalsh commented on #1881
@manishas wow! I had no idea about that feature:

http://docs.shippable.com/docker_registries/

That is better to be honest, than pretty much any other solution :).

[2015-09-30 17:06] czardoz commented on #1881
@manishas, yes that works for me. I believe you've linked to the Dockerfile for the Node image. I browsed this page: https://github.com/shippableImages?tab=repositories but I don't see the MinV2 dockerfile there. Am I looking in the right place?

[2015-09-30 21:51] tudvari commented on #1885
Hi,

could you please give me a feedback, what is the current status of this issue? It would be nice, if we can use shippable as a main CI tool. :-)

Thanks in advance.

BR,
Tibor

[2015-09-30 21:52] imrefazekas commented on #1885
Guys, would you share an update on this ticket? I have the same issue now and would be good to know to initiate the development of an own tool or can wait for a patch.
Thanks!

[2015-09-30 22:03] manishas commented on #1885
@tudvari @imrefazekas we have actually tested a fix for this internally already and it should be available in production in less than 24 hours.

[2015-09-30 22:06] tudvari commented on #1885
Great news! Thank you :)

[2015-10-01 01:15] pcflmb opened #1909 "Get an error when running 'pip --version' during setup_ve"
Output from running the command:
[code]

Apparently a solution is to update python 2.7 to at least 2.7.9... currently Shippable is building with 2.7.3.  Why is Shippable not on the newest patch release of 2.7?

[2015-10-01 04:59] gtaylor commented on #407
We require this as well to use Shippable. I couldn't find evidence in the documentation that Cassandra is even supported anymore, though.

Any idea on where this stands?

[2015-10-01 05:01] gtaylor opened #1910 "Run arbitrary service containers"
Hello!

We have the need to be able to run arbitrary service containers for a few daemons that our integration tests require. For example, NSQ, Cassandra, and some other stuff that can be found on public Dockerhub.

Is there any way to run arbitrary containers and link them in with the container being used in the Pre-CI Docker build flow?

[2015-10-01 06:50] xherriot commented on #1653
I always have an issue with "composer install" command, I don't know if the problem come from shippable or the repository but it always happen in the react/stream library:

<img width="979" alt="screen shot 2015-10-01 at 08 02 38" src="https://cloud.githubusercontent.com/assets/5094797/10214458/cad6e93a-6818-11e5-90b8-ea9b6beb9d90.png">

Sometimes it works, sometime it doesn't.

A bad one: https:/

[2015-10-01 08:54] nigelwinterburn opened #1911 "Yet another case of all build steps succeeding, while marking the build as failed."
https://app.shippable.com/builds/560cf11d8bd2640d0096e25d

This issue happens very frequently, perhaps every time I update my docker container. I have deleted and re-added the project and I'm still running into issues.

![screen shot 2015-09-30 at 10 53 07 pm](https://cloud.githubusercontent.com/assets/12054443/10216620/26b54bf0-67c6-11e5-8c62-86789862d4d0.png)
![screen shot 2015-09-30 at 10 53 13

[2015-10-01 15:50] luckyraul opened #1912 "Mulple ssh key"
Where is any posibility to add multple ssh keys to agent?
Because Bitbucket not allowing to use the same key twice.

[2015-10-01 22:51] vinicius0026 commented on #1865
:+1:

[2015-10-02 08:27] tudvari commented on #1885
@manishas Could you give me please update about this issue, it seems to not working yet :-(

[2015-10-02 13:24] jim-bo opened #1913 "authorized organization not registered in shippable"
I had the shippable permission request approved (and received notification from github). Then when I log into shippable I get the following error:

failed to fetch user profile (status: 401 data: {"message":"Requires authentication","documentation_url":"https://developer.github.com/v3"})
   at /home/shippable/www/node_modules/passport-github/lib/passport-github/strategy.js:90:28
   at passBackCont

[2015-10-02 23:27] grandmore commented on #1862
I have added a formation by clicking the formation tab at the top, however I cannot delete it once it's created. Since I was testing different accounts I find that I now have 6 that cannot be deleted.

[2015-10-03 10:29] imrefazekas commented on #1885
@manishas : I can confirm the statement from @tudvari . It does not work yet. How can I assist your effort on this subject? I am at your disposal. Our project must go on, so we have to initiate a plan B and implement a custom CI, but still can spend some time on this...

[2015-10-03 14:43] manishas commented on #1885
The fix is ready to be deployed and I'll make sure it is deployed today. I'll update soon...

[2015-10-03 16:06] manishas commented on #1885
@imrefazekas @tudvari can you try now? We've deployed the fix to prod.

[2015-10-03 16:28] tudvari commented on #1885
I got the followed error msg:

{"id":1005,"message":"Internal API error : getBuildById","methodName":"caller:556ee9c87f74c80d007db4b3|buildConsoles|chkPermForBuildId:561001fa28b6700c007edf92|_getBuildById"}

[2015-10-03 16:31] manishas commented on #1885
Can you paste a link to your build?

[2015-10-03 16:35] tudvari commented on #1885
Sorry I can't because I have been recreate the project, it seems to working at the moment. :-)

[2015-10-03 16:37] manishas commented on #1885
Oh so it's working now?

[2015-10-03 16:37] tudvari commented on #1885
Yes, I try the fix for this issue. :)

[2015-10-03 16:51] tudvari commented on #1885
Thank you for your help, it's working :-)

[2015-10-03 21:55] #1885 closed

[2015-10-04 01:43] bgrant0607 opened #1914 "Use shippable.yml from result of merge of PR with HEAD of branch"
Every time we (Kubernetes) need to change shippable.yml to match a corresponding change in the source it breaks hundreds of outstanding github PRs, none of which touch whatever it was we changed.

I couldn't find clear documentation about it, but it appears that shippable.yml is always taken from the PR rather than from the result of merging the PR with HEAD of the appropriate branch. Unfortunatel

[2015-10-04 03:38] megha-n-bodke opened #1915 "Python test results and coverage reports are not parsed"
I have following script to generate testresults and coverage. As we can see in ls those files are being generated.
[code]
But save_reports do not parse any reports:
[code]

I am doing something wrong here?

[2015-10-04 12:16] ArturT opened #1916 "Is it possible to test cookbooks with vagrant + virtualbox or lxc?"
I would like to test my cookbooks on shippable so I installed on minion the vagrant:

[code]

When  I tried lxc then this bug occurs:

[code]

I also tried virtualbox but without success. **Is there any recommended way of testing cookbooks with vagrant on shippable minion?**

[code]

[2015-10-05 00:46] gerardmrk opened #1917 "Language support for NodeJS v4.0 ?"
The currently-listed Node versions are 0.12 and under.

[2015-10-05 06:34] lekhab commented on #1917
@gerardmrk: This is already on our radar. There is a duplicate support issue on this: https://github.com/Shippable/support/issues/1881. Please track updates to language specific images there.

One of the alternatives explained in that issue is to build a custom Docker image for your needs. You could use one of the node specific [Docker File]((https://github.com/shippableImages/ubuntu1404_nodejs/bl

[2015-10-05 06:53] zixia opened #1918 "i registed 2 account by one auth my github and the other auth my bitbrucket."
now the system treat me like to identities.

I want to delete one and re-link them together, but the "delete account" feature is not availble now.

could you help me to delete my account manually?

thx.

[2015-10-05 08:52] marcogario opened #1919 "Build failed after pulling image from dockerhub"
The build fails. Usually only one or two of the jobs fail, while the other are successful. Successive runs might have a different set of jobs failing. Looking at the log of the failed jobs, we see only that the (custom) docker image is being pulled from docker hub, with the last line of the log saying:
[code]

After this, the tests are not executed and the next step is 'save reports'.

https://app

[2015-10-05 10:43] rvdwijngaard commented on #1480
Hi @lekhab the workaround of @Nalum does not solve my issue. I am still getting a 403. Please advice since this is really becoming an issue.

The build which is failing is https://app.shippable.com/builds/56125233c941e90c00ef92c1

[2015-10-05 13:14] lekhab commented on #1918
@zixia: which account would you like deleted? the github one or bitbucket?

[2015-10-05 14:29] RealNobody commented on #1828
Again: https://app.shippable.com/builds/560ec3bc013d9a0f002e4d50

RSpec and Cucumber tests appear to have completed successfully, but the system timed out without running Ember tests.

[2015-10-05 14:30] RealNobody commented on #1879
Again: https://app.shippable.com/builds/560ec3bc013d9a0f002e4d50

Still not fixed - Not running post script - not uploading artifacts

[2015-10-05 16:06] zixia commented on #1918
bitbucket, please. :+1:

[2015-10-05 19:29] chaserelock opened #1920 "Builds not continued after the testing images is pulled"
You can look at any of our recent builds, the test image is pulled and then there's nothing for a while, followed eventually by "Saving Reports". Essentially skipping...everything

For whatever reason we're no longer seeing the git sync step, which makes me think that there's some issue starting up or running our test container. I can't actually debug it because I don't know how shippable is start

[2015-10-05 19:37] JADurham909 opened #1921 "Builds stuck for 2 hours"
I do not have any active builds, but my build has been stuck waiting for 2 hours.  I tried to cancel it, but I cannot get another one to run.

[2015-10-05 19:38] JADurham909 commented on #1921
My current build has been waiting for 30 minutes.

[2015-10-05 21:54] bobeagan opened #1922 "Granular control over which messages post to slack"
I don't care about knowing when a build starts or passes.  I really only want to have the slack notification send for failures.  Is it possible to add some more controls to the configuration of the slack notification to allow selecting which of these notifications should send?

[2015-10-05 23:01] adityabansod opened #1923 "build 5612f8fb4aadb50d009eb189 has errors with xunit reporter"
Hi there --

Our builds (e.g. `5612f8fb4aadb50d009eb189`) run without problem under the normal mocha invocation, such as this:

`./node_modules/mocha/bin/mocha ./test`

and all the tests pass.

But then when generating xunit based tests, things fail randomly:

`./node_modules/mocha/bin/mocha -R xunit ./test > shippable/testresults/result.xml`.

Any tips?

cc @tekram @d2marcelo

[2015-10-05 23:19] JADurham909 commented on #1921
3 hours and its still waiting.

[2015-10-05 23:21] manishas commented on #1921
We're looking into this...

[2015-10-06 00:53] trriplejay commented on #1921
@JADurham909

Hello, would you mind if I trigger a build for your project to help track this down?

[2015-10-06 11:57] JADurham909 commented on #1921
Not at all go for it.

[2015-10-06 18:08] trriplejay commented on #1921
@JADurham909 looks like your build is running again now. Let me know if you have other problems.

[2015-10-06 18:17] avinci commented on #1891
@pquentin We have made the change so that we do not use $HOME/ve as a folder. We use python to run out build and hence the conflict. Let me know if you still are facing issues with this.

[2015-10-06 18:20] avinci commented on #1918
@zixia Can you give me your bitbucket account login so that I can delete it.

[2015-10-06 18:26] avinci commented on #1916
@ArturT Is there any particular reason you want to use Vagrant? A docker container is pretty much a replacement for Vagrant.

At this point, you can only use Docker containers to test out VM like deployments. In a few weeks we are announcing a few new plans where you could potentially do this. I am happy to help if you need some guidance on using Docker to test cookbooks.

[2015-10-06 18:30] avinci commented on #1915
@megha-n-bodke are you sure your tests are writing the files to that directory? Is there a projectId that I can look at that you are testing?

[2015-10-06 18:38] avinci commented on #1914
@bgrant0607 Yes, you are right. We take the shippable.yml from the PR if it is present and then merge it the the branch against which the PR was opened. This behavior is present to allow for the first commit itself to be a PR as well future changes to the YML to be supported through PR.

If the PRs are merged in the order they were created, it should not technically break unless an earlier PR will

[2015-10-06 18:41] avinci commented on #1913
@jim-bo If the org is a private org, you need to go to account settings and make sure private repos are turned on. Can you check to see if you have this turned on?

Docs are here
http://docs.shippable.com/account_settings/#github-identity

I take the underlying point here that we need to make this better. I am adding that to the requirement.

[2015-10-06 18:44] avinci commented on #1912
@luckyraul Could you elaborate a bit more on what you are trying to achieve here? There might be a way to do it now.

[2015-10-06 18:47] avinci commented on #1910
@gtaylor This is possible with the new enterprise plans coming in the next couple of weeks. On multi tenant SaaS product this is not possible due to port and network security that we have enabled. Would be happy to talk more about the new plans if you would like to beta test it.

[2015-10-06 18:49] avinci commented on #1902
@megha-n-bodke We have been working on this for last 3 weeks and the first phase of this is complete with the second phase to be done by end of this month. I totally hear you wrt to this and we should have done this sooner than later. stay tuned. If you have a subscription ID, we can move you over to the new system if you would like to be on the Beta group.

[2015-10-06 18:50] luckyraul commented on #1912
I need two ssh keys to provide cloning from multiple bitbucket repositories. I can't use your key in them both since Bitbucket not allowing to use the same key twice in different repositories.

[2015-10-06 18:56] avinci commented on #1912
There are two possible solutions.
* one is to use the subscription key and add that to your account as an external trusted key. Now you have impersonated shippable build account as yourself and as along as you have access to the repos it should work across orgs, repos etc.
* second is if you don't want to shippable to impersonate you. You can create a new bitbucket account and give that account pe

[2015-10-06 18:57] avinci commented on #1898
@alex88 we are announcing a couple of Enterprise plans in the next 2 weeks. With this its absolutely possible to do this. Does that work?

[2015-10-06 19:03] ArturT commented on #1916
@avdrav Oh, so using docker might be a good idea. I need to test cookbooks on fresh ubuntu 14.04. My repo contains only cookbooks. I'll try to play and figure out how to do it.

[2015-10-06 19:05] avinci commented on #1916
Our docker containers or minions are ubuntu 14.04. There is an image tag that you can add to your YML which should instruct what image you want your cook books tested against. It should be super straight forward and happy to help

[2015-10-06 19:07] avinci commented on #1905
You need to make sure you understand the relative path of where the build is running. I would suggest doing `pwd` in your YML and see the current folder. There are also quite a few ENV vars that you can use to get the dynamic build number folder etc. You could add `printenv` to your YML `before_install` section and it will print all the things that are set as part of the build environment.

We sho

[2015-10-06 19:15] avinci commented on #1899
@sheldon-sminq Can you let me know what you mean by auto deploy to cloud compute? We have done a lot of work in the last few weeks and wanted to know if we have addressed your scenario.

[2015-10-06 19:17] avinci commented on #1900
@mtimm We are planning to sunset this min image as its becoming un-maneagble and move to native images. Is there any other pre-installed service that you use currently? or its just pypy?

[2015-10-06 19:23] mtimm commented on #1900
python 2.7, python3.4 and pypy are the ones we use.

https://github.com/datacenter/cobra/blob/master/shippable.yml

I'd happily switch to ubuntu1404_python or ubuntu1204_python if they included pypy.  I guess I could switch now and manually install pypy as needed.  Thoughts and suggestions greatly appreciated.

[2015-10-06 19:26] avinci commented on #1900
perfect. I will update the image and let you know the path. Thanks for your patience...

[2015-10-06 19:27] #1921 closed

[2015-10-06 19:28] #1916 closed

[2015-10-06 19:30] #1906 closed

[2015-10-06 19:31] #1902 closed

[2015-10-06 19:31] #1898 closed

[2015-10-06 19:35] avinci commented on #578
This has been cleaned up significantly and please let us know if you are still seeing these issues

[2015-10-06 19:35] #578 closed

[2015-10-06 19:37] avinci commented on #763
We do not plan to implement this as native deployment endpoint as not many customers have expressed the need.

You can do this by installing either the SDK or the CLI into the container and call it after_success

[2015-10-06 19:37] #763 closed

[2015-10-06 19:39] avinci commented on #924
I think the best solution would be to use python as the language as we native ubuntu python and nothing gets started or stopped. Closing this as its possible today and we are moving away from programming languages with the evolution of Docker

[2015-10-06 19:39] #924 closed

[2015-10-06 19:40] avinci commented on #942
this has been implemented

[2015-10-06 19:40] #942 closed

[2015-10-06 19:41] avinci commented on #1066
this has been minified at this point. Let me know if you still see issues.

[2015-10-06 19:41] #1066 closed

[2015-10-06 19:46] avinci commented on #1293
@z2z Not sure if this is still a requirement. In case so, what do you mean by setup private repos.

[2015-10-06 19:46] #1304 closed

[2015-10-06 20:06] zixia commented on #1918
the same as my github email: zixia@zixia.net

thanks!

[2015-10-06 20:24] bgrant0607 commented on #1914
Thanks much for the response. If shippable.yml is taken from the result of merging the PR with HEAD, that is the behavior we want. I'll look again into the failures we've seen to see whether something else is going on.

[2015-10-06 20:24] #1914 closed

[2015-10-06 20:26] bgrant0607 commented on #1914
FWIW, this is a change that broke even seemingly non-conflicting PRs: https://github.com/kubernetes/kubernetes/pull/14156/files

[2015-10-06 23:43] alex88 commented on #1898
@avinci Enterprise plans? that sounds pricy, we would run just 10/15 containers, I thought you were going to offer the formations thing with the ability to select Europe as DC

[2015-10-07 02:19] svo opened #1924 "Job is failing to push to private docker.io repository"
Hi,

I am attempting to configure a project that uses custom (public) docker images to test and build an image for a private docker hub repository.

At the moment everything seems to be working as expected apart from the final "hub push" step.

I have configured the "docker.io" integration in my "Account Settings -> Integrations" and configured that as the "Hub" integration in my "Project Integrat

[2015-10-07 04:00] rageshkrishna commented on #1924
@svo There are a couple of things I'd like to confirm:

1. Does pushing new tags work for you locally using the same credentials?
1. If it does work, can you please let me know the docker version you are running locally?

We have seen a similar issue a couple of times before this and both times it turned out to be some issue within docker hub. For example, https://github.com/docker/docker/issues/1

[2015-10-07 04:49] pquentin commented on #1891
@avinci Thank you, that's perfect! Closing.

[2015-10-07 04:49] #1891 closed

[2015-10-07 05:14] sheldon-sminq commented on #1899
I meant the similar flow to elastic beanstalk and docker deployment that
shippable supports
When a commit to github happens ci
On Oct 7, 2015 12:45 AM, "Avi Cavale" <notifications@github.com> wrote:

[2015-10-07 06:39] svo commented on #1924
@rageshkrishna

I have managed to push new tags to that repository from my local machine using the same credentials; I'm using `Docker version 1.7.1, build 786b29d` on Ubuntu and `Docker version 1.8.2, build 0a8c2e3` on my Mac.

I have tried deleting the repository on a few occasions and have additionally tried having no tags versus having a primed repository with no success.

Apologies if I'm mis

[2015-10-07 07:31] rageshkrishna commented on #1924
Thanks for the details. We are also running docker version `1.7.1/786b29d` so I think we're running in to something else.

Looking a little deeper, I noticed that you have added a "Private docker registry" integration but what you are really trying to do is to push a private image to the Docker Hub registry. For this, you should really use the "Docker" integration and not "Private docker registry"

[2015-10-07 08:41] diwu1989 opened #1925 "can't log in"
Whenever I click log in
[code]

[2015-10-07 08:54] rageshkrishna commented on #1925
@diwu1989 Is this happening for your consistently? I can't seem to reproduce this issue at the moment.

[2015-10-07 09:14] svo commented on #1924
Thanks @rageshkrishna,

It would appear it was my misunderstanding in regards to the difference between the "Docker" and the "Private docker registry" integrations that was to blame.

I have changed the configuration over to using the "Docker" integration and all is now behaving as expect.

Many thanks for your time... apologies for any inconvenience.

[2015-10-07 09:15] #1924 closed

[2015-10-07 09:21] rageshkrishna commented on #1924
Happy to help! I guess we should improve our documentation or provide some more explanation in-line to make the difference clear.

[2015-10-07 11:13] Lammmas opened #1926 "Laravel 5.1 user interaction testing"
Hello,

In Laravel you can test user interaction by visiting URLs and simulate user interactions. However, when I try to do that I keep getting this error:

```A request to [localhost] failed. Received status code [404].```

I've tried sending an email via the contact form, but no reply. What would be the correct URL to use? localhost:80 is not working, so should it be localhost:8080 or localhost:

[2015-10-07 14:53] chriskinsman opened #1927 "Allow notification of pull request owner"
When a build is triggered for a branch or pull request it would be nice to have a way to notify the branch committer or pull request creator the status of that build regardless of success or failure.

No one else on the team is likely interested.

Today you have to put the notification emails directly in the .yml and there is no way to indicate committer/pull request creator dynamically.

[2015-10-07 16:53] gtaylor commented on #1910
After doing some more research, it sounds like there are some other existing services that a bit further along with this. Given our timeline, I think we'll try one of them out.

Best of luck with the new development. It sounds like you're heading in the right direction!

[2015-10-07 16:53] #1910 closed

[2015-10-07 17:01] marcogario commented on #1919
Related: #1920

[2015-10-07 17:33] jakemmarsh opened #1928 "Fail to deploy to Amazon EBS, EOFError on prompts"
I have my build working and all my tests/running passing correctly. In my `after_success`, I'm attempting to deploy to Amazon EBS using the steps provided in your documentation.

When it begins the `eb init && eb deploy` step, I get the following prompt/error:

[code]

I can't seem to find anyone else having this problem, or any documentation about how to specify platform in `config.yml`. I did re

[2015-10-07 20:06] #1890 closed

[2015-10-07 20:39] molerat619 opened #1929 "Shippable Branch Coverage always 0.00%"
I am testing phpunit tests with Shippable CI but I always get 0.00% in Branch Coverage while Sequence Coverage is 100%.

This is my **shippable.yml**:

    language: php

    php:
        - 5.4

    before_script:
        - mkdir -p shippable/testresults
        - mkdir -p shippable/codecoverage
        - mysql -e 'create database if not exists test;'

    script:
      - phpunit  --log-junit ship

[2015-10-07 20:59] lekhab commented on #1929
@molerat619: PHPUnit did not support branch coverage until recently, so our parser does not output branch coverage metrics for PHPUnit.
From the PHPUnit docs, it does look like they might have added support for branch coverage; will open this as a feature request internally to find out if this is now in a parseable format.

[2015-10-07 21:02] molerat619 commented on #1929
Ok, thank you very much Mittwoch, 07 Oktober 2015, 05:59Nachm. -03:00 von Lekha Bhargavi < notifications@github.com> :

[2015-10-07 23:46] avinci commented on #1898
We call it Enterprise as it has a lot of other enterprise features like OnPremise Github adapters etc. We do not plan to charge for those adapters but will only enable them for specific plans. One of the features that was asked by enterprises was more control on the host machines. please stay tuned and happy to discuss this offline more details...

I do promise that there will be no sticker shock.

[2015-10-08 06:12] diwu1989 commented on #1925
Yes this happens to me consistently

[2015-10-08 06:38] pschrammel opened #1930 "cache: true option not working with ruby environment"
Hi,
see e.g. build 56160ba0be57100b0035d46d.
the install step is always reinstalling rubygems which takes more than 50% of the test time.

[2015-10-08 11:38] pquentin commented on #1922
+1

This is the reason why we stuck to the old way of integrating with Slack, by using the Slack API in after_failure. This no longer works for us because we now build our Docker images from Shippable, and build_image happens after `after_failure`, so we can't report Docker build failures to Slack.

And since Shippable notifications go in our main Slack developer channel, seeing all passes would a

[2015-10-08 11:40] rvrignaud commented on #1922
a big +1 for @pquentin !

[2015-10-08 19:34] JADurham909 opened #1931 "Bitbucket hooks not triggering builds"
Commits to master branch are no longer kicking builds for any repositories on Bitbucket.

[2015-10-08 19:34] JADurham909 commented on #1931
I can manually kick them.

[2015-10-08 19:42] jakemmarsh commented on #1928
I fixed the first error by adding `default_platform: node.js` to my `config.yml` file.

Now, it's failing on the prompt `Do you want to set up SSH for your instances?`. I'm assuming this can also be defined in `config.yml`, but I've yet to find the correct option. Documentation for possible values in this file is very poor

[2015-10-08 19:43] lekhab commented on #1931
@JADurham909 - there's a current issue with bitbucket webhooks posted on the Bitbucket status page:
http://status.bitbucket.org/

[2015-10-08 21:17] JADurham909 commented on #1931
thanks, this is working again.

[2015-10-08 21:19] #1931 closed

[2015-10-09 05:31] tudvari commented on #1917
Hi,

I use shippable with node 4.1.1. I show use my shippable.yml snippet, maybe you can try this:

node_js:
    - 4.1.1

[2015-10-09 07:10] rageshkrishna commented on #1925
@diwu1989 We're still unable to reproduce this issue. I have contacted Github support to see if they might be able to give us some details on why your login is failing. I'll update this issue as soon as I have more information.

[2015-10-09 08:07] marcogario commented on #1919
The problem persists [1]. I also tried changing the docker image we are pulling from. Any hope this can be looked into?

[1] https://app.shippable.com/builds/56168edc61d1110b00cc9bf8

[2015-10-09 08:54] manishas commented on #1919
We are looking into this and will update you soon..

[2015-10-09 09:11] mbrodala opened #1932 "Slack build notification should show the test results for individual builds"
A project I am running on Shippable reports weird numbers like `698/702 tests passed` or `788/792 tests passed` upon build notification in Slack. The notification correctly indicates a successful build but the test number is totally off. For an example see build `561781993a54720b00048afd`.

[2015-10-09 09:28] rageshkrishna commented on #1932
@mbrodala We're reporting the total number of tests across all the builds in the matrix. If you add up all the tests in each build, the numbers should match. But I can totally see how this is confusing. We should probably improve our notification to show test numbers for individual builds.

[2015-10-09 09:50] diwu1989 commented on #1925
You guys are probably hitting the oauth rate limit and has my account in a messed up state.

[2015-10-09 09:57] mbrodala commented on #1932
Ah, I get it, now it at least makes sense why the build is reported as successful even though not all tests have passed. ;-)

[2015-10-09 10:03] rageshkrishna commented on #1932
Hmm, that definitely should not be happening. If the tests fail the build should be reported as 'unstable' or 'failed', depending on how your test runner likes to report errors. I will open up an issue internally to track this down.

[2015-10-09 10:21] sheldon-sminq opened #1933 "AWS .ebextensions"
I am currently using the autodeploy feature for Docker and Elastic Beanstalk, i wanted to know how can we apply custom changes using .ebextensions for Elastic Bean stalk. Do i just need to include this folder in my github repo root?

[2015-10-09 11:10] mbrodala commented on #1932
Sorry for not being clear here: some of the builds fail but are also allowed to fail, so this is perfectly fine. Thus the unequal number of executed and total tests.

[2015-10-09 11:21] ArturT commented on #1916
I end up with yml file like this

[code]

But know I have problem with firewall cookbook which requires root access.

[code]

I found out https://github.com/docker/docker/issues/4424 that docker needs to be started with `-privileged ` but is it possible to set up this in yml file somehow?

[2015-10-09 13:38] manish-in-java opened #1934 "Builds failing with internal API error"
I have configured a build for a private Java Maven repository hosted on Bitbucket.  One out of every few builds is failing with the following error:

Simply re-running the build usually succeeds.  However, the repeated failures are causing false alarms for the team as non-technical users are habitual of taking a look at the build status page and get surprised on seeing so many failures.

[2015-10-09 13:43] rageshkrishna commented on #1934
@manish-in-java We're currently seeing some issues with webhook builds. We're looking in to this and will have an update soon.

[2015-10-09 14:34] cduzan opened #1935 "Using multiple projects' build outputs"
I have multiple repos that each contain a project. I want to keep these separate so every time something is committed that specific project is built and tested separately in Shippable. Fairly straightforward Shippable functionality, I don't have any problems with this part.

However, these projects are pieces to a whole that needs to be deployed together. Is there a way to store the necessary part

[2015-10-09 15:28] cduzan commented on #1935
Just found Docker Compose. This looks like the solution I need.

[2015-10-09 15:28] #1935 closed

[2015-10-09 18:33] avinci commented on #1935
You can use Docker Compose as long as you are ok to hardcode a lot of these. If you would like to keep it more run time options, look into Shippable formations

[2015-10-09 18:50] cduzan commented on #1935
Thanks @avinci . I'll definitely take a look at this. I'm new to Shippable and Docker so I'm kind of just learning as I go

[2015-10-09 22:56] jdextraze opened #1936 "Go build test randomly failing"
I get a "cannot find package" when my go tests run on shippable. And the missing package folder is in my project repository, not an external package. How can this be possible?

Like I said, this is randomly happening... I re-run the build and it works.

Any idea why?

Example build: 561843a34ebffb0c00ce87d0

[2015-10-09 23:03] manishas commented on #1936
Just filed an internal bug.... will look into this and get back to you.

[2015-10-10 04:41] megha-n-bodke commented on #1915
Hi Avi,

Here are the details:
Account Id: ID: 56068cdb4fcd3a0b00e186c4
Link to build: https://app.shippable.com/builds/5613e20074520f0d00a12e3c

Let me know if you need anything else.

Regards,
Megha

On Wed, Oct 7, 2015 at 12:00 AM, Avi Cavale <notifications@github.com>
wrote:

[2015-10-10 04:43] megha-n-bodke commented on #1902
Hi Avi,

We are happy to be part of Beta group.
My id is 56068cdb4fcd3a0b00e186c4

Cheers,
Megha

On Wed, Oct 7, 2015 at 12:19 AM, Avi Cavale <notifications@github.com>
wrote:

[2015-10-10 06:54] rageshkrishna commented on #1934
@manish-in-java We deployed a fix for this a few hours ago. Please let me know if you're still seeing this. Thanks.

[2015-10-10 08:58] schauder opened #1937 "Starting a build does not work"
I just enabled a github repo for building with shippable, but when I try to start the build I get the following error message:

{"id":3000,"message":"route permission does not match systemRoles","methodName":"validateCaller|_setSystemRoles"}

This is the project status page from where I try to start the build: https://app.shippable.com/subscriptions/5593645aedd7f2c0524cb0a9/projectsStatus

[2015-10-10 09:10] rageshkrishna commented on #1937
@schauder I'm looking in to this right now and will have an update for you very soon.

[2015-10-10 09:58] rageshkrishna commented on #1937
@schauder This has been fixed with an update to our UI. Please try refreshing the page and triggering your build.

[2015-10-10 10:07] schauder commented on #1937
Wow, that was fast! Works.

[2015-10-10 10:07] #1937 closed

[2015-10-10 13:53] mspanc opened #1938 "Shippable not reacting to commits in some of the projects"
Hello,

Shippable stopped to automatically detect new commits in one of my projects.

This is sample build that had to be triggered manually, despite commit being pushed to bitbucket: https://app.shippable.com/builds/5619182fe1819f0d00abf9b6

[2015-10-10 14:44] tudvari commented on #1938
Hi,

do you have any restrictions in your shippable.yml file? For example:

branches:
  only:
    - master

This rule allow just the master branch.

[2015-10-10 17:27] mspanc commented on #1938
No, I don't have any restrictions, the same script was working properly some time ago, it was untouched.

[2015-10-11 09:45] manish-in-java commented on #1934
I triggered a build just now and it succeeded.  If you are certain that the underlying issue has been fixed, please feel free to close this issue.  I will raise another one if I run into a problem later.

[2015-10-11 18:10] flemse commented on #1092
any status on this?

[2015-10-11 18:35] manishas commented on #1934
Yes, we've fixed the underlying issue. Thanks for letting us know it works now!

[2015-10-11 18:40] mspanc opened #1939 "/proc not available"
Hello,

I am developing a software that relies on the fuser command.

Here's the output:

[code]

How this behaviour can be changed?

[2015-10-12 05:38] daylightstudio commented on #1926
I'm running into a similar issue and have specified the protected $baseUrl property on my test class to match the testing URL in my environment as well but am still getting the 404 error message.

[2015-10-12 10:20] pmacosta opened #1940 "Error while generating build"
Late Sunday (EST) builds started to error out in the first step, I get:
+ Generating builds
    + Error while generating build for branch develop
        Error saving build meta-data: Database error

Example build 429, commit 1b8a845

[2015-10-12 10:55] geoah opened #1941 "Building a container with just a go (golang) binary"
I'm interested if it is possible to build and push a container `FROM scratch` that just contains the binary of a golang application (instead of actually pushing the golang container with the source the the built binary)

Our workflow the following; currently uses travis with `requires sudo` and a makefile that does all the dirty work for us:
1) Create a build container `FROM golang`, test & build

[2015-10-12 14:32] chriskinsman opened #1942 "Dependent Build Triggers Failing"
{"id":3000,"message":"route permission does not match systemRoles: /workflow/triggerBuild","methodName":"validateCaller|_setSystemRoles"}__SH__CMD__END__|{"type":"cmd","sequenceNumber":"1444659877","id":"7c14c8e1-703a-4625-9112-577f71216036","completed":"0"}|curl -H "Authorization: apiToken $API_TOKEN" -H "Content-Type: application/json" -d "{\"projectId\":\"$psjobscriptsid\"}" https://api.shippab

[2015-10-12 17:31] chriskinsman commented on #1942
@manishas ideas?

[2015-10-12 17:32] manishas commented on #1942
we're working on a fix... will update soon.

[2015-10-12 19:51] manishas commented on #1942
@chriskinsman can you try now? It should be fixed.

[2015-10-12 19:52] chriskinsman commented on #1942
Will do!

[2015-10-12 20:01] chriskinsman commented on #1942
Response now shows completed but the builds never start...

[2015-10-12 20:01] chriskinsman commented on #1942
Response now shows completed and builds start.  Thanks!

[2015-10-12 20:01] #1942 closed

[2015-10-12 20:39] marcogario commented on #1919
On my side, you can close the issue. The issue kept occurring, and we were forced to change CI service.
Thanks for looking into it.

Best Regards,
Marco

[2015-10-13 03:48] chinthakagodawita opened #1943 "Test results aren't being parsed"
We've got PHP CodeSniffer running under a custom Docker container outputting a JUnit XML report file (to `<build-root>/shippable/testresults/phpcs.xml`).

This used to work but now simply doesn't display any of the test results. Has something changed within shippable? Output from shippable is:

[code]

[2015-10-13 06:40] sdlarsen commented on #1943
I have the same issue. Tests are run, coverage report generated but nothing shows up. My projects are python. Something must have changed as this has been working for quite some time.

[2015-10-13 06:57] rageshkrishna commented on #1943
We're looking in to this. I'll update this issue as soon as I have more details.

[2015-10-13 07:19] rageshkrishna commented on #1943
This has been fixed. @chinthakagodawita @sdlarsen Please try another build and let me know if you're still running in to this. Thanks!

[2015-10-13 07:24] sdlarsen commented on #1943
@rageshkrishna: My builds are fine again. Thank you.

[2015-10-13 07:48] rageshkrishna commented on #1943
Thanks for the update @sdlarsen

@chinthakagodawita I'm going to close this issue now as it has been resolved. Please reopen this if you still see this happening on your projects.

[2015-10-13 07:48] #1943 closed

[2015-10-13 08:17] chinthakagodawita commented on #1943
All good for me as well, thanks for the quick response @rageshkrishna!

[2015-10-13 10:26] rkiciak opened #1944 "Error while generating build for branch master"
We are experiencing errors on builds currently:

See build `561cd9f8f44b4610006f18c1` for example.

[2015-10-13 13:47] rvdwijngaard commented on #1480
hi,

I gave it another try and finally resolved this. It seems
[code]
is changing the GOPATH. I changed my configuration to something like this:
[code]

This solves the issue.

[2015-10-13 13:48] rvdwijngaard opened #1945 "web hook not working for one of my projects"
Hi,

A build is not triggered if I push a commit to my repository even though there one configured which has been working properly in the past.

please checkout this project: https://app.shippable.com/projects/552cbd655ab6cc1352c32b68

How can I enable the web hook for this project?

Kind Regards,
Ron

[2015-10-13 14:36] tomsterritt commented on #1896
@jawaid any progress here? Builds are taking a really long time & I tried pushing to docker hub to speed things up but that didn't seem to do anything... :confused:

[2015-10-13 15:03] masterbits commented on #1926
having the same after i install the new laravel version. please help....

[2015-10-13 19:14] EHLOVader commented on #1945
I am actually having the same issue in one of my projects https://app.shippable.com/projects/555d3a2eedd7f2c052f69002

was working but is no longer. Requires manually running the build, and I even tried resetting the project to fix any broken webhooks.

[2015-10-13 21:34] pcflmb commented on #1909
Guys this is still happening!! What's even more odd is that Shippable reports all tests passing even though none of them were run!

[2015-10-13 21:40] bselva commented on #1934
I am having the same problem today. Can you check for us?
`Error occurred while generating build meta-data: Internal API Error : getPermissionByProjectId`
Thanks,

[2015-10-13 21:42] manishas commented on #1934
looking into it...

[2015-10-14 04:29] hhimanshu opened #1946 "Configuration for Scala repo with Maven"
@rageshkrishna
It seems, with Scala you support SBT and not Maven

my `yml` looks like

[code]

What do I do to run CI on my Scala project based on maven?
[code]

[2015-10-14 04:45] manishas commented on #1934
@bselva this is now fixed and deployed. can you confirm that it works for you?

[2015-10-14 06:08] bselva commented on #1934
Great! It's working now!

[2015-10-14 07:13] #1934 closed

[2015-10-14 11:37] molerat619 opened #1947 "PHPUnit Testing several classes"
If I use Shippable for CI with PHPUnit, I do not know how to have several test-classes at a time.

If I put all my tests in 1 class, it works fine and I get the reports and the sequence coverage. But if I want to have 2 test-classes, I don´t get the right reports.

**My structure:**

    - config
    - ...
    - tests
       - SQLTest.php
       - UserTest.php

**My shippable.yml**:

    language:

[2015-10-14 11:41] rageshkrishna commented on #1947
Hi @molerat619! I couldn't find any accounts with your github id in our system. Can you give me the github or bitbucket id you are using to log in to Shippable, or the id of a Shippable project or build that I can look at? Thanks!

[2015-10-14 11:56] molerat619 commented on #1947
Hi I am logging in with molerat over BitBucket
--
Best regards,
Marcel Izgin Mittwoch, 14 Oktober 2015, 08:41Vorm. -03:00 von Ragesh Krishna < notifications@github.com> :

[2015-10-14 12:26] rageshkrishna commented on #1947
I see your last build was triggered early yesterday morning. We had an issue with test report parsing that was fixed later in the day. Your build should now be able to parse test results correctly. Please try triggering another build and let me know how it goes.

[2015-10-14 12:52] molerat619 commented on #1947
I triggered the old build and a new build and now both fail, even though the tests pass. In the tests-tab I still get no tests. But I get `Error parsing coverage reports.` in the log.

[2015-10-14 13:05] rageshkrishna commented on #1947
That's unusual. Can you send the coverage output file to me at ragesh@shippable.com so I can take a look at what's going on here?

[2015-10-14 19:21] molerat619 commented on #1947
Please check your mailbox

[2015-10-14 19:48] caarlos0 commented on #1640
@manishas one more build not running: https://github.com/ContaAzul/ContaAzul/pull/9806

[2015-10-15 04:51] krispy1298 opened #1948 "SFTP errors with `gulp-sftp`"
U: kamilkecki (bitbucket)
Project ID: 561f2ca34ae4dc0c003e014f

Trying to deploy to a server using `gulp-sftp`. Getting error:
[code]

with this script:
[code]

My yml:
[code]

[2015-10-15 13:12] kj33p opened #1949 "InvalidSignatureException for aws deploy create-deployment"
I have configured shippable.yml per instructions at http://docs.shippable.com/codedeploy/

I receive the following error from the aws code deploy:
[code]

My after_success looks like below (added some troubleshooting steps):
[code]

aws --version gives
[code]

aws configure list gives expected results with access, secret, and region set as expected

Additionally, I've tried using "pip install --up

[2015-10-16 07:25] kanthchandra commented on #1945
@EHLOVader @rvdwijngaard We have deployed a fix for this issue. Can you please confirm if it works?  Thanks

[2015-10-16 12:52] kj33p commented on #1949
UPDATE: After reading comments from https://github.com/aws/aws-cli/issues/602 and reviewing my aws secret key I found that it contained "/" in it. After regenerating (many times) until I had a key without "+", "%", or "/" I was able to get aws deploy create-deployment to operate.

[2015-10-16 12:52] #1949 closed

[2015-10-16 15:08] catskul opened #1950 "Allow developers/collaborators access to clear cache button"
As far as I can tell, to uniformly clear the cache, a user has to be the project owner.

This makes it very difficult to debug cache problems, and allow developers on the project to work independently to get related work done.

[2015-10-17 02:50] fabiocarneiro commented on #1940
same for me 5621b6fba38bad0e009603a4

[2015-10-17 02:50] fabiocarneiro commented on #1944
same for me 5621b6fba38bad0e009603a4

[2015-10-17 07:13] camullen opened #1951 "Stuck on 0.5 GB of RAM"
It appears that my subscription is stuck on the following:

Muti-tenant plan for Continuous Integration — 2 cores, 0.5 GB RAM per minion

I'd like to be able to get the full 4GB per minion. Can you fix my config?

[2015-10-17 07:57] manishas commented on #1951
I've logged an internal error for this. This seems to be a UI issue since all our containers have the same resources on multi-tenant CI.

[2015-10-17 11:38] fabiocarneiro opened #1952 "Error while generating build for branch develop"
Generating builds
  Error while generating build for branch develop

https://app.shippable.com/builds/56223202bb2a6b0d002a44b8

[2015-10-17 21:26] avinci commented on #1918
this has been deleted.

[2015-10-17 21:26] #1918 closed

[2015-10-17 23:03] avinci commented on #1952
I think this is happening due to some unicode issue. We are looking into it and will have a fix soon.

[2015-10-17 23:07] avinci commented on #1948
I think this error is coming from gulpfile.js. Are you sure your connection string is correct? It seems like there is an error on the connection and then its not handled correctly. I am not an expert on gulp but does that command run locally for you?

[2015-10-17 23:48] #1945 closed

[2015-10-17 23:53] avinci commented on #1944
@fabiocarneiro Your issue is a bit different as I commented on the other issue. @rkiciak I see that your projects are running now. I will resolve and close this issue

[2015-10-17 23:53] #1944 closed

[2015-10-17 23:56] avinci commented on #1941
Yes. This is definitely possible. We have a way to copy artifacts out from a container and create a prod container and push this out.

attaching our docs to achieve this. They key is you need to do PostCI build in order to achieve this.

http://docs.shippable.com/docker_build/#copying-artifacts-to-prod-image

Let me know if this helps

[2015-10-17 23:58] avinci commented on #1940
@fabiocarneiro 5621b6fba38bad0e009603a4 failed cos in the branch develop.95 there is no YML. Can you check again?

@pmacosta can you give me a buildId. Its hard for me to find which build it is without know the projectId or the projectName

[2015-10-18 00:00] avinci commented on #1939
You might need to do sudo according to this...
http://ubuntuforums.org/showthread.php?t=860470

Let me know if that works.

[2015-10-18 00:01] avinci commented on #1938
@mspanc Currently we don't support PR hooks on bitbucket. We are working on this right now and should be available in the coming week. Let me know if thats the case.

[2015-10-18 00:03] avinci commented on #1933
Yes. Thats exactly what you would do and it should work.

[2015-10-18 00:03] #1933 closed

[2015-10-18 00:06] avinci commented on #1930
Have your tried turing cache on?
http://docs.shippable.com/project_settings/

[2015-10-18 00:33] fabiocarneiro commented on #1952
@avinci My builds are also not running automatically. This is what happened when I tried to re-run a previous build.

[2015-10-18 00:44] pmacosta commented on #1940
Hi Avi,

Build 9d8ac32
<https://bitbucket.org/pmacosta/putil/commits/9d8ac3210d3d7e8b25f18c73e9e19909e040cd84>,
repo pmacosta/putil.

Thanks for any help you can provide!

Pablo

On Sat, Oct 17, 2015 at 7:58 PM, Avi Cavale <notifications@github.com>
wrote:

[2015-10-18 03:10] andylibrian opened #1953 "CD Docker Image to AWS EBS"
I tried to setup a Continuous Delivery based on this article http://docs.shippable.com/autodeploy-to-ebs/.
It is working, but how do I configure which branch deploy to which env?
Currently any branch deploy to the same ebs env. I want to set it up so that master branch will be deployed to prod env, staging branch to staging env, and so on.

[2015-10-18 04:33] pquentin commented on #1930
@avinci: @pschrammel explicitly mentions "cache: true" in the title of the issue.

(By the way, the blog post is more explicit than the docs. "Before the build, we will check for the cache flag and if it is ON, the entire minion will be cached if the build succeeds and the cached minion will be reused for further builds." It's not clear if it's in .shippable.yml, and at what level. "cache: true" i

[2015-10-18 04:39] avinci commented on #1930
Sorry, I misread it. We are standardizing everything to YML in the coming days and we will make docs better. Appreciate the feedback.

`cache:true` needs to be at the highest level in YML.

This will cache the container only the first time you run it. We run on multiple hosts and hence you might see a few run where it might be slow. We try to run the builds on the same hosts so that cache is prese

[2015-10-18 05:54] Sebastien-Meiffren opened #1954 "PHP Extensions :: Mongo"
Hello,

I'm trying to run shippable with a PHP project, in 5.6, with the Phalcon Framework. I managed to have the Phalcon framework running but Mongo so file doesn't seems to load itself up.

[code]

PS 1 : I'm assuming that I don't need to put the so as it is provided in the example since now in the documentation it says that shippable comes with it
PS 2 : I have the same issue with memcache

Tha

[2015-10-18 06:02] Sebastien-Meiffren commented on #1954
pecl install mongo doesn't work either. It says
[code]

[2015-10-18 10:34] mspanc commented on #1938
@avinci it's not the case of pull request. It's regular workflow of pull/add something/commit/push.

[2015-10-18 23:39] fabiocarneiro commented on #1952
@avinci Any updates? I need this working so I can convince my boss to buy some minions :dancers:

[2015-10-18 23:44] avinci commented on #1952
@fabiocarneiro I will get back to you on tomorrow. I can see that your master branch is running, so its something weird with develop branch and will need a couple of devs to debug. I will make sure someone takes a look at this tomorrow.

[2015-10-19 06:23] rageshkrishna commented on #1952
@fabiocarneiro I'm looking in to this issue now. I hope you don't mind me triggering a few builds on your project to debug this.

[2015-10-19 06:37] fabiocarneiro commented on #1952
@rageshkrishna have fun

[2015-10-19 11:50] czardoz commented on #1881
Any updates on this?

[2015-10-19 13:10] fabiocarneiro commented on #1952
@avinci nothing yet? :cry:

[2015-10-19 13:22] rageshkrishna commented on #1952
@fabiocarneiro We're still working on this. There appears to be an issue with PR builds on your project. For some reason we are not able to correctly detect a shippable.yml file for PR webhooks from your project. We are working to resolve this as a top priority right now.

[2015-10-19 14:03] avinci commented on #1947
@molerat619 we have pushed a fix to prod. Can you verify.

[2015-10-19 18:28] cduzan opened #1955 "Using multiple Dockerfiles"
Is there a way to point at a specific Docker build file when using the Pre-CI build order? I would like to have multiple Dockerfiles (ie. Dockerfile.dev, Dockerfile.prod, etc.). I see you can do this in docker using the -f flag in the docker build command. Is there anything in shippable that mimics this capability?

[2015-10-19 18:43] fabiocarneiro commented on #1952
@rageshkrishna not my project, but my project**s**, its not happening in only one.

[2015-10-19 18:53] manishas commented on #1952
@fabiocarneiro we have identified the issue for manual reruns of PR builds not working and we'll let you know as soon as it's fixed.

Is that the only issue you're seeing or are there more? Are your webhook builds working?

[2015-10-19 20:25] manishas commented on #1952
@fabiocarneiro can we jump on a hangout when it's convenient for you? It will be much faster to debug further. Since you're in Germany, we can either meet at 9am or 5pm your time tomorrow.  Please let me know which works better.

[2015-10-19 23:01] #1779 closed

[2015-10-20 00:08] jawaid commented on #1828
@RealNobody  are you still have this issue?

[2015-10-20 00:13] RealNobody commented on #1828
Huh.  I've stopped monitoring Shippable failures very closely as the team has come to just sort of expect them and I hadn't heard anything in a while.

So, I looked, yes, we seem to still be having problems:

![image](https://cloud.githubusercontent.com/assets/358891/10594695/8d8c1008-7684-11e5-8dd1-99730362ed61.png)

I particularly love the timeouts that ran for less than 2 hours myself.

[2015-10-20 00:30] #1841 closed

[2015-10-20 02:44] #1858 closed

[2015-10-20 03:16] #1866 closed

[2015-10-20 03:24] jawaid commented on #1869
@joelash all our clojure samples have now been updated with the plugin test2junit.  We are now able to see the Test Reports.

The docs at http://docs.shippable.com/languages/#clojure have been updated (and are live) to inform the usage of test2junit.

[2015-10-20 03:24] #1869 closed

[2015-10-20 04:05] jawaid commented on #1879
This has been fixed.

[2015-10-20 04:42] jawaid commented on #1904
@winglian Sorry to miss this. Are you still having this issue?

[2015-10-20 04:44] #1905 closed

[2015-10-20 04:57] #1912 closed

[2015-10-20 06:19] RealNobody commented on #1879
Absolutely.

[2015-10-20 12:43] naveensky opened #1956 "Builds are getting stuck"
Hi,

Builds are getting stuck on my subscription. For reference

https://app.shippable.com/projects/56094e061895ca44741892a7

Naveen

[2015-10-20 13:07] naveensky commented on #1956
These are working good now, thanks

[2015-10-20 13:07] #1956 closed

[2015-10-20 13:34] molerat619 commented on #1947
@avinci I can confirm that it works! Thank you very much for the quick support

[2015-10-20 13:34] #1947 closed

[2015-10-20 13:39] avinci commented on #1953
@andylibrian exactly what we are working it. Give us a few days and your should see this as a beta feature. Would you like to be part of our Beta program?

[2015-10-20 13:51] winglian commented on #1904
@jawaid I wouldn't be able to tell you at this point. The unresolved bug became intolerable so we had to switch to another service for our CI. Thanks for following up.

[2015-10-20 13:56] avinci commented on #1904
@winglian sorry about not being responsive. We have cleaned up quite a bit of our code. Hopefully you will give it a try sometime in the future...

[2015-10-20 13:56] #1904 closed

[2015-10-20 13:59] avinci commented on #1950
We will get this implemented ASAP.

[2015-10-20 14:00] avinci commented on #1950
In the meantime, in the commit message of your PR, if you put in the text `[reset_minion]` , it should clean cache. I have an open issue internally to fix the API permissions

[2015-10-20 14:28] avinci commented on #1938
I am going to look into it. Sorry for the delay, I just got back from a business trip. We are starting to surface all the errors which were being silent over into the console logs if we don't see a build fire.

Let me look into your specific project and do you mind if I fire a couple of test builds?

[2015-10-20 14:39] mspanc commented on #1938
@avinci sure, this project can be investigated. It's just a project that pushes certan repository to heroku once this repo is updated.

[2015-10-20 14:47] avinci commented on #1938
What time zone are you in? We might have to test web hooks which means you might need to do some fake test commits to READMe or something....I will get an engineer on my side to look at the logs.

[2015-10-20 15:00] andylibrian commented on #1953
Sure, thanks!

[2015-10-20 15:55] mspanc commented on #1938
@avinci I am in CEST

[2015-10-20 18:36] hcarine commented on #1640
@manishas Commits ignored: ContaAzul/ContaAzul/pull/9885

[2015-10-20 18:37] randalmaia commented on #1640
@manishas one more https://github.com/ContaAzul/ContaAzul/pull/9891

[2015-10-20 18:48] manishas commented on #1640
@randalmaia @hcarine i cannot see the PR page since I'm not a member of ContaAzul... can you send me a screenshot of the PR page at manisha@shippable.com?

[2015-10-20 18:58] manishas commented on #1640
Actually, I do see a build for PR 9891... build id is 562683b0265d0d0d00ae98dd and for PR 9885 - 56267942031de20d0034e65e

Can you please double check?

[2015-10-20 19:06] #1907 closed

[2015-10-20 19:07] #1886 closed

[2015-10-20 19:08] randalmaia commented on #1640
@manishas  562683b0265d0d0d00ae98dd is the previous commit.

Look this
![screenshot from 2015-10-20 17 06 41](https://cloud.githubusercontent.com/assets/2751058/10618162/1c36c870-774d-11e5-9e15-28d6b1eb073b.png)

[2015-10-20 19:14] avinci commented on #1640
@randalmaia We are starting to surface all the issues where we don't create builds. Is this happening today?

[2015-10-20 19:17] hcarine commented on #1640
@manishas only the last commit was not ignored

look!
![screenshot from 2015-10-20 17 07 20](https://cloud.githubusercontent.com/assets/10616827/10618230/8e454b8a-774d-11e5-83f2-45f20e9d4522.png)

[2015-10-20 19:18] #1708 closed

[2015-10-20 19:18] randalmaia commented on #1640
@avinci This is happening now!

[2015-10-20 19:23] joelash commented on #1869
:+1:

[2015-10-20 19:34] jawaid commented on #1405
@naveensky  We are building this functionality and you would see this soon.

[2015-10-20 21:11] manishas commented on #1955
As of today, we just pick up the file called Dockerfile and build for for Pre-CI workflow.

Can you share a little about why you're using different dockerfiles for dev, test, prod? We are reworking some of the docker related functionality so would be good to know if this is a common scenario we should address...

[2015-10-20 21:13] manishas commented on #1952
@fabiocarneiro we have pushed fixes for this issue. Please re-open if you run into any problems.

[2015-10-20 21:13] #1952 closed

[2015-10-21 03:24] chinthakagodawita opened #1957 "Build can't be deleted"
Hi,

We've got a triggered build that can't be cancelled regardless of what we try - https://app.shippable.com/builds/5626f2d254d5c20c0057af7c

[2015-10-21 03:35] manishas commented on #1957
We're fixing this as we speak. It will be deployed soon... Will update when it's deployed.

[2015-10-21 04:18] zwang1 opened #1958 "Build stuck on "waiting""
Hi , My builds today all stuck on waiting and has no logs. Now it get even worse that I cannot cancel a waiting build.
My shippable file looks good to me. and I don't know what's wrong here. Can someone take a look? Thanks very much!

account: zwang1
private repository :cmusv-fse/FSE-SA3

[2015-10-21 04:32] jawaid commented on #1958
Will look into it and get back to you

[2015-10-21 04:51] manishas commented on #1957
@chinthakagodawita can you try now?

[2015-10-21 05:18] manishas commented on #1958
@zwang1 you should be able to cancel now... we just pushed a fix for that issue. We're still looking into why the builds are stuck in waiting, so will update this when I know more...

[2015-10-21 05:23] chinthakagodawita commented on #1957
Thanks @manishas, deletion seems to be working now.

[2015-10-21 05:23] #1957 closed

[2015-10-21 05:40] ramdasskevin commented on #1958
Same here. I am in the same organization but different project.

[2015-10-21 06:08] pquentin commented on #1764
Really seems fixed, closing.

[2015-10-21 06:08] #1764 closed

[2015-10-21 06:09] pquentin commented on #1665
Any progress on this? Thanks!

[2015-10-21 06:59] manishas commented on #1958
With the free plan, you get one parallel build at a time for all repos across the org. Your builds were waiting (queued) because another build was processing at the time.

Let me know if you have any questions.

[2015-10-21 10:59] mgladdish opened #1959 "Pushes to bitbucket not getting picked up"
Sometimes Shippable just doesn't notice when I push to a repo.

E.g. this project should have built this morning, but did nothing.
https://app.shippable.com/projects/561fbd8b1895ca44741dff9d

Also, I get 2 of these errors out of the blue when looking at my project list:
{"id":1005,"message":"Internal API error : getProjectById","methodName":"chkPermProjectId|_getProjectById"}

The UI's error repor

[2015-10-21 11:29] rageshkrishna commented on #1959
Hi @mgladdish! BitBucket has been having issues with webhooks since yesterday. Although their status page currently says webhooks are green, our tests are still showing that webhooks are coming in after a long delay or not at all.

I've raised an internal issue to look in to the errors you're seeing on the projects list. We'll get back to you soon on this.

[2015-10-21 13:22] cduzan commented on #1955
For the dev version we have all our projects pulled down locally in a common folder so we use a docker-compose.yml file to actually build up the containers (shippable not used for dev setup), the Dockerfile files in this case are pretty minimal. For the test and prod versions the containers are built through shippable and have several more working pieces in them and therefore are different from th

[2015-10-21 15:47] mspanc commented on #1938
@avinci this project also stopped working right now https://app.shippable.com/builds/5626a8cb54d5c20c004885ea

[2015-10-21 15:49] avinci commented on #1938
It seems like the build lost connection to some server (db or something). Are you trying to connect externally or is it a local server on the build minion?

[2015-10-21 15:55] AndrewKeig commented on #1881
Can we get an ETA on this.

[2015-10-21 16:20] chriskinsman opened #1960 "Builds slow..."
Builds that normally take 5-6 minutes are running 20 minutes or so today....

[2015-10-21 17:55] caarlos0 commented on #1640
@avinci happening again

[2015-10-21 19:46] manishas commented on #1960
we are taking a look at this...

[2015-10-21 20:19] avinci commented on #1950
this has been implemented and deployed to production. Please let me know if it works for you. resolving it.

[2015-10-21 20:20] catskul commented on #1950
Great! Will do.

On Wed, Oct 21, 2015 at 4:19 PM, Avi Cavale <notifications@github.com>
wrote:

[2015-10-21 20:56] AlfredAria opened #1961 "Build dda61d4 waiting"
The build requests for repository FSE-F15-SA1-SSNoC are stuck for waiting (for more than an hour) since Build request 81.

https://app.shippable.com/projects/5621a4071895ca44741e546b

[2015-10-21 20:58] chriskinsman commented on #1960
Gotten quite a bit faster...

[2015-10-21 20:58] #1960 closed

[2015-10-21 21:14] mspanc commented on #1938
It's local server.

[2015-10-21 21:18] manishas commented on #1961
@AlfredAria your org is on the free plan, which means you have one build container which lets you run one build at a time. Any subsequent build that are triggered are queued until the container is available.

This build is currently running which is why other builds are queued https://app.shippable.com/projects/5626af851895ca44741f15c7

[2015-10-21 21:25] AlfredAria commented on #1961
HI

The link cannot be opened, and I really don’t see any builds “in progress” here. I have cancelled all requests between 82 - 85, and 86 keeps in “waiting” state. Could it be because some previous attempts left as “in progress” on the server?

Please help me remove any “in progress” builds thanks…

[2015-10-21 21:29] manishas commented on #1961
Do you have access to the FSE-F15-SB6-SSNoC repo on GitHub? It's a repo in your org.

[2015-10-21 21:31] manishas commented on #1961
Build 11 for this repo is in progress. The reason you might not see this on Shippable is possibly because you don't have access to the repo in my comment above.

[2015-10-21 21:42] manishas commented on #1961
@AlfredAria Our billing plans are per GitHub organization and not per repo. The org cmusv-fse has 35+ repos, including your repo. All these repos share one build container, so if anyone else's build is running at some point of time, your build will be queued until the container is available.

The reason you do not see all these other repos is because you do not have access to them on GitHub. (like

[2015-10-21 21:42] #1961 closed

[2015-10-21 21:45] manishas commented on #1958
Please see my explanation in https://github.com/Shippable/support/issues/1961 -

Our billing plans are per GitHub organization and not per repo. The org cmusv-fse has 35+ repos, including your repo. All these repos share one build container, so if anyone else's build is running at some point of time, your build will be queued until the container is available.

The reason you do not see all these o

[2015-10-21 21:45] #1958 closed

[2015-10-22 02:30] claar opened #1962 "Changes to shippable.yml not taking effect"
I've updated my shippable.yml to include `npm install -g npm` to try to fix some npm issues, but this command isn't showing up. Any hints what I'm missing? https://app.shippable.com/builds/5628402fd666e20c0082733a

[2015-10-22 02:32] sydhenry opened #1963 "Remove Bitbucket account request"
I have the same problem as this:
https://github.com/Shippable/support/issues/1918

Github id: 55578322edd7f2c052f125ed
Bitbucket id: 555e79f1edd7f2c052f81889

I would like to have the bitbucket account removed if possible so that I can have both on the same account.

Thanks

[2015-10-22 07:33] erdogmush opened #1964 "Carnegie Mellon University github cmusv-fse organizational account build bottlenecks"
Our graduate Software Engineering class at CMU Silicon Valley projects are using shippable for CI. All class repos are stored in the private github organization cmusv-fse (operating under a free academic license from github). There are currently 15 teams, so 15 active projects. It seems like, because all teams belong to this organization, shippable is allowing only one concurrent build under its f

[2015-10-22 12:39] sethamclean opened #1965 "Cannot delete project"
Deleting a project seems to fail because the bitbucket webhook shippable is attempting to delete does not exist.

[code]

[2015-10-22 13:32] avinci commented on #1963
555e79f1edd7f2c052f81889 has been deleted.

[2015-10-22 13:32] #1963 closed

[2015-10-22 13:34] avinci commented on #1962
are you sure you are building the right branch? i.e. pushed the change to the shippable.yml in the right branch?

[2015-10-22 13:36] avinci commented on #1965
@sethamclean we are having issues with bitbucket for the last couple of days. Adding our dev into the ticket...

@kanthchandra can you look into this and make sure its not a problem on our side. I know we have made some updates to this processing in the last few days.

[2015-10-22 13:38] avinci commented on #1959
@mgladdish We are seeing that bitbucket is dropping multiple web hooks. We are monitoring this closely to see if we can do anything at this time other than ping BB. Let me know if you are still seeing this issue

[2015-10-22 13:40] avinci commented on #1948
Please reopen if you are still seeing this issue. I am going to close this as I have not heard back from you.

[2015-10-22 13:40] #1948 closed

[2015-10-22 13:40] #1950 closed

[2015-10-22 13:40] #1941 closed

[2015-10-22 13:41] #1939 closed

[2015-10-22 13:43] avinci commented on #1938
It seems like a hiccup in the build process. Once we start the build process, we do not touch the workflow. Can you put some retry logic into that db script? What type of db is this? Not sure what could cause the local db to stop taking connections.

[2015-10-22 13:46] avinci commented on #1955
@cduzan we are starting a beta program starting in a couple of weeks that will allow you to do this. Would be interested to try that out. Currently we don't expose docker build command natively. We are working opening that up and allow you to define these commands in the YML and let you have full control of it. Let me know if that works for you

[2015-10-22 13:49] avinci commented on #1928
@jakemmarsh I will try to look into docs and see if I can write a sample app. Sorry for the delay in response

[2015-10-22 13:50] #1930 closed

[2015-10-22 13:50] mspanc commented on #1938
I am unable to put the retry logic as it can make test suite non-deterministic.

This is regular postgresql.

Recently it started to work without changing anything. Are you sure we don't hit resource limit and there's no out-of-memory killer engaged?

[2015-10-22 13:51] sethamclean commented on #1965
I have also confirmed that the webhook/service does not exist in bitbucket.

[2015-10-22 13:52] cduzan commented on #1955
That would be great! Thanks @avinci  My team and I are new to both Docker and Shippable so we are quickly learning as we go but I believe this would be very helpful to us.

[2015-10-22 13:52] avinci commented on #1938
We currently set the limit to 2gb and 2 cores and thats guaranteed. We are recently seeing an uptick in usage and we have added more capacity. Please let me know if it happens again...

[2015-10-22 13:52] #1938 closed

[2015-10-22 13:54] avinci commented on #1965
@kanthchandra I think we are aggressively looking for a hard delete. I think we should not be failing on this delete fail from BB. Can you confirm that our error handling treats this as warning as opposed to failing the delete

[2015-10-22 13:57] avinci commented on #1922
acknowledged. We are going to move all these settings into YML. Our direction is to set integration in the UI so that your keys are not in the YML. But moving all the configs to YML should give more control. Please stay tuned...

[2015-10-22 13:59] avinci commented on #1919
@marcogario thanks for trying this out and letting us know about the problem. We found the issue and have fixed it and it should helps other for sure. Hopefully you will give us a try once again sometime in the near future...

[2015-10-22 13:59] #1919 closed

[2015-10-22 14:35] avinci commented on #1920
@chaserelock TLDR, this should be fixed. In case you want to know what happened or for others who are following the conversation...

We had a weird bug that we could reproduce and was tough to chase down. This happens at scale when docker daemon becomes unresponsive in certain cases. In those, it returns a success but the immediate next command fails as the internal cache is not yet update at the

[2015-10-22 14:46] rmossuk opened #1966 "Push to multiple dockerhub repos for each branch"
Hi

I have multiple environments of my app repo that i have created a branch for each.  dev, qa, staging, uat, .... etc.

From the project settings page it seems like i can only set one docker hub repo location to push to and also only select on deployment to Elastic Beanstalk where i have to state application name and environment name.

How do i deploy to a different docker hub repo for each bran

[2015-10-22 14:58] avinci commented on #1966
@rmossuk We are moving this setting to YML in the next couple of weeks. We made a wrong choice of moving these things to UI and it caused us to restrict ourselves. I will write a blog around this and hopefully that should help. Its going to be in Beta and would you like to try it our there? If not, I will let you once it stabilizes and move to prod.

[2015-10-22 15:00] avinci commented on #1926
I am not too sure about Laravel, but let me play around with this and see if I can make it happen.

[2015-10-22 15:03] kanthchandra commented on #1965
@sethamclean as @avinci pointed out the problem is we are not correctly handling the case where the webhook was already deleted or when Bitbucket gives an error when trying to delete the webhook. We will have the fix for this in a day and let you know about it.

[2015-10-22 15:08] avinci commented on #1926
Based on a quick read, how are you starting your PHP app? Are you using some sort of a web server locally? I can't seem to access your build. Is this a public project? Can you send me the YML you have? avi@shippable.com

[2015-10-22 15:10] avinci commented on #1911
@nigelwinterburn we are massively cleaning up this handler. We have had tons of problem with how we handle post build workflows and if there is an error, we are not surfacing that to the user. We should have a fix in the next week and this should not happen or if it does, we will have console which shows why...

Hope that helps.

[2015-10-22 15:13] avinci commented on #1909
Let me look into this...I think we don't force, minor version. I think the base image needs to be updated. We will have the latest base image up in the next week.

[2015-10-22 15:14] avinci commented on #1852
This should be fixed. Sorry for not keeping this updated.

[2015-10-22 15:14] #1852 closed

[2015-10-22 15:14] #1887 closed

[2015-10-22 15:16] masterbits commented on #1926
I got my issue resolved. i just found out that inside my controllers constructor i did change the header to convert some input into utf8. so what i did was remove any code that changes the header.

[2015-10-22 15:16] rmossuk commented on #1966
yes please i would love to try it asap in Beta. Please let me know how.   thanks

[2015-10-22 15:49] sethamclean commented on #1965
@kanthchandra That was my suspicion. Thanks for the quick response and turn around!

[2015-10-22 15:53] rmossuk commented on #1966
is there a way of changing the EBS environment name in the YML file now ? or by ENV variable ?    Or is the only way to deploy to a new environment by deleting the deployment and creating a new one with a different environment name everytime?

thanks
Richard

[2015-10-22 17:20] mgladdish commented on #1959
Yes, still having problems with commits not being noticed.

[2015-10-22 17:26] manishas commented on #1959
@mgladdish bitbucket is still experiencing issues - http://status.bitbucket.org/ - which might be leading to this. We will follow up with them and if this happens after they are fully functional we can take a closer look.

[2015-10-22 17:28] erdogmush commented on #1964
BTW, my github id is erdogmush, which owns the github cmusv-fse organization. I am an associate professor at CMU, teaching the course 18652, Foundations of Software Engineering

[2015-10-22 17:34] manishas commented on #1964
@erdogmush thanks for your note and thanks for using Shippable!

We're happy to support educational institutions, so I'll get back to you in bit with a plan to increase your concurrent builds limit.

[2015-10-22 19:30] macgyver2028 commented on #1862
I have a similar situation to @grandmore.  I added a formation for testing, but cannot delete it once it was created.  My formation ID is:  5628616f954d220c005e3252

[2015-10-22 19:36] claar commented on #1962
Yes, I was on the right commit/branch -- odd, it's working fine today. Oh well.

[2015-10-22 19:36] #1962 closed

[2015-10-22 20:51] sydhenry commented on #1963
I'm very sorry. I tested to see if it was and that just made a new account, could you remove this one:

56294b92d666e20c00c5e98c

And I will be sure to sign in with github and link this time.

[2015-10-22 21:29] catskul commented on #1909
Happing to us as well

[code]

[2015-10-22 21:32] catskul commented on #1909
but intermittently. Seems like some minions are affected and others are not.

[2015-10-23 01:05] erdogmush commented on #1964
Manisha, thank you very much for the fast turnaround. We very much
appreciate that you support our educational goals.

Best - Hakan

Hakan Erdogmus, PhD
Associate Teaching Professor, Software Engineering
Department of Electrical and Computer Engineering
Carnegie Mellon University - Silicon Valley

hakan.erdogmus@sv.cmu.edu
+1 650 335 2883 (office)
+1 408 816 9863 (mobile)
NASA Research Park, Bldg

[2015-10-23 08:15] pquentin opened #1967 "We no longer have access to the subscription data on the UI"
We no longer have access to our data in the Shippable UI. However, **builds still run when we push commits on bitbucket**.

### Home page
On https://app.shippable.com/, I see "No builds have been triggered yet." and there is no mention of our team.

### Subscription page
When I go to https://app.shippable.com/subscriptions/547c792bd46935d5fbbf0b11 as pquentin (signed in from bitbucket), I get "You

[2015-10-23 09:04] mgladdish commented on #1959
Can you at least make the UI show when there's a problem?

My home screen, https://app.shippable.com/, now says "No builds have been triggered yet" and doesn't think that bitbucket even exists.

Surely my account on Shippable says that I have a bitbucket integration set up? An error message on the screen saying "Sorry, bitbucket is unavailable" would be so much better, rather than it just vanishin

[2015-10-23 09:04] rageshkrishna commented on #1967
Hi @pquentin. The problem is that a couple of the API calls that we make to BitBucket to synchronize project and organization permissions have suddenly started reporting errors. We have contacted BitBucket to let them know about the issue.

Your build history and all other information is still present on Shippable, but because the permissions synchronization is running in to an error you're unable

[2015-10-23 09:21] Ivaylo-Bachvarov commented on #1967
Same problem here. :beers:

[2015-10-23 09:22] rageshkrishna commented on #1959
@mgladdish This is a new issue with BitBucket that has started happening this morning. From around 4 hours ago, a couple of the APIs that we call on BitBucket to synchronize permissions have started reporting errors.

As a result of this error, we are unable to synchronize permissions from BitBucket teams and repositories. All of your data is still present in the system but because the permissions

[2015-10-23 09:28] rmossuk commented on #1967
same here

[2015-10-23 09:29] mgladdish commented on #1959
Can you at least agree to change your UI to show the error?

I'm getting more and more frustrated with silent failures on Shippable's side.
 - mysteriously vanishing projects
 - internal API errors that come and go (see above - any news?)
 - builds failing for no good reason
 - UIs that should auto-refresh but then silently stop updating themselves (has my build finished, has it hung, should I ref

[2015-10-23 10:48] pquentin commented on #1967
@rageshkrishna Thank you for the explanation.

I don't think BitBucket returning errors should lock us out of Shippable. BitBucket has had issues since two days, who knows how long this is going to take? I expect that they will receive less traffic on Saturday and Sunday, this could allow you to get back the correct settings and stop updating them when you get errors.

Sorry if I'm misunderstandin

[2015-10-23 11:04] rageshkrishna commented on #1967
@pquentin You're absolutely right.

We regularly purge old permissions to make sure that when you remove collaborators from your projects, they also lose access to those projects on Shippable. Unfortunately, a bug in our sync routine allowed the purge to happen even though we were not able to get any new permissions from BitBucket. We're working on fixing this.

[2015-10-23 11:06] czardoz commented on #1967
Bitbucket is down: http://status.bitbucket.org/

[2015-10-23 12:33] hemantgoswami opened #1968 "My account has gone all curropted"
I had bit bucket as well as github linked to Shippable. I just came back from holiday to find that builds are no longer working and also I cannot unlink and relink the account back.

Can you please look into this ?

Thank you,
Hemant

[2015-10-23 12:44] leonfs commented on #1968
+1. Experiencing the same issue here.

[2015-10-23 12:48] rageshkrishna commented on #1968
@hemantgoswami @leonfs Are you both primarily using bitbucket repositories?

[2015-10-23 13:00] hemantgoswami commented on #1968
Yes, at this point in time my primary repo is Bitbucket but might use github in future.

[2015-10-23 13:05] rageshkrishna commented on #1968
Bitbucket has been having massive outages over the past few days. From earlier today, a couple of the BitBucket APIs that we rely on for synchronizing team and repository permissions in to our system have started failing with strange errors. As a result, we're now unable to sync permissions from BitBucket, which is why you are not able to view any of your projects. All the data still exists in the

[2015-10-23 13:08] hemantgoswami commented on #1968
Thanks Ragesh,

I'll follow it in that thread but do you have any ETA when it will be fixed? otherwise I'll have to move my repos to github as an alternative??

Also, if I wanted to unlink github or bitbucket from my account how can I achieve that?

Thank you,
Hemant

[2015-10-23 13:20] rageshkrishna commented on #1968
We have opened a level 1 issue with BitBucket support for this. I will update https://github.com/Shippable/support/issues/1967 as soon as I hear from them.

At the moment, it isn't possible to unlink accounts from our UI. Please let me know which one you want to retain and we can get it done internally.

[2015-10-23 13:27] hemantgoswami commented on #1968
Thanks Ragesh for letting me know,

I'll leave both there for now, if I need to remove one, I'll give you a shout again! Though, having this feature in UI will be a big plus.

Thanks for your help,
Cheers,
Hemant

[2015-10-23 15:42] kanthchandra commented on #1965
Hi @sethamclean @avinci Since bitbucket was having issues throughout the day today we couldn't do much on this today, we will try to get this issue resolved at the earliest. Sorry about the delay.

[2015-10-23 15:45] j1fig commented on #1967
I imagine this should be somehow related to the series of DDoS attacks bitbucket has been under the last 24h.

See the [status](http://status.bitbucket.org/) and [Twitter](https://twitter.com/Bitbucket/status/657240015999770624) updates for latest info.

[2015-10-23 15:52] avinci commented on #1967
I don't think it was a bug on Shippable. The way permissions work is we sync from bitbucket on a periodic basis. If BB returns an empty array we assume that all perms have been removed from the source and hence remove the perms from our side. Due to BB has significant issues, sometimes we are not getting the right response from BB. This is causing inconsistencies.

We don't remove any web hooks et

[2015-10-23 18:43] leonfs commented on #1967
Bitbucket seems to be fully operational now, but the problem still persists. Any news about it?

[2015-10-23 18:43] sydhenry opened #1969 "Re-delete account"
I'm very sorry.
I tested to see if it was removed (#1963) and that just made a new account, could you remove this one:

56294b92d666e20c00c5e98c

And I will be sure to sign in with github and link this time.

[2015-10-23 21:29] catskul commented on #1967
We're curious as well. Can't deploy without shippable being back up.

[2015-10-23 21:36] avinci commented on #1967
can you force sync in the your account page?

[2015-10-23 21:37] avinci commented on #1967
Auto Sync timing is every 4 hours. If you force it, it will actually do it right away. Let me know if this does not work.

[2015-10-23 22:29] leonfs commented on #1967
Tried Syncing,  Revoking OAuth from Bitbucket but nothing seems to work. Bitbucket is up, Shippable down.

[2015-10-23 23:08] manishas commented on #1967
We are looking into this. Even though bitbucket.org might be up, we were getting an error while calling their API... we're looking at this now to see what's going on...

[2015-10-23 23:09] shaneog commented on #1901
:+1:

[2015-10-23 23:26] manishas commented on #1967
This bitbucket issue is affecting us - https://bitbucket.org/site/master/issues/11989/api-calls-are-failing-with-status-code-403

We're following up with them and I will update as soon as we have more information.

[2015-10-23 23:42] avinci commented on #1967
I think bitbucket has blocked all external access I think. We are working with their support to unblock our ID

[2015-10-23 23:49] avinci commented on #1967
These are the APIs that we are getting an error on with OAUTH. I have heard back from Bitbucket folks and they are looking into it.

![screen shot 2015-10-23 at 4 46 58 pm](https://cloud.githubusercontent.com/assets/1302035/10707339/f6c76bc0-79a5-11e5-8b00-a9e84df82858.jpg)
![screen shot 2015-10-23 at 4 46 00 pm](https://cloud.githubusercontent.com/assets/1302035/10707340/faa65864-79a5-11e5-884a-0

[2015-10-24 06:01] manishas commented on #1967
This should now be working. Can you force sync your account and confirm that you see your repos/builds?

[2015-10-24 09:27] leonfs commented on #1967
Perfect!! I confirm you that is working. Thank you very much.

[2015-10-24 14:32] #1967 closed

[2015-10-26 01:17] fportillo commented on #63
+1

[2015-10-26 08:58] swleighton opened #1970 "Unable to add AWS integration"
Reciving the following error message when attempting to add my AWS account:

{"id":1003,"message":"Missing body data :url","methodName":"caller:562d325db84b390c007a4aa6|accountIntegrations|post|_postProvider"}

[2015-10-26 09:02] rageshkrishna commented on #1970
@swleighton Thanks for reporting this. I'm looking in to this right now.

[2015-10-26 09:22] rageshkrishna commented on #1970
@swleighton This has been fixed. Can you please try again and let me know how it goes? Thanks!

[2015-10-26 09:28] swleighton commented on #1970
Fixed, thanks for the fast response and great job!

[2015-10-26 09:28] #1970 closed

[2015-10-26 14:12] sethamclean commented on #1965
This seems to be working. I am having additional issues but will file another defect.

[2015-10-26 14:13] sethamclean opened #1971 "Cannot kick off manual build from bitbucket"
Starting a manual build from bit bucket returns the following error:

[code]

[2015-10-26 14:40] avinci commented on #1965
thanks @sethamclean will be happy to help on your other issues

[2015-10-26 14:40] #1965 closed

[2015-10-26 14:43] avinci commented on #1971
@kanthchandra @ric03uec we have started to surface all the internal build related issues, which is a good thing so folks know what is going on.

The issue is, the message does not mean much now. I know what the issue is but the user doesn't...We need 2 things
* Help @sethamclean figure out whats actually wrong. (or it could be a bug on our side)
* Can we document all the error messages due to buil

[2015-10-26 14:47] avinci commented on #1969
done

[2015-10-26 14:47] #1969 closed

[2015-10-26 14:49] avinci commented on #1968
This should be resolved as bitbucket has fixed the problem.

 We are making the account relinking be super easy now with a few changes coming soon.

For now closing this and will track another issue for feature change

[2015-10-26 14:49] #1968 closed

[2015-10-26 14:49] avinci commented on #1964
This has been added. Please let us know if you don't see this. Closing this for now.

[2015-10-26 14:49] #1964 closed

[2015-10-26 14:55] avinci commented on #1959
@mgladdish we have started to surface all error into the UI. Thats the first step. We are then going to add a docs FAQ page and which help you debug the issue.

Bitbucket going down for 2-3 days is not something our system is planned for. I understand you frustration and we are making it become more resilient. Please stay tuned..

[2015-10-26 14:56] avinci commented on #1959
Since bitbucket has stabilized, can you please check if this is still happening.

[2015-10-26 15:19] kanthchandra commented on #1971
Hi @sethamclean , we are suspecting that the branch that you are trying to build is having `/` and Bitbucket is not parsing that `/` character properly and as a result when we are trying to get the sha data, we are getting an error from Bitbucket. We have filed a bug with bitbucket but we haven't heard back from them https://bitbucket.org/site/master/issues/9969/get-commit-revision-api-does-not-ac

[2015-10-26 15:24] avinci commented on #1925
@diwu1989 how many orgs/projects do you have under your account?

[2015-10-26 15:25] #1920 closed

[2015-10-26 15:31] hemantgoswami commented on #1968
Thanks!!!

[2015-10-26 15:47] Lammmas commented on #1926
Hello,

Thank you for your response. For me the issue is also resolved, and it seems to have been an issue with the correct configuration of Laravel for your environment and running the Artisan test "server" correctly. For future reference I'm adding this link: https://laracasts.com/discuss/channels/testing/artisan-serve-can-not-open-localhost

[2015-10-26 15:47] #1926 closed

[2015-10-26 17:19] sethamclean commented on #1971
@kanthchandra This is indeed the case. We use git-flow for our workflow and have many branches with leading "feature/". Strangely we have been able to build such branches in the past. Maybe this is a recent bitbucket change.

[2015-10-26 18:44] avinci commented on #1971
@sethamclean seems like this is a problem with BB for that route. I am going to try and escalate, would help if you comment on it also.

[2015-10-26 20:24] sethamclean commented on #1971
@avinci I have added my comment to this issue. Thanks for filing this.

[2015-10-27 02:52] chriskinsman commented on #1955
We are considering docker and hitting this also.  We have a repository today with 25 or so microservices in it.  We don't want to transform that into 25 repos just to build each service in it's own dockerfile.  Seems like overkill and brutal given githubs per repo pricing.  Love to be able to have a directory structure where each subdirectory has a dockerfile and it builds up it's service.

[2015-10-27 02:56] avinci commented on #1955
We will have this ready in the next couple of weeks. totally understand the scenario and the need for this

[2015-10-27 02:59] chriskinsman commented on #1955
One concern we have with this scenario is triggering the build of all the services on each commit to the repo.  Since we are all nodejs having to npm install 25 times instead of 1 is going to blow out our build times.  Ideally shippable would be smart enough to only build the changed services/dockerfiles

Happy to chat more @avinci if I am thinking about this wrong...

[2015-10-27 03:13] jamescgibson commented on #1901
For what it's worth, copying this before_install into my .shippable.yml worked just fine.

I ran into an issue in which Postgres PG::Error: ERROR: new encoding (UTF8) is incompatible was thrown. Adding "template: template0" to config/database.yml (in a Rails 4.2 project) solved that.

[2015-10-27 08:00] swleighton opened #1972 "Build fails with no errors"
Hi,

I'm new and currently trying to get my head around shippable. I'm trying to build a docker container using pre-ci and a custom image from my private docker hub (a modified version of the docker-build-nodejs (using alpine over Ubuntu)). The shippable yml is the same as that of the example and the logs indicate everything passes but the build fails.

Could you point me in the direction of where

[2015-10-27 08:51] rogierslag opened #1973 "Upgrading from startup to full fledged"
Got a question: currently we have a startup plan still, which apparently comes with a 0.5GB RAM limit per container. When upgrading to a regular plan, will this start using the full 4 GB? And are there more differences between the two plans (I can't find anything about those old plans on the website)?

[2015-10-27 15:00] a7p opened #1974 "is there any way to reset the deploy ssh-key?"
would be really helpful.

[2015-10-27 15:17] a7p commented on #1974
ah, I found it.

[2015-10-27 15:17] #1974 closed

[2015-10-28 01:04] sbalko opened #1975 "Python 2.7.9 setup fails"
Hi Shippable,

as of a few days ago, we are seeing issues with Shippable's Python environment. Specifically, you seem to have upgraded to Python 2.7.9, which does not work the way it should. This is what we see in the build log. Downstream, we have tests failing - I can only assume that that's because of the activate command not completing.

Can you please have a look at this?

Thanks,
Soeren

[co

[2015-10-28 05:25] pquentin commented on #1975
+1 Most of our builds fail for this reason.

[2015-10-28 05:50] manishas commented on #1975
We've just found that a recent change introduced this problem. We're working on a fix that will be available shortly.

[2015-10-28 07:26] pquentin commented on #1975
@manishas Thank you. any ETA on this?

[2015-10-28 07:27] rageshkrishna commented on #1975
Should be just a few more minutes now.

[2015-10-28 07:53] rageshkrishna commented on #1975
@pquentin @sbalko This has been fixed. Please try it out and let me know how it goes.

[2015-10-28 09:37] pquentin commented on #1975
It works, thank you!

[2015-10-28 09:38] rageshkrishna commented on #1975
Thanks for confirming, @pquentin.

[2015-10-28 09:38] #1975 closed

[2015-10-28 10:24] RonXS commented on #1972
I'm experiencing the same error, all checks are green, but the build keeps failing.

I've even removed the "script" tag from the shippable yml file, and only did some basic action like spinning up a docker container and provision it with a Dockerfile.

Everything seems to work as expected, i can't figure out why it is failing.

[2015-10-28 12:09] hajee opened #1976 "Cancel subscription doesn't work"
I'm trying to cancel my subcription and remove the credit card. But it doesn't seem to work.
![screen shot 2015-10-28 at 13 05 23](https://cloud.githubusercontent.com/assets/20322/10788044/161d7ff0-7d75-11e5-885a-603db0028fd3.jpg)

[2015-10-28 13:11] pbosko opened #1977 "Big number of random timeouts"
Hello,

Our builds usually take around 30 mins. Recently we are having a big number of timeouts happening. Sometimes pull request build finishes in 30 mins, then it's merge commit timeouts, then next merge commit again finishes in 30 mins.

Here is an example of regular build that finished in about 30 mins: https://app.shippable.com/builds/562f7281fc37d80d00571158

And here is a list of builds tha

[2015-10-28 13:18] fabiocarneiro opened #1978 "Shippable always getting HEAD from github."
I did two commits, a push for each of them and shippable generated two builds for them, theoretically it should run one build for each commit, but since my second commit was faster than the git pull of the first build (which always pull the HEAD), it ran the build for the second commit in both builds.

Please replace `FETCH_HEAD` on  `git checkout -f FETCH_HEAD` with commit id.

[2015-10-28 15:26] molerat619 opened #1979 "Shippable SQL before_script best practice for bootstrapping database"
In https://github.com/shippableSamples/sample_php_mysql they use following for the **shippable.yml** file to set up the database.

    ...
    before_script:
       ...
       - mysql -e 'create database if not exists tododo;'
    ...

What's the best practice for setting up the database with all tables and a seed-script?

[2015-10-28 16:06] rmrbest opened #1980 "Project settings doesn't update"
We want change an image name in pull image from field.

The error show follow:
{"id":1004,"message":"Invalid namespace name","methodName":"|common|validateDockerImageName"}

The problem is tag name?

We need change version image in pull image from field.

Regards,
Raul.

[2015-10-28 16:47] manishas commented on #1980
@rmrbest what are you trying to change the tag to?

[2015-10-28 16:51] ZuluPro opened #1981 "No created job"
I have a `shippable.yml` with this piece of content:
[code]
And no jobs are created.

I tested:
[code]
No python 2.7 job are launched.

I also tested:
[code]
No job are launched

[2015-10-28 16:54] manishas commented on #1981
@ZuluPro can you send me a link to the project on shippable?

[2015-10-28 16:55] rmrbest commented on #1980
Yes, we update new version and we need change name tag in pull image from field, in settings.

[2015-10-28 16:56] ZuluPro commented on #1981
Here's my shippable.yml file:
https://github.com/ZuluPro/myblog/blob/master/shippable.yml

I also tested:
[code]

[2015-10-28 16:58] manishas commented on #1981
ok, i see the issue now. Will track this down... thanks!

[2015-10-28 17:02] ZuluPro commented on #1981
Thanks a lot, for this short latency !

[2015-10-28 18:17] DavidGDragon commented on #1976
To cancel your CI subscription go to the subscription listed (hajee) and on the Billing tab set the slider to 1 and click 'Enable Free Plan'. After that you can remove your credit card.

[2015-10-29 06:06] pquentin opened #1982 "Internal API Error: triggerNewBuild"
When using:

    r = requests.post(
        'https://api.shippable.com/workflow/triggerBuild',
        headers={'Authorization': 'apiToken {}'.format(API_TOKEN)},
        data={'projectId': project_id}
    )

I receive:

    {
        "id":1005,
        "message":"Internal API Error: triggerNewBuild",
        "methodName":"caller:54f477fa5ab6cc1352906167|workflow|triggerBuild|_triggerNewBuild"

[2015-10-29 07:07] rageshkrishna commented on #1982
Hi @pquentin. I'm looking in to this now. Can you please give me the ID of a project that you are getting this error on?

[2015-10-29 07:16] rageshkrishna commented on #1982
Never mind my last comment... I think I have enough information now to dig deeper. I'll update this issue as soon as I know more.

[2015-10-29 07:27] rageshkrishna commented on #1982
@pquentin A recent change has caused an issue in our trigger build flow. At the moment, the system is unable to pick up the default branch for the project if you don't specify it in the request. We're looking in to fixing this now.

In the mean time, if you pass a branch name in the request body as `branchName` it should start working immediately.

[2015-10-29 07:43] pquentin commented on #1982
@rageshkrishna This is not the first time using the default branch is [an issue](https://github.com/Shippable/support/issues/1793). We have many projects following git-flow where we want to build develop, and many others where it's only master. I would really prefer not having to fetch this information from Bitbucket myself and can wait for the fix.

Thanks!

[2015-10-29 09:18] pquentin commented on #1982
Works since about one hour (2015-10-29 08:20 UTC). Thanks again @rageshkrishna.

[2015-10-29 09:18] #1982 closed

[2015-10-29 16:53] tomsterritt opened #1983 "Builds continue despite being cancelled"
Build 5632344bd15e2a0c006650ac, for example, was cancelled at approx 15:56 UTC, however continued all the way through. This has happened with a few builds before.

[2015-10-29 16:54] manishas commented on #1977
we will look into this and get back to you. Thanks for reporting this issue!

[2015-10-29 16:57] #1976 closed

[2015-10-29 17:04] manishas commented on #1972
we're looking into this... one thing i noticed is that your settings are configured to push the image to docker hub but there is no 'hub push' step in the logs. The error probably happened after build image but we're not handling it correctly.

[2015-10-29 21:59] manishas commented on #1972
@swleighton @RonXS can you please share your shippable.yml?

[2015-10-29 22:03] manishas commented on #1973
@rogierslag the UI is incorrect... I have filed a bug internally. All builds get the same size containers - 1 core, 2GB.

We've retired the old plans so they are no longer on the website. We're shortly going to introduce one more option by which you can get bigger containers... our beta for that starts next week if you're interested.

[2015-10-29 22:03] #1959 closed

[2015-10-29 22:48] adityabansod commented on #1923
hey guys -- since i didn't get any answers, i've since moved to circleci where tests run reliably.

[2015-10-29 22:48] #1923 closed

[2015-10-30 03:33] manishas commented on #1936
@jdextraze is this still happening?

[2015-10-30 05:23] rsweetland commented on #1953
Any news on when this might be available?

[2015-10-30 05:50] vidyar commented on #1980
Hi @rmrbest : This error usually shows up when there is a space in between the username and image name (For ex: `username  /imagename`)  in **pull image from** field in Project settings. Can you please check and let us know if this is the problem?

[2015-10-30 07:41] rmrbest commented on #1980
Hi, no there space between username and image name. I need change it. Before, we could do it.

[2015-10-30 08:00] chinthakagodawita opened #1984 "Test results aren't being parsed"
We're having the same issue that was previously reported in #1943, our PHP CodeSniffer test results aren't being parsed.

Build in question: https://app.shippable.com/builds/56329f830aa6000d0017f81b

[2015-10-30 08:31] rageshkrishna commented on #1981
@ZuluPro Sorry for the delay on this, but we have a fix for this issue that will be deployed some time today. I will update this issue as soon as it's available.

[2015-10-30 08:55] rogierslag commented on #1973
Cool, thanks for the feedback!

[2015-10-30 08:55] #1973 closed

[2015-10-30 09:04] rageshkrishna commented on #1978
@fabiocarneiro We currently do this only for pull request builds. Earlier, we used to do exactly what you said and checkout the commit ID but we had a few customers complain that their workflow involves forced pushes which was causing queued builds to fail because the commit ID that triggered the build would have been wiped out by a more recent force push.

The rationale behind always building the

[2015-10-30 09:05] rageshkrishna commented on #1978
On normal commits (not PR builds), we always build only the exact commit SHA that triggered the build.

[2015-10-30 11:28] fabiocarneiro commented on #1978
1. place the commit id only when build starts (not when queued)
2. automatically cancel running build, if already running and create a new build with the new HEAD.

It doesn't make any sense to run two builds for the same commit id unless intentionally.

[2015-10-30 15:18] ingopansa opened #1985 "Error when trying to remove a subscription"
I was playing around a bit with shippable, ended up in removing and re-adding my bitbucket integration. Now I cannot (re-)run any builds any more, and when trying to remove/re-add the repository subscription, I get the following error:

"{"id":3300,"message":"Owner not found for projectId::56337fc91895ca4474223393","methodName":"caller:56337fc7046d220c0032791e|projects|syncById:56337fc91895ca44742

[2015-10-30 16:59] #1981 closed

[2015-10-30 16:59] manishas commented on #1981
This is now available....

[2015-10-31 04:44] jdextraze commented on #1936
No. Thanx.

[2015-10-31 04:44] #1936 closed

[2015-10-31 18:53] nlf commented on #824
I'd like to put in a request to be able to build when a tag is pushed to git, and to be able to tag the docker build with the same tag name that was received from git somehow.

[2015-11-02 08:44] pawanrawal opened #1986 "Build fails while trying to install node version managar n"
Hi, build fails while trying to execute `sudo npm install n -g`. I am able to build this on my machine. Can't understand why this fails on shippable.

Here is a link of the build
https://app.shippable.com/builds/563711b1a0c8000d00ed2f29

[2015-11-02 10:30] mbrodala opened #1987 "SSH into build environment"
To deal with issues during builds it would be very useful if one could enter the build environment via SSH. I am aware that [Circle CI offers this as feature](https://circleci.com/docs/ssh-build) and AFAIS they also use Docker for build environments. Maybe this provides some hints how it could be done.

[2015-11-02 11:01] janober opened #1988 "Unable to add email-notification to project"
I did set up two "notification : Email" in my account but are unable to use it on a project. When I go under:
"Project Integrations" => "Notification"
it displays: "No notification integration added"
and there is nothing else to select.

Thanks!

[2015-11-02 11:56] naveensky opened #1989 "Add Team members to Project"
Hi,

I need to add team members to my project. Can you help me with that.

Naveen

[2015-11-02 12:17] kanthchandra commented on #1989
Hi @naveensky, We inherit the same permissions that the project has on github/bitbucket. So after you have added members to the project on github/bitbucket, the team members can login to shippable and then force sync their account in the account settings tab. The permissions will get synced and they should be able to see the project.

[2015-11-02 14:54] naveensky commented on #1989
@kanthchandra - thanks for the update. I am able to give my team access now :)

[2015-11-02 14:54] #1989 closed

[2015-11-03 01:00] chinthakagodawita commented on #1984
Looks like the problem is that we had too many errors happen! More recent builds are parsing test results.

[2015-11-03 01:54] netroby opened #1990 "Golang build step failed, but travis working as well"
[code]

Here is the origin git source repo
https://github.com/netroby/gosense

and the travis.yml
[code]

[2015-11-03 02:46] vially commented on #1520
Any update on this?

[2015-11-03 05:21] #1984 closed

[2015-11-03 11:14] rogierslag opened #1991 "Pushing containers to selfhosted registries"
Currently we use a docker based docker registry for internal use. However, shippable cannot push to these repositories. Meanwhile Docker Hub is sometimes especially slow when both pushing and pulling images (not only on Shippable, this is a general Hub problem).

Are there any plans to support local registries?

[2015-11-03 11:31] rageshkrishna commented on #1991
@rogierslag We do have an integration for private docker registries. You should be able to create this account integration from https://app.shippable.com/accountSettings/integrations/new and then add it to your project settings, just like you would do with Docker Hub. The complete docs are at http://docs.shippable.com/docker_registries/. Is this not working for you?

![private_registry](https://cl

[2015-11-03 12:05] hammadalinaqvi opened #1992 "Unable to see project logs on dashboard"
Hey,

I don't see any logs of the builds that are generated/executed for my projects. It has been more than a month that I am using Shippable.

For the team communication, we are using Slack and a webhook is enabled for git commits and shippable builds. Attached are the screenshots of Slack creating the builds and my shippable dashboard for the project.

![shippable](https://cloud.githubuserconten

[2015-11-03 12:12] rageshkrishna commented on #1520
@vially Sorry for the lack of response on this. We actually fixed this a long time ago but it looks like we forgot to update this issue. Are you still seeing this happening on your projects?

[2015-11-03 13:28] vially commented on #1520
@rageshkrishna No, I haven't tried it recently. I'll try it again soon and see how it goes.

Thanks!

[2015-11-03 13:28] #1520 closed

[2015-11-03 15:16] mbrodala opened #1993 "Cannot execute .phar signed with subscription key"
We are currently taking an approach to have a `foo.phar` built on Shippable using the PHP [Box project](http://box-project.github.io/box2/) and have it signed with the private subscription key available to all of our projects and builds via `~/.ssh/id_rsa`.

However, providing the matching public key available via `~/.ssh/id_rsa.pub` afterwards as `foo.phar.pubkey` fails which you can see in [this

[2015-11-04 01:38] netroby opened #1994 "Can not delete project"
I do not want shippable run CI for my project, but i have no permission to delete my project on shippable.

[2015-11-04 01:51] avinci commented on #1994
whats your projectId?

[2015-11-04 01:55] avinci commented on #1987
Circle is using VMs upon which they run docker containers. So for every build, its a separate VM and hence on the free plan they limit you to 1500 minutes. We run a different architecture and hence can support unlimited builds on the free plan and the limitation is SSH...

We allow bring your own machines to run builds which will allow you do anything. let me know if you need more information on t

[2015-11-04 01:55] netroby commented on #1994
https://app.shippable.com/?redirectUrl=/subscriptions/543cc6557a7fb11eaa650180

[2015-11-04 01:55] #1987 closed

[2015-11-04 01:55] netroby commented on #1994
Please deleted all my ip

[2015-11-04 01:58] avinci commented on #1994
I am not able to find that project or subscription. Can you send me the right information

[2015-11-04 06:16] manish-in-java opened #1995 "Builds fail due to inability to download JARs from Maven Central"
Builds are failing on multiple occasions due to failure to download JARs from Maven Central.  Some samples below:

Problem is occurring every few builds.  The JARs are perfectly downloadable from Maven Central.

This is annoying and misleading because simply re-running the build works most of the times (but not always).

[2015-11-04 06:21] manish-in-java opened #1996 "Builds show up as failed although Maven build status is SUCCESS"
Builds are failing although Maven build status shows SUCCESS.  Sample below:

[code]

I can see from the log file that the build was tried twice, failing the first time and succeeding the second.  The first-time failure was due to Issue #1995.

This is annoying and misleading because simply re-running the build works most of the times (but not always).

[2015-11-04 07:35] janober commented on #1988
Not having gotten an answer for 2 days and seeing that other people have not received one for 6 days and more, I really wonder if you are the right choice for any business. Having a good product is not enough, especially if you make your potentially soon paying customers wait an unnecessary long time. That is just does not give someone confidence into your product & company.

[2015-11-04 08:07] kanthchandra commented on #1988
Hi @janober , I'm sorry that we couldn't reach out to you earlier. Currently we support only Slack notification in the project settings. To add email notification, you will need to add the following config to your `shippable.yml` file.
[code]
the documentation on this can be found at http://docs.shippable.com/yml_reference/#email-notifications

Please let us know if you have any more questions. We

[2015-11-04 08:11] janober commented on #1988
Hello,

thank you very much for the information. Will do that.

But for what is the Email-Integration for that I can add under "Account Integrations"?

[2015-11-04 08:11] mbrodala commented on #1987
You're right, I forgot about that option. I'll look into that, thanks.

[2015-11-04 08:20] kanthchandra commented on #1988
We have a feature called Lighthouse which is available to all users of Shippable. Using this feature, you can add any  image from any registry that you want to track and get notified via email when there is an update to the image (like when a new tag is pushed to the image). The email integration that you see in the account integrations is for the lighthouse notification.

More information on this

[2015-11-04 08:23] janober commented on #1988
Great thanks a lot for the info!

[2015-11-04 08:23] #1988 closed

[2015-11-04 08:28] manishas commented on #1988
@janober we're prioritizing fixing our support process and you will see significant improvements soon.
Thanks!

[2015-11-04 08:31] manishas commented on #1987
@mbrodala if you want to use your own machines to run builds please let me know. We have a beta for this and we could add you to it.

[2015-11-04 08:33] janober commented on #1988
Perfect, great to hear!

[2015-11-04 08:39] mbrodala commented on #1987
@manishas Thanks but first we'd need to find suitable machines which are fast enough to handle all builds without delays. For now we'll stick with the "hosted" builds but will have a look at this again. :-)

[2015-11-04 08:40] kanthchandra commented on #1980
Hi @rmrbest. We follow the same validation that dockerhub follows and your namespace must match the regex `/^[a-z0-9-_]+$/` in order to pass the validation.

You can send me the image name that you are trying to add to chandrakanth@shippable.com so that we can take a look and get back to you.

[2015-11-04 08:54] vidyar commented on #1992
Hi @hammadalinaqvi,  Can you please follow the instructions at http://docs.shippable.com/#why-cant-i-see-some-of-my-repositories-in-my-shippable-account and let us know if that helps. If that doesn't work we will take a look at this further.

[2015-11-04 09:56] mbrodala opened #1997 "Bitbucket webhook has timeouts"
We are currently experiencing that pushes to Bitbucket repositories do not trigger builds on Shippable and the Webhook request listing shows some `TIMEOUT` entries for the `repo:push` event (10000ms). Could you have a look at this?

[2015-11-04 10:15] tomsterritt opened #1998 "Build stuck processing"
5639cb51cdfca60e009dc6af

Thanks

[2015-11-04 10:20] rageshkrishna commented on #1997
Hi @mbrodala. Can you give me the project ids on which you're seeing this issue? Also, is this restricted to some repositories or are you seeing this happen across the board for all of your projects?

[2015-11-04 10:54] mbrodala commented on #1997
Ah yes, sorry. We are seeing the timeouts only with project 55b09b7bedd7f2c052804b03 ATM. The last few pushes where fine again so it may have been a load spike. But maybe not, just wanted to be sure to report it. We'll monitor the situation.

[2015-11-04 11:36] hammadalinaqvi commented on #1992
It indeed helped @vidyar :+1:
Thanks a bunch!! :smile:

[2015-11-04 11:36] #1992 closed

[2015-11-04 12:35] kanthchandra commented on #1985
Hi @ingopansa , the bitbucket integration is very much essential for us to make http calls to bitbucket. This can be fixed by following the steps given below.

I have assumed that you have a linked both your github and bitbucket accounts and proposing this solution.

1. Delete the existing bitbucket integration that you re-added in the account settings.
2. Click on the logout button.
3. Next login

[2015-11-04 12:44] ingopansa commented on #1985
Hi,

that seem to have worked - thanks!

Ingo

[2015-11-04 12:51] kanthchandra commented on #1277
Hi @geshan , we have recently added this feature. Can you please try this out and let us know if this works for you?

[2015-11-04 14:02] HelainSchoonjans opened #1999 "Can't cancel a build using the rest api."
I've successfully used the Shippable API to trigger builds and get project information using using curl queries. I couldn't however cancel any incomplete build using rest requests:
`curl -H "Authorization: apiToken $myToken"      -H                                                                                                                                   "Content-Type: application/json"

[2015-11-04 16:08] rmrbest commented on #1980
Hi,

I attached screenshot with error showed.

Please tell us soon.

Thanks.

Regards,
Raul.

2015-11-04 9:40 GMT+01:00 Chandrakanth <notifications@github.com>:

--
Saludos,

Raul Mesa.

[2015-11-04 16:17] jamescgibson opened #2000 "GitHub Collaborator can't see build"
My github collaborators can't see my builds. They're in my org, on the repo, and have every permission I can grant them on GitHub.

I tried forcing a sync through the Shippable web interface.

Advice?

[2015-11-04 16:56] kanthchandra commented on #2000
Hi @jamescgibson, Can you please try the suggestions given at http://docs.shippable.com/#why-cant-i-see-some-of-my-repositories-in-my-shippable-account and see if any of those work?

I'm guessing that it's a private project and the collaborators haven't enabled private scopes on their account and as a result they are not able to see the projects on Shippable. If this is the case then enabling priv

[2015-11-04 16:58] kanthchandra commented on #1985
Glad that it worked :) Closing the issue.

[2015-11-04 16:58] #1985 closed

[2015-11-04 20:05] nlf opened #2001 "test all pushes, but only build and push to hub for tagged releases"
how we prefer to work is by pushing code to master and keeping that branch tested and up to date, which works perfectly in shippable.

however, where we differ somewhat is we don't want to necessarily build and push a docker container for every push. we use semantic versioning and tag our releases in git when we want a build to run. is there any support for that in shippable?

bonus points if we c

[2015-11-04 21:14] drankinn opened #2002 "can't create an aws formation"
I'm getting the following error when creating a formation for aws:
{"id":1004,"message":"Adapter call failed for getClusterByName","methodName":"getClusterByName|_getClusterByName","link":{"message":"Missing region in config","code":"ConfigError","time":"2015-11-04T21:12:19.782Z"}}

here's the screenshot:
![selection_019](https://cloud.githubusercontent.com/assets/1199706/10952105/53674fc4-82fe-11

[2015-11-04 22:02] manishas commented on #2002
looking into this.... will update soon.

[2015-11-04 22:14] trriplejay commented on #2002
@drankinn we're working on the fix for this, targeting end of day, but i'll update the issue to let you know the status.

[2015-11-05 01:15] drankinn commented on #2002
Nice response time.  Thanks for looking into this

[2015-11-05 06:23] pranaypareek commented on #1999
@HelainSchoonjans We have opened up an internal issue and will keep you updated as we make progress. Thanks for reaching out!

[2015-11-05 07:00] kanthchandra commented on #1980
Hi @rmrbest we have opened an internal issue to track this problem. We will update this thread as soon as we have more information on this. Thanks for reporting this.

[2015-11-05 08:25] rageshkrishna commented on #1999
@HelainSchoonjans It looks like you're doing a GET, but this call needs to be a POST. This should work:

[code]

[2015-11-05 08:52] RonXS commented on #1972
language: php

php:
  - 5.6

git:
  - submodules: false

build_image: ansible/ubuntu14.04-ansible

before_script:
  - ansible-playbook --limit local -i ansible/inventories/inventory.yml ansible/playbook.yml

script: bin/phpunit

notifications:
    email:
      recipients:
        - ronxs@live.nl
      on_success: change
      on_failure: always

[2015-11-05 08:59] RonXS commented on #1972
![schermafbeelding 2015-11-05 om 09 53 33](https://cloud.githubusercontent.com/assets/440788/10963773/2307287c-83a3-11e5-94c8-60597425bf4f.png)

Build fails, but all checks are green. What i would expect:

Between the build_image and save_reports, i expect a "before_script" which runs my ansible, and then the script, which might fail on the unit tests.

This has been reported many times, and its b

[2015-11-05 09:27] HelainSchoonjans commented on #1999
According to the curl docs, the -d option does make the query a POST one. I however did try to add the method explicitly as in your example:
After adding -X POST to my request, I still gets the same responses, either "The requested resource was not found" or "Invalid request" or "Internal server error" when making similar queries as the ones in my first post - plus the "-X POST".

[2015-11-05 09:55] rageshkrishna commented on #1972
@RonXS I completely understand your frustration. We are actively working on exposing more details about build failures. In your particular case, the issue is that the docker image you are building does not contain some of the dependencies we require to start running our python build runner. Although our script does try to install any missing dependencies, this also appears to be failing with your

[2015-11-05 10:23] rogierslag commented on #1991
For unknown reasons I completely missed this feature (and im pretty sure the docs said somewhere only docker hub and some google thing were supported)!

[2015-11-05 10:23] #1991 closed

[2015-11-05 10:32] RonXS commented on #1972
Ok thank you, i got this working by switching from a ubuntu 14.04 ansible image to a new ubuntu 15.10 image, installing ansible myself.

The problem is that in ubuntu 14.04, somehow the pip isnt there and i cant find a ppa that installs it.

[2015-11-05 10:32] rageshkrishna commented on #1999
@HelainSchoonjans I'm still unable to reproduce this issue. Can you share the build ID you're using? You can send it to me at ragesh@shippable.com if you'd rather not add it here. Thanks.

[2015-11-05 11:04] mbrodala commented on #1003
@zanona It kind of works if you make sure to end all statements with a `;` (semicolon). We are using something like this which works fine:

[code]

[2015-11-05 13:14] mbrodala commented on #1993
I now found a solution. The following setup works:

[code]

[2015-11-05 13:14] #1993 closed

[2015-11-05 13:24] HelainSchoonjans commented on #1999
Done @rageshkrishna.

[2015-11-05 14:04] HelainSchoonjans commented on #1999
Okay, seems I obtained the id of the build using GET /project/{projectId}/searchBuilds then looked in the json[0]["builds"][0]["id"] while the id that works is uin fact at position json[0]["id"] (this assumes that there is only one build running for this project).

I'm not sure to understand the difference between both "buildIds"...

[2015-11-05 14:04] #1999 closed

[2015-11-05 14:19] naveensky opened #2003 "Builds are getting stuck"
Hi,

My builds are getting stuck as I am getting "[error] File name too long" error. The same build was working good for the same project few days back. The build commands runs successfully on my local machine.

For reference the build is https://app.shippable.com/builds/563b60d8f2dc3d0c0074eded

Guide me how to resolve this

Naveen

[2015-11-05 14:25] mgladdish commented on #1995
I'm getting this, too.

I'd like just a single week where builds were stable in Shippable :(

[2015-11-05 15:11] manish-in-java commented on #1995
Builds are failing today as well with the following error:

@mgladdish is right in that not a single week passes where the builds do not fail for these senseless reasons.

Can we at least get an acknowledgement from the Shippable team that these issues are known and are being worked upon?

[2015-11-05 15:45] avinci commented on #1995
Folks...this clearly says its a maven issue. We are not able to connect to an external repo of maven. This has nothing to do with Shippable as its a build related issue.

Please try again as now http://repo.maven.apache.org/maven2 is redirecting to http://repo1.maven.apache.org/maven2.

if this is still not working, let me flush DNS...

[2015-11-05 15:47] avinci commented on #2003
the problem is the path on this one. We add a few folders to clone the repo and thats causing the file name issue. Let me look into what we can do with this. This is typically happens with scala and maven like projects.

is there something that has very deep folder structure in your repo?

[2015-11-05 15:57] avinci commented on #1995
another thing you could also try is to build some robustness where you are pulling something from the internet using `shippable_retry`. This will prevent any sorts of hiccups in the system especially network problems that could make your build fail right away...

Let me know if that helps

this talks about it for nam, but can be used for anything
http://docs.shippable.com/yml_reference/#retrying-n

[2015-11-05 17:25] trriplejay commented on #2002
hi @drankinn, We made some changes to this workflow.  Now you should be able to successfully create a formation using our plan called 'cs-deploy'.  Once created, you will be able to link it to your aws integration.

[2015-11-05 18:43] naveensky commented on #2003
@avinci - nothing which I could tell. Strange thing is that same build was working fine 2-3 days back

[2015-11-05 22:22] LivesleyWA opened #2004 "Support for latest Node versions (V4 and V5)"
Tried the following

[code]

Install of v5 failed.

[code]

[2015-11-05 23:15] LivesleyWA commented on #2004
Also fails for version 4.0 and 4.2

[code]

[2015-11-05 23:15] #2004 closed

[2015-11-05 23:16] LivesleyWA commented on #2004
[code]

[2015-11-06 00:28] jamescgibson commented on #2000
This worked, thanks!

[2015-11-06 00:28] #2000 closed

[2015-11-06 01:48] jdextraze commented on #1587
I also have an issue with code coverage. The xml file is generated, but the coverage tab is always showing 0% for each packages. Example build: https://app.shippable.com/builds/563c022da92e8b0c00ea60e2

[2015-11-06 02:10] manish-in-java commented on #1995
These same builds work from all other systems (our dev machines, our test environment, etc.) at the same time that the Shippable builds are failing.  `repo.maven.org/maven2` is the default Maven Central URL that is configured on the server, so this IS a Shippable problem.  If it was not a Shippable problem, all builds would be failing at all times, not just a few ones; and they would not succeed o