[2016-04-08 18:16] #2502 closed

[2016-04-08 18:17] manishas commented on #2504
@sboesen what was the username for your old account?

[2016-04-08 18:26] manishas commented on #2507
Closing this issue. I have posted a link to this issue on Twitter.

[2016-04-08 18:26] #2507 closed

[2016-04-08 22:11] chriskinsman opened #2508 "Nodes not starting and builds not being assigned to existing nodes"
We have 8 builds pending.

No nodes are spinning up.

1 node that is existing is not building any of the projects...

[2016-04-08 22:13] chriskinsman commented on #2508
Last running node has now shutdown.  Dead in the water with a fix to deploy...

[2016-04-08 22:14] trriplejay commented on #2508
looking into it now

[2016-04-08 22:14] chriskinsman commented on #2508
Thanks!

[2016-04-08 22:15] chriskinsman commented on #2508
Something just changed.  All projects just went into provisioning node state instead of waiting.

[2016-04-08 22:16] chriskinsman commented on #2508
No nodes however appear to be provisioning...

[2016-04-08 22:17] chriskinsman commented on #2508
Nodes just provisioned it looks like...

[2016-04-08 22:20] chriskinsman commented on #2508
Builds are now building...

[2016-04-08 22:20] #2508 closed

[2016-04-09 02:10] trriplejay commented on #2498
Hello, this fix has now been deployed. Please give it a try and let me know if you run into any problems.

[2016-04-09 02:12] eric-naguras commented on #2492
Hi Avi,

Thanks for your email.

I would love to get some guidance on how to use the Shippable CI/CD service to fit our workflow.

I have succeeded in doing some of the most urgent things already and my production/test deployments
Are working the way I want them to.

I’m thinking of moving all our build processes to the cloud, as much as possible.
Although we have some builds for Mac and Windows,

[2016-04-09 07:52] KnowRe commented on #2498
It works well. Thank you very much!

[2016-04-09 12:47] oppianmatt commented on #2506
I ended up trying to use a docker container to start postgres for testing (as that's what I use locally, and I need to do it for solr anyway). But the port bindings have me a little confused:

[code]

As you can see I've started solr and postgres via docker, and the ports are exposed but I can't see them with netstat. I'm guessing that's because I'm a docker in docker container and those ports are

[2016-04-09 22:32] sboesen commented on #2504
Old account was sboesen, new github account is larsbo99.

[2016-04-10 08:39] mgeisler commented on #2480
Thanks for fixing this! I see the commit status being updated on GitHub again.

[2016-04-10 14:20] #2498 closed

[2016-04-10 14:20] #2501 closed

[2016-04-10 23:32] abhijitkini commented on #2479
@gg-dh Yes, please open a new issue for your request to specify the load balancer ip manually. Will close this issue as resolved.

[2016-04-10 23:32] #2479 closed

[2016-04-11 14:04] oppianmatt opened #2513 "build killed"
Is your request:
---------------------------

- [ ] A feature request: Feature currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

Description of your issue:
--------------------------

2 r

[2016-04-11 17:05] manishas commented on #2506
closing this issue. @oppianmatt would you consider writing a blog about how to handle this scenario? We'll be happy to post it on our blog site.

Thanks!

[2016-04-11 17:05] #2506 closed

[2016-04-11 17:35] npahucki opened #2514 "New wait_for_exit part of script makes build timeout"
Last Thursday at 2:56pm PST, my build was working. All builds after 4:21pm PST fail by timing out. If I look at the console, it looks like there is a new step in the build script called wait_for_exit has been added (not in previous working build scripts). It's in this new step that the build is getting stuck and timing out.

See https://app.shippable.com/runs/5707fadb49783a12002d5b29

[2016-04-11 17:59] abhijitkini commented on #2489
@taylortdixon Please let us know if you continue to have the issue after trying out @rageshkrishna's recommendation. Closing the issue as resolved.

[2016-04-11 17:59] #2489 closed

[2016-04-11 18:09] oppianmatt commented on #2513
It's not always happening, but it happens often. This is what I see:

![image](https://cloud.githubusercontent.com/assets/48596/14437365/c3fdeab2-0018-11e6-84cc-7b9d6b67d34f.png)

[2016-04-11 18:11] oppianmatt commented on #2513
If I could get a look at the script, around line 58 I might be able to work out/around.

[2016-04-11 18:11] oppianmatt commented on #2513
https://app.shippable.com/runs/570bd791f07b8d0c001a4327

[2016-04-11 18:42] trriplejay commented on #2513
I think that `python -u manage.py ... ` command is line 58, and the script is terminating while attempting to execute that command, but I will see if I can confirm that line number.  We do have a 'script' tab you could look at, but it does not contain line numbers.

[2016-04-11 18:53] trriplejay commented on #2514
wait_for_exit has been there for awhile, but it is not visible under normal circumstances.  It is just our way of following the build and waiting for it to complete.  In this case, it looks to me like your build became stuck during the CI step, and eventually timed out.  Since your build didn't explicitly fail, the failure is marked in the wait_for_exit step instead of the build_ci step.

Was ther

[2016-04-11 18:57] trriplejay commented on #2513
looks like it's struggling with that create test database step.  Could this be related to that binding issue you had previously mentioned?

[2016-04-11 18:59] npahucki commented on #2514
I'm sorry, I meant to attach this which shows the problem is in the wait_for_exit.

![screenshot 2016-04-11 15 57 59](https://cloud.githubusercontent.com/assets/823555/14438826/60b2302c-fffe-11e5-91ca-56f551be191d.png)

[2016-04-11 19:00] oppianmatt commented on #2513
It's not that, the binding is all fine and some containers finish building. It does create the database and runs test as each period `.` is a successful test run. If I had to guess without seeing logs I would say the process/container got killed by something outside, is there an oom-killer running?

[2016-04-11 19:16] trriplejay commented on #2513
Our build nodes don't have any modifications to the kernel's default OOM behavior, so that's definitely a possibility.  We also don't currently allocate any swap for the nodes, though I believe we have plans to do so in the near future.

[2016-04-11 19:38] trriplejay commented on #2514
The way we present it is a bit confusing, but basically this is saying that 'wait_for_exit' waited for 1 hour and 54 minutes for your build container to exit.  When it didn't exit within the maximum time allowed, the container was killed.  The other steps in your build occur in parallel with this step, not in series as the order in the console implies.

In this case, the build never completed.  It

[2016-04-11 20:07] npahucki commented on #2514
I see. There were some changes, but they were tested and seemed to work in the PR. I'll do a little more investigation and testing before asking you to dig into it. Please don't close this issue until we have a resolution.

[2016-04-12 00:08] incapture-build opened #2515 "Gradle tests fail in shippable while passing locally & in Bamboo"
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:

Hello. I am consistently seeing gradle tests fail in shippable that I do not see fail locally or in our Bamboo build process. The OS and java version are the same as in our Bamboo build (ubuntu 14.04, oraclejdk8). I first used your docker image

[2016-04-12 05:32] kanthchandra commented on #2504
@sboesen can you please try force syncing your account so that all the permissions get updated? You can go to your account settings page and click on the sync button to forcesync your account.

Also I notice that larsbo99 is an organization under sboesen account. Since I couldn't find any account with username `larsbo99` have you logged in to shippable using larsbo99 account?

[2016-04-12 05:59] pquentin opened #2516 "Some failed builds do not trigger a Slack notification"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Some failed builds do not trigger a S

[2016-04-12 06:34] sboesen commented on #2504
I signed in for that account now and it works so far as it builds properly and passes on that account!

Unfortunately, I still can't delete that project from my account (or delete my account in an attempt to reset it). I suppose this is fine, I can just add projects, but weird it lingers and can't be deleted.

[2016-04-12 09:11] gg-dh opened #2518 "Reusing load balancer IP (GKE)"
It would be great if we could specify load balancer ip manually (or Shippable would remember it and reuse when load balancer is recreated).

That's how I can do it via the Kubernetes resources configs.

First, I create an LB without specifying the ip:

[code]

This actually allocates some external ip. I go to the cloud console -> Networking -> External IP addresses, search for this ip and make it

[2016-04-12 09:36] oppianmatt commented on #2513
Split up tests using parallel test and was all good last night (GMT) but now this morning started to get killed again.

Running test runner in verbose mode shows:

[code]

Will update if it keeps happening

[2016-04-12 10:17] oppianmatt commented on #2513
yep still happening on random tests so it's not test specific:

[code]

annoyingly it will kill one half of the parallel tests, the other half still goes but it's already a wasted build by then :(

[2016-04-12 10:17] oppianmatt commented on #2513
https://app.shippable.com/runs/570cc344ab73e00c002a5d12

[2016-04-12 13:00] oppianmatt commented on #2513
[code]

frustratingly they have all seemed to be killed today

[2016-04-12 13:08] npahucki commented on #2514
Ok, we can close this. I found some stuff on our side that could have contributed, but also some stuff that worked fine locally but makes the build hang when only when run on shippable (using grunt-concurrent for running unit tests - I still have no idea how this makes the build hang or how it worked for months with no problems then suddenly stopped. I'm guessing some new version of some npm libra

[2016-04-12 13:08] #2514 closed

[2016-04-12 13:20] pranaypareek commented on #2516
@pquentin would you please try using double quotes around the name of the slack channel?

[code]

We expect the channel names to be wrapped in quotes (http://docs.shippable.com/ci_configure/#slack-notifications)

The reason why this might be working in your case is if you have some channel names configured from the UI in the account integration. Our system takes those values as strings.

I reprodu

[2016-04-12 13:21] ankul-shippable commented on #2515
@incapture-build Our Build machines are 2 core, 3.75 GB RAM and 150 GB AWS machines and we do not set any memory on docker containers.

We have found [this link](http://stackoverflow.com/questions/9808488/how-to-optimize-gradle-build-performance-regarding-build-duration-and-ram-usage) for setting required environment variables for gradle. Please try it once and let us know.

[2016-04-12 15:06] jdextraze commented on #1557
Any ETA on this issue?

[2016-04-12 16:26] incapture-build commented on #2515
@ankul-shippable thanks for the quick response! Nice to know the machine size as well. I tried updating my gradle wrapper with JVM args as described in that link, (tried 512, then 1024 for good measure). I still receive the same errors.

Now that i am looking closer, these tests seem to be related to timing (ex: testQueryOrderAsc, which queries on a timestamp). Are there any known issues around ti

[2016-04-12 16:38] jonathan-major commented on #2515
@ankul-shippable to help us debug how do we get the junit output off the server?

[2016-04-12 19:22] neilberkman opened #2519 "Build failure, PostgreSQL not found"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Trying to set up a simple rails app w

[2016-04-12 19:31] a-murphy commented on #2519
Are you starting Postgres in your script, or expecting it to already be running?  If you want Shippable to start Postgres for you, you will have to specify it in the [services](http://docs.shippable.com/ci_configure/#services) section of ```shippable.yml``` as follows:

[code]

[2016-04-12 19:31] manishas commented on #2519
@neilberkman we do not start postgres by default, so you will need to specify it in your yml with the following:

[code]

Also, is there a reason you're not using our new yml format documented at http://docs.shippable.com/ci_configure/

With the new format, your yml will be:

[code]

[2016-04-12 19:35] manishas commented on #2518
@gg-dh thanks for suggesting this. We're discussing this internally and it's now in our backlog.

[2016-04-12 19:43] neilberkman commented on #2519
Thanks.  Now my shippable.yml is:

[code]

Latest build failure is:
https://app.shippable.com/runs/570d4eb85f74910c00f7f774

It's failing on this step:

[code]

[2016-04-12 19:59] neilberkman opened #2520 ""Could not find rake-11.1.2" error on bundle exec rake"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Using ruby 2.3.0, build is failing on

[2016-04-12 19:59] neilberkman commented on #2519
Moved this to a new issue: https://github.com/Shippable/support/issues/2520

[2016-04-12 19:59] #2519 closed

[2016-04-12 21:02] abhijitkini commented on #2520
@neilberkman could you try this new `yml` with `bundle install` included?
[code]

[2016-04-12 21:30] neilberkman commented on #2520
Thanks, looks like that did it.

[2016-04-12 21:36] abhijitkini commented on #2520
Awesome! Closing the issue as resolved.

[2016-04-12 21:36] #2520 closed

[2016-04-12 23:20] ric03uec commented on #1557
@jdextraze i see the following logs for the build link you posted above
![image](https://cloud.githubusercontent.com/assets/1110988/14478384/261ecf16-00ca-11e6-89ff-8326d7a189a1.png)

this means that there are no files in `shippable/testresults` and `shippable/codecoverage` folders because of which the report parser is returning null results for each. We have tested junit test parsing to be workin

[2016-04-13 02:11] twillms07 opened #2521 "Build failure with docker push using environment variable."
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
Unable to execute a `docker push` whi

[2016-04-13 02:17] jdextraze commented on #1557
Thanks, got it to work

[2016-04-13 02:28] manishas commented on #1557
@jdextraze thanks for confirming it works. Closing this issue.

[2016-04-13 02:28] #1557 closed

[2016-04-13 03:28] a-murphy commented on #2521
The variable ```$BUILD_NUMBER``` should have been filled in as expected when the command ran, but the command in the logs shows ```$BUILD_NUMBER``` because that's what's in the script.

It's much more likely the ```https://``` that caused the error because  ```docker push``` doesn't expect a protocol.  Could you try ```docker push 977049052371.dkr.ecr.us-east-1.amazonaws.com/api:$BUILD_NUMBER```?

[2016-04-13 03:39] twillms07 commented on #2521
Thanks we¹ll give it a try Dale-Kurt cc¹d here is out for the night and he¹s
our lead DevOps person. We¹re trying to get our build out tonight so that
our offshore team can begin integrating our app so I¹ll attempt to do my
best.

From:  a-murphy <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c57e732fdda2fc890f7e80e55ba038b3be7d2a6a5b92cf0000000113257ece9
2a169ce08d12dc9@repl

[2016-04-13 04:03] a-murphy commented on #2521
Sorry, I didn't read your shippable.yml very closely.  You'll need to switch the order of the ```docker push``` and the ```docker tag```, too, because you're naming the image ```api:latest``` when you are building it.  (You need to tag the image before pushing it with that name, and remove the https:// from that as well.)

So,```docker tag -f api:latest 977049052371.dkr.ecr.us-east-1.amazonaws.com

[2016-04-13 05:15] twillms07 commented on #2521
We¹re still seeing build errors is there any insight you can provide? This
all used to work! This is beginning to get incredibly frustrating and time
consuming for our team. I¹ll forward the the issue we¹re seeing.

https://app.shippable.com/runs/570dd041b7923b0c00d92752

From:  a-murphy <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c5bddcaef7150903fabedaf5fd6cfb1292b4f8b445

[2016-04-13 05:15] twillms07 commented on #2521
Todd Willms | Founder &  CEO | PiiQ
twillms@piiq.co <mailto:twillms@piiq.co>  | Mobile: 415 871 5171

From:  <noreply@shippable.com> on behalf of "Shippable.com"
<noreply@shippable.com>
Date:  Tuesday, April 12, 2016 at 10:09 PM
To:  <techadmin@piiq.co>
Subject:  [ develop ] Build FAILED for PiiQ-Personas/personas-server (
Update shippable.yml ) on Shippable.com

     <https://www.shippable.com>

[2016-04-13 05:22] a-murphy commented on #2521
It looks like you're trying to push an image that doesn't exist.  Docker doesn't have an image called ```977049052371.dkr.ecr.us-east-1.amazonaws.com/api:$BUILD_NUMBER``` locally, so it can't figure out what you want pushed.  You could either change the name (after ```-t```) in ```docker build``` to match what you are trying to push or tag (docker tag api:$BUILD_NUMBER 977049052371.dkr.ecr.us-east

[2016-04-13 05:28] twillms07 commented on #2521
No we were just tagging it with latest not the build number.

From:  a-murphy <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c5250bb6e3e88c7a234140e7789140c857671ea82d92cf000000011325997c9
2a169ce08d12dc9@reply.github.com>
Date:  Tuesday, April 12, 2016 at 10:22 PM
To:  Shippable/support <support@noreply.github.com>
Cc:  Todd Willms <twillms07@gmail.com>
Subject:  Re: [Shippa

[2016-04-13 05:40] manish-in-java opened #2522 "Builds failing for an unknown reason"
### Is your request:

- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:
[Failed build 1](https://app.shippable.com/runs/570dd1cde817e50c00f2e230)
[Failed build 2](https://app.shippable.com/runs/570dd1aab7923b0c00d94dcc)

The following error appears in the logs:

    [ERROR] An unknown compilatio

[2016-04-13 05:48] manish-in-java opened #2523 "Not receiving build notification emails"
### Is your request:

- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:
We are not receiving build notification emails for [our project](https://app.shippable.com/projects/55801052edd7f2c0521a75d8).  The last email received was on March 28, 2016.  After that no new failure or success emails have

[2016-04-13 05:50] pquentin commented on #2516
Most Slack notifications do get through, and all our projects are configured in the exact same way. For this reason, I don't think this is the issue. And since I don't think this is the issue I'm reluctant to change the ~90 .shippable.yml files we have.

(By the way, having to configure this everywhere (in the Slack integration, in the Shippable integration, and in the .shippable.yml file) makes n

[2016-04-13 05:57] manishas commented on #2521
@twillms07 we need to look into several issues here.

[1] CI build image
Which image do you want to use for CI? Currently, we're pulling our standard Scala build image drydock/u14sca:prod for your build.

[2] What image do you want to push to your ECR registry?

You need to build the api image with the fully qualified name and push it like this:

[code]

Overall, I took a stab at your yml and here

[2016-04-13 06:01] ankul-shippable commented on #2515
@incapture-build This is the time zone of our minions. Output of `timedatectl`:
[code]

[2016-04-13 06:03] manishas commented on #2523
@manish-in-java can you share your yml?

[2016-04-13 06:10] pranaypareek commented on #2523
@manish-in-java it'll also be helpful if you could let us know the `runId`s for which you did not receive the emails.

[2016-04-13 06:23] manish-in-java commented on #2523
language: java
    jdk:      oraclejdk8
    script:
      - shippable_retry mvn -clean test

Failed runs:
* [1](https://app.shippable.com/runs/56fe141d01bc170c00d96567)
* [2](https://app.shippable.com/runs/56fe33cb01bc170c00dc863a)
* [3](https://app.shippable.com/runs/56fe343a1f6f0d0c00c203bf)
* [4](https://app.shippable.com/runs/57011c7e15baad0c00297e7c)
* [5](https://app.shippable.com/runs/57013

[2016-04-13 06:24] manish-in-java commented on #2522
Also note that the builds are not being retried despite the YML file containing a retry directive:

    language: java
    jdk:      oraclejdk8
    script:
      - shippable_retry mvn -clean test

[2016-04-13 09:41] ankul-shippable commented on #2515
@jonathan-major you can cat `Libs/RaptureCore/build/reports/tests/index.html` file by using try catch. Create a shell file (eg. test.sh) in `Rapute/Libs`.

test.sh:
[code]

In shippable.yml execute this script.

shippable.yml `ci` section:
[code]
This is the [index.html](https://github.com/akskas/Rapture/blob/master/Libs/index.html) file generated after building a fork of your project with above c

[2016-04-13 10:15] gg-dh commented on #2518
👍

[2016-04-13 10:20] pranaypareek commented on #2516
Would you send us the `runId`s for which the slack notifications got through? We need to check a few things on our end and we'll get back to you with the answers to your questions.

[2016-04-13 11:10] pquentin commented on #2516
Sure:

 * https://app.shippable.com/runs/570b722da6dbbe0c00f47263
 * https://app.shippable.com/runs/570bd9e7f07b8d0c001afc06
 * https://app.shippable.com/runs/570c58a77f71080c0062fef4
 * https://app.shippable.com/runs/570c871bab73e00c0022a0b5

[2016-04-13 13:14] kanthchandra commented on #2516
- Results of our findings for all the run ids given by you which received the notifications.

    - https://app.shippable.com/runs/570c871bab73e00c0022a0b5 - Account Integration Id 56d70fafa4be6b0c0069b8dd - configured OK - notification received.
    - https://app.shippable.com/runs/570c58a77f71080c0062fef4 - Account Integration Id 56d70fafa4be6b0c0069b8dd - configured OK - notification received.

[2016-04-13 13:15] kanthchandra commented on #2516
Answering your questions.

Yes we do keep the logs.

NO - We didn't check any logs because we found that the problem was the user input.

As mentioned in the previous comment the slack account integration is configured in an incorrect way.

I just wanted to take some time here and explain the way we send slack notifications and the reason to update your yml files.

Since slack allows notifications

[2016-04-13 14:03] twillms07 commented on #2521
Thanks guys. We¹ll look at it this morning. Our team ran out of steam last
night.

From:  Manisha <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c5fa471ceffb5f235eef06e387915ce7b67b2e86e592cf000000011325a1d09
2a169ce08d12dc9@reply.github.com>
Date:  Tuesday, April 12, 2016 at 10:57 PM
To:  Shippable/support <support@noreply.github.com>
Cc:  Todd Willms <twillms07@gmail.com>
S

[2016-04-13 14:28] pranaypareek commented on #2523
@manish-in-java we are investigating the issue and will get back to you soon.

[2016-04-13 16:00] twillms07 commented on #2521
Hi guys -

We received another failure It would be great if we could jump on a hangout
and just figure this out. We need to get this figured out before we do our
alpha launch so that it runs seamless. I¹m available all morning PST to go
through this.

Thanks

Todd Willms | Founder &  CEO | PiiQ
twillms@piiq.co <mailto:twillms@piiq.co>  | Mobile: 415 871 5171

From:  Todd Willms <twillms07@gmail.c

[2016-04-13 16:08] manishas commented on #2521
Can you do 10am PST?

I did make one correction to the yml a few minutes after I posted it and I'm wondering if that's the culprit. Can you confirm that you've commented out the agent_only: true in be integrations section?

[2016-04-13 16:44] manishas commented on #2521
@twillms07 We have set up a hangout to help resolve this at 10am PST. Link is https://plus.google.com/hangouts/_/shippable.com/customersuccess?authuser=0

[2016-04-13 16:47] twillms07 commented on #2521
Awesome thank you I'll be there.
On Apr 13, 2016 9:44 AM, "Manisha" <notifications@github.com> wrote:

[2016-04-13 17:32] incapture-build commented on #2515
@ankul-shippable Thank you very much for the timezone info and taking the time to explain how to get the results. We will try this and see if we can debug further!

[2016-04-13 17:32] manishas commented on #2521
This has been resolved after removing the `agent_only: true` from the yml.

Closing this issue.

[2016-04-13 17:32] #2521 closed

[2016-04-13 18:45] a-murphy commented on #2522
This Java bug appears to match: http://bugs.java.com/view_bug.do?bug_id=8056984

It might be worth checking what you changed between the last successful build and the failed build to see if you can avoid the compilation error.

[2016-04-13 19:47] manishas commented on #2513
@oppianmatt we believe this might be an out of memory issue. Couple of suggestions:

- If you're kicking off tests in parallel, serializing them might help.
- Our build machines are 2 core, 3.75GB and this might be not be enough for your tests. You can try attaching your own build host to your subscription so that your builds run in bigger containers. Enabling swap space will help even further.
Ad

[2016-04-14 03:41] filipeguelber opened #2524 "faster builds"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [x] A question: A non-technical question such as billing.

### Description of your issue:
If I upgrade to a paid plan with, for

[2016-04-14 04:57] manishas commented on #2524
@filipeguelber if you upgrade your plan, you will get more parallel builds, so you can run multiple builds at the same time. This will help you save time when builds are triggered at the same time and queued. .

You can make your builds faster with the following options-
- cache your dependencies. We allow you to specify folders you want to cache and this saves time if you're downloading and insta

[2016-04-14 05:00] manishas commented on #2516
@pquentin I am closing this issue since this is a config error. Please let me know if you have any questions or concerns.

[2016-04-14 05:00] #2516 closed

[2016-04-14 06:04] pquentin commented on #2516
Thanks @kanthchandra and @pranaypareek! Things are clear now. Thank you for the investigation.

[2016-04-14 06:39] pquentin opened #2525 "Slack integration: widen webhookUrl input"
### Is your request:
- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
### Description of your issue:

We made mistakes in issue #2516 that I think could be prevented in the future in a few ways. I've opened different issues, and this is one is about the web hook input. The simplest way is to widen the webhookUrl field in

[2016-04-14 06:39] pquentin opened #2526 "Share integrations in subscription"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.

### Description of your issue:

We made mistakes in issue #2516 that I think could be prevented in the future in a few ways. I've opened different issues, and this is one is about sharing integrations. We don't understand why we can't share integratio

[2016-04-14 06:39] pquentin opened #2527 "Do not tie integrations to projects in the UI"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.

### Description of your issue:

We made mistakes in issue #2516 that I think could be prevented in the future in a few ways. I've opened different issues, and this is one is about integration configuration. We don't want to have to enable an integrati

[2016-04-14 06:40] pquentin opened #2528 "Allow specifying default options in Slack integration"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.

### Description of your issue:

We made mistakes in issue #2516 that I think could be prevented in the future in a few ways. I've opened different issues, and this is one is about default options. We only want to say "integrate with Slack" in our .shi

[2016-04-14 13:42] oppianmatt commented on #2513
yep we came to the same conclusion. I was running the test suite locally in a 4gb limited docker instance and getting the same results. We refactored our tests and they are now passing without getting killed.

Thanks for looking into it.

[2016-04-14 14:29] dlckl commented on #1299
Can you guide me where to place after_script section in the latest yaml build configuration file? The document: http://docs.shippable.com/ci_configure/ doesnt reflect the same.

Thanks.

[2016-04-14 14:43] rorteg opened #2529 "Connecting to an external API"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
NOTE: If you are experiencing a build

[2016-04-14 15:21] chetantarale commented on #1299
@dlckl In the new yml configuration you have to use `post_ci` section. so any commands you would write in `after_script` section should now be in  `post_ci`. Also depending on weather your `ci` passes or no you can also write your command under `on_success` or `on_failure`.

[2016-04-14 15:38] manishas commented on #1299
@dickl our yml migration blog will help you understand the relationship between old and new sections - http://blog.shippable.com/migrating-to-the-new-build-platform

[2016-04-15 03:11] manishas commented on #2524
Closing since question has been answered. Please let us know if we can help further.

[2016-04-15 03:11] #2524 closed

[2016-04-15 09:20] mbrodala commented on #2378
@chetantarale I'd vote for reopening this since the current solution is not really useful. A common usecase is building against multiple PHP versions. With [the current solution](http://docs.shippable.com/ci_languages/#running-builds-with-php7) this is impossible since one cannot change the image via build environment. The default image does not contain PHP 7.x and the special image does not conta

[2016-04-15 09:42] TomK commented on #2488
Just so you know, i have resolved this by disabling garbage collection (`-dzend.enable_gc=0`) when running phpunit.

`vendor/phpunit/phpunit/phpunit -dzend.enable_gc=0 --log-junit shippable/testresults/junit.xml --coverage-xml shippable/codecoverage -c phpunit.xml`

[2016-04-15 12:52] taranik commented on #2427
Hi!

The same problem. Using private docker registry with self-signed cert. Need option in integration settings (Hub Integration) to put my own (self-signed) CA.crt or put in on your build machine before hub integration process starts.

[2016-04-15 13:10] avinci commented on #2427
Yup, totally understand the requirement. We will be adding this function in 2 weeks as this touches a very core part of the auth system. I will keep the thread updated.

@manishas can we get this prioritized ASAP.

[2016-04-15 13:11] #2522 closed

[2016-04-15 13:12] avinci commented on #2450
@kanthchandra can you please comment on this. It seems like this is already in production.

[2016-04-15 13:12] avinci commented on #1371
@kanthchandra please update this issue

[2016-04-15 13:30] kanthchandra commented on #2450
@mdespriee You can now go to your project settings page and set the custom timeout. You will need to set the custom timeout in minutes. The maximum that we support at the moment is around 90.

Any job in processing state for more than the number of minutes you have mentioned will timeout.

[2016-04-15 13:31] kanthchandra commented on #1371
@rogierslag @winglian  You can now go to your project settings page and set the custom timeout. You will need to set the custom timeout in minutes. The maximum that we support at the moment is around 90 minutes.

Any job in processing state for more than the number of minutes you have mentioned will timeout.

[2016-04-15 13:33] mdespriee commented on #2450
Great !
Thanks
Le 15 avr. 2016 3:30 PM, "Chandrakanth" <notifications@github.com> a écrit :

[2016-04-15 14:20] amalfra commented on #2523
@manish-in-java A fix for this issue is live now. You should get notification emails for runs from now onward. Please let us know if you are still not getting notification emails for build failures.

By default, we send email notifications to the last committer when a build fails, or the status changes from failed to passed. So, if you need notification emails for success too then update your yml

[2016-04-15 16:03] neilberkman opened #2530 "Granting access to another user"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I'm trying to grant access to another

[2016-04-15 16:08] harryi3t commented on #174
## We now support

### 1. coverage badge
![coverage-badge][1]

### 2. Notification alert (slack/hipchat/email/irc) on low coverage.
### 3. Support to mark build as "UNSTABLE" in low coverage
![lowcoverage-alert][2]

[1]:https://cloud.githubusercontent.com/assets/5207331/14566885/07cbeb70-034f-11e6-8b54-cbfed13f4202.png
[2]:https://cloud.githubusercontent.com/assets/5207331/14567480/e6842cf4-0351-1

[2016-04-15 16:13] neilberkman commented on #2530
OK, looks like he just needed to sync.

[2016-04-15 16:13] #2530 closed

[2016-04-15 16:15] #1371 closed

[2016-04-15 16:16] #2450 closed

[2016-04-15 16:20] manishas commented on #2488
Closing this issue since it is resolved.

[2016-04-15 16:20] #2488 closed

[2016-04-15 16:25] harryi3t commented on #1683
Hey @antonienko, I see that you have moved to travis and scrutinizer-ci.
But still I just wanted you to know that we now support the feature you requested and more!

### 1. coverage badge
![coverage-badge][1]

### 2. Notification alert (slack/hipchat/email/irc) on low coverage.
### 3. Support to mark build as "UNSTABLE" in low coverage
![lowcoverage-alert][2]

Both of these can be configured/acces

[2016-04-15 16:54] manishas commented on #2504
Closing this issue.

[2016-04-15 17:02] rsteckler opened #2531 "Beanstalk - Docker deployments stopped working"
### Is your request:
- [X ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:
Docker deployments to Beanstalk stopped working recently.  Here is the failed section of the build:
[code]

Note this line:
[code]
It sounds to me like the ````<DOCKER_CONFIG>```` isn't being replaced with whatever belongs t

[2016-04-15 17:29] manishas commented on #2531
@trriplejay can you please look into this?

[2016-04-15 17:33] manishas commented on #2523
@manish-in-java i am closing this issue since we have fixed the problem. Please let us know if you run into any issues.

[2016-04-15 17:33] #2523 closed

[2016-04-15 19:30] trriplejay commented on #2531
@rsteckler Shippable is moving away from management of creating/uploading/referencing dockercfg files during the build workflow.  What we recommend our users do now is to create their own dockercfg file according to instructions found here:
http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker.container.console.html#docker-images-private

and then simply update your Dockerrun.

[2016-04-15 20:34] rsteckler commented on #2531
Got it.  So if I can just play that back:  You're saying that in the Dockerrun.aws.json file, Shippable will continue to replace ````<IMAGE_NAME>```` and ````<TAG>````, but will no longer replace ````<DOCKER_CONFIG>````.  Is that right?

Thanks!
Ryan

[2016-04-15 20:35] trriplejay commented on #2531
yep, that's right.

[2016-04-15 20:36] #2531 closed

[2016-04-15 23:14] filipegiusti opened #2532 "Need docker engine > 1.10.0 available on Minion"
# technical issue

### Description of your issue:

Trying to run my tests using docker-compose and got the following error:

[code]

https://app.shippable.com/runs/571173d14019220b0069ff52

shippable.yml:

[code]

docker-compose.yml:

[code]

[2016-04-15 23:48] neilberkman opened #2533 "Unable to complete GCR integration"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I'm trying to integrate with GCR usin

[2016-04-15 23:59] abhijitkini commented on #2533
@neilberkman we have significantly upgraded our platform since that blog was written. Please refer to the documentation on [pushing an image to the registry](http://docs.shippable.com/ci_configure/#pushing-an-image-to-a-registry) that includes information on pushing to GCR

[2016-04-16 00:01] neilberkman commented on #2533
Thanks.  You might want to add a note referencing the updated docs to the top of that post.

[2016-04-16 00:01] #2533 closed

[2016-04-16 00:07] abhijitkini commented on #2533
Yes, we are working on it. All deprecated blog articles should have the note pointing to the docs, shortly.

[2016-04-16 00:32] sboesen commented on #2504
Hi, I still can't delete my project (or my account). I suppose it's not the end of the world, but a bit frustrating. Still get the error message reference in the original post.

[2016-04-16 01:46] ric03uec commented on #2529
@rorteg from the build logs it seems like all the failed builds are making calls to `http://127.0.0.1...` url. I don't see any external http requests.
can you help us figure out which external calls are failing and where.

[2016-04-16 16:27] 9dev commented on #2257
@manishas @pranaypareek thank you for your work. Unfortunately, I still cannot make it run without errors. Could you tell me where exactly is chromedriver located?

I tried `/usr/bin/chromedriver` as your example suggests, but it raises an error "No such file".

`browser = webdriver.Chrome('/usr/bin/chromedriver')`

My full shippable.yml file:

[code]

Thanks in advance for any tips.

[2016-04-16 17:41] manishas commented on #2354
reopening this and relabeling as feature request,

[2016-04-16 20:36] harryi3t commented on #2499
@mbrodala I tried reproducing this. I am using the project [sample_php][1]

 - started with 100% coverage
 - First I removed some test cases so that the coverage would go down (went 75%).
   - See the [commit_url][4] and the [build_url][2]
 - Then I added `@codeCoverageIgnore` to the test file. The coverage went up again to 100%
    - See the [commit_url][5] and the [build_url][3]

Seems to be wor

[2016-04-17 12:55] preeti1990 opened #2534 "abc"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
NOTE: If you are experiencing a build

[2016-04-17 12:57] preeti1990 commented on #2534
hello

[2016-04-17 12:57] preeti1990 commented on #2534
hello you too

[2016-04-17 12:57] #2534 closed

[2016-04-17 12:59] preeti1990 opened #2535 "df"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
NOTE: If you are experiencing a build

[2016-04-17 13:43] #2535 closed

[2016-04-18 04:48] jgregors opened #2536 "Successful Build Is Not AutoDeployed / New Build Is Not Available for Image Creation"
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:

After a successful build, my image is not being auto-deployed via the pipeline. When I try to manually create a new image in order to deploy it, the build is not available.

For instance, on my project "osden/platform", the latest successful bui

[2016-04-18 05:18] trriplejay commented on #2536
@jgregors Hello, it looks like your image got into a state where it was failing to properly sync tags.  I've gotten it unstuck and I'm opening an internal issue to correct the root of the problem.

Your image should be back to normal now and auto-deploy should function again. Let me know if you still have trouble.

[2016-04-18 07:31] mbrodala commented on #2499
@harryi3t have a look at the example build I posted. One difference I see is that you excluded only a few methods from coverage instead of a whole class. Can you try that too?

[2016-04-18 08:20] harryi3t commented on #2499
@mbrodala You were right, we are not correctly parsing if the whole class is being ignored.
Will start on the fix now and keep you updated about the progress.
Thanks for the help.

[2016-04-18 16:02] robwilkerson opened #2537 "Tests failing after MySQL insert"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [✔️] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I have a node project with a unit te

[2016-04-18 16:25] manishas commented on #2537
@a-murphy can you please look into this?

[2016-04-18 17:33] a-murphy commented on #2537
I haven't found any obvious causes.  Is this the only one of your tests that is using that table?  Would you mind double-checking that the correct database name is in ```knexfile.js``` as well?  It doesn't look like a typical permissions error, but it's worth ruling out.

[2016-04-18 17:35] preeti1990 opened #2538 "agsad"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
NOTE: If you are experiencing a build

[2016-04-18 17:36] robwilkerson commented on #2537
@a-murphy Thanks for taking a look. The knexfile gets written out during the build process, but everything else seems to be interacting with it just fine. It's only this test that fails. Moreover, there's no indication that the save process itself is failing. Only that the fetch isn't retrieving the record properly.

[2016-04-18 17:47] luckyraul opened #2539 "no docker hub login at all"
https://app.shippable.com/runs/57151c99e782fb0c00c6b098

[2016-04-18 17:50] ric03uec opened #2540 "not able to build project branches"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

projects for `TodayTix` subscription

[2016-04-18 18:06] abhijitkini commented on #2538
@preeti1990 How can we help you? You have opened 3 blank support issues. Use the template to describe the issue you are having so that we can help you troubleshoot. Closing this one.

[2016-04-18 18:06] #2538 closed

[2016-04-18 18:13] abhijitkini commented on #2515
@incapture-build @jonathan-major following up to see if you need further help.

[2016-04-18 18:34] jessestuart commented on #2540
Hey @ric03uec,
Any chance we could get an ETA on a fix for this? We can fall back to a manual build process if necessary for the day, but it may not be worth the overhead if we can expect a fix within a few hours.

Let us know what you think!

cc: @MattGerstman

[2016-04-18 18:49] ric03uec commented on #2540
@jessestuart im still trying to narrow the problem down so its difficult for me to give an ETA right now. This seems like an isolated incident because of which its taking time to figure it out.
It would really help expedite the process if anyone from your team can get on a call with us.
let me know if that works for you guys. thanks.

[2016-04-18 18:51] jessestuart commented on #2540
@ric03uec absolutely, I'm available to get on a call now. I'll email my number to the address listed on your github profile.

[2016-04-18 19:59] jessestuart commented on #2540
Thanks for hopping on a google hangout @ric03uec!

Quick recap in case others encounter a similar issue down the road:

In the end, what ended up resolving the issue for us was going to our Github account profile, selecting OAuth applications, then selecting `prod-shippable`:
<img width="668" alt="screenshot 2016-04-18 15 37 45" src="https://cloud.githubusercontent.com/assets/583147/14617731/55d72

[2016-04-18 22:34] manishas commented on #2540
Closing since this is resolved now. Thanks!

[2016-04-18 22:34] #2540 closed

[2016-04-18 22:38] manishas commented on #2529
@rorteg I am closing this issue but if you still need help please let us know, and we'll reopen and take another look.

[2016-04-18 22:38] #2529 closed

[2016-04-18 23:32] trriplejay commented on #2539
@luckyraul It looks like your pre-ci build step is trying to use a base image, but it can't find the tag that the dockerfile is asking for.  Since the image isn't being built, the boot step cannot use it.

[2016-04-18 23:55] sriv1211 opened #2541 "ECR available in eu-west-1"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

In your ECR integrations, only the us-east-1 region is available, bu

[2016-04-19 00:28] trriplejay commented on #2536
The fix for the underlying issue has been deployed. Closing this issue. Please reopen if you have further questions.

[2016-04-19 00:28] #2536 closed

[2016-04-19 00:34] trriplejay commented on #2541
@sriv1211 If you're planning to push/pull an image during your CI, then we do support multiple regions.  The integration page is a bit misleading in that it only shows us-east-1.  If you're planning to use our pipeline product, then currently only us-east-1 is supported, but that will be expanded within the next couple of days.

[2016-04-19 04:05] neilberkman commented on #2532
Have you had a chance to look into this one yet?

[2016-04-19 04:41] filipegiusti opened #2542 "Can't start postgresql with custom image"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I'm can't start postgresql with my cu

[2016-04-19 05:12] luckyraul commented on #2539
It is okay to fail first two builds however all other builds created and booted successfully. They can't push with auth required

[2016-04-19 05:18] manishas commented on #2539
@luckyraul you do not need the `agent_only: true` line in your yml. Please remove that line and everything should work as expected.

[2016-04-19 06:00] luckyraul commented on #2539
I inserted it via https://github.com/Shippable/support/issues/2289

[2016-04-19 07:49] lanzalibre opened #2543 "no basic auth credentials"
language: python
    env:
      global:
        - SERVICE=web
        - PROJECT_ID=web # Project ID for existing GCP project
        - REGISTRY_ACCOUNT=myregistryid.dkr.ecr.us-east-1.amazonaws.com/myregistryname # image registry account name/location

    build:
      pre_ci:
        - docker build -t $REGISTRY_ACCOUNT/$SERVICE:latest -f configs/docker/production/Dockerfile.web .
      pre_ci_boot

[2016-04-19 07:55] lanzalibre commented on #2543
Ok, this has started working after deleting the integration from the subscription and adding it again. Annoying bug.

[2016-04-19 11:40] kanthchandra commented on #2542
I'm assuming you are running an ubuntu 12.04/14.04 image with postgres installed. Copy paste this script into the root of your repository naming the file startpostgre.sh and add this in the ci section.
[code]
Also please replace the path of your config file in the script.
[code]

[2016-04-19 11:43] kanthchandra commented on #2542
@filipegiusti Can you please try the above suggestion and let us know if it works?

Also regarding the services tag, we support services tag only for shippable's official dry-dock images. If you are using the custom images then the services tag wont work.

[2016-04-19 12:51] jgregors opened #2544 "On deploy, ECS task is updated but task definition is not"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

When an image is deployed to my ECS c

[2016-04-19 13:22] bbrala opened #2545 "Queue time statistics"
Hi,

I think this is currently not possible, but it would be really helpfull to have statistics on queue times of builds so we can adjust the amount of workers to a sensible amount.

Are these statistics available somewhere?

Regards, Bjorn.

[2016-04-19 13:39] lanzalibre opened #2546 "locale.Error: unsupported locale setting"
pip install awsebcli 1s
    Traceback (most recent call last):
      File "/usr/local/bin/pip", line 11, in <module>
        sys.exit(main())
      File "/usr/local/lib/python2.7/dist-packages/pip/__init__.py", line 215, in main
        locale.setlocale(locale.LC_ALL, '')
      File "/usr/lib/python2.7/locale.py", line 579, in setlocale
        return _setlocale(category, locale)
    locale.Error:

[2016-04-19 14:02] phagunbaya opened #2547 "Builds failing ERROR: (gcloud.docker) internal_failure"
[code]

[2016-04-19 14:32] devillex opened #2548 "Getting '(gcloud.docker) internal_failure' on builds that worked previously"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Since today, 19 April 2016, we starte

[2016-04-19 14:57] filipegiusti commented on #2542
I'm not running postgres inside the same docker container and I don't want to, my intention is to keep my CI server as close as possible to my development and production environments.

My environment actually uses docker-compose but I got into https://github.com/Shippable/support/issues/2532 issue, so starting postgres manually is already a work around. I would like to use the same image I'm using

[2016-04-19 15:59] a-murphy commented on #2542
By default, Docker containers have their own IP addresses.  So, each container sees that as localhost and that's why your build container can't find your database.  You will most likely need to add ```--net=host``` to your ```docker run``` command for the Postgres container and the ```options:``` option in ```pre_ci_boot``` to tell your containers to run with the host as localhost.  Then the build

[2016-04-19 16:18] lanzalibre commented on #2546
Ok, it seems to be related with the build image. I fixed it with:
    pre_ci_boot:
      image_name: drydock/u14pytpls
      image_tag: tip
      pull: false

[2016-04-19 16:18] #2546 closed

[2016-04-19 16:19] #2543 closed

[2016-04-19 16:23] phagunbaya commented on #2547
Seems to be working fine now

[2016-04-19 17:02] manishas commented on #2532
Our normal policy is to upgrade docker on our AMI every quarter since it takes extensive testing to make sure we don't break existing projects.

However since docker-compose doesn't work, we'll create a new AMI and allow users to choose that for builds from project settings. This should be available next week.

[2016-04-19 17:08] manishas commented on #2548
@devillex can you trigger one more build and check if you're still getting this error? Not sure what caused it but another customer who saw the same thing is no longer running into it...

[2016-04-19 17:13] filipegiusti commented on #2542
That's exactly what `-p 5432:5432` is supposed to do, expose the localhost port to the host. So it shouldn't need `--net=host` unless I'm missing something on how the main container is started.

Anyway, this is taking me more time than it should, I'll wait for the solution of https://github.com/Shippable/support/issues/2532 and see if I can go from there.

[2016-04-19 17:13] #2542 closed

[2016-04-19 17:25] manishas commented on #2544
@trriplejay can you take a look?

[2016-04-19 17:56] abhijitkini commented on #2515
Closing the issue. Please let us know if you need further help.

[2016-04-19 17:56] #2515 closed

[2016-04-19 18:03] trriplejay commented on #2544
@jgregors If there's an issue placing new tasks, it should appear in your 'events' list on the status page for your pipeline. (there are 3 tabs there: deploy, history, events).

I believe that by default, ECS will not allow a deployment to reduce the tasks below 100% of your desired replicas, so when you deploy, it will try to bring up the new task before killing the old one.  If it cannot find a

[2016-04-19 19:24] luckyraul opened #2549 "docker push multiple tags from previous or sibling build"
I've noticed what on build success Shippable is not pushing correct tag only.
In addition It pushes all my previous builds and probably parallel matrix builds

https://app.shippable.com/runs/5716842e8e77100c00f5a968
for ex for tag ```5.5-1.8``` it pushes ```5.5-1.9```
[code]

[2016-04-19 20:07] #2549 closed

[2016-04-19 21:35] jgregors commented on #2544
@trriplejay thanks for this. Makes perfect sense. I reconfigured the images, redeployed and worked as expected. I appreciate the help!

[2016-04-19 21:35] #2544 closed

[2016-04-19 22:59] ttrahan commented on #2545
@bbrala :
Hi Bjorn, we've added that to the backlog.  In the meantime, you can use calculations based on queuing theory to calculate the optimal number of minions based on your build characteristics.  For example, if you want to have a <1% chance of a 30s wait for a build to start when the number of builds during the peak hour of the day is 30 and the average build duration is 5 minutes, you shoul

[2016-04-20 04:11] manishas commented on #2547
Closing since this is no longer an issue.

[2016-04-20 04:11] #2547 closed

[2016-04-20 07:11] bbrala commented on #2545
Thanks for the answer, I'll keep an eye on this issue.

[2016-04-20 07:26] mtrojan21 opened #2550 "Mtrojan21"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
NOTE: If you are experiencing a build

[2016-04-20 08:01] devillex commented on #2548
Hi @manishas, thanks for the prompt response. I can confirm that the issue is resolved on our side as well.

[2016-04-20 09:32] oppianmatt opened #2551 "parallel testing builds multiple docker images"
### Is your request:
- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

Following the guide in the section "Bui

[2016-04-20 10:37] oppianmatt opened #2552 "node provisioning taking unusually long time 19+ minutes"
### Is your request:

- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:

https://app.shippable.com/runs/57175738d1acc00e004161fd

![image](https://cloud.githubusercontent.com/assets/48596/14671860/1e68d366-06ec-11e6-9457-f4f86daffc11.png)

vs (in the same matrix)

![image](https://cloud.githubus

[2016-04-20 10:39] manishas commented on #2548
Thanks!

[2016-04-20 10:39] #2548 closed

[2016-04-20 10:46] mbrodala commented on #2086
Digging further into this we may be able to check ourselves if `intl` is already present, e.g. via `php -m | grep intl`.

@himanshu0503, @manishas  Any idea how we could add the mentioned extension directory to the `cache_dir_list`?

[2016-04-20 10:49] mbrodala opened #2553 "Cache PHP extension directory"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

We are currently installing the PHP e

[2016-04-20 10:49] mbrodala commented on #2086
Continuing in #2553

[2016-04-20 11:45] kanthchandra commented on #2552
Hi @oppianmatt, We have identified a small bug in our node allocation module because of which the nodes are not allocated on time occasionally. We have fixed the bug and are testing it as we speak. This should be deployed to production in the next couple of hours or so. Sorry about this.

[2016-04-20 14:13] oppianmatt commented on #2551
Initially I thought I solved the issue by having an environment variable control which instance does the pushing. But I thought push is only called when all nodes succeeds but I find that's not the case.

Here the third node has called push but node two hasn't even finished yet. How does it know it should push if the tests haven't completed yet?

![image](https://cloud.githubusercontent.com/assets

[2016-04-20 15:22] nrodriguez opened #2554 "Github Enterprise permissions needed missing from documentation"
On http://docs.shippable.com/int_scm/ it says

```Click on Generate token and on the Generate Token page, select the following permissions.```

but there is no permissions listed.

[2016-04-20 17:54] abhijitkini commented on #2550
@mtrojan21 Looks like we just got the Issue Template with no description of the issue. Could you please describe what your issue is?

[2016-04-20 19:31] filipegiusti opened #2555 "Set memory as BestEffort for my cell manifest"
### Is your request:
- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

I would like to set memory as BestEffor

[2016-04-20 23:27] manishas commented on #2539
The agent_only flag indicates that you don't want us to login to hub from inside your CI container. If you want to push the container and use agent_only, please use the push section of the yml.

[2016-04-21 01:09] trriplejay commented on #2555
This isn't currently supported, so I'm marking as a feature request.  Definitely something we'd like to add though.

[2016-04-21 01:59] manishas commented on #2539
@luckyraul I am closing this issue, but please let us know if you have any more questions and we'll be happy to reopen.

[2016-04-21 01:59] #2539 closed

[2016-04-21 05:11] sboesen commented on #2504
@manishas could we reopen this ticket?

[2016-04-21 06:12] manishas commented on #2552
This should be in prod now. @oppianmatt let us know if you see long wait times for node provisioning again.

[2016-04-21 06:13] manishas commented on #2504
@trriplejay can we delete the account sboesen?

[2016-04-21 11:18] oppianmatt commented on #2551
I've even had tests fail but it thinks it a success on one of the nodes and pushes.

How do we tie into the shared state success and not the individual node success? Surely it can be done and it's not a feature request? If not then what use is any of the on_success methods if using parallel builds.

Didn't realize this was a limitation. Why would there be a feature to parallel the tests as describ

[2016-04-21 12:21] oppianmatt commented on #45
@sandermarechal doesn't the api let you trigger a build?

[2016-04-21 12:25] oppianmatt opened #2556 "webhook notification"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Surprised to see there isn't a generi

[2016-04-21 17:30] trriplejay commented on #2504
@sboesen your account has been removed.  If you log in again with that account, it will be treated like a new signup.  Please let me know if there's something else you wanted us to clean up, or if you're still experiencing any problems with your project.

[2016-04-21 18:04] abhijitkini commented on #2554
The document has been updated to include the permissions required. http://docs.shippable.com/int_scm/#github-enterprise

[2016-04-21 18:04] #2554 closed

[2016-04-21 18:07] abhijitkini commented on #2550
Please open a new issue describing your issue & we will gladly help. Closing this one.

[2016-04-21 18:07] #2550 closed

[2016-04-21 18:20] manishas commented on #2556
We're currently working on exactly this feature. You'll be able to configure a post run webhook that will be triggered once per group build. ETA is early next week.

[2016-04-21 18:23] manishas commented on #2553
@mbrodala we have a bug at our end for this scenario. The $(phpenv version-name) is not being parsed correctly and hence there is an issue with caching this directory.

@chetantarale is going to work on fixing this.

[2016-04-21 18:41] Gudahtt opened #2557 "Github connection timeout during npm install"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

As of about an hour or two ago, all o

[2016-04-21 18:49] manishas commented on #2537
@robwilkerson we've investigated this at our end and have been unable to find any leads. I am going to close this issue since the investigation is at a dead end. Please let us know if you have any concerns or can think of a way we can help.

[2016-04-21 18:49] #2537 closed

[2016-04-21 21:34] manishas commented on #2527
we will think about how to mitigate this painpoint and the one mentioned in the previous issue together. Closing this as dup of #2526

[2016-04-21 21:34] #2527 closed

[2016-04-21 22:37] kileyhykawy opened #2558 "$BRANCH environment variable not expanding on docker commands"
### Is your request:
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:
I am trying to use the $BRANCH environment variable in the post-ci and push sections but it doesn't seem to expand in the docker command and it ends up with a docker build failure. It expands when I just echo it.

[code]

Lin

[2016-04-21 22:43] a-murphy commented on #2558
It looks like your branch name contains a slash.  Docker won't allow slashes in tags, so Docker won't build your image.  It might be best to choose something else for your image tags.

[2016-04-22 05:42] manishas commented on #2558
Closing this issue since it's not a problem with shippable. Docker does not support / in tag name.

[2016-04-22 05:42] #2558 closed

[2016-04-22 05:43] sboesen commented on #2504
Thanks!

[2016-04-22 05:43] #2504 closed

[2016-04-22 11:09] domitian commented on #2499
@ric03uec
On further investigation, reference [build_url](https://app.shippable.com/runs/571a0028808bdd0d00d5352f) and [branch_url](https://github.com/domitian/sample_php/tree/generate_bug_with_full_coverage) of a demo project, it revealed this

1. Total coverage is average of percentages of sequence coverages of individual files, and since our parser is including the file which is supposed to be

[2016-04-22 12:33] oppianmatt commented on #2552
it's happening again
![image](https://cloud.githubusercontent.com/assets/48596/14741533/c137baaa-088e-11e6-905b-fe6e4eded6fd.png)

[2016-04-22 12:36] kanthchandra commented on #2552
Hi @oppianmatt , I'm sorry about this. We have noticed this issue again today and we are actively investigating as to what is going on. We will get back to you as soon as we have more information on this.

[2016-04-22 12:37] oppianmatt commented on #2552
thanks

[2016-04-22 12:53] Gudahtt commented on #2557
Out builds are passing again. The problem seems to have disappeared for now.

[2016-04-22 12:53] #2557 closed

[2016-04-22 15:29] ric03uec commented on #2499
@domitian the approach looks good to me, lets push these out one at a time

[2016-04-22 16:41] kileyhykawy commented on #2558
Doh! That makes sense. I thought the command in the log would actually have the variable expanded. Then I would have noticed. Thanks for the assistance.

For anyone else who comes along and sees this and you are using Git Flow, you'll need to find a way to normalize your branch name for features if you want to use them for Docker tags.

[2016-04-23 12:11] pmezard opened #2560 "Document API run statusCode"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

"run" and other documents returned by

[2016-04-23 13:38] pmezard opened #2561 "Get latest run for a specific branch of a project with the API"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I would like to make some kind of das

[2016-04-23 14:04] pmezard commented on #2561
I misunderstood the documentation. "/projects/:projectId/branchRunStatus" does what I want, but it is titled as "Get latest run for a branch" where it really is "Get latest run for all project branches".

So I am down to one call per project. So you think I can do better than that?

[2016-04-24 13:44] n0mer commented on #2483
@manishas can you detect this in your 'bootstrap' script?

[2016-04-25 07:35] rageshkrishna commented on #2561
@pmezard We don't have an API that returns the dataset that you're looking for. One call per project is necessary at the moment.

[2016-04-25 08:42] rlcomte opened #2562 "Shippable IP addresses for accessing AWS-based build nodes"
### Is your request:

- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:
What are the Shippable IP addresses from which our AWS build nodes are accessed?

[2016-04-25 08:44] materik opened #2563 "Getting more out of the code coverage report"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I'm able to upload the code coverage

[2016-04-25 13:09] chetantarale commented on #2553
@mbrodala This has been fixed now. Can you please try and confirm that it works .
Also [here](https://github.com/chetantarale/php-intl/blob/master/shippable.yml) is sample project for your reference.

[2016-04-25 14:23] mbrodala commented on #2553
@chetantarale Somehow it doesn't work [as it seems](https://app.shippable.com/runs/571e274c4374eb0c002c23a6). I'm using the following ATM:

[code]

The 2nd debug shows the installed `intl.so` but it's not present on rebuild/next build. Any idea why?

(I'm using this setup since I see no way to figure out the `no-debug-non-zts-20131226` part at build time, e.g. via `phpenv`.)

[2016-04-25 15:52] manishas commented on #2553
@mbrodala I looked at the sample project in @chetantarale's comment above and he is caching the following directory -

[code]

Can you try it the way it's being done in the sample? Sample yml is - https://github.com/chetantarale/php-intl/blob/master/shippable.yml

[2016-04-25 17:46] robwilkerson opened #2564 "No local knex install found"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [✔️ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

My builds have been failing since t

[2016-04-25 17:55] a-murphy commented on #2564
There's a warning in your local npm install that you might want to look into.  I don't know what's in your package.json, but it could certainly explain why Knex wasn't found in that run but was in the run before.

[2016-04-25 19:29] robwilkerson commented on #2564
So in this case, a command a few lines above that in the `ci:` section installs knex and eslint globally:

    npm install -g knex eslint

That's the part that confuses me. The executable should be ready to go.

[2016-04-25 21:05] a-murphy commented on #2564
It looks like the "No local knex install found" error is actually from the globally-installed knex.  So, the global knex install must have correctly installed the CLI, but needs a locally-installed knex to run for some reason.  Unfortunately, I was unable to find any documentation on why this would be.

[2016-04-25 21:39] robwilkerson commented on #2564
Unfortunately, it's not that simple. No "local knex" is required. Has anything change in the build environment? This didn't happen in past builds. I assume you have access to the history, but if you have a moment, take a look at the most recent successful build (probably some time last week) on the `master` branch. The same code ran just fine. Knex installed globally and the migrations ran as expe

[2016-04-25 22:30] abhijitkini commented on #2560
Updates complete to include statuscodes both in [API](http://localhost:5555/api/#status-code-mapping) & [build status](http://docs.shippable.com/ci_builds/#build-status) documentation.

[2016-04-25 22:30] #2560 closed

[2016-04-26 06:23] bbrala opened #2565 "Node statistics in settings screen"
Hi,

There are a few statisitics in the node settings screen.

% Memory Usage
% Storage Usage
Builds

How can those be enables for shippable or custom nodes?

Regards, Bjorn.

[2016-04-26 07:37] mbrodala commented on #2553
@manishas Unfortunately not because in this case `$dirToCache` would be `no-debug-non-zts-20131226` which I cannot determine as stated.

[2016-04-26 07:45] chetantarale commented on #2553
@mbrodala Caching would not work if you are running matrix builds.Currently this is a limitation on our end. But for non matrix builds caching should work as expected.
We tried reproducing the scenario but couldn't. [Here](https://github.com/chetantarale/php-intl/blob/master/shippable.yml) we tried doing something similar what you are doing and looks like its working fine.

[2016-04-26 07:54] mbrodala commented on #2553
@chetantarale Are the builds for that project publicly accessible? I'd like to see two subsequent builds with this configuration.

[2016-04-26 08:50] somenathghosh opened #2566 "Not able to find Docker hub Integration configuration on Setting"
As per Documentation at http://docsshippable.readthedocs.org/en/latest/docker_build.html

**On the repo page, go to ‘Settings’. Choose the following -
Docker Build : ON
Dockerbuild order : Post-CI
Push Build : Yes if you want to push to Docker Hub, No if you don’t want to push to Docker Hub
Push image to : docker_hub_username/image_name
Pull image from : Since your Dockerbuild is happening post CI

[2016-04-26 09:00] rageshkrishna commented on #2566
Hi @somenathghosh. It looks like you've stumbled upon some very old documentation. The latest docs are at http://docs.shippable.com/. Please take a look and let us know if you still have any questions.

[2016-04-26 09:00] #2566 closed

[2016-04-26 09:10] chetantarale commented on #2553
@mbrodala  I tried it with the sample php-intl project. [Here](https://app.shippable.com/runs/571f2ecf7a93fb0b006d5e4e) is the link for the sample.

[2016-04-26 09:30] mbrodala commented on #2553
@chetantarale Hm, and did you flush the caches after the change? It's odd because by now you have basically the same setup as us.

[2016-04-26 11:57] bbrala opened #2567 "Bringing up new node sometimes fails."
### Is your request:
**_A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue._**

### Description of your issue:

I have weird failures sometimes when using custom nodes. Sometimes the node fails to start a new docker nodig and i need to kill the python script for it to continue. How should i debug this?

Subscription swisnl

[2016-04-26 11:58] bbrala commented on #2567
It might have been a random timeout on this build https://app.shippable.com/runs/571f0c6f7a93fb0b006a8478 not sure.

[2016-04-26 12:19] somenathghosh opened #2569 "Don't see option to enable Docker Hub"
On the repo page, go to ‘Settings’. Choose the following -
Docker Build : ON
Dockerbuild order : Pre-CI
Push Build : Yes if you want to push to Docker Hub, No if you don’t want to push to Docker Hub
Push image to : docker_hub_username/image_name We need an image name for the image we build from your Dockerfile, even if you choose not to push to GCR
Source Location : (source code location where tes

[2016-04-26 12:28] kanthchandra commented on #2569
Hi @somenathghosh, It looks like you've stumbled upon some very old documentation. The latest docs are at http://docs.shippable.com/. Also we have moved away from configuring your docker build from our UI. You can now configure the all the docker settings from your yml itself.

You can refer http://docs.shippable.com/ci_configure/ to configure your CI.
If you are specifically looking for docker su

[2016-04-26 18:33] n0mer commented on #2567
i've got same issue: 'provision job node', and then timeout in 2 hours

[2016-04-26 18:36] n0mer commented on #2567
this is logs output

[code]

[2016-04-26 18:40] n0mer commented on #2567
if i 'cancel' build and press 'rebuild', then docker container on build node named 'c.exec.<PROJECT_NAME>.643.1' but shippable web console says current build number is 646

[2016-04-26 18:42] n0mer commented on #2567
i manually killed containers 644.1 and 645.1 on docker host machine, now build is running as c.exec.project_name.646.1 (646 is current number of job on shippable website)

[2016-04-26 18:42] abhijitkini commented on #2569
Closing the resolved issue.

[2016-04-26 18:42] #2569 closed

[2016-04-26 19:22] manishas commented on #2567
@ric03uec can you look into this please?

[2016-04-26 20:51] a-murphy commented on #2564
We haven't found any Shippable changes related to your errors.  The image you are using was last updated six weeks ago and we haven't identified any changes in how it's run that could be related.

The build linked above had a warning about the package.json file for the ```npm install``` command that was not in your other builds, but not all of those builds were successful.  The majority of your fa

[2016-04-26 21:19] robwilkerson commented on #2564
Well, crap. This makes no sense to me. Thanks for taking some time to investigate. I guess this will be a brute force trial and error thing at this point...

[2016-04-27 09:59] billmccord opened #2570 "Provisioning job node taking a long time"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
I've been waiting for a long time for

[2016-04-27 11:04] kanthchandra commented on #2570
Hi @billmccord, It looks like you are executing `docker rm -f $(docker ps -qa)` in the pre_ci section of the build which is killing our build runner and your subscription is not being allocated nodes correctly.

So can you please try and use something like `docker rm -f $(docker ps | grep -v mexec | awk '{print $1}')` which will not kill our build runner?

Also Please cancel the existing run and u

[2016-04-27 12:17] billmccord commented on #2570
@kanthchandra I modified as per your instruction and that seemed to resolve it. The reason why I did that in the first place is because when I trigger a build, it seems like the containers aren't getting properly cleared out after a build failure (and possibly success.) I keep seeing messages like this appear if I run, fail, and then run again:
[code]

The way I'm attempting to remove my container

[2016-04-27 12:41] billmccord commented on #2570
So, I ran docker ps and docker images before and it doesn't appear any containers or images are running with the conflict container id it is giving:
[code]

[2016-04-27 12:45] kanthchandra commented on #2570
1. I think the command to stop the container is `docker stop -t=0 api || true` and the same with `docker stop -t=0 ngnix-api || true` container.
2. Can you try `docker ps -a`. The container might have exit.

I'm trying out a couple of things and will let you know what is a clean way to do this.

[2016-04-27 13:04] billmccord commented on #2570
I seem to have gotten past this issue by using docker rm -f <container>

[2016-04-27 16:04] robwilkerson commented on #2564
Okay, well this is embarrassing. It seems as though there was an errant comma in my `package.json` that I kept looking right past. It invalidated the JSON and was subtle enough to get right past me. My apologies, @a-murphy.

[2016-04-27 16:04] #2564 closed

[2016-04-27 17:36] abhijitkini commented on #2565
@bbrala Currently this feature is not available. We will put this feature request on our product roadmap and notify here when it is released.
Closing the issue.

[2016-04-27 17:36] #2565 closed

[2016-04-27 17:45] abhijitkini commented on #2562
@rlcomte Shippable does not need access, if you set up build nodes and run the initialization scripts yourself. Configuring it this way, there is no need to whitelist Shippable's IP addresses.

[Here's the documentation](http://docs.shippable.com/ci_subscriptions/#adding-your-own-build-infrastructure-byoh) on the steps to configure the same.

[2016-04-27 20:03] kileyhykawy opened #2571 "What prerequisites need to be in a custom image to be a CI build container?"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
I'm testing out using a custom image f

[2016-04-27 21:00] ric03uec commented on #2571
@kileyhykawy as of now, our build system officially supports only the images based out of `ubuntu:12.04` and `ubuntu:14.04` although users have managed to run the builds on other images like `debian` that satisfy underlying dependencies
There are many dependencies on the build image that are missing in `alpine` like following
- /bin/bash
- python2.7
- /proc/sys/kernel/uuid
- apt-get // this is use

[2016-04-27 21:48] manish-sangani opened #2572 "User access - can't see any subscriptions"
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description:
I have a user who has a github account and also have a write access to repository in github organization.
However, when he login to Shippable, he don't see any projects

What could be the issue?

My S

[2016-04-27 21:49] keen99 commented on #45
+1 for a webhook callback to trigger a build from any git repo (any git repo that you can configure post-commit hooks, anyway).

ideally that callback could provide core setup for the project, too, so it could create a new one OR trigger an existing one. :)   (ie, include the project name and the URL path to pull from)

then all of this "we dont support your service of the week" would be turned in

[2016-04-27 21:51] ric03uec commented on #2567
@bbrala it seems like there is no shippable agent running on your custom node. can you reinitialize the host and try again. in an ideal scenario, there should be a shippable container `shippable-mexec-<id>` running on the machine. if reinitializing does not help, can you send me the output of following commands
- docker ps -a
- docker images
- docker logs -f shippable-mexec-<_id_of_the_container_>

[2016-04-27 21:53] manishas commented on #2572
@manish-sangani are the repositories private? If so, he will need to turn on access to private repos.

To do this, he needs to click on the gear icon on the top navbar (for account settings). On the settings page, go to the Git identities section and enable private repos for GitHub. Once he authorizes that, he should 'Sync' his account on the Settings page. He should see the repos after that.

Let

[2016-04-27 21:56] manish-sangani commented on #2572
Got it.  That was very quick 👍

Thanks

[2016-04-27 21:56] kileyhykawy commented on #2571
Definitely some requirements that will be tricky to get into Alpine Linux (like apt-get). Thanks @ric03uec for marking as a feature request.

In the meantime, I'm looking for a way to at least run tests in the custom image (more confidence that software will work in thus environment). What I'd like to do is "compile" my code with the standard drydock images, but then run tests in an Alpine Linux N

[2016-04-27 21:56] #2572 closed

[2016-04-27 22:32] ric03uec commented on #2571
- when you say "compile" the code, im assuming you mean creating a new image where your code is based on top of one of the standard drydock images.

- from my understanding, this might be the workflow you're looking for
  - run ci using shippable drydock image
  - this generates a bunch of test files, say the files are written into `testFiles` folder in the project directory
  - you do a `docker b

[2016-04-28 04:46] domitian commented on #2499
@mbrodala
The coverage status of Shippable doesn't include files which have been marked to be ignored from code coverage from now.
We had verified it on our end, can you also please verify the same if files which are marked for ignore are ignored from coverage or not.

[2016-04-28 04:48] kanthchandra commented on #2552
Hi @oppianmatt , we have deployed a fix for this today. Please let us know if you observe this again.

[2016-04-28 05:00] kanthchandra commented on #2570
@billmccord the only clean way at the moment is to remove the containers manully by doing `docker rm -f <container_name>`, which you have already figured out.

Since the original issue is resolved I'm closing this one. Please open a new issue in case you need any further help.

[2016-04-28 05:00] #2570 closed

[2016-04-28 07:22] DaHoopster opened #2573 "Unable to use a customer docker image based on `drydock/u14ruball:prod`"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
NOTE: If you are experiencing a build

[2016-04-28 07:46] mbrodala commented on #2499
[Looks great](https://app.shippable.com/runs/5721bda975be0e0b0019d96f), thanks a lot!

[2016-04-28 07:46] #2499 closed

[2016-04-28 07:52] mbrodala opened #2574 "Filter ANSI color sequences from build log"
### Is your request:
- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

It would be great if Shippable would fi

[2016-04-28 09:11] oppianmatt opened #2575 "api trigger new run specify sha"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

When using the api to trigger a new r

[2016-04-28 09:48] rageshkrishna commented on #2573
Hi @DaHoopster.

We typically do something similar to the following in the official images to start services:

[code]

We also use `nc` to wait until we're sure the service is listening on the configured ports before allowing the build to continue. You may want to do the same thing or add a `sleep` to allow everything to get up and running.

Admittedly, this is a simplified explanation. You can ta

[2016-04-28 15:48] a-murphy commented on #2575
Branch names can be specified in the body or a querystring.  For example, the following body would trigger a build for the master branch.
[code]
And so would ```https://api.shippable.com/projects/:projectId/newBuild?branch=master```.

[2016-04-28 16:45] rturak opened #2576 "Not able to run build with different version of firefox"
### Is your request:
- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

NOTE: If you are experiencing a build f

[2016-04-28 17:20] a-murphy commented on #2576
The ``addons`` section doesn't support multiple versions right now.  I'll mark this as a feature request.

For now, if you need multiple versions in your matrix, you will have to put the versions that you want in the ```env``` section and start them yourself in your build script.  The commands that we run to start Firefox can be found in the install_firefox_addon section of your build logs.

[2016-04-28 17:31] abmxer commented on #2532
Any update when this should be available? Thanks.

[2016-04-28 17:54] rturak commented on #2576
Thanks Murphy for quick reply.

My goal is to run test different versions browser in one build.

Here is the yml file:

`language: java

jdk:
   - oraclejdk8

addons:
  selenium: "2.53"

services:
  - selenium

env:
  - firefox="45.0"
  - firefox="44.0"

before_install:
 - "curl -o /tmp/chromedriver.zip -L http://chromedriver.storage.googleapis.com/2.21/chromedriver_linux64.zip"
 - "unzip /tmp/chr

[2016-04-28 18:16] a-murphy commented on #2576
I don't think Selenium can run without a browser.  You'll have to take it out of services, and move the commands from selenium_start into your script (after installing Firefox).  I also don't see where in your script you are installing the version of Firefox that you plan to use.

[2016-04-28 18:29] rturak commented on #2576
If i add firefox version to addon section, then for very build i will get the same version of ff installed.
But i want to test different versions of ff.

[2016-04-28 18:37] abhijitkini commented on #2562
Closing the issue. Please let us know if you need further help.

[2016-04-28 18:37] #2562 closed

[2016-04-28 18:38] rturak commented on #2576
If i provide the version of firefox in the script , its same issue. Both the builds will run with same firefox version.
Not sure by what you mean "take it out of services".
Could you please help with yml if i am missing your instructions.

[2016-04-28 19:27] KartholKross opened #2577 "Cannot delete pipeline"
### Is your request:

- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:
- I created a new pipeline and hooked it into an new environment and deployed a Docker image/container successfully to it.
- I want to delete that pipeline but cannot b/c when I go to the page to delete the pipeline the "Del

[2016-04-28 19:35] a-murphy commented on #2576
I was thinking something more like this:
[code]

[2016-04-28 19:37] #2577 closed

[2016-04-28 19:38] KartholKross commented on #2577
Issue was resolved, not sure why it worked today but not yesterday.

[2016-04-28 20:17] rturak commented on #2576
Firefox is installed but still getting error that not able to find firefox binary.I got this error:

[code]

[2016-04-28 20:36] a-murphy commented on #2576
Could you try ```xvfb-run --server-args="-ac" mvn test``` instead of ```/etc/init.d/xvfb start```?  ```xvfb``` is known to be more likely to work in our images than ```/etc/init.d/xvfb```.

[2016-04-28 20:56] rturak commented on #2576
I have added PATH for firefox and xvfb-run --server-args="-ac" mvn test
Here is the yml:
[code]

Here is the error:

[code]

[2016-04-28 21:19] a-murphy commented on #2576
Have you tried ```which firefox``?  The path shouldn't be a problem, unless your tests are specifically looking for it somewhere else.

[2016-04-28 21:37] rturak commented on #2576
No my test is not looking for any specific path.
I was able to run tests before the changes.

[2016-04-28 21:59] DaHoopster commented on #2573
Thanks @rageshkrishna.

Do you know the path that bundler stores all the ruby gems in the official image? I am trying to cache that directory in order to speed up the build in another project.

[2016-04-28 22:49] a-murphy commented on #2576
Sorry, it looks like I copied the wrong version of my shippable.yml earlier.  The line to get the version of Firefox should just be ``` ff_version='firefox --version'```, but it doesn't matter if it's commented out.  It does matter that the ```pushd /tmp``` and ```popd``` around the Firefox install went missing.  It causes strange errors (I think it ends up in the wrong directory).  Here's what th

[2016-04-28 23:00] abhijitkini opened #2578 "Build fails at build_on_success step with error: "Permission denied (publickey)""
### Is your request:

- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:
I am running into a ssh key issue when running a `docker build...` in an `after_success:` shippable.yml step. The issue is that I am getting the "Permission denied (publickey)" error when cloning from a public GitHub repo. I

[2016-04-29 00:16] rturak commented on #2576
Thanks for your reply. I noticed that path was wrong so i tried below which worked for me:

[code]

But now i am getting no such element error, i know its nothing to do with this. But this was earlier working for me. I am also able to run it through my local set up.

Here is the error:
[code]

Nothing changed in the test.
I have also tried my increasing sleep period

[2016-04-29 01:44] abhijitkini commented on #2578
Using the command below in the Dockerfile, we copied the contents of SSH folder in the build directory into the Docker image.

COPY ssh/* /root/.ssh/

[Docker wants you to copy](https://docs.docker.com/engine/reference/builder/#copy) from a relative path to an absolute or a relative path, and SHIPPABLE_BUILD_DIR is an absolute path.

[2016-04-29 02:55] pkaminski opened #2579 "Tagging a commit in GitHub kicks off a build"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

As of sometime on Apr 27th, tagging a

[2016-04-29 03:22] ric03uec commented on #2579
@pkaminski this is definitely a regression from the expected behavior. Sorry about this. we're working on fixing this now

[2016-04-29 10:31] npahucki opened #2580 "How to best troubleshoot"
Hi, I have a situation where my unit test hangs ONLY on the build machine. It has something to do with the mocked mongo library we are using. However, this will not happen outside the build machine. I have tried pulling the docker image used in the build locally and running all the steps that happen in the build, and no matter how many times I try it will not fail locally like it does when run on

[2016-04-29 11:59] haf opened #2581 "Invalid RUN language: fsharp"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
NOTE: If you are experiencing a build

[2016-04-29 12:23] kanthchandra commented on #2581
Hi @haf, we dont officially support fsharp, but if your image has all the dependencies of fsharp, you can use `language: none` tag.

If you use the language: none tag, we dont start any default services or we dont check for specific languages supported by us or setup any environment that your build needs. You will have to set it up everything yourself in the ci section.

Do give it a try and let u

[2016-04-29 12:42] haf commented on #2581
What do you recommend placing packages in? `prm`?

[2016-04-29 14:06] kanthchandra commented on #2581
Does your build image have node and npm installed? If not I would recommend installing all the dependencies in your build image like bundler, rake, npm, or anything that your build needs. It looks like albacore package is not able to find npm in the build container.

I'm not sure what you mean by build environment freeze. If you mean caching, we do support folder level caching and you can find the

[2016-04-29 14:51] haf commented on #2581
Btw can anyone read the logs I posted a link to?

[2016-04-29 14:55] mbrodala opened #2582 "Per branch caching support"
### Is your request:
- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

It seems like the Shippable cache is sh

[2016-04-29 15:53] haf commented on #2581
Next error:

[code]

Happened 16th run.

[2016-04-29 16:43] a-murphy commented on #2580
SSH isn't an option.  If you want a shorter timeout, that can be configured in the project settings.  However, you won't be able to push the image after it times out anyway because the on_failure step will not be executed.  Your best chance of pushing the image would be to modify your script to time out that command, but not the whole build.  One of these methods might work for you: http://stackov

[2016-04-29 17:11] npahucki commented on #2580
Thanks for the info. Is there a place that I can copy files where they will be available via the download button, like the logs are?

[2016-04-29 17:14] manishas commented on #2552
closing this since fix is in prod. Please let us know if you run into this again.

[2016-04-29 17:14] #2552 closed

[2016-04-29 17:25] a-murphy commented on #2580
Artifact storage is not available right now.  Our current recommendation is upload them to your own S3 bucket: http://docs.shippable.com/ci_configure/#build-artifacts

[2016-04-29 17:28] npahucki commented on #2580
ok, SO the build hangs, and it's only after the hanging that the files would be available. Is there some section of the YML that can be used to run something AFTER the timeout?

[2016-04-29 17:40] ric03uec commented on #2579
@pkaminski this should now be fixed. can you please confirm that tagging is not triggering any builds on shippable.
thanks

[2016-04-29 17:40] a-murphy commented on #2580
Nothing in the YML will run after timeout.  Avoiding the timeout by stopping the command that will time out is probably your only choice.

[2016-04-29 18:39] a-murphy commented on #2580
We have one more suggestion for you: to add a dedicated host temporarily that's the same size as ours.  Then you would be able to SSH into that build host and access the container.  Our build hosts are running on AWS.  Dedicated hosts can be added from the subscription settings tab.

[2016-04-29 18:43] manishas commented on #2580
Instructions for adding a dedicated host are here - http://docs.shippable.com/ci_subscriptions/#adding-your-own-build-infrastructure-byoh

Our standard hosts are 2 core, 3.76GB (equivalent would be c4.large on EC2).

[2016-04-29 19:22] rturak commented on #2576
I am able to run different versions of ff now.
But started getting error for chrome:

Here i am installing chrome(yml):

[code]
And provided /home/shippable/bin in the test.

Here is the error:

[code]

Please let me know if something is missing. I have referred all the chrome related issues and tried to do that, nothing helped.

[2016-04-29 22:38] manishas commented on #2541
This is now available. You can set the region tag in the integrations section of your yml and everything should work as expected:

[code]

[2016-04-29 22:38] manishas commented on #2541
Let us know if you run into any issues.

[2016-04-30 01:15] a-murphy commented on #2576
I haven't been able to get Selenium to work with Chrome on that image yet.  You might have more luck with one of the [newer images](http://docs.shippable.com/ci_configure/#setting-your-build-image) with Chrome installed, but I can't be sure what you are relying on in the image you are currently using.

[2016-04-30 15:53] nmarshall-cst commented on #2578
Hi Abhijit - I appreciate the help on this. I ended up getting this working by

shippable.yml:
`  - mkdir -p $SHIPPABLE_BUILD_DIR/ssh`
`  - cp -a /tmp/ssh/00_sub $SHIPPABLE_BUILD_DIR/ssh/id_rsa`

Dockerfile:
`VOLUME /root/.ssh`
`COPY ssh/* /root/.ssh/`
`RUN ssh-keyscan -t rsa github.com 2>&1 >> /root/.ssh/known_hosts && \`
`    cd /application && \`
`    npm install`

[2016-05-01 08:15] pranaypareek commented on #2257
@9dev we missed out on your comment above.

Sorry about that. Re-opening the issue to investigate again.

Please feel free to re-open an issue (or open a new one) in the future if you are facing a problem.

[2016-05-01 17:40] abhijitkini commented on #2578
Thanks @nmarshall-cst. Closing the issue. Do let us know if you have further questions.

[2016-05-01 17:40] #2578 closed

[2016-05-01 17:41] abhijitkini commented on #2580
Closing the issue as resolved. Do let us know if you have further questions.

[2016-05-01 17:41] #2580 closed

[2016-05-01 17:42] abhijitkini commented on #2579
Closing the issue. Do let us know if you are still see tagging triggers builds.

[2016-05-01 17:42] #2579 closed

[2016-05-01 18:01] abhijitkini commented on #2575
Closing the issue. Do let us know if you have further questions.

[2016-05-01 18:01] #2575 closed

[2016-05-01 18:21] abhijitkini commented on #2561
Closing the issue. Please let us know if you have further questions.

[2016-05-01 18:21] #2561 closed

[2016-05-01 18:24] #2541 closed

[2016-05-02 07:00] haf opened #2583 "Saving .deb artifacts"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Question

I've gotten so far as to have a working CI setup on Shi

[2016-05-02 07:04] chetantarale commented on #2573
@DaHoopster In our official images all gems are stored under `/usr/local/rvm/gems/(ruby-version)/gems`. So if you are using say `ruby-2.2.1` then all the gems will be stored in `/usr/local/rvm/gems/ruby-2.2.1/gems/` directory.

[2016-05-02 07:04] haf opened #2584 "What is the security model?"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [x] A question: A technical question such as not billing.

Simply put; what's Shippable's security model?

 - OAuth for authenti

[2016-05-02 07:19] kanthchandra commented on #2581
Hi @haf , all your latest build seems to be in the green and working as expected (congrats on that! ).

@manishas I'll keep this open as a feature request for supporting fsharp language and I'm unassigning myself.

[2016-05-02 07:23] chetantarale commented on #2257
@9dev We have a sample project [here](https://github.com/chetantarale/sample_node_selenium). The `master` branch runs tests on firefox on the branch  `testingOnChrome` will test on chrome.[ Nightwatch.json](https://github.com/chetantarale/sample_node_selenium/blob/master/nightwatch.json) should be helpful.

[2016-05-02 07:27] rageshkrishna commented on #2584
Hi @haf! We definitely would like to address any concerns you have with the security of our service. Can you please email me (ragesh@shippable.com) or Manisha (manisha@shippable.com) to talk about this in more detail? Thanks!

[2016-05-02 08:16] materik commented on #2563
my temp solution is to commit the html coverage report when the shippable build is done.

[2016-05-02 11:38] 9dev commented on #2257
@chetantarale Thank you! The key was the correct path to chromedriver.

[2016-05-02 17:51] #2257 closed

[2016-05-02 17:52] manishas commented on #2257
closing since this works now.

[2016-05-02 18:39] npahucki commented on #2266
You have a bug in your initialization script - you don't set the mode for the auth keys files!

May  2 18:35:48 ip-172-31-2-179 sshd[22859]: Authentication refused: bad ownership or modes for file /home/shippable/.ssh/authorized_keys
May  2 18:35:48 ip-172-31-2-179 sshd[22859]: Connection closed by 52.6.173.6 [preauth]

[2016-05-02 18:45] npahucki opened #2585 "Adding a custom node on AWS does not work at all"
I set up a C4 instance on AWS. I followed the instructions, but it seems the process is broken.

1) You don't set the authorized_keys to 600 mode, so the init script can ssh to the box. I fixed that, then;
2) The init script suddenly fails with no explanation visible during the second step. See Attachment.
![screenshot 2016-05-02 15 42 36](https://cloud.githubusercontent.com/assets/823555/14964026

[2016-05-02 19:29] manishas commented on #2585
@ric03uec can you take a look at this?

[2016-05-02 19:45] trriplejay commented on #2585
@npahucki Hello, it looks like your node is using an unsupported operating system. You can see the requirements in our documentation here: http://docs.shippable.com/ci_byoh/#minimum-requirements

We'll be opening an internal issue to link to this documentation directly from the new node page.  Sorry for the confusion!

[2016-05-02 19:55] npahucki commented on #2585
I more than met all the minimum requirements, the only thing that was different is that I used Amazon's Linux instead of Ubuntu.

[2016-05-02 20:36] manishas commented on #2584
Closing this issue since this will be followed up over email.

[2016-05-02 22:44] nmarshall-cst opened #2586 "Shippable build not pulling the latest code on a renamed git repo."
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
After renaming a BitBucket repository

[2016-05-02 23:01] a-murphy commented on #2586
The build linked appears to have been triggered by clicking a "Rebuild" button.  These builds pull the same commit as the build being rebuilt (except for rebuilding pull request builds; those rebuild the pull request number).  A "Build" button will build the latest commit, as should a webhook from Bitbucket.  Let us know if it was in fact the previous build that was the wrong commit or if it wasn'

[2016-05-03 00:30] nmarshall-cst commented on #2586
Thanks @a-murphy. After further research we found that the latest commit did indeed kick off a shippable build. The build failed which in turn the docker image was not created. We were pulling from "latest" in our docker registry which was the actually the previous successful build/docker image. Thanks for the quick response on this!

[2016-05-03 00:30] #2586 closed

[2016-05-03 01:25] GameXG commented on #1941
Documentation errors, the document above all

-tip
-release

http://docsv2.readthedocs.io/en/latest/languages/go.html
http://docsshippable.readthedocs.io/en/latest/custom_images.html

[2016-05-03 01:41] manishas commented on #1941
@GameXG that is the older copy of our docs. Here are the latest docs - http://docs.shippable.com/ci_configure/

Can you share your scenario so we can help with the config?

[2016-05-03 04:23] manishas commented on #2283
@BenRomberg @mbrodala we now have a status page live at http://status.shippable.com :)

[2016-05-03 04:25] manishas commented on #2182
We have a status page now live at http://status.shippable.com :)

It also monitors some third party integrations including Atlassian Bitbucket, so this should really help detect if there is an outage.

[2016-05-03 04:27] manishas commented on #446
We now have a status page live at http://status.shippable.com :)

Sorry for the long delay on this.... we've overhauled our process and can implement new features very quickly now so you'll see an improved response time to customer-initiated feature requests.

[2016-05-03 05:16] manishas commented on #2571
Closing this issue. @kileyhykawy please let us know if you need any more help.

[2016-05-03 05:16] #2571 closed

[2016-05-03 05:57] chetantarale commented on #2553
@mbrodala It looks like that particular build of yours failed. And caching will not work if a build fails.
We will be working on adding this feature(caching on build failure).

Closing the issue. Please let us know if you have further questions.

[2016-05-03 05:57] #2553 closed

[2016-05-03 07:16] twillms07 opened #2588 "Issue with Post_CI"
### Is your request:
Unsure why this is occurring have been trying to trouble shoot all evening.
- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as bill

[2016-05-03 07:39] mbrodala commented on #2283
Awesome! :-) Now I gotta wait for some issues. ;-)

[2016-05-03 07:49] manishas commented on #2283
:)

Never thought I'd see the day when someone wants an outage :-D

[2016-05-03 07:52] rageshkrishna commented on #2588
It looks like your `build_ci` step is placing files in `./shippable/buildoutput` but your Dockerfile is trying to look at `./buildoutput`. Can you please update it to ADD files from ./shippable/buildoutput instead?

[2016-05-03 08:05] mbrodala commented on #2553
@chetantarale You are right, that indeed did prevent the caching. I've fixed this error and triggered a few builds and now the caching indeed [works as desired](https://app.shippable.com/runs/57285b033145260c00569b6e). :-)

[2016-05-03 08:56] pkaminski commented on #2579
Thanks!  I'm sure it's working fine now, but I haven't been able to cut a release recently so won't be able to check until later.

[2016-05-03 09:16] mbrodala opened #2589 "First level support for PHP 7"
### Is your request:
- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

The current approach for [PHP 7 builds

[2016-05-03 10:56] billmccord opened #2590 "MySQL database in Docker container doesn't appear to be initialized on Shippable"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
I'm having a very strange issue attemp

[2016-05-03 11:05] billmccord commented on #2590
FYI, I believe this has something to do with me using Docker 1.11 and Shippable using something older. I checked the docker logs for mysql_api and I got the following:
[code]

To me, this implies that the file that I put there from the volume probably isn't there. Unfortunately, I'm having a hard time finding old Docker documentation. How should I share this volume in whatever version of Docker is

[2016-05-03 15:29] twillms07 commented on #2588
Hi Regesh that worked thanks for the help.

From:  Ragesh Krishna <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c56485ebb6c1b914a628a6a768e7af73656411490092cf0000000113401abb9
2a169ce091a3b53@reply.github.com>
Date:  Tuesday, May 3, 2016 at 12:52 AM
To:  Shippable/support <support@noreply.github.com>
Cc:  Todd Willms <twillms07@gmail.com>, Author <author@noreply.github.com>

[2016-05-03 16:39] rageshkrishna commented on #2588
@twillms07 Good to know! Thanks for the update.

[2016-05-03 16:39] #2588 closed

[2016-05-03 17:46] BenRomberg commented on #2283
@manishas: Awesome, just subscribed. Thanks a lot!

[2016-05-03 18:15] abhijitkini commented on #2573
Closing the issue. Please let us know if you have further questions.

[2016-05-03 18:15] #2573 closed

[2016-05-03 22:04] incapture-build commented on #2444
Came here looking for this. Your documentation still says that you should be able to download any artifacts you place in the ~/shippable dir. I've been pulling my hair out trying to get that to work, but apparently you decided to take it away? What good is a CI tool if i can't get information on why the build failed?

I looked at the S3 documentation you provided above. Your documentation here on

[2016-05-03 22:17] incapture-build commented on #2444
I could possibly try the API, yet that's not available to non-paid accounts. Hard to convince me to pay up  & move over if I can't simply retrieve artifacts..

[2016-05-03 22:25] manishas commented on #2444
@incapture-build you need to go to the Settings of the Project -

![image](https://cloud.githubusercontent.com/assets/2983749/15000186/b39341be-1142-11e6-9c67-0cab62d6bd8a.png)

Scroll down until you get to the `Encrypt` section -

![image](https://cloud.githubusercontent.com/assets/2983749/15000199/cf63aaa0-1142-11e6-9f90-ee2ca2118a5a.png)

enter your variables in the textbox in the format `AWS_A

[2016-05-03 22:26] manishas commented on #2444
Also, we are going to make archiving available as an option again in the next few weeks.

[2016-05-03 22:45] manishas commented on #2583
@haf Artifact handling is on our roadmap but is not available today OOTB. We will add this in the next few weeks.

In the meantime, we have documented how you can push your artifacts to S3 here - http://docs.shippable.com/ci_configure/#build-artifacts

[2016-05-03 23:04] incapture-build commented on #2444
Thank you _very_ much @manishas for explaining that carefully to me! Makes sense and I will try doing that for now. I will eagerly await that feature as well!

[2016-05-04 04:26] ric03uec commented on #2567
@bbrala the fix is now in production, you'll need to reinitialize the custom node for it to work.

[2016-05-04 04:43] billmccord commented on #2590
I managed to work around this by simply creating a new Docker image and ADDing the files to the image instead of attempting to attach it as a volume. However, it would be nice if you documentation was updated to include more details about how to use volumes (or if it is even possible) on Shippable.

[2016-05-04 04:43] #2590 closed

[2016-05-04 06:08] manishas commented on #2354
@npahucki we have now added the ability to create multiple environments within a subscription.

The next phase will address promotion, permissions, etc but the simple case of adding another environment and deploying to it should now work as expected.

[2016-05-04 06:08] manishas commented on #2370
@pukapukan we have now added the ability to create multiple environments within a subscription.

The next phase will address promotion, permissions, etc but the simple case of adding another environment and deploying to it should now work as expected.

[2016-05-04 06:46] bbrala commented on #2567
Ok, thanks, i'll give them a reset and keep an eye out for problems.

[2016-05-04 06:51] andrewho83 opened #2591 "failed to find shippable yml file"
A little frustrated but after setting this all up, it still cannot find shippable.yml even though its clearly there.

### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

failed to find shippable yml file
https://app.shippable.com/runs/57299a437682870c002bb8b2

- Link to the build failure
- Scripts called from the yml (optional)

[2016-05-04 06:52] #2591 closed

[2016-05-04 12:14] luckyraul commented on #2427
any updates?

[2016-05-04 16:07] #2283 closed

[2016-05-04 16:39] jeppefrandsen opened #2592 "Coverage badge not updating on GitHub"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
I have some issues with the coverage b

[2016-05-04 19:03] trriplejay commented on #2585
The add node page has been updated to link to the more detailed documentation. closing.

[2016-05-04 19:03] #2585 closed

[2016-05-04 22:08] stephanielingwood commented on #2592
Hi @jeppefrandsen,

Thanks for your questions. To answer the second question first: the status badge mirrors the status of the most recent build, including in-process builds. This is why you see the badge update right away as it starts processing. The coverage badge, on the other hand, always reflects the most recent successful build for the branch specified (in the query string of the badge urls)

[2016-05-05 05:23] jeppefrandsen commented on #2592
Hi @stephanielingwood,

Yes, it has at least one successful build with coverage (latest 3 builds are with coverage). The exact same README.md is not working on GitHub but working in atom. If I copy the URL of the badge and paste it in e.g. the Safari browser it is also showed correctly.

[2016-05-05 13:19] avinci commented on #2427
This is a lot more intrusive than what we thought this was going to be. The main problem is docker has to be restarted once we do this. Our entire system run on Docker and hence restarting causes all sorts of issues.

We are looking into alternative solutions, but nothing seems to be clean. Currently we are working on other higher priority stuff and will get back to this once thats done. I will ge

[2016-05-05 17:58] stephanielingwood commented on #2592
HI @jeppefrandsen,

Thanks for checking...that helped narrow down the problem. Looks like we have a bug in how our cache-control header is being set for the coverage badges. We'll let you know when the fix is deployed.

[2016-05-05 21:03] stephanielingwood commented on #2592
Hi @jeppefrandsen,

The fix has been deployed, so the coverage badges shouldn't be cached in the future. GitHub still has a cache of your existing coverage badges, though. One way to force GitHub to clear its cache is to remove the coverage badge from your README, hard-refresh your repo's page on GitHub (just to be sure), and then add the coverage badge back to your README. That should destroy Git

[2016-05-05 21:21] manishas commented on #2567
@bbrala I am closing this issue, but if you see any problems in this area please comment here and we'll be happy to reopen.

[2016-05-05 21:21] #2567 closed

[2016-05-05 21:36] abhijitkini commented on #99
We are pleased to announce Shippable support for GitLab. Here's the [blog announcement](http://blog.shippable.com/getting-started-gitlab-with-shippable-ci). Our [docs](http://docs.shippable.com/int_scm/#gitlab) are updated too.

[2016-05-05 21:37] abhijitkini commented on #45
We are pleased to announce Shippable support for GitLab. Here's the [blog announcement](http://blog.shippable.com/getting-started-gitlab-with-shippable-ci). Our [docs](http://docs.shippable.com/int_scm/#gitlab) are updated too.

[2016-05-05 21:39] manishas commented on #99
Just to clarify - GitLab is available as an integration, so you will still need to sign in to Shippable with GitHub or Bitbucket and then add Gitlab repositories for CI.

Supporting GitLab auth is on our near term roadmap.

[2016-05-05 21:56] abhijitkini commented on #45
Just to clarify - GitLab is available as an integration, so you will still need to sign in to Shippable with GitHub or Bitbucket and then add Gitlab repositories for CI.

Supporting GitLab auth is on our near term roadmap.

[2016-05-05 21:59] keen99 commented on #45
👍   sweet. :)

[2016-05-06 03:29] ajunge opened #2593 "Access to SSH Key integration"
In the docs says: "Your SSH key will then be available in your build minion and you can use ssh commands in your shippable.yml." (http://docs.shippable.com/int_keys/)
Where is that key stored?

Cannot find it

[2016-05-06 05:21] rageshkrishna commented on #2593
@ajunge The keys are loaded in to ssh-agent when the build begins so you should be able to just run whatever ssh commands you need and expect the authentication to work. If, however, you do really need the key files they are placed in the `/tmp/ssh/` directory.

[2016-05-06 07:49] jeppefrandsen commented on #2592
Hi @stephanielingwood,

It is working perfect. Thank you very much.

[2016-05-06 16:52] mbrodala opened #2594 "Currently no build notifications (Slack)"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Right now we don't see any build noti

[2016-05-06 17:04] manishas commented on #2594
@a-murphy we need to look into this asap

[2016-05-06 17:09] manishas commented on #2593
Closing this issue since the qs has been answered. @ajunge let us know if you have any other questions.

[2016-05-06 17:09] #2593 closed

[2016-05-06 17:15] a-murphy commented on #2594
Slack messages are working again.  Sorry about that; there was a version mismatch leading to messages not being processed correctly.

[2016-05-06 18:12] ajunge commented on #2593
Hi @rageshkrishna , if I do a ssh-add -l I only see /tmp/ssh/00_pub and /tmp/ssh/01_deploy (maybe the names are diferent, writing without seeing) . I cannot see the SSH key I have added as an "Key Integration" in my account

[2016-05-06 19:09] a-murphy commented on #2593
Have you added the SSH key integration to the project on the settings tab and to your shippable.yml file?  Similar to [hub integrations](http://docs.shippable.com/ci_configure/#pulling-your-ci-image-from-a-docker-registry), the SSH key integration should be specified in shippable.yml like this (using the name of the integration you created):
[code]

[2016-05-06 21:33] manishas commented on #2532
Sorry for the delay on this. We are currently testing this on beta and the ETA is Monday 5/9 at this time.

[2016-05-06 21:34] manishas commented on #2594
@mbrodala i am closing this issue, but please let us know if it doesn't work for you and we'll reopen.

[2016-05-06 21:34] #2594 closed

[2016-05-07 23:55] amondnet opened #2595 "boot_container continuously fails"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I have 2 build node( same hardware sp

[2016-05-08 08:30] encodeering opened #2596 "binfmt-support to allow cross compilations for arm"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

It seems that the **binfmt_misc** mod

[2016-05-08 15:25] shgharib opened #2597 "Android Build Fails, Could not find or load main class org.gradle.wrapper.GradleWrapperMain"
Hi, android build fails

I already added all gradle stuff (except .gradle) to repository.
[code]
How fix it ?

[2016-05-09 05:10] manishas commented on #2595
@amondnet is this still happening? I see that your next build worked as expected.

[2016-05-09 05:33] rageshkrishna commented on #2597
Hi @shgharib. I'm no expert on java or android, but from researching this online it seems that this usually happens if gradle-wrapper.jar is not checked in to your git repository. Can you please check if http://stackoverflow.com/a/31622432/34985 helps?

[2016-05-09 05:47] harryi3t commented on #1540
@jariwiklund could you post a link to your build. Thanks.

[2016-05-09 06:02] pquentin opened #2598 "UI shows full information only for a subset of projects due to runStatus incomplete output"
### Is your request:

- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:

#### Steps to reproduce

Make an API call to `/subscriptions/:id/runStatus` to go to our [subscription page](https://app.shippable.com/subscriptions/547c792bd46935d5fbbf0b11) (which calls runStatus itself).

#### Actual res

[2016-05-09 06:18] manishas commented on #2598
@amalfra can you look into this asap?

[2016-05-09 06:42] mbrodala commented on #2594
Looks good, the messages are back. :-)

[2016-05-09 07:33] rvrignaud commented on #2584
Hi @rageshkrishna ,

Is there any particular reason that your security model is not publicly described ?
I think there is a lot of people interested like @haf is.

[2016-05-09 07:47] jariwiklund commented on #1540
There you go
https://app.shippable.com/builds/55bf5e8385a1520b002615df
But for some reason there's nothing in the console?

[2016-05-09 08:16] kanthchandra commented on #2598
Hi @pquentin, can you please try now and let us know if this works for you?

Additionally now you can also configure the branches for which you would like to see the latest run status in the summary tab. You can do this by updating the dashboard settings in the project setting page.

[2016-05-09 09:58] harryi3t commented on #1540
@jariwiklund After our [release][1] in May this year, we have removed the `builds` objects. Instead now we have `runs` and `jobs`.

Seems like you haven't run a build since almost a year.

[1]:http://blog.shippable.com/a-lap-around-whats-new-in-shippable-4

[2016-05-09 10:05] pquentin commented on #2598
Thanks, it works!

I'm not sure if I understood your suggestion, but I always want to show the Bitbucket default branch, because we don't want to have to specify the branch twice, both in Bitbucket and Shippable.

[2016-05-09 10:05] #2598 closed

[2016-05-09 10:24] jariwiklund commented on #1540
That is correct. So you will have to test for FQN in the coverage report yourself

MVH Jari

[2016-05-09 11:35] pquentin opened #2599 "API: runStatus shows an old run for one project"
### Is your request:

- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue

I don't think it's the same issue than https://github.com/Shippable/support/issues/2598 since I've experienced this one before.

#### Steps to reproduce

Make an API call to `/subscriptions/:id/runStatus`.

(This happened on

[2016-05-09 12:06] amalfra commented on #2599
Hi @pquentin, The latest build seems to be on branch named 'develop'. If you navigate to your projects settings(https://app.shippable.com/projects/54bfe6635ab6cc1352894e74/settings) and scroll down,there is a panel with 'Dashboard Settings' heading which lets you configure branches from which you need latest build to be shown in dashboard pages. Once you add 'develop' branch you should be seeing t

[2016-05-09 12:12] rageshkrishna commented on #2599
@pquentin It looks like the setting got messed up when we did a migration for the new feature that we added last week, where you can manually pick one or more branches for which you want to see build status even if they're not the default on the source provider.

I have manually reset your project's settings to reflect the default branch settings from your source provider. Sorry about the error.

[2016-05-09 12:24] pquentin commented on #2599
Thanks, that fixed it!

[2016-05-09 12:24] #2599 closed

[2016-05-09 14:32] ajunge commented on #2593
@a-murphy will try. I think that is not described in the docs. Maybe an update in the docs is needed

[2016-05-09 14:42] ajunge commented on #2593
@a-murphy it worked! Key is at `/tmp/ssh/MySSHKeyIntegration`

[2016-05-09 17:50] jeppefrandsen commented on #582
+1 for @yehudasabag's proposal

[2016-05-09 17:58] #2595 closed

[2016-05-09 18:00] jeppefrandsen opened #2600 "Setup of nightly builds"
### Is your request:
- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

I would love to be able to setup nightl

[2016-05-09 18:47] javiercr commented on #2442
Hi,

I also need to install kubectl, I've tried adding this to my `shippable.yml`:
[code]

But the last command fails with this message:

[code]

Is there a way to overwrite the existing gcloud SDK installation so that we can use `gcloud components install kubectl`?

Thanks!

[2016-05-09 23:37] stephanielingwood commented on #2592
@jeppefrandsen

Hmm. I'm not able to reproduce the problem with my projects, so I'm curious as to why you're seeing this. Can you do me a favor? Next time you notice that the coverage badge is unknown in your README on GitHub, could you try doing these two things:
- a hard-refresh of your GitHub repo page, and
- open the coverage badge link in its own browser tab, and see if that image matches the

[2016-05-10 08:30] pmezard opened #2601 "Improve API "Trigger a run" documentation"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.

### Description of your issue:

I would like to trigger runs programmatically, on a specific branch and optionally pass environment variables. The API documentation has http://docs.shippable.com/api/#trigger-a-new-run which seems promising.

The secti

[2016-05-10 08:53] pmezard commented on #2601
Apparently I can add "branchName" key to the JSON payload.

Wouldn't it be worth documenting?

[2016-05-10 14:42] sandermarechal commented on #45
@oppianmatt Seems like it (http://docs.shippable.com/api/#trigger-a-new-run) but a simple HTTP POST would be *much* better because almost all git hosting solutions support some kind of post-commit HTTP POST. That makes setting it up much easier.

@abhijitkini That's great to hear! Any plans for a generic web hook as well so that everyone can integrate with Shippable?

[2016-05-10 15:48] oppianmatt commented on #2601
yep, same issue here https://github.com/Shippable/support/issues/2575

needs documentation that you can trigger specific builds

[2016-05-10 15:51] manishas commented on #2601
yes we should absolutely update the documentation. thanks for the suggestion!

[2016-05-10 16:22] manishas commented on #2601
I have updated the docs with details on how to specify a branch and also that the snippet is a JSON payload. Updated docs are here - http://docs.shippable.com/api/#trigger-a-new-run

[2016-05-10 16:22] manishas commented on #2601
closing.

[2016-05-10 16:22] #2601 closed

[2016-05-10 17:59] somenathghosh opened #2602 "Google Cloud Platform Integration"
Getting following error while adding environment

[code]

These are the steps I have followed:

1. Crated Account in GKE
2. Created Service Account
3. Added JSON key to Shippable
4. Tried to add Environment and getting that error.

I think I am doing something wrong. Please help.

[2016-05-10 18:15] jeppefrandsen commented on #2592
Hi @stephanielingwood,

I tried to do a hard-refresh again but I still see the same issue using Safari on my iPhone. On my Mac everything is fine. If I keep reloading the page on my iPhone all coverage badges are suddenly unknown. If I keep reloading it will be correct at some point. The direct link to the badge is always working. The status badges are also always showed correct.

Is there a big d

[2016-05-10 18:30] asans opened #2603 "Organization member not seeing private repos"
### Is your request:

- [ X ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:

We have a member who's also an owner of the organization team.  Going to Manage Access for his account shows that he has admin access to all repos.  However, when he is on shippable, he only sees public repositories and n

[2016-05-10 18:50] a-murphy commented on #2602
I just tried creating a new key (and a new service account) following the [documentation](https://cloud.google.com/storage/docs/authentication#service_accounts) and did not find any errors.  In your case, it looks like the credentials were valid, but we couldn't use them to get the list of zones.  Did you change the permissions on your service account?

[2016-05-10 18:50] manishas commented on #2603
@asans he probably hasn't enabled access for private repositories on Shippable. By default, when someone signs in, we ask for access to public repositories and private repos need to be turned on.

To turn on private repos, he can go to his Shippable account settings (gear icon on top navbar), scroll to the `Git identities` section, and enable private repos. After enabling this, he should click on

[2016-05-10 20:56] stephanielingwood commented on #2592
Hi @jeppefrandsen,

I just played around with my iPhone and a repo with coverage and a coverage badge, and was unable to reproduce this. I'm running iOS 9.3. What's the iOS version on your iPhone? Also, what browser/version are you using on your mac?

I confess I'm not much of an iOS expert, but I did notice that there were reports of Safari in iOS 8 not handling cache-control headers/etags correc

[2016-05-10 23:20] abhijitkini commented on #2420
Happy to announce that you can now specify the branches & the run types (commit only or commit/pull requests) to be displayed on the Subscription & Landing (Home) pages. Read about it in [our documentation](http://docs.shippable.com/ci_projects/#dashboard-settings).

[2016-05-10 23:27] abhijitkini commented on #2420
Feedback/questions, let us know. Closing the issue.

[2016-05-10 23:27] #2420 closed

[2016-05-11 02:32] jeppefrandsen commented on #2592
Hi @stephanielingwood,

I am using iOS 9.3.1. I have the same issue on Chrome 50.0.2661.94 m (tried to clear the browsing history including cache and did not help). Internet Explorer seems to be working fine (at least now). But it is strange why the status badges are always showing the correct result.

[2016-05-11 04:15] manishas commented on #2603
@asans I am closing this issue, but please let us know if the suggestion above did not work and we'll take another look into this.

[2016-05-11 04:15] #2603 closed

[2016-05-11 04:17] manishas commented on #2581
I am closing this issue since the workaround for this is to use the `language: none` tag in the yml.

We will reopen if we get a lot of +1s for fsharp integration.

[2016-05-11 04:17] #2581 closed

[2016-05-11 04:20] manishas commented on #2071
this is a flavor of the feature described in #983 so linking them together and closing.

[2016-05-11 04:20] #2071 closed

[2016-05-11 04:28] manishas commented on #905
We have added a project setting so that you can configure whether your project should be built when you push a tag or create a release.

![image](https://cloud.githubusercontent.com/assets/2983749/15169977/12e71c90-16f6-11e6-855a-e109b5391dc4.png)

This setting only works for GitHub projects as of now.

[2016-05-11 09:05] cratz commented on #2420
Awesome works like charm even branches without a build are not displayed anymore when they are selected in dashboard settings.
Thank you for this!!!

[2016-05-11 09:07] Thau opened #2604 "Builds timeout with PhantomJS"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:
Hello, we seem to be having some probl

[2016-05-11 10:12] somenathghosh commented on #2602
I tried to provide permission as Owner to service account. It did not work. Do I have to change anything in Security and setting in GCP ?

[2016-05-11 14:01] n0mer opened #2605 "Untar re-exec error: exit status 1: output: write /usr/bin/smbpasswd: no space left on device"
https://app.shippable.com/runs/5733373d46f44c0d0082d078
{code}
9dff504e9ef1: Error downloading dependent layers
63655319ed5c: Error pulling image (latest) from docker.io/shippable/minv2, endpoint: https://registry-1.docker.io/v1/, Untar re-exec error: exit status 1: output: write /usr/bin/smbpasswd: no space left on device
63655319ed5c: Error pulling image (latest) from docker.io/shippable/minv2,

[2016-05-11 14:08] jspanjers opened #2606 "Ubuntu 16.04"
Are there any plans to provide base images using the latest Ubuntu LTS 16.04?

[2016-05-11 14:18] hunt3ri opened #2607 "BASE_BRANCH and HEAD_BRANCH env vars not returning values"
I have the following output in a deploy script and both are not outputing any values:

echo Target Branch is $BASE_BRANCH
echo Head Branch is $HEAD_BRANCH

Neither env variable returns a value, however $BRANCH and $IS_PULL_REQUEST do

Thanks

[2016-05-11 15:46] a-murphy commented on #2602
You shouldn't have to change anything; that's why I asked if you had.  A new service account should have the right permissions.  Mine has the "editor" role on the "IAM" tab and no "members" listed under the service account if I go to configure the permissions there.

[2016-05-11 16:05] a-murphy commented on #2607
```$BASE_BRANCH``` and ```$HEAD_BRANCH``` are only defined for pull request builds.  If ```$IS_PULL_REQUEST``` is true, then you can use those.  But, if ```$IS_PULL_REQUEST``` is false, then ```$BRANCH``` is the only available branch variable.  ```$BRANCH``` is defined for both pull request and commit builds and will be the same as ```$BASE_BRANCH``` in a pull request build.

[2016-05-11 16:25] hunt3ri commented on #2607
Ahh thanks, that clarifies things :+1:

[2016-05-11 16:25] #2607 closed

[2016-05-11 17:56] a-murphy commented on #2605
The ```Job node info``` section of your logs shows that almost all of the memory is in use and you have some extra containers running on your build host.  If you started some containers that you don't need, those should probably be stopped and removed.  You're also pulling an almost 13 GB image, which is close to the amount of space available, so it might be a good idea to create a little more spa

[2016-05-11 18:22] filipegiusti opened #2608 "Run multiple different builds per commit"
### Is your request:

- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

I would like Shippable to run two dif

[2016-05-11 19:51] shgharib commented on #2597
Thank you for your concern, as I said I already added gradle-wrapper.jar to repository, I build my project successfully with codeship but same project with shippable fails (with same shell stuffs) . what is the problem?

[2016-05-11 20:05] somenathghosh commented on #2602
I tried both. First I had default role(which is editor) and next I tried with role change. None of them worked.

[2016-05-11 20:35] a-murphy commented on #2602
I've found a way to reproduce your error (disabling the Google Compute Engine API).  Could you go to "API Manager" and check that the "Google Compute Engine API" is enabled?

[2016-05-12 00:55] stephanielingwood commented on #2592
Hi @jeppefrandsen,

Okay, we just deployed another change to the coverage badge cache-control headers to try to force it to stop caching those images. Can you take a look and see if that helped? Here's hoping... :)

[2016-05-12 02:20] filipegiusti commented on #1208
@manishas is this in the queue or was deprioritized?

[2016-05-12 02:59] rageshkrishna commented on #2597
Do you mind if I trigger a few builds on your project to debug this further?

[2016-05-12 06:32] shgharib commented on #2597
no problem, thank you.

[2016-05-12 07:22] jeppefrandsen commented on #2592
Hi @stephanielingwood,

Now it seems to work in all cases. Thank you very much once again.

[2016-05-12 07:22] #2592 closed

[2016-05-12 08:27] sushantbajra opened #2609 "/root/.rvm/scripts/rvm: No such file or directory"
[code]

Somehow my builds are failing because I am getting this err

`/root/b75fc1ae-ccaa-442f-9745-a94ad2b3799b.sh: line 58: /root/.rvm/scripts/rvm: No such file or directory`

I had no problems before but now I am having that issue. How can i fix it?

[2016-05-12 09:16] rageshkrishna commented on #2597
@shgharib I think I've figured out where the problem is. We seem to be cloning GitLab projects to an incorrect directory. I'll update this issue as soon as we have a resolution for this.

[2016-05-12 12:00] pmezard opened #2610 "Project is not listed by API /projects call"
### Is your request:

- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:

Hello,

I have registered a new bitbucket project, it builds fine but I cannot list it with the API. SubscriptionId is listed in:

https://app.shippable.com/subscriptions/547c792bd46935d5fbbf0b11

The project is "clmake-tes

[2016-05-12 12:18] kanthchandra commented on #2610
Hi @pmezard , We do not paginate the /projects route and can you provide me with more details so that I can debug this?

1. when you make a call to https://api.shippable.com/projects?subscriptionIds=547c792bd46935d5fbbf0b11 how many projects are being returned to you?
2. Can you see this project in the subscriptions page summary tab?

[2016-05-12 12:49] shrivara commented on #2597
@shgharib This should be resolved now. Let us know if you run into this again.

[2016-05-12 13:12] pmezard commented on #2610
1. I see 152 projects. And indeed, playing with (undocumented?) "skip" only reduces that count so pagination is out of question.
2. Yes I see the develop build in "https://app.shippable.com/subscriptions/547c792bd46935d5fbbf0b11"

[2016-05-12 13:32] somenathghosh commented on #2602
Yes that was it. I was not sure why that was disabled. Thanks for your help.

[2016-05-12 13:32] #2602 closed

[2016-05-12 13:36] shgharib commented on #2597
It's fixed, Thank you.

[2016-05-12 13:36] #2597 closed

[2016-05-12 14:24] pmezard commented on #2610
I tried triggering a build on this project and it fails too with "401 Client Error: Unauthorized for url: https://api.shippable.com/projects/573345902a8192902e1fa97d/newBuild".

If I try the same thing with another project, listed by "/projects", it works. At least the API is consistent.

[2016-05-12 14:26] kanthchandra commented on #2610
That means it's a permissions issue. Can you please force sync your account in the account settings page and try? Everything should work after that. If it doesn't work we will investigate this further. Thanks.

[2016-05-12 14:40] pmezard commented on #2610
I clicked on "Sync" in the first section of the first tab of "Account Settings". It changed nothing.

[2016-05-12 15:14] kanthchandra commented on #2610
@pmezard Can you try now and see if it works? I synced all the permissions for this projects.

[2016-05-12 15:28] asans opened #2611 "Cached Data Not Being Used in Builds"
- [ X ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of your issue:

I implemented caching into the shippable.yml file.  Based on the build console, it shows that shippable is tar'ing up the specified cache directories and uploading them to S3 for storage.  However, during the following run(s), restore_cache ru

[2016-05-12 15:34] pmezard commented on #2610
It works, thanks. Any what happened? Did I do something wrong when creating it?

[2016-05-12 15:49] a-murphy commented on #2609
It looks a result of changing your build image from ```shippable/minv2``` to ```drydock/u14ruball:prod```.  Since ```drydock/u14ruball``` is a newer image, the RVM path is now ```/usr/local/rvm``` instead of ```$HOME/.rvm```.  However, the ```setup_ruby``` step in your build should be making sure that the correct version is installed and in use.  So you shouldn't need the first three lines of your

[2016-05-12 16:11] cratz opened #2612 "Deploy to ECS not working after you removed 'stop' 'start' buttons"
### Is your request:

- [ x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

We currently use shippable to deplo

[2016-05-12 16:28] stephanielingwood commented on #2612
Hi @cratz,

Thanks for the question. Yes, we recently changed the stop/start button to a scale button, to more closely reflect what's happening on the provider (ECS, in your case).

Scaling to 0 will achieve the same result as the previous 'stop' button; on ECS, this will set your desiredCount for the service to 0. From there, you can deploy a new manifest/replica count on the configuration tab, w

[2016-05-12 16:52] npahucki opened #2613 "How can I specify the logConfiguration parameter for an image?"
In AWS Task Definitions, you can specify an element called logConfiguration to specify what logging providers get used. I don't see any place to specify this - am I simply missing this or does this feature not exist?

[2016-05-12 17:22] trriplejay commented on #2613
This is not currently supported. I'll mark as a feature request.

[2016-05-12 17:25] npahucki commented on #2613
Bummer. This is needed so that i can use the awslogs Docker driver and have my image logs end up in CloudWatch without needing additional processes that ship the docker logs to the CloudWatch.

Thanks!

[2016-05-12 17:52] abhijitkini commented on #45
@sandermarechal We evaluated this feature & have decided to defer it for now. We will prioritize it in our roadmap, if the demand for supporting generic git servers increases.

[2016-05-12 19:36] oneleft opened #2614 "Stuck at waiting"
I have updated my shippable.yml but the build appears to be stuck at waiting...

[2016-05-12 19:43] manishas commented on #2614
@oneleft we were investigating an issue with our queuing and it is now resolved. Can you cancel the build and try running one more?

[2016-05-12 19:59] oneleft commented on #2614
It's running now
On May 12, 2016 11:43 AM, "Manisha" <notifications@github.com> wrote:

[2016-05-12 20:35] manishas commented on #2614
Thanks for confirming. I am closing this issue since everything is back to normal.

[2016-05-12 20:35] manishas commented on #2612
we are updating the documentation around this since that was a miss at our end. Thanks!

[2016-05-12 20:37] manishas commented on #2611
@stephanielingwood can you look into this?

[2016-05-13 05:07] #2609 closed

[2016-05-13 05:14] kanthchandra commented on #2610
Hi @pmezard, were you using the token generated from your account? or the token generated from someone else's account (who has access to that particular subscription)?

[2016-05-13 07:31] pmezard commented on #2610
That is correct, this token is used for build automation. It should work though, right?

[2016-05-13 07:41] cratz commented on #2612
Thank you very much for the information works for us.

Is there any chance that you will change the behavior of the deploy button that it will stop and start the service automatically?

[2016-05-13 08:28] mbrodala opened #2615 "Bitbucket tag builds support"
### Is your request:
- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

The recently announced environment vari

[2016-05-13 09:05] vivex commented on #2615
@mbrodala  We don't support bitbucket tags at this point,  we added support for github and bitbucket is on the roadmap. I'll mark this issue as a feature request.

[2016-05-13 10:15] sushantbajra opened #2616 "pg gem is not installing"
When running the `bundle install` the pg gem installation seems to be failing.

[code]

Here is my `shippable.yml` file

[code]

In my shippable.yml file I have also tried adding

[code]

inside build > ci but I am still getting the same err. Anyway to solve this?

[2016-05-13 10:58] mbrodala commented on #2615
OK, I didn't know that. Maybe mention this in the docs in the meantime?

[2016-05-13 11:07] sushantbajra commented on #2616
after running

[code]

fixed the issue

[2016-05-13 11:07] #2616 closed

[2016-05-13 11:54] sushantbajra opened #2617 "/etc/init.d/xvfb: No such file or directory"
why am i getting this error ?

`/root/b663d0d8-48f2-47b9-a08c-9eeaac0ef2d1.sh: line 58: /etc/init.d/xvfb: No such file or directory`

Here is  my yml file

[code]

[2016-05-13 12:00] chetantarale commented on #2617
@sushantbajra  we no longer allow starting xvfb as a service. Instead, you need to run your test command with xvfb-run. I hope this helps.

[2016-05-13 12:46] kanthchandra commented on #2611
Hi @asans can you please try this now and let us know if it works?

There was some issues when the permissions got set for the bucket at our end and we have fixed that.

[2016-05-13 13:53] bittner commented on #2431
1. Would you please be so kind to add a note on top of [that blog post](http://blog.shippable.com/demystifying-shippables-deployment-keys) directing users where to find up-to-date documentation?
1. Please update the documentation on SSH keys and deployment. I need to connect to a custom host via SSH and there is no related documentation on how to figure out the public key I have to add to my `auth

[2016-05-13 15:23] mbrodala opened #2618 "Manually decrypt secure environment variables"
### Is your request:
- [x] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [ ] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.
### Description of your issue:

I would like to move as much as possibl

[2016-05-13 16:58] gnzzz commented on #2614
@manishas I saw the same issue yesterday at the same time as @oneleft and I'm seeing it again this morning. Are you having problems with your queuing again?

For more info, I'm seeing a javascript error when I go in to the build that should be triggered:
[code]

[2016-05-13 17:21] jamesmk opened #2619 "builds queuing up but aren't running"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [x] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Our builds are queuing up, but none o

[2016-05-13 17:24] manishas commented on #2614
@trriplejay can you take a look?

[2016-05-13 17:25] gnzzz commented on #2614
@manishas I just canceled the build and tried it again. It's not building yet, but looks a bit more normal.

[2016-05-13 17:27] manishas commented on #2619
we're looking into this....

[2016-05-13 17:45] manishas commented on #2619
@jamesmk this should be fixed now. Builds that were stuck in queued state were canceled so you will need to re-trigger it. Let me know if it works.

[2016-05-13 17:46] manishas commented on #2614
everything should be back to normal now. please let us know if you run into any more issues. thanks!

[2016-05-13 17:46] #2614 closed

[2016-05-13 20:06] stephanielingwood commented on #2612
@cratz glad it works for you. As for the behavior of the deploy button, we don't plan on changing that in the near future. We'll mark this as a feature request, though, and may re-evaluate based on customer demand.

[2016-05-13 20:41] trriplejay commented on #2604
could it be CPU bottleneck? our build machines are c4.large on AWS, which is defined as:
c4.large (8 ECUs, 2 vCPUs, 2.9 GHz, Intel Xeon E5-2666v3, 3.75 GiB memory, EBS only)

I don't see anything obviously wrong in your builds, it simply looks like the tests are taking a long time.  You say it works on development machines: how long does a typical build take in those cases? Is there a large depend

[2016-05-13 20:46] trriplejay commented on #2604
another possibility I got from a response in this thread: http://stackoverflow.com/questions/13144292/phantomjs-works-but-is-very-slow

could your test be trying to connect to something that isn't there, thus hitting a timeout for those bad requests, and adding several minutes for each timed out request?

The above linked thread suggests reducing the default timeout value of requests to something

[2016-05-13 21:44] asans commented on #2611
A build just ran #230 and it still shows that cache file cannot be found.

See console logs here:

https://app.shippable.com/runs/5735f4a0a17f700b00cd4ba3

On Fri, May 13, 2016 at 5:46 AM, Chandrakanth <notifications@github.com>
wrote:

[2016-05-14 06:17] cjerdonek commented on #2532
@manishas Also, Docker 1.9 has a troublesome P2 issue that is only fixed in 1.10: https://github.com/docker/docker/issues/14203

[2016-05-14 11:40] bittner commented on #2431
No way to make this work with Shippable documentation and the Integrations > Key option.

However, I managed to **print out the public keys** the following way: (They of course work for SSH access to custom servers.)
[code]
You should consider adding an option to show the available public keys in the user interface of Shippable projects (e.g. in the project settings) again. This used to be very co

[2016-05-14 11:52] bittner commented on #2375
If you need to **find out the public keys** available for deployment see [issue #2431](https://github.com/Shippable/support/issues/2431#issuecomment-219215719).

This used to be conveniently available from the builds UI (project page) in the beginnings of Shippable.

[2016-05-14 13:44] #2619 closed

[2016-05-14 13:46] avinci commented on #2605
@n0mer our minv2 image is already on the AMI. I am not sure you need to manually pull this yourself. Let us know if you need anything more to be looked into.

[2016-05-14 13:46] #2605 closed

[2016-05-14 13:54] avinci commented on #2608
You can do this with a Matrix setup using Custom Variable
http://docs.shippable.com/ci_configure/#custom-variables

* Setup 2 ENV vars, 1 for Tests and 1 for Code Style. This will automatically fire 2 builds now.
* Write a simple shell script, for this eg lets call it `ci.sh`. In this script check for ENV vars and fire different commands
* in the YML file exec `ci.sh`

this should do what you exac

[2016-05-14 14:06] avinci commented on #2618
ahh i think we cannot right now. We are doing a new feature to centrally give you this capability. Are you interested to talk further about this and beta test this feature?

[2016-05-14 14:08] avinci commented on #2608
@abhijitkini please add this to How To Series that we are doing..

[2016-05-14 14:09] avinci commented on #2606
We will do this. Should be done in the next couple of weeks.

[2016-05-14 14:37] avinci commented on #2431
@bittner you are right. this should be much more easily available. We are doing a How to Series and we will update this very soon. Thanks for the feedback.

[2016-05-14 14:40] avinci commented on #2375
The public part of the key is available in the UI. if you go to `subscriptions` page and then go to `setting` tab, you will see this.

![screen shot 2016-05-14 at 8 10 20 pm](https://cloud.githubusercontent.com/assets/1302035/15269026/e8c9b0e0-1a0f-11e6-938d-9f8fb6db69b8.jpg)

[2016-05-14 15:47] avinci commented on #2551
Today our YML is at a build level. Hence trying to break the YML across multiple builds is going to be very difficult. That being said, this is my personal opinion and we do this extensively at Shippable.

We first isolate all the parts of the image that is not code dependent and build a base image repo out of it. The only goal of this is to build an immutable package & OS image. We do npm package

[2016-05-14 15:49] seanxe opened #2620 "Can't delete pipeline or environment because they depend on each other"
### Is your request:

- [ ] A feature request: The feature you want currently does not exist. If implemented, will provide additional value to you.
- [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.
- [ ] A question: A non-technical question such as billing.

### Description of your issue:

Title says it all really. I'm using g

[2016-05-14 15:55] avinci commented on #2612
closing it as deferred and will reopen if we change our design decision.

[2016-05-14 15:55] #2612 closed

[2016-05-14 15:57] kanthchandra commented on #2611
Hi @asans can we trigger a few builds on your behalf and figure out what is going on?

[2016-05-14 16:00] avinci commented on #2596
@encodeering, based on my quick research we need to update the kernel etc. (I am not ARM expert)

There are 2 options,
* One, you can run a custom machine image for your builds, if you need to change the host itself.
* Second, You can run any Docker image on our platform, if it does not require kernel update on the host.

 I am going to close this as differed and if there is more interest in the f

[2016-05-14 16:00] #2596 closed

[2016-05-14 16:06] manishas commented on #2610
@pmezard the token that is being used for your build automation wasn't synced and this was causing the problem. Ideally you should use your own token so that you can sync your account as needed.

[2016-05-14 16:07] manishas commented on #2610
closing this issue since the problem has been addressed.

[2016-05-14 16:07] #2610 closed

[2016-05-14 16:07] manishas commented on #2617
closing this issue since the question has been answered.

[2016-05-14 16:07] #2617 closed

[2016-05-14 16:08] asans commented on #2611
Sure. Go ahead

On Sat, May 14, 2016, 8:57 AM Chandrakanth <notifications@github.com> wrote:

[2016-05-14 16:11] avinci commented on #2583
You can do S3 uploads today from CI directly.

Create AWS deploy integration on Shippable & add it to your YML as an integration. This talks about it from EB perspective http://docs.shippable.com/ci_configure/#aws-elastic-beanstalk, but we can make 1 for S3

In your  `pre_ci, install PRM which can be used to upload to S3.

In your `post_ci` section, run appropriate PRM commands to gen your .deb fi

[2016-05-14 16:15] manishas commented on #2620
@seanxe sorry about this. we made a recent change to our pipelines UI and this text needs to be updated.

Here is how you can 'stop' a pipeline in your environment: Go to the pipeline status in that environment and use the 'Scale' action to scale to zero.

![image](https://cloud.githubusercontent.com/assets/2983749/15269470/56db145e-19b4-11e6-946b-8db287ed812c.png)

This will stop all instances of

[2016-05-14 16:29] seanxe commented on #2620
@manishas awesome - that worked!

thanks for the quick response as well.

[2016-05-14 16:29] #2620 closed

[2016-05-15 10:31] haf commented on #2583
What I don't understand is how you can think that S3 upload of debs to a bucket is enough? Surely there's a need for more than just that, such validation – ensuring the package version isn't a duplicate, ensuring it has valid dependencies, hashing the package, providing a GPG key for the repository that you add to your machine in the end, providing a mechanism for provisioning a server using the r

[2016-05-15 10:33] haf commented on #2584
I agree that it should be public. I just wanted to give some metadata at this point. I did ask the same questions over e-mail which had answers that prompted more questions. I sent these questions the 6th May and am yet to receive a response.

[2016-05-15 12:22] danielfriis opened #2622 "Github checks not triggered"
When I submit pull requests, Github checks are not triggered. Shippable runs the tests alright, but the status and results are not showed in github.

Github PR: https://github.com/space10-community/space10/pull/51
Shippable run: https://app.shippable.com/runs/573867f556620f0d00136efc

[2016-05-16 04:29] kanthchandra commented on #2622
Hi @danielfriis, I looked at the logs for your project and it looks like github is sending us this a not found message. My guess is that we are not encoding the branch name (df/fix-shippable) correctly. We will investigate this further and will get back to you as soon as we have something substantial.
[code]

[2016-05-16 04:42] bittner commented on #2375
@avinci Dammit! I knew this was somewhere. This is not easy to find when you mainly deal with the builds. Why isn't this in the project settings? It used to be in a box in a column to the right of the build status list more than a year ago.

[2016-05-16 10:23] encodeering commented on #2596
@avinci okay, thank you for the reply. I'll check then from time to time or do some promotion on this :)

[2016-05-16 11:03] kanthchandra commented on #2622
Hi @danielfriis, we investigated this today and found that one of the collaborators for the project with username `kaspernj` does not have the required scopes to update the project status and as a result github was giving a not found error.

We use a random account that has access to the project to update the commit status on github. So @kaspernj will have to revoke access to shippable here https:

[2016-05-16 11:36] oppianmatt commented on #2551
Not trying to break the yml across multiple builds, this is all still in one build, albeit a parallel build, but still the one build.

If I did what you said it still would happen:
 - parallel build will kick off starting N sub builds
 - each N sub builds still builds a docker and overlays the code on top
 - push section will still happen N times, even if one of the parallel builds FAILED

Don't s

[2016-05-16 16:58] abhijitkini commented on #2608
@filipegiusti Stay tuned for a How-To series on doing this. In the mean time, if you need help, please let us know.
Closing the issue.

[2016-05-16 16:58] #2608 closed

[2016-05-16 17:01] filipegiusti commented on #2608
This would partially work, the PR wouldn't have statuses reported separately. Also would I be able to have different pre/post build commands?

For now I decided to have a different service so I can have separated reports on the PR and separated notifications.

Besides what's possible now, this feature still has value to me.

[2016-05-16 18:25] kaspernj commented on #2622
@danielfriis I have revoked Shippable and logged back in. Please check if it works now :-)

[2016-05-16 18:44] danielfriis commented on #2622
@kanthchandra Thanks a lot - that fixed it! cc @kaspernj

[2016-05-16 18:44] #2622 closed

[2016-05-17 07:25] mbrodala commented on #2618
@avinci Sure thing, let me know how to continue here. :-)

[2016-05-17 08:44] amondnet opened #2623 "hanging at build step "Running job on customer's build node""
### Description of your issue:

Today all build is not started and time out is occurred.

- Link to the build failure

https://app.shippable.com/runs/573ad8082b07180c00460ffd
https://app.shippable.com/runs/573ad6c35419f10f00c35d2a

` Running job on customer's build node for subscriptionId: 54cfd6515ab6cc13528a90bc`

![b](https://cloud.githubusercontent.com/assets/1964421/15328189/fc8d6708-1c8e-11e

[2016-05-17 12:48] NiclasHedam opened #2624 "How to just build a Docker image?"
Hello,

I would like to just build a Docker image based on the Dockerfile. When I try, the build fails due to some ruby gem stuff.
`bundle install --gemfile=$SHIPPABLE_GEMFILE $SHIPPABLE_BUNDLER_ARGS`

My YML file:
[code]

[2016-05-17 13:58] manishas commented on #2624
@NiclasHedam this is because when your ci  section is empty we run default commands for ruby language.

To skip the default command you can include something in your ci section as shown below-

[code]

[2016-05-17 14:58] mbrodala commented on #2582
We avoid this issue now by always excluding both vendor directories in both branches.

[2016-05-17 15:38] amondnet commented on #2623
[code]

[code]

[2016-05-17 16:34] shgharib opened #2625 "Code Coverage For Android projects"
Hi again, How can I use shippable code coverage for android project? this script does nothing, the coverage badge still shows "unknown".
[code]

[2016-05-17 16:49] a-murphy commented on #2625
It looks like you are coping the test results correctly and that report is being parsed.  Code coverage is a separate report and should be copied to ```shippable/codecoverage```.  We support coverage reports in Cobertura XML format.  Although not using Gradle, [this sample Java project](https://github.com/shippableSamples/sample-java-mysql-openshift) has code coverage with Cobertura.

[2016-05-17 17:27] manishas commented on #2623
@ric03uec can you take a look at this?

[2016-05-17 17:28] manishas commented on #2615
@abhijitkini can we update the docs for this asap? then leave it open as a feature request.

[2016-05-17 17:28] manishas commented on #2611
@balavignesh-s did you look into this? can you update status?

[2016-05-17 17:34] abhijitkini commented on #905
Closing the issue as the ability to configure your project to be built on push a tag or create a release has been added to the project settings for GitHub

[2016-05-17 17:34] #905 closed

[2016-05-17 17:35] clounie opened #2626 "Slack Integration not Recognized"
### Description of your issue:
I created two integrations for my project: a GCR integration, and a Slack integration.

The GCR integration is recognized just fine (and when I purposefully screw up the name in the yaml, it catches that and won't build)

However, the Slack integration - though it exists in my integrations and I put the name in the yaml - will not behave. It pretends like I didn't ad

[2016-05-17 17:39] manishas commented on #2626
@clounie can you double check that you have enabled the Slack integration in your project settings as well?

[2016-05-17 17:39] clounie commented on #2626
Nevermind, I failed to add the integration to the project as WELL as my account.

[2016-05-17 17:39] clounie commented on #2626
Yep, that was it, thanks @manishas.

[2016-05-17 17:39] manishas commented on #2626
glad it worked :)

closing this issue.

[2016-05-17 17:39] #2626 closed

[2016-05-17 17:53] balavignesh-s commented on #2611
@manishas I looked into this and found the problem. This will be fixed early tomorrow.

[2016-05-17 17:59] manishas commented on #2611
where is the task to fix the problem? it should be linked to this issue.

[2016-05-17 18:04] shgharib commented on #2625
Thank you @a-murphy, I found [gradle-cobertura-plugin](https://github.com/stevesaliman/gradle-cobertura-plugin) and better solution [codecov](https://codecov.io).

[2016-05-17 18:04] #2625 closed

[2016-05-17 21:26] bensonmiller commented on #174
+1

[2016-05-17 21:43] iamed2 commented on #174
+1 for line coverage

[2016-05-17 22:27] abhijitkini commented on #2608
_This would partially work, the PR wouldn't have statuses reported separately._
- Though there are 2 jobs kicked off for a run, each job has a separate status in a matrix build. For example, if 1 job succeeds & another fails, you will be able to see the status of for each of them and the overall job status will show failed.

_Also would I be able to have different pre/post build commands?_
- Yes,

[2016-05-17 22:44] abhijitkini commented on #2019
I would like to announce that we have added the feature of triggering a build based on git tag push & git release events (in addition to pull requests & commits). Read more about configuring these settings in [our documentation](http://docs.shippable.com/ci_projects/#configure-webhook-events-for-triggering-builds).

[2016-05-18 04:40] filipegiusti commented on #2608
Despite being a little hackish, something like accepting an array of builds instead of a single build would be better, it does the job of running two different builds on one commit.

However the issue with the statuses reported separately and notifications remains, the issue isn't on the build matrix on Shippable, but rather how you report back to GitHub about the status. On GitHub a Pull Request

[2016-05-18 05:12] manishas commented on #2608
@filipegiusti trying to boil it down to 2 issues -
- you want to see individual job status for the PR on GitHub
If we report the status as 1/2 jobs passed or 2/2 jobs passed, would that satisfy your requirement?

- As far as notifications go, you can choose to allow failures for the job that is doing the code style check. This means that even if that job fails, the overall run is marked as success

[2016-05-18 05:19] filipegiusti commented on #2608
Yes and yes. I forgot about allow_failures.

--
Filipe Giusti
Em 18 de mai de 2016 02:12, "Manisha" <notifications@github.com> escreveu:

[2016-05-18 05:21] manishas commented on #2608
great!

i am going to mark this a feature request to show job status for PRs

[2016-05-18 05:25] ric03uec commented on #2623
@amondnet it seems like shippable agent is not able to connect to the queue server. The exception trace  you posted is a result of an unrelated bug which we're now fixing. Can you please check your network settings to verify that all outbound traffic from the machine is allowed. Since the agent was actually connecting yesterday and now its just failing to connect, I'm guessing it has to do somethi

[2016-05-18 07:31] tim0t opened #2627 "Browser tests random not triggered in build process"
### Description of your issue:

We experience some problems with random not starting browser tests. But we can't really figure out why and console logs are not conclusive. Could this be due to a memory problem?

Here are some links to builds that didn't start the browser test:
- https://app.shippable.com/runs/573b6e0412be900d006e7922 (tab 2)
- https://app.shippable.com/runs/573c12e48706ea0c006141e

[2016-05-18 08:27] balavignesh-s commented on #2611
@asans The problem was that the aws sdk did not use Shippable keys to upload the cache to s3. Rather it picked your keys, that you had set in the environment variables AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY. The default behavior of aws sdk is that if it finds environment variables named AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY, it will use them to make any calls. That's the reason why your

[2016-05-18 08:46] bobbydeveaux opened #2628 "Issue with eb_aws_deploy step"
### Issue with eb_aws_deploy step

Link to failed build:
https://app.shippable.com/runs/573c290cd49fd90c009be42f

### Is your request

 * [X] A technical issue: You are unable to use Shippable's service per your expectation & need help to resolve the issue.

### Description of Issue

aws_eb_deploy step is failing, even with a simple integration:

[code]

It looks as though it's Blessed that is not

[2016-05-18 09:13] balavignesh-s commented on #2611
@asans The fix is deployed. Can you please try now?

[2016-05-18 10:23] gsvijayraajaa commented on #1731
Where do we find the dedicated host menu in the new UI?

Regards,
Vijay Raajaa G S

[2016-05-18 11:02] oppianmatt opened #2629 "docker cache issues"
### Description of your issue:

We are currently experiencing an issue with the docker caching system. Our last few builds haven't shown the new code changes. For example:

https://app.shippable.com/runs/573c2e53d49fd90c009ce12f

Even the minions can't agree on the current cache value. This is in the build_pre_ci stage where we build a custom docker image.

![image](https://cloud.githubusercontent

[2016-05-18 11:04] oppianmatt commented on #2629
Well I don't know for sure if the docker cache id are meant to correlate. But I do know for sure that the docker container that was build did not have the code in it. Can see the git sync (both times) to hash e64412599fbb74dacbe8dff45814cb8139aa8dad

But the file in the container is an old one and is not showing the changes.

[2016-05-18 11:20] avinci commented on #2629
Can you add the following flags `--no-cache --rm=true` to your `docker build` command and try?

[2016-05-18 11:22] oppianmatt commented on #2629
If I understand that would mean docker build would never use the cache. Thing is though our docker build takes 17 minutes so we would like to use the cache. It's one of the selling points of shippable vs other CI servers.

the latest build seems to have found some minions that didn't have it cached and is now doing it from scratch

Have tried a git clean -f -x just before the docker build

[2016-05-18 11:26] bobbydeveaux commented on #2628
Also, now using pre_ci to user my own docker container and now the eb command isn't even available.

[code]

Builld : https://app.shippable.com/runs/573c4dac2f6b330b000946d6

[2016-05-18 11:26] avinci commented on #2629
I am not sure if docker got messed up. Maybe we should think about adding this flag to the commit message to temporarily do it for 1 build, so that users could reset it if something got messed up.

1 question is if you want intermediate containers to be cached too? Maybe just adding `--rm=true` might reduce corruption.

[2016-05-18 11:27] avinci commented on #2618
Can we talk sometime tomorrow? Not sure what timezone you are in. But I can do anytime from 10am to 9pm IST.

[2016-05-18 11:27] #2624 closed

[2016-05-18 11:30] oppianmatt commented on #2629
thing is though I don't understand how/why old files are in the docker that was build.

When ADDing files in a Dockerfile shouldn't it detect changes and invalidate the cache automatically.

Also the default behaviour of docker build is `rm=true` https://docs.docker.com/engine/reference/commandline/build/ so adding that won't change anything.

[2016-05-18 11:34] avinci commented on #2629
did any of your prior builds fail? If docker build fails, then i don't think by default the intermediate layer gets removed. So they will stay no matter what on the machine. `--force-rm` will always remove whether your build fails or succeeds.

I am just guessing here as I am trying to figure out whether this was an isolated instance or a systemic problem.

[2016-05-18 11:35] oppianmatt commented on #2629
no failures, green all the way down

[2016-05-18 11:37] avinci commented on #2629
I am stumped... need to get some docker gods to chime :-)

I can force your hosts to reset, if that helps. I want to make sure we resolve your issue.

[2016-05-18 11:38] oppianmatt commented on #2629
don't reset please, investigating other external options

[2016-05-18 11:57] oppianmatt commented on #2629
ok don't think it's a docker cache issue anymore. Last build built the docker from scratch (as well had a git clean -f -x before it).

https://app.shippable.com/runs/573c4d142f6b330b000938eb

I see there is a restore_cache step. It possible that the docker image is fine, but when the docker image starts up for the CI tests the restore_cache restores old files over the top?

It shouldn't affect it

[2016-05-18 12:30] avinci commented on #2629
`pre_ci` has no effect on cache as caching is only for `ci`. I am assuming that in your Dockerfile you are adding the source code. Did anything change in your Dockerfile by any chance?

Looking at the logs, it seems like the gitSync on the pre_ci section had no errors and hence it has the latest code. Are you sure that the code you are expecting is in the right branch?

The one option we have is r

[2016-05-18 12:36] mbrodala commented on #2618
@avinci CEST, so your time would be 6am to 5pm here. Make that 11am to 5pm (3pm to 9pm IST) and we can talk. :-)

[2016-05-18 12:44] avinci commented on #2629
I don't see any issues with your latest build. No conflict in git_sync and hence all the code should be there. Just to be 100% sure, you can try adding a brand new test file into your repo and do an ADD of that file in your Dockerbuild and you can verify that the right code has been added by looking for that file in your `ci` step.

I am 100% sure that git repo where your Docker build ran is doing

[2016-05-18 12:59] bobbydeveaux commented on #2629
We're experiencing this too. Even with clearing force cache.

[code]

Gives an error that /srv already exists and is not empty. Even though it worked until recently.

If it had cloned the repo, it should be cached... but it's as though it's run the command before and is now running it again...

[2016-05-18 13:00] oppianmatt commented on #2629
building the docker image locally with jenkins shows the dockerfile is correct and the file is getting added.

file in question is: pitchup/templates/staticflatpages/version.html

contents are:

[code]

but if I pull the container and inspect it's still showing the old file which used to be:

[code]

File was changed in git commit e64412599fbb74dacbe8dff45814cb8139aa8dad (that was the merge to mas

[2016-05-18 13:57] amondnet commented on #2623
@ric03uec
All outbound traffic from the machine is allowed.
I installed [jumpcloud](https://jumpcloud.com) agent on my build machines yesterday. I removed the agent and reinitialize node. Then the problems were solved.

http://support.jumpcloud.com/knowledgebase/articles/265650

It's probably why the shippable agent is not able to connect to the queue server.

[2016-05-18 16:55] bobbydeveaux commented on #2629
Please could someone look into https://github.com/Shippable/support/issues/2628 ?

Much appreciated!! :)

[2016-05-18 17:00] oppianmatt commented on #2628
Is `eb` in your docker?

If you're using a custom docker image you need to load all your requirements. Only the `push` stage of the build is run outside your custom docker image.

[2016-05-18 17:21] abhijitkini commented on #2604
Closing the issue as resolved. If you have further questions on this issue, please re-open.

[2016-05-18 17:21] #2604 closed

[2016-05-18 17:38] bobbydeveaux commented on #2628
Even without a custom docker image..!

[2016-05-18 17:39] trriplejay commented on #2628
Regarding the first build you linked, it looks like there's an issue with our php base image. We're investigating that. @oppianmatt is correct regarding your custom image. We run eb commands inside the build container, so if you're running on a custom container, it will need the awsebcli dependencies.

[2016-05-18 18:12] bobbydeveaux commented on #2628
Thanks guys. From what I recall, I tried installing awsebcli but needed to install pip.. When I tried installing pip, nether yum not apt-get were available :(

Will try again with the node build to avoid any of the php build issues and report back!

Thanks again :)

[2016-05-18 18:26] a-murphy commented on #2627
It doesn't look like a typical memory problem.  Most of the issues we see about running out of memory will occur in the middle of a test, not starting the tests.  Have you checked if something might not be getting installed, or if you're not waiting long enough for the browser to start?

[2016-05-18 21:05] trriplejay commented on #2628
quick update. looks like python-dev package is required by awsebcli, and some of our base images seem to be missing that.  While we work on updating those images, you can add `sudo apt-get install python-dev` in your CI step to allow the eb deploy to work.

[2016-05-18 22:28] dentarg commented on #1306
Seems like you are still doing this. You received "Shippable Newsletter May 18, 2016" out of the blue. I never signed up for anything. I'm baffled.

[2016-05-18 22:55] abhijitkini commented on #1306
@dentarg we have removed your email address (*****k@st*****t.net) from our system. We have included the "unsubscribe from all future emails" in the newsletter to self-serve.

Let us know if you see any more notification from us.

[2016-05-18 22:57] dentarg commented on #1306
Thanks, but how did I end up in your system at the first place?

[2016-05-18 23:01] manishas commented on #1306
We need to investigate this.

We sent the newsletter to folks on our subscribers list and to current customers.

[2016-05-18 23:01] #1306 closed

[2016-05-18 23:03] manishas commented on #1306
Subscribers list is people who have expressed interest in shippable including people we talk to at conferences etc. anyway we're looking into this.

[2016-05-19 00:28] albertolacework opened #2630 "Build stopping midway in an "ls -l" command"
### Description of your issue:

Build is failing at an "ls -l" command. I can run make shippable locally but all in all this doesn't make sense lol.

- https://app.shippable.com/runs/573d0653383ab70c00a67c20

[2016-05-19 05:21] asans commented on #2611
This looks to be working.  However, now I'm seeing a similar issue with
another project of ours that's using cache but the cache is not found.  For
this project, no AWS credentials were used or set.

Here's the project's url:

https://app.shippable.com/runs/573bc3098706ea0c005c78b1

Thanks,
Alex

On Wed, May 18, 2016 at 2:13 AM, balavignesh-s <notifications@github.com>
wrote:

[2016-05-19 05:38] manishas commented on #2556
@oppianmatt this is now available and is documented here - http://docs.shippable.com/ci_configure/#event-triggers

Let me know if you have any questions.

[2016-05-19 05:49] kanthchandra commented on #2611
Hi @asans , We were able to upload the cache in this build https://app.shippable.com/runs/573d4e20383ab70c00aa6cb2 so can you please trigger a couple of more builds and see if you still run into this?

[2016-05-19 06:29] asans commented on #2611
Looks good now!

You can close the request.

On Wed, May 18, 2016 at 10:49 PM, Chandrakanth <notifications@github.com>
wrote:

[2016-05-19 09:31] mbrodala opened #2631 "Add https://app.shippable.com/ response rate to status page"
The new [Shippable Status](http://status.shippable.com/) page should also have a graph for the response rate of https://app.shippable.com/.

[2016-05-19 10:28] dentarg commented on #1306
Great.

[2016-05-19 13:25] osvalr commented on #2528
I think this proposal will be useful, currently I'm using [slackcat](http://slackcat.chat/) to accomplish this

[2016-05-19 14:21] BrilliantBasicsSync commented on #2628
Working fine with u14php7all - thanks.

[2016-05-19 14:22] bobbydeveaux commented on #2628
Working fine with u14php7all:tip - thanks 👍

[2016-05-19 14:27] bobbydeveaux opened #2632 "aws_eb_deploy not replacing "<IMAGE_NAME>:<TAG>" values in Dockerrun.aws.json"
### aws_eb_deploy not replacing "<IMAGE_NAME>:<TAG>" values in Dockerrun.aws.json

Please see this successful build:
https://app.shippable.com/runs/573dca2712ebb90c00a9e031

It pushed the code to AWS, but really I wanted to push the Docker Image. I don't really want AWS to ru-run the Dockerful, as that build has already happened on Shippable.

The docs here:
http://docs.shippable.com/ci_configure/

[2016-05-19 14:30] bobbydeveaux commented on #2632
My shippable.yml

[code]

[2016-05-19 16:07] a-murphy commented on #2630
Is there anything different about the files in the folder it stops on?  Does an `ls` of just that folder work?  There isn't anything obvious in your logs, but it is certainly odd that it's failing listing ordinary files.

[2016-05-19 16:30] albertolacework commented on #2630
@a-murphy Nothing has changed in that particular directory since the last build

[2016-05-19 17:15] a-murphy commented on #2630
Were there any changes to your makefile?  Could it be that it actually failed on the next command?  Otherwise it looks like a build that doesn't have enough available memory, and that does not seem likely for an `ls` command (and more often results in a timeout).

[2016-05-19 17:23] trriplejay commented on #2632
If the image_name and image_tag aren't being replaced, that sounds like a bug. We'll investigate.

One additional note.  When 'eb deploy' is run, if you have both a Dockerfile and a Dockerrun.aws.json file in the uploaded package, EB will favor the Dockerfile.  So even if your dockerrun has the correct image and tag, EB will run docker build instead.

If you've already built your image on shippabl

[2016-05-19 17:43] albertolacework commented on #2630
Yes but well before the `ls` command and only to copy another html file over. I agree it looks like it ran out of memory though I've built far larger builds so I'm not sure why this happened.

[2016-05-19 19:24] bobbydeveaux commented on #2632
Adding Dockerfile to .eignore is perfect and exactly what I want to do! Thank you!

However, the bug regarding the image tag and build not being replaced in Dockerrun.aws.json ... Would be awesome if that could be patched!!

Thanks again for you help, much appreciated

[2016-05-19 22:25] vivekbhupatiraju opened #2633 "Shippable build fails due to Don't run Bundler as root error"
This is my repo with shippable.yml file below:
https://github.com/vivekbhupatiraju/docker-compose-example/blob/master/shippable.yml

My code follows this example here:
https://docs.docker.com/compose/gettingstarted/

My shippable run:
https://app.shippable.com/runs/573e3c48c795b70c00b7e2ab

I'm trying to do a build in shippable and it fails in the build_ci section with the below error:

**bundle i

[2016-05-19 23:06] stephanielingwood commented on #2633
Hi @vivekbhupatiraju ,

Thanks for your question. Here's why you're getting this error:
- Your shippable.yml doesn't specify a language
- When no language is specified, our build system uses Ruby as the default
- When it's a Ruby build, we look for a gemfile. It's not there, which creates the "gemfile not found" error.

You can fix this by adding a language to your yml. It looks like your project

[2016-05-19 23:37] EmmanuelVella commented on #2532
@manishas Hello, any news of this ?

[2016-05-19 23:52] manishas commented on #2532
We ran into some issues while doing this and are in the process of debugging and make sure everything works. i'll have an ETA in a few hours.

[2016-05-20 00:02] EmmanuelVella commented on #2532
Ok thank you very much !

[2016-05-20 00:28] vivekbhupatiraju commented on #2633
thanks for the very quick response. that solved that issue!

[2016-05-20 00:28] #2633 closed

[2016-05-20 01:01] trriplejay commented on #2632
I can't seem to reproduce the issue you experienced. Maybe you can try a build again now that you've ignored the Dockerfile and see what happens?

[2016-05-20 02:43] #2628 closed

[2016-05-20 02:44] avinci commented on #2629
Ok let me look into this. I will get back to you once we finish investigating...

[2016-05-20 02:45] #2611 closed

[2016-05-20 02:45] #2556 closed

[2016-05-20 02:48] avinci commented on #2618
Sorry, I missed this. We are adding a feature where only owners can see decrypted variables. That should solve your short term issue. The bigger change we are doing is that we are going to be offering a central config management & service discovery feature. This is already in development and wanted to get a customer feedback on our design...

Does today same time work for you?

[2016-05-20 03:17] avinci commented on #2584
Let me try and take a stab at the questions

1. We use Oauth wherever its possible. In some of our integrations, oAuth is not a possibility, we use basic Auth. Mostly to do with Docker Hub.
1. I am not sure what you mean by right owner? Our model is that we internally sync with source control providers every 4 hrs. This means if a user is removed from the source control, it might take up to 4 hour

[2016-05-20 04:27] twillms07 opened #2634 "Creating Multiple Pipelines"
Our team is having issues working to set up multiple pipelines. We're hoping to get some help completing this. We had discussed with Manisha at some point getting some training on this and would like to set up time as soon as possible to do so.

Thanks

[2016-05-20 07:16] mbrodala commented on #2618
@avinci What is "see" exactly in this context? In the subscription settings? In the build output? I'm not sure how that'll help me with my plan. ;-)

The new feature sounds interesting and I'm certain I can add two cents or more on that. Yes, today is similar so hit me whenever your can.

[2016-05-20 08:10] bobbydeveaux commented on #2632
Built again. It pushed a zip file to S3 with just my Dockerfile.aws.json - which is great.

**however** - the file is empty!

[2016-05-20 08:32] bobbydeveaux opened #2635 "eb_deploy ERROR - but aws_eb_deploy still marked as success"
### eb_deploy ERROR - but aws_eb_deploy still marked as success

When AWS reports a failure with the eb_deploy command, the whole 'aws_eb_deploy' step should be marked with a red cross. However, it's being marked as successful, and this marking the entire  build as successful.

Please see:
https://app.shippable.com/runs/573ec9656138aa0c00a68fc5

[2016-05-20 08:57] avinci commented on #2629
Here is what I did to test this and unfortunately i cannot repro it.
the project is https://github.com/avinci/testDockerCache, it has super simple `Dockerfile` made out of alpine linux and then installs bash. I then add a web folder to `tmp/web` and this web folder has a static html. The project has cache enabled in yml. This should reflect your scenario if I am not mistaken

1. first, I just ran

[2016-05-20 09:05] bobbydeveaux commented on #2632
Example build here:
https://app.shippable.com/runs/573eccf36138aa0c00a7694f

You can see I've added a 'cat Dockerfile.aws.json' in the post_ci step which shows this file:

[code]

[2016-05-20 09:24] oppianmatt commented on #2629
see comment at https://github.com/Shippable/support/issues/2629#issuecomment-220004646

Pretty sure it's not a docker cache issue but a shippable cache issue as that is the only difference. The file isn't generated. It's a typical html file in source control.

We actually had to move our docker building off shippable since we couldn't trust it anymore. Plus sometimes minions would take 40+ minutes

[2016-05-20 10:13] avinci commented on #2629
the reason its not a restore cache issue is this because, your `docker build` is running in `pre_ci` which runs before `restore_cache` is which only for the `ci` step.

I am happy to jump on a call and we can debug this live if you would like us to. Any chance that you would like to do that?

I just looked at the code to be 100% sure and even my sample code is trying to mimic what you are doing. I

[2016-05-20 10:14] avinci commented on #2635
We do not fail the build on deploy. I agree that that red check mark should exist which we can fix, but the build will still be marked as success as everything after `post_ci` is considered to be non fatal to the build by design.

[2016-05-20 10:43] bobbydeveaux commented on #2635
Thanks @avinci  - any chance you could look at https://github.com/Shippable/support/issues/2632 - currently can'y deploy as the Dockerrun.aws.json is being replaced with a blank file!

[2016-05-20 10:44] avinci commented on #2551
There are a few challenges to make global work.

first is that multiple builds are running on multiple machines. the docker image is on that machine and when we centrally know whether the entire build with all items have passed or not, we cannot go back to the same machine to run a docker push as there is no guarantee that machine is still idle or alive.

second issue is that we need to split the

[2016-05-20 15:19] bobbydeveaux commented on #2632
Further info, regardless of what I put in the Dockerrun.aws.json.. it gets wiped out now:

Build
https://app.shippable.com/runs/573f2968d352450c0085574b

[2016-05-20 15:30] bobbydeveaux commented on #2156
This change is broken, created an issue here:
https://github.com/Shippable/support/issues/2632

[2016-05-20 15:31] bobbydeveaux commented on #2632
Currently using the free tier, but would like to pay for more builds & pipelines.. Really need this to be working to use Shippable.

[2016-05-20 16:45] manishas commented on #2623
Closing this since it is resolved.

[2016-05-20 16:45] #2623 closed

[2016-05-20 16:46] manishas commented on #2634
@twillms07 yes we're happy to set up a demo. What time works for you? We're in the PST time zone.

[2016-05-20 16:56] twillms07 commented on #2634
I¹ll work with my team and we¹ll come up with a good time. Thanks again.

From:  Manisha <notifications@github.com>
Reply-To:  Shippable/support
<reply+004a65c59bdf5df741fb16f9a03f76c61af2957bcdabd06292cf00000001135701749
2a169ce094a9cea@reply.github.com>
Date:  Friday, May 20, 2016 at 9:46 AM
To:  Shippable/support <support@noreply.github.com>
Cc:  Todd Willms <twillms07@gmail.com>, Mention <ment

[2016-05-20 18:27] trriplejay commented on #2632
Hey, we've found the problem. Should have a fix out by end of day.  I'll update this issue when it's available.

[2016-05-20 20:06] bobbydeveaux commented on #2632
Excellent, thanks @trriplejay - much appreciated! :)

[2016-05-20 21:42] a-murphy commented on #2630
I've tried (and failed) to reproduce this.  Any chance that there's something else running in the background in your build?  Just ```ls -lR``` in a makefile isn't causing any errors for far more files than you are listing.

[2016-05-20 21:48] trriplejay commented on #2632
fix is available now. Let me know if you run into any other issues!

[2016-05-20 22:06] albertolacework commented on #2630
It is possible but I can't find why. I've tried several times now for it to fail in a local make but it never has. We now have tons of builds failing for some reason in this particular way. The only difference between the two is that we have added a significant amount of alternative css files which I don't think take up that much memory or should be causing this issue.

[2016-05-20 22:16] bobbydeveaux commented on #2632
Working perfectly! Thanks :)

[2016-05-20 22:20] bobbydeveaux opened #2636 "Deploy Integration Multiple Branches"
### How can I specify multiple environments like in .elasticbeanstalk/config.yml ?

config.yml allows specifying different environments for different branches. How can we do this with deploy integrations? I need to change the 'env_name' parameter depending on the branch.

Also the hub integration for Docker doesn't seem to adhere to the 'master' branch restriction.

[code]

[2016-05-20 23:17] mattclay opened #2637 "Error enabling project."
### Description of your issue:

Attempting to enable a project from an organization I'm a member of is returning an error:

[code]

This is blocking use of the service.

[2016-05-20 23:21] trriplejay commented on #2636
Hello,

regarding your hub integration: your indentation appears to be off.  the `only` section should be indented from the `branches` section like this:
[code]

There are a couple different ways to accomplish the branch logic you suggest.  First of all, if your logic is branch dependent, then you could simply modify the Shippable.yml for that particular branch, making env_name whatever it needs t

[2016-05-20 23:26] a-murphy commented on #2637
It doesn't look like any owners of that project have signed in to Shippable.  Without a repository owner, we can't add the webhooks to trigger builds.  Could you ask an owner of the repository on GitHub to enable it on Shippable?

[2016-05-20 23:32] manishas opened #2638 "Project status on subscription page is wrong"
### Description of your issue:

I enabled a project and ran a few builds and the project page shows the correct status 0 https://app.shippable.com/projects/560f29a21895ca447419ab67

![image](https://cloud.githubusercontent.com/assets/2983749/15444670/1299b2e8-1ea8-11e6-8dbb-b94378464ab2.png)

But my subscription page thinks no builds have run for the project yet - https://app.shippable.com/subscri

[2016-05-21 00:16] mattclay commented on #2637
I'm currently an owner on that project. I ended up having to use the "sync" button to refresh privileges so I was recognized on Shippable as an owner.

[2016-05-21 00:16] #2637 closed

[2016-05-21 01:35] a-murphy commented on #2630
I couldn't find any clues in your logs.  It is interesting that it keeps getting stuck on the same file.  Are you sure there's nothing strange about that folder?  If it's memory or CPU constraints (we have build machines with 3.75GB of RAM and two cores), adding a larger build machine usually helps.  Here's the [documentation on using your own build machine](http://docs.shippable.com/ci_byoh/) if

[2016-05-21 05:31] vikasr04 opened #2639 "Client-Server Program Using Socker API in C++ Is not Able to Communicate over Docker"
Issue:
I have a Server program written in C++ ,using posix Socket API. The Dockerfile used for building the Server image is:
$ cat Dockerfile
FROM gcc:4.9
WORKDIR /home/vikrana
COPY . .
EXPOSE 1001
RUN g++ -o testcplusplus testprogram.cpp
ENV PATH /home/vikrana:$PATH
ENTRYPOINT ["testcplusplus", "1001"]

Below is the link for the Server program written in C++.
[testprogram.txt](https://github.com/

[2016-05-21 06:30] bobbydeveaux commented on #2636
Excellent, great help as always. Thanks again

[2016-05-21 18:24] manishas commented on #2639
@vikasr04 is this a for a project you've enabled on Shippable?

If yes, can you please share the username you use to sign in to Shippable?

[2016-05-21 18:24] manishas commented on #2636
closing this since it is resolved.