[2016-12-05 20:04] pwarnock opened #3214 "ecs deploy not including elb"
My ECS service that was working, no longer has an ELB mapped as of the last few deploys.

I've tried renaming the load balancer resource and the deploy job and I continue to get green deployments, but there is no ELB mapped in the ECS service.

https://app.shippable.com/subscriptions/573a53db2a8192902e204f23/pipelines/builds/5845c53b307b1f0f004fb249/consoles

[2016-12-05 20:11] trriplejay commented on #3214
I think they key is in this line here:
[code]
It looks like your `applyTo` section contains a reference to this port, but the image in the manifest that the applyTo is referencing is not set up to use that port. Was there a change to a dockerOptions object recently that would have removed that `3000` port definition?

[2016-12-05 20:17] trriplejay commented on #3205
all builds are run within a bash shell.  If all you need is access to the shell, then you can add `language: none` to your yml.  This will skip any language-based defaults and just run whatever commands you specify in your yml.

[2016-12-05 20:19] pwarnock commented on #3214
Thanks! I scanned right past that. I was indeed missing a config.

[2016-12-05 20:19] #3214 closed

[2016-12-05 21:15] wltjr commented on #3205
Ok, I can try that but I am not configuring for shippable. I only have a .travis.yml and shippable is picking that up. I have not tried others, but for shell scripts it works fine. I am not sure if none is valid for travis. I could go with no language, which may work for both. I think it is cool shippable read the stuff from travis. I was going to make a shippable.yml, and I may still. But if I ha

[2016-12-05 21:22] mats990 opened #3215 "Reached private job limit for this month"
Hi,

I'm having problems with running private job. I get error:

How can I check my usage and how can I check when will I be available to run jobs again?

Thanks in advance

[2016-12-05 22:01] a-murphy commented on #3215
The limit resets on the first of every month.  Since there was a bug resulting in limits not resetting, I've updated your limit.  (The bug causing limits to not reset has been fixed as well.)  You should be able run jobs again now.

[2016-12-06 03:54] manishas commented on #3210
@pmezard I am very sorry this happened again without prior warning. I have escalated this within the team and we will make sure future changes are documented and customers are notified.

We're also versioning our APIs in the next future to avoid these situations.

[2016-12-06 07:59] mats990 commented on #3215
Thank you for the fix, it works now

[2016-12-06 11:23] yegor256 commented on #3211
@kanthchandra fixed, thanks

[2016-12-06 11:23] #3211 closed

[2016-12-06 16:57] a-murphy commented on #3212
I was hoping for the ID out of the URL, but the name of the branch at the top of the build page and the `branches` section out of the `shippable.yml` on that branch will do.  It may also be worth double-checking if it has a pull request symbol
![screenshot from 2016-12-06 08 55 41](https://cloud.githubusercontent.com/assets/5492015/20934984/e5fec64c-bb91-11e6-8be7-5d09ad0f0545.png)
or a commit sym

[2016-12-06 21:52] frankwiles opened #3216 "Docs pages are completely empty"
This wasn't the case yesterday, but assume it's a bug/build failure somewhere.  Verified in Chrome and Safari for OSX.
![screen shot 2016-12-06 at 3 50 57 pm](https://cloud.githubusercontent.com/assets/144159/20945199/ec5353d4-bbcb-11e6-9868-78373b6f9838.png)

[2016-12-06 21:53] frankwiles commented on #3216
I logged in and now they're available? But yesterday I didn't have an account so not sure how I was able to view them then.  Perhaps an edge case when going to docs (via Google search) when logged in?

[2016-12-07 16:39] Neal910 commented on #174
Hi @manishas , has doc been updated? Thanks.

[2016-12-07 22:12] ivansabik opened #3217 "Subscription Settings with free pricing?"
### Description of your issue:
I have been using the free service, can I change the AMI to the unstable one to use docker-compose or do I need to have some priced plan?

I refactored my whole tests rely on `docker-compose`  so shippable might not be an option for that, I know travis has builtin support for that by specifying docker under the service section.

Thanks!

[2016-12-07 22:24] ivansabik commented on #3217
If not possible when will this AMI be released as stable?

[2016-12-08 03:02] pax162 commented on #3202
Our tokens are working after upgrading to a paid account, thanks @a-murphy for your help!

[2016-12-08 06:29] lapponiandevil commented on #3212
Now I noted that the built commits actually were PR's to the branch which was supposed to be building. They are not merged though, so they shouldn't build, right?

[2016-12-08 07:27] sheldon-sminq opened #3218 "Pipeline AWS elastic beanstalk"
WE are looking at using pipelines to support our CI/CD process flow. We already use shippable CI for our builds on AWS elastic beanstalk.

Just wanted to know if pipelines provides support for Elastic beanstalk deployments

[2016-12-08 13:38] MikeVitik opened #3219 "How to setup webhook for microsoft teams?"
Hello.
I'm try to setup webhook for "Microsoft Teams" services. I've read [shippable custom webhook](http://blog.shippable.com/triggering-a-custom-webhook-after-continuous-integration). I try to adopt the article for MS teams web hook as it mention in [MS webhook](https://dev.outlook.com/Connectors/GetStarted) for it I add the next line to the .yml
[code]
and setup url provided by MS Teams for 'xe

[2016-12-08 15:17] swhite-finovertech opened #3220 "Problem picking up encrypted env vars in pull request"
Pull request builds off a particular git master branch are not picking up env vars set as a global secure, and hence failing.

The failed build off PR branch:

https://app.shippable.com/runs/5848c53b4d42fa0f00b56102/1/console

The passing build off the master branch:

https://app.shippable.com/runs/5849750fc42d210f009d7f1c/1/console

The shippable.yml was identical between the two builds, with env

[2016-12-08 15:47] jbouse opened #3221 "Amazon ECS integration missing"
### Description of your issue:
Attempting to go through and follow the re:Invent 2016 Booth Challenge - Phase 2 instructions and it mentioned adding the Amazon ECS integration but all I see are Amazon ECR, Amazon Web Services (IAM) and AWS.

[2016-12-08 16:20] rageshkrishna commented on #3220
We don't decrypt secure envs for PR builds on public repositories for security reasons. This is because PRs can be opened on public repos by _anyone_ and they can potentially do anything they please with your secure variables.

You will not see this happen on private repos because we assume that collaborators are trusted.

[2016-12-08 16:35] a-murphy commented on #3212
Builds are triggered by default when a pull request is opened or a new commit is added to an open pull request.  Pull request builds use the code (and `shippable.yml`) file from the base branch with the changes in the pull request added.  The usual way that commands are only run when it is not a pull request is by checking the environment variables, with lines in `shippable.yml` similar to the fol

[2016-12-08 17:05] a-murphy commented on #3219
It looks like we tried to send the webhook to the URL in your integration and it returned a 400.  It might be that it doesn't expect an empty body.  Could you try updating the integration your `shippable.yml` to the following format?  The title should be in a `payload` object so that it will be sent.
[code]
More [documentation on webhook integration options is available here](http://docs.shippable

[2016-12-08 17:10] a-murphy commented on #3217
Any subscription owner can change the AMI used for builds in the subscription on the subscription settings tab.  It's under "Machine Images" in "Options."  Documentation is [here](http://docs.shippable.com/ci/advancedOptions/machineImages/#setting-an-image) if you have trouble finding it.

[2016-12-08 17:21] ivansabik commented on #3217
I looked for this setting before posting this without success but tried again now just found it!  Thanks a lot

[2016-12-08 17:21] #3217 closed

[2016-12-08 20:35] ttrahan commented on #3221
hi @jbouse : sorry for the confusion. For the ECS integration, you'll use the 'AWS' integration from the dropdown.

![image](https://cloud.githubusercontent.com/assets/4467650/21026694/aceb5200-bd42-11e6-99d6-a3cd55e36056.png)

[2016-12-08 20:35] #3221 closed

[2016-12-09 04:45] Kivol opened #3222 "Forcing specific BYON node for specific build"
As many people know, the network condition in China is very brutal. So we have to place our build system inside China's Great firewall when we decide to have a service in China.
So we need some feature to specify which BYON node to use in Shippable configuration. Is there any feature for that?

[2016-12-09 06:42] lapponiandevil commented on #3212
Oh there was a setting for that on the website! I'll just disable that one then.
Thank you for your help.

[2016-12-09 06:42] #3212 closed

[2016-12-09 10:22] MikeVitik commented on #3219
Thank you for documentation link.
I change shippable.yml [build](https://app.shippable.com/runs/584a7ba79d1f3e0f00581732/1/console) as you suggestiong, but has the same error:
[code]
[shippable.yml.txt](https://github.com/Shippable/support/files/641848/shippable.yml.txt)

[2016-12-09 13:24] david-anyvan opened #3223 "Custom docker image not caching"
We created a custom docker image for our builds, as due to the number of composer modules and the size of the project, it runs much quicker with an image that contains most of it already. This allowed our builds to complete in around 2-4mins.

Lately however, it appears that the docker image is no longer getting cached, and so is being pulled every single time! This adds around 12mins to the build

[2016-12-09 14:58] desoukya opened #3224 "How to apply Shippable.yml conditional statement to pre_ci_boot & ci sections"
Please see image:

<img width="1284" alt="screen shot 2016-12-09 at 10 11 03 am" src="https://cloud.githubusercontent.com/assets/10380913/21053536/db20ffc0-bdf7-11e6-9329-b0a0b745fa64.png">

I want my conditional to determine which ECR Docker Image to pull depending on the branch. Additionally, I would like a similar conditional to determine which type of build task I should perform when building

[2016-12-09 15:11] cratz commented on #3224
@desoukya
looks like you just missed `export`
`.... ; then export IMAGE_TAG="1.0.0" ; else export IMAGE_TAG="dev" ; fi`

[2016-12-09 15:36] desoukya commented on #3224
thanks @cratz, I've updated my file to reflect your comments. Although it seems the `pull_job_image` task is still running prior to my conditional statements, which seem to execute inside the `build_ci` task - see image below:

<img width="1426" alt="screen shot 2016-12-09 at 10 32 42 am" src="https://cloud.githubusercontent.com/assets/10380913/21054320/331c71f2-bdfb-11e6-8f37-2e70e49f3895.png">

[2016-12-09 16:23] TSavo opened #3225 "Build for tsavo/malice suddenly not launching containers"
### Description of your issue:
Just made a commit to github.com/tsavo/malice, and it's building everywhere else, but shippable doesn't seem to boot the containers. It fails on the setup_ve step, with no output.

[2016-12-09 16:29] manishas commented on #3224
@desoukya you need to adjust the structure of your yml... you're mixing up legacy tags (before_script) and current tags (ci, pre_ci_boot, etc)

[code]

Please check the structure described at http://docs.shippable.com/ci/shippableyml/

[2016-12-09 16:42] solsenfinovertech opened #3226 "nvm install "6" --> xz: (stdin): File format not recognized"
Hi, very related to issue described in https://github.com/Shippable/support/issues/743

After downloading latest nodejs v6.+, logged:

[code]
Seems to be an issue that started today.

https://app.shippable.com/runs/584ad9bbc3509e0f0012010d/1/console

[2016-12-09 17:10] a-murphy commented on #3225
The most recent failed build of yours failed to download a particular version of Node.  I can't be sure why it wasn't successful, but you should be able to get the same logs by clicking the "download" button.  The downloaded logs sometimes contain a little more than is displayed.

[2016-12-09 18:40] a-murphy commented on #3219
Sorry, there was a missing `-` in payload (it should be an array, not an object), and it looks like something doesn't like the quotes.  I can't say for sure what Microsoft Teams will think of the payload, but testing with my own URL, and the updated `payload` above, the webhook contains the expected title.

[2016-12-09 18:45] a-murphy commented on #3219
And I noticed that you are using the same account integration twice in your notifications section.  That has been known to cause conflicts when saving payloads, and using a separate integration for each webhook in the YML is usually recommended.

[2016-12-09 19:13] desoukya commented on #3224
@manishas thank you for clarifying the issue with my yml file; I have since rectified the issue to correctly reflect the structure outlined in your post. Although unfortunately, I have noticed the issue still exists - see image below:

<img width="1426" alt="screen shot 2016-12-09 at 1 03 20 pm" src="https://cloud.githubusercontent.com/assets/10380913/21061238/73f12a7e-be19-11e6-8f99-afa3ab839ef2.

[2016-12-09 19:24] manishas commented on #3224
@desoukya can you share your yml file and also a link to your build? We need to take a deeper look at this.

[2016-12-09 19:37] desoukya commented on #3224
@manishas as per your request:
[shippable build](https://app.shippable.com/runs/584aef2c307b1f0f00504fe7/1/console)
yml file:
[code]

[2016-12-09 20:01] a-murphy commented on #3226
I haven't been able to reproduce this error.  But, since all of your failures were within a few hours and there was another support issue where downloading a NodeJS version failed, just trying again will likely work.  It could be that the NodeJS 6.9.2 download was incomplete.

[2016-12-09 20:05] manishas commented on #3224
@a-murphy can you look into this? I could repro this quite easily.

[2016-12-09 20:08] manishas commented on #3222
@Kivol I am marking this a feature request since we do not support specifying a specific build node per build.

However, if you're using BYON, all builds will run on your machines, so if they're hosted in china,  all builds will run there. I am not clear on why you need to specify a particular node for each build.

[2016-12-09 20:18] manishas commented on #3224
@desoukya there seems to be an issue at our end where we're not persisting the env variables across `pre_ci` and `pre_ci_boot`. We're investigating how to fix this.

In the meantime, I can suggest a workaround where you pull the docker image and retag it and then use that tag to pull during `pre_ci_boot` :

[code]

[2016-12-09 20:20] manishas commented on #3210
Documentation has been updated again.

[2016-12-09 20:20] #3210 closed

[2016-12-09 20:23] manishas commented on #3205
`language: none` is the recommended way to use unsupported languages. Closing this issue.

@wltjr hope your build worked fine.... if not let us know and we'll take a look.

[2016-12-09 20:23] #3205 closed

[2016-12-09 20:25] wltjr commented on #3205
Ok cool I wasn't sure if none was supported, travis has that but did not see none on shippable. That works for me thanks!

[2016-12-09 20:28] desoukya commented on #3224
@manishas thanks for the workaround and I look forward to the fix.

[2016-12-09 23:11] jessica-pixvana opened #3227 "CI Stuck at provisioning a node for subscriptionId"
All my CI jobs are stuck at the "Provisioning a node for subscriptionId" stage. They have previously worked fine and am using the standard shippable instance. They job had been stuck there for 45+ minutes, I cancelled it and tried to rebuilt again. Still no change

[2016-12-09 23:40] manishas commented on #3227
@trriplejay @a-murphy can you look into this?

[2016-12-09 23:42] a-murphy commented on #3227
We haven't been able to find a cause, but it looks like a later build provisioned nodes for your subscription.  The majority of subscriptions have had nodes provisioned correctly.

[2016-12-10 05:41] rageshkrishna commented on #3223
@david-anyvan This should be back to normal now. Please let me know if you're still seeing this problem.

[2016-12-10 15:13] desoukya commented on #3223
@rageshkrishna @david-anyvan what is the proper configuration gor caching the custom docker image used for each build? In my case, I'm using ECR, and it also pulls the image every time despite having `cache: true` inside of the build block.

[2016-12-10 22:18] manishas commented on #3223
@desoukya there is no real configuration to cache docker images. Our caching support is described at
so you can cache specific artifacts from the build.

However, there are 2 ways custom docker images do get cached and to understand this, you need to also understand Shippable nodes vs [BYON](http://docs.shippable.com/ci/advancedOptions/byon/):

- By default, all your builds run on build machines h

[2016-12-10 22:19] manishas commented on #3227
This should not be happening any more. Closing.

[2016-12-10 22:19] #3227 closed

[2016-12-10 22:19] manishas commented on #3223
Closing.

[2016-12-10 22:19] #3223 closed

[2016-12-10 22:20] manishas commented on #3216
@frankwiles I think that if we change a docs link google sometimes still points to the old link. Please let us know if you still see issues with docs.

[2016-12-10 22:20] #3216 closed

[2016-12-10 23:33] desoukya commented on #3223
got it, thanks @manishas!

[2016-12-11 05:27] Kivol commented on #3222
@manishas I need this feature because we are to serve the same service(git repo) both in China/US. We want to implement push-to-deploy, for example, we want to build and deploy to China when pushed to `china` branch, while pushing to `us` branch triggers the deployment to US. But, with same shippable account, we cannot specify which BYON node to be used for `china` branch.

[2016-12-11 05:49] TSavo commented on #3225
Turns out it was nvm, the CDN it was pulling from was down.

[2016-12-11 05:49] #3225 closed

[2016-12-11 15:50] #3199 closed

[2016-12-11 21:14] desoukya opened #3228 "How to change build trigger config [Commit/PR] for different branches"
@manishas

is it possible to set the build trigger configuration for each branch? Versus having the same trigger configuration across all the branches (see image below):

<img width="772" alt="screen shot 2016-12-11 at 4 12 01 pm" src="https://cloud.githubusercontent.com/assets/10380913/21083371/e50820b0-bfbc-11e6-941e-2d1673fccb80.png">

[2016-12-11 22:04] manishas commented on #3228
No, we do not support this at a branch level... just at a project level.

[2016-12-11 22:06] manishas commented on #3209
@cratz I will keep this open for when we update our images.

[2016-12-11 22:06] manishas commented on #3215
closing

[2016-12-11 22:06] #3215 closed

[2016-12-11 22:06] manishas commented on #3200
closing.

[2016-12-11 22:06] #3200 closed

[2016-12-11 22:09] manishas commented on #3207
is this still happening?

[2016-12-12 02:18] vrparmar commented on #2518
I can't find documentation w.r.t to creating kube service from Shippable pipeline. Can you please point me to the documentation.

[2016-12-12 05:49] sheldon-sminq commented on #3218
[code]

Is it possible to connect to Elastic beanstalk integration here, we do not use ECS.

[2016-12-12 07:01] manishas commented on #3218
@sheldon-sminq Elastic beanstalk isn't supported as a managed job today but this is on our radar since its come up a few times.

You could hook it up using the generic runSh job and provide the scripts to deploy to beanstalk, though we do not have a sample for this at the moment. @trriplejay can provide some ideas around how to do it.

I'm marking this as a feature request to add a managed job.

[2016-12-12 07:41] sheldon-sminq commented on #3218
@manishas @trriplejay i assumed runSh job will help with this, but could not figure it out from the documentation. Any ideas would be of great help.

[2016-12-12 07:42] trriplejay commented on #2518
Currently we do not have a way to create the kube service directly in the pipeline. We hope to include that support in the near future. In the meantime, you can create the service manually and connect it to your shippable-deployed replication controller via labels.

We'll be making some updates to our labels in the next couple of days, so this information isn't applicable quite yet, but basically

[2016-12-12 08:55] cratz commented on #3209
@manishas
Thank you!

[2016-12-12 08:56] cratz commented on #3207
we found a solution Thanks

[2016-12-12 08:56] #3207 closed

[2016-12-12 09:00] trriplejay commented on #3218
so I'll assume you're building your image and pushing it in CI. If that's the case, then i recommend mostly following this tutorial: http://docs.shippable.com/tutorials/pipelines/connectingCiPipelines/

The difference is that your image resource will be the input to a runSh job (instead of a manifest job).

You should also add a resource of type 'integration' ( http://docs.shippable.com/pipelines/

[2016-12-12 10:08] MikeVitik commented on #3219
Thank you very much for you patience and sorry for my inattention. Today I got the first message to MS Teams.

[2016-12-12 10:08] #3219 closed

[2016-12-12 11:50] sheldon-sminq commented on #3218
@trriplejay thanks for the details will get started with this on my end, if i come across any issue will get back.

[2016-12-12 14:07] christopherlongden opened #3229 "Build's are all timing out"
last failed build error:
Error response from daemon: no such id: c.exec.oneshoo.3140.1
Error: failed to remove containers: [c.exec.oneshoo.3140.1]
pending builds have empty consoles, just black screens.

https://app.shippable.com/runs/584e836fac4a911000ec7c43/1/console

[2016-12-12 14:24] sheldon-sminq commented on #3218
I have attached the sample sync repo yml files, also added the trigger integration within by CI repo

[code]

resources.yml

[code]

jobs.yml

[code]

trigger.yml

[code]

Question: in the jobs section, what is the format of the version.json file? how do i read the values from that file?

[2016-12-12 15:36] kanthchandra commented on #3229
Hi @christopherlongden, I think your build is trying to dump some unicode character other than utf-8 and our system is not able to parse it and it's getting stuck. You can download the logs of one of your timedout builds and you will see it.

Unfortunately we are not able to repro this at our end, since the output seems to be from npm install, would you mind emailing us your package.json and your

[2016-12-12 15:45] christopherlongden commented on #3229
Hi,

My developer, Alex (copied), will send this to you.

Many thanks
Chris

On 12 Dec 2016, at 15:36, Chandrakanth <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @christopherlongden<https://github.com/christopherlongden>, I think your build is trying to dump some unicode character other than utf-8 and our system is not able to parse it and it's getting stuck. You can downl

[2016-12-12 17:05] solsenfinovertech commented on #3226
I haven't seen it recently as well, closing the issue.

[2016-12-12 17:05] #3226 closed

[2016-12-12 17:41] mats990 opened #3230 "Timeout while provisioning"
Hi,

I'm having problems with builds for last few days. It all started last Friday at 7:53 PM when my build was 39min in provisioning state ( https://app.shippable.com/runs/584afdb5a932c20f003a6468/1/console ). I canceled that build, started antoher one ( https://app.shippable.com/runs/584b06d94d42fa0f00b5a998/1/console ) and that one timed out after 1h. Today I restarted this same build but it's

[2016-12-12 17:50] desoukya commented on #3228
I'd like to suggest this as a feature request.

Reasoning:
As part of my CI process, I'm handling environment promotion on successful builds from develop, to staging, and finally master as per some logic defined in the `on_success` block of each build.

The Issue:

Assuming:
- All selected branches have configured webhooks to trigger builds on PR & Commits.
- Develop, Staging, and Master branches

[2016-12-12 23:14] mattclay opened #3231 "PR fails with "Logs are not available.""
The following PR fails with "Logs are not available.":

https://app.shippable.com/runs/584f2e3cbdca630f00231a38/1/console

No other output is given. Rebuilding results in the same failure immediately.

What is it about this PR that Shippable doesn't like?

One thing that comes to mind is that the committer name contains Unicode characters.

[2016-12-12 23:16] mattclay commented on #3231
The PR itself is here: https://github.com/ansible/ansible/pull/18437

[2016-12-12 23:24] mattclay commented on #3230
I'm also seeing builds with jobs stuck provisioning, such as this one:

https://app.shippable.com/runs/584f21e7938d4210003b825d/26/console

It's been stuck at `Provisioning a node for subscriptionId: 573f79ce2a8192902e20e349` for 40 minutes, yet most other jobs are provisioning just fine (there are a few others stuck at provisioning as well).

[2016-12-13 00:11] trriplejay commented on #3218
I got this working today. here's the yml I used:

shippable.resources.yml
[code]

shippable.jobs.yml

[code]

then, in my gitRepo that I wanted to deploy, I wrote a script to handle the rest of the logic.  This could also be done in the runSh `- script: ` sections themselves, but I found it easier this way:

deployToEb.sh:
[code]

make sure the application and the environment already exist.

I con

[2016-12-13 00:33] mattclay commented on #3230
I'm continuing to see jobs stuck provisioning. Here's another:

https://app.shippable.com/runs/584f3048ac4a911000ec9250/4/console

Out of 34 jobs in the build, only this one got stuck. I ended up having to cancel the build and restart it so all the tests could pass.

[2016-12-13 00:34] trriplejay commented on #3230
we're currently investigating this.

[2016-12-13 01:36] mattclay commented on #3231
Here's another: https://app.shippable.com/runs/584f4f799559830f00090d96/1/console

The PR for it is here: https://github.com/ansible/ansible/pull/16657

[2016-12-13 02:21] mattclay commented on #3231
Here's another: https://app.shippable.com/runs/584f5b1ebdca630f00231f4b/1/console

The PR is here: https://github.com/ansible/ansible/pull/15896

[2016-12-13 04:33] sheldon-sminq commented on #3218
@trriplejay thanks for the detailed example, will try it out today.

[2016-12-13 05:00] sheldon-sminq commented on #3218
@trriplejay do you have a separate sync repo? or these pipeline config files are in the same code repo as you app?

[2016-12-13 05:07] Zingoer opened #3232 "How to run and access another docker container from CI build container"
I try to create a database container and make CI build artifact connect with that container. However, everytime when I try to connect database container, I get connection timeout. I use the container_name:port way to connect to the database container which is work in docker compose locally. (https://app.shippable.com/runs/584f09d93a097e0f00d7ffca/1/console) Please ignore the ```liquibase: command

[2016-12-13 08:48] sheldon-sminq commented on #3218
I have followed your scripts, now when the sync repo parses the resources file it gives an error

[code]
Resources config
[code]

[2016-12-13 09:09] shrivara commented on #3230
@mats990 is it okay if we trigger a few builds in your subscription to debug this?

[2016-12-13 09:10] mats990 commented on #3230
yes, of course

[2016-12-13 10:39] shrivara commented on #3230
@mats990 we haven't been able to identify the cause of the timed out builds, but the build we tried recently seems to be okay. Could you please check if this is a problem still?

[2016-12-13 11:49] sheldon-sminq commented on #3218
I keep getting errors like these when the deploy.sh script runs

[code]

[2016-12-13 14:29] sheldon-sminq commented on #3218
I am facing one issue with the deploy script

[code]

As a result the Dockerrun.aws.json file is not updated

[code]

Anything i am missing here

[2016-12-13 16:06] trriplejay commented on #3218
sounds like you're not in the right directory, what does your pushd line look like? Alternative is to do a `cd` into `IN/sminq-platform-repo/gitRepo`, that is the directory where the source code for `sminq-platform-repo` is sitting.

or you can just use the whole path in the mv command. that's probably easiest.
`mv IN/sminq-platform-repo/gitRepo/Dockerrun.aws.json /tmp/Dockerrun.aws.json`

[2016-12-13 18:01] a-murphy commented on #3232
Commands in the `ci` and `post_ci` sections run in the build container, but Docker is mounted so that Docker commands actually run on the host.  So `docker ps` or `docker run` will list the containers running on the host and start a new container on the host, respectively.  The result is that containers started from the `ci` or `post_ci` step are running alongside the build container, not in the b

[2016-12-14 01:32] manishas commented on #174
@Neal910 @wakingrufus @jessica-pixvana Well, it look longer than I expected, but we've updated docs for Jacoco:

[Basic Jacoco config](http://docs.shippable.com/ci/languages/java/#advanced-test-reports)
[Jacoco tutorial with sample](http://docs.shippable.com/tutorials/ci/integrations/codeCoverage/usingJacoco/)

Let us know any feedback :)

[2016-12-14 02:30] mattclay commented on #3230
@shrivara I can't speak for @mats990, but I'm still seeing the issue:

https://app.shippable.com/runs/5850a102938d4210003baf5c/14/console
https://app.shippable.com/runs/5850a126938d4210003baf80/29/console
https://app.shippable.com/runs/5850a134938d4210003baf94/23/console

[2016-12-14 03:09] shrivara commented on #3230
@mattclay we have identified a potential cause for this in your case, where builds would start running but then timeout. We'll keep you posted with updates.

[2016-12-14 04:31] sheldon-sminq commented on #3218
@trriplejay using the whole path worked, thanks. Once eb support is added to pipelines, will this effect the current work around?

[2016-12-14 04:55] tzar commented on #2917
Is there any progress on this? Running into the same problem

[2016-12-14 05:02] manishas commented on #2917
@tzar we will need to look into this. This issue wasn't updated correctly, but we implemented this a couple of months ago. I will ask someone to dig in deeper.

[2016-12-14 05:19] tzar commented on #2917
Thanks - we're seeing build status on merged pull requests, but not open ones. Master + forks all private and set up with the same deployment key. Builds are occurring correctly and notifying via email/slack, just no luck on bitbucket ☺

[2016-12-14 05:47] trriplejay commented on #3218
no, runSh will always work as a custom script runner. you may find that utilizing native support will make your pipeline much more flexible with much less scripting necessary, but it should continue to work as-is.

[2016-12-14 08:00] mats990 commented on #3230
@shrivara it seems OK now. If it happens again, I'll open a new issue. Thank you for your assistance

[2016-12-14 08:54] piyush-kurur commented on #2917
I can confirm to what tzar is saying. Build status is shown on merged changes and not on yet to merge changes.

[2016-12-14 11:03] luckyraul opened #3233 "CI on Pull request"
Am I correct when I test pull request from DEV to STAGE - Shippable use code from stage branch?

[2016-12-14 11:22] rageshkrishna commented on #3233
If you haven't changed any project settings, you will see two builds kicked off when a PR is opened or updated:

1. The PR's head branch itself is built as-is. You see this as a commit build on the head branch.
1. The PR's head branch is merged in to the base branch on Shippable and the resulting code is built. You see this as a merge build on the base branch.

I hope this clarifies what happens.

[2016-12-15 01:02] mattclay opened #3234 "Build failing immediately on provisioning node"
I'm seeing builds failing immediately on provisioning node:

https://app.shippable.com/runs/5851e7c2938d4210003bd3a5/1/console
https://app.shippable.com/runs/5851eaf0ea2e1e0f00a1f927/1/console

[2016-12-15 01:26] trriplejay commented on #3234
looks like a dup of:
https://github.com/Shippable/support/issues/3056
https://github.com/Shippable/support/issues/3201

we're in the process of getting this fixed, but for now, umatched backticks in the commit message will cause this type of failure.

[2016-12-15 01:26] #3234 closed

[2016-12-15 01:36] mattclay commented on #3056
@manishas, @trriplejay: Is there any ETA on a fix for this issue?

[2016-12-15 05:26] manishas commented on #3233
Closing this since it is answered.

[2016-12-15 05:26] #3233 closed

[2016-12-15 11:25] kanthchandra commented on #3229
@christopherlongden We have opened an internal issue to fix this problem and I will let you know when the fix is available. Since we also have another issue https://github.com/Shippable/support/issues/3011 with the same problem I'll close this to keep the list clean.

[2016-12-15 11:25] #3229 closed

[2016-12-15 12:10] bhargav3 opened #3235 "Unable to login to the app using Bitbucket"
I was using Shippable with Bitbucket login and suddenly I'm not able login and all I see a error 400 page. I tried to logout, clear cookies, tried logging in from different browser and nothing worked. Here is the screenshot of the error. Please help.

<img width="1402" alt="screenshot at dec 15 17-37-27" src="https://cloud.githubusercontent.com/assets/949476/21223507/7dc83d70-c2ed-11e6-9fa0-55085f

[2016-12-15 12:28] shrivara commented on #3235
@bhargav3 This should be fixed for you now. Could you try logging in again?

[2016-12-15 12:35] bhargav3 commented on #3235
It's fixed now. Thanks.

[2016-12-15 12:35] #3235 closed

[2016-12-15 17:04] rollcat opened #3236 "Shippable is ... slow."
Our builds are getting stuck for 20-30min at a time, while provisioning node, syncing git (from Bitbucket), etc. We're not having much issues pulling from bitbucket on an ordinary EC2 instance.

- Link to the build failure: https://app.shippable.com/runs/5852c39efbf7600f0078ec92/1/console
- Scripts called from the yml (optional): didn't get there
- Screenshot: https://imgur.com/a/dlszh

What's goi

[2016-12-15 18:12] trriplejay commented on #3236
Hey there,

Looks like there was some issue on aws with one of your nodes experiencing degradation of underlying hardware. We've terminated the node. It looks like your other builds are running normally.  Let us know if you are still seeing issues.

[2016-12-15 20:22] manishas commented on #3056
Yes, this will be fixed before 12/23.

[2016-12-15 20:23] manishas commented on #3236
Closing this issue. We will look into making this scenario where AWS gives us a degraded node more reliable in the future.

[2016-12-15 20:23] #3236 closed

[2016-12-15 20:25] manishas commented on #3231
@trriplejay @rageshkrishna we need to look into this.

[2016-12-15 20:26] manishas commented on #3220
Closing this since it is by design.

[2016-12-15 20:26] #3220 closed

[2016-12-15 20:26] manishas commented on #3218
Closing this issue as resolved.

[2016-12-15 20:26] #3218 closed

[2016-12-15 20:26] manishas commented on #3202
Closing this issue.

[2016-12-15 20:26] #3202 closed

[2016-12-15 20:29] manishas commented on #3167
This is deployed. Closing.

[2016-12-15 20:29] #3167 closed

[2016-12-15 20:32] manishas commented on #3100
this has been fixed. thanks for your help!

[2016-12-15 20:32] #3100 closed

[2016-12-15 20:41] manishas commented on #2956
@ryan-kimber this has been implemented and deployed. Docs are here: http://docs.shippable.com/pipelines/resources/cluster/

[2016-12-15 20:41] #2956 closed

[2016-12-15 20:41] trriplejay commented on #3168
We don't specify cpu at all in the task definition if it's not in the options provided. According to ECS this setting (`cpu`) is optional and will just take a default depending on agent/docker version. is this still a problem for you?

[2016-12-16 03:52] rageshkrishna commented on #3231
@mattclay Do you mind if I try re-running these builds to see what's going on here?

[2016-12-16 04:08] asanchezgiraldo opened #3237 "[Pipeline] how to trigger functional tests after deploy"
### Description of your issue:
I been looking all around your documentation for an example of how to run my functional test after I deploy to a test environment but I can not find this.

Currently I have some functional/integration test with in my github repo so I can run them after deployment.

currently I am trying to update the jobs.yml files like below

[code]

[2016-12-16 07:41] manishas commented on #3237
@asanchezgiraldo we will post more details in the morning but in a nutshell, you need to include a [runSh](http://docs.shippable.com/pipelines/jobs/runSh/) job after your deploy job. This runSh job should also take a [gitRepo](http://docs.shippable.com/pipelines/resources/gitRepo/) resource as an input pointing to the repo containing your functional tests.

@trriplejay will post a more detailed ex

[2016-12-16 07:46] manishas commented on #3232
@Zingoer did the suggestion above help?

[2016-12-16 15:01] gdemecki opened #3238 "How to get coverage metrics with JaCoCo for a non-standard layout?"
### Description of your issue:
Recently I've heard great news, you at Shippable support JaCoCo for JVM-based projects. I wanted to try it, but after 4 hours no success.

I have a Java + Maven multi-module project for which I'm calculating a combined report (firstly merge all jacoco.exec files and then generate one report). Everything works fine with maven. But I don't know how to get it working wi

[2016-12-16 16:23] Zingoer commented on #3232
Sorry, my bad. It's very helpful and I final solve it using the --link option in the pre_ci_boot
Thanks for the shippable team!

[2016-12-16 16:50] manishas commented on #3232
:+1:

[2016-12-16 16:50] #3232 closed

[2016-12-16 17:34] mattclay commented on #3231
@rageshkrishna Feel free to restart builds as needed.

[2016-12-16 19:31] trriplejay commented on #3237
currently, jobs only support one `TASK` section, so the correct way to do this is to split your existing deploy job into 2 jobs.

The first job is just the deploy action.  When the deploy action finishes successfully it will automatically trigger subsequent jobs.

The second job should be of type `runSh` as manishas linked to above.  The purpose of this job will be to run the functional test again

[2016-12-16 19:44] trriplejay commented on #3231
OK, I believe we've identified the cause.  In each of these cases, the PR was raised from a fork that contained a travis.yml but not the shippable.yml.  This seems to be an unhandled case in our job processor.

We'll have to discuss this scenario internally, but I think we will at the very least improve the error message.

[2016-12-16 19:54] trriplejay commented on #3238
From taking a look at your build, at a glance it seems like you are taking the correct steps. I'll dig into this a bit today and see if we might have some kind of bug in our parsing.  Your assumption about the xml needing to be there is correct, but it's possible that our parser is having trouble with the combined report as you mentioned.

[2016-12-17 10:27] jeppefrandsen opened #3239 "Custom timeouts larger than 7200000 milliseconds"
Would it be possible to support custom timeouts larger than 7200000 milliseconds when using BYON?

We are sometimes building new docker images on our own build servers. This takes quite some time (a bit over 2 hours) due to the use of yocto (downloads packages, compiles, installs etc.). We are doing some caching but still takes time. We could of cause buy larger build machines but this also has a

[2016-12-19 05:49] RyanShelf commented on #2551
Is there any movement on this? It seems this is what's holding my teams from moving to shippable.

[2016-12-19 06:38] manishas commented on #3239
Thanks for the suggestion. I'll discuss this with the team and get back to you.

[2016-12-19 09:15] knowredev commented on #2794
I have the same error. The error message is:

[code]

My shippable ID is: 566ff1261895ca4474665b13
GitLab CE version: 8.13.3-0

[2016-12-19 11:27] AndreCimander commented on #2606
Any updates? Pulling from u16 images still fails:

[2016-12-19 12:55] legendik opened #3240 "No scm accountIntegrations found for account id"
Hi,

I'm unable to enable new project (private repository). I can see the private repository on page "Enable project" (repository name `damejidlo/geocoder`). But after click on `Enable` i'm getting error:

[code]

SCM integration for Github is created. I can enable other private repositories from same organization, but not this one.

I've tried to add new Github integration with new Github API key

[2016-12-19 15:47] ryan-kimber opened #3241 "Each dashboard item displayed twice"
Every item on our dashboard is displayed twice.

This has happened a few times, but isn't consistent. Sometimes the items are duplicated, sometimes they aren't.

Please see the image below:

![screen shot 2016-12-19 at 10 45 21 am](https://cloud.githubusercontent.com/assets/1018189/21318733/77392eb8-c5d8-11e6-9a08-33c438050dee.png)

[2016-12-19 15:48] Kirtap opened #3242 "How to filter multiple bitbucket projects?"
Hi,

We do have 3 dev teams working on one one bitbucket "team" see ([bitbucket large team approach](https://confluence.atlassian.com/bitbucket/bitbucket-cloud-teams-321853005.html#BitbucketCloudTeams-Largecompanywithseparateteams)) and I was wondering how we can manage to see only the builds for our respective projects.

We can do this for the SPOG by using filter flags but I do not see something

[2016-12-19 16:34] rageshkrishna commented on #3240
@legendik Can you please try this again? You should be able to enable your project now. Let me know if you're still running in to this.

In case your GitHub integration is still giving you trouble, please logout and login.

[2016-12-19 16:35] rageshkrishna commented on #3241
Hi @ryan-kimber, is this happening to you all the time or is it a sporadic thing?

[2016-12-19 17:51] jeppefrandsen commented on #3241
Have seen the same when launching app.shippable.com. After reloading everything seems ok

[2016-12-19 17:51] jeppefrandsen commented on #3239
Hi @manishas. Did you discuss with the team? Thanks.

[2016-12-19 18:53] toshovski commented on #3105
Is there any progress on that issue?

[2016-12-19 21:37] rlennox-bauer commented on #3237
This makes sense. Can you give us an example of providing additional info - in this case the load balancer URL from the previous deployment step. For our tests, this needs to be set as an environment variable APP_URL prior to 'npm run test'.

[2016-12-20 05:35] knowredev opened #3243 "'Owner not found' when trying to enable a gitlab CE repo"
When I try to integrate shippable to my gitlab CE and enable a repo, the following error message comes out. I can see the gitlab account and repo but cannot enable it.

The error message is:

[code]

Seems like this is the identical problem with #2794, the closed issue.

My shippable ID is: 566ff1261895ca4474665b13
GitLab CE version: 8.13.3-0

[2016-12-20 08:02] harryi3t commented on #3241
We have fixed the issue and this should not be happening anymore after the next production deployment (which should be in the next couple of days).

[2016-12-20 08:27] rlennox-bauer commented on #3237
Further to comment above. We need to install java on the node running the deploy task so we can fire up selenium. As part of the task scripts we have apt-update & apt-get install openjdk-7-jdk openjdk-7-jre-headless. This fails with the following error.

Hit http://ppa.launchpad.net trusty InRelease
Hit https://deb.nodesource.com trusty InRelease
Hit http://archive.ubuntu.com trusty Release.gpg
Hi

[2016-12-20 10:38] legendik commented on #3240
@rageshkrishna Thank you, it's working now! :)

[2016-12-20 10:38] #3240 closed

[2016-12-20 17:37] RyanShelf opened #3244 "Unable to remove github integration from shippable"
Not sure if this is the right place for this but when I go to remove my github integration i'm hit with an error message with the following information:

(Id: 4001) subscriptionIntegrations.destroy failed for id: 3996 returned error: update or delete on table "subscriptionIntegrations" violates foreign key constraint "resources_subscriptionIntegrationId_fkey" on table "resources"
verbose: subscrip

[2016-12-20 17:51] manishas commented on #3239
@jeppefrandsen yes, i discussed this with the team and we're going to allow subscriptions with BYON to set larger timeouts. The team is out next week but we'll get to this first thing in Jan and it should be available before mid January. i hope that works.

[2016-12-20 17:53] jeppefrandsen commented on #3239
@manishas Thank you so much! Really great! 👍

[2016-12-20 17:56] manishas commented on #3244
@RyanShelf can you share more information about why you're trying to remove the github integration?

If you signed into Shippable with github, that is an integration we create automatically and it cannot be removed since that is your primary method of signing in.

[2016-12-20 18:00] manishas commented on #3243
@knowredev are you an admin for the gitlab repo? Please check out the troubleshooting qs here - http://docs.shippable.com/ci/troubleshoot/#owner-not-found

[2016-12-20 18:01] manishas commented on #3242
@Kirtap co-incidentally we were just discussing this yesterday with another customer. there is no way to customize the dashboard right now, but this is certainly on our radar in the next few weeks.

[2016-12-20 18:02] manishas commented on #3238
we're working on a  fix for this, ETA is tomorrow.

[2016-12-20 18:03] manishas commented on #3231
@mattclay we have addressed this by showing an error message if the fork contains a travis.yml but not a shippable.yml. The fix should be deployed tomorrow.

[2016-12-20 18:06] manishas commented on #2551
@RyanShelf I will post an update on this later today.

[2016-12-20 18:25] Kirtap commented on #3242
Thank You Manishas,

Our CI dashboard is starting to look rather cluttered now so I am really happy to know that this is on your short term backlog.

[2016-12-20 19:31] RyanShelf commented on #3244
haha that makes sense, sorry to bother. I figured out the solution to my problem (done via removing access through github)

[2016-12-20 19:31] #3244 closed

[2016-12-21 00:21] mattclay opened #3245 "Triggering a new build for a PR through the API"
I see there's a way to trigger a new build for a branch using the API:

http://docs.shippable.com/api/project/#trigger-a-run-for-a-specific-branch

Is there a way to trigger a build for a PR which was created before we integrated with Shippable?

[2016-12-21 00:37] magicalbanana opened #3246 "Postgres 9.5 or greater"
### Description of your issue:
How do you install or use Postgres 9.5 or greater with the builds? Without using docker.

[2016-12-21 01:05] mattclay commented on #3245
Never mind, there's not much point in being able to do this unless feature request #2652 is implemented.

[2016-12-21 01:05] #3245 closed

[2016-12-21 01:12] mattclay commented on #2652
@manishas Is there a possibility this could be implemented?

I'm trying to trigger CI for pre-Shippable integration PRs, but due to issue #3231 the builds are failing due to having a `travis.yml` file. If Shippable could be told to ignore this file, I'd be able to trigger builds by closing and re-opening PRs, or if there was a way to [trigger builds through the API](https://github.com/Shippable/su

[2016-12-21 01:41] manishas commented on #2652
Let me discuss with the team and get back to you.

[2016-12-21 03:09] Kivol commented on #3243
@mantishas Yes I'm sure it is the admin account because it is the only account(generated on installation) on my gitlab.

[2016-12-21 07:06] knowredev commented on #3243
I tried reinstallation of Gitlab CE and it shows the same error as before:
[code]

[2016-12-21 07:12] manishas commented on #3243
@rageshkrishna can we look at this?

[2016-12-21 12:37] shrivara commented on #3243
@knowredev We're seeing a 404 when we try to `GET <gitlabURL>/api/v3/projects/knowre%2FDaekyoAPI_KR` which is why we're unable to obtain the owner. Could you try to this API call with your token and let us know if this works for you?

[2016-12-21 15:33] knowredev commented on #3243
@shrivara You're right, it shows 404 when querying through your URL, but that kind of API call is not enlisted on gitlab API document. ( https://docs.gitlab.com/ce/api/projects.html )

Instead, `GET <gitlabURL>/api/v3/projects/:id` seems working well when inserting `:id` as 1.

[2016-12-21 16:06] shrivara commented on #3243
@knowredev Gitlab also supports `NAMESPACE/PROJECT_NAME` format as documented [here](https://docs.gitlab.com/ee/api/projects.html#get-single-project). Maybe you're serving Gitlab behind a reverse proxy that unescapes this?

[2016-12-21 17:06] knowredev commented on #3243
It worked!!!

For those who will Google later, here's the walkthrough:

I was using Bitnami's gitlab AMI for EC2 instance, and I added `PassengerAllowEncodedSlashes On` next to the line `AllowEncodedSlashes NoDecode` of `/opt/bitnami/apps/gitlab/conf/httpd-app.conf`, and restarted Apache with command `/opt/bitnami/ctlscript.sh restart apache`.

Thank you very much, @shrivara .

[2016-12-21 17:27] shrivara commented on #3243
Awesome! Do let use know if you have any other problems, or questions with this.

[2016-12-21 21:44] #3243 closed

[2016-12-22 11:56] craig-berry opened #3247 "Multiple commits per build"
If I make numerous commit and then push them (in my case to Bitbucket) can the build register all the commits? Currently I only see the last commit against the build.

[2016-12-22 15:29] magicalbanana commented on #3246
Anyone?

[2016-12-22 17:36] Tapppi commented on #3028
@manishas @kanthchandra We are frequently getting build timeouts and very slow node provisioning, right now we have been waiting >3 hours for one build to get a node, including a restart after a timeout! I have provided you with all the information you asked. Please update the status of this issue, this has come up in team meetings as a reason to move to another CI provider multiple times now..

[2016-12-22 17:48] Borda opened #3248 "matplotlib freetype cannot be built"
### Description of your issue:
I am not able to install `pip install matplotlib==1.3.1` because the required library freetype is missing

please see the [jobConsoles.log.txt](https://github.com/Shippable/support/files/669424/jobConsoles.log.txt) file, line 259
and configuration [travis.yml.txt](https://github.com/Shippable/support/files/669433/travis.yml.txt) file

what am I missing in the config

[2016-12-22 18:55] Neal910 opened #3249 "Get acceptance testing results from pipeline shippable nodes"
Description of my implementation:
I have implemented selenium tests as acceptance testing after deployment in Pipeline, which is similar to the work described in issue #3237.
Here is the pipeline: [my pipeline](https://app.shippable.com/subscriptions/57b7db1f3d3c340e00026d35/pipelines/spog)
you can find my acceptance testing in the end of the pipeline, called "e2e-testing-stage".

My issue:
This a

[2016-12-23 03:41] rageshkrishna commented on #3028
@Tapppi Apologies for the silence on this issue. This problem was particularly difficult to track down, primarily because it was not reproducible in a deterministic way.

The good news is that we do have a couple of solid leads now on why this might be happening and we're working on fixing these problems. You should start noticing some improvements to this in the next couple of weeks.

[2016-12-23 04:07] rageshkrishna commented on #3247
We only build the latest commit on each push. If you really need a build for each commit, you will need to push them one by one.

[2016-12-23 04:40] rageshkrishna commented on #3248
Hi @Borda! I've found that running `apt-get install freetype*` before `pip install matplotlib` allows it to succeed. I'm not really sure if we need _all_ of the freetype packages to do this, but hopefully this gives you something to work with.

[2016-12-23 04:50] harryi3t commented on #3241
The fix is in production now.
You should not be having this issue any more.

[2016-12-23 04:50] #3241 closed

[2016-12-23 04:53] rageshkrishna commented on #3201
We have implemented proper escaping on these fields. Please let us know if this happens again.

[2016-12-23 04:53] #3201 closed

[2016-12-23 04:55] rageshkrishna commented on #3056
This should be fixed now. Please let us know if you're still seeing this problem.

[2016-12-23 04:55] #3056 closed

[2016-12-23 04:57] rageshkrishna commented on #3011
This has been fixed. You should not see this issue anymore if you're using the "Stable" image. The "Unstable" image will be updated later today after which this problem should be completely eliminated.

[2016-12-23 04:57] #3011 closed

[2016-12-23 05:18] rageshkrishna commented on #3183
We did this a _very_ long time ago when npm stopped supporting their own self-signed certificates. It was one of the recommended workarounds in [their blog post](http://blog.npmjs.org/post/78085451721/npms-self-signed-certificate-is-no-more). It's definitely not necessary anymore, so we'll look in to removing this in a future release.

[2016-12-23 06:29] rageshkrishna commented on #3076
@bhedge Sorry about the late reply, but we have completely eliminated this feature. I'm closing this issue because it's no longer relevant.

[2016-12-23 06:29] #3076 closed

[2016-12-23 06:49] #2756 closed

[2016-12-23 07:19] mattclay commented on #3231
I'm seeing the new error now, instead of "Logs are not available."

Thanks.

[2016-12-23 07:19] #3231 closed

[2016-12-23 08:27] ronnix commented on #3201
Thanks for the update!

[2016-12-23 09:41] Borda commented on #3248
Well, where should I put it in to the file?
[code]
or
[code]
because neither option seems to work (tried both in costume build)

[2016-12-23 10:02] rageshkrishna commented on #3248
The "custom build" feature currently only allows you to inject new environment variables. It doesn't let you inject new commands into the build. Please add the commands to your YML file. `before_install`, or the first step of the `install` should do fine.

I put up a quick test project [here](https://github.com/rageshkrishna/test-matplotlib/blob/master/shippable.yml), and you can see that [the bui

[2016-12-23 12:47] bbrala opened #3250 "Hanging build"
This build has failed, but is not finishing. There is no running process on the nodes.

https://app.shippable.com/runs/585d165407d5371300725bef/1/console

Could you kill that job?

[2016-12-23 13:50] jeppefrandsen opened #3251 "Builds hangs in git_sync step"
We have seen the last couple of days that many builds starts to hang in the git_sync step:

[code]

The output form one of these builds can be seen here: https://app.shippable.com/runs/585d290de18a291000c1bb33/1/console

Thank you very much in advance.

[2016-12-23 16:24] bbrala commented on #3250
Hmm, build are now not starting for that project. Get an error on it when i try to delete is (to fully reset)

(Id: 4004) No projects found for projectId(s): 5469e45ed46935d5fbbdcc71

[2016-12-23 17:46] manishas commented on #3250
@bbrala is this still happening? I see a later build for that project so just checking...

[2016-12-23 18:15] Borda commented on #3248
Oki, it works. Thanks

[2016-12-23 18:15] #3248 closed

[2016-12-23 19:38] bbrala commented on #3250
Ok, everything is in working order again. Can even delete/sync/etc the project again.

[2016-12-23 19:38] #3250 closed

[2016-12-25 05:53] knowredev opened #3252 "BYON - Hangs on "Running job on customer's build node""
Hello, I'm trying to set up my BYON build, but it hangs on `Running job on customer's build node` stage. Actually my BYON node doesn't even seem to be up. FYI, the node is inside China's GFW, while I completed the BYON installation manually (with a little tweak).

https://app.shippable.com/runs/585f5c96e18a291000c20bcb/1/console

[code]

[code]

[2016-12-25 06:34] kanthchandra commented on #3252
Hmmm, the error says that node status that mexec is trying to update is not
found. So probably the node was deleted and then the script was run or
something like that must have happened.

So since you have initialized the node by yourself I can't reset the node
from my end. So I'll let you know the list of steps that needs to be
followed. Can you please try them and let us know if it works for you

[2016-12-26 01:42] magicalbanana commented on #3246
Is 9.5 supported? Beause this issue #2682 seems to indicate that it should've been supported since June of 2016.

[2016-12-26 08:46] knowredev commented on #3252
Yeah, I tried it several times back and forth, but does not work with the same error.

[2016-12-27 15:08] rarkins opened #3253 "Provisioning job nodes timing out again"
All my builds are timing out or failing due to Shippable issues right now.

e.g. this types of provisioning job node timeouts:

![image](https://cloud.githubusercontent.com/assets/6311784/21502230/b79407c2-cc4e-11e6-98cd-cfcde986c20f.png)

[2016-12-27 15:09] rarkins commented on #3253
Some have provisioned but then timed out while pulling images from Docker Hub

[2016-12-27 15:29] rarkins commented on #3253
They have begun provisioning and working again.

[2016-12-28 06:38] Khalian opened #3254 "The account integration is not yet assigned to any subscription. It must be assigned to a subscription before it can be used."
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
- Scripts called from the yml (optional)

[2016-12-28 06:38] Khalian commented on #3254
Why is this new hoop introduced? Shippable used to be simpler in 2015.

[2016-12-28 06:41] Khalian commented on #3254
When i tried to add the subscription, i saw :
(Id: 4004) No subscription found for subscriptionId: 562f31171895ca4474213cff
verbose: /subscriptionIntegrations|POST|callerId:56774460807af40d00169e04|validateSubscriptions|_validateBody

[2016-12-28 06:56] Khalian opened #3255 "Why does build assume language is ruby when I did not specify it."
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure : https://app.shippable.com/runs/58635f98b1bb441000bae0f7/1/console
- Scripts called from the yml (optional) : https://github.com/Khalian/docker-swift/blob/docker/shippable.yml

[2016-12-28 06:56] #3254 closed

[2016-12-28 07:18] Khalian commented on #3255
So I got it to work with this hack : https://github.com/Khalian/docker-swift/blob/shippable/shippable.yml.

But this is still a bug you need to address.

[2016-12-28 09:07] manishas commented on #3255
@Khalian when we started Shippable, we wanted to support Travis ymls as is to make it easy for people to try out our service. Travis assumes language to be Ruby if the tag is missing.  So this is legacy behavior and difficult to change at this point since many folks assume this to be true.

However you can set language: none tag If you want to use a custom image and dont  want Shippable to do anyt

[2016-12-28 12:14] npahucki opened #3256 "How do I get shippable to use git as a specific user?"
I need to have our build push things back to the GitHub repository (`npm version` being used, new package.json and tags must be pushed). It works ok using the deploy key, however, we have restrictions on who can push to master (using GitHub protected branches), and using the deploy key doesn't have an associated user in GitHub so I can't specify that Shippable should be able to push to master (an

[2016-12-28 12:22] npahucki commented on #3256
BTW: I did see this already: https://github.com/Shippable/support/issues/1669. I can get it all to work if I *don't* have any restrictions on the master branch, but I need DO need to have the restrictions, hence why I tried creating a GitHub user for the build.

[2016-12-28 13:12] npahucki commented on #3256
Ok, now I'm even more confused. I decided to go back to playing around with the deploy key (instead of build user). So I copied the key from the subscriptions, and put this back into GitHub deploy keys. Now I STILL get a publickey error, and the dpeloy key shows that it is never used. I went to compare with a repo that is still working, and that deploy key (which shows it was used this morning) ha

[2016-12-28 13:17] npahucki commented on #3256
ok, I Reset the project which automatically puts a new deploy key in GitHub...I'm just realizing that the key shown in the UI at https://app.shippable.com/subscriptions/56c5f9fd1895ca4474745dd3/settings/options is NOT the one used for github.

So the question is, how would I get the public key so that I can add it to a user instead of as a deploy key?

[2016-12-28 16:02] RyanShelf commented on #2551
@manishas any update?

[2016-12-28 20:08] Khalian commented on #3255
@manishas That is an odd sort of technical debt(travis has a bug, but shippable should not assume it as a feature). I was able to get it to work with just printing the commit sha1 hash.

[2016-12-28 20:24] rarkins commented on #3253
Builds are stuck on "Provisioning a node for subscriptionId: 54d872f85ab6cc13528b4023" for the past hour. No job nodes are being provided, even if I cancel the build and retry it.

[2016-12-28 23:43] magicalbanana commented on #3246
Still no answer? 😢

[2016-12-29 09:28] rarkins commented on #3253
Still happening for most builds! If you can't even get builds to reliably start, how do you expect to retain customers?

[2016-12-29 09:46] kanthchandra commented on #3253
Hi @rarkins sorry that you are running into this issue. I'm looking into this and I'll update the issue as and when I have more details.

[2016-12-29 09:51] rarkins commented on #3253
@kanthchandra thanks. As usual, builds have started working again, although of course the ones that timed out are not automatically retried.

This job node provisioning problem causes too much manual intervention from your users. As a CI provider, surely getting at least 99.9% successful job node provisioning is a must-have?

Here are some since last night that timed out or I needed to cancel:
htt

[2016-12-29 11:39] kanthchandra commented on #3253
@rarkins I looked at every single subscription that was running builds at the moment and all of them had nodes provisioned (including unstable ones). So it's not a system wide problem and is an isolated case where the build runner doesn't spin up correctly.

We have some leads on why this is happening and we will be addressing those issues and also harden the node provisioning flow in the next rel

[2016-12-29 14:58] jmarver commented on #3253
We're getting the timeouts as well: https://app.shippable.com/runs/58644462b1bb441000bb25bf/1/console

[2016-12-30 13:10] gdemecki commented on #3238
Thanks everyone.
I've checked today and it works perfectly fine now. I'm closing this issue.

[2016-12-30 13:10] #3238 closed

[2017-01-02 07:12] bogotej commented on #3222
@manishas This request seems somewhat similar to mine : https://github.com/Shippable/support/issues/3009

[2017-01-02 10:05] elssar opened #3257 "API Usage: Get status for latest commit on main branch on Bitbucket"
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
- Scripts called from the yml (optional)

We use the Shippable API to report the build status for our projects. We use the branchRunStatus endpoint for each project: https://api.shippable.com/projects/:projectId/branchRunStatus

The problem with this API is that it also consid

[2017-01-02 10:36] kanthchandra commented on #3257
Hi @elssar ,
1. The branchRunStatus API gives you the latest run for each branch in your repository on shippable and by default it gives you all the result for PRs as well as commits. So if you just want commits then you can try, https://api.shippable.com/projects/:projectId/branchRunStatus?isGitTag=false&isPullRequest=false . This will give you the latest run for each branch that was triggered be

[2017-01-02 10:42] kanthchandra commented on #3257
You could also use the generic GET /runs API to get runs based on the filters provided. For your case you can use https://api.shippable.com/runs?projectIds=projectId&isGitTag=false&isPullRequest=false&branch=YOUR_BRANCH_NAME&maxRunNumber=100000&limit=1

Please note that to get the latest run I have given some high maxRunNumber and set the limit = 1. This API is documented here http://docs.shippabl

[2017-01-02 10:50] elssar commented on #3257
Thanks @kanthchandra

[2017-01-02 10:50] #3257 closed

[2017-01-02 10:53] shrivara commented on #3252
@knowredev, could you mention the changes that you made to the script and check if the build machine has access to https://api.shippable.com?

[2017-01-02 12:56] grandmore opened #3258 "Update Status Dashboard to show tags and releases"
Currently the Status Dashboard page only shows branches. However I am using releases and tags as the trigger to build images.

What shows is an empty master branch which never builds( which is correct) but does not show any tags or release's.

I can click on history to see what was build but it seems that it should be displayed just like branches on the dashboard.

[2017-01-02 19:06] jeppefrandsen commented on #3251
Any news on this issue? Just had it again (on two builds): https://app.shippable.com/runs/586aa23307d537130074b057/1/console

[2017-01-02 19:31] a-murphy commented on #3246
There are images with Postgres 9.6 installed, but they have not yet been fully tested.  Until they are fully tested, they aren't considered official images and not all options will work.  However, the images can be specified in the `pre_ci_boot` section of the `shippable.yml` file and services can be started from the `ci` section.  For example, to use the newest version of the Node.js image, add t

[2017-01-03 11:26] rlcomte opened #3259 "Various serious problems with Shippable"
### Description of your issue:
Over the months we have encountered a number of serious problems with Shippable:

1. Browser cookies get randomly invalidated, forcing one to manually delete them and do a fresh login
2. Quite often we need to perform a 'clear build cache' in order to repair a build
3. Some (NodeJS, Scala) builds fail unexpectedly although they build correctly on local machines, and

[2017-01-03 17:03] Zingoer opened #3260 "How to run CI build container as a non-root user?"
I'm always getting connection refuse error when I try to run up an embed postgres inside CI build container during my unit test. I finally figured out the reason that relates to the user privilege. [Error build link](https://app.shippable.com/runs/586bb8d2e18a291000c42f2d/1/console). Therefore, according to this [doc]
(http://www.yegor256.com/2014/08/29/docker-non-root.html), I knew that if I want

[2017-01-03 18:16] timkral commented on #2691
+1 here. We have two flavors of project that we'd like to build and release with Shippable:

1. A service application running in Docker and released to AWS ElasticBeanstalk. Shippable already covers this use case.
2. A set of common Java libraries which support our service applications. For these projects, we'd like to publish the libraries to our privately hosted Maven repository through Shippabl

[2017-01-03 19:27] trriplejay commented on #3237
the load balancer url actually wouldn't come directly from the deploy job, since Shippable only knows the name and the targetGroupArn as provided in the yml.

Instead, I'd recommend adding a "params" resource like this:
[code]

then, you can use this as another `IN` to your runSh job.

you can access this variable by adding a step to your runSh script like this:
[code]

the "params" file is just a

[2017-01-03 20:16] Zingoer commented on #3260
I try to create a user inside the CI container, but it doesn't work. Most of the doc suggest to given a user inside dockerfile. However, I'm wondering if shippable images provide or not a non root user.

[2017-01-04 01:34] naveensky opened #3261 "Build stuck at provision job node"
### Description

All my builds are stuck at **Provisioning a node for subscriptionId: 54b12d52d46935d5fbc20090**
Link to build failure is  https://app.shippable.com/runs/586c4bd7f6c7101000c541d4/1/console

![image](https://cloud.githubusercontent.com/assets/806681/21629192/fcda685a-d24b-11e6-8adf-110fd1c837f0.png)

[2017-01-04 01:35] stephanielingwood commented on #3260
Hi @Zingoer,

Thanks for your question. Can you tell us a little more about what you're trying to do? If you really need to bring up postgres in a separate container, it's worth knowing that we don't actually run that second postgres container inside the ci container. Instead, it is running next to it, on the same host. (Looks like you already found the solution for that [here](https://github.com/

[2017-01-04 02:05] a-murphy commented on #3261
There was something wrong with the node for your subscription preventing it picking up the build messages.  The new node should be working.

[2017-01-04 03:36] Zingoer commented on #3260
Happy New Year, @stephanielingwood

Thanks for the reply. I'm using [this framework](https://github.com/yandex-qatools/postgresql-embedded) in my unit tests. This framework will help run up a postgres db before tests and drop it afterwards. The only problem it mentions is that

This is why I'm thinking to use a non-user to run my unit tests. Thanks for the options, I will try to make a custom imag

[2017-01-04 08:35] jeppefrandsen commented on #3239
@manishas do you know if it will be available this week or? Thanks once again.

[2017-01-04 09:14] rageshkrishna commented on #3251
@jeppefrandsen I took a look at the build history and noticed that you are also seeing builds timing out because the git clone is taking close to 2 hours to complete. However, the same project gets cloned in around 30 seconds at other times.

It also seems to happen on different machines at different times, so I don't think the problem is localized to any particular custom host that you have.

Som

[2017-01-04 09:25] jeppefrandsen commented on #3251
@rageshkrishna We are using Linode build servers but have not checked if there has been some network issues in this timeframe. Will check.

I will also investigate if it happens during special periods of the day.

[2017-01-04 14:03] jeppefrandsen commented on #3251
@rageshkrishna seems to be an issue at Linode. Closing the issues. Thanks a lot.

[2017-01-04 14:03] #3251 closed

[2017-01-04 14:46] etoccalino opened #3262 "can't revert to the free plan"
I'm trying to cancel our subscription and go back to the free plan. I followed the instructions on #1976, but find the "Enable free plan" button is disabled.

![enable-free-plan](https://cloud.githubusercontent.com/assets/493706/21646011/36b493da-d273-11e6-8bba-0ff548527d58.png)

Is there a way to disable our plan and remove the credit card information from my account?

[2017-01-04 15:59] Zingoer commented on #3260
Hi @stephanielingwood
It looks pretty complicated to create a customize image without documentation.
Therefore, I try to create a user inside the ci
I using the following command
[code]
Then when I check `whoami`, I still get root. Why is that? {error build link](https://app.shippable.com/runs/586d1873f6c7101000c5adce/1/console)

[2017-01-04 18:13] a-murphy commented on #3262
We've updated your subscription to the free plan for you.  The button was improperly disabled as a result of some old pipelines purchased for the subscription.  Up-to-date documentation on removing cards is available [here](http://docs.shippable.com/navigatingUI/accountSettings/cards/) if you would like to try to remove your card now.

[2017-01-04 18:50] stephanielingwood commented on #3260
Happy new year to you as well, @Zingoer!

To be honest, I'm not completely sure as to why the user isn't changing with the `su - newuser` command. I suspect it's related to how we run commands in our build script (so as to correctly capture the exit codes).

That being said, you probably don't want to switch to a non-root user, and then execute commands. (Here's some [entertaining reading](http://

[2017-01-04 19:02] Zingoer commented on #3260
@stephanielingwood I tried to use `su user -c "command"` ([build fail link](https://app.shippable.com/runs/586d29713b531310004543eb/1/console)), but I always get permission denied. Even I modified that script to 777 and make sure it's chown by the user.
Thanks for the instruction to create a custom image. I will try a little bit on this way.

[2017-01-04 19:27] stephanielingwood commented on #3260
Looking at the build you linked above, I can see where you did the chown -R on $SHIPPABLE_BUILD_DIR. I don't see a chmod to make the script executable, however. Would you mind double-checking to make sure the script is executable? If it's not, that would give a `Permission denied` error.

[2017-01-04 22:12] etoccalino commented on #3262
confirmed. thanks!

[2017-01-04 22:12] #3262 closed

[2017-01-04 22:12] Zingoer commented on #3260
I finally make it work by adding a non-root user in the CI build process. Somehow, I have to create a script and run that non-root needed command inside that script, like `su -c "unittest.sh" user`. I didn't take look too deep in the customize image and meet several problems in that route. But one way to solve my problem is good enough for now. Thank you @stephanielingwood !

[2017-01-04 22:12] #3260 closed

[2017-01-04 23:20] acburdine commented on #2889
@rageshkrishna sorry for the delayed response - it appears this has been fixed as I haven't seen it since.

[2017-01-04 23:20] #2889 closed

[2017-01-05 01:10] jmarver commented on #3253
We encountered another timeout again today:
https://app.shippable.com/runs/586d80513b5313100045702d/1/console

[2017-01-05 08:14] mats990 commented on #3230
Hi,
I'm having the same issue right now. [31 minutes in state "Provision job node"](https://app.shippable.com/runs/586df8c03b531310004590c5/1/console) and nothing happens after that.

Can you please take a look ASAP?
Thanks

[2017-01-05 08:22] rageshkrishna commented on #3230
@mats990 Can you please cancel the current build and rebuild it? I'm monitoring your nodes right now to see what's going on. Thanks.

[2017-01-05 08:52] mats990 commented on #3230
@rageshkrishna thank you for fast response. I started new build right now. you can build it on your own if you want.

[2017-01-05 09:14] rageshkrishna commented on #3230
It looks like your build ran successfully this time.

We currently have a known issue with the build runner sometimes not coming up on Unstable nodes. We are working on a fix for this that should roll out very soon. In the meantime, please let us know if you see this again and we will manually get your nodes running correctly.

[2017-01-05 09:22] mats990 commented on #3230
Ok, thank you for your assistance.
Have a nice day

[2017-01-05 09:22] #3230 closed

[2017-01-05 09:37] popelnuh opened #3263 "Feature request: more browsers in for CI"
Hi There,

Not an issue but a feature request.

Is it possible to have more browsers pre-installed, this is required for the Selenium regression tests.

Thank you!

[2017-01-05 15:48] #3247 closed

[2017-01-05 19:02] magwas opened #3264 "pull_job_image: Tag latest not found in repository"
https://app.shippable.com/runs/586e6bc39a67460f009526c9/1/console

the tag does exists. builds both before and after this one are green.
This is the second time I see this problem, among some 30 builds in multiple repos.

[2017-01-05 19:42] BlueDragonX commented on #3177
It's been a month. Any response to this? We'd like to consolidate our operations code.

[2017-01-05 19:42] BlueDragonX commented on #3064
Any update on this?

[2017-01-05 19:43] BlueDragonX commented on #2921
Any update?

[2017-01-05 19:43] BlueDragonX commented on #2922
Any progress on this?

[2017-01-05 20:12] jmarver opened #3265 "rpc error: code = 2 desc = "containerd: container did not start before the specified timeout""
We've seen this error a couple of times over the last week:
rpc error: code = 2 desc = "containerd: container did not start before the specified timeout"

https://app.shippable.com/runs/58643114e18a291000c2db8d/1/console
https://app.shippable.com/runs/586e9cf49a67460f0095452d/1/console

[2017-01-05 20:28] jmarver opened #3266 "Provision job node TIMEOUT errors"
We're also seeing the provisioning job node timeout errors:

https://app.shippable.com/runs/586d80513b5313100045702d/1/console
https://app.shippable.com/runs/58644462b1bb441000bb25bf/1/console
https://app.shippable.com/runs/5859be085de9af10007fdcae/1/console
https://app.shippable.com/runs/58587ae2f1e5441000674cb8/1/console

[2017-01-06 07:27] rageshkrishna commented on #3239
@jeppefrandsen This will be available next Friday (January 13).

[2017-01-06 07:36] rageshkrishna commented on #3256
@npahucki You're right, the deploy key we add to the project on GitHub is not what you see on the subscriptions page.

This key is currently only available with an API call -- `https://api.shippable.com/projects/:projectId` will give you the `deployPublicKey` property. I think this is what you need. Please let me know if I've misunderstood what you're looking for.

[2017-01-06 08:29] mbrodala commented on #2574
For Sublime Text users there is a [package which evaluates the escape sequences](https://packagecontrol.io/packages/ANSIescape) and shows them as colors.

[2017-01-06 08:40] mbrodala opened #3267 "Default foreground/background ANSI escape codes ignored"
While Shippable supports ANSI escape codes for colored output, it seems like the escape codes for default foreground (39) and default background (49) are not supported. Instead, the previously set foreground/background color continues to be active until the next escape code:

![image](https://cloud.githubusercontent.com/assets/5037116/21712207/9b16b6ba-d3f3-11e6-9ea1-c589f4217646.png)

This [build

[2017-01-06 08:57] rageshkrishna commented on #3267
Thanks for reporting this @mbrodala! It looks like a bug in our ANSI processing. We'll take a look at this soon.

[2017-01-06 12:55] npahucki commented on #3256
Thank you, thank answers my question. I'll close the issue.

[2017-01-06 12:55] #3256 closed

[2017-01-06 17:28] a-murphy commented on #3264
This particular Docker error message doesn't necessarily mean that the tag doesn't exist.  Quite often it appears when credentials aren't valid or response times are slow.  In your case, since it's a public image and had been partially pulled before getting an error, it's likely that a request to Docker Hub timed out.  It's unusual that you've seen this error twice, but unfortunately we are unable

[2017-01-06 18:02] stephanielingwood commented on #3265
Hi @jmarver,

Thanks for letting us know. While we don't see it that often, this is a [known issue](https://github.com/docker/docker/issues/24574) with Docker 1.11.1, which is what is in the unstable machine image. If you're able to use the stable machine image, that's using 1.9.1, and isn't prone to this error (as far as we know). If you decide to switch machine images, that can be done in the Su

[2017-01-06 20:26] iamehiz opened #3268 "bash: /root/.rvm/scripts/rvm: No such file or directory"
Each time i open my Kali Linux Terminal this pop up
`bash: /root/.rvm/scripts/rvm: No such file or directory`
and i want it to stop but don't know how to do that, any help out there?

[2017-01-06 20:55] Zingoer opened #3269 "Endless docker container creation in AWS"
Based on #3087, I successfully created the data volume container and postgres db container in Oct-Nov. I make sure I can redeploy db containers if needed. ([success build 1-5](https://app.shippable.com/subscriptions/57b7db1f3d3c340e00026d35/pipelines/spog)) But when I try to redeploy today, I'm not be able to run postgres db container successfully. The task will always try to create a postgres con

[2017-01-06 21:26] stephanielingwood commented on #3268
Hi @iamehiz,

Sorry you're having trouble with your local RVM installation. While some of us are Ruby fans, we're focused on answering questions to Shippable in this issues thread. (Shameless self-promotion: once you need an easy way to test, ship, and deploy your code, you should use us!) In the meantime, try checking out [Stack Overflow](http://stackoverflow.com/questions/27184370/persistant-bas

[2017-01-06 21:32] trriplejay commented on #3269
So, the reason your container is exiting is that a container will only run until it has finished the command it has been given.  Since `/bin/true` automatically exits with a successful return code, the container believes it has accomplished its task, and exists with a successful return code (0).  If you want the container to run indefinitely, you'll need a command that never ends, something like a

[2017-01-06 22:15] jmarver commented on #3265
Hi @stephanielingwood,

Thanks for the reply and the additional information. Yes, we're able to switch back to using the stable machine image, Docker 1.9.1.

We were hoping to use Docker 1.11.1 to take advantage of [wildcard support in .dockerignore files] (https://github.com/docker/docker/pull/17090) but we can use a workaround until Shippable deems Docker 1.11.1 or newer to be stable.

Thanks ag

[2017-01-06 22:15] #3265 closed

[2017-01-06 22:15] Zingoer commented on #3269
@trriplejay  Thanks for the fast reply. I finally figure out the reason. I manually create a service and task in AWS to debug the issue and find that the true reason is the essential tag!
You are right, If the first container's essential tag set to true(default to true), when the container exit, the task will stop and consider as fail. This is why the task keep try to redeploy and go into loop.
So

[2017-01-09 06:03] manishas commented on #3268
closing.

[2017-01-09 06:03] #3268 closed

[2017-01-09 06:06] manishas commented on #3266
@jmarver apologies for the delay in looking into this. are you still experiencing these timeouts?

[2017-01-09 06:07] manishas commented on #3264
closing this issue since there is nothing actionable for us to do. This could be due to docker hub response time.

Are you continuing to see this?

[2017-01-09 06:07] #3264 closed

[2017-01-09 06:08] manishas commented on #3261
closing this issue. @naveensky let us know if this continues to be an issue.

[2017-01-09 06:08] #3261 closed

[2017-01-09 07:31] vivekna1 opened #3270 "Coverage and Test tabs are empty in our Ruby build"
### Description of your issue:
- Link to the build failure
https://app.shippable.com/runs/5873307b6fb9b00f0093999b/1/console

- Scripts called from the yml (optional)
language: ruby

rvm:
  - 2.3.3

env:
 -  RAILS_ENV=test DB_NAME=test_platform_model_2 DB_USER=dfdfdfd DB_PASSWORD=dsfdsfd  DB_HOST=rsss SECRET_KEY_BASE=abighashhere
 - CI_REPORTS=shippable/testresults COVERAGE_REPORTS=shippable/codec

[2017-01-09 07:42] rageshkrishna commented on #3270
It looks like you're mixing up the two different YML file formats that we support. Specifically, the `ci` section is valid in the YML only under the `build` section. However, it looks like you're primarily using the Travis format for the YML file.

Please update your `before_install` and `script` sections to look like this and you should be able to see the test results going to the right place.

[

[2017-01-09 08:03] vivekna1 commented on #3270
![image](https://cloud.githubusercontent.com/assets/25001633/21760120/9f5169e0-d66f-11e6-8fc4-f398383a72d4.png)

1 .Changes done as per your previous comment.
2. Referring to the console output. - rspec spec is shown in build_ci shouldnt it be shown in tests header?
Even now I am not able to see tests in the right tab. Also referred to #788 for the setup. No luck.

https://app.shippable.com/runs/5

[2017-01-09 08:22] rageshkrishna commented on #3270
It looks like your build is just running `rspec spec`. I don't know much about ruby/rspec, but I'm guessing you need to tell it to generate a JUnit file the right location, much like the `rspec -f JUnit -o shippable/testresults/results.xml` command you were originally trying to run.

[2017-01-09 10:09] legendik opened #3271 "Cannot download invoice"
Hi,

I'm getting following error while trying to download any invoice:

{"logType":"verbose","methodName":"transactions|getReceiptById|callerId:584963a8307b1f0f00501a3e|transactionId:58678fdfe18a291000c387f8_getAccountById","id":4001,"message":"getAccountById for id: 550b01345ab6cc1352a52a82 returned error: account not found for :accountId 550b01345ab6cc1352a52a82"}

[2017-01-09 11:28] vivekna1 commented on #3270
![image](https://cloud.githubusercontent.com/assets/25001633/21764992/0ea81cdc-d68c-11e6-8951-4ecd8d5e98d7.png)

Now able to generate the test cases report. the change that worked - rspec spec --format RspecJunitFormatter  --out shippable/testresults/rspec.xml

But still not able to generate code coverage reports. in coverage tab.
As you can refer my screenshot, the code coverage is being generate

[2017-01-09 11:36] rageshkrishna commented on #3270
It looks like `rspec` is returning a non-zero exit code when your tests fail. When this happens, we consider the build to have failed and stop running any further steps. If you really want the build to continue, try changing your rspec line to always return a zero exit code by doing something like this:

[code]

[2017-01-09 12:30] vivekna1 commented on #3270
Ah man, the last step fails with.
cp -r /root/src/bitbucket.org/syyyxxxtt/platform-xx-yycoverage/* shippable/codecoverage/*
cp: target ‘shippable/codecoverage/*’ is not a directory.

I have clearly created this directory at the start of the script.  - mkdir -p shippable/codecoverage

[2017-01-09 12:45] rageshkrishna commented on #3270
The last `*` might be the problem. Try `cp -r /root/src/bitbucket.org/syyyxxxtt/platform-xx-yycoverage/* shippable/codecoverage/`

[2017-01-09 13:24] vivekna1 commented on #3270
Yes. It worked 👍 . Code coverage index.html is in the folder shippable expects i guess. (shippable/codecoverage) but somehow the tab does not show the coverage report. Is this a feature request (remember seeing this as FR in one of the threads)

![image](https://cloud.githubusercontent.com/assets/25001633/21767960/f8a1cbb6-d69c-11e6-9d2d-468f2f390795.png)

[2017-01-09 14:02] rageshkrishna commented on #3270
We only support cobertura and jacoco formats right now for code coverage visualization. If you can get your coverage tool to output one of these formats, you'll see the coverage tab getting populated.

Is there anything else I can help you with on this issue?

[2017-01-09 14:34] vivekna1 commented on #3270
Thats about it. Thanks.

On Mon, Jan 9, 2017 at 7:32 PM, Ragesh Krishna <notifications@github.com>
wrote:

--
Regards,
Vivek N A

[2017-01-09 14:45] #3270 closed

[2017-01-09 15:32] mbrodala opened #3272 ""shippable_retry: command not found" in scripts"
[It looks like](https://app.shippable.com/runs/5873ac343b53131000472637/1/console) the `shippable_retry` function is somehow only available within the `shippable.yml` but not within scripts launched from there:

![image](https://cloud.githubusercontent.com/assets/5037116/21771791/164f41d4-d689-11e6-8983-2ef0c510c4ed.png)

The `shippable.yml` from the build:

[code]

The `test.sh`:

[code]

[2017-01-09 16:08] kanthchandra commented on #3272
Hi @mbrodala, Every step in your yml like pre_ci, build_ci after_success are scripts which are generated based on the input that you give in your yml. We append some of our predefined functions into these and one such function is shippable_retry which takes in a command as an argument and executes it and incase the exit code > 0 it runs the same command 3 more times. So any command that you supply

[2017-01-09 17:06] manishas commented on #3177
Sorry about the long delay on this. I'll definitely have an answer tomorrow.

[2017-01-09 17:09] manishas commented on #2921
This has been picked up for this month's milestone so should be addressed soon. I'll let you know when it's available.

[2017-01-09 18:38] trriplejay commented on #3269
well, I'm not sure that ECS offers an option to create a container without running it. I think the best solution is what you've already discovered: set essential to false, and use entrypoint `/bin/true`.  This still runs the container, but it immediately exits.  You can check the ECS docs, but I'm not aware of a way to just create a container without any attempt to run it.  The problem is that if

[2017-01-09 20:17] stephanielingwood commented on #3271
Hi @legendik,

Sorry you're seeing this. It looks like the account that set up the billing (and whose card was being billed) has been deleted - which unfortunately means those receipts are no longer accessible. If you need the amount of the charge, that's available for you on the billing tab for the subscription.

Hope this helps. Let us know if you have any other questions.

[2017-01-09 22:27] Zingoer commented on #3269
Thank you for your help! We will try to figure out if there is an alternative solution for our current design.

[2017-01-09 22:27] #3269 closed

[2017-01-10 00:19] GuyMograbi commented on #237
link is broken. can you please comment with the right link?

[2017-01-10 00:27] GuyMograbi opened #3273 "question: How to limit to pull request branches?"
Hi,

I would like to limit my builds to pull requests only.
How can I do that?

I am using a private repo on bitbucket without forks.

Thanks.

[2017-01-10 00:29] GuyMograbi commented on #693
link is broken

[2017-01-10 00:38] a-murphy commented on #3273
Commit builds may be disabled on the project settings tab.

From the project page (click on the project name on a build page if you can't find it):
1. Click on the "Settings" tab on the top.
2.  Then click "Runs config" on the left.
3. Commit webhook builds can be disabled under "Configure Webhook Events for Triggering Builds."

Documentation on the options in this section is available [here](http

[2017-01-10 00:45] abhijitkini commented on #693
@GuyMograbi Here's the updated link: http://docs.shippable.com/ci/advancedOptions/branches/

[2017-01-10 01:31] ryan-kimber commented on #2518
Creating the documentation for this would be really helpful. I've been struggling to figure out why our deploys broke a few weeks back. It turns out it's because of this change to how you've labelled the RC.

I also can't find the Google Container Engine tutorial anymore.

Is Shippable still supporting Google Container Engine deployments?

[2017-01-10 08:18] mbrodala commented on #3272
Thanks for the detailed explanation. Our usecase is this: we use [Bash Task Runner](https://github.com/stylemistake/bash-task-runner) to maintain our build/deploy logic outside of `shippable.yml` via tasks and recipes. It would be really nice if we could integrate `shippable_retry` in our scripts.

Given what you told me it should be perfectly fine however to put `shippable_retry` in front of our

[2017-01-10 08:39] kanthchandra commented on #3272
Yes @mbrodala you can do something like this and it should work. If I have answered your question can I close this issue?
[code]
or in your script
[code]

[2017-01-10 08:41] mbrodala commented on #3272
It did work, but I had to reimplement that function with 5 instead of 3 times. (Don't ask. ;-))

Thanks.

[2017-01-10 08:41] #3272 closed

[2017-01-10 09:37] legendik commented on #3271
I'm sorry but this is not enought for our financial department. Can you please regenerate only december invoice manualy?

And what about future invoices?

[2017-01-10 12:14] vivekna1 opened #3274 "Can I get a bigger Docker to run our tests?"
currently its 4gb ram and CPU - 2 cores ( not sure of the speed)
Our tests are taking a lot of time to run, so can this be increased/ configured ?

Alternatively, Can we connect to an ElasticBeanstalk in BYON model.

[2017-01-11 04:29] manishas commented on #3271
@legendik I can send you the December receipt over email. What email address would you like me to send it to?

[2017-01-11 10:55] legendik commented on #3271
`marek.sneberger@damejidlo.cz`, thanks ;)

The future invoices will be there?

[2017-01-11 17:15] jmarver commented on #3266
H @manishas , thanks for the reply. I appears the timeouts have stopped so I'll close this ticket.

[2017-01-11 17:15] #3266 closed

[2017-01-11 20:10] herriojr opened #3275 "Cancel Should call on_failure case"
In my logs, it looks like when a build is cancelled, it doesn't actually call on_failure (however, it does email for a failure). I need to clean up things on a cancelled build, and I need a way to do it.  Maybe add an on_cancelled section?

[2017-01-11 20:12] herriojr opened #3276 "Tests Directory"
I'm not a big fan of having to copy the tests to a separate directory for my builds. If the tests fail, it will only be copied if there is code in on_failed to copy it over to the directory, which means I need to duplicate the copy code.  It would be easier if it were just a configuration option to tell shippable where the output of tests exists as it would simplify the process.

[2017-01-11 23:16] aedades opened #3277 "Job fails before pulling job image"
A particular job appears to fail during the "Job node info" section, before it runs "pull_job_image".  Rerunning the build fails, though other builds have been successful during this time.

Link to failed build:
https://app.shippable.com/runs/5876babaeda6bc0f007f3faf/1/console

[2017-01-12 00:27] stephanielingwood commented on #3277
Hi @aedades,

Looks like the problem is that the branch name for the job contains parenthesis; removing the parenthesis from the branch name should solve the immediate problem and get your jobs running again. We'll also open a bug internally to escape parenthesis in branch names.

Thanks for letting us know.

[2017-01-12 00:55] aedades commented on #3277
Ah ok, thank you for the quick response!

[2017-01-12 00:55] #3277 closed

[2017-01-12 01:20] BlueDragonX opened #3278 "Pipelines: Support Task Placement in ECS"
ECS allows you to set options for task placement on a service. It would be beneficial if Shippable supported setting these parameters in the pipeline.

[2017-01-12 10:41] daveblake opened #3279 "Shippable builds very slow compared to Codeship"
We're trialling Shippable and Codeship side by side - at the moment Shippable is taking approx 25 mins to build / test whereas the equivalent Codeship build tasks < 4 mins.

I'm really interested if we have a mistake in our configuration or if there is anything we should be doing to improve speeds.

For the following build we had the following times:
https://app.shippable.com/runs/587671feed52f70f

[2017-01-12 11:11] rageshkrishna commented on #3279
@daveblake Does turning off code coverage change things? We've seen issues in the past with phpunit trying to run coverage on everything instead of just your code, but I'm not 100% sure if that's what's causing the slowness that you're seeing. It would be helpful if you could try a build with coverage turned off. Thanks.

[2017-01-12 18:20] darilldrems opened #3280 "Invalid integration for integration type: deploy"
I am trying to set up AWS elastic beanstalk integration and I get the error below when I run the build
"  Errors
Invalid integration aws-eb specified for integration type : deployInvalid integration undefined specified for integration type : deployInvalid integration undefined specified for integration type : deployInvalid integration undefined specified for integration type : deployInvalid integr

[2017-01-12 18:40] trriplejay commented on #3280
It looks like your yml has some errors. it should look like this:
[code]

note that only the top item after deploy has a `-`

[2017-01-12 19:01] daveblake commented on #3279
Thanks - it's down to about 9 minutes not, considerably better but still not as fast.
I've turned on caching and will see if that makes any difference.

[2017-01-12 19:08] manishas commented on #3279
@daveblake We spin up a machine for your builds, and this spin up time adds up to 4 mins for most builds. If a machine is already available in your account, we do reuse it so some builds will seem faster.

To avoid the machine spin up time, you can try using our [BYON feature which lets you run builds on your own machines](http://docs.shippable.com/ci/advancedOptions/byon/). This means you can att

[2017-01-12 19:10] manishas commented on #3177
Still following up on this... I've asked the team to respond with recommended steps so you should see that sometime today. Thanks for your patience!

[2017-01-12 20:07] darilldrems commented on #3280
Thank you. Works fine now but now facing this error:
 Application Name: "pwc-docs"
  Environment Name: "pwc-docs-dev"
  Version Label: "shippable.pwc-docs-dev.shippable.yml.4"
  Region: "eu-west-1"
  Platform: "Node.js"
  Image Name: ""
  Image Tag: ""
  S3 Bucket Name: ""

  echo | eb init "pwc-docs" -r "eu-west-1" -p "Node.js" 0s
Traceback (most recent call last):
  File "/usr/local/bin/eb", lin

[2017-01-12 20:23] trriplejay commented on #3280
I think this is an issue with the version of botocore.
can you add `pip install --upgrade botocore` to the end of your CI?

speaking of which, I notice that you have a `script` section in your yml.  This is an older format that we've since retired, though it still technically works. I'd recommend taking a look at the docs here: http://docs.shippable.com/ci/shippableyml/#anatomy-of-shippableyml

yo

[2017-01-12 21:44] npahucki opened #3281 "Test report no longer parsed, no tests reported"
I'm not sure why it's looking for or found `cobertura-coverage.xml`, we put two files in the testresults `feature-tests.xml` and `xunit.xml`. This used to work fine, I don't think there have been any changes on our end that would have caused this, but it's not out of the realm of possibility. How can I troubleshoot this? HOw can I see what files actually get written to the testresults dir?

[code]

[2017-01-13 00:26] avinci commented on #3177
Currently, we have an issue with this as it will create downtime if you do it and need history. We are internally working on a feature to be able to do this and launch it end of Jan.

But if you want to do it now, its a bit convoluted due to the fact that we actually deprovision your deployed manifest on soft-delete. We have gone back and forth on this and it seems the best approach at that time s

[2017-01-13 00:33] avinci commented on #3274
You can potentially create Custom Nodes and achieve this. This might not be the best case scenario for you as now you have a machine that is running all the time for builds. Are you looking for dynamic nature with custom hosts and hence you are looking for EBS?

It might be an interesting experiment to try but from a real use, EBS will add quite a bit of tax with its layer and then pushing stuff t

[2017-01-13 00:37] avinci commented on #3275
Cancel is not a failure for the system. Its a manual intervention to the workflow. In the current architecture, cancel just kills the build in a brute way.

What you are looking for is force end the build which is not possible today.

Can you try and move the clean scripts to before_script and make it idempotent so that it does the clean when the build starts. This will remove all the remnants fro

[2017-01-13 00:40] avinci commented on #3276
Thanks for the suggestion, we have thought about this in the past and since we had not seen very many people complain about it, it never made it to a release. I will just keep it open and see if people want to +1 it.

[2017-01-13 00:43] avinci commented on #3278
We will implement this feature in our next sprint.

[2017-01-13 00:48] avinci commented on #3279
I think we need to understand if there are pre-reqs in the php composer and npm that cadetship builds machines have preinstalled and when @daveblake is running it on codeship it just skips and we are actually installing them.

One option is also you could build a custom build image that has all the pre-reqs you need and use that for your build.

@daveblake do you know how much of the time is insta

[2017-01-13 00:52] avinci commented on #3281
We are actually working on a feature at this time where you can download all those artifacts. This will be in by end of Jan

second feature we are implementing is to allow debug mode where you will get SSH access to the machine. This should resolve that. Its planned for Feb middle.

In the meantime, as a workaround, you could push it to some external file storage or if you can work with us we can

[2017-01-13 00:53] avinci commented on #3271
We are working on revamping this piece up. You should be able to see future stuff.

[2017-01-13 00:54] avinci commented on #3259
@rlcomte we are looking into this, I will get back to you with an update. Thanks very much for the feedback .

[2017-01-13 01:27] BlueDragonX commented on #3177
@avinci so you're saying following these instructions will incur some down time?

Also, what is a proxy deploy job? You seem to have omitted the part of the explanation that describes what that is.

[2017-01-13 01:34] avinci commented on #3177
No, if you follow the instructions, there is no downtime.

Lets you have a deploy job that deploys `API` to `ECS` called `deploy-prod-api`. This is defined in `repo1`

Now if you delete this YML block from repo 1, the actual service on ECS will get deleted. So what I am saying is create a placeholder (proxy) service.

First copy the `deploy-prod-api` YML block into `repoAll` and call it `deploy-pr

[2017-01-13 03:50] gaumire commented on #3279
@manishas I was looking into the BYON option, a quick question ... how would the pricing work when I have my own infrastructure hooked up with shippable.

* Can I have multiple nodes attached ?
* Where do I configure the resources I hook up to the containers in the node ?
* Are there any limitations on the number of builds I can run concurrently?
* Would the artifacts still be stored in your s3 ?

[2017-01-13 04:35] rageshkrishna commented on #3267
The fix for this issue will be available towards the end of next week (20th January).

[2017-01-13 04:51] rageshkrishna commented on #3224
This will be fixed by the end of next week (around the 20th of January)

[2017-01-13 04:53] kanthchandra commented on #3253
Hi @rarkins, We have implemented the logic for re provisioning nodes for stuck builds and we are in the process of testing it. So this will be available by with the next release (Around Jan 20). Thanks for your patience.

[2017-01-13 04:59] kanthchandra commented on #2746
Hi @mattclay , sorry for the delayed response on this one. We have fixed this some time back. Please let us know if this is still an issue.

[2017-01-13 05:00] kanthchandra commented on #2746
Closing this as resolved.

[2017-01-13 05:00] #2746 closed

[2017-01-13 05:02] rageshkrishna commented on #2964
This information is now available. Clicking on a resource or job in the SPOG will now show you the last update/run time.

[2017-01-13 05:02] #2964 closed

[2017-01-13 05:12] rageshkrishna commented on #3239
@jeppefrandsen Unfortunately, due to other issues this fix will be delayed and not be available today.

The backend is ready, but it's still not possible to configure bigger values from the UI or API. If you can tell me the timeout value you want and the projects you want it on, I can update the system manually to enable it right away on your projects.

The complete feature (including UI update) w

[2017-01-13 05:21] kanthchandra commented on #3183
@czardoz , this has been fixed and is in the process of testing and  will be available with the next release around Jan 20.

[2017-01-13 05:29] jeppefrandsen commented on #3239
@rageshkrishna No worries. Can you configure it for the ASE project to 180 minutes (3 hours)? Thanks a lot

[2017-01-13 05:48] rageshkrishna commented on #3239
@jeppefrandsen It's done. You should see the timeout in effect immediately.

[2017-01-13 05:49] manishas commented on #3279
@gaumire

- how would the pricing work when I have my own infrastructure hooked up with shippable.
Pricing remains the same at $25/mo per parallel build.

- Can I have multiple nodes attached ?
Yes, you can have as many nodes as you have in your pricing plan for the subscription.

- Where do I configure the resources I hook up to the containers in the node ?
Not sure what you mean by this.... you

[2017-01-13 06:10] manishas commented on #3255
Closing this issue. Please let us know if you need more help with anything.

[2017-01-13 06:10] #3255 closed

[2017-01-13 06:12] manishas commented on #3273
Closing.

[2017-01-13 06:12] #3273 closed

[2017-01-13 06:53] herriojr commented on #3275
The only difficulty with this we basically spin up a docker-compose environment to run tests, so when a test starts up from a completely different application, it means I need to basically nuke everything docker-related instead of running docker-compose to shutdown the environment.

I mean, it's doable, but I might as well ask to have the entire docker environment cleaned up between runs by defaul

[2017-01-13 07:34] rarkins commented on #3253
@kanthchandra thanks for the info

[2017-01-13 08:59] mbrodala commented on #3267
Thanks, looking forward to it. :-)

[2017-01-13 10:28] MateuszKubuszok opened #3282 "Support for OpenJDK8 in build matrix"
Could you add support for OpenJDK8? Currently There is only support for Oracle JDK8 or older versions of OpenJDK.

[2017-01-13 10:41] darilldrems commented on #3280
Thank you. Done and everything works fine. I will create a separate issue now on how to implement a certain workflow.

[2017-01-13 10:45] darilldrems opened #3283 "How to implement a certain workflow"
cc: @trriplejay @manishas

I will like to set shippable up in the following way:

- when a PR is done, shippable should run build but not aws integration
- when we merge the PR to master branch shippable should run build for master and if successful run integration deploy to aws
- when we merge the PR to dev branch shippable should run build for dev branch and if successful run integration deploy

[2017-01-13 10:54] manishas commented on #3280
closing this issue.

[2017-01-13 10:54] #3280 closed

[2017-01-13 11:36] daveblake commented on #3279
@avinci

See below images for a breakdown of times from Shippable / Codeship.
What is a bit interesting is Codeship total says 14 minutes but if you add up the individual times it comes to about 10 minutes.

@manishas I will look further into BYON but one of the reasons behind using SAAS is for the simplicity. What sort of size AWS box do you recommend? Can we use the free tier?

![image](https://

[2017-01-13 13:08] npahucki commented on #3281
' if you can work with us we can pull those files out for you so that we can take a look.' - yes, please, how do I work with you on this?

One thing that occurred to me, which I will try is to `ls` the contents of the test output directory.

[2017-01-13 14:35] ryan-kimber commented on #2964
Awesome! Thanks!

On Fri, Jan 13, 2017 at 12:02 AM, Ragesh Krishna <notifications@github.com>
wrote:

[2017-01-13 15:12] mbrodala commented on #3276
I can only talk about our case but we can simply run PHPUnit accordingly as documented and everything (test and coverage output) is put in the expected location.

What are you using and are you not able to configure the output location?

[2017-01-13 15:14] mbrodala commented on #2618
Trying to continue here: could you elaborate on how the values are encrypted exactly? Could I e.g. decrypt them via GPG CLI or similar language functionality?

[2017-01-13 18:42] herriojr commented on #3276
sbt with scoverage -- the documentation is a bit obtuse, so it may be possible.  My googlefu could be off as well.

[2017-01-13 19:02] Kirtap commented on #3242
Hi Manishas,

any update on this? We are adding our 3rd team soon and it will become quite crowded on our build dashboard....

thanks

[2017-01-13 19:53] npahucki opened #3284 "Random failures as of late"
The last week or so, I see a lot of failed build with the following in the log:

[code]

Here is one such example: https://app.shippable.com/runs/58791b4b79509c100049d0ea/1/console

[2017-01-14 23:11] sample-sample opened #3285 "Multiple containers under a ECS Task Definition"
I have two repos A and B and I need both to the run as containers under a single Task Definition in ECS. I am trying to link between containers and it looks like the link flag in dockerOptions works only when the containers exists in the same task definition. To try it, I need to move the containers to the same task definition. How do I do this?

[2017-01-15 20:16] trriplejay commented on #3285
in your manifest job, simply list both image resources as IN statements. this will put them in the same "manifest", which will then become a single task definition when deployed.  the same dockerOptions can be applied to both, or each one can have its own by using the `applyTo` keyword, specifying the image resource name.  You can see some examples here: http://docs.shippable.com/pipelines/jobs/de

[2017-01-16 08:53] elmpp opened #3286 "Missing history and no access to account"
I've come to use my shippable account but am seeing a constant message of "Project sync currently in progress" and in the organisation view the last build time is reading as 5 months ago (it is in daily use until today).

The project id is "579f1f0d104d810c00d91999". Here are screenshots of the offending pages
![screen shot 2017-01-16 at 08 53 08](https://cloud.githubusercontent.com/assets/864612/

[2017-01-16 08:59] jeppefrandsen commented on #3239
@rageshkrishna can you increase timeout to 4 hours. 3 was unfortunately not enough in all cases. Thanks a lot once more!

[2017-01-16 09:10] elmpp commented on #3286
The offending pipeline is "alanpartridge/api". It should be reading as last build from "dev" branch and very recent.

Is this related to the Bitbucket maintenance window perhaps?

[2017-01-16 09:16] kanthchandra commented on #3286
@elmpp I'm looking into it and will get back to you with my findings.

[2017-01-16 09:22] elmpp commented on #3286
that's brilliant thanks

[2017-01-16 09:29] kanthchandra commented on #3286
@elmpp can you check if it works now? It's a bug at our end which will be fixed in the next release. For now I have fixed it for you manually.

[2017-01-16 09:31] elmpp commented on #3286
yes! looks much better in the pipeline page which is good enough for me!

Btw, the org view still shows out of date "last run"

![screen shot 2017-01-16 at 09 30 33](https://cloud.githubusercontent.com/assets/864612/21977569/9403d80c-dbce-11e6-8edd-e7800a2848fb.png)
![screen shot 2017-01-16 at 09 30 42](https://cloud.githubusercontent.com/assets/864612/21977570/94057d42-dbce-11e6-8758-3a39c0b95ca0

[2017-01-16 09:31] #3286 closed

[2017-01-16 09:34] elmpp commented on #3286
Having looked a bit deeper it seems i've lost a build that would have been around 23:30 yesterday (UTC). Probably all part of same bug

[2017-01-16 09:37] kanthchandra commented on #3286
Is it a webhook build?? Can you check if the webhook was delivered on bitbucket and I dont think this bug has anything to do with triggering of builds.

[2017-01-16 09:39] rageshkrishna commented on #3239
@jeppefrandsen I've updated it to 4 hours. Let me know if you need any more adjustments!

[2017-01-16 09:40] elmpp commented on #3286
not really sure how to check webhook history but i see the bitbucket commit 10 hours ago and another commit just now has resulted in a build with no bitbucket config changes.

Can dig a bit deeper if you need but am happy with things. Thanks for speedy response this morning

[2017-01-16 10:06] kanthchandra commented on #3286
In the organizations page we show the latest completed build for all the enabled projects based on the dashboard settings that you have configured in the project settings page. For `api` project you have configured master branch and the last completed build for master branch in api was 70 so it's shown in the dashboard page. More documentation on this can be found at http://docs.shippable.com/navi

[2017-01-16 10:14] elmpp commented on #3286
Oh i see. I've altered that now. Thanks

[2017-01-16 12:03] sample-sample commented on #3285
Thanks for the reply. I got the reference from this link [](http://stackoverflow.com/questions/34517265/linking-containers-between-task-definitions-in-aws-ecs).. just to confirm is it required that both containers be defined under the same task definition? Also, how do I get the name of the container to assign to the --link in dockerOptions?

[2017-01-16 18:05] trriplejay commented on #3285
yes, to use link on ECS, both containers must be in the same task definition.  Your container's name should be the same as the image resource name.

[2017-01-17 01:23] didiersmith opened #3287 "Build fails with virtual memory exhausted: Cannot allocate memory"
I am trying to build a C++ project that I have building using gulp. This works fine locally and on travis, but on shippable, it seems like the build exhausts the available memory. Is there any way we can increase the amount of memory on the build VM?

https://app.shippable.com/runs/587d31fae69a190f002287de/1/console

[2017-01-17 02:36] a-murphy commented on #3287
All builds on Shippable nodes run on machines the same size.  For more memory, you can attach your own, larger, build node to your subscription.  Documentation of the requirements for those nodes and how to add them is available [here](http://docs.shippable.com/ci/advancedOptions/byon/).

[2017-01-17 19:32] npahucki commented on #3284
Anyone? This is becoming a real problem, about 1/3 of the builds fail with this errors, right after npm install.

[2017-01-17 19:33] npahucki commented on #3284
@shrivara can you have someone look at this pls, it's been 4 days since I opened this and not even a comment on it yet. Thanks.

[2017-01-17 19:35] npahucki commented on #3284
Here is another example if you need one: https://app.shippable.com/runs/587e6e6b79509c10004b5cc4/1/console

[2017-01-17 20:22] prokopst opened #3288 ".travis.yml scripts commands are not run as described in the travis documentation"
The travis documentation for `scripts` says:

[source](https://docs.travis-ci.com/user/customizing-the-build#Customizing-the-Build-Step)

So I did have in my .travis.yml multiple commands:
[code]

Unfortunately the nosetests command returned 1 and looks like the coverage related commands were not executed at all:
https://app.shippable.com/runs/587e71bc79509c10004b5ea8/1/console

Note I'm no longer

[2017-01-17 21:04] prokopst opened #3289 "python unknown version defaults to python 2.7"
The [docs](http://docs.shippable.com/ci/languages/python/) don't state that you support python 3.6 (though it was released a month ago), but when I tried to use it, the version was happily accepted. Unfortunately this turned out to be a false positive - although the version was accepted the default one was used because `/usr/bin/python3.6` wasn't found.

Build:
https://app.shippable.com/runs/587e8

[2017-01-17 21:34] trriplejay commented on #3284
It looks like something is causing your build script to exit suddenly. We're investigating.

[2017-01-17 22:30] herriojr opened #3290 "Updating Branches to be Displayed"
I keep updating this to show my develop branch and remove my master branch, and somehow it keeps reverting back on its own to only show the master branch.  This seems to be done after I do a build for that particular repository.

[2017-01-18 00:11] stephanielingwood commented on #3290
Hi @herriojr,

Sorry to hear you're seeing this. I just tried and was unable to reproduce the problem - would you mind sharing a screenshot of the page where you're still seeing the master branch? If you'd rather not share it here, you can email it to stephanie at shippable dot com. Thanks.

[2017-01-18 00:28] pwarnock commented on #2876
Closing this issue since the feature is now supported. http://docs.shippable.com/pipelines/resources/loadBalancer/

[2017-01-18 00:28] #2876 closed

[2017-01-18 07:51] osumampouw opened #3291 "shippable shows "Project sync currently in progress" and build failure due to normalizeRunYml problem"
### Description of your issue:
I had build failure like this:
common|github|normalizeRunYml|callerId:552c7ed05ab6cc1352c30105|projectId:552c7ec75ab6cc1352c300d8|__getYmlString could not fetch run yml file path/sha: .shippable.yml/a1d8098f0cbd23535b667661c00f8f4cd14485b1

and since 1 hour ago, when I go to the CI page, there this message
"Project sync currently in progress" and I didn't do anything

[2017-01-18 07:54] kanthchandra commented on #3291
Hi @osumampouw , I'm looking into this. Will get back to you with my findings.

[2017-01-18 08:09] kanthchandra commented on #3291
Hi @osumampouw

"Project sync currently in progress" and I didn't do anything. Earlier today, there was nothing wrong, everything seems to work fine

This message is because of a bug at our end where we were not handling the case when the call to github fails. I have fixed this manually for you for now. Next week we will roll out a fix for this.

common|github|normalizeRunYml|callerId:552c7ed05ab6

[2017-01-18 08:16] osumampouw commented on #3291
Thanks for your fast reply.

I tried rebuilding again, and I got this error:
[code]

[2017-01-18 08:18] osumampouw commented on #3291
the error when rebuilding:
[code]

https://app.shippable.com/runs/587f15646fb9b00f00983307/1/console

lemme try a dummy commit

[2017-01-18 08:22] osumampouw commented on #3291
dummy commit also failed
https://app.shippable.com/runs/587f25722dc01310002c7c48/1/console

[2017-01-18 08:44] mbrodala opened #3292 "Cannot use SHIPPABLE_PHP_VERSION in image_tag"
I just tried to use the `php` image for a build and have used `${SHIPPABLE_PHP_VERSION}-cli` as value for `image_tag` in `pre_ci_boot`:

[code]

However, this value does not seem to be filled at this point:

[code]

If this is not supported, how else would I go about running multiple jobs with different PHP versions?

[2017-01-18 09:09] pkaminski opened #3293 "All repos, subscriptions disappeared"
When I try to load the dashboard for one of my projects that was working fine earlier today, I get a slew of errors on the page:

[code]

Looks like something is very broken with Shippable?

[2017-01-18 09:42] rageshkrishna commented on #3293
@pkaminski We have been seeing quite a few errors from the GitHub API in the past couple of errors. This may have caused your permissions to have been synchronized incorrectly. Can you please try syncing your account from the account settings page now? It should restore everything for you.

[2017-01-18 09:45] rageshkrishna commented on #3292
This will be fixed by https://github.com/Shippable/support/issues/3224, which should be available by the end of the week.

Closing as duplicate.

[2017-01-18 09:45] #3292 closed

[2017-01-18 09:47] pkaminski commented on #3293
Thanks, that did the trick.  Might be nice if Shippable did this automatically when every call is failing, or at least provides a tip that this may fix things...

[2017-01-18 09:47] #3293 closed

[2017-01-18 09:54] tjomk commented on #2019
@abhijitkini this is only for GitHub :(

[2017-01-18 09:55] tjomk commented on #905
@manishas @abhijitkini all Bitbucket tickers refer to this one, yet you have only added GitHub support. What's the state with BB?

[2017-01-18 09:59] mbrodala commented on #3292
It looked similar indeed, just wanted to be sure it *is* the same issue, thanks. ;-)

[2017-01-18 10:00] mbrodala commented on #2019
@abhijitkini That page is empty. :-)

[2017-01-18 12:22] vivekna1 opened #3294 "Email reports generated by code coverage"
There are certain reports that are generated in our shippable/codecoverage folder.

This is generated by our Ruby - rpsec command. the output being copied to shippable/codecoverage.

Now this is not in a format shippable can read and print in the coverage tab( it is in html format) ... can this be attached in the same email that is being sent to people / team configured in the notifications tab.

[2017-01-18 13:21] legendik commented on #3271
@manishas Can you please send me the invoice over email?

[2017-01-18 15:00] tjomk opened #3295 "API returns "No projects found" for all post requests"
When running `curl -H 'Content-Type: application/json' -H 'Authorization: apiToken XXXX' https://api.shippable.com/projects/57f39f016d80900e003aae80` I get back project information.

However when running `curl -H 'Content-Type: application/json' -H 'Authorization: apiToken XXXX' https://api.shippable.com/projects/57f39f016d80900e003aae80/newBuild` I'm getting `{"logType":"verbose","methodName":"/p

[2017-01-18 15:30] PaulWebbster commented on #3291
@kanthchandra We have exactly the same problem here:
https://app.shippable.com/projects/5823ed402bd9170f00a6d2c2/status/
If you can fix this manually we will be nice.

Thanks

[2017-01-18 15:34] kanthchandra commented on #3291
@PaulWebbster , sorry for the inconvenience. I have reset it manually for you.

[2017-01-18 15:39] kanthchandra commented on #3291
@osumampouw Yes, if github API calls are erroring out/timing out I'm afraid any build that you try will fail and there is not really anything that we can do without getting the data from github.

[2017-01-18 17:03] ykrevnyi opened #3296 "rSync is unremovable"
Hey, guys

There is one problem with jobs. One of them cannot be deleted.

What I did:
- added sync repository (with probably broken .yml syntax)
- got job `retryer.js_ci_rSync`
- then I removed all sync repositories
- one job got stuck (job name `retryer.js_ci_rSync`)
- aaand I can't remove it

The job looks like:
[code]

How is it possible to remove it?

Thanks

[2017-01-18 17:23] a-murphy commented on #3295
It looks like the apiToken you're using doesn't have write access to the project.  Could you check that the token belongs to an account that would be able to push to the repository and try synchronizing that account?  To synchronize an account, click on the gear icon in the top right corner while logged in as that account and then click the green "sync" button.

[2017-01-18 17:36] a-murphy commented on #3296
Would you mind including a link to the subscription?  Removing the syncRepo usually removes the rSync job, so we'd like to be able to see what exactly is stuck.

[2017-01-18 21:13] lukehutton opened #3297 "Bower components not installing"
Have there been any reports from users on bower install not properly installing packages? I have noticed in past day, not all packages have been downloaded and extracted, even though bower logs in shippable console say they have installed

Build: https://app.shippable.com/runs/587fd58a2f36a111000ea4e1/1/console

In shippable.yml:
`shippable_retry bower --allow-root install`

Console output says in

[2017-01-18 23:11] a-murphy commented on #3297
Sorry, we haven't gotten any other reports about errors with Bower and haven't changed anything recently that could be related to your error.  It does sound like a package that you use was likely updated.  Bower itself does not appear to have been, but it may be worth checking the other packages you're using to see if an update may have resulted in a conflict.

[2017-01-18 23:23] lukehutton commented on #3297
Thanks for looking into, and I apologize. It turns out that it was indeed package issue. Downgraded and it worked so will dig into the component. Cheers. Closing.

[2017-01-18 23:23] #3297 closed

[2017-01-19 00:19] BlueDragonX commented on #3185
I've encountered another use case that makes this feature critical for us.

We're attempting to add new automation around ECS services. Specifically we would like to create our own load balancer which can monitor tasks in a particular ECS service. Doing so requires that we can look up services in the ECS API by name. The fact that Shippable generates these names adds a layer of complexity to the i

[2017-01-19 00:47] BryanCrotaz opened #3298 "api runs/:id returns 404"
Trying to get latest run for each active branch on a project:

1 `GET /projects`
2 gives list of active branches (i.e. not deleted in git) for each project
3 for each project, `GET /projects/:id/branchRunStatus`
4 filter only branches found in step 2 (why is this list of branches different to step 2?)
5 for each branch remaining, `GET run/:runNumber` - runNumber comes from step 4
6 error: `404`

I

[2017-01-19 01:01] a-murphy commented on #3298
The `runNumber` is a consecutively-assigned number for the run within the project.  It's displayed on Shippable to make it easier to identify and compare runs within a project.  The `runId` is `id` in the objects returned by `GET /projects/:id/branchRunStatus` and will uniquely identify a particular run without requiring additional information, such as the project.

Regarding the question on 4, `G

[2017-01-19 02:36] BryanCrotaz commented on #3298
aha!

However... branchRunStatus only returns the latest completed run.

I want to get the latest run for each branch, including when there's one in progress or queued. How do I do this?

[2017-01-19 05:32] kanthchandra commented on #3298
If my understanding is correct, you want to get the latest run for each branch irrespective of their status (processing, waiting, success, timeout, canceled, failed, unstable, skipped all these status will be included) and also whether it's a PR or not.

1. `GET /projects` - this will return all the projects that the token has access to.
2. Select the list of branches for the project (P) that you

[2017-01-19 06:21] ykrevnyi commented on #3296
Thanks for reply @a-murphy !

Did you mean this link?
https://app.shippable.com/subscriptions/587cc538e69a190f00223c4a/pipelines/jobs

[2017-01-19 08:56] phagunbaya opened #3299 "Incorrect nodejs version"
My base image is `drydock/u14nod:prod` and my `shippable.yml` looks like:
[code]
When starting the build is trying to download node v7.4.0
[code]
But when I check the npm and node version within my shell script it says node v0.10.11
[code]
NOTE : In before_build.sh I'm referencing node and npm as
[code]

Build run for reference: 58807a29eda6bc0f0082c44c

[2017-01-19 08:58] tjomk commented on #3295
Yes, I did that under my account (I am repository admin). Although shippable thinks that I am not the owner.
In the end we removed the whole thing from Shippable completely and re-added. Then it started working.

[2017-01-19 08:58] #3295 closed

[2017-01-19 09:58] phagunbaya commented on #3299
I think I found the solution. It should be
[code]

[2017-01-19 09:59] rageshkrishna commented on #3299
@phagunbaya You're right.

We use `nvm` to switch node versions. This does _not_ update the binaries in /usr/bin, but instead updates your path to use the binaries it downloads when you ask for a specific version.

Any reason you need to create links in your build scripts? Just running `node --version` will do the right thing.

[2017-01-19 10:15] phagunbaya commented on #3299
@rageshkrishna : The only reason to keep them as absolute path is to avoid any discrepancies that might occur due to two binaries having same name appear on the environment PATH.

[2017-01-19 11:08] BryanCrotaz commented on #3298
could you either fix branchRunStatus to return the latest branch regardless of status, or add to the docs to make it clear that it only returns the latest completed run? Maybe it could take an queryString `status` to get the latest run that has one of the statuses supplied? `status=all` would give the result I was looking for

[2017-01-19 12:21] BryanCrotaz opened #3300 "filtered /runs api does not return runs that are in `status 0`"
`/runs?projectIds=${id}&branch=${branchName}&limit=1&maxRunNumber=999999`
does not return runs that are in `status 0`

[2017-01-19 12:23] BryanCrotaz commented on #3298
also see #3300

[2017-01-19 14:47] navymaker opened #3301 "Branches to be displayed"
Hi,
I have some issues setting Branches to be displayed on Dashboard/CI page, it resetting continuously after my modifications. Other settings such as "Configure Webhook Events for Triggering Builds" works as expected.

[2017-01-19 15:01] navymaker opened #3302 "Trigger Notifications adding issues"
Hi,
I have issues with adding trigger notifications to trigger pipelines from CI builds.
When I'm trying to add integration in subscription settings, I getting following error:
(Id: 4011) subscriptionIntegrations.create failed with error: Validation error
verbose: subscriptionIntegrations|post|callerId:57bec88cdf04f70e0042be97|_post
Its actually added after that, though, and works in most cases. I

[2017-01-19 15:09] navymaker opened #3303 "Trigger Notifications issues"
I'm trying to configure trigger notifications to trigger pipeline from CI builds for this project:
https://app.shippable.com/projects/57bcb6573d3c340e000348ed
Its added successfully, except of this issue: https://github.com/Shippable/support/issues/3302, but doesn't actually works. Triggers for other project works fine, but sometimes, not often, its stops working and starts working only after dele

[2017-01-19 15:27] sumothecat opened #3304 "Boto not installing (?)"
### AWS EB deployment not working due to boto not installing (?)

Attempting to set up AWS EB deployment (without Docker - we were previously using Docker). It appears to be failing on installing the AWS boto library.

- Link to the build failure https://app.shippable.com/runs/5880d809eda6bc0f0082f8ed/1/console
- Scripts called from the yml (optional) https://github.com/jncc/deli/blob/master/shipp

[2017-01-19 15:32] kanthchandra commented on #3298
Hey @BryanCrotaz, I will look at #3300 . In the mean time can you try this `https://api.shippable.com/projects/:id/branchRunStatus?status=incomplete,complete` This should fit your usecase. I missed looking into the API carefully.

[2017-01-19 16:52] a-murphy commented on #3304
It looks like an outdated version of botocore.  Could you add the following to the end of the `ci` section in your `shippable.yml`?
[code]

It will update the version of botocore in the container and should fix the error.

[2017-01-19 17:32] a-murphy commented on #3301
This sounds like it might be a duplicate of #3290.  Would you mind clarifying if the dashboard doesn't match the settings or if the settings themselves are changing?  And a link to the project or dashboard where you're seeing this would be great as well.

[2017-01-19 18:01] npahucki commented on #3284
Anything guys? We are having a really hard time when I need to rerun over 50% of the builds which take 15 minutes each.

[2017-01-19 18:01] a-murphy commented on #3303
The recent builds in that project don't appear to have the event trigger integration in the `shippable.yml` file.  Could you check that the integration is listed in the `notifications` section of `integrations` in the following format?

[code]
Quite often, integrations that aren't working turn out to be indentation that isn't quite right or a `shippable.yml` that has two `integrations` sections (t

[2017-01-19 18:02] navymaker commented on #3301
Yes, its seems like similar issue, when I'm update settings, dashboard shows me correct branch, but its resetting after several builds, I think. I'm experienced this issues with almost all projects in this subscription: https://app.shippable.com/subscriptions/549abdcad46935d5fbc0f5aa

[2017-01-19 18:06] trriplejay commented on #3284
we haven't been able to reproduce this. our best guess so far is that something in your npm install is running its own script which may be exiting with a bad code, causing our handler to treat it like a build failure.  Would you be able to provide us with your package.json?

[2017-01-19 18:13] npahucki commented on #3284
I will provide the package.json but I don't want to attach it here. Please send me an email address to which I can send it.

[2017-01-19 18:22] navymaker commented on #3303
I'm found typo in notifications name in recently added project, sorry, my bad.

About stopping triggers, I'm experienced this issue for example with this project:
https://app.shippable.com/projects/57bcb656503ad81000c7abfb
When I'm added it about several weeks ago, its works fine, but about one week ago triggers stopped working for this project, but not for similar projects in our subscription. I

[2017-01-19 18:24] trriplejay commented on #3284
john@shippable.com

thanks.

[2017-01-19 18:38] a-murphy commented on #3296
Thank you for the link.  We've looked into it and the rSync job isn't attached to any other resources that would prevent deletion.  We're looking into how this got into such an unusual state. The only option to remove it right now is if we remove it for you.  Would you mind if we remove it?

[2017-01-19 18:59] a-murphy commented on #3300
The default `/runs` sort order is by `startedAt`, which puts the runs with status `0` at the bottom of the list because they haven't started yet.  You can add a different sort order, such as `sortBy=createdAt`, to your query.  I would suggest sorting by `createdAt` or `runNumber` in your case.  The default sort direction is descending, so sorting by `createdAt` or `runNumber` will return the most

[2017-01-19 19:33] stephanielingwood commented on #3301
Thanks for sharing the link - that helped us find it. Looks like there's a bug in our project sync flow that is resetting the branches to be displayed. We've opened a bug internally to fix this and will let you know when it's deployed.

[2017-01-19 19:36] stephanielingwood commented on #3290
Thanks for letting us know about this. We found the bug - it looks like our project sync flow is accidentally resetting the branches to be displayed. I'm going to close this issue, as it's a duplicate of https://github.com/Shippable/support/issues/3301; we'll post in that issue's comments when we have the fix deployed.

[2017-01-19 19:36] #3290 closed

[2017-01-19 20:07] stephanielingwood commented on #3302
Hi @navymaker,

Would you mind double-checking that you don't already have a subscriptionIntegration in that subscription with the same name? That's the main culprit for getting a validation error in this scenario, as we require that subscriptionIntegration names be unique within the subscription. That might also explain why it seems like it's added, because it's already there.

[2017-01-19 20:14] navymaker commented on #3302
No, this is always a new integration for new project. But I'm adding account integration and subscription integration with the same names, maybe that names are interfering to each other.

[2017-01-19 20:29] a-murphy commented on #3303
It looks like the API token used by the trigger that stopped working was most likely deleted. Unfortunately, I can't confirm that at this point because the integration has been deleted.  Let us know if one of your triggers stops working again.

[2017-01-19 20:35] stephanielingwood commented on #3302
It's okay to have your account integration and your subscription integration with the same name; personally, I do that all the time to keep myself organized.

Would you mind walking me through how you're creating the new account and subscription integrations? If you're creating them from the account integration page, and selecting the subscription from the dropdown, then the subscription integrati

[2017-01-19 21:14] navymaker commented on #3303
Ok, thanks.

[2017-01-19 21:23] navymaker commented on #3302
Yes, I'm choosing subscription in account integration and then trying to add subscription integration. I think following tutorial is outdated:
http://docs.shippable.com/tutorials/pipelines/connectingCiPipelines/
Can you please update it?
Thanks, closing this issue.

[2017-01-19 21:23] #3302 closed

[2017-01-20 07:14] #3239 closed

[2017-01-20 08:22] haf opened #3305 "app.shippable.com cannot be used without circumventing security warnings"
### Description of your issue:

<img width="1066" alt="screen shot 2017-01-20 at 09 20 27" src="https://cloud.githubusercontent.com/assets/193115/22141357/fa978c3c-def1-11e6-96c7-a4888c9df093.png">

[2017-01-20 09:19] kanthchandra commented on #3305
Hi @haf , Can you please let us know since when did you start running into this issue? and also the browser and the version.

I'm running chrome and firefox on linux but my browser doesn't say broken https.
![selection_337](https://cloud.githubusercontent.com/assets/1583444/22143294/8d0814d8-df1f-11e6-8bce-322a160e4052.png)

[2017-01-20 09:20] kanthchandra commented on #3298
Hi @BryanCrotaz did the above api call solve the issue for you?

[2017-01-20 09:22] kanthchandra commented on #3300
Hi @BryanCrotaz did the above solution work for you?

[2017-01-20 09:35] ykrevnyi commented on #3296
Yes, please!
It would be great

[2017-01-20 10:47] pmezard opened #3306 "Builds randomly fail on ssh permission denied"
Hello,

Some of our builds fail with:
[code]

It only affects specific projects (apparently on all branches) like:

https://app.shippable.com/runs/5881e78fcf5ace0f006547d0/1/console

But not others like:

https://app.shippable.com/runs/5881e59bdc1a121000f83c9a/1/console

Note that the first project was building ~10 hours ago, but triggered by another user:

https://app.shippable.com/runs/58816944e

[2017-01-20 10:55] sumothecat commented on #3304
Thank you, that fixed.

[2017-01-20 10:55] #3304 closed

[2017-01-20 11:09] rageshkrishna commented on #3306
@pmezard We did a quick check at our end and it doesn't look like any keys were changed on your project on Shippable so it's strange that you're seeing authentication errors. Can you please verify whether our deploy key still exists on BitBucket for this repository?

[2017-01-20 12:08] ankur--bhatia opened #3307 "ntp clock sync on shippable job node"
### Description of your issue:
Our deployments using elastic-beastalk started to fail recently. Digging into the logs, we saw that aws is rejecting our operation because the job-node time is over 5 min off.

NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
   https://app.shippable.com/runs/587e5feceda6bc0f0081df42/1/console
  * the step that fails is =>

[2017-01-20 12:21] kanthchandra commented on #3307
Hi @ankur--bhatia This was fixed last december. Can you please reset your node and your node should be in sync with clock servers.

[2017-01-20 12:24] BryanCrotaz commented on #3300
sorting by createdAt solves this.

However it's not restful so it requires a lot of queries every few seconds to get the current set of runs for all our 100+ branches. For example if the latest run id was listed on the branch then I'd know there was no need to send a search for a newer run. Equally if the run is ended then there's no need to query for the run state.

[2017-01-20 12:30] ankur--bhatia commented on #3307
@kanthchandra how do I reset the the node.

[2017-01-20 12:36] pmezard commented on #3306
This is it thanks. There was a shippable key labelled "Shippable Generic" registered in the project, which was different from the "shippable-production" registered in a working project. I reset the project in shippable and it fixed the issue.

Thanks.

[2017-01-20 12:36] #3306 closed

[2017-01-20 12:40] kanthchandra commented on #3307
Go to subscriptions -> Settings -> nodes. You will see a list of nodes and beside each node you will see 3 options, Edit-Reset-Delete. You can reset the node by clicking on reset.

[2017-01-20 15:53] ankur--bhatia commented on #3307
👍  thank you for the quick response

[2017-01-20 16:42] a-murphy commented on #3296
I've removed it.  Let us know if you need anything else.

[2017-01-20 17:40] stephanielingwood commented on #3302
Hi @navymaker,

The tutorial is now updated. Thanks for letting us know about the needed update.

[2017-01-20 18:35] navymaker commented on #3302
That's nice, thanks!

[2017-01-20 18:39] haf commented on #3305
It's chromium, the newest version of chrome but without the telemetry to google.

[2017-01-20 19:29] belak opened #3308 "Triggered build on bitbucket branch never starts if it contains a slash"
This is a duplicate of #1205 because I wasn't able to get a response there or by directly emailing who closed the ticket.

It was closed because it was stated that there was no way for Shippable to fix this, however there is an additional endpoint which should be used to get the commit hash for a branch. I've copied my response from #1205 as it should provide the information needed to fix this.

[2017-01-20 22:44] TheFarmer1 opened #3309 "new build failure with on docker call: AttributeError: 'module' object has no attribute 'get_config_header'"
We're getting a build failure that just started in the last day or two.  Looks like it's related to https://github.com/docker/docker-py/issues/1353

https://app.shippable.com/runs/58828f88384d1f1000961b78/1/console

[2017-01-21 01:55] a-murphy commented on #3309
Since a [new version of docker-compose](https://github.com/docker/compose/blob/master/CHANGELOG.md) was recently released, you may want to try specifying the previous version in your `shippable.yml` to see if that helps.  A `pip install` command specifying the previous version would be `pip install docker-compose==1.9.0`.

[2017-01-21 05:55] manishas commented on #3307
closing

[2017-01-21 05:55] #3307 closed

[2017-01-21 05:57] manishas commented on #3296
Closing this.

[2017-01-21 05:57] #3296 closed

[2017-01-21 05:58] manishas commented on #3285
Closing this issue since the qs is answered.

[2017-01-21 05:58] #3285 closed

[2017-01-21 06:00] manishas commented on #3291
@kanthchandra can you update the issue when the fix for failed github calls is deployed?

[2017-01-21 06:01] manishas commented on #3303
Closing.

[2017-01-21 06:01] #3303 closed

[2017-01-21 06:04] manishas commented on #3267
This should be fixed now, so closing. @mbrodala please let us know if it works as expected now.

[2017-01-21 06:04] #3267 closed

[2017-01-21 06:05] manishas commented on #3253
@kanthchandra if this was included in our latest deployment, can you please confirm and close this issue?

[2017-01-21 06:07] manishas commented on #3252
@knowredev I am closing this issue but if you still need help with this, happy to reopen. Let us know.

[2017-01-21 06:07] #3252 closed

[2017-01-21 06:08] manishas commented on #3249
@Neal910 this is definitely on our radar. I'll update you when we address this scenario.

[2017-01-21 06:10] manishas commented on #3271
this is done, closing.

[2017-01-21 06:10] #3271 closed

[2017-01-21 06:38] manishas commented on #3185
@BlueDragonX thanks for the note. I'll notify the team.

[2017-01-21 14:19] kanthchandra commented on #3253
@manishas Yes, we have fixed this in our latest issue. For some reason if the jobs get stuck, now we reprovision the nodes. @rarkins Please let us know if you run into this again.

[2017-01-21 14:19] #3253 closed

[2017-01-21 14:24] kanthchandra commented on #3291
@manishas this is fixed. Closing this.

[2017-01-21 14:24] #3291 closed

[2017-01-21 14:37] kanthchandra commented on #3028
@manishas This has also been fixed in the latest release. If for some reason the job gets stuck without a node being provisioned, we reprovision the nodes. Ideally a node should come up in 3 minutes and should start processing your jobs. In case the node doesn't come up even after 10 minutes, we delete that node and reprovision another one.

 @rarkins Please let us know if you run into this in fut

[2017-01-21 14:37] #3028 closed

[2017-01-21 14:41] kanthchandra commented on #3183
@czardoz this has been fixed in the latest deployment. Please let us know if this is still a problem. Closing this issue.

[2017-01-21 14:41] #3183 closed

[2017-01-21 14:45] kanthchandra commented on #3224
@desoukya This has been fixed with the latest release and you will be able to use env variables in pre_ci and pre_ci_boot sections. So please try it out and let us know if it works for you.

[2017-01-21 14:45] kanthchandra commented on #3292
@mbrodala This has been fixed with the latest release and you will be able to use env variables in pre_ci and pre_ci_boot sections. So please try it out and let us know if it works for you.

[2017-01-21 14:46] desoukya commented on #3224
Thanks!

[2017-01-21 15:15] #3224 closed

[2017-01-22 14:50] ykrevnyi opened #3310 "Webhook integration ignoring branches property"
Hey guys,

Seems like `branches` property (webhook integration) does't work correctly.

I have two types of branches:
- `master`
- `release` (`release/v0.1.0`, `release/v0.1.1` ..)

At `CI`s level there is (works):
[code]

If I put integration without `branches` property - everything works just fine:
[code]

But if we add `branches` section:
[code]

it doesn't work at all.

I also tried different

[2017-01-22 15:00] ykrevnyi opened #3311 "Incorrect env.BRANCH property"
Hey,

There is git repo with branch `release/v0.1.6`.
But in `env.BRANCH` there is only`v0.1.6` (without `release/` prefix).

Link to the git repo: https://github.com/ykrevnyi/retryer.js/tree/release/v0.1.6
Link to the build: https://app.shippable.com/runs/5884c1f9aebc4e0f00801304/1/console

UI bug: http://take.ms/z8Eab
UI bug 2: http://take.ms/pa3lY

### shippable.yml

[code]

[2017-01-23 05:21] harryi3t commented on #3305
@haf we have fixed this issue. This fix will be available in the next production deployment.

[2017-01-23 05:38] manishas commented on #2795
@rageshkrishna can we address this? We need some indicator in the Subscription dropdown menu that shows which source control provider it is associated with.

[2017-01-23 08:18] mbrodala commented on #3267
Yes, looks perfect now:

![image](https://cloud.githubusercontent.com/assets/5037116/22196295/d84c7392-e14c-11e6-91bd-2a9a51c77797.png)

![image](https://cloud.githubusercontent.com/assets/5037116/22196308/ed3b3770-e14c-11e6-8d2c-29303d84093b.png)

Thanks a lot for fixing this!

[2017-01-23 08:24] mbrodala commented on #3292
I just retried and it still does not work, I get [exactly the same error](https://app.shippable.com/runs/5885bcf23b7d560f0092831d/1/console).

[2017-01-23 08:46] rageshkrishna commented on #3311
Hi @ykrevnyi! Looks like a couple of things are going on here:

1. The branch name on the linked build is actually correct. When you create a release on GitHub, a tag with the same name is automatically created. The build you've linked to is the result of a tag webhook, not a commit to a branch. In this case, the tag is named `v0.1.6` and that's what we populate in the `$BRANCH` env var.

1. We de

[2017-01-23 08:59] ykrevnyi commented on #3311
Thanks for response @rageshkrishna !

I can't really agree with the 1st point. If the tag name is `v0.1.6` then its okay. But why should it be populated into the `BRANCH` env variable? There is also `GIT_TAG_NAME` env variable as well.

It doesn't make sense to reference the `tag` (from github) via variable `BRANCH`.

Also is there any way to get the **branch name** from the env ATM? I cant find i

[2017-01-23 09:01] rageshkrishna commented on #3310
@ykrevnyi Thanks for reporting this. It looks like we have a bug with processing wildcards in the branches list for notifications. We'll look into this very soon.

[2017-01-23 09:10] rageshkrishna commented on #3308
Thanks @belak for the workaround. Our BitBucket customers have been waiting for a long time for this. I'm going to tag this as a feature request, but we definitely want to get this done very soon.

[2017-01-23 09:20] rageshkrishna commented on #3311
For normal commits, `BRANCH` will indeed contain the name of the branch that is being built.

If you really need to tell the difference between tag, release and commit builds, we also have `IS_GIT_TAG` and `IS_GIT_RELEASE`. You can potentially use these variables to decide whether you want to look at `BRANCH`, `GIT_TAG_NAME` or `RELEASE_NAME`.

Regarding why this value also shows up in `$BRANCH`,

[2017-01-23 14:20] caleblloyd opened #3312 "GitHub Webhook Not Running for people who have not logged into Shippable"
I have 3 people in my Repository.  2 have logged into shippable and Github webhooks are run properly when they commit.

1 person has not logged into shippable and Github webhooks are not run at all when they commit.

Please email me at caleb.lloyd at issuerdirect.com for more info.

[2017-01-23 15:44] jmarver opened #3313 "Shippable website not working with IE 11 anymore"
### Description of your issue:
Starting late last week I'm unable to access https://app.shippable.com/ using IE 11. The life preserver ring image shows up and spins but that's is far as it goes. I'm able to work okay with Chrome.

Is IE 11 no longer supported?

[2017-01-23 16:14] rageshkrishna commented on #3313
@jmarver Thanks for reporting this. It looks like a strict mode violation slipped through in one of the changes that we launched a few days ago. We'll have this fixed very soon. Sorry for the trouble.

[2017-01-23 17:19] nealeu opened #3314 "Notification integrations are throwing error despite the integration being set up"
I'm trying to get slack integration up and running, but whatever I try, I'm not getting an integration name match.
I've tried slack-integration in both the integration settings and my yml and it says slack-integration isn't found, so I've tried changing it, and get:

    Errors
        Integration name specified in yml does not match integrations present
        in Subscription settings: slack

[c

[2017-01-23 17:25] nealeu commented on #3314
it would also help to show both ends of what you are reporting in that error, which would mean my error should be reading:

    Integration name 'slack' specified in yml does not match any of the following integrations present in Subscription settings: ['slack']

  Ah.. and in writing that up, I realise that there are two touch points.

Another thing you could do here is to put a link in to "Subsc

[2017-01-23 17:54] a-murphy commented on #3314
It sounds like you may have already found it, but you have to add the account integration to the subscription to allow it to be used by builds in that subscription.  If you go to the subscription page (click the subscription name in the top corner from the build page or choose it in the top left dropdown), then click the settings tab, and integrations on the left, there is a list of integrations t

[2017-01-23 19:38] nealeu commented on #3314
Thanks. Yes.  Hope you will consider the suggestions for saving people missing the subscriptions vs integrations confusion

[2017-01-23 19:38] #3314 closed

[2017-01-23 19:48] trriplejay commented on #2973
AWS_IAM has been added as a valid deployment provider. closing.

[2017-01-23 19:48] #2973 closed

[2017-01-23 19:52] trriplejay commented on #3284
Still haven't been able to reproduce. using your package.json, we've run many builds and have yet to see the failure ourselves.  Our builds don't include every piece of the package.json, though. Any chance one of your subscription's specific dependencies might be causing this?

[2017-01-23 20:02] shaned-maplight opened #3315 "Team member access"
After reviewing ticket #2898 , I am still having trouble setting up other colleagues in Shippable.  I have a project setup in Shippable that builds a repo.  Multiple team members have access to that repo in Github.  However, when they login to Shippable with their GitHub credentials, they cannot see my project.  I could not find a link in the docs that described how to add other users to my projec

[2017-01-23 20:10] a-murphy commented on #3315
If this is a private GitHub repository, the other users may not have enabled private GitHub repositories on Shippable.  Each user must enable access to private repositories in order to see private projects on Shippable.  This may be done by clicking "enable" next to GitHub on the [account settings page](http://docs.shippable.com/navigatingUI/accountSettings/accounts/).  There isn't any way to add

[2017-01-23 20:22] shaned-maplight commented on #3315
Thanks @a-murphy , but this is a public repo.

[2017-01-23 20:34] a-murphy commented on #3315
In that case, do the users have read or write permissions on GitHub?  Or can they access the GitHub repository simply because it's public?

The users will only have permissions on Shippable if they have the same permissions on GitHub.  So, the subscription won't be in their list of subscriptions if they weren't granted at least read access to the repository.  However, if they click a link to a pub

[2017-01-23 20:52] shaned-maplight commented on #3315
The users belong to the repo, and the repo belongs to an org.  The users are also a part of that org.

[2017-01-23 21:12] TheFarmer1 commented on #3309
Thanks!   Docker-compose has acknowledged the problem and will fix it.  Resorting to earlier version works for us for now.

[2017-01-23 21:12] #3309 closed

[2017-01-23 21:17] a-murphy commented on #3315
In what way do they users belong to the repo?  Were they added individually as collaborators, or as part of a team?

[2017-01-23 23:05] ryancampbell opened #3316 "ImportError: No module named packaging.version"
echo | eb init "acm-risk-alive" -r "us-east-1" -p "64bit Amazon Linux 2016.03 v2.1.3 running Docker 1.11.1" 0s
Traceback (most recent call last):
  File "/usr/local/bin/eb", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 70, in <module>
    import packaging.version
ImportError: No module named packa

[2017-01-23 23:51] shaned-maplight commented on #3315
They are not part of a team, but are listed as collaborators with Write access.

[2017-01-24 00:09] a-murphy commented on #3316
It looks like something is wrong with one of the awsebcli dependencies, causing the awsebcli installation to fail.  We have not yet determined which dependency or why it changed.

[2017-01-24 00:51] a-murphy commented on #3315
We've tried that setup, and it appears to work.  Could you double-check that these users are in fact listed under "collaborators" on GitHub's repository settings page?  And are listed as "owners" on the GitHub organization people tab?   It may also be worth asking them to click the "sync" button on their Shippable account settings page, just in case.

[2017-01-24 02:12] ryancampbell commented on #3316
@a-murphy thank you, I'll watch for updates.

[2017-01-24 02:33] a-murphy commented on #3316
It looks like a new version of `setuptools` was released and the dependencies of that dependency (`packaging` and `appdirs`) are causing the problem.  Installing the latest version of `setuptools` or its dependencies before `awsebcli` appears to help.  So, adding either `pip install packaging=16.8 appdirs=1.4.0` or `pip install setuptools==34.0.1` to the end of your `ci` section (after `botocore`)

[2017-01-24 05:32] kanthchandra commented on #3315
Hi @shaned-maplight can you please give me the following details so that I can check some things at our end and see if there is an issue?

1. Id of the project in question. - You will get this from the url in the projects page.
2. usernames of the your colleagues who are not able to see the projects.

[2017-01-24 05:58] xxkyzerxx opened #3317 "Stuck in queue"
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure
- Scripts called from the yml (optional)

https://app.shippable.com/projects/5886dbe13b653a0f00fb16e2

The job shows "Waiting in queue".
Shippable node (node-422a59bd ID: 5886eac63b653a0f00fb1a8b) status is "success" and "inactive" in current workload.

[2017-01-24 06:28] kanthchandra commented on #3317
Hi @xxkyzerxx Did you by any chance delete that project from github and recreated the same?

[2017-01-24 06:37] xxkyzerxx commented on #3317
yup. i deleted the project and recreated the same name.

I noticed itz fixed. Thanks

[2017-01-24 06:37] #3317 closed

[2017-01-24 10:54] jwg4 commented on #3316
Does this means that it is expected behavior that `pip install -U setuptools` should fail, when a version before 34 is currently installed? This seems surprising! Should this be reported as a bug to pip?

[2017-01-24 12:05] auzias commented on #3316
I got the same error by installing an unrelated project but using `setuptools` with `pip3`. I'ld cast my vote to report this to `pip`.
See: rflamary/POT/issues/4

[2017-01-24 13:06] sumothecat opened #3318 "Error in aws_eb_deploy"
### Shippable errors during its build step aws_eb_deploy - missing libyaml dependency?

- Link to the build failure  https://app.shippable.com/runs/588745e4b98c6c0f00f23b82/1/console
- Scripts called from the yml (optional)  Please see shippable.yml in https://github.com/jncc/deli/tree/dockerless

The application deploys fine from local dev using `eb deploy`

[2017-01-24 13:43] ykrevnyi opened #3319 "Release feature problems"
Hey guys,

I have the `shippable.resources.yml` file with:
[code]

Then I create `release` on Github and nothing happens.

I'm using these branches/tags:
- branch `master`
- branch `release/vX.X.X` together with tag `vX.X.X`

If we change `branches` property to:
[code]

Then build gets triggered by `branch`.

From Github Webhook Deliveries I can clearly see two deliveries:
- `X-GitHub-Event: push`

[2017-01-24 15:21] avinci commented on #3275
I think we will add a feature request that will run a tear down command on cancel. This should resolve it. I am adding it to our prioritization list and will let you know once its done.

[2017-01-24 15:23] avinci commented on #3275
https://github.com/Shippable/heap/issues/574

[2017-01-24 15:23] #3275 closed

[2017-01-24 15:26] avinci commented on #3276
closing it. I prefer to keep the tests, coverage directory deterministic as we are going to be adding analytics to the reports etc. Heuristically finding this mean it will be error prone and would like to avoid it if its possible...

Thanks for letting us know you pain point.

[2017-01-24 15:26] #3276 closed

[2017-01-24 15:27] ykrevnyi opened #3320 "Job always fails at "Saving Job Files" stage"
Hi

I'm always getting this strange error.
`runSh|_common|saveState|_getFilePaths, :postFilesByResourceId failed for resourceId: 10573 with error 404`

How is it possible to debug it?

- Link to the build failure
   https://app.shippable.com/download/buildJobConsoles?buildJobId=5887714caebc4e0f00812fcc

- Scripts called from the yml (optional)
[code]

Thanks a lot

[2017-01-24 15:27] avinci commented on #3274
closing this due to lack of response

[2017-01-24 15:27] #3274 closed

[2017-01-24 15:31] avinci commented on #3283
@darilldrems when you say but not aws integration on your first bullet, could you elaborate a bit. Not sure i understand that part.

I am guessing you are talking about CI to pipelines connection? If you CI connector, its not possible to do this. We are making this happen in Feb and it should work. In the meantime,

- Do you use matrix functionality?
- Do you care about test reports and coverage v

[2017-01-24 15:33] avinci commented on #3312
@caleblloyd we are tried reproducing this...We are not able to. Has one of the owners logged into shippable?

[2017-01-24 15:34] avinci commented on #3316
closing this from our side as its not a Shippable issue.

[2017-01-24 15:34] #3316 closed

[2017-01-24 15:37] caleblloyd commented on #3312
@avinci what's your email address?  I'll send you all of the repo info and screenshots

[2017-01-24 15:38] avinci commented on #3312
avi@shippable.com

[2017-01-24 16:46] Reagan opened #3321 "Integrating Shippable Build Messages in Github/Bitbucket"
Whenever a build failure occurs, a little red fail marker is displayed next to the relevant commit. However to view the actual build error message, one has to click on the marker, exit the source control platform and login to Shippable. Does Shippable allow for it's build failure messages to be displayed next to the failing commit as seen on GitHub or BB (in the same way the build marker is displa

[2017-01-24 17:08] jtaylor10 opened #3322 "Jacoco code coverage with sub-modules"
### Description of your issue:
I noticed recently the documentation was updated to mention support for Jacoco code coverage reporting. This is GREAT, thanks!!  In my project we're using gradle and have sub-modules/projects so each project gets a jacoco.xml result file. I've used the gradle jacocoFullReport plugin to aggregate these xmls into one large one and can see the results in shippable cover

[2017-01-24 17:57] a-murphy commented on #3318
This looks like a duplicate of #3316.  Basically, `awsebcli` is failing to install because of a problem with its dependencies.  There's not much that we can do, but adding `pip install setuptools==34.0.1` to the end of your `ci` section after `botocore` should help until the dependency problems are resolved.

[2017-01-24 17:58] a-murphy commented on #3319
Could you check your indentation?  The `buildOnRelease`, `buildOnCommit`, `buildOnPullRequest`, and `buildOnTagPush` lines should have the same indentation as `branches` so that they are all a part of `pointer`.

[2017-01-24 18:12] ryancampbell commented on #3316
@avinci I agree, not directly a shippable problem

If anyone happens to solve this before I do please share the fix. I'll do the same

[2017-01-24 20:57] npahucki commented on #3284
Dependencies like what? Declared in the NPM? They all come from npmjs.org.
It still happens a few times a day....what can we do to troubleshoot it when it happens? I want to see which process exits with non zero, I want to see error messages - right now I don't have any of that information, so I can't even do anything on my end. That would be the biggest help - help me instrument the build to get

[2017-01-24 21:10] trriplejay commented on #3322
instead of copying to `shippable/codecoverage/site/jacoco ...` can you change that to `shippable/codecoverage/target/site/jacoco ...` ?

I think this is a bug in the docs, where the `/target` is missing from the sample. thanks for bringing this to our attention.

We're in the process of making this more generic so your file doesn't necessarily have to exist in such a specific location.

[2017-01-24 21:27] abhijitkini commented on #3318
closing since the question is resolved

[2017-01-24 21:27] #3318 closed

[2017-01-24 21:38] abhijitkini commented on #3287
closing as question is resolved

[2017-01-24 21:38] #3287 closed

[2017-01-24 22:48] jtaylor10 commented on #3322
Ah yes that did the trick! This can be closed but docs should be updated as your pointed out.

Thanks for the quick feedback.

[2017-01-25 00:01] asanchezgiraldo commented on #3237
HI @trriplejay thanks for your response, but currenlty I am not able to run any of my test as I am getting an error when running my chimpjs test.

[code]

Then, when I try to install jdk i am getting the below error

[code]

my job configuration is
[code]

[2017-01-25 00:16] stephanielingwood commented on #3321
Hi @Reagan,

We've marked this as a feature request, though to be honest it's probably not something we'll implement. Both GitHub and Bitbucket don't allow that many characters to be displayed next to the commit. So, we might be able to gain a very heavily truncated failure message, but it would be at the expense of the message saying "FAILED", and would probably be too short to be useful.

I'm go

[2017-01-25 00:16] #3321 closed

[2017-01-25 01:55] trriplejay commented on #3284
well, the ones specifically associated with your org are private, so we took those out of our test, and haven't been able to reproduce.

The reason there are no error messages is that this seems to be exiting the script in a way that bypasses our build runner's error handling. Do you spawn some kind of concurrent background process as part of this step?

[2017-01-25 04:17] manishas commented on #3322
We have updated the docs.... closing this issue.

[2017-01-25 04:17] #3322 closed

[2017-01-25 09:11] ykrevnyi commented on #3319
Yup, it was the indentation problem.

Thanks @a-murphy 👍 !

[2017-01-25 09:11] #3319 closed

[2017-01-25 09:16] ykrevnyi commented on #3320
It fails on "Saving Job Files" that we cannot control.

![image](https://cloud.githubusercontent.com/assets/4376146/22284350/98849c4a-e2ef-11e6-9781-10abb8e97735.png)

[2017-01-25 09:21] ykrevnyi opened #3323 "Job execution time is incorrect"
Hi guys,

The **Duration: 4 minutes** is correct. But the stages calculation is not (especially **Provision job node**).

![image](https://cloud.githubusercontent.com/assets/4376146/22284451/12d11bb8-e2f0-11e6-95f2-85620958fcd3.png)

- Link to the build failure
   https://app.shippable.com/download/buildJobConsoles?buildJobId=58886b9db22f431000db1230

Thanks

[2017-01-25 09:58] sumothecat commented on #3318
Hi, thanks but this doesn't fix. https://app.shippable.com/runs/58886f0a3b653a0f00fbcc26/1/console

[2017-01-25 09:59] ykrevnyi opened #3324 "Sync repo always fails for the first time"
Hi guys,

If you add new Sync repo into the empty project (empty SPOG) - for some reason it fails with strange errors `Failed to postResource ...`.

But if you just rerun that job (click **Run Job** one more time) - the error magically disappears.

- Red build https://app.shippable.com/download/buildJobConsoles?buildJobId=588875e49702340f0001d603
- Green build https://app.shippable.com/download/bu

[2017-01-25 12:39] kanthchandra commented on #3312
Hey @caleblloyd I looked at your project and I think I know what's going on. I haven't gotten a chance to verify this from my end but I'm posting my findings here.

1. In your mail you had mention that  @nanakyriaz , @deepak-khapode-isdr and @vladexologija had not logged into shippable. But in fact  @nanakyriaz  and @vladexologija have logged into shippable but haven't enabled private scopes.   @d

[2017-01-25 15:59] caleblloyd commented on #3312
@vladexologija and @vladexologija may logged into shippable, but either do not have API rights for our organization did not authorize our organization the Github Oauth2 flow.

Therefore Shippable CI does not work at all for them when they push commits.

Why is it trying to run webhooks through their accounts at all?  It should always use the Repo owner's default webhook settings.

Have you tried t

[2017-01-25 16:24] avinci commented on #3312
Hi Caleb,
Have you turned private access on? I think you are trying to build a private repo. Can your confirm that you have turned private access on by going into your account settings.

Best regards,
Avi Cavale
CEO, Shippable

[2017-01-25 16:37] caleblloyd commented on #3312
@avinci my account says `Caleb Lloyd (public and private)`

The repo builds fine for me.  It is my team mates who have logged into shippable but not authorized the organization that it does not build for at all.

In my opinion if this has happened, it should fallback on using my git hook to build the repo so that builds still kick off.

[2017-01-25 16:42] darilldrems opened #3325 "Issues with build deploying to aws through elastic beanstalk"
Traceback (most recent call last):
  File "/usr/local/bin/eb", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 70, in <module>
    import packaging.version
ImportError: No module named packaging.version

the build command
build:
  ci:
    - npm install
    - npm test
    - pip install --upgrade botoc

[2017-01-25 16:56] manishas commented on #3312
@caleblloyd i want to address some of the points you mentioned above:

- Have you tried the Shippable GitHub signup flow recently? There's all sorts of bugs in it.

When you first sign in, you only authorize Shippable for public repos. If you have an organization where all repos are private, it will not show up in your list. This is expected behavior. Customers who want to build private repos go t

[2017-01-25 17:01] manishas commented on #3325
This is a dup of https://github.com/Shippable/support/issues/3316

From @a-murphy :
It looks like a new version of `setuptools` was released and the dependencies of that dependency (`packaging` and `appdirs`) are causing the problem.  Installing the latest version of `setuptools` or its dependencies before `awsebcli` appears to help.  So, adding either `pip install packaging=16.8 appdirs=1.4.0` or

[2017-01-25 17:02] manishas commented on #3324
@trriplejay we need to look into this.

[2017-01-25 18:20] caleblloyd commented on #3312
If you link in from an organization where the repo is private, you should auto-redirect to the GitHub Authorization page, not show a "Forbidden" error.  The user has to locate and change settings to see the build status and this is a very bad UX for the first thing I click on:

![image](https://cloud.githubusercontent.com/assets/2414837/22302921/017a0c62-e2ff-11e6-9648-7f3a20ec2c5f.png)

We (and m

[2017-01-25 18:26] caleblloyd opened #3326 "Delete Account does not actually delete my account"
1. Sign into Shippable with GitHub and authorize
2. Enable access to private repos
3. Click Settings gear, then Delete Account.  I am signed out

Now, sign into Shippable with the same account as before.  I am brought right back into my account without going through GitHub Oauth2 authorization again, and all of my settings in Shippable are exactly the same as before I "Deleted" my account.

Obviou

[2017-01-25 19:04] #3325 closed

[2017-01-25 19:06] avinci commented on #3326
Thats a github cookie. You need to clear your github cookies in order to OAuth to fire. You might see the network traffic where we redirect to github and if github is not challenging you then its cos of githubs oAuth cookie.

Delete your account and then try it with a private browser session and see if the same things persists.

[2017-01-25 19:08] #3311 closed

[2017-01-25 19:12] avinci commented on #3300
I am not sure why this is about restfulness. The issue is we dont store branch level objects and hence extra queries. I do agree that the data modeling is sub-optimal in this case and we should probably do another object called projectBranches which will solve this problem. Definitely something that worth doing as it reduces the number of calls. point taken!

But I disagree on the fact that anothe

[2017-01-25 19:13] #3300 closed

[2017-01-25 19:14] caleblloyd commented on #3326
I think it is due to the fact that Shippable is still an Authorized Application in Github after I delete my shippable account:

![image](https://cloud.githubusercontent.com/assets/2414837/22305143/6ab99090-e308-11e6-817f-7d8f112789cf.png)

Shouldn't the "Delete Account" function in shippable automatically revoke access via a GitHub API Call?

The purpose of this is I'm trying to delete an account

[2017-01-25 19:15] avinci commented on #3326
I am not sure we can delete that auth as an oAuth relying party. I will look into it more if github allows us to delete

[2017-01-26 00:30] BryanCrotaz commented on #3300
It's less restful because it's a query - the user is asking a question about runs, not downloading the state of a run.

[2017-01-26 00:33] BryanCrotaz opened #3327 "Add branch level caching for CI"
See #3300 for one consequence of this.

Another is that caches are per-project, not per-branch.

The classic use of caches is the npm_modules folder, caching of which speeds up builds 10 fold. However if we create a new branch in order to test out upgrading third party modules, it will use the cached version with the old versions. Worse, those new versions are now in the cache and the mainline cod

[2017-01-26 03:05] manishas commented on #3312
Thanks for your detailed comments :)

We're fixing the token issue. It's definitely a bug at our end.

[2017-01-26 03:06] manishas commented on #3312
We'll also look into improving the auth experience for private projects.

[2017-01-26 08:06] ykrevnyi commented on #3320
Guys it blocks our company. Any updates on this?

[2017-01-26 09:45] manishas commented on #3320
@ykrevnyi i'll ask someone to take a look asap. Can you post a link to a latest build failure? Your previous link doesn't work any more.

[2017-01-26 10:18] ykrevnyi commented on #3320
Here you go https://app.shippable.com/download/buildJobConsoles?buildJobId=588877f9b22f431000db1814

Thanks @manishas 👍

[2017-01-26 11:10] npahucki commented on #3284
The private ones are very simple and have no scripts at all running with them, I highly doubt this has anything to do with the problem. There is nothing funny going on during npm install, it's pure putting files on the hard drive (which BTW, it looks like it does finish doing).

Is there no way you guys can run repeat one of the existing builds that has failed? I meant, I imagine that an admin the

[2017-01-26 14:05] staffe opened #3328 "All tests pass but branch marked as "Unstable""
Build: https://app.shippable.com/runs/5889ff1bf35d500f0014e144/1/console

shippable.yml:
language: node_js

env:
  - CI=true COVERAGE=true

node_js:
  - "6.9.1"

build:
  ci:
  - source ~/.nvm/nvm.sh && nvm install $SHIPPABLE_NODE_VERSION
  - node --version
  - npm config set spin false
  - npm install broccoli-clext
  - npm install bower
  - npm install ember-cli
  - npm install phantomjs-prebuil

[2017-01-26 15:53] avinci commented on #3300
I think you are right. I take back my statement. This will be fixed.

[2017-01-26 16:12] BryanCrotaz commented on #3300
When you think about branches becoming first class citizens please also consider being able to delete them when the git branch is deleted (what we'd like) or having the option to keep them (as others might desire)

[2017-01-26 16:14] BryanCrotaz commented on #3300
I think the object should be a single branch not all branches for a project. That gives the option to include all the runs for a single branch when GETting a branch. The project object would then include the ids of the branches. That would make it easy as a user to detect a new branch just by polling the state of the project.

[2017-01-26 16:18] avinci commented on #3300
yup, will try and make it as simple as possible. But, i dont think we can keep branches that are not on SCM on shippable. this will create various complexities like manual builds etc. The system is designed to stay in sync with SCM from permissions, users, repos and orgs. I will see if this can work but no promises on that.

[2017-01-26 16:35] a-murphy commented on #3328
In the  project settings, that project has been configured with a "low coverage alert" to mark the build unstable and send a message when the code coverage falls below a certain percentage.  And, the linked build does not have any code coverage.  If you do not intend to have code coverage, you may want to remove the low coverage alert in project settings.  Otherwise, I would suggest setting up [co

[2017-01-26 17:54] tomsterritt opened #3329 "git submodule failing"
Hi,

Our git submodule update has stopped working. Example build: 588a36c1adf5420f00f35a4b

The submodule is also a repo we have set up in shippable so I don't understand why it's stopped working. I've been through and reset both projects to ensure the deploy keys are set but it's still failing.

Thanks

[2017-01-26 18:01] BryanCrotaz commented on #3300
... or a new run by polling the state of a branch

[2017-01-26 18:01] a-murphy commented on #3329
If you're trying to use private git submodules, you'll have to add a SSH key to give the build using the submodule access to the submodule.  The Shippable deploy keys added when a project is enabled or reset only allow builds to pull that specific repository, not any other private repositories in the subscription.  But, the build also has a subscription SSH key that can be added to repositories to

[2017-01-26 18:02] BryanCrotaz commented on #3300
To be clear we don't need you to keep branches on shippable that are not on  scm but you seem to do this today with runs?

[2017-01-26 18:03] trriplejay commented on #3324
@ykrevnyi we're looking into your issues. hopefully we'll have an update for you soon.

[2017-01-26 18:07] paulcornwell opened #3330 "Error on AWS deploy: No module named packaging.version"
https://app.shippable.com/runs/588a30e700e1510f00bb13c8/1/console

Please advise.  Has not worked since Monday.

[2017-01-26 18:11] a-murphy commented on #3330
This is a duplicate of #3316.  It looks like there's something wrong with one of the awsebcli dependencies that pip is installing.

[2017-01-26 18:47] #3177 closed

[2017-01-26 19:21] ric03uec commented on #3324
@ykrevnyi we've identified the issue because of which your jobs are failing. This turned out to be a parsing bug for resource and job names
while we push out the fix, you should rename the jobs and resources in your yml to remove all dots (and probably replace them with dashes) which should fix your jobs. we'll keep you posted when the fix is deployed

[2017-01-27 05:41] Khalian opened #3331 "Is it possible to generate an RSS feed for the build status from shippable"

[2017-01-27 06:36] ykrevnyi commented on #3324
Great! Will rename titles and get rid of dots then.
Thanks @ric03uec  👍

[2017-01-27 07:32] ykrevnyi commented on #3324
Just tested and it works.

What I've done:
- changed jobs and resources names
- renamed resource sources (`pointer.sourceName`)

[2017-01-27 08:01] manishas commented on #3320
@rageshkrishna can we look into this?

[2017-01-27 08:02] ykrevnyi commented on #3320
UPD:

Changes from #3324  fixed this one.

[2017-01-27 08:03] manishas commented on #3320
That's great to hear :)

Closing this issue.

[2017-01-27 08:03] #3320 closed

[2017-01-27 08:14] manishas commented on #3330
@paulcornwell let us know if the suggestion in #3316 doesn't work.

Closing this issue.

[2017-01-27 08:14] #3330 closed

[2017-01-27 08:14] manishas commented on #3329
@tomsterritt let us know if the suggestion above worked.

[2017-01-27 08:14] #3329 closed

[2017-01-27 08:16] manishas commented on #3328
@staffe let us know if adjusting the code coverage alert doesn't work for you. Closing this issue since the question has been answered.

[2017-01-27 08:16] #3328 closed

[2017-01-27 09:15] mmenozzi opened #3332 "Git submodule update failure"
Dear Shippable Support,
suddenly all our builds with private git submodules fail at the git submodule update step.
We didn't make any changes to our ssh keys.

- Link to the build failure: https://app.shippable.com/runs/588b0e035e71000f00182923/1/console or https://app.shippable.com/runs/588b0a54f2ff731000b3fe42/1/console

[2017-01-27 09:33] rageshkrishna commented on #3332
@mmenozzi We're looking in to this. I'll update this issue when I have more information.

[2017-01-27 10:00] tomsterritt commented on #3329
@manishas I followed those steps when I set it up and it's been working for quite some time - the last build was fine on 12th Jan. Has something changed since then? I hadn't changed any of the settings on the GitHub repos before it broke, but I've just been through and reset them all since.

One of the images on that docs page is broken by the way :)

[2017-01-27 10:32] rageshkrishna commented on #3332
@mmenozzi We've identified an issue with syncing private submodules that affects a number of projects on Shippable. We are working on resolving the issue with these projects now. I'll post an update as soon as we have a fix in place.

[2017-01-27 10:32] rageshkrishna commented on #3329
@tomsterritt Apologies for the confusion around this. We have identified an issue with submodule sync. Please follow https://github.com/Shippable/support/issues/3332 for the latest.

[2017-01-27 10:45] rageshkrishna commented on #3332
@mmenozzi @tomsterritt Can you please try triggering a build now and let me know how it goes?

[2017-01-27 10:56] tomsterritt commented on #3332
@rageshkrishna working again here, thanks 👍

[2017-01-27 11:14] rageshkrishna commented on #3326
We cannot do this because the GitHub API doesn't allow it. Quoting from https://developer.github.com/v3/oauth_authorizations:

[2017-01-27 11:14] #3326 closed

[2017-01-27 11:16] #3299 closed

[2017-01-27 11:57] pureclouds commented on #3332
The same problem with submodules placed in private Bitbucket repositories. Still not working.

[2017-01-27 11:59] kanthchandra commented on #3332
@pureclouds can you please point me to the build please?

[2017-01-27 12:07] pureclouds commented on #3332
@kanthchandra https://app.shippable.com/runs/588b37d8d7cf0a0f00535c53/1/console

[2017-01-27 12:11] kanthchandra commented on #3332
@pureclouds can you please try triggering a build now see how it goes?

[2017-01-27 12:18] pureclouds commented on #3332
@kanthchandra submodules cloned ! thanks!

[2017-01-27 17:45] taylortdixon opened #3333 "Build receiving connection timeout from GitHub"
My bower install is failing because of:

fatal: unable to access 'https://github.com/angular/bower-angular-mocks.git/': Failed to connect to github.com port 443: Connection timed out

Link to Build:  https://app.shippable.com/runs/588b837f00e1510f00bbbf4f/1/console

Path to it:
build_ci --> bower --allow-root install

[2017-01-27 19:38] stephanielingwood commented on #3333
Hi @taylortdixon,

We took a look at this and suspect that GitHub may have had some slow response times this morning. While they didn't post a status update per se, a look at their [graphs](https://status.github.com/) shows that there was some sluggishness. (Take a look at mean API response time, mean hook delivery time, and browser time to first byte.)

It looks like things are resolving themselv

[2017-01-28 08:13] russianidiot opened #3334 "outdated API Docs"
http://docs.shippable.com/api/project/
GET /projects
json fields outdated
make request and compare key names

[2017-01-29 23:54] psharratt-bauer opened #3335 "update gcloud version"
Please update the gcloud version in the image so I don't have to update it in my build pipeline.

i'm using gcloud beta commands to add-tags because I can't push with multiple tags

[2017-01-29 23:54] #3335 closed

[2017-01-30 05:40] rageshkrishna commented on #3313
This has been fixed. IE11 should be working correctly now.

[2017-01-30 05:40] #3313 closed

[2017-01-30 05:41] rageshkrishna commented on #3310
@ykrevnyi This has been fixed. Wildcards should be working correctly now in the branches list for notifications. Please let me know if you still see issues with this.

[2017-01-30 05:41] #3310 closed

[2017-01-30 05:43] rageshkrishna commented on #3324
@ykrevnyi This has been fixed. Resources with dots in the name will now be rejected with an appropriate error instead of failing in strange ways.

[2017-01-30 05:43] #3324 closed

[2017-01-30 05:44] rageshkrishna commented on #3301
@navymaker This has been fixed. Syncing the project will no longer reset the branch options. Please let us know if you still see issues with this.

[2017-01-30 05:44] #3301 closed

[2017-01-30 06:48] trriplejay commented on #3284
running out of memory is a possibility.  The build minions have about 3.7GB available. It could explain why it's inconsistent.  Did the log level provide any extra info?

[2017-01-30 13:27] npahucki commented on #3284
So, putting the log level to silly, I can see that the npm process exited just fine, but still there is a failure:

[code]

In this case at least, NPM exited with 0 (a good thing), but I see the same failure message : `ERROR:script_runner - script_runner:Command failed : ssh-agent bash -c 'ssh-add /tmp/ssh/00_sub;ssh-add /tmp/ssh/01_deploy; cd /root && /root/10ecc064-a363-4f65-99f7-80d75de4da61.sh

[2017-01-30 13:48] harryi3t commented on #3305
@haf the fix is live now.
Closing this. Please reopen if you are still facing the issue.

[2017-01-30 13:48] #3305 closed

[2017-01-30 14:28] haf commented on #3305
Works for me now.

[2017-01-30 14:28] sample-sample commented on #3285
Thanks for the support. I was able to get this working.

[2017-01-30 15:06] npahucki commented on #3284
I have sent you via email the full output of the build when using 'silly' log level. The thing of note, is that with the log level set thus, it fails 100% of the time now.

[2017-01-30 15:22] kanthchandra commented on #3284
Hi @npahucki can we trigger a couple of builds on your behalf and see whats going on? or you can trigger the build as well and I'll take a look right now.

[2017-01-30 16:07] npahucki commented on #3284
Please be my guest and trigger some builds on our behalf. However, note that I have took out the verbose logging because it blocks our team from developing. Is there some way we can have you troubleshoot this without blocking our dev team? If I had a branch that had the logging turned on (and thus fails consistently) could that work?

[2017-01-30 16:11] kanthchandra commented on #3284
Yeah sure, a branch specific to debug this issue would help us. If we are
able to repro that bug consistently on that branch that would be great.
Please let us know the branch name. I'll take a look at this tomorrow. (I'm
in the IST timezone).

On 30-Jan-2017 9:37 PM, "Nathan Pahucki" <notifications@github.com> wrote:

[2017-01-30 17:12] npahucki commented on #3284
You can use this branch for testing: https://app.shippable.com/runs/588f6f2f69174c0f000be2b3/1/console

[2017-01-30 17:42] mmenozzi commented on #3332
@rageshkrishna thank you, now it works!

[2017-01-30 17:42] #3332 closed

[2017-01-31 00:15] stephanielingwood commented on #3334
Hi there,

Thanks for letting us know. We'll get that fixed.

[2017-01-31 06:22] KnowRe opened #3336 "Setting timeouts on eb deploy command"
Hello,

https://app.shippable.com/runs/589027542e6ab20f00bd6a0f/1/console

We're using Elastic Beanstalk and have multiple servers behind a load balancer, so the application deployment to the server instances is performed one instance by one. However, it takes several minutes to deploy each server so it sometimes treats as timeout even when the servers are successfully deployed.

So, is there any

[2017-01-31 06:45] Reagan opened #3337 "Installed dependency in shippable.yml still leads to import failure"
When setting up my `shippable.yml` file, I include the script `pip install celery` and later on run py.test on python code that requires this `celery` dependency. However, i still get an `ImportError: No module named celery` error.

Here's my `shippable.yml` file:

    language: python

    python:
    - 2.7

    install:
      - pip install celery

    before_script:
      - mkdir -p shippable/te

[2017-01-31 11:49] deepak-khopade-isdr opened #3338 "Getting error: There is an issue loading the app, please contact support"
### Description of your issue:
I triggered the PR from our repo and then was expecting Shippable to start the process, which it didn't. So when tried to check online @ app.shippable.com, just getting the spinning wheel with an error message below: **There is an issue loading the app, please contact support.**
NOTE: If you are experiencing a build failure, please include:

- Link to the build failu

[2017-01-31 11:54] kanthchandra commented on #3338
hi @deepak-khopade-isdr We have an issue with one of our services and we are looking into it. We will get back to you as soon as we have more details on this.

[2017-01-31 12:14] czardoz commented on #3338
@kanthchandra Do you have a public status page?

[2017-01-31 12:18] kanthchandra commented on #3338
http://status.shippable.com/ @czardoz

[2017-01-31 12:20] deepak-khopade-isdr commented on #3338
Do you guys have any ETA?

[2017-01-31 12:24] kanthchandra commented on #3338
The service should be back up.

[2017-01-31 16:36] ryan-kimber commented on #3338
I'm still unable to access the application via http://shippable.com or https://app.shippable.com. Server response is empty.

[2017-01-31 17:13] a-murphy commented on #3338
The issue from earlier this morning reappeared, but Shippable is once again running and we are monitoring it closely while we permanently resolve the issue.

[2017-01-31 17:39] sample-sample opened #3339 "Running a Task Definition in ECS"
Is there a way to run a task definition from another after a build has been deployed? Task definition A has a container needs to run a script in a container under Task definition B after it has been deployed; both of these definitions in the same cluster. Container in B runs a script and is stopped once complete. I would want to run it again in the next build of A.

The way I've setup based on you

[2017-01-31 17:39] stephanielingwood commented on #3334
This has been updated; closing this issue. Thanks.

[2017-01-31 17:39] #3334 closed

[2017-01-31 19:29] stephanielingwood commented on #3337
Hi @Reagan,

Would you mind sharing a link to your failed build? I just tried to reproduce this and was unable to.

Also, I noticed that you're using our old yml format. While that is still supported, we highly recommend using our current format. The yml you have above would look like this in the new format:
[code]

More documentation on our current format is available in our [docs](http://docs.sh

[2017-01-31 23:11] stephanielingwood commented on #3339
Hi @sample-sample,

Currently, our deploy jobs are designed to get services up and running; they both create the task definition and create a service.

If you wanted to do something more specialized with ECS - e.g. create a task definition without creating a service - you can use a runSh job. A runSh job gives you full control over what happens in the job, and you can script whatever you like. The

[2017-01-31 23:23] abhijitkini commented on #3333
closing as resolved

[2017-01-31 23:23] #3333 closed

[2017-02-01 10:37] aleksihakli opened #3340 "Deploy to EB only from specific branches"
### Description of your issue: Deploy only from specific branches, for example master

Hi,

Is it possible to define a branch I want to deploy to from the shippable.yml or do I have to run the deployment manually with `eb deploy`?

I have the following set up, does this work?

[code]

[2017-02-01 12:49] mariale425 opened #3341 "Build failed by timeout"
Hi, I have a problem. I have an error in the second build. This error is by: "Error: failed to remove one or more containers".  I was reviewing and adding the cache to true. But I still have the same problem.

My yml:

[code]

[2017-02-01 17:22] stephanielingwood commented on #3341
Hi @mariale425,

Thanks for the question. It's hard for us to help solve your problem without a little more context. Can you please include a link to the build that's failing?

[2017-02-01 17:26] nealeu opened #3342 "Wrong Selenium version in u14javall - expects 2.52, present 2.45"
Possibly related to https://github.com/Shippable/support/issues/3054, except it is Shippable that is selecting which image to use.

In build https://app.shippable.com/runs/58920641ace68f1000da2fb9/1/console, we get

- selenium_start
  - echo "selenium will not be started because the binary was not found at /usr/local/selenium/selenium-server-standalone-2.52.0.jar."

## shippable.yml contains:
[cod

[2017-02-01 17:32] sample-sample commented on #3339
Thanks for the quick response. The pipeline is setup just the way I wanted it. My gitRepo resource is a bitbucket repository with only the taskDefinition.json file. However, create-task-definition fails with the error  **taskdefinition-repo dependency has been deleted from the yml or has no versions**

The gitRepo resource has only the sourceName pointing to the repository - xxx/taskdefinition-rep

[2017-02-01 17:52] sample-sample commented on #3339
Never mind. Looks like I had to provide the branch though the documentation says it is optional.

[2017-02-01 19:36] mariale425 commented on #3341
Hello @stephanielingwood

Currently the build was successful. However, I think it is intermittent. If it happens again, I'll let you know. Thanks!

[2017-02-01 20:09] trriplejay commented on #3339
Shippable provides a few environment variables by default in runSh jobs. You can see a list of them here:
http://docs.shippable.com/pipelines/jobs/runSh/#resource-variables

the files from your repo can be found at `<resourcename>_PATH/gitRepo`, where `<resourcename>` is your sanitized resource name (as described in the docs).

For example, if my job had `- IN: myGitRepo` I could expect the comman

[2017-02-01 20:24] stephanielingwood commented on #3341
Hi @mariale425,

Glad it's successful - I'll close this issue, then. If you get more failures feel free to reopen. Cheers!

[2017-02-01 20:24] #3341 closed

[2017-02-02 02:38] sample-sample commented on #3339
Thanks for the clarity. For some reason I read it as "MY-GIT-REPO-PATH" instead of "MY-GIT-REPO_PATH".... I should spend a lot of time on the documentation.. the answer was right there.

I am able to access the file now.

[2017-02-02 12:41] nealeu commented on #3342
Okay, I've specified `build_image: drydock/u14javall:2016.02`, and even that doesn't have the expected version of Selenium.

Can you clarify what is supposed to happen here please?

[2017-02-03 00:01] trriplejay commented on #3339
great! glad that worked. closing this as resolved.

[2017-02-03 00:01] #3339 closed

[2017-02-03 05:54] magwas opened #3343 "no build triggered for github pull request"
This is an example:
https://github.com/edemo/PDOauth/pull/959
At least  3 of the last 5 commits should have triggered a build. None did.
What we have tried:
- Checked the config multiple times, reenabled pull requests and commits under Configure Webhook Events for Triggering Builds (I guess there was some new defaults, because those event did trigger a build before)
- added commits to the pull req

[2017-02-03 08:14] capaj opened #3344 "our flow project fails to verify on shippable, yet builds fine on local machines and in our jenkins"
This might be a bug in [flow](https://github.com/facebook/flow), but there's a chance this could be a problem of the shippable container. We're experiencing issues when running `flow` command in shippable.

- Link to the build failure: https://app.shippable.com/runs/58933cabace68f1000dabf8a/1/console
- Scripts called from the yml: `npm test`

[2017-02-03 09:10] PaulWebbster opened #3345 "Shippable build hangs out after job initialization"
All of our builds on Shippable hangs out after job initialization step.

Console log available here: https://app.shippable.com/runs/589441ced3cc6a1000c484f2/1/console

[2017-02-03 09:32] mbrodala commented on #3327
For caching per branch I did open #2582 a while ago.

[2017-02-03 10:00] rageshkrishna commented on #3345
@PaulWebbster Can we try triggering a build on your project to debug?

[2017-02-03 11:19] nealeu commented on #3342
Come on folks.  It's been two days and this is actually a really simple (one line probably) fix your end.

[2017-02-03 12:01] PaulWebbster commented on #3345
Yes, sure

[2017-02-03 13:23] capaj commented on #3344
so this looks like a flow issue. For some strange reason, it fails to generate typings for mobx in the latest version. It was passing for us locally because we've had older typings cached up from previous flow version.

[2017-02-03 13:23] rageshkrishna commented on #3342
@nealeu Sorry about not getting back to you sooner on this. I've taken a look and it looks like we have indeed messed up the Selenium version in the Java images. If Selenium 2.45.0 will work for you, I do have a quick workaround that can unblock you. Just add this to your YML file to override the default Selenium path:

[code]

We're definitely going to update the images to fix this. I hope this w

[2017-02-03 13:23] #3344 closed

[2017-02-03 13:36] magwas commented on #3343
Another pull request not triggering build: https://github.com/edemo/PDOauth/pull/960

[2017-02-03 15:47] nealeu commented on #3342
Thanks.  I'll try that as a workaround.

[2017-02-03 16:43] a-murphy commented on #3343
It looks like you accidentally disabled webhooks when you went to enable them.  We haven't changed the defaults; it's still commits and pull requests, but not tags and releases, by default.  Could you re-enable webhooks by clicking the "enable" buttons for the appropriate webhook types on the project settings page and let us know if you are still able to reproduce this?

[2017-02-03 21:23] mariale425 opened #3346 "Build"
### Description of your issue:

Hi, I have a problem. All my tests are green but the build fails much times. This problem is intermitent:

https://app.shippable.com/runs/58948c648d80360f008b8aa0/1/console
https://app.shippable.com/runs/58948c648d80360f008b8aa0/3/console

- Screenshot:
https://www.evernote.com/l/AiQVG0yJTp9IN59ufYm-GqkYpAgKZUA22NQ
https://www.evernote.com/l/AiRnhs5SS8BHxYuWwJkI62cs

[2017-02-03 22:04] stephanielingwood commented on #3346
Hi @mariale425,

Thanks for the link and the yml. Here's two things we noticed:

Looks like the build you linked us to is failing due to long-running tests. For paid subscriptions, we allow builds to run for 2 hours. After 2 hours, we time out the build - that's why you have a status of "timeout".

So the first thing I would do is take a look at your tests and see what's taking so long. Our custom

[2017-02-04 17:48] mariale425 commented on #3346
Perfect @stephanielingwood I'm going to check the test time. Thank you!

[2017-02-05 04:10] yumetodo opened #3347 "found SSH Key integration but SSH key not found in /tmp/ssh"
ref: #2593

I'm trying to deploy minified css/JavaScript to ``gh-pages`` branch.
To push commit, created on shippable, to Github, SSH key is required.
So, I configured SSH integration as below.

1. Generate Public/Private key in my local PC by

[code]

2. Go to the Dashboard
![image](https://cloud.githubusercontent.com/assets/10869046/22623533/c9805c34-eba1-11e6-9f82-96db201c9b40.png)
3. Go to Int

[2017-02-05 09:53] Khalian opened #3348 "Build failure for docker swift."
### Description of your issue:
NOTE: If you are experiencing a build failure, please include:

- Link to the build failure - https://app.shippable.com/runs/588fe13469174c0f000c1be8/summary
- Scripts called from the yml (optional)

[2017-02-05 13:59] milesjordan opened #3349 "`docker push` fails with `no basic auth credentials` using AWS ECR integration"
### Description of your issue:
I have been unable to get the ECR integration working so instead have fallen back to encrypting AWS credentials and running $(aws ecr get-login) as a part of the build, which works fine. The only thing I can think that might be affecting it is that the image is hosted in the ap-southeast-2 region - not sure if it's supported by shippable. What I have is working fine

[2017-02-05 18:41] magwas commented on #3343
Build for commits and pull requests were already enabled in the target project.
I have deleted the webhook on the github side, reset the shippable project, and checked that the webhook appeared on the github side. Closed the old pull request, and opened a new one:
https://github.com/edemo/PDOauth/pull/961
And it does not build either.
Now I have enabled build for commits and build on the shippable

[2017-02-05 18:43] magwas commented on #3343
... and still no build: https://github.com/edemo/PDOauth/pull/962
Help!

[2017-02-05 19:01] magwas commented on #3343
Moreover, there is no green tick or yellow circle near the commit  8084eea in https://github.com/edemo/PDOauth/pull/959 but that commit is already built to green on claymanus's PDOauth shippable project. (He have manually triggered another build of the branch now.)

This is a showstopper for us, as we don't want to acquire a habit of integrating without green build.

[2017-02-05 19:07] magwas commented on #3343
Same for the commit 0c5efe3 of https://github.com/edemo/PDOauth/pull/962 , the pull request I have issued above for the third time.
Interestingly for some earlier commits there are signs of shippable builds in both of the pull requests.