[2015-07-22 18:10] nicdex commented on #1710
Just noticed that it does that error with EVERY BUILD for ALL PROJECTS in our shippable account.

[2015-07-22 18:10] lekhab commented on #1710
on it..

[2015-07-22 18:14] chriskinsman commented on #1711
Appears to have cleared up...

[2015-07-22 18:14] #1711 closed

[2015-07-22 18:15] tekram commented on #1661
Any update on this? We are still running into this issue.

https://app.shippable.com/builds/55afc123d5f6df0c00c07cc3

[2015-07-22 18:17] lekhab commented on #1710
this is resolved now. are you able to access your builds?

[2015-07-22 18:17] nicdex commented on #1710
yes thank you.

[2015-07-22 18:36] #1710 closed

[2015-07-23 01:04] posita opened #1712 "Can't have node_js 0.12 alongside xvfb without waiting 10+ minutes per build?"
Originally, our `shippable.yml` file was this:

[code]

But that took 10+ minutes to set up before even getting to the tests. So we added:

[code]

But that didn't seem to do anything, plus it's [going away](http://blog.shippable.com/shippable-3.0-breaking-changes#BuildImage). So we added:

[code]
Which sped up the time it took to get to the `before_script` step quite a bit, but then we failed on

[2015-07-23 02:20] jwriteclub opened #1713 "HHVM Seriously Out of Date"
Running the following in before_script

`- php --version`

During a run with hhvm selected indicates that the current hhvm version is

[code]

Whereas the most recent version of HHVM is 3.8.0. There's been a ton of changes in the meantime, and a number of projects which pass on recentish HHVM (3.6+ tested on an amazon VM) fail with such an old version.

In addition, PHP 5.6 is currently at 5.6.0,

[2015-07-23 03:49] posita commented on #1712
Since migrating to `shippableimages/ubuntu1204_nodejs`, we tried adding the following to `before_script`:

[code]

After 30 minutes, this is what we got:

[code]

So this puts us back to `minv2` and waiting 10 minutes to install node_js 0.12 every single time, which doesn't seem reasonable. This might be a dup of #1093, but that doesn't appear to have enjoyed any progress in months and has been la

[2015-07-23 05:07] chriskinsman opened #1714 "NPM Git Head error"
npm ERR! Failed resolving git HEAD (git@github.com:PushSpring/s3-stream-upload.git) fatal: bad object bb6b71e31c43017cfbd3ee964e4c99ab1a97ed0a
npm ERR! Failed resolving git HEAD (git@github.com:PushSpring/s3-stream-upload.git)
npm ERR! Error: Command failed: fatal: bad obj

blowing away node_modules locally and running npm install completes successfully.

My reference in package.json:
"s3-stream-u

[2015-07-23 06:09] rageshkrishna commented on #1714
@chriskinsman It looks like our nodejs image is stuck on a really old version of npm. Can you try doing an `npm install npm -g` as the first `before_install` step to see if it helps?

If it doesn't, please send me your full shippable.yml and package.json so I can try to repro this.

Thanks!

[2015-07-23 09:16] mbrodala opened #1715 "Error on login"
After experiencing some loading issues on app.shippable.com today, I cleared all my cookies and went to log in again via Bitbucket only to receive an error like this:

[code]

The URL of that page looks like `https://app.shippable.com/auth/bitbucket/identify?oauth_verifier=<number>&oauth_token=<text>`

[2015-07-23 09:23] rockerhieu commented on #1715
I got this problem too.

[2015-07-23 09:28] rageshkrishna commented on #1715
Things should be back to normal now. Please let me know if you're still having issues accessing the service.

[2015-07-23 09:29] mbrodala commented on #1715
I still get the error upon simply reloading the page, but starting anew from app.shippbable.com works.

[2015-07-23 09:29] #1715 closed

[2015-07-23 11:57] robertboloc commented on #1543
I'm also interested in PHP7 support. Thanks!

[2015-07-23 13:02] shamasis commented on #1699
That makes sense. I guess, until the integration is made, the PR build section on BB repositories could either be disabled or a notice posted so that we don't bother you with support questions. :-)

Looking forward.

[2015-07-23 13:15] chriskinsman commented on #1714
Still hit with issue.

@rageshkrishna Where should I send the files?  This has all of our deployments blocked right now

[2015-07-23 13:19] chriskinsman commented on #1714
@rageshkrishna Also just discovered it appears the node version is being ignored in my shippable.yml

In shippable.yml:
node_js: 0.10.21

However running
node --version

in before install yields 0.10.37

[2015-07-23 13:33] chriskinsman commented on #1714
Using nvm to force to 0.10.21 didn't alter the issue at all

[2015-07-23 13:49] chriskinsman commented on #1714
I think I found the issue.  One of the dependent packages in our package.json had a reference to a commit sha in it's package.json and that referenced a commit sha that no longer existed likely due to a rebase/squash.  I am closing.  Thanks for your help.

[2015-07-23 13:49] #1714 closed

[2015-07-23 15:22] glachesis opened #1716 "Issue with docker image pull from quay.io"
I'm using the Pre-CI docker integration with a base image pull from quay.io.

The pull only works every other time and often breaks with a 403 error.

From the logs  :

Sending build context to Docker daemon
Step 0 : FROM quay.io/xxx/xxxx
Pulling repository quay.io/xxx/xxxx
Error: Status 403 trying to pull repository xxx/xxxx: "{\"error\": \"Permission Denied\"}"

Any advice ?

[2015-07-23 18:15] lekhab commented on #1716
@glachesis: can you please point me to a project or a build id with the error? I can't pull up anything with your @glachesis id..

[2015-07-23 18:40] lekhab commented on #1704
@ddelnano:  looks like the original issue was related to a missing YML. will take a look at the failures in your current builds..

[2015-07-23 19:47] michaelcho commented on #1703
Yes clearing all project settings allows tests to run now, thank you.

[2015-07-23 19:47] #1703 closed

[2015-07-23 22:48] dennissugar commented on #1696
Is there an update on this?

[2015-07-24 06:18] glachesis commented on #1716
@lekhab here an exemple failed build : https://app.shippable.com/builds/55b10887be4ac90b00d30434

[2015-07-24 17:02] lekhab commented on #1696
@dennissugar, apologies for the delay - we had to deploy a fix. Can you please try again and let me know if you are running into this now?

@pigfoot, @xherriot - this should be fixed for you as well. please confirm.

[2015-07-24 17:52] dennissugar commented on #1696
It's working for me now. Thanks.

[2015-07-24 18:19] bastianwegge opened #1717 "Deployment Key / SSH Key for Account not found or is not displayed"
When I'm going to my user and settings page, the field for deployment key is empty. I'd love to set up continous deployment to heroku, but it's not possible without it. And I don't want to go the dirty way using a token.

[2015-07-24 18:31] bastianwegge commented on #1712
+1 on this one

[2015-07-24 18:33] bastianwegge commented on #1093
+1

[2015-07-24 18:35] posita commented on #1093
See also #1712, which may be a dup of this, but has additional constraints not addressed by @manishas's [workaround](https://github.com/Shippable/support/issues/1093#issuecomment-86995933).

[2015-07-24 20:45] lekhab commented on #1717
following up on the fix.

[2015-07-24 22:23] rudism opened #1718 "Running parallel processes hangs a build"
The latest build I have seen this in: https://app.shippable.com/builds/55b2b63e432f1f0c00fd0b32

In my build I'm trying to call a shell script that runs several test suites in parallel. I've used a few different methods, including spawning the processes with `&` and using the `wait` command, using GNU Parallel, and using `xargs -P`. In every case, after the command finishes, the build hangs and ev

[2015-07-25 01:34] bastianwegge commented on #1717
Don't know if it helps, but in the `script` part it's looking for some project_rsa for the ssh-agent. Trying to access it or a public part fails (the public part doesn't seem to exist).

[2015-07-25 02:46] #1702 closed

[2015-07-25 06:50] j3ffrw opened #1719 "Pulling build artifacts via api not working"
Hi,

I tried to download an artifact given by the api but I'm getting SignatureDoesNotMatch when opening that link. Downloading it directly from web ui is fine though. What could I be doing wrong? thanks.

curl -H "Authorization: apiToken myrandomtoken" -X GET https://api.shippable.com/builds/55b32a296572ba0c0057b090/1/artifacts

Regards

Jeff

[2015-07-25 10:00] magnus-larsson opened #1720 "Can't access my formation service"
I can no longer access my service in my formation:
(worked fine a couple of days ago)

<img width="575" alt="screen shot 2015-07-25 at 11 50 13" src="https://cloud.githubusercontent.com/assets/1313727/8888945/9866a268-32c3-11e5-9241-14ba8022e0ec.png">

<img width="819" alt="screen shot 2015-07-25 at 11 50 49" src="https://cloud.githubusercontent.com/assets/1313727/8888942/80a1f9e8-32c3-11e5-8624-d

[2015-07-25 12:51] #1719 closed

[2015-07-25 14:35] xherriot commented on #1696
Good for me too, thanks !

[2015-07-25 15:21] avinci commented on #1720
@magnus-larsson sorry about this. We had a problem with our auto-load balancer config and ended up corrupting some of the proxies. I think your pod has that problem and we must have missed it in out query.

Here is what you need to do to fix it.

* from the formations status page, click on the service which will take you to the service status page
* in the bottom panel where it shows you details o

[2015-07-25 16:02] RobertHerhold commented on #1713
The MongoDB and RethinkDB services are also considerably out of date.

The MongoDB service on Shippable is currently running 2.4, whereas the current version is 3.04

[2015-07-25 18:28] patricioe commented on #1670
Ping.

[2015-07-25 21:01] bastianwegge commented on #1717
Don't know what you did, but now the ssh key seems to be available. Thank you!

[2015-07-25 21:01] #1717 closed

[2015-07-26 05:44] magnus-larsson commented on #1720
Tanks for the help, but I still get "Connection refused".

I can see that the port is changed after following your instruction and I can see that tomcat restarts ok in the logs but I still get "Connection refused".

...and the console still reports: "Container Usage: 3 of 1" (don't understand that message...)

Any other idea?

[2015-07-26 06:01] avinci commented on #1720
Do you mind sending me the url from the formation status screen. 

—
Sent from Mailbox

On Sat, Jul 25, 2015 at 10:44 PM, Magnus Larsson <notifications@github.com>
wrote:

[2015-07-26 06:10] magnus-larsson commented on #1720
Here it comes:

<img width="415" alt="screen shot 2015-07-26 at 08 04 34" src="https://cloud.githubusercontent.com/assets/1313727/8892774/1f9542cc-336d-11e5-93b3-635b96eccd56.png">

A curl-request without authentication should result in a 401 like:

    $ AWS_HOST=mt-fo-lb-168423950.us-east-1.elb.amazonaws.com
    $ AWS_POST=10984
    $ curl "https://$AWS_HOST:$AWS_PORT" -ik
    HTTP/1.1 401 Unaut

[2015-07-26 17:05] manishas commented on #1720
@magnus-larsson apologize for the lack of clarity, what we need is the URL of your Formations status page.

You can go to your dashboard and select your Formation name from the Formations dropdown -
![screen shot 2015-07-26 at 10 03 09 am](https://cloud.githubusercontent.com/assets/2983749/8894947/914144d8-337d-11e5-93d0-2b05011545b7.png)

You will see your Formations status page. We need the URL

[2015-07-26 17:33] avinci commented on #1720
@magnus-larsson  Couple of things you might want to change on your script
* typo on AWS_POST. It has to be AWS_PORT i think
* second, you are using https and it should be http

I did not realize those errors or your script and ended up redeploying to test.

If i deploy `magnuslarsson/az-ip-api-server:latest` then I get the following out put

[code]

If i deploy `magnuslarsson/az-ip-api-server:mast

[2015-07-26 20:09] magnus-larsson commented on #1720
Great, thanks!

Sorry for not spelling PORT correctly ;-)

Yes, deploying master.15 now works fine so the routing is working again!

Using https it intentionally, the latest docker image use https.
I was not aware that https is not supported by the infrastructure.

Do you have any link to information how to use https in your infrastructure?
Or should I register a new issue regarding that?

[2015-07-26 20:58] magnus-larsson opened #1721 "Pushing code to bitbucket no longer triggers new builds correctly"
While working on resolving issue #1720 I pushed some code changes to the master branch in my BitBucket project:

<img width="1129" alt="screen shot 2015-07-26 at 22 43 04" src="https://cloud.githubusercontent.com/assets/1313727/8895848/9b9c0d12-33e8-11e5-9954-33d8f3faec9b.png">

But no build were triggered so I tried to reset the webhook using the Reset button on the project page, https://app.ship

[2015-07-26 22:08] avinci commented on #1720
We are working on SSL termination and its pretty close to launch. Give me a couple of days and I will get back to you on the exact date of launch

[2015-07-27 06:27] magnus-larsson commented on #1720
Great, thanks!

[2015-07-27 08:43] rvrignaud commented on #1708
Hello,
It seems I'm getting this behavior if I try to push to another domain that gcr.io (ie eu.gcr.io is failling but gcr.io is OK).

Did you push to gcr.io ?

[2015-07-27 08:46] donmasakayan commented on #1708
Interesting. I'm indeed pushing to `us.gcr.io`. I'll test out pushing to `gcr.io` tomorrow.

[2015-07-27 08:58] donmasakayan commented on #1708
Update: Pushing to `gcr.io` worked. So it seems that there's an issue with using the other domains.

[2015-07-27 10:08] jamesjwarren commented on #1538
@avinci this has been open a while now, still no response...

[2015-07-27 12:11] xherriot opened #1722 "Forbidden access when I try to download the artifacts"
Hello,

I have a script launched in the after_archive part.
It send to an external api the link to download my artifacts.
But this api get an 403 when it try to download the archive (with curl):
[code]

There is no delay between the call to my api and the download of the archive.

It looked good few days ago.

[2015-07-27 13:23] rvrignaud opened #1723 "Can't build Docker image with FROM poiting to private GCR image"
Hello,

We use GCR integration for our Docker builds (post-CI with image push).
For images with a FROM (parent image) that point to a public image (like ubuntu:14.04) it works fine.
Whoever if we try to use a FROM with a private GCR image we get a 403 Access Denied.
(like this build https://app.shippable.com/builds/55b6231f67a1d80b00778f78).

[2015-07-27 14:29] xherriot commented on #1722
My bad, the link is cutted after the "expires" parameter because of a syntax error in my script.

[2015-07-27 14:29] #1722 closed

[2015-07-27 15:47] chriskinsman opened #1724 "Service Down Again"
Seeing javascript errors

Mixed Content: The page at 'https://app.shippable.com/' was loaded over HTTPS, but requested an insecure stylesheet 'http://fonts.googleapis.com/css?family=Open+Sans'. This request has been blocked; the content must be served over HTTPS.
socket.io.js:1 Uncaught SyntaxError: Unexpected token <
https://api.shippable.com/accounts Failed to load resource: the server responded

[2015-07-27 15:49] chriskinsman commented on #1724
Back after about 10 minutes or so

[2015-07-27 15:51] chriskinsman commented on #1724
Spoke too quickly.  Same issue still

[2015-07-27 16:45] chriskinsman commented on #1724
Back to working

[2015-07-27 16:45] #1724 closed

[2015-07-27 17:17] david-anyvan opened #1725 "Can't see docker / image options for Project"
Our account was set up by an employee who has now left the company, and today as he was removed from our github account. Since that point the build appears to be trying to use docker and in doing so does not finding the image. As far as we can tell the manager is the (or a) subscription owner - yet we can't see any container options for our project / dashboard. Would that original account have had

[2015-07-27 17:20] JADurham909 opened #1726 "Bitbucket integration down"
Here is the error on login:

failed to obtain access token (status: 400 data: Invalid request token.)
   at /home/shippable/www/node_modules/passport-bitbucket/node_modules/passport-oauth/lib/passport-oauth/strategies/oauth.js:134:36
   at /home/shippable/www/node_modules/passport-bitbucket/node_modules/passport-oauth/node_modules/oauth/lib/oauth.js:465:22
   at passBackControl (/home/shippable/ww

[2015-07-27 17:22] JADurham909 commented on #1726
Actually this turned out to be related to something in the browser.  When I switched from Safari to Chrome is started working.  I will leave this open just so you are aware of it.

[2015-07-27 17:23] mdlampi opened #1727 "App isn't loading"
Trying to access a build is timing out. The app says "There is an issue loading the app. Please contact support.".

[2015-07-27 17:49] caarlos0 opened #1728 "Cannot undo config "pull image from""
After I add a custom image to pull from, I'm unable to delete it and put it back to the default (empty).
If I try to do that, I got an error saying that the build image can't be blank.

I had to remove the project and create it again.

[2015-07-27 17:53] manishas commented on #1728
you can click on the trashcan icon in project settings to delete them.

[2015-07-27 17:53] #1728 closed

[2015-07-27 19:03] lekhab commented on #1725
@david-anyvan: looks like the project you are trying to build does not have a hub integration set up in Shippable anymore - so we are unable to access docker to pull the build image.

1. Go to Account Settings and link your shippable account to the docker hub account by providing the docker hub login credentials to use.
2. Under your project settings -> project integration, select the docker hub i

[2015-07-27 19:07] manishas commented on #1663
@chriskinsman i don't see this happening for your project any more. Can we close this?

[2015-07-27 19:20] chriskinsman commented on #1663
Sure.  It is quite intermittent we have found.

[2015-07-27 19:20] #1663 closed

[2015-07-27 21:13] mustela commented on #1687
@rageshkrishna builds now are taking A LOT, like 30 minutes to complete, is there anything we can do to improve it?

Thanks

[2015-07-27 23:14] #1696 closed

[2015-07-27 23:16] lekhab commented on #1671
Closing this. Please let us know if this is still an open issue.

[2015-07-27 23:16] #1671 closed

[2015-07-27 23:20] lekhab commented on #1644
@pilec: please let us know if the resolution does not work for you and we will re-open.

[2015-07-27 23:20] #1644 closed

[2015-07-27 23:24] lekhab commented on #1726
@JADurham909: Apologies - this occurred when we were having some intermittent issues today morning, which have since been resolved. I am not able to reproduce this anymore. Please refresh the cache and try again. will re-open if this continues to be an issue.

[2015-07-27 23:24] #1726 closed

[2015-07-27 23:37] #1685 closed

[2015-07-28 04:09] rageshkrishna commented on #1687
@mustela This seems to be a bug in the version of nvm that we have on our default image. This bug is preventing nvm from installing node v12 from the binaries and it ends up doing a compile from source. Upgrading to a newer nvm will get you around this.

You can upgrade nvm to the latest release (0.25.4 at this time) with this command:

[code]

This should be done as the first step in your `before

[2015-07-28 06:24] mustela commented on #1687
@rageshkrishna how do I get back to the working directory after the line you mentioned?

https://app.shippable.com/builds/55b71e94d655e10b00e01c47

[2015-07-28 08:02] rageshkrishna commented on #1687
Oops, sorry about that. You can do `cd $SHIPPABLE_REPO_DIR` to get back to the working directory.

[2015-07-28 08:25] pilec commented on #1644
Thank you, it works for us.

[2015-07-28 08:40] molinto commented on #1671
Hi, sorry for delay.
I have removed the 'build_image: shippableimages/ubuntu1204_nodejs' fro my shippable.yml file & put this line in my project settings > pull image from input box.

I've also removed the docker info from the same project (project integrations) section.

[2015-07-28 08:45] #1707 closed

[2015-07-28 08:58] mustela commented on #1687
Awesome, thanks, working way much better now. Will see what happen with a few more builds.

[2015-07-28 12:18] rvdwijngaard opened #1729 "my build keeps hanging on docker pull"
Hi,

One of my builds (I did not check if it happens for all builds) keeps hanging on docker pull status. Can you please check what's going on? This is blocking my work right now.

https://app.shippable.com/builds/55b76c62dcc3110c00061d38

Cheers,
Ron

[2015-07-28 12:37] rvdwijngaard commented on #1729
I deleted the project and recreated it again; still the same issue. The new build id is https://app.shippable.com/builds/55b777258425e20b00db20e2

I tried to run another project (which pulls a different build image) and this one completed succesfully.

[2015-07-28 12:56] bittner commented on #733
@manishas In general, the old UI was much more refreshing. Yes, there were issues, but there was less clutter, less "we want to look like Travis-CI".

One major issue I just faced: On the home page there is no easy way to find one of our numerous projects. There is no search box, and only the first 5 projects are listed. Okay, there is a "Fetch More" link and the subscription drop-down box for dri

[2015-07-28 13:26] rvdwijngaard commented on #1729
because I ran too many builds in a row my dedicated host ran out of diskspace. Problem solved after freeing up resources.

[2015-07-28 13:26] #1729 closed

[2015-07-28 15:06] rvdwijngaard opened #1730 "builds are very slow and hanging"
Hi,

I spent several hours in getting my api deployed but without any luck. Initially it seemed my disk was running out of space which I fixed. My builds, however, are failing and very slow. It takes a quarter to build a simple GO api of 2 MB.

for example:
https://app.shippable.com/builds/55b798358425e20b00f51f95

Can you please checkout what's wrong here since this is stopping my deployment.

Ro

[2015-07-28 15:13] rvdwijngaard opened #1731 "dedicated nodes are not in the menu"
Hi,

I tried to replace one of my dedicated hosts by a new one; after deleting my current host the menu option is gone. Please enable this option since I am not able to do any deployment without a dedicated host!

Please help,
Ron

[2015-07-28 16:06] manishas commented on #1727
@mdlampi are you still running into this?

[2015-07-28 17:08] lekhab commented on #1731
@rvdwijngaard: you should be able to see a "custom nodes" tab under your subscription like below? You can add a new node by clicking on the (+) on the screen.

To get to your subscription page - click on the CI dropdown on the home page and select your subscription.

![screen shot 2015-07-28 at 10 05 19 am](https://cloud.githubusercontent.com/assets/9526532/8937963/76bf3be4-3510-11e5-837e-9af6c03e

[2015-07-28 17:15] rvdwijngaard commented on #1731
yes that is exactly how it was working; for some reason I don't see that menu option anymore.

![image](https://cloud.githubusercontent.com/assets/7237796/8938116/ed0d2e72-355c-11e5-8df2-0be6ad5161e1.png)

[2015-07-28 17:16] lekhab commented on #1721
@magnus-larsson: Bitbucket did not support webhooks for PR builds until very recently - so we were unable to automate PR builds for Bitbucket. They did launch this support recently and we now have it on our backlog to support this. This feature request is being tracked in #237. Please follow that issue for updates on this feature.

[2015-07-28 17:22] lekhab commented on #1731
apologies, @rvdwijngaard. Following up on this..

[2015-07-28 17:39] lekhab commented on #1731
@rvdwijngaard: while we look into this, can you please send me the details of the host you need added to lekha@shippable.com and we will manually update the backend, so you can be unblocked?

[2015-07-28 17:40] mdlampi commented on #1727
Hi Manisha,

Thank you for asking. It seems to be working  at this time.

Best regards,

Michael Lampi, Senior SDET Lead

Inline image 1

1501 4th Avenue, Suite 2900

Seattle, Washington 98101

425.765.3976 Direct

Level11.com

From: Manisha [mailto:notifications@github.com]
Sent: Tuesday, July 28, 2015 9:06 AM
To: Shippable/support
Cc: Michael Lampi
Subject: Re: [support] App isn't loading (#1727

[2015-07-28 18:19] magnus-larsson commented on #1721
Thanks for helping me out!

I'm not using PR, just ordinary push to the master branch. It has worked flawless until some day ago when it simply stopped to work...

Hope you can help me to get it working again!

Regards,
Magnus.

[2015-07-28 18:57] lekhab commented on #1721
my bad!

so it looks like we are having trouble parsing your YML. The error I see against these builds is "Error parsing shippable.yml". Can you please either send me your YML to lekha@shippable.com or check if your YML is valid at http://www.yamllint.com/ ?

[2015-07-28 19:21] magnus-larsson commented on #1721
Thanks a lot!

You are right, my shippable.yml is no longer valid :-(

http://www.yamllint.com/ complains about the line (i have it in the after_success section):

      - sed -i.org 's/baseUri: https:\/\/localhost:8080\/api/baseUri: \/api/' src/main/resources/public/raml/az-ip-api.raml

It runs fine when I test it locally, but http://www.yamllint.com/ reports:

    (<unknown>): mapping values are

[2015-07-28 19:47] epicserve opened #1732 "Permission denied when installing python packages with pip"
My config was working and just stopped working like a week ago. I'm just now getting around to looking into it.

I'm getting the following during the install section:

[code]

My shippable.yml file:

[code]

[2015-07-28 20:29] lekhab commented on #1721
Can you try by removing the escape characters and adding quotes to the command? I was able to do a simple sed replace using the format below..

``` "sed -i.org 's/baseUri: https://localhost:8080/api/baseUri: /api/' src/main/resources/public/raml/az-ip-api.raml" ```

[2015-07-28 22:01] #1704 closed

[2015-07-28 22:20] lekhab commented on #1689
@moylop260, @mspanc - Apologies for the delay in getting this resolved. We have an open bug internally for this. Could you please use the following workaround until we get the bandwidth to resolve this?

In the env section of your YML, unset PGCLUSTER by adding the line below:

[code]

[2015-07-28 22:59] benscholler commented on #1557
Bump. I'm encountering this issue as well. I used the example given in the docs. Command I'm running:
[code]

[2015-07-28 23:31] lekhab commented on #1730
@rvdwijngaard: pls let me know if this is still an issue after you have updated the node..

[2015-07-28 23:32] lekhab commented on #1731
@rvdwijngaard: are you able to see the custom nodes tab in your subscription now?

[2015-07-28 23:35] lekhab commented on #1723
looking into this..

[2015-07-29 01:54] gegere commented on #1731
Same issue. I had a dedicated host listed, I can't find the UI button to display my dedicated noded. The current dedicated node is erroring out builds because the disk is full. I need to remove it a start again. Please help1

I am reading all the convsation in this thread and following [this post](http://blog.shippable.com/dedicated-hosts-?__hstc=253494166.97e4247b0ebee1b3f5a02a86d5090293.14381335

[2015-07-29 03:27] amondnet commented on #174
+1

[2015-07-29 05:15] sachuin23 opened #1733 "Possibility of providing anaconda as a base package for Python Builds"

[2015-07-29 05:17] sachuin23 commented on #1733
Closing as I found a similar request already triaged and replied to.

[2015-07-29 05:17] #1733 closed

[2015-07-29 05:28] manishas commented on #1733
@sachuin23 one quick update since the earlier issue was responded to - you no longer need dedicated hosts to use custom images. You can use any custom image you want on our platform - more details at http://docs.shippable.com/docker_registries/

[2015-07-29 05:34] sachuin23 commented on #1733
Thank you so much for quick response!

On Tue, Jul 28, 2015 at 10:28 PM, Manisha <notifications@github.com> wrote:

[2015-07-29 07:38] magnus-larsson commented on #1721
Thanks for the help with the `sed`-command!

My final question is regarding how I can pick up future build that fails on "Error parsing shippable.yml". Since these builds don't show up in my console I can't see them...

Is there another way for me to see these failed builds and whatever reason that prevented them to show up in my console (e.g. a broken shipping.yml file)?

[2015-07-29 11:01] rvdwijngaard commented on #1730
@lekhab: I have suffered this issue for several hours; my builds were failing at the docker push step because the buildoutput folder did not exist. After some time the problem was resolved without changing anything.

[2015-07-29 14:38] epicserve commented on #1732
@manishas Any ideas? I think this might be related to #1680.

[2015-07-29 16:19] macolo opened #1734 "python 3.4 configuration still uses /root/ve/lib/python2.7 to pip install -r requirements.txt"
I use the following shippable.yml however still python2.7 is used in the virtualenv and this breaks ````pip install -r requirements.txt`````

[code]

It apparently fails to install Pillow and errors out with: ````error: command 'gcc' failed with exit status 1````

What is going wrong?

[2015-07-29 17:03] lekhab commented on #1708
following up on why there are intermittent Access Denied issues with using GCR.

@donmasakayan - does using ```gcr.io``` resolve your issue?

[2015-07-29 17:06] rvrignaud commented on #1708
@lekhab would that be possible to add the feature request to be able to push to other domain (like eu.gcr.io ?). Using different domain implies to use a bucket in a different region.

[2015-07-29 17:41] rvdwijngaard commented on #1731
@lekhab : fixed

[2015-07-29 17:41] #1731 closed

[2015-07-29 17:44] blakeblackshear commented on #1492
Somehow I have 2 accounts and I need to move the link to my github to the same account where I have bitbucket linked. How can I do this?

[2015-07-29 18:07] donmasakayan commented on #1708
@lekhab Yes, using `gcr.io` worked for me.

[2015-07-29 18:09] #1727 closed

[2015-07-29 18:12] lekhab commented on #1518
please let us know if you are still running into this and will re-open.

[2015-07-29 18:12] #1518 closed

[2015-07-29 20:49] lekhab commented on #1721
@magnus-larsson: Error notifications are currently only visible when you run a manual build.  We do realize this is something that is critical for our users to debug failed webhook builds themselves - there is an internal issue that's open to resolve this.

[2015-07-29 21:33] magnus-larsson commented on #1721
Ok, great! Thanks for the info, I'll close this issue.

[2015-07-29 21:33] #1721 closed

[2015-07-29 21:57] phagunbaya opened #1735 "Builds waiting for too long"
Our builds are not getting started, and showing "waiting" status.

[2015-07-29 22:00] lekhab commented on #1735
can you provide the link to a waiting build, pls?

[2015-07-29 22:00] phagunbaya commented on #1735
@lekhab https://app.shippable.com/builds/55b94b5000fec00b00e9d38a

[2015-07-29 22:12] lekhab commented on #1735
looks like the message was stuck in our queue. I canceled the stuck one and re-ran the build and it's now processing successfully.

will follow up on why this might have happened and keep a look out for any repeat issues of this kind.

[2015-07-29 22:14] phagunbaya commented on #1735
Appreciate the help.

[2015-07-30 11:31] ils-miteshs opened #1736 "php Multiple file intregation"
There is no steps for how to deal with multiple lib and files. How should I integrate my php lib in test case. So that I do not have to right same code twice. I want test case to check db query also is it required every time I have to use create and drop table commands. How should I include multiple files for test cases.

[2015-07-30 14:55] sammountford opened #1737 "{"id":2100,"message":"No build found","methodName":"validateCaller|_checkAccessLevel"}"
I'm using a private BitBucket Repo and have added shippable.yml to a feature branch and I'm running the build on that branch and I get the error
{"id":2100,"message":"No build found","methodName":"validateCaller|_checkAccessLevel"}

[2015-07-30 15:23] stekycz opened #1738 "Timeout since run start not since enqueue"
Sometimes in our projects a build times out. From the data we have collected it looks that the timeout is calculated since the time of enqueue the build. I think the timeout should be calculated since the time the build has started (finished waiting in the queue).

Is it possible or is there some reason why it is not calculated as I described?

[2015-07-30 15:27] stekycz opened #1739 "Force push or fixup does not enqueue a build"
I have got a lot of feedback from my developers when they force push to their's branch or create a fixup commit in Git then the build is not enqueued.

Could it be fixed?

[2015-07-30 15:31] stekycz opened #1740 "Older build for the same pull request does not die on new commit"
We have found an issue that creates a lot of builds in the queue which makes a lot of delays. It can be done by forgotten change which should be in the pull request. I know that it can be killed manually but we usually want to kill previous build.

Is it possible to make it? Or is it possible to make it configurable per project?

[2015-07-30 15:53] bloo opened #1741 "Cannot access my Github Organization's private repos"
@manishas I can't re-open #617 so am creating a new issue. I'm part of Github org's Owner group and I also have "PRIVATE REPOS" enabled on my Shippable profile, but cannot see any of the private repos.

[2015-07-30 16:04] bloo commented on #1741
update: logging out and back in did nothing, but _forcing sync_ on the projects page listed all the repos. Still a bug, but found the work-around.

[2015-07-30 16:58] manishas commented on #829
This is now available in Project Settings.

![screen shot 2015-07-30 at 9 58 27 am](https://cloud.githubusercontent.com/assets/2983749/8989526/9141092e-36a1-11e5-9dd5-38112725dd72.png)

Thanks for your patience!

[2015-07-30 16:58] #829 closed

[2015-07-30 16:59] manishas commented on #1551
This is now available in the UI through project settings -

![screen shot 2015-07-30 at 9 58 27 am](https://cloud.githubusercontent.com/assets/2983749/8989549/a9c0f162-36a1-11e5-9197-1169aba82f8e.png)

Thanks for your patience!

[2015-07-30 17:00] manishas commented on #938
This is now available through our UI in Project Settings -

![screen shot 2015-07-30 at 9 58 27 am](https://cloud.githubusercontent.com/assets/2983749/8989568/c1afe24c-36a1-11e5-96a0-cf35a36aefc7.png)

[2015-07-30 18:16] maazghani opened #1742 "npm issue with gulp-imagemin/gifsicle"
### npm issue with gulp-imagemin/gifsicle
We have builds that do not fail in our local environments, but are failing on shippable, randomly. The build succeeds and fails in ways that we can not consistently reproduce.

The exact error that we are getting that breaks the build is:
[code]

### What I've tried:
* Adding `npm cache clean` to the shippable.yml
* Clearing the cache from the Project Sett

[2015-07-30 22:58] lekhab commented on #1741
@bloo: glad you managed to resolve this quickly. The workaround is actually by design - since we only sync at an hourly frequency. We do recommend force syncing if anything changed upstream and the sync hasn't happened. Not sure if that was the case for you. I was unable to reproduce your scenario.

Closing since the issue is resolved. Please let me know if this recurs and I will re-open.

[2015-07-30 22:58] #1741 closed

[2015-07-30 23:21] lekhab commented on #1739
@stekycz: can you please add some examples to help us debug? There is no reason why a force push would not queue a build, as far as I know. If you can please provide the link to your project and example commits that did not get queued - I can debug this further.

[2015-07-30 23:30] lekhab commented on #1738
@stekycz: Timeout is calculated based on when the build starts to run, not queued. That said, there may be edge cases here that may cause behavior that you are seeing. Do you have examples of builds that have timed out based on queuedTime and not startTime?

I can take a look to see if there's something specific going on with those builds.

[2015-07-30 23:45] lekhab commented on #1736
@ils-miteshs - Apologies if I misunderstood your question.
If you are asking about how to write php test cases - please use the php reference manual here: https://phpunit.de/getting-started.html & https://phpunit.de/manual/current/en/index.html.

We do have a sample PHP code to illustrate how you can build and run those tests in Shippable. Details and links to samples are available in our document

[2015-07-30 23:45] #1735 closed

[2015-07-31 00:04] lekhab commented on #1734
@macolo: Since you are using the custom python image, you will need to activate the appropriate venv in the before_install section, so the build runs against the correct version of python. You can use $SHIPPABLE_PYTHON environment variable for this.

Documentation on how to use the custom image for python is here:
http://docs.shippable.com/languages/#build-image_5

Here's a sample YML from the doc

[2015-07-31 00:08] lekhab commented on #1737
@sammountford: what's a link to your build or project, please? I can't find it with the github user id you are using..

Also, can you please confirm if your YML is valid here: http://www.yamllint.com/?

We sometimes see that error when there are YML errors..

[2015-07-31 00:13] lekhab commented on #1737
Actually, this is a different error.. not to do with YML.

Did you see the error on Shippable or when you were clicking through an email link? Just confirming if you were logged into Shippable - this is required for us to authenticate you to access a build link.

[2015-07-31 00:38] vkarpov15 opened #1743 "Build failures with no errors and no test reports"
Heya,

I'm pretty new with shippable, but looks like all of my builds today are breaking despite the fact that the scripts all succeed and the tests all pass. Can't figure out why shippable is reporting failures. If you need more data (specific build ids, etc.) can you shoot me an email?

Thanks,
Valeri

[2015-07-31 01:25] d3ming opened #1744 "Project not automatically building (and showing up as 'empty')"
disclaimer: I'm a total noob at shippable, just started trying it out.

One of my projects I'm trying to set up on shippable doesn't automatically build even after I added a shippable.yml file.  It also doesn't show up on my project list, it only shows up if I click 'show empty project'.  My questions are:

1. What makes the project 'empty'?  It's clearly not an empty project - although it is a pr

[2015-07-31 01:39] d3ming commented on #1744
Never-mind - I see the error was in my shippable.yml.  It's just slow/not obvious to get this to surface since the project was hidden under empty projects.

[2015-07-31 04:34] grosser opened #1745 "Initial view after signing up is very unhelpful ..."
Some inline documentation on how to get started would be nice instead of just a blank page

<img width="1075" alt="screen shot 2015-07-30 at 9 33 47 pm" src="https://cloud.githubusercontent.com/assets/11367/9000831/cb02972a-3702-11e5-9b96-b40d65cbe04a.png">

[2015-07-31 07:55] macolo commented on #1734
Hi Lekha,

This is great, thank you very much!

All the best

Mario

On Fri, Jul 31, 2015 at 2:04 AM, Lekha Bhargavi <notifications@github.com>
wrote:

--
Mario Colombo
Senior Product Specialist

Webrepublic AG
Phone: +41 44 542 90 68 <+41445429068>
Mobile: +41 78 941 73 34 <+41789417334>

mario.colombo@webrepublic.com

[2015-07-31 12:11] samius commented on #1518
Hi,
I am having the same problem right now.

[2015-07-31 16:58] lekhab commented on #1744
@d3ming: Thanks for the feedback - we are working on making error notifications more obvious to the users.

To answer your first question, 'empty' projects are those that don't have any builds on our system yet. I have added your question to our documentation FAQ here for now: http://docs.shippable.com/faq/

Please let me know if I can help if any other way and I can re-open the issue.

[2015-07-31 16:58] #1744 closed

[2015-07-31 16:59] lekhab commented on #1734
Glad that worked :-)

[2015-07-31 16:59] #1734 closed

[2015-07-31 22:28] Achse commented on #1739
I have found an example this night:

* Here is a failed build: https://app.shippable.com/builds/55b754d9dcc3110c00f6d4b1 (before 4 days)
* Now, I have made rebase the branch
* I force-pushed the result.
* No build has started.

I have theory: when commit message of the last commit on the tested brach does not change, no test will be started.

[2015-07-31 23:19] lekhab commented on #1739
@Achse: you are right - we did confirm this. Auto builds relies on Github sending us webhooks. It looks like when there are changes in a rebase, Git gives the latest commit a different commit hash and a webhook is sent. However, if there are no new commits in the rebase, the commit hash remains the same and Github does not send a webhook.  Which kinda makes sense...

Please let me know if there's

[2015-07-31 23:19] d3ming opened #1746 "It takes over 30s to load the project page"
Repro page: https://app.shippable.com/projects/55b81febedd7f2c0528a1c54

Takes over 30s to load the branches/ jobs for my project, and generally page load is slow.  Are there any performance issues being investigated now or am I a special case?  This is making it nearly impossible to use shippable for me.

[2015-07-31 23:36] lukehutton opened #1747 "Project not syncing"
Hi there,

Builds are not triggering, and branches aren't showing up. Seems like github sync not working on my private repo. URL = https://app.shippable.com/projects/55b170b3edd7f2c05281b1dd

Could you take a quick peek and see if I have any misconfiguration?

Thx

[2015-07-31 23:42] lekhab commented on #1747
@lukehutton: can you please send me your yml at lekha@shippable.com? Or check if the yml is valid at http://www.yamllint.com/.

Please confirm the branches you are building are not excluded in your yml..

[2015-07-31 23:59] lukehutton commented on #1747
Sure, yml is valid, and I'm only building master branches, but PRs aren't being built and when I close a PR and merge it to master, master isn't building. I'll send you the yml via email.

thx

[2015-08-01 00:31] carlqt commented on #126
Hi! I'm currently facing this issue. I'm not able to see the repository that I have created under bitbucker team.

[2015-08-01 00:33] lukehutton commented on #1747
Awesome, thanks! like you said, i had "master" in yml, but branch was named "Master" in github. I deleted Master and added master branch

[2015-08-01 00:33] #1747 closed

[2015-08-01 00:56] lekhab commented on #126
@carlqt: can you please try force syncing the account?  Click on Account Settings (the gear icon) on the top bar and click the Force Sync button?

In case that doesn't work, can you please add the link to the subscription here?

[2015-08-01 11:05] stekycz commented on #1739
Do I understand well that it cannot be fixed on your side because of GitHub? Because GitHub does not send a webhook on force push with the same top commit?

[2015-08-01 14:52] amondnet commented on #1746
It takes 3~5s to load page. (Busan, Korea 100Mbps connection)

[2015-08-01 20:01] jbowman1107 commented on #1600
I am seeing this as well. When we cancel a build, after_success is triggered.

[2015-08-02 00:33] macgyver2028 opened #1748 "Build hangs after docker image build. Never pushes to docker hub."
I am having an issue where the docker container is built, but is never pushed to docker hub.  I am using a dedicated node and everything seems to be in order there.  After the image is built, the build hangs until it ultimately times out.  No other errors that I can find.

![screen shot 2015-08-01 at 7 25 07 pm](https://cloud.githubusercontent.com/assets/1762038/9024132/2b8b1ef6-3883-11e5-8835-46c

[2015-08-03 03:51] asgeo1 commented on #1627
@manishas - I've just started getting "Waiting for logs..." errors today:

https://app.shippable.com/builds/55bee1c38798a00b0099f963

[2015-08-03 06:00] asgeo1 commented on #1745
I had this same issue. Was quite confusing.

The process to go through to get Shippable to find my private repositories was way too many steps.

[2015-08-03 06:08] asgeo1 opened #1749 "My build fails after the "pulling image from hub" step, with no error message or indication as to why"
Today, I've had nothing but issues.  Earlier it was getting stuck on the "Waiting for logs..." message - which I have no idea what that means. Quite an unhelpful message.

Now, it's started failing instead:

https://app.shippable.com/builds/55bf027bd0aba10b0007f8df

![image](https://cloud.githubusercontent.com/assets/702212/9034467/46941810-3a13-11e5-8b21-a8e269e2b15d.png)

But there is no indicat

[2015-08-03 08:02] pmoust commented on #1749
We are experiencing the same.

[2015-08-03 08:28] pmoust commented on #1706
No longer relevant.

[2015-08-03 08:28] #1706 closed

[2015-08-03 08:29] pmoust commented on #1096
Closing as dedicated nodes are deprecated.

[2015-08-03 08:29] #1096 closed

[2015-08-03 08:30] pmoust commented on #1489
Hi is there an ETA on API revamp on your end?

[2015-08-03 11:25] GriwMF commented on #1749
Same for me

[2015-08-03 12:29] simensen commented on #1749
I've been having this problem since at least last night.

[2015-08-03 12:44] caarlos0 opened #1750 "Cannot create API token"
Error:

[code]

[2015-08-03 13:59] aris-b commented on #1749
Same problem..

[2015-08-03 14:05] tomfotherby commented on #1749
Having this fixed would make me happy.

[2015-08-03 14:23] Vilsepi opened #1751 "NPM Error: shasum check failed and networks errors"
For the past 7 days, our Node 0.12 builds (using the *shippableimages/ubuntu1404_nodejs* image) have been failing randomly. Almost half the time the build fails, and if we rebuild the same commit enough times, it passes.

The build passes locally on our machines without problems, and when downloading the files manually, the checksums are correct. This is slightly irritating, as each Node build tak

[2015-08-03 14:46] kevinhodges commented on #1750
Also seeing this error message, are you aware of this problem?

[2015-08-03 14:46] notABluesSinger commented on #1750
Can also confirm I'm seeing this exact issue.

[2015-08-03 14:50] manishas commented on #1749
We'll look into this asap.

[2015-08-03 14:57] rageshkrishna commented on #1749
Folks, we're very sorry about this issue. Late last night we ran in to a resource issue on some of the build hosts and decided to provision new hosts.

Some of the changes that happened towards the end of last week required a git repository to be manually cloned on the hosts while provisioning new hosts. This step was not performed on the new hosts that were provisioned last night. Because of this

[2015-08-03 14:59] pmoust commented on #1749
Thanks @manishas @rageshkrishna .

(P.S. embrace the awesomeness of packer.io for pre-baked immutable VMs ;))

[2015-08-03 15:28] pmoust commented on #1749
Can confirm our minions work fine atm.

[2015-08-03 16:06] lekhab commented on #1750
following up on this.

[2015-08-03 16:13] lekhab commented on #1739
@stekycz - that's correct...

[2015-08-04 08:03] pmoust opened #1752 "minor: allow ANSI escape code in web build output log"

[2015-08-04 16:49] lekhab commented on #1750
@caarlos0, @notABluesSinger, @kevinhodges:  We fixed this bug yesterday - a miss when we were making upgrades to our PlanManagement code.

If you are still facing this, please add the link to the subscription so we can take a look.

[2015-08-04 21:56] jdextraze commented on #237
+1

[2015-08-04 23:42] marshall007 commented on #1582
This is related but might belong in a separate issue. I'd like to be able to view passing tests in addition to having the tab for "Failures". It's useful to be able to see which tests have been added/removed even if they are passing.

[2015-08-05 05:33] stekycz commented on #1739
@lekhab Ok, thank you. I will contact GitHub support :-)

[2015-08-05 11:31] spyrospph opened #1753 "files in buildoutput do not exist"
In our after_script code we have the action

cp -r vendor ./shippable/buildoutput

However suddenly our files are not being copied correctly and this results to our vendor folder not existing in our final docker build.

Please look into this ASAP as our builds are broken on production.

[2015-08-05 11:42] pmoust commented on #1753
Reference build https://app.shippable.com/projects/54c655025ab6cc135289c9c2

Sequence is
1. Pull Image A
2. Get dependiences, run CI
4. Pass
5. copy artifacts in shippable/buildoutput dir to be used in
6. Docker build
7. Push

Critical cause some services CD is broken.

[2015-08-05 12:11] czardoz opened #1754 "Shippable does not redirect users to HTTPS"
Visiting http://app.shippable.com does not open the app.

IsUp also shows an error connecting: http://isup.me/app.shippable.com

[code]

[2015-08-05 13:08] luckyraul opened #1755 "Strange fail"
https://app.shippable.com/builds/55c1efd99f6e5e0b000974d8

[2015-08-05 14:44] rageshkrishna commented on #1753
We're looking in to this. I'll update here as soon as I have more details.

[2015-08-05 17:10] lekhab commented on #1749
closing since the issue is resolved.

[2015-08-05 17:10] #1749 closed

[2015-08-05 18:16] aaronwest commented on #1481
@aproxs I've been working on getting GAE deployments setup with Shippable using appcfg.py. In short, I've run into many issues all pertaining to attempting to get the website synchs setup without user intervention.

I was actually searching the issues here for anything related to `appcfg.py` hoping someone had solved what I'm running into. I don't see any solutions so I'm going to log an issue in

[2015-08-05 18:50] aaronwest opened #1756 "Google App Engine deployments aren't sustainable long-term"
Google App Engine deployments, using the appcfg.py Python toolkit, do not work long-term. I'm using GAE SDK v1.9.24 and following the Shippable documentation listed [here](http://docs.shippable.com/appengine/#deployment-of-a-python-application) and am not able to get GAE deployments to work long-term.

I am able to get deployments to work, under certain conditions, for an hour until the GAE tokens

[2015-08-05 18:51] aaronwest commented on #1481
I wrote about my issue getting GAE deployments working here #1756. Posting a reference in case it is helpful to others.

[2015-08-05 18:53] aaronwest commented on #999
NOTE: The `--passin` flag is no longer available in appcfg.py.  Not sure when it was removed but it isn't available in GAE SDK v1.9.24.

[2015-08-05 19:01] claar commented on #1543
Yes please.

[2015-08-05 20:26] lekhab commented on #1739
will close this for now. Please let me know if you need this to be re-opened for any reason.

[2015-08-05 20:26] #1739 closed

[2015-08-05 22:07] vkuusk commented on #45
@manishas @avinci Do you have a timeline for implementation of stash support. The reason I'm asking because we have to make a decision what to choose to build our unified CI/CD pipeline:  Shippable or Jenkins.
1. We have shippable "custom node" (dedicated host) inside our internal network which performs deployments
2. We have many engineering projects in Stash, which is also inside the our corp ne

[2015-08-06 02:43] lekhab commented on #1753
this is now fixed - a regression during changes pushed to update our build system. Apologies! :-(

[2015-08-06 06:16] pmoust commented on #1753
Thanks

[2015-08-06 08:55] rvrignaud commented on #1723
Hello @lekhab. Did you manage to reproduce the problem ?

[2015-08-06 16:13] ragsden commented on #1723
@rvrignaud : We were able to repro the issue and we are debugging the issue. This issue seems to be occurring only with Docker build and works fine when we execute docker pull of the private image. We will keep you posted on the progress. Sorry for the inconvenience.

[2015-08-06 16:40] djmrr commented on #1742
hmmmmmmm

[2015-08-06 19:36] macgyver2028 commented on #1748
Any chance this is something I've set wrong someplace?  Any pointers as to where I should look?  I've tried alternate settings but get the same results.

[2015-08-06 19:37] macgyver2028 commented on #1748
Would posting our shippable.yml file help?

[2015-08-06 19:46] lekhab commented on #1748
@macgyver2028: apologies for the delay. following up on this.  Please go ahead and add the YML to the issue..

[2015-08-06 22:11] phagunbaya opened #1757 "Failed to upload image yet build was not treated as "Failed""
Found an error in shippable output logs during image upload to gcr but build was not treated as failed.
[code]

Is this behaviour as per design or some bug ? It should have mark build as "Failed" because I cannot deploy this image and it messes up our auto deployment.

[2015-08-07 02:38] macgyver2028 commented on #1748
YML file below.
[code]

[2015-08-07 06:02] claar opened #1758 "PhpUnit failed, but build marked as SUCCESS"
PhpUnit had a fatal error, but the build was still marked as succeeding -- see https://app.shippable.com/builds/55c4386342d32f0b00aad35e

Possibly related to #1757?

[2015-08-07 06:13] macgyver2028 commented on #1748
Update:  Changing to Post-CI works.  The image is pushed and the tagged release appears in Docker Hub.  No changes to YML or any other settings.  Pre-CI still hangs.

[2015-08-07 08:35] Nalum commented on #1480
@lekhab any update on this?

[2015-08-07 08:38] jawaid commented on #1757
We will look into it and get back to you.

[2015-08-07 10:58] shagabutdinov opened #1759 "No items in CI menu"
The CI menu is empty and I didn't find way to fix it:

![screen_2015-08-07_13 49 30_03 00](https://cloud.githubusercontent.com/assets/1635613/9134375/31bfab1a-3d0c-11e5-8c1d-3dde4040f3ad.png)

I have public repositories on github and I logined with github account "shagabutdinov".

[2015-08-07 11:08] Nalum commented on #1480
Looks like the docs have been updated.

Setting the GOPATH before doing any `go get/install` to `$HOME/workspace` did the trick for me.

[2015-08-07 12:00] Tapefabrik commented on #1742
We are struggeling with the exact same error :/ i manually compile images on my local machine to upload them manually afterwards every time. Any hints?

[2015-08-07 14:46] jawaid commented on #1757
This is as per design.

[2015-08-07 14:50] jawaid commented on #1759
Will look into it and get back to you.

[2015-08-07 15:09] lekhab commented on #1758
following up on this.

[2015-08-07 15:16] lekhab commented on #1748
thanks for the update. It does appear to be transient docker related issues - following up with our engineering team if there is anything they could do.

On a related note, do you need to use dedicated hosts for your builds? We do support Docker builds now on our multi tenant platform in our latest version. Did you have any other use cases for using dedicated hosts?

[2015-08-07 15:19] lekhab commented on #1745
@grosser, @asgeo1: Thanks for the feedback! I have added this to our backlog to address.

[2015-08-07 18:06] lekhab commented on #1748
@macgyver2028: looks like you are using Centos image for your project. We only support Ubuntu based platforms currently.

http://docs.shippable.com/supported_services/

Are you able to test your builds on ubuntu and see if that works?

[2015-08-07 19:01] kailevy commented on #1759
@shagabutdinov Have you tried going into account settings (top right) and clicking 'Force Sync'?

[2015-08-09 14:08] hshira opened #1760 "Build fails but no error in console"
I am not sure why this build is failing. I see no errors in console --
https://app.shippable.com/builds/55c75d2713cd3f0b005e777f
Need help in understanding what is causing this issue.

Thanks,
Harpreet

[2015-08-09 21:53] bittner commented on #790
Regression :bomb:  This is an issue again.

In my YAML file I have the following script section:
[code]
The first command is chopped off at the first pipe, and no output is shown whatsoever.
The second command is also chopped off at the first pipe, but at least the output is displayed in Shappable's Console log.

Example build: https://app.shippable.com/builds/55c7c87b99917b0b00401128

[2015-08-10 07:34] davidkalosi commented on #1543
yes please. php7 is nearing it's debut and now is the right time to start testing our existing apps with the new engine.

[2015-08-10 07:59] shagabutdinov commented on #1759
The trick worked for me, thank you!

[2015-08-10 07:59] #1759 closed

[2015-08-10 11:50] mikeblakeuk commented on #1751
+1

[2015-08-10 15:12] lekhab commented on #1492
@blakeblackshear: I can only see one account with your id.  Can you please provide the details of the 2 accounts and which one you need removed?

[2015-08-10 15:41] blakeblackshear commented on #1492
The account id linked to github is: 55819d9d4d96360c000eff55
The account id linked to bitbucket is: 54f9e39a5ab6cc13529428d6

Please remove account id 55819d9d4d96360c000eff55.

[2015-08-10 18:08] PJnes commented on #1492
@blakeblackshear Any chance you could move this to your own issue? You've kind of jumped in on mine.

@lekhab I'm still waiting for a reply to my latest response (over 2 months fwiw).

[2015-08-10 18:40] lekhab opened #1761 "Delete duplicate account for blakeblackshear"
opening for @blakeblackshear - separating the issue from #1492.

Details from @blakeblackshear:
"
Somehow I have 2 accounts and I need to move the link to my github to the same account where I have bitbucket linked. How can I do this?

The account id linked to github is: 55819d9d4d96360c000eff55
The account id linked to bitbucket is: 54f9e39a5ab6cc13529428d6

Please remove account id 55819d9d4d963

[2015-08-10 18:40] lekhab commented on #1492
@PJnes - apologies. following up on your issue internally.

@blakeblackshear - created a separate support issue to track your case - #1761

[2015-08-10 18:46] lekhab commented on #1492
@PJnes: Can you please take a look now and let me know if the account is cleaned up on your end? We cleaned up the backend for your Github account on Shippable.

[2015-08-10 18:52] PJnes commented on #1492
@lekhab All sorted now, thanks!

[2015-08-10 19:04] lekhab commented on #1492
great - closing this. @blakeblackshear - will update #1761 as soon as your dupe account is deleted.

[2015-08-10 19:04] #1492 closed

[2015-08-10 22:35] #1753 closed

[2015-08-10 22:35] #1757 closed

[2015-08-10 23:05] ragsden commented on #1761
deleted account

[2015-08-11 01:20] blakeblackshear commented on #1761
I was able to link my github account to the same one as my bitbucket account, but all but 1 of my projects disappeared from the bitbucket organization.

[2015-08-11 01:27] blakeblackshear commented on #1761
They seem to have come back after logging out and back in.

[2015-08-11 04:03] bayu41 opened #1762 "Can't add repository from github"
Hi guys,

I have error while add private project from github.
It say Internal Server Error.
How can I add the repository?

[2015-08-11 04:03] iqbalnurhakim opened #1763 "Build stuck in "waiting""
Hi there,

Our builds is stuck in "waiting" status. any idea what's going on there?

https://app.shippable.com/subscriptions/5534a859edd7f2c052c8bb44

[2015-08-11 04:33] iqbalnurhakim commented on #1763
And i found `Waiting for mysql to start... ` in the log.

[2015-08-11 09:14] pquentin opened #1764 "Stop trimming console logs"
When downloading console logs, all spaces are preserved.

However, the console tab of any build page displays console logs without spaces (app.min.js appears to call `trim()` on every `output` in the `console` array). This is destructive and makes full tracebacks very hard to read. Can you please stop trimming those spaces? Thanks!

[2015-08-11 11:49] rlcomte opened #1765 "Build output not pushed to quay.io"
Hi,

We are encountering blocking issues in our CI pipeline, with Shippable not pushing build outputs to Quay.io. For one of our projects the last (and only) successful push happened on August 4. After that the pushes failed, not only for this project, but also for others. We use the minv2 image.

This happens with Golang based projects. Strangely the Nodejs based project did push. This project us

[2015-08-11 13:01] hshira opened #1766 "Unable to login with Bitbucket login"
![image](https://cloud.githubusercontent.com/assets/1060991/9198091/2b3e1f4c-3fff-11e5-8511-71157ddd41fa.png)

[2015-08-11 13:04] hshira opened #1767 "Waiting - even though no minions in use"
None of the minions are processing any other builds, still stuck:
![image](https://cloud.githubusercontent.com/assets/1060991/9198114/66b7ca00-3fff-11e5-845a-b72461580b0c.png)

https://app.shippable.com/builds/55c9f0b4862ab60b008fa12a

[2015-08-11 13:05] hshira commented on #1767
Started now. Not sure why it waited for 10 minutes

[2015-08-11 13:13] avinci commented on #1767
We are experiencing heavy volume and our scheduler is backed up. We are working on getting the log jam eased up. Sorry about the delay.

[2015-08-11 16:54] kailevy commented on #1762
Does the error message say anything else alongside Internal Server Error? Could you post a screenshot of the message?

[2015-08-11 17:04] kailevy commented on #1766
Is this bitbucket account already linked to your github? Are you trying to login to an account linked ONLY to bitbucket?

[2015-08-11 17:55] lekhab commented on #1762
@bayu41: can you also confirm that under your Account settings -> GitHub identity, the Private Repos button is "ON".

![screen shot 2015-08-11 at 10 55 20 am](https://cloud.githubusercontent.com/assets/9526532/9205507/7e88772a-4017-11e5-89b7-8be13ab5fde1.png)

[2015-08-11 17:59] lekhab commented on #1767
@hshira: the queues were cleared. I see your builds are succeeding now. marking this resolved. please let me know if you are facing any other issue.

[2015-08-11 18:17] hshira commented on #1766
This account is associated with BOTH github and bitbucket. I am able to login via github but not via bitbucket.

[2015-08-11 18:19] hshira opened #1768 "Multiple tags on docker image push"
I want to apply 2 tags to my docker image created by build.
1. default: example, master.57
2. latest

Is it supported by shippable? How can I do that?

[2015-08-11 18:20] hshira commented on #1767
It works now thanks!

[2015-08-11 18:41] #1767 closed

[2015-08-11 20:00] lekhab commented on #1689
@moylop260, @mspanc, @geekazoid: this has been fixed now. The builds should no longer fail with the PGCluster invalid version error. marking this resolved.  Please let me know if you are facing any further issue.

[2015-08-11 20:08] lekhab commented on #1768
@hshira: no, I am afraid we don't support multiple tags to a docker image currently. We do have it on our backlog and there is an open issue where this is being tracked - https://github.com/Shippable/support/issues/824.

Please follow that issue for updates on this feature request. I will close this one as it's a duplicate.

[2015-08-11 20:08] #1768 closed

[2015-08-11 20:17] lekhab commented on #1761
@blakeblackshear - closing as it's resolved. please let us know if we can help you any further.

[2015-08-11 20:17] #1761 closed

[2015-08-11 20:18] lekhab commented on #1750
closing this, as the issue is resolved.

[2015-08-11 20:18] #1750 closed

[2015-08-11 20:21] #1689 closed

[2015-08-11 20:27] lekhab commented on #1765
@rlcomte: I am unable to pull up builds with your github id. Are you using a different id? Can you paste links to failed builds here, pls?

[2015-08-11 20:41] caarlos0 commented on #1750
Sorry, forgot to do that.

Thanks @lekhab !

[2015-08-11 21:41] DavidGDragon commented on #1742
You can try using a different version of npm by adding `sudo npm install -g npm@2.12.1` (or w/e version you want) to `before_install:` section of the shippable.yml and see if that helps the issue.

[2015-08-12 00:54] moylop260 commented on #1689
@lekhab
Thank you.

==Offtopic==
Now I have a new error:
`createdb: could not connect to database template1: FATAL: the database system is starting up`
Do you know a similar case with this error?
I execute next script to start postgresql:
`sudo su -c "sudo -u postgres /usr/lib/postgresql/9.3/bin/postgres -c "config_file=/etc/postgresql/9.3/main/postgresql.conf" > /tmp/pg.log 2>&1`

[2015-08-12 01:15] jeremysuriel commented on #237
+1

[2015-08-12 05:30] rlcomte commented on #1765
Sorry for not providing more information, but normally my colleague takes care of this.
The builds are run under the toincrease account.
Failed build links: https://app.shippable.com/builds/55c9dc6e2f479e0b00fc5210

Note that I got errors in my AWS CodePipeline deployment, because it could not fetch the build image from quay.io. That is not shown in this build log here.

Hope this helps.

[2015-08-12 07:38] rlcomte commented on #1765
Hi,

I apologize for this issue, as it turned out that a change in our shippable.yml, using encrypted credentials, broke our integration with AWS. I assume that within the Shippable build script the call to AWS failed, and the subsequent post to quay.io did not happen.
The one thing I would like to see from Shippable is a more detailed build log.

Rine

[2015-08-12 07:38] #1765 closed

[2015-08-12 11:55] pmoust opened #1769 "Builds are stuck in queue even if there are unused minions"
Builds are stuck in queue even if there are unused minions
Ref. subscription/org https://app.shippable.com/subscriptions/5480429dd46935d5fbbf5213

[2015-08-12 12:21] simensen commented on #1769
We're seeing this as well.

[2015-08-12 12:30] manishas commented on #1769
looking into it now...

[2015-08-12 12:35] acrontum commented on #1742
Worked for us. Thanks @DavidGDragon

[2015-08-12 12:53] manishas commented on #1769
Builds should be running again.... let us know if you're still running into issues. Sorry for the inconvenience!

[2015-08-12 15:18] pmoust commented on #1769
Thanks

[2015-08-12 15:18] #1769 closed

[2015-08-12 17:21] chriskinsman opened #1770 "Unable to load console"
Just stays in a spinning state and eventually gives:

Error getting account Id: [object Object]

ETA on fix?

[2015-08-12 17:21] caarlos0 opened #1771 "Cannot open the app"
A request to `/accounts/:id/sync?force=true` took 2 min and timed out...

Seems like this is happening to everyone in our organization...

Anything I can do here to help?

[2015-08-12 17:23] #1770 closed

[2015-08-12 17:48] lekhab commented on #1771
@caarlos0: The queues got backed up. This is resolved now. We are working hard to stabilize this - apologies for the bumps during the process.

[2015-08-12 17:52] caarlos0 commented on #1771
Ok! Many thanks @lekhab :+1:

[2015-08-12 17:57] mikedanese opened #1772 "Organization not showing up."
Hi, we just move the kubernetes to the new organization https://github.com/kubernetes and while trying to reenable shippable, I noticed that the kubernetes organization is not showing up. Am I looking in the right spot?

![no-kubernetes](https://cloud.githubusercontent.com/assets/1787169/9232157/e39953e0-40e0-11e5-8ef9-534ff04a27b8.png)

[2015-08-12 18:01] kailevy commented on #1772
Could you ensure that your account is fully synced by going to settings (top right) and clicking 'Force Sync'?

[2015-08-12 18:02] ixdy commented on #1772
I just tried a force sync on https://app.shippable.com/accountSettings, but it's still not showing the kubernetes org for me, either.

[2015-08-12 18:03] mikedanese commented on #1772
Yup. Force sink did not work.

[2015-08-12 18:06] kailevy commented on #1772
Could you try following these instructions?
http://docs.shippable.com/faq/#why-cant-shippable-see-my-org-on-github

[2015-08-12 18:06] caarlos0 commented on #1771
Hi @lekhab ,

Sorry to reopen this, but seems like builds are not being build too...

[2015-08-12 18:06] manishas commented on #1772
we're looking into this...

[2015-08-12 18:07] manishas commented on #1772
This might be relevant -

Why can't Shippable see my org on GitHub?

GitHub's default policy when a new org is created is 'access restricted'. In order for Shippable to be able to see the org, you must manually grant access to Shippable. This can be resolved by going to the third-party access section for the org, and clicking 'Remove restrictions' Under the 'Third-party application access policy'

[2015-08-12 18:11] caarlos0 commented on #1763
Here:

https://app.shippable.com/builds/55cb8a2d4efad50b00035fdc

Seems like all of our builds are stuck...

[2015-08-12 18:11] caarlos0 commented on #1763
cc/ @lekhab

[2015-08-12 18:13] mikedanese commented on #1772
That worked! Thanks @kailevy @manishas . Is there a way to only add shippable as an authorized application? What is the benefit of restricting access?

Side note: we had 8 workers in our old configuration but now we only have one.

[2015-08-12 18:38] lekhab commented on #1771
@caarlos0: We are taking a look and will keep you posted. Our console logs are still catching up - so the logs will take sometime to update. As long as your hosts are up, the builds should run though, so following up on this. (when do you turn off your hosts typically?)

[2015-08-12 18:46] chriskinsman opened #1773 "Git Clones Failing"
with Permission denied (publickey).

During npm install of packages that include private repositories.  This is ALL of our packages so no builds are completing...

@manishas Are you having a bunch of known issues right now?  Haven't seen much on twitter but feeling very wobbly today..

[2015-08-12 18:49] caarlos0 commented on #1771
@lekhab in ~4 hours from now (19:45 GMT-3)

[2015-08-12 18:50] caarlos0 commented on #1771
@lekhab thanks, BTW

[2015-08-12 19:42] aaronwest opened #1774 "Can you have spaces in encrypted environment variables?"
See the two examples I've written below. Based on my testing I don't think it is possible to have spaces in encrypted variables but I wanted to ask.

Example 1:
`var="this is my variable"`

Example 2:
`var1="thisismyvariable" var2="here is another one"`

Notice the use of spaces in the value portion of both examples. Having spaces and then doing something like `echo $var` or `echo ${var}` or even

[2015-08-12 19:46] mikedanese commented on #1772
We are still having some issues. Builds aren't starting and it looks like a webhook is not setup.

Is there any documentation on how to re-setup a webhook?

Is there any way we can get our 8 workers for this new location?

[2015-08-12 19:52] mikedanese commented on #1772
Figured out how to reset the webhook.

[2015-08-12 19:59] #1772 closed

[2015-08-12 20:04] lekhab commented on #1773
@chriskinsman: Real sorry about this - we had issues during an upgrade which resulted in the ssh deploy keys being reset.

Can you please re-enable access to the Shippable Deployment Key (found under Subscription -> Settings for your repos?

Please let me know if you have any questions about this and I am happy to help.

[2015-08-12 20:24] lekhab commented on #1771
@caarlos0:  Apologies, there was an issue during an upgrade which resulted in SSH keys being reset. So we are unable to contact your hosts. The hosts need to be re-initialized afresh with the new keys, I am afraid.

I sent you the key on email - can you please run it on all your hosts and then hit the re-initialize button?

Thanks again for your patience!

[2015-08-12 20:34] chriskinsman commented on #1773
Arrgghhh.  That is several dozen repos...

[2015-08-12 20:38] chriskinsman commented on #1773
Getting key already in use error once I try to add it to second repo

[2015-08-12 20:39] lekhab commented on #1773
:(  Didn't realize your settings were at the repo level. You could set this at an account level if you have multiple repos - but I am assuming you didn't want that.

[2015-08-12 20:39] lekhab commented on #1773
just saw your comment - following up..

[2015-08-12 20:40] chriskinsman commented on #1773
Shippable added it in the past

[2015-08-12 20:51] lekhab commented on #1773
@chriskinsman:  This needs to be added at the account level in GitHub for multiple repos, afaik. Are you able to add it to the account?

Just so I understand, are you saying this was working for you at a repo level earlier? Are you able to get on a hangout or a call, so we can get this resolved for you.?

[2015-08-12 20:53] chriskinsman commented on #1773
I don't want to give shippable write access to all repos.  I can jump on a call or hangout.  Point me at one.

[2015-08-12 20:57] chriskinsman commented on #1773
Also can't find a place in the org screen to add a deploy key at the org level.  Appears to be repo level only

[2015-08-12 21:01] lekhab commented on #1773
opened a hangout here: https://plus.google.com/hangouts/_/shippable.com/shippablecall?authuser=1. Please join in when you get a chance.

[2015-08-12 21:04] chriskinsman commented on #1773
Couldn't join for some reason.

[2015-08-12 21:09] chriskinsman commented on #1773
Resetting the project let's it pull the root stuff.

However npm install is failing to pull stuff with this:

git fetch -a origin (git@github.com:PushSpring/s3-stream-upload.git) Permission denied (publickey).

[2015-08-12 21:10] caarlos0 commented on #1771
@lekhab it's working now!

Thanks :tada:

[2015-08-12 21:11] #1771 closed

[2015-08-12 21:14] lekhab commented on #1773
it looks like you do have an account level key that it is trying to use and failing.

the hangout should work now - can you please try again?

[2015-08-12 21:28] mikedanese opened #1775 "After transfering repositories the number of workers was reduced"
When our repository was at https://github.com/GoogleCloudPlatform/kubernetes we had 8 builders running concurrently. Now that we have transfered to https://github.com/kubernetes/kubernetes we only have around 3 builders running concurrently. How can we increase our number of builders to what we had previously?

[2015-08-12 21:33] chriskinsman commented on #1773
Had to re-add shippable in my ssh keys

[2015-08-12 21:33] #1773 closed

[2015-08-12 21:34] chriskinsman opened #1776 "While troubleshooting issues today I deleted and re-added a repository"
How can I set the build number to a larger number to sync up with where it was...

[2015-08-12 21:36] lekhab commented on #1775
@mikedanese - following up on this.

[2015-08-12 21:37] mikedanese commented on #1775
Thanks much!

[2015-08-12 21:39] lekhab commented on #1776
@chriskinsman: this isn't possible by default - since it is technically a new project. however, we can update the backend as a one time thing.  Do you know the build number that it needs to be set to?

[2015-08-12 21:41] chriskinsman commented on #1776
Please set ps-common to 2000

[2015-08-12 21:57] ragsden commented on #1776
We have set the build number to 700.

[2015-08-12 21:57] #1776 closed

[2015-08-12 22:27] lekhab commented on #1775
@mikedanese - You now have 15 minions for your subscription as before. (you were seeing ~8 builders because each of your build is a matrix of 2 )

will resolve this.

[2015-08-12 22:31] mikedanese commented on #1775
Thanks @lekhab

[2015-08-12 22:32] mikedanese commented on #1775
LGTM

[2015-08-12 22:32] #1775 closed

[2015-08-12 23:13] DavidGDragon commented on #1618
I was not able to repro this issue, I used the following code in shippable.yml to create a directory, move into it, generate an error, and check if after_script ran. After script ran in all cases.
[code]

[2015-08-13 03:32] thesynapses opened #1777 "Cloud Foundry Support"
Hi Support
Do you have any plans of supporting Cloud foundry builds ?

Regards,
Sureel

[2015-08-13 09:31] sheldon-sminq opened #1778 "Docker build"
I am facing issues with docker build and deployment to ElasticBeanstalk.

I am using the POST-CI docker build process, where my code is checked out of github shippable compiles code and runs tests.

Once tests are completed shippable uses the docker file in my project to build the new image.
These are the contents of my Dockerfile

FROM sminq/baseimage:v1.0.2
WORKDIR /opt/sminq/api/
ENV APP_VERSIO

[2015-08-13 11:54] caarlos0 opened #1779 "Golang build is too slow"
Every build, Shippable downloads and install the Go version using `gvm`... I believe this could be optimized...

[2015-08-13 12:36] AndriyPt opened #1780 "Changed annual plan from 5 minions to 1"
Hi,

I am employee of the Shadow Robot company (shadow-robot organization name on GitHub).
We have paid for annual subscription for the Startup plan https://web.archive.org/web/20150420071249/https://www.shippable.com/pricing.html with 5 minions about two months ago.

![billing](https://cloud.githubusercontent.com/assets/10820297/9249745/78c68bd2-41d0-11e5-8d39-4bd81c52fe49.png)

Today we have dis

[2015-08-13 13:48] avinci commented on #1780
Sorry @AndriyPt, I have updated your plan. There was a bug introduced in our code due a darn `!` bug which ended up messing some plans.

I apologize for this.

[2015-08-13 14:20] blakeblackshear opened #1781 "Plan reduced to 1 minion"
Our plan was reduced to 1 minion, and our ssh key seems to have been regenerated. Now we have to regenerate our encrypted vars and update keys everywhere.

[2015-08-13 17:48] lekhab commented on #1781
@blakeblackshear: Many apologies about the inconvenience. Following up on the following subscription: 54ff4f905ab6cc1352974ee1. Please let me know if there are other subscriptions that are having issues as well.

[2015-08-13 18:00] lekhab commented on #1781
Actually, looks like the subscription: 54f8bef75ab6cc13529374f7 was already updated to 5 minions. I was looking at the github org subscription which was not on the plan.

Please let me know if that's not the case.  Will mark this resolved for now.

[2015-08-13 18:09] DavidGDragon commented on #1778
Docker build is run in the repository that was pulled so it doesn't know about `/hom/shippabe...`
Try using a path relative to the folder the Dockerfile is in. If the Dockerfile is in `sminq-api` then to add the jar you would use `${APP_VERSION}/target/sminq-api-${APP_VERSION}.jar`

More info: http://kimh.github.io/blog/en/docker/gotchas-in-writing-dockerfile-en/

[2015-08-13 18:17] blakeblackshear commented on #1781
Using shippable is becoming painful enough that it will be worth the extra cost of travisci. We battle it daily.

[2015-08-13 18:32] lekhab commented on #1781
@blakeblackshear: Very sorry to hear that. I would love to get on a call with you and work through any issues you are facing. Please let me know at lekha@shippable.com if that is a possibility.

[2015-08-13 18:43] lekhab commented on #1779
@caarlos0 - can you attach some build links, pls?

[2015-08-13 19:44] plunntic commented on #1712
Does shippable even care? In last 2 days i've seen at least ten threads with either no response from shippable, or some shitty solutions that don't even pretend to work. And every time i try some next shitty solution i have to wait 20 minutes to see it just failed a long before running the tests. What's going on gentlemen?

[2015-08-13 20:12] caarlos0 commented on #1779
@lekhab sure, sorry, forgot to do that somehow

- https://app.shippable.com/builds/55cc97d9195e410c0012f826

204 seconds just for the `gvm install`

[2015-08-13 20:37] avinci commented on #1712
@plunntic trolling us doesn't help, especially since you just signed up for github 4 days ago...

We are trying our best to help out every customer out. Its a free service and we will do our best to address all issues.

cheers...

[2015-08-13 21:06] plunntic commented on #1712
@avinci It's not trolling. It's just frustration. Because i really wanted to use you're tool, it seems great, coverage visualisation is great, but how one can use it if there are no up to date doc's out there? Sorry, but gotta try with something else. Anyway, i hope next time i try shippable it will be a better experience.

[2015-08-13 22:02] adityabansod opened #1782 "Change email addresses"
Is there a way to change what email address my shippable notifications go to?

[2015-08-13 22:08] kailevy commented on #1782
You can change your primary email on github and then force sync your account-- that should be the one that is getting notifications

[2015-08-13 22:09] sebest opened #1783 "when we "go get" a binary, it does not seem to be in the $PATH"
see https://app.shippable.com/builds/55cc5955774b820c00800bb9

the same build is working on travis, so i guess it is just $PATH missing the path to go binaries

[2015-08-13 22:12] avinci commented on #1712
totally understand. I disagree on multiple of your statements...but that being said, I still don't have a clear idea of what your scenario is. Give me your projectId and I'd be happy to look at.

Just FYI, your issue has nothing to do with this issue, open a new issue as opposed to randomizing this one..

[2015-08-13 22:19] buley opened #1784 "Can't get past the "git_sync" stage"
My builds started failing a while back and I've been unable to find a solution.

It seems like it's failing in a part of the Shippable process that is outside of my control. Is there something I can be doing to get past the `git_sync` stage?

![screen shot 2015-08-13 at 3 18 02 pm](https://cloud.githubusercontent.com/assets/86985/9263048/9af0c0d0-41ce-11e5-967e-b6d56d910427.png)

[2015-08-13 22:26] kailevy commented on #1784
I believe that this issues is a clone of #728. Could you try the solution proposed there?

[2015-08-13 22:31] buley commented on #1784
I've got a deployment key added on a Github "Machine Account" that is a member of the team that has push/pull access to all organization repos.

This was the only way I could get through earlier issues because I have multiple private submodules and Github only allows you to use a (deployment) ssh-key once.

I also thought this was the issue so I also enabled the repo manually in Shippable. I belie

[2015-08-13 22:44] lekhab commented on #1784
@buley: Can you please add the deployment key from your Subscription -> Settings to the Machine Account one more time? The key was reset due to a bug and hence the issue.

When you re-enabled the repo, only the project level key was reset - but we need the Account level key to be updated as well.

[2015-08-13 23:06] buley commented on #1784
I removed and re-added my deployment key to the Machine Account. Same error at the private submodule but, interestingly, now Github says the deployment key has never been used.

![screen shot 2015-08-13 at 4 03 01 pm](https://cloud.githubusercontent.com/assets/86985/9263774/d962fa30-41d4-11e5-9c03-1c49f65c9d99.png)

I rechecked and the machine account to which this was added and it appears to have

[2015-08-13 23:42] adityabansod commented on #1782
i have ~4 emails associated with my github profile, each linked to a different organization i belong to. i only use shippable w/ one org. can i pick which email to use?

[2015-08-14 01:19] lekhab commented on #1784
@buley: Can we do hangout to figure out what's going on? The error I see in your builds should be fixed by updating the subscription deployment key in git@github.com:mcnaughton/legacy-systems.git - looks like you have already done this.

Please let me know a time that works at lekha@shippable.com and I can set up a hangout session.

[2015-08-14 06:09] sheldon-sminq commented on #1778
Still no luck, I am currently using the POST CI docker build process

1. image is pulled from shippable/minv2
2. My code is checked out from Github
3. Code is compiled and tests are run.

Now after the build is a success the 2nd part of the process begins

My docker image is created from the Dockerfile present in github repo root.

But the build fails as the location of .jar file generated in part

[2015-08-14 06:24] manishas commented on #1778
Can you follow instructions in the 'Copying artifacts to prod image' section of this page -  http://docs.shippable.com/docker_build/

If you have done this and it doesn't work please send your dockerfile and Shippable.yml to lekha@shippable.com or post it in this issue as a comment. Thanks!

[2015-08-14 08:21] andrerom commented on #1529
Found the reason.

The string is read as a float, and shippable is not able to match the branch name which is string against it.

[2015-08-14 10:50] sheldon-sminq commented on #1778
Hi Manisha,

That worked for me thanks, I just wanted to know the final step of
deploying the Docker image to ElasticBeanstalk.

The image is created successfully after the build, the tag is also pushed
to Docker Hub.

I have included the Dockerrun.aws.json file in the github source root, do i
have to copy this too to the /buildoutput folder ?

Because currently it is not deployed to ElasticBeanst

[2015-08-14 11:09] manishas commented on #1778
Did you try the instructions at http://docs.shippable.com/autodeploy-to-ebs/#deploy-via-docker-containers

You'll need the Dockerrun.aws.json at the root of your repo.

[2015-08-14 11:11] sheldon-sminq commented on #1778
Yes i have this file in root and the contents are

{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "<IMAGE_NAME>:<TAG>",
    "Update": "true"
  },
  "Authentication": {
    "Bucket": "sminq",
    "Key": "<KEY>"
  },
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ]
}

On Fri, Aug 14, 2015 at 4:39 PM, Manisha <notifications@github.com> wrote:

[2015-08-14 11:12] manishas commented on #1778
Did you set up the integration and other config on Shippable as described in the docs link I pasted in the comment above?

[2015-08-14 11:17] LuisMuniz opened #1785 "Slack Notifications not triggering."
I have set up notifications with my slack channel up following the instructions in: http://docs.shippable.com/slack_notifications/

Though I can see in my channel that the integration has been added, and on my project , I have set up the notification in the project integrations section, I can not see any activity in my channel when I trigger builds.

[2015-08-14 11:25] sheldon-sminq commented on #1778
Yes since i am using Docker container deployment in EBS

I have followed these
steps
1. AWS integration added
2. Docker integration added
3. and in the deployment section have included EBS

On Fri, Aug 14, 2015 at 4:41 PM, Sheldon D'Souza <sheldon@sminq.com> wrote:

[2015-08-14 14:38] tomsterritt opened #1786 "Ruby in NodeJS build"
I've seen the following recommended in other issues:

[code]

This produces an error:
[code]

Is there an updated way to get ruby enabled in a node build?

[2015-08-14 15:45] sheldon-sminq commented on #1778
This is the output of the build process, it stops at image push

On Fri, Aug 14, 2015 at 4:54 PM, Sheldon D'Souza <sheldon@sminq.com> wrote:

[2015-08-14 16:28] aproxs commented on #1481
Hmmm,

Were you trying to use oauth2? or were you doing username/password?

My configuration was using username/password that were coming to the deployment phase via encrypted secrets. In that case, there should not be a prompt from appcfg.py as it has everything it needs.

In any case, I'm not passionate about the idea of having the username/password in the script (even if encrypted) so seems tha

[2015-08-14 16:48] lekhab commented on #1785
@LuisMuniz: are you able to see no notifications at all in your Slack Channel? Currently, you should get notifications when a build completes on the build status (success, failed..)

We are in the process of adding additional slack notifications and this should be deployed over the next few days.

Can you please send me the link to the project if you are still having issues?

[2015-08-14 16:53] lekhab commented on #1783
@sebest: can you compare your YML to the samples provided in the documentation here? It also describes the PATH variable that needs to be set in the YML.

http://docs.shippable.com/languages/#go

Please let me know if the doc does not answer your questions.

[2015-08-14 16:55] lekhab commented on #1782
@adityabansod - no,  I am afraid not.  The notifications, by default go to the primary github account.

[2015-08-14 16:56] #1782 closed

[2015-08-14 16:56] lekhab commented on #1782
Also tagging this as a feature request for our backlog..

[2015-08-14 16:57] sebest commented on #1783
@lekhab i think this will work, but IMHO the GOPATH and the PATH with GOPATH/bin should be set automatically by the CI when 'language: go' is set as it is part of a working go development environment.
thought?

[2015-08-14 16:58] lekhab commented on #1778
@sheldon-sminq - we are following up on this. Will keep you posted.

[2015-08-14 17:18] aaronwest commented on #1481
@aproxs I tried both methods actually. I was never successful getting un/pw authentication working but I didn't try it long as I don't want deployments tied to my Google Apps account. Our engineering team needs to be able to deploy via Shippable and having my un/pw baked into the deployment process is bad juju™.

I have a workable solution right now using OAuth though I admit it isn't sexy. In fac

[2015-08-14 17:39] lekhab commented on #1777
@thesynapses: Definitely. I have added this as a feature request to our backlog.

[2015-08-14 18:15] manishas commented on #1778
@sheldon-sminq can you try your build again and see if the push to beanstalk goes through? Thanks!

[2015-08-14 18:18] caarlos0 opened #1787 "[ci skip] flag is being ignored"
![image](https://cloud.githubusercontent.com/assets/245435/9280851/8d706680-4297-11e5-872d-e4967f96130e.png)

I saw two commits with the `[ci skip]` "flag" were processed anyway...

Build: https://app.shippable.com/builds/55ce233ac9fa8d0b00293627

[2015-08-14 18:21] gregpardo opened #1788 "CI dropdown menu on interface is empty in chrome and safari"
Not sure if I am doing this wrong but I tried to follow the tutorial but I see this.

![Dropdown items missing in interface]
(https://www.evernote.com/l/ASu-zXNoubxFeoIkh7UuuQ55Oy6Ep4E-amwB/image.png)

[2015-08-14 18:23] gregpardo commented on #1788
Looks like my private repos weren't added. Found in the FAQ. There should be some sort of hint in the CI section dropdown about no repos being found.

[2015-08-14 18:23] #1788 closed

[2015-08-14 18:28] #1780 closed

[2015-08-14 18:29] lekhab commented on #1725
Closing this. please let me know if you have any further questions and I can re-open.

[2015-08-14 18:29] #1725 closed

[2015-08-14 18:42] lekhab commented on #1787
@caarlos0:
PR builds need the [ci skip] or [skip ci] to be in the PR title (since that's what the webhook passes to us). For Commit builds, the commit message is what is parsed.

For this one, I see these are PR builds and hence the issue. Can you confirm the commit builds did not run with this message?

I will also update our FAQ with this info - thanks for bringing this to our attention.

[2015-08-14 18:54] lekhab commented on #1481
@aproxs - apologies for the lack of response here. Unfortunately, we haven't had the resources to dig into this a lot. @aaronwest: Thank you so much for your contribution here and hopefully the temporary solution will work for others as well, until we can prioritize this.

This is something we will have to prioritize internally to allow for deploy to GAE to work natively within Shippable. Tagging

[2015-08-14 18:56] lekhab commented on #1756
@aaronwest: Thanks again for the work on this and providing the details. The way it is set up currently, your solution is probably one of the more feasible ones. I have tagged this as a feature request to prioritize GAE deployments natively within Shippable.

[2015-08-14 20:21] lekhab commented on #1786
@tomsterritt: I ran a build to try this and I was able to get ruby enabled. my yml looks like below. (I was also able to run this without re-installing ruby)

If this doesn't work, can you share your whole yml with me at lekha@shippable.com?

[code]

[2015-08-14 20:29] lekhab commented on #1754
@czardoz - Please use http://shippable.com or https://shippable.com - those are the correct URLs for Shippable.  We will eventually stop exposing app.shippable.com

[2015-08-14 20:33] caarlos0 commented on #1787
ah, you`re right.

Thanks!

[2015-08-14 20:33] #1787 closed

[2015-08-14 20:34] #1207 closed

[2015-08-14 20:35] epicserve commented on #1732
@ avinci Any idea how I can get someone to help me with this issue?

[2015-08-14 20:38] lekhab commented on #1280
@moylop260 - trying to clean up some old issues that we never got around to. Is this still a valid issue?

[2015-08-14 20:45] lekhab commented on #1764
@pquentin - opened an internal request to follow up on this.

[2015-08-14 20:54] lekhab commented on #1732
@epicserve - let me follow up with our engineering team. apologies for the delay in getting to this.

[2015-08-14 20:55] lekhab commented on #126
@carlqt: Closing this. please open a new issue if you are still having trouble.

[2015-08-14 20:55] #126 closed

[2015-08-14 21:04] lekhab commented on #790
following up on this..

[2015-08-14 21:18] LuisMuniz commented on #1785
Hi Lekha,

Yes, no notification has been shown at all since I created the integration.
This is the link to my project:

https://app.shippable.com/projects/55cdad20edd7f2c052a81eae

Regards,

Luis

Luis Muñiz
IT Director – Research and Development, Architecture | B2Boost
Chaussée de Waterloo, 1453, 1180 Brussels , Belgium
T : +32 (0)2.629.60.00 | M : +34 647 79 34 76
luis.muniz@b2boost.com<mailto:l

[2015-08-14 21:20] lekhab commented on #1774
@aaronwest: all environment variables can have spaces in them..I created a couple and doing an echo $var did print out the spaces.

I may have misunderstood your question..is there anything that is failing that led you to test this? can you share more details on how this was tested - since it worked for me.

[2015-08-14 21:20] claar commented on #1758
When you said "following up on this", did you mean that you were checking into this, or that you wanted more information from me?

This is still happening, and is a big problem for us -- another example can be seen at https://app.shippable.com/builds/55ce58ba1557230b007d6109

Thanks!

[2015-08-14 23:00] DavidGDragon commented on #1732
Have you tried using  `sudo pip`?

[2015-08-15 01:57] sheldon-sminq commented on #1778
Hi Manisha,

Thanks things are working now.

On Fri, Aug 14, 2015 at 11:45 PM, Manisha <notifications@github.com> wrote:

[2015-08-15 03:23] manishas commented on #1778
Glad it works! Closing the issue.

[2015-08-15 03:23] #1778 closed

[2015-08-15 06:40] Grazulex opened #1789 "Symfony"
Hello,

is it possible to used your servcive with a Symfony application ?
If yes, can you show me a exemple for
- install & config apache
- start composer install
- start the behat and unit test
thank you

[2015-08-15 07:58] filemon commented on #1504
? so you guys don't provide addons as docker containers to be linked with my own docker container for the build?  I can't believe that, please prove I'm wrong.

[2015-08-15 13:08] manishas commented on #1504
@filemon you can use Formations to if you want to define and run a multi-container environment. Would love to show you how easy it is to set up and use... let me know if you have 15-30 mins next week and i can set up a hangout.

[2015-08-15 13:51] filemon commented on #1504
Thanks @manishas. I played with Formations for a while, but didn't find the way how to attach a build to given environment. I would assume some sort of docker-compose style configuration (even in UI), that would allow me to link the container being built with the rest. Happy to talk to you next weekend - booked the time for Tuesday. :)

[2015-08-15 18:01] osumampouw opened #1790 "Cache container is 'on' but the state is not saved"
This is in reference to this project:
https://app.shippable.com/projects/552c7ec75ab6cc1352c300d8
we turned on the cache container option, but we noticed in the past several builds that only the "pull" step is skipped, the rest are not skipped. Is this intentional?
For example:
<img width="1044" alt="screen shot 2015-08-16 at 12 58 29 am" src="https://cloud.githubusercontent.com/assets/2935092/929

[2015-08-16 00:49] naveensky opened #1791 "Issue uploading artifacts"
Hi,

I am getting issue uploading artifacts to S3. The log says following

[code]

[2015-08-16 14:23] segfly opened #1792 "Native Beanstalk Deploy Not Working"
@lekhab @manishas I saw your comments in #1778 and I seem to be having the same issue. I am following the guide at http://docs.shippable.com/autodeploy-to-ebs/ but similar to #1778 the build stops at the image push step - without any apparent attempt to deploy to EBS.

I followed parts of the guide for predefined runtime environments. I have a branch in my repo working where I execute all the EBS

[2015-08-16 14:52] manishas commented on #1792
@segfly can you try again?

[2015-08-16 14:55] segfly commented on #1792
@manishas It is still stopping at push container (and reports success).

[2015-08-16 18:59] ragsden commented on #1792
@segfly I tried running your project and EBS deploying is currently failing with "NoSuchBucket" error. Can you please take a look at your deployment settings?

[2015-08-16 21:38] segfly commented on #1792
@ragsden This was due to my troubleshooting earlier. I now have it set for the correct bucket and the build completes and successfully deploys.

However, is this a one-time fix? E.g. If I create other projects, will they now deploy correctly? What about other accounts my team may have? I ask because it looks like something may have changed with my account as there are changed/new build steps (e.g.

[2015-08-17 03:03] manishas commented on #1792
@segfly the short answer is - for the next couple weeks, you'll need to inform us which accounts want to deploy natively to EBS.

We tried to move to a new build system a couple of weeks ago but discovered some issues that were only obvious at the scale we're running on production, so we had to revert back to our original one. The EBS deploy feature was implemented during this time to work with th

[2015-08-17 03:39] segfly commented on #1792
@manishas I appreciate the full explanation. It helps me understand when I need to request support for this. For now, the change to my account seems to work fine even for projects created from repos in my github organization (I'm guessing the catch is I must create them) since my account is on the new build system. So I don't think I will need other accounts moved at this time. Thanks!

[2015-08-17 03:39] #1792 closed

[2015-08-17 05:29] pquentin opened #1793 "triggerBuild API call acknowledges success, but project is never built"
I'm using the Shippable API to build all our projects every day. Unfortunately, one project added recently (55bf3993edd7f2c05291f1c4) never gets built by the API.

The `triggerBuild` call is done with `apiToken` and `projectId`, but without a `branchName` in order to use the default branch. It returns 200, and a `buildId` is even returned (see the list below), but the project does not actually get

[2015-08-17 09:41] pquentin commented on #1593
Can we at least have an API for all settings that live only in the UI? At 42 projects and growing, it is very painful to update those settings by hand, especially given the very slow page loads.

[2015-08-17 09:44] manishas commented on #1593
@rvrignaud @pquentin we're actually in the process of revisiting this and working on an update that will return settings to the yml. More on the roadmap soon....

[2015-08-17 09:45] rvrignaud commented on #1593
Glad to hear that ! This will be a major improvement.

[2015-08-17 10:15] geshan opened #1794 "Any example with Alpine Linux base image"
I just found out the default image used for testing is `13 gb` on [imagelayers](https://imagelayers.io/?images=shippable%2Fminv2:latest).

For one of my PHP application I don't even need MySQL (so surely not ruby, java, python, postgres etc). How do I use a very light ~40 mb image that only has PHP and composer built on alpine linux and still run my tests? Is there any guide or blog-post about it?

[2015-08-17 12:12] caarlos0 opened #1795 "Builds failing due to network issues"
An example: https://app.shippable.com/builds/55d1cd96952ed10b0045ae68

Builds are running in our own machines, but, in the build, we add to /etc/hosts the address of our nexus server. It was working until friday, and today it's not working anymore.

Our nexus is working normally, it's just shippable containers that can't connect to it...

[2015-08-17 12:14] caarlos0 commented on #1795
BTW: we download some maven plugins from repo1.maven in `before_install`, and they too are very slow...

[2015-08-17 12:15] caarlos0 commented on #1795
Just to be clear, what we do related to hosts:

[code]

[2015-08-17 12:49] caarlos0 commented on #1795
Basically, seems like Shippable is not using our servers, and we have only 1 minion available...

@lekhab help us here, please :(

[2015-08-17 12:58] caarlos0 commented on #1795
I've restarted all nodes, reseted all nodes, re-initialized all nodes... nothing seems to work...

[2015-08-17 13:06] caarlos0 commented on #1795
To clarify: the original issue (unable to connect to our nexus server) happens because the build is running in Shippable's infrastructure instead of ours, and our Nexus server is inside our VPC, so, no surprise it doesn't work.

[2015-08-17 13:18] manishas commented on #1795
looking into this...

[2015-08-17 13:49] manishas commented on #1795
@caarlos0 can you try again? This should be fixed. Sorry for the inconvenience!

[2015-08-17 14:02] caarlos0 commented on #1795
@manishas seems to be working now, thanks!

[2015-08-17 14:02] #1795 closed

[2015-08-17 14:21] epicserve commented on #1732
@DavidGDragon, @lekhab, That fixed one issue, then I ran into some more that I was able to fix. I wish it was more clear how to setup tests when you need both node and python.

[2015-08-17 14:35] bbrala commented on #237
Hi @manishas, any news to report on this?

[2015-08-17 16:10] claar commented on #1758
I need help with this please -- our builds have been silently failing for too long. Our master branch was broken for 2 days and we didn't know -- we've come to rely on Shippable for this.

https://app.shippable.com/builds/55ce346babe3150b00bfe814

[2015-08-17 16:38] lekhab commented on #1758
@claar: Sorry abt the delay here. We have been trying to reproduce the error - but have not been successful so far. So far, it appears as though something in your PHPunit configuration is returning a zero exit code which leads the script section to be marked successful.

I am going to follow up with our leads again on this - but this might require us to know the details of your internal configurat

[2015-08-17 16:52] claar commented on #1758
Thanks @lekhab -- I'm happy to provide any information needed.

[2015-08-17 17:09] lekhab commented on #1785
@LuisMuniz: It doesn't look like any builds have run for this project yet. Can you run a build and see if the integration works for build statuses? We are in the process of adding more notifications this week.

[2015-08-17 17:14] lekhab commented on #1794
@geshan: You can use our language specific images and see if that works. These are bare-bones images, so you will have to install anything you need additional on top of it. Details in the guide below:

http://docs.shippable.com/languages/#php

You can also use your custom image  in the project settings and have your build use that instead. You can possibly combine the language specific Shippable D

[2015-08-17 17:39] jamesmk opened #1796 "All build are failing!!!"
Help!!! All of our builds as of 5 days ago are failing. They are failing on the install so our notification script wasn't setup and we weren't notified.

This is across 4 projects so far that were all building perfectly fine. Looks to be a key issue:

From https://app.shippable.com/builds/55d21ac207b3460c00781b60

[code]

From https://app.shippable.com/builds/55d2134207b3460c0077a2d6

[code]

http

[2015-08-17 17:44] jamesmk commented on #1796
It looks like our deployment key changed here: https://app.shippable.com/subscriptions/540f392a586ac5d7e36513c3/subscriptionsSettings

[2015-08-17 17:47] manishas commented on #1796
@jamesmk i am really sorry about this! Your deployment key did change, so you'll need to update that.

We'll do better about communicating such changes in the future so nobody is caught off guard.

[2015-08-17 17:51] jamesmk commented on #1796
Ouch, I have to rush update 20-odd projects now. Why did the key change? Can I expect this key to change in the future?

[2015-08-17 18:03] moylop260 commented on #1280
I have the same problem but we will desactivate coveralls in shippable.
Thank you

[2015-08-17 18:03] #1280 closed

[2015-08-17 18:05] lekhab commented on #1796
@jamesmk: this was due to a bug in a recent upgrade. So the key shouldn't change again. Sorry abt this.

Since you have multiple projects, you can also add the subscription key to your Github Account, so it's applied to everything. Under your Github profile -> Settings -> SSH keys

[2015-08-17 18:14] claar commented on #1758
@lekhab I looked into this some more, and found that `phpunit` is returning a zero exit code locally as well.

This is a PHPunit problem, not a Shippable problem -- so I'm closing this. Thanks for the help!

[2015-08-17 18:14] #1758 closed

[2015-08-17 18:14] jamesmk commented on #1796
@manishas Did our encrypted variables get reset too?

[code]

[2015-08-17 18:27] lekhab commented on #1796
@jamesmk: Yes:-( They use the SSH keys as well for encryption..

On a related note, I see you are using our old way of doing slack notifications. We recently launched our integration with slack for build notifications from within Shippable. Details here: http://blog.shippable.com/how-to-use-slack-integration-for-build-notifications

[2015-08-17 18:38] jamesmk commented on #1796
Also, just noticing I'm at the free tier with 1 concurrent built. I've been a paying customer for almost a year and there's no grandfathering or even a notification that I'm losing 4 minions?

Wow.

[2015-08-17 18:43] manishas commented on #1796
@jamesmk i see 5 minions for your org. was there another org that should have 5 minions but does not?

we're looking into why the second build didn't get picked up immediately.

[2015-08-17 18:44] jamesmk commented on #1796
@manishas I just updated my subscription to 5

[2015-08-17 18:44] manishas commented on #1796
@jamesmk spoke too soon. i see you bought some minions. let me figure out what's going on.

[2015-08-17 19:21] lekhab commented on #1786
this is working as per @tomsterritt on mail. closing.

[2015-08-17 19:21] #1786 closed

[2015-08-17 19:22] lekhab commented on #1763
transient issue with resources being overloaded. the root cause is now fixed. closing.

[2015-08-17 19:22] #1763 closed

[2015-08-17 19:23] #1754 closed

[2015-08-17 19:24] manishas commented on #1796
@jamesmk just sent you an email about your account. Thanks!

[2015-08-17 19:24] lekhab commented on #1783
@sebest: I agree. I have provided the feedback to the engineering team. will update this to a feature request, so we can add this to our backlog.

[2015-08-17 19:34] lekhab commented on #1790
@osumampouw: This is by design. Cache only implies the image being pulled. The other steps still need to be updated for each build. git_sync, for instance, is syncing your code and we will need to continue to do this.

[2015-08-17 19:34] lekhab commented on #1793
opened an internal issue to figure out what's going on.

[2015-08-17 19:35] lekhab commented on #1791
@naveensky - can you paste some build links, pls?

[2015-08-17 21:10] norbe commented on #1750
I've got the same problem at [our subscription](https://app.shippable.com/subscriptions/54e08c3a5ab6cc13528bff48).

[2015-08-17 22:24] sebest commented on #1746
same thing here (SF California), the UI is really sluggish

[2015-08-17 22:54] lekhab opened #1797 "Cannot create API token"
Creating issue for @norbe. Original comment on closed issue: https://github.com/Shippable/support/issues/1750

I've got the same problem at our subscription: https://app.shippable.com/subscriptions/54e08c3a5ab6cc13528bff48

[2015-08-17 22:54] lekhab commented on #1750
@norbe - opened a new support issue to track your case, since this one was already closed.

Issue here: https://github.com/Shippable/support/issues/1797

[2015-08-17 23:14] naveensky commented on #1791
yup, here we go https://app.shippable.com/builds/55cd1d88badd4e0b0007773a

I have for now disabled artifacts upload on this project, but this build had that enabled

[2015-08-18 02:19] rockerhieu opened #1798 "Sihppable is unaccessible"
I got this error message on all pages: `Error syncing account Id: [object Object]`

![screen shot 2015-08-18 at 9 19 41 am](https://cloud.githubusercontent.com/assets/1281889/9320960/5360c782-458a-11e5-9682-af66984be095.png)

[2015-08-18 02:24] smaiyaki commented on #1798
In addition to that, when you try to login, you get thrown out with the message below:
![shippable](https://cloud.githubusercontent.com/assets/1958503/9321007/3eae414e-4593-11e5-8f35-c725255a4e34.png)

[2015-08-18 02:28] manishas commented on #1798
we're looking into this...

[2015-08-18 04:51] nigelwinterburn commented on #1798
Same here

[2015-08-18 06:54] miraculixx commented on #1798
+1 same here

[2015-08-18 06:55] manishas commented on #1798
We're working to fix this. ETA is 30 mins to an hour at the latest.

[2015-08-18 06:56] viz commented on #1766
I'm getting the same error. I've just created an account today - initially from a bitbucket account, and then configured my github account as well on the settings page.

I get the rror when trying to log in with either bitbucket or github.

[2015-08-18 06:57] manishas commented on #1766
@viz our service is down right now. ETA for the fix is 30 mins to an hour at the latest.

[2015-08-18 07:51] LuisMuniz commented on #1785
Why are you saying that no builds have run?
There are 11 builds on this project.

Luis Muñiz
IT Director – Research and Development, Architecture | B2Boost
Chaussée de Waterloo, 1453, 1180 Brussels , Belgium
T : +32 (0)2.629.60.00 | M : +34 647 79 34 76
luis.muniz@b2boost.com<mailto:luis.muniz@b2boost.com> | www.b2boost.com<http://www.b2boost.com/>

Please consider the environment before printing.

[2015-08-18 07:54] LuisMuniz commented on #1785
Sorry I just realized that I sent you the wrong link.

https://app.shippable.com/projects/55cdad20edd7f2c052a81eb1

Luis Muñiz
IT Director – Research and Development, Architecture | B2Boost
Chaussée de Waterloo, 1453, 1180 Brussels , Belgium
T : +32 (0)2.629.60.00 | M : +34 647 79 34 76
luis.muniz@b2boost.com<mailto:luis.muniz@b2boost.com> | www.b2boost.com<http://www.b2boost.com/>

Please conside

[2015-08-18 08:32] shamasis opened #1799 "Is there any plan to integrate with Atlasssian JIRA?"
Hello there,

Is there any plan to allow integration with Project Management systems? Especially JIRA?

[2015-08-18 08:33] smaiyaki commented on #1798
Awesome. This is fixed now.  Thanks Manishas

[2015-08-18 08:50] manishas commented on #1785
Can you trigger a new build and see if notifications work?

If not we will take a closer look... can we trigger a manual build on your behalf to see what's going on?

[2015-08-18 09:26] rageshkrishna commented on #1793
@pquentin Would it be alright if we try to trigger some builds against your project to see what's happening here? Thanks!

[2015-08-18 09:44] manishas commented on #1798
Everything should be working as expected now. Sorry for the interruption and we will do better to avoid this situation again with better monitoring.

Thanks for your patience!

[2015-08-18 09:44] #1798 closed

[2015-08-18 12:29] rogierslag opened #1800 "Account keeps getting downgraded to individual"
We have started a startup plan in November 2014, which gave us 5 minions. Recently we suddenly had only 1 (which was resolved after a tweet). However a few days back it happened again. So instead of 5 minions, I'm currently stuck with only one

organization is _inventid_ btw

[2015-08-18 12:42] sleverbor commented on #1705
well, that's ironic.

[2015-08-18 12:53] pquentin commented on #1793
@rageshkrishna sure, go ahead. Thanks for looking into this!

[2015-08-18 13:02] LuisMuniz commented on #1785
Yes please do

Luis Muñiz
IT Director – Research and Development, Architecture | B2Boost
Chaussée de Waterloo, 1453, 1180 Brussels , Belgium
T : +32 (0)2.629.60.00 | M : +34 647 79 34 76

luis.muniz@b2boost.com | www.b2boost.com<http:// www.b2boost.com>

Please consider the environment before printing.

On Tue, Aug 18, 2015 at 1:50 AM -0700, "Manisha" <notifications@github.com<mailto:notifications

[2015-08-18 14:02] manishas commented on #1800
@rogierslag sorry about this! your org should show 5 minions again... I'll make sure it doesn't revert again.

[2015-08-18 14:02] #1800 closed

[2015-08-18 17:08] lekhab commented on #1797
@norbe: I see you are on an individual plan. API access is only available with our paid plans. Details [here](https://app.shippable.com/pricing.html). Please let me know if this was related to some other subscription that did have API access earlier.

[2015-08-18 17:36] arnonmoscona opened #1801 "Build fails due to maven gpg signing"
My build always fails with

[code]

I could not find in the documentation how to skip this. My shippable.yml looks like:

[code]

If I run on my machine ```mvn install -Dgpg.skip=true``` it works just fine as long as all tests pass ("works on my machine")

Not clear how to fix the YAML file to get the desired outcome.

[2015-08-18 17:43] rageshkrishna commented on #1801
You can add an `install` step to your YML file to override the default `mvn install` that we run:

[code]

[2015-08-18 17:55] lekhab commented on #1799
@shamasis - I have tagged this as a feature request. we will prioritize based on customer votes on the request.

[2015-08-18 17:56] lekhab commented on #1796
closing since the credit was applied.

[2015-08-18 17:56] #1796 closed

[2015-08-18 17:58] lekhab commented on #1785
@LuisMuniz: I triggered this build for you: https://app.shippable.com/builds/55d36798373bda0b0094b4d0

We are not seeing any errors on our end.. could you let me know if you saw any notifications show up on your slack channel?

[2015-08-18 18:06] lekhab commented on #1785
@LuisMuniz: We realized what the problem is. Looks like you have set the channel name in your integration to `optipost-backend-dev`. It needs to be ` #optipost-backend-dev`. Slack is rather particular about having the  `#`.

Can you try updating the name and trigger a build again?

[2015-08-18 18:09] LuisMuniz commented on #1785
Actually I just figured it out, I was writing to you about it as I received your email. It is precisely the reverse. The second integration works.
You see, it is a private channel. Private channels don’t start with #.
When I created a new integration with the name optipost-backend-dev, it works.

Thanks for your assistance. You may close the issue

Regards,

Luis

Luis Muñiz
IT Director – Research

[2015-08-18 18:22] arnonmoscona commented on #1801
Thanks. Works

[2015-08-18 18:22] #1801 closed

[2015-08-18 18:23] #1785 closed

[2015-08-18 18:30] lekhab commented on #1791
@naveensky: I see you are using secure variables. We had a bug last week, which resulted in SSH keys being reset. So the encrypted vars need to be reset as well. Can you please re-encrypt and see if that works?

[2015-08-18 18:35] lekhab commented on #1784
@buley: Please let me know if you still need help getting this resolved.

[2015-08-18 18:36] #1790 closed

[2015-08-18 18:37] #1781 closed

[2015-08-18 18:40] lekhab commented on #1737
@sammountford - closing this. please let me know if you are still facing this and I will re-open.

[2015-08-18 18:40] #1737 closed

[2015-08-18 18:41] lekhab commented on #1762
@bayu41: are you still facing this issue?

[2015-08-18 18:42] #1736 closed

[2015-08-18 18:45] lekhab commented on #1690
@ils-rachna - sounds like the question is related to the internals of your project and how test cases need to be written. If there is a specific build we can help with, please paste the build link here and we can help you further. You should be able to view the console logs to figure out the progress of the build.

[2015-08-18 19:03] dustinswisstack opened #1802 "Billing"
I had to transfer my Github repositories to the Github user I am submitting this from. In the process, I lost my "Startup" status in billing. Can you please reinstate that status for us on my account?

Thanks,
Dustin

[2015-08-18 19:42] norbe commented on #1797
If I take a look at pricing page and select 1 container, I still see API access, so it should be fixed at pricing page at least...

Also some human-friendly error message will be nice if my subscription has not available api access...

[2015-08-18 19:52] lekhab commented on #1797
@norbe - thanks a lot for the feedback.  will follow up on these.

[2015-08-18 20:00] xdothackerx commented on #1797
Should be a relatively easy fix for the pricing page. :) @manishas Let me know if you'd like me to implement a change.

[2015-08-18 21:26] aaronwest commented on #1774
@lekhab I was trying to store a JSON string in an encrypted var. The start of the string looked something like this:

And after adding the encrypted var and testing it in a Shippable build, an echo statement would always be truncated at the first space (`{"_module":`). Hope this helps.

[2015-08-19 01:51] nigelwinterburn commented on #1493
This doesn't really work for me. What if every build fails except 2.1.5? This solution seems to ignore every other build.

[2015-08-19 02:14] nigelwinterburn commented on #1798
I'm seeing this error again

[2015-08-19 04:36] kkarski opened #1803 "Build times out"
Have two builds timing out despite having 5 minions:

https://app.shippable.com/projects/5521ef255ab6cc1352b8b4eb
https://app.shippable.com/projects/5521ef255ab6cc1352b8b4ee

No error messages, logs or other information available.

[2015-08-19 04:51] manishas commented on #1803
can you share your shippable.yml?

Thanks!

Manisha Sahasrabudhe / Co-founder and CMO
408.646.8250
1932 1st Avenue, Ste 420, Seattle, WA 98101
http://www.shippable.com

facebook <https://www.facebook.com/beShippable> twitter
<https://twitter.com/BeShippable> linkedin
<https://www.linkedin.com/company/shippable>

On Tue, Aug 18, 2015 at 9:36 PM, Krzysztof Karski <notifications@github.com>
wrote:

[2015-08-19 04:55] kkarski commented on #1803
language: node_jsnode_js: 0.11build_image:
shippableimages/ubuntu1404_nodejsbefore_script:  - source
~/.nvm/nvm.sh && nvm install $SHIPPABLE_NODE_VERSION  - node --version
 - npm install -g grunt-cli  - mkdir -p shippable/buildoutput  -
apt-get install -y ruby-full  - gem install sassbranches:  only:    -
release-1.2.0install:  - npm install grunt-zetzer grunt-sitemap
grunt-contrib-sass grunt-cont

[2015-08-19 04:55] kkarski commented on #1803
language: javajdk: oraclejdk7build_image:
shippableimages/ubuntu1404_javabefore_script:  - if [[
$SHIPPABLE_JDK_VERSION == "openjdk7" ]] ; then export
JAVA_HOME="/usr/lib/jvm/java-7-openjdk-amd64"; export
PATH="$PATH:/usr/lib/jvm/java-7-openjdk-amd64/bin"; export
java_path="/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java"; fi  - if
[[ $SHIPPABLE_JDK_VERSION == "oraclejdk7" ]] ; then export
JAVA_HOM

[2015-08-19 16:15] pogotc commented on #1543
PHP 7 please!

[2015-08-19 17:01] lekhab commented on #1803
@kkarski: Can you please paste your YML in http://www.yamllint.com/ and confirm it is valid?

It gives me an invalid error. But the formatting got messed up when you pasted that YML above, so not sure whether I am reading it right.

[2015-08-19 18:41] lekhab commented on #1803
@kkarski: turns out the YML is valid after I got the line breaks correct from your version. I re-ran both the builds and they now run. The timeout appears to have been a transient issue during the time you ran.

Can you take a look at the logs for the 2 builds now and let me know if you need any further help? For one of them, it looks like you may be using an incorrect image (your YML says node, b

[2015-08-19 18:50] #1690 closed

[2015-08-19 20:23] nigelwinterburn opened #1804 "Builds failing even when all steps are successful"
I think the screenshot pretty much explains it: all green checkmarks yet a failed build. I checked each command and verified that at least they appeared to run successfully.

![screen shot 2015-08-19 at 1 22 23 pm](https://cloud.githubusercontent.com/assets/12054443/9367958/807619f2-4675-11e5-87a6-bd9cf57f6e6a.png)

[2015-08-19 21:03] nigelwinterburn commented on #1804
Also, I'm seeing the chat notifications from my `after_success` block and not anything from the `after_failure`

[2015-08-19 21:14] lekhab commented on #1804
internal issue opened. following up on this.

[2015-08-19 21:37] c0bra commented on #1104
I just happened across this error (reformatted for readability):

[code]

[2015-08-19 22:44] issue-reporter opened #1805 "Cannot use Android SDK 21"
I am trying to build a project with the [Google Maps Android API](https://developers.google.com/maps/documentation/android/), and the dependencies for the `build.gradle` look like this:

[code]

However, when building in Shippable, it fails with:

[code]

[2015-08-20 06:53] mbrodala commented on #1493
Maybe [travis-after-all](https://github.com/alrra/travis-after-all) is an option for Shippable too.

[2015-08-20 11:42] pquentin commented on #1643
Using the new Bitbucket web hooks is the only way to not be affected by https://bitbucket.org/site/master/issues/7775/post-service-does-not-provide-useful. This is a serious bug, as you can see from the 300+ votes and 200+ issues.

Basically, when merging to a branch, the old Bitbucket POST service used by Shippable does not trigger a new build. As many other teams, we use git-flow, and releasing

[2015-08-20 16:46] chriskinsman commented on #1804
I see something similar.  Build shows completely done, post upload artifacts but it just sticks in running state for 15-20 minutes...

[2015-08-20 16:48] chriskinsman opened #1806 "Builds triggered via api failing"
If I then re-trigger from console they are successful despite no changes in source control...

[2015-08-20 16:49] chriskinsman opened #1807 "Build hangs after uploading artifacts before commit to cache for almost 20 minutes"
Almost like the commit to cache is taking quite a long time...

Look at exploratron build 1156 in our account to see an example...

[2015-08-20 17:15] lekhab commented on #1807
following up

[2015-08-20 17:19] lekhab commented on #1807
@chriskinsman: we had some heavy builds a couple of hours ago which slowed us down a bit - checking to see if this was around the same time. I see your later builds are back to normal times.. did you see this recurring?

[2015-08-20 17:26] nigelwinterburn commented on #1804
Mine actually exits quickly and returns a failed state just as quickly as
if it had passed. At first it was intermittent but now it's without
exception.

On Thursday, August 20, 2015, Chris Kinsman <notifications@github.com>
wrote:

[2015-08-20 17:49] DavidGDragon commented on #1806
How are you triggering them via the API?

[2015-08-20 17:54] chriskinsman commented on #1807
We have been seeing it off and one for the last couple days.  I will keep an eye on it today...

[2015-08-20 17:55] chriskinsman commented on #1806
after_success step in shippable.yml:

  - 'curl -H "Authorization: apiToken $API_TOKEN" -H "Content-Type: application/json" -d "{\"projectId\":\"$psjobscriptsid\"}" https://api.shippable.com/workflow/triggerBuild'

[2015-08-20 18:02] DavidGDragon commented on #1806
You must also specify a `branchName` in the JSON

[2015-08-20 18:05] chriskinsman commented on #1806
Not sure how that relates:

1.  It is is kicking of the right branch build on master

2. It is working on projects that have multiple branches as is...

[2015-08-20 18:06] DavidGDragon commented on #1806
Do you have a link to a build where the trigger failed?

[2015-08-20 18:08] chriskinsman commented on #1806
https://app.shippable.com/builds/55d615587522cc0c004d4ac9

[2015-08-20 18:14] ixdy opened #1808 "Including global environment variables in matrix"
I'm trying to include a number of environment variables across all variations of our matrix. In particular, the configuration I'm trying is [here](https://github.com/ixdy/kubernetes/blob/coveralls/shippable.yml).

However, based on the [Shippable build results](https://app.shippable.com/builds/55d5188f4e6e0d0c001d6dba), it seems like these variables aren't being exported. They don't appear in the

[2015-08-20 19:06] lekhab commented on #1807
thanks, please let me know. It does appear to be linked to the heavy load times, when the logs took longer to load.

[2015-08-20 20:01] lekhab commented on #601
@marshall007: We tried reproducing the issue, but we are unable to. Are you still facing this? Can you try switching your emails and seeing if the problem still persists (emails continue to be sent to the secondary address)? Looks like there is something specific in your scenario that we are unable to figure out..

[2015-08-20 21:00] lekhab commented on #1808
@ixdy: you are right - for some reason when I have both "global" env and matrix "include" - the global vars are being ignored. I have opened an internal issue to figure out what's going on.

In the meantime, a quick workaround is to add the global variables under each include. That seemed to do the trick for me.. Let me know if the workaround works for you. will keep you posted on what we find.

[

[2015-08-20 23:10] DavidGDragon commented on #1774
The combination `: ` (colon followed by a space) is a YAML special indicator http://www.yaml.org/refcard.html

In addition, spaces outside of a quote delimits variable names (ie `VAR1=a VAR2=b` results in 2 variables).

Lastly, the double quotes are removed from the variable during runtime, so you need to escape them if you want to use JSON.parse on the string.

Therefore, to use a JSON string in

[2015-08-21 00:18] lekhab commented on #1751
@Vilsepi,@mikeblakeus: Apologies for the delay in getting back. We weren't able to reproduce this, unfortunately.  But our engineer did some digging and here is what she found. Can you try the suggested workaround below and let me know if that helps?

- The npm shasum errors tend to happen when there's a network connection issue (DaftMonk/generator-angular-fullstack#49), and/or something gets corr

[2015-08-21 00:24] lekhab commented on #1806
@chriskinsman: we are still looking into this. should have an update for you by tmrw on next steps.

[2015-08-21 00:30] lekhab commented on #1805
@issue-reporter: could you take a look at this stack overflow thread and let me know if that doesn't resolve your issue? You need to install dependencies explicitly as per the thread - they are not in Maven Central.

http://stackoverflow.com/questions/18045712/gradle-build-android-project-could-not-resolve-all-dependencies-error-but-i-t

[2015-08-21 00:41] lekhab commented on #1760
@hshira: sorry about the delay in getting back to you. We purged the logs older than Aug 16 when we had to deal with a DB out of space issue recently. I see all your recent builds are succeeding. Do you have any recent builds where you have seen this happen again?

[2015-08-21 00:42] lekhab commented on #1774
@aaronwest: please let me know if @DavidGDragon's approach works for you.

[2015-08-21 01:48] jgregors opened #1809 "An owner must log in to delete this repo."
If you first delete a repository in Bitbucket, you cannot delete the corresponding shippable project afterwards and the error "An owner must log in to delete this repo." is displayed.

As a workaround, I recreated a repository with the same name in bitbucket, deleted the shippable project and then deleted the bitbucket repository.

No big dramas here but thought it was worth reporting.

[2015-08-21 04:34] manishas commented on #707
Slack is now supported natively! Check out http://blog.shippable.com/how-to-use-slack-integration-for-build-notifications

Give it a shot and let us know what you think :)

[2015-08-21 06:19] rageshkrishna commented on #1793
@pquentin I tried trigger a few builds without specifying any branch and it seems to work now (it's kicking off a build on master). I'm not really sure why it was failing earlier. I suspect we were not able to synchronize the default branch name for the repository and it got populated later.

Can you please try this again and let me know if you're still running in to issues?

[2015-08-21 07:18] nigelwinterburn commented on #1804
5 consecutive green builds on multiple branches. I'd consider this closed.

[2015-08-21 07:18] #1804 closed

[2015-08-21 07:53] pquentin commented on #1793
@rageshkrishna Thank you for the investigation. It does seem to work now!

For this repository, we forgot to change the Bitbucket default branch from master to develop, so I don't think this setting was ever blank and populated later. Anyway, I changed Bitbucket default branch from master to develop, synced the project, and it seems to work now: I triggered a few builds from the script that expose

[2015-08-21 07:53] #1793 closed

[2015-08-21 13:02] ryanbaldwin opened #1810 "Builds not pushing Docker image to private repo on Docker Hub"
Everything was working fine up until recently. Now, every one of my builds finishes with the following:

I checked and my project still has my docker credentials, and everything seems right, all things considered. Are there any known issues for pushing images to private docker hub repos? I searched the issues but didn't see anything.

Thanks.

[2015-08-21 13:12] manishas commented on #1810
not that we are aware of. let me follow up....you haven't changed your password for docker hub recently by any chance?

[2015-08-21 13:21] hshira opened #1811 "DockerHub push failing silently"
Since yesterday evening, I am noticing that new builds are not being pushed on to dockerhub. The build shows NO failure logs.

https://app.shippable.com/builds/55d724676a40ef0b0043106e
https://app.shippable.com/projects/5544d2f4edd7f2c052ddc8f0

This is happening for all of my projects on Shippable.

[2015-08-21 13:40] manishas commented on #1811
hello, the logs actually show push succeeded. are you saying that your hub shows no images from these builds?

[2015-08-21 13:44] manishas commented on #1810
@ryanbaldwin can you try to delete the integration, and then add it again through account settings?

[2015-08-21 16:20] lekhab commented on #1766
@hshira: this has been resolved now. You should be able to login with both GitHub and Bitbucket accounts. Please let me know if you are still facing any issue.

[2015-08-21 16:26] lekhab commented on #1802
@dustinswisstack: Followed up on this. Since this is a brand new subscription/account, it falls under the new pricing plans which replaced the startup plans.

That said, we have given a credit of $40 for 2 cycles for your new subscription. Hope that works.

[2015-08-21 17:01] ryanbaldwin commented on #1810
Nope, I've not changed the password on docker hub. I'll try and delete the integration and re-recreate it. Will post back here with my results.

[2015-08-21 17:16] ryanbaldwin commented on #1810
Just deleted the integration, recreated it, and re-associated it with my project. Build still failed at the final step when attempting to push to docker hub:

[2015-08-21 17:17] manishas commented on #1810
Thanks! We're taking a look and I will let you know if we need more information.

[2015-08-21 17:36] lekhab commented on #1489
@pmoust: we never got back to you on this, apologies!

The API issues you faced on the runningBuilds API was fixed.  Please let me know if you are still facing issues there.

We are updating the APIs continually as we improve the backend. I don't have an ETA for a complete revamp yet - am following up on the other API issues and docs you mention here.

[2015-08-21 18:00] lekhab commented on #1811
@hshira: can you do a docker pull for your images from Docker Hub and see if you are able to pull the images? it's working when we do.  It may have been an intermittent docker issue..

If you are unable to see the images, please let me know and we can regroup again.

[2015-08-21 18:04] hshira commented on #1811
Yes, no images were pushed to dockerhub. The same job was pushing the code until tomorrow evening. I have run another build. I am expecting it to push an image with tag master.47 If it doesn't push the image with this tag, then I believe there is a problem.

[2015-08-21 18:07] lekhab commented on #1811
thanks, @hshira. actually, I was suggesting if you could do a docker pull for the expected image and see if that worked (or did you already do this as well?)

It could be a Docker Hub UI issue.. wanted to eliminate that as a potential cause - we have seen that it sometimes takes a while for the new tags to show up on the Hub.

[2015-08-21 18:13] hshira commented on #1811
This time build failed.
Error pushing to registry: Server error: 400 trying to push *****/***:master.47 manifest
The same build was passing until now

[2015-08-21 18:34] lekhab commented on #1811
looking into this

[2015-08-21 18:37] lekhab commented on #1809
@jgregors: This is usually because we only sync periodically with the SCM or when you log in. The project page is looking for an owner token which it can no longer find..

After deleting a repo from Bitbucket, you can force sync your account so we get the latest set of projects by going to your Shippable home, click on account settings and doing a force sync. That removes the project from Shippabl

[2015-08-21 18:53] ragsden commented on #1811
@hshira : I tried running a new build **.master.48 and docker push worked fine. This looks like docker registry related issue. We will keep a watch on this and open an issue with docker folks if this happens frequently.
Related to your issue on not able to see the image, can you try pulling **master.48 image and let us know if it worked?

[2015-08-21 19:05] manishas commented on #1810
@ryanbaldwin we cannot repro this internally, but by reading around, it might be a permissions related issue.

Can you try pushing your image to and pulling your image from this private repository from your local machine? does that work?

[2015-08-21 19:12] aaronwest commented on #1774
@DavidGDragon - thank you so much for the suggestions which all made perfect sense. I was thinking the Shippable back-end was handling everything needed to make complex encrypted variables work. I shouldn't have assumed.

@lekhab @DavidGDragon - I was able to get the build working today after making the suggestions. Here's a quick run through of what I changed:
* escape all double quotes
* wrap th

[2015-08-21 19:27] lekhab commented on #1774
great. thanks, @aaronwest. closing this.

[2015-08-21 19:27] #1774 closed

[2015-08-21 19:27] #1809 closed

[2015-08-21 19:28] lekhab commented on #1738
closing this for now. please let me know if there are any specific builds to follow up on and I can re-open.

[2015-08-21 19:28] #1738 closed

[2015-08-21 19:34] lekhab commented on #1794
@geshan: please let me know if I can help you any further and I will re-open. Closing the issue.

[2015-08-21 19:34] #1794 closed

[2015-08-21 19:35] lekhab commented on #1748
@macgyver2028 - were you able to test using ubuntu?

[2015-08-21 19:54] ryanbaldwin commented on #1810
I'll give that a whirl.

[2015-08-21 19:57] ryanbaldwin commented on #1810
Strange, even after doing a _docker login_ I can't even pull. I wonder if something screwed up with my private repo after I downgraded my subscription. I'll try deleting the docker repo and recreating it, but yea.... strange...

[2015-08-21 20:44] ryanbaldwin commented on #1810
So I deleted my private repo on docker hub and re-created it, and I can now access it from the command line. However, in shippable, I'm now experiencing errors during _build image_ and and _hub push_ (not sure if they're related, though first place one would think they're mutually exclusive):

##build image

Did shippable recently change the build output location?

##hub push

Oddly, it does exist

[2015-08-21 20:56] ryanbaldwin commented on #1810
Quick followup: I am successfully able to build the exact same revision if I remove the Docker credentials (i.e. the _build image_ section builds just fine). Something definitely appears to be unexpected here, at least from a consumer perspective.

[2015-08-21 21:11] ragsden commented on #1810
@ryanbaldwin : I looked at your timeout build and I see that the after_script section did not execute, hence the artifacts were not copied to buildoutput folder. Can you add your docker hub integration and run a build again?

[2015-08-21 21:21] lekhab commented on #1806
@chriskinsman: we are making changes to our code to fix this scenario - happens intermittently when a number of builds are kicked off simultaneously as in your case. it should be deployed to prod early next week.

[2015-08-21 22:26] ryanbaldwin commented on #1810
will do!

[2015-08-21 22:36] ryanbaldwin commented on #1810
Cool beans, we are all in the clear now. Thanks!

[2015-08-21 22:43] ragsden commented on #1810
I'm glad everything is sorted out. I will close the issue.

[2015-08-21 22:43] #1810 closed

[2015-08-21 23:02] chriskinsman commented on #1806
Thanks

Sent from my iPhone

[2015-08-21 23:29] lekhab commented on #1762
please let me know if you are still facing this and I will re-open. Closing for now.

[2015-08-21 23:29] #1762 closed

[2015-08-21 23:33] lekhab commented on #1755
@luckyraul: it looks like this is failing because it is looking for a specific version that's not installed. Are you able to get this to succeed locally?

checking a more recent build - since the older build logs were purged.

https://app.shippable.com/builds/55d6e819b882970c00b4f364

Is this still an issue?

[2015-08-22 01:19] marmida opened #1812 "Shippable finds 0 projects for CI integration"
I have a private BitBucket repository that I'd like to integrate with Shippable. I go to the Status page, and there, I see this:

Clicking "force sync" does not change this; it never finds any projects to create. Clicking "New project" on the right does nothing.

It is hinted in #1745 that there might be some additional steps necessary to enable private repository builds, but those aren't enumerat

[2015-08-22 09:03] macgyver2028 commented on #1748
I was able to test with a Ubuntu 14.04 image.  The Pre-CI works.  Closing this issue out.  Thank you.

[2015-08-22 09:03] #1748 closed

[2015-08-22 19:59] hshira commented on #1811
It is working fine now. Not sure why the tags didn't show up, now everything is showing up. Thanks!

[2015-08-22 22:12] ragsden commented on #1811
Awesome! Closing the issue

[2015-08-22 22:12] #1811 closed

[2015-08-23 14:48] RealNobody opened #1813 "Artifacts are not being uploaded sometimes"
When a build succeeds or if ONLY RSpec fails, then artifacts are uploaded.

However, (so far) whenever the Cucumber tests fail, artifacts are not uploaded.

Here is a sample Cucumber failure:  https://app.shippable.com/builds/55d78ac1831cd10b00df2f5b
An RSpec failure (with artifacts): https://app.shippable.com/builds/55d7640032a7bd0c00a467a9
And a success: https://app.shippable.com/builds/55d7a2fd

[2015-08-23 18:29] tsv2013 opened #1814 "Delete account."
Please delete my shippable account id = '55d432e8c650590c0091709e'.
I want to use my another shippable account.

[2015-08-24 16:16] lekhab commented on #1812
@marmida: For Bitbucket, all repos are turned on by default, so you should be able to view all repos typically. Before I dig into this further, can you please confirm these are Git repos and not Mercurial? We do not support mercurial repos at this point.

[2015-08-24 16:20] marmida commented on #1812
@lekhab welp, that's the issue - these are Mercurial repos. Thanks!

[2015-08-24 16:20] #1812 closed

[2015-08-24 16:46] lekhab commented on #1814
following up on this.

[2015-08-24 17:04] lekhab commented on #1813
opened an internal issue to follow up.

[2015-08-24 17:48] lekhab commented on #1814
@tsv2013: the account you mentioned has been deleted. please let me know if there is anything else I can help with.

[2015-08-24 19:30] tsv2013 commented on #1814
It's ok now. Thank you!

[2015-08-24 19:59] bigfoot90 commented on #1543
+1

[2015-08-24 20:16] #1814 closed

[2015-08-24 20:21] lekhab commented on #1808
@ixdy: Followed up with our engineers and this is currently by design in the code. matrix: include builds only use env vars that are explicitly specified in the include item as it stands.. changing this needs to be prioritized in our backlog.

Please let me know if the workaround above works for your case for now.

[2015-08-24 20:26] lekhab commented on #1789
@Grazulex: Yes! We created a sample using the Symfony framework and you can find this in the shippablesamples repo (https://github.com/shippableSamples/sample_php_symfony).

Incidentally, one of our customers wrote this fantastic blog that might be of use to you as well. Please check that out for a step by step instruction on how [using Symfony with Shippable]
(http://ifdattic.com/continuous-integ

[2015-08-24 20:42] ixdy commented on #1808
The workaround seems to be working.

[2015-08-24 22:33] marshall007 commented on #601
@lekhab just to be clear, I'm experiencing this issue with Bitbucket and I haven't tested whether it's resolved for GitHub or not.

I've switched them back-and-forth multiple times over the past couple months. Note that when I first created my shippable account, the `marshall007` was the only address. I then added the `mcottrell` one and set it as primary, but I've never received a shippable notif

[2015-08-25 00:56] axonal opened #1815 "Rebuild git webhook"
Any way to reset the git webhook after it has been deleted? Or possibly just get the payload url?

[2015-08-25 01:03] #1815 closed

[2015-08-25 01:04] Grazulex commented on #1789
Many thanks with you help and this of the blog I have find the perfect config for me :
language: php

php:
    - 5.6

cache: true

archive: true

env:
    global:
        - SYMFONY__ENV__DATABASE_HOST=127.0.0.1
        - SYMFONY__ENV__DATABASE_PORT=~
        - SYMFONY__ENV__DATABASE_NAME=ecom
        - SYMFONY__ENV__DATABASE_USER=ecom
        - SYMFONY__ENV__DATABASE_PASSWORD=

before_install:

[2015-08-25 01:04] #1789 closed

[2015-08-25 17:39] lekhab commented on #1808
Thanks for getting back to me, @ixdy. I am going to change this to a feature request to be added to the backlog.

[2015-08-26 00:29] lekhab commented on #790
@bittner: this is resolved now. can you please let me know if everything looks good on your end?

[2015-08-26 00:35] lekhab commented on #1806
@chriskinsman: We deployed a fix for this a few hours ago. Please confirm if this is resolved on your end.

[2015-08-26 00:36] lekhab commented on #1807
@chriskinsman: Are you seeing this lately?

[2015-08-26 00:40] lekhab commented on #601
thanks for the details, @marshall007.  following up on this.

[2015-08-26 04:19] MarkHerhold commented on #1494
@assisrafael try
[code]

[2015-08-26 07:12] bittner commented on #790
When I go to the [example build](https://app.shippable.com/builds/55c7c87b99917b0b00401128) I've mentioned above the console shows *"Waiting for logs..."* and nothing more happens. I hope this is a temporary issue. Otherwise I would say it's worse than before.

[2015-08-26 14:04] chriskinsman commented on #1807
nope

On Tue, Aug 25, 2015 at 5:36 PM, Lekha Bhargavi <notifications@github.com>
wrote:

[2015-08-26 16:35] #1807 closed

[2015-08-26 17:00] lekhab commented on #790
@bittner: Sorry! should have asked you to look at recent builds. The reason why you are unable to see the logs for the older builds is because we had to purge logs older than Aug 16 to handle DB out of space issues. (https://github.com/Shippable/support/).

I just re-ran the [old build](https://app.shippable.com/builds/55dded9a7743f10b0027d462). You should be able to check the logs now.

[2015-08-26 17:09] leonfs commented on #1579
I'm also having the same issue. Any updates on the status?

[2015-08-26 17:15] chriskinsman commented on #1806
Looks good.  Ran 4-5 builds and had no issues...

[2015-08-26 17:15] #1806 closed

[2015-08-26 17:23] leonfs commented on #1760
I'm experiencing a similar situation. Build fails but all checks are green.

https://app.shippable.com/builds/55ddf4637743f10b002b64ce

[2015-08-26 17:26] lekhab commented on #601
@marshall007: So it looks like you have conflicting primary emails on GitHub and Bitbucket.  You are logging in with your GitHub identity and we use the preferences from your last used identity. So the emails are being sent to the primary email set up on GitHub.

If you log in with your Bitbucket account, emails will be sent to the primary email configured on Bitbucket.

Hope that helps.

[2015-08-26 17:46] lekhab opened #1816 "All steps show success, build failed"
Opening issue for @leonfs. Transferred from #1579.

Build: https://app.shippable.com/builds/55ddf1047743f10b0029581d

[2015-08-26 17:47] lekhab commented on #1579
@leonfs: following up on your build. The previous issues were resolved, so I am going to close this and open yours as a new support issue. Please track your issue here: #1816

[2015-08-26 17:47] #1579 closed

[2015-08-26 17:53] lekhab commented on #1784
closing this. Please let me know if you are still facing issues and I will re-open.

[2015-08-26 17:53] #1784 closed

[2015-08-26 17:54] lekhab commented on #1760
@leonfs - opened a new issue for you in #1816. Closing this out.

[2015-08-26 17:54] #1760 closed

[2015-08-26 17:58] lekhab commented on #1730
closing this, since the perf issues were addressed.

[2015-08-26 17:58] #1730 closed

[2015-08-26 18:00] #1742 closed

[2015-08-26 18:00] lekhab commented on #1742
closing resolved issues.

[2015-08-26 18:00] #1732 closed

[2015-08-26 18:01] #1797 closed

[2015-08-26 18:02] lekhab commented on #1797
the change was made to the pricing page to make it more obvious..

[2015-08-26 18:03] #1766 closed

[2015-08-26 18:13] leonfs commented on #1816
Hi lekhab, Thanks.

Is really weird as the console doesn't give me a single clue on what's wrong.

<img width="1827" alt="screen shot 2015-08-26 at 19 11 33" src="https://cloud.githubusercontent.com/assets/654615/9501981/7b4a23ea-4c26-11e5-8fb4-5f1bcf84da43.png">

[2015-08-26 18:28] ragsden commented on #1816
@leonfs : I looked at your project settings and found that you have set "Dockerfile" for "Source location" which is a wrong value. This field should be set to the location where your source code exists in the image built during the prior step. You can find more info here http://docs.shippable.com/project_settings/

We will look into why the logs are not showing up. Thanks!

[2015-08-26 18:45] lekhab commented on #1718
@rudism: are you still running into this? from your description, the build appears to be waiting for some user input. I see some of your recent builds have been succeeding. please let me know if this is still occurring.

[2015-08-26 18:49] rudism commented on #1718
I don't believe it was related to user input... running the same shell scripts manually outside the context of shippable worked just fine.

I ended up copying the `parallel` and `xargs` calls directly into the `shippable.yml` file instead of calling them from a shell script which seemed to fix the issue.

[2015-08-26 19:02] rudism commented on #1697
Despite several different approaches and attempts, we have been unable to get mono working at all on Shippable. The following scenarios all result in random segfaults while executing mono processes:

* `apt-get` installed mono on `shippableimages/ubuntu1404_base`
* mono built from source on `shippableimages/ubuntu1404_base` and on `ubuntu:14.04`
* mono built from source on `centos:6`

The `centos:

[2015-08-26 19:04] lekhab commented on #1099
closing this - since we now support custom docker images without dedicated hosts.

[2015-08-26 19:04] #1099 closed

[2015-08-27 00:26] ixdy opened #1817 "Code coverage report not useful with Go projects"
I tried adding Shippable code coverage support to the Kubernetes unit tests in kubernetes/kubernetes#13171. Shippable parses the coverage XML file without issue, but it reports 0% branch and sequence coverage across the entire project (e.g. https://app.shippable.com/builds/55de3e23f44cfb0c0015a260).

I'm guessing this is because the Go coverage tools seem to only report statement coverage. As it s

[2015-08-27 00:31] ixdy opened #1818 "Feature request: make it easier to identify skipped tests in test report"
I created a PR to use Shippable's test report parsing functionality in kubernetes/kubernetes/pull/13114.

A test report from an example run such as (https://app.shippable.com/builds/55de3d96f44cfb0c00153ccf) shows 1886 Passing and 9 Skipped tests, but there is no easy way to identify which tests were skipped.

Additionally, the GitHub commit status shows "Shippable builds completed. 3772/3790 test

[2015-08-27 00:33] marshall007 commented on #601
@lekhab is there a rationale behind using the preferences from your last used identity? That doesn't make a lot of sense to me. Why isn't it based on the identity/organization the repo is associated with?.

[2015-08-27 01:33] nigelwinterburn opened #1819 "Can't trigger new builds"
I can't trigger a new build. At first, I thought maybe the Jira-generated super long branch name caused a problem, but now I can't get any branch to trigger a new build. I have reset the project and verified the new deploy keys were added in bitbucket.

No new jobs appear after successful pushes.

[2015-08-27 15:31] mbrodala commented on #1737
I can see this error currently when manually triggering builds. All previous builds where just fine.

[2015-08-27 16:31] LuisMuniz opened #1820 "Can't see my project/builds anymore"
Hi,

I use the BitBucket integration to build my repository with shippable.
Since a couple of hours, I have been unable to see my projects, or my organization's project. The list is empty.

When I go back and click on a link to one of my previous builds, I can see the following error message:

    {"id":1005,"message":"Internal API error : getPermissionByProjectId","methodName":"chkPermForId|_getS

[2015-08-27 17:02] lekhab commented on #1820
@LuisMuniz: This is probably related to the issues at Bitbucket. I am following up on this - in the meantime,  can you please try force syncing your account and let me know if that works? [Account Settings -> Force Sync]

[2015-08-27 17:04] lekhab commented on #1737
@mbrodala - this was probably related to the Bitbucket issues earlier today. Are you still facing this? I see one of your recent builds went through completely.

[2015-08-27 17:04] LuisMuniz commented on #1820
Hi,

Thanks for the workaround!

After force syncing, I can see my projects again.

Thanks

Luis Muñiz
IT Director – Research and Development, Architecture | B2Boost
Chaussée de Waterloo, 1453, 1180 Brussels , Belgium
T : +32 (0)2.629.60.00 | M : +34 647 79 34 76
luis.muniz@b2boost.com<mailto:luis.muniz@b2boost.com> | www.b2boost.com<http://www.b2boost.com/>

Please consider the environment before

[2015-08-27 17:37] lekhab commented on #1820
Great. It was a temporary glitch due to the Bitbucket issues. Closing the issue.

[2015-08-27 17:37] #1820 closed

[2015-08-27 18:45] lekhab commented on #1817
tagging this an an enhancement to follow up on.

[2015-08-27 18:54] lekhab commented on #1819
@nigelwinterburn: We had some queue build up for a few minutes around the time you filed the issue which was resolved. Please let me know if you are still facing this. I just ran a manual build for you and it went through fine.

[2015-08-27 19:11] lekhab commented on #1802
Please let me know if there is anything else we can help you with. closing the issue.

[2015-08-27 19:11] #1802 closed

[2015-08-27 19:14] lekhab commented on #1816
@leonfs: can you pleas update the source location in your project settings and try again?

We have an internal issue open to show an error when this happens instead of failing silently. Marking this resolved, since the immediate issue is resolved.

[2015-08-27 19:16] lekhab commented on #601
@marshall007: Agreed. It should be. This is being taken into account during our re-design. I am going to tag this as a feature request to track  - since the current issue is by design..

[2015-08-27 19:24] lekhab commented on #1110
the build hanging issue has been fixed. Notifications are shown in case of manually triggered builds.  closing this bug.  We are continuing to work on improving the notifications flow in general.

[2015-08-27 19:24] #1110 closed

[2015-08-27 19:29] lekhab commented on #1147
closing out old issues. this is not relevant anymore, since there's no more dpd..

[2015-08-27 19:29] #1147 closed

[2015-08-27 19:39] lekhab commented on #1653
@xherriot: are you still facing this?

[2015-08-27 19:51] lekhab commented on #1534
This is a known issue that is related to syncing a large number of repos and github rate limits. Unfortunately, we don't have a workaround for this currently. I am going to tag this as a feature request to keep a track on this.

[2015-08-27 19:55] lekhab commented on #1304
@kaspernj: are you still running into this?

[2015-08-27 19:58] lekhab commented on #1658
This issue was resolved with the new system (newer builds should not have this issue. Note: logs were purged for builds older than Aug 16) Closing this.

[2015-08-27 19:58] #1658 closed

[2015-08-27 21:21] bittner opened #1821 "[Security] Builds and details still accessible when user is excluded from Bitbucket organization"
When you're part of an organization and you create a Shippable account by logging in using e.g. Bitbucket you can see all public and private repositories.

When your account is removed from the Bitbucket organization then you can still see the builds, and you can still even inspect the details of all builds.

Is this behavior intended?

[2015-08-27 22:00] bittner opened #1822 "Repos moved to new organization on GitHub won't be listed in Projects list"
I had some public repositories on GitHub and Bitbucket under my personal account last year when I started to integrate them with Shippable.

I've moved the repos into a [new organization](https://github.com/Organice) on [April 7](https://twitter.com/organice_io/status/585499869852409857) this year both on GitHub and Bitbucket. For your Bitbucket integration this was not a problem, I think it conti

[2015-08-28 02:44] behemphi opened #1823 "Feature Request: Validate Docker Hub Credentials on save"
When I save my Docker hub credentials, I don't know for sure I have them right.  This presents a problem later if I don't get the expected result because I don't necessarily know where the problem lies.  If I do know the problem is the credentials I have to navigate away to the right place to attempt a fix at which time I am still in the same situation: I don't _know_ I have them right.

Thanks fo

[2015-08-28 05:25] rageshkrishna commented on #1822
@bittner Can you please check if you have enabled third-party access for Shippable on the new organization? You can verify this by visiting https://github.com/organizations/Organice/settings/oauth_application_policy.

If GitHub's access restrictions are enabled for the org and you don't see Shippable listed on that page, you will need to enable it by following the instructions at https://help.gith

[2015-08-28 05:47] pquentin commented on #1764
@lekhab The bug appears to be fixed on my end. Thanks!

[2015-08-28 06:39] mbrodala commented on #1737
Yes, the following builds where fine although I had to cancel some of them which where apparently queued due to manual triggering. I'll let you know in case the issue occurs again.

[2015-08-28 09:15] mbrodala commented on #1802
@lekhab I have a hard time finding the announcement for the plan changes, can you give me a pointer? We are also currently using the old startup plan for $12 per year and 5 minions and I'm unsure if we continue on this plan or are automatically moved to a different plan.

[2015-08-28 10:08] sdlarsen opened #1824 "Email invites sent to long gone team members"
Hi. We're using shippable with bitbucket integration. For some reason we keep getting email invites sent to team members that are no longer with us, and not present in our company bitbucket account. Why is that and how do we stop it?

Br.
Søren
ÜberResearch

[2015-08-28 13:01] ALenfant commented on #1092
I use Postgres 9.4-exclusive features and this is preventing me from relying on Shippable to do my CI. Your silence on this issue is concerning since this version was released last December and is starting to be widely used.
Is it possible to know when this will be available? Thanks, I can't wait to use it!

[2015-08-28 18:07] lekhab commented on #1802
@mbrodala: The pricing changes were part of our [3.0 announcement](http://blog.shippable.com/devops-2.0-is-here-announcing-shippable-formations-and-enhanced-ci-capabilities) in Jun. You should have received an email as well.

To answer your specific question: You will remain on your existing plan until your subscription period comes up for renewal, at which time you will need to convert to a new p

[2015-08-30 09:06] LuisMuniz opened #1825 "UNSTABLE build still calls after_success"
Hi,

I read from diverse sources that I should place my deployment instructions in after_success, but I found out today that my unstable build was deployed to my production environment, why is this? Should I put my deployment code somewhere else? Should I check the build status myself?

[2015-08-30 17:43] alexyer commented on #237
+1

[2015-08-30 18:36] Tobur opened #1826 "Postgres and Ubuntu = random password"
The same yml, have different result sometimes success, sometimes failed:

  PGPASSWORD=shippable psql -U postgres -c "create USER dbuser WITH PASSWORD 'dbpassword' SUPERUSER;"
psql: FATAL:  password authentication failed for user "postgres"

Some RANDOM exist here.

I tried also, what you are say in DOC:
psql -U postgres -c "create USER dbuser WITH PASSWORD 'dbpassword' SUPERUSER;"
psql: FATAL:  p

[2015-08-30 18:38] Tobur commented on #1826
Link to my project: https://app.shippable.com/projects/5537efaaedd7f2c052cd6616

[2015-08-30 23:41] leonfs commented on #824
Is there any news about the state of this feature requests? after_push trigger would be Fantastic!!

[2015-08-31 07:29] mbrodala commented on #1802
@lekhab Thanks for clarification.

[2015-08-31 07:57] Tobur commented on #1826
Example https://app.shippable.com/builds/55e36302d39b030c0098d6b4 success
Failed https://app.shippable.com/builds/55e40862733c5c0c00d48087

Config the same, just re-run build.

[2015-08-31 12:37] bittner commented on #1822
That's a good hint, thanks!

Now, the problem is I have no pending requests under the "Third-party access" tab. And it seems that it's not possible to trigger a third-party request for the Shippable UI. When I click on "Force sync" in the Shippable project settings nothing happens on GitHub.

How can I fix that?

[2015-08-31 16:42] lekhab commented on #1822
@bittner:  just confirming  that you have set the policy for the org as "No restrictions" for third party access before trying out @rageshkrishna's suggestions.

http://docs.shippable.com/faq/#why-cant-shippable-see-my-org-on-github

[2015-08-31 18:02] lekhab commented on #1813
@RealNobody: We deployed a few changes to this flow last week. Can you please let me know if you are still facing this?

[2015-08-31 18:16] lekhab commented on #1824
@sdlarsen: It is possible that the users who are getting the invites have not synced their account - so we haven't gotten their updated permissions yet. Please let me know the names of the users who no longer have access and I can confirm the details for you. You can send me an email at lekha@shippable.com.

[2015-08-31 18:20] lekhab commented on #1826
@Tobur: Are you able to run this successfully on your local setup?

Please try the suggestions in this Stack Overflow thread and let me know if that doesn't solve your issue.
http://stackoverflow.com/questions/7695962/postgresql-password-authentication-failed-for-user-postgres

[2015-08-31 18:56] RealNobody commented on #1813
I still had this problem as of this morning. (2015-08-31 11:00AM PST)

I hadn't heard anything in a while, so I'm trying some things on a purposefully broken branch to see what I can try to figure out.

[2015-08-31 21:00] lekhab commented on #1813
Thanks, @RealNobody. We are following up on this.

[2015-08-31 21:19] bittner commented on #1822
That fixed it: The `Private Repos OFF` button in  the GitHub Identity section showed a dialog to allow access permission. (I didn't have to actually turn private repos on.)

Thanks.

[2015-08-31 21:19] #1822 closed

[2015-08-31 22:10] RealNobody commented on #1813
So, today I was messing around testing what I can...

I changed my RSpec tests so that no tests would do anything and I added a Before Script for Cucumber that would raise an exception.  (RSpecs take no time and all features fail.)  I then changed the script from:

[code]

to:
[code]

When I did this, the results of the test was that the echo after the Cucumber command (nor anything after that in

[2015-08-31 22:32] RealNobody opened #1828 "Builds timeout after success"
This is not something that happens every time, but it has been happening a reasonable amount recently.

Sometimes when we run a build, it times out.  I have not identified any reliable circumstances under which this happens.

When I look at the timed out builds, I cannot see anything in the console output that indicates why it timed out.  In the console output, I see the same basic output as I do

[2015-08-31 22:33] ahjohannessen opened #1829 "scala: console output format is borked"
Recently the console output format from build log is borked. We get output like this:

[code]
and
[code]

[2015-08-31 23:40] catskul opened #1830 "Can't figure out how to buy more minions"
Checked the instructions and my billing dashboard seems to be missing subscription plan details.

[2015-08-31 23:41] #1830 closed

[2015-08-31 23:41] catskul commented on #1830
Apparently I just had to wait ~10 minutes for it to update after adding my card.

[2015-09-01 11:08] geshan commented on #1794
If there is any example of an alpine base image running on shippable that would be great to kick start.

[2015-09-01 14:12] deosjr opened #1831 "Bitbucket webhook not triggering builds"
Hi,

It seems like since today commits to any of our existing bitbucket repositories that were registered to shippable are not triggering new builds anymore.
I think the last automatic build was this morning, any after that we had to trigger by hand in the shippable webapp.

My bitbucket account is "sndost", using the "to-increase" team account.

[2015-09-01 14:21] rvrignaud commented on #1592
Hello,
Is there any news on this one ?

Regards,

[2015-09-01 15:45] satyasrikantmantha commented on #1831
This is rather urgent as our development is stalled. Kindly Prioritize...

[2015-09-01 16:05] mbrodala commented on #1831
It seems like this is actually a [Bitbucket issue](http://status.bitbucket.org/incidents/8h11jljfd445).

[2015-09-01 16:07] lekhab commented on #1831
@satyasrikantmantha: @mbrodala is right.This is a Bitbucket issue - please follow the update on their issue link [here](http://status.bitbucket.org/incidents/8h11jljfd445)

[2015-09-01 16:07] mbrodala commented on #1724
Seeing the same issue ATM:

[code]

[2015-09-01 16:09] lekhab commented on #1724
looking into this

[2015-09-01 16:10] satyasrikantmantha commented on #1831
I am also experiencing issues with the UX, it shows loading the app for long..
![image](https://cloud.githubusercontent.com/assets/9287965/9609579/15bc195e-50f2-11e5-9819-0113bb92108a.png)

[2015-09-01 16:14] mbrodala commented on #1724
Seems fixed now.

[2015-09-01 16:15] mbrodala commented on #1831
@satyasrikantmantha See #1724

[2015-09-01 16:16] lekhab commented on #1831
@satyasrikantmantha: the shippable service is back up now. (bitbucket issue is still open)

[2015-09-01 18:04] lekhab commented on #1831
the bitbucket issue is resolved now.. closing this.

[2015-09-01 18:04] #1831 closed

[2015-09-01 18:21] lekhab commented on #1829
@ahjohannessen: can you add the build links here, please? I am not able to reproduce this with any of our scala samples.

[2015-09-01 18:30] lekhab commented on #1592
@rvrignaud: we don't have a trigger that supports this, unfortunately. There is an open feature request for this here: https://github.com/Shippable/support/issues/1493 (that also describes a few workarounds, but they are very use-case specific).

[2015-09-01 18:31] lekhab commented on #1791
closing this. Please let me know if this is still an issue.

[2015-09-01 18:31] #1791 closed

[2015-09-01 18:32] lekhab commented on #1751
closing this. Please let me know if we can help you any further.

[2015-09-01 18:32] #1751 closed

[2015-09-01 18:34] lekhab commented on #1816
@leonfs: This is now resolved. If the source code location is incorrect, the build will now fail. Closing the issue.

[2015-09-01 18:34] #1816 closed

[2015-09-01 18:38] ahjohannessen commented on #1829
One example is here https://app.shippable.com/builds/55e4d3a056d4420b00dc3182

[2015-09-01 19:18] lekhab commented on #1829
thanks. looks like we are not parsing the color codes correctly. opening an internal issue to track this.

[2015-09-01 19:21] ahjohannessen commented on #1829
It seems like a regression because it has worked earlier

[2015-09-02 00:09] leonfs opened #1832 "Source location not set to value specified within "Settings""
Hi,

I'm getting failures on the builds due to a problem on the working directory path not being set to the value specified within Settings.

If I run:
[code]
I get /root

I had to run in order to have successful builds:
[code]

Link to failed build
https://app.shippable.com/builds/55e63a79fe05460b00f9f989

[2015-09-02 00:48] hshira opened #1833 "Builds running very slow"
Just observed that the builds are running slower than usual. Slowing our pipeline ... please address this.

[2015-09-02 03:40] hshira commented on #1833
working fine now

[2015-09-02 03:40] #1833 closed

[2015-09-02 11:04] pschrammel commented on #1092
same here. need 9.4 for testing (+1)

[2015-09-02 11:07] adnan-panalytics commented on #1092
+1

[2015-09-02 17:11] EHLOVader opened #1834 "Errors when trying to force sync or trigger build by push"
I have some strange errors showing up on the top of the page, and recent pushes don't appear on shippable.

[code]

Force sync also produces a different error that appears across the top.

[code]

[2015-09-02 17:41] hillbilly90 opened #1835 "Previous Build History Gone"
Over the past 2 months we have been using shippable to deploy to our Amazon server. As of today, I can't see any of the previous builds. It even says 'No builds have been triggered yet.'

Any ideas?

[2015-09-02 17:53] lekhab commented on #1835
@hillbilly90: following up. I don't see any projects that can be enabled on your subscription. Can you confirm the subscription is this: https://app.shippable.com/subscriptions/5524db225ab6cc1352bbd5f0/

[2015-09-02 17:56] hillbilly90 commented on #1835
It was connected to my github account and was a private repo. I believe it was here: https://app.shippable.com/subscriptions/5524da9e5ab6cc1352bbd4e4

[2015-09-02 17:56] lekhab commented on #1835
@hillbilly90 - this is most likely related to the ongoing bitbucket issue: http://status.bitbucket.org/ - we can't get projects for your subscription from bitbucket.

[2015-09-02 17:59] lekhab commented on #1835
sorry, we crossed each other. Following up on the GitHub subscription. I can see the build details on our system..

[2015-09-02 18:04] hillbilly90 commented on #1835
![image](https://cloud.githubusercontent.com/assets/5092385/9639739/b7169e64-516a-11e5-9964-ab68df26d9fe.png)

[2015-09-02 18:04] rvdwijngaard opened #1836 "Error while accessing my build details"
Hi,

I get an error if I try to access https://app.shippable.com/projects/557f0f35edd7f2c0521800b4

The error I get is: {"id":2100,"message":"No build found","methodName":"validateCaller|_checkAccessLevel"}

[2015-09-02 18:12] lekhab commented on #1835
Thanks @hillbilly90. We are investigating as a high priority issue.

[2015-09-02 18:18] hillbilly90 commented on #1835
Thank you

[2015-09-02 18:19] lekhab commented on #1836
@rvdwijngaard: we are investigating this as we speak..

[2015-09-02 19:52] RealNobody commented on #1813
Additional updates:

We have had more tests fail to upload artifacts when they fail at different points.

Previously we had a regular problem with artifacts uploading after Cucumber tests, but in the last couple of days we had two new similar issues:

* Artifacts did not upload when RSpec failed due to a parsing error (bad file name).  No RSpec tests ran at all, so there wasn't much to lose, but t

[2015-09-02 19:57] lekhab commented on #1835
@hillbilly90: We just deployed a fix for this. Please let me know if you are still facing any issues.

[2015-09-02 19:58] lekhab commented on #1836
@rvdwijngaard: This should be resolved now. We just deployed a fix for this. Please let me know if you are still facing issues.

[2015-09-02 19:58] lekhab commented on #1834
@EHLOVader: This should be resolved now. We just deployed a fix. Please let me know if you are still facing issues.

[2015-09-02 20:46] hillbilly90 commented on #1835
Will this take a few hours to take affect? I am still not seeing anything. Thanks

[2015-09-02 21:03] trriplejay commented on #1835
@hillbilly90 Can you try clicking the 'force sync' button on your account settings page? Let me know if that works for you.

[2015-09-02 21:25] hillbilly90 commented on #1835
Ahhh yeah! See I tried that before and it didnt work. It must have been your fixes.

Thanks a ton! Everything seems to be good.

[2015-09-02 21:44] icdev opened #1837 "Go 1.5 Support"
I might be missing something, but I'm getting this following error when trying to build using go 1.5.  (https://golang.org/doc/go1.5)

[code]
language: go

go:
  - 1.5
[code]

[2015-09-02 23:01] dustinswisstack commented on #1828
@lekhab Can we get some attention to this? Shippable is becoming an impediment to our progress and we are considering a move to another system if we cannot resolve our issues within the next week or so.

Thanks!

[2015-09-02 23:38] RealNobody opened #1838 "Script executing out of order"
I am playing around trying to work around some issues I've been having to try to either fix things or at least diagnose what is going on.

That being said, I know our script as it is now (in this branch) is not the best.

However, I don't know how it ended up breaking this run:
https://app.shippable.com/builds/55e75db2e9afdc0b003957bc

A more normal run sorta looks like:
[code]

This run looks lik

[2015-09-02 23:50] behemphi opened #1839 "Feature Request: Docker build and register moved from GUI to YAML"
It would be ideal if the description for the docker build & register was done in the YAML instead of the UI where it would be part of the project and, most importantly, under source control.

By docker build/register, I mean essentially this:

![screen shot 2015-09-02 at 6 48 49 pm](https://cloud.githubusercontent.com/assets/522972/9647517/7084fa5c-51a3-11e5-90ed-7ce95ceae651.png)

[2015-09-03 00:59] EHLOVader commented on #1834
Confirmed that it is working. Thank you.

[2015-09-03 00:59] #1834 closed

[2015-09-03 03:52] manishas commented on #1839
this is absolutely on our roadmap and we'll get to this soon. Thanks for the feedback!

[2015-09-03 03:55] manishas commented on #1838
@RealNobody We'll follow up on all your issues today and get back to you.

[2015-09-03 03:57] manishas commented on #1838
@RealNobody can you send us your shippable.yml?

[2015-09-03 05:19] jawaid commented on #1828
@RealNobody  & @dustinswisstack

we would look into this

[2015-09-03 05:46] rvdwijngaard commented on #1836
yep it is resolved now; thanks

[2015-09-03 05:46] #1836 closed

[2015-09-03 08:29] taz77 opened #1840 "Ubuntu 14.04 with PHP and Apache to test Drupal websites"
I have been working with Shippable for a few days. I like the service but so far I cannot get the environment I need for various reasons.

Using the default image which is Ubuntu 12.x you get Apache 2.2 and not 2.4. My production enviornments are 2.4. Reading through the issue queue I found the image `shippableimages/ubuntu1404_php`, so I began to use it.

This image does easily give me Apache 2.4

[2015-09-03 08:45] luckyraul opened #1841 "Docker ENV parameter"
Hi,

How I can specify ENV parameters from .shippable.yml matrix to docker ?

I need to run Code in different docker images depending on ENV parameters

[2015-09-03 10:13] coddie001 opened #1842 "New home page doesn't work over https"
i cant seem to login to shippable as some URl's are loading over http and shippable is opened in https

[2015-09-03 10:56] taz77 commented on #1841
Like this?

env:
  global:
    - VARIABLE1=data1 VARIABLE2=data2

[2015-09-03 10:58] taz77 commented on #1842
You mean the website? Allow mixed mode in your web browser, you probably are using IE right?

[2015-09-03 11:02] luckyraul commented on #1841
I really need PHP version and custom param
for example
[code]

[2015-09-03 11:21] coddie001 commented on #1842
i am using chrome, when i try to login with a bitbucket account i get the error

[2015-09-03 11:45] taz77 commented on #1842
Using Chrome 45 here on a Mac, logging in with Bitbucket. I do have a warning symbol in my URL bar because they use an SHA-1 signature but I am communicating with TLS 1.2.

I run an eCommerce... Deal with SSL certs a lot.

[2015-09-03 15:27] lekhab commented on #1829
@ahjohannessen: The color codes are being parsed correctly in the console outputs now. Can you please confirm?

[2015-09-03 15:31] lekhab commented on #1832
@leonfs: This was a bug in our nodejs script that is now fixed. You should now be able to run your project without adding the additional line in before_install. Please let me know if you have any further issues.

[2015-09-03 15:31] #1835 closed

[2015-09-03 15:57] RealNobody commented on #1838
Yes.

I have a couple of versions that I'll send you here.

[2015-09-03 16:02] RealNobody commented on #1838
For this incident - This is the YML that I was running:

[code]

NOTE:  I don't like the `set +e`.  I think it is a bad idea.  The ONLY reason I did/do it is because it seemed to fix the problem I was having of not getting uploads when Cucumber failed.  I found a different solution later.

[2015-09-03 16:08] RealNobody commented on #1838
The different solution.

I am currently testing the following YML file:

[code]

Where the script file is:
[code]

I am much happier with this solution.

Yesterday (unrelated to Shippable) we had 2 breaks in our code that broke all 3 test suites (RSpec, Ember, and Cucumber.)

With this YML and script solution combination, I was able to identify the causes of the breaks where I had been unable to d

[2015-09-03 16:08] leonfs commented on #1832
Hi Lekhab,

I confirm that is fixed. Thanks!!

[2015-09-03 16:11] lekhab commented on #1832
Great. Closing issue.

[2015-09-03 16:11] #1832 closed

[2015-09-03 16:17] RealNobody commented on #1838
Oops, one final note:

I am echoing the start and end times out to the `install` and the `after_script` to try to see if I can diagnose the timeout issues we've been having.

I know that a number of our runs have sat in the `Waiting` state for a long time.  I am curious to see if that time sitting in a waiting state counts towards the final timeout or not.

That makes a difference.  I want to know

[2015-09-03 16:18] RealNobody commented on #1838
Another comment on timeouts - I don't know how to reliably recreate them yet.  If I did, I would absolutely let you know.

[2015-09-03 16:21] ahjohannessen commented on #1829
@lekhab Things are back to normal, thanks!

[2015-09-03 16:21] #1829 closed

[2015-09-03 16:41] RealNobody commented on #1813
I found out that the Ember tests were failing legitimately and not due to a timeout.

I detail how/why I found this out in [this issue](https://github.com/Shippable/support/issues/1838)

I have three issues open currently.  I opened them separately because although they may be related, they may not be.

The three issues are:

* [Artifacts not being uploaded](https://github.com/Shippable/support/is

[2015-09-03 17:14] gtnx opened #1843 "cannot set to blank project option "Pull Image from:""
If i leave the field blank, i cannot save. I got a message:

    Some errors were detected with your project settings:
    Requires an image name to pull.

[2015-09-03 18:46] lekhab commented on #1843
@gtnx: There is a trash icon below the settings that you can use to clear your project settings. Please try that and re-try. Screenshot below.

![screen shot 2015-09-03 at 11 44 14 am](https://cloud.githubusercontent.com/assets/9526532/9667578/687af044-5231-11e5-9af6-0ecd5d78057d.png)

[2015-09-03 19:04] lekhab commented on #1842
@coddie001: are you using https://www.shippable.com? We are not able to reproduce this on our end. Can you attach some screenshots if you are still facing this?

[2015-09-03 19:08] ryanbaldwin commented on #1092
Amazing. This issue is nearly 7 months old and no response? Brutal. 9.4 has been out for a while, kinda silly it's still not supported.

+1 for 9.4

[2015-09-03 19:19] thecaddy commented on #1092
Ya, our entire stack was on shippable for a while but this forced us to look for another vendor.  We ended up switching to CircleCI.  Additionally they allow testing of docker containers and connecting to external db's from inside the container.

[2015-09-03 19:24] lekhab commented on #1841
@luckyraul: I hope I am understanding your use case correctly. You should be able to specify these environment variables as you have done above and use the before_install section to install the right version of Magento for each of the matrix build.

Something like this:

[code]

Let me know if that works for you.

[2015-09-03 19:33] Tobur commented on #1826
@lekhab

Yes, locally I get this work and as I told in my first post, the same configuration first run -> success, second - failed. I try many ways, but steel can't resolve this issue

One
  sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres';"
could not change directory to "/home/shippable/workspace/src/bitbucket.org/tobur/train_dev": Permission denied
Password:
psql: fe_sendauth: n

[2015-09-03 19:49] lekhab commented on #1840
@taz77: Following up on this internally. The fastest way is probably to take one of the Docker files, customize it to your needs and create a custom Docker image that you can then use for your projects.

Will let you know what I find.

[2015-09-03 19:58] manishas commented on #1092
We're in the process of revamping all our images and adding new versions of languages and tools. I will have an update on this in the next couple of days.

In addition our free plans let customers use their custom docker containers for builds.

[2015-09-03 20:06] manishas commented on #1092
@thecaddy we allow testing of docker containers as well. In fact you can bring up your entire multi-container application and automate functional testing against the live application. You can set it up to autoupdate with each push so you're not just automating unit testing but actual functional testing for each push.

Thanks.

[2015-09-03 20:25] gtnx commented on #1843
Indeed, thanks!

[2015-09-03 20:25] #1843 closed

[2015-09-03 22:10] pnpritchard opened #1844 "Build timeout in "boot""
All of my builds have been failing due to "timeout" since yesterday afternoon. I can't think of any change to my code that would have caused this. From the console view, looks like it is stuck in the "boot" stage. It is also weird that this stage is not at the end of the list, even though it is still running.

![image](https://cloud.githubusercontent.com/assets/5124612/9672176/1999a8aa-524d-11e5-9

[2015-09-03 22:47] lekhab commented on #1844
@pnpritchard: following up on this.

[2015-09-03 23:55] pnpritchard commented on #1844
@lekhab seems like this was just affecting one commit. After pushing more commits, it is not happening anymore.

[2015-09-03 23:55] #1844 closed

[2015-09-04 05:16] taz77 commented on #1840
That is partially what I was afraid of having to do. I will keep working on it.

For you guys I guess you may want to look into having an option in the default docker images. Apache 2.2 is getting old and 2.4 has a lot of performance improvements with how it runs. Getting 2.4 onto Ubuntu 12.x takes a lot of configuration from what I can find on Google searches (I am primarily a RHEL person so I ha

[2015-09-04 07:23] luckyraul commented on #1841
Without docker now I have this matrix and I need to test my code in every magento version on every php version
[code]

There is a script installing downloading magento by env MAGENTO_VERSION , merge with my repository code and run tests.

Downloading Magento and Installing takes too long time.

So I am going to make it with docker

I got in mind two possible ways:

1) Create docker image with all

[2015-09-04 09:40] lukefrake opened #1845 "No builds running on my account"
When pushing up to Git none of my repos seem to build any more, even when trying to rerun a build I'm getting `"id":2100,"message":"No build found","methodName":"validateCaller|_checkAccessLevel"`

Any ideas?

[2015-09-04 09:51] rageshkrishna commented on #1845
We're seeing some issues with our build queue. I'll post an update here as soon as I have more information.

[2015-09-04 09:52] ricardoon opened #1846 "No builds running on my account"
I do a commit on github liked to my account and it doesnt create a build.
Its had shown an API error, but I didnt get the message.
Can you help me?

[2015-09-04 10:01] avinci commented on #1846
We had an out of memory issue. It should be resolved.

[2015-09-04 10:03] rageshkrishna commented on #1845
@lukefrake Can you please try now? Our build queue processor ran in to some memory issues. This has been fixed.

[2015-09-04 12:20] chriskinsman commented on #1846
Still seeing this in my account...

[2015-09-04 12:21] chriskinsman opened #1847 "Kick off a build manually and all secure variables fail to decrypt"
A secure variable found in the YML could not be decrypted. Please check that the following encrypted variable was copied correctly and is in the right project:

[2015-09-04 12:22] chriskinsman commented on #1845
I am still seeing the issue...

[2015-09-04 12:23] chriskinsman opened #1848 "Kick off a build manually and all secure variables fail to decrypt"
A secure variable found in the YML could not be decrypted. Please check that the following encrypted variable was copied correctly and is in the right project:

[2015-09-04 12:23] chriskinsman opened #1849 "Unable to manually start build"
See this message:

{"id":2100,"message":"No build found","methodName":"validateCaller|_checkAccessLevel"}

[2015-09-04 12:24] naveensky opened #1850 "No builds running on my account"
automated builds are not working for my account. Also if I trigger a manual build, I get an error.

https://app.shippable.com/builds/55e98d0a781a6d0c002e9c73
https://app.shippable.com/builds/55e977b756443b0c00cecdb0

[2015-09-04 12:31] manishas commented on #1849
Looking into this..

[2015-09-04 13:10] manishas commented on #1850
@naveensky this should now be fixed. can you please confirm?

[2015-09-04 13:12] manishas commented on #1828
@RealNobody @dustinswisstack we are looking into all your open support issues and will have an update as soon as we know more.

We did have one request - can you please turn off your test and coverage reports temporarily? We realized that the size of your reports is causing some problems on our platform that is affecting performance for other customers. We need to look into this more as well and w

[2015-09-04 13:35] #1848 closed

[2015-09-04 14:04] chriskinsman commented on #1847
This may have been related to #1849

[2015-09-04 14:36] LuisMuniz opened #1851 "Build stuck on processing, it's been an hour. Can't stop it."
Hi,

My build is stuck at processing. If I look at the logs, I see it was downloading some dependency, but it does not move anymore.
When I try to manually stop it, via the stop button, I can see the spinner for a time, but the build is not stopping.
When I try to launch another instance of the build, I see the following error:

    {"id":2100,"message":"No build found","methodName":"validateCalle

[2015-09-04 14:49] caarlos0 commented on #1851
Same issue here.

I can't properly cancel builds also..

[2015-09-04 15:02] RealNobody commented on #1828
I will look into how to do this and do it as soon as I can.  I have an alternative that we can use while you resolve this.

[2015-09-04 15:19] LuisMuniz commented on #1851
I can't launch any new builds as well. Now I'm stuck. If I am not getting a solution quickly, I will have to switch to another service.

[2015-09-04 15:26] sojharo commented on #1836
I am still having this issue whenever I run build manually. Also, when I commit the code, it doesn't start building automatically, in fact, it doesn't even know that commit has been made. I have a private bitbucket repository.

[2015-09-04 17:06] RealNobody commented on #1828
We have one outlier:  https://app.shippable.com/builds/55e960907f23310c00b963cc

<img width="1126" alt="screen shot 2015-09-04 at 10 01 41 am" src="https://cloud.githubusercontent.com/assets/358891/9689678/82bf3a80-52ec-11e5-846c-f5d61d46a8d4.png">

No idea what happened.  I asked the team to leave it for you to look at if you wanted to.

If you don't let me know please so I can kill it.

[2015-09-04 17:10] jawaid commented on #1851
Our apology. The issue has been fixed can you please let us know if you are still messing the issue.

[2015-09-04 17:13] RealNobody commented on #1828
Because you asked me to turn off tests, I looked at how they work.

I came in later to the  project and knew little about Shippable.

As such, I made a mistake which I am correcting that probably didn't help.

I put files into the `testresults` folder which weren't test results.

After I realized that this could be a problem - I went looking for documentation about the post_build step and where I

[2015-09-04 17:16] caarlos0 opened #1852 "can't get logs of custom nodes"
When I click on "Initialization logs ", nothing happens...

[2015-09-04 17:22] caarlos0 commented on #1779
using go tip seems to fix the issue, but still, I'm not always want the last version...

[2015-09-04 17:23] caarlos0 commented on #1852
BTW, I already reported this in #1562

[2015-09-04 17:24] #1350 closed

[2015-09-04 17:50] chriskinsman commented on #1849
This seems to be working fine now

[2015-09-04 17:50] #1849 closed

[2015-09-04 17:51] chriskinsman commented on #1847
This is no longer happening

[2015-09-04 17:51] #1847 closed

[2015-09-04 18:00] lekhab commented on #1851
@caarlos0, @LuisMuniz: I see your recent builds seem to be doing okay. Please let me know if there is any build we can help you with.

[2015-09-04 18:24] caarlos0 commented on #1851
@lekhab yes, thanks

[2015-09-04 20:18] lekhab commented on #1841
@luckyraul: You should be able to do (1) using environment variables.  The [Java sample](https://github.com/shippableSamples/sample_ubuntu1204_java) we have does do something similar, so take a look at that YML for some pointers.

(2) is not possible - you cannot have different docker images across the same build matrix.

[2015-09-04 20:23] lekhab commented on #1755
@luckyraul - is this still an issue? If not, I will go ahead and close it..

[2015-09-04 20:24] lekhab commented on #1803
@kkarski: closing this. please let me know if you are still facing issues and I will re-open.

[2015-09-04 20:24] #1803 closed

[2015-09-04 21:03] RealNobody commented on #1813
New update.

https://app.shippable.com/builds/55e9ce34ebb34c0c00e852bc

This build is going into 2 bug incidents.

Related to this incident is that nothing uploaded.

I see the following:

[code]

There is nothing to indicate why it is skipping the upload, so I don't have a clue what is happening.

Because it may be pertinent, in this build, there is nothing in these three folders:

* shippable/te

[2015-09-04 21:04] lekhab commented on #1838
@RealNobody: A quick update: We are still trying to figure out what is causing these timeouts and the other issues you have raised (it's not something we are seeing across the board, so we are trying to figure out what is different about your builds). We have made some headway and identified some patterns. This might not be resolved until after the long weekend, I am afraid.

[2015-09-04 21:26] RealNobody commented on #1838
Thanks for the update.

I keep updating tickets as I find out more or run into more issues.

I have identified the following possible problems in our builds, and I am working on trying to identify if they are pertinent or not:

* RPush - This is a gem that we use that spawns threads.  It isn't supposed to be run/used in any RSpec tests, and we explicitly turn it off for Feature tests, so it should

[2015-09-04 21:31] RealNobody commented on #1828
Here is a fun one for you:

https://app.shippable.com/builds/55e9ce34ebb34c0c00e852bc

This one I know a little about the timeout.

* I know it started almost immediately after it was posted.  (i.e. it didn't sit around in a waiting state for long if at all.)
* I know that the `instal` step started at Fri Sep  4 17:04:27 UTC 2015 - which basically jives with the 10:00 AM start time listed and the

[2015-09-04 22:04] RealNobody commented on #1838
I don't know.  If there is anything I can do to help, please let me know.  As you may be able to tell, I am also trying to figure out what I can as best I can with the limited options I have.

[2015-09-04 22:16] DavidGDragon commented on #1841
You can create a build with 9 jobs, where is job has a specific version of PHP and magento version.
Your env setup is good, but you'll need to add a script to install the version of megento you want to use.
Note: I only put the version number in the $MAGENTO_VERSION to make it easier for the script later.
[code]
Where  `install_magento` is a script file in the root of your repo with the following:

[2015-09-05 04:37] manishas commented on #1813
@RealNobody our docs for artifacts are here - http://docs.shippable.com/build_case2/#artifacts

[2015-09-05 06:25] #1851 closed

[2015-09-05 06:25] #1850 closed

[2015-09-05 06:25] #1846 closed

[2015-09-05 06:25] #1845 closed

[2015-09-05 06:25] #1819 closed

[2015-09-05 06:26] #1805 closed

[2015-09-05 11:25] luckyraul commented on #1841
All you described is the current scheme which I have.

It's quite long setup. I want to use docker image.

Java example is not I want. Both your examples are irrelevant and not have anything close with docker

[2015-09-05 15:40] taz77 commented on #1836
Same issue here too.  Seems many people are having this problem and no response on Twitter either.

[2015-09-05 16:41] jawaid commented on #1852
We are working on this and will keep you updated.

[2015-09-05 18:18] taz77 opened #1853 "Bitbucket issues. Build showing no shippable.yml"
I am having the exact same issue as #1737. I have checked my .yml at http://www.yamllint.com/ and no problems there. These are pulls from Bitbucket private repositories.

Additionally any push to the repository does not trigger a build.

Build ID: builds/55eb2e27886c130c009bc4b0
Bitbucket user: bowens06

[2015-09-05 18:31] taz77 commented on #1853
Another related issue #1845

[2015-09-05 19:29] RealNobody opened #1854 "Git merge causing problems"
We have Shippable setup to do builds on pull requests.

When a build is kicked off, we see the following in the `git_sync` step:

[code]

The merge is causing us problems.

Is there a way to run the build without the `git merge origin/develop` step?

[2015-09-05 22:10] #1755 closed

[2015-09-05 23:14] RealNobody commented on #1828
We now have a reproducible timeout.  The thing is that the fact that it is so reliably reproducible indicates either that you changed something that makes it way worse, or that we did something to make it worse.  I really don't know which.

The problem we are having now is that our Ember tests are always timing out.  They used to be just fine.

They run locally extremely quickly, but seem to freez

[2015-09-05 23:15] RealNobody commented on #1828
ARGH!

I can't do that.  You do a merge with develop as part of your build process which negates any attempt to run an old branch.

[2015-09-06 04:50] RealNobody commented on #1828
There was a bug in the Ember tests that caused them to hang indefinitely.

I have fixed that timeout issue.

[2015-09-06 04:53] RealNobody commented on #1828
Just so we're clear - we still have unexplained timeouts in the recent past.  I don't know yet if not putting anything into the testresults folder helps or not.

[2015-09-06 05:09] RealNobody commented on #1813
The thing is, this documentation isn't correct (as far as I can tell.)

On of the main points of this issue is that I know for a fact that the shippable folder is not empty and that it has all sorts of useful information in it but in spite of having the `archive: true` attribute in our shippable.yml file the artifacts aren't being uploaded.

I assert that success, failure, timeout or whatever, the

[2015-09-06 08:06] DavidGDragon commented on #1841
You can generate a docker image using a dockerfile using the shippable image base and adding Magento on top of it. You can install every version of magento you want, and instead of doing the move command in the script you'd move them to folders with the version name. Then during runtime you move the version you want to use to the correct directory. This way you don't have to download or install, j

[2015-09-06 08:14] taz77 commented on #1853
Forgot to mention. My master branch does not have the shippapble.yml in it yet. I am working in a feature branch right now to get this working before it goes into master.

[2015-09-06 11:09] blueplanet opened #1855 "runtime: failed to create new OS thread (have 6 already; errno=11)"
[code]

[2015-09-06 12:21] luckyraul commented on #1841
This sound interesting, so if shippable base image understand ENV params - I can use it

[2015-09-07 06:41] naveensky commented on #1850
Thanks working good now!

[2015-09-07 07:48] Paikan commented on #1643
+1

This is actually really annoying and a fix would be greatly appreciated

[2015-09-07 08:59] HenrikOssipoff opened #1856 "Build not triggering"
Project 540e82d43479c5ea8f9ef564

Push to Bitbucket doesn't seem to trigger a build in Shippable anymore.

[2015-09-07 09:11] coddie001 commented on #1842
i am using https://www.shippable.com, anytime i try to login to bitbucket,
i get an internal server error .

*Error message*

*Mixed Content: The page at 'https://app.shippable.com/error
<https://app.shippable.com/error>' was loaded over HTTPS, but requested an
insecure stylesheet 'http://fonts.googleapis.com/css?family=Open+Sans
<http://fonts.googleapis.com/css?family=Open+Sans>'. This request ha

[2015-09-07 09:21] HenrikOssipoff commented on #1856
Seems to have been triggered now, although extremely slow. Closing.

[2015-09-07 09:21] #1856 closed

[2015-09-07 11:16] LuisMuniz opened #1857 "/builds and /workflow routes of API don't work"
HI,

I am trying to find out the way to create a script which would trigger downstream builds, but only if they're not yet in the queue. I have an API token and am able to get the subscriptions, the projects, etc.

To get the running builds, I figure I have to get the list of running builds, through the /builds resource.
However, when I GET the /builds resource, I see the following text error mess

[2015-09-07 11:55] deploymc opened #1858 "Cannot enable private repository"
User: deploymc
When trying to enable a private repository (under organization CI), I get the following error. The user has access to the repository and I have enabled private repositories from the Settings.

{"id":3000,"message":"Not Authorized to perform this action","methodName":"caller:55ed4f27688f320c0040d7dd|projects|chkPermForId:55ed503d1895ca4474135af6|_chkPermForId"}

[2015-09-08 04:39] rageshkrishna commented on #1853
@taz77 Can you tell me which branch has the YML file? I'd like to try triggering manual builds on your project to figure out exactly what is going on here. Thanks!

[2015-09-08 04:41] taz77 commented on #1853
@rageshkrishna Sure!.  The branch with the shippable.yml is feature/repeatable_testable_installation

Yeah a little crazy. This thing was running like clockwork till Bitbucket had issues last week.

[2015-09-08 04:42] taz77 commented on #1853
I even had to make manual changes to Bitbucket to get our Jira instance working again.

BTW. I noticed that there was a POST push notification setup by Shippable in my Bitbucket account. Do you guys know that Bitbucket is phasing those out in favor of the Webhooks function?

[2015-09-08 05:09] rageshkrishna commented on #1853
I think the problem is that the BitBucket API we use to get commit details does not work if the branch name has a `/` in it. We raised this issue with BitBucket over a year ago and there hasn't been any progress on it from their end.

It's possible that webhook builds will trigger on this branch correctly because then we use the commit SHA to get the details, but manual builds will always use the

[2015-09-08 05:11] rageshkrishna commented on #1853
Here's the BitBucket issue tracker link for this problem: https://bitbucket.org/site/master/issues/9969/get-commit-revision-api-does-not-accept

[2015-09-08 05:11] taz77 commented on #1853
I'll give it a shot with another branch.

Question. Is there a way for me to find my push/webhook URL to use for Shippable inside of Shippable? Or just copy the one that was created in the account?

[2015-09-08 05:13] rageshkrishna commented on #1853
We have a `/workflow/triggerBuild` API that you can use. The documentation is at http://docs.shippable.com/api/

[2015-09-08 05:13] taz77 commented on #1853
Odd thing was it was running no problem last week. I think they made changed to Bitbucket last week that broke so many things. Even my Jira cloud instance stopped working with Bitbucket.

[2015-09-08 05:13] taz77 commented on #1853
Cool. Thanks!

[2015-09-08 07:38] taz77 commented on #1853
No dice. I just created a root branch /developtest and I still get the same message that there is no builds

<img width="1620" alt="screen shot 2015-09-08 at 09 37 24" src="https://cloud.githubusercontent.com/assets/1389543/9729110/4d311c7a-560d-11e5-89fb-a573256527aa.png">

[2015-09-08 07:42] taz77 commented on #1853
@jawaid @rageshkrishna Here is my Shippable.yml: https://gist.github.com/taz77/e2f91a1879b6ea857228

Over the weekend, attempting to fix this, I deleted the project out of Shippapble and added it back. Could that have caused other problems?

[2015-09-08 07:44] taz77 commented on #1853
The testing branch with the yml is /developtest

[2015-09-08 09:02] rageshkrishna commented on #1853
@taz77 Please try removing the `- services: postgre` line from your matrix.exclude section of the YML. We currently don't support exclusions based on the services tag. This limitation is causing all of your builds in the matrix to get excluded. Removing this line should get your other builds to trigger successfully.

[2015-09-08 09:53] taz77 commented on #1853
@rageshkrishna Thanks! Crap in my haste of doing so many other things I forgot I had added this to see if it was supported or not. Looks like a build just kicked off from a push. I feel stupid... Thanks so much for the help!